.table-columnfloat {
	th:first-child {
		float: left;
		}
	td:nth-of-type(1) {
		clear: left;
		float: left;
		}
	thead th:nth-child(2) {
		clip: rect(1px, 1px, 1px, 1px);
		height: 1px;
		margin: 0;
		overflow: hidden;
		position: absolute;
		width: 1px;
		}
	th:first-child, td:nth-of-type(1) {
		border: none;
		}
	tr, th:not(:first-of-type), td {
		border-bottom: 1px solid #ddd;
		}
	}
