---
{
	"title": "Social media centre",
	"language": "en",
	"isEnglish": true,
	"toplevel": true,
	"alternate": "index-fr.html",
	"alternatetog": "Français",
	"altlang": "fr",
	"pageclass": "home",
	"breadcrumb": [
		{ "title": "Home", "link": false }
	]
}
---
<h1 id="wb-cont">{{title}}</h1>
<div class="row">
	<div class="col-md-12">
		<p class="pagetag">The following is a listing of official Government of Canada social media channels.</p>
		<table id="social-media-centre" class="product-listing wb-tables" data-wet-boew='{"aaSorting": [[2,"asc"]]}'>
	        <thead class="product-data-hidden">
	            <tr>
	                <th>Name</th>
	                <th>Platform</th>
	                <th>Department</th>
	                <th>Language</th>
	                <th>Link</th>
	            </tr>
	        </thead>
	        <tbody class="wb-equalheight">
	        	<tr id="record00001" class="product-record well"><td class="product-name h3" lang="fr">@Nutrition_Nord</td><td class="product-platforms"><span class="label label-default">Twitter</span></td><td class="product-department">Department: Aboriginal Affairs and Northern Development Canada</td><td class="product-language">Language: French</td><td class="product-link-container"><a class="product-link btn btn-primary" href="http://twitter.com/#!Nutrition_Nord">Go to social media account</a></td></tr><tr id="record00002" class="product-record well"><td class="product-name h3">@Nutrition_North</td><td class="product-platforms"><span class="label label-default">Twitter</span></td><td class="product-department">Department: Aboriginal Affairs and Northern Development Canada</td><td class="product-language">Language: English</td><td class="product-link-container"><a class="product-link btn btn-primary" href="http://twitter.com/#!/Nutrition_North">Go to social media account</a></td></tr><tr id="record00003" class="product-record well"><td class="product-name h3" lang="fr">@AADNC_AANDC</td><td class="product-platforms"><span class="label label-default">Twitter</span></td><td class="product-department">Department: Aboriginal Affairs and Northern Development Canada</td><td class="product-language">Language: French</td><td class="product-link-container"><a class="product-link btn btn-primary" href="http://twitter.com/#!AADNC_AANDC">Go to social media account</a></td></tr><tr id="record00004" class="product-record well"><td class="product-name h3">@AANDC_AADNC</td><td class="product-platforms"><span class="label label-default">Twitter</span></td><td class="product-department">Department: Aboriginal Affairs and Northern Development Canada</td><td class="product-language">Language: English</td><td class="product-link-container"><a class="product-link btn btn-primary" href="http://twitter.com/#!AANDC_AADNC">Go to social media account</a></td></tr><tr id="record00005" class="product-record well"><td class="product-name h3">@AAFC_Canada</td><td class="product-platforms"><span class="label label-default">Twitter</span></td><td class="product-department">Department: Agriculture and Agri-Food Canada</td><td class="product-language">Language: English</td><td class="product-link-container"><a class="product-link btn btn-primary" href="https://twitter.com/AAFC_Canada">Go to social media account</a></td></tr><tr id="record00006" class="product-record well"><td class="product-name h3" lang="fr">@AAC_Canada</td><td class="product-platforms"><span class="label label-default">Twitter</span></td><td class="product-department">Department: Agriculture and Agri-Food Canada</td><td class="product-language">Language: French</td><td class="product-link-container"><a class="product-link btn btn-primary" href="https://twitter.com/AAC_Canada">Go to social media account</a></td></tr><tr id="record00007" class="product-record well"><td class="product-name h3">@ats_aafc</td><td class="product-platforms"><span class="label label-default">Twitter</span></td><td class="product-department">Department: Agriculture and Agri-Food Canada</td><td class="product-language">Language: English</td><td class="product-link-container"><a class="product-link btn btn-primary" href="http://twitter.com/#!ats_aafc">Go to social media account</a></td></tr><tr id="record00008" class="product-record well"><td class="product-name h3" lang="fr">@sea_aac</td><td class="product-platforms"><span class="label label-default">Twitter</span></td><td class="product-department">Department: Agriculture and Agri-Food Canada</td><td class="product-language">Language: French</td><td class="product-link-container"><a class="product-link btn btn-primary" href="http://twitter.com/#!/sea_aac">Go to social media account</a></td></tr><tr id="record00009" class="product-record well"><td class="product-name h3">@ACOACanada</td><td class="product-platforms"><span class="label label-default">Twitter</span></td><td class="product-department">Department: Atlantic Canada Opportunities Agency</td><td class="product-language">Language: English</td><td class="product-link-container"><a class="product-link btn btn-primary" href="http://twitter.com/ACOACanada">Go to social media account</a></td></tr><tr id="record00010" class="product-record well"><td class="product-name h3" lang="fr">@APECACanada</td><td class="product-platforms"><span class="label label-default">Twitter</span></td><td class="product-department">Department: Atlantic Canada Opportunities Agency</td><td class="product-language">Language: French</td><td class="product-link-container"><a class="product-link btn btn-primary" href="http://twitter.com/APECACanada">Go to social media account</a></td></tr>
	        </tbody>
	    </table>
	</div>
</div>