---
{
	"title": "Centre des médias sociaux",
	"language": "fr",
	"isEnglish": false,
	"alternate": "index-en.html",
	"alternatetog": "English",
	"altlang": "en",
	"toplevel": false,
	"pageclass": "home",
	"breadcrumb": [
		{ "title": "Accueil", "link": false}
	],
	"section": "social-media-centre"
}
---
<h1 id="wb-cont">{{title}}</h1>
<div class="row">
	<div class="col-md-12">
		<p class="pagetag">Vous trouverez ci-après une liste des médias sociaux officiels du gouvernement du Canada.</p>
		<table id="social-media-centre" class="product-listing wb-tables" data-wet-boew='{"aaSorting": [[2,"asc"]]}'>
            <thead class="product-data-hidden">
                <tr>
                    <th>Nom</th>
                    <th>Platforme</th>
                    <th>Ministère</th>
                    <th>Langue</th>
                    <th>Lien</th>
                </tr>
            </thead>
            <tbody class="wb-equalheight">
            	<tr id="record00001" class="product-record well"><td class="product-name h3">@Nutrition_Nord</td><td class="product-platforms"><span class="label label-default">Twitter</span></td><td class="product-department">Ministère : Affaires autochtones et Développement du Nord Canada</td><td class="product-language">Langue : Français</td><td class="product-link-container"><a class="product-link btn btn-primary" href="http://twitter.com/#!Nutrition_Nord">Aller au compte de média social</a></td></tr><tr id="record00002" class="product-record well"><td class="product-name h3" lang="en">@Nutrition_North</td><td class="product-platforms"><span class="label label-default">Twitter</span></td><td class="product-department">Ministère : Affaires autochtones et Développement du Nord Canada</td><td class="product-language">Langue : Anglais</td><td class="product-link-container"><a class="product-link btn btn-primary" href="http://twitter.com/#!/Nutrition_North">Aller au compte de média social</a></td></tr><tr id="record00003" class="product-record well"><td class="product-name h3">@AADNC_AANDC</td><td class="product-platforms"><span class="label label-default">Twitter</span></td><td class="product-department">Ministère : Affaires autochtones et Développement du Nord Canada</td><td class="product-language">Langue : Français</td><td class="product-link-container"><a class="product-link btn btn-primary" href="http://twitter.com/#!AADNC_AANDC">Aller au compte de média social</a></td></tr><tr id="record00004" class="product-record well"><td class="product-name h3" lang="en">@AANDC_AADNC</td><td class="product-platforms"><span class="label label-default">Twitter</span></td><td class="product-department">Ministère : Affaires autochtones et Développement du Nord Canada</td><td class="product-language">Langue : Anglais</td><td class="product-link-container"><a class="product-link btn btn-primary" href="http://twitter.com/#!AANDC_AADNC">Aller au compte de média social</a></td></tr><tr id="record00005" class="product-record well"><td class="product-name h3" lang="en">@AAFC_Canada</td><td class="product-platforms"><span class="label label-default">Twitter</span></td><td class="product-department">Ministère : Agriculture et Agroalimentaire Canada</td><td class="product-language">Langue : Anglais</td><td class="product-link-container"><a class="product-link btn btn-primary" href="https://twitter.com/AAFC_Canada">Aller au compte de média social</a></td></tr><tr id="record00006" class="product-record well"><td class="product-name h3">@AAC_Canada</td><td class="product-platforms"><span class="label label-default">Twitter</span></td><td class="product-department">Ministère : Agriculture et Agroalimentaire Canada</td><td class="product-language">Langue : Français</td><td class="product-link-container"><a class="product-link btn btn-primary" href="https://twitter.com/AAC_Canada">Aller au compte de média social</a></td></tr><tr id="record00007" class="product-record well"><td class="product-name h3" lang="en">@ats_aafc</td><td class="product-platforms"><span class="label label-default">Twitter</span></td><td class="product-department">Ministère : Agriculture et Agroalimentaire Canada</td><td class="product-language">Langue : Anglais</td><td class="product-link-container"><a class="product-link btn btn-primary" href="http://twitter.com/#!ats_aafc">Aller au compte de média social</a></td></tr><tr id="record00008" class="product-record well"><td class="product-name h3">@sea_aac</td><td class="product-platforms"><span class="label label-default">Twitter</span></td><td class="product-department">Ministère : Agriculture et Agroalimentaire Canada</td><td class="product-language">Langue : Français</td><td class="product-link-container"><a class="product-link btn btn-primary" href="http://twitter.com/#!/sea_aac">Aller au compte de média social</a></td></tr><tr id="record00009" class="product-record well"><td class="product-name h3" lang="en">@ACOACanada</td><td class="product-platforms"><span class="label label-default">Twitter</span></td><td class="product-department">Ministère : Agence de promotion économique du Canada atlantique</td><td class="product-language">Langue : Anglais</td><td class="product-link-container"><a class="product-link btn btn-primary" href="http://twitter.com/ACOACanada">Aller au compte de média social</a></td></tr><tr id="record00010" class="product-record well"><td class="product-name h3">@APECACanada</td><td class="product-platforms"><span class="label label-default">Twitter</span></td><td class="product-department">Ministère : Agence de promotion économique du Canada atlantique</td><td class="product-language">Langue : Français</td><td class="product-link-container"><a class="product-link btn btn-primary" href="http://twitter.com/APECACanada">Aller au compte de média social</a></td></tr>
            </tbody>
	    </table>
	</div>
</div>