---
{
	"title": "Social media centre",
	"language": "en",
	"altLangPrefix": "index",
	"pageclass": "home",
	"breadcrumb": [
		{ "title": "Home", "link": "http://canada.ca/en/index.html" }
	],
	"toplevel": false,
	"section": "social-media-centre",
	"dateModified": "2014-02-19",
	"share": "false"
}
---
<h1 id="wb-cont">{{title}}</h1>
<div class="row">
	<div class="col-md-12">
		<p class="pagetag">The following is a listing of official Government of Canada social media channels.</p>
		<table id="social-media-centre" class="product-listing wb-tables wb-inview" data-wet-boew='{ "bDeferRender": true, "aoColumns": [ { "sClass": "product-name" }, { "sClass": "product-platforms" }, { "sClass": "product-department" },{ "sClass": "product-language" }, { "sClass": "product-link-container" } ], "sAjaxSource": "../ajax/sm-en.json","oLanguage": {"sSearch": "Filter:"}, "sDom": "<\"wrapper\"flitp>" }'>
	        <thead class="wb-inv">
	            <tr>
	                <th>Name</th>
	                <th>Platform</th>
	                <th>Department</th>
	                <th>Language</th>
	                <th>Link</th>
	            </tr>
	        </thead>
	        <tbody>
	        </tbody>
	    </table>
	</div>
</div>
