---
{
	"title": "Centre des médias sociaux",
	"language": "fr",
	"altLangPrefix": "index",
	"breadcrumb": [
		{ "title": "Accueil", "link": "http://www.canada.ca/fr/index.html" }
	],
	"toplevel": false,
	"section": "social-media-centre",
	"dateModified": "2014-02-19",
	"share": "false"
}
---
<p class="pagetag">Vous trouverez ci-après une liste des médias sociaux officiels du gouvernement du Canada.</p>
<table id="social-media-centre" class="product-listing wb-tables" data-wb-tables='{ "bDeferRender": true, "aoColumns": [ { "sClass": "product-name" }, { "sClass": "product-platforms" }, { "sClass": "product-department" },{ "sClass": "product-language" }, { "sClass": "product-link-container" } ], "sAjaxSource": "../ajax/sm-en.json","oLanguage": {"sSearch": "Filtrer&nbsp;:"}, "sDom": "<\"wrapper\"flitp>" }'>
    <thead class="wb-inv">
        <tr>
            <th>Nom</th>
            <th>Platforme</th>
            <th>Ministère</th>
            <th>Langue</th>
            <th>Lien</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
