---
{
	"title": "Centre des médias sociaux",
	"language": "fr",
	"isEnglish": false,
	"alternate": "index-en.html",
	"alternatetog": "English",
	"altlang": "en",
	"toplevel": false,
	"pageclass": "home",
	"breadcrumb": [
		{ "title": "Accueil", "link": false}
	],
	"section": "social-media-centre"
}
---
<h1 id="wb-cont">{{title}}</h1>
<div class="row">
	<div class="col-md-12">
		<p class="pagetag">Vous trouverez ci-après une liste des médias sociaux officiels du gouvernement du Canada.</p>
		<table id="social-media-centre" class="product-listing wb-tables" data-wet-boew='{ "bDeferRender": true, "aoColumns": [ { "sClass": "product-name" }, { "sClass": "product-platforms" }, { "sClass": "product-department" },{ "sClass": "product-language" }, { "sClass": "product-link-container" } ], "sAjaxSource": "../ajax/sm-en.json","oLanguage": {"sSearch": "Filtrer&nbsp;:"}, "sDom": "<\"wrapper\"flitp>" }'>
            <thead class="wb-inv">
                <tr>
                    <th>Nom</th>
                    <th>Platforme</th>
                    <th>Ministère</th>
                    <th>Langue</th>
                    <th>Lien</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
	    </table>
	</div>
</div>
