---
{
	"title": "Case à cocher et bouton radio - Fonctionalité provisoire",
	"language": "fr",
	"category": "Style",
	"description": "Exemple pratique d'utilisation des cases à cocher et boutons radio",
	"tag": "chckbxrdio",
	"parentdir": "checkboxes",
	"altLangPrefix": "checkboxes",
	"dateModified": "2020-05-11"
}
---
{{>alert-provisional-demos}}

<section class="provisional">
	<h2>Exemple 1</h2>
	<fieldset class="chkbxrdio-grp wb-checklist">
		<legend>
		Choisissez vos condiments&nbsp;: <small class="text-muted">(cases à cocher + étiquette implicite, grande case)</small>
		</legend>
		<ul class="form-group list-unstyled lst-spcd-2">
		<li class="checkbox">
			<label>
			<input type="checkbox" id="cond10">
				<span>Ketchup</span>
			</label>
		</li>
		<li class="checkbox">
			<label>
			<input type="checkbox"
					id="cond11">
				<span>Relish</span>
			</label>
		</li>
		<li class="checkbox">
			<label>
			<input type="checkbox"
					id="cond12">Moutarde</span>
			</label>
		</li>
		</ul>
	</fieldset>
	<pre><code>
&lt;fieldset class="chkbxrdio-grp wb-checklist"&gt;
	&lt;legend&gt;Choisissez vos condiments&nbsp;: &lt;small class="text-muted"&gt;(cases à cocher + étiquette implicite, grande case)&lt;/small&gt;&lt;/legend&gt;
	&lt;ul class="form-group list-unstyled lst-spcd-2"&gt;
		&lt;li class="checkbox"&gt;
			&lt;label&gt;
			&lt;input type="checkbox" id="cond10"&gt;
				&lt;span&gt;Ketchup&lt;/span&gt;
			&lt;/label&gt;
		&lt;/li&gt;
		&lt;li class="checkbox"&gt;
			&lt;label&gt;
			&lt;input type="checkbox"
					id="cond11"&gt;
				&lt;span&gt;Relish&lt;/span&gt;
			&lt;/label&gt;
		&lt;/li&gt;
		&lt;li class="checkbox"&gt;
			&lt;label&gt;
			&lt;input type="checkbox"
					id="cond12"&gt;
				&lt;span&gt;Moutarde&lt;/span&gt;
			&lt;/label&gt;
		&lt;/li&gt;
	&lt;/ul&gt;
&lt;/fieldset&gt;
	</code></pre>
</section>
<section class="provisional well well-sm">
	<h2 class="wb-inv">Exemple 2</h2>
	<fieldset class="chkbxrdio-grp">
		<legend>
		Quel est votre animal favori? <small class="text-muted">(cases à cocher + étiquette implicite, grande case)</small>
		</legend>
		<ul class="form-group list-unstyled lst-spcd-2">
			<li class="radio">
				<label>
				<input name="cond13"
						type="radio"
						id="cond13-a">
					<span>Le chien</span>
				</label>
			</li>
			<li class="radio">
				<label>
				<input type="radio"
						name="cond13"
						id="cond13-b">
					<span>Le chat</span>
				</label>
			</li>
			<li class="radio">
				<label>
				<input type="radio"
						name="cond13"
						id="cond13-c">
					<span>Le rat</span>
				</label>
			</li>
		</ul>
	</fieldset>
	<code>
		<pre>
&lt;fieldset class="chkbxrdio-grp"&gt;
	&lt;legend&gt;Quel est votre animal favori? <strong> toutes &lt;/strong&gt; les conditions suivantes&nbsp;s: &lt;small class="text-muted"&gt;(cases à cocher + étiquette implicite, grande case)&lt;/small&gt;&lt;/legend&gt;
	&lt;ul class="form-group list-unstyled lst-spcd-2"&gt;
		&lt;li class="radio"&gt;
			&lt;label&gt;
			&lt;input name="cond13"
					type="radio"
					id="cond13-a"&gt;
				&lt;span&gt;Les chiens&lt;/span&gt;
			&lt;/label&gt;
		&lt;/li&gt;
		&lt;li class="radio"&gt;
			&lt;label&gt;
			&lt;input type="radio"
					name="cond13"
					id="cond13-b"&gt;
				&lt;span&gt;Les chats&lt;/span&gt;
			&lt;/label&gt;
		&lt;/li&gt;
		&lt;li class="radio"&gt;
			&lt;label&gt;
			&lt;input type="radio"
					name="cond13"
					id="cond13-c"&gt;
				&lt;span&gt;Les rats&lt;/span&gt;
			&lt;/label&gt;
		&lt;/li&gt;
	&lt;/ul&gt;
&lt;/fieldset&gt;
		</pre>
	</code>
</section>
<section class="provisional">
	<h2 class="wb-inv">Exemple 3</h2>
	<fieldset class="chkbxrdio-grp wb-checklist">
		<legend>
		Choisissez vos condiments&nbsp;: <small class="text-muted">(cases à cocher + explicit label, grande case)</small>
		</legend>
		<ul class="form-group list-unstyled lst-spcd-2">
			<li class="checkbox">
				<input type="checkbox" id="cond14">
				<label for="cond14">Ketchup</label>
			</li>
			<li class="checkbox">
				<input type="checkbox" id="cond15">
				<label for="cond15">Relish</label>
			</li>
			<li class="checkbox">
				<input type="checkbox" id="cond16">
				<label for="cond16"><span>Moutarde</span></label>
			</li>
		</ul>
	</fieldset>
	<code>
		<pre>
&lt;fieldset class="chkbxrdio-grp wb-checklist"&gt;
	&lt;legend&gt;Choisissez vos condiments&nbsp;: &lt;small class="text-muted"&gt;(cases à cocher + explicit label, grande case)&lt;/small&gt;&lt;/legend&gt;
	&lt;ul class="form-group list-unstyled lst-spcd-2"&gt;
		&lt;li class="checkbox"&gt;
			&lt;input type="checkbox" id="cond14"&gt;
			&lt;label for="cond14"&gt;Ketchup&lt;/label&gt;
		&lt;/li&gt;
		&lt;li class="checkbox"&gt;
			&lt;input type="checkbox" id="cond15"&gt;
			&lt;label for="cond15"&gt;Relish&lt;/label&gt;
		&lt;/li&gt;
		&lt;li class="checkbox"&gt;
			&lt;input type="checkbox" id="cond16"&gt;
			&lt;label for="cond16"&gt;&lt;span&gt;Moutarde&lt;/span&gt;&lt;/label&gt;
		&lt;/li&gt;
	&lt;/ul&gt;
&lt;/fieldset&gt;
		</pre>
	</code>
</section>
<section class="provisional well well-sm">
	<h2 class="wb-inv">Exemple 4</h2>
	<fieldset class="chkbxrdio-grp">
		<legend>Quel est votre animal favori?&nbsp;: <small class="text-muted">(cases à cocher + explicit label, grande case)</small></legend>
		<ul class="form-group list-unstyled lst-spcd-2">
			<li class="radio">
				<input type="radio" name="cond17" id="cond17-a">
				<label for="cond17-a">Les chiens</label>
			</li>
			<li class="radio">
				<input type="radio" name="cond17" id="cond17-b">
				<label for="cond17-b"><span>Les chats</span></label>
			</li>
			<li class="radio">
				<input type="radio" name="cond17" id="cond17-c">
				<label for="cond17-c"><span>Les rats</span></label>
			</li>
		</ul>
	</fieldset>
	<code>
		<pre>
&lt;fieldset class="chkbxrdio-grp"&gt;
	&lt;legend&gt;Quel est votre animal favori? &lt;small class="text-muted"&gt;(cases à cocher + explicit label, grande case)&lt;/small&gt;&lt;/legend&gt;
	&lt;ul class="form-group list-unstyled lst-spcd-2"&gt;
		&lt;li class="radio"&gt;
			&lt;input type="radio" name="cond17" id="cond17-a"&gt;
			&lt;label for="cond17-a"&gt;Les chiens&lt;/label&gt;
		&lt;/li&gt;
		&lt;li class="radio"&gt;
			&lt;input type="radio" name="cond17" id="cond17-b"&gt;
			&lt;label for="cond17-b"&gt;&lt;span&gt;Les chats&lt;/span&gt;&lt;/label&gt;
		&lt;/li&gt;
		&lt;li class="radio"&gt;
			&lt;input type="radio" name="cond17" id="cond17-c"&gt;
			&lt;label for="cond17-c"&gt;&lt;span&gt;Les rats&lt;/span&gt;&lt;/label&gt;
		&lt;/li&gt;
	&lt;/ul&gt;
&lt;/fieldset&gt;
		</pre>
	</code>
</section>
