---
{
	"title": "Case à cocher et bouton radio - Fonctionalité provisoire",
	"language": "fr",
	"category": "Style",
	"description": "Exemple pratique d'utilisation des cases à cocher et boutons radio",
	"tag": "chckbxrdio",
	"parentdir": "checkboxes",
	"altLangPrefix": "checkboxes",
	"dateModified": "2020-05-11"
}
---
{{>alert-provisional-demos}}

<span class="wb-prettify all-pre"></span>
<section>
	<h2 class="wb-inv">Exemple 1</h2>
	<fieldset class="provisional gc-chckbxrdio chkbxrdio-grp">
		<legend>Pour être admissible, vous devez remplir <strong> toutes </strong> les conditions suivantes&nbsp;: <small class="text-muted">(cases à cocher + explicit label, grande case)</small></legend>
		<ul class="form-group list-unstyled lst-spcd-2">
			<li class="checkbox">
				<input type="checkbox" id="cond14">
				<label for="cond14">Ketchup</label>
			</li>
			<li class="checkbox">
				<input type="checkbox" id="cond15">
				<label for="cond15">Relish</label>
			</li>
			<li class="checkbox">
				<input type="checkbox" id="cond16">
				<label for="cond16"><span>Moutarde</span></label>
			</li>
		</ul>
	</fieldset>
	<pre><code>&lt;fieldset class="provisional gc-chckbxrdio chkbxrdio-grp"&gt;
	&lt;legend&gt;Pour être admissible, vous devez remplir &lt;strong&gt; toutes &lt;/strong&gt; les conditions suivantes&nbsp;s: &lt;small class="text-muted"&gt;(cases à cocher + explicit label, grande case)&lt;/small&gt;&lt;/legend&gt;
	&lt;ul class="form-group list-unstyled lst-spcd-2"&gt;
		&lt;li class="checkbox"&gt;
			&lt;input type="checkbox" id="cond14"&gt;
			&lt;label for="cond14"&gt;Ketchup&lt;/label&gt;
		&lt;/li&gt;
		&lt;li class="checkbox"&gt;
			&lt;input type="checkbox" id="cond15"&gt;
			&lt;label for="cond15"&gt;Relish&lt;/label&gt;
		&lt;/li&gt;
		&lt;li class="checkbox"&gt;
			&lt;input type="checkbox" id="cond16"&gt;
			&lt;label for="cond16"&gt;&lt;span&gt;Moutarde&lt;/span&gt;&lt;/label&gt;
		&lt;/li&gt;
	&lt;/ul&gt;
&lt;/fieldset&gt;</code></pre>
</section>
<section class="provisional well well-sm">
	<h2 class="wb-inv">Exemple 2</h2>
	<fieldset class="chkbxrdio-grp">
		<legend>Pour être admissible, vous devez remplir <strong>toutes</strong> les conditions suivantes&nbsp;: <small class="text-muted">(boutons radio + explicit label, grande case)</small></legend>
		<ul class="form-group list-unstyled lst-spcd-2">
			<li class="radio">
				<input type="radio" name="cond17" id="cond17-a">
				<label for="cond17-a">Les chiens</label>
			</li>
			<li class="radio">
				<input type="radio" name="cond17" id="cond17-b">
				<label for="cond17-b"><span>Les chats</span></label>
			</li>
			<li class="radio">
				<input type="radio" name="cond17" id="cond17-c">
				<label for="cond17-c"><span>Les rats</span></label>
			</li>
		</ul>
	</fieldset>
	<pre><code>&lt;fieldset class="chkbxrdio-grp"&gt;
	&lt;legend&gt;Pour être admissible, vous devez remplir &lt;strong&gt;toutes&lt;/strong&gt; les conditions suivantes&nbsp;s: &lt;small class="text-muted"&gt;(boutons radio + explicit label, grande case)&lt;/small&gt;&lt;/legend&gt;
	&lt;ul class="form-group list-unstyled lst-spcd-2"&gt;
		&lt;li class="radio"&gt;
			&lt;input type="radio" name="cond17" id="cond17-a"&gt;
			&lt;label for="cond17-a"&gt;Les chiens&lt;/label&gt;
		&lt;/li&gt;
		&lt;li class="radio"&gt;
			&lt;input type="radio" name="cond17" id="cond17-b"&gt;
			&lt;label for="cond17-b"&gt;&lt;span&gt;Les chats&lt;/span&gt;&lt;/label&gt;
		&lt;/li&gt;
		&lt;li class="radio"&gt;
			&lt;input type="radio" name="cond17" id="cond17-c"&gt;
			&lt;label for="cond17-c"&gt;&lt;span&gt;Les rats&lt;/span&gt;&lt;/label&gt;
		&lt;/li&gt;
	&lt;/ul&gt;
&lt;/fieldset&gt;</code></pre>
</section>
