---
{
	"title": "Checkbox and radio button - Provisional feature",
	"language": "en",
	"category": "Style",
	"description": "Working example - provisional feature",
	"tag": "chckbxrdio",
	"parentdir": "checkboxes",
	"altLangPrefix": "checkboxes",
	"dateModified": "2020-05-11"
}
---
{{>alert-provisional-demos}}

<section class="provisional">
	<h2>Example 1</h2>
	<fieldset class="chkbxrdio-grp">
		<legend>
		Choose your condiments: <small class="text-muted">(checkboxes + implicit label, large box)</small>
		</legend>
		<ul class="form-group list-unstyled lst-spcd-2">
		<li class="checkbox">
			<label>
			<input type="checkbox" id="cond10">
				<span>Ketchup</span>
			</label>
		</li>
		<li class="checkbox">
			<label>
			<input type="checkbox"
					id="cond11">Relish</span>
			</label>
		</li>
		<li class="checkbox">
			<label>
			<input type="checkbox"
					id="cond12">
				<span>Mustard</span>
			</label>
		</li>
		</ul>
	</fieldset>
	<pre><code>
&lt;fieldset class="chkbxrdio-grp"&gt;
	&lt;legend&gt;Choose your condiments: &lt;small class="text-muted"&gt;(checkboxes + implicit label, large box)&lt;/small&gt;&lt;/legend&gt;
	&lt;ul class="form-group list-unstyled lst-spcd-2"&gt;
		&lt;li class="checkbox"&gt;
			&lt;label&gt;
			&lt;input type="checkbox" id="cond10"&gt;
				&lt;span&gt;Ketchup&lt;/span&gt;
			&lt;/label&gt;
		&lt;/li&gt;
		&lt;li class="checkbox"&gt;
			&lt;label&gt;
			&lt;input type="checkbox"
					id="cond11"&gt;
				&lt;span&gt;Relish&lt;/span&gt;
			&lt;/label&gt;
		&lt;/li&gt;
		&lt;li class="checkbox"&gt;
			&lt;label&gt;
			&lt;input type="checkbox"
					id="cond12"&gt;
				&lt;span&gt;Mustard&lt;/span&gt;
			&lt;/label&gt;
		&lt;/li&gt;
	&lt;/ul&gt;
&lt;/fieldset&gt;
	</code></pre>
</section>
<section class="provisional well well-sm">
	<h2 class="wb-inv">Example 2</h2>
	<fieldset class="chkbxrdio-grp">
		<legend>
		Which is your favorite pet: <small class="text-muted">(checkboxes + implicit label, large box)</small>
		</legend>
		<ul class="form-group list-unstyled lst-spcd-2">
			<li class="radio">
				<label>
				<input name="cond13"
						type="radio"
						id="cond13-a">
					<span>Dog</span>
				</label>
			</li>
			<li class="radio">
				<label>
				<input type="radio"
						name="cond13"
						id="cond13-b">
					<span>Cat</span>
				</label>
			</li>
			<li class="radio">
				<label>
				<input type="radio"
						name="cond13"
						id="cond13-c">
					<span>Rat</span>
				</label>
			</li>
		</ul>
	</fieldset>
	<code>
		<pre>
&lt;fieldset class="chkbxrdio-grp"&gt;
	&lt;legend&gt;Which is your favorite pet? &lt;small class="text-muted"&gt;(checkboxes + implicit label, large box)&lt;/small&gt;&lt;/legend&gt;
	&lt;ul class="form-group list-unstyled lst-spcd-2"&gt;
		&lt;li class="radio"&gt;
			&lt;label&gt;
			&lt;input name="cond13"
					type="radio"
					id="cond13-a"&gt;
				&lt;span&gt;Dog&lt;/span&gt;
			&lt;/label&gt;
		&lt;/li&gt;
		&lt;li class="radio"&gt;
			&lt;label&gt;
			&lt;input type="radio"
					name="cond13"
					id="cond13-b"&gt;
				&lt;span&gt;Cat&lt;/span&gt;
			&lt;/label&gt;
		&lt;/li&gt;
		&lt;li class="radio"&gt;
			&lt;label&gt;
			&lt;input type="radio"
					name="cond13"
					id="cond13-c"&gt;
				&lt;span&gt;Rat&lt;/span&gt;
			&lt;/label&gt;
		&lt;/li&gt;
	&lt;/ul&gt;
&lt;/fieldset&gt;
		</pre>
	</code>
</section>
<section class="provisional">
	<h2 class="wb-inv">Example 3</h2>
	<fieldset class="chkbxrdio-grp">
		<legend>
		Choose your condiments: <small class="text-muted">(checkboxes + explicit label, large box)</small>
		</legend>
		<ul class="form-group list-unstyled lst-spcd-2">
			<li class="checkbox">
				<input type="checkbox" id="cond14">
				<label for="cond14">Ketchup</label>
			</li>
			<li class="checkbox">
				<input type="checkbox" id="cond15">
				<label for="cond15">Relish</label>
			</li>
			<li class="checkbox">
				<input type="checkbox" id="cond16">
				<label for="cond16"><span>Mustard</span></label>
			</li>
		</ul>
	</fieldset>
	<code>
		<pre>
&lt;fieldset class="chkbxrdio-grp"&gt;
	&lt;legend&gt;Choose your condiments: &lt;small class="text-muted"&gt;(checkboxes + explicit label, large box)&lt;/small&gt;&lt;/legend&gt;
	&lt;ul class="form-group list-unstyled lst-spcd-2"&gt;
		&lt;li class="checkbox"&gt;
			&lt;input type="checkbox" id="cond14"&gt;
			&lt;label for="cond14"&gt;Ketchup&lt;/label&gt;
		&lt;/li&gt;
		&lt;li class="checkbox"&gt;
			&lt;input type="checkbox" id="cond15"&gt;
			&lt;label for="cond15"&gt;Relish&lt;/label&gt;
		&lt;/li&gt;
		&lt;li class="checkbox"&gt;
			&lt;input type="checkbox" id="cond16"&gt;
			&lt;label for="cond16"&gt;&lt;span&gt;Mustard&lt;/span&gt;&lt;/label&gt;
		&lt;/li&gt;
	&lt;/ul&gt;
&lt;/fieldset&gt;
		</pre>
	</code>
</section>
<section class="provisional well well-sm">
	<h2 class="wb-inv">Example 4</h2>
	<fieldset class="chkbxrdio-grp">
		<legend>
		Which is your favorite pet? <small class="text-muted">(checkboxes + explicit label, large box)</small>
		</legend>
		<ul class="form-group list-unstyled lst-spcd-2">
			<li class="radio">
				<input type="radio" name="cond17" id="cond17-a">
				<label for="cond17-a">Dog</label>
			</li>
			<li class="radio">
				<input type="radio" name="cond17" id="cond17-b">
				<label for="cond17-b"><span>Cat</span></label>
			</li>
			<li class="radio">
				<input type="radio" name="cond17" id="cond17-c">
				<label for="cond17-c"><span>Rat</span></label>
			</li>
		</ul>
	</fieldset>
	<code>
		<pre>
&lt;fieldset class="chkbxrdio-grp"&gt;
	&lt;legend&gt;Choose your condiments: &lt;small class="text-muted"&gt;(checkboxes + explicit label, large box)&lt;/small&gt;&lt;/legend&gt;
	&lt;ul class="form-group list-unstyled lst-spcd-2"&gt;
		&lt;li class="radio"&gt;
			&lt;input type="radio" name="cond17" id="cond17-a"&gt;
			&lt;label for="cond17-a"&gt;Dog&lt;/label&gt;
		&lt;/li&gt;
		&lt;li class="radio"&gt;
			&lt;input type="radio" name="cond17" id="cond17-b"&gt;Cat&lt;/span&gt;&lt;/label&gt;
		&lt;/li&gt;
		&lt;li class="radio"&gt;
			&lt;input type="radio" name="cond17" id="cond17-c"&gt;
			&lt;label for="cond17-c"&gt;&lt;span&gt;Rat&lt;/span&gt;&lt;/label&gt;
		&lt;/li&gt;
	&lt;/ul&gt;
&lt;/fieldset&gt;
		</pre>
	</code>
</section>
