---
{
	"title": "Checkboxes and radio buttons - Provisional feature",
	"language": "en",
	"category": "Style",
	"description": "Working example - provisional feature",
	"tag": "chckbxrdio",
	"parentdir": "checkboxes",
	"altLangPrefix": "checkboxes",
	"dateModified": "2020-05-11"
}
---
<p class="pull-right"><b>Lead:</b> Treasury Board Secretariat of Canada</p>
<div class="clearfix"></div>
{{>alert-provisional-demos}}
<span class="wb-prettify all-pre"></span>
<p>Checkboxes and radio buttons are form controls to select an answer to a question or confirm completion, such as in a checklist.</p>
<p>The design for large checkbox and radio buttons makes it easier and quicker for users to select them, particularly on mobile devices.</p>
<h2>On this page</h2>
<ul>
	<li><a href="#use">When to use</a></li>
	<li><a href="#avoid">What to avoid</a></li>
	<li><a href="#implement">How to implement</a></li>
	<li><a href="#configuration">Configuration options</a></li>
</ul>
<section>
	<h2 id="use">When to use</h2>
	<p>Checkboxes and radio buttons should be used in interactive questions, such as in application forms for a service or wizards.</p>
	<p>Use of interactive questions is highly encouraged on Canada.ca.</p>
</section>
<section>
	<h2 id="avoid">What to avoid</h2>
	<p>Do not use checkboxes or radio buttons if presenting options that are not easily comparable. Consider using navigation patterns such as doormat links.</p>
	<ul>
		<li><a href="https://design.canada.ca/common-design-patterns/services-information.html">Documentation on doormat links</a></li>
	</ul>
	<p>For a stand alone question with few options and a manageable amount of content per option that does not require separate pages, consider using expand/collapse or tabs.</p>
</section>
<section>
	<h2 id="implement">How to implement</h2>
	<h3 id="large-checkboxes">Large checkboxes</h3>
	<p><b>When to use:</b> Large checkboxes are the default checkbox pattern. In particular, large checkboxes should be used when one or more selections can be made to answer a question.</p>
	<p><b>What to avoid:</b> Do not use the large checkbox design when making a checklist with items that break across multiple lines or when there is a single item that can be checked. For these situations, use the checklist pattern</p>
	<section>
		<h4>Large checkboxes target with explicit labels</h4>
		<div class="panel panel-default">
			<div class="panel-body">
				<fieldset class="provisional wb-chckbxrdio">
					<legend>Choose your condiments:</legend>
					<ul class="list-unstyled lst-spcd-2">
						<li class="checkbox">
							<input type="checkbox" id="cond1">
							<label for="cond1">Ketchup</label>
						</li>
						<li class="checkbox">
							<input type="checkbox" id="cond2">
							<label for="cond2">Relish</label>
						</li>
						<li class="checkbox">
							<input type="checkbox" id="cond3">
							<label for="cond3">Mustard</label>
						</li>
					</ul>
				</fieldset>
			</div>
		</div>
		<pre><code>&lt;fieldset class="provisional wb-chckbxrdio"&gt;
	&lt;legend&gt;Choose your condiments:&lt;/legend&gt;
	&lt;ul class="list-unstyled lst-spcd-2"&gt;
		&lt;li class="checkbox"&gt;
			&lt;input type="checkbox" id="cond1"&gt;
			&lt;label for="cond1"&gt;Ketchup&lt;/label&gt;
		&lt;/li&gt;
		&lt;li class="checkbox"&gt;
			&lt;input type="checkbox" id="cond2"&gt;
			&lt;label for="cond2"&gt;Relish&lt;/label&gt;
		&lt;/li&gt;
		&lt;li class="checkbox"&gt;
			&lt;input type="checkbox" id="cond3"&gt;
			&lt;label for="cond3"&gt;Mustard&lt;/label&gt;
		&lt;/li&gt;
	&lt;/ul&gt;
&lt;/fieldset&gt;</code></pre>
		<h4>Large disabled checkboxes target with explicit labels</h4>
		<div class="panel panel-default">
			<div class="panel-body">
				<fieldset class="provisional wb-chckbxrdio">
					<legend>Choose your condiments:</legend>
					<ul class="list-unstyled lst-spcd-2">
						<li class="checkbox">
							<input type="checkbox" id="cond4" disabled>
							<label for="cond4">Ketchup</label>
						</li>
						<li class="checkbox">
							<input type="checkbox" id="cond5" class="disabled">
							<label for="cond5">Relish</label>
						</li>
						<li class="checkbox">
							<input type="checkbox" id="cond6" class="disabled" disabled>
							<label for="cond6">Mustard</label>
						</li>
					</ul>
				</fieldset>
			</div>
		</div>
		<pre><code>&lt;fieldset class="provisional wb-chckbxrdio"&gt;
	&lt;legend&gt;Choose your condiments:;&lt;/legend&gt;
	&lt;ul class="list-unstyled lst-spcd-2"&gt;
		&lt;li class="checkbox"&gt;
			&lt;input type="checkbox" id="cond1" disabled&gt;
			&lt;label for="cond1"&gt;Ketchup&lt;/label&gt;
		&lt;/li&gt;
		&lt;li class="checkbox"&gt;
			&lt;input type="checkbox" id="cond2" class="disabled"&gt;
			&lt;label for="cond2"&gt;Relish&lt;/label&gt;
		&lt;/li&gt;
		&lt;li class="checkbox"&gt;
			&lt;input type="checkbox" id="cond3" class="disabled" disabled&gt;
			&lt;label for="cond3"&gt;Mustard&lt;/label&gt;
		&lt;/li&gt;
	&lt;/ul&gt;
&lt;/fieldset&gt;</code></pre>
	</section>
	<section>
		<h3 id="small-checkboxes">Tickboxes (smaller checkboxes)</h3>
		<p><b>When to use:</b> Only use tickboxes when there is a single item that can be checked, such as for confirmations.</p>
		<p><b>What to avoid:</b> Do not use the tickbox design for answers to a question or checklists. For these situations, use the large checkboxes.</p>
		<ul>
			<li><a href="#large-checkboxes">Large checkboxes section</a></li>
		</ul>
		<p>Consider using a button instead of tickbox, particularly in cases where it is the primary action or next step on the page.</p>
		<ul>
			<li><a href="https://wet-boew.github.io/themes-dist/GCWeb/content-en.html#call-to-action">Documentation on buttons</a></li>
		</ul>
		<h4>Single smaller checkbox target with explicit label in an inline form</h4>
		<div class="panel panel-default">
			<div class="panel-body">
				<form class="form-inline" method="get" action="#">
					<div class="form-group">
						<label class="wb-inv" for="exampleInputEmail2">Email address</label>
						<input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email" />
					</div>
					<div class="form-group">
						<label class="wb-inv" for="exampleInputPassword2">Password</label>
						<input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password" />
					</div>
					<div class="checkbox provisional wb-chckbxrdio">
						<input id="remember2" type="checkbox" class="checkbox-small"/>
						<label for="remember2">Remember me</label>
					</div>
					<button type="submit" class="btn btn-default">Sign in</button>
				</form>
			</div>
		</div>
		<pre class="mrgn-tp-md"><code>&lt;form class="form-inline" method="get" action="#"&gt;
	&lt;div class="form-group"&gt;
		&lt;label class="wb-inv" for="exampleInputEmail2"&gt;Email address&lt;/label&gt;
		&lt;input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email" /&gt;
	&lt;/div&gt;
	&lt;div class="form-group"&gt;
		&lt;label class="wb-inv" for="exampleInputPassword2"&gt;Password&lt;/label&gt;
		&lt;input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password" /&gt;
	&lt;/div&gt;
	&lt;div class="wb-chckbxrdio"&gt;
		&lt;input id="remember2" type="checkbox" class="checkbox-small"/&gt;
		&lt;label for="remember2"&gt;Remember me&lt;/label&gt;
	&lt;/div&gt;
	&lt;button type="submit" class="btn btn-default"&gt;Sign in&lt;/button&gt;
&lt;/form&gt;</code></pre>
{{!-- 	<h4>Checkboxes with wrapping lines</h4>
		<div class="panel panel-default">
			<div class="panel-body">
				<fieldset class="provisional wb-chckbxrdio col-md-8">
					<legend>To be eligible, you must meet all of the following conditions:</legend>
					<ul class="list-unstyled">
						<li class="checkbox">
							<input class="checkbox-small" type="checkbox" id="elibility1">
							<label for="elibility1">You have a child that is under 18 years of age</label>
						</li>
						<li class="checkbox">
							<input class="checkbox-small" type="checkbox" id="elibility2">
							<label for="elibility2">The child lives with you all the time, or at least about half of the time</label>
							<ul class="mrgn-lft-xl">
								<li><a href="#shared">See Custody arrangements and your benefits</a></li>
							</ul>
						</li>
						<li class="checkbox">
							<input class="checkbox-small" type="checkbox" id="elibility3">
							<label for="elibility3">You are primarily responsible for the care and upbringing of the child</label>
							<ul class="mrgn-lft-xl">
								<li><a href="#primary">See Who is primarily responsible</a></li>
							</ul>
						</li>
						<li class="checkbox">
							<input class="checkbox-small" type="checkbox" id="elibility4">
							<label for="elibility4">You are a resident of Canada for tax purposes</label>
						</li>
						<li class="checkbox">
							<input class="checkbox-small" type="checkbox" id="elibility5">
							<label for="elibility5">You or your spouse or common-law partner must be <strong>any of the following</strong>:</label>
							<ul class="mrgn-lft-xl">
								<li>a Canadian citizen</li>
								<li>a permanent resident</li>
								<li>a protected person (refugee)</li>
								<li>a temporary resident who has lived in Canada for the previous 18 months, and who has a valid permit in the 19th month</li>
								<li>an Indigenous person who meets the definition of "Indian" under the <a href="https://laws-lois.justice.gc.ca/eng/acts/i-5/page-1.html">Indian Act</a></li>
							</ul>
						</li>
					</ul>
				</fieldset>
			</div>
		</div>
		<pre><code>&lt;fieldset class="provisional wb-chckbxrdio"&gt;
	&lt;legend&gt;To be eligible, you must meet all of the following conditions:&lt;/legend&gt;
	&lt;ul class="list-unstyled"&gt;
		&lt;li class="checkbox"&gt;
			&lt;input class="checkbox-small" type="checkbox" id="elibility1"&gt;
			&lt;label for="elibility1"&gt;You have a child that is under 18 years of age&lt;/label&gt;
		&lt;/li&gt;
		&lt;li class="checkbox"&gt;
			&lt;input class="checkbox-small" type="checkbox" id="elibility2"&gt;
			&lt;label for="elibility2"&gt;The child lives with you all the time, or at least about half of the time (see &lt;a href="#shared"&gt;Custody arrangements and your benefits&lt;/a&gt;)&lt;/label&gt;
		&lt;/li&gt;
		&lt;li class="checkbox"&gt;
			&lt;input class="checkbox-small" type="checkbox" id="elibility3"&gt;
			&lt;label for="elibility3"&gt;You are primarily responsible for the care and upbringing of the child (see &lt;a href="#primary"&gt;Who is primarily responsible&lt;/a&gt;)&lt;/label&gt;
		&lt;/li&gt;
		&lt;li class="checkbox"&gt;
			&lt;input class="checkbox-small" type="checkbox" id="elibility4"&gt;
			&lt;label for="elibility4"&gt;You are a resident of Canada for tax purposes&lt;/label&gt;
		&lt;/li&gt;
		&lt;li class="checkbox"&gt;
			&lt;input class="checkbox-small" type="checkbox" id="elibility5"&gt;
			&lt;label for="elibility5"&gt;You or your spouse or common-law partner must be &lt;strong&gt;any of the following&lt;/strong&gt;:&lt;/label&gt;
			&lt;ul&gt;
				&lt;li&gt;a Canadian citizen&lt;/li&gt;
				&lt;li&gt;a permanent resident&lt;/li&gt;
				&lt;li&gt;a protected person (refugee)&lt;/li&gt;
				&lt;li&gt;a temporary resident who has lived in Canada for the previous 18 months, and who has a valid permit in the 19th month&lt;/li&gt;
				&lt;li&gt;an Indigenous person who meets the definition of "Indian" under the &lt;a href="https://laws-lois.justice.gc.ca/eng/acts/i-5/page-1.html"&gt;Indian Act&lt;/a&gt;&lt;/li&gt;
			&lt;/ul&gt;
		&lt;/li&gt;
	&lt;/ul&gt;
&lt;/fieldset&gt;</code></pre>--}}
	</section>
	<section>
		<h3>Radio buttons</h3>
		<h4>Large radio buttons target with explicit labels</h4>
		<p><b>When to use:</b> Use radio buttons when only one selection can be made.</p>
		<div class="panel panel-default">
			<div class="panel-body">
				<fieldset class="provisional wb-chckbxrdio">
					<legend>Which is your favorite pet?</legend>
					<ul class="list-unstyled lst-spcd-2">
						<li class="radio">
							<input type="radio" name="animal" id="animal-1">
							<label for="animal-1">Dog</label>
						</li>
						<li class="radio">
							<input type="radio" name="animal" id="animal-2">
							<label for="animal-2">Cat</label>
						</li>
						<li class="radio">
							<input type="radio" name="animal" id="animal-3">
							<label for="animal-3">Rat</label>
						</li>
					</ul>
				</fieldset>
			</div>
		</div>
		<pre><code>&lt;fieldset class="provisional wb-chckbxrdio"&gt;
	&lt;legend&gt;Choose your condiments:&lt;/legend&gt;
	&lt;ul class="list-unstyled lst-spcd-2"&gt;
		&lt;li class="radio"&gt;
			&lt;input type="radio" name="animal" id="animal-1"&gt;
			&lt;label for="animal-1"&gt;Dog&lt;/label&gt;
		&lt;/li&gt;
		&lt;li class="radio"&gt;
			&lt;input type="radio" name="animal" id="animal-2"&gt;
			&lt;label for="animal-2"&gt;Cat&lt;/label&gt;
		&lt;/li&gt;
		&lt;li class="radio"&gt;
			&lt;input type="radio" name="animal" id="animal-3"&gt;
			&lt;label for="animal-3"&gt;Rat&lt;/label&gt;
		&lt;/li&gt;
	&lt;/ul&gt;
&lt;/fieldset&gt;</code></pre>
		<h4>Large radio buttons target with explicit labels in an inline form</h4>
		<div class="panel panel-default">
			<div class="panel-body">
				<fieldset class="provisional wb-chckbxrdio form-inline">
					<legend>Please choose an option:</legend>
					<div class="label-inline">
						<input id="inlineRadio1" type="radio" name="optradio">
						<label for="inlineRadio1">Option 1</label>
					</div>
					<div class="label-inline">
						<input id="inlineRadio2" type="radio" name="optradio">
						<label for="inlineRadio2">Option 2</label>
					</div>
					<div class="label-inline">
						<input id="inlineRadio3" type="radio" name="optradio">
						<label for="inlineRadio3">Option 3</label>
					</div>
				</fieldset>
			</div>
		</div>
		<pre><code>&lt;fieldset class="provisional wb-chckbxrdio form-inline"&gt;
	&lt;legend&gt;Choose an option&lt;/legend&gt;
	&lt;div class="label-inline"&gt;
		&lt;input id="inlineRadio1" type="radio" name="optradio"&gt;
		&lt;label for="inlineRadio1"&gt;Option 1&lt;/label&gt;
	&lt;/div&gt;
	&lt;div class="label-inline"&gt;
		&lt;input id="inlineRadio2" type="radio" name="optradio"&gt;
		&lt;label for="inlineRadio2"&gt;Option 2&lt;/label&gt;
	&lt;/div&gt;
	&lt;div class="label-inline"&gt;
		&lt;input id="inlineRadio3" type="radio" name="optradio"&gt;
		&lt;label for="inlineRadio3"&gt;Option 3&lt;/label&gt;
	&lt;/div&gt;
&lt;/fieldset&gt;</code></pre>
	</section>
	<section>
		<h2 id="configurations">Configuration options</h2>
		<table class="table">
			<thead>
				<tr>
					<th>Option</th>
					<th>Description</th>
					<th>How to configure</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Large input targets</td>
					<td>Design for large checkbox and radio buttons.</td>
					<td>Add the <code>wb-chckbxrdio</code> class to the <code>fieldset</code> or the container element surrounding the checkbox/radio-button inputs.</td>
				</tr>
				<tr>
					<td>Tickboxes</td>
					<td>Small checkboxes when there is a single item that can be checked, such as for confirmations.</td>
					<td>The class <code>wb-chckbxrdio</code> has to be enabled on the container element surrounding the checkbox and the class <code>checkbox-small</code> has to be applied to each checkbox input element.</td>
				</tr>
				<tr>
					<td>Disabled state	</td>
					<td>Disabled inputs will not be clickable. Visual indications include greying out the control and adding a 'stop' cursor icon on hover.</td>
					<td>To toggle a disabled state, add a <code>disabled</code> attribute to the input field</td>
				</tr>
				<tr>
					<td>Inline format</td>
					<td>Inline radio buttons or checkboxes will display side by side on larger screens and wrap to new lines, rather than vertically.</td>
					<td>Add the <code>form-inline</code> class to surrounding container of the checkboxes or radio buttons. Also add the <code>label-inline</code> class to each checkbox or radio button container.</td>
				</tr>
			</tbody>
		</table>
	</section>
</section>
