---
title: "Field flow alternatives"
language: "en"
altLangPage: alternative-fr.html
category: "Plugins"
description: "Find styling alternatives for field flow."
tag: "fieldflow"
parentdir: "fieldflow"
dateModified: "2023-12-01"
---
<ul class="list-inline">
	<li><a class="btn btn-primary" href="fieldflow-doc-en.html">Documentation</a></li>
	<li><a class="btn btn-primary" href="https://github.com/wet-boew/GCWeb/issues/new?title=Fieldflow">Questions or comments?</a></li>
</ul>
<p>Find styling alternatives for field flow.</p>

<ul>
	<li><a href="fieldflow-en.html">Field flow</a></li>
	<li><a href="basic-en.html">Field flow basic configuration</a></li>
	<li><a href="advanced-en.html">Field flow advanced</a></li>
	<li>Field flow alternatives (current)</li>
</ul>

<hr />

<div class="wb-prettify all-pre"></div>

<nav role="navigation">
	<h2>On this page:</h2>

	<ul>
		<li><a href="#increasedsize">Increased font size</a></li>
		<li><a href="#gcchckbxrdio">Larger inputs with GC Checkboxes and radio</a></li>
	</ul>
</nav>

<section>
	<h2 id="increasedsize">Increased font size</h2>

	<p>Increases the font size of Field flow elements following visual update in 2019.</p>
	<p>By adding the <code>.gc-font-2019</code> class to your <code>.wb-fieldflow</code> element, you will get the same result as shown below.</p>
	<div class="well">
		<h3 class="mrgn-tp-0 h5">Notes</h3>
		<ul>
			<li>If you are using Field flow with the goal of adding dynamic content to the page through AJAX (as shown in the example below) and you are hoping to get the increased font size on your injected content, you are highly recommended to use the technique shown in the <a href="advanced-en.html#customajax">advanced examples</a> which showcases the "container" configuration and gives more details about it.</li>
			<li>If you are using your own <code>form</code> element and have Field flow inside of it, as shown in the <a href="advanced-en.html#querying">advanced examples</a>, you can also try adding the <code>.gc-font-2019</code> class to your <code>form</code> element as well so you can test having all (or almost all) of your form's content with increased font size.</li>
		</ul>
	</div>

	<div class="wb-fieldflow gc-font-2019">
		<p>Choose content to be ajaxed?</p>
		<ul>
			<li data-wb-fieldflow='{"action": "ajax", "url": "ajax/ajax-3.html", "container": "#ajaxPanel .panel-body"}'>Set 3 - Use container: $("#ajaxPanel .panel-body")</li>
			<li data-wb-fieldflow='{"action": "ajax", "url": "ajax/ajax-4.html", "container": "#ajaxPanel .panel-body"}'>Set 4 - Use container: $("#ajaxPanel .panel-body")</li>
		</ul>
	</div>

	<section id="ajaxPanel" class="panel panel-primary mrgn-tp-md">
		<header class="panel-heading">
			<h3 class="panel-title"><code>id="ajaxPanel"</code> Aside panel, for example</h3>
		</header>
		<div class="panel-body">
			<p>(To illustrate <code>container</code> option)</p>
		</div>
	</section>

	<pre><code>&lt;div class=&quot;wb-fieldflow gc-font-2019&quot;&gt;
		&lt;p&gt;Choose content to be ajaxed?&lt;/p&gt;
		&lt;ul&gt;
			&lt;li data-wb-fieldflow='{&quot;action&quot;: &quot;ajax&quot;, &quot;url&quot;: &quot;ajax/ajax-3.html&quot;, &quot;container&quot;: &quot;#ajaxPanel .panel-body&quot;}'&gt;Set 3 - Use container: $(&quot;#ajaxPanel .panel-body&quot;)&lt;/li&gt;
			&lt;li data-wb-fieldflow='{&quot;action&quot;: &quot;ajax&quot;, &quot;url&quot;: &quot;ajax/ajax-4.html&quot;, &quot;container&quot;: &quot;#ajaxPanel .panel-body&quot;}'&gt;Set 4 - Use container: $(&quot;#ajaxPanel .panel-body&quot;)&lt;/li&gt;
		&lt;/ul&gt;
	&lt;/div&gt;
	&lt;section id=&quot;ajaxPanel&quot; class=&quot;panel panel-primary mrgn-tp-md&quot;&gt;
		&lt;header class=&quot;panel-heading&quot;&gt;
			&lt;h3 class=&quot;panel-title&quot;&gt;&lt;code&gt;id=&quot;ajaxPanel&quot;&lt;/code&gt; Aside panel, for example&lt;/h3&gt;
		&lt;/header&gt;
		&lt;div class=&quot;panel-body&quot;&gt;
			&lt;p&gt;(To illustrate &lt;code&gt;container&lt;/code&gt; option)&lt;/p&gt;
		&lt;/div&gt;
	&lt;/section&gt;</code></pre>
</section>

<section>
	<h2 id="gcchckbxrdio">Larger inputs with GC Checkboxes and radio</h2>

	<p>Leverages the <a href="../gc-chckbxrdio/gc-chckbxrdio-en.html">GC Checkboxes and radio</a> design pattern to deliver larger inputs.</p>
	<p>By adding the <code>"gcChckbxrdio":true</code> configuration to your <code>data-wb-fieldflow</code> data attribute, you will get the same result as shown below.</p>
	<div class="well">
		<h3 class="mrgn-tp-0 h5">Note</h3>
		<p>This pattern will render larger text by default. You can still use the <code>.gc-font-2019</code> class if you want surrounding elements to display in a larger font size, for example the submit button, as demonstrated in the <a href="#increasedsize">Increased font size</a> section.</p>
	</div>

	<h3>Large checkboxes</h3>
	<div class="wb-fieldflow" data-wb-fieldflow='{"renderas":"checkbox", "gcChckbxrdio":true}'>
		<p>Choose content to be ajaxed:</p>
		<ul>
			<li data-wb-fieldflow="ajax/ajax-1.html">(Set 1) Nunc sed mauris id nisi molestie porta at quis erat.</li>
			<li data-wb-fieldflow="ajax/ajax-2.html">(Set 2) Vestibulum pretium tortor vel facilisis sodales.</li>
			<li data-wb-fieldflow="ajax/ajax-3.html">(Set 3) Nunc sit amet dui ut justo efficitur dapibus.</li>
			<li data-wb-fieldflow="ajax/ajax-4.html">(Set 4) Praesent at purus ut turpis sollicitudin aliquam.</li>
			<li data-wb-fieldflow="ajax/ajax-5.html">(Set 5) <em>Sed eget dui ac <strong>nunc mattis</strong> consequat</em> in a ex.</li>
		</ul>
	</div>

	<pre><code>&lt;div class=&quot;wb-fieldflow&quot; data-wb-fieldflow='{&quot;renderas&quot;:&quot;checkbox&quot;, &quot;gcChckbxrdio&quot;:true}'&gt;
		&lt;p&gt;Choose content to be ajaxed:&lt;/p&gt;
		&lt;ul&gt;
			&lt;li data-wb-fieldflow=&quot;ajax/ajax-1.html&quot;&gt;(Set 1) Nunc sed mauris id nisi molestie porta at quis erat.&lt;/li&gt;
			&lt;li data-wb-fieldflow=&quot;ajax/ajax-2.html&quot;&gt;(Set 2) Vestibulum pretium tortor vel facilisis sodales.&lt;/li&gt;
			&lt;li data-wb-fieldflow=&quot;ajax/ajax-3.html&quot;&gt;(Set 3) Nunc sit amet dui ut justo efficitur dapibus.&lt;/li&gt;
			&lt;li data-wb-fieldflow=&quot;ajax/ajax-4.html&quot;&gt;(Set 4) Praesent at purus ut turpis sollicitudin aliquam.&lt;/li&gt;
			&lt;li data-wb-fieldflow=&quot;ajax/ajax-5.html&quot;&gt;(Set 5) &lt;em&gt;Sed eget dui ac &lt;strong&gt;nunc mattis&lt;/strong&gt; consequat&lt;/em&gt; in a ex.&lt;/li&gt;
		&lt;/ul&gt;
	&lt;/div&gt;</code></pre>

	<h3>Large radio buttons</h3>
	<div class="wb-fieldflow" data-wb-fieldflow='{"renderas":"radio", "gcChckbxrdio":true}'>
		<p>Choose content to be ajaxed:</p>
		<ul>
			<li data-wb-fieldflow="ajax/ajax-1.html">(Set 1) Nunc sed mauris id nisi molestie porta at quis erat.</li>
			<li data-wb-fieldflow="ajax/ajax-2.html">(Set 2) Vestibulum pretium tortor vel facilisis sodales.</li>
			<li data-wb-fieldflow="ajax/ajax-3.html">(Set 3) Nunc sit amet dui ut justo efficitur dapibus.</li>
			<li data-wb-fieldflow="ajax/ajax-4.html">(Set 4) Praesent at purus ut turpis sollicitudin aliquam.</li>
			<li data-wb-fieldflow="ajax/ajax-5.html">(Set 5) <em>Sed eget dui ac <strong>nunc mattis</strong> consequat</em> in a ex.</li>
		</ul>
	</div>

	<pre><code>&lt;div class=&quot;wb-fieldflow&quot; data-wb-fieldflow='{&quot;renderas&quot;:&quot;radio&quot;, &quot;gcChckbxrdio&quot;:true}'&gt;
		&lt;p&gt;Choose content to be ajaxed:&lt;/p&gt;
		&lt;ul&gt;
			&lt;li data-wb-fieldflow=&quot;ajax/ajax-1.html&quot;&gt;(Set 1) Nunc sed mauris id nisi molestie porta at quis erat.&lt;/li&gt;
			&lt;li data-wb-fieldflow=&quot;ajax/ajax-2.html&quot;&gt;(Set 2) Vestibulum pretium tortor vel facilisis sodales.&lt;/li&gt;
			&lt;li data-wb-fieldflow=&quot;ajax/ajax-3.html&quot;&gt;(Set 3) Nunc sit amet dui ut justo efficitur dapibus.&lt;/li&gt;
			&lt;li data-wb-fieldflow=&quot;ajax/ajax-4.html&quot;&gt;(Set 4) Praesent at purus ut turpis sollicitudin aliquam.&lt;/li&gt;
			&lt;li data-wb-fieldflow=&quot;ajax/ajax-5.html&quot;&gt;(Set 5) &lt;em&gt;Sed eget dui ac &lt;strong&gt;nunc mattis&lt;/strong&gt; consequat&lt;/em&gt; in a ex.&lt;/li&gt;
		&lt;/ul&gt;
	&lt;/div&gt;</code></pre>

	<h3>Inline large checkboxes</h3>
	<div class="wb-fieldflow" data-wb-fieldflow='{"renderas":"checkbox", "inline":true, "gcChckbxrdio":true}'>
		<p>Choose content to be ajaxed:</p>
		<ul>
			<li data-wb-fieldflow="ajax/ajax-1.html">Set 1</li>
			<li data-wb-fieldflow="ajax/ajax-2.html">Set 2</li>
			<li data-wb-fieldflow="ajax/ajax-3.html">Set 3</li>
			<li data-wb-fieldflow="ajax/ajax-4.html">Set 4</li>
			<li data-wb-fieldflow="ajax/ajax-5.html">Set 5</li>
		</ul>
	</div>

	<pre><code>&lt;div class=&quot;wb-fieldflow&quot; data-wb-fieldflow='{&quot;renderas&quot;:&quot;checkbox&quot;, &quot;inline&quot;:true, &quot;gcChckbxrdio&quot;:true}'&gt;
		&lt;p&gt;Choose content to be ajaxed:&lt;/p&gt;
		&lt;ul&gt;
			&lt;li data-wb-fieldflow=&quot;ajax/ajax-1.html&quot;&gt;Set 1&lt;/li&gt;
			&lt;li data-wb-fieldflow=&quot;ajax/ajax-2.html&quot;&gt;Set 2&lt;/li&gt;
			&lt;li data-wb-fieldflow=&quot;ajax/ajax-3.html&quot;&gt;Set 3&lt;/li&gt;
			&lt;li data-wb-fieldflow=&quot;ajax/ajax-4.html&quot;&gt;Set 4&lt;/li&gt;
			&lt;li data-wb-fieldflow=&quot;ajax/ajax-5.html&quot;&gt;Set 5&lt;/li&gt;
		&lt;/ul&gt;
	&lt;/div&gt;</code></pre>

	<h3>Inline large radio buttons</h3>
	<div class="wb-fieldflow" data-wb-fieldflow='{"renderas":"radio", "inline":true, "gcChckbxrdio":true}'>
		<p>Choose content to be ajaxed:</p>
		<ul>
			<li data-wb-fieldflow="ajax/ajax-1.html">Set 1</li>
			<li data-wb-fieldflow="ajax/ajax-2.html">Set 2</li>
			<li data-wb-fieldflow="ajax/ajax-3.html">Set 3</li>
			<li data-wb-fieldflow="ajax/ajax-4.html">Set 4</li>
			<li data-wb-fieldflow="ajax/ajax-5.html">Set 5</li>
		</ul>
	</div>

	<pre><code>&lt;div class=&quot;wb-fieldflow&quot; data-wb-fieldflow='{&quot;renderas&quot;:&quot;radio&quot;, &quot;inline&quot;:true, &quot;gcChckbxrdio&quot;:true}'&gt;
		&lt;p&gt;Choose content to be ajaxed:&lt;/p&gt;
		&lt;ul&gt;
			&lt;li data-wb-fieldflow=&quot;ajax/ajax-1.html&quot;&gt;Set 1&lt;/li&gt;
			&lt;li data-wb-fieldflow=&quot;ajax/ajax-2.html&quot;&gt;Set 2&lt;/li&gt;
			&lt;li data-wb-fieldflow=&quot;ajax/ajax-3.html&quot;&gt;Set 3&lt;/li&gt;
			&lt;li data-wb-fieldflow=&quot;ajax/ajax-4.html&quot;&gt;Set 4&lt;/li&gt;
			&lt;li data-wb-fieldflow=&quot;ajax/ajax-5.html&quot;&gt;Set 5&lt;/li&gt;
		&lt;/ul&gt;
	&lt;/div&gt;</code></pre>
</section>

<section>
	<h2><code>query</code> action, use of empty value</h2>
	<h3>For individual <code>query</code> action</h2>
	<div class="wb-frmvld">
		<form action="alternative-en.html" method="get">
			<div class="wb-fieldflow hidden" data-wb-fieldflow='{
				"noForm": true,
				"defaultselectedlabel": false
			}'>
				<p>Pick an option</p>
				<ul>
					<li data-wb-fieldflow='[
						{ "action": "query", "name": "q1", "value": "" }
					]'>Custom: Make your selection...</li>
					<li data-wb-fieldflow='[
						{ "action": "query", "name": "q1", "value": "opt1" }
					]'>Option 1</li>
					<li data-wb-fieldflow='[
						{ "action": "query", "name": "q1", "value": "opt2" }
					]'>Option 2</li>
				</ul>
			</div>
			<button>Submit</button>
		</form>
	</div>
	<pre class="mrgn-tp-md"><code>&lt;div class=&quot;wb-frmvld&quot;&gt;
	&lt;form action=&quot;alternative-en.html&quot; method=&quot;get&quot;&gt;
		&lt;div class=&quot;wb-fieldflow hidden&quot; data-wb-fieldflow='{
			&quot;noForm&quot;: true,
			&quot;defaultselectedlabel&quot;: false
		}'&gt;
			&lt;p&gt;Pick an option&lt;/p&gt;
			&lt;ul&gt;
				&lt;li data-wb-fieldflow='[
					{ &quot;action&quot;: &quot;query&quot;, &quot;name&quot;: &quot;q1&quot;, &quot;value&quot;: &quot;&quot; }
				]'&gt;Custom: Make your selection...&lt;/li&gt;
				&lt;li data-wb-fieldflow='[
					{ &quot;action&quot;: &quot;query&quot;, &quot;name&quot;: &quot;q1&quot;, &quot;value&quot;: &quot;opt1&quot; }
				]'&gt;Option 1&lt;/li&gt;
				&lt;li data-wb-fieldflow='[
					{ &quot;action&quot;: &quot;query&quot;, &quot;name&quot;: &quot;q1&quot;, &quot;value&quot;: &quot;opt2&quot; }
				]'&gt;Option 2&lt;/li&gt;
			&lt;/ul&gt;
		&lt;/div&gt;
		&lt;button&gt;Submit&lt;/button&gt;
	&lt;/form&gt;
&lt;/div&gt;</code></pre>

	<h3>When the new default global action is <code>query</code></h3>
	<div class="wb-frmvld">
		<form action="alternative-en.html" method="get">
			<div class="wb-fieldflow hidden" data-wb-fieldflow='{
				"noForm": true,
				"defaultselectedlabel": false,
				"action": "query", "name": "q2", "prop": "value"
			}'>
				<p>Pick an option</p>
				<ul>
					<li data-wb-fieldflow=''>Custom: Make your selection...</li>
					<li data-wb-fieldflow='opt1'>Option 1</li>
					<li data-wb-fieldflow='opt2'>Option 2</li>
				</ul>
			</div>
			<button>Submit</button>
		</form>
	</div>
	<pre class="mrgn-tp-md"><code>&lt;div class=&quot;wb-frmvld&quot;&gt;
	&lt;form action=&quot;alternative-en.html&quot; method=&quot;get&quot;&gt;
		&lt;div class=&quot;wb-fieldflow hidden&quot; data-wb-fieldflow='{
			&quot;noForm&quot;: true,
			&quot;defaultselectedlabel&quot;: false,
			&quot;action&quot;: &quot;query&quot;, &quot;name&quot;: &quot;q2&quot;, &quot;prop&quot;: &quot;value&quot;
		}'&gt;
			&lt;p&gt;Pick an option&lt;/p&gt;
			&lt;ul&gt;
				&lt;li data-wb-fieldflow=''&gt;Custom: Make your selection...&lt;/li&gt;
				&lt;li data-wb-fieldflow='opt1'&gt;Option 1&lt;/li&gt;
				&lt;li data-wb-fieldflow='opt2'&gt;Option 2&lt;/li&gt;
			&lt;/ul&gt;
		&lt;/div&gt;
		&lt;button&gt;Submit&lt;/button&gt;
	&lt;/form&gt;
&lt;/div&gt;</code></pre>

	<h3>With multiple actions</h3>
	<p>It can ease the code readability compare of defining it through the "default" configuration applied on the component instance.</p>
	<div class="alert alert-warning"><p><strong>The example bellow are only to test the functional aspect of that feature and might produce experience/code that are not fully conform to WCAG Level AA.</strong></p></div>
	<div class="wb-frmvld">
		<form action="http://localhost/" method="post">
			<div class="wb-fieldflow hidden" data-wb-fieldflow='{
				"noForm": true,
				"defaultselectedlabel": false
			}'>
				<p>Pick an option</p>
				<ul>
					<li data-wb-fieldflow='[
						{ "action": "query", "name": "q3", "value": "" },
						{ "action": "addClass", "source": ".redgreen", "class": "text-danger", "live": true },
						{ "action": "removeClass", "source": ".redgreen", "class": "text-success", "live": true }
					]'>Custom: Make your selection...</li>
					<li data-wb-fieldflow='[
						{ "action": "query", "name": "q3", "value": "opt1" },
						{ "action": "addClass", "source": ".redgreen", "class": "text-success", "live": true },
						{ "action": "removeClass", "source": ".redgreen", "class": "text-danger", "live": true }
					]'>Option 1</li>
					<li data-wb-fieldflow='[
						{ "action": "query", "name": "q3", "value": "opt2" },
						{ "action": "addClass", "source": ".redgreen", "class": "text-success", "live": true },
						{ "action": "removeClass", "source": ".redgreen", "class": "text-danger", "live": true }
					]'>Option 2</li>
				</ul>
			</div>
			<p class="redgreen">Red when default option is selected <strong>or</strong> green if a real option selected.</p>
			<button>Submit</button>
		</form>
	</div>
	<pre class="mrgn-tp-md"><code>&lt;div class=&quot;wb-frmvld&quot;&gt;
	&lt;form action=&quot;http://localhost/&quot; method=&quot;post&quot;&gt;
		&lt;div class=&quot;wb-fieldflow hidden&quot; data-wb-fieldflow='{
			&quot;noForm&quot;: true,
			&quot;defaultselectedlabel&quot;: false
		}'&gt;
			&lt;p&gt;Pick an option&lt;/p&gt;
			&lt;ul&gt;
				&lt;li data-wb-fieldflow='[
					{ &quot;action&quot;: &quot;query&quot;, &quot;name&quot;: &quot;q3&quot;, &quot;value&quot;: &quot;&quot; },
					{ &quot;action&quot;: &quot;addClass&quot;, &quot;source&quot;: &quot;.redgreen&quot;, &quot;class&quot;: &quot;text-danger&quot;, &quot;live&quot;: true },
					{ &quot;action&quot;: &quot;removeClass&quot;, &quot;source&quot;: &quot;.redgreen&quot;, &quot;class&quot;: &quot;text-success&quot;, &quot;live&quot;: true }
				]'&gt;Custom: Make your selection...&lt;/li&gt;
				&lt;li data-wb-fieldflow='[
					{ &quot;action&quot;: &quot;query&quot;, &quot;name&quot;: &quot;q3&quot;, &quot;value&quot;: &quot;opt1&quot; },
					{ &quot;action&quot;: &quot;addClass&quot;, &quot;source&quot;: &quot;.redgreen&quot;, &quot;class&quot;: &quot;text-success&quot;, &quot;live&quot;: true },
					{ &quot;action&quot;: &quot;removeClass&quot;, &quot;source&quot;: &quot;.redgreen&quot;, &quot;class&quot;: &quot;text-danger&quot;, &quot;live&quot;: true }
				]'&gt;Option 1&lt;/li&gt;
				&lt;li data-wb-fieldflow='[
					{ &quot;action&quot;: &quot;query&quot;, &quot;name&quot;: &quot;q3&quot;, &quot;value&quot;: &quot;opt2&quot; },
					{ &quot;action&quot;: &quot;addClass&quot;, &quot;source&quot;: &quot;.redgreen&quot;, &quot;class&quot;: &quot;text-success&quot;, &quot;live&quot;: true },
					{ &quot;action&quot;: &quot;removeClass&quot;, &quot;source&quot;: &quot;.redgreen&quot;, &quot;class&quot;: &quot;text-danger&quot;, &quot;live&quot;: true }
				]'&gt;Option 2&lt;/li&gt;
			&lt;/ul&gt;
		&lt;/div&gt;
		&lt;p class=&quot;redgreen&quot;&gt;Red when default option is selected &lt;strong&gt;or&lt;/strong&gt; green if a real option selected.&lt;/p&gt;
		&lt;button&gt;Submit&lt;/button&gt;
	&lt;/form&gt;
&lt;/div&gt;</code></pre>

</section>
