/*
 * Pagination
 */

.pagntn-prv-nxt {

	margin-bottom: 15px;

	.glyphicon-chevron-left,
	.glyphicon-chevron-right {
		font-size: 2em;
	}

	.glyphicon-chevron-left {
		float: left;
		margin: -4px 0 0 -32px;
	}

	.glyphicon-chevron-right {
		float: right;
		margin: -4px -32px 0 0;
	}

	li {
		font-size: 16px;
		font-weight: 300;
		list-style: none outside none;

		a {
			display: block;
			padding: 15px 40px;
			text-decoration: none;

			&:hover {
				background-color: #eaebed;
			}

			.pgntn-lbl {
				display: block;
				font-size: 27px;
				font-weight: 400;
			}
		}
	}
}
