/* Thematic red */
.bg-canadaday {
    background-color: #A30D26;
}

.panel-canadaday,
hr.brdr-canadaday {
    border-color: #A30D26;
}

/* Hover and focus state */
a.bg-canadaday:hover,
a.bg-canadaday:focus,
button.bg-canadaday:hover,
button.bg-canadaday:focus {
    background-color: #800613;
}

/* Active state */
a.bg-canadaday:active,
a.bg-canadaday:active:focus,
a.bg-canadaday:active:hover,
button.bg-canadaday:active {
    background-color: #680106 !important;
}

/* Force link text to remain white for hover, focus and active states. */
a.bg-canadaday:hover,
a.bg-canadaday:focus,
a.bg-canadaday:active {
    color: #fff !important;
}
    
/* Thematic beige */
.bg-canadaday-beige {
    background-color: #F9F1DE;
}
/* Hover and focus state */
a.bg-canadaday-beige:hover,
a.bg-canadaday-beige:focus,
button.bg-canadaday-beige:hover,
button.bg-canadaday-beige:focus {
    background-color: #F9E0C1;
}
/* Active state */
a.bg-canadaday-beige:active,
a.bg-canadaday-beige:active:focus,
a.bg-canadaday-beige:active:hover,
button.bg-canadaday-beige:active {
    background-color: #F6D3B2 !important;
}
/* Force link text to remain black for hover, focus and active states. */
a.bg-canadaday-beige:hover,
a.bg-canadaday-beige:focus,
a.bg-canadaday-beige:active {
    color: #333;
}
