/* Thematic red */
.bg-canadaday {
    background-color: #A30D26;
}
.panel-canadaday,
hr.brdr-canadaday {
    border-color: #A30D26;
}
/* Hover and focus state */
a.bg-canadaday:hover,
a.bg-canadaday:focus,
button.bg-canadaday:hover,
button.bg-canadaday:focus {
    background-color: #800613;
}
/* Active state */
a.bg-canadaday:active,
a.bg-canadaday:active:focus,
a.bg-canadaday:active:hover,
button.bg-canadaday:active {
    background-color: #680106 !important;
}
/* Force link text to remain white for hover,
focus and active states. */
a.bg-canadaday:hover,
a.bg-canadaday:focus,
a.bg-canadaday:active,
button.bg-canadaday:hover,
button.bg-canadaday:focus,
button.bg-canadaday:active {
    color: #fff !important;
}
/** details/summary **/
details.bg-canadaday {
    margin: 0;
}
details.bg-canadaday * {
    color: #fff;
}
details.bg-canadaday summary {
    background-color: #A30D26;
    color: #fff;
    border: 1px solid #A30D26;
}
details.bg-canadaday[open] > summary {
    border: none;
    border-bottom: 1px solid #fff;
}
details.bg-canadaday[open] {
    border: 1px solid #A30D26;
    padding-bottom: 0.35em;
}
details.bg-canadaday a:focus,
details.bg-canadaday a:hover {
    color: #b3ffff;
}
/* Thematic beige */
.bg-canadaday-beige {
    background-color: #F9F1DE;
}
/* Hover and focus state */
a.bg-canadaday-beige:hover,
a.bg-canadaday-beige:focus,
button.bg-canadaday-beige:hover,
button.bg-canadaday-beige:focus {
    background-color: #F9E0C1;
    color: #000 !important;    
}
/* Active state */
a.bg-canadaday-beige:active,
a.bg-canadaday-beige:active:focus,
a.bg-canadaday-beige:active:hover,
button.bg-canadaday-beige:active,
button.bg-canadaday-beige:active:focus,
button.bg-canadaday-beige:active:hover {
    background-color: #F6D3B2 !important;
    color: #000 !important;    
}
/*** Thematic Heading 1 ***/
@media screen and (min-width: 768px) {
    h1.gc-thickline.canadaday {
        font-size: 2.4em;
    }
}
@media screen and (min-width: 992px) {
    h1.gc-thickline.canadaday {
        font-size: 2.8em;
    }
}
h1.gc-thickline.canadaday::after {
    border-bottom: 0.18em solid #A30D26;
    width: 0.95em;
}
/* Thematic Card */
.panel-canadaday-card {
    border: 0px !important;
    border-radius: 18px !important;
    box-shadow: 0px 3px 6px #00000029;
}
.panel-canadaday-card header.panel-heading {
    background-color: transparent;
    border: none;    
    padding: 0;
} 
.panel-canadaday-card img {
    border-radius: 18px 18px 0px 0px;
}
.panel-canadaday-card .panel-heading > :not(img) {
    padding-left: 15px;
    padding-right: 15px;
	padding-top: 20px;
}
.panel-canadaday-card .panel-body {
    padding-bottom: 0 !important;
}
.panel-canadaday-card-compact img {
    border-radius: 18px 0 0 18px !important;
}

.panel-canadaday-card p[class^="h"], .panel-canadaday-card p[class*=" h"] {
    margin-top: 0 !important;
}

.panel-canadaday-card header {
	position: inherit;
}


