<ul class="list-inline">
	{%- if page.language == "fr" -%}
	<li><a class="btn btn-primary" href="docs-fr.html">Documentation</a></li>
	<li><a class="btn btn-primary" href="https://github.com/wet-boew/GCWeb/issues/new?title=gc-subway">Questions ou commentaires?</a></li>
	{%- else -%}
	<li><a class="btn btn-primary" href="docs-en.html">Documentation</a></li>
	<li><a class="btn btn-primary" href="https://github.com/wet-boew/GCWeb/issues/new?title=gc-subway">Questions or comments?</a></li>
	{%- endif -%}
</ul>
