---
breadcrumbs: [
	{ "title": "GCWeb home", "link": "https://wet-boew.github.io/GCWeb/home.html" }
]
dateModified: "2022-04-28"
description: "Documentation and working example for the well bold"
language: "en"
altLangPage: "well-bold-doc-fr.html"
title: "Well bold"
---

<span class="wb-prettify all-pre hide"></span>

<dl class="horizontal">
	<dt>Status</dt>
	<dd>Stable</dd>
	<dt>Type</dt>
	<dd>Component</dd>
	<dt>Last review</dt>
	<dd>2022-04-28</dd>
	<dt>Conforming to</dt>
	<dd>n/a</dd>
	<dt>Technical name</dt>
	<dd><code>well-bold</code></dd>
</dl>

<h2>Purpose</h2>
<p>This apply font weight bold to evey text element inside a well component and generates normal font weight when the element <code>strong</code> is applied.</p>

<h2>Working example</h2>
<ul>
	<li><a href="well-bold-en.html">Working example</a></li>
</ul>

<h3>Code</h3><pre><code>&lt;div class="well well-bold"&gt;
	&lt;div class="row"&gt;
		&lt;div class="col-md-6"&gt;
			&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse mi augue, ornare at convallis non, facilisis sit amet diam. Aliquam tristique feugiat tellus.&lt;/p&gt;
			&lt;p&gt;&lt;strong&gt;Ut finibus, arcu id cursus molestie, metus urna posuere dolor, id tempus dui nibh sit amet diam.&lt;/strong&gt;&lt;/p&gt;
			&lt;p&gt;Sed egestas mattis turpis in aliquet. Nullam molestie orci ut quam auctor facilisis. Integer sed elit ligula.&lt;/p&gt;
		&lt;/div&gt;
		&lt;div class="col-md-6"&gt;
			&lt;ul&gt;
				&lt;li&gt;Fusce aliquam nisi turpis, eget commodo lorem ultricies non. &lt;/li&gt;
				&lt;li&gt;Vestibulum tincidunt gravida maximus.&lt;/li&gt;
				&lt;li&gt;Ut tempor viverra metus, id viverra urna rhoncus mollis.&lt;/li&gt;
				&lt;li&gt;Sed non faucibus nisl.&lt;/li&gt;&lt;li&gt;Suspendisse mi augue.&lt;/li&gt;
			&lt;/ul&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;
</code></pre>

<h2>Evaluation and report</h2>
<p>There is no evaluation and report available for this component.</p>

<h2>API (Component version 1.0)</h2>
<table class="table table-bordered">
	<tr>
		<th>CSS Class</th>
		<th>Template</th>
		<th>Visual rendering</th>
		<th>Schema</th>
	</tr>
	<tr>
		<td>Version 1.0</td>
		<td>n.a.</td>
		<td>Version 1.0</td>
		<td>n.a.</td>
	</tr>
</table>

<h3>CSS Class (v1.0)</h3>
<p><code>well well-bold</code><p>

<h3>Visual rendering (v1.0)</h3>
<p>Font weight bold is applied to evey text element inside a well component and generates normal font weight when the element <code>strong</code> is applied.</p>
