---
breadcrumbs: [
	{ "title": "GCWeb accueil", "link": "index-fr.html" }
]
dateModified: "2022-08-25"
description: "Documentation et exemple pratique d'une boîte grise en gras"
language: "fr"
altLangPage: "well-bold-en.html"
title: "Boîte grise en gras"
---

<span class="wb-prettify all-pre hide"></span>

<ul class="list-inline">
	<li><a class="btn btn-primary" href="well-bold-doc-fr.html">Documentation</a></li>
	<li><a class="btn btn-primary" href="https://github.com/wet-boew/GCWeb/issues/new?title=WellBold">Questions ou commentaires?</a></li>
</ul>

<h2>Objectif</h2>
<p>Ceci applique un poid de police de caractère gras à chaque élément de texte à l'intérieur d'un composant boite grise et génère un poid de police de caractère normale lorsque l'élément <code>strong </code> est appliqué.</p>

<p>Boîte grise en gras (v1.0)</p>
<div class="well well-bold">
	<div class="row">
		<div class="col-md-6">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse mi augue, ornare at convallis non, facilisis sit amet diam. Aliquam tristique feugiat tellus.</p>
			<p><strong>Ut finibus, arcu id cursus molestie, metus urna posuere dolor, id tempus dui nibh sit amet diam.</strong></p>
			<p>Sed egestas mattis turpis in aliquet. Nullam molestie orci ut quam auctor facilisis. Integer sed elit ligula.</p>
		</div>
		<div class="col-md-6">
			<ul>
				<li>Fusce aliquam nisi turpis, eget commodo lorem ultricies non. </li>
				<li>Vestibulum tincidunt gravida maximus.</li>
				<li>Ut tempor viverra metus, id viverra urna rhoncus mollis.</li>
				<li>Sed non faucibus nisl.</li><li>Suspendisse mi augue.</li>
			</ul>
		</div>
	</div>
</div>

<h3>Code</h3>
<pre><code>&lt;div class="well well-bold"&gt;
	&lt;div class="row"&gt;
		&lt;div class="col-md-6"&gt;
			&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse mi augue, ornare at convallis non, facilisis sit amet diam. Aliquam tristique feugiat tellus.&lt;/p&gt;
			&lt;p&gt;&lt;strong&gt;Ut finibus, arcu id cursus molestie, metus urna posuere dolor, id tempus dui nibh sit amet diam.&lt;/strong&gt;&lt;/p&gt;
			&lt;p&gt;Sed egestas mattis turpis in aliquet. Nullam molestie orci ut quam auctor facilisis. Integer sed elit ligula.&lt;/p&gt;
		&lt;/div&gt;
		&lt;div class="col-md-6"&gt;
			&lt;ul&gt;
				&lt;li&gt;Fusce aliquam nisi turpis, eget commodo lorem ultricies non. &lt;/li&gt;
				&lt;li&gt;Vestibulum tincidunt gravida maximus.&lt;/li&gt;
				&lt;li&gt;Ut tempor viverra metus, id viverra urna rhoncus mollis.&lt;/li&gt;
				&lt;li&gt;Sed non faucibus nisl.&lt;/li&gt;&lt;li&gt;Suspendisse mi augue.&lt;/li&gt;
			&lt;/ul&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;
</code></pre>
