---
breadcrumbs: [
	{ "title": "GCWeb home", "link": "https://wet-boew.github.io/GCWeb/accueil.html" }
]
dateModified: "2022-04-28"
description: "Documentation et exemple pratique d'une boîte grise en gras"
language: "fr"
altLangPage: "well-bold-doc-en.html"
title: "Boîte grise en gras"
---

<span class="wb-prettify all-pre hide"></span>

<dl class="horizontal">
	<dt>Statut</dt>
	<dd>Stable</dd>
	<dt>Type</dt>
	<dd>Composante</dd>
	<dt>Dernière revue</dt>
	<dd>2022-04-28</dd>
	<dt>Est conforme à</dt>
	<dd>n/a</dd>
	<dt>Nom technique</dt>
	<dd><code>well-bold</code></dd>
</dl>

<h2>Objectif</h2>
<p>Ceci applique un poid de police de caractère gras à chaque élément de texte à l'intérieur d'un composant boite grise et génère un poid de police de caractère normale lorsque l'élément <code>strong </code> est appliqué.</p>

<h2>Exemple pratique</h2>
<ul>
	<li><a href="well-bold-fr.html">Exemple pratique</a></li>
</ul>


<h3>Code</h3>
<pre><code>&lt;div class="well well-bold"&gt;
	&lt;div class="row"&gt;
		&lt;div class="col-md-6"&gt;
			&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse mi augue, ornare at convallis non, facilisis sit amet diam. Aliquam tristique feugiat tellus.&lt;/p&gt;
			&lt;p&gt;&lt;strong&gt;Ut finibus, arcu id cursus molestie, metus urna posuere dolor, id tempus dui nibh sit amet diam.&lt;/strong&gt;&lt;/p&gt;
			&lt;p&gt;Sed egestas mattis turpis in aliquet. Nullam molestie orci ut quam auctor facilisis. Integer sed elit ligula.&lt;/p&gt;
		&lt;/div&gt;
		&lt;div class="col-md-6"&gt;
			&lt;ul&gt;
				&lt;li&gt;Fusce aliquam nisi turpis, eget commodo lorem ultricies non. &lt;/li&gt;
				&lt;li&gt;Vestibulum tincidunt gravida maximus.&lt;/li&gt;
				&lt;li&gt;Ut tempor viverra metus, id viverra urna rhoncus mollis.&lt;/li&gt;
				&lt;li&gt;Sed non faucibus nisl.&lt;/li&gt;&lt;li&gt;Suspendisse mi augue.&lt;/li&gt;
			&lt;/ul&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;
</code></pre>

<h2>Évaluation et rapport</h2>
<p>Il n'y a pas d'évaluation et de rapport disponibles pour ce composant.</p>

<h2>API (version du composant 1.0)</h2>
<table class="table table-bordered">
	<tr>
		<th>Classe CSS</th>
		<th>Modèle</th>
		<th>Rendu visuel</th>
		<th>Schéma</th>
	</tr>
	<tr>
	<td>Version 1.0</td>
	<td>n.d.</td>
	<td>Version 1.0</td>
	<td>n.d.</td>
	</tr>
</table>

<h3>Classe CSS (v1.0)</h3>
<p><code>well well-bold</code><p>

<h3>Rendu visuel (v1.0)</h3>
<p>L'épaisseur de police en gras est appliquée à chaque élément de texte à l'intérieur d'un composant de puits et génère une épaisseur de police normale lorsque l'élément <code>strong</code> est appliqué.</p>
