---
breadcrumb: [
	{ "title": "GCWeb home", "link": "https://wet-boew.github.io/GCWeb/home.html" }
]
dateModified: "2021-05-25"
description: "Documentation and working example for the well bold - provisional CSS"
language: "en"
altLangPage: "well-bold-fr.html"
title: "Well bold - Provisional CSS"
---
{% include alert-provisional.html siteroot="../../" %}

<span class="wb-prettify all-pre hide"></span>

<dl class="horizontal">
	<dt>Status</dt>
	<dd>Provisional</dd>
	<dt>Type</dt>
	<dd>Utility</dd>
	<dt>Last review</dt>
	<dd>2021-05-25</dd>
	<dt>Conforming to</dt>
	<dd>n/a</dd>
	<dt>Nom technique</dt>
	<dd><code>well-bold</code></dd>
</dl>

<h2>Purpose</h2>
<p>This apply font weight bold to evey text element inside a well component and generates normal font weight when the element <code>strong</code> is applied.</p>

<h2>Working example</h2>

<h3>Well bold (provisional v1.0)</h3>
<section class="provisional well well-bold">
	<div class="row">
		<section class="col-md-6">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse mi augue, ornare at convallis non, facilisis sit amet diam. Aliquam tristique feugiat tellus.</p>
			<p><strong>Ut finibus, arcu id cursus molestie, metus urna posuere dolor, id tempus dui nibh sit amet diam.</strong></p>
			<p>Sed egestas mattis turpis in aliquet. Nullam molestie orci ut quam auctor facilisis. Integer sed elit ligula.</p>
		</section>
		<section class="col-md-6">
			<ul>
				<li>Fusce aliquam nisi turpis, eget commodo lorem ultricies non. </li>
				<li>Vestibulum tincidunt gravida maximus.</li>
				<li>Ut tempor viverra metus, id viverra urna rhoncus mollis.</li>
				<li>Sed non faucibus nisl.</li><li>Suspendisse mi augue.</li>
			</ul>
		</section>
	</div>
</section>

<h3>Code</h3>
<pre><code>
&lt;section class="provisional well well-bold"&gt;
	&lt;div class="row"&gt;
		&lt;section class="col-md-6"&gt;
			&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse mi augue, ornare at convallis non, facilisis sit amet diam. Aliquam tristique feugiat tellus.&lt;/p&gt;
			&lt;p&gt;&lt;strong&gt;Ut finibus, arcu id cursus molestie, metus urna posuere dolor, id tempus dui nibh sit amet diam.&lt;/strong&gt;&lt;/p&gt;
			&lt;p&gt;Sed egestas mattis turpis in aliquet. Nullam molestie orci ut quam auctor facilisis. Integer sed elit ligula.&lt;/p&gt;
		&lt;/section&gt;
		&lt;section class="col-md-6"&gt;
			&lt;ul&gt;
				&lt;li&gt;Fusce aliquam nisi turpis, eget commodo lorem ultricies non. &lt;/li&gt;
				&lt;li&gt;Vestibulum tincidunt gravida maximus.&lt;/li&gt;
				&lt;li&gt;Ut tempor viverra metus, id viverra urna rhoncus mollis.&lt;/li&gt;
				&lt;li&gt;Sed non faucibus nisl.&lt;/li&gt;&lt;li&gt;Suspendisse mi augue.&lt;/li&gt;
			&lt;/ul&gt;
		&lt;/section&gt;
	&lt;/div&gt;
&lt;/section&gt;
</code></pre>

<h2>Evaluation and report</h2>
<p>There is no evaluation and report available for this component.</p>
