---
title: "[Institution-landing-page]"
layout: no-container
language: "fr"
altLangPage: "institution-landing-en.html"
overwriteBreadcrumbs: true
breadcrumbs: [
	{ "title": "Departments & agencies", "link": "https://www.canada.ca/en/government/dept.html" }
]
dateModified: "2021-06-03"
share: true
---
{%- include variable-core.liquid -%}

<div class="bg-center bg-cover" data-bgimg-srcset="img/1x1.png 991w, img/ip-cover-image-1200x726.jpg 992w">
	<div class="container">
		<div class="row mrgn-bttm-md">
			<div class="col-md-7">
				<h1 property="name" id="wb-cont">[Institution name]</h1>
				<p>Short description of the institution’s mandate.</p>
				<a class="btn btn-call-to-action" href="#">Super task button [optional]</a>
			</div>
		</div>
	</div>
</div>

<div class="provisional gc-featured-link">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h2 class="wb-inv">Featured</h2>
				<p><a class="stretched-link" href="#">Featured link [optional]</a></p>
			</div>
		</div>
	</div>
</div>

<section class="well well-sm provisional gc-most-requested">
	<div class="container">
		<div class="row">
			<div class="col-md-2">
				<h2>Most requested</h2>
			</div>
			<div class="col-md-10">
				<ul class="colcount-md-2">
					<li><a href="#">[Top task hyperlink]</a></li>
					<li><a href="#">[Top task hyperlink]</a></li>
					<li><a href="#">[Top task hyperlink]</a></li>
					<li><a href="#">[Top task hyperlink]</a></li>
					<li><a href="#">[Top task hyperlink]</a></li>
					<li><a href="#">[Top task hyperlink]</a></li>
				</ul>
			</div>
		</div>
	</div>
</section>

<div class="container mrgn-bttm-lg">
	<section class="gc-srvinfo">
		<h2 class="wb-inv">Services and information</h2>
		<div class="wb-eqht row">
			<div class="col-md-4">
				<h3><a href="#">[Hyperlink text]</a></h3>
				<p>Use action verbs, or simply list keywords to summarize the information or tasks that can be accomplished on the page it links to.</p>
			</div>
			<div class="col-md-4">
				<h3><a href="#">[Hyperlink text]</a></h3>
				<p>Use action verbs, or simply list keywords to summarize the information or tasks that can be accomplished on the page it links to.</p>
			</div>
			<div class="col-md-4">
				<h3><a href="#">[Hyperlink text]</a></h3>
				<p>Use action verbs, or simply list keywords to summarize the information or tasks that can be accomplished on the page it links to.</p>
			</div>
			<div class="col-md-4">
				<h3><a href="#">[Hyperlink text]</a></h3>
				<p>Use action verbs, or simply list keywords to summarize the information or tasks that can be accomplished on the page it links to.</p>
			</div>
			<div class="col-md-4">
				<h3><a href="#">[Hyperlink text]</a></h3>
				<p>Use action verbs, or simply list keywords to summarize the information or tasks that can be accomplished on the page it links to.</p>
			</div>
			<div class="col-md-4">
				<h3><a href="#">[Hyperlink text]</a></h3>
				<p>Use action verbs, or simply list keywords to summarize the information or tasks that can be accomplished on the page it links to.</p>
			</div>
			<div class="col-md-4">
				<h3><a href="#">[Hyperlink text]</a></h3>
				<p>Use action verbs, or simply list keywords to summarize the information or tasks that can be accomplished on the page it links to.</p>
			</div>
			<div class="col-md-4">
				<h3><a href="#">[Hyperlink text]</a></h3>
				<p>Use action verbs, or simply list keywords to summarize the information or tasks that can be accomplished on the page it links to.</p>
			</div>
			<div class="col-md-4">
				<h3><a href="#">[Hyperlink text]</a></h3>
				<p>Use action verbs, or simply list keywords to summarize the information or tasks that can be accomplished on the page it links to.</p>
			</div>
		</div>
	</section>
</div>

<div class="well well-sm provisional well-bold brdr-0 mrgn-bttm-0">
	<div class="container">
		<section>
			<h2 class="h3 mrgn-tp-md">Contact us</h2>
			<ul class="wb-eqht list-unstyled mrgn-tp-lg lst-spcd-2 colcount-md-3">
				<li><a href="#">Contact [Institution]</a></li>
				<li><a href="#">[Top contact task 2]</a></li>
				<li><a href="#">[Top contact task 3]</a></li>
			</ul>
		</section>
		<div class="row">
			<section class="col-md-8 pull-left mrgn-bttm-lg">
				<h2 class="h3 mrgn-tp-md">About the [Institution]</h2>
				<ul class="list-unstyled mrgn-tp-lg lst-spcd-2 colcount-md-2">
					<li><a href="#">Mandate</a></li>
					<li><a href="#">Organizational structure</a></li>
					<li><a href="#">Transparency</a></li>
					<li><a href="#">Job opportunities</a></li>
					<li><a href="#">Reports</a></li>
					<li><a href="#">Compliance</a></li>
					<li><a href="#">Enforcement notifications</a></li>
					<li><a href="#">[Institutional link]</a></li>
					<li><a href="#">[Institutional link]</a></li>
					<li>More: <a href="#">About the [Institution]</a></li>
				</ul>
			</section>
			<div class="col-xs-12 col-md-4 col-sm-5 pull-right">
				<section class="lnkbx mrgn-bttm-lg">
					<h2 class="h3">Minister</h2>
					<p>
						<a href="#">[(Honourable) first and last name]</a><br>
						<small>Minister's official title</small>
					</p>
					<p>
						<a href="#">[(Honourable) first and last name]</a><br>
						<small>Minister's official title</small>
					</p>
					<p>
						<a href="#">[(Honourable) first and last name]</a><br>
						<small>Minister's official title</small>
					</p>
				</section>
				{%- include gc-follow-us/gc-follow-us.html isInline=true -%}
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<section class="provisional wb-feeds gc-feeds limit-3 col-md-4">
			<h2 class="h3">News</h2>
			<ul class="feeds-cont list-unstyled lst-spcd">
				<li>
					<a data-ajax="../../components/feeds/demo/example-en.atom.json" href="#">
					[Institution] news
					</a>
				</li>
			</ul>
			<p>More: <a href="#">[Institution] news</a></p>
		</section>
		<section class="col-md-8 gc-features">
			<h2 class="h3">Features</h2>
			<div class="row wb-eqht">
				<div class="col-sm-6">
					<div class="well well-sm brdr-rds-0 eqht-trgt">
						<img class="img-responsive full-width" src="https://via.placeholder.com/360x203/000000/FFFFFF.png" alt="" />
						<h3 class="h5"><a class="stretched-link" href="#">[Feature hyperlink text]</a></h3>
						<p>Brief description of the feature being promoted.</p>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="well well-sm brdr-rds-0 eqht-trgt">
						<img class="img-responsive full-width" src="https://via.placeholder.com/360x203/000000/FFFFFF.png" alt="" />
						<h3 class="h5"><a class="stretched-link" href="#">[Feature hyperlink text]</a></h3>
						<p>Brief description of the feature being promoted.</p>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>
