/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 *
 * GC Table provisional style
 * -- Responsive table - part of design, not responsive part --
 */

.provisional {
	&.gc-table {
		caption {
			text-align: left;
		}
		td {
			ul {
				padding-inline-start: 20px;
			}
		}
	}
}
