---
{
	"altLangPage": "gc-table-fr.html",
	"breadcrumbs": [
		{ "title": "Provisional functionality", "link": "components/provisional-en.html" }
	],
	"dateModified": "2021-06-16",
	"description": "Simple responsive gc tables",
	"language": "en",
	"title": "GC tables"
}
---
{% include alert-provisional.html %}
<span class="wb-prettify all-pre hide"></span>

<dl class="horizontal">
	<dt>Status</dt>
	<dd>Provisional</dd>
	<dt>Type</dt>
	<dd>Canada.ca design pattern</dd>
	<dt>Last review</dt>
	<dd>{{ page.dateModified }}</dd>
	<dt>Conforming to</dt>
	<dd>Content and IA spec 2.1</dd>
	<dt>Guidance</dt>
	<dd>Tables - Canada.ca design pattern [coming soon]</dd>
	<dt>Technical name</dt>
	<dd>
		<ul>
			<li><code>gc-table</code></li>
		</ul>
	</dd>
</dl>

<h2>Working example</h2>

<p>A simple CSS solution to that turns tables into responsive cards for smaller viewports.</p>

<p>This pattern currently is:</p>
<ul>
	<li>only for basic/simple tables</li>
	<li>not supported by IE 11</li>
</ul>

<h3>Responsive cards</h3>
<table class="provisional gc-table table" id="myTable1">
	<caption>Population growth in Canadian cities</caption>
	<thead>
		<tr>
			<th>City</th>
			<th>Population in 2007</th>
			<th>Population in 2017</th>
			<th>Percentage change</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td data-label="City">Toronto</td>
			<td data-label="Population in 2007">5,418,207</td>
			<td data-label="Population in 2017">6,346,088</td>
			<td data-label="Percentage change">17.1%</td>
		</tr>
		<tr>
			<td data-label="City">Montréal</td>
			<td data-label="Population in 2007">3,714,846</td>
			<td data-label="Population in 2017">4,138,254</td>
			<td data-label="Percentage change">11.4%</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td data-label="City">Vancouver</td>
			<td data-label="Population in 2007">2,218,134</td>
			<td data-label="Population in 2017">2,571,262</td>
			<td data-label="Percentage change">15.9%</td>
		</tr>
		<tr>
			<td data-label="City">Ottawa–Gatineau</td>
			<td data-label="Population in 2007">1,188,073</td>
			<td data-label="Population in 2017">1,377,016 </td>
			<td data-label="Percentage change">15.9%</td>
		</tr>
		<tr>
			<td data-label="City">Calgary</td>
			<td data-label="Population in 2007"></td>
			<td data-label="Population in 2017">1,246,337</td>
			<td data-label="Percentage change">N/A</td>
		</tr>
	</tbody>
</table>

<h3>Responsive cards with text left on one item</h3>

<p><span class="label label-info">Optional</span></p>

<p>The class <code>text-left</code> can be added to any <code>&lt;td&gt;</code> so that it aligns to the left side on the cards.</p>
<table class="provisional gc-table table" id="myTable2">
		<caption>Telephone numbers for personal taxes, benefits and trusts</caption>
		<thead>
		<tr>
			<th>Reason for your call</th>
			<th>Number</th>
			<th>Hours</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td data-label="Reason for your call">
				<ul class="text-left">
					<li>Item one</li>
					<li>Item two</li>
				</ul>
			</td>
			<td data-label="Number" class="nowrap">1-XXX-XXX-XXXX</td>
			<td data-label="Hours">Always open (automated line)</td>
		</tr>
		<tr>
			<td data-label="Reason for your call">
				<ul class="text-left">
					<li>Item one</li>
					<li>Item two</li>
				</ul>
			</td>
			<td data-label="Number" class="nowrap">1-XXX-XXX-XXXX</td>
			<td data-label="Hours">Always open (automated line)</td>
		</tr>
		<tr>
			<td data-label="Reason for your call">
				<ul class="text-left">
					<li>Item one</li>
					<li>Item two</li>
				</ul>
			</td>
			<td data-label="Number" class="nowrap">1-XXX-XXX-XXXX</td>
			<td data-label="Hours">Always open (automated line)</td>
		</tr>
		<tr>
			<td data-label="Reason for your call">
				<ul class="text-left">
					<li>Item one</li>
					<li>Item two</li>
				</ul>
			</td>
			<td data-label="Number" class="nowrap">1-XXX-XXX-XXXX</td>
			<td data-label="Hours">Always open (automated line)</td>
		</tr>
		</tbody>
	</table>

<h3>Responsive cards with small class for smaller text</h3>
<p><span class="label label-info">Optional</span></p>

<p>The class <code>small</code> can be added to the <code>&lt;table&gt;</code> to make all the text smaller</p>

<table class="provisional gc-table table small" id="myTable3">
		<caption>The following is a list of ranitidine products being recalled in Canada at this time</caption>
		<thead>
		<tr>
			<th>Company</th>
			<th>Product Name/Active Pharmaceutical Ingredient (API)</th>
			<th>DIN</th>
			<th>Strength</th>
			<th>Lot</th>
			<th>Date added</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td data-label="Company">Apotex Inc.</td>
			<td data-label="Product Name/Active Pharmaceutical Ingredient (API)">Acid Reducer (ranitidine) sold under the brand names Equate and Selection</td>
			<td data-label="DIN">02296160</td>
			<td data-label="Strength">150 mg</td>
			<td data-label="Lot">All lots</td>
			<td data-label="Date added">September 25, 2019</td>
		</tr>
		<tr>
			<td data-label="Company">Apotex Inc.</td>
			<td data-label="Product Name/Active Pharmaceutical Ingredient (API)">Apo-Ranitidine Oral Solution</td>
			<td data-label="DIN">02280833</td>
			<td data-label="Strength">15 mg/mL</td>
			<td data-label="Lot">All lots</td>
			<td data-label="Date added">September 25, 2019</td>
		</tr>
		<tr>
			<td data-label="Company">Apotex Inc.</td>
			<td data-label="Product Name/Active Pharmaceutical Ingredient (API)">Apo-Ranitidine Tablet 150mg</td>
			<td data-label="DIN">00733059</td>
			<td data-label="Strength">300 mg</td>
			<td data-label="Lot">All lots</td>
			<td data-label="Date added">September 25, 2019</td>
		</tr>
	</tbody>
</table>

<h3>Responsive cards with <code>table-bordered</code> class for table borders</h3>
<p><span class="label label-info">Optional</span></p>

<p>The class <code>table-bordered</code> can be added to the <code>&lt;table&gt;</code> to add borders to the table in medium view and over.</p>

<table class="provisional gc-table table table-bordered" id="myTable4">
	<caption>Common web browsers</caption>
	<thead>
		<tr>
			<th>Name</th>
			<th>Engine</th>
			<th>Developer</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td data-label="Name">Chrome</td>
			<td data-label="Engine">Blink</td>
			<td data-label="Developer">Google</td>
		</tr>
		<tr>
			<td data-label="Name">Firefox</td>
			<td data-label="Engine">Gecko</td>
			<td data-label="Developer">Mozilla</td>
		</tr>
		<tr>
			<td data-label="Name">Safari</td>
			<td data-label="Engine">WebKit</td>
			<td data-label="Developer">Apple</td>
		</tr>
	</tbody>
</table>

<h3>Responsive cards with ``wb-tables`` class for filterable tables</h3>
<p><span class="label label-info">Optional</span></p>

<p>The class <code>wb-tables</code> can be added to the <code>&lt;table&gt;</code> to make it use <a href="https://wet-boew.github.io/v4.0-ci/demos/tables/tables-en.html">WET's tables plugin</a>. Please note that scrollable and responsive WET tables are unsupported.</p>

<table class="provisional gc-table table wb-tables" id="myTable5">
	<caption>Immunization clinics</caption>
	<thead>
		<tr>
			<th>Name</th>
			<th>City</th>
			<th>Province</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td data-label="Name">Clinic 1</td>
			<td data-label="City">Edmonton</td>
			<td data-label="Province">Alberta</td>
		</tr>
		<tr>
			<td data-label="Name">Clinic 2</td>
			<td data-label="City">Toronto</td>
			<td data-label="Province">Ontario</td>
		</tr>
		<tr>
			<td data-label="Name">Clinic 3</td>
			<td data-label="City">Montréal</td>
			<td data-label="Province">Québec</td>
		</tr>
	</tbody>
</table>
