---
{
	"title": "Splash page - Meta information",
	"language": "en",
	"altLangPage": "api-fr.html",
	"secondlevel": false,
	"dateModified": "2022-10-31",
	"share": "false"
}
---

<dl class="horizontal">
	<dt>Status</dt>
	<dd>Stable</dd>
	<dt>Type</dt>
	<dd>Canada.ca template</dd>
	<dt>Last review</dt>
	<dd>2022-10-31</dd>
	<dt>Specification</dt>
	<dd>There is no specification yet</dd>
	<dt>Template version</dt>
	<dd>Version 2.2</dd>
</dl>

<h2>Working Examples</h2>
<ul>
	<li><a href="splashpage-en.html">Bilingual - English first, followed by French</a></li>
	<li><a href="splashpage-fr.html" hreflang="fr">Bilingual - French first, followed by English</a></li>
	<li><a href="splashpage-contextual-en.html">Contextual title - English first, followed by French</a></li>
	<li><a href="splashpage-contextual-fr.html" hreflang="fr">Contextual title - French first, followed by English</a></li>
</ul>

<h2>Known instances</h2>
<ul>
	<li>Service Canada: <a href="https://www.canada.ca">Canada.ca</a> (Eng/Fre)</li>
	<li>Principal publisher: <a href="https://wet-boew.github.io/GCWeb/index.html">GCWeb</a> (Eng/Fre)</li>
</ul>

<h2>Version history</h2>
<dl>
	<dt>Version v2.2 - 2022-10-31</dt>
	<dd>Addition of the <code>translate</code> attribute set to "no" to each language selection buttons: English and Français</dd>
	<dt>Version v2.1 - 2022-10-06</dt>
	<dd>Creation and addition of a blilingual variant that present the subtitle</dd>
	<dt>Version v2.0 - 2022-09-28</dt>
	<dd>Creation and addition of the blilingual French/English working example</dd>
	<dd>Deletion of the following assets: sig-spl.svg, sig-spl.png, wmms-spl.svg and wmms-spl.png</dd>
	<dd>FIP image: update to use the same SVG as any content page.</dd>
</dl>

<h3>Unsupported versions</h3>
<dl>
	<dt>Version v1.1</dt>
	<dd>Implementation of bilingual metadata.</dd>
	<dt>Version v1.0</dt>
	<dd>Initial version</dd>
</dl>
