---
{
	"title": "Page d'entrée - Meta information",
	"language": "fr",
	"altLangPage": "api-en.html",
	"secondlevel": false,
	"dateModified": "2022-10-31",
	"share": "false"
}
---

<dl class="horizontal">
	<dt>Statut</dt>
	<dd>Stable</dd>
	<dt>Type</dt>
	<dd>Gabarit de Canada.ca</dd>
	<dt>Dernière revue</dt>
	<dd>2022-10-31</dd>
	<dt>Specification</dt>
	<dd>Aucune spécifications</dd>
	<dt>Version du gabarit</dt>
	<dd>Version 2.2</dd>
</dl>

<h2>Exemples pratiques</h2>
<ul>
	<li><a href="splashpage-en.html" hreflang="en">Bilingue - Anglais en premier, suivi du Français</a></li>
	<li><a href="splashpage-fr.html">Bilingue - Français en premier, suivi de l'anglais </a></li>
	<li><a href="splashpage-contextual-en.html" hreflang="en">Titre Contextuel - Anglais en premier, suivi du Français</a></li>
	<li><a href="splashpage-contextual-fr.html">Titre Contextuel - Français en premier, suivi de l'anglais </a></li>
</ul>

<h2>Instances connues</h2>
<ul>
	<li>Service Canada: <a href="https://www.canada.ca">Canada.ca</a> (Eng/Fra)</li>
	<li>Éditeur principal: <a href="https://wet-boew.github.io/GCWeb/index.html">GCWeb</a> (Eng/Fra)</li>
</ul>

<h2>Historique des versions</h2>
<dl>
	<dt>Version v2.2 - 2022-10-31</dt>
	<dd>Ajout de l'attribut <code>translate</code> avec la valeur "no" à chacun des boutons de selection de langues: English et Français.</dd>
	<dt>Version v2.1 - 2022-10-06</dt>
	<dd>Création et ajout d'une variante blilingue qui présente le sous-titre</dd>
	<dt>Version v2.0 - 2022-09-28</dt>
	<dd>Creation et ajout de l'example pratique Français/Anglais.</dd>
	<dd>Suppression des fichiers suivants: sig-spl.svg, sig-spl.png, wmms-spl.svg and wmms-spl.png</dd>
	<dd>PCIM image de marque: mise à jour afin d'utiliser le même SVG que les autres pages de contenu.</dd>

</dl>

<h3>Versions non supportées</h3>
<dl>
	<dt>Version v1.1</dt>
	<dd>Implémentation des métadonnées bilingues.</dd>
	<dt>Version v1.0</dt>
	<dd>Version initiale</dd>
</dl>
