---
{
	"title": "Page d'entrée - Meta information",
	"language": "fr",
	"altLangPage": "api-en.html",
	"breadcrumbs": [
		{ "title": "GCWeb home", "link": "https://wet-boew.github.io/themes-dist/GCWeb/index-en.html" }
	],
	"secondlevel": false,
	"dateModified": "2022-09-28",
	"share": "false"
}
---

<dl class="horizontal">
	<dt>Statut</dt>
	<dd>Stable</dd>
	<dt>Type</dt>
	<dd>Gabarit de Canada.ca</dd>
	<dt>Dernière revue</dt>
	<dd>2022-09-28</dd>
	<dt>Specification</dt>
	<dd>Aucune spécifications</dd>
</dl>

<h2>Exemples pratiques</h2>
<ul>
	<li><a href="splashpage-fr.html">Bilingue - Anglais en premier, suivi du Français</a></li>
	<li><a href="splashpage-en.html" hreflang="en">Bilingue - Français en premier, suivi de l'anglais </a></li>
</ul>


<h2>Instances connues</h2>
<ul>
	<li>Service Canada: <a href="https://www.canada.ca">Canada.ca</a> (Eng/Fra)</li>
</ul>

<h2>Historique des versions</h2>
<dl>
	<dt>Version v2.0 - 2022-09-28</dt>
	<dd>Creation et ajout de l'example pratique Français/Anglais.</dd>
	<dd>Suppression des fichiers suivants: sig-spl.svg, sig-spl.png, wmms-spl.svg and wmms-spl.png</dd>
	<dd>PCIM image de marque: mise à jour afin d'utiliser le même SVG que les autres pages de contenu.</dd>
	<dt>Version v1.1</dt>
	<dd>Implémentation des métadonnées bilingues.</dd>
	<dt>Version v1.0</dt>
	<dd>Version initiale</dd>
</dl>
