{%- include variable-core.liquid -%}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<title>{{ page.title }}</title>
		<meta content="width=device-width, initial-scale=1" name="viewport"/>
		<meta name="description" content="{{ page.description-en }}" />
		<meta property="dct:description" lang="fr" content="{{ page.description-fr }}" />
		<meta name="dcterms.creator" content="{{ page.creator-en }}" />
		<meta property="dct:creator" lang="fr" content="{{ page.creator-en }}" />
		<meta name="dcterms.title" content="{{ page.title }}" />
		<meta property="dct:title" lang="fr" content="{{ page.title }}" />
		<meta name="dcterms.issued" title="W3CDTF" content="2013-12-13" />
		<meta name="dcterms.modified" title="W3CDTF" content="{{ page.dateModified }}" />
		<meta name="dcterms.subject" title="scheme" content="{{ page.subject-en }}" />
		<meta property="dct:subject" lang="fr" title="scheme" content="{{ page.subject-fr }}" />
		<meta name="dcterms.language" title="ISO639-2" content="eng" />
		<meta property="dct:language" lang="fr" title="ISO639-2" content="fra" />
		<meta name="robots" content="noindex, follow" />
		{% include resources-inc/head.html %}
		<link rel="stylesheet" href="{{ setting-resourcesBasePathTheme }}/css/messages{{ setting-minifiedSuffix }}.css"/>
	</head>

	<body class="splash" vocab="http://schema.org/" resource="#wb-webpage" typeof="WebPage">
		<div id="bg" data-wb-randomize='{ "shuffle": true, "selector": "img", "toggle": "hide" }'>
			<img class="hide" src="https://www.canada.ca/content/dam/canada/splash/sp-bg-1.jpg" alt="" />
			<img class="hide" src="https://www.canada.ca/content/dam/canada/splash/sp-bg-2.jpg" alt="" />
			<img class="hide" src="https://www.canada.ca/content/dam/canada/splash/sp-bg-3.jpg" alt="" />
			<img class="hide" src="https://www.canada.ca/content/dam/canada/splash/sp-bg-4.jpg" alt="" />
			<img class="hide" src="https://www.canada.ca/content/dam/canada/splash/sp-bg-5.jpg" alt="" />
			<img class="hide" src="https://www.canada.ca/content/dam/canada/splash/sp-bg-6.jpg" alt="" />
			<img class="hide" src="https://www.canada.ca/content/dam/canada/splash/sp-bg-7.jpg" alt="" />
			<img class="hide" src="https://www.canada.ca/content/dam/canada/splash/sp-bg-8.jpg" alt="" />
			<img class="hide" src="https://www.canada.ca/content/dam/canada/splash/sp-bg-9.jpg" alt="" />
			<img class="hide" src="https://www.canada.ca/content/dam/canada/splash/sp-bg-10.jpg" alt="" />
			<img class="hide" src="https://www.canada.ca/content/dam/canada/splash/sp-bg-11.jpg" alt="" />
			<img class="hide" src="https://www.canada.ca/content/dam/canada/splash/sp-bg-12.jpg" alt="" />
		</div>
		<main property="mainContentOfPage" resource="#wb-main" typeof="WebPageElement">
			<div class="sp-hb">
				<div class="sp-bx col-xs-12">
					<h1 property="name" class="wb-inv">{{ page.title }}</h1>
					<div class="row">
						<div class="col-xs-11 col-md-8" property="publisher" resource="#wb-publisher" typeof="GovernmentOrganization">
							<img src="{{ setting-resourcesBasePathTheme }}/assets/sig-spl.svg" width="283" alt="Government of Canada" property="logo" /><span class="wb-inv"> / <span lang="fr">Gouvernement du Canada</span></span>
							<meta property="name" content="Government of Canada" />
							<meta property="areaServed" typeOf="Country" content="Canada" />
						</div>
					</div>
					<div class="row">
						{{ content }}
					</div>
				</div>
				<div class="sp-bx-bt col-xs-12">
					<div class="row">
						<div class="col-xs-7 col-md-8">
							<a href="https://www.canada.ca/en/transparency/terms.html" class="sp-lk">Terms and conditions</a> <span class="glyphicon glyphicon-asterisk"></span> <a href="https://www.canada.ca/fr/transparence/avis.html" class="sp-lk" lang="fr">Avis</a>
						</div>
						<div class="col-xs-5 col-md-4 text-right mrgn-bttm-md">
							<img src="{{ setting-resourcesBasePathTheme }}/assets/wmms-spl.svg" width="127" alt="Symbol of the Government of Canada" /><span class="wb-inv"> / <span lang="fr">Symbole du gouvernement du Canada</span></span>
						</div>
					</div>
				</div>
			</div>
		</main>
		{% include resources-inc/footer.html %}
	</body>
</html>
