/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 * Pink day - One day event in April
 */


/* Background color */
.provisional .bg-pnkDy {
	background-color: #ad005f;
}
.provisional .bg-pnkDy.well.header-rwd {
	background-color: #570030;
}

 /* Page header and Menu */
.provisional.pnkDy-theme .gcweb-menu button[aria-haspopup=true], .provisional.pnkDy-theme #wb-srch button, .provisional.pnkDy-theme .srchbox button {
	background-color: #ad005f;
	border-color: #ad005f;
}
.provisional.pnkDy-theme .gcweb-menu button[aria-haspopup=true]:focus, .provisional.pnkDy-theme .gcweb-menu button[aria-haspopup=true]:hover, .provisional.pnkDy-theme #wb-srch button:focus, .provisional.pnkDy-theme #wb-srch button:hover, .provisional.pnkDy-theme .srchbox button:focus, .provisional.pnkDy-theme .srchbox button:hover {
	background-color: #570030;
	color: #fff;
}

/* Home page Menu */
.provisional.pnkDy-theme .gcweb-menu, .provisional.pnkDy-theme #wb-bnr + .gcweb-menu, .provisional.pnkDy-theme.home .gcweb-menu, .provisional.pnkDy-theme #wb-bnr + hr {
	border-top-color: #ad005f;
}
.provisional.pnkDy-theme.home .gcweb-menu button[aria-haspopup=true] {
	background-color: #fff;
	border-color: #fff;
}
.provisional.pnkDy-theme.home .gcweb-menu button[aria-haspopup=true] {
	color: #ad005f;
}
.provisional.pnkDy-theme.home .gcweb-menu button[aria-haspopup=true]:focus, .provisional.pnkDy-theme.home .gcweb-menu button[aria-haspopup=true]:hover {
	background-color: #ad005f;
	border-color: #ad005f;
	color: #fff;
}

/* Footer */
.provisional.pnkDy-theme #wb-info .gc-contextual {
	background-color: #c40b71;
}
.provisional.pnkDy-theme #wb-info .landscape {
	background-color: #ad005f;
}

