---
{
	"altLangPage": "images-fr.html",
	"dateModified": "2023-07-12",
	"description": "Images WET-BOEW Component",
	"language": "en",
	"title": "Images"
}
---
<span class="wb-prettify all-pre hide"></span>

<h2>Shapes</h2>
<p>Use to easily modify the shape of an <code>&lt;img&gt;</code> (image) without the use of editing software.</p>

<div class="row">
	<div class="col-sm-6 col-lg-3">
		<p>Default:</p>
		<img src="https://placehold.it/250x250" alt="" />
	</div>
	<div class="col-sm-6 col-lg-3">
		<p>Rounded:</p>
		<img src="https://placehold.it/250x250" class="img-rounded" alt="" />
	</div>
	<div class="col-sm-6 col-lg-3">
		<p>Circle:</p>
		<img src="https://placehold.it/250x250" class="img-circle" alt="" />
	</div>
	<div class="col-sm-6 col-lg-3">
		<p>Thumbnail (hyperlinked):</p>
		<a href="#"><img src="https://placehold.it/250x250" class="img-thumbnail" alt="" /></a>
	</div>
</div>

<h3>Source code</h3>
<dl>
	<dt>Default:</dt>
	<dd><pre><code>&lt;img src=&quot;https://placehold.it/250x250&quot; alt=&quot;&quot; /&gt;</code></pre></dd>
	<dt>Rounded:</dt>
	<dd><pre><code>&lt;img src=&quot;https://placehold.it/250x250&quot; class=&quot;img-rounded&quot; alt=&quot;&quot; /&gt;</code></pre></dd>
	<dt>Circle:</dt>
	<dd><pre><code>&lt;img src=&quot;https://placehold.it/250x250&quot; class=&quot;img-circle&quot; alt=&quot;&quot; /&gt;</code></pre></dd>
	<dt>Thumbnail (hyperlinked):</dt>
	<dd><pre><code>&lt;a href=&quot;#&quot;&gt;&lt;img src=&quot;https://placehold.it/250x250&quot; class=&quot;img-thumbnail&quot; alt=&quot;&quot; /&gt;&lt;/a&gt;</code></pre></dd>
</dl>

<h2>Responsive images</h2>
<p>Use to make larger images scale properly, and never exceed the width of the parent container. With responsive images, <code>max-width: 100%;</code> and <code>height: auto;</code> are auto-applied with the use of <code>.img-responsive.</code></p>

<div class="row">
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-body">
				<p>Image is too large for the available space: </p>
				<img src="https://placehold.it/400x100" alt="Generic placeholder image">
				<p class="mrgn-tp-lg">Same image is now responsive, and fits the parent container:</p>
				<img src="https://placehold.it/400x100" class="img-responsive" alt="Generic placeholder image">
			</div>
		</div>
	</div>
</div>

<h3>Source code</h3>
<pre><code>&lt;img src=&quot;https://placehold.it/400x100&quot; class=&quot;img-responsive&quot; alt=&quot;Generic placeholder image&quot;&gt;</code></pre>

<h2>Stretching images</h2>
<p>Use to stretch a smaller image to the width of the container. Ensure the image is still clear and easy to see in the larger resolutions.</p>

<div class="row">
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-body">
				<p>Image (100x25)  is too small  and blurry: </p>
				<img src="https://placehold.it/100x25" alt="Generic placeholder image">
				<p class="mrgn-tp-md">Image (200x50) is still too small for the space:</p>
				<img src="https://placehold.it/200x50" alt="Generic placeholder image">
				<p class="mrgn-tp-lg">Stretched image (100x25) is blurry:</p>
				<img src="https://placehold.it/100x25" class="full-width" alt="Generic placeholder image">
				<p class="mrgn-tp-lg">Stretched, clear image (200x50)  fits space: </p>
				<img src="https://placehold.it/200x50" class="full-width" alt="A generic square placeholder image">
			</div>
		</div>
	</div>
</div>

<h3>Source code</h3>
<pre><code>&lt;img src=&quot;https://placehold.it/200x50&quot; class=&quot;full-width&quot; alt=&quot;A generic square placeholder image&quot;&gt;</code></pre>

<h2>Thumbnail tiles</h2>
<p>Use to add any kind of content like headings, paragraphs, or buttons into a thumbnail, to create a thumbnail tile effect.</p>

<div class="row">
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-body">
				<section class="thumbnail"><a href="#"><img src="https://placehold.it/350x200" alt="Generic placeholder thumbnail"></a>
					<div class="caption">
						<h3>Title (caption) </h3>
						<p>Content</p>
						<ul class="list-inline">
							<li><a href="#">Link</a></li>
							<li><a href="#">Link</a></li>
						</ul>
					</div>
				</section>
			</div>
		</div>
	</div>
</div>

<h3>Source code</h3>
<pre><code>&lt;section class=&quot;thumbnail&quot;&gt;&lt;a href=&quot;#&quot;&gt;&lt;img src=&quot;https://placehold.it/350x200&quot; alt=&quot;Generic placeholder thumbnail&quot;&gt;&lt;/a&gt;
	&lt;div class=&quot;caption&quot;&gt;
		&lt;h3&gt;Title (caption) &lt;/h3&gt;
		&lt;p&gt;Content&lt;/p&gt;
		&lt;ul class=&quot;list-inline&quot;&gt;
			&lt;li&gt;&lt;a href=&quot;#&quot; &gt;Link&lt;/a&gt;&lt;/li&gt;
			&lt;li&gt;&lt;a href=&quot;#&quot; &gt;Link&lt;/a&gt;&lt;/li&gt;
		&lt;/ul&gt;
	&lt;/div&gt;
&lt;/section&gt;</code></pre>

<h2>Media objects</h2>
<p>Use to layer text and images for media content like blog comments, tweets, and so forth.</p>

<div class="row">
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-body">
				<h3>Default:</h3>
				<section class="media"> <a class="pull-left" href="#">
					<img class="media-object" src="https://placehold.it/64x64" alt="Generic placeholder image"> </a>
					<div class="media-body">
						<h4 class="media-heading">Media heading</h4>
						<p>Content, image pulls left </p>
					</div>
				</section>
				<section class="media mrgn-tp-xl"> <a class="pull-right" href="#">
					<img class="media-object" src="https://placehold.it/64x64" alt="Generic placeholder image"> </a>
					<div class="media-body">
						<h4 class="media-heading">Media heading</h4>
						<p>Content, image pulls right </p>
					</div>
				</section>
				<h3 class="mrgn-tp-xl">As lists:</h3>
				<ul class="media-list">
					<li class="media"> <a class="pull-left" href="#">
						<img class="media-object" src="https://placehold.it/64x64" alt="Generic placeholder image"> </a>
						<div class="media-body">
							<h4 class="media-heading">Heading</h4>
							<p>Content, image pulls left </p>
						</div>
					</li>
					<li class="media">
						<a class="pull-left" href="#"> <img class="media-object" src="https://placehold.it/64x64" alt="Generic placeholder image"> </a>
						<div class="media-body">
							<h4 class="media-heading">Heading</h4>
							<p>Content, image pulls left </p>
						</div>
					</li>
				</ul>
				<ul class="media-list   mrgn-tp-xl">
					<li class="media"> <a class="pull-right" href="#">
						<img class="media-object" src="https://placehold.it/64x64" alt="Generic placeholder image"> </a>
						<div class="media-body">
							<h4 class="media-heading">Heading</h4>
							<p>Content, image pulls right </p>
						</div>
					</li>
					<li class="media"> <a class="pull-right" href="#">
						<img class="media-object" src="https://placehold.it/64x64" alt="Generic placeholder image"> </a>
						<div class="media-body">
							<h4 class="media-heading">Heading</h4>
							<p>Content, image pulls right </p>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<h3>Source code</h3>
<pre><code>&lt;div class=row&quot;&gt;
	&lt;div class=&quot;col-md-4&quot;&gt;
		&lt;div class=&quot;panel panel-default&quot;&gt;
			&lt;div class=&quot;panel-body&quot;&gt;
				&lt;h3&gt;Default:&lt;/h3&gt;
				&lt;section class=&quot;media&quot;&gt; &lt;a class=&quot;pull-left&quot; href=&quot;#&quot;&gt;
					&lt;img class=&quot;media-object&quot; src=&quot;https://placehold.it/64x64&quot; alt=&quot;Generic placeholder image&quot;&gt; &lt;/a&gt;
					&lt;div class=&quot;media-body&quot;&gt;
						&lt;h4 class=&quot;media-heading&quot;&gt;Media heading&lt;/h4&gt;
						&lt;p&gt;Content, image pulls left &lt;/p&gt;
					&lt;/div&gt;
				&lt;/section&gt;
				&lt;section class=&quot;media mrgn-tp-xl&quot;&gt; &lt;a class=&quot;pull-right&quot; href=&quot;#&quot;&gt;
					&lt;img class=&quot;media-object&quot; src=&quot;https://placehold.it/64x64&quot; alt=&quot;Generic placeholder image&quot;&gt; &lt;/a&gt;
					&lt;div class=&quot;media-body&quot;&gt;
						&lt;h4 class=&quot;media-heading&quot;&gt;Media heading&lt;/h4&gt;
						&lt;p&gt;Content, image pulls right &lt;/p&gt;
					&lt;/div&gt;
				&lt;/section&gt;
				&lt;h3 class=&quot;mrgn-tp-xl&quot;&gt;As lists:&lt;/h3&gt;
				&lt;ul class=&quot;media-list&quot;&gt;
					&lt;li class=&quot;media&quot;&gt; &lt;a class=&quot;pull-left&quot; href=&quot;#&quot;&gt;
						&lt;img class=&quot;media-object&quot; src=&quot;https://placehold.it/64x64&quot; alt=&quot;Generic placeholder image&quot;&gt; &lt;/a&gt;
						&lt;div class=&quot;media-body&quot;&gt;
							&lt;h4 class=&quot;media-heading&quot;&gt;Heading&lt;/h4&gt;
							&lt;p&gt;Content, image pulls left &lt;/p&gt;
						&lt;/div&gt;
					&lt;/li&gt;
					&lt;li class=&quot;media&quot;&gt;
						&lt;a class=&quot;pull-left&quot; href=&quot;#&quot;&gt; &lt;img class=&quot;media-object&quot; src=&quot;https://placehold.it/64x64&quot; alt=&quot;Generic placeholder image&quot;&gt; &lt;/a&gt;
						&lt;div class=&quot;media-body&quot;&gt;
							&lt;h4 class=&quot;media-heading&quot;&gt;Heading&lt;/h4&gt;
							&lt;p&gt;Content, image pulls left &lt;/p&gt;
						&lt;/div&gt;
					&lt;/li&gt;
				&lt;/ul&gt;
				&lt;ul class=&quot;media-list   mrgn-tp-xl&quot;&gt;
					&lt;li class=&quot;media&quot;&gt; &lt;a class=&quot;pull-right&quot; href=&quot;#&quot;&gt;
						&lt;img class=&quot;media-object&quot; src=&quot;https://placehold.it/64x64&quot; alt=&quot;Generic placeholder image&quot;&gt; &lt;/a&gt;
						&lt;div class=&quot;media-body&quot;&gt;
							&lt;h4 class=&quot;media-heading&quot;&gt;Heading&lt;/h4&gt;
							&lt;p&gt;Content, image pulls right &lt;/p&gt;
						&lt;/div&gt;
					&lt;/li&gt;
					&lt;li class=&quot;media&quot;&gt; &lt;a class=&quot;pull-right&quot; href=&quot;#&quot;&gt;
						&lt;img class=&quot;media-object&quot; src=&quot;https://placehold.it/64x64&quot; alt=&quot;Generic placeholder image&quot;&gt; &lt;/a&gt;
						&lt;div class=&quot;media-body&quot;&gt;
							&lt;h4 class=&quot;media-heading&quot;&gt;Heading&lt;/h4&gt;
							&lt;p&gt;Content, image pulls right &lt;/p&gt;
						&lt;/div&gt;
					&lt;/li&gt;
				&lt;/ul&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;</code></pre>
