---
{
	"altLangPage": "images-en.html",
	"dateModified": "2023-07-12",
	"description": "Images WET-BOEW Composante",
	"language": "fr",
	"title": "Images"
}
---
<span class="wb-prettify all-pre hide"></span>

<h2>Formes</h2>
<p>Utilisez-les pour facilement modifier la forme de <code>&lt;img&gt;</code> (image) sans avoir à utiliser le logiciel d'édition.</p>

<div class="row">
	<div class="col-sm-6 col-lg-3">
		<p>Par défaut :</p>
		<img src="https://placehold.it/250x250" alt="" />
	</div>
	<div class="col-sm-6 col-lg-3">
		<p>Arrondi :</p>
		<img src="https://placehold.it/250x250" class="img-rounded" alt="" />
	</div>
	<div class="col-sm-6 col-lg-3">
		<p>Circle :</p>
		<img src="https://placehold.it/250x250" class="img-circle" alt="" />
	</div>
	<div class="col-sm-6 col-lg-3">
		<p>Thumbnail (hyperlinked) :</p>
		<a href="#"><img src="https://placehold.it/250x250" class="img-thumbnail" alt="" /></a>
	</div>
</div>

<h3>Code</h3>
<dl>
	<dt>Par défaut :</dt>
	<dd><pre><code>&lt;img src=&quot;https://placehold.it/250x250&quot; alt=&quot;&quot; /&gt;</code></pre></dd>
	<dt>Arrondi :</dt>
	<dd><pre><code>&lt;img src=&quot;https://placehold.it/250x250&quot; class=&quot;img-rounded&quot; alt=&quot;&quot; /&gt;</code></pre></dd>
	<dt>Cercle :</dt>
	<dd><pre><code>&lt;img src=&quot;https://placehold.it/250x250&quot; class=&quot;img-circle&quot; alt=&quot;&quot; /&gt;</code></pre></dd>
	<dt>Miniature (en hyperlien) :</dt>
	<dd><pre><code>&lt;a href=&quot;#&quot;&gt;&lt;img src=&quot;https://placehold.it/250x250&quot; class=&quot;img-thumbnail&quot; alt=&quot;&quot; /&gt;&lt;/a&gt;</code></pre></dd>
</dl>

<h2>Images réactives</h2>
<p>Utilisez-les pour agrandir l'échelle des images de façon appropriée et ne dépassez jamais la largeur du conteneur parent. Avec les images réactives, <code>max-width: 100%;</code> et <code>height: auto;</code> sont appliqués automatiquement à l'aide de <code>.img-responsive</code>.</p>

<div class="row">
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-body">
				<p>Image trop grande pour l'espace disponible : </p>
				<img src="https://placehold.it/400x100" alt="Un espace générique pour une image">
				<p class="mrgn-tp-lg">La même image est maintenant réactive et entre dans le conteneur parent:</p>
				<img src="https://placehold.it/400x100" class="img-responsive" alt="Un espace générique pour une image">
			</div>
		</div>
	</div>
</div>

<h3>Code</h3>
<pre><code>&lt;img src=&quot;https://placehold.it/400x100&quot; class=&quot;img-responsive&quot; alt=&quot;Un espace générique pour une image&quot;&gt;</code></pre>

<h2>Étirement des images</h2>
<p>Utilisez pour étirer une plus petite image à la largeur du conteneur. Assurez-vous que l'image est toujours claire et facile à voir dans les résolutions plus grandes.</p>

<div class="row">
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-body">
				<p>L'image (100x25) est trop petite et brouillée:</p>
				<img src="https://placehold.it/100x25" alt="Un espace générique pour une image">
				<p class="mrgn-tp-md">L'image (200x50) est toujours trop petite pour l'espace:</p>
				<img src="https://placehold.it/200x50" alt="Un espace générique pour une image">
				<p class="mrgn-tp-lg">L'image étirée (100x25) est floue:</p>
				<img src="https://placehold.it/100x25" class="full-width" alt="Un espace générique pour une image">
				<p class="mrgn-tp-lg">L'image étirée et claire (200x50) entre dans l'espace: </p>
				<img src="https://placehold.it/200x50" class="full-width" alt="Un espace générique pour une image">
			</div>
		</div>
	</div>
</div>

<h3>Code</h3>
<pre><code>&lt;img src=&quot;https://placehold.it/200x50&quot; class=&quot;full-width&quot; alt=&quot;Un espace générique pour une image&quot;&gt;</code></pre>

<h2>Pavés de miniatures</h2>
<p>Utilisez pour ajouter toute sorte de contenu tel que les en-têtes, les paragraphes ou les boutons dans une miniature afin de créer un effet de pavé de miniatures.</p>

<div class="row">
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-body">
				<section class="thumbnail"><a href="#"><img src="https://placehold.it/350x200" alt="Un espace générique pour une image"></a>
					<div class="caption">
						<h3>Titre (légende) </h3>
						<p>Titre (légende)</p>
						<ul class="list-inline">
							<li><a href="#">Lien</a></li>
							<li><a href="#">Lien</a></li>
						</ul>
					</div>
				</section>
			</div>
		</div>
	</div>
</div>

<h3>Source code</h3>
<pre><code>&lt;section class=&quot;thumbnail&quot;&gt;&lt;a href=&quot;#&quot;&gt;&lt;img src=&quot;https://placehold.it/350x200&quot; alt=&quot;Un espace générique pour une image&quot;&gt;&lt;/a&gt;
	&lt;div class=&quot;caption&quot;&gt;
		&lt;h3&gt;Titre (légende) &lt;/h3&gt;
		&lt;p&gt;Titre (légende)&lt;/p&gt;
		&lt;ul class=&quot;list-inline&quot;&gt;
			&lt;li&gt;&lt;a href=&quot;#&quot;&gt;Lien&lt;/a&gt;&lt;/li&gt;
			&lt;li&gt;&lt;a href=&quot;#&quot;&gt;Lien&lt;/a&gt;&lt;/li&gt;
		&lt;/ul&gt;
	&lt;/div&gt;
&lt;/section&gt;</code></pre>

<h2>Usages médias</h2>
<p>Utilisez-les pour ajouter une couche de texte et d'images pour le contenu média tel que les commentaires de blogue, les gazouillis et ainsi de suite.</p>

<div class="row">
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-body">
				<h3>Par défaut&nbsp; :</h3>
				<section class="media"> <a class="pull-left" href="#">
					<img class="media-object" src="https://placehold.it/64x64" alt="Un espace générique pour une image"> </a>
					<div class="media-body">
						<h4 class="media-heading">En-tête du média</h4>
						<p>Contenu, image tirée vers la gauche</p>
					</div>
				</section>
				<section class="media mrgn-tp-xl"> <a class="pull-right" href="#">
					<img class="media-object" src="https://placehold.it/64x64" alt="Un espace générique pour une image"> </a>
					<div class="media-body">
						<h4 class="media-heading">En-tête du média</h4>
						<p>Contenu, image tirée vers la droite</p>
					</div>
				</section>
				<h3 class="mrgn-tp-xl">Comme des listes :</h3>
				<ul class="media-list">
					<li class="media"> <a class="pull-left" href="#">
						<img class="media-object" src="https://placehold.it/64x64" alt="Un espace générique pour une image"> </a>
						<div class="media-body">
							<h4 class="media-heading">En-tête</h4>
							<p>Contenu, image tirée vers la gauche</p>
						</div>
					</li>
					<li class="media"> <a class="pull-left" href="#">
						<img class="media-object" src="https://placehold.it/64x64" alt="Un espace générique pour une image"> </a>
						<div class="media-body">
							<h4 class="media-heading">En-tête</h4>
							<p>Contenu, image tirée vers la gauche</p>
						</div>
					</li>
				</ul>
				<ul class="media-list mrgn-tp-xl">
					<li class="media"> <a class="pull-right" href="#"> <img class="media-object" src="https://placehold.it/64x64" alt="Un espace générique pour une image"> </a>
						<div class="media-body">
							<h4 class="media-heading">En-tête</h4>
							<p>Contenu, image tirée vers la droite </p>
						</div>
					</li>
					<li class="media"> <a class="pull-right" href="#"> <img class="media-object" src="https://placehold.it/64x64" alt="Un espace générique pour une image"> </a>
						<div class="media-body">
							<h4 class="media-heading">En-tête</h4>
							<p>Contenu, image tirée vers la droite.</p>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<h3>Code</h3>
<pre><code>&lt;div class=&quot;row&quot;&gt;
	&lt;div class=&quot;col-md-4&quot;&gt;
		&lt;div class=&quot;panel panel-default&quot;&gt;
			&lt;div class=&quot;panel-body&quot;&gt;
				&lt;h3&gt;Par d&eacute;faut&amp;nbsp; :&lt;/h3&gt;
				&lt;section class=&quot;media&quot;&gt; &lt;a class=&quot;pull-left&quot; href=&quot;#&quot;&gt;
					&lt;img class=&quot;media-object&quot; src=&quot;https://placehold.it/64x64&quot; alt=&quot;Un espace g&eacute;n&eacute;rique pour une image&quot;&gt; &lt;/a&gt;
					&lt;div class=&quot;media-body&quot;&gt;
						&lt;h4 class=&quot;media-heading&quot;&gt;En-t&ecirc;te du m&eacute;dia&lt;/h4&gt;
						&lt;p&gt;Contenu, image tir&eacute;e vers la gauche&lt;/p&gt;
					&lt;/div&gt;
				&lt;/section&gt;
				&lt;section class=&quot;media mrgn-tp-xl&quot;&gt; &lt;a class=&quot;pull-right&quot; href=&quot;#&quot;&gt;
					&lt;img class=&quot;media-object&quot; src=&quot;https://placehold.it/64x64&quot; alt=&quot;Un espace g&eacute;n&eacute;rique pour une image&quot;&gt; &lt;/a&gt;
					&lt;div class=&quot;media-body&quot;&gt;
						&lt;h4 class=&quot;media-heading&quot;&gt;En-t&ecirc;te du m&eacute;dia&lt;/h4&gt;
						&lt;p&gt;Contenu, image tir&eacute;e vers la droite&lt;/p&gt;
					&lt;/div&gt;
				&lt;/section&gt;
				&lt;h3 class=&quot;mrgn-tp-xl&quot;&gt;Comme des listes :&lt;/h3&gt;
				&lt;ul class=&quot;media-list&quot;&gt;
					&lt;li class=&quot;media&quot;&gt; &lt;a class=&quot;pull-left&quot; href=&quot;#&quot;&gt;
						&lt;img class=&quot;media-object&quot; src=&quot;https://placehold.it/64x64&quot; alt=&quot;Un espace g&eacute;n&eacute;rique pour une image&quot;&gt; &lt;/a&gt;
						&lt;div class=&quot;media-body&quot;&gt;
							&lt;h4 class=&quot;media-heading&quot;&gt;En-t&ecirc;te&lt;/h4&gt;
							&lt;p&gt;Contenu, image tir&eacute;e vers la gauche&lt;/p&gt;
						&lt;/div&gt;
					&lt;/li&gt;
					&lt;li class=&quot;media&quot;&gt; &lt;a class=&quot;pull-left&quot; href=&quot;#&quot;&gt;
						&lt;img class=&quot;media-object&quot; src=&quot;https://placehold.it/64x64&quot; alt=&quot;Un espace g&eacute;n&eacute;rique pour une image&quot;&gt; &lt;/a&gt;
						&lt;div class=&quot;media-body&quot;&gt;
							&lt;h4 class=&quot;media-heading&quot;&gt;En-t&ecirc;te&lt;/h4&gt;
							&lt;p&gt;Contenu, image tir&eacute;e vers la gauche&lt;/p&gt;
						&lt;/div&gt;
					&lt;/li&gt;
				&lt;/ul&gt;
				&lt;ul class=&quot;media-list mrgn-tp-xl&quot;&gt;
					&lt;li class=&quot;media&quot;&gt; &lt;a class=&quot;pull-right&quot; href=&quot;#&quot;&gt; &lt;img class=&quot;media-object&quot; src=&quot;https://placehold.it/64x64&quot; alt=&quot;Un espace g&eacute;n&eacute;rique pour une image&quot;&gt; &lt;/a&gt;
						&lt;div class=&quot;media-body&quot;&gt;
							&lt;h4 class=&quot;media-heading&quot;&gt;En-t&ecirc;te&lt;/h4&gt;
							&lt;p&gt;Contenu, image tir&eacute;e vers la droite &lt;/p&gt;
						&lt;/div&gt;
					&lt;/li&gt;
					&lt;li class=&quot;media&quot;&gt; &lt;a class=&quot;pull-right&quot; href=&quot;#&quot;&gt; &lt;img class=&quot;media-object&quot; src=&quot;https://placehold.it/64x64&quot; alt=&quot;Un espace g&eacute;n&eacute;rique pour une image&quot;&gt; &lt;/a&gt;
						&lt;div class=&quot;media-body&quot;&gt;
							&lt;h4 class=&quot;media-heading&quot;&gt;En-t&ecirc;te&lt;/h4&gt;
							&lt;p&gt;Contenu, image tir&eacute;e vers la droite.&lt;/p&gt;
						&lt;/div&gt;
					&lt;/li&gt;
				&lt;/ul&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;</code></pre>
