---
dateModified: "2024-02-05"
description: "Documentation and working example for bolded content"
language: "en"
altLangPage: "bold-content-doc-fr.html"
title: "Bold content"
---

<span class="wb-prettify all-pre hide"></span>

<dl class="horizontal">
	<dt>Status</dt>
	<dd>Stable</dd>
	<dt>Type</dt>
	<dd>Component</dd>
	<dt>Last review</dt>
	<dd>2024-02-05</dd>
	<dt>Conforming to</dt>
	<dd>n/a</dd>
	<dt>Technical name</dt>
	<dd><code>bold-content</code></dd>
</dl>

<h2>Purpose</h2>
<p>This apply font weight bold to every text element inside the component and generates normal font weight when the element <code>strong</code> is applied.</p>

<h2>Working example</h2>
<ul>
	<li><a href="bold-content-en.html">Working example</a></li>
</ul>

<h2>Evaluation and report</h2>
<p>There is no evaluation and report available for this component.</p>

<h2>API (Component version 1.0)</h2>
<table class="table table-bordered">
	<tr>
		<th>CSS Class</th>
		<th>Template</th>
		<th>Visual rendering</th>
		<th>Schema</th>
	</tr>
	<tr>
		<td>Version 1.0</td>
		<td>n.a.</td>
		<td>Version 1.0</td>
		<td>n.a.</td>
	</tr>
</table>

<h3>CSS Class (v1.0)</h3>
<p><code>bold-content</code><p>

<h3>Visual rendering (v1.0)</h3>
<p>Font weight bold is applied to every text element inside the component and generates normal font weight when the element <code>strong</code> is applied.</p>
