---
dateModified: "2024-02-05"
description: "Documentation et exemple pratique d'une boîte grise en gras"
language: "fr"
altLangPage: "bold-content-doc-en.html"
title: "Boîte grise en gras"
---

<span class="wb-prettify all-pre hide"></span>

<dl class="horizontal">
	<dt>Statut</dt>
	<dd>Stable</dd>
	<dt>Type</dt>
	<dd>Composante</dd>
	<dt>Dernière revue</dt>
	<dd>2024-02-05</dd>
	<dt>Est conforme à</dt>
	<dd>n/a</dd>
	<dt>Nom technique</dt>
	<dd><code>well-bold</code></dd>
</dl>

<h2>Objectif</h2>
<p>Ceci applique un poid de police de caractère gras à chaque élément de texte à l'intérieur d'un composant boite grise et génère un poid de police de caractère normale lorsque l'élément <code>strong </code> est appliqué.</p>

<h2>Exemple pratique</h2>
<ul>
	<li><a href="bold-content-fr.html">Exemple pratique</a></li>
</ul>

<h2>Évaluation et rapport</h2>
<p>Il n'y a pas d'évaluation et de rapport disponibles pour ce composant.</p>

<h2>API (version du composant 1.0)</h2>
<table class="table table-bordered">
	<tr>
		<th>Classe CSS</th>
		<th>Modèle</th>
		<th>Rendu visuel</th>
		<th>Schéma</th>
	</tr>
	<tr>
	<td>Version 1.0</td>
	<td>n.d.</td>
	<td>Version 1.0</td>
	<td>n.d.</td>
	</tr>
</table>

<h3>Classe CSS (v1.0)</h3>
<p><code>bold-content</code><p>

<h3>Rendu visuel (v1.0)</h3>
<p>L'épaisseur de police en gras est appliquée à chaque élément de texte à l'intérieur d'un composant de puits et génère une épaisseur de police normale lorsque l'élément <code>strong</code> est appliqué.</p>
