---
dateModified: "2024-02-05"
description: "Documentation et exemple pratique de contenu en gras."
language: "fr"
altLangPage: "bold-content-en.html"
title: "Contenu en gras"
---

<span class="wb-prettify all-pre hide"></span>

<ul class="list-inline">
	<li><a class="btn btn-primary" href="well-bold-doc-fr.html">Documentation</a></li>
	<li><a class="btn btn-primary" href="https://github.com/wet-boew/GCWeb/issues/new?title=WellBold">Questions ou commentaires?</a></li>
</ul>

<h2>Exemple 1: contenu en gras</h2>
<div class="bold-content">
	<p>Lorem ipsum, dolor sit <strong>amet consectetur</strong> adipisicing elit. Nulla quaerat aliquid, nobis consectetur amet et!</p>
	<p>Cum placeat soluta quibusdam id. Temporibus, delectus eos optio distinctio itaque architecto aperiam deserunt repudiandae!</p>
	<p>Facilis obcaecati quae reprehenderit harum. Quaerat id optio, qui tempora aliquid numquam deserunt consequuntur enim!</p>
	<p>Facere ad, dicta nobis <strong>exercitationem</strong> incidunt animi quam porro laborum possimus aperiam beatae nemo! Officiis?</p>
	<p>Magnam, deserunt inventore aliquid illum nihil dolore praesentium, ab mollitia, doloribus odit vitae recusandae tempore!</p>
</div>

<h3>Code</h3>
<pre><code>&lt;div class="bold-content">
	&lt;p>Lorem ipsum, dolor sit &lt;strong>amet consectetur&lt;/strong> adipisicing elit. Nulla quaerat aliquid, nobis consectetur amet et!&lt;/p>
	&lt;p>Cum placeat soluta quibusdam id. Temporibus, delectus eos optio distinctio itaque architecto aperiam deserunt repudiandae!&lt;/p>
	&lt;p>Facilis obcaecati quae reprehenderit harum. Quaerat id optio, qui tempora aliquid numquam deserunt consequuntur enim!&lt;/p>
	&lt;p>Facere ad, dicta nobis &lt;strong>exercitationem&lt;/strong> incidunt animi quam porro laborum possimus aperiam beatae nemo! Officiis?&lt;/p>
	&lt;p>Magnam, deserunt inventore aliquid illum nihil dolore praesentium, ab mollitia, doloribus odit vitae recusandae tempore!&lt;/p>
&lt;/div></code></pre>

<h2>Exemple 2: <code>.well</code> en gras</h2>
<div class="well bold-content">
	<div class="row">
		<div class="col-md-6">
			<ul>
				<li>Finibus Bonorum</li>
				<li>Vestibulum tincidunt</li>
				<li>Tempor viverra metus</li>
				<li>Sed non faucibus nisl</li>
				<li>Suspendisse</li>
				<li><strong>Sed ut</strong>: perspiciatis</li>
			</ul>
		</div>
	</div>
</div>

<h3>Code</h3>
<pre><code>&lt;div class="well bold-content"&gt;
	&lt;div class="row"&gt;
		&lt;div class="col-md-6"&gt;
			&lt;ul&gt;
				&lt;li&gt;Finibus Bonorum&lt;/li&gt;
				&lt;li&gt;Vestibulum tincidunt&lt;/li&gt;
				&lt;li&gt;Tempor viverra metus&lt;/li&gt;
				&lt;li&gt;Sed non faucibus nisl&lt;/li&gt;
				&lt;li&gt;Suspendisse&lt;/li&gt;
				&lt;li&gt;&lt;strong&gt;Sed ut&lt;/strong&gt;: perspiciatis&lt;/li&gt;
			&lt;/ul&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;</code></pre>
