---
title: Cases à cocher et boutons radio - Exemples pratiques
language: fr
description: Exemples pratiques de grandes cases à cocher et de grands boutons radio
dateModified: 2021-06-02
altLangPage: gc-chckbxrdio-en.html
---
<ul class="list-inline">
	<li><a class="btn btn-primary" href="gc-chckbxrdio-doc-fr.html">Documentation</a></li>
	<li><a class="btn btn-primary" href="https://github.com/wet-boew/GCWeb/issues/new?title=GC-Chckbxrdio">Questions ou commentaires?</a></li>
</ul>
<p>Exemples pratiques de grandes cases à cocher et de grands boutons radio</p>

<span class="wb-prettify all-pre hide"></span>

<h2>Grandes cases à cocher avec étiquettes explicites</h2>
<fieldset class="gc-chckbxrdio">
	<legend>Choisissez vos condiments&nbsp;:</legend>
	<ul class="list-unstyled lst-spcd-2">
		<li class="checkbox">
			<input type="checkbox" id="cond1">
			<label for="cond1">Ketchup</label>
		</li>
		<li class="checkbox">
			<input type="checkbox" id="cond2">
			<label for="cond2">Relish</label>
		</li>
		<li class="checkbox">
			<input type="checkbox" id="cond3">
			<label for="cond3">Moutarde</label>
		</li>
	</ul>
</fieldset>
<details class="mrgn-tp-lg">
	<summary>Code</summary>
	<pre><code>&lt;h2&gt;Grandes cases à cocher avec étiquettes explicites&lt;/h2&gt;
&lt;fieldset class="gc-chckbxrdio"&gt;
	&lt;legend&gt;Choisissez vos condiments&nbsp;:&lt;/legend&gt;
	&lt;ul class="list-unstyled lst-spcd-2"&gt;
		&lt;li class="checkbox"&gt;
			&lt;input type="checkbox" id="cond1"&gt;
			&lt;label for="cond1"&gt;Ketchup&lt;/label&gt;
		&lt;/li&gt;
		&lt;li class="checkbox"&gt;
			&lt;input type="checkbox" id="cond2"&gt;
			&lt;label for="cond2"&gt;Relish&lt;/label&gt;
		&lt;/li&gt;
		&lt;li class="checkbox"&gt;
			&lt;input type="checkbox" id="cond3"&gt;
			&lt;label for="cond3"&gt;Moutarde&lt;/label&gt;
		&lt;/li&gt;
	&lt;/ul&gt;
&lt;/fieldset&gt;</code></pre>
</details>
<h2>Grandes cases à cocher désactivé avec étiquettes explicites</h2>
<fieldset class="gc-chckbxrdio">
	<legend>Choisissez vos condiments&nbsp;:</legend>
	<ul class="list-unstyled lst-spcd-2">
		<li class="checkbox">
			<input type="checkbox" id="cond4">
			<label for="cond4">Ketchup</label>
		</li>
		<li class="checkbox">
			<input type="checkbox" id="cond5" disabled>
			<label for="cond5">Relish</label>
		</li>
		<li class="checkbox">
			<input type="checkbox" id="cond6" disabled>
			<label for="cond6">Moutarde</label>
		</li>
	</ul>
</fieldset>
<details class="mrgn-tp-lg">
	<summary>Code</summary>
	<pre><code>&lt;h2&gt;Grandes cases à cocher désactivé avec étiquettes explicites&lt;/h2&gt;
&lt;fieldset class="gc-chckbxrdio"&gt;
	&lt;legend&gt;Choisissez vos condiments&nbsp;:&lt;/legend&gt;
	&lt;ul class="list-unstyled lst-spcd-2"&gt;
		&lt;li class="checkbox"&gt;
			&lt;input type="checkbox" id="cond4"&gt;
			&lt;label for="cond4"&gt;Ketchup&lt;/label&gt;
		&lt;/li&gt;
		&lt;li class="checkbox"&gt;
			&lt;input type="checkbox" id="cond5" disabled&gt;
			&lt;label for="cond5"&gt;Relish&lt;/label&gt;
		&lt;/li&gt;
		&lt;li class="checkbox"&gt;
			&lt;input type="checkbox" id="cond6" disabled&gt;
			&lt;label for="cond6"&gt;Moutarde&lt;/label&gt;
		&lt;/li&gt;
	&lt;/ul&gt;
&lt;/fieldset&gt;</code></pre>
</details>

<h2><span lang="en">Tickbox</span> - élément unique avec étiquette explicite dans un formulaire horizontal</h2>
<form class="form-inline" method="get" action="#">
	<div class="form-group">
		<label class="wb-inv" for="exampleInputEmail2">Courriel</label>
		<input type="email" class="form-control" id="exampleInputEmail2" placeholder="Entrez votre courriel" />
	</div>
	<div class="form-group">
		<label class="wb-inv" for="exampleInputPassword2">Mot de passe</label>
		<input type="password" class="form-control" id="exampleInputPassword2" placeholder="Mot de passe" />
	</div>
	<div class="checkbox gc-chckbxrdio">
		<input id="remember2" type="checkbox" />
		<label for="remember2">Se souvenir de moi</label>
	</div>
	<button type="submit" class="btn btn-default">Se connecter</button>
</form>
<details class="mrgn-tp-lg">
	<summary>Code</summary>
	<pre><code>&lt;h2&gt;&lt;span lang="en"&gt;Tickbox&lt;/span&gt; - élément unique avec étiquette explicite dans un formulaire horizontal&lt;/h2&gt;
&lt;form class="form-inline" method="get" action="#"&gt;
	&lt;div class="form-group"&gt;
		&lt;label class="wb-inv" for="exampleInputEmail2"&gt;Courriel&lt;/label&gt;
		&lt;input type="email" class="form-control" id="exampleInputEmail2" placeholder="Entrez votre courriel" /&gt;
	&lt;/div&gt;
	&lt;div class="form-group"&gt;
		&lt;label class="wb-inv" for="exampleInputPassword2"&gt;Mot de passe&lt;/label&gt;
		&lt;input type="password" class="form-control" id="exampleInputPassword2" placeholder="Mot de passe" /&gt;
	&lt;/div&gt;
	&lt;div class="checkbox gc-chckbxrdio"&gt;
		&lt;input id="remember2" type="checkbox" /&gt;
		&lt;label for="remember2"&gt;Se souvenir de moi&lt;/label&gt;
	&lt;/div&gt;
	&lt;button type="submit" class="btn btn-default"&gt;Se connecter&lt;/button&gt;
&lt;/form&gt;</code></pre>
</details>

<h2><span lang="en">Tickbox</span> - éléments uniques avec étiquette explicite dans un </h2>
<div class="row">
	<div class="col-md-3">
		<h3 class="wb-inv">Options</h3>
		<details open>
			<summary>
				<h4 class="h5">Options</h4>
			</summary>
			<p class="mrgn-tp-md">Utilisez les options ci-dessous pour modifier vos ...</p>
			<form class="wb-tables-filter" data-bind-to="dataset-filter">
				<div class="form-group">
					<fieldset class="legend-brdr-bttm">
						<legend><span class="field-name">Pour</span></legend>
						<ul class="list-unstyled">
							<li class="checkbox gc-chckbxrdio">
								<input type="checkbox" id="dt_audience1" value="">
								<label for="dt_audience1">Tous</label>
							</li>
							<li class="checkbox gc-chckbxrdio">
								<input type="checkbox" id="dt_audience2" value="">
								<label for="dt_audience2">Gouvernement</label>
							</li>
						</ul>
					</fieldset>
				</div>
			</form>
		</details>
	</div>
	<div class="col-md-9">
		<table class="wb-tables table table-striped table-hover" id="dataset-filter" aria-live="polite">
			<thead>
				<tr>
					<th>Titre</th>
					<th>Date de publication</th>
					<th>Ministère</th>
					<th>Type de nouvelles</th>
					<th>Résumé</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Document d’information&nbsp;: Dix-sept projets d'infrastructure prévus ...</td>
					<td>2016-07-26 14:07:00</td>
					<td>Infrastructure Canada</td>
					<td>Documents d’information</td>
					<td>The governments of Canada and ...</td>
				</tr>
				<tr>
					<td>Dix-sept projets d'infrastructure prévus ...</td>
					<td>2016-07-26 14:07:00</td>
					<td>Infrastructure Canada</td>
					<td>Communiqués de presse</td>
					<td>Providing community residents ...</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<details class="mrgn-tp-lg">
	<summary>Code</summary>
	<pre><code>&lt;h2&gt;&lt;span lang="en"&gt;Tickbox&lt;/span&gt; - éléments uniques avec étiquette explicite dans un &lt;/h2&gt;
&lt;div class="row"&gt;
	&lt;div class="col-md-3"&gt;
		&lt;h3 class="wb-inv"&gt;Options&lt;/h3&gt;
		&lt;details open&gt;
			&lt;summary&gt;
				&lt;h4 class="h5"&gt;Options&lt;/h4&gt;
			&lt;/summary&gt;
			&lt;p class="mrgn-tp-md"&gt;Utilisez les options ci-dessous pour modifier vos ...&lt;/p&gt;
			&lt;form class="wb-tables-filter" data-bind-to="dataset-filter"&gt;
				&lt;div class="form-group"&gt;
					&lt;fieldset class="legend-brdr-bttm"&gt;
						&lt;legend&gt;&lt;span class="field-name"&gt;Pour&lt;/span&gt;&lt;/legend&gt;
						&lt;ul class="list-unstyled"&gt;
							&lt;li class="checkbox gc-chckbxrdio"&gt;
								&lt;input type="checkbox" id="dt_audience1" value=""&gt;
								&lt;label for="dt_audience1"&gt;Tous&lt;/label&gt;
							&lt;/li&gt;
							&lt;li class="checkbox gc-chckbxrdio"&gt;
								&lt;input type="checkbox" id="dt_audience2" value=""&gt;
								&lt;label for="dt_audience2"&gt;Gouvernement&lt;/label&gt;
							&lt;/li&gt;
						&lt;/ul&gt;
					&lt;/fieldset&gt;
				&lt;/div&gt;
			&lt;/form&gt;
		&lt;/details&gt;
	&lt;/div&gt;
	&lt;div class="col-md-9"&gt;
		&lt;table class="wb-tables table table-striped table-hover" id="dataset-filter" aria-live="polite"&gt;
			&lt;thead&gt;
				&lt;tr&gt;
					&lt;th&gt;Titre&lt;/th&gt;
					&lt;th&gt;Date de publication&lt;/th&gt;
					&lt;th&gt;Ministère&lt;/th&gt;
					&lt;th&gt;Type de nouvelles&lt;/th&gt;
					&lt;th&gt;Résumé&lt;/th&gt;
				&lt;/tr&gt;
			&lt;/thead&gt;
			&lt;tbody&gt;
				&lt;tr&gt;
					&lt;td&gt;Document d’information&nbsp;: Dix-sept projets d'infrastructure prévus ...&lt;/td&gt;
					&lt;td&gt;2016-07-26 14:07:00&lt;/td&gt;
					&lt;td&gt;Infrastructure Canada&lt;/td&gt;
					&lt;td&gt;Documents d’information&lt;/td&gt;
					&lt;td&gt;The governments of Canada and ...&lt;/td&gt;
				&lt;/tr&gt;
				&lt;tr&gt;
					&lt;td&gt;Dix-sept projets d'infrastructure prévus ...&lt;/td&gt;
					&lt;td&gt;2016-07-26 14:07:00&lt;/td&gt;
					&lt;td&gt;Infrastructure Canada&lt;/td&gt;
					&lt;td&gt;Communiqués de presse&lt;/td&gt;
					&lt;td&gt;Providing community residents ...&lt;/td&gt;
				&lt;/tr&gt;
			&lt;/tbody&gt;
		&lt;/table&gt;
	&lt;/div&gt;
&lt;/div&gt;</code></pre>
</details>

<h2>Grands boutons radio avec étiquettes explicites</h2>
<fieldset class="gc-chckbxrdio">
	<legend>Quel est votre animal favori?&nbsp;:</legend>
	<ul class="list-unstyled lst-spcd-2">
		<li class="radio">
			<input type="radio" name="animal" id="animal-1">
			<label for="animal-1">Le chien</label>
		</li>
		<li class="radio">
			<input type="radio" name="animal" id="animal-2">
			<label for="animal-2">Le chat</label>
		</li>
		<li class="radio">
			<input type="radio" name="animal" id="animal-3">
			<label for="animal-3">Le rat</label>
		</li>
	</ul>
</fieldset>
<details class="mrgn-tp-lg">
	<summary>Code</summary>
	<pre><code>&lt;h2&gt;Grands boutons radio avec étiquettes explicites&lt;/h2&gt;
&lt;fieldset class=&quot;gc-chckbxrdio&quot;&gt;
	&lt;legend&gt;Quel est votre animal favori?&amp;nbsp;:&lt;/legend&gt;
	&lt;ul class=&quot;list-unstyled lst-spcd-2&quot;&gt;
		&lt;li class=&quot;radio&quot;&gt;
			&lt;input type=&quot;radio&quot; name=&quot;animal&quot; id=&quot;animal-1&quot;&gt;
			&lt;label for=&quot;animal-1&quot;&gt;Le chien&lt;/label&gt;
		&lt;/li&gt;
		&lt;li class=&quot;radio&quot;&gt;
			&lt;input type=&quot;radio&quot; name=&quot;animal&quot; id=&quot;animal-2&quot;&gt;
			&lt;label for=&quot;animal-2&quot;&gt;Le chat&lt;/label&gt;
		&lt;/li&gt;
		&lt;li class=&quot;radio&quot;&gt;
			&lt;input type=&quot;radio&quot; name=&quot;animal&quot; id=&quot;animal-3&quot;&gt;
			&lt;label for=&quot;animal-3&quot;&gt;Le rat&lt;/label&gt;
		&lt;/li&gt;
	&lt;/ul&gt;
&lt;/fieldset&gt;</code></pre>
</details>

<h2>Avec étiquettes explicites dans un formulaire horizontal</h2>
<section>
	<h3>Grands boutons radio</h3>
	<fieldset class="gc-chckbxrdio form-inline">
		<legend>Veuillez choisir une option&nbsp;:</legend>
		<div class="radio label-inline">
			<input id="inlineRadio1" type="radio" name="optradio">
			<label for="inlineRadio1">Option 1</label>
		</div>
		<div class="radio label-inline">
			<input id="inlineRadio2" type="radio" name="optradio">
			<label for="inlineRadio2">Option 2</label>
		</div>
		<div class="radio label-inline">
			<input id="inlineRadio3" type="radio" name="optradio">
			<label for="inlineRadio3">Option 3</label>
		</div>
	</fieldset>
</section>
<section>
	<h3>Grandes cases à cocher</h3>
	<fieldset class="gc-chckbxrdio form-inline">
		<legend>Choisissez vos condiments&nbsp;:</legend>
		<div class="checkbox label-inline">
			<input id="inlineCheckbox1" type="checkbox" name="optcheckbox">
			<label for="inlineCheckbox1">Ketchup</label>
		</div>
		<div class="checkbox label-inline">
			<input id="inlineCheckbox2" type="checkbox" name="optcheckbox">
			<label for="inlineCheckbox2">Relish</label>
		</div>
		<div class="checkbox label-inline">
			<input id="inlineCheckbox3" type="checkbox" name="optcheckbox">
			<label for="inlineCheckbox3">Moutarde</label>
		</div>
	</fieldset>
</section>
<details class="mrgn-tp-lg">
	<summary>Code</summary>
	<pre><code>&lt;h2&gt;Avec étiquettes explicites dans un formulaire horizontal&lt;/h2&gt;
&lt;section&gt;
	&lt;h3&gt;Grands boutons radio&lt;/h3&gt;
	&lt;fieldset class=&quot;gc-chckbxrdio form-inline&quot;&gt;
		&lt;legend&gt;Veuillez choisir une option&amp;nbsp;:&lt;/legend&gt;
		&lt;div class=&quot;radio label-inline&quot;&gt;
			&lt;input id=&quot;inlineRadio1&quot; type=&quot;radio&quot; name=&quot;optradio&quot;&gt;
			&lt;label for=&quot;inlineRadio1&quot;&gt;Option 1&lt;/label&gt;
		&lt;/div&gt;
		&lt;div class=&quot;radio label-inline&quot;&gt;
			&lt;input id=&quot;inlineRadio2&quot; type=&quot;radio&quot; name=&quot;optradio&quot;&gt;
			&lt;label for=&quot;inlineRadio2&quot;&gt;Option 2&lt;/label&gt;
		&lt;/div&gt;
		&lt;div class=&quot;radio label-inline&quot;&gt;
			&lt;input id=&quot;inlineRadio3&quot; type=&quot;radio&quot; name=&quot;optradio&quot;&gt;
			&lt;label for=&quot;inlineRadio3&quot;&gt;Option 3&lt;/label&gt;
		&lt;/div&gt;
	&lt;/fieldset&gt;
&lt;/section&gt;
&lt;section&gt;
	&lt;h3&gt;Grandes cases à cocher&lt;/h3&gt;
	&lt;fieldset class=&quot;gc-chckbxrdio form-inline&quot;&gt;
		&lt;legend&gt;Choisissez vos condiments&amp;nbsp;:&lt;/legend&gt;
		&lt;div class=&quot;checkbox label-inline&quot;&gt;
			&lt;input id=&quot;inlineCheckbox1&quot; type=&quot;checkbox&quot; name=&quot;optcheckbox&quot;&gt;
			&lt;label for=&quot;inlineCheckbox1&quot;&gt;Ketchup&lt;/label&gt;
		&lt;/div&gt;
		&lt;div class=&quot;checkbox label-inline&quot;&gt;
			&lt;input id=&quot;inlineCheckbox2&quot; type=&quot;checkbox&quot; name=&quot;optcheckbox&quot;&gt;
			&lt;label for=&quot;inlineCheckbox2&quot;&gt;Relish&lt;/label&gt;
		&lt;/div&gt;
		&lt;div class=&quot;checkbox label-inline&quot;&gt;
			&lt;input id=&quot;inlineCheckbox3&quot; type=&quot;checkbox&quot; name=&quot;optcheckbox&quot;&gt;
			&lt;label for=&quot;inlineCheckbox3&quot;&gt;Moutarde&lt;/label&gt;
		&lt;/div&gt;
	&lt;/fieldset&gt;
&lt;/section&gt;</code></pre>
</details>
