// Scss Document
@mixin journeyGeneric($themeName, $primaryColor, $secondaryColor) {
	h1#wb-cont.#{$themeName} {
		border-bottom: .18em solid $primaryColor;
		border-image: linear-gradient(to right,$primaryColor 71px,transparent 71px);
		border-image-slice: 1
	}
	
	.text-#{$themeName} {
    	color: $primaryColor;
	}
	
	.bg-#{$themeName} {
		background-color: $primaryColor;
		color: #fff;
	}
	
	.bg-#{$themeName}-light {
		background-color: $secondaryColor;
	}

	.cards {
		padding: 20px;
		box-shadow: 0px 2px 3px 0px #cccccc;
		border-radius: 10px;
	}
}

@mixin journeyButtons($themeName, $primaryColor, $secondaryColor) {
	.btn-#{$themeName}.btn-primary,.#{$themeName}.wb-steps.quiz .btn-primary {
    	background-color: $primaryColor
	}

	.btn-#{$themeName}.btn-primary:active,.btn-#{$themeName}.btn-primary:focus,.btn-#{$themeName}.btn-primary:hover,.#{$themeName}.wb-steps.quiz .btn-primary:active,.#{$themeName}.wb-steps.quiz .btn-primary:focus,.#{$themeName}.wb-steps.quiz .btn-primary:hover {
		background-color: $secondaryColor;
		color: $primaryColor
	}

	.btn-#{$themeName}.btn-default,.#{$themeName}.wb-steps.quiz .btn-default {
		background-color: #fff;
		border-color: $primaryColor;
		color: $primaryColor
	}

	.btn-#{$themeName}.btn-default:active,.btn-#{$themeName}.btn-default:focus,.btn-#{$themeName}.btn-default:hover,.#{$themeName}.wb-steps.quiz .btn-default:active,.#{$themeName}.wb-steps.quiz .btn-default:focus,.#{$themeName}.wb-steps.quiz .btn-default:hover {
		background-color: $secondaryColor;
		border-color: $primaryColor;
		color: $primaryColor
	}
}

@mixin journeyComponents($themeName, $primaryColor, $secondaryColor) {
	.cards.dark-hover:hover {
		background-color: $primaryColor;
		color: white;
	}
	
	.cards.dark-hover:hover a {
		background-color: $primaryColor;
		color: white;
	}
	
	.cards.light-hover:hover {
		background-color: $secondaryColor;
		color: black;
	}
	
	.cards.light-hover:hover a {
		color: black;
	}

	&.wb-steps.quiz progress {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		border: $primaryColor solid 1px;
		background-color: #777;
		color: $secondaryColor
	}

	&.wb-steps.quiz progress::-webkit-progress-bar {
		background-color: #777
	}

	&.wb-steps.quiz progress::-webkit-progress-value {
		background-color: $secondaryColor
	}

	&.wb-steps.quiz progress::-moz-progress-bar {
		background-color: $secondaryColor
	}

	&.wb-steps.quiz .gc-chckbxrdio input[type=radio]:checked+label::before {
		background: $primaryColor
	}

	&.wb-steps.quiz .gc-chckbxrdio input[type=checkbox]:checked+label::after {
		border-color: $primaryColor
	}

	&.provisional.wb-steps.quiz .wb-tggle-fildst>legend.wb-steps-active {
		color: $primaryColor
	}
}

@media print {
    .printable-checklist details[open] > summary::marker {
        content: "\2B1C\0020";
        display: none;
    }
}

/*
	Set Thematic colours
*/
$themeName: 'vitality';
$themePrimaryColor: #1b6c1c;
$themeSecondaryColor: #d8eeca;

@include journeyGeneric($themeName, $themePrimaryColor, $themeSecondaryColor);
@include journeyButtons($themeName, $themePrimaryColor, $themeSecondaryColor);

.#{$themeName} {
	@include journeyComponents($themeName, $themePrimaryColor, $themeSecondaryColor);
}
