@charset "UTF-8";

@media print {

  .printable-checklist details[open] > summary::marker {

    content: "\2B1C\0020";

    display: none;

  }

}

/*

            Set Thematic colours

*/

h1#wb-cont.vitality {

  border-bottom: 0.18em solid #1b6c1c;

  border-image: linear-gradient(to right, #1b6c1c 71px, transparent 71px);

  border-image-slice: 1;

}

.text-vitality {

  color: #1b6c1c;

}

.bg-vitality {

  background-color: #1b6c1c;

  color: #fff;

}

.bg-vitality-light {

  background-color: #d8eeca;

}

.cards {

  padding: 20px;

  box-shadow: 0px 2px 3px 0px #cccccc;

  border-radius: 10px;

}

.btn-vitality.btn-primary, .vitality.wb-steps.quiz .btn-primary {

  background-color: #1b6c1c;

}

.btn-vitality.btn-primary:active, .btn-vitality.btn-primary:focus, .btn-vitality.btn-primary:hover, .vitality.wb-steps.quiz .btn-primary:active, .vitality.wb-steps.quiz .btn-primary:focus, .vitality.wb-steps.quiz .btn-primary:hover {

  background-color: #d8eeca;

  color: #1b6c1c;

}

.btn-vitality.btn-default, .vitality.wb-steps.quiz .btn-default {

  background-color: #fff;

  border-color: #1b6c1c;

  color: #1b6c1c;

}

.btn-vitality.btn-default:active, .btn-vitality.btn-default:focus, .btn-vitality.btn-default:hover, .vitality.wb-steps.quiz .btn-default:active, .vitality.wb-steps.quiz .btn-default:focus, .vitality.wb-steps.quiz .btn-default:hover {

  background-color: #d8eeca;

  border-color: #1b6c1c;

  color: #1b6c1c;

}

.vitality .cards.dark-hover:hover {

  background-color: #1b6c1c;

  color: white;

}

.vitality .cards.dark-hover:hover a {

  background-color: #1b6c1c;

  color: white;

}

.vitality .cards.light-hover:hover {

  background-color: #d8eeca;

  color: black;

}

.vitality .cards.light-hover:hover a {

  color: black;

}

.vitality.wb-steps.quiz progress {

  -webkit-appearance: none;

  -moz-appearance: none;

  appearance: none;

  border: #1b6c1c solid 1px;

  background-color: #777;

  color: #d8eeca;

}

.vitality.wb-steps.quiz progress::-webkit-progress-bar {

  background-color: #777;

}

.vitality.wb-steps.quiz progress::-webkit-progress-value {

  background-color: #d8eeca;

}

.vitality.wb-steps.quiz progress::-moz-progress-bar {

  background-color: #d8eeca;

}

.vitality.wb-steps.quiz .gc-chckbxrdio input[type=radio]:checked + label::before {

  background: #1b6c1c;

}

.vitality.wb-steps.quiz .gc-chckbxrdio input[type=checkbox]:checked + label::after {

  border-color: #1b6c1c;

}

.vitality.provisional.wb-steps.quiz .wb-tggle-fildst > legend.wb-steps-active {

  color: #1b6c1c;

}
