//	Vitality thematic
@use "../th-journeylab/journeylab.scss";

$themeName: 'vitality';
$themePrimaryColor: #1b6c1c;
$themeSecondaryColor: #d8eeca;

@include journeyGeneric($themeName, $themePrimaryColor, $themeSecondaryColor);
@include journeyButtons($themeName, $themePrimaryColor, $themeSecondaryColor);

.#{$themeName} {
	@include journeyComponents($themeName, #themePrimaryColor, #themeSecondaryColor);
}
