---
{
	"title": "[Sujet - Navigation locale]",
	"language": "fr",
	"altLangPrefix": "index",
	"pageclass": "secondary",
	"breadcrumb": [
		{ "title": "Accueil", "link": "http://www.canada.ca/fr/index.html" },
		{ "title": "[Theme Name]", "link": "index-en.html" }
	],
	"dateModified": "2016-01-12",
	"share": "true",
	"deptfeature": true,
	"pagetag": "Cette page de sujet comporte des liens vers des pages de destination qui ont une navigation locale. Cliquez sur une tâche pour voir un exemple. Normalement, cette situation devrait arriver sur des pages de sujet de plus bas niveau."
}
---
<div class="row profile">
	<div class="col-md-6">
		<h1 property="name" id="wb-cont">{{{title}}}</h1>
		<p class="pagetag">{{pagetag}}</p>
		{{>follow}}
	</div>
	<div class="col-md-6 margin-top-small hidden-sm hidden-xs">
		<img src="{{assets}}/img/520x200.png" alt="" class="pull-right img-responsive thumbnail"/>
	</div>
</div>
<div class="row">
	<div class="col-md-4 mrgn-tp-lg pull-right">
		{{>most-requested}}
	</div>
	<section class="col-md-8 pull-left mrgn-bttm-lg">
		<h2>Services et renseignements</h2>
		<div class="row">
			<section class="col-md-6">
				<h3 class="h5"><a href="./task1/index-fr.html">[Tâche 1]</a></h3>
				<p>Résumé des renseignements disponibles ou des tâches pouvant être accomplies sur la page. Supprimez les longs libellés et les messages promotionnels. Utilisez une formulation basée sur l'action.</p>
			</section>
			<section class="col-md-6">
				<h3 class="h5"><a href="./task2/index-fr.html">[Tâche 2]</a></h3>
				<p>Résumé des renseignements disponibles ou des tâches pouvant être accomplies sur la page. Supprimez les longs libellés et les messages promotionnels. Utilisez une formulation basée sur l'action.</p>
			</section>
			<div class="clearfix"></div>
			<section class="col-md-6">
				<h3 class="h5"><a href="./task3/index-fr.html">[Tâche 3]</a></h3>
				<p>Résumé des renseignements disponibles ou des tâches pouvant être accomplies sur la page. Supprimez les longs libellés et les messages promotionnels. Utilisez une formulation basée sur l'action.</p>
			</section>
			<section class="col-md-6">
				<h3 class="h5"><a href="./task4/index-fr.html">[Tâche 4]</a></h3>
				<p>Résumé des renseignements disponibles ou des tâches pouvant être accomplies sur la page. Supprimez les longs libellés et les messages promotionnels. Utilisez une formulation basée sur l'action.</p>
			</section>
			<div class="clearfix"></div>
		</div>
	</section>
	<div class="clr-rght-md clr-rght-lg"></div>
	<div class="pull-right col-md-4">
		{{>supported-by}}
		{{>more-info}}
	</div>
</div>
<section>
	<h2>Ce que nous faisons</h2>
	<div class="row wb-eqht">
		<section class="col-lg-4 col-md-6">
			{{>law-regulations}}
		</section>
		<section class="col-lg-4 col-md-6">
			{{>publications}}
		</section>
		<section class="col-lg-4 col-md-6">
			{{>consultations}}
		</section>
		<section class="col-lg-4 col-md-6">
			{{>open-data}}
		</section>
		<section class="col-lg-4 col-md-6">
			{{>statistics}}
		</section>
	</div>
</section>
