---
{
	"title": "[Nom du service] - 2. [Nom de la page de la section ou de l’étape]",
	"secondTitle": "2. [Nom de la page de la section ou de l’étape]",
	"language": "fr",
	"altLangPage": "page2-en.html",
	"overwriteBreadcrumbs": true,
	"breadcrumbs": [
		{ "title": "[Nom du sujet]", "link": "templates/theme-topic/theme-topic-fr.html" },
		{ "title": "[Nom du service]", "link": "templates/advancedservice/index-fr.html" }
	],
	"secondlevel": false,
	"dateModified": "2017-04-07",
	"share": "true",
	"previous": {
		"title": "1. [Nom de la page de la section ou de l’étape]",
		"link": "index-fr.html"
	},
	"next": {
		"title": "3. [Nom de la page de la section ou de l’étape]",
		"link": "page3-fr.html"
	},
	"steps": [
		{ "name": "1. [Nom de la page de la section ou de l’étape]", "link": "index-fr.html" },
		{ "name": "2. [Nom de la page de la section ou de l’étape]", "isActive": true },
		{ "name": "3. [Nom de la page de la section ou de l’étape]", "link": "page3-fr.html" },
		{ "name": "4. [Nom de la page de la section ou de l’étape]", "link": "page4-fr.html" },
		{ "name": "5. [Nom de la page de la section ou de l’étape]", "link": "page5-fr.html" },
		{ "name": "6. [Nom de la page de la section ou de l’étape]", "link": "page6-fr.html" }
	]
}
---
<p class="gc-byline"><strong>De <a href="../institutional/institution-fr.html">[nom de l'institution]</a></strong></p>

{%- include gc-stp-stp/gc-stp-stp.html -%}

<div class="row">
	<section class="col-md-8">
		<h2>{{page.secondTitle}}</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et a adipisci nostrum optio dolorum sint ipsa facilis nisi quisquam laboriosam.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium odio adipisci ad neque distinctio quod molestias, molestiae accusamus quo aspernatur expedita blanditiis quam! Esse cum modi atque, beatae aliquam, dolor.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem aliquid hic numquam obcaecati ea, laborum accusamus culpa atque voluptate distinctio et omnis! Alias, beatae, tenetur.</p>
		<section>
		<h3>[Sous-titre]</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti cupiditate voluptatem praesentium, facilis corporis magni esse reiciendis distinctio. Vitae totam iste porro, esse facere obcaecati? Laborum earum minus harum enim.</p>
		</section>
		<section>
		<h3>[Sous-titre]</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa hic minima magni nesciunt nam. Facilis perferendis, adipisci voluptates, enim illo perspiciatis molestias itaque iste qui distinctio asperiores quidem voluptatum sunt.</p>
		</section>
		<nav role="navigation" class="row">
			<h3 class="wb-inv">Navigation dans le document</h3>
			<ul class="pager">
				<li class="previous"><a href="{{page.previous.link}}" rel="prev">Précédent<span class="wb-inv"> : {{page.previous.title}}</span></a></li>
				<li class="next"><a href="{{page.next.link}}" rel="next">Suivant<span class="wb-inv"> : {{page.next.title}}</span></a></li>
			</ul>
		</nav>
	</section>
	<div class="col-md-4">
		{% include_relative samples/service-side-panel-fr.html %}
	</div>
</div>
