/*
 *
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 *
 * @title: Home page exclusive style
 *
 */


// Exclusive home page style
.home {

	h1 {
		border-bottom-width: 4px;
		font-weight: 500;
		margin-top: 10px;
	}

	h2 {
		font-size: 1.2em;
	}

	/*
	 * GCWeb menu
	 */
	#wb-bnr + hr {
		border-top: 1px solid #ddd;
		color: #284162;
		margin-left: 0px;
	}

	// This block is to only support GCWeb menu version 1
	#wb-bnr + .gcweb-menu {
		border-top: 1px solid #ddd;
		color: #284162;
		margin-left: 0px;

		.container {
			padding: 0px;
		}
	}

	// Sign in button on homepage
	#wb-so .btn {
		margin-top: 3px;
	}

	/* Home page banner
	 *
	 * Reference in:
	 * - components/_screen-xxs-max
	 * - components/_screen-xs-min-to-screen-xs-max
	 * - components/_screen-md-min-to-screen-md-max
	 * - components/_screen-md-max
	 * - components/_screen-lg-min
	 */
	.header-rwd {
		margin: 2em 0px;
	}


	/* Home page Most requested section
	 *
	 * Reference in:
	 * - views/_screen-sm-max
	 */
	.home-most-requested {
		li {
			@include defaults-alternative-font-family();
			font-size: 17px;
			font-weight: $bold-weight;
			line-height: 26px;
			margin-top: 0px;
		}
	}

	/* Home page your gov
	 *
	 * Reference in:
	 * - views/_screen-sm-max
	 */
	.home-your-gov {
		background-image: url(https://www.canada.ca/content/dam/canada/carousel/bkg-home-yourgov.jpg), url(../assets/bkg-home-yourgov.jpg);
		background-position: right center;
		background-repeat: no-repeat;
		background-size: 38%;
	}
}
