/*
  WET-BOEW
  @title: Search medium view and over (screen only)
 */

.home .home-your-gov {
	background-image: url(https://www.canada.ca/content/dam/canada/carousel/bkg-home-yourgov-md.jpg), url(../assets/bkg-home-yourgov-md.jpg);
}
