/*
  WET-BOEW
  @title: Small view and under (screen only)
  @desc:  Variable $screen-sm-max <= 991 px
 */

.home {
	h2 {
		font-size: 26px;
	}

	.home-most-requested {
		li {
			font-size: 19px;
		}
	}

	.home-your-gov {
		background-image: none;
	}
}
