---
{
	"title": "Home page - Meta information",
	"language": "fr",
	"altLangPrefix": "en",
	"altLangPage": "api-en.html",
	"breadcrumb": [
		{ "title": "GCWeb home", "link": "../index-fr.html" }
	],
	"secondlevel": false,
	"dateModified": "2024-09-16",
	"share": "true"
}
---

<div class="wb-prettify all-pre hide"></div>

<p>Cette page n'est pas traduite.</p>
<div lang="en">
	<dl class="horizontal">
		<dt>Status</dt>
		<dd>Stable for GCWeb V5</dd>

		<dt>Type</dt>
		<dd>Template <!-- Common design patter --></dd>

		<dt>Last review</dt>
		<dd>2022-07-07</dd>

		<dt>Conforming to</dt>
		<dd>Going to be: Content and IA spec 2.0</dd>

		<dt>Specification</dt>
		<dd><a href="https://design.canada.ca/mandatory-templates/home-page.html">Home page for Canada.ca</a>

		<dt>Available instances</dt>
		<dd><a href="https://www.canada.ca/en.html" title="Canada.ca Home Page">https://www.canada.ca/en.html</a></dd>
		<dd><a href="https://www.canada.ca/fr.html" title="Page d'accueil Canada.ca">https://www.canada.ca/fr.html</a></dd>
	</dl>

	<h2>Technical specification</h2>

	<h3>Component list and latest version</h3>
	<ul>
		<li><a href="#home-page-menu">Home page menu - Version 3.0</a></li>
		<li><a href="#home-page-header">Home page header - Version 3.0</a></li>
		<li><a href="#home-page-banner">Home page banner - Version 2.2</a></li>
		<li><a href="#promotional-banner">Promotional banner - Version 2.0</a></li>
		<li>Most requested - Version 1.0</li>
		<li><a href="#services-information">Home page service and information - Version 2.0</a></li>
		<li>Focus on - Version 1.0</li>
		<li><a href="#your-government">Your government - Version 2.0</a></li>
		<li><a href="#government-initiatives">Government initiatives - Version 2.0</a></li>
	</ul>

	<h3 id="home-page-menu">Home page menu</h3>
	<dl>
		<dt>Version</dt>
		<dd>3.0</dd>
		<dt>Updated</dt>
		<dd>2022-06-29</dd>
	</dl>

	<p>The grid for authenticated version of the menu bar in the homepage was updated.</p>

	<h4>Previous version</h4>

	<p><a href="deprecated/home-v2.html">Home page - Version 2.0</a></p>

	<h3 id="home-page-header">Home page header</h3>
	<dl>
		<dt>Version</dt>
		<dd>3.0</dd>
		<dt>Updated</dt>
		<dd>2022-09-10</dd>
	</dl>

	<p>This version requires the implementation of the <a href="../gcweb-menu/gcweb-menu-docs-en.html">gcweb-menu version 2.0</a> where the <code>&lt;div class="container"&gt;</code> has been relocated in the header so outside the "gcweb-menu" component.</p>

	<p>Refer to the <a href="/GCWeb/sites/header/header-docs-en.html">header documentation in GCWeb</a> for the expected output code.</p>

	<h4>List of changes</h4>
	<ul>
		<li>Relocation of the container element from outside the "gcweb-menu" component to wrap the Site menu and the Breadcrumbs.</li>
		<li>Addition of an <code>&lt;hr&gt;</code> element between the two containers in the header in replacement of the the border-top attribute from <code>.gcweb-menu</code> css class.</li>
	</ul>

	<h4>Previous versions</h4>
	<ul>
		<li><a href="/GCWeb/sites/header/deprecated/header-v2.html">Header - Version 2.0</a></li>
		<li><a href="/GCWeb/sites/header/deprecated/header-v1.html">Header  - Version 1.0</a></li>
	</ul>

	<h3 id="home-page-banner">Home page banner</h3>
	<dl>
		<dt>Version</dt>
		<dd>2.2</dd>
		<dt>Updated</dt>
		<dd>2024-05-30</dd>
	</dl>

	<h4>Latest version changes</h4>
	<p>The top and bottom margins of the class <code>.header-rwd</code> have been reduced by <code>1em</code> to reach a reduction of 20 pixels.</p>

	<h4>Previous version</h4>
	<details>
		<summary>Version 2.1 - 2024-05-23</summary>
		<p>The spacing above and below the banner text block is removed on xs and xxs breakpoints.</p>
	</details>
	<details>
		<summary>Version 2.0 - 2019-05-09</summary>
		<p>The background image is loaded with the provisional plugin bgimg which set the background image. The background image is hosted in the WMS at this location. <code>https://www.canada.ca/content/dam/canada/carousel/bkg-home-banner.jpg</code>.</p>
		<p>The intent is to publish a background image that represents natural Canadian landscapes and may get updated monthly or seasonally.</p>
	</details>
	<details>
		<summary>Version 1.0 - 2018-12-27</summary>
		<p>The default background is gray (#eee) without image. The background image is hosted in the WMS at this location. <code>https://www.canada.ca/content/dam/canada/carousel/bkg-home-banner.jpg</code>.</p>
		<p>The intent is to publish a background image that represents natural Canadian landscapes and may get updated monthly or seasonally.</p>
	</details>

	<h3 id="promotional-banner">Promotional banner</h3>
	<p>The promotional banner are over, at the bottom, of the home page banner background image.</p>
	<dl>
		<dt>Version</dt>
		<dd>2.0</dd>
		<dt>Updated</dt>
		<dd>2019-05-09</dd>
		<dt>Notes</dt>
		<dd>Provisional color was removed.</dd>
	</dl>
	<pre><code>&lt;div class="bg-cover" data-bgimg="https://www.canada.ca/content/dam/canada/carousel/bkg-home-banner.jpg"&gt;
		&lt;div class="container p-0 p-sm-3"&gt;
			&lt;div class="well header-rwd brdr-0 brdr-rds-0 text-white bg-gctheme"&gt;
				&lt;h1 property="name" id="wb-cont"&gt;Canada.ca&lt;/h1&gt;
				&lt;p class="mrgn-tp-md"&gt;The official website of the Government of Canada&lt;/p&gt;
			&lt;/div&gt;
		&lt;/div&gt;
		&lt;div class="bg-gctheme opct-90"&gt;
			&lt;div class="container"&gt;
				&lt;a class="figcaption text-white" href="#"&gt;
					&lt;figure class="clearfix"&gt;
						&lt;div&gt;&lt;p class="pull-left mrgn-tp-md mrgn-bttm-md"&gt;Featured:&lt;/p&gt;&lt;/div&gt;
						&lt;figcaption class="pull-left mrgn-tp-md mrgn-bttm-md"&gt;[Promotion title]&lt;/figcaption&gt;
					&lt;/figure&gt;
				&lt;/a&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
	</code></pre>

	<h3 id="services-information">Home page services and information</h3>
	<dl>
		<dt>Version</dt>
		<dd>2.0</dd>
		<dt>Updated</dt>
		<dd>2024-10-22</dd>
		<dt>Notes</dt>
		<dd>Services now limited to 9 with "All services" link.</dd>
	</dl>
	<pre><code>&lt;section class="gc-srvinfo">
	&lt;div class="container">
		&lt;h2 class="wb-inv">Services and information&lt;/h2>
		&lt;div class="wb-eqht row">
			&lt;div class="col-lg-4 col-md-6">
				&lt;h3>&lt;a href="https://www.canada.ca/en/services/jobs.html">Jobs&lt;/a>&lt;/h3>
				&lt;p>Find a job, training, hiring programs, work permits, Social Insurance Number (SIN)&lt;/p>
			&lt;/div>
			&lt;div class="col-lg-4 col-md-6">
				&lt;h3>&lt;a href="https://www.canada.ca/en/services/immigration-citizenship.html">Immigration and citizenship&lt;/a>&lt;/h3>
				&lt;p>Visit, work, study, immigrate, refugees, permanant residents, apply, check status&lt;/p>
			&lt;/div>
			&lt;div class="col-lg-4 col-md-6">
				&lt;h3>&lt;a href="https://travel.gc.ca">Travel and tourism&lt;/a>&lt;/h3>
				&lt;p>In Canada or abroad, advice, advisories, passports, visit Canada, events, attractions&lt;/p>
			&lt;/div>
			&lt;div class="col-lg-4 col-md-6">
				&lt;h3>&lt;a href="https://www.canada.ca/en/services/business.html">Business and industry&lt;/a>&lt;/h3>
				&lt;p>Starting a business, permits, copyright, business support, selling to government&lt;/p>
			&lt;/div>
			&lt;div class="col-lg-4 col-md-6">
				&lt;h3>&lt;a href="https://www.canada.ca/en/services/benefits.html">Benefits&lt;/a>&lt;/h3>
				&lt;p>EI, family and sickness leave, pensions, housing, student aid, disabilities&lt;/p>
			&lt;/div>
			&lt;div class="col-lg-4 col-md-6">
				&lt;h3>&lt;a href="https://www.canada.ca/en/services/taxes.html">Taxes&lt;/a>&lt;/h3>
				&lt;p>Income tax, payroll, GST/HST,  contribution limits, tax credits, charities&lt;/p>
			&lt;/div>
			&lt;div class="col-lg-4 col-md-6">
				&lt;h3>&lt;a href="https://www.canada.ca/en/services/health.html">Health&lt;/a>&lt;/h3>
				&lt;p>Food, nutrition, diseases, vaccines, drugs, product safety and recalls&lt;/p>
			&lt;/div>
			&lt;div class="col-lg-4 col-md-6">
				&lt;h3>&lt;a href="https://www.canada.ca/en/services/environment.html">Environment and natural resources&lt;/a>&lt;/h3>
				&lt;p>Weather, climate, agriculture, wildlife, pollution, conservation, fisheries&lt;/p>
			&lt;/div>
			&lt;div class="col-lg-4 col-md-6">
				&lt;h3>&lt;a href="https://www.canada.ca/en/services/finance.html">Money and finances&lt;/a>&lt;/h3>
				&lt;p>Personal finance, credit reports, fraud protection, paying for education&lt;/p>
			&lt;/div>
		&lt;/div>
		&lt;p>
			&lt;a class="btn btn-all-services" href="https://www.canada.ca/en/services.html">All services&lt;/a>
		&lt;/p>
	&lt;/div>
&lt;/section></code></pre>

	<h4>Previous version</h4>
	<details>
		<summary>Version 1.0</summary>
		<pre><code>&lt;section class="gc-srvinfo container">
	&lt;h2 class="wb-inv">Services and information&lt;/h2>
	&lt;div class="wb-eqht row">
		&lt;div class="col-lg-4 col-md-6">
			&lt;h3>&lt;a href="https://www.canada.ca/en/services/jobs.html">Jobs&lt;/a>&lt;/h3>
			&lt;p>Find a job, training, hiring programs, work permits, Social Insurance Number (SIN)&lt;/p>
		&lt;/div>
		&lt;div class="col-lg-4 col-md-6">
			&lt;h3>&lt;a href="https://www.canada.ca/en/services/immigration-citizenship.html">Immigration and citizenship&lt;/a>&lt;/h3>
			&lt;p>Visit, work, study, immigrate, refugees, permanant residents, apply, check status&lt;/p>
		&lt;/div>

		&lt;div class="col-lg-4 col-md-6">
			&lt;h3>&lt;a href="https://travel.gc.ca">Travel and tourism&lt;/a>&lt;/h3>
			&lt;p>In Canada or abroad, advice, advisories, passports, visit Canada, events, attractions&lt;/p>
		&lt;/div>
		&lt;div class="col-lg-4 col-md-6">
			&lt;h3>&lt;a href="https://www.canada.ca/en/services/business.html">Business and industry&lt;/a>&lt;/h3>
			&lt;p>Starting a business, permits, copyright, business support, selling to government&lt;/p>
		&lt;/div>
		&lt;div class="col-lg-4 col-md-6">
			&lt;h3>&lt;a href="https://www.canada.ca/en/services/benefits.html">Benefits&lt;/a>&lt;/h3>
			&lt;p>EI, family and sickness leave, pensions, housing, student aid, disabilities&lt;/p>
		&lt;/div>
		&lt;div class="col-lg-4 col-md-6">
			&lt;h3>&lt;a href="https://www.canada.ca/en/services/health.html">Health&lt;/a>&lt;/h3>
			&lt;p>Food, nutrition, diseases, vaccines, drugs, product safety and recalls&lt;/p>
		&lt;/div>
		&lt;div class="col-lg-4 col-md-6">
			&lt;h3>&lt;a href="https://www.canada.ca/en/services/taxes.html">Taxes&lt;/a>&lt;/h3>
			&lt;p>Income tax, payroll, GST/HST,  contribution limits, tax credits, charities&lt;/p>
		&lt;/div>
		&lt;div class="col-lg-4 col-md-6">
			&lt;h3>&lt;a href="https://www.canada.ca/en/services/environment.html">Environment and natural resources&lt;/a>&lt;/h3>
			&lt;p>Weather, climate, agriculture, wildlife, pollution, conservation, fisheries&lt;/p>
		&lt;/div>
		&lt;div class="col-lg-4 col-md-6">
			&lt;h3>&lt;a href="https://www.canada.ca/en/services/defence.html">National security and defence&lt;/a>&lt;/h3>
			&lt;p>Military, transportation and cyber security, securing the border, counter-terrorism&lt;/p>
		&lt;/div>
		&lt;div class="col-lg-4 col-md-6">
			&lt;h3>&lt;a href="https://www.canada.ca/en/services/culture.html">Culture, history and sport&lt;/a>&lt;/h3>
			&lt;p>Arts, media, heritage, official languages, national identity and funding&lt;/p>
		&lt;/div>
		&lt;div class="col-lg-4 col-md-6">
			&lt;h3>&lt;a href="https://www.canada.ca/en/services/policing.html">Policing, justice and emergencies&lt;/a>&lt;/h3>
			&lt;p>Safety, justice system, prepare for emergencies, services for victims of crime&lt;/p>
		&lt;/div>
		&lt;div class="col-lg-4 col-md-6">
			&lt;h3>&lt;a href="https://www.canada.ca/en/services/transport.html">Transport and infrastructure&lt;/a>&lt;/h3>
			&lt;p>Aviation, marine, road, rail, dangerous goods, infrastructure projects&lt;/p>
		&lt;/div>
		&lt;div class="col-lg-4 col-md-6">
			&lt;h3>&lt;a href="https://international.gc.ca/world-monde/index.aspx?lang=eng">Canada and the world&lt;/a>&lt;/h3>
			&lt;p>Foreign policy, trade agreements, development work, global issues&lt;/p>
		&lt;/div>
		&lt;div class="col-lg-4 col-md-6">
			&lt;h3>&lt;a href="https://www.canada.ca/en/services/finance.html">Money and finances&lt;/a>&lt;/h3>
			&lt;p>Personal finance, credit reports, fraud protection, paying for education&lt;/p>
		&lt;/div>
		&lt;div class="col-lg-4 col-md-6">
			&lt;h3>&lt;a href="https://www.canada.ca/en/services/science.html">Science and innovation&lt;/a>&lt;/h3>
			&lt;p>Scientific research on health, environment and space, grants and funding&lt;/p>
		&lt;/div>
	&lt;/div>
&lt;/section></code></pre>
	</details>

	<h4>Transition from version 1.0 to version 2.0</h4>
	<ul>
		<li>Remove the <code>container</code> class from the <code>&lt;section class="gc-srvinfo"></code> element.</li>
		<li>Wrap the content inside the <code>&lt;section class="gc-srvinfo"></code> element with a <code>&lt;div class="container"></code> element.</li>
		<li>Remove the following service and information elements:
			<ul>
				<li>National security and defence</li>
				<li>Culture, history and sport</li>
				<li>Policing, justice and emergencies</li>
				<li>Transport and infrastructure</li>
				<li>Canada and the world</li>
				<li>Science and innovation</li>
			</ul>
		</li>
		<li>Add the following paragraph right before the end of the <code>&lt;div class="container"></code>: <code>&lt;p>&lt;a class="btn btn-all-services" href="https://www.canada.ca/en/services.html">All services&lt;/a>&lt;/p></code></li>
	</ul>

	<h3 id="your-government">Your government</h3>
	<dl>
		<dt>Version</dt>
		<dd>2.0</dd>
		<dt>Updated</dt>
		<dd>2022-04-27</dd>
		<dt>Notes</dt>
		<dd>Links description was removed.</dd>
	</dl>
	<p>There are 8 links in this section presented in 2 columns.</p>
	<pre><code>&lt;section class="home-your-gov well well-bold well-sm brdr-0"&gt;
		&lt;div class="container"&gt;
			&lt;h2&gt;Your government&lt;/h2&gt;
			&lt;div class="row mrgn-bttm-lg"&gt;
				&lt;div class="col-lg-7 col-xs-12 col-md-6"&gt;
					&lt;ul class="row wb-eqht-grd list-unstyled small"&gt;
						&lt;li class="col-xs-12 col-sm-6 mrgn-tp-sm mrgn-bttm-sm"&gt;
							&lt;a href="https://www.canada.ca/en/contact.html"&gt;Contact us&lt;/a&gt;
						&lt;/li&gt;
						&lt;li class="col-xs-12 col-sm-6 mrgn-tp-sm mrgn-bttm-sm"&gt;
							&lt;a href="https://www.canada.ca/en/news.html"&gt;News&lt;/a&gt;
						&lt;/li&gt;
						&lt;li class="col-xs-12 col-sm-6 mrgn-tp-sm mrgn-bttm-sm"&gt;
							&lt;a href="https://pm.gc.ca/en"&gt;Prime Minister&lt;/a&gt;
						&lt;/li&gt;
						&lt;li class="col-xs-12 col-sm-6 mrgn-tp-sm mrgn-bttm-sm"&gt;
							&lt;a href="https://www.canada.ca/en/government/dept.html"&gt;Departments and agencies&lt;/a&gt;
						&lt;/li&gt;
						&lt;li class="col-xs-12 col-sm-6 mrgn-tp-sm mrgn-bttm-sm"&gt;
							&lt;a href="https://www.canada.ca/en/government/system.html"&gt;About government&lt;/a&gt;
						&lt;/li&gt;
						&lt;li class="col-xs-12 col-sm-6 mrgn-tp-sm mrgn-bttm-sm"&gt;
							&lt;a href="https://open.canada.ca/en"&gt;Open government and data&lt;/a&gt;
						&lt;/li&gt;
						&lt;li class="col-xs-12 col-sm-6 mrgn-tp-sm mrgn-bttm-sm"&gt;
							&lt;a href="https://www.canada.ca/en/government/publicservice.html"&gt;Working for the government&lt;/a&gt;
						&lt;/li&gt;
						&lt;li class="col-xs-12 col-sm-6 mrgn-tp-sm mrgn-bttm-sm"&gt;
							&lt;a href="https://www.canada.ca/en/government/system/laws.html"&gt;Treaties, laws and regulations&lt;/a&gt;
						&lt;/li&gt;
					&lt;/ul&gt;
				&lt;/div&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/section&gt;
	</code></pre>
	<h4>Previous version</h4>
	<details>
		<summary>Deprecated - Version 1.0</summary>
		<p>There were four links with descriptions.</p>
		<pre><code>&lt;section class="home-your-gov well well-sm brdr-0"&gt;
			&lt;div class="container"&gt;
				&lt;h2&gt;Your government&lt;/h2&gt;
				&lt;div class="row mrgn-bttm-md"&gt;
					&lt;div class="col-lg-7 col-xs-12 col-md-6"&gt;
						&lt;div class="wb-eqht row"&gt;
							&lt;div class="col-lg-6"&gt;
								&lt;h3&gt;&lt;a href="https://www.canada.ca/en/contact.html"&gt;Contact us&lt;/a&gt;&lt;/h3&gt;
								&lt;p&gt;Department and agency contacts, change your address&lt;/p&gt;
							&lt;/div&gt;
							&lt;div class="col-lg-6"&gt;
								&lt;h3&gt;&lt;a href="https://www.canada.ca/en/government/dept.html"&gt;Departments and agencies&lt;/a&gt;&lt;/h3&gt;
								&lt;p&gt;A list of current government and related organizations&lt;/p&gt;
							&lt;/div&gt;
							&lt;div class="col-lg-6"&gt;
								&lt;h3&gt;&lt;a href="https://www.canada.ca/en/government/system.html"&gt;How government works&lt;/a&gt;&lt;/h3&gt;
								&lt;p&gt;Government structure, priorities, finances and regulations&lt;/p&gt;
							&lt;/div&gt;
							&lt;div class="col-lg-6"&gt;
								&lt;h3&gt;&lt;a href="https://open.canada.ca/en"&gt;Open government&lt;/a&gt;&lt;/h3&gt;
								&lt;p&gt;Accessible government, open information and data, open dialogue&lt;/p&gt;
							&lt;/div&gt;
						&lt;/div&gt;
					&lt;/div&gt;
				&lt;/div&gt;
			&lt;/div&gt;
		&lt;/section&gt;</code></pre>
	</details>

	<h3 id="government-initiatives">Government initiatives</h3>
	<dl>
		<dt>Version</dt>
		<dd>2.0</dd>
		<dt>Updated</dt>
		<dd>2024-09-16</dd>
		<dt>Notes</dt>
		<dd>Two feature items have been added for a total of four feature items.</dd>
		<dd>Implementation of the randomized functionality on each feature items so different images along with their links and descriptions appear on each page load.</dd>
	</dl>
	<p>There are four feature items in this section presented as four tiles in 2 columns.</p>
	<pre><code>&lt;section class="container gc-features"&gt;
	&lt;h2&gt;Government initiatives&lt;/h2&gt;
	&lt;ul class="nojs-show">
		&lt;li>&lt;a href="#">[1. Feature hyperlink text]&lt;/a>&lt;/li>
		&lt;li>&lt;a href="#">[2. Feature hyperlink text]&lt;/a>&lt;/li>
		&lt;li>&lt;a href="#">[3. Feature hyperlink text]&lt;/a>&lt;/li>
		&lt;li>&lt;a href="#">[4. Feature hyperlink text]&lt;/a>&lt;/li>
		&lt;li>&lt;a href="#">[5. Feature hyperlink text]&lt;/a>&lt;/li>
		&lt;li>&lt;a href="#">[6. Feature hyperlink text]&lt;/a>&lt;/li>
		&lt;li>&lt;a href="#">[7. Feature hyperlink text]&lt;/a>&lt;/li>
		&lt;li>&lt;a href="#">[8. Feature hyperlink text]&lt;/a>&lt;/li>
	&lt;/ul>
	&lt;div class="row wb-eqht"&gt;
		&lt;div class="col-sm-6" data-wb-randomize='{ "toggle": "hide" }'&gt;
			&lt;section class="well well-sm eqht-trgt hide"&gt;
				&lt;img src="[image URL]" alt=""&gt;
				&lt;h3&gt;&lt;a class="stretched-link" href="#"&gt;[1. Feature hyperlink text]&lt;/a&gt;&lt;/h3&gt;
				&lt;p&gt;1. Brief description of the feature being promoted.&lt;/p&gt;
			&lt;/section&gt;
			&lt;section class="well well-sm eqht-trgt hide"&gt;
				&lt;img src="[image URL]" alt=""&gt;
				&lt;h3&gt;&lt;a class="stretched-link" href="#"&gt;[2. Feature hyperlink text]&lt;/a&gt;&lt;/h3&gt;
				&lt;p&gt;2. Brief description of the feature being promoted.&lt;/p&gt;
			&lt;/section&gt;
		&lt;/div&gt;
		&lt;div class="col-sm-6" data-wb-randomize='{ "toggle": "hide" }'&gt;
			&lt;section class="well well-sm eqht-trgt hide"&gt;
				&lt;img src="[image URL]" alt=""&gt;
				&lt;h3&gt;&lt;a class="stretched-link" href="#"&gt;[3. Feature hyperlink text]&lt;/a&gt;&lt;/h3&gt;
				&lt;p&gt;3. Brief description of the feature being promoted.&lt;/p&gt;
			&lt;/section&gt;
			&lt;section class="well well-sm eqht-trgt hide"&gt;
				&lt;img src="[image URL]" alt=""&gt;
				&lt;h3&gt;&lt;a class="stretched-link" href="#"&gt;[4. Feature hyperlink text]&lt;/a&gt;&lt;/h3&gt;
				&lt;p&gt;4. Brief description of the feature being promoted.&lt;/p&gt;
			&lt;/section&gt;
		&lt;/div&gt;
	&lt;/div&gt;
	&lt;div class="row wb-eqht"&gt;
		&lt;div class="col-sm-6" data-wb-randomize='{ "toggle": "hide" }'&gt;
			&lt;section class="well well-sm eqht-trgt hide"&gt;
				&lt;img src="[image URL]" alt=""&gt;
				&lt;h3&gt;&lt;a class="stretched-link" href="#"&gt;[5. Feature hyperlink text]&lt;/a&gt;&lt;/h3&gt;
				&lt;p&gt;5. Brief description of the feature being promoted.&lt;/p&gt;
			&lt;/section&gt;
			&lt;section class="well well-sm eqht-trgt hide"&gt;
				&lt;img src="[image URL]" alt=""&gt;
				&lt;h3&gt;&lt;a class="stretched-link" href="#"&gt;[6. Feature hyperlink text]&lt;/a&gt;&lt;/h3&gt;
				&lt;p&gt;6. Brief description of the feature being promoted.&lt;/p&gt;
			&lt;/section&gt;
		&lt;/div&gt;
		&lt;div class="col-sm-6" data-wb-randomize='{ "toggle": "hide" }'&gt;
			&lt;section class="well well-sm eqht-trgt hide"&gt;
				&lt;img src="[image URL]" alt=""&gt;
				&lt;h3&gt;&lt;a class="stretched-link" href="#"&gt;[7. Feature hyperlink text]&lt;/a&gt;&lt;/h3&gt;
				&lt;p&gt;7. Brief description of the feature being promoted.&lt;/p&gt;
			&lt;/section&gt;
			&lt;section class="well well-sm eqht-trgt hide"&gt;
				&lt;img src="[image URL]" alt=""&gt;
				&lt;h3&gt;&lt;a class="stretched-link" href="#"&gt;[8. Feature hyperlink text]&lt;/a&gt;&lt;/h3&gt;
				&lt;p&gt;8. Brief description of the feature being promoted.&lt;/p&gt;
			&lt;/section&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/section&gt;</code></pre>

	<h5>Transition from version 1.0 to 2.0</h5>
	<ul>
		<li>Add a second row of features under the first one.</li>
		<li>Add the attribute <code>data-wb-randomize='{ "toggle": "hide" }'</code> to the <code>&lt;div class="col-sm-6"></code> element wrapping the features groups.</li>
		<li>Change the HTML tag for features from <code>&lt;div></code> to <code>&lt;section></code></li>
		<li>Add the class <code>hide</code> to the <code>&lt;section class="well well-sm eqht-trgt"></code> elements (feature elements).</li>
		<li>Above the <code>&lt;div class="row"></code> element, add a <code>&lt;ul class="nojs-show"></code> with a list of the links for all the features contained in the <code>&lt;div class="row"></code> element. This step is necessary for users of the basic HTML version.</li>
	</ul>

	<h4>Previous version</h4>
	<details>
		<summary>Deprecated - Version 1.0</summary>
		<p>There were two static feature items with links and descriptions.</p>
		<pre><code>&lt;section class="container gc-features"&gt;
	&lt;h2&gt;Government initiatives&lt;/h2&gt;
	&lt;div class="row wb-eqht"&gt;
		&lt;div class="col-sm-6"&gt;
			&lt;div class="well well-sm brdr-rds-0 eqht-trgt"&gt;
				&lt;img class="img-responsive full-width" src="../../components/gc-features/img/initiative-520x200.png" alt=""/&gt;
				&lt;h3 class="h5"&gt;&lt;a class="stretched-link" href="#"&gt;[Feature hyperlink text]&lt;/a&gt;&lt;/h3&gt;
				&lt;p&gt;Brief description of the feature being promoted.&lt;/p&gt;
			&lt;/div&gt;
		&lt;/div&gt;
		&lt;div class="col-sm-6"&gt;
			&lt;div class="well well-sm brdr-rds-0 eqht-trgt"&gt;
				&lt;img class="img-responsive full-width" src="../../components/gc-features/img/initiative-520x200.png" alt=""/&gt;
				&lt;h3 class="h5"&gt;&lt;a class="stretched-link" href="#"&gt;[Feature hyperlink text]&lt;/a&gt;&lt;/h3&gt;
				&lt;p&gt;Brief description of the feature being promoted.&lt;/p&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/section&gt;</code></pre>
	</details>

	<h2>Evaluation and report</h2>
	<p>There is no evaluation and report available for this component.</p>

	<h2>Test cases</h2>
	<ul>
		<li>Removed: <del>Provisional - Test-1: Promotional color theme</del></li>
	</ul>
</div>
