---
title: Home - Canada.ca
language: en
altLangPage: home-fr.html
dateModified: 2024-10-22
layout: home
breadcrumbs: false
---

<div class="bg-cover" data-bgimg-srcset="https://www.canada.ca/content/dam/canada/homepage-bg/bkg-home-banner-spring-1920.jpg 1920w, https://www.canada.ca/content/dam/canada/homepage-bg/bkg-home-banner-spring-1200.jpg 1200w, https://www.canada.ca/content/dam/canada/homepage-bg/bkg-home-banner-spring-992.jpg 992w, https://wet-boew.github.io/vocab/wb/utilities#no-image 767w">
	<div class="container p-0 p-sm-3">
		<div class="well header-rwd brdr-0 brdr-rds-0 text-white bg-gctheme opct-90">
			<h1 property="name" id="wb-cont">Canada.ca</h1>
			<p class="mrgn-tp-md">The official website of the Government of Canada</p>
		</div>
	</div>
	<section class="gc-featured-link">
		<div class="container">
			<h2 class="wb-inv">Spotlight on</h2>
			<p><a class="stretched-link" href="#">[Promotion title]</a></p>
			<p>Long description [Optional]</p>
		</div>
	</section>
</div>

<section class="home-most-requested well well-sm brdr-0">
	<div class="container">
		<h2 class="mrgn-tp-md">Most requested</h2>
		<ul class="wb-eqht list-unstyled mrgn-tp-md mrgn-bttm-sm lst-spcd-2 list-responsive">
			<li><a href="https://www.canada.ca/en/government/sign-in-online-account.html">Login to an account</a></li>
			<li><a href="https://www.canada.ca/en/services/benefits/ei.html">Employment Insurance and leave</a></li>
			<li><a href="https://www.canada.ca/en/services/benefits/publicpensions.html">Public pensions (CPP and OAS)</a></li>
			<li><a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/canadian-passports.html">Get a passport</a></li>
			<li><a href="https://weather.gc.ca/canada_e.html">Weather</a></li>
			<li><a href="https://www.canada.ca/en/government/grants-funding.html">Grants and funding</a></li>
			<li><a href="https://www.canada.ca/en/government/change-address.html">Change your address</a></li>
			<li><a href="http://www.healthycanadians.gc.ca/recall-alert-rappel-avis/index-eng.php">Product recalls and alerts</a></li>
		</ul>
	</div>
</section>


<section class="gc-srvinfo">
	<div class="container">
		<h2 class="wb-inv">Services and information</h2>
		<div class="wb-eqht row">
			<div class="col-lg-4 col-md-6">
				<h3><a href="https://www.canada.ca/en/services/jobs.html">Jobs</a></h3>
				<p>Find a job, training, hiring programs, work permits, Social Insurance Number (SIN)</p>
			</div>
			<div class="col-lg-4 col-md-6">
				<h3><a href="https://www.canada.ca/en/services/immigration-citizenship.html">Immigration and citizenship</a></h3>
				<p>Visit, work, study, immigrate, refugees, permanant residents, apply, check status</p>
			</div>
			<div class="col-lg-4 col-md-6">
				<h3><a href="https://travel.gc.ca">Travel and tourism</a></h3>
				<p>In Canada or abroad, advice, advisories, passports, visit Canada, events, attractions</p>
			</div>
			<div class="col-lg-4 col-md-6">
				<h3><a href="https://www.canada.ca/en/services/business.html">Business and industry</a></h3>
				<p>Starting a business, permits, copyright, business support, selling to government</p>
			</div>
			<div class="col-lg-4 col-md-6">
				<h3><a href="https://www.canada.ca/en/services/benefits.html">Benefits</a></h3>
				<p>EI, family and sickness leave, pensions, housing, student aid, disabilities</p>
			</div>
			<div class="col-lg-4 col-md-6">
				<h3><a href="https://www.canada.ca/en/services/taxes.html">Taxes</a></h3>
				<p>Income tax, payroll, GST/HST,  contribution limits, tax credits, charities</p>
			</div>
			<div class="col-lg-4 col-md-6">
				<h3><a href="https://www.canada.ca/en/services/health.html">Health</a></h3>
				<p>Food, nutrition, diseases, vaccines, drugs, product safety and recalls</p>
			</div>
			<div class="col-lg-4 col-md-6">
				<h3><a href="https://www.canada.ca/en/services/environment.html">Environment and natural resources</a></h3>
				<p>Weather, climate, agriculture, wildlife, pollution, conservation, fisheries</p>
			</div>
			<div class="col-lg-4 col-md-6">
				<h3><a href="https://www.canada.ca/en/services/finance.html">Money and finances</a></h3>
				<p>Personal finance, credit reports, fraud protection, paying for education</p>
			</div>
		</div>
		<p>
			<a class="btn btn-all-services" href="https://www.canada.ca/en/services.html">All services</a>
		</p>
	</div>
</section>

<section class="home-your-gov well well-bold well-sm brdr-0">
	<div class="container">
		<h2>Your government</h2>
		<div class="row mrgn-bttm-lg">
			<div class="col-lg-7 col-xs-12 col-md-6">
				<ul class="row wb-eqht-grd list-unstyled small">
					<li class="col-xs-12 col-sm-6 mrgn-tp-sm mrgn-bttm-sm">
						<a href="https://www.canada.ca/en/contact.html">Contact us</a>
					</li>
					<li class="col-xs-12 col-sm-6 mrgn-tp-sm mrgn-bttm-sm">
						<a href="https://www.canada.ca/en/news.html">News</a>
					</li>
					<li class="col-xs-12 col-sm-6 mrgn-tp-sm mrgn-bttm-sm">
						<a href="https://pm.gc.ca/en">Prime Minister</a>
					</li>
					<li class="col-xs-12 col-sm-6 mrgn-tp-sm mrgn-bttm-sm">
						<a href="https://www.canada.ca/en/government/dept.html">Departments and agencies</a>
					</li>
					<li class="col-xs-12 col-sm-6 mrgn-tp-sm mrgn-bttm-sm">
						<a href="https://www.canada.ca/en/government/system.html">About government</a>
					</li>
					<li class="col-xs-12 col-sm-6 mrgn-tp-sm mrgn-bttm-sm">
						<a href="https://open.canada.ca/en">Open government and data</a>
					</li>
					<li class="col-xs-12 col-sm-6 mrgn-tp-sm mrgn-bttm-sm">
						<a href="https://www.canada.ca/en/government/publicservice.html">Working for the government</a>
					</li>
					<li class="col-xs-12 col-sm-6 mrgn-tp-sm mrgn-bttm-sm">
						<a href="https://www.canada.ca/en/government/system/laws.html">Treaties, laws and regulations</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>

<section class="gc-features">
	<div class="container">
		<h2>Government initiatives</h2>
		<!-- START: Add the list of links to the features to display in basic HTML mode -->
		<ul class="nojs-show">
			<li><a href="#">[1. Feature hyperlink text]</a></li>
			<li><a href="#">[2. Feature hyperlink text]</a></li>
			<li><a href="#">[3. Feature hyperlink text]</a></li>
			<li><a href="#">[4. Feature hyperlink text]</a></li>
			<li><a href="#">[5. Feature hyperlink text]</a></li>
			<li><a href="#">[6. Feature hyperlink text]</a></li>
			<li><a href="#">[7. Feature hyperlink text]</a></li>
			<li><a href="#">[8. Feature hyperlink text]</a></li>
		</ul>
		<!-- END -->

		<!-- Add the "data-wb-randomize" attribute to the "col-sm-6" element to randomize the features within each theme -->
		<div class="row wb-eqht-grd">
			<div class="col-sm-6" data-wb-randomize='{ "toggle": "hide" }'>
				<section class="well well-sm eqht-trgt hide">
					<img src="https://dummyimage.com/520x200/000000/FFFFFF" alt="">
					<h3><a class="stretched-link" href="#">[1. Feature hyperlink text]</a></h3>
					<p>1. Brief description of the feature being promoted.</p>
				</section>
				<section class="well well-sm eqht-trgt hide">
					<img src="https://dummyimage.com/520x200/e5ff6a/000000" alt="">
					<h3><a class="stretched-link" href="#">[2. Feature hyperlink text]</a></h3>
					<p>2. Brief description of the feature being promoted.</p>
				</section>
			</div>
			<div class="col-sm-6" data-wb-randomize='{ "toggle": "hide" }'>
				<section class="well well-sm eqht-trgt hide">
					<img src="https://dummyimage.com/520x200/46b393/000000" alt="">
					<h3><a class="stretched-link" href="#">[3. Feature hyperlink text]</a></h3>
					<p>3. Brief description of the feature being promoted.</p>
				</section>
				<section class="well well-sm eqht-trgt hide">
					<img src="https://dummyimage.com/520x200/0bd6fd/000000" alt="">
					<h3><a class="stretched-link" href="#">[4. Feature hyperlink text]</a></h3>
					<p>4. Brief description of the feature being promoted.</p>
				</section>
			</div>
		</div>
		<div class="row wb-eqht-grd">
			<div class="col-sm-6" data-wb-randomize='{ "toggle": "hide" }'>
				<section class="well well-sm eqht-trgt hide">
					<img src="https://dummyimage.com/520x200/2b3551/FFFFFF" alt="">
					<h3><a class="stretched-link" href="#">[5. Feature hyperlink text]</a></h3>
					<p>5. Brief description of the feature being promoted.</p>
				</section>
				<section class="well well-sm eqht-trgt hide">
					<img src="https://dummyimage.com/520x200/311893/FFFFFF" alt="">
					<h3><a class="stretched-link" href="#">[6. Feature hyperlink text]</a></h3>
					<p>6. Brief description of the feature being promoted.</p>
				</section>
			</div>
			<div class="col-sm-6" data-wb-randomize='{ "toggle": "hide" }'>
				<section class="well well-sm eqht-trgt hide">
					<img src="https://dummyimage.com/520x200/844d45/FFFFFF" alt="">
					<h3><a class="stretched-link" href="#">[7. Feature hyperlink text]</a></h3>
					<p>7. Brief description of the feature being promoted.</p>
				</section>
				<section class="well well-sm eqht-trgt hide">
					<img src="https://dummyimage.com/520x200/5e71a9/FFFFFF" alt="">
					<h3><a class="stretched-link" href="#">[8. Feature hyperlink text]</a></h3>
					<p>8. Brief description of the feature being promoted.</p>
				</section>
			</div>
		</div>
	</div>
</section>
