/* All services button */
.btn-all-services{

	border: 2px solid #26374a;
	border-radius: 5px;
	font-weight: bold;
	margin-top:20px;
	margin-bottom:20px;
	padding: .75em;
	text-align: center;
}

.btn-all-services a {

	color:#26374a;
	font-size: 1.1em;
	margin-bottom: 25px;
	margin-top: 15px;
	padding: .58em 1em;
	text-decoration: none;
	text-shadow: 1px 2px #333;
}
