/*
  WET-BOEW
  @title: All screen views
 */

.wb-sl {
	background: $accent-blue;
	color: #fff;
	font-weight: 700;

	&:focus {
		color: #fff;
		text-decoration: none;
	}

	&:hover {
		background-color: #444;
		color: #fff;
	}

}
