/*
 *
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 *
 *
 *	GC Step by step navigation
*/

.gc-stp-stp {
	border-bottom: solid 1px #ccc;
	margin-bottom: 30px;
	margin-top: 15px;

	ul:not(.col-md-12), ol:not(.col-md-12) {
		margin-left: 0;
		margin-right: 0;
		padding-left: 0;
	}
}
