---
{
	"title": "[Nom du service] - 2. [Nom de la page de la section ou de l’étape]",
	"secondTitle": "2. [Nom de la page de la section ou de l’étape]",
	"language": "fr",
	"altLangPage": "gc-stp-stp-en.html",
	"overwriteBreadcrumbs": true,
	"breadcrumbs": [
		{ "title": "[Nom du sujet]", "link": "templates/theme-topic/theme-topic-fr.html" }
	],
	"secondlevel": false,
	"dateModified": "2023-09-05",
	"share": "true",
	"steps": [
		{ "name": "1. [Nom de la page de la section ou de l’étape]", "link": "#" },
		{ "name": "2. [Nom de la page de la section ou de l’étape]", "isActive": true },
		{ "name": "3. [Nom de la page de la section ou de l’étape]", "link": "#" },
		{ "name": "4. [Nom de la page de la section ou de l’étape]", "link": "#" },
		{ "name": "5. [Nom de la page de la section ou de l’étape]", "link": "#" },
		{ "name": "6. [Nom de la page de la section ou de l’étape]", "link": "#" }
	]
}
---
<p class="gc-byline"><strong>De <a href="../institutional/institution-fr.html">[nom de l'institution]</a></strong></p>

{%- include gc-stp-stp/gc-stp-stp.html -%}

<div class="row">
	<section class="col-md-8">
		<h2>2. [Nom de la page de la section ou de l’étape]</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et a adipisci nostrum optio dolorum sint ipsa facilis nisi quisquam laboriosam.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium odio adipisci ad neque distinctio quod molestias, molestiae accusamus quo aspernatur expedita blanditiis quam! Esse cum modi atque, beatae aliquam, dolor.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem aliquid hic numquam obcaecati ea, laborum accusamus culpa atque voluptate distinctio et omnis! Alias, beatae, tenetur.</p>
		<section>
		<h3>[Sous-titre]</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti cupiditate voluptatem praesentium, facilis corporis magni esse reiciendis distinctio. Vitae totam iste porro, esse facere obcaecati? Laborum earum minus harum enim.</p>
		</section>
		<section>
		<h3>[Sous-titre]</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa hic minima magni nesciunt nam. Facilis perferendis, adipisci voluptates, enim illo perspiciatis molestias itaque iste qui distinctio asperiores quidem voluptatum sunt.</p>
		</section>
		<nav role="navigation" class="row">
			<h3 class="wb-inv">Navigation dans le document</h3>
			<ul class="pager">
				<li class="previous"><a href="#" rel="prev">Précédent<span class="wb-inv"> : 1. [Nom de la page de la section ou de l’étape]</span></a></li>
				<li class="next"><a href="#" rel="next">Suivant<span class="wb-inv"> : 3. [Nom de la page de la section ou de l’étape]</span></a></li>
			</ul>
		</nav>
	</section>
	<div class="col-md-4">
		<aside class="lnkbx">
			<h2>Guides et aide</h2>
			<ul class="lst-spcd">
				<li><a href="#">[Guides connexes et aide 1]</a></li>
				<li><a href="#">[Guides connexes et aide 2]</a></li>
				<li><a href="#">[Guides connexes et aide 3]</a></li>
			</ul>
		</aside>
	</div>
</div>
