---
{
	"title": "[Service name] - 2. [Step / section page name]",
	"secondTitle": "2. [Step / section page name]",
	"language": "en",
	"altLangPage": "gc-stp-stp-fr.html",
	"overwriteBreadcrumbs": true,
	"breadcrumbs": [
		{ "title": "[Topic name]", "link": "templates/theme-topic/theme-topic-en.html" }
	],
	"secondlevel": false,
	"dateModified": "2023-09-05",
	"share": "true",
	"steps": [
		{ "name": "1. [Step / section page name]", "link": "#" },
		{ "name": "2. [Step / section page name]", "isActive": true },
		{ "name": "3. [Step / section page name]", "link": "#" },
		{ "name": "4. [Step / section page name]", "link": "#" },
		{ "name": "5. [Step / section page name]", "link": "#" },
		{ "name": "6. [Step / section page name]", "link": "#" }
	]
}
---
<p class="gc-byline"><strong>From <a href="../institutional/institution-en.html">[Institution name]</a></strong></p>

{%- include gc-stp-stp/gc-stp-stp.html -%}

<div class="row">
	<section class="col-md-8">
		<h2>2. [Step / section page name]</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et a adipisci nostrum optio dolorum sint ipsa facilis nisi quisquam laboriosam.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium odio adipisci ad neque distinctio quod molestias, molestiae accusamus quo aspernatur expedita blanditiis quam! Esse cum modi atque, beatae aliquam, dolor.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem aliquid hic numquam obcaecati ea, laborum accusamus culpa atque voluptate distinctio et omnis! Alias, beatae, tenetur.</p>
		<section>
		<h3>[Sub heading]</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti cupiditate voluptatem praesentium, facilis corporis magni esse reiciendis distinctio. Vitae totam iste porro, esse facere obcaecati? Laborum earum minus harum enim.</p>
		</section>
		<section>
		<h3>[Sub heading]</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa hic minima magni nesciunt nam. Facilis perferendis, adipisci voluptates, enim illo perspiciatis molestias itaque iste qui distinctio asperiores quidem voluptatum sunt.</p>
		</section>
		<nav role="navigation" class="mrgn-bttm-lg">
			<h3 class="wb-inv">Document navigation</h3>
			<ul class="pager">
				<li class="previous"><a href="#" rel="prev">Previous<span class="wb-inv">: 1. [Step / section page name]</span></a></li>
				<li class="next"><a href="#" rel="next">Next<span class="wb-inv">: 3. [Step / section page name]</span></a></li>
			</ul>
		</nav>
	</section>
	<div class="col-md-4">
		<aside class="lnkbx">
			<h2>Guides and help</h2>
			<ul class="lst-spcd">
				<li><a href="#">[Related guides and help 1]</a></li>
				<li><a href="#">[Related guides and help 2]</a></li>
				<li><a href="#">[Related guides and help 3]</a></li>
			</ul>
		</aside>
	</div>
</div>
