---
{
	"title": "Badges",
	"language": "fr",
	"altLangPage": "badges-fr.html",
	"description": "Exemples pratiques de la composante Badges de la WET-BOEW",
	"dateModified": "2025-09-17"
}
---
<div class="wb-prettify all-pre"></div>

<h2>Usage</h2>
<p>Utilisez les badges (indicateurs numériques) afin de souligner le nombre de mises à jour, d'éléments nouveaux ou non lus associés à un lien.</p>

<h2>Valeur par défaut</h2>
<p>Utiliser pour souligner des éléments nouveaux ou à jour avec un badge numérique simple gris ou bleu en forme de bouton.</p>
<dl>
	<dt>Badge gris :</dt>
	<dd>
		<p><a href="#">Boîte de réception <span class="badge">42<span class="wb-inv"> courriels non lus</span></span></a></p>
	</dd>
	<dt>Badge bleu sous forme de bouton :</dt>
	<dd>
		<p><a class="btn btn-primary" href="#">Inbox <span class="badge">42<span class="wb-inv"> unread emails</span></span></a></p>
	</dd>
</dl>

<h3>Source code</h3>
<dl>
	<dt>Badge gris :</dt>
	<dd><pre><code>&lt;p&gt;&lt;a href="#"&gt;Boîte de réception &lt;span class="badge"&gt;42&lt;span class="wb-inv"&gt; courriels non lus&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;&lt;/p&gt;</code></pre></dd>
	<dt>Blue button-like badge :</dt>
	<dd><pre><code>&lt;p&gt;&lt;a class="btn btn-primary" href="#"&gt;Inbox &lt;span class="badge"&gt;42&lt;span class="wb-inv"&gt; unread emails&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;&lt;/p&gt;</code></pre></dd>
</dl>

<h2>Badges qui se réduisent seuls</h2>
<p>Utilisez-les lorsqu'il n'y a aucun élément nouveau ou non lu. Les badges  se réduisent simplement (au moyen du <code>sélecteur empty</code> du <abbr title="feuille de style en cascade">CSS</abbr>).</p>

<section class="alert alert-warning">
	<h3>Compatibilité multinavigateur</h3>
	<p>Les badges ne se réduiront pas seuls dans Internet Explorer 8 parce qu'il manque de soutien pour le sélecteur <code>:empty</code>.</p>
</section>

<dl>
	<dt>Aucun contenu à l'intérieur du badge :</dt>
	<dd>
		<p><a href="#">Boîte de réception <span class="badge"></span></a></p>
	</dd>
</dl>

<h3>Source code</h3>
<dl>
	<dt>Aucun contenu à l'intérieur du badge :</dt>
	<dd><pre><code>&lt;p&gt;&lt;a href="#"&gt;... &lt;span class="badge"&gt;&lt;/span&gt;&lt;/a&gt;&lt;/p&gt;</code></pre></dd>
</dl>

<h2>Reference</h2>
<p><a href="https://wet-boew.github.io/wet-boew-styleguide/design/badges-fr">Guide de style de la Boîte à outils de l'expérience Web - Badges</a></p>
