{%- comment -%}

++++++++++++++++++++++++++++++++++
+ Contact us section located in the right column
+
+ Used by organizational and institutional page
++++++++++++++++++++++++++++++++++

{%- endcomment -%}

<section class="lnkbx">
{%- if page.language == "fr" -%}
	<h2>Contactez-nous</h2>
	<ul>
		<li><a href="#">Lien du numéro de contact</a></li>
		<li><a href="#">Lien du numéro de contact</a></li>
		<li><a href="#">Lien du numéro de contact</a></li>
	</ul>
{%- else -%}
	<h2>Contact us</h2>
	<ul>
		<li><a href="#">Contact number link</a></li>
		<li><a href="#">Contact number link</a></li>
		<li><a href="#">Contact number link</a></li>
	</ul>
{%- endif -%}
</section>
