{%- comment -%}

++++++++++++++++++++++++++++++++++
+ What we are doing section with 5 items
+
+ Used by organizational and institutional page
++++++++++++++++++++++++++++++++++

{%- endcomment -%}

<section class="whtwedo">
{%- if page.language == "fr" -%}
	<h2>Ce que nous faisons</h2>
	<div class="row wb-eqht">
		<section class="col-lg-4 col-md-6">
			<h3>La recherche</h3>
			<ul>
				<li><a href="#">[Notre étude 1]</a></li>
				<li><a href="#">[Notre étude 2 avec un long titre]</a></li>
				<li><a href="#">[Notre étude 3 avec un long titre]</a></li>
				<li><a href="#">[La recherche 4]</a></li>
			</ul>
			<p><a href="#">Tous les rapports d’étude connexes</a></p>
		</section>
		<section class="col-lg-4 col-md-6">
			<h3>Enquêtes</h3>
			<ul>
				<li><a href="#">[Enquête 1]</a></li>
				<li><a href="#">[Enquête 2 avec un long titre]</a></li>
				<li><a href="#">[Enquête 3]</a></li>
				<li><a href="#">[Enquête 4]</a></li>
			</ul>
			<p><a href="#">Toutes les enquêtes connexes</a></p>
		</section>
		<section class="col-lg-4 col-md-6">
			<h3>Consultations</h3>
			<ul>
				<li><a href="#">[Consultation 1]</a></li>
				<li><a href="#">[Consultation 2 avec un long titre]</a></li>
				<li><a href="#">[Consultation 3]</a></li>
				<li><a href="#">[Consultation 4 avec un long titre]</a></li>
			</ul>
			<p><a href="#">Toutes les consultations connexes</a></p>
		</section>
		<section class="col-lg-4 col-md-6">
			<h3>Données ouvertes</h3>
			<ul>
				<li><a href="#">[Donnée 1]</a></li>
				<li><a href="#">[Donnée 2 avec un long titre]</a></li>
				<li><a href="#">[Donnée 3]</a></li>
				<li><a href="#">[Donnée 4 avec un long titre... et plus...]</a></li>
			</ul>
			<p><a href="#">Toutes les données ouvertes connexes</a></p>
		</section>
		<section class="col-lg-4 col-md-6">
			<h3>Statistiques</h3>
			<ul>
				<li><a href="#">[Statistique 1]</a></li>
				<li><a href="#">[Statistique 2 avec un long titre]</a></li>
				<li><a href="#">[Statistique 3]</a></li>
				<li><a href="#">[Statistique 4 avec un long titre... et plus...]</a></li>
			</ul>
			<p><a href="#">Toutes les statistiques connexes</a></p>
		</section>
	</div>
{%- else -%}
	<h2>What we are doing</h2>
	<div class="row wb-eqht">
		<section class="col-lg-4 col-md-6">
			<h3>Research</h3>
			<ul>
				<li><a href="#">[Research report 1]</a></li>
				<li><a href="#">[Research report 2]</a></li>
				<li><a href="#">[Launched research study]</a></li>
				<li><a href="#">[Preliminary research result 1]</a></li>
			</ul>
			<p><a href="#">All related research</a></p>
		</section>
		<section class="col-lg-4 col-md-6">
			<h3>Surveys</h3>
			<ul>
				<li><a href="#">[Survey 1]</a></li>
				<li><a href="#">[Survey 2 with a long heading]</a></li>
				<li><a href="#">[Survey 3]</a></li>
				<li><a href="#">[Survey 4]</a></li>
			</ul>
			<p><a href="#">All related surveys</a></p>
		</section>
		<section class="col-lg-4 col-md-6">
			<h3>Consultations</h3>
			<ul>
				<li><a href="#">[Consultation 1]</a></li>
				<li><a href="#">[Consultation 2 with a long heading]</a></li>
				<li><a href="#">[Consultation 3]</a></li>
				<li><a href="#">[Consultation 4 with a long heading]</a></li>
			</ul>
			<p><a href="#">All related consultations</a></p>
		</section>
		<section class="col-lg-4 col-md-6">
			<h3>Open data</h3>
			<ul>
				<li><a href="#">[Open data 1]</a></li>
				<li><a href="#">[Open data 2 with a long heading]</a></li>
				<li><a href="#">[Open data 3]</a></li>
				<li><a href="#">[Open data 4 with a long heading..and a bit longer]</a></li>
			</ul>
			<p><a href="#">All related open data</a></p>
		</section>
		<section class="col-lg-4 col-md-6">
			<h3>Statistics</h3>
			<ul>
				<li><a href="#">[Statistic 1]</a></li>
				<li><a href="#">[Statistic 2 with a long heading]</a></li>
				<li><a href="#">[Statistic 3]</a></li>
				<li><a href="#">[Statistic 4 with a long heading..and a bit longer]</a></li>
			</ul>
			<p><a href="#">All related statistics</a></p>
		</section>
	</div>
{%- endif -%}
</section>
