/*
 Breadcrumbs
 */
#wb-bc {
	background: #F5F5F5;
	.breadcrumb {
		margin-bottom: 0;
		border-radius: 0;
	}
	li {
		&:before, &:after {
			font-family: "Glyphicons Halflings";
			font-size: 0.7em;
			color: #000;
		}
		&:before {
			content: "\e092";
		}
		&:first-child {
			&:before {
				display: none;
			}
		}
	}
}