/*
	Global Default Body styling
*/

body {
	background: #f8f8f8;
	font-size: 16px;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 300;
}

a {
	color: $button-blue;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 27px;
	border-bottom: 1px solid $border-red;
	margin-top: 1.25;
    margin-bottom: 0.2em;
    padding-bottom: 0.2em;
}
.h3, .h4 {
	border: none;
}

.form-control::-moz-placeholder{
	color: #5C5C5C !important;
}


.form-control::-webkit-input-placeholder {
  color: #5C5C5C !important;
}

.form-control:-moz-placeholder { /* Firefox 18- */
  color: #5C5C5C !important;
}

.form-control:-ms-input-placeholder {
   color: #5C5C5C !important;
}


input[placeholder], [placeholder], *[placeholder]  {
		color: #5C5C5C !important;
}

main ul, ol {
	li {
		line-height: 1.4375;
		margin-bottom: 1em;
		ul, ol {
			margin-top: 1em;
		}
	}
}


