/* 
	Global Default Body styling
*/

body {
	background: #f8f8f8;
	font-size: 16px;
	font-family: "Helvetica Neue", "Neue Helvetica", Helvetica, "Calibri Light", "Calibri", Arial, sans-serif;
	font-weight: 300;
}
a{ color: $button-blue;}

p { font-size: 0.875em;}

input[placeholder], [placeholder], *[placeholder] {
   color:#555 !important;
}