/*
  Equal Heights
 */

// Equal heights columns content
.sect-lnks {
    display: inline-block;
    width: 100%;
    @media (min-width: 992px) and (max-width: 1199px) {
        width: 48.1%;
        margin-right: 15px;
   }
    @media (min-width: 1200px) {
        width: 31.7%;
        margin-right: 15px;
    }
}

main.col-md-9 {
    .sect-lnks {
        @media (min-width: 992px) and (max-width: 1199px) {
            width: 47.5%;
        }
        @media (min-width: 1200px) {
            width: 31.2%;
        }
    }
}

.lt-ie9 {
    // Equal heights columns content
    .sect-lnks {
        @media (min-width: 992px) and (max-width: 1199px) {
            width: 47%;
        }
        @media (min-width: 1200px) {
            width: 30%;
        }
    }
    main.col-md-9 {
        .sect-lnks {
            @media (min-width: 992px) and (max-width: 1199px) {
                width: 46%;
            }
            @media (min-width: 1200px) {
                width: 30%;
            }
        }
    }
}
