/*
  Equal Hieghts
 */

// Equal heights columns content
.sect-lnks {
    display: inline-block;
    width: 100%;
    padding-right: 10px;
    @media (min-width: 992px) and (max-width: 1199px) {
        width:49%;
    }
    @media (min-width: 1200px) {
        width: 32%;
    }
}

main.col-md-9 {
    .sect-lnks {
        @media (min-width: 992px) and (max-width: 1199px) {
            width: 49%;
        }
        @media (min-width: 1200px) {
            width: 32%;
        }
    }
}

.lt-ie9 {
    // Equal heights columns content
    .sect-lnks {
        @media (min-width: 992px) and (max-width: 1199px) {
            width: 47%;
        }
        @media (min-width: 1200px) {
            width: 31%;
        }
    }
    main.col-md-9 {
        .sect-lnks {
            @media (min-width: 992px) and (max-width: 1199px) {
                width: 46%;
            }
            @media (min-width: 1200px) {
                width: 30%;
            }
        }
    }
}