/*
  Equal Heights
 */

// Equal heights columns content
.sect-lnks {
    display: inline-block;
    width: 100%;
    padding-right: 10px;
    @media (min-width: 992px) and (max-width: 1199px) {
        width:49.75%;
    }
    @media (min-width: 1200px) {
        width: 33.07%;
    }
}

main.col-md-9 {
    .sect-lnks {
        @media (min-width: 992px) and (max-width: 1199px) {
            width: 49.68%;
        }
        @media (min-width: 1200px) {
            width: 32.98%;
        }
    }
}

.lt-ie9 {
    // Equal heights columns content
    .sect-lnks {
        @media (min-width: 992px) and (max-width: 1199px) {
            width: 48.5%;
        }
        @media (min-width: 1200px) {
            width: 33%;
        }
    }
    main.col-md-9 {
        .sect-lnks {
            @media (min-width: 992px) and (max-width: 1199px) {
                width: 48.25%;
            }
            @media (min-width: 1200px) {
                width: 33.5%;
            }
        }
    }
}
