/*
	Footer
*/

footer {
    position: relative;
    z-index: 5;
    background: #e1e4e7;
    .brand {
        background: #f8f8f8;
        border-top: 4px solid #335175;
        line-height: 30px;
        object, img {
            height: 40px;
            margin-top: 5px;
            width: auto;
        }
        a {
            color: #000;
            span {
                margin-left: 10px;
            }
            &:hover {
                text-decoration: none;
            }
        }
    }
    .tofpg {
		line-height: 60px;
    }
    nav {
        position: relative;
        padding-bottom: 1em;
        padding-top: 0.75em;
        li {
            margin-bottom: 0.75em;
        }
        [class*="col-"] {
            h3 {
                font-weight: 700;
                font-size: 1.10em;
                margin-top: 20px;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    footer .brand {
        object, img {
            height: 25px;
            margin-top: 15px;
            padding-right: 10px;
        }
    }
}
