/*
 Menu Treatments
 */

#wb-sm {
    background: $accent-blue;
    .menu {
        text-transform: uppercase;
        text-shadow: 1px 1px 1px #222;
        position: relative;
        margin-bottom: 0;
        text-align: center;
        // Active State;
        .active {
            text-shadow: none;
            background: #243850;
        }
        > li {
            position: relative;
            a {
                color: #fff;
                padding: 1em;
                text-align: center;
                display: block;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
    // Menu Items ( ul in li's in this case)
    .item {
        display: none;
        // open state
        &.open {
            display: inline;
            position: absolute;
            z-index: 100;
            box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.3), 3px 3px 3px -2px rgba(0, 0, 0, 0.3), -3px 3px 3px -2px rgba(0, 0, 0, 0.3);
            border-left: none;
            border-right: none;
            border-bottom: 5px solid #243850;
            text-transform: none;
            padding: 0;
            background: #ccc;
            top: 3.4em;
            left: 0;
            width: auto;
            li {
                padding: 5px 0;
                display: block;
                a {
                    color: #444;
                    text-shadow: none;
                    text-align: left;
                    padding: 5px 10px;
                }
            }
        }
        .row {
            background: transparent;
            a {
                color: #6e6e6e;
            }
        }
    }
    .expandicon {
        left: 0.75em;
        position: relative;
        top: 0.75em;
    }
    .open {
        .expandicon {
            display: none;
        }
        li a {
            color: #444;
            text-shadow: none;
            text-align: left;
            padding: 5px 10px;
        }
    }
    .row > ul {
        a {}
        li {
            border: none;
        }
    }
}
