/*
 Menu Treatments
 */
#wb-sm {
    background: $accent-blue;
    .menu {
        text-transform: uppercase;
        display: table;
        width: 100%;
        text-shadow: 1px 1px 1px #222;
        position: relative;
        margin-bottom: 0;
        // Active State;
        .active, .selected, .wb-navcurr {
            text-shadow: none;
            background: $active-blue!important;
        }
        > li {
            position: relative;
            display: table-cell;
            margin: 0;
            padding: 0;
            border-left: 2px ridge #284468;
           a {
                color: #fff;
                padding: 1em;
                text-align: center;
                display: block;
                text-decoration: none;
            }
            &:last-child {
                a {
                    border-right: 2px ridge #284468;
                }
            }
        }
    }
    // Menu Items ( ul in li's in this case)
    .sm {
        display: none;
        // open state
        &.open {
            display: inline;
            position: absolute;
            z-index: 100;
            box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.3), 3px 3px 3px -2px rgba(0, 0, 0, 0.3), -3px 3px 3px -2px rgba(0, 0, 0, 0.3);
            border-left: none;
            border-right: none;
            border-bottom: 5px solid #243850;
            text-transform: none;
            padding: 0;
            background: #ccc;
            top: auto;
            min-width: 200px;
            li {
                display: block;
                a {
                    color: #444;
                    border-left: none;
                    border-right: none;
                    text-shadow: none;
                    text-align: left;
                    padding: 5px 10px;
                    &:hover, &:focus, &:active {
                        background: #243850;
                        color: #fff;
                    }
                }
            }
            .slflnk {
                background:#bbb;
            }
            .expicon  {
                display: none;
            }
        }
        .row {
            background: transparent;
            a {
                color: #6e6e6e;
            }
        }
    }
    .expicon {
        left: 0.75em;
        position: relative;
        top: 0.75em;
    }
    /*
      Mobile view
     */
    @media screen and (max-width: $mobile) {
        .menu {
            li a {
                &:hover, &:focus, &:active {
                    background: #eee;
                }
            }
            .active {
                background: #ddd;
            }
            li li a {
                &:hover, &:focus, &:active {
                    background: none;
                }
            }
        }
        position: absolute;
        z-index: 1000;
        top: 0;
        right: -100%;
        display: none !important;
        background: #ddd;

        &:target {
            width: 75%;
            right: 0;
            display: block !important;
            .container {
                display: block !important;
                background: #ddd;
            }
        }
        .nav-close {
            text-align: right;
            margin-bottom: 5px;
            padding: 5px 10px;
        }
        .menu {
            display: block;
        }
        .row {
            border-bottom: 1px solid #bbb;
            padding-bottom: 10px;
        }
        .menu > li {
            display: block;
            a {
                text-align: left;
                text-shadow: none;
                color: #333;
                border: none;
                padding: .5em;
            }
        }
        .sm {
            display: block;
            position: relative;
            z-index: auto;
            -webkit-box-shadow: none;
            box-shadow: none;
            border-left: none;
            border-right: none;
            border-top: 1px solid #ddd;
            text-transform: none;
            padding: 0;
            background: transparent;
            top: auto;
            min-width: 0;
            &.open {
                display: block;
                position: relative;
                z-index: auto;
                -webkit-box-shadow: none;
                box-shadow: none;
                border-left: none;
                border-right: none;
                border-top: 1px solid #ddd;
                text-transform: none;
                padding: 0;
                background: transparent;
                top: auto;
                min-width: 0;
            }
        }
        .menu {
            > li:last-child a {
                border: none;
            }
            ul li {
                border-bottom: 1px solid #ddd;
                border-top: 1px solid #fff;
                background: #eee;
            }
        }
    }
}

/*
  Secondary Navigation
 */

.wb-sec {
    .list-group {
        text-shadow: 1px 1px 1px #222;
        margin-bottom: 0;
        .list-group-item {
            color: #fff;
            background:$accent-blue;
            border-radius:0;
            margin-top:-1px;
            text-decoration:none;
            &.wb-navcurr {
                background-color: $active-blue!important;
                text-shadow: none;
            }
            &:hover, &:focus {
                background-color: $active-blue!important;
                text-shadow: none;
            }
        }
        .list-group {
            .list-group-item {
                padding-left: 1.8em;
                background-color: lighten($accent-blue,10%);
            }
        }
    }
}
