/*
 Menu Treatments
 */
#wb-sm {
    @media (min-width: $desktop) {
        background: $accent-blue;
        .menu {
            text-transform: uppercase;
            display: table;
            width: 100%;
            text-shadow: 1px 1px 1px #222;
            position: relative;
            margin-bottom: 0;
            // Active State;
            .active, .selected, .wb-navcurr {
                text-shadow: none;
                background: $active-blue !important;
                color: white !important;
            }
            > li {
                position: relative;
                display: table-cell;
                margin: 0;
                padding: 0;
                border-left: 2px ridge #284468;
                &:hover {
                    text-shadow: none;
                    background: $active-blue !important;
                }
                a {
                    color: #fff;
                    padding: 1em;
                    text-align: center;
                    display: block;
                    text-decoration: none;
                    &:focus {
                        text-shadow: none;
                        background: $active-blue !important;
                    }
                }
                &:last-child {
                    a {
                        border-right: 2px ridge #284468;
                    }
                }
            }
        }
        // Menu Items ( ul in li's in this case)
        .sm {
            display: none;
            // open state
            &.open {
                display: inline;
                position: absolute;
                z-index: 100;
                box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.3), 3px 3px 3px -2px rgba(0, 0, 0, 0.3), -3px 3px 3px -2px rgba(0, 0, 0, 0.3);
                border-left: none;
                border-right: none;
                border-bottom: 5px solid #243850;
                text-transform: none;
                padding: 0;
                background: #ccc;
                top: auto;
                min-width: 200px;
                li {
                    display: block;
                    a {
                        color: #444;
                        border-left: none;
                        border-right: none;
                        text-shadow: none;
                        text-align: left;
                        padding: 5px 10px;
                        &:hover, &:focus, &:active {
                            background: #243850;
                            color: #fff;
                        }
                    }
                }
                .slflnk {
                    background: #bbb;
                }
                .expicon {
                    display: none;
                }
            }
            .row {
                background: transparent;
                a {
                    color: #6e6e6e;
                }
            }
        }
        .expicon {
            left: 0.75em;
            position: relative;
            top: 0.75em;
        }
    }
    /*
       Accesiblity tweak for menu based overlapping at lowest desktop setting ( text size 200% )
     */
    @media (min-width: $desktop) and (max-width: $desktop-max) {
        .menu {
            border-right: 2px ridge #284468;
            > li {
                float: left;
            }
            > li:last-child a {
                border: none;
            }
        }
    }
    /*
      Mobile view
     */
    @media screen and (max-width: $mobile) {
        position: absolute;
        z-index: 1000;
        top: 0;
        right: 0;
        max-height: 0;
        max-width: 0;
        outline: none;
        .pnl-strt {
            display: none;
        }
        .container {
            background: #234565;
            padding-left: 30px;
            padding-top: 1em;
        }
        .list-group {
            padding: 0;
            background: transparent;
            margin-bottom: 0;
        }
        .list-group-item {
            background: transparent;
            border: 0;
            margin-bottom: 0;
        }
        .menu {
            text-transform: none;
            > li {
                position: relative;
                background: transparent;
                &.active, &.selected {
                    a {
                        font-weight: 800;
                        .expicon {
                            transform: none;
                        }
                    }
                }
                .expicon {
                    position: absolute;
                    left: 0;
                    top: 1em;
                    transform: rotate(270deg);
                }
                a {
                    position: relative;
                    text-align: left;
                    text-shadow: none;
                    color: #fff;
                    border: none !important;
                    padding: 0.5em 0.5em 0.5em 15px;
                    text-decoration: none;
                    &:hover, &:focus, &:active {
                        background: none !important;
                    }
                }
                .slflnk {
                    background: transparent !important;
                    a {
                        color: white;
                    }
                }
            }
            ul li {
                border: 0 !important;
                background: transparent;
                a {
                    color: #fff;
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
        /*
          Arrowed Banner
         */
        .nav-close {
            position: relative;
            text-align: left;
            text-decoration: none;
            box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.3), 3px 3px 3px -2px rgba(0, 0, 0, 0.3), -3px 3px 3px -2px rgba(0, 0, 0, 0.3);
            margin-top: 0.5em;
            margin-left: -15px;
            padding: 0.5em 10px;
            color: #fff;
            background: #2e5274;
            &:before {
                border-bottom: 1.23em solid #2E5274;
                border-left: 0.5em solid transparent;
                border-top: 1.23em solid #2E5274;
                content: "";
                left: -0.5em;
                position: absolute;
                top: 0;
            }
        }
        /*
        Search box
        */
        form {
            padding: 1em;
            padding-right: 0;
            .form-group, input, button {
                border-radius: 0;
                display: inline-block;
            }
            button {
                background-color: $accent-blue;
                border-color: $accent-blue;
                border: 0;
                &:hover, &:focus, &:active {
                    background: #243850;
                }
            }
            .form-control, .btn {
                padding: 5px 12px 6px;
            }
            input {
                border-right: 0;
                position: relative;
                margin-right: -4px;
                border-color: #e0e0e0;
                border-style: solid;
                box-shadow: none;
                background-color: #e0e0e0;
                color: #555;
            }
        }
        .wb-nav {
            padding-top: 1em;
            padding-bottom: 1em;
            background: #193451;
        }
        .sm {
            position: relative;
            z-index: auto;
            border: 0 !important;
            padding: 0;
            margin-left: 20px;
            &.open {
                position: relative;
                z-index: auto;
                border-top: 0;
                padding: 0;
                background: transparent;
                li {
                    a {
                        color: #b4c5d7;
                        border: none;
                        font-weight: normal;
                        text-shadow: none;
                        text-align: left;
                        padding: 5px 10px;
                        text-decoration: none;
                        &:hover, &:focus, &:active {
                            color: #fff;
                            background: transparent;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
        // Lets change the appearance once we target things
        &:target, .sltvz_target {
            background: $accent-blue;
            display: block !important;
            max-width: 75%;
            max-height: 9999px;
            transition: width 2s ease-out;
            form, .nav-close, .wb-nav, .pnl-strt {
                display: block;
            }
            h2, h3 {
                margin-left: 15px !important;
            }
            #wb-imprt-0 {
                background: #cdd4da;
                h2, h3 {
                    color:#2e5576;
                }
                .wb-inv {
                    height: inherit;
                    width: inherit;
                    clip: rect(auto, auto, auto, auto);
                    overflow: inherit;
                    position: static;
                    margin: inherit;
                }
                a {
                    color: #2e5576 !important;
                }
                ul ul li {
                    padding-left: 10px;
                }
            }
            /* extra color treatments */
            #wb-imprt-1 {
                background: transparent;
                #wb-srch-sub-imprt {
                    background: #bbc8d3;
                    color: #325375 !important;
                    .glyphicon {
                        top: auto;
                        vertical-align: middle;
                    }
                }
                #wb-srch-q-imprt {
                    background: #eaebed;
                }
            }
            .wb-info {
                background: #193451;
            }
        }
    }
}

/*
  Secondary Navigation
 */

.wb-sec {
    margin-top: 20px;
    padding-bottom: 2em;
    .list-group {
        margin-bottom: 0;
        a.list-group-item {
            background-color: $menu-background;
            color: $menu-colour;
            border-radius:0;
            margin-top:-1px;
            text-decoration:none;
            &.wb-navcurr, &:hover, &:focus {
                background-color: darken($menu-background, 50%);
                color: lighten($menu-colour, 75%);
            }
        }
        .list-group {
            .list-group-item {
                background-color: darken($menu-background, 10%);
                color: darken($menu-colour, 50%);
                padding-left: 1.8em;
            }
        }
    }
    @media screen and (max-width: $mobile) {
        display: none;
    }
}
