.jumbotron {
    /*
     Pagebrand optic
     */
    position: relative;
    z-index: 15;
    &.flpr {
      margin-bottom: 50px;
    }
    &.pagebrand {
        padding: 0;
        figure {
            position: relative;
            padding: 0;
            img {
                width: 100%;
            }
        }
        figcaption {
            position: absolute;
            color: #fff;
            padding: 20px 30px;
            background: url("../img/promos/backdrop.png");
            bottom: 25px;
            left: 35px;
            .learnmore {
                font-style: italic;
                color: #fff !important;
                font-size: 0.750em;
            }
            h2 {
                font-weight: 700;
                font-size: 1.063em;
                margin: 0;
                border: none;
            }
            p {
                margin: 0;
                line-height: 1;
            }
            &.top {
                top: 20px;
            }
            &.right {
                left: auto;
                right: 20px;
            }
        }
    }
    /*
     Subpage Brand
     */
    &.sub-promo {
        padding: 0;
        height: 305px;
        background: #d1d5d8;
        figure {
            position: relative;
            img {
                position: absolute;
                max-width: 100%;
                top: 0;
                right: 0;
            }
            figcaption {
                .h3 {
                    font-size: 44px;
                    font-weight: 700;
                    text-transform: uppercase;
                    text-shadow: #fff 0 1px 0;
                }
                .subtext {
                    font-size: 0.7em;
                }
                .btn {
                    padding: 0.5em 3em;
                    background-color: $accent-blue;
                    border-color: $accent-blue;
                    text-transform: uppercase;
                    font-weight: 700;
                }
            }
        }
        .btn {
            text-transform: uppercase;
        }
    }
    .profileimage {
        padding-top: 10px;
    }
    .btn {
        padding: 0.5em 3em;
        background-color: $accent-blue;
        border-color: $accent-blue;
        text-transform: uppercase;
        font-weight: 700;
    }
}
/* Profile on secondary pages */
.secondary {
    .profile {
        .thumbnail {
            margin-top: 1.25em;
        }
    }
}
