/*
 Global variables for GCWeb
 */

$gray: #e1e4e7;
$button-blue: #284162;
$gray-light: #ccccff;
$accent-blue: #335075;
$border-red: #af3c43;

$search-gray: #e0e0e0;
$profile-gray: #eaebed;

$mobile: 991px;
$desktop: 992px;
$largescreen: 1200px;
