/*
 Global variables for GCWeb
 */

$gray: #e1e4e7;
$button-blue: #284162;
$gray-light: #ccccff;
$accent-blue: #335075;
$border-red: #af3c43;
$active-blue: #243850;

$search-gray: #e0e0e0;
$profile-gray: #eaebed;

$mobile: 991px;
$desktop: 992px;
$desktop-max: 1199px;
$largescreen: 1200px;

/*
Left menu variables
*/
$menu-background: #FFF;
$menu-colour: #555;
