/*
 Global variables for GCWeb
 */

$wbGray: #e1e4e7;
$button-blue: #284162;
$wbGrayLight: #eaebed;
$accent-blue: #335075;
$border-red: #af3c43;
$active-blue: #243850;

$search-gray: #e0e0e0;
$profile-gray: #eaebed;

// Views
$xxSmallViewMax: 479px;
$xSmallViewMin: 480px;
$xSmallViewMax: 767px;
$smallViewMin: 768px;
$smallViewMax: 991px;
$mediumViewMin: 992px;
$mediumViewMax: 1199px;
$largeViewMin: 1200px;
$largeViewMax: 1599px;
$xLargeViewMin: 1600px;

/*
Left menu variables
*/
$menu-background: #FFF;
$menu-colour: #555;
