// Welcome page styles
.splash {
	object {
		max-width: 33.333%;
	}
	header {
		margin: 4em 0 2em 0;
	}
	.container {
		background-color:#ccf;
		padding: 25px 5px;
	}
	main {
		.btn-primary {
			padding:1em 3em;
		}
	}
}
