.splash {
	.sp-bx {
		img {
			height: 20px;
			width: 214px;

			@media (min-width: 992px) {
				height: 100%;
				width: 100%;
			}
		}

		.btn {
			min-width: 75px;

			@media (min-width: 992px) {
				min-width: 100px;
			}
		}
	}

	.sp-bx-bt {
		img {
			height: 20px;
			width: 82px;

			@media (min-width: 992px) {
				height: 100%;
				width: 100%;
			}
		}
	}
}
