/*
 *	Mobile centre
 */


/* Re-usable rules */

%data-block-no-border {
	display: block;
	border: none;
}

%data-hidden {
	display: none;
	visibility: hidden;
}

%data-visible-block {
	display: block;
	visibility: visible;
}


.backgroundsize.csstransitions {

	#mobile-centre {
		tbody {
			padding-top: 2em;
			tr {
				display: inline-block;
				margin-bottom: 0; // For input.btn

				vertical-align: middle;
				padding: 5px;
				margin-bottom: 20px;
				background-color: #eee;
				border: none;
				background-clip: content-box;
				width: 100%;
				@media (min-width: 768px) {
					width: 50%;
				}
				@media (min-width: 1200px) {
					width: 33.333%;
				}
				background-image: url("data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="), url("data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="), url("data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="), url("data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==");
				background-repeat: repeat-x, repeat-y, repeat-x, repeat-y;
				background-position: top left, top left, bottom left, top right;
				background-origin: content-box;
				min-height: 20em;
				.product-longdescription, td.product-link-container, .product-department {
					@extend %data-hidden;
				}
				.product-platforms {
					span {
						margin-right: 5px;
					}
				}

				&:target {
					// !important is needed to override the fixed height set by DataTables.
					height: auto !important;
					width: 100%;
					.product-longdescription, td.product-link-container, .product-department {
						@extend %data-visible-block;
					}
					.product-longdescription {
						float: none;
					}
					.product-link-container {
						float: none;
						border: none;
					}
				}
				&:hover {
					background-color: darken(#f5f5f5, 5%);
					border-color: darken(#e3e3e3, 5%);
					cursor: pointer;
				}

			}
		}
	}
}

.no-backgroundsize.no-csstransitions, .backgroundsize.no-csstransitions {

	#mobile-centre {
		tr {
			border-top: 1px solid #999 !important;
			border-bottom: 1px solid #999 !important;

		}
		.product-name, .product-platforms, .product-shortdescription, .product-longdescription, .product-department, .product-links {
			margin-left: 10px;
			margin-right: 10px;
			float: left !important;
		}

		.product-name, .product-platforms, .product-shortdescription, .product-longdescription, .product-department {
			width: 96% !important;
		}

		.product-name, .product-platforms {
			margin-top: 10px;
		}

		.product-name {
			padding-bottom: 0;
		}

		.product-platforms {
			padding-top: 0;
		}

		.product-platforms, .product-shortdescription, .product-longdescription, .product-department, .product-links {
			margin-top: 0;
			clear: left;
		}
		.product-shortdescription , .record-close { display: none !important;}
		.product-link-container {
			border: none !important;
		}
		.product-link-list {
			li {
				display: inline;
				float: left;
			}
		}

	}

}


/* Layout of fields */



.product-record {
	display: inline-block;
	margin-bottom: 20px;
	width: 100%;
	&:target {
		// !important is needed to override the fixed height set by DataTables.
		height: auto !important;
	}
	&:hover {
		background-color: darken(#f5f5f5, 5%);
		border-color: darken(#e3e3e3, 5%);
		cursor: pointer;
	}
}

.product-icon {
	width: 48px;
	height: 48px;
	padding-right: 3px;
	padding-bottom: 3px;
	margin-right: 10px;
	margin-bottom: 10px;
	float: left;
	border: none;
}

.product-name {
	@extend %data-block-no-border;
}

.product-platforms, .product-links {
	@extend %data-block-no-border;
}

.product-shortdescription, .product-longdescription {
	@extend %data-block-no-border;
	margin-top: 1em;
}

.product-department {
	@extend %data-block-no-border;
	font-weight: bold;
	margin-top: 1em;
}

//.product-image {
//	width: 240px;
//	height: 360px;
//}

.product-link-list {
	list-style-type: none;
	padding-left: 0;
	margin-top: 1em;
}

.product-link-container {
	margin-bottom: 1em;
}

.product-link {
	display: block;
	text-align: left;
	text-decoration: none;
	&:hover, &:focus {
		text-decoration: none;
	}
	// Overrides for lack of specificity of main .btn-primary in theme.scss.
	// Remove when theme.scss has been fixed.
	padding: 6px 12px !important;
	text-transform: none !important;
	// Override for bootstrap no-wrap on buttons
	white-space: normal;
}

@media (min-width: 768px) {
	.product-record {
		max-width: 47%;
		margin-right: 10px;
		margin-left: 10px;
		&:target {
			max-width: 100%;
		}
	}

	.product-department, .product-links {
		width: 30%;
		margin-right: 10px;
	}

	.product-longdescription {
		width: 67%;
		margin-left: 10px;
		float: right;
	}
}

@media (min-width: 1200px) {
	.product-record {
		max-width: 31.5%;
	}
}


/* Expand/collapse record functionality */

.record-expand {
	color: inherit;
	text-decoration: none;
	&:hover, &:focus {
		color: inherit;
		text-decoration: underline;
	}
}

.record-close {
	@extend %data-hidden;
	float: right;
}

:target {
	.record-close {
		@extend %data-visible-block;
	}
}

/* Data visibility */

.product-data-hidden {
	@extend %data-hidden;
}

.product-data-compressed {
	@extend %data-visible-block;
}

:target {
	.product-data-compressed {
		@extend %data-hidden;
	}
}

.product-data-expanded {
	@extend %data-hidden;
}

:target {
	.product-data-expanded {
		@extend %data-visible-block;
	}
}
