/*
 *	Mobile centre
 */


/* Layout of fields */

.product-name, .product-platforms, .product-shortdescription, .product-longdescription, .product-department {
	float: left;
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

/*@media (min-width: 768px) {
	.product-record {
		max-width: 47%;
		margin-right: 10px;
		margin-left: 10px;
		&:target {
			max-width: 100%;
		}
	}

	.product-department, .product-links {
		width: 30%;
		margin-right: 10px;
	}

	.product-longdescription {
		width: 67%;
		margin-left: 10px;
		float: right;
	}
}

@media (min-width: 1200px) {
	.product-record {
		max-width: 31.5%;
	}
}*/


/* Expand/collapse record functionality */

/*.record-expand {
	color: inherit;
	text-decoration: none;
	&:hover, &:focus {
		color: inherit;
		text-decoration: none;
	}
}

.record-close {
	@extend %data-hidden;
	float: right;
}

:target {
	.record-close {
		@extend %data-visible-block;
	}
}*/

/* Data visibility */

/*.product-data-hidden {
	@extend %data-hidden;
}

.product-data-compressed {
	@extend %data-visible-block;
}

:target {
	.product-data-compressed {
		@extend %data-hidden;
	}
}

.product-data-expanded {
	@extend %data-hidden;
}

:target {
	.product-data-expanded {
		@extend %data-visible-block;
	}
}*/