/*
 *	Social media centre
 */


/* Layout of fields */

.product-name, .product-platforms, .product-department, .product-language, .product-link-container {
	margin-left: 1em;
	margin-right: 1em;
	float: left;
}

.product-name {
	margin-right: 0;
}

.product-platforms {
	margin-left: 0;
}

.product-name, .product-platforms {
	margin-top: 1em;
}

.product-link-container {
	margin-bottom: 1em;
}

.product-department, .product-language, .product-link-container {
	margin-top: 0;
	clear: left;
}

.product-department {
	padding-bottom: 0;
}

.product-language {
	padding-top: 0.5em;
}

/*@media (min-width: 768px) {
	.product-record {
		max-width: 47%;
		margin-right: 10px;
		margin-left: 10px;
		&:target {
			max-width: 100%;
		}
	}

	.product-department, .product-links {
		width: 30%;
		margin-right: 10px;
	}

	.product-longdescription {
		width: 67%;
		margin-left: 10px;
		float: right;
	}
}

@media (min-width: 1200px) {
	.product-record {
		max-width: 31.5%;
	}
}*/


/* Expand/collapse record functionality */

/*.record-expand {
	color: inherit;
	text-decoration: none;
	&:hover, &:focus {
		color: inherit;
		text-decoration: none;
	}
}

.record-close {
	@extend %data-hidden;
	float: right;
}

:target {
	.record-close {
		@extend %data-visible-block;
	}
}*/

/* Data visibility */

/*.product-data-hidden {
	@extend %data-hidden;
}

.product-data-compressed {
	@extend %data-visible-block;
}

:target {
	.product-data-compressed {
		@extend %data-hidden;
	}
}

.product-data-expanded {
	@extend %data-hidden;
}

:target {
	.product-data-expanded {
		@extend %data-visible-block;
	}
}*/