/*
 *	Social media centre
 */


/* Layout of fields */

.product-name, .product-platforms, .product-department, .product-language, .product-link-container {
	margin-left: 1em;
	margin-right: 1em;
	float: left;
}

.product-name {
	margin-right: 0;
}

.product-platforms {
	margin-left: 0;
}

.product-name, .product-platforms {
	margin-top: 1em;
}

.product-link-container {
	margin-bottom: 1em;
}

.product-department, .product-language, .product-link-container {
	margin-top: 0;
	clear: left;
}

.product-department {
	padding-bottom: 0;
}

.product-language {
	padding-top: 0.5em;
}