node_modules/
dist/
*.min.js
méli-mélo/compilation-gelé/
méli-mélo/deprecated/
méli-mélo-demos/
_wetboew-demos/
~jekyll-dist/

# To fix
components/wb-chtwzrd/chatwizard.js
méli-mélo/2021-04-gcaem/js/x-combobox.js
méli-mélo/2021-04-gcaem/js/x-wb5-datatable.js
méli-mélo/2023-09-collection-sort/js/collection-sort.js
méli-mélo/2023-09-collection-sort/js/collection-sort.js
méli-mélo/2023-09-distance-calculator/js/distance-calculator.j
méli-mélo/2023-09-distance-calculator/js/distance-calculator.js
méli-mélo/2023-09-menu/campaign-menu.js
méli-mélo/2023-10-clipboard/js/clipboard.js
méli-mélo/2024-02-charts/js/charts.js
méli-mélo/2024-04-stepsquiz/js/stepsquiz.js
méli-mélo/2024-10-datatable-utilities/js/wb-pspc-datatable-utility.js

