language: node_js
node_js:
  - "0.10"
cache: false

install:
  - gem install scss-lint --no-ri --version '=0.24.0'
  - scripts/setup

script:
  - scss-lint src site
  - grunt && ./scripts/travis_artifacts.sh
