<section class="gc-minister">
	<h2>{% if page.language == "en" %}Ministers{% else %}Ministres{% endif %}</h2>
	<div class="row wb-eqht-grd">
		<div class="col-md-6">
			<div class="row">
				<div class="pull-right col-md-7 col-xs-12">
					<h3><a href="#">{% if page.language == "en" %}The Honourable [Minister name]{% else %}L'honorable [prénom et nom de famille]{% endif %}</a></h3>
				</div>
				<div class="col-md-5 col-xs-12">
					<img src="https://via.placeholder.com/200x250/000000/FFFFFF.png" alt="{% if page.language == 'en' %}The Honourable [Minister name]{% else %}L'honorable [prénom et nom de famille]{% endif %}">
				</div>
				<div class="col-md-7 col-xs-12">
					<p>{% if page.language == "en" %}[Official title]{% else %}[Titre officiel du ministre]{% endif %}</p>
					<ul>
						<li><a href="">{% if page.language == "en" %}Mandate letter{% else %}Lettre de mandat{% endif %}</a></li>
						<li><a href="">{% if page.language == "en" %}Briefing book{% else %}Dossier d'information{% endif %}</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="row">
				<div class="pull-right col-md-7 col-xs-12">
					<h3><a href="#">{% if page.language == "en" %}The Honourable [Minister name]{% else %}L'honorable [prénom et nom de famille]{% endif %}</a></h3>
				</div>
				<div class="col-md-5 col-xs-12">
					<img src="https://via.placeholder.com/200x250/000000/FFFFFF.png" alt="{% if page.language == 'en' %}The Honourable [Minister name]{% else %}L'honorable [prénom et nom de famille]{% endif %}">
				</div>
				<div class="col-md-7 col-xs-12">
					<p>{% if page.language == "en" %}[Official title]{% else %}[Titre officiel du ministre]{% endif %}</p>
					<ul>
						<li><a href="">{% if page.language == "en" %}Mandate letter{% else %}Lettre de mandat{% endif %}</a></li>
						<li><a href="">{% if page.language == "en" %}Briefing book{% else %}Dossier d'information{% endif %}</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
