/*
	GC Ministers
*/

.ministers {
	margin-bottom: 15px;

	h3 {
		font-size: 20px;
		font-weight: $normal-weight;
		margin-bottom: 15px;
		margin-top: 15px;
	}

	p, ul {
		font-size: 17px;
	}

	img {
		@extend .img-responsive;
		@extend .thumbnail;

		margin-bottom: 15px;
	}
}
