---
{
	"title": "Ministre ou chef d'institution",
	"description": "Exemples pratiques pour la composante « Ministre ou chef d'institution »",
	"language": "fr",
	"altLangPage": "gc-ministers-en.html",
	"breadcrumbs": [
		{ "title": "Ministre ou chef d'institution - Documentation", "link": "components/gc-ministers/gc-ministers-doc-fr.html" }
	],
	"dateModified": "2024-03-11",
	"pageClass": "wb-prettify all-pre"
}
---

<p>Vous trouverez ci-dessous des exemples pratiques pour la composante « Ministre ou chef d'institution ».</p>

<h2>Exemple pour l'affichage par défaut</h2>
<p>Cet exemple est destiné lorsque l’image, la lettre de mandat et le cahier d’information sont disponibles.</p>
<section class="ministers">
	<h2>Ministre(s)</h2>
	<div class="row wb-eqht-grd">
		<div class="col-md-6">
			<div class="row">
				<div class="pull-right col-md-7 col-xs-12">
					<h3><a href="#">L'honorable [prénom et nom de famille]</a></h3>
				</div>
				<div class="col-md-5 col-xs-12"><img src="./img/minister-200x250.jpg" alt="L'honorable [prénom et nom de famille]"></div>
				<div class="col-md-7 col-xs-12">
					<p>[Titre officiel du ministre]</p>
					<ul>
						<li><a href="">Lettre de mandat [facultatif]</a></li>
						<li><a href="">Dossier d'information [facultatif]</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="row">
				<div class="pull-right col-md-7 col-xs-12">
					<h3><a href="#">L'honorable [prénom et nom de famille très long]</a></h3>
				</div>
				<div class="col-md-5 col-xs-12"><img src="./img/minister-200x250.jpg" alt="L'honorable [prénom et nom de famille très long]"></div>
				<div class="col-md-7 col-xs-12">
					<p>[Titre officiel du ministre]</p>
					<ul>
						<li><a href="">Lettre de mandat [facultatif]</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
<details>
	<summary>Code</summary>
	<pre><code>&lt;section class="ministers">
	&lt;h2>Ministre(s)&lt;/h2>
	&lt;div class="row wb-eqht-grd">
		&lt;div class="col-md-6">
			&lt;div class="row">
				&lt;div class="pull-right col-md-7 col-xs-12">
					&lt;h3>&lt;a href="#">L'honorable [prénom et nom de famille]&lt;/a>&lt;/h3>
				&lt;/div>
				&lt;div class="col-md-5 col-xs-12">&lt;img src="./img/minister-200x250.jpg" alt="L'honorable [prénom et nom de famille]">&lt;/div>
				&lt;div class="col-md-7 col-xs-12">
					&lt;p>[Titre officiel du ministre]&lt;/p>
					&lt;ul>
						&lt;li>&lt;a href="">Lettre de mandat [facultatif]&lt;/a>&lt;/li>
						&lt;li>&lt;a href="">Dossier d'information [facultatif]&lt;/a>&lt;/li>
					&lt;/ul>
				&lt;/div>
			&lt;/div>
		&lt;/div>
		&lt;div class="col-md-6">
			&lt;div class="row">
				&lt;div class="pull-right col-md-7 col-xs-12">
					&lt;h3>&lt;a href="#">L'honorable [prénom et nom de famille très long]&lt;/a>&lt;/h3>
				&lt;/div>
				&lt;div class="col-md-5 col-xs-12">&lt;img src="./img/minister-200x250.jpg" alt="L'honorable [prénom et nom de famille très long]">&lt;/div>
				&lt;div class="col-md-7 col-xs-12">
					&lt;p>[Titre officiel du ministre]&lt;/p>
					&lt;ul>
						&lt;li>&lt;a href="">Lettre de mandat [facultatif]&lt;/a>&lt;/li>
					&lt;/ul>
				&lt;/div>
			&lt;/div>
		&lt;/div>
	&lt;/div>
&lt;/section></code></pre>
</details>

<h2>Exemple lorsqu'un ou plusieurs éléments ne sont pas disponibles</h2>
<p>Cet exemple est destiné lorsque l'image, la lettre de mandat et/ou le dossier d'information ne sont pas disponibles.</p>
<section class="ministers">
	<h2>Ministre(s)</h2>
	<div class="row wb-eqht-grd">
		<div class="col-md-6">
			<div class="row">
				<div class="pull-right col-md-7 col-xs-12">
					<h3><a href="#">L'honorable [prénom et nom de famille très long 1]</a></h3>
				</div>
				<div class="col-md-5 col-xs-12">
					<img src="./img/minister-200x250.jpg" alt="L'honorable [prénom et nom de famille très long 1]">
				</div>
				<div class="col-md-7 col-xs-12">
					<p>[Titre officiel du ministre]</p>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="row">
				<div class="pull-right col-md-7 col-xs-12">
					<h3><a href="#">L'honorable [prénom et nom de famille 2]</a></h3>
				</div>
				<div class="col-md-5 col-xs-12">
					<img src="./img/minister-200x250.jpg" alt="L'honorable [prénom et nom de famille 2]">
				</div>
				<div class="col-md-7 col-xs-12">
					<p>[Titre officiel du ministre]</p>
					<ul>
						<li><a href="">Lettre de mandat [facultatif]</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<h3><a href="#">L'honorable [prénom et nom de famille très long 3]</a></h3>
			<p>[Titre officiel du ministre]</p>
			<ul>
				<li><a href="">Lettre de mandat [facultatif]</a></li>
				<li><a href="">Dossier d'information [facultatif]</a></li>
			</ul>
		</div>
		<div class="col-md-6">
			<h3><a href="#">L'honorable [prénom et nom de famille très long 4]</a></h3>
			<p>[Titre officiel du ministre]</p>
		</div>
	</div>
</section>
<details>
	<summary>Code</summary>
	<pre><code>&lt;section class="ministers">
	&lt;h2>Ministre(s)&lt;/h2>
	&lt;div class="row wb-eqht-grd">
		&lt;div class="col-md-6">
			&lt;div class="row">
				&lt;div class="pull-right col-md-7 col-xs-12">
					&lt;h3>&lt;a href="#">L'honorable [prénom et nom de famille très long 1]&lt;/a>&lt;/h3>
				&lt;/div>
				&lt;div class="col-md-5 col-xs-12">
					&lt;img src="./img/minister-200x250.jpg" alt="L'honorable [prénom et nom de famille très long 1]">
				&lt;/div>
				&lt;div class="col-md-7 col-xs-12">
					&lt;p>[Titre officiel du ministre]&lt;/p>
				&lt;/div>
			&lt;/div>
		&lt;/div>
		&lt;div class="col-md-6">
			&lt;div class="row">
				&lt;div class="pull-right col-md-7 col-xs-12">
					&lt;h3>&lt;a href="#">L'honorable [prénom et nom de famille 2]&lt;/a>&lt;/h3>
				&lt;/div>
				&lt;div class="col-md-5 col-xs-12">
					&lt;img src="./img/minister-200x250.jpg" alt="L'honorable [prénom et nom de famille 2]">
				&lt;/div>
				&lt;div class="col-md-7 col-xs-12">
					&lt;p>[Titre officiel du ministre]&lt;/p>
					&lt;ul>
						&lt;li>&lt;a href="">Lettre de mandat [facultatif]&lt;/a>&lt;/li>
					&lt;/ul>
				&lt;/div>
			&lt;/div>
		&lt;/div>
		&lt;div class="col-md-6">
			&lt;h3>&lt;a href="#">L'honorable [prénom et nom de famille très long 3]&lt;/a>&lt;/h3>
			&lt;p>[Titre officiel du ministre]&lt;/p>
			&lt;ul>
				&lt;li>&lt;a href="">Lettre de mandat [facultatif]&lt;/a>&lt;/li>
				&lt;li>&lt;a href="">Dossier d'information [facultatif]&lt;/a>&lt;/li>
			&lt;/ul>
		&lt;/div>
		&lt;div class="col-md-6">
			&lt;h3>&lt;a href="#">L'honorable [prénom et nom de famille très long 4]&lt;/a>&lt;/h3>
			&lt;p>[Titre officiel du ministre]&lt;/p>
		&lt;/div>
	&lt;/div>
&lt;/section></code></pre>
</details>
