---
{
	"title": "Minister or institutional head",
	"description": "Working example for the 'Minister or institutional head' component",
	"language": "en",
	"altLangPage": "gc-ministers-fr.html",
	"breadcrumbs": [
		{ "title": "Minister or institutional head - Documentation", "link": "components/gc-ministers/gc-ministers-doc-en.html" }
	],
	"dateModified": "2024-03-11",
	"pageClass": "wb-prettify all-pre"
}
---

<p>Below are working examples for the "Minster or institutional head" component.</p>

<h2>Default layout example</h2>
<p>This example is meant for when the image, mandate letter, and briefing book are available.</p>
<section class="ministers">
	<h2>Minister(s)</h2>
	<div class="row wb-eqht-grd">
		<div class="col-md-6">
			<div class="row">
				<div class="pull-right col-md-7 col-xs-12">
					<h3><a href="#">The Honourable [Minister 1 name]</a></h3>
				</div>
				<div class="col-md-5 col-xs-12">
					<img src="./img/minister-200x250.jpg" alt="The Honourable [Minister 1 name]">
				</div>
				<div class="col-md-7 col-xs-12">
					<p>[Official title]</p>
					<ul>
						<li><a href="">Mandate letter [optional]</a></li>
						<li><a href="">Briefing book [optional]</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="row">
				<div class="pull-right col-md-7 col-xs-12">
					<h3><a href="#">The Honourable [Minister 2 name with a very long name]</a></h3>
				</div>
				<div class="col-md-5 col-xs-12">
					<img src="./img/minister-200x250.jpg" alt="The Honourable [Minister 2 name with a very long name]">
				</div>
				<div class="col-md-7 col-xs-12">
					<p>[Official title]</p>
					<ul>
						<li><a href="">Mandate letter [optional]</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
<details>
	<summary>Code sample</summary>
	<pre><code>&lt;section class="ministers">
	&lt;h2>Minister(s)&lt;/h2>
	&lt;div class="row wb-eqht-grd">
		&lt;div class="col-md-6">
			&lt;div class="row">
				&lt;div class="pull-right col-md-7 col-xs-12">
					&lt;h3>&lt;a href="#">The Honourable [Minister 1 name]&lt;/a>&lt;/h3>
				&lt;/div>
				&lt;div class="col-md-5 col-xs-12">
					&lt;img src="./img/minister-200x250.jpg" alt="The Honourable [Minister 1 name]">
				&lt;/div>
				&lt;div class="col-md-7 col-xs-12">
					&lt;p>[Official title]&lt;/p>
					&lt;ul>
						&lt;li>&lt;a href="">Mandate letter [optional]&lt;/a>&lt;/li>
						&lt;li>&lt;a href="">Briefing book [optional]&lt;/a>&lt;/li>
					&lt;/ul>
				&lt;/div>
			&lt;/div>
		&lt;/div>
		&lt;div class="col-md-6">
			&lt;div class="row">
				&lt;div class="pull-right col-md-7 col-xs-12">
					&lt;h3>&lt;a href="#">The Honourable [Minister 2 name with a very long name]&lt;/a>&lt;/h3>
				&lt;/div>
				&lt;div class="col-md-5 col-xs-12">
					&lt;img src="./img/minister-200x250.jpg" alt="The Honourable [Minister 2 name with a very long name]">
				&lt;/div>
				&lt;div class="col-md-7 col-xs-12">
					&lt;p>[Official title]&lt;/p>
					&lt;ul>
						&lt;li>&lt;a href="">Mandate letter [optional]&lt;/a>&lt;/li>
					&lt;/ul>
				&lt;/div>
			&lt;/div>
		&lt;/div>
	&lt;/div>
&lt;/section></code></pre>
</details>

<h2>Example when one or more elements are not available</h2>
<p>This example is meant for when the image, mandate letter, and/or briefing book are not available.</p>
<section class="ministers">
	<h2>Minister(s)</h2>
	<div class="row wb-eqht-grd">
		<div class="col-md-6">
			<div class="row">
				<div class="pull-right col-md-7 col-xs-12">
					<h3><a href="#">The Honourable [Minister 1 name]</a></h3>
				</div>
				<div class="col-md-5 col-xs-12">
					<img src="./img/minister-200x250.jpg" alt="The Honourable [Minister 1 name]">
				</div>
				<div class="col-md-7 col-xs-12">
					<p>[Official title]</p>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="row">
				<div class="pull-right col-md-7 col-xs-12">
					<h3><a href="#">The Honourable [Minister 2 name with a very long name]</a></h3>
				</div>
				<div class="col-md-5 col-xs-12">
					<img src="./img/minister-200x250.jpg" alt="The Honourable [Minister 2 name with a very long name]">
				</div>
				<div class="col-md-7 col-xs-12">
					<p>[Official title]</p>
					<ul>
						<li><a href="">Mandate letter [optional]</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<h3><a href="#">The Honourable [Minister 3 name]</a></h3>
			<p>[Official title]</p>
			<ul>
				<li><a href="">Mandate letter [optional]</a></li>
				<li><a href="">Briefing book [optional]</a></li>
			</ul>
		</div>
		<div class="col-md-6">
			<h3><a href="#">The Honourable [Minister 4 name]</a></h3>
			<p>[Official title]</p>
		</div>
	</div>
</section>
<details>
	<summary>Code sample</summary>
	<pre><code>&lt;section class="ministers">
	&lt;h2>Minister(s)&lt;/h2>
	&lt;div class="row wb-eqht-grd">
		&lt;div class="col-md-6">
			&lt;div class="row">
				&lt;div class="pull-right col-md-7 col-xs-12">
					&lt;h3>&lt;a href="#">The Honourable [Minister 1 name]&lt;/a>&lt;/h3>
				&lt;/div>
				&lt;div class="col-md-5 col-xs-12">
					&lt;img src="./img/minister-200x250.jpg" alt="The Honourable [Minister 1 name]">
				&lt;/div>
				&lt;div class="col-md-7 col-xs-12">
					&lt;p>[Official title]&lt;/p>
				&lt;/div>
			&lt;/div>
		&lt;/div>
		&lt;div class="col-md-6">
			&lt;div class="row">
				&lt;div class="pull-right col-md-7 col-xs-12">
					&lt;h3>&lt;a href="#">The Honourable [Minister 2 name with a very long name]&lt;/a>&lt;/h3>
				&lt;/div>
				&lt;div class="col-md-5 col-xs-12">
					&lt;img src="./img/minister-200x250.jpg" alt="The Honourable [Minister 2 name with a very long name]">
				&lt;/div>
				&lt;div class="col-md-7 col-xs-12">
					&lt;p>[Official title]&lt;/p>
					&lt;ul>
						&lt;li>&lt;a href="">Mandate letter [optional]&lt;/a>&lt;/li>
					&lt;/ul>
				&lt;/div>
			&lt;/div>
		&lt;/div>
		&lt;div class="col-md-6">
			&lt;h3>&lt;a href="#">The Honourable [Minister 3 name]&lt;/a>&lt;/h3>
			&lt;p>[Official title]&lt;/p>
			&lt;ul>
				&lt;li>&lt;a href="">Mandate letter [optional]&lt;/a>&lt;/li>
				&lt;li>&lt;a href="">Briefing book [optional]&lt;/a>&lt;/li>
			&lt;/ul>
		&lt;/div>
		&lt;div class="col-md-6">
			&lt;h3>&lt;a href="#">The Honourable [Minister 4 name]&lt;/a>&lt;/h3>
			&lt;p>[Official title]&lt;/p>
		&lt;/div>
	&lt;/div>
&lt;/section></code></pre>
</details>
