---
{
"layout": false,
"title": "Page d'accueil version 2.0"
}
---
<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">

<head>
	<meta charset="utf-8">
	<!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW) wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
	<title>Accueil - Canada.ca - Canada.ca</title>
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<meta name="description" content=" " />
	<link href="/dist/GCWeb/assets/favicon.ico" rel="icon" type="image/x-icon" />
	<link rel="stylesheet" href="/dist/GCWeb/css/theme.css" />
	<noscript>
		<link rel="stylesheet" href="/dist/wet-boew/css/noscript.css" />
	</noscript>
</head>

<body class="home page-type-nav" vocab="http://schema.org/" typeof="WebPage">
	<nav>
		<ul id="wb-tphp">
			<li class="wb-slc"><a class="wb-sl" href="#wb-cont">Passer au contenu principal</a></li>
			<li class="wb-slc visible-sm visible-md visible-lg"><a class="wb-sl" href="#wb-info">Passer à «&#160;À propos de ce site&#160;»</a></li>
		</ul>
	</nav>
	<header>
		<div id="wb-bnr" class="container">
			<div class="row">
				<section id="wb-lng" class="col-xs-3 col-sm-12 pull-right text-right">
					<h2 class="wb-inv">Sélection de la langue</h2>
					<ul class="list-inline mrgn-bttm-0">
						<li>
							<a lang="en" hreflang="en" href="home-v2-en.html">
								<span class="hidden-xs">English</span>
								<abbr title="English" class="visible-xs h3 mrgn-tp-sm mrgn-bttm-0 text-uppercase">en</abbr>
							</a>
						</li>
					</ul>
				</section>
				<div class="brand col-xs-9 col-sm-5 col-md-4" property="publisher" typeof="GovernmentOrganization">
					<img src="/dist/GCWeb/assets/sig-blk-fr.svg" alt="Gouvernement du Canada" property="logo" /><span class="wb-inv"> / <span lang="en">Government of Canada</span></span>
					<link property="url" href="https://wet-boew.github.io/GCWeb/" />
					<meta property="name" content="Gouvernement du Canada">
					<meta property="areaServed" typeof="Country" content="Canada" />
					<link property="logo" href="/dist/GCWeb/assets/wmms-blk.svg" />
				</div>
				<section id="wb-srch" class="col-lg-offset-4 col-md-offset-4 col-sm-offset-2 col-xs-12 col-sm-5 col-md-4">
					<h2>Recherche</h2>
					<form action="#" method="post" name="cse-search-box" role="search">
						<div class="form-group wb-srch-qry">
							<label for="wb-srch-q" class="wb-inv">Rechercher dans Canada.ca</label>
							<input id="wb-srch-q" list="wb-srch-q-ac" class="wb-srch-q form-control" name="q" type="search" value="" size="34" maxlength="170" placeholder="Rechercher dans Canada.ca" />
							<datalist id="wb-srch-q-ac"></datalist>
						</div>
						<div class="form-group submit">
							<button type="submit" id="wb-srch-sub" class="btn btn-primary btn-small" name="wb-srch-sub">
								<span class="glyphicon-search glyphicon"></span>
								<span class="wb-inv">Recherche</span>
							</button>
						</div>
					</form>
				</section>
			</div>
		</div>
		<hr>
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<nav class="gcweb-menu" typeof="SiteNavigationElement">
						<h2 class="wb-inv">Menu</h2>
						<button type="button" aria-haspopup="true" aria-expanded="false">Menu<span class="wb-inv"> principal</span> <span class="expicon glyphicon glyphicon-chevron-down"></span></button>
						<ul role="menu" aria-orientation="vertical" data-ajax-replace="https://www.canada.ca/content/dam/canada/sitemenu/sitemenu-v2-fr.html">
							<li role="presentation"><a role="menuitem" href="https://www.canada.ca/fr/services/emplois.html">Emplois et milieu de travail</a></li>
							<li role="presentation"><a role="menuitem" href="https://www.canada.ca/fr/services/immigration-citoyennete.html">Immigration et citoyenneté</a></li>
							<li role="presentation"><a role="menuitem" href="https://voyage.gc.ca/">Voyage et tourisme</a></li>
							<li role="presentation"><a role="menuitem" href="https://www.canada.ca/fr/services/entreprises.html">Entreprises et industrie</a></li>
							<li role="presentation"><a role="menuitem" href="https://www.canada.ca/fr/services/prestations.html">Prestations</a></li>
							<li role="presentation"><a role="menuitem" href="https://www.canada.ca/fr/services/sante.html">Santé</a></li>
							<li role="presentation"><a role="menuitem" href="https://www.canada.ca/fr/services/impots.html">Impôts</a></li>
							<li role="presentation"><a role="menuitem" href="https://www.canada.ca/fr/services/environnement.html">Environnement et ressources naturelles</a></li>
							<li role="presentation"><a role="menuitem" href="https://www.canada.ca/fr/services/defense.html">Sécurité nationale et défense</a></li>
							<li role="presentation"><a role="menuitem" href="https://www.canada.ca/fr/services/culture.html">Culture, histoire et sport</a></li>
							<li role="presentation"><a role="menuitem" href="https://www.canada.ca/fr/services/police.html">Services de police, justice et urgences</a></li>
							<li role="presentation"><a role="menuitem" href="https://www.canada.ca/fr/services/transport.html">Transport et infrastructure</a></li>
							<li role="presentation"><a role="menuitem" href="https://international.gc.ca/world-monde/index.aspx?lang=fra">Canada et le monde</a></li>
							<li role="presentation"><a role="menuitem" href="https://www.canada.ca/fr/services/finance.html">Argent et finances</a></li>
							<li role="presentation"><a role="menuitem" href="https://www.canada.ca/fr/services/science.html">Science et innovation</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</header>
	<main property="mainContentOfPage" resource="#wb-main" typeof="WebPageElement">
		<div class="provisional bg-cover" data-bgimg-srcset="https://www.canada.ca/content/dam/canada/carousel/bkg-home-banner-480w.jpg 479w, https://www.canada.ca/content/dam/canada/carousel/bkg-home-banner.jpg 480w">
			<div class="container p-0 p-sm-3">
				<div class="well header-rwd brdr-0 brdr-rds-0 text-white bg-gctheme">
					<h1 property="name" id="wb-cont">Canada.ca</h1>
					<p class="mrgn-tp-md">Le site officiel du gouvernement du Canada</p>
				</div>
			</div>
			<section class="provisional gc-featured-link">
				<div class="container">
					<div class="row">
						<div class="col-xs-12">
							<h2 class="wb-inv">En vedette</h2>
							<p><a class="stretched-link" href="#">[Titre de la promotion]</a></p>
							<p>Description longue [Facultatif]</a></p>
						</div>
					</div>
				</div>
			</section>
		</div>
		<section class="home-most-requested well well-sm brdr-0">
			<div class="container">
				<h2 class="mrgn-tp-md">En demande</h2>
				<ul class="wb-eqht list-unstyled mrgn-tp-md mrgn-bttm-sm lst-spcd-2 list-responsive">
					<li><a href="https://www.canada.ca/fr/gouvernement/ouvrir-session-dossier-compte-en-ligne.html">Se connecter à un compte</a></li>
					<li><a href="https://www.canada.ca/fr/services/prestations/ae.html">Assurance-emploi et congés</a></li>
					<li><a href="https://www.canada.ca/fr/services/prestations/pensionspubliques.html">Pensions publiques (RPC et SV)</a></li>
					<li><a href="https://www.canada.ca/fr/immigration-refugies-citoyennete/services/passeports-canadiens.html">Obtenir un passeport</a></li>
					<li><a href="https://meteo.gc.ca/canada_f.html">Météo</a></li>
					<li><a href="https://www.canada.ca/fr/gouvernement/subventions-financement.html">Subventions et financement</a></li>
					<li><a href="https://www.canada.ca/fr/gouvernement/changement-adresse.html">Changer votre adresse</a></li>
					<li><a href="http://canadiensensante.gc.ca/recall-alert-rappel-avis/index-fra.php">Rappels et avis de sécurité </a></li>
				</ul>
			</div>
		</section>
		<section class="gc-srvinfo container">
			<h2 class="wb-inv">Services et renseignements</h2>
			<div class="wb-eqht row">
				<div class="col-lg-4 col-md-6">
					<h3><a href="https://www.canada.ca/fr/services/emplois.html">Emplois</a></h3>
					<p>Trouver un emploi, formation, programmes d'embauche, permis de travail, numéro d'assurance sociale (NAS)</p>
				</div>
				<div class="col-lg-4 col-md-6">
					<h3><a href="https://www.canada.ca/fr/services/immigration-citoyennete.html">Immigration et citoyenneté</a></h3>
					<p>Visiter, travailler, étudier, immigrer, réfugiés, résidents permanents, présenter une demande, vérifier l'état de la demande</p>
				</div>
				<div class="col-lg-4 col-md-6">
					<h3><a href="https://voyage.gc.ca">Voyage et tourisme</a></h3>
					<p>Au Canada ou à l'étranger, conseils, avis, passeports, visiter le Canada, événements, attractions</p>
				</div>
				<div class="col-lg-4 col-md-6">
					<h3><a href="https://www.canada.ca/fr/services/entreprises.html">Entreprises et industrie</a></h3>
					<p>Démarrer une entreprise, permis, propriété intellectuelle, soutien aux entreprises, vendre au gouvernement</p>
				</div>
				<div class="col-lg-4 col-md-6">
					<h3><a href="https://www.canada.ca/fr/services/prestations.html">Prestations</a></h3>
					<p>Assurance emploi, congés familiaux et congés de maladie, pensions, logement, aide financière aux études, personnes invalides</p>
				</div>
				<div class="col-lg-4 col-md-6">
					<h3><a href="https://www.canada.ca/fr/services/sante.html">Santé</a></h3>
					<p>Alimentation, nutrition, maladies, vaccins, médicaments, sécurité des produits et rappels</p>
				</div>
				<div class="col-lg-4 col-md-6">
					<h3><a href="https://www.canada.ca/fr/services/impots.html">Impôts</a></h3>
					<p>Impôt sur le revenu, TPS/TVH, limites de contribution, credits d’impôt, organismes de charité </p>
				</div>
				<div class="col-lg-4 col-md-6">
					<h3><a href="https://www.canada.ca/fr/services/environnement.html">Environnement et ressources naturelles</a></h3>
					<p>Météo, climat, agriculture, faune, pollution, conservation, pêches</p>
				</div>
				<div class="col-lg-4 col-md-6">
					<h3><a href="https://www.canada.ca/fr/services/defense.html">Sécurité nationale et défense</a></h3>
					<p>Militaire, cybersécurité, sûreté des transports, sécuriser la frontière, contre-terrorisme</p>
				</div>
				<div class="col-lg-4 col-md-6">
					<h3><a href="https://www.canada.ca/fr/services/culture.html">Culture, histoire et sport</a></h3>
					<p>Arts, médias, patrimoine, langues officielles, identité nationale et financement</p>
				</div>
				<div class="col-lg-4 col-md-6">
					<h3><a href="https://www.canada.ca/fr/services/police.html">Services de police, justice et urgences</a></h3>
					<p>Sécurité, justice, se préparer en cas d'urgence, services aux victimes d'actes criminels</p>
				</div>
				<div class="col-lg-4 col-md-6">
					<h3><a href="https://www.canada.ca/fr/services/transport.html">Transport et infrastructure</a></h3>
					<p>Aviation, transport maritime, transport routier, transport ferroviaire, marchandises dangereuses, projets d'infrastructure</p>
				</div>
				<div class="col-lg-4 col-md-6">
					<h3><a href="https://international.gc.ca/world-monde/index.aspx?lang=fra">Le Canada et le monde</a></h3>
					<p>Politique étrangère, ententes commerciales, développement international, enjeux mondiaux</p>
				</div>
				<div class="col-lg-4 col-md-6">
					<h3><a href="https://www.canada.ca/fr/services/finance.html">Argent et finances</a></h3>
					<p>Finances personnelles, dossiers de crédit, se protéger de la fraude, financer votre éducation</p>
				</div>
				<div class="col-lg-4 col-md-6">
					<h3><a href="https://www.canada.ca/fr/services/science.html">Science et innovation</a></h3>
					<p>Recherche scientifique sur la santé, l'environnement et l'espace, subventions et financement</p>
				</div>
			</div>
		</section>
		<section class="gc-srvinfo container mrgn-bttm-lg">
			<h2>Par public</h2>
			<div class="wb-eqht row">
				<div class="col-lg-4 col-md-6">
					<h3><a href="https://www.aadnc-aandc.gc.ca/fra/1461766373625/1461766394598">Autochtones</a></h3>
					<p>Programmes et services pour les Premières nations, les Inuits et les Métis</p>
				</div>
				<div class="col-lg-4 col-md-6">
					<h3><a href="https://www.canada.ca/fr/services/veterans.html">Vétérans</a></h3>
					<p>Services pour les membres actifs et retraités des Forces armées canadiennes ou de la <abbr title="Gendarmerie royale du Canada">GRC</abbr> et leurs familles</p>
				</div>
				<div class="col-lg-4 col-md-6">
					<h3><a href="https://www.canada.ca/fr/services/jeunesse.html">Jeunesse</a></h3>
					<p>Programmes et services pour adolescents et jeunes adultes</p>
				</div>
			</div>
		</section>
		<section class="home-your-gov well well-sm well-bold brdr-0">
			<div class="container">
				<h2>Votre gouvernement</h2>
				<div class="row mrgn-bttm-lg">
					<div class="col-lg-7 col-xs-12 col-md-6">
						<ul class="row wb-eqht-grd list-unstyled small">
							<li class="col-xs-12 col-sm-6 mrgn-tp-sm mrgn-bttm-sm">
								<a href="https://www.canada.ca/fr/contact.html">Contactez-nous</a>
							</li>
							<li class="col-xs-12 col-sm-6 mrgn-tp-sm mrgn-bttm-sm">
								<a href="https://www.canada.ca/fr/nouvelles.html">Nouvelles</a>
							</li>
							<li class="col-xs-12 col-sm-6 mrgn-tp-sm mrgn-bttm-sm">
								<a href="https://pm.gc.ca/fr">Premier ministre</a>
							</li>
							<li class="col-xs-12 col-sm-6 mrgn-tp-sm mrgn-bttm-sm">
								<a href="https://www.canada.ca/fr/gouvernement/min.html">Ministères et organismes</a>
							</li>
							<li class="col-xs-12 col-sm-6 mrgn-tp-sm mrgn-bttm-sm">
								<a href="https://www.canada.ca/fr/gouvernement/systeme.html">À propos du gouvernement</a>
							</li>
							<li class="col-xs-12 col-sm-6 mrgn-tp-sm mrgn-bttm-sm">
								<a href="https://ouvert.canada.ca/fr">Gouvernement ouvert et données ouvertes</a>
							</li>
							<li class="col-xs-12 col-sm-6 mrgn-tp-sm mrgn-bttm-sm">
								<a href="https://www.canada.ca/fr/gouvernement/fonctionpublique.html">Travailler au gouvernement</a>
							</li>
							<li class="col-xs-12 col-sm-6 mrgn-tp-sm mrgn-bttm-sm">
								<a href="https://www.canada.ca/fr/gouvernement/systeme/lois.html">Traités, lois et règlements</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<section class="container gc-features">
			<h2>Initiatives du gouvernement</h2>
			<div class="row wb-eqht">
				<div class="col-sm-6">
					<div class="well well-sm brdr-rds-0 eqht-trgt">
						<img class="img-responsive full-width" src="../../components/gc-features/img/initiative-520x200.png" alt="" />
						<h3 class="h5"><a class="stretched-link" href="#">[Lien à l’élément en vedette]</a></h3>
						<p>Brève description de l’élément en vedette.</p>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="well well-sm brdr-rds-0 eqht-trgt">
						<img class="img-responsive full-width" src="../../components/gc-features/img/initiative-520x200.png" alt="" />
						<h3 class="h5"><a class="stretched-link" href="#">[Lien à l’élément en vedette]</a></h3>
						<p>Brève description de l’élément en vedette.</p>
					</div>
				</div>
			</div>
		</section>
		<footer class="pagedetails container">
			<h2 class="wb-inv">Page details</h2>
			<div class="row">
				<div class="col-xs-12">
					<dl id="wb-dtmd">
						<dt>Date de modification&#160;:</dt>
						<dd><time property="dateModified">2022-08-10</time></dd>
					</dl>
				</div>
			</div>
		</footer>
	</main>
	<footer id="wb-info">
		<div class="landscape">
			<nav class="container wb-navcurr">
				<h2 class="wb-inv">Au sujet du gouvernement</h2>
				<ul class="list-unstyled colcount-xs-2 colcount-md-3">
					<li><a href="https://www.canada.ca/fr/contact.html">Contactez-nous</a></li>
					<li><a href="https://www.canada.ca/fr/gouvernement/min.html">Ministères et organismes</a></li>
					<li><a href="https://www.canada.ca/fr/gouvernement/fonctionpublique.html">Fonction publique et force militaire</a></li>
					<li><a href="https://www.canada.ca/fr/nouvelles.html">Nouvelles</a></li>
					<li><a href="https://www.canada.ca/fr/gouvernement/systeme/lois.html">Traités, lois et règlements</a></li>
					<li><a href="https://www.canada.ca/fr/transparence/rapports.html">Rapports à l'échelle du gouvernement</a></li>
					<li><a href="https://pm.gc.ca/fra">Premier ministre</a></li>
					<li><a href="https://www.canada.ca/fr/gouvernement/systeme.html">Comment le gouvernement fonctionne</a></li>
					<li><a href="https://ouvert.canada.ca/">Gouvernement ouvert</a></li>
				</ul>
			</nav>
		</div>
		<div class="brand">
			<div class="container">
				<div class="row">
					<nav class="col-md-9 col-lg-10 ftr-urlt-lnk">
						<h2 class="wb-inv">À propos de ce site</h2>
						<ul>
							<li><a href="https://www.canada.ca/fr/sociaux.html">Médias sociaux</a></li>
							<li><a href="https://www.canada.ca/fr/mobile.html">Applications mobiles</a></li>
							<li><a href="https://www1.canada.ca/fr/nouveausite.html">À propos de Canada.ca</a></li>
							<li><a href="https://www.canada.ca/fr/transparence/avis.html">Avis</a></li>
							<li><a href="https://www.canada.ca/fr/transparence/confidentialite.html">Confidentialité</a></li>
						</ul>
					</nav>
					<div class="col-xs-6 visible-sm visible-xs tofpg">
						<a href="#wb-cont">Haut de la page <span class="glyphicon glyphicon-chevron-up"></span></a>
					</div>
					<div class="col-xs-6 col-md-3 col-lg-2 text-right"><img src="/dist/GCWeb/assets/wmms-blk.svg" alt="Symbole du gouvernement du Canada" />
					</div>
				</div>
			</div>
		</div>
	</footer>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js" integrity="sha384-rY/jv8mMhqDabXSo+UCggqKtdmBfd3qC2/KvyTDNQ6PcUJXaxK1tMepoQda4g5vB" crossorigin="anonymous"></script>
	<script src="/dist/wet-boew/js/wet-boew.js"></script>
	<script src="/dist/GCWeb/js/theme.js"></script>
</body>

</html>
