---
{
	"layout": null,
	"title": "Home page including header version 1.0"
}
---
{%- include variable-core.liquid -%}
{%- capture page-title -%}
	{%- if page.title -%}
		{{ page.title }}
	{%- else -%}
		Page untitled
	{%- endif -%}
{%- endcapture -%}
<!DOCTYPE html>
<html class="no-js" lang="{{ i18nText-lang | default: 'en' }}" dir="{{ i18nText-langDir | default: 'ltr' }}">
	<head>
		<meta charset="utf-8">
		{% include license.html %}
		<title>{{ page-title }} - {{ i18nText-siteTitle }}</title>
		<meta content="width=device-width, initial-scale=1" name="viewport">
		{% include metadata.html %}
		{% include resources-inc/head.html %}
	</head>
	<body class="home" vocab="http://schema.org/" typeof="WebPage">
		{%- if page.pageType == "archived" -%}
			{% include headers-includes/archive.html %}
		{%- endif -%}
		{% include skiplinks/skiplinks.html %}
		<header>
			<div id="wb-bnr" class="container">
				<div class="row">
					{% if page.altLangPage %}{% include language/languagetoggle.html %}{% endif %}
					{% include headers-includes/brand.html %}
					{% unless page.nositesearch %}{% include headers-includes/sitesearch.html %}{% endunless %}
				</div>
			</div>
		{%- unless page.nomenu -%}
			<!-- Example to support the version 1 of header and the version 1 of GCWeb-menu -->
			{% include gcweb-menu/sitemenu-v2.html %}
		{%- endunless -%}
		</header>
		{%- capture page-title -%}
			{%- if page.titleH1 -%}
				{{ page.titleH1 }}
			{%- elsif page.title -%}
				{{ page.title }}
			{%- else -%}
				Page untitled
			{%- endif -%}
		{%- endcapture -%}
		<main property="mainContentOfPage" resource="#wb-main" typeof="WebPageElement">
			<div class="provisional bg-cover" data-bgimg-srcset="https://www.canada.ca/content/dam/canada/carousel/bkg-home-banner-480w.jpg 479w, https://www.canada.ca/content/dam/canada/carousel/bkg-home-banner.jpg 480w">
			<div class="container p-0 p-sm-3">
				<div class="well header-rwd brdr-0 brdr-rds-0 text-white bg-gctheme">
					<h1 property="name" id="wb-cont">Canada.ca</h1>
					<p class="mrgn-tp-md">The official website of the Government of Canada</p>
				</div>
			</div>
			<section class="provisional gc-featured-link">
				<div class="container">
					<div class="row">
						<div class="col-xs-12">
							<h2 class="wb-inv">Featured</h2>
							<p><a class="stretched-link" href="#">[Promotion title]</a></p>
							<p>Long description [Optional]</a></p>
						</div>
					</div>
				</div>
			</section>
		</div>
		<div class="container">
			{% include web-contents/placeholdercontent-en.html %}
		</div>
		{% include page-details/footer.html %}
		</main>
		{% include footers/footer.html %}
		{% include resources-inc/footer.html %}
	</body>
</html>
