---
{
	"title": "[ESDC peers template] - Meta information",
	"language": "en",
	"altLangPrefix": "esdc",
	"breadcrumb": [
		{ "title": "GCWeb home", "link": "http://wet-boew.github.io/themes-dist/GCWeb/index-en.html" }
	],
	"secondlevel": false,
	"dateModified": "2018-10-15",
	"share": "true"
}
---

<h2>Campaign page - Example 2</h2>

<dl class="horizontal">
	<dt>Status</dt>
	<dd>Informational</dd>

	<dt>Type</dt>
	<dd>Peers template <!-- Common design patter --></dd>

	<dt>Last review</dt>
	<dd>2018-10-15</dd>

	<dt>Conforming to</dt>
	<dd>Developed in conformance to the Campaign template in Content and IA spec 1.3</dd>

	<dt>Specification</dt>
	<dd>There is no specification yet</dd>
</dl>

<h2>Published templates</h2>
<ul>
	<li><a href="../campaign2-en.html">English</a></li>
	<li><a href="../campaign2-fr.html" hreflang="fr">French</a></li>
</ul>

<h2>Accessiblity</h2>
<p>Not evaluated for WCAG 2.1 Level AA conformance.</p>

<h2>Previous version</h2>
<ul>
	<li>Campaign 2
		<ul>
			<li>
				<p>Version 1 until v29 - <time>2018-10-10</time>: <a href="https://github.com/wet-boew/GCWeb/blob/v4.0.29/site/pages/campaign2-en.hbs">English</a>; <a href="https://github.com/wet-boew/GCWeb/blob/v4.0.29/site/pages/campaign2-fr.hbs">French</a></p>
				<p>List of new changes since:</p>
				<ul>
					<li><a href="https://github.com/wet-boew/GCWeb/pull/1406/files">Fixed equal heights implementation</a></li>
				</ul>
			</li>
		</ul>
	</li>
</ul>

<h2>Todos</h2>
<ul>
	<li>Create a corresponding specification (defining how to use)</li>
</ul>
