/*
 WET date modified overwrites
*/

// Needed for backwards compatibility with GCWeb 4.0.26 and below's HTML markup. Remove in GCWeb 4.1+.
// ExpireOn: 2024-12-01
.datemod {
	padding: {
		bottom: 7px;
		top: 7px;
	}

	#wb-dtmd {
		margin-top: 0;
	}
}
