---
{
	"title": "v5.0.x - Notes de version",
	"description": "v5.0.x - Notes de version - Historique des versions - Thème de Canada.ca (GCWeb)",
	"language": "fr",
	"altLangPrefix": "v5.0",
	"breadcrumb": [
		{ "title": "Accueil de GCWeb", "link": "../index-en.html" }
	],
	"secondlevel": false,
	"dateModified": "2019-02-22",
	"share": "true"
}
---
<div class="row">
	<div class="col-md-7 col-lg-8">
		<p>Version 5.0.1</p>
		<ul>
			<li><strong>Date de lancement&#160;:</strong> <time>2019-02-22</time></li>
			<li><strong>Compiler avec:</strong> <a href="https://wet-boew.github.io/wet-boew/docs/versions/v4.0/v4.0.30-fr.html">WET-BOEW v4.0.30</a></li>
		</ul>
		<p>Version 5.0.0</p>
		<ul>
			<li><strong>Date de lancement&#160;:</strong> <time>2019-02-11</time></li>
			<li><strong>Compiler avec:</strong> <a href="https://wet-boew.github.io/wet-boew/docs/versions/v4.0/v4.0.30-fr.html">WET-BOEW v4.0.30</a></li>
			<li><a href="https://github.com/wet-boew/GCWeb/archive/v5.0.0.zip">Télécharger le thème</a></li>
			<li><a href="https://github.com/wet-boew/GCWeb/archive/v5.0.0.zip">Code source</a></li>
		</ul>
	</div>
	<div class="col-xs-12 col-md-auto pull-right">
		<p><a href="https://github.com/wet-boew/GCWeb/archive/v5.0.1.zip" class="btn btn-primary">Télécharger le thème <strong>GCWeb v5.0.1</strong></a><br />
			<small>(<a href="https://github.com/wet-boew/GCWeb/archive/v5.0.1.zip">Code source</a>)</small></p>
	</div>
</div>

<section>
	<h2>Quoi de neuf?</h2>

	<section>
		<h3 id="v5.0.1">Version 5.0.1</h3>
		<ul>
			<li>Correctif - Menu - Correction d'un conflict avec les lecteurs d'écran empêchant l'utilisateur d'utiliser le menu. Relatif à <a href="https://github.com/wet-boew/wet-boew/issues/8556" hreflang="en">wet-boew/wet-boew #8556</a></li>
		</ul>
	</section>
	<section>
		<h3 id="v5.0.0">Version 5.0.0</h3>

		<ul>
			<li>
				<p>Majeur - Thème - Refonte du balissage, nouveau menu et mise à jour de l'aspect visuelle</p>
				<p>Changement majeur apporté à:</p>
				<ul>
					<li>L'entête de page</li>
					<li>Le pied de page</li>
					<li>Menu</li>
					<li>Page d'accueil</li>
					<li>Concordance à la Spécifications du contenu et de l’architecture de l'information pour Canada.ca version 2.0 (Révisé le 31 janvier 2019)</li>
				</ul>
				<p>Nouvelle fontionalité:</p>
				<ul>
					<li>Double espacement pour les liste</li>
					<li>Liste adjustable</li>
					<li>Modèle de conception pour une figure lié</li>
					<li>Page de contenu limité en largeur</li>
					<li>Button d'appel à l'action</li>
				</ul>
				<p>Autre changement notable:</p>
				<ul>
					<li>La police de charactère</li>
					<li>La grosseur augmenté de la police ainsi que l'espacement, excluant les formulaires pour l'instant</li>
					<li>Le modèle de conception pour la section "Service et information" avec des block de lien (doormat links)</li>
					<li>L'image de marque du gouvernement du canada en format SVG a été mise à jour</li>
				</ul>
				<p>Documentation utile:</p>
				<ul>
					<li><a href="../gcweb-theme/index.html">Sommaire et autre notes technique</a> (En anglais seulement)</li>
					<li><a href="../gcweb-theme/v5-migration.html">Guide technique de migration (de v4.0.29 à v5.0</a> (En anglais seulement)</li>
					<li><a href="../gcweb-theme/index.html#temp-avoid-visual">Comment éviter temporairement l'application de l'aspect visuelle</a> (En anglais seulement)</li>
				</ul>
			</li>
			<li>Mineur - Conception commune - Service et information - Modification du gabarit (lancement de la version 3)</li>
			<li>Mineur - Data JSON - Ajout du support pour contrôler la propriété <code>hidden</code></li>
			<li>Mineur - Ajout du support pour le texte expurgé.</li>
			<li>Information - Fieldflow - Clarification de la définition de la configuration <code>outputctnrid</code></li>
			<li>Mineur - Tableau - Colonne flottante dans un tableau de donné</li>
			<li>Mineur - Retrait du code anlytique de Google.</li>
			<li>Mineur - Gabarit de modèle de campagne par ESDC - Ajout de la configuration pour une hauteur fix et retrait de quelque marge de dessous.</li>
			<li>Information - Développeur de la BOEW - Règle de contrôle de la qualité - L'espacement est maintenant contrôler lors de la compilation.</li>
			<li>Information - Développeur de la BOEW - Modification du script de compilation et de ses dépendances.</li>
		</ul>

		<p>Documentation:</p>
		<ul>
			<li><a href="../component/gc-srvinfo.html">Service et information - Conception commune</a></li>
			<li><a href="../gcweb-theme/index.html#special-notes">GCWeb v5.0 - Notes technique d'intêret</a> (En anglais seulement)
				<ul>
					<li>Utilisation du lissage de l'anti-crénelage de la police de charactère</li>
					<li>Utilisation de l'attribut <code>[aria-expanded]</code> dans le menu</li>
					<li>Utilisation de l'API de Google pour obtenir les police de charactère</li>
					<li>Notes techniques à propos de la conception du menu</li>
				</ul>
			</li>
			<li><a href="../gcweb-theme/index.html">GCWeb v5.0 - Sommaire et autre notes technique</a> (En anglais seulement)</li>
			<li><a href="../gcweb-theme/v5-migration.html">GCWeb v5.0 - Guide technique de migration (de v4.0.29 à v5.0</a> (En anglais seulement)</li>
			<li><a href="/tbl-floatcolumn-fr.html">Colonne flottante dans un tableau de donné</a></li>
			<li><a href="../redacted-fr.html">Texte expurgé</a></li>
		</ul>

		<p>Évaluation et rapport:</p>
		<ul>
			<li>16 november 2018: <a href="../evaluation-report/2-wetplugin-gcweb2.html" hreflang="en" lang="en">2 - Regression user acceptance testing of WET plugin for GCWeb theme version 2</a> (disponible en anglais seulement)</li>
			<li>14 novembre 2018: <a href="evaluation-report/1-accessibility.html" hreflang="en" lang="en">1 - Accessibility assesment of GCWeb theme version 2</a> (disponible en anglais seulement)</li>
		</ul>

		<p>Notes:</p>
		<ul>
			<li>Le guide de rédaction pour canada.ca a été mis à jour afin de permettre le texte en italique pour certain cas d'utilisation.</li>
		</ul>
	</section>
	<section>
		<h3>Fureteur supporté</h3>
		<p>Tel que défini par la <a hreflang="en" href="http://wet-boew.github.io/wet-boew-documentation/decision/2.html">Décision de conception 2: Fureteur supporté</a> (en anglais)</p>
		<ul>
			<li>Chrome 71</li>
			<li>Chrome 70</li>
			<li>Safari 12.0</li>
			<li>Firefox 65</li>
			<li>Firefox 64.0.2</li>
			<li>Firefox ESR - 60.5.0</li>
			<li>IE 11</li>
			<li>Edge 18</li>
		</ul>
	</section>
</section>

<section>
	<h2 id="details">Détails</h2>
	<p><strong>Nombre de contributions:</strong> 119</p>
	<ul>
		<li><a href="https://github.com/duboisp">Pierre Dubois (@duboisp)</a>: 90 contributions</li>
		<li><a href="https://github.com/EricDunsworth">Eric Dunsworth (@EricDunsworth)</a>: 8 contributions</li>
		<li><a href="https://github.com/patlaj">Patrick Lajeunesse (@patlaj)</a>: 7 contributions</li>
		<li><a href="https://github.com/ipaksc">Ilya Pak (@ipaksc)</a>: 4 contributions</li>
		<li><a href="https://github.com/shawnthompson">Shawn Thompson (@shawnthompson)</a>: 3 contributions</li>
		<li><a href="https://github.com/anishkny">Anish Karandikar (@anishkny)</a>: 2 contribution</li>
		<li><a href="https://github.com/Borges-Porteous">Borges-Porteous (@Borges-Porteous)</a>: 2 contribution</li>
		<li><a href="https://github.com/GormFrank">Francis Gorman (@GormFrank)</a>: 1 contribution</li>
		<li><a href="https://github.com/jkshapiro">Kivi Shapiro (@jkshapiro)</a>: 1 contribution</li>
		<li><a href="https://github.com/jmealing">Jennifer Mealing (@jmealing)</a>: 1 contribution</li>
		<li>Co-contributeur:
			<ul>
				<li><a href="https://github.com/ipaksc">Ilya Pak (@ipaksc)</a></li>
				<li><a href="https://github.com/Deepgee">Deep Gupta (@Deepgee)</a></li>
				<li><a href="https://github.com/cfarquharson">Chad Farquharson (@cfarquharson)</a></li>
				<li><a href="https://github.com/Bgolden67">Brian Golden (@Bgolden67)</a></li>
				<li><a href="https://github.com/therealolivergross">Oliver Gross (@therealolivergross)</a></li>
			</ul>
		</li>
	</ul>

	<section>
		<h3>Liste des contributions</h3>
		<ul lang="en">
			<li><a href="https://github.com/wet-boew/wet-boew/commit/6400735">EditorConfig: Added .*/JSON/MD/Gemfile.lock overrides and exempted font SVG.</a> - Eric Dunsworth, <time>2018-09-07</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/6176536">Repo: Corrected files to comply with .editorconfig rules.</a> - Eric Dunsworth, <time>2018-09-11</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/0f6f1d4">Updated build version to v4.0.30-development</a> - Pierre Dubois, <time>2018-09-20</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/c561f5c">Build: Added lintspaces task to check for .editorconfig compliance.</a> - Eric Dunsworth, <time>2018-09-26</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/2c58abf">Campaign example 2: Fixed equal heights implementation.</a> - Eric Dunsworth, <time>2018-10-04</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/83dd081">package-lock.json: Updated to npm 5.10/6.x-friendly style.</a> - Eric Dunsworth, <time>2018-10-10</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/e0e28a8">Build: Depend on a specific version of WET (4.0.29).</a> - Eric Dunsworth, <time>2018-10-10</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/730f3ba">ESDC Campaign 2 - Updated versioning info</a> - Pierre Dubois, <time>2018-10-15</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/6e74c99">Removal of Google analytic tracking code</a> - Pierre Dubois, <time>2018-10-15</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/abb4e5c">V2 - Breadcrumb and page footer</a> - Pierre Dubois, <time>2018-10-16</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/921fcca">V2 - Breadcrumb styling fixes</a> - Pierre Dubois, <time>2018-10-16</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/d01794a">Float column in a data table</a> - ipaksc, <time>2018-10-17</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/d8486a3">V2 - Menu structure/semantic draft</a> - Pierre Dubois, <time>2018-10-17</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/5392511">V2 - Initial menu style</a> - Pierre Dubois, <time>2018-10-17</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/71bf527">V2 - Top page banner</a> - Pierre Dubois, <time>2018-10-17</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/69fe3d4">V2 - Top menu styling</a> - Pierre Dubois, <time>2018-10-17</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/14812a5">V2 - Top Menu JS</a> - Pierre Dubois, <time>2018-10-22</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/dd047dd">V2 - Top menu style update</a> - Pierre Dubois, <time>2018-10-22</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/1465733">V2 - Home page top banner</a> - Pierre Dubois, <time>2018-10-22</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/ec90e2f">V2 - Footer - Markup cleanup</a> - Pierre Dubois, <time>2018-10-25</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/087a2d0">V2 - Page header - Markup cleanup</a> - Pierre Dubois, <time>2018-10-25</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/febe724">V2 - Page header - Markup cleanup</a> - Pierre Dubois, <time>2018-10-25</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/426c098">V2 - Home page + new utility style</a> - Pierre Dubois, <time>2018-10-29</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/9d14fec">V2 - Top menu - Improved markup</a> - Pierre Dubois, <time>2018-10-29</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/0045af6">V2 - Menu JS update + English menu content update</a> - Pierre Dubois, <time>2018-10-29</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/b56a927">V2 - Menu JS for mobile + minor menu CSS optimisation</a> - Pierre Dubois, <time>2018-10-29</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/7efdd3e">V2 - Menu content in English and French</a> - Pierre Dubois, <time>2018-10-29</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/2740179">V2 - Contenu de la page d'accueil en français</a> - Pierre Dubois, <time>2018-10-29</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/7b56253">V2 - Menu keyboard navigation fix</a> - Pierre Dubois, <time>2018-10-30</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/8d5544c">V2 - content limited width</a> - Pierre Dubois, <time>2018-10-30</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/6835439">V2 - Cleaning up build script exception that was added</a> - Pierre Dubois, <time>2018-10-30</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/55bd837">Page status update on the main index page</a> - Pierre Dubois, <time>2018-10-30</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/145a5b2">V2 - fix small layout issue with content limited width and list-responsive</a> - Pierre Dubois, <time>2018-11-01</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/b358968">Theme: Fixed malformed CSS selectors/properties.</a> - Eric Dunsworth, <time>2018-11-01</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/ffb6c53">V2 - Migration notes and a typo fix</a> - Pierre Dubois, <time>2018-11-01</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/f62725a">Fix typo</a> - Kivi Shapiro, <time>2018-11-02</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/9370bb8">V2 - Various fix and comments for internal issue 15 to 20 and 22 to 28</a> - Pierre Dubois, <time>2018-11-02</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/b1e977b">V2 - Quick review of the migration instruction And fixed item 21 and 22</a> - Pierre Dubois, <time>2018-11-02</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/d0a9c6d">V2 - Menu keyboard navigation take in consideration orientation of sibling menu separator</a> - Pierre Dubois, <time>2018-11-02</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/44fd375">V2 - Home page - Change dormat size for the same as h5</a> - Pierre Dubois, <time>2018-11-05</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/e99d551">V2 - Menu item - English responsive title for theme link - item 1</a> - Pierre Dubois, <time>2018-11-05</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/3d136a6">Removed top margin for date modified</a> - Pierre Dubois, <time>2018-11-06</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/6bd2497">.gitattributes: Added binary font file types.</a> - Eric Dunsworth, <time>2018-11-08</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/b8db381">V2  - Review of defined font-size and Review of CSS class name</a> - Pierre Dubois, <time>2018-11-08</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/13f87aa">V2 - Add btn call-to-action and fix list-responsive floating</a> - Pierre Dubois, <time>2018-11-09</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/f1df211">V2 - Menu - Fix hover issue and now conform with SC 1.4.13</a> - Pierre Dubois, <time>2018-11-09</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/07c6bf2">V2 - Menu items are now fetch and fixes to pass whatwg validation (Item 39, 40)</a> - Pierre Dubois, <time>2018-11-13</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/005ad6f">V2 - Increase target size for button and fixed label in name issue for the search input (Item 36, 37)</a> - Pierre Dubois, <time>2018-11-13</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/4809f97">V2 - Moved gcweb theme documentation in a folder to not conflict with the JS/CSS location</a> - Pierre Dubois, <time>2018-11-13</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/b05fc80">index-en.hbs: Fix typo</a> - Anish Karandikar, <time>2018-11-14</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/b1d0495">Update index-en.hbs</a> - Anish Karandikar, <time>2018-11-14</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/ee3d9c0">V2 - WCAG assessment of the content page</a> - Pierre Dubois, <time>2018-11-14</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/eb15c7e">V2 - Update home page banner background image</a> - Pierre Dubois, <time>2018-11-14</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/def2190">V2 - Report on WET plugin regression testing and diff if no markup change</a> - Pierre Dubois, <time>2018-11-16</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/bc88b6f">V2 - fix the play button position on the video multimedia player</a> - Pierre Dubois, <time>2018-11-16</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/b60b390">Fieldflow - Docs - Clarified outputctnrid config</a> - Pierre Dubois, <time>2018-11-19</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/a8d9a70">V2 - Add font smoothing antialiased</a> - Pierre Dubois, <time>2018-11-19</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/0828080">V2 - Fix item 47, 48 and 49</a> - Pierre Dubois, <time>2018-11-20</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/e9f5280">V2 - GCWeb theme documentation update</a> - Pierre Dubois, <time>2018-11-21</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/8bc125e">V2 - Fix seach btn on xs view and items 5, 50, 52, 54, 56, 57, 58, 59</a> - Pierre Dubois, <time>2018-11-22</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/7824e4d">V2 - Partially fix item 60 and Fix Item 30</a> - Pierre Dubois, <time>2018-11-26</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/d1be715">V2 - fix item 63</a> - Pierre Dubois, <time>2018-11-26</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/51e6e46">V2 - Fixed item 60 and updated the temporary issue list priority</a> - Pierre Dubois, <time>2018-11-27</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/57b38b1">V2 - Bypassing the new for any web form and manually with a CSS class</a> - Pierre Dubois, <time>2018-11-28</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/b3501e9">V2 - Add top menu item inside each page for SEO</a> - Pierre Dubois, <time>2018-11-29</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/b179e50">V2 - GCWeb 4-0-29 font - Documentation, working example and instruction</a> - Pierre Dubois, <time>2018-11-29</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/a49ab91">V2 - Minor ajustment to button size and content improvement for GCWeb 4.0.29 font style</a> - Pierre Dubois, <time>2018-11-30</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/ef22895">V2 - Home page CSS improvement/adjustment</a> - Pierre Dubois, <time>2018-11-30</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/75363e7">V2 - Added migration instruction for the page details section and cleanup of unused code.</a> - Pierre Dubois, <time>2018-12-03</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/710e1dd">V2 - Fix the height of excluded input ctrl</a> - Pierre Dubois, <time>2018-12-03</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/660f4b9">V2 - Fix glyphicon position to match the font size</a> - Pierre Dubois, <time>2018-12-04</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/da6d0ad">V2 – Content update - Menu item and home page (#1455)</a> - Patrick Lajeunesse, <time>2018-12-06</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/6b16d36">Update IRCC Help center label (#1457)</a> - Patrick Lajeunesse, <time>2018-12-07</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/a2bb9b1">Better rendered version of GC sig - English</a> - Patrick Lajeunesse, <time>2018-12-10</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/3fe3599">From examples - test cases</a> - ipaksc, <time>2018-12-11</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/ccb6683">Redacted Text - Guidance and CSS</a> - Pierre Dubois, <time>2018-12-13</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/c21811b">Valid SVG file</a> - Patrick Lajeunesse, <time>2018-12-13</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/f737b21">V2 - GC Signature En-Fr SVG optimised</a> - Pierre Dubois, <time>2018-12-14</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/bca5769">V2 - Clarification on the use of Google API, Updated temporary issue list</a> - Pierre Dubois, <time>2018-12-17</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/4f521ac">Update FR most requested links</a> - Patrick Lajeunesse, <time>2018-12-18</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/1c9bdf1">remove role attribute from updated header markup</a> - Shawn Thompson, <time>2018-12-19</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/dc6bd70">Removed lang row</a> - Shawn Thompson, <time>2018-12-19</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/09a953c">V2 - Applied new font-size</a> - Pierre Dubois, <time>2018-12-21</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/c56411a">V2 - Menu - Improved styling/markup for accessibility</a> - Pierre Dubois, <time>2018-12-21</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/f2acb55">V2 - Home page promotional banner</a> - Pierre Dubois, <time>2018-12-27</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/4e80f95">V2 - Home page promo - Various fixes</a> - Pierre Dubois, <time>2018-12-27</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/814b896">V2 - Menu - Various update (content + markup cleanup)</a> - Pierre Dubois, <time>2018-12-28</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/171288c">V2 - Menu - Fixed menu item translation (item 81)</a> - Pierre Dubois, <time>2018-12-28</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/800e7ca">Component - Service and information documentation</a> - Pierre Dubois, <time>2019-01-09</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/3acb352">Redacted text - Fix IE11 display issue</a> - Pierre Dubois, <time>2019-01-09</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/84f8316">update to gitignore</a> - Shawn Thompson, <time>2019-01-10</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/95beb39">V2 - Update list of temporary issue</a> - Pierre Dubois, <time>2019-01-10</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/fda7719">V2 - Form validation error label in legend - Item 89</a> - GormFrank, <time>2019-01-16</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/93731b0">Fix doormat font size, body line-height and typo</a> - jmealing, <time>2019-01-16</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/fef829d">V2 - home page - Adjusted heading font-size + the feature padding and markup</a> - Pierre Dubois, <time>2019-01-16</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/9c5c0b4">Services and information - Working examples</a> - ipaksc, <time>2019-01-16</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/2aa1d8d">V2 - Fixed makup of services and information in template</a> - Pierre Dubois, <time>2019-01-16</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/a163bc8">Label edits</a> - Patrick Lajeunesse, <time>2019-01-17</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/8abf1c4">et milieu removed to match English</a> - Patrick Lajeunesse, <time>2019-01-17</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/05cb0f8">V2 - home page - updated gc-srvinfo markup</a> - Pierre Dubois, <time>2019-01-17</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/689268d">V2 - multi-page navigation font fix + size fix for site search in xxs</a> - Pierre Dubois, <time>2019-01-17</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/7259697">gc-srvinfo exampled - Added info box to provide more context</a> - Pierre Dubois, <time>2019-01-17</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/02151e6">V2 - Define margin for gc-srvinfo dormats title + Fix various spacing for the home page</a> - Pierre Dubois, <time>2019-01-17</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/3661747">V2 - Limited width content - removed the custom margin to allow overide</a> - Pierre Dubois, <time>2019-01-18</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/87fcd51">V2 - home page and doormat link spacing fix</a> - Pierre Dubois, <time>2019-01-18</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/ca50b28">V2 - Datatable override and removed menu btn on print</a> - Pierre Dubois, <time>2019-01-21</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/2ea0f1c">V2 - Small multimedia player time controls layout fix</a> - Pierre Dubois, <time>2019-01-23</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/7cc872b">V2 - Datatable ensure filter bar render in 1 line for 8 col width</a> - Pierre Dubois, <time>2019-01-23</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/7851f6b">V2 - temporary issue list update</a> - Pierre Dubois, <time>2019-01-24</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/de19326">Data-JSON - Add support for hidden property</a> - ipaksc, <time>2019-01-25</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/70fe9e1">V2 - Fix button size overwride in forms</a> - Pierre Dubois, <time>2019-01-25</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/11630d3">Documentation - Data-JSON - Support for hidden property</a> - Pierre Dubois, <time>2019-01-25</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/2d7c10e">Renaming reference from v2 to v5 including the gcweb menu</a> - Pierre Dubois, <time>2019-01-30</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/e940ecc">Updating the gcweb home page intro</a> - Pierre Dubois, <time>2019-01-30</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/0f0c85c">Content update - GCWeb home page</a> - Pierre Dubois, <time>2019-01-30</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/dbe8348">search updates</a> - Borges-Porteous, <time>2019-02-01</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/bdc9450">css updates for the search</a> - Borges-Porteous, <time>2019-02-01</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/68b5be9">Search template fixes</a> - Pierre Dubois, <time>2019-02-01</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/8ccea98">V5 - Search template - Docs and working example</a> - Pierre Dubois, <time>2019-02-07</time></li>
		</ul>
	</section>
</section>

<section>
	<h2 id="details-v5.0.1">Détails - v5.0.1</h2>
	<p><strong>Nombre de contributions:</strong> 2</p>
	<section>
		<h3>Liste des contributions</h3>
		<ul lang="en">
			<li><a href="https://github.com/wet-boew/wet-boew/commit/825f07f03e6764b28974478a7f17f56241ae74a7">Menu update - Minor English ajaxed menu link fixes</a> - Pierre Dubois, <time>2019-02-07</time></li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/d44826a57de19867ecef28a9616c512685988b46">Report - Menu - Test result with screen reader</a> - Pierre Dubois, <time>2019-02-22</time></li>
		</ul>
	</section>
</section>

<section>
	<h2 id="sri">Intégrité des sous-ressource (SRI)</h2>
	<p>Le <a href="https://www.w3.org/TR/SRI/" hreflang="en">SRI</a> (en anglais) est une méthode qui permet de protéger le transfère des resources d'un site web. Ci-dessous vous avez les condensés numériques pour les ressource clef de la BOEW et de GCWeb.</p>

	<section>
		<h3>v5.0.1</h3>
		<dl>
			<dt><code>GCWeb/js/theme.min.js</code></dt>
			<dd>[Ajouter le condensé numérique]</dd>
		</dl>
		<p>Obtenez tous les condensés numériques (en format JSON):</p>
		<ul>
			<li><a href="https://github.com/wet-boew/themes-dist/blob/v5.0.1-gcweb/GCWeb/payload.json">Thème GCWeb</a></li>
		</ul>
	</section>

	<section>
		<h3>v5.0.0</h3>
		<dl>
			<dt><code>GCWeb/js/theme.min.js</code></dt>
			<dd>sha256-/lRGaPSPK2YRQmyxCAmkl34aG5BmzHunegvAsFrvo3s= sha512-zqjZMjtjEOYTL4pse2VWnpgPVrWm0aHdIJaMR3fL5bKmz3Kzj6XQlk9i1sNLJVo4tj6HtMqVPLf/E7s+K8kU1Q==</dd>
		</dl>
		<p>Obtenez tous les condensés numériques (en format JSON):</p>
		<ul>
			<li><a href="https://github.com/wet-boew/themes-dist/blob/v5.0.0-gcweb/GCWeb/payload.json">Thème GCWeb</a></li>
		</ul>
	</section>
</section>
