---
{
	"title": "[Long index page] - Meta information",
	"language": "en",
	"altLangPrefix": "longindex",
	"breadcrumb": [
		{ "title": "Home", "link": "https://www.canada.ca/en.html" }
	],
	"secondlevel": false,
	"dateModified": "2018-06-29",
	"share": "true"
}
---

<dl class="horizontal">
	<dt>Status</dt>
	<dd>Incomplete, Partial</dd>

	<dt>Type</dt>
	<dd>Template <!-- Common design patter --></dd>

	<dt>Last review</dt>
	<dd>2018-06-27</dd>

	<dt>Conforming to</dt>
	<dd>Content and IA spec 1.5</dd>

	<dt>Specification</dt>
	<dd><a href="https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-information-architecture-specification/templates-detailed-specifications/pages-index.html">Index pages for Canada.ca</a>
</dl>

<ul>
	<li>Short index page <span class="label label-danger">Backlog</span></li>
	<li>Long index page <span class="label label-warn">Incomplete</span></li>
	<li>Finder page <span class="label label-danger">Backlog</span></li>
	<li>Faceted finder page <span class="label label-danger">Backlog</span></li>
</ul>

<h2>Published templates</h2>

<div class="alert alert-danger">
	<p>The following template only show what the HTML makup should looklike after a given filter was applied. The interaction feature (filtering) is missing and require to be developed. The following template include some <code>ARIA</code> property that assume the filtering feature work as expected.</p>
</div>

<ul>
	<li><a href="longindex-en.html">English default</a> <span class="label label-danger">Incomplete</span></li>
	<li><a href="longindex-fr.html" hreflang="fr">French default</a> <span class="label label-danger">Incomplete</span></li>
</ul>

<h2>Accessiblity</h2>
<p>Not evaluated for WCAG 2.1 Level AA conformance</p>

<h2>Previous version</h2>
<p>[There is no previous version]</p>

<h2>Todos</h2>

<ul>
	<li>Develop a WET feature that allow the filtering as expressed by this design</li>
	<li>Draft HTML for short index page, finder page and faceted finder page</li>
</ul>
