---
{
	"title": "[Page d’index long]",
	"language":	"fr",
	"altLangPrefix": "longindex",
	"pageclass": "cnt-wdth-lmtd",
	"breadcrumb": [
		{ "title": "Accueil", "link": "https://www.canada.ca/fr.html" }
	],
	"secondlevel": false,
	"dateModified": "2018-07-12",
	"share": "true"
}
---
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<div class="form-inline">
<label for="longIdxFltr">Que recherchez-vous?:</label>
<input type="search" id="longIdxFltr" aria-controls="gc-sct-1 gc-sct-2 gc-sct-3 gc-sct-4">
</div>
<hr/>
<section>
<h2>[En-tête de la section]</h2>
<p>Fusce ac felis sit amet ligula pharetra condimentum. Maecenas egestas arcu quis ligula mattis placerat.</p>
<div class="row" id="gc-sct-1">
	<div class="col-xs-auto pull-left">
		<p class="h2 mrgn-tp-sm">0</p>
	</div>
	<div class="col-xs-auto mrgn-lft-xl">
		<p>Aucun résultat trouvé</p>
	</div>
</div>
</section>
<section>
<h2>[En-tête de la section]</h2>
<p>Nulla fringilla venenatis mi et iaculis. Donec feugiat felis at enim mattis eleifend.</p>
<div class="row" id="gc-sct-2">
	<div class="col-xs-auto pull-left">
		<p class="h2 mrgn-tp-sm">0</p>
	</div>
	<div class="col-xs-auto mrgn-lft-xl">
		<p>Aucun résultat trouvé</p>
	</div>
</div>
</section>
<section>
<h2>[En-tête de la section]</h2>
<p>Cras hendrerit mauris est, nec commodo lorem venenatis eget. Maecenas consectetur augue eget metus sagittis sagittis. </p>
<div class="row" id="gc-sct-3">
	<div class="col-xs-auto pull-left">
		<p class="h2 mrgn-tp-sm">5</p>
	</div>
	<div class="col-xs-auto mrgn-lft-xl">
		<ul>
			<li><a href="#">Sed augue ipsum</a></li>
			<li><a href="#">Vestibulum fringilla pede sit amet augue</a></li>
			<li><a href="#">In hac habitasse platea dictumst</a></li>
			<li><a href="#">Fusce convallis metus id felis luctus adipiscing</a></li>
			<li><a href="#">Maecenas ullamcorper, dui et placerat feugiat</a></li>
		</ul>
	</div>
</div>
</section>
<section>
<h2>[En-tête de la section]</h2>
<p>Etiam et scelerisque nulla. Nulla tincidunt diam magna, quis dapibus ante gravida sit amet. In a mi dui.</p>
<div class="row" id="gc-sct-4">
	<div class="col-xs-auto pull-left">
		<p class="h2 mrgn-tp-sm">0</p>
	</div>
	<div class="col-xs-auto mrgn-lft-xl">
		<p>Aucun résultat trouvé</p>
	</div>
</div>
</section>
