/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 * Background image heading - Provisional CSS
 */

.bg-img-hdng {
	background-image: url("https://www.canada.ca/content/dam/servcan/x-blue-line.png");
	background-position: right bottom;
	background-repeat: no-repeat;
	min-height: 60px;
	padding-bottom: 35px;
	padding-right: 80px;
}
