/*
  WET-BOEW
  @title: Extra-small view and under (screen only)
  @desc:  Variable $screen-xs-max <= 767px
 */

/* Make a simple list multi-column and responsive (overide _defaults.scss) */
.list-responsive {
	> li {
		clear:right;
		width: 100%;
	}
}
