{%- comment -%}

++++++++++++++++++++++++++++++++++
+ i18 Text
+
+ Global text used by the GCWeb template.
++++++++++++++++++++++++++++++++++

{%- endcomment -%}
{%- assign i18nText-siteTitle = "Canada.ca" -%}
{%- assign i18nText-home = "Canada.ca" -%}
{%- assign i18nText-wmmsImg = "assets/wmms-blk.svg" -%}
{%- if i18nText-lang == "fr" -%}

	{% assign i18nText-homePage = "https://www.canada.ca/fr.html" %}

	{% assign i18nText-sigBlk = "assets/sig-blk-fr.svg" %}
	{% assign i18nText-goc = "Gouvernement du Canada" %}
	{% assign i18nText-gocAltLang = '<span lang="en">Government of Canada</span>' %}

	{% assign i18nText-searchSite = "Rechercher dans Canada.ca" %}

	{% assign i18nText-archived = "Nous avons archivé cette page et elle ne sera plus mise à jour." %}
	{% assign i18nText-archived-desc = "Vous pouvez la consulter à des fins de recherche ou à titre de référence." %}

	{% assign i18nText-menuAjax = "https://www.canada.ca/content/dam/canada/sitemenu/sitemenu-v2-fr.html" %}

	{% assign i18nText-pageDetails = "Détails de la page" %}

	{% assign i18nText-feedback = "Signaler un problème ou une erreur sur cette page" %}
	{% assign i18nText-feedbackLink = "https://www.canada.ca/fr/signaler-probleme.html" %}

	{% assign i18nText-wmms = "Symbole du gouvernement du Canada" %}
	{% assign i18nText-wmmsAltLang = "<span lang="en">Symbol of the Government of Canada</span>" %}

	{% assign i18nText-themeLinks = "Thèmes et sujets" %}
	{% assign i18nText-gocCorporate = "Organisation du gouvernement du Canada" %}
	{% assign i18nText-transparency = "Transparence" %}

{%- elsif i18nText-lang == "en" -%}

	{% assign i18nText-homePage = "https://www.canada.ca/en.html" %}

	{% assign i18nText-sigBlk = "assets/sig-blk-en.svg" %}
	{% assign i18nText-goc = "Government of Canada" %}
	{% assign i18nText-gocAltLang = '<span lang="fr">Gouvernement du Canada</span>' %}

	{% assign i18nText-searchSite = "Search Canada.ca" %}

	{% assign i18nText-archived = "We have archived this page and will not be updating it." %}
	{% assign i18nText-archived-desc = "You can use it for research or reference." %}

	{% assign i18nText-menuAjax = "https://www.canada.ca/content/dam/canada/sitemenu/sitemenu-v2-en.html" %}

	{% assign i18nText-pageDetails = "Page details" %}

	{% assign i18nText-feedback = "Report a problem on this page" %}
	{% assign i18nText-feedbackLink = "https://www.canada.ca/en/report-problem.html" %}

	{% assign i18nText-wmms = "Symbol of the Government of Canada" %}
	{% assign i18nText-wmmsAltLang = "<span lang="fr">Symbole du gouvernement du Canada</span>" %}

	{% assign i18nText-themeLinks = "Themes and topics" %}
	{% assign i18nText-gocCorporate = "Government of Canada Corporate" %}
	{% assign i18nText-transparency = "Transparency" %}

{%- endif -%}
