{%- comment -%}

++++++++++++++++++++++++++++++++++
+ i18 Text, core
+
+ Global text used by the core template shared across multiple theme like wet-boew and gcweb. Other i18n text might located along with their respective component.
++++++++++++++++++++++++++++++++++

{%- endcomment -%}
{%- if i18nText-lang == "fr" -%}

	{% assign i18nText-iso639-2T = "fra" %}

	{% assign i18nText-skipCont = "Passer au contenu principal" %}
	{% assign i18nText-skipAbout = "Passer à «&#160;À propos de ce site&#160;»" %}
	{% assign i18nText-skipSection = "Passer au menu de la section" %}

	{% assign i18nText-altLang = "en" %}
	{% assign i18nText-altLanguage = "English" %}

	{% assign i18nText-search = "Recherche" %}

	{% assign i18nText-breadcrumb = "Vous êtes ici :" %}
	{% assign i18nText-language = "Sélection de la langue" %}

	{% assign i18nText-menu = "Menu" %}
	{% assign i18nText-menuBtn = 'Menu<span class="wb-inv"> principal</span>' %}

	{% assign i18nText-signOnOff = "Information de l'utilisateur actuel" %}
	{% assign i18nText-signOnRegister = "Inscription" %}
	{% assign i18nText-signIn = "Se connecter" %}
	{% assign i18nText-signAs = "Connecté en tant que" %}
	{% assign i18nText-signOut = "Déconnexion" %}
	{% assign i18nText-signAccount = "Mon compte" %}

	{% assign i18nText-footerSite = "À propos de ce site" %}

	{% assign i18nText-dateModified = "Date de modification&#160;:" %}

{%- elsif i18nText-lang == "en" -%}

	{% assign i18nText-iso639-2T = "eng" %}

	{% assign i18nText-skipCont = "Skip to main content" %}
	{% assign i18nText-skipAbout = "Skip to About this site" %}
	{% assign i18nText-skipSection = "Skip to section menu" %}

	{% assign i18nText-altLang = "fr" %}
	{% assign i18nText-altLanguage = "Français" %}

	{% assign i18nText-search = "Search" %}

	{% assign i18nText-breadcrumb = "You are here:" %}
	{% assign i18nText-language = "Language selection" %}

	{% assign i18nText-menu = "Menu" %}
	{% assign i18nText-menuBtn = '<span class="wb-inv">Main </span>Menu' %}

	{% assign i18nText-signOnOff = "Sign-on information" %}
	{% assign i18nText-signOnRegister = "Register" %}
	{% assign i18nText-signIn = "Sign in" %}
	{% assign i18nText-signAs = "Signed in as" %}
	{% assign i18nText-signOut = "Sign out" %}
	{% assign i18nText-signAccount = "My account" %}

	{% assign i18nText-footerSite = "About this site" %}

	{% assign i18nText-dateModified = "Date modified:" %}

{%- endif -%}
