/*
 * CSS used for the legacy/obselete code
 */
/* Report a problem Thank you message */
.gc-rprt-prblm-thnk {
	padding-bottom: 25px;
}

/* Report a problem temporary fix for toggle : GH issue #1336 */
.gc-rprt-prblm-frm {

	&.gc-rprt-prblm-tggl {

		&.show {
			display: none !important;
		}
	}
}

/* Hide RAP textarea and Other : GH issue #1336 */
.gc-rprt-prblm-frm {

	.form-group {

		display:none !important
	}
}

.gc-rprt-prblm-frm {

	label[for=problem6] {

		display:none !important
	}
}
