/*
 * CSS used for the legacy/obsolete code
 */

/* Report a problem Thank you message */
.gc-rprt-prblm-thnk {
	padding-bottom: 25px;
}

.gc-rprt-prblm-frm {
	&.gc-rprt-prblm-tggl {
		&.show {
			/* Report a problem temporary fix for toggle : GH issue #1336 */
			display: none !important;
		}
	}

	.form-group {
		/* Hide RAP textarea and Other : GH issue #1336 */
		display:none !important
	}

	label[for="problem6"] {
		display:none !important
	}
}
