<aside class="lnkbx">
	<h2>Guides and help</h2>
	<ul class="lst-spcd">
		<li><a href="#">[Related guides and help 1]</a></li>
		<li><a href="#">[Related guides and help 2]</a></li>
		<li><a href="#">[Related guides and help 3]</a></li>
	</ul>
</aside>
<aside class="lnkbx">
	<h2>Contact us</h2>
	<p>[Office name or location]<br>
		1300-70 Somerset St. W<br>
		Moncton NB E1C 8P2</p>
	<dl>
		<dt>Telephone:</dt>
		<dd>506-857-2400 ext. 123</dd>
		<dd>506-857-2400 ext. 124</dd>
		<dt>Email:</dt>
		<dd><a href="mailto:firstname.lastname@canada.ca">firstname.lastname@canada.ca</a></dd>
	</dl>
	<ul>
		<li><a href="#">Contact [Institution name] for help</a></li>
		<li><a href="#">Contact [Institution name] for help</a></li>
		<li><a href="#">Contact [Institution name] for help</a></li>
		<li><a href="#">Contact [Institution name] for help</a></li>
	</ul>
</aside>
<aside class="lnkbx">
	<h2>Related services and information</h2>
	<ul class="lst-spcd">
		<li><a href="#">[Related services 1]</a></li>
		<li><a href="#">[Related services 2]</a></li>
		<li><a href="#">[Related information 1]</a></li>
		<li><a href="#">[Related information 2]</a></li>
	</ul>
</aside>
<aside class="lnkbx">
	<h2>Related program</h2>
	<ul class="lst-spcd">
		<li><a href="#">[Program name]</a></li>
	</ul>
</aside>
