/*
 Banner
 */

header {
	position: relative;

	.brand {
		margin-bottom: 10px;
		padding-bottom: 10px;
		padding-top: 10px;

		a {
			display: block;
			height: auto;
			padding-bottom: 0;
			position: relative;
			width: auto;

			&:after {
				bottom: 0;
				content: "";
				left: 0;
				position: absolute;
				right: 0;
				top: 0;
			}
		}

		object,
		img {
			height: auto;
			max-height: 40px;
		}
	}
}

/*
 * Mobile Chevron
 */
#wb-glb-mn {
	margin-top: 20px;

	ul {
		min-width: 150px;

		&.chvrn {
			background: $accent-blue;
			display: inline-block;
			float: right;
			height: 2.75em;
			padding-right: 10px;

			li {
				padding-right: 0;

				a {
					background: $accent-blue;
					color: #fff;
					font-size: 1.9em;
					line-height: 1.7em;
					padding: 5px 10px 0 0;
				}
			}

			span {
				.glyphicon-th-list {
					padding-left: 10px;
					top: 0;
				}
			}

			&:before {
				border-bottom: 1.375em solid transparent;
				border-left: 0.6875em solid #f8f8f8;
				border-top: 1.375em solid transparent;
				content: " ";
				display: block;
				float: left;
				height: 0;
				position: relative;
				width: 0;
			}
		}
	}
}

/* IE Tweaks */
.lt-ie9 {
	header {
		.brand {
			a {
				margin-top: 0;
			}

			img {
				height: 40px;
			}
		}
	}
}

[dir=rtl] {
	header {
		.brand {
			float: right;
		}
	}

	#wb-glb-mn {
		ul {
			&.chvrn {
				padding-left: 1.5em;
				padding-right: 0;
				text-align: left;

				span {
					.glyphicon-th-list {
						padding-left: 0;
						padding-right: 10px;
					}
				}

				&:before {
					border-left: 0;
					border-right: 11px solid #f8f8f8;
					float: right;
				}
			}
		}
	}
}
