/*
 Banner (small view and under)
 */
header {
	.brand {
		a {
			margin-top: 15px;
		}
	}
}
 
#wb-glb-mn {
	margin-top: 20px;

	ul {
		&.chvrn {
			li {
				a {
					background: $accent-blue;
					color: #fff;
					font-size: 1.7em;
					line-height: 1.8em;
					padding: 5px 10px 0 20px;
				}
			}
		}
	}
}
