/*
 Banner (small view and under)
 */
header {
	.brand {
		a {
			margin-top: 15px;
		}
	}
}

#wb-glb-mn {
	margin-top: 20px;

	ul {
		&.chvrn {
			li {
				a {
					font-size: 1.7em;
				}
			}
		}
	}
}
