---
{
	"title": "Provisoires - Journée rose - Thème de GCWeb",
	"language": "fr",
	"altLangPage": "pink-day-en.html",
	"pageclass": "provisional pnkDy-theme",
	"secondlevel": false,
	"dateModified": "2019-05-15",
	"share": "true"
}
---
{% include alert-provisional.html %}
{% include web-contents/placeholdercontent-fr.html %}

<h2>Example de la page d'accueil</h2>
<section>
<div class="provisional bg-pnkDy bg-cover" data-bgimg="https://www.canada.ca/content/dam/canada/carousel/bkg-home-banner.jpg">
	<div class="container p-0 p-sm-3">
		<div class="well header-rwd brdr-0 brdr-rds-0 text-white bg-pnkDy">
			<h1>Canada.ca</h1>
			<p class="mrgn-tp-md">Le site officiel du gouvernement du Canada</p>
		</div>
	</div>
	<div class="bg-pnkDy opct-90">
		<div class="container">
			<a class="figcaption text-white" href="#">
				<figure class="clearfix">
					<div><p class="pull-left mrgn-tp-md mrgn-bttm-md">En vedette:</p></div>
					<figcaption class="pull-left mrgn-tp-md mrgn-bttm-md">[Titre de la promotion]</figcaption>
				</figure>
			</a>
		</div>
	</div>
</div>
</section>
