---
{
	"title": "URL Mapping - Select input",
	"language": "en",
	"category": "Plugins",
	"description": "Select inputs by default based on url query string.",
	"tag": "urlmapping",
	"parentdir": "urlmapping",
	"altLangPage": "selectinput-fr.html",
	"dateModified": "2023-10-24"
}
---
<ul class="list-inline">
	<li><a class="btn btn-primary" href="urlmapping-doc-en.html">Documentation</a></li>
	<li><a class="btn btn-primary" href="https://github.com/wet-boew/GCWeb/issues/new?title=UrlMapping+select+input">Questions or comments?</a></li>
</ul>

<p>Select inputs by default based on url query string.</p>

<div class="wb-prettify all-pre"></div>

<ul>
	<li><a href="?">Empty <code>?</code></a></li>
	<li><a href="?f=b">Bananas <code>?f=b"</code></a></li>
	<li><a href="?f=g">Grapes <code>?f=g"</code></a></li>
</ul>

<section>
	<h2>Example with <code>source</code></h2>
	<div data-wb-urlmapping='{
		"f=b": {
			"action": "selectInput",
			"source": "#fruitsOptions",
			"value": "Bananas"
		}
	}'></div>

	<form id="fruitsOptions">
		<label for="fruitsSelect">Select a fruit (<code>&lt;select></code>)</label>
		<select name="fruitsSelect" id="fruitsSelect" class="form-control mrgn-bttm-lg">
			<option value="all">All</option>
			<option value="Bananas">Bananas</option>
			<option value="Oranges">Oranges</option>
			<option value="Apples">Apples</option>
		</select>

		<fieldset class="gc-chckbxrdio form-inline mrgn-bttm-lg">
			<legend>Choose a fruit (<code>&lt;input type="checkbox"></code>)</legend>
			<div class="checkbox label-inline">
				<input type="checkbox" name="fruitsCheckboxes" id="BananasCheckbox" value="Bananas"><label for="BananasCheckbox">Bananas</label>
			</div>
			<div class="checkbox label-inline">
				<input type="checkbox" name="fruitsCheckboxes" id="OrangesCheckbox" value="Oranges"><label for="OrangesCheckbox">Oranges</label>
			</div>
			<div class="checkbox label-inline">
				<input type="checkbox" name="fruitsCheckboxes" id="ApplesCheckbox" value="Apples"><label for="ApplesCheckbox">Apples</label>
			</div>
		</fieldset>

		<fieldset class="gc-chckbxrdio form-inline">
			<legend>Choose a fruit (<code>&lt;input type="radio"></code>)</legend>
			<div class="radio label-inline">
				<input type="radio" name="fruitsRadios" id="BananasRadio" value="Bananas"><label for="BananasRadio">Bananas</label>
			</div>
			<div class="radio label-inline">
				<input type="radio" name="fruitsRadios" id="OrangesRadio" value="Oranges"><label for="OrangesRadio">Oranges</label>
			</div>
			<div class="radio label-inline">
				<input type="radio" name="fruitsRadios" id="ApplesRadio" value="Apples"><label for="ApplesRadio">Apples</label>
			</div>
		</fieldset>
	</form>

	<details class="mrgn-tp-lg">
		<summary>Source code</summary>
		<pre><code>&lt;div data-wb-urlmapping='{
	"f=b": {
		"action": "selectInput",
		"source": "#fruitsOptions",
		"value": "Bananas"
	}
}'>&lt;/div>

&lt;form id="fruitsOptions">
	&lt;label for="fruitsSelect">Select a fruit (&lt;code>&lt;select>&lt;/code>)&lt;/label>
	&lt;select name="fruitsSelect" id="fruitsSelect" class="form-control mrgn-bttm-lg">
		&lt;option value="all">All&lt;/option>
		&lt;option value="Bananas">Bananas&lt;/option>
		&lt;option value="Oranges">Oranges&lt;/option>
		&lt;option value="Apples">Apples&lt;/option>
	&lt;/select>

	&lt;fieldset class="gc-chckbxrdio form-inline mrgn-bttm-lg">
		&lt;legend>Choose a fruit (&lt;code>&lt;input type="checkbox">&lt;/code>)&lt;/legend>
		&lt;div class="checkbox label-inline">
			&lt;input type="checkbox" name="fruitsCheckboxes" id="BananasCheckbox" value="Bananas">&lt;label for="BananasCheckbox">Bananas&lt;/label>
		&lt;/div>
		&lt;div class="checkbox label-inline">
			&lt;input type="checkbox" name="fruitsCheckboxes" id="OrangesCheckbox" value="Oranges">&lt;label for="OrangesCheckbox">Oranges&lt;/label>
		&lt;/div>
		&lt;div class="checkbox label-inline">
			&lt;input type="checkbox" name="fruitsCheckboxes" id="ApplesCheckbox" value="Apples">&lt;label for="ApplesCheckbox">Apples&lt;/label>
		&lt;/div>
	&lt;/fieldset>

	&lt;fieldset class="gc-chckbxrdio form-inline">
		&lt;legend>Choose a fruit (&lt;code>&lt;input type="radio">&lt;/code>)&lt;/legend>
		&lt;div class="radio label-inline">
			&lt;input type="radio" name="fruitsRadios" id="BananasRadio" value="Bananas">&lt;label for="BananasRadio">Bananas&lt;/label>
		&lt;/div>
		&lt;div class="radio label-inline">
			&lt;input type="radio" name="fruitsRadios" id="OrangesRadio" value="Oranges">&lt;label for="OrangesRadio">Oranges&lt;/label>
		&lt;/div>
		&lt;div class="radio label-inline">
			&lt;input type="radio" name="fruitsRadios" id="ApplesRadio" value="Apples">&lt;label for="ApplesRadio">Apples&lt;/label>
		&lt;/div>
	&lt;/fieldset>
&lt;/form></code></pre>
	</details>
</section>

<section>
	<h2>Example without source</h2>
	<label for="fruitsSelect2">Select a fruit (<code>&lt;select></code>)</label>
	<select id="fruitsSelect2" class="form-control" data-wb-urlmapping='{
		"f=g": {
			"action": "selectInput",
			"value": "Grapes"
		}
	}'>
		<option value="all">All</option>
		<option value="Oranges">Oranges</option>
		<option value="Apples">Apples</option>
		<option value="Grapes">Grapes</option>
	</select>

	<fieldset class="gc-chckbxrdio form-inline mrgn-tp-lg" data-wb-urlmapping='{
		"f=g": {
			"action": "selectInput",
			"value": "Grapes"
		}
	}'>
		<legend>Choose a fruit (<code>&lt;input type="checkbox"></code>)</legend>
		<div class="checkbox label-inline">
			<input type="checkbox" name="fruitsCheckboxes2" id="BananasCheckbox2" value="Bananas"><label for="BananasCheckbox2">Bananas</label>
		</div>
		<div class="checkbox label-inline">
			<input type="checkbox" name="fruitsCheckboxes2" id="OrangesCheckbox2" value="Oranges"><label for="OrangesCheckbox2">Oranges</label>
		</div>
		<div class="checkbox label-inline">
			<input type="checkbox" name="fruitsCheckboxes2" id="GrapesCheckbox2" value="Grapes"><label for="GrapesCheckbox2">Grapes</label>
		</div>
	</fieldset>

	<fieldset class="gc-chckbxrdio form-inline mrgn-tp-lg" data-wb-urlmapping='{
		"f=g": {
			"action": "selectInput",
			"value": "Grapes"
		}
	}'>
		<legend>Choose a fruit (<code>&lt;input type="radio"></code>)</legend>
		<div class="radio label-inline">
			<input type="radio" name="fruitsRadios2" id="BananasRadio2" value="Bananas"><label for="BananasRadio2">Bananas</label>
		</div>
		<div class="radio label-inline">
			<input type="radio" name="fruitsRadios2" id="OrangesRadio2" value="Oranges"><label for="OrangesRadio2">Oranges</label>
		</div>
		<div class="radio label-inline">
			<input type="radio" name="fruitsRadios2" id="GrapesRadio2" value="Grapes"><label for="GrapesRadio2">Grapes</label>
		</div>
	</fieldset>

	<details class="mrgn-tp-lg">
		<summary>Source code</summary>
		<pre><code>&lt;label for="fruitsSelect2">Select a fruit (&lt;code>&lt;select>&lt;/code>)&lt;/label>
&lt;select id="fruitsSelect2" class="form-control" data-wb-urlmapping='{
	"f=g": {
		"action": "selectInput",
		"value": "Grapes"
	}
}'>
	&lt;option value="all">All&lt;/option>
	&lt;option value="Oranges">Oranges&lt;/option>
	&lt;option value="Apples">Apples&lt;/option>
	&lt;option value="Grapes">Grapes&lt;/option>
&lt;/select>

&lt;fieldset class="gc-chckbxrdio form-inline mrgn-bttm-lg" data-wb-urlmapping='{
	"f=g": {
		"action": "selectInput",
		"value": "Grapes"
	}
}'>
	&lt;legend>Choose a fruit (&lt;code>&lt;input type="checkbox">&lt;/code>)&lt;/legend>
	&lt;div class="checkbox label-inline">
		&lt;input type="checkbox" name="fruitsCheckboxes2" id="BananasCheckbox2" value="Bananas">&lt;label for="BananasCheckbox2">Bananas&lt;/label>
	&lt;/div>
	&lt;div class="checkbox label-inline">
		&lt;input type="checkbox" name="fruitsCheckboxes2" id="OrangesCheckbox2" value="Oranges">&lt;label for="OrangesCheckbox2">Oranges&lt;/label>
	&lt;/div>
	&lt;div class="checkbox label-inline">
		&lt;input type="checkbox" name="fruitsCheckboxes2" id="GrapesCheckbox2" value="Grapes">&lt;label for="GrapesCheckbox2">Grapes&lt;/label>
	&lt;/div>
&lt;/fieldset>

&lt;fieldset class="gc-chckbxrdio form-inline" data-wb-urlmapping='{
	"f=g": {
		"action": "selectInput",
		"value": "Grapes"
	}
}'>
	&lt;legend>Choose a fruit (&lt;code>&lt;input type="radio">&lt;/code>)&lt;/legend>
	&lt;div class="radio label-inline">
		&lt;input type="radio" name="fruitsRadios2" id="BananasRadio2" value="Bananas">&lt;label for="BananasRadio2">Bananas&lt;/label>
	&lt;/div>
	&lt;div class="radio label-inline">
		&lt;input type="radio" name="fruitsRadios2" id="OrangesRadio2" value="Oranges">&lt;label for="OrangesRadio2">Oranges&lt;/label>
	&lt;/div>
	&lt;div class="radio label-inline">
		&lt;input type="radio" name="fruitsRadios2" id="GrapesRadio2" value="Grapes">&lt;label for="GrapesRadio2">Grapes&lt;/label>
	&lt;/div>
&lt;/fieldset></code></pre>
	</details>
</section>
