---
{
	"title": "About the institution",
	"description": "Working example for the about the institution design pattern",
	"language": "en",
	"altLangPage": "gc-institution-fr.html",
	"breadcrumbs": [
		{ "title": "About the institution", "link": "design-patterns/gc-institution/gc-institution-doc-en.html" }
	],
	"dateModified": "2024-03-07",
	"pageclass": "wb-prettify all-pre"
}
---

{% include_relative utilities/gc-institution-alert.html %}

<p class="mrgn-bttm-lg">Below is a working example for the "About the institution" design pattern.</p>

{% include_relative samples/gc-institution.html %}

<details>
	<summary>Code sample</summary>
	{% highlight html %}{% include_relative samples/gc-institution.html %}{% endhighlight %}
</details>
