/*
 * Social media centre
 */

/* Re-usable rules */

%data-block-no-border {
	border: 0;
	display: block;
}

%data-hidden {
	display: none;
	visibility: hidden;
}

%data-visible-block {
	display: block;
	visibility: visible;
}

.backgroundsize {
	&.csstransitions {
		#social-media-centre {
			tbody {
				padding-top: 2em;

				tr {
					background-clip: content-box;
					background-color: #eee;
					background-image: url("data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="), url("data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="), url("data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="), url("data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==");
					background-origin: content-box;
					background-position: top left, top left, bottom left, top right;
					background-repeat: repeat-x, repeat-y, repeat-x, repeat-y;
					border: 0;
					display: inline-block;
					margin-bottom: 20px;
					padding: 5px;
					text-align: center;
					vertical-align: middle;
					width: 100%;

					@media (min-width: 768px) {
						width: 50%;
					}

					@media (min-width: 1200px) {
						width: 33.333%;
					}

					.product-department {
						height: 3em;
						white-space: normal;
					}
				}
			}
		}


		/* Layout of fields */

		.product-listing {
			border: 0;
			width: 100%;
		}

		.product-record {
			display: inline-block;
			margin-bottom: 20px;
			width: 100%;

			&:target {
				// !important is needed to override the fixed height set by DataTables.
				height: auto !important;
			}
		}

		.product-name {
			@extend %data-block-no-border;
		}

		.product-platforms {
			@extend %data-block-no-border;
		}

		.product-department,
		.product-language,
		.product-link-container {
			@extend %data-block-no-border;
			margin-top: 1em;
		}

		.product-department,
		.product-language {
			font-weight: bold;
			margin-top: 1em;
		}

		.product-link {
			display: block;

			// Overrides for lack of specificity of main .btn-primary in theme.scss.
			// Remove when theme.scss has been fixed.
			padding: 6px 12px !important;
			text-decoration: none;
			text-transform: none !important;
			white-space: normal;

			&:hover,
			&:focus {
				text-decoration: none;
			}
		}
	}
}

// scss-lint:disable SelectorFormat
#social-media-centre_wrapper {
	.datatables_wrapper {
		margin-bottom: 3em;
	}

	.product-listing {
		border: 1px solid #ddd;

		td {
			padding: 8px;
		}
	}
}
// scss-lint:enable SelectorFormat
