
<div class="row">
	<div class="col-md-6">
		<h1 property="name" id="wb-cont">{% if page.language == "en" %}Introduction block with half-width image{% else %}Bloc d'introduction avec image demi-largeur{% endif %}</h1>
		<p>{% if page.language == "en" %}The introduction block pattern introduces the content of a landing page.{% else %}La configuration de conception du bloc d'introduction introduit le contenu d'une page de destination.{% endif %}</p>
	</div>
	<div class="col-md-6 hidden-sm hidden-xs">
		<img src="https://dummyimage.com/520x200/000000/FFFFFF.png" alt="" class="img-responsive pull-right mrgn-tp-lg">
	</div>
</div>
