{%- comment -%}

++++++++++++++++++++++++++++++++++
+ List of features - One tile (invisible title)
++++++++++++++++++++++++++++++++++

{%- endcomment -%}

<section class="gc-features">
	<h2 class="wb-inv">{% if page.language == "en" %}Featured{% else %}En vedette{% endif %}</h2>
	<div class="row">
		<div class="col-sm-6">
			<img src="https://dummyimage.com/360x203/000000/FFFFFF.png" alt="" class="thumbnail">
		</div>
		<div class="col-sm-6">
			<h3><a class="stretched-link" href="#">{% if page.language == "en" %}[Feature hyperlink text]{% else %}[Lien vers l’élément en vedette]{% endif %}</a></h3>
			<p>{% if page.language == "en" %}Brief description of the feature being promoted.{% else %}Brève description de l’élément en vedette.{% endif %}</p>
		</div>
	</div>
</section>
