.blog {
	article {
		.col-md-3, .col-md-9 {
			float: none;
			display: inline-block;
			vertical-align: middle;
			margin-right: -4px;
		}
	}
}

.zbra {
	section {
		&.brdr-tp:nth-child(odd) {
			background: #eee;
		}

		&.brdr-tp {
			.row {
				margin-left: -5px;
				margin-right: -5px;
			}
		}
	}
}
