<nav id="theme-nav">
	<div class="container">
		<h2 class="wb-inv">Menu de thèmes</h2>
		<a class="wb-sl" href="#wb-cont">Passer au contenu principal</a>
		<button id="menu-btn" class="btn btn-primary"><span class="wb-inv">Basculer le </span>Menu<span aria-hidden="true" class="glyphicon glyphicon-chevron-down"></span></button>
		<ul class="list-unstyled">
			<li><a href="theme-fr.html">Emplois</a></li>
			<li><a href="theme-ircc-fr.html">Immigration et citoyenneté</a></li>
			<li><a href="https://travel.gc.ca/">Voyage et tourisme</a></li>
			<li><a href="theme-business-fr.html">Entreprises</a></li>
			<li><a href="#">Prestations</a></li>
			<li><a href="#">Santé</a></li>
			<li><a href="#">Impôts</a></li>
			<li><a href="#">Environnement et ressources naturelles</a></li>
			<li><a href="#">Sécurité nationale et défense</a></li>
			<li><a href="#">Culture, histoire et sport</a></li>
			<li><a href="#">Services de police, justice et urgences</a></li>
			<li><a href="#">Transport et infrastructure</a></li>
			<li><a href="#">Canada et le monde</a></li>
			<li><a href="#">Argent et finances</a></li>
			<li><a href="#">Science et innovation</a></li>
			<li><a href="#">Autochtones</a></li>
			<li><a href="#">Vétérans et militaires</a></li>
			<li><a href="#">Jeunesse</a></li>
			<li><a href="#">Gérer les événements de la vie</a></li>
		</ul>
	</div>
</nav>
