.mapdiv {
	width: 33%;
	margin: auto;
}

.mapdiv path {
	stroke: #000000;
	stroke-width: 2px;
}

.mapdiv polygon {
	stroke: #000000;
	stroke-width: 2px;
}

.st0 {
	fill: #98AAAF;
	text-align:center;
}

.st1 {
	fill: #C0C9CC;
}

.st2 {
	fill: #50777E;
}

.st3 {
	fill: #075C62;
}

.st4 {
	fill: #F1F2F2;
}

.st5 {
	font-family: 'Arial-BoldMT';
}

.st6 {
	font-size: 66.613px;
}

.st7 {
	fill: #414042;
}

#bcregion a:hover .st0, #bcregion a:active .st0, #bcregion a:focus .st0, #bcregion a:hover .st1, #bcregion a:active .st1, #bcregion a:focus .st1, #bcregion a:hover .st2, #bcregion a:active .st2, #bcregion a:focus .st2, #bcregion a:hover .st3, #bcregion a:active .st3 , #bcregion a:focus .st3 {
	fill: #FA4F56;
}

.table th, td {
	border: 1px solid black;
}
