.svgimagemap {
	width: 50%;
	margin: auto;
}

.svgimagemap path {
	stroke: #FFFFFF;
	stroke-width: 5px;
}

.svgimagemap polygon {
	stroke: #FFFFFF;
	stroke-width: 5px;
}

.svgimagemap .border-emphasis {
   stroke-width: 14px;
}
.st0 {
	fill: #122E33;
	stroke:#FFFFFF;
	text-align:center;
}

.st1 {
	fill: #99BDC0;
	stroke:#FFFFFF;
}

.st2 {
	fill: #337C81;
	stroke:#FFFFFF;
}

.st3 {
	fill: #075C62;
	stroke:#FFFFFF;
}

.st4 {
	fill: #F1F2F2;
	stroke:#FFFFFF;
	font-family: 'Noto Sans',sans-serif;
	font-size: 66.613px;
}

.st5 {
	font-family: 'Noto Sans',sans-serif;
	font-size: 66.613px;
}

.st6 {
	font-family: 'Noto Sans',sans-serif;
	font-size: 66.613px;
}

.st7 {
	fill: #414042;
	font-family: 'Noto Sans',sans-serif;
	font-size: 66.613px;
}

.svgimagemap a { text-decoration: none; }
.svgimagemap a:hover .st0,.svgimagemap a:active .st0,.svgimagemap a:focus .st0,.svgimagemap a:hover .st1,.svgimagemap a:active .st1, .svgimagemap a:focus .st1, .svgimagemap  a:hover .st2, .svgimagemap  a:active .st2, .svgimagemap  a:focus .st2, .svgimagemap a:hover .st3, .svgimagemap a:active .st3 , .svgimagemap a:focus .st3 {
	fill: #FA4F56;
	
}
