---
{
	"title": "Thème Canada.ca pour les sites partenaires",
	"language": "fr",
	"altLangPrefix": "index",
	"partner": "true",
	"breadcrumb": [
		{ "title": "Accueil", "link": "http://www.canada.ca/fr/index.html" }
	],
	"tag": "GCWeb",
	"dateModified": "2014-08-19",
	"share": "true"
}
---
<section>
	<h2>Anglais</h2>
	<ul>
		<li><a href="content-en.html">Page de contenu</a></li>
		<li><a href="video-en.html">Page de contenu vidéo</a></li>
		<li><a href="feedback-en.html">Formulaire de rétroaction</a></li>
		<li><a href="widgets-fr.html">Page de gadgets</a></li>
	</ul>
</section>

<section>
	<h2>Français</h2>
	<ul>
		<li><a href="content-fr.html">Page de contenu</a></li>
		<li><a href="video-fr.html">Page de contenu vidéo</a></li>
		<li><a href="feedback-fr.html">Formulaire de rétroaction</a></li>
		<li><a href="widgets-en.html">Page de gadgets</a></li>
	</ul>
</section>
