---
{
	"title": "Finding a job",
	"language": "en",
	"altLangPrefix": "index-alt",
	"pageclass": "theme",
	"breadcrumb": [
		{ "title": "Home", "link": "http://www.canada.ca/en/index.html" },
		{ "title": "All services", "link": "http://www.canada.ca/en/services/index.html" },
		{ "title": "Jobs & the workplace", "link": "http://www.canada.ca/en/services/jobs/index.html" }
	],
	"secondlevel": false,
	"dateModified": "2014-02-19",
	"share": "false"
}
---
<p class="pagetag">Find public and private sector job opportunities and hiring programs, apply or extend a work permit, get a Social Insurance Number, a criminal record check or a security clearance.</p>
<div class="wb-eqht">
	<section class="sect-lnks">
		<h2><a href="http://www.workingincanada.gc.ca/content_pieces-eng.do?cid=201&amp;lang=eng" rel="external">Find jobs in Canada</a></h2>
		<p>Search current Canadian jobs, subscribe to e-mail alerts, refer to labour market trends and find resources for job seekers and employers.</p>
	</section>
	<section class="sect-lnks">
		<h2><a href="http://jobs-emplois.gc.ca/index-eng.htm" rel="external">Find a job with the Government of Canada</a></h2>
		<p>Search current public service jobs and it includes information about federal hiring programs.</p>
	</section>
	<section class="sect-lnks">
		<h2><a href="http://jobs-emplois.gc.ca/centres/landing-renvoi/students-etudiants-eng.php" rel="external">Federal jobs for students</a></h2>
		<p>Information about job opportunities, rates of pay and hiring programs for students and recent graduates with the Government of Canada.</p>
	</section>
	<section class="sect-lnks">
		<h2><a href="http://www.forces.ca/en/home/" rel="external">Join the Canadian Armed Forces</a></h2>
		<p>Information about jobs with the Canadian Armed Forces, wages and benefits, and recruitment centre locations.</p>
	</section>
	<section class="sect-lnks">
		<h2><a href="http://www.rcmp-grc.gc.ca/recruiting-recrutement/index-eng.htm" rel="external">Careers with the Royal Canadian Mounted Police</a></h2>
		<p>Information about recruiting events, hiring programs and careers in federal policing and includes wages and benefits.</p>
	</section>
	<section class="sect-lnks">
		<h2><a href="http://www.cic.gc.ca/english/work/index.asp" rel="external">Get a work permit</a></h2>
		<p>Information about how to apply for or extend a work permit and tools for foreign workers and Canadian employers.</p>
	</section>
	<section class="sect-lnks">
		<h2><a href="http://www.canada.ca/en/services/defence/screening.html">Criminal record checks & security screening</a></h2>
		<p>Information about federal criminal record and vulnerable sector checks, fingerprinting services and job-related security screening programs.</p>
	</section>
	<section class="sect-lnks">
		<h2><a href="http://www.servicecanada.gc.ca/eng/sc/sin/index.shtml" rel="external">Social Insurance Number</a></h2>
		<p>Includes tools and information on how to apply for, replace or amend a <abbr title="Social Insurance Number">SIN</abbr>.</p>
	</section>
	<section class="sect-lnks">
		<h2><a href="http://www.cic.gc.ca/english/immigrate/skilled/index.asp" rel="external">Immigrate to Canada as a federal skilled worker</a></h2>
		<p>Includes eligibility, steps to apply, processing times, and what you need to do before you come to Canada.</p>
	</section>
</div>
<div class="wb-eqht priorities">
	<section class="sect-lnks thumbnail">
		<a href="http://www.workingincanada.gc.ca/job_alert.do">
			<img src="{{assets}}/img/cars.jpg" alt="" class="img-responsive" />
			<h2>Subscribe to Job Alerts</h2>
		</a>
		<p>Job Alerts is a free email service that notifies you about locally available jobs that match your skills.</p>
	</section>
	<section class="sect-lnks thumbnail">
		<a href="http://www.catsa-acsta.gc.ca/page.aspx?id=4&amp;pname=Whattopack_Faitesvosbagages&amp;lang=en">
			<img src="{{assets}}/img/sports.jpg" alt="" class="img-responsive" />
			<h2>Getting ready for a flight?</h2>
		</a>
		<p>Before you fly, learn more about what to pack and be prepared for the security screening.</p>
	</section>
	<section class="sect-lnks thumbnail">
		<a href="http://www.ppt.gc.ca/info/form.aspx?lang=eng">
			<img src="{{assets}}/img/cats.jpg" alt="" class="img-responsive" />
			<h2>Travelling Abroad?</h2>
		</a>
		<p>Find the latest passport application forms online. Simply fill out, print, and submit!</p>
	</section>
</div>
