---
{
	"title": "Canada.ca theme for Partner sites",
	"language": "en",
	"altLangPrefix": "index",
	"partner": "true",
	"breadcrumb": [
		{ "title": "Home", "link": "http://www.canada.ca/en/index.html" }
	],
	"tag": "GCWeb",
	"dateModified": "2014-08-19",
	"share": "true"
}
---
<section>
	<h2>English</h2>
	<ul>
		<li><a href="content-en.html">Content page</a></li>
		<li><a href="video-en.html">Video content page</a></li>
		<li><a href="feedback-en.html">Feedback form</a></li>
		<li><a href="widgets-en.html">Widget page</a></li>
	</ul>
</section>

<section>
	<h2>French</h2>
	<ul>
		<li><a href="content-fr.html">Content page</a></li>
		<li><a href="video-fr.html">Video content page</a></li>
		<li><a href="feedback-fr.html">Feedback form</a></li>
		<li><a href="widgets-fr.html">Widget page</a></li>
	</ul>
</section>
