/*
 *
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 *
 * @title: Details/summary
 *
 */

/* Summaries styled as default buttons */
details {
	&[open] {
		> {
			summary {
				&.btn-default {
					border: 1px outset $btn-default-border {
						bottom: {
							left-radius: 4px;
							right-radius: 4px;
						}
					}
				}
			}
		}
	}
}
