/*
 *
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 *
 * @title: Forms
 *
 */

// scss-lint:disable QualifyingElement
input[placeholder],
[placeholder],
*[placeholder] {
	color: $input-color-placeholder;
}

// Increase likelyhood of side-by-side input/button having same height
.input-group {
	.form-control,
	.input-group-addon,
	.input-group-btn input,
	.input-group-btn button {
		min-height: 39px;
	}
}

/* Exclude temporary the form element from the font update, keep same style as before
 * - Rational: More testing and various adjustment need to be completed before to apply it
 * - Fieldflow is brought to speed with the visual update with a clearly defined temporary class .gc-font-2019, but the class can be tried out on other forms
 */
:not(#wb-srch) form, .checkbox, .checkbox-inline, .radio, .radio-inline, form .btn:not(.btn-call-to-action) {
	font-size: 16px;
	line-height: 23px;
}
form .btn:not(.btn-call-to-action), .form-control {
	padding: 6px 12px;
}
legend {
	line-height: 1.65em;
}

// Apply the new font size to form, for early adopter
.gc-font-2019 {
	&, & + div {
		&, label, fieldset legend, input[type="submit"], select, .wb-fieldflow-label ~ p {
			font-size: 20px;
			line-height: 1.65em;
		}

		fieldset legend {
			margin-bottom: 11.5px;
		}

		input[type="checkbox"], input[type="radio"] {
			margin-top: 11px;
		}

		[type="submit"], select {
			padding: .54em 1em;
		}
	}
}

// Note: Some form override are defined in "_obselete.scss"
