/*
 *
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 *
 * @title: Forms
 *
 */

fieldset {
	&.chkbxrdio-grp {
		legend {
			font-size: 20px;
		}
	}
}

input[type="radio"],
input[type="checkbox"] {
	margin-top: 9px;
}

// Increase likelihood of side-by-side input/button having same height
.input-group {
	.form-control,
	.input-group-addon,
	.input-group-btn input,
	.input-group-btn button {
		min-height: 39px;
	}
}


.form-horizontal {
	.control-label {
		padding-top: 7px;
	}
}

// Note: Some form override are defined in "_obselete.scss"
