/*
 *
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 *
 * @title: Heading
 *
 */

h1 {
	margin-bottom: .2em;
	margin-top: 1em;
	padding-bottom: .2em;
}

// Common heading style
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6
{
	@include defaults-alternative-font-family();
	font-variant-ligatures: no-common-ligatures;
	font-weight: $bold-weight;
}

.h3,
.h4,
.h5,
.h6 {
	border: 0;
}

// Heading font-sizes
h6,
.h6 {
	font-weight: 400;
}
