/*
 *
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 *
 * @title: Heading
 *
 */

// Common heading style
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6
{
	@include defaults-alternative-font-family();
	font-variant-ligatures: no-common-ligatures;
	font-weight: $bold-weight;
}

.h3,
.h4,
.h5,
.h6 {
	border: 0;
}

h1, .h1 {
	line-height: 1.17;
	margin-bottom: .2em;
	margin-top: 1em;
	padding-bottom: 7px;
}

h2, .h2 {
	line-height: 1.23;
}

h3, .h3 {
	line-height: 1.37;
}

h4, .h4, h5, .h5 {
	line-height: 1.33;
}

h6, .h6 {
	line-height: 1.45;
}
