/*
  WET-BOEW
  @title: Small view and under (screen only)
  @desc:  Variable $screen-sm-max <= 991 px
 */

// Heading font-sizes
h1,
.h1 {
	font-size: 2.055555em; // expected 37px;
	line-height: 1.19;
	margin-top: .75em; // expected ~26px;
}

h2,
.h2 {
	font-size: 1.944444em; // expected 35px;
	line-height: 1.25;
}

h3,
.h3 {
	font-size: 1.444444em; // expected 26px;
	line-height: 1.23;
}

h4,
.h4 {
	font-size: 1.22222em; // expected 22px;
	line-height: 1.33;
}

h5,
.h5 {
	font-size: 1.11111em; // expected 20px;
	line-height: 1.27;
}

h6,
.h6 {
	font-size: 1em; // expected 18px;
	line-height: 1.40;
}
