/*
  WET-BOEW
  @title: Small view and under (screen only)
  @desc:  Variable $screen-sm-max <= 991 px
 */

// Heading font-sizes
h1,
.h1 {
	font-size: 1.7em; // expected 34px;
	margin-top: .75em; // expected ~26px;
}

h2,
.h2 {
	font-size: 1.6em; // expected 342x;
}
