/*
 *
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 *
 * @title: Obselete style
 *
 */

/* Force GCWeb release 4.0.29 font style
 *
 * This undo the font style introduced with gcweb v5 new look
 *
 * - Rational: This is to help the adoption of the new desing by allowing adopter to use
 * a special CSS class on content like the one optimized for a desktop at 100% view port
 * Example of content: high profile pages, campaign, application, .....
 *
 * This CSS are going to be removed in a future version
 * Using this CSS hack should be temporary and be used to get some time to adapt the content
 * as per the new font size parameter
 *
 */

.force-style-gcweb-4-0-29 {

	h1 {
		margin-top: 1.25em;
	}

	h1,
	.h1 {
		font-family: Helvetica, Arial, sans-serif;
		font-size: 34px;
	}

	h2,
	.h2 {
		font-family: Helvetica, Arial, sans-serif;
		font-size: 26px;
	}

	h3,
	.h3 {
		font-family: Helvetica, Arial, sans-serif;
		font-size: 22px;
	}

	h4,
	.h4 {
		font-family: Helvetica, Arial, sans-serif;
		font-size: 18px;
	}

	h5,
	.h5 {
		font-family: Helvetica, Arial, sans-serif;
		font-size: 16px;
	}

	h6,
	.h6 {
		font-family: Helvetica, Arial, sans-serif;
		font-size: 14px;
		font-weight: 700;
	}

	.glyphicon {
		top: 1px;
	}
}

.force-style-gcweb-4-0-29 main,
main.force-style-gcweb-4-0-29 {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.4375em;
}

main .force-style-gcweb-4-0-29,
.force-style-gcweb-4-0-29 .btn {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 23px;
}
/*
 * END - Force GCWeb release 4.0.29 font style
 *
 */

form .btn.btn-lg,
.force-style-gcweb-4-0-29 .btn.btn-lg {
	// line-height: ensure even-numbered height of button next to large input
	@include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $btn-border-radius-large);
}
form .btn.btn-sm,
.force-style-gcweb-4-0-29 .btn.btn-sm {
	// line-height: ensure proper height of button next to small input
	@include button-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-small, $btn-border-radius-small);
}
form .btn.btn-xs,
.force-style-gcweb-4-0-29 .btn.btn-xs {
	@include button-size($padding-xs-vertical, $padding-xs-horizontal, $font-size-small, $line-height-small, $btn-border-radius-small);
}
