/*
 *
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 *
 * @title: Thumbnail
 *
 */

/* Thumbnail Treatments */
.thumbnail {
	background: $profile-gray;
	border-color: #eee;
	border-radius: 0;
	padding: 5px;

	&:hover {
		img {
			box-shadow: 1px 1px 5px #999;
		}
	}
}
