/*
 * Social media centre
 */

.product-listing {
	border: 1px solid #ddd;
	border-collapse: collapse;

	td {
		border: 1px solid #ddd;
		padding: 8px;
	}
}

#mobile-centre {

	.record-close {
		display: none;
	}
}

.product-icon {
	display: block;
	width: 50px;
}

.product-platforms {

	.label {
		display: inline-block;
	}
}
