/*
 Site information
*/

#wb-info {
	background: $wbGray;
	position: relative;
	z-index: 5;

	h3 {
		color: #fff;
		margin-bottom: 1em;
		margin-top: 0;
	}

	a {
		font-size: .875em;
		text-decoration: none;

		&.wb-navcurr {
			font-weight: 800;
		}
	}

	.brand {
		background: #f8f8f8;
		line-height: 30px;

		object,
		img {
			height: 40px;
			margin-bottom: 2em;
			margin-top: 20px;
			width: auto;
		}
	}

	.ftr-urlt-lnk {
		ul {
			margin: 0;
			padding: 0;
		}

		li {
			&:before {
				content: "\2022";
				margin-right: $footer-about-li-horizontal-spacing;
			}
		}
	}

	.gc-contextual {
		background-color: $bg-gcthemelight;

		nav {
			padding-bottom: 0;
		}

		a {
			color: #fff;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	.landscape {
		background: #26374a url(../assets/landscape.png) no-repeat right bottom;

		// Added to support the footer before v11.6.0
		nav h2.wb-inv + ul {
			padding-bottom: 1em;
			padding-top: .6em;
		}

		h3 + ul {
			margin-bottom: 2.5em;
			position: relative;

			&::after {
				border-bottom: 4px solid #fff;
				bottom: -.85em;
				content: "";
				display: block;
				left: 0;
				position: absolute;
				width: 2.25em;
			}
		}

		a {
			color: #fff;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	.tofpg {
		line-height: 90px;

		a {
			color: #000;

			span {
				margin-left: 25px;
			}

			&:hover {
				text-decoration: none;
			}
		}
	}

	nav {
		padding-bottom: 1em;
		padding-top: 1.4em;
		position: relative;

		li {
			margin-bottom: .75em;
		}
	}
}

[dir=rtl] {
	footer {
		.brand {
			.text-right {
				text-align: left;
			}
		}

		.tofpg {
			float: right;

			a {
				span {
					margin-left: 0;
					margin-right: 10px;
				}
			}
		}
	}
}
