/*
  WET-BOEW
  @title: Small view and under (screen only)
 */

#wb-info {
	.brand {
		nav {
			ul {
				display: block;

				& + h4 {
					display: block;
					margin-top: .75em;

					&::before {
						display: none;
					}
				}
			}
		}

		/* START: To support footer <= v2.0 */
		.row {
			nav {
				margin: .75em 0 3em;

				ul {
					column-count: 2;
					padding-top: 0;
				}

				li {
					display: block;
					margin-bottom: .75em;

					&:first-child::before {
						content: "\2022";
						margin-right: .75em;
					}
				}
			}
		}
		/* END */
	}
}
