/*
  WET-BOEW
  @title: Small view and under (screen only)
 */

#wb-info {
	.gc-sub-footer {
		nav {
			ul {
				li {
					display: block;

					&:not(:last-child) {
						margin-bottom: .75em;
					}

					&::before {
						display: none;
					}
				}
			}
		}
	}
}
