/*
  WET-BOEW
  @title: Footer extra-small view and under (screen only)
 */

#wb-info {
	.gc-sub-footer, .brand { // ".brand" to support footer v2.0
		/* START: To support footer v3.0 */
		nav {
			ul {
				& + h4 {
					margin-top: 0;

					&::before {
						border-width: 0 0 1px 0;
						display: block !important;
						height: 0;
						margin: 1em 0;
						position: static;
						width: 1.5em;
					}
				}
			}
		}
		/* END */

		/* START: To support footer <= v2.0 */
		.row {
			nav {
				ul {
					li {
						&:first-child::before {
							display: inline;
						}
					}
				}
			}
		}
		/* END */
	}
}
