/*
 * Site information (extra-extra-small view)
 */
#wb-info {
	.gc-sub-footer, .brand { // ".brand" to support footer v2.0
		object,
		img {
			height: 25px;
			margin-top: 15px;
			max-width: 100%;
			padding-right: 10px;
		}

		/* START: To support footer <= v2.0 */
		.row {
			nav ul {
				column-count: 1;
			}
		}
		/* END */
	}
}
