/*
 * Mobile centre
 */

.product-listing {
	border: 1px solid #ddd;
	border-collapse: collapse;

	td {
		border: 1px solid #ddd;
		padding: 8px;
	}
}

#mobile-centre {

	.record-close {
		display: none;
	}
}

.product-icon {
	display: block;
	width: 50px;
}

.product-platforms {

	.label {
		display: inline-block;
	}
}

.product-shortdescription {
	display: none;
}

.product-link-list {
	list-style: none;
	margin: 0;
	padding: 0;

	li {
		margin-bottom: 5px;
	}
}

.record-expand {
	color: #000;
	font-size: .8em;
	text-decoration: none;

	&:hover {
		color: #000;
		cursor: text;
		text-decoration: none;
	}

	img {

		&:hover {
			cursor: default;
		}
	}
}
