---
title: Glyphicons
description: Documentation and working examples for Glyphicons
language: en
altLangPage: glyphicons-fr.html
dateModified: 2023-09-15
layout: no-container
---
<div class="container">
	<h1>{{ page.title }}</h1>

	<div class="wb-prettify all-pre hide"></div>

	<div class="row wb-eqht-grd">
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Asterisk<br><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span><br><code>glyphicon glyphicon-asterisk</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Plus<br><span class="glyphicon glyphicon-plus" aria-hidden="true"></span><br><code>glyphicon glyphicon-plus</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Euro<br><span class="glyphicon glyphicon-euro" aria-hidden="true"></span><br><code>glyphicon glyphicon-euro</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Euro<br><span class="glyphicon glyphicon-eur" aria-hidden="true"></span><br><code>glyphicon glyphicon-eur</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Minus<br><span class="glyphicon glyphicon-minus" aria-hidden="true"></span><br><code>glyphicon glyphicon-minus</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Cloud<br><span class="glyphicon glyphicon-cloud" aria-hidden="true"></span><br><code>glyphicon glyphicon-cloud</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Envelope<br><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><br><code>glyphicon glyphicon-envelope</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Pencil<br><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span><br><code>glyphicon glyphicon-pencil</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Glass<br><span class="glyphicon glyphicon-glass" aria-hidden="true"></span><br><code>glyphicon glyphicon-glass</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Music<br><span class="glyphicon glyphicon-music" aria-hidden="true"></span><br><code>glyphicon glyphicon-music</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Search<br><span class="glyphicon glyphicon-search" aria-hidden="true"></span><br><code>glyphicon glyphicon-search</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Heart<br><span class="glyphicon glyphicon-heart" aria-hidden="true"></span><br><code>glyphicon glyphicon-heart</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Star<br><span class="glyphicon glyphicon-star" aria-hidden="true"></span><br><code>glyphicon glyphicon-star</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Empty star<br><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span><br><code>glyphicon glyphicon-star-empty</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>User<br><span class="glyphicon glyphicon-user" aria-hidden="true"></span><br><code>glyphicon glyphicon-user</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Film<br><span class="glyphicon glyphicon-film" aria-hidden="true"></span><br><code>glyphicon glyphicon-film</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Thumbnails<br><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span><br><code>glyphicon glyphicon-th-large</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Thumbnails small<br><span class="glyphicon glyphicon-th" aria-hidden="true"></span><br><code>glyphicon glyphicon-th</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Thumbnails list<br><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span><br><code>glyphicon glyphicon-th-list</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>OK<br><span class="glyphicon glyphicon-ok" aria-hidden="true"></span><br><code>glyphicon glyphicon-ok</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Remove<br><span class="glyphicon glyphicon-remove" aria-hidden="true"></span><br><code>glyphicon glyphicon-remove</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Zoom in<br><span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span><br><code>glyphicon glyphicon-zoom-in</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Zoom out<br><span class="glyphicon glyphicon-zoom-out" aria-hidden="true"></span><br><code>glyphicon glyphicon-zoom-out</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Power<br><span class="glyphicon glyphicon-off" aria-hidden="true"></span><br><code>glyphicon glyphicon-off</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Bars<br><span class="glyphicon glyphicon-signal" aria-hidden="true"></span><br><code>glyphicon glyphicon-signal</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Cogwheel<br><span class="glyphicon glyphicon-cog" aria-hidden="true"></span><br><code>glyphicon glyphicon-cog</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Bin<br><span class="glyphicon glyphicon-trash" aria-hidden="true"></span><br><code>glyphicon glyphicon-trash</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Home<br><span class="glyphicon glyphicon-home" aria-hidden="true"></span><br><code>glyphicon glyphicon-home</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>File<br><span class="glyphicon glyphicon-file" aria-hidden="true"></span><br><code>glyphicon glyphicon-file</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Clock<br><span class="glyphicon glyphicon-time" aria-hidden="true"></span><br><code>glyphicon glyphicon-time</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Road<br><span class="glyphicon glyphicon-road" aria-hidden="true"></span><br><code>glyphicon glyphicon-road</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Download alternative<br><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span><br><code>glyphicon glyphicon-download-alt</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Download<br><span class="glyphicon glyphicon-download" aria-hidden="true"></span><br><code>glyphicon glyphicon-download</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Upload<br><span class="glyphicon glyphicon-upload" aria-hidden="true"></span><br><code>glyphicon glyphicon-upload</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Inbox<br><span class="glyphicon glyphicon-inbox" aria-hidden="true"></span><br><code>glyphicon glyphicon-inbox</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Play in empty circle <br><span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span><br><code>glyphicon glyphicon-play-circle</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Reload<br><span class="glyphicon glyphicon-repeat" aria-hidden="true"></span><br><code>glyphicon glyphicon-repeat</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Refresh<br><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span><br><code>glyphicon glyphicon-refresh</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>List alternative<br><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span><br><code>glyphicon glyphicon-list-alt</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Lock<br><span class="glyphicon glyphicon-lock" aria-hidden="true"></span><br><code>glyphicon glyphicon-lock</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Flag waving<br><span class="glyphicon glyphicon-flag" aria-hidden="true"></span><br><code>glyphicon glyphicon-flag</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Headphones<br><span class="glyphicon glyphicon-headphones" aria-hidden="true"></span><br><code>glyphicon glyphicon-headphones</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Volume off<br><span class="glyphicon glyphicon-volume-off" aria-hidden="true"></span><br><code>glyphicon glyphicon-volume-off</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Volume down<br><span class="glyphicon glyphicon-volume-down" aria-hidden="true"></span><br><code>glyphicon glyphicon-volume-down</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Volume up<br><span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span><br><code>glyphicon glyphicon-volume-up</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>QR code<br><span class="glyphicon glyphicon-qrcode" aria-hidden="true"></span><br><code>glyphicon glyphicon-qrcode</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Barcode<br><span class="glyphicon glyphicon-barcode" aria-hidden="true"></span><br><code>glyphicon glyphicon-barcode</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Tag<br><span class="glyphicon glyphicon-tag" aria-hidden="true"></span><br><code>glyphicon glyphicon-tag</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Tags<br><span class="glyphicon glyphicon-tags" aria-hidden="true"></span><br><code>glyphicon glyphicon-tags</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Book<br><span class="glyphicon glyphicon-book" aria-hidden="true"></span><br><code>glyphicon glyphicon-book</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Bookmark<br><span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span><br><code>glyphicon glyphicon-bookmark</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Print<br><span class="glyphicon glyphicon-print" aria-hidden="true"></span><br><code>glyphicon glyphicon-print</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Camera<br><span class="glyphicon glyphicon-camera" aria-hidden="true"></span><br><code>glyphicon glyphicon-camera</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Font<br><span class="glyphicon glyphicon-font" aria-hidden="true"></span><br><code>glyphicon glyphicon-font</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Bold<br><span class="glyphicon glyphicon-bold" aria-hidden="true"></span><br><code>glyphicon glyphicon-bold</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Italic<br><span class="glyphicon glyphicon-italic" aria-hidden="true"></span><br><code>glyphicon glyphicon-italic</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Text height<br><span class="glyphicon glyphicon-text-height" aria-hidden="true"></span><br><code>glyphicon glyphicon-text-height</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Text width<br><span class="glyphicon glyphicon-text-width" aria-hidden="true"></span><br><code>glyphicon glyphicon-text-width</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Paragraph left<br><span class="glyphicon glyphicon-align-left" aria-hidden="true"></span><br><code>glyphicon glyphicon-align-left</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Paragraph center<br><span class="glyphicon glyphicon-align-center" aria-hidden="true"></span><br><code>glyphicon glyphicon-align-center</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Paragraph right<br><span class="glyphicon glyphicon-align-right" aria-hidden="true"></span><br><code>glyphicon glyphicon-align-right</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Paragraph justify<br><span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span><br><code>glyphicon glyphicon-align-justify</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>List<br><span class="glyphicon glyphicon-list" aria-hidden="true"></span><br><code>glyphicon glyphicon-list</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Indent left<br><span class="glyphicon glyphicon-indent-left" aria-hidden="true"></span><br><code>glyphicon glyphicon-indent-left</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Indent right<br><span class="glyphicon glyphicon-indent-right" aria-hidden="true"></span><br><code>glyphicon glyphicon-indent-right</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Video<br><span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span><br><code>glyphicon glyphicon-facetime-video</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Picture<br><span class="glyphicon glyphicon-picture" aria-hidden="true"></span><br><code>glyphicon glyphicon-picture</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Map marker<br><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span><br><code>glyphicon glyphicon-map-marker</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Contrast<br><span class="glyphicon glyphicon-adjust" aria-hidden="true"></span><br><code>glyphicon glyphicon-adjust</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Drop<br><span class="glyphicon glyphicon-tint" aria-hidden="true"></span><br><code>glyphicon glyphicon-tint</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Sqare edit<br><span class="glyphicon glyphicon-edit" aria-hidden="true"></span><br><code>glyphicon glyphicon-edit</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Share<br><span class="glyphicon glyphicon-share" aria-hidden="true"></span><br><code>glyphicon glyphicon-share</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Check<br><span class="glyphicon glyphicon-check" aria-hidden="true"></span><br><code>glyphicon glyphicon-check</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Move<br><span class="glyphicon glyphicon-move" aria-hidden="true"></span><br><code>glyphicon glyphicon-move</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Skip to previous<br><span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span><br><code>glyphicon glyphicon-step-backward</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Skipt to start<br><span class="glyphicon glyphicon-fast-backward" aria-hidden="true"></span><br><code>glyphicon glyphicon-fast-backward</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Rewind<br><span class="glyphicon glyphicon-backward" aria-hidden="true"></span><br><code>glyphicon glyphicon-backward</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Play<br><span class="glyphicon glyphicon-play" aria-hidden="true"></span><br><code>glyphicon glyphicon-play</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Pause<br><span class="glyphicon glyphicon-pause" aria-hidden="true"></span><br><code>glyphicon glyphicon-pause</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Stop<br><span class="glyphicon glyphicon-stop" aria-hidden="true"></span><br><code>glyphicon glyphicon-stop</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Forward<br><span class="glyphicon glyphicon-forward" aria-hidden="true"></span><br><code>glyphicon glyphicon-forward</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Skip to end<br><span class="glyphicon glyphicon-fast-forward" aria-hidden="true"></span><br><code>glyphicon glyphicon-fast-forward</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Skip to next<br><span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span><br><code>glyphicon glyphicon-step-forward</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Eject<br><span class="glyphicon glyphicon-eject" aria-hidden="true"></span><br><code>glyphicon glyphicon-eject</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Chevron left<br><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span><br><code>glyphicon glyphicon-chevron-left</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Chevron right<br><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span><br><code>glyphicon glyphicon-chevron-right</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Circle plus<br><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span><br><code>glyphicon glyphicon-plus-sign</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Circle minus<br><span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span><br><code>glyphicon glyphicon-minus-sign</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Circle remove<br><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span><br><code>glyphicon glyphicon-remove-sign</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Circle check<br><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span><br><code>glyphicon glyphicon-ok-sign</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Question sign<br><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span><br><code>glyphicon glyphicon-question-sign</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Info sign<br><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span><br><code>glyphicon glyphicon-info-sign</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Screenshot<br><span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span><br><code>glyphicon glyphicon-screenshot</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Remove circle<br><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span><br><code>glyphicon glyphicon-remove-circle</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Ok circle<br><span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span><br><code>glyphicon glyphicon-ok-circle</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Ban circle<br><span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span><br><code>glyphicon glyphicon-ban-circle</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Arrow left<br><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span><br><code>glyphicon glyphicon-arrow-left</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Arrow right<br><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span><br><code>glyphicon glyphicon-arrow-right</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Arrow up<br><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span><br><code>glyphicon glyphicon-arrow-up</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Arrow down<br><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span><br><code>glyphicon glyphicon-arrow-down</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Share alt<br><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span><br><code>glyphicon glyphicon-share-alt</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Resize full<br><span class="glyphicon glyphicon-resize-full" aria-hidden="true"></span><br><code>glyphicon glyphicon-resize-full</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Resize small<br><span class="glyphicon glyphicon-resize-small" aria-hidden="true"></span><br><code>glyphicon glyphicon-resize-small</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Exclamation sign<br><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><br><code>glyphicon glyphicon-exclamation-sign</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Gift<br><span class="glyphicon glyphicon-gift" aria-hidden="true"></span><br><code>glyphicon glyphicon-gift</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Leaf<br><span class="glyphicon glyphicon-leaf" aria-hidden="true"></span><br><code>glyphicon glyphicon-leaf</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Fire<br><span class="glyphicon glyphicon-fire" aria-hidden="true"></span><br><code>glyphicon glyphicon-fire</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Eye open<br><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span><br><code>glyphicon glyphicon-eye-open</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Eye close<br><span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span><br><code>glyphicon glyphicon-eye-close</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Warning sign<br><span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span><br><code>glyphicon glyphicon-warning-sign</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Plane<br><span class="glyphicon glyphicon-plane" aria-hidden="true"></span><br><code>glyphicon glyphicon-plane</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Calendar<br><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span><br><code>glyphicon glyphicon-calendar</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Random<br><span class="glyphicon glyphicon-random" aria-hidden="true"></span><br><code>glyphicon glyphicon-random</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Comment<br><span class="glyphicon glyphicon-comment" aria-hidden="true"></span><br><code>glyphicon glyphicon-comment</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Magnet<br><span class="glyphicon glyphicon-magnet" aria-hidden="true"></span><br><code>glyphicon glyphicon-magnet</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Chevron up<br><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span><br><code>glyphicon glyphicon-chevron-up</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Chevron down<br><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span><br><code>glyphicon glyphicon-chevron-down</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Retweet<br><span class="glyphicon glyphicon-retweet" aria-hidden="true"></span><br><code>glyphicon glyphicon-retweet</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Shopping cart<br><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span><br><code>glyphicon glyphicon-shopping-cart</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Folder close<br><span class="glyphicon glyphicon-folder-close" aria-hidden="true"></span><br><code>glyphicon glyphicon-folder-close</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Folder open<br><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span><br><code>glyphicon glyphicon-folder-open</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Resize vertical<br><span class="glyphicon glyphicon-resize-vertical" aria-hidden="true"></span><br><code>glyphicon glyphicon-resize-vertical</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Resize horizontal<br><span class="glyphicon glyphicon-resize-horizontal" aria-hidden="true"></span><br><code>glyphicon glyphicon-resize-horizontal</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Hard disk drive (HDD)<br><span class="glyphicon glyphicon-hdd" aria-hidden="true"></span><br><code>glyphicon glyphicon-hdd</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Bullhorn<br><span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span><br><code>glyphicon glyphicon-bullhorn</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Bell<br><span class="glyphicon glyphicon-bell" aria-hidden="true"></span><br><code>glyphicon glyphicon-bell</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Certificate<br><span class="glyphicon glyphicon-certificate" aria-hidden="true"></span><br><code>glyphicon glyphicon-certificate</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Thumbs up<br><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span><br><code>glyphicon glyphicon-thumbs-up</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Thumbs down<br><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span><br><code>glyphicon glyphicon-thumbs-down</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Hand right<br><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span><br><code>glyphicon glyphicon-hand-right</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Hand left<br><span class="glyphicon glyphicon-hand-left" aria-hidden="true"></span><br><code>glyphicon glyphicon-hand-left</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Hand up<br><span class="glyphicon glyphicon-hand-up" aria-hidden="true"></span><br><code>glyphicon glyphicon-hand-up</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Hand down<br><span class="glyphicon glyphicon-hand-down" aria-hidden="true"></span><br><code>glyphicon glyphicon-hand-down</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Circle arrow right<br><span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span><br><code>glyphicon glyphicon-circle-arrow-right</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Circle arrow left<br><span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span><br><code>glyphicon glyphicon-circle-arrow-left</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Circle arrow up<br><span class="glyphicon glyphicon-circle-arrow-up" aria-hidden="true"></span><br><code>glyphicon glyphicon-circle-arrow-up</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Circle arrow down<br><span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span><br><code>glyphicon glyphicon-circle-arrow-down</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Globe<br><span class="glyphicon glyphicon-globe" aria-hidden="true"></span><br><code>glyphicon glyphicon-globe</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Wrench<br><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span><br><code>glyphicon glyphicon-wrench</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Tasks<br><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span><br><code>glyphicon glyphicon-tasks</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Filter<br><span class="glyphicon glyphicon-filter" aria-hidden="true"></span><br><code>glyphicon glyphicon-filter</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Briefcase<br><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span><br><code>glyphicon glyphicon-briefcase</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Fullscreen<br><span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span><br><code>glyphicon glyphicon-fullscreen</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Dashboard<br><span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span><br><code>glyphicon glyphicon-dashboard</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Paperclip<br><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span><br><code>glyphicon glyphicon-paperclip</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Heart-empty<br><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span><br><code>glyphicon glyphicon-heart-empty</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Link<br><span class="glyphicon glyphicon-link" aria-hidden="true"></span><br><code>glyphicon glyphicon-link</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Phone<br><span class="glyphicon glyphicon-phone" aria-hidden="true"></span><br><code>glyphicon glyphicon-phone</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Pushpin<br><span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span><br><code>glyphicon glyphicon-pushpin</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Universal Serial Bus (USB)<br><span class="glyphicon glyphicon-usd" aria-hidden="true"></span><br><code>glyphicon glyphicon-usd</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>British pound sterling (GBP)<br><span class="glyphicon glyphicon-gbp" aria-hidden="true"></span><br><code>glyphicon glyphicon-gbp</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Sort<br><span class="glyphicon glyphicon-sort" aria-hidden="true"></span><br><code>glyphicon glyphicon-sort</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Sort by alphabet<br><span class="glyphicon glyphicon-sort-by-alphabet" aria-hidden="true"></span><br><code>glyphicon glyphicon-sort-by-alphabet</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Sort by alphabet-alt<br><span class="glyphicon glyphicon-sort-by-alphabet-alt" aria-hidden="true"></span><br><code>glyphicon glyphicon-sort-by-alphabet-alt</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Sort by order<br><span class="glyphicon glyphicon-sort-by-order" aria-hidden="true"></span><br><code>glyphicon glyphicon-sort-by-order</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Sort by order-alt<br><span class="glyphicon glyphicon-sort-by-order-alt" aria-hidden="true"></span><br><code>glyphicon glyphicon-sort-by-order-alt</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Sort by attributes<br><span class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span><br><code>glyphicon glyphicon-sort-by-attributes</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Sort by attributes alt<br><span class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span><br><code>glyphicon glyphicon-sort-by-attributes-alt</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Unchecked<br><span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span><br><code>glyphicon glyphicon-unchecked</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Expand<br><span class="glyphicon glyphicon-expand" aria-hidden="true"></span><br><code>glyphicon glyphicon-expand</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Collapse down<br><span class="glyphicon glyphicon-collapse-down" aria-hidden="true"></span><br><code>glyphicon glyphicon-collapse-down</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Collapse-up<br><span class="glyphicon glyphicon-collapse-up" aria-hidden="true"></span><br><code>glyphicon glyphicon-collapse-up</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Log in<br><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span><br><code>glyphicon glyphicon-log-in</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Flash<br><span class="glyphicon glyphicon-flash" aria-hidden="true"></span><br><code>glyphicon glyphicon-flash</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Log out<br><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span><br><code>glyphicon glyphicon-log-out</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>New window<br><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span><br><code>glyphicon glyphicon-new-window</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Record<br><span class="glyphicon glyphicon-record" aria-hidden="true"></span><br><code>glyphicon glyphicon-record</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Save<br><span class="glyphicon glyphicon-save" aria-hidden="true"></span><br><code>glyphicon glyphicon-save</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Open<br><span class="glyphicon glyphicon-open" aria-hidden="true"></span><br><code>glyphicon glyphicon-open</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Saved<br><span class="glyphicon glyphicon-saved" aria-hidden="true"></span><br><code>glyphicon glyphicon-saved</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Import<br><span class="glyphicon glyphicon-import" aria-hidden="true"></span><br><code>glyphicon glyphicon-import</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Export<br><span class="glyphicon glyphicon-export" aria-hidden="true"></span><br><code>glyphicon glyphicon-export</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Send<br><span class="glyphicon glyphicon-send" aria-hidden="true"></span><br><code>glyphicon glyphicon-send</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Floppy disk<br><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span><br><code>glyphicon glyphicon-floppy-disk</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Floppy saved<br><span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span><br><code>glyphicon glyphicon-floppy-saved</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Floppy remove<br><span class="glyphicon glyphicon-floppy-remove" aria-hidden="true"></span><br><code>glyphicon glyphicon-floppy-remove</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Floppy save<br><span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span><br><code>glyphicon glyphicon-floppy-save</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Floppy open<br><span class="glyphicon glyphicon-floppy-open" aria-hidden="true"></span><br><code>glyphicon glyphicon-floppy-open</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Credit card<br><span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span><br><code>glyphicon glyphicon-credit-card</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Transfer<br><span class="glyphicon glyphicon-transfer" aria-hidden="true"></span><br><code>glyphicon glyphicon-transfer</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Cutlery<br><span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span><br><code>glyphicon glyphicon-cutlery</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Header<br><span class="glyphicon glyphicon-header" aria-hidden="true"></span><br><code>glyphicon glyphicon-header</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Compressed<br><span class="glyphicon glyphicon-compressed" aria-hidden="true"></span><br><code>glyphicon glyphicon-compressed</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Earphone<br><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span><br><code>glyphicon glyphicon-earphone</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Alt<br><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span><br><code>glyphicon glyphicon-phone-alt</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Tower<br><span class="glyphicon glyphicon-tower" aria-hidden="true"></span><br><code>glyphicon glyphicon-tower</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Stats<br><span class="glyphicon glyphicon-stats" aria-hidden="true"></span><br><code>glyphicon glyphicon-stats</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>SD video<br><span class="glyphicon glyphicon-sd-video" aria-hidden="true"></span><br><code>glyphicon glyphicon-sd-video</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>HD video<br><span class="glyphicon glyphicon-hd-video" aria-hidden="true"></span><br><code>glyphicon glyphicon-hd-video</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Subtitles<br><span class="glyphicon glyphicon-subtitles" aria-hidden="true"></span><br><code>glyphicon glyphicon-subtitles</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Sound stereo<br><span class="glyphicon glyphicon-sound-stereo" aria-hidden="true"></span><br><code>glyphicon glyphicon-sound-stereo</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Sound dolby<br><span class="glyphicon glyphicon-sound-dolby" aria-hidden="true"></span><br><code>glyphicon glyphicon-sound-dolby</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Sound 5-1<br><span class="glyphicon glyphicon-sound-5-1" aria-hidden="true"></span><br><code>glyphicon glyphicon-sound-5-1</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Sound 6-1<br><span class="glyphicon glyphicon-sound-6-1" aria-hidden="true"></span><br><code>glyphicon glyphicon-sound-6-1</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Sound 7-1<br><span class="glyphicon glyphicon-sound-7-1" aria-hidden="true"></span><br><code>glyphicon glyphicon-sound-7-1</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Copyright mark<br><span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span><br><code>glyphicon glyphicon-copyright-mark</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Registration mark<br><span class="glyphicon glyphicon-registration-mark" aria-hidden="true"></span><br><code>glyphicon glyphicon-registration-mark</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Cloud download<br><span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span><br><code>glyphicon glyphicon-cloud-download</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Cloud upload<br><span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span><br><code>glyphicon glyphicon-cloud-upload</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Tree conifer<br><span class="glyphicon glyphicon-tree-conifer" aria-hidden="true"></span><br><code>glyphicon glyphicon-tree-conifer</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Tree deciduous<br><span class="glyphicon glyphicon-tree-deciduous" aria-hidden="true"></span><br><code>glyphicon glyphicon-tree-deciduous</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Compact disc (CD)<br><span class="glyphicon glyphicon-cd" aria-hidden="true"></span><br><code>glyphicon glyphicon-cd</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Save file<br><span class="glyphicon glyphicon-save-file" aria-hidden="true"></span><br><code>glyphicon glyphicon-save-file</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Open file<br><span class="glyphicon glyphicon-open-file" aria-hidden="true"></span><br><code>glyphicon glyphicon-open-file</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Level up<br><span class="glyphicon glyphicon-level-up" aria-hidden="true"></span><br><code>glyphicon glyphicon-level-up</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Copy<br><span class="glyphicon glyphicon-copy" aria-hidden="true"></span><br><code>glyphicon glyphicon-copy</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Paste<br><span class="glyphicon glyphicon-paste" aria-hidden="true"></span><br><code>glyphicon glyphicon-paste</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Alert<br><span class="glyphicon glyphicon-alert" aria-hidden="true"></span><br><code>glyphicon glyphicon-alert</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Equalizer<br><span class="glyphicon glyphicon-equalizer" aria-hidden="true"></span><br><code>glyphicon glyphicon-equalizer</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>King<br><span class="glyphicon glyphicon-king" aria-hidden="true"></span><br><code>glyphicon glyphicon-king</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Queen<br><span class="glyphicon glyphicon-queen" aria-hidden="true"></span><br><code>glyphicon glyphicon-queen</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Pawn<br><span class="glyphicon glyphicon-pawn" aria-hidden="true"></span><br><code>glyphicon glyphicon-pawn</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Bishop<br><span class="glyphicon glyphicon-bishop" aria-hidden="true"></span><br><code>glyphicon glyphicon-bishop</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Knight<br><span class="glyphicon glyphicon-knight" aria-hidden="true"></span><br><code>glyphicon glyphicon-knight</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Formula<br><span class="glyphicon glyphicon-baby-formula" aria-hidden="true"></span><br><code>glyphicon glyphicon-baby-formula</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Tent<br><span class="glyphicon glyphicon-tent" aria-hidden="true"></span><br><code>glyphicon glyphicon-tent</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Blackboard<br><span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span><br><code>glyphicon glyphicon-blackboard</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Bed<br><span class="glyphicon glyphicon-bed" aria-hidden="true"></span><br><code>glyphicon glyphicon-bed</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Apple<br><span class="glyphicon glyphicon-apple" aria-hidden="true"></span><br><code>glyphicon glyphicon-apple</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Erase<br><span class="glyphicon glyphicon-erase" aria-hidden="true"></span><br><code>glyphicon glyphicon-erase</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Hourglass<br><span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span><br><code>glyphicon glyphicon-hourglass</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Lamp<br><span class="glyphicon glyphicon-lamp" aria-hidden="true"></span><br><code>glyphicon glyphicon-lamp</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Duplicate<br><span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span><br><code>glyphicon glyphicon-duplicate</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Piggy bank<br><span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span><br><code>glyphicon glyphicon-piggy-bank</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Scissors<br><span class="glyphicon glyphicon-scissors" aria-hidden="true"></span><br><code>glyphicon glyphicon-scissors</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Bitcoin<br><span class="glyphicon glyphicon-bitcoin" aria-hidden="true"></span><br><code>glyphicon glyphicon-bitcoin</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Bitcoin (BTC)<br><span class="glyphicon glyphicon-btc" aria-hidden="true"></span><br><code>glyphicon glyphicon-btc</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Bitcoin (XBT)<br><span class="glyphicon glyphicon-xbt" aria-hidden="true"></span><br><code>glyphicon glyphicon-xbt</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Yen<br><span class="glyphicon glyphicon-yen" aria-hidden="true"></span><br><code>glyphicon glyphicon-yen</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Japanese yen (JPY)<br><span class="glyphicon glyphicon-jpy" aria-hidden="true"></span><br><code>glyphicon glyphicon-jpy</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Ruble<br><span class="glyphicon glyphicon-ruble" aria-hidden="true"></span><br><code>glyphicon glyphicon-ruble</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Rub<br><span class="glyphicon glyphicon-rub" aria-hidden="true"></span><br><code>glyphicon glyphicon-rub</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Scale<br><span class="glyphicon glyphicon-scale" aria-hidden="true"></span><br><code>glyphicon glyphicon-scale</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Ice lolly<br><span class="glyphicon glyphicon-ice-lolly" aria-hidden="true"></span><br><code>glyphicon glyphicon-ice-lolly</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Ice lolly tasted<br><span class="glyphicon glyphicon-ice-lolly-tasted" aria-hidden="true"></span><br><code>glyphicon glyphicon-ice-lolly-tasted</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Education<br><span class="glyphicon glyphicon-education" aria-hidden="true"></span><br><code>glyphicon glyphicon-education</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Option horizontal<br><span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span><br><code>glyphicon glyphicon-option-horizontal</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Option vertical<br><span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span><br><code>glyphicon glyphicon-option-vertical</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Menu hamburger<br><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span><br><code>glyphicon glyphicon-menu-hamburger</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Modal window<br><span class="glyphicon glyphicon-modal-window" aria-hidden="true"></span><br><code>glyphicon glyphicon-modal-window</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Oil<br><span class="glyphicon glyphicon-oil" aria-hidden="true"></span><br><code>glyphicon glyphicon-oil</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Grain<br><span class="glyphicon glyphicon-grain" aria-hidden="true"></span><br><code>glyphicon glyphicon-grain</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Sunglasses<br><span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span><br><code>glyphicon glyphicon-sunglasses</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Text size<br><span class="glyphicon glyphicon-text-size" aria-hidden="true"></span><br><code>glyphicon glyphicon-text-size</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Text color<br><span class="glyphicon glyphicon-text-color" aria-hidden="true"></span><br><code>glyphicon glyphicon-text-color</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Text background<br><span class="glyphicon glyphicon-text-background" aria-hidden="true"></span><br><code>glyphicon glyphicon-text-background</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Object align top<br><span class="glyphicon glyphicon-object-align-top" aria-hidden="true"></span><br><code>glyphicon glyphicon-object-align-top</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Object align bottom<br><span class="glyphicon glyphicon-object-align-bottom" aria-hidden="true"></span><br><code>glyphicon glyphicon-object-align-bottom</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Object align horizontal<br><span class="glyphicon glyphicon-object-align-horizontal" aria-hidden="true"></span><br><code>glyphicon glyphicon-object-align-horizontal</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Object align left<br><span class="glyphicon glyphicon-object-align-left" aria-hidden="true"></span><br><code>glyphicon glyphicon-object-align-left</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Object align vertical<br><span class="glyphicon glyphicon-object-align-vertical" aria-hidden="true"></span><br><code>glyphicon glyphicon-object-align-vertical</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Object align right<br><span class="glyphicon glyphicon-object-align-right" aria-hidden="true"></span><br><code>glyphicon glyphicon-object-align-right</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Triangle right<br><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span><br><code>glyphicon glyphicon-triangle-right</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Triangle left<br><span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span><br><code>glyphicon glyphicon-triangle-left</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Triangle bottom<br><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span><br><code>glyphicon glyphicon-triangle-bottom</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Triangle top<br><span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span><br><code>glyphicon glyphicon-triangle-top</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Console<br><span class="glyphicon glyphicon-console" aria-hidden="true"></span><br><code>glyphicon glyphicon-console</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Superscript<br><span class="glyphicon glyphicon-superscript" aria-hidden="true"></span><br><code>glyphicon glyphicon-superscript</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Subscript<br><span class="glyphicon glyphicon-subscript" aria-hidden="true"></span><br><code>glyphicon glyphicon-subscript</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Menu left<br><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span><br><code>glyphicon glyphicon-menu-left</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Menu right<br><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><br><code>glyphicon glyphicon-menu-right</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Menu down<br><span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span><br><code>glyphicon glyphicon-menu-down</code></p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-6 well">
			<p>Menu up<br><span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span><br><code>glyphicon glyphicon-menu-up</code></p>
		</div>
	</div>

	<h2>Glyphicon error state</h2>
	<p>By adding the glyphicon error state class: <code>glyphicon-error</code>,  the following color and font-size are applied: <code>#96323a</code> and <code>font-size: 400%;</code>.</p>

	<p><span aria-hidden="true" class="glyphicon glyphicon-cloud glyphicon-error" aria-hidden="true"></span></p>

	<details>
		<summary>Code</summary>
		<pre><code>&lt;p&gt;&lt;span aria-hidden=&quot;true&quot; class=&quot;glyphicon glyphicon-cloud glyphicon-error&quot; aria-hidden=&quot;true&quot;&gt;&lt;/span&gt;&lt;/p&gt;</code></pre>
	</details>
</div>
