/*
 * Helper Classes
 */

.margin-bottom-none {
	margin-bottom: 0;
}

.margin-bottom-small {
	margin-bottom: .25em;
}

.margin-top-large {
	margin-top: 1.5em;
}

.margin-top-medium {
	margin-top: .75em;
}
