{%- comment -%}

++++++++++++++++++++++++++++++++++
+ GC service and information (gc-srvinfo)
+
+ Configuration à 3 colonnes avec titre invisible
+ 3 columns configuration with invisible title
++++++++++++++++++++++++++++++++++

{%- endcomment -%}

<section class="gc-srvinfo">
	<h2 class="wb-inv">Services and information</h2>
	<div class="row wb-eqht-grd">
		{%- for  i in (1..9) -%}
		<div class="col-lg-4 col-md-6">
			<h3><a href="#">{% if page.language == "en" %}[Hyperlink text]{% else %}[Lien hypertexte]{% endif %}</a></h3>
			<p>{% if page.language == "en" %}Use action verbs, or simply list keywords to summarize the information or tasks that can be accomplished on the page it links to.{% else %}Utilisez des verbes d'action ou répertoriez simplement des mots-clés pour résumer les informations ou les tâches qui peuvent être accomplies sur la page à laquelle elles renvoient.{% endif %}</p>
		</div>
		{%- endfor -%}
	</div>
</section>
