{%- comment -%}

++++++++++++++++++++++++++++++++++
+ Most requested section located in the right column
+
+ Used by organizational and institutional page
++++++++++++++++++++++++++++++++++

{%- endcomment -%}

<section class="lnkbx">
{%- if page.language == "fr" -%}
	<h2>En demande</h2>
	<ul>
		<li><a href="#">[Lien à une tâche principale]</a></li>
		<li><a href="#">[Lien à une tâche principale]</a></li>
		<li><a href="#">[Lien à une tâche principale]</a></li>
		<li><a href="#">[Lien à une tâche principale]</a></li>
		<li><a href="#">[Lien à une tâche principale]</a></li>
		<li><a href="#">[Lien à une tâche principale]</a></li>
		<li><a href="#">[Lien à une tâche principale]</a></li>
	</ul>
{%- else -%}
	<h2>Most requested</h2>
	<ul>
		<li><a href="#">[Top task hyperlink text]</a></li>
		<li><a href="#">[Top task hyperlink text]</a></li>
		<li><a href="#">[Top task hyperlink text]</a></li>
		<li><a href="#">[Top task hyperlink text]</a></li>
		<li><a href="#">[Top task hyperlink text]</a></li>
		<li><a href="#">[Top task hyperlink text]</a></li>
		<li><a href="#">[Top task hyperlink text]</a></li>
	</ul>
{%- endif -%}
</section>
