---
{
	"title": "Home page - Meta information",
	"language": "en",
	"altLangPrefix": "index",
	"breadcrumb": [
		{ "title": "GCWeb home", "link": "../index-en.html" }
	],
	"secondlevel": false,
	"dateModified": "2018-12-27",
	"share": "true"
}
---


<dl class="horizontal">
	<dt>Status</dt>
	<dd>Stable for GCWeb V5</dd>

	<dt>Type</dt>
	<dd>Template <!-- Common design patter --></dd>

	<dt>Last review</dt>
	<dd>2018-12-27</dd>

	<dt>Conforming to</dt>
	<dd>Going to be: Content and IA spec 2.0</dd>

	<dt>Specification</dt>
	<dd><a href="https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-information-architecture-specification/templates-detailed-specifications/home-page.html">Home page for Canada.ca</a>
</dl>

<h2>Technical specification</h2>

<h3>Home page banner</h3>

<p>The default background is gray (#eee) without image. The background image is hosted in the WMS at this location. <code>https://www.canada.ca/content/dam/canada/carousel/bkg-home-banner.jpg</code>.</p>

<p>The intend is to publish background image that represent natural Canadian landscape and may get updated montly or seasonal.</p>

<h3>Promotional banner</h3>

<p>The promotional banner are over, at the bottom, of the home page banner background image.</p>

<pre><code>&lt;div class="home-banner"&gt;
	&lt;div class="container"&gt;
		&lt;div class="innerbox"&gt;
			&lt;h1 property="name" id="wb-cont"&gt;Canada.ca&lt;/h1&gt;
			&lt;p&gt;The official website of the Government of Canada&lt;/p&gt;
		&lt;/div&gt;
	&lt;/div&gt;
	&lt;div class="promo"&gt;
		&lt;div class="container"&gt;
			&lt;a class="figcaption" href="#"&gt;
				&lt;figure class="clearfix"&gt;
					&lt;div&gt;&lt;p class="pull-left mrgn-tp-md mrgn-bttm-md"&gt;Featured:&lt;/p&gt;&lt;/div&gt;
					&lt;figcaption class="pull-left mrgn-tp-md mrgn-bttm-md"&gt;[Promotion title]&lt;/figcaption&gt;
				&lt;/figure&gt;
			&lt;/a&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;</code></pre>

<h4>Experimental</h4>
<p>Support for a set of predefined color to match the season. The intend is to set the color of the inner box with the site title to match the promotional banner background color.</p>

<p>The promotional color theme are set on the <code>div.home-banner</code>. Here the supported theme with their corresponding CSS class name</p>
<ul>
	<li>(default) Sky - <code>sky</code></li>
	<li>Earth - <code>earth</code></li>
	<li>Vegetation - <code>vegetation</code></li>
	<li>Night - <code>night</code></li>
	<li>Forest - <code>forest</code></li>
	<li>Autumn - <code>autumn</code></li>
</ul>

<h2>Evaluation and report</h2>
<p>There is no report</p>

<h2>Previous version</h2>
<ul>
	<li>See GCWeb released with WET 4.0.29. All code change are documented in the migration instruction of GCWeb new look - V5.</li>
</ul>

<h2>Test cases</h2>
<ul>
	<li>Experimental - <a href="test-1.html">Test-1: Promotional color theme</a></li>
</ul>
