---
{
	"title": "Test case - Home page promotional banner",
	"language": "en",
	"altLangPrefix": "home",
	"pageclass": "home page-type-nav",
	"breadcrumb": [
		{ "title": "GCWeb home", "link": "../index-en.html" }
	],
	"dateModified": "2018-12-27",
	"share": "true",
	"noMainContainer": "true",
	"noContentTitle": "true"
}
---
<div class="container">
	<h1 property="name" id="wb-cont">{{title}}</h1>
	<div class="alert alert-warning">
		<p><strong>This page is a test case.</strong> The content structure of this page might not consistant with the rest of this site.</p>
	</div>
</div>

<div class="container">
	<h2>Default</h2>
	<pre><code>&lt;div class="home-banner"&gt;</code></pre>
</div>
<section>
	<div class="home-banner">
		<div class="container">
			<div class="innerbox">
				<h1>Canada.ca</h1>
				<p>The official website of the Government of Canada</p>
			</div>
		</div>
		<div class="promo">
			<div class="container">
				<a class="figcaption" href="#">
					<figure class="clearfix">
						<div><p class="pull-left mrgn-tp-md mrgn-bttm-md">Featured:</p></div>
						<figcaption class="pull-left mrgn-tp-md mrgn-bttm-md">[Promotion title]</figcaption>
					</figure>
				</a>
			</div>
		</div>
	</div>
</section>

<div class="container">
	<h2>Earth</h2>
	<pre><code>&lt;div class="home-banner earth"&gt;</code></pre>
</div>
<section>
	<div class="home-banner earth">
		<div class="container">
			<div class="innerbox">
				<h1>Canada.ca</h1>
				<p>The official website of the Government of Canada</p>
			</div>
		</div>
		<div class="promo">
			<div class="container">
				<a class="figcaption" href="#">
					<figure class="clearfix">
						<div><p class="pull-left mrgn-tp-md mrgn-bttm-md">Featured:</p></div>
						<figcaption class="pull-left mrgn-tp-md mrgn-bttm-md">[Promotion title]</figcaption>
					</figure>
				</a>
			</div>
		</div>
	</div>
</section>

<div class="container">
	<h2>Vegetation</h2>
	<pre><code>&lt;div class="home-banner vegetation"&gt;</code></pre>
</div>
<section>
	<div class="home-banner vegetation">
		<div class="container">
			<div class="innerbox">
				<h1>Canada.ca</h1>
				<p>The official website of the Government of Canada</p>
			</div>
		</div>
		<div class="promo">
			<div class="container">
				<a class="figcaption" href="#">
					<figure class="clearfix">
						<div><p class="pull-left mrgn-tp-md mrgn-bttm-md">Featured:</p></div>
						<figcaption class="pull-left mrgn-tp-md mrgn-bttm-md">[Promotion title]</figcaption>
					</figure>
				</a>
			</div>
		</div>
	</div>
</section>

<div class="container">
	<h2>Night</h2>
	<pre><code>&lt;div class="home-banner night"&gt;</code></pre>
</div>
<section>
	<div class="home-banner night">
		<div class="container">
			<div class="innerbox">
				<h1>Canada.ca</h1>
				<p>The official website of the Government of Canada</p>
			</div>
		</div>
		<div class="promo">
			<div class="container">
				<a class="figcaption" href="#">
					<figure class="clearfix">
						<div><p class="pull-left mrgn-tp-md mrgn-bttm-md">Featured:</p></div>
						<figcaption class="pull-left mrgn-tp-md mrgn-bttm-md">[Promotion title]</figcaption>
					</figure>
				</a>
			</div>
		</div>
	</div>
</section>

<div class="container">
	<h2>Forest</h2>
	<pre><code>&lt;div class="home-banner forest"&gt;</code></pre>
</div>
<section>
	<div class="home-banner forest">
		<div class="container">
			<div class="innerbox">
				<h1>Canada.ca</h1>
				<p>The official website of the Government of Canada</p>
			</div>
		</div>
		<div class="promo">
			<div class="container">
				<a class="figcaption" href="#">
					<figure class="clearfix">
						<div><p class="pull-left mrgn-tp-md mrgn-bttm-md">Featured:</p></div>
						<figcaption class="pull-left mrgn-tp-md mrgn-bttm-md">[Promotion title]</figcaption>
					</figure>
				</a>
			</div>
		</div>
	</div>
</section>

<div class="container">
	<h2>Autumn</h2>
	<pre><code>&lt;div class="home-banner autumn"&gt;</code></pre>
</div>
<section>
	<div class="home-banner autumn">
		<div class="container">
			<div class="innerbox">
				<h1>Canada.ca</h1>
				<p>The official website of the Government of Canada</p>
			</div>
		</div>
		<div class="promo">
			<div class="container">
				<a class="figcaption" href="#">
					<figure class="clearfix">
						<div><p class="pull-left mrgn-tp-md mrgn-bttm-md">Featured:</p></div>
						<figcaption class="pull-left mrgn-tp-md mrgn-bttm-md">[Promotion title]</figcaption>
					</figure>
				</a>
			</div>
		</div>
	</div>
</section>

<div class="container">
	<h2>Sky</h2>
	<pre><code>&lt;div class="home-banner sky"&gt;</code></pre>
</div>
<section>
	<div class="home-banner sky">
		<div class="container">
			<div class="innerbox">
				<h1>Canada.ca</h1>
				<p>The official website of the Government of Canada</p>
			</div>
		</div>
		<div class="promo">
			<div class="container">
				<a class="figcaption" href="#">
					<figure class="clearfix">
						<div><p class="pull-left mrgn-tp-md mrgn-bttm-md">Featured:</p></div>
						<figcaption class="pull-left mrgn-tp-md mrgn-bttm-md">[Promotion title]</figcaption>
					</figure>
				</a>
			</div>
		</div>
	</div>
</section>
