---
{
	"title": "Nom de la campagne",
	"language": "fr",
	"altLangPage": "campaign-en.html",
	"promotion": "carousel",
	"deptfeature": true,
	"secondlevel": false,
	"dateModified": "2017-10-02",
	"share": "true"
}
---
<div class="row">
	<section class="col-md-6">
		<a href="#"><h2 class="h5">Lien hypertexte promotionnel</h2>
		<img src="../img/promo-520x296.png" alt="" class="img-responsive thumbnail"/>
		</a>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
	</section>
	<section class="col-md-6">
		<a href="#"><h2 class="h5">Lien hypertexte promotionnel</h2>
		<img src="../img/promo-520x296.png" alt="" class="img-responsive thumbnail"/>
		</a>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
	</section>
</div>
<section>
	<h2>[Titre]</h2>
	<div class="row wb-eqht">
		<section class="col-lg-4 col-md-6">
			<h3 class="h5"><a href="#">[Lien hypertexte]</a></h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque praesentium, nulla ab nobis architecto repellendus hic iure laboriosam.</p>
		</section>
		<section class="col-lg-4 col-md-6">
			<h3 class="h5"><a href="#">[Lien hypertexte]</a></h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque praesentium, nulla ab nobis architecto repellendus hic iure laboriosam.</p>
		</section>
		<section class="col-lg-4 col-md-6">
			<h3 class="h5"><a href="#">[Lien hypertexte]</a></h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque praesentium, nulla ab nobis architecto repellendus hic iure laboriosam.</p>
		</section>
		<section class="col-lg-4 col-md-6">
			<h3 class="h5"><a href="#">[Lien hypertexte]</a></h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque praesentium, nulla ab nobis architecto repellendus hic iure laboriosam.</p>
		</section>
		<section class="col-lg-4 col-md-6">
			<h3 class="h5"><a href="#">[Lien hypertexte]</a></h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque praesentium, nulla ab nobis architecto repellendus hic iure laboriosam.</p>
		</section>
		<section class="col-lg-4 col-md-6">
			<h3 class="h5"><a href="#">[Lien hypertexte]</a></h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque praesentium, nulla ab nobis architecto repellendus hic iure laboriosam.</p>
		</section>
		<section class="col-lg-4 col-md-6">
			<h3 class="h5"><a href="#">[Lien hypertexte]</a></h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque praesentium, nulla ab nobis architecto repellendus hic iure laboriosam.</p>
		</section>
		<section class="col-lg-4 col-md-6">
			<h3 class="h5"><a href="#">[Lien hypertexte]</a></h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque praesentium, nulla ab nobis architecto repellendus hic iure laboriosam.</p>
		</section>
		<section class="col-lg-4 col-md-6">
			<h3 class="h5"><a href="#">[Lien hypertexte]</a></h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque praesentium, nulla ab nobis architecto repellendus hic iure laboriosam.</p>
		</section>
	</div>
</section>
<div class="row">
	<section class="col-md-8">
		<h2>Participer à la conversation</h2>
		<div class="row">
			<section class="col-md-6">
				<h3 class="wb-inv">Twitter</h3>
				<div class="wb-twitter">
					<a class="twitter-timeline" href="https://twitter.com/environnementca" data-tweet-limit="3">Tweets by @environnementca</a>
				</div>
			</section>
			<div class="col-md-6">
				<section class="panel panel-default">
					<div class="panel-heading bg-white">
						<h3 class="panel-title">Facebook <span class="icon facebook pull-right"></span></h3>
					</div>
					<div class="panel-body">
						<div class="wb-facebook">
							<div class="fb-page" data-href="https://www.facebook.com/EnvironnementetChangementclimatique" data-small-header="true" data-hide-cover="false" data-show-facepile="false" data-show-posts="true">
								<div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/EnvironnementetChangementclimatique"><a href="https://www.facebook.com/EnvironnementetChangementclimatique">Environnement et Changement climatique Facebook</a></blockquote></div>
							</div>
						</div>
					</div>
				</section>
				<section class="panel panel-default col-md-12 fd-wdgt">
					<div class=" wb-feeds limit-10">
					<div class="panel-heading"><h3 class="panel-title">Flickr, Pinterest ou autre<span class="icon flickr"></span></h3></div>
					<div class="panel-body">
					<ul class="feeds-cont list-inline mrgn-tp-md">
						<li>
							<a href="https://www.flickr.com/photos/environmentcan" rel="external" data-ajax="https://api.flickr.com/services/feeds/photos_public.gne?id=47711201@N05&amp;format=json">Environnement Canada - Flickr</a>
						</li>
					</ul>
					</div>
					</div>
				</section>
			</div>
		</div>
	</section>
	<div class="col-md-4">
		<section class="col-md-12">
			<h2>Regarder</h2>
			<figure class="wb-mltmd" data-wb-mltmd='{"shareUrl": "https://www.youtube.com/watch?v=LLg-UsTr7us"}'>
				<video title="Suspect">
					<source type="video/youtube" src="https://www.youtube.com/watch?v=LLg-UsTr7us" />
				</video>
				<figcaption>
					<p>Suspect</p>
				</figcaption>
			</figure>
		</section>
		<section class="col-md-12">
			<h2>Regarder</h2>
			<figure class="wb-mltmd" data-wb-mltmd='{"shareUrl": "https://www.archive.org/download/RideOfTheValkyries/ride_of_the_valkyries_2.mp3"}'>
				<audio title="Chevauchée des Walkyries">
					<source src="https://www.archive.org/download/RideOfTheValkyries/ride_of_the_valkyries_2.mp3" type="audio/mp3" />
					<source src="https://www.archive.org/download/RideOfTheValkyries/ride_of_the_valkyries_2.ogg" type="audio/ogg" />
				</audio>
				<figcaption>
					<p>Chevauchée des Walkyries</p>
				</figcaption>
			</figure>
		</section>
	</div>
</div>
