{%- if page.language == "fr" -%}
<div class="alert alert-warning">
	<h2>Fonctionnalité instable</h2>
	<p>À être utilisé <strong>à vos propres risques</strong>. Toutes les fonctionnalités décrites ci-dessous pourraient être retirées à n'importe quelle version mineur/majeur ultérieure et l'ensemble des fonctionnalités provisoires sont exclues de l'API publique de GCWeb.</p>
	<p>La documentation et/ou les exemples pratiques pourraient être incomplets ou être non disponible.</p>
	<p><a href="{{ "components/provisional-fr.html" | relative_url }}">Voir l'ensemble des fonctionnalités provisoires.</a></p>
</div>
{%- elsif page.language == "en" -%}
<div class="alert alert-warning">
	<h2>Unstable feature</h2>
	<p>To be used at <strong>your own risks</strong>. All functionalities described below could be removed in any subsequent minor/major release and are excluded from the GCWeb public API.</p>
	<p>Documentation and/or working examples for those features could be incomplete or not available.</p>
	<p><a href="{{ "components/provisional-en.html" | relative_url }}">See all provisional features.</a></p>
</div>
{%- endif -%}
