<section class="alert alert-info">
	<h2 class="h3">{{{i18n "institution-alert-title"}}}</h2>
	<p>{{#is page.language "en"}}Our current <a href="#">[insert institution / organization name] website</a> will remain available until the move to Canada.ca is complete.{{else}}Le <a href="#">site Web actuel du / de / de la / de l’[ajouter le nom de l’institution / l'organization]</a> restera accessible jusqu’à ce que le transfert vers Canada.ca soit terminé.{{/is}}</p>
</section>
