{{#isnt language "fr"}}
<div class="alert alert-warning">
	<h2>Unstable feature</h2>
	<p>To be used at <strong>your own risk</strong>. All functionality described bellow can be removed in any subsequent minor/major release and are excluded from the gcweb public API.</p>
	<p>The documentation and/or a working example for those feature could be incomplete or not available.</p>
	<p><a href="../../provisional-en.html">Views all the provisional feature.</a></p>
</div>
{{else}}
<div class="alert alert-warning">
	<h2>Fonctionalité instable</h2>
	<p>À être utilisé <strong>à vos propre risque</strong>. Toute les fonctionalité décris ci-dessous peut être retiré dans n'importe lequel version mineur/majeur et l'ensemble de ces fonctionalité sont exclus de l'API publique.</p>
	<p>La documentation et/ou les examples pratique pourait être incomplete ou être non disponible.</p>
	<p><a href="../../provisional-fr.html">Voir l'ensemble des fonctionalités provisoires.</a></p>
</div>
{{/isnt}}
