<section class="gc-archv wb-inview modal-content show-none bar-demo" data-inview="top-bar">
	<div class="container">
	<h2>{{{i18n "archive-title"}}}</h2>
	<p>{{{i18n "archive-paragraph"}}}</p>
	</div>
</section>

<section id="top-bar" class="gc-archv wb-overlay modal-content overlay-def wb-bar-t">
	<div class="container">
	<h2>{{{i18n "archive-title"}}}</h2>
	<p>{{{i18n "archive-paragraph"}}}</p>
	</div>
</section>
