<div class="brand col-xs-6">
	<a href="index-{{language}}.html"><object type="images/svg+xml" tabindex="-1" role="img" data="./{{assets}}/img/wmms-blk.svg" aria-label="{{#i18n "%tmpl-gc-wmms"}}{{/i18n}}"></object></a>
</div>
