<p>{{#is page.language "en"}}We are a federal institution that is part of the <a href="#">[portfolio name] portfolio</a>.{{else}}Nous sommes une institution fédérale qui fait partie du portefeuille du <a href="#">[nom du portfolio]</a>.{{/is}}</p>

