<a class="gc-dwnld-lnk" href="#">
	<div class="well gc-dwnld">
		<div class="row">
			<div class="col-xs-4">
				<p><img class="img-responsive thumbnail gc-dwnld-img" src="./img/doc.png" alt="" /></p>
			</div>
			<div class="col-xs-8">
				<p class="gc-dwnld-txt"><span>{{{i18n "comp-dwnld-title"}}}</span>
				<span class="gc-dwnld-info">(<abbr{{#is page.language "fr"}} lang="en"{{/is}} title="Portable Document Format">PDF</abbr>, 273 <abbr title="{{{i18n "comp-dwnld-size-abbr"}}}">{{{i18n "comp-dwnld-size-type"}}}</abbr>)</span></p>
			</div>
		</div>
	</div>
</a>
