<h3>Consultations</h3>
<ul>
	<li><a href="#">[Consultation 1]</a></li>
	<li><a href="#">[Consultation 2 {{#is page.language "fr"}}avec un long titre{{else}}with a long heading{{/is}}]</a></li>
	<li><a href="#">[Consultation 3]</a></li>
	<li><a href="#">[Consultation 4 {{#is page.language "fr"}}avec un long titre{{else}}with a long heading{{/is}}]</a></li>
</ul>
<p><a href="#">{{#is page.language "fr"}}Toutes les consultations connexes{{else}}All related consultations{{/is}}</a></p>
