<section class="lnkbx">
	<h2>
	{{#is page.language "fr"}}
	Contactez-nous
	{{else}}
	Contact us
	{{/is}}
	</h2>
	<ul>
		<li><a href="#">{{#is page.language "fr"}}[Lien du numéro de contact]{{else}}[Contact number link]{{/is}}</a></li>
		<li><a href="#">{{#is page.language "fr"}}[Lien du numéro de contact]{{else}}[Contact number link]{{/is}}</a></li>
		<li><a href="#">{{#is page.language "fr"}}[Lien du numéro de contact]{{else}}[Contact number link]{{/is}}</a></li>
	</ul>
</section>
