
{{#contains page.src "/docs/ref/"}}
	{{#isnt assets "../.."}}
<p>
	<a class="btn btn-primary" href="https://github.com/wet-boew/{{site.repository}}/issues/new?title={{encodeURI title}}:%20">{{{i18n "tmpl-questions-comments"}}}</a>
</p>
	{{/isnt}}
{{/contains}}
