<section class="provisional gc-contributors">
	<div class="row">
		<div class="col-md-1">
			<h2 class="provisional h3">
			{{#is page.language "fr"}}
			De :
			{{else}}
			From:
			{{/is}}
			</h2>
		</div>
		<div class="col-md-11">
			<ul>
				<li><a href="#">{{#is page.language "fr"}}Page d'acceuil institutionnelles{{else}}Institutional landing page{{/is}}</a></li>
				<li><a href="#">{{#is page.language "fr"}}[Ministère ou agence]{{else}}[Department or agency]{{/is}}</a></li>
			</ul>
		</div>
	</div>
</section>
