<section class="col-md-4">
{{#is page.pageType "organization"}}<h3 class="wb-inv">{{{i18n "corp-info-job-org-head"}}}</h3>{{/is}}
{{#is page.pageType "institution"}}<h3>{{{i18n "corp-info-job"}}}</h3>{{/is}}
	{{>corp-info-figure}}
</section>
