<section class="row pagedetails">
	<div class="container">
		<div class="row">
			<div class="col-md-12 datemod">
					{{#i18n "%tmpl-date-mod"}}{{/i18n}} 2013-08-06
			</div>
		</div>
	</div>
</section>
