
	<section class="row pagedetails">
		<div class="container">
			<div class="row">
				<div class="col-md-6 text-left datemod">
						Date Modified: 2013-08-06
				</div>
				<div class="col-md-6 text-right">
					<a href="#" class="btn btn-default share"><span class="shareicon"></span> Share this page</a>
				</div>
			</div>
		</div>
	</section>