
	<section class="row pagedetails">
		<div class="container">
			<div class="row">
				<div class="col-md-6 text-left datemod">
						{{#i18n "%tmpl-date-mod"}}{{/i18n}} 2013-08-06
				</div>
				<div class="col-md-6 text-right">
					<a href="#" class="btn btn-default share"><span class="shareicon"></span> {{#i18n "%tmpl-share-page"}}{{/i18n}}</a>
				</div>
			</div>
		</div>
	</section>
