<div class="row pagedetails">
	<div class="col-md-4 text-left datemod">
		{{#i18n "%tmpl-date-mod"}}{{/i18n}} <time>2013-08-06</time>
	</div>
	<div class="col-md-4 feedback text-center">
		<a href="{{#i18n "%tmpl-feedback-link"}}{{/i18n}}"><span class="glyphicon glyphicon-comment"></span>{{#i18n "%tmpl-feedback"}}{{/i18n}}<span class="wb-inv">{{#i18n "%tmpl-feedback-hidden"}}{{/i18n}}</span></a>
	</div>
	<div class="col-md-4 text-right">
		<div class="wb-share"></div>
	</div>
</div>
