<div class="row pagedetails">
	<div class="col-md-6 text-left datemod">
		{{#i18n "%tmpl-date-mod"}}{{/i18n}} <time>2013-08-06</time>
	</div>
	<div class="col-md-6 text-right">
		<div class="wb-share"></div>
	</div>
</div>
