<div class="row pagedetails">
	<div class="col-md-6 text-left datemod">
		{{#i18n "%tmpl-date-mod"}}{{/i18n}} <time>2013-08-06</time>
	</div>
	<div class="col-md-6 text-right">
		<a href="#shr-pg" class="shr-opn">{{#i18n "%tmpl-share-page"}}{{/i18n}}</a>
		<section id="shr-pg" class="shr-pg wb-overlay panel panel-right">
			<h2>{{#i18n "%tmpl-share-page"}}{{/i18n}}</h2>
			<div class="wb-share"></div>
		</section>
	</div>
</div>
