<div class="pagedetails
{{#if page.noMainContainer}} container{{/if}}
">
	<div class="row">
		<div class="col-sm-6 col-md-5 col-lg-4">
			<details class="brdr-0">
				<summary class="btn btn-default text-center">{{{i18n "tmpl-feedback"}}}</summary>
				<div class="well row">
					{{>report-problem}}
				</div>
			</details>
		</div>
		{{#is page.share "true"}}
		<div class="wb-share col-sm-4 col-md-3 col-sm-offset-2 col-md-offset-4 col-lg-offset-5" data-wb-share='{"lnkClass": "btn btn-default btn-block"}'></div>
		{{/is}}
	</div>
	<dl id="wb-dtmd">
		<dt>{{{i18n "tmpl-date-mod"}}}{{{i18n "space"}}}</dt>
		<dd><time property="dateModified">{{page.dateModified}}</time></dd>
	</dl>
</div>
