<div class="row pagedetails">
	<div class="col-sm-5 col-xs-12 datemod">
		<dl id="wb-dtmd" property="dateModified">
			<dt>{{#i18n "tmpl-date-mod"}}{{/i18n}}{{#i18n "space"}}{{/i18n}}</dt>
			<dd><time>{{page.dateModified}}</time></dd>
		</dl>
	</div>

	<div class="clear visible-xs"></div>

	<div class="col-sm-4 col-md-5 col-xs-6">
		<a href="{{#i18n "tmpl-feedback-link"}}{{/i18n}}" class="btn btn-default"><span class="glyphicon glyphicon-comment mrgn-rght-sm"></span>{{#i18n "tmpl-feedback"}}{{/i18n}}<span class="wb-inv">{{#i18n "tmpl-feedback-hidden"}}{{/i18n}}</span></a>
	</div>

	<div class="col-sm-3 col-md-2 col-xs-6 text-right">
		<div class="wb-share" data-wet-boew='{"lnkClass": "btn btn-default"}'></div>
	</div>

	<div class="clear visible-xs"></div>
</div>
