<section class="gc-prtts">
	<h2>[Titre]</h2>
	<div class="row">
		<section class="col-lg-4 col-md-6">
			<a href="#">
				<h3 class="h5">[Promotional hyperlink text]</h3>
				<img src="{{assets}}/img/cars.jpg" alt="" class="img-responsive thumbnail"/>
			</a>
			<p>Brief description of the initiative, task or information being promoted.</p>
		</section>
		<section class="col-lg-4 col-md-6">
			<a href="#">
				<h3 class="h5">[Promotional hyperlink text]</h3>
				<img src="{{assets}}/img/sports.jpg" alt="" class="img-responsive thumbnail"/>
			</a>
			<p>Brief description of the initiative, task or information being promoted.</p>
		</section>
		<section class="col-lg-4 col-md-6">
			<a href="#">
				<h3 class="h5">[Promotional hyperlink text]</h3>
				<img src="{{assets}}/img/cats.jpg" alt="" class="img-responsive thumbnail"/>
			</a>
			<p>Brief description of the initiative, task or information being promoted.</p>
		</section>
	</div>
</section>
