<section class="gc-prtts">
	<h2>En vedette</h2>
	<div class="row">
		<section class="col-lg-4 col-md-6 mrgn-bttm-md">
			<a href="#">
				<h3 class="h5">[Promotion du theme]</h3>
				<img src="{{assets}}/img/cars.jpg" alt="" class="img-responsive thumbnail mrgn-bttm-sm"/>
			</a>
			<p>Brève description de l'initiative, la tâche ou des renseignements en promotion.</p>
		</section>
		<section class="col-lg-4 col-md-6 mrgn-bttm-md">
			<a href="#">
				<h3 class="h5">[Promotion du theme]</h3>
				<img src="{{assets}}/img/sports.jpg" alt="" class="img-responsive thumbnail mrgn-bttm-sm"/>
			</a>
			<p>Brève description de l'initiative, la tâche ou des renseignements en promotion.</p>
		</section>
		<section class="col-lg-4 col-md-6 mrgn-bttm-md">
			<a href="#">
				<h3 class="h5">[Promotion du theme]</h3>
				<img src="{{assets}}/img/cats.jpg" alt="" class="img-responsive thumbnail mrgn-bttm-sm"/>
			</a>
			<p>Brève description de l'initiative, la tâche ou des renseignements en promotion.</p>
		</section>
	</div>
</section>
