<section class="gc-prtts">
	<h2>Features</h2>
	<div class="row">
		<section class="col-lg-4 col-md-6 mrgn-bttm-md">
			<a href="#">
				<h3 class="h5">[Feature hyperlink text]</h3>
				<img src="{{assets}}/img/360x203.png" alt="" class="img-responsive thumbnail mrgn-bttm-sm"/>
			</a>
			<p>Brief description of the initiative, task or information being promoted.</p>
		</section>
		<section class="col-lg-4 col-md-6 mrgn-bttm-md">
			<a href="#">
				<h3 class="h5">[Feature hyperlink text]</h3>
				<img src="{{assets}}/img/360x203.png" alt="" class="img-responsive thumbnail mrgn-bttm-sm"/>
			</a>
			<p>Brief description of the initiative, task or information being promoted.</p>
		</section>
		<section class="col-lg-4 col-md-6 mrgn-bttm-md">
			<a href="#">
				<h3 class="h5">[Feature hyperlink text]</h3>
				<img src="{{assets}}/img/360x203.png" alt="" class="img-responsive thumbnail mrgn-bttm-sm"/>
			</a>
			<p>Brief description of the initiative, task or information being promoted.</p>
		</section>
	</div>
</section>
