<aside class="gc-nttvs container">
	<h2>{{{i18n "tmpl-features"}}}</h2>
{{#is page.toplevel true}}
	<div class="wb-eqht row">
	{{#is page.language "en"}}
		{{>features-en}}
	{{else}}
		{{>features-fr}}
	{{/is}}
</div>
{{/is}}
	<div id="gcwb_prts" class="wb-eqht row" data-ajax-append="http://travel.gc.ca/gcweb-cdn/features/features-{{language}}.html"></div>
</aside>
