<a href="http://www.fin.gc.ca/news-nouvelles/nr-nc/2013/prebudget-prebudgetaire-eng.asp" class="sect-lnks thumbnail"><figure>
	<img src="{{assets}}/img/features/pi-2013-11-07_budget-en.jpg" alt="">
	<figcaption class="caption">Pre-Budget Consultations</figcaption>
</figure></a>
<a href="http://www.international.gc.ca/development-developpement/humanitarian_response-situations_crises/haiyan/Fund-Fonds.aspx" class="sect-lnks thumbnail"><figure>
	<img src="{{assets}}/img/features/pi-2013-11-11_typhoon-en.jpg" alt="" >
	<figcaption class="caption">Typhoon Haiyan Relief Fund: Make a donation</figcaption>
</figure></a>
<a href="http://www.ic.gc.ca/eic/site/icgc.nsf/eng/07389.html?Open&amp;wtpromo=More_Choices" class="sect-lnks thumbnail"><figure>
	<img src="{{assets}}/img/features/pi-2013-09-04_wl-en.png" alt="" >
	<figcaption class="caption">Our wireless policy is clear. More choice. Lower prices.</figcaption>
</figure></a>