<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>{{#i18n "%tmpl-features"}}{{/i18n}}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
			<figure class="thumbnail">
				<img src="{{assets}}/img/healthy.jpg" alt="...">
				<figcaption class="caption">
					<a href="#">{{#i18n "%healthy-canadians"}}{{/i18n}}</a>
				</figcaption>
			</figure>
		</div>
		<div class="col-md-4">
			<figure class="thumbnail">
				<img src="{{assets}}/img/eap.jpg" alt="..." >
				<figcaption class="caption">
					<a href="#">{{#i18n "%responsible-resource"}}{{/i18n}}</a>
				</figcaption>
			</figure>
		</div>
		<div class="col-md-4">
			<figure class="thumbnail">
				<img src="{{assets}}/img/wireless.jpg" alt="..." >
				<figcaption class="caption">
					<a href="#">{{#i18n "%wireless-policy"}}{{/i18n}}</a>
				</figcaption>
			</figure>
		</div>
	</div>
</div>
