		<section class="col-lg-4 col-md-6 mrgn-bttm-md">
			<a rel="external" href="http://www.budget.gc.ca/efp-peb/2014/uccb-puge-fra.html?utm_source=FEATURE&amp;utm_medium=banner&amp;utm_campaign=uccb">
				<h3 class="h5">Une Prestation universelle pour la garde d’enfants bonifiée</h3>
				<img class="img-responsive thumbnail mrgn-bttm-sm" src="{{assets}}/img/features/pi-2014-11-12_fs-fr.jpg" alt="" />
			</a>
			<p>À compter de 2015, les parents pourront recevoir jusqu’à 1 920 $ par année pour chaque enfant âgé de moins de 6 ans et 720 $ par année pour chaque enfant âgé de 6 à 17 ans.</p>
		</section>
		<section class="col-lg-4 col-md-6 mrgn-bttm-md">
			<a rel="external" href="http://www.healthycanadians.gc.ca/drug-prevention-drogues/index-fra.php?utm_src=goc_acts_init-pidu_14&amp;utm_medium=goc_footer_fr&amp;utm_campaign=canada.ca">
				<h3 class="h5">Prévenez l'abus de drogues chez les ados</h3>
				<img class="img-responsive thumbnail mrgn-bttm-sm" src="{{assets}}/img/features/pi-2014-11-12_dp.jpg" alt="" />
			</a>
			<p>Informez-vous et parlez avec vos enfants des dangers des drogues.</p>
		</section>
		<section class="col-lg-4 col-md-6 mrgn-bttm-md">
			<a rel="external" href="http://www.pensezcybersecurite.gc.ca/cnt/blg/pst-20141031-fra.aspx?utm_date=nov3&amp;utm_cpgn=prntwh&amp;utm_mdm=features  ">
				<h3 class="h5">Peut-on parler de cyberintimidation?</h3>
				<img class="img-responsive thumbnail mrgn-bttm-sm" src="{{assets}}/img/features/pi-2014-11-12_sho-tk.jpg" alt="" />
			</a>
			<p>La cyberintimidation. Entamez une conversation avec votre enfant.</p>
		</section>
