		<section class="col-lg-4 col-md-6 mrgn-bttm-md">
			<a rel="external" href="#">
				<h3 class="h5">[Texte de l’hyperlien d’activités et initiatives]</h3>
				<img class="img-responsive thumbnail mrgn-bttm-sm" src="{{assets}}/img/features/355x113.png" alt="" />
			</a>
			<p>Brève description de l'initiative, la tâche ou des renseignements en promotion.</p>
		</section>
		<section class="col-lg-4 col-md-6 mrgn-bttm-md">
			<a rel="external" href="#">
				<h3 class="h5">[Texte de l’hyperlien d’activités et initiatives]</h3>
				<img class="img-responsive thumbnail mrgn-bttm-sm" src="{{assets}}/img/features/355x113.png" alt="" />
			</a>
			<p>Brève description de l'initiative, la tâche ou des renseignements en promotion.</p>
		</section>
		<section class="col-lg-4 col-md-6 mrgn-bttm-md">
			<a rel="external" href="#">
				<h3 class="h5">[Texte de l’hyperlien d’activités et initiatives]</h3>g
				<img class="img-responsive thumbnail mrgn-bttm-sm" src="{{assets}}/img/features/355x113.png" alt="" />
			</a>
			<p>Brève description de l'initiative, la tâche ou des renseignements en promotion.</p>
		</section>
