		<section class="col-lg-4 col-md-6">
			<a href="http://www.fin.gc.ca/news-nouvelles/nr-nc/2013/prebudget-prebudgetaire-fra.asp">
				<h3>Consultations prébudgétaires</h3>
				<img src="{{assets}}/img/features/pi-2013-11-07_budget-fr.jpg" alt="" class="img-responsive"/>
			</a>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		</section>
		<section class="col-lg-4 col-md-6">
			<a href="http://www.canada150.gc.ca/fra/1344275798109/1344275838665">
				<h3><span class="wb-inv">Canada 150 </span>À vous la parole!</h3>
				<img src="{{assets}}/img/features/pi-2013-12-12_haveyoursay-fr.jpg" alt="" class="img-responsive"/>
			</a>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		</section>
		<section class="col-lg-4 col-md-6">
			<a href="http://www.ic.gc.ca/eic/site/icgc.nsf/fra/07389.html?Open&amp;wtpromo=Plus_de_choix">
				<h3>Notre politique sur le sans-fil est claire.<span class="wb-inv"> Plus de choix. Des prix plus bas.</span></h3>
				<img src="{{assets}}/img/features/pi-2013-09-04_wl-fr.png" alt="" class="img-responsive"/>
			</a>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		</section>
