<aside class="gc-nttvs">
	<h2>{{{i18n "tmpl-features"}}}</h2>
	<div class="wb-eqht row">
		{{#startsWith "en" language }}
			{{>features-en}}
		{{else}}
			{{>features-fr}}
		{{/startsWith}}
	</div>
</aside>