<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>{{{i18n "tmpl-features"}}}</h2>
        </div>
    </div>
    <div class="wb-eqht">
		{{#startsWith "en" language }}
			{{>features-en}}
		{{else}}
			{{>features-fr}}
		{{/startsWith}}
	</div>
</div>