		<section class="col-lg-4 col-md-6 mrgn-bttm-md">
			<a rel="external" href="#">
				<h3 class="h5">[Activities and initiatives hyperlink text]</h3>
				<img class="img-responsive thumbnail mrgn-bttm-sm" src="{{assets}}/img/features/355x113.png" alt="" />
			</a>
			<p>Brief description of the initiative, task or information being promoted.</p>
		</section>
		<section class="col-lg-4 col-md-6 mrgn-bttm-md">
			<a rel="external" href="#">
				<h3 class="h5">[Activities and initiatives hyperlink text]</h3>
				<img class="img-responsive thumbnail mrgn-bttm-sm" src="{{assets}}/img/features/355x113.png" alt="" />
			</a>
			<p>Brief description of the initiative, task or information being promoted.</p>
		</section>
		<section class="col-lg-4 col-md-6 mrgn-bttm-md">
			<a rel="external" href="#">
				<h3 class="h5">[Activities and initiatives hyperlink text]</h3>
				<img class="img-responsive thumbnail mrgn-bttm-sm" src="{{assets}}/img/features/355x113.png" alt="" />
			</a>
			<p>Brief description of the initiative, task or information being promoted.</p>
		</section>
