<a href="http://www.fin.gc.ca/news-nouvelles/nr-nc/2013/prebudget-prebudgetaire-eng.asp" class="sect-lnks thumbnail">
	<img src="{{assets}}/img/features/pi-2013-11-07_budget-en.jpg" alt="Pre-Budget Consultations">
</a>
<a href="http://canada150.gc.ca/eng/1344275798109/1344275838665" class="sect-lnks thumbnail">
	<img src="{{assets}}/img/features/pi-2013-12-12_haveyoursay-en.jpg" alt="Canada 150, Have your say!" >
</a>
<a href="http://www.ic.gc.ca/eic/site/icgc.nsf/eng/07389.html?Open&amp;wtpromo=More_Choices" class="sect-lnks thumbnail">
	<img src="{{assets}}/img/features/pi-2013-09-04_wl-en.png" alt="Our wireless policy is clear. More choice. Lower prices." />
</a>