		<section class="col-lg-4 col-md-6 mrgn-bttm-md">
			<a rel="external" href="http://www.budget.gc.ca/efp-peb/2014/uccb-puge-eng.html?utm_source=FEATURE&amp;utm_medium=banner&amp;utm_campaign=uccb">
				<h3 class="h5">An Expanded Universal Child Care Benefit</h3>
				<img class="img-responsive thumbnail mrgn-bttm-sm" src="{{assets}}/img/features/pi-2014-11-12_fs-en.jpg" alt="" />
			</a>
			<p>Starting in 2015, parents can receive up to $1,920 per year for each child under the age of 6 and $720 per year for children aged 6 through 17.</p>
		</section>
		<section class="col-lg-4 col-md-6 mrgn-bttm-md">
			<a rel="external" href="http://www.healthycanadians.gc.ca/drug-prevention-drogues/index-eng.php?utm_src=goc_acts_init-pidu_14&amp;utm_medium=goc_footer_en&amp;utm_campaign=canada.ca&amp;_ga=1.262140997.973483582.1413300932">
				<h3 class="h5">Prevent Teen Drug Abuse</h3>
				<img class="img-responsive thumbnail mrgn-bttm-sm" src="{{assets}}/img/features/pi-2014-11-12_dp.jpg" alt="" />
			</a>
			<p>Get the facts and talk with your kids about the dangers of drugs.</p>
		</section>
		<section class="col-lg-4 col-md-6 mrgn-bttm-md">
			<a rel="external" href="http://www.getcybersafe.gc.ca/cnt/blg/pst-20141031-eng.aspx?utm_date=nov3&amp;utm_cpgn=prntwh&amp;utm_mdm=features">
				<h3 class="h5">Can we talk about cyberbullying?</h3>
				<img class="img-responsive thumbnail mrgn-bttm-sm" src="{{assets}}/img/features/pi-2014-11-12_sho-tk.jpg" alt="" />
			</a>
			<p>Cyberbullying. Start a conversation with your child, today.</p>
		</section>
