<a href="http://www.fin.gc.ca/news-nouvelles/nr-nc/2013/prebudget-prebudgetaire-fra.asp" class="sect-lnks thumbnail"><figure>
	<img src="{{assets}}/img/features/pi-2013-11-07_budget-fr.jpg" alt="">
	<figcaption class="caption">Consultations prébudgétaires</figcaption>
</figure></a>
<a href="http://www.international.gc.ca/development-developpement/humanitarian_response-situations_crises/haiyan/Fund-Fonds.aspx?lang=fra" class="sect-lnks thumbnail"><figure>
	<img src="{{assets}}/img/features/pi-2013-11-11_typhoon-fr.jpg" alt="" >
	<figcaption class="caption">Fonds de contrepartie pour le typhon Haiyan: Faites un don</figcaption>
</figure></a>
<a href="http://www.ic.gc.ca/eic/site/icgc.nsf/fra/07389.html?Open&amp;wtpromo=Plus_de_choix" class="sect-lnks thumbnail"><figure>
	<img src="{{assets}}/img/features/pi-2013-09-04_wl-fr.png" alt="" >
	<figcaption class="caption">Notre politique sur le sans-fil est claire. Plus de choix. Des prix plus bas.</figcaption>
</figure></a>