		<section class="col-lg-4 col-md-6 mrgn-bttm-md">
			<a rel="external" href="http://www.fin.gc.ca/news-nouvelles/nr-nc/2013/prebudget-prebudgetaire-eng.asp">
				<h3 class="h5">Pre-Budget Consultations</h3>
				<img class="img-responsive thumbnail mrgn-bttm-sm" src="{{assets}}/img/features/pi-2013-11-07_budget-en.jpg" alt=""/>
			</a>
			<p>Brief description of the initiative, task or information being promoted.</p>
		</section>
		<section class="col-lg-4 col-md-6 mrgn-bttm-md">
			<a rel="external" href="http://www.canada150.gc.ca/eng/1344275798109/1344275838665">
				<h3 class="h5"><span class="wb-inv">Canada 150 </span>Have your say!</h3>
				<img class="img-responsive thumbnail mrgn-bttm-sm" src="{{assets}}/img/features/pi-2013-12-12_haveyoursay-en.jpg" alt=""/>
			</a>
			<p>Brief description of the initiative, task or information being promoted.</p>
		</section>
		<section class="col-lg-4 col-md-6 mrgn-bttm-md">
			<a rel="external" href="http://www.ic.gc.ca/eic/site/icgc.nsf/eng/07389.html?Open&amp;wtpromo=More_Choices">
				<h3 class="h5">Our wireless policy is clear.<span class="wb-inv"> More choice. Lower prices.</span></h3>
				<img class="img-responsive thumbnail mrgn-bttm-sm" src="{{assets}}/img/features/pi-2013-09-04_wl-en.png" alt=""/>
			</a>
			<p>Brief description of the initiative, task or information being promoted.</p>
		</section>
