{{#unless experimental}}
	<div class="brand">
		<div class="container text-right">
			<div class="row visible-lg visible-md">
				<div class="col-xs-12">
					<object type="images/svg+xml" tabindex="-1" role="img" data="./{{assets}}/assets/sig-{{language}}.svg" aria-label="{{#i18n "%tmpl-gc-sig"}}{{/i18n}}"></object>
				 </div>
			</div>
			<div class="row visible-sm visible-xs">
				<div class="col-xs-12">
					<a href="#wb-cont">{{#i18n "%tmpl-toppage"}}{{/i18n}} <span class="glyphicon glyphicon-chevron-up"></span></a>
				</div>
			</div>
		</div>
	</div>
{{else}}
	<div class="brand">
		<div class="container text-right">
			<div class="row visible-lg visible-md">
				<div class="col-xs-12">
						<i class="icn-sig-{{language}}"><span class="wb-inv">{{#i18n "%tmpl-gc-wmms"}}{{/i18n}}</span></i>
				 </div>
			</div>
			<div class="row visible-sm visible-xs">
				<div class="col-xs-12">
					<a href="#wb-cont">{{#i18n "%tmpl-toppage"}}{{/i18n}} <span class="glyphicon glyphicon-chevron-up"></span></a>
				</div>
			</div>
		</div>
	</div>
{{/unless}}