<div class="col-sm-3 col-lg-3 brdr-lft">
	<section>
		<h3>Coordonnées</h3>
		<ul class="list-unstyled">
			<li><a href="#">Lien 1</a></li>
			<li><a href="#">Lien 2</a></li>
			<li><a href="#">Lien 3</a></li>
		</ul>
	</section>
	<section>
		<h3>Nouvelles</h3>
		<ul class="list-unstyled">
			<li><a href="http://nouvelles.gc.ca/web/index-fr.do">Salle de presse</a></li>
			<li><a href="http://nouvelles.gc.ca/web/nwsprdct-fr.do?mthd=tp&amp;crtr.tp1D=1">Communiqués de presse</a></li>
			<li><a href="http://nouvelles.gc.ca/web/nwsprdct-fr.do?mthd=tp&amp;crtr.tp1D=3">Avis aux médias</a></li>
			<li><a href="http://nouvelles.gc.ca/web/nwsprdct-fr.do?mthd=tp&amp;crtr.tp1D=970">Discours</a></li>
			<li><a href="http://nouvelles.gc.ca/web/nwsprdct-fr.do?mthd=tp&amp;crtr.tp1D=980">Déclarations</a></li>
		</ul>
	</section>
</div>
<section class="col-sm-3 col-lg-3">
	<h3>Gouvernement</h3>
	<ul class="list-unstyled">
		<li><a href="http://www.canada.ca/fr/gouv/systeme/index.html">Comment le gouvernement fonctionne</a></li>
		<li><a href="http://www.canada.ca/fr/gouv/min/index.html">Ministères et organismes</a></li>
		<li><a href="http://pm.gc.ca/fra">Premier ministre</a></li>
		<li><a href="http://www.canada.ca/fr/gouv/ministres/index.html">Ministres</a></li>
		<li><a href="http://www.canada.ca/fr/gouv/politique/index.html">Politiques, règlements et lois</a></li>
		<li><a href="http://www.canada.ca/fr/gouv/bibliotheques/index.html">Bibliothèques</a></li>
		<li><a href="http://www.canada.ca/fr/gouv/publications/index.html">Publications</a></li>
		<li><a href="http://www.canada.ca/fr/gouv/statistiques/index.html">Statistiques et données</a></li>
		<li><a href="http://www.canada.ca/fr/nouveausite.html">À propos de Canada.ca</a></li>
	</ul>
</section>
<section class="col-sm-3 col-lg-3">
	<h3>Transparence</h3>
	<ul class="list-unstyled">
		<li><a href="http://www.canada.ca/fr/transparence/rapports.html">Établissement de rapports à l'échelle du gouvernement</a></li>
		<li><a href="http://www.canada.ca/fr/transparence/ouvert.html">Gouvernement ouvert</a></li>
		<li><a href="http://www.canada.ca/fr/transparence/divulgation.html">Divulgation proactive</a></li>
		<li><a href="http://www.canada.ca/fr/transparence/avis.html">Avis</a></li>
		<li><a href="http://www.canada.ca/fr/transparence/confidentialite.html">Confidentialité</a></li>
	</ul>
</section>
<div class="col-sm-3 col-lg-3 brdr-lft">
	<section>
		<h3>Rétroaction</h3>
		<p><a href="http://www.canada.ca/fr/contact/retroaction.html"><img src="{{assets}}/assets/feedback.png" class="img-responsive" alt="Rétroaction sur ce site Web" /></a></p>
	</section>
	<section>
		<h3>Médias sociaux</h3>
		<p><a href="http://www.canada.ca/fr/sociaux/index.html"><img src="{{assets}}/assets/social.png" class="img-responsive" alt="Médias sociaux" /></a></p>
	</section>
	<section>
		<h3>Centre mobile</h3>
		<p><a href="http://www.canada.ca/fr/mobile/index.html"><img src="{{assets}}/assets/mobile.png" class="img-responsive" alt="Centre mobile" /></a></p>
	</section>
</div>
