<section class="col-sm-3 col-lg-3">
	<h3>{{#i18n "%cont-about"}}{{/i18n}}</h3>
	<ul class="list-unstyled">
		<li><a href="#">{{#i18n "%cont-newcanada"}}{{/i18n}}</a></li>
		<li><a href="#">{{#i18n "%cont-sitemap"}}{{/i18n}}</a></li>
		<li><a href="#">{{#i18n "%cont-terms"}}{{/i18n}}</a></li>
		<li><a href="#">{{#i18n "%cont-privacy"}}{{/i18n}}</a></li>
	</ul>
</section>
<section class="col-sm-3 col-lg-3">
	<h3>{{#i18n "%cont-contactinfo"}}{{/i18n}}</h3>
	<ul class="list-unstyled">
		<li><a href="#">{{#i18n "%cont-employee"}}{{/i18n}}</a></li>
		<li><a href="#">{{#i18n "%cont-international"}}{{/i18n}}</a></li>
	</ul>
</section>
<section class="col-sm-3 col-lg-3">
	<h3>{{#i18n "%cont-social"}}{{/i18n}}</h3>
	<ul class="list-unstyled">
		<li>...</li>
	</ul>
</section>
<section class="col-sm-3 col-lg-3">
	<h3>{{#i18n "%cont-mobile"}}{{/i18n}}</h3>
	<ul class="list-unstyled">
		<li>...</li>
	</ul>
</section>
