
<div class="brand">
	<div class="container">
		<div class="row ">
			<div class="col-xs-6 visible-sm visible-xs tofpg">
				<a href="#wb-cont">{{{i18n "tmpl-toppage"}}} <span class="glyphicon glyphicon-chevron-up"></span></a>
			</div>
			<div class="col-xs-6 col-md-12 text-right">
				<object type="image/svg+xml" tabindex="-1" role="img" data="{{assets}}/../{{site.theme}}/assets/wmms-blk.svg" aria-label="{{{i18n "tmpl-gc-wmms"}}}"></object>
			</div>
		</div>
	</div>
</div>

