<footer role="contentinfo" id="wb-info">
	<nav role="navigation" class="container visible-sm visible-md visible-lg wb-navcurr">
		<h2 class="wb-inv">{{{i18n "tmpl-about-site"}}}</h2>
		{{>footercontent}}
	</nav>
	{{>footerbrand}}
</footer>