<footer id="wb-info">
	<div class="landscape">
		<nav class="container wb-navcurr">
			<h2 class="wb-inv">{{{i18n "tmpl-about-government"}}}</h2>
			{{>footercontent}}
		</nav>
	</div>
	{{>footerbrand}}
</footer>
