<footer role="contentinfo" id="wb-info">
	<nav role="navigation" class="container wb-navcurr">
		<h2 class="wb-inv">{{{i18n "tmpl-about-government"}}}</h2>
		{{>footercontent}}
	</nav>
	{{>footerbrand}}
</footer>
