<section class="col-sm-3 col-lg-3">
	<h3>Government</h3>
	<ul class="list-unstyled">
		<li><a href="http://canada.ca/en/gov/system/index.html">How government works</a></li>
		<li><a href="http://canada.ca/en/gov/dept/index.html">Departments &amp; agencies</a></li>
		<li><a href="http://pm.gc.ca/eng">Prime Minister</a></li>
		<li><a href="http://canada.ca/en/gov/ministers/index.html">Ministers</a></li>
		<li><a href="http://canada.ca/en/gov/policy/index.html">Policies, regulations &amp; laws</a></li>
		<li><a href="http://canada.ca/en/gov/libraries/index.html">Libraries</a></li>
		<li><a href="http://canada.ca/en/gov/publications/index.html">Publications</a></li>
		<li><a href="http://canada.ca/en/gov/statistics/index.html">Statistics &amp; data</a></li>
		<li><a href="http://canada.ca/en/newsite.html">About Canada.ca</a></li>
	</ul>
</section>
<section class="col-sm-3 col-lg-3">
	<h3>Transparency</h3>
	<ul class="list-unstyled">
		<li><a href="http://canada.ca/en/transparency/reporting.html">Government-wide reporting</a></li>
		<li><a href="http://canada.ca/en/transparency/open.html">Open government</a></li>
		<li><a href="http://canada.ca/en/transparency/disclosure.html">Proactive disclosure</a></li>
		<li><a href="http://canada.ca/en/transparency/terms.html">Terms &amp; conditions</a></li>
		<li><a href="http://canada.ca/en/transparency/privacy.html">Privacy</a></li>
	</ul>
</section>
<div class="col-sm-3 col-lg-3 brdr-lft">
	<section>
		<h3>News</h3>
		<ul class="list-unstyled">
			<li><a href="http://canada.ca/en/media/newsroom/index.html">Newsroom</a></li>
	        <li><a href="http://canada.ca/en/media/releases/index.html">News releases</a></li>
	        <li><a href="http://canada.ca/en/media/advisories/index.html">Media advisories</a></li>
	        <li><a href="http://canada.ca/en/media/speeches/index.html">Speeches</a></li>
	        <li><a href="http://canada.ca/en/media/statements/index.html">Statements</a></li>
		</ul>
	</section>
	<section>
		<h3>Contact information</h3>
		<ul class="list-unstyled">
			<li><a href="#">Link 1</a></li>
			<li><a href="#">Link 2</a></li>
			<li><a href="#">Link 3</a></li>
		</ul>
	</section>
</div>
<div class="col-sm-3 col-lg-3 brdr-lft">
	<section>
		<h3>Feedback</h3>
		<p><a href="http://canada.ca/en/contact/feedback.html"><img src="{{assets}}/assets/feedback.png" class="img-responsive" alt="Feedback about this Web site"></a></p>
	</section>
	<section>
		<h3>Social media</h3>
		<p><a href="http://canada.ca/en/social/index.html"><img src="{{assets}}/assets/social.png" alt="Social media" class="img-responsive"></a></p>
	</section>
	<section>
		<h3>Mobile centre</h3>
		<p><a href="http://canada.ca/en/mobile/index.html"><img src="{{assets}}/assets/mobile.png" alt="Mobile centre" class="img-responsive"></a></p>
	</section>
</div>
