<section class="col-sm-3 col-lg-3">

	<h3>{{#i18n "%mn-government" }}{{/i18n}}</h3>
	<ul class="list-unstyled">
		<li><a href="#">{{#i18n "%mn-how-government-works" }}{{/i18n}}</a></li>
		<li><a href="#">{{#i18n "%mn-departments-agencies" }}{{/i18n}}</a></li>
		<li><a href="#">{{#i18n "%mn-ministers" }}{{/i18n}}</a></li>
		<li><a href="#">{{#i18n "%mn-policies-regulations-laws" }}{{/i18n}}</a></li>
		<li><a href="#">{{#i18n "%mn-libraries" }}{{/i18n}}</a></li>
		<li><a href="#">{{#i18n "%mn-publications" }}{{/i18n}}</a></li>
		<li><a href="#">{{#i18n "%mn-statistics-data" }}{{/i18n}}</a></li>
		<li><a href="#">{{#i18n "%mn-the-new-canada.ca" }}{{/i18n}}</a></li>
	</ul>
</section>

<section class="col-sm-3 col-lg-3">
	<h3>{{#i18n "%mn-transparency" }}{{/i18n}}</h3>
	<ul class="list-unstyled">
		<li><a href="#">{{#i18n "%mn-open-government" }}{{/i18n}}</a></li>
		<li><a href="#">{{#i18n "%mn-proactive-disclosure" }}{{/i18n}}</a></li>
		<li><a href="#">{{#i18n "%mn-terms-of-use" }}{{/i18n}}</a></li>
		<li><a href="#">{{#i18n "%mn-privacy" }}{{/i18n}}</a></li>


	</ul>
</section>
<section class="col-sm-3 col-lg-3 border-left">
	<h3>{{#i18n "%mn-news" }}{{/i18n}}</h3>
	<ul class="list-unstyled">
		<li><a href="#">{{#i18n "%mn-news-releases" }}{{/i18n}}</a></li>
		<li><a href="#">{{#i18n "%mn-speeches-statements" }}{{/i18n}}</a></li>
		<li><a href="#">{{#i18n "%mn-media-advisories" }}{{/i18n}}</a></li>
	</ul>

	<h3>{{#i18n "%mn-contact-information" }}{{/i18n}}</h3>
	<ul class="list-unstyled">
			<li><a href="#">[Contextual information]</a></li>
	</ul>
</section>
<section class="col-sm-3 col-lg-3 border-left">
	<h3>{{#i18n "%mn-social-media" }}{{/i18n}}</h3>
	<p><img src="http://dummyimage.com/213x53/ddd" class="img-responsive"></p>

	<h3>{{#i18n "%mn-mobile-centre" }}{{/i18n}}</h3>
	<p><img src="http://dummyimage.com/213x53/ddd" class="img-responsive"></p>

</section>
