<!-- secondary navigation if enabled -->
<div class="pnl-strt container nvbar">
	<h2 class="wb-inv">{{{i18n "tmpl-topics-menu"}}}</h2>
	<div class="row">
		<ul class="list-inline menu" role="menubar">
			<li><a href="#emplois" class="item">Emplois</a>
				<ul class="sm list-unstyled" id="emplois" role="menu">
					<li><a href="http://www.canada.ca/fr/services/emplois/trouver.html">Trouver un emploi</a></li>
					<li><a href="http://www.travailleraucanada.gc.ca/profession_recherche-fra.do?lang=fra">Explorer des carrières</a></li>
					<li><a href="http://www.canada.ca/fr/services/emplois/formation/index.html">Formation</a></li>
					<li><a href="http://www.travailleraucanada.gc.ca/pieces_jointes-fra.do?cid=3264">Pour les employeurs</a></li>
					<li><a href="http://www.entreprisescanada.ca/fra/page/2856/">Démarrage d’une entreprise</a></li>
					<li><a href="http://www.canada.ca/fr/services/emplois/travail.html">Normes en milieu de travail</a></li>
					<li><a href="http://www.canada.ca/fr/services/emplois/pensions/index.html">Pensions et retraite</a></li>
					<li><a href="http://www.canada.ca/fr/services/prestations/ae/index.html">Assurance-emploi</a></li>
					<li class="slflnk"><a href="http://www.canada.ca/fr/services/emplois/index.html">Emplois – Autre</a></li>
				</ul>
			</li>
			<li><a href="#immigration" class="item">Immigration</a>
				<ul class="sm list-unstyled" id="immigration" role="menu">
					<li><a href="http://www.cic.gc.ca/francais/services-e/index.asp">Ma demande</a></li>
					<li><a href="http://www.cic.gc.ca/francais/immigrer/index.asp">Immigrer</a></li>
					<li><a href="http://www.cic.gc.ca/francais/visiter/index.asp">Visiter</a></li>
					<li><a href="http://www.cic.gc.ca/francais/travailler/index.asp">Travailler</a></li>
					<li><a href="http://www.cic.gc.ca/francais/etudier/index.asp">Étudier</a></li>
					<li><a href="http://www.cic.gc.ca/francais/citoyennete/index.asp">Citoyenneté</a></li>
					<li><a href="http://www.cic.gc.ca/francais/residents/nouveaux_immigrants.asp">Nouveaux immigrants</a></li>
					<li><a href="http://www.cic.gc.ca/francais/residents/canadiens.asp">Canadiens</a></li>
					<li><a href="http://www.cic.gc.ca/francais/refugies/index.asp">Réfugiés et demandes d’asile </a></li>
					<li><a href="http://www.cic.gc.ca/francais/application-loi/index.asp">Application de la loi et violations</a></li>
					<li class="slflnk"><a href="http://www.cic.gc.ca/francais/index.asp">Immigration – Autres</a></li>
				</ul>
			</li>
			<li><a href="#voyage" class="item">Voyage</a>
				<ul class="sm list-unstyled" id="voyage" role="menu">
					<li><a href="http://voyage.gc.ca/actualites/">Actualités voyage&nbsp;</a></li>
					<li><a href="http://voyage.gc.ca/voyager/avertissements">Conseils aux voyageurs et avertissements par pays</a></li>
					<li><a href="http://voyage.gc.ca/tourisme/">Attraits touristiques, événements et expériences au Canada</a></li>
					<li><a href="http://voyage.gc.ca/voyager/documents/passeport">Passeports canadiens</a></li>
					<li><a href="http://voyage.gc.ca/voyager">Voyager à l'étranger</a></li>
					<li><a href="http://voyage.gc.ca/retour">Retour au Canada</a></li>
					<li><a href="http://voyage.gc.ca/assistance">Assistance à l'étranger</a></li>
					<li><a href="http://voyage.gc.ca/restez-branches/">Restez branchés</a></li>
					<li class="slflnk"><a href="http://voyage.gc.ca/">Voyage – Autres</a></li>
				</ul>
			</li>
			<li><a href="#entreprises" class="item">Entreprises</a>
				<ul class="sm list-unstyled" id="entreprises" role="menu">
					<li><a href="http://www.canada.ca/fr/services/entreprises/lancer/index.html">Lancer une entreprise</a></li>
					<li><a href="http://www.entreprisescanada.ca/fra/page/2848/">Subventions et financement</a></li>
					<li><a href="http://www.canada.ca/fr/services/entreprises/taxes.html">Taxes et impôt des entreprises</a></li>
					<li><a href="http://www.canada.ca/fr/services/entreprises/recherche.html">Recherche et renseignements d’affaires</a></li>
					<li><a href="http://www.canada.ca/fr/services/entreprises/pi.html">Propriété intellectuelle</a></li>
					<li><a href="http://www.canada.ca/fr/services/entreprises/engager.html">Engager et gérer des employés</a></li>
					<li><a href="http://www.canada.ca/fr/services/entreprises/commerce.html">Commerce international</a></li>
					<li><a href="http://www.canada.ca/fr/services/entreprises/permis.html">Permis, licences et réglementation</a></li>
					<li><a href="http://www.canada.ca/fr/services/entreprises/faillites.html">Faillites</a></li>
					<li class="slflnk"><a href="http://www.canada.ca/fr/services/entreprises/index.html">Entreprise – Autres</a></li>
				</ul>
			</li>
			<li><a href="#prestations" class="item">Prestations</a>
				<ul class="sm list-unstyled" id="prestations" role="menu">
					<li><a href="http://www.canada.ca/fr/services/prestations/ae/index.html">Assurance-emploi</a></li>
					<li><a href="http://www.canada.ca/fr/services/prestations/famille.html">Prestations pour les familles</a></li>
					<li><a href="http://www.canada.ca/fr/services/prestations/retraite.html">Retraite et pensions publiques</a></li>
					<li><a href="http://www.canada.ca/fr/services/prestations/etudes/index.html">Études et formation</a></li>
					<li><a href="http://www.canada.ca/fr/services/prestations/logement.html">Prestations relatives au logement</a></li>
					<li><a href="http://www.canada.ca/fr/services/prestations/handicap/index.html">Prestations relatives aux personnes handicapées</a></li>
					<li class="slflnk"><a href="http://www.canada.ca/fr/services/prestations/index.html">Prestations - Autres</a></li>
				</ul>
			</li>
			<li><a href="#sante" class="item">Santé</a>
				<ul class="sm list-unstyled" id="sante" role="menu">
					<li><a href="http://canadiensensante.gc.ca/security-securite/index-fra.php">Risques, sécurité et urgences </a></li>
					<li><a href="http://canadiensensante.gc.ca/eating-nutrition/index-fra.php">Aliments et nutrition</a></li>
					<li><a href="http://canadiensensante.gc.ca/drugs-products-medicaments-produits/index-fra.php">Médicaments et produits de santé et de consommation</a></li>
					<li><a href="http://canadiensensante.gc.ca/diseases-conditions-maladies-affections/index-fra.php">Maladies et affections</a></li>
					<li><a href="http://canadiensensante.gc.ca/healthy-living-vie-saine/index-fra.php">Vie saine</a></li>
					<li><a href="http://canadiensensante.gc.ca/aboriginal-autochtones/index-fra.php">Santé des autochtones</a></li>
					<li><a href="http://canadiensensante.gc.ca/health-system-systeme-sante/index-fra.php">Système et services de santé</a></li>
					<li><a href="http://canadiensensante.gc.ca/science-research-sciences-recherches/index-fra.php">Science, recherche et données</a></li>
					<li><a href="http://canadiensensante.gc.ca/index-fra.php">Santé – Autres</a></li>
				</ul>
			</li>
			<li><a href="#impots" class="item">Impôts</a>
				<ul class="sm list-unstyled" id="impots" role="menu">
					<li><a href="http://www.canada.ca/fr/services/impots/particuliers/index.html">Particuliers et familles</a></li>
					<li><a href="http://www.canada.ca/fr/services/impots/entreprises/index.html">Entreprises</a></li>
					<li><a href="http://www.canada.ca/fr/services/impots/representants/index.html">Représentants et professionnels d'impôts</a></li>
					<li><a href="http://www.canada.ca/fr/services/impots/formulaires/index.html">Formulaires et publications</a></li>
					<li><a href="http://www.canada.ca/fr/services/impots/paie/index.html">Retenues sur la paie pour les entreprises</a></li>
					<li><a href="http://www.canada.ca/fr/services/impots/tpstvh/index.html">TPS / TVH pour les entreprises</a></li>
					<li><a href="http://www.canada.ca/fr/services/impots/tarif/index.html">Tarif des douanes</a></li>
					<li><a href="http://www.canada.ca/fr/services/impots/bienfaisance/index.html">Organismes de bienfaisance et dons</a></li>
					<li><a href="http://www.cra-arc.gc.ca/mkpymnt-fra.html">Faire un paiement</a></li>
					<li class="slflnk"><a href="http://www.canada.ca/fr/services/impots/index.html">Impôt - Autres</a></li>
				</ul>
			</li>
			<li><a href="#autres-services" class="item">Autres services</a>
				<ul class="sm list-unstyled" id="autres-services" role="menu">
					<li><a href="http://www.canada.ca/fr/services/environnement/index.html">Environnement et ressources naturelles</a></li>
					<li><a href="http://www.canada.ca/fr/services/defense/index.html">Défense et sécurité</a></li>
					<li><a href="http://www.canada.ca/fr/services/culture/index.html">Arts, culture et patrimoine</a></li>
					<li><a href="http://www.canada.ca/fr/services/securite/index.html">Sécurité publique</a></li>
					<li><a href="http://www.canada.ca/fr/services/transport/index.html">Transport et infrastructure</a></li>
					<li><a href="http://www.canada.ca/fr/services/monde/index.html">Le Canada et le monde</a></li>
					<li><a href="http://www.canada.ca/fr/services/finance/index.html">Argent et finances</a></li>
					<li><a href="http://www.canada.ca/fr/services/science/index.html">Science et innovation</a></li>
					<li class="slflnk"><a href="http://www.canada.ca/fr/services/index.html">Tous les services</a></li>
				</ul>
			</li>
		</ul>
	</div>
</div>
