<!-- secondary navigation if enabled -->
<div class="pnl-strt container nvbar">
	<h2 class="wb-inv">Site menu</h2>
	<div class="row">
		<ul class="list-inline menu" role="menubar">
			<li><a href="#jobs" class="item">Jobs</a>
				<ul class="sm list-unstyled" id="jobs" role="menu">
					<li><a href="http://www.canada.ca/en/services/jobs/find.html">Find a job</a></li>
					<li><a href="http://www.canada.ca/en/services/jobs/training/index.html">Training</a></li>
					<li><a href="http://www.canada.ca/en/services/jobs/pensions/index.html">Pensions &amp; retirement</a></li>
					<li><a href="http://www.canada.ca/en/services/jobs/workplace.html">Workplace standards</a></li>
					<li class="slflnk"><a href="http://www.canada.ca/en/services/jobs/index.html">Jobs - More</a></li>
				</ul>
			</li>
			<li><a href="#immigration" class="item">Immigration</a>
				<ul class="sm list-unstyled" id="immigration" role="menu">
					<li><a href="http://www.cic.gc.ca/english/immigrate/index.asp">Immigrate</a></li>
					<li><a href="http://www.cic.gc.ca/english/visit/index.asp">Visit</a></li>
					<li><a href="http://www.cic.gc.ca/english/work/index.asp">Work</a></li>
					<li><a href="http://www.cic.gc.ca/english/study/index.asp">Study</a></li>
					<li><a href="http://www.cic.gc.ca/english/citizenship/index.asp">Citizenship</a></li>
					<li><a href="http://www.cic.gc.ca/english/residents/new_immigrants.asp">New immigrants</a></li>
					<li><a href="http://www.cic.gc.ca/english/residents/canadians.asp">Canadians</a></li>
					<li><a href="http://www.cic.gc.ca/english/e-services/index.asp">My application</a></li>
					<li class="slflnk"><a href="http://www.cic.gc.ca/english/index.asp">Immigration - More</a></li>
				</ul>
			</li>
			<li><a href="#travel" class="item">Travel</a>
				<ul class="sm list-unstyled" id="travel" role="menu">
					<li><a href="http://travel.gc.ca/news-warnings">News &amp; warnings</a></li>
					<li><a href="http://travel.gc.ca/travelling">Travelling abroad</a></li>
					<li><a href="http://travel.gc.ca/returning">Returning to Canada</a></li>
					<li><a href="http://travel.gc.ca/assistance">Assistance</a></li>
					<li class="slflnk"><a href="http://travel.gc.ca/">Travel - More</a></li>
				</ul>
			</li>
			<li><a href="http://www.canada.ca/en/services/business/index.html" class="item">Business</a></li>
			<li><a href="#benefits" class="item">Benefits</a>
				<ul class="sm list-unstyled" id="benefits" role="menu">
					<li><a href="http://www.canada.ca/en/services/benefits/ei/index.html">Employment Insurance</a></li>
					<li><a href="http://www.canada.ca/en/services/benefits/family.html">Family benefits</a></li>
					<li><a href="http://www.canada.ca/en/services/benefits/retirement.html">Retirement &amp; public pensions</a></li>
					<li><a href="http://www.canada.ca/en/services/benefits/education/index.html">Education &amp; training</a></li>
					<li><a href="http://www.canada.ca/en/services/benefits/housing.html">Housing benefits</a></li>
					<li><a href="http://www.canada.ca/en/services/benefits/disability/index.html">Disability benefits</a></li>
					<li class="slflnk"><a href="http://www.canada.ca/en/services/benefits/index.html">Benefits - More</a></li>
				</ul>
			</li>
			<li><a href="#health" class="item">Health</a>
				<ul class="sm list-unstyled" id="health" role="menu">
					<li><a href="http://healthycanadians.gc.ca/index-eng.php">Be a healthy Canadian</a></li>
					<li><a href="http://healthycanadians.gc.ca/recall-alert-rappel-avis/index-eng.php">Recalls &amp; safety alerts</a></li>
					<li><a href="http://www.canada.ca/en/services/health/food.html">Food &amp; nutrition</a></li>
					<li><a href="http://www.canada.ca/en/services/health/drugs.html">Drugs &amp; natural health products</a></li>
					<li><a href="http://www.canada.ca/en/services/health/vaccines.html">Immunization &amp; vaccines</a></li>
					<li><a href="http://www.canada.ca/en/services/health/diseases.html">Diseases &amp; conditions</a></li>
					<li><a href="http://www.canada.ca/en/services/health/aboriginal.html">First Nations &amp; Inuit health</a></li>
					<li><a href="http://www.canada.ca/en/services/health/professionals.html">For health professionals</a></li>
					<li><a href="http://www.canada.ca/en/services/health/industries.html">For industry</a></li>
					<li class="slflnk"><a href="http://www.canada.ca/en/services/health/index.html">Health - More</a></li>
				</ul>
			</li>
			<li><a href="http://www.canada.ca/en/services/taxes/index.html" class="item">Taxes</a></li>
			<li><a href="#more-services" class="item">More services</a>
				<ul class="sm list-unstyled" id="more-services" role="menu">
					<li><a href="http://www.canada.ca/en/services/environment/index.html">Environment &amp; natural resources</a></li>
					<li><a href="http://www.canada.ca/en/services/defence/index.html">Defence &amp; security</a></li>
					<li><a href="http://www.canada.ca/en/services/culture/index.html">Arts, culture &amp; heritage</a></li>
					<li><a href="http://www.canada.ca/en/services/safety/index.html">Public safety</a></li>
					<li><a href="http://www.canada.ca/en/services/transport/index.html">Transport &amp; infrastructure</a></li>
					<li><a href="http://www.canada.ca/en/services/world/index.html">Canada &amp; the world</a></li>
					<li><a href="http://www.canada.ca/en/services/finance/index.html">Money &amp; finances</a></li>
					<li><a href="http://www.canada.ca/en/services/science/index.html">Science &amp; innovation</a></li>
					<li class="slflnk"><a href="http://www.canada.ca/en/services/index.html">All services</a></li>
				</ul>
			</li>
		</ul>
	</div>
</div>
