<!-- secondary navigation if enabled -->
<div class="pnl-strt container nvbar">
    <h2 class="wb-inv">Menu du site</h2>
    <div class="row">
        <ul class="list-inline menu" role="menubar">
            <li><a href="#jobs" class="item">Emplois</a>
                <ul class="sm list-unstyled" id="jobs" role="menu">
                    <li><a href="http://canada.ca/fr/services/emplois/trouver.html">Trouver un emploi</a></li>
                    <li><a href="http://canada.ca/fr/services/emplois/formation.html">Formation</a></li>
                    <li><a href="http://canada.ca/fr/services/emplois/pensions.html">Pension et retraite</a></li>
                    <li><a href="http://canada.ca/fr/services/emplois/travail.html">Normes en milieu de travail</a></li>
                    <li class="slflnk"><a href="http://canada.ca/fr/services/emplois/index.html">Davantage sur les emplois</a></li>
                </ul>
            </li>
            <li><a href="#immigration" class="item">Immigration</a>
                <ul class="sm list-unstyled" id="immigration" role="menu">
                    <li><a href="http://canada.ca/fr/services/citimm/immigrer.html">Immigrer</a></li>
                    <li><a href="http://canada.ca/fr/services/citimm/visiter.html">Visiter</a></li>
                    <li><a href="http://canada.ca/fr/services/citimm/travailler.html">Travailler</a></li>
                    <li><a href="http://canada.ca/fr/services/citimm/etudier.html">Étudier</a></li>
                    <li><a href="http://canada.ca/fr/services/citimm/citoyennete.html">Citoyenneté</a></li>
                    <li><a href="http://canada.ca/fr/services/citimm/nouveauximmigrants.html">Nouveaux immigrants</a></li>
                    <li><a href="http://canada.ca/fr/services/citimm/canadiens.html">Canadiens</a></li>
                    <li><a href="http://canada.ca/fr/services/citimm/demande.html">Ma demande</a></li>
                    <li class="slflnk"><a href="http://canada.ca/fr/services/citimm/index.html">Davantage sur l'immigration</a></li>
                </ul>
            </li>
            <li><a href="#travel" class="item">Voyage</a>
                <ul class="sm list-unstyled" id="travel" role="menu">
                    <li><a href="http://voyage.gc.ca/nouvelles-mises-en-garde">Nouvelles et mises en garde</a></li>
                    <li><a href="http://voyage.gc.ca/voyager">Voyager à l'étranger</a></li>
                    <li><a href="http://voyage.gc.ca/retour">Retour au Canada</a></li>
                    <li><a href="http://voyage.gc.ca/assistance">Assistance</a></li>
                    <li class="slflnk"><a href="http://voyage.gc.ca/">Davantage sur les voyages</a></li>
                </ul>
            </li>
            <li><a href="http://canada.ca/fr/services/entreprises/index.html" class="item">Entreprises</a></li>
            <li><a href="http://canada.ca/fr/services/prestations/index.html" class="item">Prestations</a></li>
            <li><a href="#health" class="item">Santé</a>
                <ul class="sm list-unstyled" id="health" role="menu">
                    <li><a href="http://canadiensensante.gc.ca/index-fra.php">Soyez un Canadiens en santé</a></li>
                    <li><a href="http://canadiensensante.gc.ca/recall-alert-rappel-avis/index-fra.php">Rappels et avis de sécurité</a></li>
                    <li><a href="http://canada.ca/fr/services/sante/alimentation.html">Aliments et nutrition</a></li>
                    <li><a href="http://canada.ca/fr/services/sante/medicaments.html">Médicaments et produits de santé naturels</a></li>
                    <li><a href="http://canada.ca/fr/services/sante/vaccins.html">Immunisation et vaccins</a></li>
                    <li><a href="http://canada.ca/fr/services/sante/maladies.html">Maladies et affections</a></li>
                    <li><a href="http://canada.ca/fr/services/sante/autochtones.html">Santé des Premières Nations et des Inuits</a></li>
                    <li><a href="http://canada.ca/fr/services/sante/professionnels.html">Pour les professionnels de la santé</a></li>
                    <li><a href="http://canada.ca/fr/services/sante/industrie.html">Pour l'industrie</a></li>
                    <li class="slflnk"><a href="http://canada.ca/fr/services/sante/index.html">Davantage sur la santé</a></li>
                </ul>
            </li>
            <li><a href="http://canada.ca/fr/services/impots/index.html" class="item">Impôts</a></li>
            <li><a href="#more-services" class="item">Autres services</a>
                <ul class="sm list-unstyled" id="more-services" role="menu">
                    <li><a href="http://canada.ca/fr/services/environnement/index.html">Environnement et ressources naturelles</a></li>
                    <li><a href="http://canada.ca/fr/services/defense/index.html">Défense et sécurité</a></li>
                    <li><a href="http://canada.ca/fr/services/culture/index.html">Arts, culture et patrimoine</a></li>
                    <li><a href="http://canada.ca/fr/services/securite/index.html">Sécurité publique</a></li>
                    <li><a href="http://canada.ca/fr/services/transport/index.html">Transport et infrastructure</a></li>
                    <li><a href="http://canada.ca/fr/services/monde/index.html">Le Canada et le monde</a></li>
                    <li><a href="http://canada.ca/fr/services/finance/index.html">Argent et finances</a></li>
                    <li><a href="http://canada.ca/fr/services/science/index.html">Science et innovation</a></li>
                    <li class="slflnk"><a href="http://canada.ca/fr/services/index.html">Tous les services</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
