<!-- secondary navigation if enabled -->
<div class="pnl-strt container nvbar">
	<h2 class="wb-inv">{{{i18n "tmpl-topics-menu"}}}</h2>
	<div class="row">
		<ul class="list-inline menu" role="menubar">
			<li><a href="#jobs" class="item">Jobs</a>
				<ul class="sm list-unstyled" id="jobs" role="menu">
					<li><a href="http://www.esdc.gc.ca/en/jobs/opportunities/index.page">Find a job</a></li>
					<li><a href="http://www.jobbank.gc.ca/occupation_search-eng.do">Career choices</a></li>
					<li><a href="http://www.esdc.gc.ca/en/jobs/training/index.page">Training</a></li>
					<li><a href="http://www.esdc.gc.ca/en/jobs/business_employers/index.page">For employers</a></li>
					<li><a href="http://www.esdc.gc.ca/en/jobs/self_employment/index.page">Self-employment</a></li>
					<li><a href="http://www.esdc.gc.ca/en/jobs/workplace/index.page">Workplace standards</a></li>
					<li><a href="http://www.esdc.gc.ca/en/jobs/pension/index.page">Pensions and retirement</a></li>
					<li><a href="http://www.esdc.gc.ca/en/jobs/ei/index.page">Employment Insurance</a></li>
					<li class="slflnk"><a href="http://www.esdc.gc.ca/en/jobs/index.page">Jobs – More</a></li>
				</ul>
			</li>
			<li><a href="#immigration" class="item">Immigration</a>
				<ul class="sm list-unstyled" id="immigration" role="menu">
					<li><a href="http://www.cic.gc.ca/english/e-services/index.asp">My application</a></li>
					<li><a href="http://www.cic.gc.ca/english/immigrate/index.asp">Immigrate</a></li>
					<li><a href="http://www.cic.gc.ca/english/visit/index.asp">Visit</a></li>
					<li><a href="http://www.cic.gc.ca/english/work/index.asp">Work</a></li>
					<li><a href="http://www.cic.gc.ca/english/study/index.asp">Study</a></li>
					<li><a href="http://www.cic.gc.ca/english/citizenship/index.asp">Citizenship</a></li>
					<li><a href="http://www.cic.gc.ca/english/residents/new_immigrants.asp">New immigrants</a></li>
					<li><a href="http://www.cic.gc.ca/english/residents/canadians.asp">Canadians</a></li>
					<li><a href="http://www.cic.gc.ca/english/refugees/index.asp">Refugees & asylum</a></li>
					<li><a href="http://www.cic.gc.ca/english/enforcement/index.asp">Enforcement & violations</a></li>
					<li class="slflnk"><a href="http://www.cic.gc.ca/english/index.asp">Immigration – More</a></li>
				</ul>
			</li>
			<li><a href="#travel" class="item">Travel</a>
				<ul class="sm list-unstyled" id="travel" role="menu">
					<li><a href="http://travel.gc.ca/news">Travel news</a></li>
					<li><a href="http://travel.gc.ca/travelling/advisories">Country travel advice & advisories</a></li>
					<li><a href="http://travel.gc.ca/canadian-tourism">Canadian attractions, events & experiences</a></li>
					<li><a href="http://travel.gc.ca/travelling/documents/passport">Canadian passports</a></li>
					<li><a href="http://travel.gc.ca/travelling">Travelling abroad</a></li>
					<li><a href="http://travel.gc.ca/returning">Returning to Canada</a></li>
					<li><a href="http://travel.gc.ca/assistance">Assistance abroad</a></li>
					<li><a href="http://travel.gc.ca/stay-connected">Stay connected</a></li>
					<li class="slflnk"><a href="http://travel.gc.ca">Travel - More</a></li>
				</ul>
			</li>
			<li><a href="#business" class="item">Business</a>
				<ul class="sm list-unstyled" id="business" role="menu">
					<li><a href="http://www.canada.ca/en/services/business/start/index.html">Starting a business</a></li>
					<li><a href="http://canadabusiness.ca/eng/page/2848/">Grants & financing</a></li>
					<li><a href="http://www.canada.ca/en/services/taxes/businesses/index.html">Business taxes</a></li>
					<li><a href="http://www.canada.ca/en/services/business/research.html">Research & business intelligence</a></li>
					<li><a href="http://www.canada.ca/en/services/business/ip.html">Intellectual property</a></li>
					<li><a href="http://www.canada.ca/en/services/business/hire.html">Hire & manage employees</a></li>
					<li><a href="http://www.canada.ca/en/services/business/trade.html">International trade</a></li>
					<li><a href="http://www.canada.ca/en/services/business/permits.html">Permits, licences & regulations</a></li>
					<li><a href="http://www.canada.ca/en/services/business/bankruptcy.html">Bankruptcy</a></li>
					<li class="slflnk"><a href="http://www.canada.ca/en/services/business/index.html">Business – More</a></li>
				</ul>
			</li>
			<li><a href="#benefits" class="item">Benefits</a>
				<ul class="sm list-unstyled" id="benefits" role="menu">
					<li><a href="http://www.canada.ca/en/services/benefits/ei/index.html">Employment Insurance</a></li>
					<li><a href="http://www.canada.ca/en/services/benefits/family.html">Family benefits</a></li>
					<li><a href="http://www.canada.ca/en/services/benefits/retirement.html">Retirement & public pensions</a></li>
					<li><a href="http://www.canada.ca/en/services/benefits/education/index.html">Education & training</a></li>
					<li><a href="http://www.canada.ca/en/services/benefits/housing.html">Housing benefits</a></li>
					<li><a href="http://www.canada.ca/en/services/benefits/disability/index.html">Disability benefits</a></li>
					<li class="slflnk"><a href="http://www.canada.ca/en/services/benefits/index.html">Benefits - More</a></li>
				</ul>
			</li>
			<li><a href="#health" class="item">Health</a>
				<ul class="sm list-unstyled" id="health" role="menu">
					<li><a href="http://healthycanadians.gc.ca/security-securite/index-eng.php">Risks, safety & emergencies </a></li>
					<li><a href="http://healthycanadians.gc.ca/eating-nutrition/index-eng.php">Food & nutrition</a></li>
					<li><a href="http://healthycanadians.gc.ca/drugs-products-medicaments-produits/index-eng.php">Drugs, health & consumer products</a></li>
					<li><a href="http://healthycanadians.gc.ca/diseases-conditions-maladies-affections/index-eng.php">Diseases & conditions</a></li>
					<li><a href="http://healthycanadians.gc.ca/healthy-living-vie-saine/index-eng.php">Healthy living</a></li>
					<li><a href="http://healthycanadians.gc.ca/aboriginal-autochtones/index-eng.php">Aboriginal health</a></li>
					<li><a href="http://healthycanadians.gc.ca/health-system-systeme-sante/index-eng.php">Health system & services</a></li>
					<li><a href="http://healthycanadians.gc.ca/science-research-sciences-recherches/index-eng.php">Science, research & data</a></li>
					<li class="slflnk"><a href="http://healthycanadians.gc.ca/index-eng.php">Health – More</a></li>
				</ul>
			</li>
			<li><a href="#taxes" class="item">Taxes</a>
				<ul class="sm list-unstyled" id="taxes" role="menu">
					<li><a href="http://www.canada.ca/en/services/taxes/individuals/index.html">Individuals & families</a></li>
					<li><a href="http://www.canada.ca/en/services/taxes/businesses/index.html">Businesses</a></li>
					<li><a href="http://www.canada.ca/en/services/taxes/representatives/index.html">Representatives & tax professionals</a></li>
					<li><a href="http://www.canada.ca/en/services/taxes/forms/index.html">Forms & publications</a></li>
					<li><a href="http://www.canada.ca/en/services/taxes/payroll/index.html">Payroll for businesses</a></li>
					<li><a href="http://www.canada.ca/en/services/taxes/gsthst/index.html">GST/HST for businesses</a></li>
					<li><a href="http://www.canada.ca/en/services/taxes/tariff/index.html">Customs tariff</a></li>
					<li><a href="http://www.canada.ca/en/services/taxes/charities/index.html">Charities & giving</a></li>
					<li><a href="http://www.cra-arc.gc.ca/mkpymnt-eng.html">Make a payment</a></li>
					<li class="slflnk"><a href="http://www.canada.ca/en/services/taxes/index.html">Taxes - More</a></li>
				</ul>
			</li>
			<li><a href="#more-services" class="item">More services</a>
				<ul class="sm list-unstyled" id="more-services" role="menu">
					<li><a href="http://www.canada.ca/en/services/environment/index.html">Environment & natural resources</a></li>
					<li><a href="http://www.canada.ca/en/services/defence/index.html">Defence & security</a></li>
					<li><a href="http://www.canada.ca/en/services/culture/index.html">Arts, culture & heritage</a></li>
					<li><a href="http://www.canada.ca/en/services/safety/index.html">Public safety</a></li>
					<li><a href="http://www.canada.ca/en/services/transport/index.html">Transport & infrastructure</a></li>
					<li><a href="http://www.canada.ca/en/services/world/index.html">Canada & the world</a></li>
					<li><a href="http://www.canada.ca/en/services/finance/index.html">Money & finances</a></li>
					<li><a href="http://www.canada.ca/en/services/science/index.html">Science & innovation</a></li>
					<li class="slflnk"><a href="http://www.canada.ca/en/services/index.html">All services</a></li>
				</ul>
			</li>
		</ul>
	</div>
</div>
