<h2 class="wb-invisible">{{#i18n "%tmpl-site-menu"}}{{/i18n}}</h2>
<div class="container text-center">
	<div class="row">
		<ul class="list-inline wb-menu">
			<li><a href="#service">{{#i18n "%cont-service"}}{{/i18n}}</a></li>
			<li><a href="#dept">{{#i18n "%cont-dept"}}{{/i18n}}</a></li>
			<li><a href="#news">{{#i18n "%cont-news"}}{{/i18n}}</a></li>
			<li><a href="#canada">{{#i18n "%cont-canada"}}{{/i18n}}</a></li>
			<li><a href="#pub">{{#i18n "%cont-pub"}}{{/i18n}}</a></li>
		</ul>
	</div>
</div>

<section  class="menu-item" id="service">
		<h3 class="wb-invisible">{{#i18n "%cont-service"}}{{/i18n}}</h3>
		<div class="container text-center">
			<ul>
				<li><a href="#">{{#i18n "%menu-service-1"}}{{/i18n}}</a></li>
				<li><a href="#">{{#i18n "%menu-service-2"}}{{/i18n}}</a></li>
				<li><a href="#">{{#i18n "%menu-service-3"}}{{/i18n}}</a></li>
				<li><a href="#">{{#i18n "%menu-service-4"}}{{/i18n}}</a></li>
				<li><a href="#">{{#i18n "%menu-serivce-5"}}{{/i18n}}</a></li>
				<li><a href="#">{{#i18n "%menu-service-6"}}{{/i18n}}</a></li>
				<li><a href="#">{{#i18n "%menu-service-7"}}{{/i18n}}</a></li>
				<li><a href="#">{{#i18n "%menu-service-8"}}{{/i18n}}</a></li>
				<li><a href="#">{{#i18n "%menu-serivce-9"}}{{/i18n}}</a></li>
			</ul>
		</div>
</section>
<section class="menu-item" id="dept">
	<h3 class="wb-invisible">{{#i18n "%cont-service"}}{{/i18n}}</h3>
	<div class="container text-center">
		<ul>
			<li><a href="#">{{#i18n "%menu-dept-1"}}{{/i18n}}</a></li>
			<li><a href="#">{{#i18n "%menu-dept-2"}}{{/i18n}}</a></li>
			<li><a href="#">{{#i18n "%menu-dept-3"}}{{/i18n}}</a></li>
			<li><a href="#">{{#i18n "%menu-dept-4"}}{{/i18n}}</a></li>
			<li><a href="#">{{#i18n "%menu-dept-5"}}{{/i18n}}</a></li>
		</ul>
	</div>
</section>

<section class="menu-item" id="news">
	<h3 class="wb-invisible">{{#i18n "%cont-news"}}{{/i18n}}</h3>
	<div class="container text-center">
		<ul>
			<li><a href="#">{{#i18n "%menu-news-1"}}{{/i18n}}</a></li>
			<li><a href="#">{{#i18n "%menu-news-2"}}{{/i18n}}</a></li>
			<li><a href="#">{{#i18n "%menu-news-3"}}{{/i18n}}</a></li>
			<li><a href="#">{{#i18n "%menu-news-4"}}{{/i18n}}</a></li>
		</ul>
	</div>
</section>

<section class="menu-item" id="canada">
	<h3 class="wb-invisible">{{#i18n "%cont-canada"}}{{/i18n}}</h3>
	<div class="container text-center">
		<ul>
			<li><a href="#">{{#i18n "%menu-canada-1"}}{{/i18n}}</a></li>
			<li><a href="#">{{#i18n "%menu-canada-2"}}{{/i18n}}</a></li>
			<li><a href="#">{{#i18n "%menu-canada-3"}}{{/i18n}}</a></li>
			<li><a href="#">{{#i18n "%menu-canada-4"}}{{/i18n}}</a></li>
			<li><a href="#">{{#i18n "%menu-canada-5"}}{{/i18n}}</a></li>
			<li><a href="#">{{#i18n "%menu-canada-6"}}{{/i18n}}</a></li>
			<li><a href="#">{{#i18n "%menu-canada-7"}}{{/i18n}}</a></li>
		</ul>
	</div>
</section>

<section class="menu-item" id="pub">
	<h3 class="wb-invisible">{{#i18n "%cont-pub"}}{{/i18n}}</h3>
	<div class="container text-center">
		<ul>
			<li><a href="#">{{#i18n "%menu-pub-1"}}{{/i18n}}</a></li>
			<li><a href="#">{{#i18n "%menu-pub-2"}}{{/i18n}}</a></li>
			<li><a href="#">{{#i18n "%menu-pub-3"}}{{/i18n}}</a></li>
		</ul>
	</div>
</section>
