<div class="row">
	<div class="col-md-12">
		<ul class="list-inline margin-bottom-none">
			{{#if isEnglish}}
				<li><a lang="fr" href="#">Français</a></li>
			{{else}}
				<li><a lang="en" href="#">English</a></li>
			{{/if}}
		</ul>
	</div>
</div>
