<section class="gc-mnstr-prtfl">
	<h2>{{#is page.language "en"}}Portfolio ministers{{else}}Ministres du portefeuille{{/is}}</h2>

<p>{{#is page.language "en"}}
Provides access to the profiles of all portfolio ministers under the institution’s portfolio
{{else}}
Donne accès à un profil de plus grande visibilité des ministres détenant un portefeuille au sein de l’institution
{{/is}}</p>
	<div class="row wb-eqht">
		<div class="col-md-3 col-sm-6">
			{{>corp-info-figure}}
		</div>
		<div class="col-md-3 col-sm-6">
			{{>corp-info-figure}}
		</div>
		<div class="col-md-3 col-sm-6">
			{{>corp-info-figure}}
		</div>
		<div class="col-md-3 col-sm-6">
			{{>corp-info-figure}}
		</div>
	</div>
</section>
