<ul class="list-inline text-right chvrn">
	<li><a href="#mb-pnl" title="{{{i18n "srch-menus"}}}" aria-controls="mb-pnl" class="overlay-lnk" role="button"><span class="glyphicon glyphicon-th-list"><span class="wb-inv">{{{i18n "srch-menus"}}}</span></span></a></li>
</ul>
<div id="mb-pnl"></div>
