<section class="wb-mb-links col-xs-6 visible-sm visible-xs" id="wb-glb-mn" >
	<ul class="list-inline text-right">
		<li><a href="#wb-sm" title="Menu" class="wb-target"><span class="glyphicon glyphicon-th-list"><i class="wb-invisible">Menu</i></span></a></li>
		<li class="wb-target"><a href="#wb-srch" title="{{#i18n "%tmpl-search"}}{{/i18n}}"><span class="glyphicon glyphicon-search"><i class="wb-invisible">{{#i18n "%tmpl-search"}}{{/i18n}}</i></span></a></li>
	</ul>
</section>
