<div class="well">
	<h2 class="mrgn-tp-0">{{#is page.language "fr"}}Autres renseignements pour{{else}}More information for{{/is}}</h2>
	<ul class="lst-spcd">
		<li><a href="#">{{#is page.language "fr"}}[Lien à un sujet pour un auditoire ciblé]{{else}}[Audience hyperlink text]{{/is}}</a></li>
		<li><a href="#">{{#is page.language "fr"}}[Lien à un sujet pour un auditoire ciblé]{{else}}[Audience hyperlink text]{{/is}}</a></li>
		<li><a href="#">{{#is page.language "fr"}}[Lien à un sujet pour un auditoire ciblé]{{else}}[Audience hyperlink text]{{/is}}</a></li>
	</ul>
</div>
