<section class="lnkbx">
	<h2>{{#is page.language "fr"}}Autres renseignements pour les{{else}}More information for{{/is}}</h2>
	<ul>
		<li><a href="#">{{#is page.language "fr"}}[Lien à un sujet pour un auditoire ciblé]{{else}}[Audience hyperlink text]{{/is}}</a></li>
		<li><a href="#">{{#is page.language "fr"}}[Lien à un sujet pour un auditoire ciblé]{{else}}[Audience hyperlink text]{{/is}}</a></li>
		<li><a href="#">{{#is page.language "fr"}}[Lien à un sujet pour un auditoire ciblé]{{else}}[Audience hyperlink text]{{/is}}</a></li>
	</ul>
</section>
