<aside class="jumbotron pagebrand promo-one visible-md visible-lg">
		<div class="container">
		<div class="row">
			<figure class="col-md-12">
				<img src="img/promos/one.jpg" alt="">
				<figcaption>
				<h2 class="h3">Banff National Park</h2>
		    	<p><a href="#" class="learnmore">Learn More...</a></p>
		    	</figcaption>
			</figure>
		</div>
	   </div>
</aside>
