<aside class="jumbotron pagebrand promo-one wb-tabs tabs-s2 stopped" data-speed="slow">
        <ul role="tablist">
                <li class="active"><a href="#tab7">Tab 1</a></li>
                <li><a href="#tab8">Tab 2</a></li>
                <li><a href="#tab9">Tab 3</a></li>
        </ul>
        <section role="tabpanel" id="tab7" class="in fade">
			<figure class="col-md-12">
				<img src="{{assets}}/img/promos/one.jpg" alt="">
				<figcaption>
					<h2 class="h3">Banff National Park</h2>
					<p><a href="#" class="learnmore">Learn More...</a></p>
		    	</figcaption>
			</figure>
        </section>
        <section role="tabpanel" id="tab8" class="out fade">
			<figure class="col-md-12">
				<img src="{{assets}}/img/promos/two.jpg" alt="">
				<figcaption>
					<h2 class="h3">Banff National Park</h2>
					<p><a href="#" class="learnmore">Learn More...</a></p>
		    	</figcaption>
			</figure>
        </section>
        <section role="tabpanel" id="tab9" class="out fade">
			<figure class="col-md-12">
				<img src="{{assets}}/img/promos/three.jpg" alt="">
				<figcaption>
					<h2 class="h3">Banff National Park</h2>
					<p><a href="#" class="learnmore">Learn More...</a></p>
		    	</figcaption>
			</figure>
        </section>
</aside>