<aside class="jumbotron sub-promo visible-md visible-lg">
	<div class="container">
		<div class="row">
			<h2 class="wb-inv">{{{i18n "tmpl-promo-title"}}}</h2>
			<figure class="col-md-12">
				<img src="{{assets}}/img/promos/subpromo.jpg" alt="" />
				<figcaption class="col-md-3 col-md-offset-1 margin-top-medium">
					<h2 class="h3">Living in Canada</h2>
					<p class="subtext">Find information and services to help you adjust to life in Canada</p>
					<p>
						<a href="#" class="btn btn-primary margin-top-large">Get Started</a>
					</p>
				</figcaption>
			</figure>
		</div>
	</div>
</aside>
