<h3>Publications</h3>
<ul class="mrgn-bttm-lg lst-spcd">
	<li><a href="#">[Publication 1]</a></li>
	<li><a href="#">[Publication 2 {{#is page.language "fr"}}avec un long titre{{else}}with a long heading{{/is}}]</a></li>
	<li><a href="#">[Publication 3]</a></li>
	<li><a href="#">[Publication 4]</a></li>
</ul>
<p class="text-right"><strong><a href="#">{{#is page.language "fr"}}Toutes les publications connexes{{else}}All related publications{{/is}}</a></strong></p>
