<section class="lnkbx">
	<h2>
	{{#is page.language "fr"}}
	Services connexes
	{{else}}
	Related services
	{{/is}}
	</h2>
	<ul>
		<li><a href="#">{{#is page.language "fr"}}[Tâche connexe - nom de l’institution]{{else}}[Related task - institution name]{{/is}}</a></li>
		<li><a href="#">{{#is page.language "fr"}}[Tâche connexe - nom de l’institution]{{else}}[Related task - institution name]{{/is}}</a></li>
		<li><a href="#">{{#is page.language "fr"}}[Tâche connexe - nom de l’institution]{{else}}[Related task - institution name]{{/is}}</a></li>
	</ul>
</section>
