<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<aside class="well site-related">
			  <h2>Sujets liés à l'emploi</h2>
			  <ul class="list-unstyled colcount-md-4 colcount-sm-2 colcount-xs-1">
					<li><a href="http://www.canada.ca/fr/services/emplois/formation.html">Formation</a></li>
					<li><a href="http://www.canada.ca/fr/services/emplois/pensions.html">Pension et retraite</a></li>
					<li><a href="http://www.canada.ca/fr/services/emplois/travail.html">Normes en milieu de travail</a></li>
			  </ul>
			</aside>
		</div>
	</div>
</div>
