<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<aside class="well site-related">
			  <h2>Related job topics</h2>
			  <ul class="list-unstyled colcount-md-4 colcount-sm-2 colcount-xs-1">
					<li><a href="http://www.canada.ca/en/services/jobs/training.html">Training</a></li>
					<li><a href="http://www.canada.ca/en/services/jobs/pensions.html">Pensions &amp; retirement</a></li>
					<li><a href="http://www.canada.ca/en/services/jobs/workplace.html">Workplace standards</a></li>
			  </ul>
			</aside>
		</div>
	</div>
</div>
