<ul class="list-group menu list-unstyled">
	<li>
		<h3><a class="wb-navcurr">{{title}}</a></h3>
		<ul class="list-group menu list-unstyled">
			<li><a class="list-group-item" href="http://www.canada.ca/en/services/jobs/find.html">Find a job</a></li>
			<li><a class="list-group-item" href="http://www.canada.ca/en/services/jobs/training.html">Training</a></li>
			<li><a class="list-group-item" href="http://www.canada.ca/en/services/jobs/pensions.html">Pensions &amp; retirement</a></li>
			<li><a class="list-group-item" href="http://www.canada.ca/en/services/jobs/workplace.html">Workplace standards</a></li>
		</ul>
	</li>
</ul>
