<ul class="list-group menu list-unstyled">
	<li>
		<h3 class="wb-navcurr">{{{title}}}</h3>
		<ul class="list-group menu list-unstyled">
			<li><a class="list-group-item" href="#">Lien 1</a></li>
			<li><a class="list-group-item" href="#">Lien 2</a></li>
			<li><a class="list-group-item" href="#">Lien 3</a></li>
			<li><a class="list-group-item" href="#">Lien 4</a></li>
		</ul>
	</li>
</ul>
