<ul class="list-group menu list-unstyled">
	<li>
		<h3><a class="wb-navcurr">{{title}}</a></h3>
		<ul class="list-group menu list-unstyled">
			<li><a class="list-group-item" href="http://www.canada.ca/fr/services/emplois/trouver.html">Trouver un emploi</a></li>
			<li><a class="list-group-item" href="http://www.canada.ca/fr/services/emplois/formation.html">Formation</a></li>
			<li><a class="list-group-item" href="http://www.canada.ca/fr/services/emplois/pensions.html">Pension et retraite</a></li>
			<li><a class="list-group-item" href="http://www.canada.ca/fr/services/emplois/travail.html">Normes en milieu de travail</a></li>
		</ul>
	</li>
</ul>
