<ul class="list-group menu list-unstyled">
	<li><a class="list-group-item" href="http://canada.ca/en/jobs/index.html">Jobs</a></li>
	<li><a class="list-group-item" href="http://canada.ca/en/citimm/index.html">Immigration</a></li>
	<li><a class="list-group-item" href="http://travel.gc.ca/">Travel</a></li>
	<li><a class="list-group-item" href="http://canada.ca/en/business/index.html">Business</a></li>
	<li><a class="list-group-item" href="http://canada.ca/en/benefits/index.html">Benefits</a></li>
	<li><a class="list-group-item" href="http://canada.ca/en/health/index.html">Health</a></li>
	<li><a class="list-group-item" href="http://canada.ca/en/taxes/index.html">Taxes</a></li>
	<li><a class="list-group-item" href="http://canada.ca/en/services/index.html">More services</a></li>
</ul>
