<ul class="list-group menu list-unstyled">
	<li>
		<h3 class="wb-navcurr">{{{title}}}</h3>
		<ul class="list-group menu list-unstyled">
			<li><a class="list-group-item" href="#">Link 1</a></li>
			<li><a class="list-group-item" href="#">Link 2</a></li>
			<li><a class="list-group-item" href="#">Link 3</a></li>
			<li><a class="list-group-item" href="#">Link 4</a></li>
		</ul>
	</li>
</ul>
