<ul class="list-group menu list-unstyled" role="menu">
	<li><a class="list-group-item item" href="#jbs">Jobs</a>
		<ul class="list-group list-unstyled" role="menu" id="jbs">
			<li><a class="list-group-item" href="http://canada.ca/en/jobs/find.html">Find a job</a></li>
			<li><a class="list-group-item" href="http://canada.ca/en/jobs/training.html">Training</a></li>
			<li><a class="list-group-item" href="http://canada.ca/en/jobs/pensions.html">Pensions &amp; retirement</a></li>
			<li><a class="list-group-item" href="http://canada.ca/en/jobs/workplace.html">Workplace standards</a></li>
			<li><a class="list-group-item" href="http://canada.ca/en/jobs/index.html">More on Jobs</a></li>
		</ul>
	</li>
	<li><a class="list-group-item" href="http://canada.ca/en/citimm/index.html">Immigration</a></li>
	<li><a class="list-group-item" href="http://travel.gc.ca/">Travel</a></li>
	<li><a class="list-group-item" href="http://canada.ca/en/business/index.html">Business</a></li>
	<li><a class="list-group-item" href="http://canada.ca/en/benefits/index.html">Benefits</a></li>
	<li><a class="list-group-item" href="http://canada.ca/en/health/index.html">Health</a></li>
	<li><a class="list-group-item" href="http://canada.ca/en/taxes/index.html">Taxes</a></li>
	<li><a class="list-group-item" href="http://canada.ca/en/services/index.html">More services</a></li>
</ul>
