<ul class="list-group menu list-unstyled">
	<li><a class="list-group-item" href="http://canada.ca/fr/emplois/index.html">Emplois</a></li>
	<li><a class="list-group-item" href="http://canada.ca/fr/citimm/index.html">Immigration</a></li>
	<li><a class="list-group-item" href="http://voyage.gc.ca/">Voyage</a></li>
	<li><a class="list-group-item" href="http://canada.ca/fr/entreprises/index.html">Entreprises</a></li>
	<li><a class="list-group-item" href="http://canada.ca/fr/prestations/index.html">Prestations</a></li>
	<li><a class="list-group-item" href="http://canada.ca/fr/sante/index.html">Santé</a></li>
	<li><a class="list-group-item" href="http://canada.ca/fr/impots/index.html">Impôts</a></li>
	<li><a class="list-group-item" href="http://canada.ca/fr/services/index.html">Autres services</a></li>
</ul>
