<ul class="list-group menu list-unstyled">
	<li><a class="list-group-item">Emplois</a>
		<ul class="list-group list-unstyled" id="jbs">
			<li><a class="list-group-item" href="http://canada.ca/fr/emplois/trouver.html">Trouver un emploi</a></li>
			<li><a class="list-group-item" href="http://canada.ca/fr/emplois/formation.html">Formation</a></li>
			<li><a class="list-group-item" href="http://canada.ca/fr/emplois/pensions.html">Pension et retraite</a></li>
			<li><a class="list-group-item" href="http://canada.ca/fr/emplois/travail.html">Normes du milieu de travail</a></li>
			<li><a class="list-group-item" href="http://canada.ca/fr/emplois/index.html">Emplois{{#i18n "%hyphen"}}{{/i18n}}{{#i18n "%tmpl-more"}}{{/i18n}}</a></li>
		</ul>
	</li>
	<li><a class="list-group-item" href="http://canada.ca/fr/citimm/index.html">Immigration</a></li>
	<li><a class="list-group-item" href="http://voyage.gc.ca/">Voyage</a></li>
	<li><a class="list-group-item" href="http://canada.ca/fr/entreprises/index.html">Entreprises</a></li>
	<li><a class="list-group-item" href="http://canada.ca/fr/prestations/index.html">Prestations</a></li>
	<li><a class="list-group-item" href="http://canada.ca/fr/sante/index.html">Santé</a></li>
	<li><a class="list-group-item" href="http://canada.ca/fr/impots/index.html">Impôts</a></li>
	<li><a class="list-group-item" href="http://canada.ca/fr/services/index.html">Autres services</a></li>
</ul>
