<div class="container nvbar">
    <div class="row">
        <ul class="list-inline menu">
            <li><a href="http://www.edsc.gc.ca/fr/emplois/index.page">Emplois</a></li>
            <li><a href="http://www.cic.gc.ca/francais/index.asp">Immigration</a></li>
            <li><a href="http://voyage.gc.ca/">Voyage</a></li>
            <li><a href="http://www.canada.ca/fr/services/entreprises/index.html">Entreprises</a></li>
            <li><a href="http://www.canada.ca/fr/services/prestations/index.html">Prestations</a></li>
            <li><a href="http://canadiensensante.gc.ca/index-fra.php">Santé</a></li>
            <li><a href="http://www.canada.ca/fr/services/impots/index.html">Impôts</a></li>
            <li><a href="http://www.canada.ca/fr/services/index.html">Autres services</a></li>
        </ul>
    </div>
</div>
