<div class="container text-center visible-md visible-lg nvbar">
    <div class="row">
        <ul class="list-inline menu">
            <li><a href="#deeplinking">{{#i18n "%cont-service"}}{{/i18n}}</a></li>
            <li><a href="#deeplinking">{{#i18n "%cont-dept"}}{{/i18n}}</a></li>
            <li><a href="#deeplinking">{{#i18n "%cont-news"}}{{/i18n}}</a></li>
            <li><a href="#deeplinking">{{#i18n "%cont-canada"}}{{/i18n}}</a></li>
            <li><a href="#deeplinking">{{#i18n "%cont-pub"}}{{/i18n}}</a></li>
        </ul>
    </div>
</div>
