<div class="container text-center">
	<ul class="list-inline mb-menu" data-ajax-replace="{{assets}}/ajax/menu-{{language}}.txt">
		<li><a href="#">{{#i18n "%cont-service"}}{{/i18n}}</a></li>
		<li><a href="#">{{#i18n "%cont-dept"}}{{/i18n}}</a></li>
		<li><a href="#">{{#i18n "%cont-news"}}{{/i18n}}</a></li>
		<li><a href="#">{{#i18n "%cont-canada"}}{{/i18n}}</a></li>
		<li><a href="#">{{#i18n "%cont-pub"}}{{/i18n}}</a></li>
	</ul>
</div>
