<!-- Nav id that was used before <nav id="wb-sm" > -->
<nav class="gcweb-v2" typeof="SiteNavigationElement">
	<div class="container">
		<h2 class="wb-inv">Menu</h2>
		<button type="button" aria-haspopup="menu" aria-controls="gc-mnu" aria-expanded="false"><span class="wb-inv">Main </span>Menu <span class="expicon glyphicon glyphicon-chevron-down"></span></button>

		<ul id="gc-mnu" role="menu" aria-orientation="vertical">
			<li role="none presentation">
				<a role="menuitem" aria-haspopup="menu" aria-controls="gc-mnu-itm1" aria-expanded="false" href="#">Jobs and the workplace</a>

				<!-- The following block is invisible -->
				<ul id="gc-mnu-itm1" role="menu" aria-orientation="vertical">
					<li role="none presentation">
						<a role="menuitem" href="https://www.canada.ca/en/services/jobs.html">Jobs and the workplace</a>
					</li>

					<li role="separator"></li>

					<li role="none presentation"><a role="menuitem" href="https://www.canada.ca/en/services/jobs/opportunities.html">Find a job</a></li>
					<li role="none presentation"><a role="menuitem" href="https://www.canada.ca/en/services/jobs/training.html">Training</a></li>
					<li role="none presentation"><a role="menuitem" href="https://gc-proto.github.io/design-refresh/tests/cleanup4/services/business/hire.html">Hire and manage employees</a></li>
					<li role="none presentation"><a role="menuitem" href="https://gc-proto.github.io/design-refresh/tests/cleanup4/services/business/start.html">Starting a business</a></li>
					<li role="none presentation"><a role="menuitem" href="https://www.canada.ca/en/services/jobs/workplace.html">Workplace standards</a></li>
					<li role="none presentation"><a role="menuitem" href="https://www.canada.ca/en/services/finance/pensions.html">Pensions and retirement</a></li>
					<li role="none presentation"><a role="menuitem" href="https://www.canada.ca/en/services/benefits/ei.html">Employment Insurance and leave</a></li>
					<li role="none presentation"><a role="menuitem" href="https://www.canada.ca/en/services/jobs.html">Education</a></li>

					<!-- Invisible vertical marker -->
					<li role="separator" aria-orientation="vertical"></li> <!-- Orientation must be horizontal in mobile -->

					<li role="none presentation">
						<!-- Add tabindex=-1 for tablet and desktop mode -->
						<a tabindex="-1" href="#" role="menuitem" aria-haspopup="menu" aria-controls="gc-mnu-itm1-m" aria-expanded="true">Most requested</a>
						<ul id="gc-mnu-itm1-m" role="menu" aria-orientation="vertical"> <!-- Menu is default  aria-orientation="vertical", but in WAI-ARIA 1.0 the default is horizontal, so it may impact -->
							<li role="none presentation"><a role="menuitem" href="https://www.canada.ca/en/services/benefits/ei/ei-apply-online.html">Apply for Employment Insurance</a></li>
							<li role="none presentation"><a role="menuitem" href="https://www.canada.ca/en/services/benefits/ei/ei-internet-reporting.html">Submit EI report</a></li>
							<li role="none presentation"><a role="menuitem" href="https://www.canada.ca/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/eligibility/federal-skilled-workers.html">Federal Skilled Workers Program eligibility</a></li>
							<li role="none presentation"><a role="menuitem" href="https://www.canada.ca/en/immigration-refugees-citizenship/services/work-canada/hire-foreign-worker/temporary.html">Hire Temporary Foreign Workers</a></li>
							<li role="none presentation"><a role="menuitem" href="https://www.canada.ca/en/services/benefits/publicpensions/cpp/old-age-security.html">Information about CPP and OAS</a></li>
							<li role="none presentation"><a role="menuitem" href="https://www.canada.ca/en/public-service-commission/jobs/services/recruitment/students/federal-student-work-program.html">Federal Student Work Experience Program (FSWEP)</a></li>
						</ul>
					</li>
				</ul>
				<!-- END visible block -->
			</li>


			<li role="none presentation">
				<a role="menuitem" aria-haspopup="menu" aria-controls="gc-mnu-itm2" aria-expanded="false" href="#">Immigration and citizenship</a>

				<ul id="gc-mnu-itm2" role="menu" aria-orientation="vertical">
					<li role="none presentation">
						<a role="menuitem" href="https://www.canada.ca/en/services/immigration-citizenship.html">Immigration<span class="hidden-desktop"> and citizenship</span><span class="visible-mobile">: home</span></a>
					</li>

					<li role="separator"></li>

					<li role="none presentation"><a role="menuitem" href="https://www.canada.ca/en/immigration-refugees-citizenship/services/application.html">My application</a></li>
					<li role="none presentation"><a role="menuitem" href="https://www.canada.ca/en/immigration-refugees-citizenship/services/visit-canada.html">Visit</a></li>
					<li role="none presentation"><a role="menuitem" href="https://www.canada.ca/en/immigration-refugees-citizenship/services/immigrate-canada.html">Immigrate</a></li>
					<li role="none presentation"><a role="menuitem" href="http://www.cic.gc.ca/english/work/index.asp">Work</a></li>
					<li role="none presentation"><a role="menuitem" href="http://www.cic.gc.ca/english/study/index.asp">Study</a></li>
					<li role="none presentation"><a role="menuitem" href="http://www.cic.gc.ca/english/citizenship/index.asp">Citizenship</a></li>
					<li role="none presentation"><a role="menuitem" href="http://www.cic.gc.ca/english/residents/new_immigrants.asp">New immigrants</a></li>
					<li role="none presentation"><a role="menuitem" href="https://gc-proto.github.io/design-refresh/tests/cleanup4/travel/passports.html">Canadians</a></li>
					<li role="none presentation"><a role="menuitem" href="http://www.cic.gc.ca/english/refugees/index.asp">Refugees and asylum</a></li>
					<li role="none presentation"><a role="menuitem" href="http://www.cic.gc.ca/english/enforcement/index.asp">Enforcement and violations</a></li>

					<li role="separator" aria-orientation="vertical"></li> <!-- Orientation must be horizontal in mobile -->

					<li role="none presentation">
						<!-- Add tabindex=-1 for tablet and desktop mode -->
						<a tabindex="-1" href="#" role="menuitem" aria-haspopup="menu" aria-controls="gc-mnu-itm2-m" aria-expanded="true">Most requested</a>
						<ul id="gc-mnu-itm2-m" role="menu" aria-orientation="vertical"> <!-- Menu is default  aria-orientation="vertical", but in WAI-ARIA 1.0 the default is horizontal, so it may impact -->

							<li role="none presentation"><a role="menuitem" href="https://www.canada.ca/en/immigration-refugees-citizenship/services/application/account.html">Sign in or create an account to apply online</a></li>
							<li role="none presentation"><a role="menuitem" href="https://www.canada.ca/en/immigration-refugees-citizenship/services/application/check-status.html">Check your application status</a></li>
							<li role="none presentation"><a role="menuitem" href="https://www.canada.ca/en/immigration-refugees-citizenship/services/application/check-processing-times.html">Check application processing times</a></li>
							<li role="none presentation"><a role="menuitem" href="http://www.cic.gc.ca/english/helpcentre/index-featured-can.asp?_ga=2.223348956.618486753.1536582544-47044295.1531227039">Get answers to your questions</a></li>
							<li role="none presentation"><a role="menuitem" href="https://www.canada.ca/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry.html">Immigrate as a skilled worker through Express Entry</a></li>
							<li role="none presentation"><a role="menuitem" href="http://www.cic.gc.ca/english/visit/visas.asp?_ga=2.60907627.618486753.1536582544-47044295.1531227039">Find out if you need an eTA or a visa to visit Canada</a></li>
							<li role="none presentation"><a role="menuitem" href="https://www.canada.ca/en/immigration-refugees-citizenship/services/application/application-forms-guides.html">Find an application form</a></li>
						</ul>
					</li>
				</ul>
			</li>

			<li role="none presentation">
				<a role="menuitem" aria-haspopup="menu" aria-controls="gc-mnu-itm3" aria-expanded="false" href="#">Jobs and the workplace</a>

				<ul id="gc-mnu-itm3" role="menu" aria-orientation="vertical">
					<li role="none presentation">
						<a class="h3" href="https://www.canada.ca/en/services/jobs.html">Jobs and the workplace</a>
					</li>

					<li role="separator"></li>

					<li role="none presentation"><a role="menuitem" href="https://www.canada.ca/en/services/jobs/opportunities.html">Find a job</a></li>
					<li role="none presentation"><a role="menuitem" href="https://www.canada.ca/en/services/jobs/training.html">Training</a></li>
					<li role="none presentation"><a role="menuitem" href="https://gc-proto.github.io/design-refresh/tests/cleanup4/services/business/hire.html">Hire and manage employees</a></li>
					<li role="none presentation"><a role="menuitem" href="https://gc-proto.github.io/design-refresh/tests/cleanup4/services/business/start.html">Starting a business</a></li>
					<li role="none presentation"><a role="menuitem" href="https://www.canada.ca/en/services/jobs/workplace.html">Workplace standards</a></li>
					<li role="none presentation"><a role="menuitem" href="https://www.canada.ca/en/services/finance/pensions.html">Pensions and retirement</a></li>
					<li role="none presentation"><a role="menuitem" href="https://www.canada.ca/en/services/benefits/ei.html">Employment Insurance and leave</a></li>
					<li role="none presentation"><a role="menuitem" href="https://www.canada.ca/en/services/jobs.html">Education</a></li>

					<li role="separator" aria-orientation="vertical"></li> <!-- Orientation must be horizontal in mobile -->

					<li role="none presentation">
						<!-- Add tabindex=-1 for tablet and desktop mode -->
						<a tabindex="-1" href="#" role="menuitem" aria-haspopup="menu" aria-controls="gc-mnu-itm3-m" aria-expanded="true">Most requested</a>
						<ul id="gc-mnu-itm3-m" role="menu" aria-orientation="vertical"> <!-- Menu is default  aria-orientation="vertical", but in WAI-ARIA 1.0 the default is horizontal, so it may impact -->

							<li role="none presentation"><a role="menuitem" href="https://www.canada.ca/en/services/benefits/ei/ei-apply-online.html">Apply for Employment Insurance</a></li>
							<li role="none presentation"><a role="menuitem" href="https://www.canada.ca/en/services/benefits/ei/ei-internet-reporting.html">Submit EI report</a></li>
							<li role="none presentation"><a role="menuitem" href="https://www.canada.ca/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/eligibility/federal-skilled-workers.html">Federal Skilled Workers Program eligibility</a></li>
							<li role="none presentation"><a role="menuitem" href="https://www.canada.ca/en/immigration-refugees-citizenship/services/work-canada/hire-foreign-worker/temporary.html">Hire Temporary Foreign Workers</a></li>
							<li role="none presentation"><a role="menuitem" href="https://www.canada.ca/en/services/benefits/publicpensions/cpp/old-age-security.html">Information about CPP and OAS</a></li>
							<li role="none presentation"><a role="menuitem" href="https://www.canada.ca/en/public-service-commission/jobs/services/recruitment/students/federal-student-work-program.html">Federal Student Work Experience Program (FSWEP)</a></li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</nav>
