<form action="#" method="post" role="search" class="form-inline">
	<div class="form-group">
		<label for="wb-srch-q" class="wb-inv">{{i18n "tmpl-search-site"}}</label>
		<input id="wb-srch-q" class="wb-srch-q form-control" name="wb-srch-q" type="search" value="" size="27" maxlength="150" placeholder="{{i18n "tmpl-search-placeholder"}}" />
	</div>
	<div class="form-group submit">
		<button type="submit" id="wb-srch-sub" class="btn btn-primary btn-small" name="wb-srch-sub"><span class="glyphicon-search glyphicon"></span><span class="wb-inv">{{i18n "tmpl-search"}}</span></button>
	</div>
</form>
