<div class="container visible-md visible-lg nvbar">
    <div class="row">
        <ul class="list-inline menu">
            <li><a href="http://canada.ca/en/services/jobs/index.html">Jobs</a></li>
            <li><a href="http://canada.ca/en/services/citimm/index.html">Immigration</a></li>
            <li><a href="http://travel.gc.ca/">Travel</a></li>
            <li><a href="http://canada.ca/en/services/business/index.html">Business</a></li>
            <li><a href="http://canada.ca/en/services/benefits/index.html">Benefits</a></li>
            <li><a href="http://canada.ca/en/services/health/index.html">Health</a></li>
            <li><a href="http://canada.ca/en/services/taxes/index.html">Taxes</a></li>
            <li><a href="http://canada.ca/en/services/index.html">More services</a></li>
        </ul>
    </div>
</div>








