<section id="wb-srch" class="col-xs-6 text-right visible-md visible-lg">
	<h2>{{{i18n "tmpl-search"}}}</h2>
	<form action="#" method="post" name="cse-search-box" role="search" class="form-inline">
		<div class="form-group">
			<label for="wb-srch-q" class="wb-inv">{{{i18n "tmpl-search-site"}}}</label>
			<input id="wb-srch-q" list="wb-srch-q-ac" class="wb-srch-q form-control" name="q" type="search" value="" size="27" maxlength="150" placeholder="{{{i18n "tmpl-search-placeholder"}}}" />
			<datalist id="wb-srch-q-ac">
				<!--[if lte IE 9]><select><![endif]-->
				<!--[if lte IE 9]></select><![endif]-->
			</datalist>
		</div>
		<div class="form-group submit">
			<button type="submit" id="wb-srch-sub" class="btn btn-primary btn-small" name="wb-srch-sub"><span class="glyphicon-search glyphicon"></span><span class="wb-inv">{{{i18n "tmpl-search"}}}</span></button>
		</div>
	</form>
</section>
