<div class="container nvbar">
    <div class="row">
        <ul class="list-inline menu">
            <li><a href="http://www.canada.ca/en/services/jobs/index.html">Jobs</a></li>
            <li><a href="http://www.cic.gc.ca/english/index.asp">Immigration</a></li>
            <li><a href="http://travel.gc.ca/">Travel</a></li>
            <li><a href="http://www.canada.ca/en/services/business/index.html">Business</a></li>
            <li><a href="http://www.canada.ca/en/services/benefits/index.html">Benefits</a></li>
            <li><a href="http://healthycanadians.gc.ca/index-eng.php">Health</a></li>
            <li><a href="http://www.canada.ca/en/services/taxes/index.html">Taxes</a></li>
            <li><a href="http://www.canada.ca/en/services/index.html">More services</a></li>
        </ul>
    </div>
</div>








