<section class="lnkbx">
	<h2>
	{{#is page.language "fr"}}
	Collaborateurs
	{{else}}
	Contributors
	{{/is}}
	</h2>
	<ul>
		<li><a href="#">{{#is page.language "fr"}}[Nom de l’institution]{{else}}[Institution name]{{/is}}</a></li>
		<li><a href="#">{{#is page.language "fr"}}[Nom de l’institution]{{else}}[Institution name]{{/is}}</a></li>
		<li><a href="#">{{#is page.language "fr"}}[Nom de l’institution]{{else}}[Institution name]{{/is}}</a></li>
	</ul>
</section>
