<ul class="list-unstyled">
	<li><a href="#">Lorem ipsum dolor sit amet.</a></li>
	<li><a href="#">Officia, molestiae praesentium.</a></li>
	<li><a href="#">Officiis, dolorem ut sunt?</a></li>
	<li><a href="#">Harum, aliquam cupiditate!</a></li>
	<li><a href="#">Quos voluptates quisquam alias.</a></li>
</ul>
