<ul class="list-group list-unstyled">
	<li><a class="list-group-item" href="/fr/emplois/index.html">Emplois</a>
		<ul class="list-group list-unstyled">
			<li><a class="list-group-item" href="/fr/emplois/trouver.html">Trouver un emploi</a></li>
			<li><a class="list-group-item" href="/fr/emplois/formation.html">Formation</a></li>
			<li><a class="list-group-item" href="/fr/emplois/pensions.html">Pension et retraite</a></li>
			<li><a class="list-group-item" href="/fr/emplois/travail.html">Normes du milieu de travail</a></li>
		</ul>
	</li>
	<li><a class="list-group-item" href="/fr/citimm/index.html">Immigration</a></li>
	<li><a class="list-group-item" href="http://voyage.gc.ca/">Voyage</a></li>
	<li><a class="list-group-item" href="/fr/entreprises/index.html">Entreprises</a></li>
	<li><a class="list-group-item" href="/fr/prestations/index.html">Prestations</a></li>
	<li><a class="list-group-item" href="/fr/sante/index.html">Santé</a></li>
	<li><a class="list-group-item" href="/fr/impots/index.html">Impôts</a></li>
	<li><a class="list-group-item" href="/fr/services/index.html">Autres services</a></li>
</ul>
