<section class="col-md-6">
	<h3><a href="#">{{#is page.language "fr"}}[Lien à un sujet]{{else}}[Topic hyperlink text]{{/is}}</a></h3>
	<p>{{#is page.language "fr"}}Résumé des renseignements disponibles ou des tâches pouvant être accomplies sur la page. Supprimez les longs libellés et les messages promotionnels. Utilisez une formulation basée sur l'action.{{else}}Summary of the information or tasks that can be accomplished on the topic page. Remove prose or promotional messaging. Use action verbs.{{/is}}</p>
</section>
