/*
 * Share/feedback-specific overrides
 */
%gcweb-share-text-decoration-none {
	text-decoration: none;
}

%gcweb-pagedetails-children-margin-top {
	margin-top: .5em;
}

a {
	&.shr-opn {
		@extend %gcweb-share-text-decoration-none;

		&:hover {
			@extend %gcweb-share-text-decoration-none;
		}
	}
}

// Feedback & Share button
.pagedetails {
	&.text-right {
		.shr-pg {
			text-align: left;
		}
	}
}
main {

	.pagedetails {
		font-size: 16px;
	}
}

.pagedetails {
	padding-bottom: 2em;
	padding-top: 2em;

	// Needed for backwards compatibility with GCWeb 4.0.26 and below's HTML markup. Remove in GCWeb 4.1+.
	// ExpireOn: 2024-12-01
	&.row {
		details {
			margin: {
				bottom: .25em;
				left: 1.1em;
				right: 1.1em;
			}
		}
	}

	// Add a top margin to the report a problem link/summary.
	.row {
		div {
			&:first-child {
				a {
					@extend %gcweb-pagedetails-children-margin-top;
				}

				details {
					@extend %gcweb-pagedetails-children-margin-top;
				}
			}
		}
	}

	details {
		margin-bottom: 0;

		.well {
			margin: {
				left: -$details-identation;
				right: -$details-identation;
			}
		}
	}

	// Add a top margin on the share button (only if its plugin has initialized).
	div {
		+ {
			.wb-share-inited {
				@extend %gcweb-pagedetails-children-margin-top;
			}
		}
	}
}
