/*
* Table of Content styles for document navigation
*/
.toc {

	li {
		display: inline;

		.list-group-item {

			&:focus,
			&:hover {
				background-color: #f5f5f5;
				text-decoration: none;
			}

			&.active,
			&.active:focus,
			&.active:hover {
				background-color: $accent-blue;
				color: #fff;
				cursor: auto;
				text-decoration: none;
				z-index: 2;
			}
		}
	}
}
