/*
  TOC
  @title: Extra-small view and under (screen only)
 */

.toc {
	li {
		display: block;
		margin-bottom: 0;

		.list-group-item {
			border-bottom: 0;
			border-radius: 0;
			padding: 4px 10px;
		}

		&:last-child .list-group-item {
			border-bottom: 1px solid #ddd;
		}
	}
}
