/* ZEV theme */
/* General Backgrounds */
.bg-zev-purple {
  background-color: #7B1964;
}

.bg-zev-green {
  background-color: #9AC43F;
}

/* Buttons */
.btn-zev-purple {
  color: #FFFFFF;
  background-color: #7B1964;
  border-color: #551145;
}

.btn-zev-purple:active, .btn-zev-purple:focus, .btn-zev-purple:hover {
  color: #FFFFFF;
  background-color: #551145;
  border-color: #551145;
}

.btn-zev-purple:visited {
  color: #FFFFFF;
}

.btn-zev-green {
  color: #292929;
  background-color: #9AC43F;
  border-color: #7a9c30;
}

.btn-zev-green:active, .btn-zev-green:focus, .btn-zev-green:hover {
  color: #292929;
  background-color: #7a9c30;
  border-color: #7a9c30;
}

.btn-zev-green:visited {
  color: #292929;
}

/* Wells */
.well.bg-zev-green, .well.bg-zev-purple {
  padding: 24px;
  border-radius: 0;
  box-shadow: none;
}
.well.bg-zev-green .well-link, .well.bg-zev-purple .well-link {
  font-weight: bold;
}
.well.bg-zev-green.well-sm, .well.bg-zev-purple.well-sm {
  padding: 9px;
  border-radius: 0;
}
.well.bg-zev-green > :first-child, .well.bg-zev-purple > :first-child {
  margin-top: 0;
}
.well.bg-zev-green > :last-child, .well.bg-zev-purple > :last-child {
  margin-bottom: 0;
}
.well.bg-zev-green {
  background-color: #9AC43F;
  border: 1px solid #7a9c30;
  color: #292929;
}
.well.bg-zev-green .well-link, .well.bg-zev-green .well-text {
  color: #1D270C;
}
.well.bg-zev-green .well-link:focus, .well.bg-zev-green .well-link:hover {
  color: #394C15;
}
.well.bg-zev-purple {
  background-color: #7B1964;
  border: 1px solid #551145;
  color: #FFFFFF;
}
.well.bg-zev-purple .well-link, .well.bg-zev-purple .well-text {
  color: #F8D3ED;
}
.well.bg-zev-purple .well-link:focus, .well.bg-zev-purple .well-link:hover {
  color: #FD8BD5;
}

/* Panels */
.panel-zev-green {
  border-color: #9AC43F;
  border-radius: 0;
  border: 3px solid #9AC43F;
}

.panel-zev-green > .panel-heading,
.panel-zev-green > .panel-footer {
  color: #292929;
  background-color: #9AC43F;
  border-radius: 0;
  border: 1px solid #9AC43F;
  margin: -1px;
}

.panel-zev-purple {
  border-color: #7B1964;
  border-radius: 0;
  border: 3px solid #7B1964;
}

.panel-zev-purple > .panel-heading,
.panel-zev-purple > .panel-footer {
  color: #FFFFFF;
  background-color: #7B1964;
  border-radius: 0;
  border: 1px solid #7B1964;
  margin: -1px;
}

