---
{
	"title": "Étiquettes",
	"language": "fr",
	"altLangPage": "labels-en.html",
	"description": "Les étiquettes sont utilisés pour décrire et mettre en surbrillance des renseignements textuels (non numériques).",
	"dateModified": "2023-07-11"
}
---

<div class="wb-prettify all-pre"></div>

<!--<h2>Usage</h2>
<p>Utiliser l'étiquette appropriée pour décrire et mettre en surbrillance des renseignements textuels (non numériques).</p>-->

<h2>Étiquettes avec texte</h2>
<dl>
	<dt>Étiquette par défaut<dt>
	<dd><p>Du texte ici <span class="label label-default">(Information sur l'étiquette)</span></p></dd>
	<dt>Étiquette primaire<dt>
	<dd><p>Du texte ici <span class="label label-primary">(Information sur l'étiquette)</span></p></dd>
	<dt>Étiquette de succès<dt>
	<dd><p>Du texte ici <span class="label label-success">(Information sur l'étiquette)</span></p></dd>
	<dt>Étiquette de renseignements<dt>
	<dd><p>Du texte ici <span class="label label-info">(Information sur l'étiquette)</span></p></dd>
	<dt>Étiquette d'avertissement<dt>
	<dd><p>Du texte ici <span class="label label-warning">(Information sur l'étiquette)</span></p></dd>
	<dt>Étiquette de danger<dt>
	<dd><p>Du texte ici <span class="label label-danger">(Information sur l'étiquette)</span></p></dd>
	<dt>Étiquette par défaut sous forme de lien<dt>
	<dd><p>Du texte ici <a class="label label-default">(Information sur l'étiquette)</a></p></dd>
</dl>

<h3>Code</h3>
<pre><code>&lt;dl&gt;
	&lt;dt&gt;&Eacute;tiquette par d&eacute;faut&lt;dt&gt;
	&lt;dd&gt;&lt;p&gt;Du texte ici &lt;span class=&quot;label label-default&quot;&gt;(Information sur l'&eacute;tiquette)&lt;/span&gt;&lt;/p&gt;&lt;/dd&gt;
	&lt;dt&gt;&Eacute;tiquette primaire&lt;dt&gt;
	&lt;dd&gt;&lt;p&gt;Du texte ici &lt;span class=&quot;label label-primary&quot;&gt;(Information sur l'&eacute;tiquette)&lt;/span&gt;&lt;/p&gt;&lt;/dd&gt;
	&lt;dt&gt;&Eacute;tiquette de succ&egrave;s&lt;dt&gt;
	&lt;dd&gt;&lt;p&gt;Du texte ici &lt;span class=&quot;label label-success&quot;&gt;(Information sur l'&eacute;tiquette)&lt;/span&gt;&lt;/p&gt;&lt;/dd&gt;
	&lt;dt&gt;&Eacute;tiquette de renseignements&lt;dt&gt;
	&lt;dd&gt;&lt;p&gt;Du texte ici &lt;span class=&quot;label label-info&quot;&gt;(Information sur l'&eacute;tiquette)&lt;/span&gt;&lt;/p&gt;&lt;/dd&gt;
	&lt;dt&gt;&Eacute;tiquette d'avertissement&lt;dt&gt;
	&lt;dd&gt;&lt;p&gt;Du texte ici &lt;span class=&quot;label label-warning&quot;&gt;(Information sur l'&eacute;tiquette)&lt;/span&gt;&lt;/p&gt;&lt;/dd&gt;
	&lt;dt&gt;&Eacute;tiquette de danger&lt;dt&gt;
	&lt;dd&gt;&lt;p&gt;Du texte ici &lt;span class=&quot;label label-danger&quot;&gt;(Information sur l'&eacute;tiquette)&lt;/span&gt;&lt;/p&gt;&lt;/dd&gt;
	&lt;dt&gt;&Eacute;tiquette par d&eacute;faut sous forme de lien&lt;dt&gt;
	&lt;dd&gt;&lt;p&gt;Du texte ici &lt;a class=&quot;label label-default&quot;&gt;(Information sur l'&eacute;tiquette)&lt;/a&gt;&lt;/p&gt;&lt;/dd&gt;
&lt;/dl&gt;</code></pre>

<h2>Référence</h2>
<p><a href="https://wet-boew.github.io/wet-boew-styleguide/design/labels-en">Guide de style de la boîte à outils de l'expérience Web - Étiquettes</a></p>
