---
{
	"title": "Labels",
	"language": "en",
	"altLangPage": "labels-fr.html",
	"description": "Labels are use to describe and highlight text-based (non-numerical) information.",
	"dateModified": "2023-07-11"
}
---
<div class="wb-prettify all-pre"></div>

<!--<h2>Purpose</h2>
<p>Use the appropriate label to describe and highlight text-based (non-numerical) information.</p>-->

<h2>Labels with text</h2>
<dl>
	<dt>Default label<dt>
	<dd><p>Some text here <span class="label label-default">(Label info)</span></p></dd>
	<dt>Primary label<dt>
	<dd><p>Some text here <span class="label label-primary">(Label info)</span></p></dd>
	<dt>Success label<dt>
	<dd><p>Some text here <span class="label label-success">(Label info)</span></p></dd>
	<dt>Info label<dt>
	<dd><p>Some text here <span class="label label-info">(Label info)</span></p></dd>
	<dt>Warning label<dt>
	<dd><p>Some text here <span class="label label-warning">(Label info)</span></p></dd>
	<dt>Danger label<dt>
	<dd><p>Some text here <span class="label label-danger">(Label info)</span></p></dd>
	<dt>Default label as link<dt>
	<dd><p>Some text here <a class="label label-default">(Label info)</a></p></dd>
</dl>

<h3>Code</h3>
<pre><code>&lt;dl&gt;
	&lt;dt&gt;Default label&lt;dt&gt;
	&lt;dd&gt;&lt;p&gt;Some text here &lt;span class="label label-default"&gt;(Label info)&lt;/span&gt;&lt;/p&gt;&lt;/dd&gt;
	&lt;dt&gt;Primary label&lt;dt&gt;
	&lt;dd&gt;&lt;p&gt;Some text here &lt;span class="label label-primary"&gt;(Label info)&lt;/span&gt;&lt;/p&gt;&lt;/dd&gt;
	&lt;dt&gt;Success label&lt;dt&gt;
	&lt;dd&gt;&lt;p&gt;Some text here &lt;span class="label label-success"&gt;(Label info)&lt;/span&gt;&lt;/p&gt;&lt;/dd&gt;
	&lt;dt&gt;Info label&lt;dt&gt;
	&lt;dd&gt;&lt;p&gt;Some text here &lt;span class="label label-info"&gt;(Label info)&lt;/span&gt;&lt;/p&gt;&lt;/dd&gt;
	&lt;dt&gt;Warning label&lt;dt&gt;
	&lt;dd&gt;&lt;p&gt;Some text here &lt;span class="label label-warning"&gt;(Label info)&lt;/span&gt;&lt;/p&gt;&lt;/dd&gt;
	&lt;dt&gt;Danger label&lt;dt&gt;
	&lt;dd&gt;&lt;p&gt;Some text here &lt;span class="label label-danger"&gt;(Label info)&lt;/span&gt;&lt;/p&gt;&lt;/dd&gt;
	&lt;dt&gt;Default label as a link&lt;dt&gt;
	&lt;dd&gt;&lt;p&gt;Some text here &lt;a class=&quot;label label-default&quot;&gt;(Label info)&lt;/a&gt;&lt;/p&gt;&lt;/dd&gt;
&lt;/dl&gt;</code></pre>

<h2>Reference</h2>
<p><a href="https://wet-boew.github.io/wet-boew-styleguide/design/labels-en">Web Experience Toolkit Style Guide - Labels</a></p>
