<aside class="lnkbx">
	<h2>Guides et aide</h2>
	<ul class="lst-spcd">
		<li><a href="#">[Guides connexes et aide 1]</a></li>
		<li><a href="#">[Guides connexes et aide 2]</a></li>
		<li><a href="#">[Guides connexes et aide 3]</a></li>
	</ul>
</aside>
<aside class="lnkbx">
	<h2>Contactez-nous</h2>
	<p>[Office name or location]<br>
		1300-70 Somerset St. W<br>
		Moncton NB E1C 8P2</p>
	<dl>
		<dt>Téléphone:</dt>
		<dd>506-857-2400 ext. 123</dd>
		<dd>506-857-2400 ext. 124</dd>
		<dt>Courriel:</dt>
		<dd><a href="mailto:prenom.nom@canada.ca">prenom.nom@canada.ca</a></dd>
	</dl>
	<ul>
		<li><a href="#">Contactez [nom de l'établissement] pour obtenir de l'aide</a></li>
		<li><a href="#">Contactez [nom de l'établissement] pour obtenir de l'aide</a></li>
		<li><a href="#">Contactez [nom de l'établissement] pour obtenir de l'aide</a></li>
		<li><a href="#">Contactez [nom de l'établissement] pour obtenir de l'aide</a></li>
	</ul>
</aside>
<aside class="lnkbx">
	<h2>Services et renseignements connexes</h2>
	<ul class="lst-spcd">
		<li><a href="#">[Services connexes 1]</a></li>
		<li><a href="#">[Services connexes 2]</a></li>
		<li><a href="#">[Renseignements connexes 1]</a></li>
		<li><a href="#">[Renseignements connexes 2]</a></li>
	</ul>
</aside>
<aside class="lnkbx">
	<h2>Programme connexe</h2>
	<ul class="lst-spcd">
		<li><a href="#">[Nom du programme]</a></li>
	</ul>
</aside>
