/*
 *
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 *
 * @title: Lists
 *
 */

/*
 * List responsive style
 *
 * It has variant defined for some specific views
 * - views/_screen-lg-min
 * - views/_screen-xs-max
 */
.list-responsive {

	> li {
		float: left;
		padding-right: 5px;
		width: 50%;

		&:nth-child(2n+2) {
			clear:right;
		}
	}

	&:before, &:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
}

/* Double space list items
	Might worth to publish it upstream here instead: https://github.com/wet-boew/wet-boew/blob/master/src/base/lists/_base.scss#L30
 */

.lst-spcd-2 {
	> {
		li {
			margin-bottom: 20px;
		}
	}

	ul,
	ol {
		margin-top: 20px;
	}
}

/* Display lists in columns using Flexbox
 *	Add this class to a ul or ol to distribute its items in columns horizontally. Handles up to 4 columns.
 *	It has variants defined for some specific views:
 *	- _screen-sm-min
 *	- _screen-md-min
 *	- _screen-lg-min
*/
ul[class*=list-col] {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding-left: 0;
	padding-right: 0;

	> li {
		flex-basis: 100%;
		flex-grow: 0;
		flex-shrink: 0;
	}
}

ul.list-col-xs-1 > li { flex-basis: 100% }
ul.list-col-xs-2 > li { flex-basis: 50% }
ul.list-col-xs-3 > li { flex-basis: 33.33% }
ul.list-col-xs-4 > li { flex-basis: 25% }
