/*
 *
 * Application template
 *
*/

.info-banner {
	background-color: $alert-info-bg;
	color: $text-color;
	font-size: 20px;
	line-height: 1.65em;
	padding: 15px 0;

	h2 {
		float: left;
		font-size: 1em;
		line-height: 1.65em;
		margin: 0 .25em 0 0;

		&:after {
			content: ":";
			margin-left: .125em;
		}
	}

	.info-banner-actions {
		align-items: center;
		display: flex;
		justify-content: space-between;
	}
}

.application-bar {
	background-color: #38414d;
	color: #fff;
	margin-top: 15px;

	h2 {
		border: none;
		margin: 10px 0 8px;

		a {
			color: #fff;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}
