---
{
	"title": "Documentation du gabarit de page d'application",
	"language": "fr",
	"altLangPage": "application-docs-en.html",
	"dateModified": "2023-11-02"
}
---

<dl class="horizontal">
	<dt>Statut</dt>
	<dd>Stable</dd>

	<dt>Version</dt>
	<dd>1.0</dd>

	<dt>Type</dt>
	<dd>Gabarit</dd>

	<dt>Dernière révision</dt>
	<dd>2023-11-02</dd>

	<dt>Spécification</dt>
	<dd>Aucune spécification à ce jour.</dd>
</dl>

<h2>Exemples pratiques</h2>
<ul>
	<li><a href="default-application-fr.html">Page d'application</a></li>
	<li><a href="application-with-banner-fr.html">Application page with informational banner</a></li>
</ul>

<h2>Accessiblité</h2>
<p>Aucun rapport sur la conformance en accessibilité à ce jour.</p>
