---
{
	"title": "Application template documentation",
	"language": "en",
	"altLangPage": "application-docs-fr.html",
	"dateModified": "2023-11-02"
}
---

<dl class="horizontal">
	<dt>Status</dt>
	<dd>Stable</dd>

	<dt>Version</dt>
	<dd>1.0</dd>

	<dt>Type</dt>
	<dd>Template</dd>

	<dt>Last review</dt>
	<dd>2023-11-02</dd>

	<dt>Specification</dt>
	<dd>There is no specification yet</dd>
</dl>

<h2>Working examples</h2>
<ul>
	<li><a href="default-application-en.html">Application page</a></li>
	<li><a href="application-with-banner-en.html">Page d'application avec bannière informative</a></li>
</ul>

<h2>Accessiblity</h2>
<p>No accessiblity conformance report yet.</p>
