/*
 * Helper Classes
 */

.margin-bottom-none {
	margin-bottom: 0 !important;
}

.margin-bottom-small {
	margin-bottom: .25em !important;
}

.margin-top-large {
	margin-top: 1.5em !important;
}

.margin-top-medium {
	margin-top: .75em !important;
}

#triangle-up {
	border-bottom: 10px solid #fff;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	height: 0;
	width: 0;
}
