/*
 *
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 *
 * @title: GC Service and Information
 *
 */

.gc-srvinfo, .gc-drmt {
	h2 {
		font-size: 1.8125rem;
	}

	h3, h4, h5, h6 {
		font-size: 20px;
		margin-bottom: 5px;
		margin-top: 23px;
	}

	p {
		font-size: 18px;
		line-height: 1.5;
	}
}
