---
{
	"title": "Services et renseignements - Exemples pratiques",
	"language": "fr",
	"altLangPage": "gc-srvinfo-en.html",
	"breadcrumbs": [
		{ "title": "Services et renseignements - Documentation", "link": "components/gc-srvinfo/gc-srvinfo-doc-fr.html" }
	],
	"secondlevel": false,
	"dateModified": "2019-01-16",
	"share": "true"
}
---
<div class="wb-prettify all-pre hide"></div>

<section class="alert alert-info mrgn-tp-lg">
	<h2 class="h3">Structure des en-têtes</h2>
	<p>La structure sémantique logique des en-têtes n'a pas été suivie afin de s'adapter aux exemples pratiques suivants.</p>
</section>

<h2 id="eg1">Exemple 1: disposition sur 3 colonnes</h2>
<section class="gc-srvinfo">
	<h2>Services et renseignements</h2>
	<div class="wb-eqht row">
		<div class="col-md-6 col-lg-4">
			<h3><a href="#">[Texte de l'hyperlien]</a></h3>
			<p>Utilisez des verbes d'action, ou inscrivez simplement des mots clés pour résumer les renseignements ou les tâches qui peuvent être accomplies sur la page liée</p>
		</div>
		<div class="col-md-6 col-lg-4">
			<h3><a href="#">[Texte de l'hyperlien]</a></h3>
			<p>Utilisez des verbes d'action, ou inscrivez simplement des mots clés pour résumer les renseignements ou les tâches qui peuvent être accomplies sur la page liée</p>
		</div>
		<div class="col-md-6 col-lg-4">
			<h3><a href="#">[Texte de l'hyperlien]</a></h3>
			<p>Utilisez des verbes d'action, ou inscrivez simplement des mots clés pour résumer les renseignements ou les tâches qui peuvent être accomplies sur la page liée</p>
		</div>
		<div class="col-md-6 col-lg-4">
			<h3><a href="#">[Texte de l'hyperlien]</a></h3>
			<p>Utilisez des verbes d'action, ou inscrivez simplement des mots clés pour résumer les renseignements ou les tâches qui peuvent être accomplies sur la page liée</p>
		</div>
		<div class="col-md-6 col-lg-4">
			<h3><a href="#">[Texte de l'hyperlien]</a></h3>
			<p>Utilisez des verbes d'action, ou inscrivez simplement des mots clés pour résumer les renseignements ou les tâches qui peuvent être accomplies sur la page liée</p>
		</div>
		<div class="col-md-6 col-lg-4">
			<h3><a href="#">[Texte de l'hyperlien]</a></h3>
			<p>Utilisez des verbes d'action, ou inscrivez simplement des mots clés pour résumer les renseignements ou les tâches qui peuvent être accomplies sur la page liée</p>
		</div>
	</div>
</section>

<h3>Code</h3>
<pre><code>&lt;section class="gc-srvinfo"&gt;
	&lt;h2&gt;Services et renseignements&lt;/h2&gt;
	&lt;div class="wb-eqht row"&gt;
		&lt;div class="col-md-6 col-lg-4"&gt;
			&lt;h3&gt;&lt;a href="#"&gt;[Texte de l'hyperlien]&lt;/a&gt;&lt;/h3&gt;
			&lt;p&gt;Utilisez des verbes d'action, ou inscrivez simplement des mots clés pour résumer les renseignements ou les tâches qui peuvent être accomplies sur la page liée&lt;/p&gt;
		&lt;/div&gt;
		&lt;div class="col-md-6 col-lg-4"&gt;
			&lt;h3&gt;&lt;a href="#"&gt;[Texte de l'hyperlien]&lt;/a&gt;&lt;/h3&gt;
			&lt;p&gt;Utilisez des verbes d'action, ou inscrivez simplement des mots clés pour résumer les renseignements ou les tâches qui peuvent être accomplies sur la page liée&lt;/p&gt;
		&lt;/div&gt;
		&lt;div class="col-md-6 col-lg-4"&gt;
			&lt;h3&gt;&lt;a href="#"&gt;[Texte de l'hyperlien]&lt;/a&gt;&lt;/h3&gt;
			&lt;p&gt;Utilisez des verbes d'action, ou inscrivez simplement des mots clés pour résumer les renseignements ou les tâches qui peuvent être accomplies sur la page liée&lt;/p&gt;
		&lt;/div&gt;
		&lt;div class="col-md-6 col-lg-4"&gt;
			&lt;h3&gt;&lt;a href="#"&gt;[Texte de l'hyperlien]&lt;/a&gt;&lt;/h3&gt;
			&lt;p&gt;Utilisez des verbes d'action, ou inscrivez simplement des mots clés pour résumer les renseignements ou les tâches qui peuvent être accomplies sur la page liée&lt;/p&gt;
		&lt;/div&gt;
		&lt;div class="col-md-6 col-lg-4"&gt;
			&lt;h3&gt;&lt;a href="#"&gt;[Texte de l'hyperlien]&lt;/a&gt;&lt;/h3&gt;
			&lt;p&gt;Utilisez des verbes d'action, ou inscrivez simplement des mots clés pour résumer les renseignements ou les tâches qui peuvent être accomplies sur la page liée&lt;/p&gt;
		&lt;/div&gt;
		&lt;div class="col-md-6 col-lg-4"&gt;
			&lt;h3&gt;&lt;a href="#"&gt;[Texte de l'hyperlien]&lt;/a&gt;&lt;/h3&gt;
			&lt;p&gt;Utilisez des verbes d'action, ou inscrivez simplement des mots clés pour résumer les renseignements ou les tâches qui peuvent être accomplies sur la page liée&lt;/p&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/section&gt;</code></pre>

<h2 id="eg2">Exemple 2: disposition sur 2 colonnes</h2>
<section class="gc-srvinfo">
	<h2>Services et renseignements</h2>
	<div class="wb-eqht row">
		<div class="col-md-6">
			<h3><a href="#">[Texte de l'hyperlien]</a></h3>
			<p>Utilisez des verbes d'action, ou inscrivez simplement des mots clés pour résumer les renseignements ou les tâches qui peuvent être accomplies sur la page liée</p>
		</div>
		<div class="col-md-6">
			<h3><a href="#">[Texte de l'hyperlien]</a></h3>
			<p>Utilisez des verbes d'action, ou inscrivez simplement des mots clés pour résumer les renseignements ou les tâches qui peuvent être accomplies sur la page liée</p>
		</div>
		<div class="col-md-6">
			<h3><a href="#">[Texte de l'hyperlien]</a></h3>
			<p>Utilisez des verbes d'action, ou inscrivez simplement des mots clés pour résumer les renseignements ou les tâches qui peuvent être accomplies sur la page liée</p>
		</div>
		<div class="col-md-6">
			<h3><a href="#">[Texte de l'hyperlien]</a></h3>
			<p>Utilisez des verbes d'action, ou inscrivez simplement des mots clés pour résumer les renseignements ou les tâches qui peuvent être accomplies sur la page liée</p>
		</div>
	</div>
</section>

<h3>Code</h3>
<pre><code>&lt;section class="gc-srvinfo"&gt;
	&lt;h2&gt;Services et renseignements&lt;/h2&gt;
	&lt;div class="wb-eqht row"&gt;
		&lt;div class="col-md-6"&gt;
			&lt;h3&gt;&lt;a href="#"&gt;[Texte de l'hyperlien]&lt;/a&gt;&lt;/h3&gt;
			&lt;p&gt;Utilisez des verbes d'action, ou inscrivez simplement des mots clés pour résumer les renseignements ou les tâches qui peuvent être accomplies sur la page liée&lt;/p&gt;
		&lt;/div&gt;
		&lt;div class="col-md-6"&gt;
			&lt;h3&gt;&lt;a href="#"&gt;[Texte de l'hyperlien]&lt;/a&gt;&lt;/h3&gt;
			&lt;p&gt;Utilisez des verbes d'action, ou inscrivez simplement des mots clés pour résumer les renseignements ou les tâches qui peuvent être accomplies sur la page liée&lt;/p&gt;
		&lt;/div&gt;
		&lt;div class="col-md-6"&gt;
			&lt;h3&gt;&lt;a href="#"&gt;[Texte de l'hyperlien]&lt;/a&gt;&lt;/h3&gt;
			&lt;p&gt;Utilisez des verbes d'action, ou inscrivez simplement des mots clés pour résumer les renseignements ou les tâches qui peuvent être accomplies sur la page liée&lt;/p&gt;
		&lt;/div&gt;
		&lt;div class="col-md-6"&gt;
			&lt;h3&gt;&lt;a href="#"&gt;[Texte de l'hyperlien]&lt;/a&gt;&lt;/h3&gt;
			&lt;p&gt;Utilisez des verbes d'action, ou inscrivez simplement des mots clés pour résumer les renseignements ou les tâches qui peuvent être accomplies sur la page liée&lt;/p&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/section&gt;</code></pre>

<h2 id="eg3">Exemple 3: disposition sur 1 colonne</h2>
<section class="gc-srvinfo">
	<h2>Services et renseignements</h2>
	<h3><a href="#">[Texte de l'hyperlien]</a></h3>
	<p>Utilisez des verbes d'action, ou inscrivez simplement des mots clés pour résumer les renseignements ou les tâches qui peuvent être accomplies sur la page liée</p>
	<h3><a href="#">[Texte de l'hyperlien]</a></h3>
	<p>Utilisez des verbes d'action, ou inscrivez simplement des mots clés pour résumer les renseignements ou les tâches qui peuvent être accomplies sur la page liée</p>
	<h3><a href="#">[Texte de l'hyperlien]</a></h3>
	<p>Utilisez des verbes d'action, ou inscrivez simplement des mots clés pour résumer les renseignements ou les tâches qui peuvent être accomplies sur la page liée</p>
</section>
<h3>Code</h3>
<pre><code>&lt;section class="gc-srvinfo"&gt;
	&lt;h3&gt;&lt;a href="#"&gt;[Texte de l'hyperlien]&lt;/a&gt;&lt;/h3&gt;
	&lt;p&gt;Utilisez des verbes d'action, ou inscrivez simplement des mots clés pour résumer les renseignements ou les tâches qui peuvent être accomplies sur la page liée&lt;/p&gt;
	&lt;h3&gt;&lt;a href="#"&gt;[Texte de l'hyperlien]&lt;/a&gt;&lt;/h3&gt;
	&lt;p&gt;Utilisez des verbes d'action, ou inscrivez simplement des mots clés pour résumer les renseignements ou les tâches qui peuvent être accomplies sur la page liée&lt;/p&gt;
	&lt;h3&gt;&lt;a href="#"&gt;[Texte de l'hyperlien]&lt;/a&gt;&lt;/h3&gt;
	&lt;p&gt;Utilisez des verbes d'action, ou inscrivez simplement des mots clés pour résumer les renseignements ou les tâches qui peuvent être accomplies sur la page liée&lt;/p&gt;
&lt;/section&gt;</code></pre>

<h2 id="eg4">Exemple 4: liens séquentiels avec disposition sur 1 colonne</h2>
<section class="gc-srvinfo">
	<h2>Services et renseignements</h2>
	<ol>
		<li>
			<h3><a href="#">[Texte de l'hyperlien]</a></h3>
			<p>Utilisez des verbes d'action, ou inscrivez simplement des mots clés pour résumer les renseignements ou les tâches qui peuvent être accomplies sur la page liée</p>
		</li>
		<li>
			<h3><a href="#">[Texte de l'hyperlien]</a></h3>
			<p>Utilisez des verbes d'action, ou inscrivez simplement des mots clés pour résumer les renseignements ou les tâches qui peuvent être accomplies sur la page liée</p>
		</li>
		<li>
			<h3><a href="#">[Texte de l'hyperlien]</a></h3>
			<p>Utilisez des verbes d'action, ou inscrivez simplement des mots clés pour résumer les renseignements ou les tâches qui peuvent être accomplies sur la page liée</p>
		</li>
	</ol>
</section>
<h3>Code</h3>
<pre><code>&lt;section class="gc-srvinfo"&gt;
	&lt;h2&gt;Services et renseignements&lt;/h2&gt;
	&lt;ol&gt;
		&lt;li&gt;
			&lt;h3&gt;&lt;a href="#"&gt;[Texte de l'hyperlien]&lt;/a&gt;&lt;/h3&gt;
			&lt;p&gt;Utilisez des verbes d'action, ou inscrivez simplement des mots clés pour résumer les renseignements ou les tâches qui peuvent être accomplies sur la page liée&lt;/p&gt;
		&lt;/li&gt;
		&lt;li&gt;
			&lt;h3&gt;&lt;a href="#"&gt;[Texte de l'hyperlien]&lt;/a&gt;&lt;/h3&gt;
			&lt;p&gt;Utilisez des verbes d'action, ou inscrivez simplement des mots clés pour résumer les renseignements ou les tâches qui peuvent être accomplies sur la page liée&lt;/p&gt;
		&lt;/li&gt;
		&lt;li&gt;
			&lt;h3&gt;&lt;a href="#"&gt;[Texte de l'hyperlien]&lt;/a&gt;&lt;/h3&gt;
			&lt;p&gt;Utilisez des verbes d'action, ou inscrivez simplement des mots clés pour résumer les renseignements ou les tâches qui peuvent être accomplies sur la page liée&lt;/p&gt;
		&lt;/li&gt;
	&lt;/ol&gt;
&lt;/section&gt;</code></pre>

<h2 id="eg5">Exemple 5: disposition groupée avec titres, sur 3 colonnes</h2>
<section class="gc-srvinfo">
	<h2>Services pour les Canadiens au Canada</h2>
	<div class="wb-eqht row">
		<div class="col-md-6 col-lg-4">
			<h3><a href="#">[Texte de l'hyperlien]</a></h3>
			<p>Utilisez des verbes d'action, ou inscrivez simplement des mots clés pour résumer les renseignements ou les tâches qui peuvent être accomplies sur la page liée </p>
		</div>
		<div class="col-md-6 col-lg-4">
			<h3><a href="#">[Texte de l'hyperlien]</a></h3>
			<p>Utilisez des verbes d'action, ou inscrivez simplement des mots clés pour résumer les renseignements ou les tâches qui peuvent être accomplies sur la page liée </p>
		</div>
		<div class="col-md-6 col-lg-4">
			<h3><a href="#">[Texte de l'hyperlien]</a></h3>
			<p>Utilisez des verbes d'action, ou inscrivez simplement des mots clés pour résumer les renseignements ou les tâches qui peuvent être accomplies sur la page liée </p>
		</div>
	</div>
</section>
<section class="gc-srvinfo">
	<h2>Services pour les Canadiens à l'étranger</h2>
	<div class="wb-eqht row">
		<div class="col-md-6 col-lg-4">
			<h3><a href="#">[Texte de l'hyperlien]</a></h3>
			<p>Utilisez des verbes d'action, ou inscrivez simplement des mots clés pour résumer les renseignements ou les tâches qui peuvent être accomplies sur la page liée </p>
		</div>
		<div class="col-md-6 col-lg-4">
			<h3><a href="#">[Texte de l'hyperlien]</a></h3>
			<p>Utilisez des verbes d'action, ou inscrivez simplement des mots clés pour résumer les renseignements ou les tâches qui peuvent être accomplies sur la page liée </p>
		</div>
		<div class="col-md-6 col-lg-4">
			<h3><a href="#">[Texte de l'hyperlien]</a></h3>
			<p>Utilisez des verbes d'action, ou inscrivez simplement des mots clés pour résumer les renseignements ou les tâches qui peuvent être accomplies sur la page liée </p>
		</div>
	</div>
</section>
<h3>Code</h3>
<pre><code>&lt;section class="gc-srvinfo"&gt;
	&lt;h2&gt;Services for Canadians in Canada&lt;/h2&gt;
	&lt;div class="wb-eqht row"&gt;
		&lt;div class="col-md-6 col-lg-4"&gt;
			&lt;h3&gt;&lt;a href="#"&gt;[Texte de l'hyperlien]&lt;/a&gt;&lt;/h3&gt;
			&lt;p&gt;Utilisez des verbes d'action, ou inscrivez simplement des mots clés pour résumer les renseignements ou les tâches qui peuvent être accomplies sur la page liée &lt;/p&gt;
		&lt;/div&gt;
		&lt;div class="col-md-6 col-lg-4"&gt;
			&lt;h3&gt;&lt;a href="#"&gt;[Texte de l'hyperlien]&lt;/a&gt;&lt;/h3&gt;
			&lt;p&gt;Utilisez des verbes d'action, ou inscrivez simplement des mots clés pour résumer les renseignements ou les tâches qui peuvent être accomplies sur la page liée &lt;/p&gt;
		&lt;/div&gt;
		&lt;div class="col-md-6 col-lg-4"&gt;
			&lt;h3&gt;&lt;a href="#"&gt;[Texte de l'hyperlien]&lt;/a&gt;&lt;/h3&gt;
			&lt;p&gt;Utilisez des verbes d'action, ou inscrivez simplement des mots clés pour résumer les renseignements ou les tâches qui peuvent être accomplies sur la page liée &lt;/p&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/section&gt;

&lt;section class="gc-srvinfo"&gt;
	&lt;h2&gt;Services for Canadians abroad&lt;/h2&gt;
	&lt;div class="wb-eqht row"&gt;
		&lt;div class="col-md-6 col-lg-4"&gt;
			&lt;h3&gt;&lt;a href="#"&gt;[Texte de l'hyperlien]&lt;/a&gt;&lt;/h3&gt;
			&lt;p&gt;Utilisez des verbes d'action, ou inscrivez simplement des mots clés pour résumer les renseignements ou les tâches qui peuvent être accomplies sur la page liée &lt;/p&gt;
		&lt;/div&gt;
		&lt;div class="col-md-6 col-lg-4"&gt;
			&lt;h3&gt;&lt;a href="#"&gt;[Texte de l'hyperlien]&lt;/a&gt;&lt;/h3&gt;
			&lt;p&gt;Utilisez des verbes d'action, ou inscrivez simplement des mots clés pour résumer les renseignements ou les tâches qui peuvent être accomplies sur la page liée &lt;/p&gt;
		&lt;/div&gt;
		&lt;div class="col-md-6 col-lg-4"&gt;
			&lt;h3&gt;&lt;a href="#"&gt;[Texte de l'hyperlien]&lt;/a&gt;&lt;/h3&gt;
			&lt;p&gt;Utilisez des verbes d'action, ou inscrivez simplement des mots clés pour résumer les renseignements ou les tâches qui peuvent être accomplies sur la page liée &lt;/p&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/section&gt;</code></pre>

<h2 id="eg1">Exemple 6: disposition sur 3 colonnes avec en-tête invisible</h2>
<section class="gc-srvinfo">
	<h2 class="wb-inv">Services et renseignements</h2>
	<div class="wb-eqht row">
		<div class="col-md-6 col-lg-4">
			<h3><a href="#">[Texte de l'hyperlien]</a></h3>
			<p>Utilisez des verbes d'action, ou inscrivez simplement des mots clés pour résumer les renseignements ou les tâches qui peuvent être accomplies sur la page liée</p>
		</div>
		<div class="col-md-6 col-lg-4">
			<h3><a href="#">[Texte de l'hyperlien]</a></h3>
			<p>Utilisez des verbes d'action, ou inscrivez simplement des mots clés pour résumer les renseignements ou les tâches qui peuvent être accomplies sur la page liée</p>
		</div>
		<div class="col-md-6 col-lg-4">
			<h3><a href="#">[Texte de l'hyperlien]</a></h3>
			<p>Utilisez des verbes d'action, ou inscrivez simplement des mots clés pour résumer les renseignements ou les tâches qui peuvent être accomplies sur la page liée</p>
		</div>
		<div class="col-md-6 col-lg-4">
			<h3><a href="#">[Texte de l'hyperlien]</a></h3>
			<p>Utilisez des verbes d'action, ou inscrivez simplement des mots clés pour résumer les renseignements ou les tâches qui peuvent être accomplies sur la page liée</p>
		</div>
		<div class="col-md-6 col-lg-4">
			<h3><a href="#">[Texte de l'hyperlien]</a></h3>
			<p>Utilisez des verbes d'action, ou inscrivez simplement des mots clés pour résumer les renseignements ou les tâches qui peuvent être accomplies sur la page liée</p>
		</div>
		<div class="col-md-6 col-lg-4">
			<h3><a href="#">[Texte de l'hyperlien]</a></h3>
			<p>Utilisez des verbes d'action, ou inscrivez simplement des mots clés pour résumer les renseignements ou les tâches qui peuvent être accomplies sur la page liée</p>
		</div>
	</div>
</section>

<h3>Code</h3>
<pre><code>&lt;section class="gc-srvinfo"&gt;
	&lt;h2 class="wb-inv"&gt;Services et renseignements&lt;/h2&gt;
	&lt;div class="wb-eqht row"&gt;
		&lt;div class="col-md-6 col-lg-4"&gt;
			&lt;h3&gt;&lt;a href="#"&gt;[Texte de l'hyperlien]&lt;/a&gt;&lt;/h3&gt;
			&lt;p&gt;Utilisez des verbes d'action, ou inscrivez simplement des mots clés pour résumer les renseignements ou les tâches qui peuvent être accomplies sur la page liée&lt;/p&gt;
		&lt;/div&gt;
		&lt;div class="col-md-6 col-lg-4"&gt;
			&lt;h3&gt;&lt;a href="#"&gt;[Texte de l'hyperlien]&lt;/a&gt;&lt;/h3&gt;
			&lt;p&gt;Utilisez des verbes d'action, ou inscrivez simplement des mots clés pour résumer les renseignements ou les tâches qui peuvent être accomplies sur la page liée&lt;/p&gt;
		&lt;/div&gt;
		&lt;div class="col-md-6 col-lg-4"&gt;
			&lt;h3&gt;&lt;a href="#"&gt;[Texte de l'hyperlien]&lt;/a&gt;&lt;/h3&gt;
			&lt;p&gt;Utilisez des verbes d'action, ou inscrivez simplement des mots clés pour résumer les renseignements ou les tâches qui peuvent être accomplies sur la page liée&lt;/p&gt;
		&lt;/div&gt;
		&lt;div class="col-md-6 col-lg-4"&gt;
			&lt;h3&gt;&lt;a href="#"&gt;[Texte de l'hyperlien]&lt;/a&gt;&lt;/h3&gt;
			&lt;p&gt;Utilisez des verbes d'action, ou inscrivez simplement des mots clés pour résumer les renseignements ou les tâches qui peuvent être accomplies sur la page liée&lt;/p&gt;
		&lt;/div&gt;
		&lt;div class="col-md-6 col-lg-4"&gt;
			&lt;h3&gt;&lt;a href="#"&gt;[Texte de l'hyperlien]&lt;/a&gt;&lt;/h3&gt;
			&lt;p&gt;Utilisez des verbes d'action, ou inscrivez simplement des mots clés pour résumer les renseignements ou les tâches qui peuvent être accomplies sur la page liée&lt;/p&gt;
		&lt;/div&gt;
		&lt;div class="col-md-6 col-lg-4"&gt;
			&lt;h3&gt;&lt;a href="#"&gt;[Texte de l'hyperlien]&lt;/a&gt;&lt;/h3&gt;
			&lt;p&gt;Utilisez des verbes d'action, ou inscrivez simplement des mots clés pour résumer les renseignements ou les tâches qui peuvent être accomplies sur la page liée&lt;/p&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/section&gt;</code></pre>
