---
title: GC Combo Box Web Component
dateModified: 2026-03-10
description: "An accessible combo-box component that implements WCAG 2.1 accessibility standards and provides a modern, user-friendly interface for selecting multiple items."
lang: en
altLangPage: combo-box-fr.html
---
<div class="mrgn-bttm-lg"></div>
<gc-combobox
	id="demo-regions"
	placeholder="Select region(s)..."
	name="regions"
	options='["Atlantic", "British Columbia", "Ontario", "Prairies", "Quebec", "Territories"]'>
	<span slot="label">Select region(s)</span>
</gc-combobox>
<br>
<gc-combobox
	id="demo-institutions"
	name="institutions"
	placeholder="Select institution(s)..."
	options='["Accessibility Standards Canada", "Agriculture and Agri-Food Canada", "Atlantic Canada Opportunies Agency", "Canada Border Services Agency", "Canada Economic Development for Quebec Regions", "Canada Energy Regulator", "Canada Revenue Agency", "Canada School of Public Service", "Canadian Food Inspection Agency", "Canadian Heritage", "Canadian Institutes of Health Research", "Canadian Museum of History", "Canadian Museum of Nature", "Canadian Security Intelligence Service", "Canadian Space Agency", "Canadian Transportation Accident Investigation and Safety Board", "Correctional Service Canada", "Employment and Social Development Canada", "Environment and Climate Change Canada", "Fisheries and Oceans Canada", "Global Affairs Canada", "Health Canada"]'>
	<span slot="label">Select institution(s)</span>
</gc-combobox>
