---
title: Composant Combo Box Web accessible
dateModified: 2026-04-22
description: "Un composant combo-box accessible qui met en œuvre les normes d'accessibilité WCAG 2.1 et offre une interface moderne et conviviale pour sélectionner plusieurs éléments."
lang: fr
altLangPage: combo-box-en.html
---
<div class="mrgn-bttm-lg"></div>
<gc-combobox
	id="demo-regions"
	placeholder="Select region(s)..."
	name="regions">
	<span slot="label">Select region(s)</span>
</gc-combobox>
<br>
<gc-combobox
	id="demo-institutions"
	name="institutions"
	placeholder="Select institution(s)...">
	<span slot="label">Select institution(s)</span>
</gc-combobox>
