---
title: Composant Combo Box Web accessible
dateModified: 2026-04-22
description: "Un composant combo-box accessible qui met en œuvre les normes d'accessibilité WCAG 2.1 et offre une interface moderne et conviviale pour sélectionner plusieurs éléments."
lang: fr
altLangPage: combo-box-en.html
---
<div class="mrgn-bttm-lg"></div>
<gc-combobox
	id="demo-regions"
	placeholder="Sélectionner région(s)..."
	name="regions"
	options="https://api.io.canada.ca/io-server/gc/news/institutions-and-regions-tags/v1/fr/regions">
	<span slot="label">Sélectionner région(s)</span>
</gc-combobox>
<br>
<gc-combobox
	id="demo-institutions"
	name="institutions"
	placeholder="Sélectionner institution(s)..."
	options="https://api.io.canada.ca/io-server/gc/news/institutions-and-regions-tags/v1/fr/institutions">
	<span slot="label">Sélectionner institution(s)</span>
</gc-combobox>
