---
{
	"altLangPage": "page-feedback-fr.html",
	"breadcrumbs": [
		{ "title": "Feedback area - Documentation", "link": "sites/feedback/feedback-docs-en.html" }
	],
	"dateModified": "2023-01-10",
	"description": "Page feedback tool for Canada.ca",
	"language": "en",
	"title": "Page feedback tool",
	"share": "true",
	"feedback": "true",
	"feedbackData": {
		"theme": "Theme",
		"section": "Section"
	},
	"feedbackPath": "assets/page-feedback-en.html"
}
---
{% include alert-softlaunch.html genre="e" component="Page feedback tool" version="provisional" %}

<div class="wb-prettify all-pre hide"></div>

<p>HTML code in the web page</p>
<pre><code>&lt;div class="wb-disable-allow"
	data-ajax-replace="assets/page-feedback-en.html"
	data-feedback-section="Section"
	data-feedback-theme="Theme"&gt;&lt;/div&gt;</code></pre>

<details>
	<summary>Ajaxed-in content source code</summary>
{% highlight text %}
{% include_relative assets/page-feedback-en.html %}
{% endhighlight %}
</details>
