---
{
	"altLangPage": "page-feedback-contact-en.html",
	"breadcrumbs": [
		{ "title": "Zone de rétroaction - Documentation", "link": "sites/feedback/feedback-docs-fr.html" }
	],
	"dateModified": "2023-04-12",
	"description": "Outil de rétroaction sur la page pour Canada.ca",
	"language": "fr",
	"title": "Outil de rétroaction sur la page avec lien de contact",
	"share": "true",
	"feedback": "true",
	"feedbackContact": {
		"link": "Contacter Nom du service",
		"url": "https://canada.ca/fr"
	},
	"feedbackData": {
		"theme": "Thème",
		"section": "Section"
	},
	"feedbackPath": "assets/page-feedback-fr.html"
}
---
{% include alert-softlaunch.html genre="e" component="Outil de rétroaction sur la page avec lien de contact" version="provisoire" %}

<div class="wb-prettify all-pre hide"></div>

<h2>Code HTML</h2>
{% highlight text %}
{% include_relative assets/page-feedback-fr.html %}
{% endhighlight %}
