ol.lst-stps {
	&:not(.stps-strpd) {
		> li {
			padding-left: 2.6em;
		}
	}

	&.ld-zr {
		&:not(.stps-strpd) {
			> li {
				padding-left: 2.8em;
			}
		}

		> li {
			ol.lst-stps-sub {
				&:not(.stps-strpd) {
					> li {
						padding-left: 2.8em;
					}
				}
			}

			&:before {
				font-size: 1.2em;
			}
		}
	}

	> li {
		&:before {
			font-size: 0.8em;
		}
	}

	&.stps-strpd {
		> li {
			padding-left: 3em;
		}
	}
}

ol.lst-stps-sub {
	&:not(.stps-strpd) {
		> li {
			padding-left: 2.6em;
		}
	}

	&.stps-strpd {
		> li {
			padding-left: 3em;
		}
	}
}
