---
{
	"title": "GCWeb theme - Meta information",
	"language": "en",
	"altLangPrefix": "index",
	"breadcrumb": [
		{ "title": "GCWeb home", "link": "http://wet-boew.github.io/themes-dist/GCWeb/index-en.html" }
	],
	"secondlevel": false,
	"dateModified": "2018-11-01",
	"share": "true"
}
---

<h2>GCWeb new look - V2</h2>

<ul>
	<li><a href="v2-migration.html">Migration instruction</a>
		<ul>
			<li>Change: Page footer</li>
			<li>Change: Page header Structure</li>
			<li>Change: Menu</li>
			<li>Change: Home Page</li>
		</ul>
	</li>
	<li>New feature:
		<ul>
			<li><a href="v2-migration.html#pg-dblspcd">Double space for list</a></li>
			<li><a href="v2-migration.html#pg-list">Responsive list</a></li>
			<li><a href="v2-migration.html#pg-linkfigure">Linked figure design pattern</a></li>
		</ul>
	</li>
	<li><a href="../content-limit-en.html">Limited width content demo page</a></li>
	<li><a href="temp-v2issue.html">Temporary internal list of issues and todo</a></li>
</ul>

<h3>Test</h3>
<ul>
	<li>Oct 22-26: Partial screen reader compatibility test has been made to the new menu, but for a different markup compared to the one published as Oct 31. From that test, the recommendation was to replace the button text "top menu" by "main menu".</li>
</ul>

<h2>Accessiblity</h2>
<p>Not evaluated for WCAG 2.1 Level AA conformance.</p>

<h2>Previous version</h2>
<ul>
	<li>See the released with WET 4.0.29. All code change are documented in the migration instruction.</li>
</ul>
