/*
 * Site menu
 */

/* Special style for the home page - GCWeb v2 */
.home {
	.gcweb-v2 {
		border-top: 1px solid #ddd;
		color: #284162;
		margin-left: 0px;
	}

	.gcweb-v2 button[aria-haspopup=true] {
		background-color: #fff;
		border-color: #fff;
		color: #284162;

		&:hover {
			background-color: #444;
			color: #fff;
		}
	}
}

/*
 * ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 *
 * GCWeb v2 (markup reviewed)
 *
 */

.gcweb-v2 {

	/*
	 * Level 0 - button menu
	 */
	border-top: 3px solid #38414d;
	font-size: 20px;
	margin-top: 5px;

	.container {
		padding: 0px;
	}

	button[aria-haspopup=true] {
		background-color: #26374a;
		border: 1px solid #26374a;
		color: #fff;
		padding: .5em 1em;
		text-transform: uppercase;
	}

	button[aria-haspopup=true]:hover,
	button[aria-haspopup=true][aria-expanded=true] {
		background-color: #444;
		border-color: #444;
		color: #fff;
	}

	button[aria-haspopup=true]:focus {
		background-color: #fff;
		border: 1px dotted #555;
		color: #333;
	}

	[aria-haspopup=true][aria-expanded=false] + [role=menu] {
		display: none;
	}

	button[aria-haspopup=true][aria-expanded=true] + [role=menu]  {
		z-index: 9999;
	}

	/*
	 * Level 1
	 */
	[role=menu] {
		background-color: #444;
		color: #fff;
		padding: 0;
		position: absolute;
	}

	[role=menu] {
		list-style: none;
	}

	[role=menuitem] {
		display: block;
		padding: 14px 30px;
		width: 360px;
	}

	[role=menuitem],
	[role=menuitem]:visited {
		border-bottom: 1px solid #555;
		color: #fff;
		font-size:18px;
		text-decoration:none;

	}

	li:last-child [role=menuitem] {
		border-bottom: none;
	}

	[role=menuitem]:hover,
	[role=menuitem][aria-expanded=true] + [role=menu] [role=menuitem]:focus,
	[role=menuitem][aria-expanded=true] {
		background-color: #fff;
		color: #333;
	}

	/*
	 * Level 2
	 */

	[role=menu] [role=menu] {
		background-color: #fff;
		box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, .1);
		color: #000;
		left:360px;
		margin-bottom: 25px;
		min-height: 815px;
		padding: 0px 39px 24px 39px;
		top: 0;
		width: 810px;
	}

	[role=menu] [role=menu] [role=menu] {
		min-height: auto;
	}

	[role=menu] [role=menu] [role=menuitem] {
		border-bottom: none;
		color: #000;
		width: auto;
	}


	[role=menu] [role=menu] [role=menu] {
		left: auto;
		top: auto;
	}


	/* The rest of items */
	[role=menu] [role=menu] li [role=menuitem] {
		color: #284162;
		padding: 6px 0;
		text-decoration:underline;
	}
	[role=menu] [role=menu] li [role=menuitem]:hover {
		color: #0535d2;
	}

	/* First menu item (represent the home link */
	[role=menu] [role=menu] li:first-child [role=menuitem] {
		font-size: 32px;
		font-weight: 600;
		text-decoration: underline;
	}
	/* Undo for lower level */
	[role=menu] [role=menu] [role=menu] li:first-child [role=menuitem] {
		font-size: 18px;
		font-weight: 400;
		text-decoration: underline;
		width: auto;
	}


	/* SubSubMenu (MostRequested) for more iteroperability, use CSS class */
	[role=menu] [role=menu] li:last-child [role=menu] {
		list-style: disc;
		padding-top: 0px;
	}
	[role=menu] [role=menu] [role=menu] {
		box-shadow: none;
		width: auto;
	}


	/* Grid of the submenu panel */
	[role=menu] [role=menu] li {
		width: 45%;
	}
	[role=menu] [role=menu] li:first-child {
		margin-bottom: 1.5em;
		width: 100%;
	}
	[role=menu] [role=menu] [role=menu] li:first-child {
		margin-bottom: 0px;
	}
	[role=menu] [role=menu] li:last-child {
		left: 400px;
		position: absolute;
		top: 4.5em;
	}
	[role=menu] [role=menu] [role=menu] li:last-child {
		left: auto;
		position: relative;
		top: auto;
	}
	[role=menu] [role=menu] [role=menu] li {
		width: 100%;
	}
}

/*
 *
 * GCWeb v2 - END
 *
 * ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 */

/* GCWeb version 1.0 megamenu */
#wb-sm {
	background: $accent-blue;

	.menu {
		display: table;
		margin-bottom: 0;
		text-shadow: 1px 1px 1px #222;
		width: 100%;

		// Active State;
		.active,
		.selected,
		.wb-navcurr {
			background: $active-blue !important;
			color: #fff !important;
		}

		> {
			li {
				border-left: 1px solid #999;
				display: table-cell;
				float: none;

				&:last-child {
					border-right: 1px solid #999;
				}

				a {
					color: #fff;

					&:hover,
					&:focus {
						background: $active-blue !important;
						text-shadow: none;
					}
				}
			}
		}
	}

	// Menu Items ( ul in li's in this case)
	.sm {
		// open state
		&.open {
			background: #ccc;
			border-bottom: 5px solid #243850;

			li {
				a,
				summary {
					color: #444;
					padding: 5px 10px;
					text-shadow: none;

					&:hover,
					&:focus,
					&:active {
						background: #243850;
						color: #fff;
					}
				}
			}

			.slflnk {
				a {
					background: #bbb;
				}
			}
		}

		.row {
			background: transparent;

			a {
				color: #6e6e6e;
			}
		}
	}
}

.wb-disable {
	#wb-sm {
		.nvbar {
			display: block !important;
		}
	}
}


/*
 * Mobile panel
 */
#mb-pnl {
	background: url("data:image/gif;base64,R0lGODlh6AMBAIAAABk0UQAAACH/C1hNUCBEYXRhWE1QPD94cGFja2V0IGJlZ2luPSLvu78iIGlkPSJXNU0wTXBDZWhpSHpyZVN6TlRjemtjOWQiPz4gPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iQWRvYmUgWE1QIENvcmUgNS4zLWMwMTEgNjYuMTQ1NjYxLCAyMDEyLzAyLzA2LTE0OjU2OjI3ICAgICAgICAiPiA8cmRmOlJERiB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiPiA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtbG5zOnhtcE1NPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvbW0vIiB4bWxuczpzdFJlZj0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL3NUeXBlL1Jlc291cmNlUmVmIyIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ1M2IChNYWNpbnRvc2gpIiB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOkMxRUQ2ODczNUEyODExRTNBODM4OUNCRUJBOUJGN0REIiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOkMxRUQ2ODc0NUEyODExRTNBODM4OUNCRUJBOUJGN0REIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6QzFFRDY4NzE1QTI4MTFFM0E4Mzg5Q0JFQkE5QkY3REQiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6QzFFRDY4NzI1QTI4MTFFM0E4Mzg5Q0JFQkE5QkY3REQiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz4B//79/Pv6+fj39vX08/Lx8O/u7ezr6uno5+bl5OPi4eDf3t3c29rZ2NfW1dTT0tHQz87NzMvKycjHxsXEw8LBwL++vby7urm4t7a1tLOysbCvrq2sq6qpqKempaSjoqGgn56dnJuamZiXlpWUk5KRkI+OjYyLiomIh4aFhIOCgYB/fn18e3p5eHd2dXRzcnFwb25tbGtqaWhnZmVkY2JhYF9eXVxbWllYV1ZVVFNSUVBPTk1MS0pJSEdGRURDQkFAPz49PDs6OTg3NjU0MzIxMC8uLSwrKikoJyYlJCMiISAfHh0cGxoZGBcWFRQTEhEQDw4NDAsKCQgHBgUEAwIBAAAh+QQAAAAAACwAAAAA6AMBAAACHoSPqcvtD6OctNqLs968+w+G4kiW5omm6sq27gs7BQA7");
	background-position: 15px 0;
	background-repeat: repeat-y;
	box-shadow: none;
	padding-left: 15px;

	a {
		&[href$="#wb-cont"] {
			display: none !important;
		}
	}

	.modal-header {
		background: #2e5274;
		border-bottom: 1px solid #2e5274;
		box-shadow: 0 3px 3px -2px rgba(0, 0, 0, .3), 3px 3px 3px -2px rgba(0, 0, 0, .3), -3px 3px 3px -2px rgba(0, 0, 0, .3);
		color: #fff;
		margin-left: 0;
		padding: 0 44px 0 1em;
		position: relative;
		text-align: left;
		text-decoration: none;
		top: 1em;
		z-index: 1045;

		&:before {
			border-bottom: 1.45em solid #2e5274;
			border-left: 1em solid rgba(0, 0, 0, 0);
			border-top: 1.45em solid #2e5274;
			content: "";
			left: -1em;
			position: absolute;
			top: 0;
		}

		h2 {
			border: 0;
			margin-bottom: 0;
			margin-top: 1px;
			padding: 9px;
		}
	}

	.modal-body {
		background: #0e4164;
		margin-left: 0;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 5em;
		position: relative;
		top: -3em;

		summary {
			color: #fff;

			&:hover,
			&:focus {
				background: transparent;
				color: #fff;
			}
		}

		a {
			color: #fff;
			text-decoration: none;
		}

		ul {
			list-style-type: none;
		}

		li {
			line-height: 2;
			list-style-type: none;
		}
	}

	.modal-footer {
		background: #0e4164;
	}

	.mfp-close {
		top: .55em;
	}

	.srch-pnl {
		form {
			button {
				background-color: $accent-blue;
				border: 0;
				border-color: $accent-blue;
				border-radius: 0;
				position: relative;

				&:hover,
				&:focus,
				&:active {
					background: #243850;
				}
			}

			input {
				background-color: #e0e0e0;
				border-color: #e0e0e0;
				border-radius: 0;
				border-right: 0;
				border-style: solid;
				box-shadow: none;
				color: #555;
				margin-right: -4px;
				position: relative;
			}
		}

		.btn {
			line-height: 1.65;
			margin-top: -1px;
		}

		.form-group {
			float: left;
			margin-left: 15px;
			width: 75%;

			&.submit {
				margin-left: 0;
				width: 15%;
			}
		}
	}

	.lng-ofr {
		padding-right: 30px;
		text-align: right;
	}

	.sm-pnl {
		background: #0e4164;
		padding-left: 15px;
	}

	.info-pnl {
		background: #193451;
		border-top: 2px solid #061e38;
		color: #325375 !important;
		padding-left: 15px;
	}

	.active {
		> {
			a {
				font-weight: 800;
			}
		}
	}

	.sec-pnl {
		background: #cdd4da !important;
		display: none !important;
		padding-left: 15px;

		a,
		summary {
			color: #2e5576 !important;
		}
	}
}

[dir=rtl] {
	#wb-sm {
		.menu {
			> {
				li {
					border-right: 1px solid #999;
				}
			}
		}
	}

	#mb-pnl {
		background: transparent;
		padding-left: 0;
		padding-right: 15px;

		.srch-pnl {
			.form-group {
				float: right;
				margin-left: 0;
				margin-right: 15px;

				input {
					margin-left: 0;
					margin-right: -4px;
				}

				&.submit {
					margin-right: 0;
				}
			}
		}

		.modal-header {
			text-align: right;

			&:before {
				border-left: 0;
				border-right: 1em solid rgba(0, 0, 0, 0);
				left: auto;
				right: -1em;
			}
		}
	}
}
