/*
  WET-BOEW
  @title: Medium view and over (screen only)
 */

.gcweb-v2 {

	/* SubSubMenu (MostRequested) for more iteroperability, use CSS class */
	[role=menu] [role=menu] [role=menuitem][aria-haspopup=menu],
	[role=menu] [role=menu] [role=menuitem][aria-haspopup=menu]:hover {
		color: #000;
		font-size: 20px;
		font-weight: 600;
		text-decoration: none;
	}
}
