/*
 * Site menu (medium view and over)
 */
#wb-sm {
	background: $accent-blue;

	.menu {
		display: table;
		margin-bottom: 0;
		text-shadow: 1px 1px 1px #222;
		width: 100%;

		// Active State;
		.active,
		.selected,
		.wb-navcurr {
			background: $active-blue !important;
			color: #fff !important;
		}

		> {
			li {
				border-left: 1px solid #999;
				display: table-cell;
				float: none;

				&:last-child {
					border-right: 1px solid #999;
				}

				a {
					color: #fff;

					&:hover,
					&:focus {
						background: $active-blue !important;
						text-shadow: none;
					}
				}
			}
		}
	}

	// Menu Items ( ul in li's in this case)
	.sm {
		// open state
		&.open {
			background: #ccc;
			border-bottom: 5px solid #243850;

			li {
				a,
				summary {
					color: #444;
					padding: 5px 10px;
					text-shadow: none;

					&:hover,
					&:focus,
					&:active {
						background: #243850;
						color: #fff;
					}
				}
			}

			.slflnk {
				background: #bbb;
			}
		}

		.row {
			background: transparent;

			a {
				color: #6e6e6e;
			}
		}
	}
}

[dir=rtl] {
	#wb-sm {
		.menu {
			> {
				li {
					border-right: 1px solid #999;
				}
			}
		}
	}
}
