/*
  WET-BOEW
  @title: Medium view and over (screen only)
 */

.gcweb-v2 {

	/* SubSubMenu (MostRequested) keep it black
	 *
	 * Todo: check to use this CSS selector: [data-keep-expanded=md-min][role=menuitem][aria-haspopup=true]
	 */
	[role=menu] [role=menu] [role=menuitem][aria-haspopup=true],
	[role=menu] [role=menu] [role=menuitem][aria-haspopup=true]:hover {
		color: #000;
		font-size: 20px;
		font-weight: 600;
		text-decoration: none;
	}

}
