/*
  WET-BOEW
  @title: Medium view (screen only)
 */

.gcweb-v2 {

	/*
	 * Tablet mode
	 *
	 * (Grid of the submenu panel)
	 */

	[role=menu] [role=menu] li {
		width: 100%;
	}
	[role=menu] [role=menu] li:last-child {
		left: auto;
		margin-top: 1em;
		position: relative;
		top: auto;
	}
	[role=menu] [role=menu] [role=menu] li:last-child {
		margin-top: 0px;
	}
	[role=menu] [role=menu] [role=menu] {
		margin-bottom: 0px;
		padding-bottom: 0px;
		position: relative;
	}
}
