---
{
	"title": "Temporary issue and todo list - GCWeb theme V2",
	"language": "en",
	"altLangPrefix": "temp-v2issue",
	"breadcrumb": [
		{ "title": "GCWeb home", "link": "../index-en.html" },
		{ "title": "Theme meta", "link": "index.html" }
	],
	"secondlevel": false,
	"dateModified": "2018-11-16",
	"share": "true"
}
---

<h2>Open item (16 of 69)</h2>
<ul class="list-responsive">
	<li>[No active item]</li>
</ul>
<p>Wait for something...</p>
<ul class="list-responsive">
	<li>Item 1 (High)</li>
	<li>Item 41 (High)</li>
</ul>

<p>Might be still in-scope of the new look or to be fixed later</p>
<ul>
	<li><strong>Item 51 (Medium) -</strong> Request to modify the Service initiation template. To be done after at the same time of making GCWeb template conforming to content and IA spec 1.5 or if the new page type structure work is completed and well defined.</li>
	<li><strong>Item 53 (Medium) -</strong> This require to modify the Act profile and Regulation profile template. To be done after at the same time of making GCWeb template conforming to content and IA spec 1.5 or if the new page type structure work is completed and well defined.</li>
	<li><strong>Item 55 (Medium) -</strong> This require to modify the Campaing page example 1 and 2 template. To be done after at the same time of making GCWeb template conforming to content and IA spec 1.5 or if the new page type structure work is completed and well defined.</li>
	<li><strong>Item 64 (Low) -</strong> Apply new font to button and submit button. To be done later when more test case is created. Forcing the style to submit button are now out of scope.</li>
	<li><strong>Item 66 (Low) -</strong> Apply new font to form and button. To be done later when more test case is created.</li>
</ul>

<p>To be fixed/addressed later on</p>
<ul>
	<li><strong>Item 3 (Low) -</strong> Need to re-test and be reproducible, might not be an issue anymore</li>
	<li><strong>Item 8 (Low) -</strong> Still a weird issue that are happening on that device, but it might related to the use of datatable which have a large width and the media query. More testing need to be done. Don't see that issue on desktop when reducing the browser width.</li>
	<li><strong>Item 61 (Medium) - </strong>Styling differently the first h2 in the main contain could be quite chanlanging. Need to create a few test case, see comments bellow.</li>
	<li><strong>Item 12 (Low) -</strong> This issue is specific to IE11 and the wet-boew theme have the same issue. So a fix must be made upstream instead. This might be related to the use of fix font size instead of relative font-size.</li>
	<li><strong>Item 13 (Low) -</strong> Need to re-test and be reproducible, might not be an issue anymore or this scenario are realy specific to FF when it is use in a special way.</li>
	<li><strong>Item 38 (Low) -</strong> It will be a nice feature to have, but not part of the requirement.</li>
	<li><strong>Item 43 (High/Medium) -</strong> That issue need to be fixed upstream or it's going to be fixed when the new font size would be also applied to forms.</li>
	<li><strong>Item 46 (Medium) -</strong> This is just a group of reported issue identify from item 47 to 61 inclusivly.</li>
	<li><strong>Item 62 (Low) -</strong> This would require more testing from various device and from various internet speed.</li>
</ul>

<h2>Fixed or commented issues</h2>
<ul>
	<li>Item 69. Fixed December 4 - Moved down the Glyphicon of one additional pixel to perceive it aligned with accompagning text.</li>
	<li>Item 11. Comments November 11 - That item it is just a comments/opinion, TBS testing didn't reported that as an error so we can assume that was the intend.</li>
	<li>Item 68. Fixed November 30 - Blockquote font size was set to 1em.</li>
	<li>Item 65. Comment November 30 - Fixed a small issue with font-size on button, it's now reset to old size only when button are in a form, this was creating some conflic with some WET plugin.</li>
	<li>Item 65. Completed November 29 - Documentation, working example and instruction was added</li>
	<li>Item 67. Fixed November 29 - Each page have an hard coded inline copy of the top menu items (themes).</li>
	<li>Item 65. Partially fix on November 28 - The new CSS was added <code>force-style-gcweb-4-0-29</code>, it still need to be documented.</li>
	<li>Item 66. Temporyfix implemented on November 28 - The content of a form are excluded from the new font style. it still need to be documented.</li>
	<li>Item 60. Fixed on November 27</li>
	<li>Item 63. Fixed on November 26</li>
	<li>Item 60. Comment on November 26 - What this means exactly? "Set no common ligatures for all headers/Lato fonts"</li>
	<li>Item 61. Comment on November 26 - We would need to develop a few test cases because it might hard to target the first h2 because publisher use different implement in the content area. Like "h1 ~ h2:nth-of-type(1)"; "h1 ~ div:nth-of-type(1) h2:nth-of-type(1)"; "h1 ~ section:nth-of-type(1) h2:nth-of-type(1)". But those selector can be very unstable. Like "h1, h2, section>h2" OR the first h2 is an alert box??. Those special test case need to be reviewed and tested before.</li>
	<li>Item 60. Comment on November 26 - For the default limited width, as discussed, that would happend when new pages would automatically include the content limited width special class. We are not going to enforce that behaviour on any existing content. Only newly created content should contain that class, and the publisher would be able to remove it. Minimize the risk of breaking the layout of existing content. If that need to be enforced by default and the feature removed upon request, then we would need a massive list of test case to ensure the stability of that new feature.</li>
	<li>Item 5. Fixed on November 22 - The max width of the input was adjusted for extra small view port. An optimal value was set to avoid the search button being under the search input field. Idem for the extra-extra small view port.</li>
	<li>Item 30. Fixed on November 22</li>
	<li>Item 50. Fixed on November 22 - The size of the first paragraph, following the h1 was set to match the default paragraph font-size. Those page are now marked as navigation page type.</li>
	<li>Item 52. Fixed on November 22 - Added content width limited</li>
	<li>Item 54. Fixed on November 22 - Marked as navigation page type and added content width limited</li>
	<li>Item 56. Fixed on November 22 - Marked as navigation page type</li>
	<li>Item 57, 58, 59. Fixed on November 22 - Added content width limited</li>
	<li>Item 60. Partially fixed on November 22 - Breadcrumb spacing is fix and also it's left/right margin. Submit button wont be styled, by default as the call-to-action button - See Item 64.</li>
	<li>Item 49. Fixed on November 20, 2018 - All fixed and note that all button font-familly was set to Lato in order to be consitent with that component.</li>
	<li>Item 48. Fixed on November 20, 2018</li>
	<li>Item 47. Fixed on November 19, 2018 - All fix, except no change was made to the font size because the font-smoothing was added as per fixing Item 23.</li>
	<li>Item 23. Fixed on November 19, 2018 - See justification here: <a href="index.html#antialiasing">index.html#antialiasing</a></li>
	<li>Item 32. Completed on November 16, 2018 - See the evaluation here: <a href="../evaluation-report/2-wetplugin-gcweb2.html">evaluation-report/2-wetplugin-gcweb2.html</a></li>
	<li>Item 34. Completed on November 16, 2018 - See the <a href="index.html">gcweb theme summary page</a></li>
	<li>Item 45. Fixed on November 16, 2018 - Changed the line-height for the multimedia play overlay</li>
	<li>Item 41. Partially fix on November 14, 2018 - See item 44</li>
	<li>Item 42. Completed on Nomber 14, 2018 - WCAG assesment is available here: <a href="../evaluation-report/1-accessibility.html">evaluation-report/1-accessibility.html</a></li>
	<li>Item 44: Fixed on November 14, 2018 - The home page banner background image was updated a the main banner background is expected to be on the CDN at: https://cdn.canada.ca/gcweb-cdn-live/bkg-home-banner.jpg. That is why the fall-back image is not in-full quality.</li>
	<li>Item 36. Fixed on November 13, 2018 - The base padding on button was re-ajusted to ensure the minimal target size is 44 by 44 CSS pixel</li>
	<li>Item 37. Comment on November 13, 2018 - In order to meet "SC 1.4.12: Text spacing" and "SC 1.4.11. Non-text contrast" would require an extensive search in WET-BOEW and GCWeb. For text spacing a quick check reveal that several component overwride text spacing in various and inconsistant way. For Non-text Contrast a quick review of the understanding reveal that default bootstrap style, each component and each plugin would need to be reviewed to ensure their conformity. A considerable effort for analysing, implementing and testing are going to be required in order to meet those success criteria and to ensure consistance. Like to ensure the style of all input control are done the same way.</li>
	<li>Item 37. Partially fixed on November 13, 2018 - Search input placeholder text is now the same as the input label in order to meet SC 2.5.3: Label in Name.</li>
	<li>Item 40. Completed on November 13, 2018 - Moving the menuitem to be fetch instead of being hardcode fixed the majority of reported issue by whatwg validator and the aria attribute "aria-haspopup" value was changed to "true" instead of "menu".</li>
	<li>Item 39. Completed on November 9, 2018 - Menu item are now loaded via an Ajaxed file. The alternative solution of having all the menu item directly coded in the page work too.</li>
	<li>Item 9. Unable to reproduce on November 9, 2018 - Unable to reproduce that issue</li>
	<li>Item 4. Fixed on November 9, 2018 - Also it meets SC 1.4.13 of WCAG 2.1 Level AA. And preventing auto-closing/auto-open if the time of hovering is less than 350 milisecond. Fixed an issue about SC 1.4.4. Ensuring the menu separator orientation are properly adjusted for the keyboard nav with the most requested menu item. Removed global initial set for the "tabindex" on each menu item.</li>
	<li>Item 35. Fixed on November 9, 2018 - New CSS class added with working example and documentation. See the migration instruction for more details.</li>
	<li>Item 28. Not reproducible November 8, 2018 - Not able to reproduce that issue, it might got indirectly fixed by another fixed issue.</li>
	<li>Item 11. Comment on November 8, 2018 - The spacing are going to be confirmed by TBS if it is wrong.</li>
	<li>Item 31. Won't fix November 8, 2018 - That change are now scoped out because first that requirement don't belong to this new look and second, significant effort might be needed to resolve it.</li>
	<li>Item 23. Won't fix November 8, 2018 - Unless if we receive an official directive, this item would not be fixed</li>
	<li>Item 17, 18, 22, 24, 25, 26, 27, 33. Fixed on November 7, 2018 - Font size was adusted according to the specification sent by email. The "Theme, Home, Topic" is know as "secondary" content, but it might need to be reviewed to "page-type-nav" as that is more significative.</li>
	<li>Item 1. Partially fixed on November 5, 2018 - Short title for mobile was added in English, but we don't have yet the short menu item title for the French content.</li>
	<li>Item 33. Parially fixed on November 5, 2018 - The doormats heading size was put as the same as the heading level 5 (h5). Should we scope/wrap all those component with an unique CSS class in order to control more precisely their styling? That is not how it is currently done.</li>
	<li>Item 2. Fixed on November 2, 2018 - See Item 14</li>
	<li>Item 10. Fixed on November 2, 2018 - See Item 19</li>
	<li>Item 14. Fixed on November 2, 2018 - Keyboard navigation now take in considerate the orientation of menu separator.</li>
	<li>Item 15. Fixed on November 2, 2018 - Size for <code>h6</code> was changed for 17px.</li>
	<li>Item 16. Fixed on November 2, 2018 - The inner box size are not set to 75% in small and medium view</li>
	<li>Item 17. Fixed on November 2, 2018 - The font-size for the items under most requested was adjusted.</li>
	<li>Item 18. Fixed on November 2, 2018 - The CSS class <code>.h6</code> was applied for each dormat link title and the initiative item title.</li>
	<li>Item 19. Fixed on November 2, 2018 - A large margin bottom was added to the "Focus on" section.</li>
	<li>Item 20. Fixed on November 2, 2018 - Yes the image wasn't tall enought, I croped the image to a size 465x750 and now it scale and take the full height.</li>
	<li>Item 21. Fixed on November 2, 2018 - To note that in the Content and IA spec, figure 1 is outdated as per this requirement. See location of the illustrated date modified.</li>
	<li>Item 22. Fixed on November 2, 2018 - (Going to be fix later) We will apply a temporary an automated solution only for WMS, but for implementer outside WMS, this update will require a markup change for all Topic pages/Institutional/Theme pages. etc... because the dormat link size was set to the same height of an heading level 5, now if the requirement is to have it at 17px, that means they need to match the size of heading level 6 (<code>.h6</code>).</li>
	<li>
		<p>Item 23. Comment on November 2, 2018 - Before to use it, I recommend to look at it further. It is explicitly said that anti-aliasing CSS is not in a standard track and it is recommended to avoid. Currently that feature is only limited to webkit browser and FF by applying some prefix vendor. I didn't deeply research, but I can easily assume that if that feature was drop it is because maybe a similar effect can be acheived by using another methodoly. My recommendation before to set that CSS is to do a little bit more research and try to find out if there alternative solution that would be cross-browser compatible.</p>
		<p>See:</p>
		<ul>
			<li><q>Though present in early (2002) drafts of CSS3 Fonts, font-smooth has been removed from this specification and is currently not on the standard track.</q> - <a href="https://caniuse.com/#search=font-smoothing">https://caniuse.com/#search=font-smoothing</a></li>
			<li><q>This feature is non-standard and is not on a standards track. Do not use it on production sites facing the Web: it will not work for every user. There may also be large incompatibilities between implementations and the behavior may change in the future.</q> - <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/font-smooth">https://developer.mozilla.org/en-US/docs/Web/CSS/font-smooth</a></li>
			<li>Outdated working draft - W3C CSS font - <a href="https://www.w3.org/TR/WD-font/#font-smooth">https://www.w3.org/TR/WD-font/#font-smooth</a></li>
			<li>See also: <a href="http://usabilitypost.com/2012/11/05/stop-fixing-font-smoothing/">Please Stop "Fixing" Font Smoothing – UsabilityPost</a></li>
			<li>See also: <a href="https://www.zachleat.com/web/font-smooth/">Laissez-faire font smoothing and anti-aliasing</a></li>
		</ul>
		<p>The see also article make reference that playing with the anti-aliasing feature make the font more blury for use, so less readable.</p>
		<p>Recommendation: Won't fix unless if we have a confirmation this is an essential feature.</p>
	</li>
	<li>
		<p>Item 24. Comment on November 2, 2018 - Please provide the full list of the new font-size, that for each heading level, to use on small and extra small view.</p>
		<p>Currently it is set:</p>
		<ul>
			<li>h1: 38px</li>
			<li>h2: 37px</li>
			<li>h3: 28px</li>
			<li>h4: 23px</li>
			<li>h5: 20px</li>
			<li>h6: 17px</li>
		</ul>
	</li>
	<li>Item 28. Comment on November 2, 2018 - Can you re-test and provide more info on this issue, I know they were an issue for the  menu width for the demo page limited width content, but that was fixed by Item 6 and 7.</li>
	<li>Item 29. Fixed on November 2, 2018</li>
	<li>Item 6. Fixed on October 31, 2018</li>
	<li>Item 7. Fixed on October 31, 2018</li>
</ul>

<h2>Reported issue list</h2>

<ul>
	<li><strong>Partially fixed - Item 1.</strong> Content: Ensure the text for each first link change properly in mobile vs deskop. That is the first menu item in the popup side panel. (Menu level 2)</li>
	<li><del><strong>Fixed - Item 2.</strong> UX: On desktop, when the user click on the right arrow from an sub-menu item, excluding the first link, it go inside the first item in  the "most requested" sub-sub-menu. This need to be documented and described better</del></li>
	<li><strong>Item 3.</strong> Bug: Trivial/Minor. In FF only when we are in mobile mode. When navigation with a combinaison of keyboard and mouse, then we click on an menu item with the mouse, then the new page it show, then we use the "back" button of the browser. The focus are lost in FF. This is not happening in IE11. As FF for mobile have a low market share and this bug is only related to FF and this bug was only tested in desktop by trying to emulate mobile That is the reason it is a trivial priority bug.</li>
	<li><del><strong>Fixed - Item 4.</strong> Bug: The first menu item don't open on mouse hover. To reproduce: 1. Load the page; 2. Mouse hover the menu button; 3. Move the mouse gently to the first immediate menu item; 4. it's expected the sub menu will open; 5. The sub menu don't open; 6. If you hover any subsequent top menu item (like the following one) and then go back to the first menu item, the sub-menu open as it should be.</del></li>
	<li><del><strong>Fixed - Item 5.</strong> UI: On mobile mode (small view and bellow) the search button appear bellow the search field. It might be expected to always appear beside the search input field.</del></li>
	<li><del><strong>Fixed - Item 6.</strong> Bug: On the "Content limited width" page, the forced width conflict with the menu. The width should be changed for "max-width" and the effect should be limited to the content inside the main element.</del></li>
	<li><del><strong>Fixed - Item 7.</strong> Bug: On the "Content limited width" page, the hidden top skip link are not centered, but left aligned. Idem for when that page is in "Basic HTML mode", all the warning message are left aligned. It might be related to the other bug related ot the "Content limited width"</del></li>
	<li><strong>Item 8.</strong> Bug: On the main index page of GCWEb (/themes-dist/GCWeb/index-en.html) Using Chrome for mobile with a Samsung Galaxy S7 phone: An expanded menu item can't be collapsed. The most requested sub-menu should be collapsed by default in mobile, but it is expanded. That means the JS that colapse the most-requested menu do not fired correctly. However, there is no issue when mobile is emulated through desktop.</li>
	<li><del><strong>Unreproducible Item 9.</strong> ~Style: There is some blue mouse hover that appear, idem for when the link is mark as visited. I briefly saw that issue in IE11 but it need to be investigated more.</del></li>
	<li><del><strong>Fixed - Item 10.</strong> UI ~Bug: Inconsistent spacing between section. There is almost no space when you look at the right floating image after the section "On Focus" followed by the section "Your government". Suggestion to increase the spacing.</del></li>
	<li><del><strong>Comment - Item 11.</strong> ~Style: There is a large spacing between the main menu and the h1 of a content page in large/extra large view.</del></li>
	<li><strong>Item 12.</strong> Bug: The text can't be enlarged at 200% in IE11, but it work in FF. I got the same behaviour with WET theme and with the previous GCWeb theme.</li>
	<li>
		<p><strong>Item 13.</strong></p>
		<ul>
			<li>Home page : http://wet-boew.github.io/themes-dist/GCWeb/home-en.html</li>
			<li>Page d’accueil : http://wet-boew.github.io/themes-dist/GCWeb/home-fr.html</li>
		</ul>
		<p>The issue is encountered in the Firefox browser. The pages will lose the focus when I am using alternatively between the mouse and the keyboard navigation at the same time. For example: I load a page in the browser then navigate by keyboard and switch to the mouse. There is no problem but when I switch back to the keyboard the focus will be lost on the menubar (neither submenu). I will have nowhere to go unless I am refreshing the page. Good news is everything works fine in the IE.</p>
	</li>
	<li>
		<p><del><strong>Fixed - Item 14.</strong></del></p>
		<ul>
			<li><del>Content limited width : http://wet-boew.github.io/themes-dist/GCWeb/content-limit-en.html</del></li>
			<li><del>Contenue de largeur limité : http://wet-boew.github.io/themes-dist/GCWeb/content-limit-fr.html</del></li>
		</ul>
		<p><del>This issues are about the submenu in the menuitem when i navigate the menu by keyboard interaction. I am not able to switch back and forth between the “Most requested” and each “item” in the submenu by using the Right Arrow and Left Arrow. Even though, the “Most requested” and “item” in the submenu are the same level. I can only use the Up Arrow and Down Arrow to navigate from the top to the bottom and vice vesa.</del></p>
		<p><del>(Note that if the focus is either on any “item” in the submenu or on the “Most requested” then I hit Left Arrow that brings me back to the menuitem)</del></p>
	</li>

	<li><del><strong>Fixed - Item 15.</strong> Home page: red line under Canada.ca is supposed to be 4px thick</del></li>
	<li><del><strong>Fixed - Item 16.</strong> Home page: Tablet view - there's a point where the Canada.ca banner is cutting too small and the header is smaller than the body copy - it should still be running more or less full width.</del></li>
	<li><del><strong>Fixed - Item 17.</strong> Home page: Most requested font size - 16px in WET, should be 17px</del></li>
	<li><del><strong>Fixed - Item 18.</strong> Home page: Doormat font size - 20px in WET, should be 17px</del></li>
	<li><del><strong>Fixed - Item 19.</strong> Home page: Missing spacing between end of "Focus on" doormats and "Your government" section.</del></li>
	<li><del><strong>Fixed - Item 20.</strong> Home page: On tablet view, the "Your government image" should run to the top and bottom edge, not create a gap, is this because the image provided is not tall enough?</del></li>
	<li><del><strong>Fixed - Item 21.</strong> Home page: Date modified goes under Report a problem, as per latest spec</del></li>
	<li><del><strong>Fixed - Item 22.</strong> Topic pages/Institutional/Theme pages, etc: Doormat font size – 20px in WET, should be 17px</del></li>
	<li><del><strong>Fixed - Item 23.</strong> General fonts and such: Seems like anti-aliasing isn’t on – there are various settings in https://gc-proto.github.io/design-refresh/tests/cleanup4/css/desktop-mm.css related to that...like -webkit-font-smoothing: antialiased;</del></li>
	<li><del><strong>Comments - Item 24.</strong> The particularly important ones: We had headers/doormat paragraph change size for mobile to make them larger and easier to use:</del>
		<ul>
			<li><del><strong>Item 25:</strong> Right now on mobile the most requested is so small it’s difficult to use, it's supposed to scale up to 19px on mobile</del></li>
			<li><del><strong>Item 26:</strong> Doormat text is supposed to scale up to 19px on mobile</del></li>
			<li><del><strong>Item 27:</strong> Headers also have font size changes specified when on mobile.</del></li>
		</ul>
	</li>
	<li><del><strong>Comment - Item 28:</strong> Also on pages other than the homepage, the menu opens really wide before you select a theme.</del></li>
	<li><del><strong>Fixed - Item 29:</strong> Typo: was "The official website of the Governement of Canada"; should be: "The official website of the Government of Canada", There in not "e" between "n" and "m" in "Government"</del></li>
	<li><del><strong>Fixed Item 30:</strong> In GCWeb for maintenance - Remove any reference to "focuson" (files and i18n data) because that information wont be re-use.</del></li>
	<li><del><strong>Won't fix Item 31:</strong> Format the date modified like "{Full month} {Day number}, {4 digit year}". The previous date format would need to be set to the <code>datetime</code> attribute of the current <code>&lt;time&gt;</code> element.</del></li>
	<li><del><strong>Completed Item 32:</strong> Identify any potential conflict between this redesign and other WET plugin in this theme. Full list of plugins with this themes available : <a href="../demos/index-en.html">GCWeb - WET Plugin demos</a></del></li>
	<li><del><strong>Fixed - Item 33:</strong> Font size on the home page doormats. The link should be 21px in the prototype, and the description text 19px. In the WET version the description is larger than the heading, which makes it seems like something's wrong.</del></li>
	<li><del><strong>Done - Item 34:</strong> Do a comparaison between the GCWeb markup as released with v4.0.29 vs only the new CSS+JS applied with this new look. Add new item/issue here for each noticable difference.</del></li>
	<li><del><strong>Fixed Item 35:</strong> Add the "call-to-action" lime-green button. Wait for TBS confirmation is we are going to change the btn-primary or if we are going to create a new one.</del></li>
	<li><del><strong>Fixed Item 36:</strong> Change the minimum size of the search button and the input search field to meet WCAG 2.1 2.5.5 Target Size (Level AAA)</del></li>
	<li><del><strong>Partially fixed/Comment Item 37:</strong> Look at changes required to meet WCAG 2.1 for the following item</del>
		<ul>
			<li><del>1.4.11: Non-text Contrast</del></li>
			<li><del>1.4.12: Text spacing</del></li>
			<li><del><strong>Fixed</strong> 1.4.13: Content on Hover or Focus</del></li>
			<li><del><strong>Fixed</strong> 2.5.3: Label in Name</del></li>
			<li><del><strong>Fixed</strong> 2.5.5: Targe Size</del></li>
		</ul>
	</li>
	<li><strong>Item 38:</strong> Add keyboard shorcut nav, like focusing on menu item that match the keystrok. (Then SC 2.1.4 apply)</li>
	<li><del><strong>Fixed Item 39:</strong> Optimize the Menu caching and loading by using an AJAX call. This solution would also provide a way for implementer to insert the menu provided by the canada.ca content delivery network.</del></li>
	<li><del><strong>Fixed Item 40:</strong> Ensure the server served content for the gcweb theme validate against W3C and Whatwg validator</del></li>
	<li><strong>Item 41:</strong> Define CDN URL for the home page banner background image <del>(see item 44)</del> and for the new menu. A permanent path is needed for the following selector:
		<ul>
			<li><code>.home .home-banner { background-image:url(/content/dam/servcan/bkg-home-banner.jpg); }</code></li>
			<li><code>.home .home-your-gov { background-image:url(/content/dam/servcan/bkg-home-yourgov.jpg); }</code></li>
			<li><code>#wb-info .landscape { background-image:url(/content/dam/servcan/landscape.png); }</code></li>
			<li>Main menu English: <code>./ajax/sitemenu-v2-en.html</code></li>
			<li>Main menu French: <code>./ajax/sitemenu-v2-fr.html</code></li>
		</ul>
	</li>
	<li><del><strong>Completed Item 42:</strong> Do a WCAG assesment.</del></li>
	<li><strong>Item 43:</strong> Fix WCAG SC 1.4.4 Resize text issue with the select element. This issue need to be fixed upstream in wet-boew main project. Related to github issue <a href="https://github.com/wet-boew/wet-boew/issues/7884">#7884</a></li>
	<li><del><strong>Fixed Item 44:</strong> Update the home page banner background image</del></li>
	<li><del><strong>Fixed Item 45:</strong> Fix the vertical position of the play button in the multimedia player</del></li>
	<li><strong>Item 46:</strong> Apply various changes requested by email
		<ul>
			<li><del><strong>Fixed Item 47:</strong> Home page</del>
				<p><del>Changing font-size if no font smoothing</del></p>
				<ul>
					<li><del>Most Requested links are supposed to be "Lato"</del></li>
					<li><del>On mobile devices, the "Canada.ca" should run edge to edge. (img attached of what it should look like in mobile, and then on tablet)</del></li>
					<li><del>Government initiatives: font size in promos should be the same as doormats, right now they set with a small tag which is incorrect.</del></li>
					<li><del>Government initiatives: need a bit of right and left margin/padding to avoid tight text against the well (img attached of what it should look like)</del></li>
				</ul>
			</li>
			<li><del><strong>Fixed Item 48:</strong> Content page - limited width:</del>
				<ul>
					<li><del>We know you've set the max-width: 70ch, but when we look on several of our browsers and count the characters it's going to 86. Could we please set the max-width: 65ch to make things a bit tighter.</del></li>
					<li><del>Can we make sure the spacing from the top of a list is the same as the bottom of the list when it is followed by a paragraph? The margin/padding at the end of a list should be larger to match the space at the top. (img attached)</del></li>
				</ul>
			</li>
			<li><del><strong>Fixed Item 49:</strong> Content page:</del>
				<ul>
					<li><del>The call-to-action button should not be bold, and it should be set to "Lato".</del></li>
					<li><del>Heading 6 should be in "Lato" as well (same font size, no bold)</del></li>
				</ul>
			</li>
			<li><del><strong>Fixed Item 50:</strong> Institution and Institution arm’s length page/Organizational page:</del>
				<ul>
					<li><del>Doormat headers and text size should match theme page</del></li>
					<li><del>Bullet sizing and spacing size should match theme page</del></li>
					<li><del>News paragraph text size should be the size doormat text</del></li>
					<li><del>(Intro paragraph correctly stays the large paragraph style)</del></li>
				</ul>
			</li>
			<li><strong>Item 51:</strong> Service initiation templates and Service initiation template: single step page:
				<ul>
					<li>Colour for active page selection is now: #333</li>
					<li>Remove right column content (Guides and help, Contact, etc)</li>
					<li>Add char width restriction to these pages</li>
				</ul>
			</li>
			<li><del><strong>Fixed Item 52:</strong> Institutional service performance reporting page:</del>
				<ul>
					<li><del>Add char width restriction to this page</del></li>
				</ul>
			</li>
			<li><strong>Item 53:</strong> Act profile page and Regulation profile page:
				<ul>
					<li>“Learn more about…” doormat headers and text size should match theme page</li>
					<li>Add char width restriction to this page within the tabs</li>
				</ul>
			</li>
			<li><del><strong>Fixed Item 54:</strong> GC/Audience page:</del>
				<ul>
					<li><del>Doormat headers and text size should match theme page</del></li>
					<li><del>(Intro paragraph correctly stays the large paragraph style)</del></li>
				</ul>
			</li>
			<li><strong>Item 55:</strong> Campaign page example 1 and 2:
				<ul>
					<li>Doormat headers and text size should match theme page</li>
					<li>(Intro paragraph correctly stays the large paragraph style)</li>
				</ul>
			</li>
			<li><del><strong>Fixed Item 56:</strong> Event page:</del>
				<ul>
					<li><del>Doormat headers and text size should match theme page</del></li>
				</ul>
			</li>
			<li><del><strong>Fixed Item 57:</strong> Long index page:</del>
				<ul>
					<li><del>Add char width restriction to this page</del></li>
				</ul>
			</li>
			<li><del><strong>Fixed Item 58:</strong> Feedback form page:</del>
				<ul>
					<li><del>Add char width restriction to this page</del></li>
				</ul>
			</li>
			<li><del><strong>Fixed Item 59:</strong> Components page:</del>
				<ul>
					<li><del>Add char width restriction to this page</del></li>
				</ul>
			</li>
			<li><strong>Comment Item 60:</strong> General:
				<ul>
					<li><del>Additional space needed between "Menu" button and the breadcrumb trail  (img attached)</del></li>
					<li><del>Submit buttons should be styled the same as the "call to action".</del> See Item 64.</li>
					<li><del>Set no common ligatures for all headers/Lato fonts [Clarification (Nov 27): add the CSS <code>font-variant-ligatures: no-common-ligatures;</code> to heading elements]</del></li>
					<li><del>The char max-width should be the default for any pages that have paragraphs currently running the full width</del></li>
				</ul>
			</li>
			<li><strong>Comment Item 61:</strong> Special CSS style consideration for defined content-width restriction pages:
				<ul>
					<li>When a page has the <code>&lt;body class=”cnt-wdth-lmtd”&gt;</code> we’d like all the h2s, except the first child (the first h2 on the page), to have additional spacing at the top (all other h2s below). See example here of what that looks like: <a href="https://gc-proto.github.io/student-loans/scenarioA/services/benefits/student-aid/repay-student-loan.html">https://gc-proto.github.io/student-loans/scenarioA/services/benefits/student-aid/repay-student-loan.html</a></li>
				</ul>
			</li>
		</ul>
	</li>
	<li><strong>Item 62</strong> I remarked a font blinking on page force reload. I think it is cause by the delay to download and apply the google font at the current page. So it need to be investigated but for people with slow internet connection might perceive a font blinking. It is just blinking once so it don't necessary fail SC 2.3.1.</li>
	<li><del><strong>Fixed Item 63</strong> Set a max-width for heading for pages with content width limited. The value are the following:</del>
		<ul>
			<li><del>h2 - 33ch</del></li>
			<li><del>h3 - 50ch</del></li>
			<li><del>h4 - 59ch</del></li>
			<li><del>h5 - 65ch</del></li>
			<li><del>h6 - 65ch</del></li>
			<li><del>li - 63ch</del></li>
		</ul>
	</li>
	<li><strong>Item 64</strong> Set the submit buttons style the same as the "call to action". It will be preferable to get a confirmation if we force that style to any submit button, even if they already have a style like "btn-primary" on it.
		<p>Styling by default any submit button might had a huge impact on overall form. Additional test case is required showing all the various way a submit button can be used. The current issue is the new margin specified with the "call-to-action" button style conflict how the margin is done for other "input/select/..." forms elements</p>
		<ul>
			<li>Get a confirmation if that style must overwrite any existing style</li>
			<li>Create a series of test cases</li>
			<li>Adjust the style for a smooth migration</li>
		</ul>
		<p>Here the CSS when we all the test case would be ready:</p>
		<pre><code>// File: src/buttons/_base.scss
.btn, button[type=submit].btn, input[type=submit].btn {
	font-family: Lato, sans-serif; // same font as %defaults-alternative-font-family
	font-size: 1.1em;
	margin-bottom: 25px;
	margin-top: 15px;
	padding: .5em 1em;
}

input[type=submit].btn {
	padding-bottom: 2em;
}

/* Call-to-action button style - new with GCWeb v2 */
.btn-call-to-action, button[type=submit].btn, input[type=submit].btn {
	@include button-variant( #fff, #318000, #458259 );
	text-shadow: 1px 2px #333;
}</code></pre>
<p>Code for <code>content-en.html</code> file</p>
<pre><code>&lt;h3&gt;Submit button&lt;/h3&gt;
&lt;p&gt;Submit button are now enforced with the "Call to action" button style&lt;/p&gt;
&lt;div class="row"&gt;
	&lt;div class="col-sm-6"&gt;
		&lt;h3&gt;With a &lt;code&gt;&amp;lt;button&amp;gt;&lt;/code&gt; element&lt;/h3&gt;
		&lt;button class="btn" type="submit"&gt;[Submit (with btn class)]&lt;/button&gt;
		&lt;pre&gt;&lt;code&gt;&amp;lt;button class="btn" type="submit"&amp;gt;[Submit (with btn class)]&amp;lt;/button&amp;gt;&lt;/code&gt;&lt;/pre&gt;
		&lt;button type="submit"&gt;[Submit (no CSS class)]&lt;/button&gt;
		&lt;pre&gt;&lt;code&gt;&amp;lt;button type="submit"&amp;gt;[Submit (no CSS class)]&amp;lt;/button&amp;gt;&lt;/code&gt;&lt;/pre&gt;
		&lt;button class="btn btn-primary" type="submit"&gt;[Submit (primary class)]&lt;/button&gt;
		&lt;pre&gt;&lt;code&gt;&amp;lt;button class="btn btn-primary" type="submit"&amp;gt;[Submit (primary class)]&amp;lt;/button&amp;gt;&lt;/code&gt;&lt;/pre&gt;
	&lt;/div&gt;
	&lt;div class="col-sm-6"&gt;
		&lt;h3&gt;With a &lt;code&gt;&amp;lt;input /&amp;gt;&lt;/code&gt; element&lt;/h3&gt;
		&lt;input class="btn" type="submit" value="[Submit (with btn class)]" /&gt;
		&lt;pre&gt;&lt;code&gt;&amp;lt;input class="btn" type="submit" value="[Submit (with btn class)]" /&amp;gt;&lt;/code&gt;&lt;/pre&gt;
		&lt;input type="submit" value="[Submit (no CSS class)]" /&gt;
		&lt;pre&gt;&lt;code&gt;&amp;lt;input type="submit" value="[Submit (no CSS class)]" /&amp;gt;&lt;/code&gt;&lt;/pre&gt;
		&lt;input class="btn btn-primary" type="submit" value="[Submit (primary class)]" /&gt;
		&lt;pre&gt;&lt;code&gt;&amp;lt;input class="btn btn-primary" type="submit" value="[Submit (primary class)]" /&amp;gt;&lt;/code&gt;&lt;/pre&gt;
	&lt;/div&gt;
&lt;/div&gt;</code></pre>
<p>Code for <code>content-fr.html</code> file</p>
<pre><code>&lt;h3&gt;Bouton de soumission&lt;/h3&gt;
&lt;p&gt;Le style des boutons de soumission sont mise en force avec le style du bouton d'appel à l'action.&lt;/p&gt;
&lt;div class="row"&gt;
	&lt;div class="col-sm-6"&gt;
		&lt;h3&gt;With a &lt;code&gt;&amp;lt;button&amp;gt;&lt;/code&gt; element&lt;/h3&gt;
		&lt;button class="btn" type="submit"&gt;[Soumission (avec la classe CSS btn)]&lt;/button&gt;
		&lt;pre&gt;&lt;code&gt;&amp;lt;button class="btn" type="submit"&amp;gt;[Soumission (avec la classe CSS btn)]&amp;lt;/button&amp;gt;&lt;/code&gt;&lt;/pre&gt;
		&lt;button type="submit"&gt;[Soumission (sans classe CSS)]&lt;/button&gt;
		&lt;pre&gt;&lt;code&gt;&amp;lt;button type="submit"&amp;gt;[Soumission (sans classe CSS)]&amp;lt;/button&amp;gt;&lt;/code&gt;&lt;/pre&gt;
		&lt;button class="btn btn-primary" type="submit"&gt;[Soumission (primary classe CSS)]&lt;/button&gt;
		&lt;pre&gt;&lt;code&gt;&amp;lt;button class="btn btn-primary" type="submit"&amp;gt;[Soumission (primary classe CSS)]&amp;lt;/button&amp;gt;&lt;/code&gt;&lt;/pre&gt;
	&lt;/div&gt;
	&lt;div class="col-sm-6"&gt;
		&lt;h3&gt;With a &lt;code&gt;&amp;lt;input /&amp;gt;&lt;/code&gt; element&lt;/h3&gt;
		&lt;input class="btn" type="submit" value="[Soumission (avec la classe CSS btn)]" /&gt;
		&lt;pre&gt;&lt;code&gt;&amp;lt;input class="btn" type="submit" value="[Soumission (avec la classe CSS btn)]" /&amp;gt;&lt;/code&gt;&lt;/pre&gt;
		&lt;input type="submit" value="[Soumission (sans classe CSS)]" /&gt;
		&lt;pre&gt;&lt;code&gt;&amp;lt;input type="submit" value="[Soumission (sans classe CSS)]" /&amp;gt;&lt;/code&gt;&lt;/pre&gt;
		&lt;input class="btn btn-primary" type="submit" value="[Soumission (primary classe CSS)]" /&gt;
		&lt;pre&gt;&lt;code&gt;&amp;lt;input class="btn btn-primary" type="submit" value="[Soumission (primary classe CSS)]" /&amp;gt;&lt;/code&gt;&lt;/pre&gt;
	&lt;/div&gt;
&lt;/div&gt;</code></pre>
	</li>
	<li><del><strong>Fixed Item 65</strong> Add and documents a new CSS class to undo the new font-style in order to let implementer to adapt their content to the new font.</del></li>
	<li><strong>Item 66</strong> Apply the new font style to form and to all buttons. <del>Remove the style as temporary measure</del> because label didn't aligned well with their input controler, idem for check box of an input type checkbox/radio.</li>
	<li><del><strong>Fixed Item 67</strong> Improve the SEO for the menu button. Add at least, in each page, the top menu item (themes)</del></li>
	<li><del><strong>Fixed Item 68</strong> Font size of blockquote content didn't match the new default text-size.</del></li>
	<li><del><strong>Fixed Item 69</strong> Adjust the pause icon of the carousel to be middle aligned with the text "Pause"</del></li>
</ul>
