---
{
	"title": "From examples - test cases",
	"language": "en",
	"altLangPrefix": "test-case-1",
	"breadcrumb": [
		{ "title": "GCWeb home", "link": "../index-en.html" }
	],
	"secondlevel": false,
	"dateModified": "2018-12-10",
	"share": "true"
}
---

<div class="alert alert-info">
	<p>This page was created for testing purposes. The content of the page does not have to comply with WCAG 2.0 standards.</p>
</div>
<h2 id="basic">Basic use</h2>
<div class="row">
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-body">
				<h5 class="mrgn-tp-0">Appearance</h5>
				<form method="get" action="#">
					<div class="form-group">
						<label for="exampleInputEmail1">Email address</label>
						<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" />
					</div>
					<div class="form-group">
						<label for="exampleInputPassword1">Password</label>
						<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" />
					</div>
					<div class="form-group">
						<label for="exampleInputFile">File input</label>
						<input type="file" id="exampleInputFile" />
					</div>
					<div class="checkbox">
						<label>
							<input type="checkbox" />
							Check me out</label>
					</div>
					<button type="submit" class="btn btn-default">Submit</button>
				</form>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<h5 class="mrgn-tp-0 text-success"><span class="glyphicon glyphicon-ok-circle"></span> View in FireFox</h5>
		<img class="img-responsive" src="assets-test-cases/1-capture-1.png" alt="" />
	</div>
	<div class="col-md-4">
		<h5 class="mrgn-tp-0 text-success"><span class="glyphicon glyphicon-ok-circle"></span> View in IE</h5>
		<img class="img-responsive" src="assets-test-cases/1-capture-1-ie.png" alt="" />
	</div>
</div>
<h4 id="labels"><span class="fa-stack"><span class="fa fa-circle fa-stack-2x"></span><span class="fa fa-align-left fa-stack-1x fa-inverse"></span></span> Labels</h4>
<div class="row">
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-body">
				<h5 class="mrgn-tp-0">Appearance</h5>
				<form>
					<div class="form-group">
						<label for="label-1-0">Label 1</label>
						<input type="text" size="10" id="label-1-0" name="label-1-0" class="form-control" />
					</div>
					<div class="form-group">
						<label for="label-2-0">Label 2</label>
						<input type="password" size="10" id="label-2-0" name="label-2-0" class="form-control" />
					</div>
				</form>
				<h5 class="mrgn-tp-0">Alignment option 1 − Placed on top </h5>
				<hr>
				<form>
					<div class="form-group">
						<label for="label-1-1">Label 1</label>
						<input type="text" size="10" id="label-1-1" name="label-1-1" class="form-control" />
					</div>
					<div class="form-group">
						<label for="label-2-1">Label 2</label>
						<input type="password" size="10" id="label-2-1" name="label-2-1" class="form-control" />
					</div>
				</form>
				<hr>
				<h5 class="mrgn-tp-0">Alignment option 2 − Aligned right </h5>
				<form action="#" method="get" class="form-horizontal">
					<div class="form-group">
						<label class="col-sm-4 control-label" for="label-1-2">Label 1</label>
						<div class="col-md-8">
							<input type="text" class="form-control" name="label-1-2" id="label-1-2" size="10">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label" for="label-2-2">Label 2</label>
						<div class="col-md-8">
							<input type="password" class="form-control" name="label-2-2" id="label-2-2" size="10">
						</div>
					</div>
				</form>
				<hr>
				<h5 class="mrgn-tp-0"><span class="glyphicon glyphicon-remove-circle text-danger"></span> Alignment option 3 − Aligned left</h5>
				<form action="#" method="get" class="form-horizontal">
					<div class="form-group">
						<label class="col-sm-4" for="label-1-3">Label 1</label>
						<div class="col-md-8">
							<input type="text" class="form-control" name="label-1-3" id="label-1-3" size="10">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4" for="label-2-3">Label 2</label>
						<div class="col-md-8">
							<input type="password" class="form-control" name="label-2-3" id="label-2-3" size="10">
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<h5 class="mrgn-tp-0 text-success"><span class="glyphicon glyphicon-ok-circle"></span> View in FireFox</h5>
		<img class="img-responsive" src="assets-test-cases/1-capture-2.png" alt="" />
	</div>
	<div class="col-md-4">
		<h5 class="mrgn-tp-0 text-success"><span class="glyphicon glyphicon-ok-circle"></span> View in IE</h5>
		<img class="img-responsive" src="assets-test-cases/1-capture-2-ie.png" alt="" />
	</div>
</div>
<h4 id="inputs"><span class="fa-stack"><span class="fa fa-circle fa-stack-2x"></span><span class="fa fa-square-o fa-stack-1x fa-inverse"></span></span> Inputs</h4>
<p>Use text-based input fields (most common form control). This includes support for all HTML5 types: <code>text</code>, <code>password</code>, <code>datetime</code>, <code>datetime-local</code>, <code>date</code>, <code>month</code>, <code>time</code>, <code>week</code>, <code>number</code>, <code>email</code>, <code>url</code>, <code>search</code>, <code>tel</code>, and <code>color</code>.</p>
<div class="row">
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-body">
				<h5 class="mrgn-tp-0">Appearance <code>type="text"</code></h5>
				<h6>Input field</h6>
				<form >
					<input type="text" class="form-control" placeholder="(placeholder text)" />
				</form>
				<form >
					<h6>Input field with a Search button</h6>
					<label for="btngrp-search2" class="wb-inv">Search</label>
					<div class="input-group mrgn-tp-md">
						<input name="text" type="text" class="form-control" id="btngrp-search2" placeholder="(placeholder text)" />
						<span class="input-group-btn">
						<button type="button" class="btn btn-default">Search</button>
						</span></div>
				</form>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<h5 class="mrgn-tp-0 text-success"><span class="glyphicon glyphicon-ok-circle"></span> View in FireFox</h5>
		<img class="img-responsive" src="assets-test-cases/1-capture-3.png" alt="" /> </div>
	<div class="col-md-4">
		<h5 class="mrgn-tp-0 text-success"><span class="glyphicon glyphicon-ok-circle"></span> View in IE</h5>
		<img class="img-responsive" src="assets-test-cases/1-capture-3-ie.png" alt="" /> </div>
</div>
<div class="row">
	<!-- 1 -->
	<div class="row mrgn-tp-lg">
		<div class="col-md-4">
			<div class="panel-body">
				<h5 class="mrgn-tp-0">Appearance <code>type="password"</code></h5>
				<h6>Input field</h6>
				<form>
					<input type="password" class="form-control" placeholder="(placeholder password)">
				</form>
				<form>
					<h6>Input field with a Search button</h6>
					<label for="btngrp-search3" class="wb-inv">Search</label>
					<div class="input-group mrgn-tp-md">
						<input name="password" type="password" class="form-control" id="btngrp-search3" placeholder="(placeholder password)">
						<span class="input-group-btn">
						<button type="button" class="btn btn-default">Search</button>
						</span></div>
				</form>
			</div>
		</div>
		<div class="col-md-4">
			<h5 class="mrgn-tp-0 text-success"><span class="glyphicon glyphicon-ok-circle"></span> View in FireFox</h5>
			<img class="img-responsive" src="assets-test-cases/1-sc-1.png" alt="" /> </div>
		<div class="col-md-4">
			<h5 class="mrgn-tp-0 text-success"><span class="glyphicon glyphicon-ok-circle"></span> View in IE</h5>
			<img class="img-responsive" src="assets-test-cases/1-sc-1-ie.png" alt="" /> </div>
	</div>
	<!-- 2 -->
	<div class="row mrgn-tp-lg">
		<div class="col-md-4">
			<div class="panel-body">
				<h5 class="mrgn-tp-0">Appearance <code>type="datetime"</code></h5>
				<h6>Input field</h6>
				<form>
					<input type="datetime" class="form-control">
				</form>
				<form>
					<h6>Input field with a Search button</h6>
					<label for="btngrp-search4" class="wb-inv">Search</label>
					<div class="input-group mrgn-tp-md">
						<input name="datetime" type="datetime" class="form-control" id="btngrp-search4">
						<span class="input-group-btn">
						<button type="button" class="btn btn-default">Search</button>
						</span></div>
				</form>
			</div>
		</div>
		<div class="col-md-4">
			<h5 class="mrgn-tp-0 text-success"><span class="glyphicon glyphicon-ok-circle"></span> View in FireFox</h5>
			<img class="img-responsive" src="assets-test-cases/1-sc-2.png" alt="" /> </div>
		<div class="col-md-4">
			<h5 class="mrgn-tp-0 text-success"><span class="glyphicon glyphicon-ok-circle"></span> View in IE</h5>
			<img class="img-responsive" src="assets-test-cases/1-sc-2-ie.png" alt="" /> </div>
	</div>
	<!-- 3 -->
	<div class="row mrgn-tp-lg">
		<div class="col-md-4">
			<div class="panel-body">
				<h5 class="mrgn-tp-0">Appearance <code>type="datetime-local"</code></h5>
				<h6>Input field</h6>
				<form>
					<input type="datetime-local" class="form-control">
				</form>
				<form>
					<h6>Input field with a Search button</h6>
					<label for="btngrp-search5" class="wb-inv">Search</label>
					<div class="input-group mrgn-tp-md">
						<input name="datetime-local" type="datetime-local" class="form-control" id="btngrp-search5">
						<span class="input-group-btn">
						<button type="button" class="btn btn-default">Search</button>
						</span></div>
				</form>
			</div>
		</div>
		<div class="col-md-4">
			<h5 class="mrgn-tp-0 text-success"><span class="glyphicon glyphicon-ok-circle"></span> View in FireFox</h5>
			<img class="img-responsive" src="assets-test-cases/1-sc-3.png" alt="" /> </div>
		<div class="col-md-4">
			<h5 class="mrgn-tp-0 text-success"><span class="glyphicon glyphicon-ok-circle"></span> View in IE</h5>
			<img class="img-responsive" src="assets-test-cases/1-sc-3-ie.png" alt="" /> </div>
	</div>
	<!-- 4 -->
	<div class="row mrgn-tp-lg">
		<div class="col-md-4">
			<div class="panel-body">
				<h5 class="mrgn-tp-0">Appearance <code>type="date"</code></h5>
				<h6>Input field</h6>
				<form>
					<input type="date" class="form-control">
				</form>
				<form>
					<h6>Input field with a Search button</h6>
					<label for="btngrp-search6" class="wb-inv">Search</label>
					<div class="input-group mrgn-tp-md">
						<input name="date" type="date" class="form-control" id="btngrp-search6">
						<span class="input-group-btn">
						<button type="button" class="btn btn-default">Search</button>
						</span></div>
				</form>
			</div>
		</div>
		<div class="col-md-4">
			<h5 class="mrgn-tp-0 text-success"><span class="glyphicon glyphicon-ok-circle"></span> View in FireFox</h5>
			<img class="img-responsive" src="assets-test-cases/1-sc-4.png" alt="" /> </div>
		<div class="col-md-4">
			<h5 class="mrgn-tp-0 text-success"><span class="glyphicon glyphicon-ok-circle"></span> View in IE</h5>
			<img class="img-responsive" src="assets-test-cases/1-sc-4-ie.png" alt="" /> </div>
	</div>
	<!-- 5 -->
	<div class="row mrgn-tp-lg">
		<div class="col-md-4">
			<div class="panel-body">
				<h5 class="mrgn-tp-0">Appearance <code>type="month"</code></h5>
				<h6>Input field</h6>
				<form>
					<input type="month" class="form-control">
				</form>
				<form>
					<h6>Input field with a Search button</h6>
					<label for="btngrp-search7" class="wb-inv">Search</label>
					<div class="input-group mrgn-tp-md">
						<input name="month" type="month" class="form-control" id="btngrp-search7">
						<span class="input-group-btn">
						<button type="button" class="btn btn-default">Search</button>
						</span></div>
				</form>
			</div>
		</div>
		<div class="col-md-4">
			<h5 class="mrgn-tp-0 text-success"><span class="glyphicon glyphicon-ok-circle"></span> View in FireFox</h5>
			<img class="img-responsive" src="assets-test-cases/1-sc-5.png" alt="" /> </div>
		<div class="col-md-4">
			<h5 class="mrgn-tp-0 text-success"><span class="glyphicon glyphicon-ok-circle"></span> View in IE</h5>
			<img class="img-responsive" src="assets-test-cases/1-sc-5-ie.png" alt="" /> </div>
	</div>
	<!-- 6 -->
	<div class="row mrgn-tp-md">
		<div class="col-md-4">
			<div class="panel-body">
				<h5 class="mrgn-tp-0">Appearance <code>type="time"</code></h5>
				<h6>Input field</h6>
				<form>
					<input type="time" class="form-control">
				</form>
				<form>
					<h6>Input field with a Search button</h6>
					<label for="btngrp-search8" class="wb-inv">Search</label>
					<div class="input-group mrgn-tp-md">
						<input name="time" type="time" class="form-control" id="btngrp-search8">
						<span class="input-group-btn">
						<button type="button" class="btn btn-default">Search</button>
						</span></div>
				</form>
			</div>
		</div>
		<div class="col-md-4">
			<h5 class="mrgn-tp-0 text-success"><span class="glyphicon glyphicon-ok-circle"></span> View in FireFox</h5>
			<img class="img-responsive" src="assets-test-cases/1-sc-6.png" alt="" /> </div>
		<div class="col-md-4">
			<h5 class="mrgn-tp-0 text-success"><span class="glyphicon glyphicon-ok-circle"></span> View in IE</h5>
			<img class="img-responsive" src="assets-test-cases/1-sc-6-ie.png" alt="" /> </div>
	</div>
	<!-- 7 -->
	<div class="row mrgn-tp-lg">
		<div class="col-md-4 mrgn-tp-md">
			<div class="panel-body">
				<h5 class="mrgn-tp-0">Appearance <code>type="week"</code></h5>
				<h6>Input field</h6>
				<form>
					<input type="week" class="form-control">
				</form>
				<form>
					<h6>Input field with a Search button</h6>
					<label for="btngrp-search9" class="wb-inv">Search</label>
					<div class="input-group mrgn-tp-md">
						<input name="week" type="week" class="form-control" id="btngrp-search9">
						<span class="input-group-btn">
						<button type="button" class="btn btn-default">Search</button>
						</span></div>
				</form>
			</div>
		</div>
		<div class="col-md-4">
			<h5 class="mrgn-tp-0 text-success"><span class="glyphicon glyphicon-ok-circle"></span> View in FireFox</h5>
			<img class="img-responsive" src="assets-test-cases/1-sc-7.png" alt="" /> </div>
		<div class="col-md-4">
			<h5 class="mrgn-tp-0 text-success"><span class="glyphicon glyphicon-ok-circle"></span> View in IE</h5>
			<img class="img-responsive" src="assets-test-cases/1-sc-7-ie.png" alt="" /> </div>
	</div>
	<!-- 9 -->
	<div class="row mrgn-tp-lg">
		<div class="col-md-4">
			<div class="panel-body">
				<h5 class="mrgn-tp-0">Appearance <code>type="number"</code></h5>
				<h6>Input field</h6>
				<form>
					<input type="number" class="form-control">
				</form>
				<form>
					<h6>Input field with a Search button</h6>
					<label for="btngrp-search10" class="wb-inv">Search</label>
					<div class="input-group mrgn-tp-md">
						<input name="number" type="number" class="form-control" id="btngrp-search10">
						<span class="input-group-btn">
						<button type="button" class="btn btn-default">Search</button>
						</span></div>
				</form>
			</div>
		</div>
		<div class="col-md-4">
			<h5 class="mrgn-tp-0 text-success"><span class="glyphicon glyphicon-ok-circle"></span> View in FireFox</h5>
			<img class="img-responsive" src="assets-test-cases/1-sc-8.png" alt="" /> </div>
		<div class="col-md-4">
			<h5 class="mrgn-tp-0 text-success"><span class="glyphicon glyphicon-ok-circle"></span> View in IE</h5>
			<img class="img-responsive" src="assets-test-cases/1-sc-8-ie.png" alt="" /> </div>
	</div>
	<!-- 10 -->
	<div class="row mrgn-tp-lg">
		<div class="col-md-4">
			<div class="panel-body">
				<h5 class="mrgn-tp-0">Appearance <code>type="email"</code></h5>
				<h6>Input field</h6>
				<form>
					<input type="email" class="form-control" placeholder="(placeholder email)">
				</form>
				<form>
					<h6>Input field with a Search button</h6>
					<label for="btngrp-search11" class="wb-inv">Search</label>
					<div class="input-group mrgn-tp-md">
						<input name="email" type="email" class="form-control" id="btngrp-search11" placeholder="(placeholder email)">
						<span class="input-group-btn">
						<button type="button" class="btn btn-default">Search</button>
						</span></div>
				</form>
			</div>
		</div>
		<div class="col-md-4">
			<h5 class="mrgn-tp-0 text-success"><span class="glyphicon glyphicon-ok-circle"></span> View in FireFox</h5>
			<img class="img-responsive" src="assets-test-cases/1-sc-9.png" alt="" /> </div>
		<div class="col-md-4">
			<h5 class="mrgn-tp-0 text-success"><span class="glyphicon glyphicon-ok-circle"></span> View in IE</h5>
			<img class="img-responsive" src="assets-test-cases/1-sc-9-ie.png" alt="" /> </div>
	</div>
	<!-- 11 -->
	<div class="row mrgn-tp-lg">
		<div class="col-md-4">
			<div class="panel-body">
				<h5 class="mrgn-tp-0">Appearance <code>type="url"</code></h5>
				<h6>Input field</h6>
				<form>
					<input type="url" class="form-control" placeholder="(placeholder url)">
				</form>
				<form>
					<h6>Input field with a Search button</h6>
					<label for="btngrp-search12" class="wb-inv">Search</label>
					<div class="input-group mrgn-tp-md">
						<input name="url" type="url" class="form-control" id="btngrp-search12" placeholder="(placeholder url)">
						<span class="input-group-btn">
						<button type="button" class="btn btn-default">Search</button>
						</span></div>
				</form>
			</div>
		</div>
		<div class="col-md-4">
			<h5 class="mrgn-tp-0 text-success"><span class="glyphicon glyphicon-ok-circle"></span> View in FireFox</h5>
			<img class="img-responsive" src="assets-test-cases/1-sc-10.png" alt="" /> </div>
		<div class="col-md-4">
			<h5 class="mrgn-tp-0 text-success"><span class="glyphicon glyphicon-ok-circle"></span> View in IE</h5>
			<img class="img-responsive" src="assets-test-cases/1-sc-10-ie.png" alt="" /> </div>
	</div>
	<!-- 12 -->
	<div class="row mrgn-tp-lg">
		<div class="col-md-4">
			<div class="panel-body">
				<h5 class="mrgn-tp-0">Appearance <code>type="search"</code></h5>
				<h6>Input field</h6>
				<form>
					<input type="search" class="form-control" placeholder="(placeholder search)">
				</form>
				<form>
					<h6>Input field with a Search button</h6>
					<label for="btngrp-search13" class="wb-inv">Search</label>
					<div class="input-group mrgn-tp-md">
						<input name="search" type="search" class="form-control" id="btngrp-search13" placeholder="(placeholder search)">
						<span class="input-group-btn">
						<button type="button" class="btn btn-default">Search</button>
						</span></div>
				</form>
			</div>
		</div>
		<div class="col-md-4">
			<h5 class="mrgn-tp-0 text-success"><span class="glyphicon glyphicon-ok-circle"></span> View in FireFox</h5>
			<img class="img-responsive" src="assets-test-cases/1-sc-11.png" alt="" /> </div>
		<div class="col-md-4">
			<h5 class="mrgn-tp-0 text-success"><span class="glyphicon glyphicon-ok-circle"></span> View in IE</h5>
			<img class="img-responsive" src="assets-test-cases/1-sc-11-ie.png" alt="" /> </div>
	</div>
	<!--13 -->
	<div class="row mrgn-tp-lg">
		<div class="col-md-4">
			<div class="panel-body">
				<h5 class="mrgn-tp-0">Appearance <code>type="tel"</code></h5>
				<h6>Input field</h6>
				<form>
					<input type="tel" class="form-control" placeholder="(placeholder tel)">
				</form>
				<form>
					<h6>Input field with a tel button</h6>
					<label for="btngrp-search14" class="wb-inv">Search</label>
					<div class="input-group mrgn-tp-md">
						<input name="tel" type="tel" class="form-control" id="btngrp-search14" placeholder="(placeholder tel)">
						<span class="input-group-btn">
						<button type="button" class="btn btn-default">Search</button>
						</span></div>
				</form>
			</div>
		</div>
		<div class="col-md-4">
			<h5 class="mrgn-tp-0 text-success"><span class="glyphicon glyphicon-ok-circle"></span> View in FireFox</h5>
			<img class="img-responsive" src="assets-test-cases/1-sc-12.png" alt="" /> </div>
		<div class="col-md-4">
			<h5 class="mrgn-tp-0 text-success"><span class="glyphicon glyphicon-ok-circle"></span> View in IE</h5>
			<img class="img-responsive" src="assets-test-cases/1-sc-12-ie.png" alt="" /> </div>
	</div>
	<!-- 14 -->
	<div class="row mrgn-tp-lg">
		<div class="col-md-4">
			<div class="panel-body">
				<h5 class="mrgn-tp-0">Appearance <code>type="color"</code></h5>
				<h6>Input field</h6>
				<form>
					<input type="color" class="form-control">
				</form>
				<form>
					<h6>Input field with a color button</h6>
					<label for="btngrp-search15" class="wb-inv">Search</label>
					<div class="input-group mrgn-tp-md">
						<input name="color" type="color" class="form-control" id="btngrp-search15">
						<span class="input-group-btn">
						<button type="button" class="btn btn-default">Search</button>
						</span></div>
				</form>
			</div>
		</div>
		<div class="col-md-4">
			<h5 class="mrgn-tp-0 text-success"><span class="glyphicon glyphicon-ok-circle"></span> View in FireFox</h5>
			<img class="img-responsive" src="assets-test-cases/1-sc-13.png" alt="" /> </div>
		<div class="col-md-4">
			<h5 class="mrgn-tp-0 text-success"><span class="glyphicon glyphicon-ok-circle"></span> View in IE</h5>
			<img class="img-responsive" src="assets-test-cases/1-sc-13-ie.png" alt="" /> </div>
	</div>
</div>
<h4 id="textarea"><span class="fa-stack"><span class="fa fa-circle fa-stack-2x"></span><span class="fa fa-square-o fa-stack-1x fa-inverse"></span></span> Textarea</h4>
<div class="row">
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-body">
				<h5 class="mrgn-tp-0">Appearance</h5>
				<form method="get" action="#">
					<textarea class="form-control" rows="3"></textarea>
				</form>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<h5 class="mrgn-tp-0 text-success"><span class="glyphicon glyphicon-ok-circle"></span> View in FireFox</h5>
		<img class="img-responsive" src="assets-test-cases/1-capture-4.png" alt="" /> </div>
	<div class="col-md-4">
		<h5 class="mrgn-tp-0 text-success"><span class="glyphicon glyphicon-ok-circle"></span> View in IE</h5>
		<img class="img-responsive" src="assets-test-cases/1-capture-4-ie.png" alt="" /> </div>
</div>
<h4 id="checkboxes"><span class="fa-stack"><span class="fa fa-circle fa-stack-2x"></span><span class="fa fa-check-square-o fa-stack-1x fa-inverse"></span></span> Checkboxes</h4>
<div class="row">
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-body">
				<h5 class="mrgn-tp-0">Appearance</h5>
				<h6>Default checkboxes</h6>
				<div class="checkbox">
					<label>
						<input type="checkbox" value="">
						Option 1</label>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox" value="">
						Option 2</label>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox" value="" >
						Option 3</label>
				</div>
				<hr>
				<h6>Inline checkboxes</h6>
				<label class="checkbox-inline">
					<input type="checkbox" value="">
					Option 1</label>
				<label class="checkbox-inline">
					<input type="checkbox" value="">
					Option 2</label>
				<label class="checkbox-inline">
					<input type="checkbox" value="">
					Option 3</label>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<h5 class="mrgn-tp-0 text-success"><span class="glyphicon glyphicon-ok-circle"></span> View in FireFox</h5>
		<img class="img-responsive" src="assets-test-cases/1-capture-5.png" alt="" /> </div>
	<div class="col-md-4">
		<h5 class="mrgn-tp-0 text-success"><span class="glyphicon glyphicon-ok-circle"></span> View in IE</h5>
		<img class="img-responsive" src="assets-test-cases/1-capture-5-ie.png" alt="" /> </div>
</div>
<h4 id="radio"><span class="fa-stack"><span class="fa fa-circle fa-stack-2x"></span><span class="fa fa-circle-o fa-stack-1x fa-inverse"></span></span> Radio buttons</h4>
<div class="row">
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-body">
				<h5 class="mrgn-tp-0">Appearance</h5>
				<h6>Radio buttons</h6>
				<div class="radio">
					<label>
						<input type="radio" name="optradio">
						Option 1</label>
					<div class="radio disabled">
						<label>
							<input type="radio" name="optradio" disabled>
							Option 3</label>
					</div>
				</div>
				<div class="radio">
					<label>
						<input type="radio" name="optradio">
						Option 2</label>
				</div>
				<hr>
				<h6>Inline radio buttons</h6>
				<label class="radio-inline">
					<input type="radio" name="optradio">
					Option 1</label>
				<label class="radio-inline">
					<input type="radio" name="optradio">
					Option 2</label>
				<label class="radio-inline">
					<input type="radio" name="optradio">
					Option 3</label>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<h5 class="mrgn-tp-0 text-success"><span class="glyphicon glyphicon-ok-circle"></span> View in FireFox</h5>
		<img class="img-responsive" src="assets-test-cases/1-capture-6.png" alt="" /> </div>
	<div class="col-md-4">
		<h5 class="mrgn-tp-0 text-success"><span class="glyphicon glyphicon-ok-circle"></span> View in IE</h5>
		<img class="img-responsive" src="assets-test-cases/1-capture-6-ie.png" alt="" /> </div>
</div>
<h4 id="selects"><span class="fa-stack"><span class="fa fa-circle fa-stack-2x"></span><span class="fa fa-caret-square-o-down fa-stack-1x fa-inverse"></span></span> Selects</h4>
<div class="row">
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-body">
				<h5 class="mrgn-tp-0">Appearance</h5>
				<h6>Dropdown list with single option view</h6>
				<form method="get" action="#">
					<select class="form-control">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
					</select>
					<hr>
					<h6>Dropdown list with multi-option view</h6>
					<select multiple="multiple" class="form-control">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
					</select>
				</form>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<h5 class="mrgn-tp-0 text-success"><span class="glyphicon glyphicon-ok-circle"></span> View in FireFox</h5>
		<img class="img-responsive" src="assets-test-cases/1-capture-7.png" alt="" /> </div>
	<div class="col-md-4">
		<h5 class="mrgn-tp-0 text-success"><span class="glyphicon glyphicon-ok-circle"></span> View in IE</h5>
		<img class="img-responsive" src="assets-test-cases/1-capture-7-ie.png" alt="" /> </div>
</div>
<h3 id="enhanced">Enhanced use</h3>
<h4 id="forms-horizontal"><span class="fa-stack"><span class="fa fa-circle fa-stack-2x"></span><span class="fa fa-th-list fa-stack-1x fa-inverse"></span></span> Horizontal form</h4>
<div class="row">
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-body">
				<h5 class="mrgn-tp-0">Appearance</h5>
				<form class="form-horizontal" method="get" action="#">
					<div class="form-group">
						<label for="inputEmail3" class="col-sm-4 control-label">Email</label>
						<div class="col-sm-8">
							<input type="email" class="form-control" id="inputEmail3" placeholder="Email" />
						</div>
					</div>
					<div class="form-group">
						<label for="inputPassword3" class="col-sm-4 control-label">Password</label>
						<div class="col-sm-8">
							<input type="password" class="form-control" id="inputPassword3" placeholder="Password" />
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-4 col-sm-8">
							<div class="checkbox">
								<label>
									<input type="checkbox" />
									Remember me</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-4 col-sm-8">
							<button type="submit" class="btn btn-default">Sign in</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<h5 class="mrgn-tp-0 text-success"><span class="glyphicon glyphicon-ok-circle"></span> View in FireFox</h5>
		<img class="img-responsive" src="assets-test-cases/1-capture-8.png" alt="" /> </div>
	<div class="col-md-4">
		<h5 class="mrgn-tp-0 text-success"><span class="glyphicon glyphicon-ok-circle"></span> View in IE</h5>
		<img class="img-responsive" src="assets-test-cases/1-capture-8-ie.png" alt="" /> </div>
</div>
<h4 id="forms-inline"><span class="fa-stack"><span class="fa fa-circle fa-stack-2x"></span><span class="fa fa-ellipsis-h fa-stack-1x fa-inverse"></span></span> Inline	form</h4>
<div class="row">
	<div class="col-md-8">
		<div class="panel panel-default">
			<div class="panel-body">
				<h5 class="mrgn-tp-0">Appearance</h5>
				<form class="form-inline" method="get" action="#">
					<div class="form-group">
						<label class="wb-inv" for="exampleInputEmail2">Email address</label>
						<input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email" />
					</div>
					<div class="form-group">
						<label class="wb-inv" for="exampleInputPassword2">Password</label>
						<input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password" />
					</div>
					<div class="checkbox">
						<label>
							<input type="checkbox" />
							Remember me</label>
					</div>
					<button type="submit" class="btn btn-default">Sign in</button>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-8">
		<h5 class="mrgn-tp-0 text-success"><span class="glyphicon glyphicon-ok-circle"></span> View in FireFox</h5>
		<img class="img-responsive" src="assets-test-cases/1-capture-9.png" alt="" /> </div>
</div>
<div class="row">
	<div class="col-md-8 mrgn-tp-lg">
		<h5 class="mrgn-tp-0 text-success"><span class="glyphicon glyphicon-ok-circle"></span> View in IE</h5>
		<img class="img-responsive" src="assets-test-cases/1-capture-9-ie.png" alt="" /> </div>
</div>
<h4	id="forms-controls-static"><span class="fa-stack"><span class="fa fa-circle fa-stack-2x"></span><span class="glyphicon glyphicon-eye-open fa-stack-1x fa-inverse"></span></span> Static control</h4>
<div class="row">
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-body">
				<h5 class="mrgn-tp-0">Appearance</h5>
				<form class="form-horizontal" method="get" action="#">
					<div class="form-group">
						<label for="emailReadonly" class="col-sm-4 control-label">Email</label>
						<div class="col-sm-8">
							<input type="email" readonly id="emailReadonly" value="email@example.com" />
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<h5 class="mrgn-tp-0 text-success"><span class="glyphicon glyphicon-ok-circle"></span> View in FireFox</h5>
		<img class="img-responsive" src="assets-test-cases/1-capture-10.png" alt="" /> </div>
	<div class="col-md-4">
		<h5 class="mrgn-tp-0 text-success"><span class="glyphicon glyphicon-ok-circle"></span> View in IE</h5>
		<img class="img-responsive" src="assets-test-cases/1-capture-10-ie.png" alt="" /> </div>
</div>
<h4 id="forms-control-disabled"><span class="fa-stack"><span class="fa fa-circle fa-stack-2x"></span><span class="fa fa-ban fa-stack-1x fa-inverse"></span></span> Disabled state</h4>
<div class="row">
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-body">
				<h5 class="mrgn-tp-0">Appearance</h5>
				<form method="get" action="#">
					<fieldset disabled>
						<div class="form-group">
							<label for="disabledTextInput">Disabled input</label>
							<input type="text" id="disabledTextInput" class="form-control" placeholder="Disabled input" />
						</div>
						<div class="form-group">
							<label for="disabledSelect">Disabled select menu</label>
							<select id="disabledSelect" class="form-control">
								<option>Disabled select</option>
							</select>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox" />
								Can't check this</label>
						</div>
						<button type="submit" class="btn btn-primary">Submit</button>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<h5 class="mrgn-tp-0 text-success"><span class="glyphicon glyphicon-ok-circle"></span> View in FireFox</h5>
		<img class="img-responsive" src="assets-test-cases/1-capture-11.png" alt="" /> </div>
	<div class="col-md-4">
		<h5 class="mrgn-tp-0 text-success"><span class="glyphicon glyphicon-ok-circle"></span> View in IE</h5>
		<img class="img-responsive" src="assets-test-cases/1-capture-11-ie.png" alt="" /> </div>
</div>
<h4 id="height"><span class="fa-stack"><span class="fa fa-circle fa-stack-2x"></span><span class="fa fa-arrows-v fa-stack-1x fa-inverse"></span></span> Set height</h4>
<div class="row">
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-body">
				<h5 class="mrgn-tp-0">Appearance</h5>
				<form method="get" action="#">
					<div class="controls">
						<label for="form-input-lg" class="wb-inv"><code>input-lg</code> class on an input element</label>
						<input name="text2" type="text" class="form-control input-lg mrgn-bttm-md" id="form-input-lg" placeholder="input-lg" />
						<label for="form-input-md" class="wb-inv">Default input element</label>
						<input type="text" class="form-control mrgn-bttm-md" id="form-input-md" placeholder="Default input" />
						<label for="form-input-sm" class="wb-inv"><code>input-sm</code> class on an input element</label>
						<input class="form-control input-sm mrgn-bttm-md" type="text" id="form-input-sm" placeholder="input-sm" />
						<label for="form-select-lg" class="wb-inv"><code>input-lg</code> class on a select element</label>
						<select class="form-control input-lg mrgn-bttm-md" id="form-select-lg">
							<option value="">.input-lg</option>
						</select>
						<label for="form-select-md" class="wb-inv">Default select element</label>
						<select class="form-control mrgn-bttm-md" id="form-select-md">
							<option value="">Default select</option>
						</select>
						<label for="form-select-sm" class="wb-inv"><code>input-sm</code> class on a select element</label>
						<select class="form-control input-sm mrgn-bttm-md" id="form-select-sm">
							<option value="">.input-sm</option>
						</select>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<h5 class="mrgn-tp-0 text-success"><span class="glyphicon glyphicon-ok-circle"></span> View in FireFox</h5>
		<img class="img-responsive" src="assets-test-cases/1-capture-12.png" alt="" /> </div>
	<div class="col-md-4">
		<h5 class="mrgn-tp-0 text-success"><span class="glyphicon glyphicon-ok-circle"></span> View in IE</h5>
		<img class="img-responsive" src="assets-test-cases/1-capture-12-ie.png" alt="" /> </div>
</div>
<h4 id="width"><span class="fa-stack"><span class="fa fa-circle fa-stack-2x"></span><span class="fa fa-arrows-h fa-stack-1x fa-inverse"></span></span> Set width</h4>
<div class="row">
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-body">
				<h5 class="mrgn-tp-0">Appearance</h5>
				<form method="get" action="#">
					<div class="row">
						<div class="col-xs-4">
							<label for="form-input-col-xs-4" class="wb-inv"><code>col-xs-4</code> class on the parent element</label>
							<input type="text" class="form-control" id="form-input-col-xs-4" placeholder="col-xs-4" />
						</div>
						<div class="col-xs-8">
							<label for="form-input-col-xs-8" class="wb-inv"><code>col-xs-8</code> class on the parent element</label>
							<input type="text" class="form-control" id="form-input-col-xs-8" placeholder="col-xs-8" />
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<h5 class="mrgn-tp-0 text-success"><span class="glyphicon glyphicon-ok-circle"></span> View in FireFox</h5>
		<img class="img-responsive" src="assets-test-cases/1-capture-13.png" alt="" /> </div>
	<div class="col-md-4">
		<h5 class="mrgn-tp-0 text-success"><span class="glyphicon glyphicon-ok-circle"></span> View in IE</h5>
		<img class="img-responsive" src="assets-test-cases/1-capture-13-ie.png" alt="" /> </div>
</div>
<h4 id="fieldset"><span class="fa-stack"><span class="fa fa-circle fa-stack-2x"></span></span> Fieldsets Borders</h4>
<p>By default a single <code>fieldset/legend</code> has no top border. Each fieldset after the first <code>fieldset/legend</code> well have a border to sperate the two fieldsets. This can be changed by using <code>.legend-brdr-bttm</code> class on the <code>&lt;fieldset&gt;</code> to create a border under each <code>&lt;legend&gt;</code>.</p>
<div class="row">
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-body">
				<h5 class="mrgn-tp-0">Appearance</h5>
				<form class="form-horizontal" method="get" action="#">
					<fieldset class="legend-brdr-bttm">
						<legend>Identification Information</legend>
						<div class="form-group">
							<label for="inputFullName" class="col-sm-4 control-label">Full Name</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" id="inputFullName" placeholder="Full Name" />
							</div>
						</div>
						<div class="form-group">
							<label for="dob" class="col-sm-4 control-label">Date of Birth <span class="datepicker-format"> (YYYY-MM-DD)</span></label>
							<div class="col-sm-8">
								<input class="form-control" id="dob" name="dob" type="date" />
							</div>
						</div>
					</fieldset>
					<fieldset class="legend-brdr-bttm">
						<legend>Contact Information</legend>
						<div class="form-group">
							<label for="tel1" class="col-sm-4 control-label">Telephone number</label>
							<div class="col-sm-8">
								<input class="form-control" id="tel1" name="tel1" type="tel" />
							</div>
						</div>
						<div class="form-group">
							<label for="inputEmail4" class="col-sm-4 control-label">Email</label>
							<div class="col-sm-8">
								<input type="email" class="form-control" id="inputEmail4" placeholder="Email" />
							</div>
						</div>
					</fieldset>
					<div class="form-group">
						<div class="col-sm-offset-4 col-sm-8">
							<button type="submit" class="btn btn-default">Sign Up</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<h5 class="mrgn-tp-0 text-success"><span class="glyphicon glyphicon-ok-circle"></span> View in FireFox</h5>
		<img class="img-responsive" src="assets-test-cases/1-capture-14.png" alt="" /> </div>
	<div class="col-md-4">
		<h5 class="mrgn-tp-0 text-success"><span class="glyphicon glyphicon-ok-circle"></span> View in IE</h5>
		<img class="img-responsive" src="assets-test-cases/1-capture-14-ie.png" alt="" /> </div>
</div>
<div class="row">
	<hr>
	<h2>Affiliates – form</h2>
	<p>Are you interested in supporting on a priority or project in your area of expertise? Tell us a bit about yourself, and if an opportunity arises, we will notify you.</p>
	<div class="wb-frmvld">
		<form action="/cgi-bin/prca.pl" method="post" id="retreat" enctype="multipart/form-data">
			<div class="row">
				<div class="col-md-4">
					<div class="form-group">
						<label for="eaddress" class="required"><span class="field-name">Email</span> <strong class="required">(required)</strong></label>
						<input class="form-control full-width" id="eaddress" name="eaddress" type="email" required="required" />
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<label for="fname" class="required"><span class="field-name">First Name</span> <strong class="required">(required)</strong></label>
						<input class="form-control full-width" id="fname" name="fname" type="text" required="required"/>
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<label for="lname" class="required"><span class="field-name">Last Name</span> <strong class="required">(required)</strong></label>
						<input class="form-control full-width" id="lname" name="lname" type="text" required="required"	/>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="form-group">
						<label for="title" class="required"><span class="field-name">Title</span> <strong class="required">(required)</strong></label>
						<input class="form-control full-width" id="title" name="title" type="text" required="required"/>
					</div>
				</div>
				<div class="col-md-8">
					<div class="form-group">
						<label for="org" class="required"><span class="field-name">University/Organization</span> <strong class="required">(required)</strong></label>
						<input class="form-control full-width" id="org" name="org" type="text" required="required" />
					</div>
				</div>
			</div>
			<fieldset>
				<legend>Area of expertise:</legend>
				<div class="form-group">
					<label class="checkbox-inline" for="chbox1">
					<input type="checkbox" name="expertise-bi" id="chbox1" value="Behavioural Insights">
					<strong>Behavioural Insights</strong></label>
					<label class="checkbox-inline" for="chbox2">
					<input type="checkbox" name="expertise-im" id="chbox2" value="Impact Measurement">
					<strong>Impact Measurement</strong></label>
					<label class="checkbox-inline" for="chbox3">
					<input type="checkbox" name="expertise-if" id="chbox3" value="Innovative Finance">
					<strong>Innovative Finance</strong></label>
					<label class="checkbox-inline" for="chbox4">
					<input type="checkbox" name="expertise-ds" id="chbox4" value="Data Science">
					<strong>Data Science</strong></label>
					<label class="checkbox-inline" for="chbox5">
					<input type="checkbox" name="expertise-pc" id="chbox5" value="Prize and Challenges">
					<strong>Prize and Challenges</strong></label>
				</div>
				<div class="form-group">
					<label for="expertise-other" class="wb-inv"><span class="field-name">Other</span></label>
					<input class="form-control full-width" id="expertise-other" name="expertise-other" type="text" placeholder="Other area of expertise"/>
				</div>
			</fieldset>
			<fieldset>
				<legend>Any other skills or research interests you would like us to know about?</legend>
				<div class="form-group">
					<label for="other-skills" class="wb-inv">Other skills or research interests</label>
					<textarea class="form-control full-width" rows="5" id="other-skills" name="other-skills" maxlength="1440"></textarea>
				</div>
			</fieldset>
			<div class="form-group	brdr-tp">
				<label for="file" class="mrgn-tp-md"><span class="field-name">Upload your CV here</span></label>
				<input class="" id="file" name="file" type="file" />
			</div>
			<div class="form-group brdr-tp">
				<div class="mrgn-tp-md">
					<button class="btn btn-primary" type="submit">Submit</button>
					<button class="btn btn-link" type="reset">Reset</button>
				</div>
			</div>
		</form>
	</div>
	<h5 class="mrgn-tp-0 text-success"><span class="glyphicon glyphicon-ok-circle"></span> View in FireFox</h5>
	<img class="img-responsive" src="assets-test-cases/1-sc-14.png" alt="" /> </div>
<h5 class="mrgn-tp-0 text-success mrgn-tp-lg"><span class="glyphicon glyphicon-ok-circle"></span> View in IE</h5>
<img class="img-responsive" src="assets-test-cases/1-sc-14-ie.png" alt="" />
</div>
