---
{
	"title": "Migration instruction - GCWeb theme V2",
	"language": "en",
	"altLangPrefix": "v2-migration",
	"breadcrumb": [
		{ "title": "GCWeb home", "link": "../index-en.html" },
		{ "title": "Theme meta", "link": "index.html" }
	],
	"secondlevel": false,
	"dateModified": "2018-11-02",
	"share": "true"
}
---
<div class="wb-prettify all-pre hide"></div>

<p>On this page:</p>

<ul>
	<li><a href="#pg-footer">Page footer</a></li>
	<li><a href="#pg-header">Page header</a></li>
	<li><a href="#pg-menu">Menu</a></li>
	<li><a href="#pg-home">Home Page</a></li>
	<li><a href="#pg-spcd-2">Double space for list</a></li>
	<li><a href="#pg-list">Responsive list</a></li>
	<li><a href="#pg-linkfigure">Linked figure design pattern</a></li>
	<li><a href="#content-limit">Limited width content</a></li>
	<li><a href="#pg-type">Navigation pages, Theme, Topic, Home,...</a></li>
	<li><a href="#call-to-action">Call to action button</a></li>
	<li><a href="#otherDiff">Other notable difference</a></li>
</ul>


<h2 id="pg-footer">Page footer</h2>

<h3>How to update</h3>
<ul>
	<li>Wrap the first navigation with a "div.landscape"</li>
	<li>Cleanup: Remove the aria role "contentinfo" on the footer element</li>
	<li>Cleanup: Remove the aria role "navigation" on the nav element</li>
</ul>

<h3>Migration notes</h3>
<ul>
	<li>The new look would be only effective after the markup change is completed</li>
	<li>If the markup change is not completed, the original style will continue to be applied</li>
</ul>

<h3>Markup before</h3>
<pre><code>&lt;footer role="contentinfo" id="wb-info"&gt;
	&lt;nav role="navigation" class="container wb-navcurr"&gt;
		&lt;h2 class="wb-inv"&gt;[[{i18n "tmpl-about-government"]]}&lt;/h2&gt;
		[[footercontent]]
	&lt;/nav&gt;
	[[footerbrand]]
&lt;/footer&gt;</code></pre>

<h3>Updated markup</h3>
<pre><code>&lt;footer id="wb-info"&gt;
	&lt;div class="landscape"&gt;
		&lt;nav class="container wb-navcurr"&gt;
			&lt;h2 class="wb-inv"&gt;[[{i18n "tmpl-about-government"]]}&lt;/h2&gt;
			[[footercontent]]
		&lt;/nav&gt;
	&lt;/div&gt;
	[[footerbrand]]
&lt;/footer&gt;</code></pre>


<h2 id="pg-header">Page header</h2>

<h3>How to update</h3>
<ul>
	<li>Change the CSS class on the left top FIP and on the Search section</li>
	<li>Remove the "mobile menu" div placeholder.</li>
	<li>Update the JS</li>
	<li>Update the markup for the menu, the new menu are independent from the previous one</li>
	<li>Update the attribute on the input search field.</li>
</ul>

<h3>Migration notes</h3>
<ul>
	<li>The home page need to include an additional CSS class in order to style the menu differently. Like to add the CSS class "home" to the "<code>&lt;body&gt;</code>" element.</li>
	<li>The color for the search button would be automated updated when the new style is applied.</li>
	<li>Menu, see the following section for more details
		<ul>
			<li>The new menu style is applied when the CSS class <code>gcweb-v2</code> is applied to the navigation section of the main menu.
				<ul>
					<li>You will notice the "border-top" is added at the top of the menu.</li>
					<li>You will notice the new styling for the menu button.</li>
					<li>This new menu require to update theme.min.js</li>
					<li>It don't use the menu plugin in WET.</li>
				</ul>
			</li>
		</ul>
	</li>
	<li>Main body remove the unnecessary aria role [role=main] set on the &lt;main&gt; element.</li>
	<li>Review the text for skip link, they were a change a year ago to change 'Skip: "About this site"' for 'Skip: "About government"'. In French it is from 'Passer à « À propos de ce site »' for 'Passer à « Au sujet du gouvernement »'</li>
</ul>

<h3>Markup before</h3>
<pre><code>&lt;header role="banner"&gt;
	&lt;div id="wb-bnr" class="container"&gt;
		&lt;section id="wb-lng" class="visible-md visible-lg text-right"&gt;
			&lt;h2 class="wb-inv"&gt;Language selection&lt;/h2&gt;
			&lt;div class="row"&gt;
				&lt;div class="col-md-12"&gt;
					&lt;ul class="list-inline margin-bottom-none"&gt;
						[[List of available language]]
					&lt;/ul&gt;
				&lt;/div&gt;
			&lt;/div&gt;
		&lt;/section&gt;
		&lt;div class="row"&gt;
			&lt;div class="brand col-xs-8 col-sm-9 col-md-6"&gt;
				&lt;a href="https://www.canada.ca/en.html"&gt;&lt;img src="./GCWeb/assets/sig-blk-en.svg" alt=""&gt;&lt;span class="wb-inv"&gt; Government of Canada / &lt;span lang="fr"&gt;Gouvernement du Canada&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;
			&lt;/div&gt;
			&lt;section class="wb-mb-links col-xs-4 col-sm-3 visible-sm visible-xs" id="wb-glb-mn"&gt;
				&lt;h2&gt;Search and menus&lt;/h2&gt;
				&lt;ul class="list-inline text-right chvrn"&gt;
				&lt;li&gt;&lt;a href="#mb-pnl" title="Search and menus" aria-controls="mb-pnl" class="overlay-lnk" role="button"&gt;&lt;span class="glyphicon glyphicon-search"&gt;&lt;span class="glyphicon glyphicon-th-list"&gt;&lt;span class="wb-inv"&gt;Search and menus&lt;/span&gt;&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
				&lt;/ul&gt;
				&lt;div id="mb-pnl"&gt;&lt;/div&gt;
			&lt;/section&gt;
			&lt;section id="wb-srch" class="col-xs-6 text-right visible-md visible-lg"&gt;
				&lt;h2&gt;Search&lt;/h2&gt;
				&lt;form action="#" method="post" name="cse-search-box" role="search" class="form-inline"&gt;
					&lt;div class="form-group"&gt;

						[[Custom block as per your search implementation]]

						&lt;label for="wb-srch-q" class="wb-inv"&gt;Search website&lt;/label&gt;
						&lt;input id="wb-srch-q" list="wb-srch-q-ac" class="wb-srch-q form-control" name="q" type="search" value="" size="27" maxlength="150" placeholder="Search Canada.ca" /&gt;
						&lt;datalist id="wb-srch-q-ac"&gt;
							&lt;!--[if lte IE 9]&gt;&lt;select&gt;&lt;![endif]--&gt;
							&lt;!--[if lte IE 9]&gt;&lt;/select&gt;&lt;![endif]--&gt;
						&lt;/datalist&gt;
					&lt;/div&gt;
					&lt;div class="form-group submit"&gt;
						&lt;button type="submit" id="wb-srch-sub" class="btn btn-primary btn-small" name="wb-srch-sub"&gt;&lt;span class="glyphicon-search glyphicon"&gt;&lt;/span&gt;&lt;span class="wb-inv"&gt;Search&lt;/span&gt;&lt;/button&gt;
					&lt;/div&gt;
				&lt;/form&gt;
			&lt;/section&gt;
		&lt;/div&gt;
	&lt;/div&gt;
	[[ Menu]]
	&lt;nav role="navigation" id="wb-bc" property="breadcrumb"&gt;
		&lt;h2&gt;You are here:&lt;/h2&gt;
		&lt;div class="container"&gt;
			&lt;div class="row"&gt;
				&lt;ol class="breadcrumb"&gt;
					[[ Breadcrumb items]]
				&lt;/ol&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/nav&gt;
&lt;/header&gt;</code></pre>

<h3>Updated markup</h3>
<ul>
	<li>Removal of CSS visibility class to #wb-lng</li>
	<li>Removal of the CSS grid (2 div) in #wb-lng</li>
	<li>Remove unnecessary role (banner, navigation)</li>
	<li>Search and menus section (.wb-mb-links) was removed</li>
	<li>Column definition (CSS class) was updated on the top left brand logo</li>
	<li>Removal of the <code>div.row</code> wrapping the breadcrumb ordered list</li>
	<li>Major remake of the Menu. The menu bar (mega menu) has changed to a menu button (top menu).</li>
	<li>On the input search field, change the attribute maxlength to "170"</li>
	<li>On the input search field, change the attribute size to "34"</li>
	<li>The label for the search input field has changed to be same as the placeholder text.</li>
	<li>The IE 9 conditional comment inside the datalist element was removed because IE 9 is not supported</li>
	<li>The CSS class <code>wb-inv</code> are removed from the breadcrumb. It's not required because it's default style is the same as applying the CSS class <code>wb-inv</code>.</li>
	<li>The submit button surrounding HTML remain the same as before.</li>
	<li>The label and the placeholder of the input are now the same exact text. "Search Canada.ca" and "Rechercher dans Canada.ca"</li>
</ul>

<pre><code>&lt;header role="banner"&gt;
	&lt;div id="wb-bnr" class="container"&gt;
		&lt;section id="wb-lng" class="text-right"&gt;
			&lt;h2 class="wb-inv"&gt;Language selection&lt;/h2&gt;
			&lt;ul class="list-inline margin-bottom-none"&gt;
				[[List of available language]]
			&lt;/ul&gt;
		&lt;/section&gt;
		&lt;div class="row"&gt;
			&lt;div class="brand col-xs-5 col-md-4"&gt;
				&lt;a href="https://www.canada.ca/en.html"&gt;&lt;img src="./GCWeb/assets/sig-blk-en.svg" alt=""&gt;&lt;span class="wb-inv"&gt; Government of Canada / &lt;span lang="fr"&gt;Gouvernement du Canada&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;
			&lt;/div&gt;
			&lt;section id="wb-srch" class="col-lg-8 text-right visible-md visible-lg"&gt;
				&lt;h2&gt;Search&lt;/h2&gt;
				&lt;form action="#" method="post" name="cse-search-box" role="search" class="form-inline"&gt;
					&lt;div class="form-group"&gt;

						[[Custom block as per your search implementation]]

						&lt;label for="wb-srch-q" class="wb-inv"&gt;Search Canada.ca&lt;/label&gt;
						&lt;input id="wb-srch-q" list="wb-srch-q-ac" class="wb-srch-q form-control" name="q" type="search" value="" size="34" maxlength="170" placeholder="Search Canada.ca" /&gt;
						&lt;datalist id="wb-srch-q-ac"&gt;
						&lt;/datalist&gt;
					&lt;/div&gt;
					&lt;div class="form-group submit"&gt;
						&lt;button type="submit" id="wb-srch-sub" class="btn btn-primary btn-small" name="wb-srch-sub"&gt;&lt;span class="glyphicon-search glyphicon"&gt;&lt;/span&gt;&lt;span class="wb-inv"&gt;Search&lt;/span&gt;&lt;/button&gt;
					&lt;/div&gt;
				&lt;/form&gt;
			&lt;/section&gt;
		&lt;/div&gt;
	&lt;/div&gt;
	[[ Menu]]
	&lt;nav id="wb-bc" property="breadcrumb"&gt;
		&lt;h2&gt;You are here:&lt;/h2&gt;
		&lt;div class="container"&gt;
			&lt;ol class="breadcrumb"&gt;
				[[ Breadcrumb items]]
			&lt;/ol&gt;
		&lt;/div&gt;
	&lt;/nav&gt;
&lt;/header&gt;</code></pre>



<h2 id="#pg-menu">Menu</h2>

<h3>How to update</h3>
<ul>
	<li>An initial menu with the content and the markup would be available</li>
	<li>The following is to provide guidance on how it can be updated</li>
</ul>

<h3>Migration notes</h3>
<ul>
	<li>The new markup are provided in the following section.</li>
</ul>

<h3>Technical notes</h3>
<ul>
	<li>The menu was designed similary like the menu design pattern from WAI-ARIA 1.1</li>
	<li>The double role on list item in the menu was added as suggested by the W3C validator because the <code>role=none</code> are not widely supported yet.</li>
	<li>Originally the attribute <code>aria-haspopup</code> was set with the value <code>menu</code>. But in order to pass the whatwg validation, when the markup are validated as output by the server, as a best practice because w3c , the value of aria-haspopup was change to true. As per the WAI-ARIA 1.1 spec. the value <code>true</code> is equivalent to setting the value <code>menu</code> - <a href="https://www.w3.org/TR/wai-aria-1.1/#aria-haspopup">https://www.w3.org/TR/wai-aria-1.1/#aria-haspopup</a> (Note the validation, as per WCAG 2.0 and WCAG 2.1 should be done after all JS has run and the DOM is mark "ready". Also the DOM markup should validate after any DOM manipulation that are happing in the page)</li>
	<li>The menu item focus are managed by using a Roving tabindex. - <a href="https://www.w3.org/TR/wai-aria-practices-1.1/#kbd_roving_tabindex">https://www.w3.org/TR/wai-aria-practices-1.1/#kbd_roving_tabindex</a></li>
	<li>
		<p>There is a confusion in the WAI-ARIA practice 1.1 vs WAI-ARIA 1.1 spec.</p>
		<ul>
			<li>
				<p>it's said: WAI-ARIA practice <a href="https://www.w3.org/TR/wai-aria-practices-1.1/#wai-aria-roles-states-and-properties-12">https://www.w3.org/TR/wai-aria-practices-1.1/#wai-aria-roles-states-and-properties-12</a></p>
				<p><q>5th bullet items that the [role=menuitem] has the [aria-expanded] state</q></p>
			</li>
			<li>
				<p>it's said: <a href="https://www.w3.org/TR/wai-aria-1.1/#aria-expanded">https://www.w3.org/TR/wai-aria-1.1/#aria-expanded</a></p>
				<p><q>That states is only applicable (Inherits into Roles) for [role=menu] and [role=menubar]. This don't include [role=menuitem]</q></p>
			</li>
			<li>
				<p>it's illustrated: <a href="https://www.w3.org/TR/wai-aria-practices-1.1/examples/menubar/menubar-2/menubar-2.html">https://www.w3.org/TR/wai-aria-practices-1.1/examples/menubar/menubar-2/menubar-2.html</a></p>
				<p><q>That the item with the [role=menuitem] has the [aria-expanded] state.</q></p>
			</li>
		</ul>
		<p>So, we need to check the mailing list and the bug list to know if that was notified to W3C WAI group. If not we need to notify them.</p>
		<p>For now, we implement the pattern as illustrated by WAI-ARIA Practice 1.1.</p>
	</li>
</ul>

<h3>Menu markup before</h3>
<pre><code>&lt;nav role="navigation" id="wb-sm" data-ajax-replace="./ajax/sitemenu-en.html" data-trgt="mb-pnl" class="wb-menu visible-md visible-lg" typeof="SiteNavigationElement"&gt;
	&lt;div class="container nvbar"&gt;
	&lt;h2&gt;Topics menu&lt;/h2&gt;
	&lt;div class="row"&gt;
	&lt;ul class="list-inline menu"&gt;
	&lt;li&gt;&lt;a href="https://www.canada.ca/en/services/jobs.html"&gt;Jobs&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a href="https://www.canada.ca/en/services/immigration-citizenship.html"&gt;Immigration&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a href="https://travel.gc.ca/"&gt;Travel&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a href="https://www.canada.ca/en/services/business.html"&gt;Business&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a href="https://www.canada.ca/en/services/benefits.html"&gt;Benefits&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a href="https://www.canada.ca/en/services/health.html"&gt;Health&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a href="https://www.canada.ca/en/services/taxes.html"&gt;Taxes&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a href="https://www.canada.ca/en/services.html"&gt;More services&lt;/a&gt;&lt;/li&gt;
	&lt;/ul&gt;
	&lt;/div&gt;
	&lt;/div&gt;
&lt;/nav&gt;</code></pre>

<h3>Hardcoded menu item baseline markup</h3>
<ul>
	<li>The id "wb-sm" removed.</li>
	<li>The class attribute on the &lt;nav&gt; element is replaced by a new CSS class</li>
	<li>The CSS class "nvbar" removed from the inner &lt;div&gt;</li>
	<li>Complete new markup for menu item (Details in following section)</li>
	<li>There is some translation string and markup variation between language for the button. It's the invisible complementary text.</li>
</ul>

<pre><code>&lt;nav class="gcweb-v2" typeof="SiteNavigationElement"&gt;
	&lt;div class="container"&gt;
		&lt;h2 class="wb-inv"&gt;Menu&lt;/h2&gt;
		&lt;button type="button" aria-controls="gc-mnu" aria-haspopup="true" aria-expanded="false"&gt;&lt;span class="wb-inv"&gt;Main &lt;/span&gt;Menu &lt;span class="expicon glyphicon glyphicon-chevron-down"&gt;&lt;/span&gt;&lt;/button&gt;
		&lt;ul id="gc-mnu" role="menu" aria-orientation="vertical"&gt;

		[[ Menu items ]]

		&lt;/ul&gt;
	&lt;/div&gt;
&lt;/nav&gt;</code></pre>

<h3>French version</h3>
<pre><code>&lt;nav class="gcweb-v2" typeof="SiteNavigationElement"&gt;
	&lt;div class="container"&gt;
		&lt;h2 class="wb-inv"&gt;Menu&lt;/h2&gt;
		&lt;button type="button" aria-haspopup="true" aria-controls="gc-mnu" aria-expanded="false"&gt;Menu&lt;span class="wb-inv"&gt; principal&lt;/span&gt; &lt;span class="expicon glyphicon glyphicon-chevron-down"&gt;&lt;/span&gt;&lt;/button&gt;
		&lt;ul id="gc-mnu" role="menu" aria-orientation="vertical"&gt;

		[[ Menu items ]]

		&lt;/ul&gt;
	&lt;/div&gt;
&lt;/nav&gt;</code></pre>


<h3>Fetching the menu item baseline markup</h3>
<ul>
	<li>All the items for the hardcoded menu applies.</li>
	<li>The CDN / central link where all the menu is centrally managed are going to be provided by the Principal Publisher.</li>
	<li>The unordered list <code>&lt;ul&gt;</code> is intentionally empty</li>
	<li>Change the value of the attribute <code>data-ajax-append</code> to match the URL of your menu</li>
	<li>The menu support the following fetch method:
		<ul>
			<li><code>[data-ajax-append]</code></li>
			<li><code>[data-ajax-prepend]</code></li>
			<li><code>[data-wb-ajax]</code></li>
			<li><code>[data-ajax-replace]</code></li>
		</ul>
	</li>
	<li>In the following working example, you can see a list of the top menu items which represents each theme.</li>
</ul>

<pre><code>&lt;nav class="gcweb-v2" typeof="SiteNavigationElement"&gt;
	&lt;div class="container"&gt;
		&lt;h2 class="wb-inv"&gt;Menu&lt;/h2&gt;
		&lt;button id="gc-menubtn" aria-controls="gc-menu" aria-haspopup="true" type="button"&gt;&lt;span class="wb-inv"&gt;Main &lt;/span&gt;Menu &lt;span class="expicon glyphicon glyphicon-chevron-down"&gt;&lt;/span&gt;&lt;/button&gt;
		&lt;ul id="gc-menu" role="menu" aria-labelledby="gc-menubtn" <strong>data-ajax-replace="../ajax/sitemenu-v2-en.html"</strong>&gt;
			&lt;li role="none presentation"&gt;&lt;a role="menuitem" tabindex="-1" href="https://www.canada.ca/en/services/jobs.html"&gt;Jobs and the workplace&lt;/a&gt;&lt;/li&gt;
			&lt;li role="none presentation"&gt;&lt;a role="menuitem" tabindex="-1" href="https://www.canada.ca/en/services/immigration-citizenship.html"&gt;Immigration and citizenship&lt;/a&gt;&lt;/li&gt;
			&lt;li role="none presentation"&gt;&lt;a role="menuitem" tabindex="-1" href="https://travel.gc.ca/"&gt;Travel and tourism&lt;/a&gt;&lt;/li&gt;
			&lt;li role="none presentation"&gt;&lt;a role="menuitem" tabindex="-1" href="https://www.canada.ca/en/services/business.html"&gt;Business and industry&lt;/a&gt;&lt;/li&gt;
			&lt;li role="none presentation"&gt;&lt;a role="menuitem" tabindex="-1" href="https://www.canada.ca/en/services/benefits.html"&gt;Benefits&lt;/a&gt;&lt;/li&gt;
			&lt;li role="none presentation"&gt;&lt;a role="menuitem" tabindex="-1" href="https://www.canada.ca/en/services/health.html"&gt;Health&lt;/a&gt;&lt;/li&gt;
			&lt;li role="none presentation"&gt;&lt;a role="menuitem" tabindex="-1" href="https://www.canada.ca/en/services/taxes.html"&gt;Taxes&lt;/a&gt;&lt;/li&gt;
			&lt;li role="none presentation"&gt;&lt;a role="menuitem" tabindex="-1" href="https://www.canada.ca/en/services/environment.html"&gt;Environment and natural resources&lt;/a&gt;&lt;/li&gt;
			&lt;li role="none presentation"&gt;&lt;a role="menuitem" tabindex="-1" href="https://www.canada.ca/en/services/defence.html"&gt;National security and defence&lt;/a&gt;&lt;/li&gt;
			&lt;li role="none presentation"&gt;&lt;a role="menuitem" tabindex="-1" href="https://www.canada.ca/en/services/culture.html"&gt;Culture, history and sport&lt;/a&gt;&lt;/li&gt;
			&lt;li role="none presentation"&gt;&lt;a role="menuitem" tabindex="-1" href="https://www.canada.ca/en/services/policing.html"&gt;Policing, justice and emergencies&lt;/a&gt;&lt;/li&gt;
			&lt;li role="none presentation"&gt;&lt;a role="menuitem" tabindex="-1" href="https://www.canada.ca/en/services/transport.html"&gt;Transport and infrastructure&lt;/a&gt;&lt;/li&gt;
			&lt;li role="none presentation"&gt;&lt;a role="menuitem" tabindex="-1" href="http://international.gc.ca/world-monde/index.aspx?lang=eng"&gt;Canada and the world&lt;/a&gt;&lt;/li&gt;
			&lt;li role="none presentation"&gt;&lt;a role="menuitem" tabindex="-1" href="https://www.canada.ca/en/services/finance.html"&gt;Money and finances&lt;/a&gt;&lt;/li&gt;
			&lt;li role="none presentation"&gt;&lt;a role="menuitem" tabindex="-1" href="https://www.canada.ca/en/services/finance.html"&gt;Science and innovation&lt;/a&gt;&lt;/li&gt;
		&lt;/ul&gt;
	&lt;/div&gt;
&lt;/nav&gt;</code></pre>

<h3>French version</h3>
<pre><code>&lt;nav class="gcweb-v2" typeof="SiteNavigationElement"&gt;
	&lt;div class="container"&gt;
		&lt;h2 class="wb-inv"&gt;Menu&lt;/h2&gt;
		&lt;button type="button" aria-haspopup="true" aria-controls="gc-mnu" aria-expanded="false"&gt;Menu&lt;span class="wb-inv"&gt; principal&lt;/span&gt; &lt;span class="expicon glyphicon glyphicon-chevron-down"&gt;&lt;/span&gt;&lt;/button&gt;
		&lt;ul id="gc-mnu" role="menu" aria-orientation="vertical" <strong>data-ajax-replace="../ajax/sitemenu-v2-fr.html"</strong>&gt;
			&lt;li role="none presentation"&gt;&lt;a role="menuitem" tabindex="-1" href="https://www.canada.ca/en/services/jobs.html"&gt;Emplois et milieu de travail&lt;/a&gt;&lt;/li&gt;
			&lt;li role="none presentation"&gt;&lt;a role="menuitem" tabindex="-1" href="https://www.canada.ca/en/services/immigration-citizenship.html"&gt;Immigration et citoyenneté&lt;/a&gt;&lt;/li&gt;
			&lt;li role="none presentation"&gt;&lt;a role="menuitem" tabindex="-1" href="https://voyage.gc.ca/"&gt;Voyage et tourisme&lt;/a&gt;&lt;/li&gt;
			&lt;li role="none presentation"&gt;&lt;a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/entreprises.html"&gt;Entreprises et industrie&lt;/a&gt;&lt;/li&gt;
			&lt;li role="none presentation"&gt;&lt;a role="menuitem" tabindex="-1" href="https://www.canada.ca/en/services/benefits.html"&gt;Prestations&lt;/a&gt;&lt;/li&gt;
			&lt;li role="none presentation"&gt;&lt;a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/sante.html"&gt;Santé&lt;/a&gt;&lt;/li&gt;
			&lt;li role="none presentation"&gt;&lt;a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/impots.html"&gt;Impôts&lt;/a&gt;&lt;/li&gt;
			&lt;li role="none presentation"&gt;&lt;a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/environnement.html"&gt;Environnement et ressources naturelles&lt;/a&gt;&lt;/li&gt;
			&lt;li role="none presentation"&gt;&lt;a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/defense.html"&gt;Sécurité nationale et défense&lt;/a&gt;&lt;/li&gt;
			&lt;li role="none presentation"&gt;&lt;a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/culture.html"&gt;Culture, histoire et sport&lt;/a&gt;&lt;/li&gt;
			&lt;li role="none presentation"&gt;&lt;a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/police.html"&gt;Services de police, justice et urgences&lt;/a&gt;&lt;/li&gt;
			&lt;li role="none presentation"&gt;&lt;a role="menuitem" tabindex="-1" href="https://www.canada.ca/en/services/transport.html"&gt;Transport et infrastructure&lt;/a&gt;&lt;/li&gt;
			&lt;li role="none presentation"&gt;&lt;a role="menuitem" tabindex="-1" href="http://international.gc.ca/world-monde/index.aspx?lang=fra"&gt;Canada et le monde&lt;/a&gt;&lt;/li&gt;
			&lt;li role="none presentation"&gt;&lt;a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/finance.html"&gt;Argent et finances&lt;/a&gt;&lt;/li&gt;
			&lt;li role="none presentation"&gt;&lt;a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/science.html"&gt;Science et innovation&lt;/a&gt;&lt;/li&gt;
		&lt;/ul&gt;
	&lt;/div&gt;
&lt;/nav&gt;</code></pre>


<h3>Menu items template</h3>
<ul>
	<li>There is one menu item per theme, repeat the following pattern for each theme.</li>
	<li>Each theme title that is linked to the actual theme has an adaptable text between "medium to over" view compare to "small and under" view. See the following example.</li>
	<li>The label [[ Most requested text ]] are "En demande" in French</li>
	<li>The [[Theme linked title]] include markup to display a special short title in extra small and small view port. It's behaviour are described in the following sub-section</li>
	<li>This template can be use for the HTML fragment to fetch all menu items.</li>
</ul>

<pre><code>&lt;li role="none presentation"&gt;
	&lt;a role="menuitem" aria-haspopup="true" aria-controls="gc-mnu-" aria-expanded="false" href="#"&gt;[[Theme title]]&lt;/a&gt;
	&lt;ul id="gc-mnu-" role="menu" aria-orientation="vertical"&gt;
		&lt;li role="none presentation"&gt;
			&lt;a role="menuitem" href="https://www.canada.ca/[[path to the theme]]"&gt;[[Theme linked title]]&lt;/a&gt;
		&lt;/li&gt;
		&lt;li role="separator"&gt;&lt;/li&gt;

[[ For each sub menu for that theme ]]
		&lt;li role="none presentation"&gt;&lt;a role="menuitem" href="[[Link to the page associated with this menu item ]]"&gt;[[ Menu item text ]]&lt;/a&gt;&lt;/li&gt;
[[ End for each ]]

		&lt;li role="separator" aria-orientation="vertical"&gt;&lt;/li&gt;
		&lt;li role="none presentation"&gt;
			&lt;a data-keep-expanded="md-min" href="#" role="menuitem" aria-haspopup="true" aria-controls="gc-mnu--sub" aria-expanded="true"&gt;[[ Most requested text ]]&lt;/a&gt;
			&lt;ul id="gc-mnu--sub" role="menu" aria-orientation="vertical"&gt;

[[ For each most requested item for that theme ]]
				&lt;li role="none presentation"&gt;&lt;a role="menuitem" href="[[Link to the page associated with this menu item ]]"&gt;[[ Menu item text ]]&lt;/a&gt;&lt;/li&gt;
[[ End for each ]]

			&lt;/ul&gt;
		&lt;/li&gt;
	&lt;/ul&gt;
&lt;/li&gt;</code></pre>

<h4>Theme linked title</h4>
<p>Behaviour:</p>
<ul>
	<li>Provide a short title in mobile, but keep the long title in tablet and desktop view (medium and upper)</li>
	<li>The short title finish with ": home" text. French equivalent hasn't been provided yet.</li>
	<li>Try to reuse the same word of the title when only the short title is displayed.</li>
</ul>

<h5>Example 1</h5>
<p>Reuse some wording</p>
<dl class="dl-horizontal">
	<dt>Title</dt>
	<dd>Immigration and citizenship</dd>
	<dt>Short title</dt>
	<dd>Immigration: home</dd>
	<dt>Code sample</dt>
	<dd><pre><code>Immigration&lt;span class="hidden-xs hidden-sm"&gt; and citizenship&lt;/span&gt;&lt;span class="visible-xs-inline visible-sm-inline"&gt;: home&lt;/span&gt;</code></pre></dd>
</dl>

<h5>Example 2</h5>
<p>Append ":home" at the end</p>
<dl class="dl-horizontal">
	<dt>Title</dt>
	<dd>Benefits</dd>
	<dt>Short title</dt>
	<dd>Benefits: home</dd>
	<dt>Code sample</dt>
	<dd><pre><code>Benefits&lt;span class="visible-xs-inline visible-sm-inline"&gt;: home&lt;/span&gt;</code></pre></dd>
</dl>

<h5>Example 3</h5>
<p>Provide short title that is not the first capitalized word.</p>
<dl class="dl-horizontal">
	<dt>Title</dt>
	<dd>National security and defence</dd>
	<dt>Short title</dt>
	<dd>Defence: home</dd>
	<dt>Code sample</dt>
	<dd><pre><code>&lt;span class="hidden-xs hidden-sm"&gt;National security and defence&lt;/span&gt;&lt;span class="visible-xs-inline visible-sm-inline"&gt;Defence: home&lt;/span&gt;</code></pre></dd>
</dl>

<h2 id="pg-home">Home Page</h2>

<h3>Note to designer</h3>
<ul>
	<li>Both promotion at the bottom would need to be updated to correspond to current one.</li>
	<li>The promotion markup follow a new design pattern for linked figure.</li>
	<li>New/added:
		<ul>
			<li>Double spacing list for ordered and unordered list: ".lst-spcd-2"</li>
			<li>Responsive list by applying the CSS class ".list-responsive" on "ol,ul" forth column in large and extra large view; two column for medium and small view; one column for extra small view;</li>
			<li>Styling for linked figure</li>
		</ul>
	</li>
	<li>The home page top banner background image can be updated through CSS by changing the URL or by replacing the image file "assets/bkg-home-banner.jpg". Idem for the "Your government" section.</li>
</ul>

<h3>How to update</h3>
<ul>
	<li>Remove the [role=main] set on the &lt;main&gt; element</li>
	<li>Remove the CSS class "container" on the main element, "container" css class would be manually added in the content.</li>
	<li>Add the CSS class "home" to the body element</li>
</ul>

<h3>Migration notes</h3>
<ul>
	<li>Add the CSS class "home" to the body element</li>
	<li>Add the CSS class "page-type-nav" to the body element</li>
	<li>Remove the promotional "&lt;aside&gt;" that was prior the main element.</li>
	<li>Ensure the &lt;h1&gt; element are included in the editable area. That element is moved inside nested &lt;div&gt; element in the main section.</li>
	<li>Remove the CSS class "container" on the main element, "container" css class would be manually added in the content.</li>
	<li>The home page style define the following not re-usable style:
		<ul>
			<li><code>.home-banner</code>: Set background style, like an image, around the heading level 1</li>
			<li><code>.home-most-requested</code>: Set font-size, non-standard, to the most requested list item</li>
			<li><code>.home-your-gov</code>: Set a floating background image for the your government section</li>
		</ul>
	</li>
</ul>

<h3>Updated markup</h3>
<p>See the new markup here:</p>
<ul>
	<li><a href="https://github.com/wet-boew/GCWeb/blob/master/site/pages/home-en.hbs">https://github.com/wet-boew/GCWeb/blob/master/site/pages/home-en.hbs</a></li>
	<li><a href="https://github.com/wet-boew/GCWeb/blob/master/site/pages/home-fr.hbs">https://github.com/wet-boew/GCWeb/blob/master/site/pages/home-fr.hbs</a></li>
</ul>

<h2 id="pg-spcd-2">Double space for list</h2>

<p>Double spacing list for ordered and unordered list is now available. It can be applied by using the CSS class ".lst-spcd-2".</p>
<p>Note: This feature was introduced with his re-design and are currently only for this theme.</p>

<h2 id="pg-list">Responsive list</h2>
<p>Responsive list by applying the CSS class ".list-responsive" on "ol,ul".</p>
<p>The behavior is:</p>
<ul>
	<li>The list is rendered in forth column in large and extra large view.</li>
	<li>The list is rendered in two column for medium and small view.</li>
	<li>The list is rendered in one column for extra small view.</li>
</ul>

<p>Tips: If some of your items in your list are rendered in two line or more, use the WET equal height plugin (wb-eqht) on the "ol,ul" element.</p>
<p>Note: This feature was introduced with his re-design and are currently only for this theme.</p>

<h2 id="pg-linkfigure">Linked figure design pattern</h2>
<p>This pattern is to have the whole figure to be a clickable area, but to only style the figcaption as a link. The focus visible area is the whole figure.</p>

<h3>How to use it</h3>
<ul>
	<li>Wrap an anchor on a figure element</li>
	<li>Add the CSS class ".figcaption" to the anchor</li>
	<li>The &lt;figcaption&gt; as a child to the &lt;figure&gt; element are required.</li>
	<li>This style must not be used if the figcaption are missing from the figure element.</li>
</ul>

<p>Minimal example:</p>
<pre><code>&lt;a class="figcaption" href="#"&gt;
	&lt;figure&gt;
		&lt;figcaption&gt;A figure caption linked&lt;/figcaption&gt;
		[[ content ]]
	&lt;/figure&gt;
&lt;/a&gt;</code></pre>

<p>Example with the home page use case:</p>
<pre><code>&lt;a class="figcaption" href="#"&gt;
	&lt;figure class="well well-sm brdr-rds-0"&gt;
		&lt;img class="img-responsive full-width" src="[[assets]]/img/520x200.png" alt=""/&gt;
		&lt;figcaption class="h5"&gt;A figure caption linked&lt;/figcaption&gt;
		&lt;p&gt;Short description or intro linked paragraph that correspond to this figure&lt;/p&gt;
	&lt;/figure&gt;
&lt;/a&gt;</code></pre>

<h2 id="content-limit">Limited width content</h2>

<p>With this new look, new generic pages created should limit the width of paragraph and list. Further guidance are going to be provided by the Content and IA spec.</p>

<p>To enable that design, the implementer can add the following CSS class <code>.cnt-wdth-lmtd</code> to the <code>&lt;body&gt;</code> element of the page where the width of paragraph and list item need to be limited. Also, this can be set by adding the CSS class name <code>.cnt-wdth-lmtd</code> to a sectioning element <code>&lt;section class="cnt-wdth-lmtd"&gt;...&lt;section&gt;</code> inside the main content of your page.</p>

<h2 id="pg-type">Navigation pages, Theme, Topic, Home,...</h2>

<p>Navigation page need to be identified by adding a global class. Before it was <code>.secondary</code> which are now deprecated because of the ambuiguity of it's purpose. It don't represent secondary content, but it was representing navigational page type. So the new name is now <code>.page-type-nav</code> which make it clear it's purpose.</p>

<p>The following change apply for any navigation page identified by the content and IA spec such:</p>
<ul>
	<li>Home page</li>
	<li>Topic page</li>
	<li>Theme page</li>
	<li>...</li>
</ul>


<h3>Changes:</h3>
<ul>
	<li>
		<p><code>.secondary</code> for <code>.page-type-nav</code>.</p>
		<p><small>The older CSS class would still work, but it should be updated</small></p>
	</li>
	<li>
		<p>Remove the custom CSS class set on in-page section header and on dormat link header. Now the customize sizing are managed by adding the CSS class <code>.page-type-nav</code></p>
		<ul>
			<li>For dormat link: <code>&lt;h3 class="h5"&gt;...&lt;/h3&gt;</code> are changed to: <code>&lt;h3&gt;...&lt;/h3&gt;</code>. Using the class "h5" on dormat link are deprecated for navigation page type.</li>
			<li>For section title: remain <code>&lt;h2&gt;...&lt;/h2&gt;</code> but it will render with a new font-size</li>
		</ul>
	</li>
</ul>

<h2 id="call-to-action">Call to action button</h2>

<p>This is a new button style <code>.btn-call-to-action</code> to define the main call of action button/link on a page.</p>
<p>Working example and documentation: <a href="http://localhost:8000/unmin/content-en.html#call-to-action">Content page</a></p>
<p>To be confirmed by guidance from the Content and IA spec. This changes might require you to replace existing <code>.btn-primary</code> CSS class by <code>.btn-call-to-action</code> for button/link representing the main call to action for a page.</p>

<h2 id="otherDiff">Other notable difference</h2>

<p>Here a list of difference that we have noted when you are going to apply this new design</p>


<h3>Difference if there no markup change - Incomplete</h3>
<p>Note: as Nov 2, we didn't compared both version, like how the previous markup (from GCWeb 4.0.29) would be different from this new design</p>
<ul>
	<li>Breadcrumb: You will notice the breadcrumb are moved 15 pixel right and 15 pixel left. We expected that change would have minor/trivial impact on the user. If needed, a solution can be provided but migth require some additional markup change for implementor.</li>
	<li>For implementation that didn't moved the date modified under the "Report a problem" row as per C&amp;IA v1.5.1, there will be a larger top margin at the bottom of each pages.</li>
</ul>


<h3>Change or review to makes when applying this design -</h3>

<p>Note: Other requirement might get added, at this time of implementing this new look in GCWeb github repos it wasn't fully compliant to Content and IA spec 1.5.1.</p>

<p>Some of the items bellow might be related to being conform to Content and IA spec 1.5.1 or to ensure previous change made to GCWeb are applied. Those change might not neccessary directly applicable with applying the new look.</p>
<ul>
	<li>Review the text for skip link, they were a change a year ago to change 'Skip: "About this site"' for 'Skip: "About government"'. In French it is from 'Passer à « À propos de ce site »' for 'Passer à « Au sujet du gouvernement »'</li>
	<li>(Under review - See item 33) The size of the heading of any dormat link need to be updated to a size comparable to an heading level 6. Implementer would need to edit each dormat link and change the current CSS class <code>h5</code> for the CSS class <code>h6</code>.</li>
	<li>Ensure the date modified is after the "Report a probleme" instead of being before. The top margin was added to that field.</li>
</ul>

<h4>Page details section (before the end of the main)</h4>

<p>History:</p>
<ul>
	<li>Major - visual v2 - Move of the date modified after button as per the Content and IA spec.</li>
	<li>Major - visual v2 - Include the CSS class container (only for the home page) when the CSS class container is not added to the main element.</li>
	<li>Minor - v.4.0.28 - April 27, 2018 - Removal of the Privacy statement</li>
	<li>Major - v.4.0.27 - December 14, 2017: Markup restructuration - Grid cell are now independant from the interactive elements to display the report a problem inline form.</li>
	<li>Major - v.4.0.22 - August 9, 2016: Markup restructuration - Feedback link was change into an inline report a problem form.</li>
	<li>Initial markup - v4.0.0 - Date modified followed by feedback form link.</li>
</ul>

<p>Lastest markup:</p>
<pre><code>&lt;div class="pagedetails"&gt;
	&lt;div class="row"&gt;
		&lt;div class="col-sm-6 col-md-5 col-lg-4"&gt;
			&lt;details class="brdr-0"&gt;
				&lt;summary class="btn btn-default text-center"&gt;Report a problem on this page&lt;/summary&gt;
				&lt;div class="well row"&gt;

					&lt;!-- Report a probleme inline form code here --&gt;

				&lt;/div&gt;
			&lt;/details&gt;
		&lt;/div&gt;
		&lt;!-- Share button --&gt;
		&lt;div class="wb-share col-sm-4 col-md-3 col-sm-offset-2 col-md-offset-4 col-lg-offset-5" data-wb-share='{"lnkClass": "btn btn-default btn-block"}'&gt;&lt;/div&gt;
		&lt;!-- END Share button --&gt;
	&lt;/div&gt;
	&lt;dl id="wb-dtmd"&gt;
		&lt;dt&gt;Date modified:&#32;&lt;/dt&gt;
		&lt;dd&gt;&lt;time property="dateModified"&gt;YYYY-MM-DD&lt;/time&gt;&lt;/dd&gt;
	&lt;/dl&gt;
&lt;/div&gt;</code></pre>

<p>Some rules:</p>
<ul>
	<li>If the main element don't have the "container" CSS class, page details need to have that class set in order to keep it's content centered. Like for the home page with the visual v2.</li>
	<li>If the page can be shared, the share button is added</li>
</ul>
