/*
 Menu (extra-extra-small view)
 */

// Deprecated - Mobile menu popup style build with the megamenu (wb-menu) plugin (was: Mobile Chevron)
#wb-glb-mn {
	@include brand-screen-xxs-max-override-grid;

	ul {
		width: 100%;

		&.chvrn {
			margin-left: auto;

			&:before {
				border: 0;
			}
		}
	}
}
