/*
  WET-BOEW
  @title: Medium view (screen only)
 */

.gcweb-menu {

	/*
	 * Tablet mode
	 *
	 * (Grid of the submenu panel)
	 */

	// avoid horizontal scroll on medium breakpoint
	[role=menu] [role=menu] {
		width: 610px;
	}

	[role=menu] [role=menu] li {
		width: 100%;
	}
	[role=menu] [role=menu] li:last-child {
		left: auto;
		margin-top: 1em;
		position: relative;
		top: auto;
	}
	[role=menu] [role=menu] [role=menu] li:last-child {
		margin-top: 0;
	}
	[role=menu] [role=menu] [role=menu] {
		margin-bottom: 0;
		padding-bottom: 0;
		position: relative;
	}
}
