/*
 * Main content area
 */
main {

	.subtitle {
		color: #555;
		font-size: 1em;
		font-weight: 300;
		margin-bottom: 1em;
	}

	.departments {
		.learnmore {
			padding: 3em 0;
		}
	}

	.priorities {
		padding-top: 2em;

		.thumbnail {
			margin-bottom: 1.5em;
			padding: 1em;
		}
	}

	.gc-rms-lngth {

		img {
			background-color: #fff;
			border: solid 1px $wbGray;
			padding: 18px;
		}
	}
}


/* Heading with links inside of rows */
.departments,
.priorities {
	a {
		h2,
		h3,
		h4 {
			font-size: $heading-link;
		}
	}
}
