/*
 *
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 *
 */
/*
	Global Provisional styling
	- Provisional  CSSspecific for view port are defined in the "views/[view port]" theme CSS
*/

.provisional {

	/* ------------
	 * Background color
	 *
	 */

	// PinkDay color
	.bg-pnkDy {
		background-color: #AD005F;

		&.well.header-rwd {
			background-color: #570030;
		}
	}

	/* ------------
	 * Background image for heading
	 *
	 */
	.bg-img-hdng {
		background-image: url("../assets/x-blue-line.png");
		background-position: right bottom;
		background-repeat: no-repeat;
		min-height: 60px;
		padding-bottom: 35px;
		padding-right: 80px;
	}


	/* ------------
	 * Theme color
	 *
	 */

	/* Pink day - One day event in April
	 * (with a contrast conforming to Level AAA)
	 */
	&.pnkDy-theme {

		// Page header and Menu
		.gcweb-menu button[aria-haspopup=true],
		#wb-srch button,
		.srchbox button {
			background-color: #AD005F;
			border-color:#AD005F;
		}
		.gcweb-menu button[aria-haspopup=true]:focus, .gcweb-menu button[aria-haspopup=true]:hover,
		#wb-srch button:focus, #wb-srch button:hover,
		.srchbox button:focus, .srchbox button:hover {
			background-color: #570030;
			color: #fff;
		}
		.gcweb-menu, #wb-bnr + .gcweb-menu,
		&.home .gcweb-menu, #wb-bnr + hr {
			border-top-color: #AD005F;
		}

		// Home page Menu
		&.home .gcweb-menu {
			button[aria-haspopup=true] {
				background-color: #ffffff;
				border-color:#ffffff;
			}
			button[aria-haspopup=true] {
				color: #AD005F;
			}
			button[aria-haspopup=true]:focus,
			button[aria-haspopup=true]:hover {
				background-color: #AD005F;
				border-color:#AD005F;
				color: #ffffff;
			}
		}

		// Footer
		#wb-info {
			.gc-contextual {
				background-color: #c40b71;
			}

			.landscape {
				background-color: #AD005F;
			}
		}
	}

	/* Dark theme
	 */
	&.dark-theme {

		// Page header and Menu
		.gcweb-menu button[aria-haspopup=true],
		#wb-srch button,
		.srchbox button {
			background-color: #000;
			border-color: #000;
			color: #fff;
		}
		.gcweb-menu button[aria-haspopup=true]:focus, .gcweb-menu button[aria-haspopup=true]:hover,
		#wb-srch button:focus, #wb-srch button:hover,
		.srchbox button:focus, .srchbox button:hover {
			background-color: #000;
			color: #fff;
		}
		.gcweb-menu, #wb-bnr + .gcweb-menu,
		&.home .gcweb-menu, #wb-bnr + hr {
			border-top-color: #000;
		}

		// Home page Menu
		&.home .gcweb-menu {
			button[aria-haspopup=true] {
				background-color: #fff;
				border-color:#fff;
			}
			button[aria-haspopup=true] {
				color: #000;
			}
			button[aria-haspopup=true]:focus,
			button[aria-haspopup=true]:hover {
				background-color: #000;
				border-color:#000;
				color: #fff;
			}
		}

		// Footer
		#wb-info {
			.gc-contextual {
				background-color: #0a1015;
			}

			.landscape {
				background-color: #000;
				color: #fff;
			}
		}
	}

	//This color will eventually be replaced by the new colors from the alert revamp PR.
	&.icon-warning-light, .icon-warning-light {
		color: #DF7200;
	}

	/* Theme/topic decorative image */
	&.gc-topic-bg div {
		background: no-repeat;
		margin-left: -15px;
		min-height: 200px;
		overflow: hidden;
		width: calc(50vw - 15px);
	}

	/* Contributors */
	&.gc-contributors {
		margin-top: 38px;

		h2, ul {
			display: inline;
			font-size: $small-size;
			margin-top: 0;
		}

		ul {
			padding-inline-start: 0;

			li {
				display: inline-block;
				font-weight: $bold-weight;
				margin-right: .7em;
			}
		}
	}
}
