/*
 *
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 *
 * @title: Shared style between multiple components
 *
 */

// Service and information component
.gc-srvinfo, .gc-drmt, .gc-features {
	p {
		font-size: 17px;
		line-height: 1.5em;
	}

	// Overwride sizing
	h3, h4, h5, h6 {
		font-size: $font-size-h5;
		margin-bottom: 5px;
		margin-top: 23px; // same as h5
	}
}
