---
{
	"title": "Page de composantes",
	"language":	"fr",
	"altLangPage": "components-en.html",
	"pageclass": "cnt-wdth-lmtd",
	"secondlevel": false,
	"dateModified": "2021-09-28",
	"share": "true"
}
---
<span class="wb-prettify all-pre">

<p>Les pages de destination génériques ont plusieurs caractéristiques en commun. Par exemple, elles consistent souvent en de longs documents nécessitant une structure afin qu’ils soient faciles à utiliser et à lire. Dans bien des cas, elles comprennent des images, des graphiques ou des tableaux. Vous trouverez ci-dessous une description des configurations visant à accroître la convivialité et l’uniformité des pages de destination de différents types.</p>
<nav role="navigation" class="gc-toc">
	<h2>Table des matières</h2>
	<ul>
		<li><a href="#toc">Table des matières à l’intérieur de la page</a></li>
		<li><a href="#min-port">Ministres du portefeuille</a></li>
		<li><a href="#avis">Conceptions des avis</a></li>
	</ul>
</nav>
<section>
	<h2 id="toc">Table des matières à l’intérieur de la page</h2>
	<p>La configuration relative à la table des matières à l’intérieur de la page consiste en une liste de liens dirigeant vers des sous-sections de la même page. Cette configuration est utilisée pour les longs documents présentés sur une seule page.</p>
	<nav role="navigation" class="gc-toc">
		<h3>Sur cette page</h3>
		<ul>
			<li><a href="#section1">Première titre de section</a></li>
			<li><a href="#section2">Deuxième titre de section</a></li>
			<li><a href="#section3">Troisième titre de section</a></li>
		</ul>
	</nav>
	<section>
		<h3 id="section1">[Première titre de section]</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam delectus iusto repellat assumenda nobis, modi accusamus, rerum praesentium ad dignissimos ipsam? Facilis repellat, quibusdam qui? Et dolore ipsa ut repellendus.</p>
	</section>
	<section>
		<h3 id="section2">[Deuxième titre de section]</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam delectus iusto repellat assumenda nobis, modi accusamus, rerum praesentium ad dignissimos ipsam? Facilis repellat, quibusdam qui? Et dolore ipsa ut repellendus.</p>
	</section>
	<section>
		<h3 id="section3">[Troisième titre de section]</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam delectus iusto repellat assumenda nobis, modi accusamus, rerum praesentium ad dignissimos ipsam? Facilis repellat, quibusdam qui? Et dolore ipsa ut repellendus.</p>
	</section>
</section>
<section id="min-port" class="gc-mnstr-prtfl">
	<h2>Ministres du portefeuille</h2>

	<p>Donne accès à un profil de plus grande visibilité des ministres détenant un portefeuille au sein de l’institution</p>
	<div class="row wb-eqht-grd">
		{% for i in (1..4) %}
		<div class="col-md-3 col-sm-6">
			<a href="#">
				<figure>
					<img src="https://via.placeholder.com/218x291?text=[Président]" alt="" class="img-responsive thumbnail">
					<figcaption>[Président]</figcaption>
				</figure>
			</a>
			<p>[Chef de l’organisme]</p>
		</div>
		{% endfor %}
	</div>
</section>

<section>
<h2 id="avis">Conceptions des avis</h3>
<section class="alert alert-danger">
	<h3>Alerte de danger</h3>
	<p>Détails optionnel d'alerte.</p>
</section>
<section class="alert alert-warning">
	<h3>Alerte d’avertissement</h3>
	<p>Détails optionnel d'alerte.</p>
</section>
<section class="alert alert-success">
	<h3>Alerte de succès</h3>
	<p>Détails optionnel d'alerte.</p>
</section>
<section class="alert alert-info">
	<h3>Alerte d’information</h3>
	<p>Détails optionnel d'alerte.</p>
</section>
<h3>Code</h3>
<pre><code>&lt;section class="alert alert-danger"&gt;
	&lt;h3&gt;Alerte de danger&lt;/h3&gt;
	&lt;p&gt;Détails optionnel d'alerte.&lt;/p&gt;
&lt;/section&gt;

&lt;section class="alert alert-warning"&gt;
	&lt;h3&gt;Alerte d’avertissement&lt;/h3&gt;
	&lt;p&gt;Détails optionnel d'alerte.&lt;/p&gt;
&lt;/section&gt;

&lt;section class="alert alert-success"&gt;
	&lt;h3&gt;Alerte de succès&lt;/h3&gt;
	&lt;p&gt;Détails optionnel d'alerte.&lt;/p&gt;
&lt;/section&gt;

&lt;section class="alert alert-info"&gt;
	&lt;h3&gt;Alerte d’information&lt;/h3&gt;
	&lt;p&gt;Détails optionnel d'alerte.&lt;/p&gt;
&lt;/section&gt;</code></pre>
</section>
