---
{
	"title": "Components page",
	"language": "en",
	"altLangPage": "components-fr.html",
	"pageclass": "cnt-wdth-lmtd",
	"secondlevel": false,
	"dateModified": "2021-09-28",
	"share": "true"
}
---
<span class="wb-prettify all-pre">

<p>Generic destination pages share many characteristics. For example, they are often long-form documents requiring structure to facilitate usability and readability. In many cases, they include images, charts, graphs or tables. Following are patterns aimed at increasing the usability and consistency of destination pages of various types.</p>

<nav role="navigation" class="gc-toc">
	<h2>Table of contents</h2>
	<ul>
		<li><a href="#download">Download link</a></li>
		<li><a href="#toc">In-page table of contents</a></li>
		<li><a href="#min-port">Portfolio ministers</a></li>
		<li><a href="#alert">Alert designs</a></li>
	</ul>
</nav>
<section class="gc-toc">
	<h2 id="toc">In-page table of contents</h2>
	<p>The In-Page Table of Contents Pattern is a list of links that lead to subsections of the same page. This pattern is intended for long documents that exist as a single page.</p>
	<nav role="navigation" class="gc-toc">
		<h3>On this page</h3>
		<ul>
			<li><a href="#section1">First section heading</a></li>
			<li><a href="#section2">Second section heading</a></li>
			<li><a href="#section3">Third section heading</a></li>
		</ul>
	</nav>
	<section>
		<h3 id="section1">[First section heading]</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam delectus iusto repellat assumenda nobis, modi accusamus, rerum praesentium ad dignissimos ipsam? Facilis repellat, quibusdam qui? Et dolore ipsa ut repellendus.</p>
	</section>
	<section>
		<h3 id="section2">[Second section heading]</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam delectus iusto repellat assumenda nobis, modi accusamus, rerum praesentium ad dignissimos ipsam? Facilis repellat, quibusdam qui? Et dolore ipsa ut repellendus.</p>
	</section>
	<section>
		<h3 id="section3">[Third section heading]</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam delectus iusto repellat assumenda nobis, modi accusamus, rerum praesentium ad dignissimos ipsam? Facilis repellat, quibusdam qui? Et dolore ipsa ut repellendus.</p>
	</section>
</section>
<section id="min-port" class="gc-mnstr-prtfl">
	<h2>Portfolio ministers</h2>

	<p>Provides access to the profiles of all portfolio ministers under the institution’s portfolio</p>
	<div class="row wb-eqht-grd">
		{% for i in (1..4) %}
		<div class="col-md-3 col-sm-6">
			<a href="#">
				<figure>
					<img src="https://via.placeholder.com/218x291?text=[President]" alt="" class="img-responsive thumbnail">
					<figcaption>[Chairperson]</figcaption>
				</figure>
			</a>
			<p>[Organization head]</p>
		</div>
		{% endfor %}
	</div>
</section>

<section>
<h2 id="alert">Alert designs</h2>
<section class="alert alert-danger">
	<h3>Danger alert</h3>
	<p>Optional alert details.</p>
</section>
<section class="alert alert-warning">
	<h3>Warning alert</h3>
	<p>Optional alert details.</p>
</section>
<section class="alert alert-success">
	<h3>Success alert</h3>
	<p>Optional alert details.</p>
</section>
<section class="alert alert-info">
	<h3>Info alert</h3>
	<p>Optional alert details.</p>
</section>
<h3>Code</h3>
<pre><code>&lt;section class="alert alert-danger"&gt;
	&lt;h3&gt;Danger alert&lt;/h3&gt;
	&lt;p&gt;Optional alert details.&lt;/p&gt;
&lt;/section&gt;

&lt;section class="alert alert-warning"&gt;
	&lt;h3&gt;Warning alert&lt;/h3&gt;
	&lt;p&gt;Optional alert details.&lt;/p&gt;
&lt;/section&gt;

&lt;section class="alert alert-success"&gt;
	&lt;h3&gt;Success alert&lt;/h3&gt;
	&lt;p&gt;Optional alert details.&lt;/p&gt;
&lt;/section&gt;

&lt;section class="alert alert-info"&gt;
	&lt;h3&gt;Info alert&lt;/h3&gt;
	&lt;p&gt;Optional alert details.&lt;/p&gt;
&lt;/section&gt;</code></pre>
</section>
