---
{
	"title": "Provisional functionality - GCWeb theme",
	"language": "en",
	"altLangPage": "provisional-fr.html",
	"secondlevel": false,
	"dateModified": "2022-12-06",
	"share": "true"
}
---
<span class="wb-prettify all-pre"></span>
<div class="alert alert-warning">
	<h2>Unstable feature</h2>
	<p>To be used at <strong>your own risk</strong>. All functionalities described below can be removed in any subsequent minor/major release and are excluded from the GCWeb public API.</p>
	<p><small><a href="https://wet-boew.github.io/wet-boew-documentation/decision/7.html">Learn more about the design decision around provisional features.</a></small></p>
	<p>The documentation and/or working examples for those features could be incomplete or not available.</p>
</div>
<h2>On this page</h2>
<ul>
	<li><a href="#availability">Feature availability</a></li>
	<li><a href="#documentation">Provisional feature documentation</a></li>
	<li><a href="#examples">Provisional feature working examples</a></li>
</ul>
<h2 id="availability">Feature availability</h2>
<p>The following table describes until which version of GCWeb each provisional feature will be available. The features' availability will be re-evaluated at every release. A withdrawn provisional feature would be notified one version in advance.</p>
<section class="alert alert-info">
	<h3>Provisional feature removal first notice</h3>
	<p>The following provisional feature were identified as <strong>Deprecated</strong> feature during WET Roadmap meeting hold on June 23<sup>th</sup>, 2021.</p>
	<ul>
		<li>CSS <code>.bg-img-hdng</code></li>
		<li>CSS <code>.icon-warning-light</code></li>
		<li>Plugin <code>.wb-chtwzrd</code></li>
	</ul>
	<p>The rational was mostly their stale state, their lack of documentation, requiring complete code review/split, their low/stale development activity and a low engagement with DTO.</p>
	<p>However, this is a notice and it is possible to take all the required action to keep the feature as provisional or move it stable. To be keep as provisional feature, an implementation plan with reasonable deadline and necessary resources for its execution must be provided by September 2021 via commenting this <a href="https://github.com/wet-boew/GCWeb/issues/1863">Github issue</a>.</p>
	<p>Without providing that information, we would move those feature in the upcoming September méli-mélo feature and then withdraw from the next GCWeb minor/major version three weeks after its first availability in Canada.ca as a méli-mélo feature. In other word, it would be possible to use it on Canada.ca but at your own risk and no update will be accepted one year after.</p>
</section>
<details>
	<summary>Status description</summary>
	<dl class="dl-horizontal">
		<dt>&lt;not specified&gt;</dt>
		<dd>Provisional</dd>
		<dt>Withdrawn</dt>
		<dd>The feature are not available</dd>
		<dt>Supported</dt>
		<dd>The feature are included and supported by the GCWeb public API.</dd>
		<dt>Withdrawn after v.Major.Minor</dt>
		<dd>The v.Major.Minor represent the last version where that feature is available. Authors must consider an alternative or remove that feature.</dd>
	</dl>
</details>
<table class="table table-bordered">
<thead>
	<tr>
		<th>Name</th>
		<th>Description</th>
		<th class="nowrap">Available in</th>
		<th>Status</th>
	</tr>
</thead>
<tbody>
	<tr>
		<th>CSS <code>.bg-pnkDy</code> and <code>.bg-pnkDy.well.header-rwd</code></th>
		<td>Pink day background color</td>
		<td>v5.1</td>
		<td></td>
	</tr>
	<tr>
		<th>CSS <code>.pnkDy-theme</code> set global</th>
		<td>Apply global template color change for the pink day color, as that property is defined on the <code>&lt;html&gt;</code> or <code>&lt;body&gt;</code> element</td>
		<td>v5.1</td>
		<td></td>
	</tr>
	<tr>
		<th>CSS <code>.dark-theme</code> set global</th>
		<td>Apply global template color change for full black, as that property is defined on the <code>&lt;html&gt;</code> or  <code>&lt;body&gt;</code> element</td>
		<td>v5.1</td>
		<td></td>
	</tr>
	<tr>
		<th>CSS <code>.bg-img-hdng</code></th>
		<td>Add a background image to a heading.</td>
		<td>v5.1</td>
		<td>Identified as being a deprecated feature on June 23, 2021. Will be move as méli-mélo feature in September 2021 compilation and then withdraw from next GCWeb minor/major version three weeks after its first availability in Canada.ca as a méli-mélo feature.</td>
	</tr>
	<tr>
		<th>CSS <code>.icon-warning-light</code></th>
		<td>Change the color to <code>#DF7200</code></td>
		<td>v7.0</td>
		<td>Identified as being a deprecated feature on June 23, 2021. Will be move as méli-mélo feature in September 2021 compilation and then withdraw from next GCWeb minor/major version three weeks after its first availability in Canada.ca as a méli-mélo feature.</td>
	</tr>
	<tr>
		<th>Plugin <code>.wb-chtwzrd</code></th>
		<td>
			<p>Transforms a simple form into a conversation like experience used as a wizard.</p>
			<ul>
				<li><a href="wb-chtwzrd/docs.html">Chat wizard - How to implement</a></li>
				<li><a href="wb-chtwzrd/chatwizard-en.html">Working example - Chat wizard</a></li>
				<li><a href="wb-chtwzrd/chatwizard-json-en.html">Working example - Chat wizard with JSON settings</a></li>
				<li><a href="https://wet-boew.github.io/wet-boew-documentation/research/2019-15-exploration-chat-pattern.html">2019-15 Research documentation</a></li>
			</ul>
		</td>
		<td>v7.0</td>
		<td>Identified as being a deprecated feature on June 23, 2021. Will be move as méli-mélo feature in September 2021 compilation and then withdraw from next GCWeb minor/major version three weeks after its first availability in Canada.ca as a méli-mélo feature.</td>
	</tr>
	<tr>
		<th>Template <code>.gc-subway</code></th>
		<td>
			<p>GC subway map navigation for Service initiation template.</p>
			<ul>
				<li><a href="#gc-subway">How to implement</a></li>
				<li><a href="gc-subway/index-en.html">GC Subway Index (v8.1.2)</a></li>
				<li><a href="gc-subway/gc-subway-en.html">Working example</a></li>
				<li><a href="https://wet-boew.github.io/wet-boew-documentation/decision/12.html">Supporting design decision</a></li>
			</ul>
		</td>
		<td>v8.0.1</td>
		<td></td>
	</tr>
		<tr>
			<th>CSS <code>.gc-chckbxrdio</code></th>
			<td>
				<p>Adopt the new large input touch targets for checkboxes and radio-buttons</p>
				<ul>
					<li><a href="gc-chckbxrdio/gc-chckbxrdio-en.html">Checkboxes and radio buttons - Canada.ca design pattern</a></li>
				</ul>
			</td>
			<td>v8.0.1</td>
			<td>Stable (v9.4.0)</td>
		</tr>
	<tr>
		<th>Component <code>.gc-followus</code></th>
		<td>
			<p>New layout and design pattern. To support the theme/topic beta template.</p>
			<ul>
				<li><a href="../templates/theme-topic/theme-topic-en.html">English working example</a></li>
				<li><a href="../templates/theme-topic/theme-topic-fr.html" hreflang="fr">French working example</a></li>
			</ul>
		</td>
		<td>v9.1.0</td>
		<td></td>
	</tr>
	<tr>
		<th>Component <code>.gc-topic-bg</code></th>
		<td>
			<p>Promotional image and page header. To support the theme/topic beta template.</p>
			<ul>
				<li><a href="../templates/theme-topic/theme-topic-en.html">English working example</a></li>
				<li><a href="../templates/theme-topic/theme-topic-fr.html" hreflang="fr">French working example</a></li>
			</ul>
		</td>
		<td>v9.1.0</td>
		<td></td>
	</tr>
	<tr>
		<th>Component <code>.gc-contributors</code></th>
		<td>
			<p>New layout and design pattern. To support the theme/topic beta template.</p>
			<ul>
				<li><a href="../templates/theme-topic/theme-topic-en.html">English working example</a></li>
				<li><a href="../templates/theme-topic/theme-topic-fr.html" hreflang="fr">French working example</a></li>
			</ul>
		</td>
		<td>v9.1.0</td>
		<td></td>
	</tr>
	</tbody>
</table>
<p>For more provisional features, check out the <a href="https://wet-boew.github.io/wet-boew/docs/ref/provisional-en.html">WET-BOEW provisional features page</a>.</p>

<details>
	<summary>Stabilized features</summary>
<table class="table table-bordered">
<thead>
	<tr>
		<th>Name</th>
		<th>Description</th>
		<th class="nowrap">Available in</th>
		<th>Status</th>
	</tr>
</thead>
<tbody>
	<tr>
		<th>CSS <code>.p-0</code></th>
		<td>Set a padding of 0px</td>
		<td>v5.1</td>
		<td>Supported in GCWeb since v6.0</td>
	</tr>
	<tr>
		<th>CSS <code>.mb-sm-5</code></th>
		<td>Set a margin bottom of 50px for view port from small screen and up</td>
		<td>v5.1</td>
		<td>Supported in GCWeb since v6.0</td>
	</tr>
	<tr>
		<th>CSS <code>.p-sm-3</code></th>
		<td>Set a padding of 15px for view port from small screen and up</td>
		<td>v5.1</td>
		<td>Supported in GCWeb since v6.0</td>
	</tr>
	<tr>
		<th>CSS <code>.px-sm-3</code></th>
		<td>Set a left and right padding of 15px for view port from small screen and up</td>
		<td>v5.1</td>
		<td>Supported in GCWeb since v6.0</td>
	</tr>
	<tr>
		<th>CSS <code>.bg-darker</code></th>
		<td>Full black background color</td>
		<td>v5.1</td>
		<td>Supported in GCWeb since v9.0</td>
	</tr>
	<tr>
		<th>CSS <code>.bg-gctheme</code> and <code>.bg-gctheme.well.header-rwd</code></th>
		<td>GCWeb theme default background color</td>
		<td>v5.1</td>
		<td>Supported in GCWeb since v9.0</td>
	</tr>
	<tr>
		<th>CSS <code>.bg-cover</code></th>
		<td>Background size cover</td>
		<td>v5.1</td>
		<td>Supported in GCWeb since v9.0</td>
	</tr>
	<tr>
		<th>Plugin <code>[data-bgimg]</code></th>
		<td>Take the URL value and set it as the background image. To be replaced by CSS4 selector.</td>
		<td>v5.1</td>
		<td>Supported in GCWeb since v9.0</td>
	</tr>
	<tr>
		<th>CSS <code>.stretched-link</code></th>
		<td>Propagates the clickable area around an hyperlink tag up to a relatively positioned parent.</td>
		<td>v5.1</td>
		<td>Supported via GCWeb since v6.0</td>
	</tr>
	<tr>
		<th>CSS <code>.alert-danger</code></th>
		<td>Adopt the new danger alert design, without a background colour.</td>
		<td>v7.0</td>
		<td>Supported in GCWeb since v9.0</td>
	</tr>
	<tr>
		<th>CSS <code>.alert-warning</code></th>
		<td>Adopt the new warning alert design, without a background colour.</td>
		<td>v7.0</td>
		<td>Supported in GCWeb since v9.0</td>
	</tr>
	<tr>
		<th>CSS <code>.alert-success</code></th>
		<td>Adopt the new success alert design, without a background colour.</td>
		<td>v7.0</td>
		<td>Supported in GCWeb since v9.0</td>
	</tr>
	<tr>
		<th>CSS <code>.alert-info</code></th>
		<td>Adopt the new info alert design, without a background colour.</td>
		<td>v7.0</td>
		<td>Supported in GCWeb since v9.0</td>
	</tr>
	<tr>
		<th>CSS <code>.gc-thickline</code></th>
		<td>H1 with short bold red underline</td>
		<td>v8.0.1</td>
		<td>Supported in GCWeb since v9.0</td>
	</tr>
	</tbody>
</table>
</details>

<h2 id="documentation">Provisional feature documentation</h2>
<p>CSS provisional features must be accompanied by the class <code>.provisional</code> within his context of use.</p>
<h2 id="examples">Provisional feature working examples</h2>
<h3>In this section</h3>
<ul>
	<li><a href="#well-header-rwd-bgimg">Responsive well header with a background image</a></li>
	<li><a href="#well-header-rwd-dark">Responsive well header with background image and padding controls</a></li>
	<li><a href="#mb-sm-5">Margin bottom small view port and up</a></li>
	<li><a href="#theme-colors">Theme template colors</a></li>
	<li><a href="#bg-img-headings">Background image on headings</a></li>
	<li><a href="#stretched-link">Features section with stretched links</a></li>
	<li><a href="#icon-warning">Icon warning color</a></li>
	<li><a href="#gc-pg-hlpfl">Page success widget</a></li>
	<li><a href="#gc-subway">GC Subway map navigation</a></li>
	<li><a href="#gc-chckbxrdio">Checkboxes and radio-buttons</a></li>
</ul>
<h3 id="well-header-rwd-bgimg">Responsive well header with a background image</h3>
<div class="provisional bg-cover well" data-bgimg="https://wet-boew.github.io/v4.0-ci/demos/tabs/img/investinourfuture.jpg">
	<div class="well header-rwd mrgn-tp-md mrgn-bttm-md">
		<h4 class="mrgn-tp-md">Heading</h4>
		<p>Secondary title</p>
	</div>
</div>
<h3 id="well-header-rwd-dark">Responsive well header with background image and padding controls</h3>
<p>Mostly for campaing pages with content-fluid width.</p>
<div class="provisional bg-cover" data-bgimg="https://wet-boew.github.io/v4.0-ci/demos/tabs/img/investinourfuture.jpg">
	<div class="container p-0 p-sm-3">
		<div class="well header-rwd mrgn-tp-md mrgn-bttm-md bg-dark text-white brdr-0">
			<h4 class="mrgn-tp-md">Heading</h4>
			<p>Secondary title</p>
		</div>
	</div>
</div>
<pre><code>&lt;div class="provisional bg-cover" data-bgimg="https://wet-boew.github.io/v4.0-ci/demos/tabs/img/investinourfuture.jpg"&gt;
	&lt;div class="container p-0 p-sm-3"&gt;
		&lt;div class="well header-rwd mrgn-tp-md mrgn-bttm-md bg-dark text-white brdr-0"&gt;
			&lt;h4 class="mrgn-tp-md"&gt;Heading&lt;/h4&gt;
			&lt;p&gt;Secondary title&lt;/p&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;</code></pre>
<h3 id="mb-sm-5">Margin bottom small view port and up</h3>
<div class="row">
	<div class="col-xs-12 provisional">
		<div>
			<img class="img-responsive full-width" src="https://wet-boew.github.io/v4.0-ci/demos/tabs/img/investinourfuture.jpg" alt="">
			<div class="well pstn-bttm-sm mrgn-bttm-0 mb-sm-5">
				<h4 class="mrgn-tp-md">Heading</h4>
				<p>Secondary title</p>
			</div>
		</div>
	</div>
</div>
<div class="well">
	<p>Second well</p>
</div>
<h3 id="theme-colors">Theme template colors</h3>
<ul>
	<li><a href="../templates/thematic/pink-day-en.html">Pink day</a></li>
	<li><a href="../templates/thematic/dark-theme-en.html">Dark theme</a></li>
</ul>
<details>
	<summary>Javascript code sample to schedule the CSS addition for pink day</summary>
	<p>The following script adds the CSS class only on April 10, 2019 based on local time.</p>
<pre><code>( function( d ) {
"use strict";

var t = new Date(),
	msT = t.getTime(),
	s = new Date( 2019, 3, 10, 0, 1 ),
	e = new Date( 2019, 3, 10, 23, 59 );

if ( s.getTime() &lt; msT && msT &lt; e.getTime() ) {
	d.getElementsByTagName( "html" )[ 0 ].classList.add ("pnkDy-theme", "provisional");
}

} )( document );</code></pre>
</details>
<h3 id="bg-img-headings">Background image on heading</h3>
<p>Mostly for Services and information section.</p>
<div class="row provisional">
	<div class="col-md-6 col-xs-12">
		<h2 class="h3 full-width bg-img-hdng mrgn-tp-0">Impact Assessment</h2>
		<h3 class="h5 mrgn-tp-sm"><a href="https://www.canada.ca/en/environmental-assessment-agency/services/environmental-assessments/basics-environmental-assessment.html">Impact assessments process</a></h3>
		<p>Learn about the purpose and steps of impact assessments under the <em>Impact Assessment Act</em>.</p>
		<h3 class="h5 mrgn-tp-sm"><a href="https://ceaa-acee.gc.ca/050/evaluations/?culture=en-CA">Canadian Impact Assessment Registry</a></h3>
		<p>Information on potential and current IAs of projects subject to the federal IA process.</p>
	</div>
	<div class="col-md-6 col-xs-12">
		<h2 class="h3 full-width bg-img-hdng mrgn-tp-0" data-bgimg="img/provisional-DOCS-how-to-get-involved-orange.png">How to get involved</h2>
		<h3 class="h5 mrgn-tp-sm"><a href="https://www.canada.ca/en/environmental-assessment-agency/services/public-participation.html">Public</a></h3>
		<p>Learn how the public can participate in impact assessments.</p>
		<h3 class="h5 mrgn-tp-sm"><a href="https://www.canada.ca/en/environmental-assessment-agency/programs/aboriginal-consultation-federal-environmental-assessment.html">Indigenous</a></h3>
		<p>Learn about the Indigenous consultation process in impact assessments.</p>
	</div>
</div>
<h3 id="stretched-link">Features section with stretched links</h3>
<p>In the following example, adding the <code>.stretched-link</code> class to the hyperlink found inside the <code>&lt;h3&gt;</code> tag will result in propagating the clickable area all the way up to the parent <code>&lt;div&gt;</code> with the <code>.col-xy-z</code> class because it has a "relative" position.</p>
<div class="row wb-eqht provisional">
	<div class="col-sm-6">
		<div class="well well-sm brdr-rds-0 eqht-trgt">
			<img class="img-responsive full-width" src="https://www.canada.ca/content/dam/canada/activities/20190603-1-520x200.jpg" alt="">
			<h3 class="h5"><a class="stretched-link" href="https://www.ic.gc.ca/eic/site/062.nsf/eng/h_00108.html">Learn more about Canada’s Digital Charter</a></h3>
			<p>Learn how Canada’s Digital Charter will build a foundation of trust in a digital world.</p>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="well well-sm brdr-rds-0 eqht-trgt">
			<img class="img-responsive full-width" src="https://www.canada.ca/content/dam/canada/activities/20190604-1-520x200.jpg" alt="">
			<h3 class="h5"><a class="stretched-link" href="https://www.rcaanc-cirnac.gc.ca/eng/1466616436543/1534874922512">National Indigenous History Month</a></h3>
			<p>Celebrate National Indigenous History Month in June</p>
		</div>
	</div>
</div>
<h3 id="icon-warning">Icon warning color</h3>
<p>Adding <code>provisional icon-warning-light</code> in the class will change the color</p>
<div class="bg-warning">
	<p class="h1">
		<span class="glyphicon glyphicon-warning-sign mrgn-rght-md"></span> Without "provisional icon-warning-light" class
	</p>
</div>
<div class="bg-warning">
	<p class="h1">
		<span class="glyphicon glyphicon-warning-sign provisional icon-warning-light mrgn-rght-md"></span> With "provisional icon-warning-light" class
	</p>
</div>
