---
{
	"title": "Fonctionalités provisoires - Thème de GCWeb",
	"language": "fr",
	"altLangPage": "provisional-en.html",
	"secondlevel": false,
	"dateModified": "2022-12-06",
	"share": "true"
}
---
<span class="wb-prettify all-pre"></span>
<div class="alert alert-warning">
	<h2>Fonctionalité instable</h2>
	<p>À être utilisée <strong>à vos propre risque</strong>. Toutes les fonctionnalités décrites ci-dessous pourraient être retirées lors du lancement d'une version mineure ou majeure et sont exclues de l'API publique GCWeb.</p>
	<p><small><a href="https://wet-boew.github.io/wet-boew-documentation/decision/7.html" lang="en">Renseignez-vous davantage sur la décision sur la conception en matière des fonctionnalités provisoires.</a></small></p>
	<p>Les documents et les exemples pratiques de ces fonctionnalités pourraient être incomplets ou non disponibles.</p>
</div>

<h2>Dans cette page</h2>
<ul>
	<li><a href="#disponibilite">Disponibilité des fonctionalités</a></li>
	<li><a href="#documentation">Documentation des fonctionalités provisoires</a></li>
	<li><a href="#exemples">Exemples pratiques provisoires</a></li>
</ul>

<h2 id="disponibilite">Disponibilité des fonctionalités</h2>
<section class="alert alert-info" lang="en">
	<h3>Provisional feature removal first notice</h3>
	<p>The following provisional feature were identified as <strong>Deprecated</strong> feature during WET Roadmap meeting hold on June 23<sup>th</sup>, 2021.</p>
	<ul>
		<li>CSS <code>.bg-img-hdng</code></li>
		<li>CSS <code>.icon-warning-light</code></li>
		<li>Plugin <code>.wb-chtwzrd</code></li>
	</ul>
	<p>The rational was mostly their stale state, their lack of documentation, requiring complete code review/split, their low/stale development activity and a low engagement with DTO.</p>
	<p>However, this is a notice and it is possible to take all the required action to keep the feature as provisional or move it stable. To be keep as provisional feature, an implementation plan with reasonable deadline and necessary resources for its execution must be provided by September 2021 via commenting this <a href="https://github.com/wet-boew/GCWeb/issues/1863">Github issue</a>.</p>
	<p>Without providing that information, we would move those feature in the upcoming September méli-mélo feature and then withdraw from the next GCWeb minor/major version three weeks after its first availability in Canada.ca as a méli-mélo feature. In other word, it would be possible to use it on Canada.ca but at your own risk and no update will be accepted one year after.</p>
</section>
<p>Le tableau suivant décrit jusqu’à quelle version de GCWeb chaque fonctionnalité sera disponible. La disponibilité des fonctionnalités sera réévaluée chaque fois qu’une version est publiée. Une fonctionnalité expérimentale retirée sera communiquée une version à l’avance.</p>
<details>
	<summary>Description des états</summary>
	<dl class="dl-horizontal">
		<dt>&lt;non spécifié&gt;</dt>
		<dd>Provisoires</dd>
		<dt>Retiré</dt>
		<dd>La fonctionalité n'est plus disponible</dd>
		<dt>Supporté</dt>
		<dd>La fonctionalité est maintenu inclus et supporté par l'API publique de GCWeb.</dd>
		<dt>Retiré après v.Majeur.Mineur</dt>
		<dd>La version v.Major.Minor représente la dernière version que cette fonctionalité sera disponible. Les auteurs doit considérer une solution alternative ou de faire le retrait de l'utilisation de cette fonctionalité.</dd>
	</dl>
</details>
<table class="table table-bordered">
	<thead>
		<tr>
			<th>Nom</th>
			<th>Description</th>
			<th class="nowrap">Disponible dans</th>
			<th>État</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>CSS <code>.bg-pnkDy</code> et <code>.bg-pnkDy.well.header-rwd</code></th>
			<td>Couleur de fond de la Journée rose</td>
			<td>v5.1</td>
			<td></td>
		</tr>
		<tr>
			<th>CSS <code>.pnkDy-theme</code> fixé globalement</th>
			<td>Appliquer la couleur de gabarit « global » pour la couleur de la Journée rose de façon globale, comme cette propriété est définie sur l’élément <code>&lt;html&gt;</code> ou <code>&lt;body&gt;</code></td>
			<td>v5.1</td>
			<td></td>
		</tr>
		<tr>
			<th>CSS <code>.dark-theme</code> set global</th>
			<td>Appliquer la couleur de gabarit « global » modifiée à noir complet de façon globale, comme cette propriété est définie sur l’élément <code>&lt;html&gt;</code> ou <code>&lt;body&gt;</code></td>
			<td>v5.1</td>
			<td></td>
		</tr>
		<tr>
			<th>CSS <code>.bg-img-hdng</code></th>
			<td>Ajouter une image de fond à un en-tête</td>
			<td>v5.1</td>
			<td lang="en">Identified as being a deprecated feature on June 23, 2021. Will be move as méli-mélo feature in September 2021 compilation and then withdraw from next GCWeb minor/major version three weeks after its first availability in Canada.ca as a méli-mélo feature.</td>
		</tr>
		<tr>
			<th>CSS <code>.icon-warning-light</code></th>
			<td>Change the color to <code>#DF7200</code></td>
			<td>v7.0</td>
			<td lang="en">Identified as being a deprecated feature on June 23, 2021. Will be move as méli-mélo feature in September 2021 compilation and then withdraw from next GCWeb minor/major version three weeks after its first availability in Canada.ca as a méli-mélo feature.</td>
		</tr>
		<tr>
			<th>Plugin <code>.wb-chtwzrd</code></th>
			<td lang="en">
				<p>Transforms a simple form into a conversation like experience used as a wizard.</p>
				<ul>
					<li><a href="wb-chtwzrd/docs.html">Chat wizard - How to implement</a></li>
					<li><a href="wb-chtwzrd/chatwizard-en.html">Working example - Chat wizard</a></li>
					<li><a href="wb-chtwzrd/chatwizard-json-en.html">Working example - Chat wizard with JSON settings</a></li>
					<li><a href="https://wet-boew.github.io/wet-boew-documentation/research/2019-15-exploration-chat-pattern.html">2019-15 Research documentation</a></li>
				</ul>
			</td>
			<td>v7.0</td>
			<td lang="en">Identified as being a deprecated feature on June 23, 2021. Will be move as méli-mélo feature in September 2021 compilation and then withdraw from next GCWeb minor/major version three weeks after its first availability in Canada.ca as a méli-mélo feature.</td>
		</tr>
		<tr>
			<th>Gabarit <code>.gc-subway</code></th>
			<td>
				<p>Navigation par carte de métro pour le gabarit d'initiatin de service.</p>
				<ul>
				<li><a href="#gc-subway" hreflang="fr">Comment implémenter</a></li>
				<li><a href="gc-subway/index-fr.html">Page d'introduction de navigation par carte de métro (v8.1.2)</a></li>
				<li><a href="gc-subway/gc-subway-fr.html">Example pratique</a></li>
				<li><a href="https://wet-boew.github.io/wet-boew-documentation/decision/12.html" hreflang="en">Décision de conception relié</a></li>
				</ul>
			</td>
			<td>v8.0.1</td>
			<td></td>
		</tr>
		<tr>
			<th>CSS <code>.gc-chckbxrdio</code></th>
			<td>
				<p>Adoptez les nouvelles grandes cibles tactiles d'entrée pour les cases à cocher et les boutons radio</p>
				<ul>
					<li><a href="gc-chckbxrdio/gc-chckbxrdio-fr.html">Cases à cocher et bouttons radio - Configuration de conception de Canada.ca</a></li>
				</ul>
			</td>
			<td>v8.0.1</td>
			<td>Stable (v9.4.0)</td>
		</tr>
		<tr>
			<th>Composant <code>.gc-followus</code></th>
			<td>
				<p>Nouvel arrangement et model de conception. Pour supporter le gabarit beta thème/sujet.</p>
				<ul>
					<li><a href="../templates/theme-topic/theme-topic-fr.html">Exemple pratique français</a></li>
					<li><a href="../templates/theme-topic/theme-topic-en.html" hreflang="en">Exemple pratique anglais</a></li>
				</ul>
			</td>
			<td>v9.1.0</td>
			<td></td>
		</tr>
		<tr>
			<th>Composant <code>.gc-topic-bg</code></th>
			<td>
				<p>Image promotionelle et d'entête de page. Pour supporter le gabarit beta thème/sujet.</p>
				<ul>
					<li><a href="../templates/theme-topic/theme-topic-fr.html">Exemple pratique français</a></li>
					<li><a href="../templates/theme-topic/theme-topic-en.html" hreflang="en">Exemple pratique anglais</a></li>
				</ul>
			</td>
			<td>v9.1.0</td>
			<td></td>
		</tr>
		<tr>
			<th>Composant <code>.gc-contributors</code></th>
			<td>
				<p>Nouvel arrangement et model de conception. Pour supporter le gabarit beta thème/sujet.</p>
				<ul>
					<li><a href="../templates/theme-topic/theme-topic-fr.html">Exemple pratique français</a></li>
					<li><a href="../templates/theme-topic/theme-topic-en.html" hreflang="en">Exemple pratique anglais</a></li>
				</ul>
			</td>
			<td>v9.1.0</td>
			<td></td>
		</tr>
	</tbody>
</table>
<p>Pour plus de fonctionnalités provisoires, consultez la <a href="https://wet-boew.github.io/wet-boew/docs/ref/provisional-fr.html">page des fonctionnalités provisoires de la WET-BOEW</a>.</p>

<details>
	<summary>Fonctionalité stabilisé</summary>
<table class="table table-bordered">
	<thead>
		<tr>
			<th>Nom</th>
			<th>Description</th>
			<th class="nowrap">Disponible dans</th>
			<th>État</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>CSS <code>.p-0</code></th>
			<td>Fixer un remplissage (<span lang="en">padding</span>) de 0px</td>
			<td>v5.1</td>
			<td>Supporté par GCWeb depuis v6.0</td>
		</tr>
		<tr>
			<th>CSS <code>.mb-sm-5</code></th>
			<td>Fixer la marge du bas à 50px pour la vue à partir d'un petit écran et plus</td>
			<td>v5.1</td>
			<td>Supporté par GCWeb depuis v6.0</td>
		</tr>
		<tr>
			<th>CSS <code>.p-sm-3</code></th>
			<td>Fixer les marges à 15px pour la vue à partir d'un petit écran et plus</td>
			<td>v5.1</td>
			<td>Supporté par GCWeb depuis v6.0</td>
		</tr>
		<tr>
			<th>CSS <code>.px-sm-3</code></th>
			<td>Fixer le <span lang="en">padding</span> de gauche et de droite à 15px pour la vue à partir d'un petit écran et plus</td>
			<td>v5.1</td>
			<td>Supporté par GCWeb depuis v6.0</td>
		</tr>
		<tr>
			<th>CSS <code>.bg-darker</code></th>
			<td>Couleur de fond noir complet</td>
			<td>v5.1</td>
			<td>Supporté par GCWeb depuis v9.0</td>
		</tr>
		<tr>
			<th>CSS <code>.bg-gctheme</code> et <code>.bg-gctheme.well.header-rwd</code></th>
			<td>Couleur de fond de base du thème de GCWeb</td>
			<td>v5.1</td>
			<td>Supporté par GCWeb depuis v9.0</td>
		</tr>
		<tr>
			<th>CSS <code>.bg-cover</code></th>
			<td>Image de fond de taille "couvrir"</td>
			<td>v5.1</td>
			<td>Supporté par GCWeb depuis v9.0</td>
		</tr>
		<tr>
			<th>Plugin <code>[data-bgimg]</code></th>
			<td>Prendre la valeur URL et la fixer en tant qu’image de fond. Il faut le remplacer par le sélecteur CSS4</td>
			<td>v5.1</td>
			<td>Supporté par GCWeb depuis v9.0</td>
		</tr>
		<tr>
			<th>CSS <code>.stretched-link</code></th>
			<td>Propage la zone cliquable d'une balise hyperlien jusqu'au premier élément parent qui est de position relative.</td>
			<td>v5.1</td>
			<td>Supporté par GCWeb depuis v6.0</td>
		</tr>
		<tr>
			<th>CSS <code>.alert-danger</code></th>
			<td>Adoptez la nouvelle conception d’alerte de danger, sans une couleur de fond.</td>
			<td>v7.0</td>
			<td>Supporté par GCWeb depuis v9.0</td>
		</tr>
		<tr>
			<th>CSS <code>.alert-warning</code></th>
			<td>Adoptez la nouvelle conception d’alerte d’avertissement, sans une couleur de fond.</td>
			<td>v7.0</td>
			<td>Supporté par GCWeb depuis v9.0</td>
		</tr>
		<tr>
			<th>CSS <code>.alert-success</code></th>
			<td>Adoptez la nouvelle conception d’alerte de succès, sans une couleur de fond.</td>
			<td>v7.0</td>
			<td>Supporté par GCWeb depuis v9.0</td>
		</tr>
		<tr>
			<th>CSS <code>.alert-info</code></th>
			<td>Adoptez la nouvelle conception d’alerte d’information, sans une couleur de fond.</td>
			<td>v7.0</td>
			<td>Supporté par GCWeb depuis v9.0</td>
		</tr>
		<tr>
			<th>CSS <code>.gc-thickline</code></th>
			<td lang="en">H1 with short bold red underline</td>
			<td>v8.0.1</td>
			<td>Supporté par GCWeb depuis v9.0</td>
		</tr>
	</tbody>
</table>
</details>

<h2 id="documentation">Documentation des fonctionalités provisoires</h2>
<p>Les fonctionalités CSS provisoires doivent être accompagné avec la classe <code>.provisional</code> au sein de leur contexte d'utilisation.</p>
<h2 id="exemples">Examples pratiques provisoires</h2>
<h3>Dans cette section</h3>
<ul>
	<li><a href="#well-header-rwd-bgimg">En-tête adaptable de la boîte grise avec une image de fond</a></li>
	<li><a href="#well-header-rwd-dark">En-tête adaptable de la boîte grise avec une image de fond et des contrôles de remplissage</a></li>
	<li><a href="#mb-sm-5">Marge du bas pour la vue à partir d'un petit écran et plus</a></li>
	<li><a href="#theme-couleurs">Couleurs du gabarit de thème</a></li>
	<li><a href="#bg-img-headings">Image de fond sur l'en-tête</a></li>
	<li><a href="#stretched-link">Section <span lang="en">Features</span> avec des liens élargis</a></li>
	<li><a href="#icon-warning">Icon warning color</a></li>
	<li><a href="#gc-pg-hlpfl">Widget succès de page</a></li>
	<li><a href="#chatwizard" lang="en">Chat wizard</a></li>
	<li><a href="#gc-subway">GC Service initiation template</a></li>
	<li><a href="#gc-chckbxrdio">Cases à cocher et boutons radio</a></li>
</ul>
<h3 id="well-header-rwd-bgimg">En-tête adaptable de la boîte grise avec une image de fond</h3>
<div class="provisional bg-cover well" data-bgimg="https://wet-boew.github.io/v4.0-ci/demos/tabs/img/investinourfuture.jpg">
	<div class="well header-rwd mrgn-tp-md mrgn-bttm-md">
		<h4 class="mrgn-tp-md">En-tête</h4>
		<p>En-tête secondaire</p>
	</div>
</div>
<h3 id="well-header-rwd-dark">En-tête adaptable de la boîte grise avec une image de fond et des contrôles de remplissage</h3>
<p>Principalement pour des pages de campagne ayant une largeur adaptable au contenu.</p>
<div class="provisional bg-cover" data-bgimg="https://wet-boew.github.io/v4.0-ci/demos/tabs/img/investinourfuture.jpg">
	<div class="container p-0 p-sm-3">
		<div class="well header-rwd mrgn-tp-md mrgn-bttm-md bg-dark text-white brdr-0">
			<h4 class="mrgn-tp-md">En-tête</h4>
			<p>En-tête secondaire</p>
		</div>
	</div>
</div>
<pre><code>&lt;div class="provisional bg-cover" data-bgimg="https://wet-boew.github.io/v4.0-ci/demos/tabs/img/investinourfuture.jpg"&gt;
	&lt;div class="container p-0 p-sm-3"&gt;
		&lt;div class="well header-rwd mrgn-tp-md mrgn-bttm-md bg-dark text-white brdr-0"&gt;
			&lt;h4 class="mrgn-tp-md"&gt;En-tête&lt;/h4&gt;
			&lt;p&gt;En-tête secondaire&lt;/p&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;</code></pre>
<h3 id="mb-sm-5">Marge du bas pour la vue à partir d'un petit écran et plus</h3>
<div class="row">
	<div class="col-xs-12 provisional">
		<div>
			<img class="img-responsive full-width" src="https://wet-boew.github.io/v4.0-ci/demos/tabs/img/investinourfuture.jpg" alt="">
			<div class="well pstn-bttm-sm mrgn-bttm-0 mb-sm-5">
				<h4 class="mrgn-tp-md">En-tête</h4>
				<p>En-tête secondaire</p>
			</div>
		</div>
	</div>
</div>
<div class="well">
	<p>Boîte grise secondaire</p>
</div>
<h3 id="#theme-couleurs">Couleurs du gabarit de thème</h3>
<ul>
	<li><a href="../templates/thematic/pink-day-en.html">Journée rose</a></li>
	<li><a href="../templates/thematic/dark-theme-en.html">Thème sombre</a></li>
</ul>
<details>
	<summary>Échantillon du code JavaScript pour programmer l’ajout CSS pour la Journée rose</summary>
	<p>Le script suivant ajoute la classe CSS seulement pour le 10 avril 2019 heure locale.</p>
<pre><code>( function( d ) {
"use strict";

var t = new Date(),
	msT = t.getTime(),
	s = new Date( 2019, 3, 10, 0, 1 ),
	e = new Date( 2019, 3, 10, 23, 59 );

if ( s.getTime() &lt; msT && msT &lt; e.getTime() ) {
	d.getElementsByTagName( "html" )[ 0 ].classList.add ("pnkDy-theme", "provisional");
}

} )( document );</code></pre>
</details>

<h3 id="bg-img-headings">Image de fond sur l'en-tête</h3>
<p>Principalement pour la section Services et information.</p>
<div class="row provisional" lang="en">
	<div class="col-md-6 col-xs-12">
		<h2 class="h3 full-width bg-img-hdng mrgn-tp-0">Impact Assessment</h2>
		<h3 class="h5 mrgn-tp-sm"><a href="https://www.canada.ca/en/environmental-assessment-agency/services/environmental-assessments/basics-environmental-assessment.html">Impact assessments process</a></h3>
		<p>Learn about the purpose and steps of impact assessments under the <em>Impact Assessment Act</em>.</p>
		<h3 class="h5 mrgn-tp-sm"><a href="https://ceaa-acee.gc.ca/050/evaluations/?culture=en-CA">Canadian Impact Assessment Registry</a></h3>
		<p>Information on potential and current IAs of projects subject to the federal IA process.</p>
	</div>
	<div class="col-md-6 col-xs-12">
		<h2 class="h3 full-width bg-img-hdng mrgn-tp-0" data-bgimg="img/provisional-DOCS-how-to-get-involved-orange.png">How to get involved</h2>
		<h3 class="h5 mrgn-tp-sm"><a href="https://www.canada.ca/en/environmental-assessment-agency/services/public-participation.html">Public</a></h3>
		<p>Learn how the public can participate in impact assessments.</p>
		<h3 class="h5 mrgn-tp-sm"><a href="https://www.canada.ca/en/environmental-assessment-agency/programs/aboriginal-consultation-federal-environmental-assessment.html">Indigenous</a></h3>
		<p>Learn about the Indigenous consultation process in impact assessments.</p>
	</div>
</div>
<h3 id="stretched-link">Section <span lang="en">Features</span> avec des liens élargis</h3>
<p>Dans l'exemple suivant, ajouter la classe <code>.stretched-link</code> à l'hyperlien situé à l'intérieur de la balise <code>&lt;h3&gt;</code> résulera en une propagation de la zone cliquable jusqu'au <code>&lt;div&gt;</code> parent qui contient la classe <code>.col-xy-z</code> parce que celui-ci est en position &laquo;&nbsp;relative&nbsp;&raquo;.</p>
<div class="row wb-eqht provisional" lang="en">
	<div class="col-sm-6">
		<div class="well well-sm brdr-rds-0 eqht-trgt">
			<img class="img-responsive full-width" src="https://www.canada.ca/content/dam/canada/activities/20190603-1-520x200.jpg" alt="">
			<h3 class="h5"><a class="stretched-link" href="https://www.ic.gc.ca/eic/site/062.nsf/eng/h_00108.html">Learn more about Canada’s Digital Charter</a></h3>
			<p>Learn how Canada’s Digital Charter will build a foundation of trust in a digital world.</p>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="well well-sm brdr-rds-0 eqht-trgt">
			<img class="img-responsive full-width" src="https://www.canada.ca/content/dam/canada/activities/20190604-1-520x200.jpg" alt="">
			<h3 class="h5"><a class="stretched-link" href="https://www.rcaanc-cirnac.gc.ca/eng/1466616436543/1534874922512">National Indigenous History Month</a></h3>
			<p>Celebrate National Indigenous History Month in June</p>
		</div>
	</div>
</div>
<div lang="en">
	<h3 id="#icon-warning">Icon warning color</h3>
	<p>Adding <code>provisional icon-warning-light</code> in the class will change the color</p>
	<div class="bg-warning">
		<p class="h1">
			<span class="glyphicon glyphicon-warning-sign mrgn-rght-md"></span> Without "provisional icon-warning-light" class
		</p>
	</div>
	<div class="bg-warning">
		<p class="h1">
			<span class="glyphicon glyphicon-warning-sign provisional icon-warning-light mrgn-rght-md"></span> With "provisional icon-warning-light" class
		</p>
	</div>
</div>
