/*
 WET breadcrumb overwrites
 for: GCWeb v2
 */

.gcweb-v2 ~ #wb-bc {
	ol {
		margin-top: 15px;
		padding-left: 0px;
		padding-right: 0px;
	}
}

#wb-bc {
	li {

		&:before {
			position: relative;
			top: -2px;
		}

		&:first-child a {
			padding-left: 0;
		}
	}
	a {
		padding: 5px 10px;
	}
}
