/* H1 short bold red underline */

h1#wb-cont {
	border-bottom: $main-page-title-rule-thickness solid $main-page-title-rule-color;
	border-image: linear-gradient(to right, $main-page-title-rule-color $main-page-title-rule-width, transparent $main-page-title-rule-width);
	border-image-slice: 1;
}
