/* H1 short bold red underline */

h1#wb-cont, hgroup#wb-cont h1 {
	border-bottom: $main-page-title-rule-thickness solid $main-page-title-rule-color;
	border-image: linear-gradient(to right, $main-page-title-rule-color $main-page-title-rule-width, transparent $main-page-title-rule-width);
	border-image-slice: 1;
	border-left-width: 0;
	border-right-width: 0;
	border-top-width: 0;
}

h1#wb-cont[dir="rtl"], hgroup#wb-cont[dir="rtl"] h1, [dir="rtl"] h1#wb-cont, [dir="rtl"] hgroup#wb-cont h1 {
	border-bottom: $main-page-title-rule-thickness solid $main-page-title-rule-color;
	border-image: linear-gradient(to left, $main-page-title-rule-color $main-page-title-rule-width, transparent $main-page-title-rule-width);
	border-image-slice: 1;
	border-left-width: 0;
	border-right-width: 0;
	border-top-width: 0;
}


hgroup#wb-cont {
	margin-top: 1em;

	p {
		color: #555;
		font-size: 26px;
		font-weight: 500;
		margin-bottom: .17em;
	}

	h1 {
		margin-top: 0;
	}
}
