<nav id="theme-nav">
	<div class="container">
		<h2 class="wb-inv">Themes menu</h2>
		<a class="wb-sl" href="#wb-cont">Skip to main content</a>
		<button id="menu-btn" class="btn btn-primary"><span class="wb-inv">Toggle </span>Menu<span aria-hidden="true" class="glyphicon glyphicon-chevron-down"></span></button>
		<ul class="list-unstyled">
			<li><a href="theme-en.html">Jobs</a></li>
			<li><a href="theme-ircc-en.html">Immigration and citizenship</a></li>
			<li><a href="https://travel.gc.ca/">Travel and tourism</a></li>
			<li><a href="theme-business-en.html">Business</a></li>
			<li><a href="#">Benefits</a></li>
			<li><a href="#">Health</a></li>
			<li><a href="#">Taxes</a></li>
			<li><a href="#">Environment and natural resources</a></li>
			<li><a href="#">National security and defence</a></li>
			<li><a href="#">Culture, history and sport</a></li>
			<li><a href="#">Policing, justice and emergencies</a></li>
			<li><a href="#">Transport and infrastructure</a></li>
			<li><a href="#">Canada and the world</a></li>
			<li><a href="#">Money and finances</a></li>
			<li><a href="#">Science and innovation</a></li>
			<li><a href="#">Indigenous peoples</a></li>
			<li><a href="#">Veterans and military</a></li>
			<li><a href="#">Youth</a></li>
			<li><a href="#">Manage life events</a></li>
		</ul>
	</div>
</nav>
