<section class="gc-most-requested">
	<div class="container">
		<h2>{% if page.language == "en" %}Most requested{% else %}En demande{% endif %}</h2>
		<ul>
			<li><a href="#">[{% if page.language == "en" %}Top task hyperlink{% else %}Lien vers une tâche principale{% endif %} 1]</a> <span class="label label-default">{% if page.language == "en" %}(Label info){% else %}(Info étiquette){% endif %}</span></li>
			<li><a href="#">[{% if page.language == "en" %}Top task hyperlink{% else %}Lien vers une tâche principale{% endif %} 2]</a> <span class="label label-primary">{% if page.language == "en" %}(Label info){% else %}(Info étiquette){% endif %}</span></li>
			<li><a href="#">[{% if page.language == "en" %}Top task hyperlink{% else %}Lien vers une tâche principale{% endif %} 3]</a> <span class="label label-success">{% if page.language == "en" %}(Label info){% else %}(Info étiquette){% endif %}</span></li>
			<li><a href="#">[{% if page.language == "en" %}Top task hyperlink{% else %}Lien vers une tâche principale{% endif %} 4]</a> <span class="label label-info">{% if page.language == "en" %}(Label info){% else %}(Info étiquette){% endif %}</span></li>
			<li><a href="#">[{% if page.language == "en" %}Top task hyperlink{% else %}Lien vers une tâche principale{% endif %} 5]</a> <span class="label label-warning">{% if page.language == "en" %}(Label info){% else %}(Info étiquette){% endif %}</span></li>
			<li><a href="#">[{% if page.language == "en" %}Top task hyperlink{% else %}Lien vers une tâche principale{% endif %} 6]</a> <span class="label label-danger">{% if page.language == "en" %}(Label info){% else %}(Info étiquette){% endif %}</span></li>
		</ul>
	</div>
</section>
