---
{
	"title": "List - Additional styles - GCWeb theme V5",
	"language": "en",
	"altLangPage": "list-fr.html",
	"secondlevel": false,
	"dateModified": "2022-07-07",
	"share": "true"
}
---

<p>The following styles are an addition to list styling available in <a href="https://wet-boew.github.io/wet-boew-styleguide/design/lists-en.html">WET-BOEW Style Guide</a> and it is exclusive to GCWeb v5 theme</p>

<h2>List double spaced <code>.lst-spcd-2</code></h2>

<ul class="lst-spcd-2">
	<li>Item</li>
	<li>Item</li>
	<li>Item</li>
	<li>Item</li>
	<li>Item</li>
</ul>

<h3>Source code</h3>
<pre><code>&lt;ul class="lst-spcd-2"&gt;
	&lt;li&gt;Item&lt;/li&gt;
	&lt;li&gt;Item&lt;/li&gt;
	&lt;li&gt;Item&lt;/li&gt;
	&lt;li&gt;Item&lt;/li&gt;
	&lt;li&gt;Item&lt;/li&gt;
&lt;/ul&gt;</code></pre>

<h2>Lists in columns <code>.list-col-[breakpoint]-[columns]</code></h2>
<p>Add the class <code>list-col-[breakpoint]-[columns]</code> to display any list in a column format, where <code>[breakpoint]</code> can be either <code>xs</code>, <code>sm</code>, <code>md</code> or <code>lg</code> and <code>[columns]</code> can be either <code>1</code>, <code>2</code>, <code>3</code> or <code>4</code></p>
<p>The smallest breakpoint defined will affect its breakpoint and all breakpoints above unless a larger breakpoint is defined. For example <code>list-col-sm-2</code> will display the list in two (2) columns for the <code>sm</code>, <code>md</code> and <code>lg</code> breakpoints. The default number of columns is one (1), so, in this example, the list would be displayed in one column for the <code>xs</code> breakpoint.</p>
<p>Classes can be combined to display the items in a different amount of columns for different breakpoints. See following example.</p>
<ul class="list-col-xs-1 list-col-sm-2 list-col-md-3 list-col-lg-4">
	<li>Item 1</li>
	<li>Item 2</li>
	<li>Item 3</li>
	<li>Item 4</li>
	<li>Item 5</li>
	<li>Item 6</li>
	<li>Item 7</li>
	<li>Item 8</li>
	<li>Item 9</li>
	<li>Item 10</li>
	<li>Item 11</li>
	<li>Item 12</li>
</ul>
<h3>Source code</h3>
<pre><code>
&lt;ul class="<strong>list-col-xs-1 list-col-sm-2 list-col-md-3 list-col-lg-4</strong>"&gt;
	&lt;li&gt;Item 1&lt;/li&gt;
	&lt;li&gt;Item 2&lt;/li&gt;
	&lt;li&gt;Item 3&lt;/li&gt;
	&lt;li&gt;Item 4&lt;/li&gt;
	&lt;li&gt;Item 5&lt;/li&gt;
	&lt;li&gt;Item 6&lt;/li&gt;
	&lt;li&gt;Item 7&lt;/li&gt;
	&lt;li&gt;Item 8&lt;/li&gt;
	&lt;li&gt;Item 9&lt;/li&gt;
	&lt;li&gt;Item 10&lt;/li&gt;
	&lt;li&gt;Item 11&lt;/li&gt;
	&lt;li&gt;Item 12&lt;/li&gt;
&lt;/ul&gt;
</code></pre>

<h2>Display items vertically <code>.list-vertical</code></h2>
<p>By default, list items are arranged horizontally (left to right) using Flexbox. To display items vertically (top to bottom), simply add the <code>list-vertical</code> class to the list element. This switches the layout to use CSS columns instead of Flexbox.</p>
<ul class="list-col-xs-1 list-col-sm-2 list-col-md-3 list-col-lg-4 list-vertical">
	<li>Item 1</li>
	<li>Item 2</li>
	<li>Item 3</li>
	<li>Item 4</li>
	<li>Item 5</li>
	<li>Item 6</li>
	<li>Item 7</li>
	<li>Item 8</li>
	<li>Item 9</li>
	<li>Item 10</li>
	<li>Item 11</li>
	<li>Item 12</li>
</ul>
<h3>Source code</h3>
<pre><code>
&lt;ul class="<strong>list-col-xs-1 list-col-sm-2 list-col-md-3 list-col-lg-4 list-vertical</strong>"&gt;
	&lt;li&gt;Item 1&lt;/li&gt;
	&lt;li&gt;Item 2&lt;/li&gt;
	&lt;li&gt;Item 3&lt;/li&gt;
	&lt;li&gt;Item 4&lt;/li&gt;
	&lt;li&gt;Item 5&lt;/li&gt;
	&lt;li&gt;Item 6&lt;/li&gt;
	&lt;li&gt;Item 7&lt;/li&gt;
	&lt;li&gt;Item 8&lt;/li&gt;
	&lt;li&gt;Item 9&lt;/li&gt;
	&lt;li&gt;Item 10&lt;/li&gt;
	&lt;li&gt;Item 11&lt;/li&gt;
	&lt;li&gt;Item 12&lt;/li&gt;
&lt;/ul&gt;
</code></pre>
