---
{
	"title": "Liste - Styles additionels - Thème de GCWeb V5",
	"language": "fr",
	"altLangPage": "list-en.html",
	"secondlevel": false,
	"dateModified": "2022-07-07",
	"share": "true"
}
---

<p>Les styles suivants s'ajoutent aux styles disponibles dans le <a href="https://wet-boew.github.io/wet-boew-styleguide/design/lists-en.html">guide de style de la WET-BOEW</a> et ils sont exclusifs au thème de GCWeb V5.</p>

<h2>Liste à double interline <code>.lst-spcd-2</code></h2>

<ul class="lst-spcd-2">
	<li>Item</li>
	<li>Item</li>
	<li>Item</li>
	<li>Item</li>
	<li>Item</li>
</ul>

<h3>Code source</h3>
<pre><code>&lt;ul class="lst-spcd-2"&gt;
	&lt;li&gt;Item&lt;/li&gt;
	&lt;li&gt;Item&lt;/li&gt;
	&lt;li&gt;Item&lt;/li&gt;
	&lt;li&gt;Item&lt;/li&gt;
	&lt;li&gt;Item&lt;/li&gt;
&lt;/ul&gt;</code></pre>

<h2>Listes en colonnes <code>.list-col-[breakpoint]-[columns]</code></h2>
<p>Ajoutez la classe <code>list-col-[breakpoint]-[columns]</code> pour afficher n'importe quelle liste dans un format de colonne, où <code>[breakpoint]</code> peut être <code>xs</code>, <code>sm</code>, <code>md</code> ou <code>lg</code> et <code>[columns]</code> peut être soit <code>1</code>, <code>2</code>, <code>3</code> ou <code>4</code>.</p>

<p>Le plus petit point d'arrêt défini affectera son point de rupture et tous les points d'arrêt plus grands. Par exemple, <code>list-col-sm-2</code> affichera la liste en deux (2) colonnes pour les points d'arrêt <code>sm</code>, <code>md</code> et <code>lg</code>. Le nombre de colonnes par défaut est un (1), donc, dans cet exemple, la liste serait affichée dans une colonne pour le point d'arrêt <code>xs</code>.</p>
<p>Les classes peuvent être combinées pour afficher les éléments dans un nombre différent de colonnes pour différents points d'arrêt. Voir l'exemple suivant.</p>
<ul class="list-col-xs-1 list-col-sm-2 list-col-md-3 list-col-lg-4">
	<li>Item</li>
	<li>Item</li>
	<li>Item</li>
	<li>Item</li>
	<li>Item</li>
	<li>Item</li>
	<li>Item</li>
	<li>Item</li>
	<li>Item</li>
	<li>Item</li>
	<li>Item</li>
	<li>Item</li>
</ul>
<h3>Source code</h3>
<pre><code>
&lt;ul class="<strong>list-col-xs-1 list-col-sm-2 list-col-md-3 list-col-lg-4</strong>"&gt;
	&lt;li&gt;Item&lt;/li&gt;
	&lt;li&gt;Item&lt;/li&gt;
	&lt;li&gt;Item&lt;/li&gt;
	&lt;li&gt;Item&lt;/li&gt;
	&lt;li&gt;Item&lt;/li&gt;
	&lt;li&gt;Item&lt;/li&gt;
	&lt;li&gt;Item&lt;/li&gt;
	&lt;li&gt;Item&lt;/li&gt;
	&lt;li&gt;Item&lt;/li&gt;
	&lt;li&gt;Item&lt;/li&gt;
	&lt;li&gt;Item&lt;/li&gt;
	&lt;li&gt;Item&lt;/li&gt;
&lt;/ul&gt;
</code></pre>
