/*
 * Specific classes for authentication section which include Sign-on/Sign-off button and the Contextual Sign-in button.
 */

#wb-so {

	.btn {
		border-radius: 0px;
		margin-top: 5px;
	}

	a.btn-primary:hover {
		background-color: #444;
	}
}
