/*
* Template pages styles
*/

.whtwedo { //used on the topics template

	p {
		font-weight: 700;
		margin-bottom: 30px;
		margin-top: 15px;
	}

	ul {

		>li {
			margin-bottom: 10px;
		}
	}
}


.lnkbx { //used on topics and theme for well in right column

	h2 {

		&:nth-child(1) {
			margin-top: 0;
		}
	}

	p {
		font-weight: 700;
	}

	>ul {

		>li {
			margin-bottom: 10px;
		}
	}
}

.gc-byline { // byline text for linking to institution pages
	font-weight: 700;
	margin-bottom: 30px;
}

/*
 * Corporate information on Institution and Organization pages
*/

.gc-crprt {
	ul {

		&:nth-child(1) {
			list-style: outside none none;
			margin: 0;
			padding: 0;

			>li {
				margin-bottom: 10px;
			}
		}
	}

	h3 {
		margin-top: 0;
	}

	.col-md-8 {

		.col-md-4 {
			margin-bottom: 15px;
		}
	}
}

/*
 * Institution pages
 */

.gc-instttn,
.gc-orgnztn { // Class added to main

	p {

		&:nth-child(1) {
			font-weight: 700;
		}
	}

	.gc-rms-lngth {

		img {
			margin-bottom: 30px;
		}
	}
}

/*
 * Theme template
 */

.gc-theme {
	.profile {
		margin-bottom: 25px;
	}
}

/*
 * Service template
 */

.gc-cntct-lst { // Contact definition list
	dt,
	dd {
		border: 0;
	}
}
