/*
* Template pages styles
*/

.whtwedo { //used on the topics template

	p {
		float: right;
		font-weight: bold;
		margin-bottom: 30px;
		margin-top: 15px;
	}

	ul {

		>li {
			margin-bottom: 10px;
		}
	}
}


.lnkbx { //used on topics and theme for well in right column

	h2 {
		&:nth-child(1) {
			margin-top: 0;
		}
	}

	>ul {

		>li {
			margin-bottom: 10px;
		}
	}
}
