{%- comment -%}

++++++++++++++++++++++++++++++++++
+ List of organization links and head of organization image
+
+ Used by organizational pages
++++++++++++++++++++++++++++++++++

{%- endcomment -%}

<section class="gc-crprt">
	{%- if page.language == "fr" -%}
	<h2>Renseignements sur l’organisation</h2>
	{%- else -%}
	<h2>Corporate information</h2>
	{%- endif -%}
	<div class="row">
		<div class="col-md-4">
			<ul>
				{%- if page.language == "fr" -%}
				<li><a href="#">Mandat</a></li>
				<li><a href="#">Programmes</a></li>
				<li><a href="#">Structure organisationnelle</a></li>
				<li><a href="#">Possibilités d’emplois</a></li>
				<li><a href="#">Compte rendu du rendement des services</a></li>
				{%- else -%}
				<li><a href="#">Mandate</a></li>
				<li><a href="#">Programs</a></li>
				<li><a href="#">Organizational structure</a></li>
				<li><a href="#">Job opportunities</a></li>
				<li><a href="#">Service performance reporting</a></li>
				{%- endif -%}
			</ul>
		</div>
		<div class="col-md-8">
			<div class="wb-eqht row">
				{%- if page.language == "fr" -%}
				<section class="col-md-4">
					<h3 class="wb-inv">Chef de l’organisme</h3>
					<a href="#">
						<figure>
							<img src="https://dummyimage.com/218x291/000000/FFFFFF.png" alt="" class="img-responsive thumbnail">
							<figcaption>[Président]</figcaption>
						</figure>
					</a>
					<p>[Chef de l’organisme]</p>
				</section>
				{%- else -%}
				<section class="col-md-4">
					<h3 class="wb-inv">Organization head</h3>
					<a href="#">
						<figure>
							<img src="https://dummyimage.com/218x291/000000/FFFFFF.png" alt="" class="img-responsive thumbnail">
							<figcaption>[Chairperson]</figcaption>
						</figure>
					</a>
					<p>[Organization head]</p>
				</section>
				{%- endif -%}
			</div>
		</div>
	</div>
</section>
