<!-- Default Page details -->
<div id="default"><section class="pagedetails">
	<h2 class="wb-inv">Page details</h2>
	<div class="row">
		<div class="col-xs-12">
			[Date modified component]
		</div>
	</div>
</section></div>

<!-- Page details with Page feedback tool -->
<div id="pft"><section class="pagedetails">
	<h2 class="wb-inv">Page details</h2>
	<div class="row">
		<div class="col-sm-8 col-md-9 col-lg-9">
			[Page feedback tool component version 2.0 or newer]
		</div>
		<div class="col-xs-12">
			[Date modified component]
		</div>
	</div>
</section></div>

<!-- Page details with Share this page -->
<div id="share"><section class="pagedetails">
	<h2 class="wb-inv">Page details</h2>
	<div class="row">
		<div class="wb-share col-sm-4 col-md-3 col-sm-push-8 col-md-push-9" data-wb-share='{"lnkClass": "btn btn-default btn-block"}'></div>
		<div class="col-sm-6 col-md-5 col-lg-4 col-sm-pull-4 col-md-pull-3">
			[Date modified component]
		</div>
	</div>
</section></div>

<!-- Page details with Share this page and Page feedback tool -->
<div id="pftShare"><section class="pagedetails">
	<h2 class="wb-inv">Page details</h2>
	<div class="row">
		<div class="col-sm-8 col-md-9 col-lg-9">
			[Page feedback tool component version 2.0 or newer]
		</div>
		<div class="wb-share col-sm-4 col-md-3" data-wb-share='{"lnkClass": "btn btn-default btn-block"}'></div>
		<div class="col-xs-12">
			[Date modified component]
		</div>
	</div>
</section></div>
