<footer class="pagedetails">
	<h2 class="wb-inv">Détails de la page</h2>
	<div class="row">
		<div class="col-sm-8 col-md-9 col-lg-9">
			<div data-ajax-replace="../feedback/ajax/report-problem-fr.html">
				<div class="row row-no-gutters">
					<div class="col-sm-11 col-md-7 col-lg-6">
						<a class="btn btn-default btn-block" href="https://www.canada.ca/fr/signaler-probleme.html">Signaler un problème ou une erreur sur cette page </a>
					</div>
				</div>
			</div>
		</div>
		<div class="wb-share col-sm-4 col-md-3" data-wb-share='{"lnkClass" : "btn btn-default btn-block"}' >
		</div>
		<div class="col-xs-12">
			<dl id="wb-dtmd">
				<dt>Date de modification :</dt>
				<dd><time property="dateModified">2022-04-14</time></dd>
			</dl>
		</div>
	</div>
</footer>
