<!-- Default Détails de la page -->
<div id="default">
<section class="pagedetails">
	<h2 class="wb-inv">Détails de la page</h2>
	[Composant Date de modification]
</section>
</div>

<!-- Détails de la page with Page feedback tool -->
<div id="pft">
<section class="pagedetails">
	<h2 class="wb-inv">Détails de la page</h2>
	<div class="row">
		<div class="col-sm-8 col-md-9 col-lg-9">
			[Composant Outil de rétroaction sur la page version 2.0 ou plus récente]
		</div>
	</div>
	[Composant Date de modification]
</section>
</div>
