---
{
	language: "fr"
}
---
<!-- secondary navigation if enabled -->
<div class="pnl-strt container nvbar">
	<h2 class="wb-inv">Menu des sujets</h2>
	<div class="row">
		<ul class="list-inline menu" role="menubar">
			<li><a href="#emplois" class="item">Emplois</a>
				<ul class="sm list-unstyled" id="emplois" role="menu">
					<li><a href="https://www.canada.ca/fr/services/emplois/opportunites.html">Trouver un emploi</a></li>
					<li><a href="https://www.canada.ca/fr/services/emplois/formation.html">Formation</a></li>
					<li><a href="https://www.canada.ca/fr/services/entreprises/engager.html">Embauche et gestion de personnel</a></li>
					<li><a href="https://www.canada.ca/demarrage-entreprise">Démarrage d'entreprise</a></li>
					<li><a href="https://www.canada.ca/fr/services/emplois/milieu-travail.html">Normes en milieu de travail</a></li>
					<li><a href="https://www.canada.ca/fr/services/finance/pensions.html">Pensions et retraite</a></li>
					<li><a href="https://www.canada.ca/ae">Assurance-emploi</a></li>
					<li class="slflnk"><a href="https://www.canada.ca/fr/services/emplois.html">Emplois – Autres</a></li>
				</ul>
			</li>
			<li><a href="#immigration" class="item">Immigration</a>
				<ul class="sm list-unstyled" id="immigration" role="menu">
					<li><a href="https://www.canada.ca/fr/immigration-refugies-citoyennete/services/demande.html">Ma demande</a></li>
					<li><a href="https://www.canada.ca/fr/immigration-refugies-citoyennete/services/immigrer-canada.html">Immigrer</a></li>
					<li><a href="https://www.canada.ca/fr/immigration-refugies-citoyennete/services/visiter-canada.html">Visiter</a></li>
					<li><a href="https://www.canada.ca/fr/immigration-refugies-citoyennete/services/travailler-canada.html">Travailler</a></li>
					<li><a href="https://www.canada.ca/fr/immigration-refugies-citoyennete/services/etudier-canada.html">Étudier</a></li>
					<li><a href="https://www.canada.ca/fr/immigration-refugies-citoyennete/services/citoyennete-canadienne.html">Citoyenneté</a></li>
					<li><a href="https://www.canada.ca/fr/immigration-refugies-citoyennete/services/nouveaux-immigrants.html">Nouveaux immigrants</a></li>
					<li><a href="https://www.canada.ca/fr/immigration-refugies-citoyennete/services/canadiens.html">Canadiens</a></li>
					<li><a href="https://www.canada.ca/fr/immigration-refugies-citoyennete/services/refugies.html">Réfugiés et demandes d’asile</a></li>
					<li><a href="https://www.canada.ca/fr/services/immigration-citoyennete/application-loi-infractions.html">Application de la loi et violations</a></li>
					<li class="slflnk"><a href="https://www.canada.ca/fr/services/immigration-citoyennete.html">Immigration – Autres</a></li>
				</ul>
			</li>
			<li><a href="#voyage" class="item">Voyage</a>
				<ul class="sm list-unstyled" id="voyage" role="menu">
					<li><a href="https://voyage.gc.ca/voyager/avertissements">Conseils aux voyageurs et avertissements</a></li>
					<li><a href="https://voyage.gc.ca/tourisme-canadien">Attraits touristiques, événements et expériences au Canada</a></li>
					<li><a href="https://www.canada.ca/fr/immigration-refugies-citoyennete/services/passeports-canadiens.html">Passeports canadiens</a></li>
					<li><a href="https://voyage.gc.ca/voyager">Voyager à l'étranger</a></li>
					<li><a href="https://voyage.gc.ca/avion">Voyager en avion</a></li>
					<li><a href="https://voyage.gc.ca/retour">Retour au Canada</a></li>
					<li><a href="https://voyage.gc.ca/assistance">Assistance à l’étranger</a></li>
					<li><a href="https://voyage.gc.ca/restez-branches">Restez branchés</a></li>
					<li><a href="https://www.canada.ca/visiter">Visiter le Canada</a></li>
					<li class="slflnk"><a href="https://voyage.gc.ca/">Voyage – Autres</a></li>
				</ul>
			</li>
			<li><a href="#entreprises" class="item">Entreprises</a>
				<ul class="sm list-unstyled" id="entreprises" role="menu">
					<li><a href="https://www.canada.ca/fr/services/entreprises/lancer.html">Démarrage d'entreprise</a></li>
					<li><a href="https://www.canada.ca/fr/services/entreprises/subventions.html">Subventions et financement</a></li>
					<li><a href="https://www.canada.ca/fr/services/entreprises/impots.html">Taxes et impôt des entreprises</a></li>
					<li><a href="https://www.canada.ca/fr/services/entreprises/faire-affaire.html">Faire affaire avec le gouvernement</a></li>
					<li><a href="https://www.canada.ca/fr/services/entreprises/commerce.html">Commerce international et investissements</a></li>
					<li><a href="https://www.canada.ca/fr/services/science/innovation.html">Recherche-développement et innovation</a></li>
					<li><a href="https://www.canada.ca/fr/services/entreprises/pi.html">Propriété intellectuelle et droit d'auteur</a></li>
					<li><a href="https://www.canada.ca/fr/services/entreprises/permis.html">Permis, licences et règlements</a></li>
					<li><a href="https://www.canada.ca/fr/services/entreprises/recherche.html">Recherche et renseignements d'affaires</a></li>
					<li><a href="https://www.canada.ca/gestion-entreprise">Embauche et gestion de personnel</a></li>
					<li><a href="https://www.canada.ca/fr/services/entreprises/maintenirfairecroitreameliorerentreprise.html">Administration de votre entreprise</a></li>
					<li><a href="https://www.canada.ca/fr/services/entreprises/proteger.html">Protection de votre entreprise</a></li>
					<li><a href="https://www.canada.ca/fr/services/entreprises/faillites.html">Faillite pour les entreprises</a></li>
					<li class="slflnk"><a href="https://www.canada.ca/fr/services/entreprises.html">Entreprises – Autres</a></li>
				</ul>
			</li>
			<li><a href="#prestations" class="item">Prestations</a>
				<ul class="sm list-unstyled" id="prestations" role="menu">
					<li><a href="https://www.canada.ca/fr/services/prestations/ae.html">Assurance-emploi</a></li>
					<li><a href="https://www.canada.ca/fr/services/prestations/famille.html">Prestations pour les familles</a></li>
					<li><a href="https://www.canada.ca/fr/services/prestations/pensionspubliques.html">Pensions publiques</a></li>
					<li><a href="https://www.canada.ca/fr/services/prestations/etudes.html">Éducation et aide aux étudiants</a></li>
					<li><a href="https://www.canada.ca/fr/services/prestations/logement.html">Prestations relatives au logement</a></li>
					<li><a href="https://www.canada.ca/fr/services/prestations/handicap.html">Prestations relatives aux personnes handicapées</a></li>
					<li><a href="http://www.prestationsducanada.gc.ca">Chercheur de prestations</a></li>
					<li class="slflnk"><a href="https://www.canada.ca/fr/services/prestations.html">Prestations – Autres</a></li>
				</ul>
			</li>
			<li><a href="#sante" class="item">Santé</a>
				<ul class="sm list-unstyled" id="sante" role="menu">
					<li><a href="https://www.canada.ca/fr/services/sante/aliments-et-nutrition.html">Aliments et nutrition</a></li>
					<li><a href="https://www.canada.ca/fr/sante-publique/services/maladies.html">Maladies et affections</a></li>
					<li><a href="https://www.canada.ca/fr/sante-publique/sujets/immunisation-et-vaccins.html">Vaccins et immunisation</a></li>
					<li><a href="https://www.canada.ca/fr/services/sante/medicaments-et-produits-sante.html">Médicaments et produits de santé</a></li>
					<li><a href="https://www.canada.ca/fr/services/sante/securite-produits.html">Sécurité des produits</a></li>
					<li><a href="https://www.canada.ca/fr/services/sante/securite-et-risque-pour-sante.html">Sécurité et risque pour la santé</a></li>
					<li><a href="https://www.canada.ca/fr/services/sante/vie-saine.html">Vie saine</a></li>
					<li><a href="https://www.canada.ca/fr/services/sante/sante-autochtones.html">Santé des Autochtones</a></li>
					<li><a href="https://www.canada.ca/fr/services/sante/systeme-et-services-sante.html">Système et services de santé</a></li>
					<li><a href="https://www.canada.ca/fr/services/sante/science-recherche-et-donnees.html">Science, recherche et données</a></li>
					<li class="slflnk"><a href="https://www.canada.ca/fr/services/sante.html">Santé – Autres</a></li>
				</ul>
			</li>
			<li><a href="#impots" class="item">Impôts</a>
				<ul class="sm list-unstyled" id="impots" role="menu">
					<li><a href="https://www.canada.ca/fr/services/impots/impot-sur-le-revenu.html">Impôt sur le revenu</a></li>
					<li><a href="https://www.canada.ca/fr/agence-revenu/services/impot/entreprises/sujets/tps-tvh-entreprises.html">TPS/TVH</a></li>
					<li><a href="https://www.canada.ca/fr/services/impots/retenues-sur-la-paie.html">Retenues sur la paie</a></li>
					<li><a href="https://www.canada.ca/fr/services/impots/numero-dentreprise.html">Numéro d’entreprise</a></li>
					<li><a href="https://www.canada.ca/fr/services/impots/regimes-depargne-et-de-pension.html">Régimes d’épargne et de pension</a></li>
					<li><a href="https://www.canada.ca/fr/services/impots/prestations-pour-enfants-et-familles.html">Prestations pour enfants et familles</a></li>
					<li><a href="https://www.canada.ca/fr/services/impots/taxes-daccise-droits-et-prelevements.html">Taxes d’accise, droits et prélèvements</a></li>
					<li><a href="https://www.canada.ca/fr/services/impots/bienfaisance.html">Organismes de bienfaisance et dons</a></li>
					<li class="slflnk"><a href="https://www.canada.ca/fr/services/impots.html">Impôts – Autres</a></li>
				</ul>
			</li>
			<li><a href="#autres-services" class="item">Autres services</a>
				<ul class="sm list-unstyled" id="autres-services" role="menu">
					<li><a href="https://www.canada.ca/fr/services/environnement.html">Environnement et ressources naturelles</a></li>
					<li><a href="https://www.canada.ca/fr/services/defense.html">Sécurité nationale et défense</a></li>
					<li><a href="https://www.canada.ca/fr/services/culture.html">Culture, histoire et sport</a></li>
					<li><a href="https://www.canada.ca/fr/services/police.html">Services de police, justice et urgences</a></li>
					<li><a href="https://www.canada.ca/fr/services/transport.html">Transport et infrastructure</a></li>
					<li><a href="https://www.international.gc.ca/world-monde/index.aspx?lang=fra">Le Canada et le monde</a></li>
					<li><a href="https://www.canada.ca/fr/services/finance.html">Argent et finances</a></li>
					<li><a href="https://www.canada.ca/fr/services/science.html">Science et innovation</a></li>
					<li class="slflnk"><a href="https://www.canada.ca/fr/services.html">Tous les services</a></li>
				</ul>
			</li>

		</ul>
	</div>
</div>
