---
{
	language: "en"
}
---
<!-- secondary navigation if enabled -->
<div class="pnl-strt container nvbar">
	<h2 class="wb-inv">Topics menu</h2>
	<div class="row">
		<ul class="list-inline menu" role="menubar">
			<li><a href="#jobs" class="item">Jobs</a>
				<ul class="sm list-unstyled" id="jobs" role="menu">
					<li><a href="https://www.canada.ca/en/services/jobs/opportunities.html">Find a job</a></li>
					<li><a href="https://www.canada.ca/en/services/jobs/training.html">Training</a></li>
					<li><a href="https://www.canada.ca/business-management">Hire and manage employees</a></li>
					<li><a href="https://www.canada.ca/en/services/business/start.html">Starting a business</a></li>
					<li><a href="https://www.canada.ca/en/services/jobs/workplace.html">Workplace standards</a></li>
					<li><a href="https://www.canada.ca/en/services/finance/pensions.html">Pensions and retirement</a></li>
					<li><a href="https://www.canada.ca/ei">Employment insurance</a></li>
					<li class="slflnk"><a href="https://www.canada.ca/en/services/jobs.html">Jobs - More</a></li>
				</ul>
			</li>
			<li><a href="#immigration" class="item">Immigration</a>
				<ul class="sm list-unstyled" id="immigration" role="menu">
					<li><a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/application.html">My application</a></li>
					<li><a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/immigrate-canada.html">Immigrate</a></li>
					<li><a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/visit-canada.html">Visit</a></li>
					<li><a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/work-canada.html">Work</a></li>
					<li><a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/study-canada.html">Study</a></li>
					<li><a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/canadian-citizenship.html">Citizenship</a></li>
					<li><a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/new-immigrants.html">New immigrants</a></li>
					<li><a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/canadians.html">Canadians</a></li>
					<li><a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/refugees.html">Refugees and asylum</a></li>
					<li><a href="https://www.canada.ca/en/services/immigration-citizenship/enforcement-violations.html">Enforcement and violations</a></li>
					<li class="slflnk"><a href="https://www.canada.ca/en/services/immigration-citizenship.html">Immigration - More</a></li>
				</ul>
			</li>
			<li><a href="#travel" class="item">Travel</a>
				<ul class="sm list-unstyled" id="travel" role="menu">
					<li><a href="https://travel.gc.ca/travelling/advisories">Travel advice and advisories</a></li>
					<li><a href="https://travel.gc.ca/canadian-tourism">Canadian attractions, events and experiences</a></li>
					<li><a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/canadian-passports.html">Canadian passports</a></li>
					<li><a href="https://travel.gc.ca/travelling">Travelling abroad</a></li>
					<li><a href="https://travel.gc.ca/air">Air travel</a></li>
					<li><a href="https://travel.gc.ca/returning">Returning to Canada</a></li>
					<li><a href="https://travel.gc.ca/assistance">Assistance abroad</a></li>
					<li><a href="https://travel.gc.ca/stay-connected">Stay connected</a></li>
					<li><a href="https://www.canada.ca/visit">Visit Canada</a></li>
					<li class="slflnk"><a href="https://travel.gc.ca/">Travel - More</a></li>
				</ul>
			</li>
			<li><a href="#business" class="item">Business</a>
				<ul class="sm list-unstyled" id="business" role="menu">
					<li><a href="https://www.canada.ca/start-business">Starting a business</a></li>
					<li><a href="https://www.canada.ca/en/services/business/grants.html">Grants and financing</a></li>
					<li><a href="https://www.canada.ca/en/services/business/taxes.html">Business taxes</a></li>
					<li><a href="https://www.canada.ca/en/services/business/doing-business.html">Doing business with government</a></li>
					<li><a href="https://www.canada.ca/en/services/business/trade.html">International trade and investment</a></li>
					<li><a href="https://www.canada.ca/en/services/science/innovation.html">Research and development (R&amp;D) and innovation</a></li>
					<li><a href="https://www.canada.ca/en/services/business/ip.html">Intellectual property and copyright</a></li>
					<li><a href="https://www.canada.ca/en/services/business/permits.html">Permits, licences and regulations</a></li>
					<li><a href="https://www.canada.ca/en/services/business/research.html">Research and business intelligence</a></li>
					<li><a href="https://www.canada.ca/en/services/business/hire.html">Hiring and managing employees</a></li>
					<li><a href="https://www.canada.ca/en/services/business/maintaingrowimprovebusiness.html">Maintaining your business</a></li>
					<li><a href="https://www.canada.ca/en/services/business/protecting.html">Protect your business</a></li>
					<li><a href="https://www.canada.ca/en/services/business/bankruptcy.html">Bankruptcy for business</a></li>
					<li class="slflnk"><a href="https://www.canada.ca/en/services/business.html">Business - More</a></li>
				</ul>
			</li>
			<li><a href="#benefits" class="item">Benefits</a>
				<ul class="sm list-unstyled" id="benefits" role="menu">
					<li><a href="https://www.canada.ca/en/services/benefits/ei.html">Employment Insurance</a></li>
					<li><a href="https://www.canada.ca/en/services/benefits/family.html">Family benefits</a></li>
					<li><a href="https://www.canada.ca/en/services/benefits/publicpensions.html">Public pensions</a></li>
					<li><a href="https://www.canada.ca/en/services/benefits/education.html">Education and student aid</a></li>
					<li><a href="https://www.canada.ca/en/services/benefits/housing.html">Housing benefits</a></li>
					<li><a href="https://www.canada.ca/en/services/benefits/disability.html">Disability benefits</a></li>
					<li><a href="http://www.canadabenefits.gc.ca">Benefits finder</a></li>
					<li class="slflnk"><a href="https://www.canada.ca/en/services/benefits.html">Benefits - More</a></li>
				</ul>
			</li>
			<li><a href="#health" class="item">Health</a>
				<ul class="sm list-unstyled" id="health" role="menu">
					<li><a href="https://www.canada.ca/en/services/health/food-nutrition.html">Food and nutrition</a></li>
					<li><a href="https://www.canada.ca/en/public-health/services/diseases.html">Diseases and conditions</a></li>
					<li><a href="https://www.canada.ca/en/public-health/topics/immunization-vaccines.html">Vaccines and immunization</a></li>
					<li><a href="https://www.canada.ca/en/services/health/drug-health-products.html">Drug and health products</a></li>
					<li><a href="https://www.canada.ca/en/services/health/product-safety.html">Product safety</a></li>
					<li><a href="https://www.canada.ca/en/services/health/health-risks-safety.html">Health risks and safety</a></li>
					<li><a href="https://www.canada.ca/en/services/health/healthy-living.html">Healthy living</a></li>
					<li><a href="https://www.canada.ca/en/services/health/aboriginal-health.html">Indigenous health</a></li>
					<li><a href="https://www.canada.ca/en/services/health/health-system-services.html">Health system and services</a></li>
					<li><a href="https://www.canada.ca/en/services/health/science-research-data.html">Science, research and data</a></li>
					<li class="slflnk"><a href="https://www.canada.ca/en/services/health.html">Health - More</a></li>
				</ul>
			</li>
			<li><a href="#taxes" class="item">Taxes</a>
				<ul class="sm list-unstyled" id="taxes" role="menu">
					<li><a href="https://www.canada.ca/en/services/taxes/income-tax.html">Income tax</a></li>
					<li><a href="https://www.canada.ca/en/revenue-agency/services/tax/businesses/topics/gst-hst-businesses.html">GST/HST</a></li>
					<li><a href="https://www.canada.ca/en/services/taxes/payroll.html">Payroll</a></li>
					<li><a href="https://www.canada.ca/en/services/taxes/business-number.html">Business number</a></li>
					<li><a href="https://www.canada.ca/en/services/taxes/savings-and-pension-plans.html">Savings and pension plans</a></li>
					<li><a href="https://www.canada.ca/en/services/taxes/child-and-family-benefits.html">Child and family benefits</a></li>
					<li><a href="https://www.canada.ca/en/services/taxes/excise-taxes-duties-and-levies.html">Excise taxes, duties, and levies</a></li>
					<li><a href="https://www.canada.ca/en/services/taxes/charities.html">Charities and giving</a></li>
					<li class="slflnk"><a href="https://www.canada.ca/en/services/taxes.html">Taxes - More</a></li>
				</ul>
			</li>
			<li><a href="#more-services" class="item">More services</a>
				<ul class="sm list-unstyled" id="more-services" role="menu">
					<li><a href="https://www.canada.ca/en/services/environment.html">Environment and natural resources</a></li>
					<li><a href="https://www.canada.ca/en/services/defence.html">National security and defence</a></li>
					<li><a href="https://www.canada.ca/en/services/culture.html">Culture, history and sport</a></li>
					<li><a href="https://www.canada.ca/en/services/policing.html">Policing, justice and emergencies</a></li>
					<li><a href="https://www.canada.ca/en/services/transport.html">Transport and infrastructure</a></li>
					<li><a href="https://www.international.gc.ca/world-monde/index.aspx?lang=eng">Canada and the world</a></li>
					<li><a href="https://www.canada.ca/en/services/finance.html">Money and finances</a></li>
					<li><a href="https://www.canada.ca/en/services/science.html">Science and innovation</a></li>
					<li class="slflnk"><a href="https://www.canada.ca/en/services.html">All services</a></li>
				</ul>
			</li>

		</ul>
	</div>
</div>
