---
{
	"title": "Quitter la page",
	"language": "fr",
	"category": "Plugiciels",
	"description": "Definie une conception uniformisé pour un lien qui quitte la page et supprime l'historique de navigation courrante.",
	"tag": "exitlink",
	"parentdir": "exitlink",
	"altLangPrefix": "exitlink",
	"dateModified": "2017-07-10"
}
---
<ul class="list-inline">
	<li><a class="btn btn-primary" href="exitlink-doc-fr.html">Documentation</a></li>
	<li><a class="btn btn-primary" href="https://github.com/wet-boew/GCWeb/issues/new?title=Exit%20link">Questions ou commentaires?</a></li>
</ul>
<p><a class="wb-exitlink btn btn-success" href="http://www.meteo.gc.ca" rel="external">Quitter ce site</a></p>
{{>placeholdercontent}}
