{%- comment -%}

++++++++++++++++++++++++++++++++++
+ List of social media links
+
+ Used by organizational and institutional page
++++++++++++++++++++++++++++++++++

{%- endcomment -%}

<section class="followus">
	{%- if page.language == "fr" -%}
	<h2>Suivez&nbsp;:</h2>
	<ul>
		<li><a href="#facebook" class="facebook wb-lbx wb-init wb-lbx-inited" id="wb-auto-4"><span class="wb-inv">Facebook</span></a></li>
		<li><a href="#" class="twitter" rel="external"><span class="wb-inv">Twitter</span></a></li>
		<li><a href="#youtube" class="youtube wb-lbx wb-init wb-lbx-inited" id="wb-auto-5"><span class="wb-inv">YouTube</span></a></li>
		<li><a href="#" class="flickr" rel="external"><span class="wb-inv">Flickr</span></a></li>
		<li><a href="#" class="pinterest" rel="external"><span class="wb-inv">Pinterest</span></a></li>
		<li><a href="#" class="linkedin" rel="external"><span class="wb-inv">LinkedIn</span></a></li>
		<li><a href="#" class="instagram" rel="external"><span class="wb-inv">Instagram</span></a></li>
		<li><a href="#" class="rss" rel="external"><span class="wb-inv">Fil RSS</span></a></li>
		<li><a href="#" class="email" rel="external"><span class="wb-inv">Abonnement par courriel</span></a></li>
		<li><a href="#" class="periscope" rel="external"><span class="wb-inv">Periscope</span></a></li>
	</ul>
	{%- else -%}
	<h2>Follow:</h2>
	<ul>
		<li><a href="#facebook" class="facebook wb-lbx wb-init wb-lbx-inited" id="wb-auto-4"><span class="wb-inv">Facebook</span></a></li>
		<li><a href="#" class="twitter" rel="external"><span class="wb-inv">Twitter</span></a></li>
		<li><a href="#youtube" class="youtube wb-lbx wb-init wb-lbx-inited" id="wb-auto-5"><span class="wb-inv">YouTube</span></a></li>
		<li><a href="#" class="flickr" rel="external"><span class="wb-inv">Flickr</span></a></li>
		<li><a href="#" class="pinterest" rel="external"><span class="wb-inv">Pinterest</span></a></li>
		<li><a href="#" class="linkedin" rel="external"><span class="wb-inv">LinkedIn</span></a></li>
		<li><a href="#" class="instagram" rel="external"><span class="wb-inv">Instagram</span></a></li>
		<li><a href="#" class="rss" rel="external"><span class="wb-inv">Fil RSS</span></a></li>
		<li><a href="#" class="email" rel="external"><span class="wb-inv">Email subscription</span></a></li>
		<li><a href="#" class="periscope" rel="external"><span class="wb-inv">Periscope</span></a></li>
	</ul>
	{%- endif -%}
</section>
