/*Set Thematic colours*/
h1#wb-cont.retirement-hub {
	border-bottom: 0.18em solid #0A747D;
	border-image: linear-gradient(to right, #0A747D 71px, transparent 71px);
	border-image-slice: 1;
}

.text-retirement-hub {
	color: #0A747D;
}

.bg-retirement-hub {
	background-color: #0A747D;
	color: #fff;
}

.bg-retirement-hub-light {
	background-color: #EEE;
}

.cards {
	padding: 20px;
	box-shadow: 0px 2px 3px 0px #cccccc;
	border-radius: 10px;
}

.btn-retirement-hub.btn-primary, .retirement-hub .wb-steps.quiz .btn-primary {
	background-color: #0A747D;
}

.btn-retirement-hub.btn-primary:active, .btn-retirement-hub.btn-primary:focus, .btn-retirement-hub.btn-primary:hover, .retirement-hub .wb-steps.quiz .btn-primary:active, .retirement-hub .wb-steps.quiz .btn-primary:focus, .retirement-hub .wb-steps.quiz .btn-primary:hover {
	background-color: #EEE;
	color: #0A747D;
}

.btn-retirement-hub.btn-default, .retirement-hub .wb-steps.quiz .btn-default {
	background-color: #fff;
	border-color: #0A747D;
	color: #0A747D;
}

.btn-retirement-hub.btn-default:active, .btn-retirement-hub.btn-default:focus, .btn-retirement-hub.btn-default:hover, .retirement-hub .wb-steps.quiz .btn-default:active, .retirement-hub .wb-steps.quiz .btn-default:focus, .retirement-hub .wb-steps.quiz .btn-default:hover {
	background-color: #EEE;
	border-color: #0A747D;
	color: #0A747D;
}

.retirement-hub .cards.dark-hover:hover {
	background-color: #0A747D;
	color: white;
}
.retirement-hub .cards.dark-hover:hover a {
	background-color: #0A747D;
	color: white;
}
.retirement-hub .cards.light-hover:hover {
	background-color: #EEE;
	color: black;
}
.retirement-hub .cards.light-hover:hover a {
	color: black;
}
.retirement-hub .wb-steps.quiz progress {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: #0A747D solid 1px;
	background-color: #EEE;
	color: #EEE;
}
.retirement-hub .wb-steps.quiz progress::-webkit-progress-bar {
	background-color: #EEE;
}
.retirement-hub .wb-steps.quiz progress::-webkit-progress-value {
	background-color: #0A747D;
}
.retirement-hub .wb-steps.quiz progress::-moz-progress-bar {
	background-color: #0A747D;
}
.retirement-hub .wb-steps.quiz .gc-chckbxrdio input[type=radio]:checked + label::before {
	background: #0A747D;
}
.retirement-hub .wb-steps.quiz .gc-chckbxrdio input[type=checkbox]:checked + label::after {
	border-color: #0A747D;
}
.retirement-hub .wb-steps.quiz .wb-tggle-fildst > legend.wb-steps-active {
	color: #0A747D;
}



/*Extra styles specifically for Retirement Hub 2.0*/
.retirement-hub [data-bgimg-srcset],
.retirement-hub [data-bgimg-srcsetx]{
	background-color: #F8F8F8;
}
.retirement-hub .bg-right {
	background-position: right;
}
.gc-featured-link {
	opacity: 1;
}
.retirement-hub .cards .btn {
	border-style: solid;
}
.retirement-hub a.btn-default {
	background-color: #FFF;
	border-color: #FFF;
}
.retirement-hub a.btn-default:focus, .retirement-hub a.btn-default:hover {
	background-color: #064A50;
	border-color: #FFF;
	color: #FFF;
}
.retirement-hub a.btn-success {
	background-color: #0A747D;
}
.retirement-hub a.btn-success:focus, .retirement-hub a.btn-success:hover {
	background-color: #FFF;
	color: #335075;
}
.retirement-hub .cards-border .glyphicon {
	color: #0A747D;
}
/*TODO: Makes the link hover effect work when an INNER link is focused into via keyboard */
.retirement-hub .cards.light-hover:focus-within {
	background-color: #EEE;
}
.retirement-hub .media-left {
	padding-right: 20px;
}
.retirement-hub .media-right {
	padding-left: 20px;
}
/* Medium view */
@media screen and (min-width: 992px) and (max-width: 1199px) {
	/*Reset the media-right container's padding to Bootstrap's default to allow its calculator icon to grow a bit more without squashing the adjacent paragraph*/
	.retirement-hub .media-right {
		padding-left: 10px;
	}
}
/*quick fix for the calculator box because it always looks the same all the time... will need to rework this later*/
/*.cards.calculator-box {
	box-shadow: none;
	border: 1px solid #0A747D;
}*/

.retirement-hub .cards-border {
	border: 1px solid #0A747D;
}

/*Thick top border class for the stories landing page's cards*/
.retirement-hub .cards-border-top-light {
	border-top: 2px solid #eee;
}

/* Small view and under */
@media screen and (max-width: 991px) {
	/*.bg-retirement-hub-light {
		background-color: #BFEFF6;
	}*/

	/*Temporary, scrap this later on*/
	/*img.img-width-50 {
		width: 50%;
	}*/

	/*.cards-border {
		border: 1px solid #DDD;
	}*/
}

/* Small view and over */
@media screen and (min-width: 768px) {
	.text-sm-center {
		text-align: center;
	}
}

/* Medium view and over */
@media screen and (min-width: 992px) {
	.d-md-flex {
		display: flex;
	}
}

/* Large view and over */
@media screen and (min-width: 1200px) {
	/*.retirement-hub .media-right {
		padding-left: 60px;
		padding-right: 20px;
	}*/
}

/*Specific to sub-pages*/
/*.retirement-hub .bg-retirement-hub-heading-blue {
	background-color: #BFEFF6;
	border-radius: 10px;
	padding: 15px;
}*/

/*H1-style underline experiment (same light blue background colour, 2x longer thickline border)*/
/*.retirement-hub .bg-retirement-hub-heading-blue {
	border-bottom: 0.18em solid #BFEFF6;
	-o-border-image: linear-gradient(to right, #BFEFF6 142px, transparent 142px);
	border-image: linear-gradient(to right, #BFEFF6 142px, transparent 142px);
	border-image-slice: 1;
	border-left-width: 0;
	border-right-width: 0;
	border-top-width: 0;
	padding-bottom: 0.2em;
}*/

/*Another take on it (darker teal colour, 3x longer, thinner*/
/*.retirement-hub .bg-retirement-hub-heading-blue {
	border-bottom: 0.18em solid #0A747D;
	-o-border-image: linear-gradient(to right, #0A747D 142px, transparent 142px);
	border-image: linear-gradient(to right, #0A747D 142px, transparent 142px);
	border-image-slice: 1;
	border-left-width: 0;
	border-right-width: 0;
	border-top-width: 0;
	padding-bottom: 0.2em;
}*/

/* Medium view and over */
@media screen and (min-width: 992px) {
	/*Grid separator borders for the 2nd subpage*/
	.brdr-md-rght, .brdr-md-lft {
		border: solid 0 #ccc;
	}

	.brdr-md-lft {
		border-left-width: 1px;
	}

	.brdr-md-rght {
		border-right-width: 1px;
	}
}

/*Specific to stories page*/
.retirement-hub .stories-circle-cutout {
	height: 80px;
	z-index: 3;
}

.retirement-hub .stories-circle {
	clip-path: circle(80px);
}

/* Small view */
@media screen and (min-width: 768px) and (max-width: 991px) {
	.retirement-hub .stories-circle-cutout {
		clip-path: path("m0,0 v80 h280 a5,5,0,0,1,160,0 h280 v-80 z");
	}
}

/* Medium view */
@media screen and (min-width: 992px) and (max-width: 1199px) {
	.retirement-hub .col-md-4 .stories-circle-cutout {
		clip-path: path("m0,0 v80 h66.66666666666667 a5,5,0,0,1,160,0 h66.66666666666667 v-80 z");
	}

	.retirement-hub .col-md-6 .stories-circle-cutout {
		clip-path: path("m0,0 v80 h147.25 a5,5,0,0,1,160,0 h147.25 v-80 z");
	}
}

/* Large view and over */
@media screen and (min-width: 1200px) {
	.retirement-hub .col-lg-3 .stories-circle-cutout {
		clip-path: path("m0,0 v80 h51.25 a5,5,0,0,1,160,0 h51.25 v-80 z");
	}

	.retirement-hub .col-md-4 .stories-circle-cutout,
	.retirement-hub .col-lg-4 .stories-circle-cutout {
		clip-path: path("m0,0 v80 h100 a5,5,0,0,1,160,0 h100 v-80 z");
	}

	.retirement-hub .col-lg-6 .stories-circle-cutout {
		clip-path: path("m0,0 v80 h197.5 a5,5,0,0,1,160,0 h197.5 v-80 z");
	}
}

/*Temporary port of wet-boew/wet-boew#10012 PR... remove after the PR has been merged and newer versions of GCWeb that come with it get deployed to AEM*/
/*NOTE: PR is built-into AEM's version of GCWeb now, remove this workaround if everything is working happily*/
/*UPDATE: The .gc-chckbxrdio class's selector is overriding WET's float property and changing it to none... kept a fix below for it, will need to send another PR to fix it without resorting to custom CSS hacks.*/
.retirement-hub .wb-steps.quiz .wb-tggle-fildst > legend.wb-steps-active {
	float: left;
}
/*.retirement-hub .wb-steps.quiz .wb-tggle-fildst > legend.wb-steps-active + * {
	clear: left;
}*/



/*Reset list item styles within unstyled lists*/
/*TODO: Turn this into its own class in the future... maybe something along the lines of list-details or list-unstyled-reset*/

/*Disable list bullets on list items (different way than list-unstyled)*/
.list-unstyled > li {
	list-style: none;
}

/*Restore the ul element's bottom margin on the second nesting level and re-disable it on lower levels*/
/*NOTE: Maybe it'd be simpler to have a selector along the lines of this: ul + p {margin-top: 11.5px;}... it'd cover ALL scenarios with adjacent lists/paragraphs and margins would be collapsible. Plus it'd support class overriding if :where() is used*/
ul:where(.list-unstyled) ul {
	margin-bottom: 11.5px;
}
ul:where(.list-unstyled ul) ul {
	margin-bottom: 0;
}
/*NOTE: Don't group these selector rules with the preceding ones... combining them somehow nerfs the latter ones despite using the same properties :S... but separating them works perfectly*/
ul:where(.list-unstyled .list-unstyled) ul {
	margin-bottom: 11.5px;
}
ul:where(.list-unstyled .list-unstyled ul) ul {
	margin-bottom: 0;
}

/*Reset list bullet styles starting at the second nesting level*/
:where(.list-unstyled li li) {
	list-style: disc;
}
:where(.list-unstyled li li li) {
	list-style: circle;
}
:where(.list-unstyled li li li li) {
	list-style: square;
}
/*Reset list bullet styles AGAIN if list-unstyled is nested WITHIN list-unstyled (like lists of dropdowns in checklist results)*/
/*NOTE: Don't group these selector rules with the preceding ones... combining them somehow nerfs the latter ones despite using the same properties :S... but separating them works perfectly*/
/*NOTE: If list-unstyled is nested a third time over, all bullets beyond list-unstyled's main ul will turn into squares*/
:where(.list-unstyled .list-unstyled li li) {
	list-style: disc;
}
:where(.list-unstyled .list-unstyled li li li) {
	list-style: circle;
}
:where(.list-unstyled .list-unstyled li li li li) {
	list-style: square;
}



/*In lists of dropdowns... scrap the final list/paragraph's bottom margins*/
/*NOTE: This currently affects "one-off" dropdowns in checklist results that aren't in one-item lists (by virtue of being in the overall list of results)... which is good, but doesn't affect the original content pages. Not sure how best to handle this.*/
/*TODO: Turn this into its own class in the future... maybe something along the lines of list-details or list-details-mrgn-bttm-0*/
.list-unstyled li details > p:last-child,
.list-unstyled li details > ul:last-child {
	margin-bottom: 0;
}



/*Extras for the landing page's darkened quiz/calculator boxes*/
/*TODO: Status quo is sloppy, can probably use a white text class in practice and move the background colour to another pre-existing selector*/
.retirement-hub .quiz-content {
	background-color: #0A747D;
	color: #fff;
}

/*.calculator-box {
	background-color: #EEE;
}*/

/*Extras for the checklist page*/
.retirement-hub details.cards {
	padding-top: 0;
	padding-bottom: 0;
}

.retirement-hub details.cards[open] {
	border-radius: 10px;
	padding-bottom: 20px;
}

.retirement-hub details.cards > summary {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding: 20px;
}

/*Temporary workaround to make the hidden-print class work with the d-flex class (used by the checklist's PDF links)*/
/*Underlying issue will be fixed via these PRs: wet-boew/wet-boew#10021 and wet-boew/GCWeb#2629*/
@media print {
	.retirement-hub .hidden-print {
		display: none !important;
	}
}

/*Show a border around featured links when printing... without it, the featured link's inner padding makes it look like there's a giant empty space above/below it*/
/*TODO: Port it to GCWeb at some point*/
/*NOTE: Ensure any future PR to use pure CSS for featured links doesn't impact print view (wouldn't want giant coloured bars wasting ink and mixing together with the print border)*/
@media print {
	.retirement-hub .gc-featured-link {
		border: 1px solid #000;
	}
}

/*Make the "Back to main page"/"Back to stories" H2 links look like regular links*/
.retirement-hub .font-normal {
	font-family: inherit;
	font-size: inherit;
	font-weight: normal;
	line-height: inherit;
}

/*Temporary fix to increase summary arrow size in checklist results... proper fix will be to resurrect this PR: wet-boew/wet-boew#9045*/
/*TODO: Whenever that PR gets resurrected, the margin-left/right overrides will still be needed due to the cards class using 20px instead of 15px*/
/*Note: The checkbox symbol itself has a tiny bit of spacing on the sides... isn't related to a CSS bug.*/
.retirement-hub details.cards > summary:has(h4, .h4) {
	font-size: 1.6875rem;
	line-height: 1.33;
	margin-left: -20px;
	margin-right: -20px;
}

.bg-contain {
	background-size: contain;
}

/*Don't hide parent element's background image in banners via solid background colours on the child*/
.retirement-hub [data-bgimg-srcset] > [data-bgimg-srcset] {
	background-color: transparent;
}

/*Tests for an alternate way of doing 100% height background images on page banners... example exists in commented-out code in Keith's EN story.*/
/* Medium view */
@media screen and (min-width: 992px) and (max-width: 1199px) {
	.col-md-1.right-width-full > div {
		width: calc(50vw - (80.8333px * 5) - 15px);
	}

	.col-md-2.right-width-full > div {
		width: calc(50vw - (80.8333px * 4) - 15px);
	}

	.col-md-3.right-width-full > div {
		width: calc(50vw - (80.8333px * 3) - 15px);
	}

	.col-md-4.right-width-full > div {
		width: calc(50vw - (80.8333px * 2) - 15px);
	}

	.col-md-5.right-width-full > div {
		width: calc(50vw - 80.8333px - 15px);
	}

	.col-md-6.right-width-full > div {
		width: calc(50vw - 15px);
	}

	.col-md-7.right-width-full > div {
		width: calc(50vw + 80.8333px - 15px);
	}

	.col-md-8.right-width-full > div {
		width: calc(50vw + (80.8333px * 2) - 15px);
	}

	.col-md-9.right-width-full > div {
		width: calc(50vw + (80.8333px * 3) - 15px);
	}

	.col-md-10.right-width-full > div {
		width: calc(50vw + (80.8333px * 4) - 15px);
	}

	.col-md-11.right-width-full > div {
		width: calc(50vw + (80.8333px * 5) - 15px);
	}

	.col-md-12.right-width-full > div {
		width: calc(50vw + (80.8333px * 6) - 15px);
	}
}

/* Large view and over */
@media screen and (min-width: 1200px) {
	.col-md-1.right-width-full > div {
		width: calc(50vw - (97.5px * 5) - 15px);
	}

	.col-md-2.right-width-full > div {
		width: calc(50vw - (97.5px * 4) - 15px);
	}

	.col-md-3.right-width-full > div {
		width: calc(50vw - (97.5px * 3) - 15px);
	}

	.col-md-4.right-width-full > div {
		width: calc(50vw - (97.5px * 2) - 15px);
	}

	.col-md-5.right-width-full > div {
		width: calc(50vw - 97.5px - 15px);
	}

	.col-md-6.right-width-full > div {
		width: calc(50vw - 15px);
	}

	.col-md-7.right-width-full > div {
		width: calc(50vw + 97.5px - 15px);
	}

	.col-md-8.right-width-full > div {
		width: calc(50vw + (97.5px * 2) - 15px);
	}

	.col-md-9.right-width-full > div {
		width: calc(50vw + (97.5px * 3) - 15px);
	}

	.col-md-10.right-width-full > div {
		width: calc(50vw + (97.5px * 4) - 15px);
	}

	.col-md-11.right-width-full > div {
		width: calc(50vw + (97.5px * 5) - 15px);
	}

	.col-md-12.right-width-full > div {
		width: calc(50vw + (97.5px * 6) - 15px);
	}

	/*Even though the md and lg classes for the same grid counts are equivalent in large view... the lg ones need to be redeclared after ALL md ones to avoid potential conflicts where a lower lg class' declaration get overidden by latter declarations for md classes with larger widths*/
	.col-lg-1.right-width-full > div {
		width: calc(50vw - (97.5px * 5) - 15px);
	}

	.col-lg-2.right-width-full > div {
		width: calc(50vw - (97.5px * 4) - 15px);
	}

	.col-lg-3.right-width-full > div {
		width: calc(50vw - (97.5px * 3) - 15px);
	}

	.col-lg-4.right-width-full > div {
		width: calc(50vw - (97.5px * 2) - 15px);
	}

	.col-lg-5.right-width-full > div {
		width: calc(50vw - 97.5px - 15px);
	}

	.col-lg-6.right-width-full > div {
		width: calc(50vw - 15px);
	}

	.col-lg-7.right-width-full > div {
		width: calc(50vw + 97.5px - 15px);
	}

	.col-lg-8.right-width-full > div {
		width: calc(50vw + (97.5px * 2) - 15px);
	}

	.col-lg-9.right-width-full > div {
		width: calc(50vw + (97.5px * 3) - 15px);
	}

	.col-lg-10.right-width-full > div {
		width: calc(50vw + (97.5px * 4) - 15px);
	}

	.col-lg-11.right-width-full > div {
		width: calc(50vw + (97.5px * 5) - 15px);
	}

	.col-lg-12.right-width-full > div {
		width: calc(50vw + (97.5px * 6) - 15px);
	}
}

/*Present expand/collapse content as if it was open in print view*/
/*Workaround for the toggle plugin's print feature being buggy/non-functional across all browsers in the checklist page*/
/*Even if the toggle plugin was working, it'd retain the expanded state of anything it covered after printing (which isn't desirable...)*/
@media print {
	.retirement-hub .printable-checklist details::details-content {
		content-visibility: visible;
	}

	.retirement-hub .printable-checklist details {
		border: 1px solid #ddd;
		border-radius: 4px;
		display: block;
	}

	.retirement-hub .printable-checklist details.cards {
		border-radius: 10px;
		padding-bottom: 20px;
	}

	.retirement-hub .printable-checklist details > summary {
		border: 0;
		border-bottom: 1px solid #ddd;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		list-style-type: disclosure-open;
		margin-bottom: 0.25em;
	}
}

/*Make the checklist results column thinner in JS mode... otherwise, let it gobble-up as much width as it wants (via col-xs-12)*/
.js:not(.wb-disable) .col-md-8-js {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}

@media (min-width: 992px) {
	.js:not(.wb-disable) .col-md-8-js {
		float: left;
		width: 66.6666666667%;
	}
}

/*Quick fix to prevent flickering results when the URL mapping plugin loads-in URL params*/
/*.wb-urlmapping-inited + section + .wb-tagfilter-inited:not(.wb-init) [data-wb-tags]:not(.wb-tgfltr-out) {
	display: block !important;
}*/
/*NOTE: Had to undo it and remove nojs-show classes from tag filter items... that selector couldn't handle showing all items when nothing was "tagged-out"... couldn't come up with another selector that could handle that scenario.*/


/*
TODOS:
-Turn into a GCWeb thematic at the end
-Adjust background image to still show properly in medium view... somehow... background-position: right -125px; works, but probably wouldn't work if the content got resized ugh... maybe we'd need a background image specifically for medium view?
-Polish-up HTML markup once I'm happier with the design
-Improve image file names and place them in a proper folder structure
-Scrap blue H2 classes (they're no longer used in practice) (bg-retirement-hub-heading-blue)
*/
