---
title: "Chat wizard JSON - Provisional feature"
language: "en"
category: "Plugins"
description: "Working example - provisional feature"
tag: "chatwizard"
parentdir: "chatwizard"
altLangPage: "chatwizard-json-fr.html"
dateModified: "2022-08-25"
---
{% include alert-provisional.html %}

<ul class="list-inline">
	<li><a class="btn btn-primary" href="docs.html">Documentation</a></li>
	<li><a class="btn btn-primary" href="https://github.com/wet-boew/GCWeb/issues/new?title=chat-wizard">Questions or comments?</a></li>
</ul>

<ul>
	<li><a href="chatwizard-en.html">Chat wizard</a></li>
	<li><a href="chatwizard-json-en.html">Chat wizard with JSON settings</a></li>
</ul>

<p>Below is the code to achieve the demo on this page with a JSON file.</p>
<pre><code>&lt;aside class="wb-chtwzrd" data-wb-chtwzrd-src="2019-assets/chtwzrd-v1/manual-form.json"&gt;&lt;/aside&gt;</code></pre>

<p><a href="demo/manual-form.json">Check out he JSON file</a> to get a grasp of how it is done.</p>

<pre><code>&lt;aside class=&quot;provisional wb-chtwzrd&quot; data-wb-chtwzrd-src=&quot;demo/manual-form.json&quot;&gt;&lt;/aside&gt;</code></pre>

{% include web-contents/placeholdercontent-en.html %}

<aside class="provisional wb-chtwzrd" data-wb-chtwzrd-src="demo/manual-form.json"></aside>
