---
title: "Promotions contextuelles - Exemples pratiques"
description: "Exemples pratiques des Promotions contextuelles."
language: "fr"
altLangPage: "gc-features-en.html"
secondlevel: false
dateModified: "2022-11-14"
share: "true"
---
<div class="wb-prettify all-pre hide"></div>

<h2>Promotions de ligne complète (variant par défaut)</h2>

<h3>Deux ou trois tuiles</h3>

<p>En cas d'avoir deux tuiles, les éléments doivent être alignés à gauche, sans espace au milieu. S'il n'y a qu'une seule tuile à afficher, il est recommandé d'utiliser le modèle à une tuile ci-dessous.</p>

<section class="gc-features">
	<h2>En vedette</h2>
	<div class="row wb-eqht-grd">
		<div class="col-lg-4 col-sm-6">
			<div class="well well-sm eqht-trgt">
				<img src="img/feature-360x203.png" alt="">
				<h3><a href="#" class="stretched-link">[Lien à l'élément en vedette]</a></h3>
				<p>Brève description de l'élément en vedette.</p>
			</div>
		</div>
		<div class="col-lg-4 col-sm-6">
			<div class="well well-sm eqht-trgt">
				<img src="img/feature-360x203.png" alt="">
				<h3><a href="#" class="stretched-link">[Lien à l'élément en vedette]</a></h3>
				<p>Brève description de l'élément en vedette.</p>
			</div>
		</div>
		<div class="col-lg-4 col-sm-6">
			<div class="well well-sm eqht-trgt">
				<img src="img/feature-360x203.png" alt="">
				<h3><a href="#" class="stretched-link">[Lien à l'élément en vedette]</a></h3>
				<p>Brève description de l'élément en vedette.</p>
			</div>
		</div>
	</div>
</section>

<h3>Promotion à une tuile</h3>

<section class="gc-features">
	<h2>En vedette</h2>
	<div class="row">
		<div class="col-md-8">
			<div class="row">
				<div class="col-sm-6">
					<img src="img/feature-360x203.png" alt="" class="thumbnail">
				</div>
				<div class="col-sm-6">
					<h3><a class="stretched-link" href="#">[Lien à l'élément en vedette]</a></h3>
					<p>Brève description de l'élément en vedette.</p>
				</div>
			</div>
		</div>
	</div>
</section>

<h2>Initiatives du gouvernement (variant)</h2>

<section class="gc-features">
	<h2>Initiatives du gouvernement</h2>
	<div class="row wb-eqht-grd">
		<div class="col-sm-6">
			<div class="well well-sm eqht-trgt">
				<img src="img/initiative-520x200.png" alt=""/>
				<h3><a class="stretched-link" href="#">[Lien à l'élément en vedette]</a></h3>
				<p>Brève description de l'élément en vedette.</p>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="well well-sm eqht-trgt">
				<img src="img/initiative-520x200.png" alt=""/>
				<h3><a class="stretched-link" href="#">[Lien à l'élément en vedette]</a></h3>
				<p>Brève description de l'élément en vedette.</p>
			</div>
		</div>
	</div>
</section>

<h2>Modèles de cohabitation (variant)</h2>

<p>Les motifs représentent des promotions devant résider soit sur le côté gauche ou soit sur le côté droit d'un autre composant.</p>

<section>
	<h3>Contexte d'utilisation</h3>
	<div class="panel panel-info">
		<div class="panel-heading">Doit être utilisé à l'interieur d'un <code>col-md-8</code></div>
		<div class="panel-body">
	<pre><code>&lt;div class="row mrgn-tp-xl"&gt;
	&lt;div class="col-md-8"&gt;
		&lt;!-- Modèle de cohabitation ici --&gt;
	&lt;/div&gt;
	&lt;div class="col-md-4"&gt;
		&lt;!-- Autre composante ici --&gt;
	&lt;/div&gt;
	&lt;/div&gt;</code></pre>
		</div>
	</div>
</section>

<h3>Deux tuiles alignées à gauche</h3>
<div class="row mrgn-tp-xl">
	<div class="col-md-8">
		<section class="gc-features">
			<h2>En vedette</h2>
			<div class="row wb-eqht-grd">
				<div class="col-sm-6">
					<div class="well well-sm eqht-trgt">
						<img src="img/feature-360x203.png" alt=""/>
						<h3><a class="stretched-link" href="#">[Lien à l'élément en vedette]</a></h3>
						<p>Brève description de l'élément en vedette.</p>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="well well-sm eqht-trgt">
						<img src="img/feature-360x203.png" alt=""/>
						<h3><a class="stretched-link" href="#">[Lien à l'élément en vedette]</a></h3>
						<p>Brève description de l'élément en vedette.</p>
					</div>
				</div>
			</div>
		</section>
	</div>
	<div class="col-md-4">
		<h2>Autre composant</h2>
		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
	</div>
</div>

<h3>Deux tuiles alignées à droite</h3>
<div class="row mrgn-tp-xl">
	<div class="col-md-4">
		<h2>Autre composant</h2>
		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
	</div>
	<div class="col-md-8">
		<section class="gc-features">
			<h2>En vedette</h2>
			<div class="row wb-eqht-grd">
				<div class="col-sm-6">
					<div class="well well-sm eqht-trgt">
						<img src="img/feature-360x203.png" alt=""/>
						<h3><a class="stretched-link" href="#">[Lien à l'élément en vedette]</a></h3>
						<p>Brève description de l'élément en vedette.</p>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="well well-sm eqht-trgt">
						<img src="img/feature-360x203.png" alt=""/>
						<h3><a class="stretched-link" href="#">[Lien à l'élément en vedette]</a></h3>
						<p>Brève description de l'élément en vedette.</p>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>

<h3>Une tuile alignée à gauche</h3>
<div class="row mrgn-tp-xl">
	<div class="col-md-8">
		<section class="gc-features">
			<h2>En vedette</h2>
			<div class="row">
				<div class="col-sm-6">
					<img src="img/feature-360x203.png" alt="" class="thumbnail">
				</div>
				<div class="col-sm-6">
					<h3><a class="stretched-link" href="#">[Lien à l'élément en vedette]</a></h3>
					<p>Brève description de l'élément en vedette.</p>
				</div>
			</div>
		</section>
	</div>
	<div class="col-md-4">
		<h2>Autre composant</h2>
		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
	</div>
</div>

<h3>Une tuile alignée à droite</h3>
<div class="row mrgn-tp-xl">
	<div class="col-md-4">
		<h2>Autre composant</h2>
		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
	</div>
	<div class="col-md-8">
		<section class="gc-features">
			<h2>En vedette</h2>
			<div class="row">
				<div class="col-sm-6">
					<img src="img/feature-360x203.png" alt="" class="thumbnail">
				</div>
				<div class="col-sm-6">
					<h3><a class="stretched-link" href="#">[Lien à l'élément en vedette]</a></h3>
					<p>Brève description de l'élément en vedette.</p>
				</div>
			</div>
		</section>
	</div>
</div>
