---
title: "Promotions contextuelles - Configuration de conception de Canada.ca"
description: "Documentation et exemples pratiques des Promotions contextuelles."
language: "fr"
altLangPage: "gc-features-doc-en.html"
secondlevel: false
dateModified: "2022-11-14"
share: "true"
---
<div class="wb-prettify all-pre hide"></div>

<dl class="horizontal">
	<dt>Statut</dt>
	<dd>Stable</dd>

	<dt>Type</dt>
	<dd>Conception de Canada.ca</dd>

	<dt>Dernière revue</dt>
	<dd>2021-07-21</dd>

	<dt>Est conforme à</dt>
	<dd>Spécifications du contenu et de l'architecture de l'information 2.1</dd>

	<dt>Spécification</dt>
	<dd><a href="https://conception.canada.ca/configurations-conception-communes/vignettes-promotionnelles.html">Promotions contextuelles - Configuration de conception de Canada.ca</a></dd>

	<dt>Nom technique</dt>
	<dd>
		<ul>
			<li><code>gc-features</code></li>
		</ul>
	</dd>

	<dt>Version de la composante</dt>
	<dd>Version 5.0</dd>

	<dt>Version compatible et fonctionnelle</dt>
	<dd>
		<ul>
			<li>Version 5</li>
			<li>Version 4 (déployée avec la version 9.5.0 de GCWeb)</li>
			<li>Version 3 (désuet)</li>
			<li>Version 2 (désuet)</li>
			<li>Version 1 (désuet)</li>
		</ul>
	</dd>
</dl>

<div lang="en">

<h2>Modèles de conception précédents</h2>
<p>Le rendu visuel réel des modèles de conception précédents peut varier en raison de certaines modifications récentes.</p>
<details>
	<summary>Promotions contextuelles avec GCWeb v6.1 - Supprimé</summary>
	<section class="gc-features">
		<h2>En vedette</h2>
		<div class="row wb-eqht">
			<div class="col-lg-4 col-md-6 mrgn-bttm-md">
				<h3 class="h5"><a href="#" class="stretched-link">[Lien à l'élément en vedette]</a></h3>
				<img src="img/feature-360x203.png" alt="" class="img-responsive thumbnail mrgn-bttm-sm">
				<p>Brève description de l'élément en vedette.</p>
			</div>
			<div class="col-lg-4 col-md-6 mrgn-bttm-md">
				<h3 class="h5"><a href="#" class="stretched-link">[Lien à l'élément en vedette]</a></h3>
				<img src="img/feature-360x203.png" alt="" class="img-responsive thumbnail mrgn-bttm-sm">
				<p>Brève description de l'élément en vedette.</p>
			</div>
			<div class="col-lg-4 col-md-6 mrgn-bttm-md">
				<h3 class="h5"><a href="#" class="stretched-link">[Lien à l'élément en vedette]</a></h3>
				<img src="img/feature-360x203.png" alt="" class="img-responsive thumbnail mrgn-bttm-sm">
				<p>Brève description de l'élément en vedette.</p>
			</div>
		</div>
	</section>
</details>

<details>
	<summary>Initiatives du gouvernement du Canada v6.1 - Supprimé</summary>
	<section class="gc-features">
		<h2>Initiatives du gouvernement</h2>
		<div class="row wb-eqht">
			<div class="col-sm-6">
				<div class="well well-sm brdr-rds-0 eqht-trgt">
					<img class="img-responsive full-width" src="img/initiative-520x200.png" alt=""/>
					<h3 class="h5"><a class="stretched-link" href="#">[Lien à l'initiative en vedette]</a></h3>
					<p>Brève description de l'initiative en vedette.</p>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="well well-sm brdr-rds-0 eqht-trgt">
					<img class="img-responsive full-width" src="img/initiative-520x200.png" alt=""/>
					<h3 class="h5"><a class="stretched-link" href="#">[Lien à l'initiative en vedette]</a></h3>
					<p>Brève description de l'initiative en vedette.</p>
				</div>
			</div>
		</div>
	</section>
</details>

<details>
	<summary>Promotions contextuelles avec GCWeb v4.0.28 - Supprimé</summary>
	<section class="gc-prtts">
		<h2>En vedette</h2>
		<div class="row">
			<section class="col-lg-4 col-md-6 mrgn-bttm-md">
				<a href="#">
					<h3 class="h5">[Lien à l'élément en vedette]</h3>
					<img src="img/feature-360x203.png" alt="" class="img-responsive thumbnail mrgn-bttm-sm">
				</a>
				<p>Brève description de l'élément en vedette.</p>
			</section>
			<section class="col-lg-4 col-md-6 mrgn-bttm-md">
				<a href="#">
					<h3 class="h5">[Lien à l'élément en vedette]</h3>
					<img src="img/feature-360x203.png" alt="" class="img-responsive thumbnail mrgn-bttm-sm">
				</a>
				<p>Brève description de l'élément en vedette.</p>
			</section>
			<section class="col-lg-4 col-md-6 mrgn-bttm-md">
				<a href="#">
					<h3 class="h5">[Lien à l'élément en vedette]</h3>
					<img src="img/feature-360x203.png" alt="" class="img-responsive thumbnail mrgn-bttm-sm">
				</a>
				<p>Brève description de l'élément en vedette.</p>
			</section>
		</div>
	</section>
</details>

<details>
	<summary>Activités et initiatives du gouvernement du Canada avec GCWeb v4.0.28 - Supprimé</summary>
	<aside class="gc-nttvs">
		<h2>Activités et initiatives du gouvernement du Canada</h2>
		<div id="gcwb_prts" class="wb-eqht row">
			<section class="col-lg-4 col-md-6 mrgn-bttm-md">
				<a rel="external" href="#">
					<h3 class="h5">[Lien à l'activité et initiative en vedette]</h3>
					<img class="img-responsive thumbnail mrgn-bttm-sm" src="img/355x113.png" alt="">
				</a>
				<p>Brève description de l'activité et initiative en vedette.</p>
			</section>
			<section class="col-lg-4 col-md-6 mrgn-bttm-md">
				<a rel="external" href="#">
					<h3 class="h5">[Lien à l'activité et initiative en vedette]</h3>
					<img class="img-responsive thumbnail mrgn-bttm-sm" src="img/355x113.png" alt="">
				</a>
				<p>Brève description de l'activité et initiative en vedette.</p>
			</section>
			<section class="col-lg-4 col-md-6 mrgn-bttm-md">
				<a rel="external" href="#">
					<h3 class="h5">[Lien à l'activité et initiative en vedette]</h3>
					<img class="img-responsive thumbnail mrgn-bttm-sm" src="img/355x113.png" alt="">
				</a>
				<p>Brève description de l'activité et initiative en vedette.</p>
			</section>
		</div>
	</aside>
</details>

<details>
	<summary>En vedette - Changement de balisage avec GCWeb v4.0.28 - Supprimé</summary>
	<section class="gc-prtts">
		<h2>Une tuile - Élément en vedette</h2>
		<div class="row">
			<div class="col-md-8">
				<a href="#">
					<figure class="row">
						<figcaption class="pull-right col-md-6 col-xs-12">[Lien à l'élément en vedette]</figcaption>
						<div class="pull-left col-md-6 col-xs-12">
							<img src="img/feature-360x203.png" alt="" class="img-responsive thumbnail mrgn-bttm-sm"/>
						</div>
						<div class="pull-right col-md-6 col-xs-12">
							<p>Brève description de l'élément en vedette.</p>
						</div>
					</figure>
				</a>
			</div>
		</div>
	</section>
</details>
<div lang="en">
	<h2>Evaluation and report</h2>
	<ul>
		<li>Accessibility pre-assessment #1
			<ul>
				<li><a href="./reports/a11y-1-en.html" hreflang="en"><span class="wb-inv">Pre-assessment report #1</span> English report</a></li>
				<li><a href="./reports/a11y-1-fr.html" hreflang="fr"><span class="wb-inv">Pre-assessment report #1</span> French report</a></li>
			</ul>
		</li>
		<li>Accessibility assessment #1
			<ul>
				<li><a href="./reports/a11y-2-en.html" hreflang="en"><span class="wb-inv">Assessment report #1</span> English report</a></li>
				<li><a href="./reports/a11y-2-fr.html" hreflang="fr"><span class="wb-inv">Assessment report #1</span> French report</a></li>
			</ul>
		</li>
	</ul>
</div>
<h2>API (Composante v5.0)</h2>
<table class="table table-bordered">
	<tr>
		<th>Classes CSS</th>
		<th>Gabarit</th>
		<th>Rendu visuel</th>
		<th>Schéma</th>
	</tr>
	<tr>
		<td>Version 3.0</td>
		<td>Version 5.0</td>
		<td>Version 3.0</td>
		<td>Version 1.0</td>
	</tr>
</table>

<h3>Classes CSS (v3.0)</h3>
<dl class="dl-horizontal">
	<dt><code>gc-features</code></dt>
	<dd>Composante: Promotions contextuelles</dd>
</dl>

<details>
	<summary>Notes de version</summary>
	<dl class="dl-horizontal">
		<dt>Version 3.0 (v9.5.0)</dt>
		<dd>
			<ul>
				<li>Ajouté: <code>.well</code></li>
				<li>Ajouté: <code>.well-sm</code></li>
				<li>Supprimé: <code>.img-responsive</code></li>
				<li>Supprimé: <code>.mrgn-bttm-md</code></li>
				<li>Supprimé: <code>.mrgn-bttm-sm</code></li>
				<li>Supprimé: <code>.brdr-rds-0</code></li>
				<li>Obsolète: <code>.gc-initiatives</code> (n'avait aucun style ni comportement attaché)</li>
			</ul>
		</dd>
		<dt>Version 2.1 (v6.1)</dt>
		<dd>
			<ul>
				<li>Ajouté: <code>.gc-features</code> et <code>.gc-initiatives</code></li>
				<li>Ajouté: <code>.stretched-link</code></li>
			</ul>
		</dd>
		<dt>Version 2.0 (v4.0.28)</dt>
		<dd>
			<ul>
				<li>Obsolète: <code>.gc-nttvs</code> et <code>.gc-prtts</code></li>
			</ul>
		</dd>
		<dt>Version 1.0 (antérieur à v4.0.28)</dt>
		<dd>
			<ul>
				<li>Ajouté: <code>.gc-nttvs</code> et <code>.gc-prtts</code></li>
			</ul>
		</dd>
	</dl>
</details>


<h3>Gabarit (v5.0)</h3>

<p>Note v5.0: La classe <code>wb-eqht</code> à été remplacée par <code>wb-eqht-grd</code> afin de prendre avantage du CSS lorsque possible, cepandant, la classe <code>wb-eqht</code> est toujours supportée.</p>
<p>Note v3.1: Le variante de <em>cohabitation</em> pour les tuiles des items en vedette a été introduite afin de supporter la version beta du gabarit Thèmatique et sujet.</p>

<h4>Composante gc-features</h4>

<h5>Promotion à une tuile</h5>
<pre><code>&lt;section class="gc-features"&gt;
	&lt;h2&gt;[[comp:Feature dct:title]]&lt;/h2&gt;
	&lt;div class="row"&gt;

		&lt;!-- One column --&gt;
		&lt;div data-for="comp:FeatureItem in (comp:Feature comp:features )" class="col-md-8"&gt;
			&lt;div class="row"&gt;
				&lt;div class="col-sm-6"&gt;
					&lt;img class="thumbnail" src="[[comp:FeatureItem html:img-src]]" alt="[[comp:FeatureItem html:img-alt]]"/&gt;
				&lt;/div&gt;
				&lt;div class="col-sm-6"&gt;
					&lt;h3&gt;&lt;a class="stretched-link" data-bind="(href = comp:FeatureItem foaf:page)"&gt;[[comp:FeatureItem dct:title]]&lt;/a&gt;&lt;/h3&gt;
					&lt;p&gt;[[comp:FeatureItem dct:description]]&lt;/p&gt;
				&lt;/div&gt;
			&lt;/div&gt;
		&lt;/div&gt;

	&lt;/div&gt;
&lt;/section&gt;</code></pre>

<h5>Promotion à deux ou trois tuiles</h5>
<pre><code>&lt;section class="gc-features"&gt;
	&lt;h2&gt;[[comp:Feature dct:title]]&lt;/h2&gt;
	&lt;div class="row wb-eqht-grd"&gt;

		&lt;!-- Column one --&gt;
		&lt;div data-for="comp:FeatureItem in (comp:Feature comp:features )" class="col-lg-4 col-sm-6"&gt;
			&lt;div class="well well-sm eqht-trgt"&gt;
				&lt;img src="[[comp:FeatureItem html:img-src]]" alt="[[comp:FeatureItem html:img-alt]]"/&gt;
				&lt;h3&gt;&lt;a class="stretched-link" data-bind="(href = comp:FeatureItem foaf:page)"&gt;[[comp:FeatureItem dct:title]]&lt;/a&gt;&lt;/h3&gt;
				&lt;p&gt;[[comp:FeatureItem dct:description]]&lt;/p&gt;
			&lt;/div&gt;
		&lt;/div&gt;

		&lt;!-- Column two --&gt;
		&lt;div data-for="comp:FeatureItem in (comp:Feature comp:features )" class="col-lg-4 col-sm-6"&gt;
			&lt;div class="well well-sm eqht-trgt"&gt;
				&lt;img src="[[comp:FeatureItem html:img-src]]" alt="[[comp:FeatureItem html:img-alt]]"/&gt;
				&lt;h3&gt;&lt;a class="stretched-link" data-bind="(href = comp:FeatureItem foaf:page)"&gt;[[comp:FeatureItem dct:title]]&lt;/a&gt;&lt;/h3&gt;
				&lt;p&gt;[[comp:FeatureItem dct:description]]&lt;/p&gt;
			&lt;/div&gt;
		&lt;/div&gt;

		&lt;!-- Column three [default] --&gt;
		&lt;div data-for="comp:FeatureItem in (comp:Feature comp:features )" class="col-lg-4 col-sm-6"&gt;
			&lt;div class="well well-sm eqht-trgt"&gt;
				&lt;img src="[[comp:FeatureItem html:img-src]]" alt="[[comp:FeatureItem html:img-alt]]"/&gt;
				&lt;h3&gt;&lt;a class="stretched-link" data-bind="(href = comp:FeatureItem foaf:page)"&gt;[[comp:FeatureItem dct:title]]&lt;/a&gt;&lt;/h3&gt;
				&lt;p&gt;[[comp:FeatureItem dct:description]]&lt;/p&gt;
			&lt;/div&gt;
		&lt;/div&gt;

	&lt;/div&gt;
&lt;/section&gt;</code></pre>
<details>
	<summary>Version précédente (v4.0)</summary>
	<pre><code>&lt;section class="gc-features"&gt;
		&lt;h2&gt;[[comp:Feature dct:title]]&lt;/h2&gt;
		&lt;div class="row wb-eqht"&gt;

			&lt;!-- Column one --&gt;
			&lt;div data-for="comp:FeatureItem in (comp:Feature comp:features )" class="col-lg-4 col-sm-6"&gt;
				&lt;div class="well well-sm eqht-trgt"&gt;
					&lt;img src="[[comp:FeatureItem html:img-src]]" alt="[[comp:FeatureItem html:img-alt]]"/&gt;
					&lt;h3&gt;&lt;a class="stretched-link" data-bind="(href = comp:FeatureItem foaf:page)"&gt;[[comp:FeatureItem dct:title]]&lt;/a&gt;&lt;/h3&gt;
					&lt;p&gt;[[comp:FeatureItem dct:description]]&lt;/p&gt;
				&lt;/div&gt;
			&lt;/div&gt;

			&lt;!-- Column two --&gt;
			&lt;div data-for="comp:FeatureItem in (comp:Feature comp:features )" class="col-lg-4 col-sm-6"&gt;
				&lt;div class="well well-sm eqht-trgt"&gt;
					&lt;img src="[[comp:FeatureItem html:img-src]]" alt="[[comp:FeatureItem html:img-alt]]"/&gt;
					&lt;h3&gt;&lt;a class="stretched-link" data-bind="(href = comp:FeatureItem foaf:page)"&gt;[[comp:FeatureItem dct:title]]&lt;/a&gt;&lt;/h3&gt;
					&lt;p&gt;[[comp:FeatureItem dct:description]]&lt;/p&gt;
				&lt;/div&gt;
			&lt;/div&gt;

			&lt;!-- Column three [default] --&gt;
			&lt;div data-for="comp:FeatureItem in (comp:Feature comp:features )" class="col-lg-4 col-sm-6"&gt;
				&lt;div class="well well-sm eqht-trgt"&gt;
					&lt;img src="[[comp:FeatureItem html:img-src]]" alt="[[comp:FeatureItem html:img-alt]]"/&gt;
					&lt;h3&gt;&lt;a class="stretched-link" data-bind="(href = comp:FeatureItem foaf:page)"&gt;[[comp:FeatureItem dct:title]]&lt;/a&gt;&lt;/h3&gt;
					&lt;p&gt;[[comp:FeatureItem dct:description]]&lt;/p&gt;
				&lt;/div&gt;
			&lt;/div&gt;

		&lt;/div&gt;
	&lt;/section&gt;</code></pre>
</details>

<h5>Modèles de cohabitation (variant)</h5>

<p>La composante en vedette peut être localisée à droite ou à gauche de la composante qui cohabite en intervertissant <code>col-md-8</code> et <code>col-md-4</code>.</p>

<p>À utiliser dans ce contexte:</p>
<pre><code>&lt;div class="row mrgn-tp-xl"&gt;
	&lt;div class="col-md-8"&gt;
		&lt;section class="gc-features"&gt;
			&lt;!-- gc-feature ici --&gt;
		&lt;/section&gt;
	&lt;/div&gt;
	&lt;div class="col-md-4"&gt;
		&lt;!-- Composante qui cohabite ici. Par exemple la composante Suivez-nous --&gt;
	&lt;/div&gt;
&lt;/div&gt;</code></pre>

<h6>Promotion à une tuile - Variante de cohabitation</h6>
<pre><code>&lt;div class="row mrgn-tp-xl"&gt;
	&lt;div class="col-md-8"&gt;

		&lt;section class="gc-features"&gt;
			&lt;h2 class="wb-inv"&gt;[[comp:Feature dct:title]]&lt;/h2&gt;
			&lt;div class="row" data-for="comp:FeatureItem in ( comp:Feature comp:features )"&gt;

				&lt;!-- One column --&gt;
				&lt;div class="col-md-6"&gt;
					&lt;img class="thumbnail" src="[[comp:FeatureItem html:img-src]]" alt="[[comp:FeatureItem html:img-alt]]"/&gt;
				&lt;/div&gt;
				&lt;div class="col-md-6"&gt;
					&lt;h3&gt;&lt;a class="stretched-link" data-bind="(href = comp:FeatureItem foaf:page)"&gt;[[comp:FeatureItem dct:title]]&lt;/a&gt;&lt;/h3&gt;
					&lt;p&gt;[[comp:FeatureItem dct:description]]&lt;/p&gt;
				&lt;/div&gt;
			&lt;/div&gt;
		&lt;/section&gt;

	&lt;/div&gt;
	&lt;div class="col-md-4"&gt;
		&lt;!-- Composante qui cohabite ici. Par example la composante Suivez-nous --&gt;
	&lt;/div&gt;
&lt;/div&gt;</code></pre>

<h6>Promotion à deux tuiles - Variante de cohabitation</h6>
<pre><code>&lt;div class="row mrgn-tp-xl"&gt;
	&lt;div class="col-md-8"&gt;

		&lt;section class="gc-features"&gt;
			&lt;h2 class="wb-inv"&gt;[[comp:Feature dct:title]]&lt;/h2&gt;
			&lt;div class="row wb-eqht-grd"&gt;

				&lt;!-- Two column --&gt;
				&lt;div data-for="comp:FeatureItem in (comp:Feature comp:features )" class="col-md-6"&gt;
					&lt;h3&gt;&lt;a class="stretched-link" data-bind="(href = comp:FeatureItem foaf:page)"&gt;[[comp:FeatureItem dct:title]]&lt;/a&gt;&lt;/h3&gt;
					&lt;img src="[[comp:FeatureItem html:img-src]]" alt="[[comp:FeatureItem html:img-alt]]"/&gt;
					&lt;p&gt;[[comp:FeatureItem dct:description]]&lt;/p&gt;
				&lt;/div&gt;
			&lt;/div&gt;
		&lt;/section&gt;

	&lt;/div&gt;
	&lt;div class="col-md-4"&gt;
		&lt;!-- Composante qui cohabite ici. Par example la composante Suivez-nous --&gt;
	&lt;/div&gt;
&lt;/div&gt;</code></pre>

<h4>Initiatives du gouvernement du Canada (variant)</h4>
<p>Se distingue par la largeur de ses colonnes de 50% <code>.col-sm-6</code> et la taille des images à 520 x 200.</p>
<p>La classe <code>.gc-initiatives</code> à été rendu obselète à la version v9.5.0 (tel que mentionné ci-haut dans la section de la classe de l'API) et puisqu'elle n'avait auncun style ni comportement attachés, aucune répercution n'est anticipée suite à la suppression.</p>
<pre><code>&lt;section class="gc-features"&gt;
	&lt;h2&gt;[[comp:Feature dct:title]]&lt;/h2&gt;
	&lt;div class="row wb-eqht-grd"&gt;

		&lt;!-- Column one --&gt;
		&lt;div data-if="comp:Feature comp:featureType == 'gc-initiatives'" data-for="comp:FeatureItem in (comp:Feature comp:features )" class="col-sm-6"&gt;
			&lt;div class="well well-sm eqht-trgt"&gt;
			&lt;img src="[[comp:FeatureItem html:img-src]]" alt="[[comp:FeatureItem html:img-alt]]"/&gt;
			&lt;h3&gt;&lt;a class="stretched-link" data-bind="(href = comp:FeatureItem foaf:page)"&gt;[[comp:FeatureItem dct:title]]&lt;/a&gt;&lt;/h3&gt;
			&lt;p&gt;[[comp:FeatureItem dct:description]]&lt;/p&gt;
		&lt;/div&gt;

		&lt;!-- Column two --&gt;
		&lt;div data-if="comp:Feature comp:featureType == 'gc-initiatives'" data-for="comp:FeatureItem in (comp:Feature comp:features )" class="col-sm-6"&gt;
			&lt;div class="well well-sm eqht-trgt"&gt;
			&lt;img src="[[comp:FeatureItem html:img-src]]" alt="[[comp:FeatureItem html:img-alt]]"/&gt;
			&lt;h3&gt;&lt;a class="stretched-link" data-bind="(href = comp:FeatureItem foaf:page)"&gt;[[comp:FeatureItem dct:title]]&lt;/a&gt;&lt;/h3&gt;
			&lt;p&gt;[[comp:FeatureItem dct:description]]&lt;/p&gt;
		&lt;/div&gt;

	&lt;/div&gt;
&lt;/section&gt;</code></pre>

<details>
	<summary>Notes de version</summary>

	<dl class="dl-horizontal">
		<dt>Version 4.0 (GCWeb v11.3.1)</dt>
		<dd>
			<ul>
				<li>Ajouté: <code>.wb-eqht-grd</code></li>
				<li>Supprimé: <code>.wb-eqht</code></li>
			</ul>
		</dd>
		<dt>Version 3.1 (GCWeb v9.1)</dt>
		<dd>
			<ul>
				<li>Ajouté: Modèle de conception de cohabitation, utilisable dans un contexte spécifique</li>
			</ul>
		</dd>
		<dt>Version 3.0 (GCWeb v6.1)</dt>
		<dd>
			<ul>
				<li>Obsolète: <code>&lt;figure&gt;</code> et <code>&lt;figcaption&gt;</code></li>
				<li>Obsolète: <code>&lt;a&gt;</code> comme enveloppe</li>
			</ul>
		</dd>
		<dt>Version 2.0 (GCWeb v4.0.28)</dt>
		<dd>
			<ul>
				<li>Ajouté: <code>&lt;figure&gt;</code> et <code>&lt;figcaption&gt;</code></li>
			</ul>
		</dd>
		<dt>Version 1.0 (antérieur à GCWeb v4.0.28)</dt>
		<dd>
			<ul>
				<li>Avait: la balise <code>&lt;section&gt;</code></li>
			</ul>
		</dd>
	</dl>
</details>

<h3>Rendu visuel (v3.0)</h3>

<details>
	<summary>Notes de version</summary>

	<dl class="dl-horizontal">
		<dt>Version 3.0 (v9.5.0)</dt>
		<dd>
			<ul>
				<li>Modèle simplifié et fonctionnalités adaptées aux initiatives gouvernementales.</li>
				<li>La disposition du texte correspondant à la composante Service et Information.</li>
			</ul>
		</dd>
		<dt>Version 2.0 (v6.1)</dt>
		<dd>
			<ul>
				<li>Supprimé: Effet d'ombre portée au passage de la souris.</li>
				<li>Supprimé: Image miniature non cliquable sur la mise en page à une colonne.</li>
			</ul>
		</dd>
		<dt>Version 1.0 (antérieure à v6.1)</dt>
		<dd>
			<ul>
				<li>Rendu original</li>
			</ul>
		</dd>
	</dl>
</details>

<h3>Schéma (v1.0)</h3>
<pre><code>#
# Schema of the Context-specific features component
#

@prefix rdf: &lt;http://www.w3.org/1999/02/22-rdf-syntax-ns#&gt; .
@prefix rdfs: &lt;http://www.w3.org/2000/01/rdf-schema#&gt; .
@prefix xsd: &lt;http://www.w3.org/2001/XMLSchema#&gt; .
@prefix dct: &lt;http://purl.org/dc/terms/&gt; .
@prefix skos: &lt;http://www.w3.org/2004/02/skos/core#&gt; .
@prefix wms: &lt;http://vocab.canada.ca/wms&gt; .
@prefix comp: &lt;http://vocab.canada.ca/wms/component&gt; .


comp:Feature
	dct:issued "2017-01-01"^^xsd:date ;
	a rdfs:Class, wms:Component ;
	wms:componentName "gc-features" ;
	rdfs:label "Context-specific features"@en ;
	rdfs:label "Promotions contextuelles"@fr ;
	rdfs:isDefinedBy &lt;https://design.canada.ca/common-design-patterns/feature-tiles.html&gt;@en ;
	rdfs:isDefinedBy &lt;https://conception.canada.ca/configurations-conception-communes/vignettes-promotionnelles.html&gt;@fr ;

comp:FeatureItem
	dct:issued "2017-01-01"^^xsd:date ;
	a rdfs:Class, wms:Component ;
	rdfs:label "Features link"@en ;
	rdfs:label "Lien en vedette"@fr ;

comp:features
	dct:issued "2017-01-01"^^xsd:date ;
	a rdf:Property ;
	rdfs:domains comp:Feature ;
	rdfs:range comp:FeatureItem .

comp:featureCol
	dct:issued "2017-01-01"^^xsd:date ;
	rdfs:label "Column layout rendering"@en ;
	a rdf:Property ;
	rdfs:range comp:Feature1Col ;
	rdfs:range comp:Feature2Col ;
	rdfs:range comp:Feature3Col .

comp:Feature1Col
	a rdfs:Class ;
	rdfs:label "One Column"@en .

comp:Feature2Col
	a rdfs:Class ;
	rdfs:label "Two Column"@en .

comp:Feature3Col
	a rfds:Class ;
	rdfs:label "Three Column"@en .
	rdfs:comment "Not used for gc-initiatives" .

</code></pre>


<p>Shapes graphs</p>
<pre><code>#
# Shape graph of the Context-specific features component
#

@prefix sh: &lt;http://www.w3.org/ns/shacl#&gt; .
@prefix dct: &lt;http://purl.org/dc/terms/&gt; .
@prefix foaf: &lt;http://xmlns.com/foaf/0.1/&gt; .
@prefix comp: &lt;http://vocab.canada.ca/wms/component&gt; .
@prefix html: &lt;http://vocab.canada.ca/wms/html/img#&gt; .

comp:FeatureShape
	a sh:NodeShape ;
	sh:targetClass comp:Feature ;
	sh:and (
		[
			sh:path dct:title ;
			sh:uniqueLang true ;
			sh:severity sh:Violation ;
		]
		[
			sh:path comp:features ;
			sh:minExclusive 0 ;
			sh:maxInclusive 3 ;
			sh:severity sh:Warning ;
		]
	)
	sh:property [
		sh:path comp:featureCol ;
		sh:in ( comp:Feature1Col comp:Feature2Col comp:Feature3Col ) ;
		sh:severity sh:Violation ;
		sh:defaultValue comp:Feature2Col ;
	] .

comp:FeatureItemShape
	a sh:NodeShape ;
	sh:targetClass comp:FeatureItem ;
	sh:and (
		[
			sh:path dct:title ;
			sh:uniqueLang true ;
			sh:severity sh:Violation ;
		]
		[
			sh:path dct:description ;
			sh:uniqueLang true ;
			sh:severity sh:Violation ;
		]
		[
			sh:path html:img-src ;
			sh:uniqueLang true ;
			sh:severity sh:Violation ;
		]
		[
			sh:path html:img-alt ;
			sh:uniqueLang true ;
			sh:severity sh:Warning ;
		]
		[
			sh:path foaf:page ;
			sh:uniqueLang true ;
			sh:severity sh:Violation ;
		]
	) .</code></pre>

<h4>Exemple JSON-LD</h4>
<pre><code>{
	"@context": {
		"foaf": "http://xmlns.com/foaf/0.1/",
		"dct": "http://purl.org/dc/terms/",
		"comp": "http://vocab.canada.ca/wms/component"
		"html": "http://vocab.canada.ca/wms/html/img"
	},
	"dct:title": "Government initiatives",
	"comp:featureCol": "comp:Feature2Col",
	"comp:features": [
		{
			"foaf:page": "https://www.canada.ca/feature/link",
			"dct:title": "[Feature item hyperlink text]",
			"dct:description": "[Feature item description]",
			"html:img-src": "[Feature item image URL]",
			"html:img-alt": "[Feature item image alternative text]"
		},
		{
			"foaf:page": "https://www.canada.ca/feature/link/2",
			"dct:title": "[Feature item hyperlink text 2]",
			"dct:description": "[Feature item description 2]",
			"html:img-src": "[Feature item image URL 2]",
			"html:img-alt": "[Feature item image alternative text 2]"
		}
	]
}
</code></pre>

<h2>Référence</h2>
<ul>
	<li><a href="https://www.w3.org/TR/shacl/" lang="en">SHACL Shapes Constraint Language (https://www.w3.org/TR/shacl/)</a></li>
</ul>
</div>
