---
title: "Context-specific features - Working Examples"
description: "Working examples for the Context-specific features."
language: "en"
altLangPage: "gc-features-fr.html"
secondlevel: false
dateModified: "2022-11-14"
share: "true"
---
<div class="wb-prettify all-pre hide"></div>

<h2>Full-row features (default variant)</h2>

<h3>Two or three-tiles</h3>

<p>In case of having two tiles, features must be aligned to the left, no gap in the middle. If there is just one tile to display, it is encouraged to use the one-tile pattern below.</p>

<section class="gc-features">
	<h2>Features</h2>
	<div class="row wb-eqht-grd">
		<div class="col-lg-4 col-sm-6">
			<div class="well well-sm eqht-trgt">
				<img src="img/feature-360x203.png" alt="">
				<h3><a href="#" class="stretched-link">[Feature hyperlink text]</a></h3>
				<p>Brief description of the feature being promoted. Brief description of the feature being promoted.</p>
			</div>
		</div>
		<div class="col-lg-4 col-sm-6">
			<div class="well well-sm eqht-trgt">
				<img src="img/feature-360x203.png" alt="">
				<h3><a href="#" class="stretched-link">[Feature hyperlink text]</a></h3>
				<p>Brief description of the feature being promoted.</p>
			</div>
		</div>
		<div class="col-lg-4 col-sm-6">
			<div class="well well-sm eqht-trgt">
				<img src="img/feature-360x203.png" alt="">
				<h3><a href="#" class="stretched-link">[Feature hyperlink text]</a></h3>
				<p>Brief description of the feature being promoted.</p>
			</div>
		</div>
	</div>
</section>

<h3>One-tile feature</h3>

<section class="gc-features">
	<h2>Featured</h2>
	<div class="row">
		<div class="col-md-8">
			<div class="row">
				<div class="col-sm-6">
					<img src="img/feature-360x203.png" alt="" class="thumbnail">
				</div>
				<div class="col-sm-6">
					<h3><a class="stretched-link" href="#">[Feature hyperlink text]</a></h3>
					<p>Brief description of the feature being promoted.</p>
				</div>
			</div>
		</div>
	</div>
</section>


<h2>Government initiatives (variant)</h2>

<section class="gc-features">
	<h2>Government initiatives</h2>
	<div class="row wb-eqht-grd">
		<div class="col-sm-6">
			<div class="well well-sm eqht-trgt">
				<img src="img/initiative-520x200.png" alt=""/>
				<h3><a class="stretched-link" href="#">[Feature hyperlink text]</a></h3>
				<p>Brief description of the feature being promoted.</p>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="well well-sm eqht-trgt">
				<img src="img/initiative-520x200.png" alt=""/>
				<h3><a class="stretched-link" href="#">[Feature hyperlink text]</a></h3>
				<p>Brief description of the feature being promoted.</p>
			</div>
		</div>
	</div>
</section>

<h2>Cohabit patterns (variant)</h2>

<p>Patterns represent features having to reside either on the left side or the right side of another component.</p>

<section>
	<h3>Context of use</h3>
	<div class="panel panel-info">
		<div class="panel-heading">Must be used in  a <code>col-md-8</code></div>
		<div class="panel-body">
	<pre><code>&lt;div class="row mrgn-tp-xl"&gt;
	&lt;div class="col-md-8"&gt;
		&lt;!-- Cohabit variant here --&gt;
	&lt;/div&gt;
	&lt;div class="col-md-4"&gt;
		&lt;!-- Other component here --&gt;
	&lt;/div&gt;
	&lt;/div&gt;</code></pre>
		</div>
	</div>
</section>

<h3>Two-tiles left-aligned</h3>
<div class="row mrgn-tp-xl">
	<div class="col-md-8">
		<section class="gc-features">
			<h2>Features</h2>
			<div class="row wb-eqht-grd">
				<div class="col-sm-6">
					<div class="well well-sm eqht-trgt">
						<img src="img/feature-360x203.png" alt=""/>
						<h3><a class="stretched-link" href="#">[Feature hyperlink text]</a></h3>
						<p>Brief description of the feature being promoted.</p>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="well well-sm eqht-trgt">
						<img src="img/feature-360x203.png" alt=""/>
						<h3><a class="stretched-link" href="#">[Feature hyperlink text]</a></h3>
						<p>Brief description of the feature being promoted.</p>
					</div>
				</div>
			</div>
		</section>
	</div>
	<div class="col-md-4">
		<h2>Other Component</h2>
		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
	</div>
</div>

<h3>Two-tiles right-aligned</h3>
<div class="row mrgn-tp-xl">
	<div class="col-md-4">
		<h2>Other Component</h2>
		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
	</div>
	<div class="col-md-8">
		<section class="gc-features">
			<h2>Features</h2>
			<div class="row wb-eqht-grd">
				<div class="col-sm-6">
					<div class="well well-sm eqht-trgt">
						<img src="img/feature-360x203.png" alt=""/>
						<h3><a class="stretched-link" href="#">[Feature hyperlink text]</a></h3>
						<p>Brief description of the feature being promoted.</p>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="well well-sm eqht-trgt">
						<img src="img/feature-360x203.png" alt=""/>
						<h3><a class="stretched-link" href="#">[Feature hyperlink text]</a></h3>
						<p>Brief description of the feature being promoted.</p>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>

<h3>One-tile left-aligned</h3>
<div class="row mrgn-tp-xl">
	<div class="col-md-8">
		<section class="gc-features">
			<h2>Featured</h2>
			<div class="row">
				<div class="col-sm-6">
					<img src="img/feature-360x203.png" alt="" class="thumbnail">
				</div>
				<div class="col-sm-6">
					<h3><a class="stretched-link" href="#">[Feature hyperlink text]</a></h3>
					<p>Brief description of the feature being promoted.</p>
				</div>
			</div>
		</section>
	</div>
	<div class="col-md-4">
		<h2>Other Component</h2>
		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
	</div>
</div>

<h3>One-tile right-aligned</h3>
<div class="row mrgn-tp-xl">
	<div class="col-md-4">
		<h2>Other Component</h2>
		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
	</div>
	<div class="col-md-8">
		<section class="gc-features">
			<h2>Featured</h2>
			<div class="row">
				<div class="col-sm-6">
					<img src="img/feature-360x203.png" alt="" class="thumbnail">
				</div>
				<div class="col-sm-6">
					<h3><a class="stretched-link" href="#">[Feature hyperlink text]</a></h3>
					<p>Brief description of the feature being promoted.</p>
				</div>
			</div>
		</section>
	</div>
</div>
