---
title: "Context-specific features - Canada.ca design pattern"
description: "Documentation for the Context-specific features."
language: "en"
altLangPage: "gc-features-doc-fr.html"
secondlevel: false
dateModified: "2022-11-14"
share: "true"
---
<div class="wb-prettify all-pre hide"></div>

<dl class="horizontal">
	<dt>Status</dt>
	<dd>Stable</dd>

	<dt>Type</dt>
	<dd>Canada.ca design pattern</dd>

	<dt>Last review</dt>
	<dd>2021-07-21</dd>

	<dt>Conforming to</dt>
	<dd>Content and IA spec 2.1</dd>

	<dt>Specification</dt>
	<dd><a href="https://design.canada.ca/common-design-patterns/feature-tiles.html">Context-specific features - Canada.ca design pattern</a></dd>

	<dt>Technical name</dt>
	<dd>
		<ul>
			<li><code>gc-features</code></li>
		</ul>
	</dd>

	<dt>Component version</dt>
	<dd>Version 5.0</dd>

	<dt>Supported working versions</dt>
	<dd>
		<ul>
			<li>Version 5</li>
			<li>Version 4 (released with version 9.5.0 of GCWeb)</li>
			<li>Version 3 (deprecated)</li>
			<li>Version 2 (deprecated)</li>
			<li>Version 1 (deprecated)</li>
		</ul>
	</dd>
</dl>

<h2>Previous design patterns</h2>
<p>Actual visual rendering of previous design patterns may vary due to recent changes.</p>
<details>
	<summary>Context-specific features with GCWeb v6.1 - Removed</summary>
	<section class="gc-features">
		<h2>Features</h2>
		<div class="row wb-eqht">
			<div class="col-lg-4 col-md-6 mrgn-bttm-md">
				<h3 class="h5"><a href="#" class="stretched-link">[Feature hyperlink text]</a></h3>
				<img src="img/feature-360x203.png" alt="" class="img-responsive thumbnail mrgn-bttm-sm">
				<p>Brief description of the feature being promoted.</p>
			</div>
			<div class="col-lg-4 col-md-6 mrgn-bttm-md">
				<h3 class="h5"><a href="#" class="stretched-link">[Feature hyperlink text]</a></h3>
				<img src="img/feature-360x203.png" alt="" class="img-responsive thumbnail mrgn-bttm-sm">
				<p>Brief description of the feature being promoted.</p>
			</div>
			<div class="col-lg-4 col-md-6 mrgn-bttm-md">
				<h3 class="h5"><a href="#" class="stretched-link">[Feature hyperlink text]</a></h3>
				<img src="img/feature-360x203.png" alt="" class="img-responsive thumbnail mrgn-bttm-sm">
				<p>Brief description of the feature being promoted.</p>
			</div>
		</div>
	</section>
</details>

<details>
	<summary>GC initiatives with GCWeb v6.1 - Removed</summary>
	<section class="gc-features">
		<h2>Government initiatives</h2>
		<div class="row wb-eqht">
			<div class="col-sm-6">
				<div class="well well-sm brdr-rds-0 eqht-trgt">
					<img class="img-responsive full-width" src="img/initiative-520x200.png" alt=""/>
					<h3 class="h5"><a class="stretched-link" href="#">[Feature hyperlink text]</a></h3>
					<p>Brief description of the feature being promoted.</p>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="well well-sm brdr-rds-0 eqht-trgt">
					<img class="img-responsive full-width" src="img/initiative-520x200.png" alt=""/>
					<h3 class="h5"><a class="stretched-link" href="#">[Feature hyperlink text]</a></h3>
					<p>Brief description of the feature being promoted.</p>
				</div>
			</div>
		</div>
	</section>
</details>

<details>
	<summary>Context-specific features with GCWeb v4.0.28 - Removed</summary>
	<section class="gc-prtts">
		<h2>Features</h2>
		<div class="row">
			<section class="col-lg-4 col-md-6 mrgn-bttm-md">
				<a href="#">
					<h3 class="h5">[Feature hyperlink text]</h3>
					<img src="img/feature-360x203.png" alt="" class="img-responsive thumbnail mrgn-bttm-sm">
				</a>
				<p>Brief description of the feature being promoted.</p>
			</section>
			<section class="col-lg-4 col-md-6 mrgn-bttm-md">
				<a href="#">
					<h3 class="h5">[Feature hyperlink text]</h3>
					<img src="img/feature-360x203.png" alt="" class="img-responsive thumbnail mrgn-bttm-sm">
				</a>
				<p>Brief description of the feature being promoted.</p>
			</section>
			<section class="col-lg-4 col-md-6 mrgn-bttm-md">
				<a href="#">
					<h3 class="h5">[Feature hyperlink text]</h3>
					<img src="img/feature-360x203.png" alt="" class="img-responsive thumbnail mrgn-bttm-sm">
				</a>
				<p>Brief description of the feature being promoted.</p>
			</section>
		</div>
	</section>
</details>

<details>
	<summary>GC activities and initiatives with GCWeb v4.0.28 - Removed</summary>
	<aside class="gc-nttvs">
		<h2>Government of Canada activities and initiatives</h2>
		<div id="gcwb_prts" class="wb-eqht row">
			<section class="col-lg-4 col-md-6 mrgn-bttm-md">
				<a rel="external" href="#">
					<h3 class="h5">[Activities and initiatives hyperlink text]</h3>
					<img class="img-responsive thumbnail mrgn-bttm-sm" src="img/355x113.png" alt="">
				</a>
				<p>Brief description of the initiative, task or information being promoted.</p>
			</section>
			<section class="col-lg-4 col-md-6 mrgn-bttm-md">
				<a rel="external" href="#">
					<h3 class="h5">[Activities and initiatives hyperlink text]</h3>
					<img class="img-responsive thumbnail mrgn-bttm-sm" src="img/355x113.png" alt="">
				</a>
				<p>Brief description of the initiative, task or information being promoted.</p>
			</section>
			<section class="col-lg-4 col-md-6 mrgn-bttm-md">
				<a rel="external" href="#">
					<h3 class="h5">[Activities and initiatives hyperlink text]</h3>
					<img class="img-responsive thumbnail mrgn-bttm-sm" src="img/355x113.png" alt="">
				</a>
				<p>Brief description of the initiative, task or information being promoted.</p>
			</section>
		</div>
	</aside>
</details>

<details>
	<summary>Feature - Markup change with GCWeb v4.0.28 - Removed</summary>
	<section class="gc-prtts">
		<h2>One tile - Promotional feature</h2>
		<div class="row">
			<div class="col-md-8">
				<a href="#">
					<figure class="row">
						<figcaption class="pull-right col-md-6 col-xs-12">[Feature hyperlink text]</figcaption>
						<div class="pull-left col-md-6 col-xs-12">
							<img src="img/feature-360x203.png" alt="" class="img-responsive thumbnail mrgn-bttm-sm"/>
						</div>
						<div class="pull-right col-md-6 col-xs-12">
							<p>Brief description of the feature being promoted.</p>
						</div>
					</figure>
				</a>
			</div>
		</div>
	</section>
</details>
<div lang="en">
	<h2>Evaluation and report</h2>
	<ul>
		<li>Accessibility pre-assessment #1
			<ul>
				<li><a href="./reports/a11y-1-en.html" hreflang="en"><span class="wb-inv">Pre-assessment report #1</span> English report</a></li>
				<li><a href="./reports/a11y-1-fr.html" hreflang="fr"><span class="wb-inv">Pre-assessment report #1</span> French report</a></li>
			</ul>
		</li>
		<li>Accessibility assessment #1
			<ul>
				<li><a href="./reports/a11y-2-en.html" hreflang="en"><span class="wb-inv">Assessment report #1</span> English report</a></li>
				<li><a href="./reports/a11y-2-fr.html" hreflang="fr"><span class="wb-inv">Assessment report #1</span> French report</a></li>
			</ul>
		</li>
	</ul>
</div>
<h2>API (Component v5.0)</h2>
<table class="table table-bordered">
	<tr>
		<th>CSS Class</th>
		<th>Template</th>
		<th>Visual rendering</th>
		<th>Schema</th>
	</tr>
	<tr>
		<td>Version 3.0</td>
		<td>Version 5.0</td>
		<td>Version 3.0</td>
		<td>Version 1.0</td>
	</tr>
</table>

<h3>CSS Class (v3.0)</h3>
<dl class="dl-horizontal">
	<dt><code>gc-features</code></dt>
	<dd>Component: Context-specific features</dd>
</dl>

<details>
	<summary>Version notes</summary>
	<dl class="dl-horizontal">
		<dt>Version 3.0 (v9.5.0)</dt>
		<dd>
			<ul>
				<li>Added: <code>.well</code></li>
				<li>Added: <code>.well-sm</code></li>
				<li>Removed: <code>.img-responsive</code></li>
				<li>Removed: <code>.mrgn-bttm-md</code></li>
				<li>Removed: <code>.mrgn-bttm-sm</code></li>
				<li>Removed: <code>.brdr-rds-0</code></li>
				<li>Deprecated: <code>.gc-initiatives</code> (had no style nor behaviour attached)</li>
			</ul>
		</dd>
		<dt>Version 2.1 (v6.1)</dt>
		<dd>
			<ul>
				<li>Added: <code>.gc-features</code> and <code>.gc-initiatives</code></li>
				<li>Added: <code>.stretched-link</code></li>
			</ul>
		</dd>
		<dt>Version 2.0 (v4.0.28)</dt>
		<dd>
			<ul>
				<li>Deprecated: <code>.gc-nttvs</code> and <code>.gc-prtts</code></li>
			</ul>
		</dd>
		<dt>Version 1.0 (prior to v4.0.28)</dt>
		<dd>
			<ul>
				<li>Had: <code>.gc-nttvs</code> and <code>.gc-prtts</code></li>
			</ul>
		</dd>
	</dl>
</details>


<h3>Template (v5.0)</h3>

<p>Note v5.0: The class <code>wb-eqht</code> was replaced with <code>wb-eqht-grd</code> to take advantage of CSS when possible, but <code>wb-eqht</code> is still supported.</p>
<p>Note v3.1: The <em>Cohabit</em> design pattern for feature tile was introduced to support the theme/topic beta template.</p>

<h4>gc-features component</h4>

<h5>One feature tile layout</h5>
<pre><code>&lt;section class="gc-features"&gt;
	&lt;h2&gt;[[comp:Feature dct:title]]&lt;/h2&gt;
	&lt;div class="row"&gt;

		&lt;!-- One column --&gt;
		&lt;div data-for="comp:FeatureItem in (comp:Feature comp:features )" class="col-md-8"&gt;
			&lt;div class="row"&gt;
				&lt;div class="col-sm-6"&gt;
					&lt;img class="thumbnail" src="[[comp:FeatureItem html:img-src]]" alt="[[comp:FeatureItem html:img-alt]]"/&gt;
				&lt;/div&gt;
				&lt;div class="col-sm-6"&gt;
					&lt;h3&gt;&lt;a class="stretched-link" data-bind="(href = comp:FeatureItem foaf:page)"&gt;[[comp:FeatureItem dct:title]]&lt;/a&gt;&lt;/h3&gt;
					&lt;p&gt;[[comp:FeatureItem dct:description]]&lt;/p&gt;
				&lt;/div&gt;
			&lt;/div&gt;
		&lt;/div&gt;

	&lt;/div&gt;
&lt;/section&gt;</code></pre>

<h5>Two or three feature tiles layout</h5>
<pre><code>&lt;section class="gc-features"&gt;
	&lt;h2&gt;[[comp:Feature dct:title]]&lt;/h2&gt;
	&lt;div class="row wb-eqht-grd"&gt;

		&lt;!-- Column one --&gt;
		&lt;div data-for="comp:FeatureItem in (comp:Feature comp:features )" class="col-lg-4 col-sm-6"&gt;
			&lt;div class="well well-sm eqht-trgt"&gt;
				&lt;img src="[[comp:FeatureItem html:img-src]]" alt="[[comp:FeatureItem html:img-alt]]"/&gt;
				&lt;h3&gt;&lt;a class="stretched-link" data-bind="(href = comp:FeatureItem foaf:page)"&gt;[[comp:FeatureItem dct:title]]&lt;/a&gt;&lt;/h3&gt;
				&lt;p&gt;[[comp:FeatureItem dct:description]]&lt;/p&gt;
			&lt;/div&gt;
		&lt;/div&gt;

		&lt;!-- Column two --&gt;
		&lt;div data-for="comp:FeatureItem in (comp:Feature comp:features )" class="col-lg-4 col-sm-6"&gt;
			&lt;div class="well well-sm eqht-trgt"&gt;
				&lt;img src="[[comp:FeatureItem html:img-src]]" alt="[[comp:FeatureItem html:img-alt]]"/&gt;
				&lt;h3&gt;&lt;a class="stretched-link" data-bind="(href = comp:FeatureItem foaf:page)"&gt;[[comp:FeatureItem dct:title]]&lt;/a&gt;&lt;/h3&gt;
				&lt;p&gt;[[comp:FeatureItem dct:description]]&lt;/p&gt;
			&lt;/div&gt;
		&lt;/div&gt;

		&lt;!-- Column three [default] --&gt;
		&lt;div data-for="comp:FeatureItem in (comp:Feature comp:features )" class="col-lg-4 col-sm-6"&gt;
			&lt;div class="well well-sm eqht-trgt"&gt;
				&lt;img src="[[comp:FeatureItem html:img-src]]" alt="[[comp:FeatureItem html:img-alt]]"/&gt;
				&lt;h3&gt;&lt;a class="stretched-link" data-bind="(href = comp:FeatureItem foaf:page)"&gt;[[comp:FeatureItem dct:title]]&lt;/a&gt;&lt;/h3&gt;
				&lt;p&gt;[[comp:FeatureItem dct:description]]&lt;/p&gt;
			&lt;/div&gt;
		&lt;/div&gt;

	&lt;/div&gt;
&lt;/section&gt;</code></pre>
<details>
	<summary>Previous version (v4.0)</summary>
	<pre><code>&lt;section class="gc-features"&gt;
		&lt;h2&gt;[[comp:Feature dct:title]]&lt;/h2&gt;
		&lt;div class="row wb-eqht"&gt;

			&lt;!-- Column one --&gt;
			&lt;div data-for="comp:FeatureItem in (comp:Feature comp:features )" class="col-lg-4 col-sm-6"&gt;
				&lt;div class="well well-sm eqht-trgt"&gt;
					&lt;img src="[[comp:FeatureItem html:img-src]]" alt="[[comp:FeatureItem html:img-alt]]"/&gt;
					&lt;h3&gt;&lt;a class="stretched-link" data-bind="(href = comp:FeatureItem foaf:page)"&gt;[[comp:FeatureItem dct:title]]&lt;/a&gt;&lt;/h3&gt;
					&lt;p&gt;[[comp:FeatureItem dct:description]]&lt;/p&gt;
				&lt;/div&gt;
			&lt;/div&gt;

			&lt;!-- Column two --&gt;
			&lt;div data-for="comp:FeatureItem in (comp:Feature comp:features )" class="col-lg-4 col-sm-6"&gt;
				&lt;div class="well well-sm eqht-trgt"&gt;
					&lt;img src="[[comp:FeatureItem html:img-src]]" alt="[[comp:FeatureItem html:img-alt]]"/&gt;
					&lt;h3&gt;&lt;a class="stretched-link" data-bind="(href = comp:FeatureItem foaf:page)"&gt;[[comp:FeatureItem dct:title]]&lt;/a&gt;&lt;/h3&gt;
					&lt;p&gt;[[comp:FeatureItem dct:description]]&lt;/p&gt;
				&lt;/div&gt;
			&lt;/div&gt;

			&lt;!-- Column three [default] --&gt;
			&lt;div data-for="comp:FeatureItem in (comp:Feature comp:features )" class="col-lg-4 col-sm-6"&gt;
				&lt;div class="well well-sm eqht-trgt"&gt;
					&lt;img src="[[comp:FeatureItem html:img-src]]" alt="[[comp:FeatureItem html:img-alt]]"/&gt;
					&lt;h3&gt;&lt;a class="stretched-link" data-bind="(href = comp:FeatureItem foaf:page)"&gt;[[comp:FeatureItem dct:title]]&lt;/a&gt;&lt;/h3&gt;
					&lt;p&gt;[[comp:FeatureItem dct:description]]&lt;/p&gt;
				&lt;/div&gt;
			&lt;/div&gt;

		&lt;/div&gt;
	&lt;/section&gt;</code></pre>
</details>

<h5>Cohabit design pattern</h5>

<p>The GC Features component can be located on the right or on the left of the cohabit component by interchanging <code>col-md-8</code>  and <code>col-md-4</code>.</p>

<p>To be used in this context:</p>
<pre><code>&lt;div class="row mrgn-tp-xl"&gt;
	&lt;div class="col-md-8"&gt;
		&lt;section class="gc-features"&gt;
			&lt;!-- gc-feature here --&gt;
		&lt;/section&gt;
	&lt;/div&gt;
	&lt;div class="col-md-4"&gt;
		&lt;!-- Cohabit component here. For example the Follow us component --&gt;
	&lt;/div&gt;
&lt;/div&gt;</code></pre>

<h6>One feature tile - Cohabit design pattern</h6>
<pre><code>&lt;div class="row mrgn-tp-xl"&gt;
	&lt;div class="col-md-8"&gt;

		&lt;section class="gc-features"&gt;
			&lt;h2 class="wb-inv"&gt;[[comp:Feature dct:title]]&lt;/h2&gt;
			&lt;div class="row" data-for="comp:FeatureItem in ( comp:Feature comp:features )"&gt;

				&lt;!-- One column --&gt;
				&lt;div class="col-md-6"&gt;
					&lt;img class="thumbnail" src="[[comp:FeatureItem html:img-src]]" alt="[[comp:FeatureItem html:img-alt]]"/&gt;
				&lt;/div&gt;
				&lt;div class="col-md-6"&gt;
					&lt;h3&gt;&lt;a class="stretched-link" data-bind="(href = comp:FeatureItem foaf:page)"&gt;[[comp:FeatureItem dct:title]]&lt;/a&gt;&lt;/h3&gt;
					&lt;p&gt;[[comp:FeatureItem dct:description]]&lt;/p&gt;
				&lt;/div&gt;
			&lt;/div&gt;
		&lt;/section&gt;

	&lt;/div&gt;
	&lt;div class="col-md-4"&gt;
		&lt;!-- Cohabit component here. For example the Follow us component --&gt;
	&lt;/div&gt;
&lt;/div&gt;</code></pre>

<h6>Two feature tiles - Cohabit design pattern</h6>
<pre><code>&lt;div class="row mrgn-tp-xl"&gt;
	&lt;div class="col-md-8"&gt;

		&lt;section class="gc-features"&gt;
			&lt;h2 class="wb-inv"&gt;[[comp:Feature dct:title]]&lt;/h2&gt;
			&lt;div class="row wb-eqht-grd"&gt;

				&lt;!-- Two column --&gt;
				&lt;div data-for="comp:FeatureItem in (comp:Feature comp:features )" class="col-md-6"&gt;
					&lt;h3&gt;&lt;a class="stretched-link" data-bind="(href = comp:FeatureItem foaf:page)"&gt;[[comp:FeatureItem dct:title]]&lt;/a&gt;&lt;/h3&gt;
					&lt;img src="[[comp:FeatureItem html:img-src]]" alt="[[comp:FeatureItem html:img-alt]]"/&gt;
					&lt;p&gt;[[comp:FeatureItem dct:description]]&lt;/p&gt;
				&lt;/div&gt;
			&lt;/div&gt;
		&lt;/section&gt;

	&lt;/div&gt;
	&lt;div class="col-md-4"&gt;
		&lt;!-- Cohabit component here. For example the Follow us component --&gt;
	&lt;/div&gt;
&lt;/div&gt;</code></pre>

<h4>Features Variant: Government initiatives</h4>
<p>Distinguishable by its 50% width <code>.col-sm-6</code> columns and images of size of 520 x 200.</p>
<p>The <code>.gc-initiatives</code> class was deprecated at version v9.5.0 (as mentioned above in the Class section of the API) and since it had no style nor behaviour attached, no side effects are to be expected by this removal.</p>
<pre><code>&lt;section class="gc-features"&gt;
	&lt;h2&gt;[[comp:Feature dct:title]]&lt;/h2&gt;
	&lt;div class="row wb-eqht-grd"&gt;

		&lt;!-- Column one --&gt;
		&lt;div data-if="comp:Feature comp:featureType == 'gc-initiatives'" data-for="comp:FeatureItem in (comp:Feature comp:features )" class="col-sm-6"&gt;
			&lt;div class="well well-sm eqht-trgt"&gt;
			&lt;img src="[[comp:FeatureItem html:img-src]]" alt="[[comp:FeatureItem html:img-alt]]"/&gt;
			&lt;h3&gt;&lt;a class="stretched-link" data-bind="(href = comp:FeatureItem foaf:page)"&gt;[[comp:FeatureItem dct:title]]&lt;/a&gt;&lt;/h3&gt;
			&lt;p&gt;[[comp:FeatureItem dct:description]]&lt;/p&gt;
		&lt;/div&gt;

		&lt;!-- Column two --&gt;
		&lt;div data-if="comp:Feature comp:featureType == 'gc-initiatives'" data-for="comp:FeatureItem in (comp:Feature comp:features )" class="col-sm-6"&gt;
			&lt;div class="well well-sm eqht-trgt"&gt;
			&lt;img src="[[comp:FeatureItem html:img-src]]" alt="[[comp:FeatureItem html:img-alt]]"/&gt;
			&lt;h3&gt;&lt;a class="stretched-link" data-bind="(href = comp:FeatureItem foaf:page)"&gt;[[comp:FeatureItem dct:title]]&lt;/a&gt;&lt;/h3&gt;
			&lt;p&gt;[[comp:FeatureItem dct:description]]&lt;/p&gt;
		&lt;/div&gt;

	&lt;/div&gt;
&lt;/section&gt;</code></pre>

<details>
	<summary>Version notes</summary>

	<dl class="dl-horizontal">
		<dt>Version 4.0 (GCWeb v11.3.1)</dt>
		<dd>
			<ul>
				<li>Added: <code>.wb-eqht-grd</code></li>
				<li>Removed: <code>.wb-eqht</code></li>
			</ul>
		</dd>
		<dt>Version 3.1 (GCWeb v9.1)</dt>
		<dd>
			<ul>
				<li>Added: Cohabit design pattern, usable in a specific context</li>
			</ul>
		</dd>
		<dt>Version 3.0 (GCWeb v6.1)</dt>
		<dd>
			<ul>
				<li>Deprecated: <code>&lt;figure&gt;</code> and <code>&lt;figcaption&gt;</code></li>
				<li>Deprecated: <code>&lt;a&gt;</code> as a wrapper</li>
			</ul>
		</dd>
		<dt>Version 2.0 (GCWeb v4.0.28)</dt>
		<dd>
			<ul>
				<li>Added: <code>&lt;figure&gt;</code> and <code>&lt;figcaption&gt;</code></li>
			</ul>
		</dd>
		<dt>Version 1.0 (prior to GCWeb v4.0.28)</dt>
		<dd>
			<ul>
				<li>Had: <code>&lt;section&gt;</code> tags</li>
			</ul>
		</dd>
	</dl>
</details>

<h3>Visual rendering (v3.0)</h3>

<details>
	<summary>Version notes</summary>

	<dl class="dl-horizontal">
		<dt>Version 3.0 (v9.5.0)</dt>
		<dd>
			<ul>
				<li>Simplified template and make features match government initiatives.</li>
				<li>Text layout match the Service and Information component</li>
			</ul>
		</dd>
		<dt>Version 2.0 (v6.1)</dt>
		<dd>
			<ul>
				<li>Removed: Drop shadow effect on mouse over</li>
				<li>Removed: Thumbnail image not clickable on one-column layout</li>
			</ul>
		</dd>
		<dt>Version 1.0 (prior to v6.1)</dt>
		<dd>
			<ul>
				<li>Original rendering</li>
			</ul>
		</dd>
	</dl>
</details>

<h3>Schema (v1.0)</h3>
<pre><code>#
# Schema of the Context-specific features component
#

@prefix rdf: &lt;http://www.w3.org/1999/02/22-rdf-syntax-ns#&gt; .
@prefix rdfs: &lt;http://www.w3.org/2000/01/rdf-schema#&gt; .
@prefix xsd: &lt;http://www.w3.org/2001/XMLSchema#&gt; .
@prefix dct: &lt;http://purl.org/dc/terms/&gt; .
@prefix skos: &lt;http://www.w3.org/2004/02/skos/core#&gt; .
@prefix wms: &lt;http://vocab.canada.ca/wms&gt; .
@prefix comp: &lt;http://vocab.canada.ca/wms/component&gt; .


comp:Feature
	dct:issued "2017-01-01"^^xsd:date ;
	a rdfs:Class, wms:Component ;
	wms:componentName "gc-features" ;
	rdfs:label "Context-specific features"@en ;
	rdfs:label "Promotions contextuelles"@fr ;
	rdfs:isDefinedBy &lt;https://design.canada.ca/common-design-patterns/feature-tiles.html&gt;@en ;
	rdfs:isDefinedBy &lt;https://conception.canada.ca/configurations-conception-communes/vignettes-promotionnelles.html&gt;@fr ;

comp:FeatureItem
	dct:issued "2017-01-01"^^xsd:date ;
	a rdfs:Class, wms:Component ;
	rdfs:label "Features link"@en ;
	rdfs:label "Lien en vedette"@fr ;

comp:features
	dct:issued "2017-01-01"^^xsd:date ;
	a rdf:Property ;
	rdfs:domains comp:Feature ;
	rdfs:range comp:FeatureItem .

comp:FeatureType
	a rdfs:Class ;
	rdfs:label "Allows variants"@en .
</code></pre>


<p>Shapes graphs</p>
<pre><code>#
# Shape graph of the Context-specific features component
#

@prefix sh: &lt;http://www.w3.org/ns/shacl#&gt; .
@prefix dct: &lt;http://purl.org/dc/terms/&gt; .
@prefix foaf: &lt;http://xmlns.com/foaf/0.1/&gt; .
@prefix comp: &lt;http://vocab.canada.ca/wms/component&gt; .
@prefix html: &lt;http://vocab.canada.ca/wms/html/img#&gt; .

comp:FeatureShape
	a sh:NodeShape ;
	sh:targetClass comp:Feature ;
	sh:and (
		[
			sh:path dct:title ;
			sh:uniqueLang true ;
			sh:severity sh:Violation ;
		]
		[
			sh:path comp:features ;
			sh:minExclusive 0 ;
			sh:maxInclusive 3 ;
			sh:severity sh:Warning ;
		]
	)
	sh:property [
		sh:path comp:featureType ;
		sh:targetClass comp:FeatureType ;
	] .

comp:FeatureItemShape
	a sh:NodeShape ;
	sh:targetClass comp:FeatureItem ;
	sh:and (
		[
			sh:path dct:title ;
			sh:uniqueLang true ;
			sh:severity sh:Violation ;
		]
		[
			sh:path dct:description ;
			sh:uniqueLang true ;
			sh:severity sh:Violation ;
		]
		[
			sh:path foaf:page ;
			sh:uniqueLang true ;
			sh:severity sh:Violation ;
		]
		[
			sh:path html:img-src ;
			sh:uniqueLang true ;
			sh:severity sh:Violation ;
		]
		[
			sh:path html:img-alt ;
			sh:uniqueLang true ;
			sh:severity sh:Warning ;
		]
	) .</code></pre>

<h4>JSON-LD sample</h4>
<pre><code>{
	"@context": {
		"foaf": "http://xmlns.com/foaf/0.1/",
		"dct": "http://purl.org/dc/terms/",
		"comp": "http://vocab.canada.ca/wms/component"
		"html": "http://vocab.canada.ca/wms/html/img"
	},
	"dct:title": "Government initiatives",
	"comp:featureType": "gc-initiatives",
	"comp:features": [
		{
			"foaf:page": "https://www.canada.ca/feature/link",
			"dct:title": "[Feature item hyperlink text]",
			"dct:description": "[Feature item description]",
			"html:img-src": "[Feature item image URL]",
			"html:img-alt": "[Feature item image alternative text]"
		},
		{
			"foaf:page": "https://www.canada.ca/feature/link/2",
			"dct:title": "[Feature item hyperlink text 2]",
			"dct:description": "[Feature item description 2]",
			"html:img-src": "[Feature item image URL 2]",
			"html:img-alt": "[Feature item image alternative text 2]"
		}
	]
}
</code></pre>

<h2>Reference</h2>
<ul>
	<li><a href="https://www.w3.org/TR/shacl/">SHACL Shapes Constraint Language (https://www.w3.org/TR/shacl/)</a></li>
</ul>
