/*
 * Well header responsive
 */

// theme default color
.bg-gctheme {
	&.well.header-rwd {
		background-color: #26374a;
	}
}

.well.header-rwd {
	width: 100%;
}
.bg-darker {
	&.well.header-rwd h1 {
		border-bottom-color: #6f6f6f;
	}
}
