/*
  WET-BOEW
  @title: Large view and over (screen only)
 */

/*
 * Well header responsive
 */
.well.header-rwd {
	width: 50%;
}

/*
 * Home page style
 *
 * Set a responsive with for the h1 in the Well header responsive
 */
.home {
	.well.header-rwd {
		h1 {
			width: 50%;
		}
	}
}
