---
{
	"title": "Entête well responsive - Thème de GCWeb",
	"language": "fr",
	"altLangPage": "well-header-rwd-en.html",
	"secondlevel": false,
	"dateModified": "2019-05-09",
	"share": "true"
}
---

<p>L'entête well responsive supporte des cas d'utilisateur pour les page promotionelles et les paneaux avec entête.</p>

<h2>Comportement</h2>

<p>La largeur de l'entête responsive est ajusté en fonction de l'écran. Voici les largeurs programmées:</p>
<dl class="dl-horizontal">
	<dt>Large et plus grand:</dt>
	<dd>50%</dd>
	<dt>Petit et plus grand:</dt>
	<dd>75%</dd>
	<dt>Défaut:</dt>
	<dd>100%</dd>
</dl>

<h2>CSS</h2>
<dl class="dl-horizontal">
	<dt><code>.header-rwd</code></dt>
	<dd>Représente le conteneur de l'entête responsive. Il doit être accompagné de la classe CSS <code>.well</code></dd>
</dl>

<h2>Démos</h2>

<p>Il existe quelques example additionelle avec les fonctionalités expérimentaux..</p>

<h3>Dans un <code>section.panel</code></h3>

<section class="panel panel-primary">
	<header class="panel-heading">
		<div class="well header-rwd text-primary">
			<h4 class="brdr-bttm">Entête</h4>
			<p>Titre secondaire</p>
		</div>
	</header>
	<div class="panel-body">
		<p>Contenu de panneau</p>
		<p>Second paragraph de contenu de panneau</p>
	</div>
</section>
<pre><code>&lt;section class="panel panel-primary"&gt;
	&lt;header class="panel-heading"&gt;
		&lt;div class="well header-rwd text-primary"&gt;
			&lt;h4 class="brdr-bttm"&gt;Entête&lt;/h4&gt;
			&lt;p&gt;Titre secondaire&lt;/p&gt;
		&lt;/div&gt;
	&lt;/header&gt;
	&lt;div class="panel-body"&gt;
		&lt;p&gt;Contenu de panneau&lt;/p&gt;
		&lt;p&gt;Second paragraph de contenu de panneau&lt;/p&gt;
	&lt;/div&gt;
&lt;/section&gt;</code></pre>

<h3>Dessus une image</h3>

<div class="row">
	<div class="col-xs-12">
		<div>
			<img class="img-responsive full-width" src="https://wet-boew.github.io/v4.0-ci/demos/tabs/img/investinourfuture.jpg" alt="">
			<div class="well header-rwd pstn-tp-sm mrgn-tp-lg mrgn-bttm-md">
				<h4 class="mrgn-tp-md">Entête</h4>
				<p>Titre secondaire</p>
			</div>
		</div>
	</div>
</div>
<pre><code>&lt;div class="row"&gt;
	&lt;div class="col-xs-12"&gt;
		&lt;div&gt;
			&lt;img class="img-responsive full-width" src="https://wet-boew.github.io/v4.0-ci/demos/tabs/img/investinourfuture.jpg" alt=""&gt;
			&lt;div class="well header-rwd pstn-tp-sm mrgn-tp-lg mrgn-bttm-md"&gt;
				&lt;h4 class="mrgn-tp-md"&gt;Entête&lt;/h4&gt;
				&lt;p&gt;Titre secondaire&lt;/p&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;</code></pre>
