---
{
	"title": "Well header responsive - GCWeb theme",
	"language": "en",
	"altLangPage": "well-header-rwd-fr.html",
	"secondlevel": false,
	"dateModified": "2019-05-09",
	"share": "true"
}
---

<p>Responsive well header section it to support use case for promotional page header or panel section header.</p>

<h2>Behaviour</h2>

<p>Readjust the width of the well header based on the view port. The following is the container size</p>
<dl class="dl-horizontal">
	<dt>Large and over:</dt>
	<dd>50%</dd>
	<dt>Small and over:</dt>
	<dd>75%</dd>
	<dt>Default:</dt>
	<dd>100%</dd>
</dl>

<h2>CSS</h2>
<dl class="dl-horizontal">
	<dt><code>.header-rwd</code></dt>
	<dd>Represent the header responsive container area. It must be accompagnied by the CSS class <code>.well</code></dd>
</dl>

<h2>Demos</h2>

<p>There is some additional example by using some provisional feature</p>

<h3>In a <code>section.panel</code></h3>

<section class="panel panel-primary">
	<header class="panel-heading">
		<div class="well header-rwd text-primary">
			<h4 class="brdr-bttm">Heading</h4>
			<p>Secondary title</p>
		</div>
	</header>
	<div class="panel-body">
		<p>Panel content</p>
		<p>Second paragraph of a panel content</p>
	</div>
</section>
<pre><code>&lt;section class="panel panel-primary"&gt;
	&lt;header class="panel-heading"&gt;
		&lt;div class="well header-rwd text-primary"&gt;
			&lt;h4 class="brdr-bttm"&gt;Heading&lt;/h4&gt;
			&lt;p&gt;Secondary title&lt;/p&gt;
		&lt;/div&gt;
	&lt;/header&gt;
	&lt;div class="panel-body"&gt;
		&lt;p&gt;Panel content&lt;/p&gt;
		&lt;p&gt;Second paragraph of a panel content&lt;/p&gt;
	&lt;/div&gt;
&lt;/section&gt;</code></pre>

<h3>Over an image</h3>

<div class="row">
	<div class="col-xs-12">
		<div>
			<img class="img-responsive full-width" src="https://wet-boew.github.io/v4.0-ci/demos/tabs/img/investinourfuture.jpg" alt="">
			<div class="well header-rwd pstn-tp-sm mrgn-tp-lg mrgn-bttm-md">
				<h4 class="mrgn-tp-md">Heading</h4>
				<p>Secondary title</p>
			</div>
		</div>
	</div>
</div>
<pre><code>&lt;div class="row"&gt;
	&lt;div class="col-xs-12"&gt;
		&lt;div&gt;
			&lt;img class="img-responsive full-width" src="https://wet-boew.github.io/v4.0-ci/demos/tabs/img/investinourfuture.jpg" alt=""&gt;
			&lt;div class="well header-rwd pstn-tp-sm mrgn-tp-lg mrgn-bttm-md"&gt;
				&lt;h4 class="mrgn-tp-md"&gt;Heading&lt;/h4&gt;
				&lt;p&gt;Secondary title&lt;/p&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;</code></pre>
