/*
  WET-BOEW
  @title: Print view
 */

%gcweb-print-display-none-important {
	display: none !important;
}

.features {
	@extend %gcweb-print-display-none-important;
}

#wb-lng,
#wb-glb-mn,
#wb-srch,
#wb-sm {
	@extend %gcweb-print-display-none-important;
}


header {
	.brand {
		margin-bottom: 0;
	}
}

h1 {
	margin-top: 0;
}
