/*
  WET-BOEW
  @title: Large view and over (screen only)
 */

/* Make a simple list multi-column and responsive (overide _defaults.scss) */
.list-responsive {
	> li {
		width: 25%;

		&:nth-child(4n+4) {
			clear:right;
		}
	}
}

/* Home page banner */
.home {
	.home-banner {
		.innerbox {
			h1 {
				width: 50%;
			}
		}
	}
}
