/*
  WET-BOEW
  @title: Large view and over (screen only)
  @desc:  Variable $screen-lg-min >= 1200px
 */

/* Make a simple list multi-column and responsive (overide _defaults.scss) */
.list-responsive {
	> li {
		width: 25%;

		&:nth-child(4n+4) {
			clear:right;
		}
	}
}
