/*
  WET-BOEW
  @title: Small view and over (screen only)
 */

/*
 * Experimental feature
 */

.experimental {
	.mb-sm-5 {
		margin-bottom: 50px;
	}
	.p-sm-3 {
		padding: 15px;
	}
	.px-sm {
		padding-left: 15px;
		padding-right: 15px;
	}
}
