/*
  WET-BOEW
  @title: Small view and under (screen only)
 */

// Heading font-sizes
h1,
.h1 {
	font-size: 34px;
	margin-top: 15px;
}

h2,
.h2 {
	font-size: 34px;
}

h3,
.h3 {
	font-size: 24px;
}

h4,
.h4 {
	font-size: 20px;
}
// Font-sizes for navigation page type (Home, Themes, Topic,...)
// ".secondary" is deprecated and should be replaced by ".page-type-nav"
.secondary, .page-type-nav {
	main {
		font-size: 20px;
	}

	h2,
	.h2 {
		font-size: 24px;
	}

	h3,
	.h3,
	h4,
	.h4,
	h5,
	.h5 {
		font-size: 21px;
	}
}

.home {
	.home-most-requested {
		li {
			font-size: 19px;
		}
	}
	.home-your-gov {
		background-image: none;
	}
}
