/*
  WET-BOEW
  @title: Extra-small view (screen only)
 */

/* Home page banner */
.home {
	.home-banner {
		.innerbox {
			width: 100%;
			h1 {
				width: 59%;
			}
		}
	}
}

#wb-srch input {
	max-width: 200px;
	min-width: 150px;
}
