/*
  WET-BOEW
  @title: Extra-extra-small view (screen only)
 */

/* Embedding a Fluid Survey */
.gc-fld-srvy-container {
	padding-bottom: 100%;
}

/* Home page banner */
.home {
	.home-banner {
		.innerbox {
			width: 100%;
			h1 {
				width: 80%;
			}
		}
	}
}

#wb-srch input {
	border-right: 1px solid #e0e0e0;
	max-width: 246px;
}
