/*
  WET-BOEW
  @title: All screen views
 */
.overlay-def {
	.modal-header {
		background: #2e5274;
	}
}

.wb-sl {
	background: $accent-blue;
	color: #fff;
	font-weight: 700;

	&:focus {
		color: #fff;
		text-decoration: none;
	}
}
