/*
  WET-BOEW
  @title: Small view and under (screen only)
  @desc:  Variable $screen-sm-max <= 991 px
 */

// Heading font-sizes
h1,
.h1 {
	font-size: 1.7em; // expected 34px;
	margin-top: .75em; // expected ~15px;
}

h2,
.h2 {
	font-size: 1.6em; // expected 342x;
}

// Service and information component
.gc-srvinfo, .gc-drmt {
	p {
		font-size: 19px; // Increase text size for mobile
	}
}

.home {
	.home-most-requested {
		li {
			font-size: 19px;
		}
	}
	.home-your-gov {
		background-image: none;
	}
}


/* PROVISIONAL features */
.provisional {

	/* Checkboxes and radios */
	&.gc-chckbxrdio.form-inline .label-inline {
		margin-bottom: 20px;
		padding-right: 20px;
	}

	/* Contributors */
	&.gc-contributors {

		h2, ul {
			display: block;
		}

		ul {
			padding-inline-start: 20px;

			li {
				display: list-item;
				margin-right: 0;
			}
		}
	}

	/* Responsive tables cards */
	&.gc-table {
		.text-left {
			clear: both;
			display: block;
		}
		>tbody,
		>tfoot {
			>tr {
				>td {
					&:first-child {
						border-top: none;
				}
			}
		}
	}
		tr {
			border: 1px solid #ddd;
			display: block;
			margin-bottom: .625em;
			padding: .35em;
		}
		caption {
			font-size: 1.1em;
		}
		thead {
			border: none;
			clip: rect(0 0 0 0);
			height: 1px;
			margin: -1px;
			overflow: hidden;
			padding: 0;
			position: absolute;
			width: 1px;
		}
		td {
			display: block;
			font-size: 1em;
			text-align: right;
			&::before {
				content: attr(data-label);
				float: left;
				font-weight: bold;
			}
			&:last-child {
				border-bottom: 0;
			}
		}
	}
}
