/*
  WET-BOEW
  @title: Small view and under (screen only)
 */

// Heading font-sizes
h1,
.h1 {
	font-size: 1.7em; // expected 34px;
	margin-top: .75em; // expected ~15px;
}

h2,
.h2 {
	font-size: 1.6em; // expected 342x;
}

// Service and information component
.gc-srvinfo, .gc-drmt {
	p {
		font-size: 19px; // Increase text size for mobile
	}
}

.home {
	.home-most-requested {
		li {
			font-size: 19px;
		}
	}
	.home-your-gov {
		background-image: none;
	}
}
