/*
  WET-BOEW
  @title: Extra-small view and under (screen only)
 */

/* Make a simple list multi-column and responsive (overide _defaults.scss) */
.list-responsive {
	> li {
		clear:right;
		width: 100%;
	}
}

.home {
	.home-banner {
		.container {
			padding: 0px;
		}
	}
}
