---
{
	"title": "Sub task 3",
	"secondarymenu": [
		{ "title": "[Sub task 1]", "link": "../task1/index-en.html" },
		{ "title": "[Sub task 2]", "link": "../task2/index-en.html" },
		{ "title": "[Sub task 3]", "link": "./index-en.html" }
	],
	"localnavHeading": [{
		"title":"[Task 3]",
		"link":"../index-en.html"
	}],
	"language": "en",
	"altLangPage": "index-fr.html",
	"breadcrumbs": [
		{ "title": "[Institution name]", "link": "templates/institutional/institution-en.html" },
		{ "title": "[Topic - Local navigation]", "link": "templates/localnav/index-en.html" },
		{ "title": "[Task 3]", "link": "templates/localnav/task3/index-en.html" }
	],
	"tag": "GCWeb",
	"dateModified": "2015-01-11",
	"share": "true"
}
---
{% include components/inc-byline.html %}
{% include web-contents/placeholdercontent-en.html %}
