/*
  WET-BOEW
  @title: Search all screen views
 */

#wb-srch {
	.submit {
		float: right;
	}
}

#wb-srch-sub {
	// height: 37px;
	margin-left: 5px;
}

[dir=rtl] {
	#wb-srch {
		&.submit {
			float: left;
		}
	}

	#wb-srch-sub {
		margin: {
			left: 0;
			right: 5px;
		}
	}
}
