---
{
	"title": "GC Corporative",
	"language": "fr",
	"altLangPage": "gc-crprt-en.html",
	"pageclass": "cnt-wdth-lmtd",
	"secondlevel": false,
	"dateModified": "2024-03-20",
	"share": "true"
}
---

<p>Classe GC Corporate <code>.gc-crprt</code> exemple de fonctionnement</p>
<p>Cet exemple montre comment la classe .gc-crprt fonctionne avec les classes Bootstrap .col-md-8 et .col-md-4 pour créer une mise en page responsive avec des colonnes. Ceci est seulement utiliser sur les page de profile institutionelle version 1 et organisationelle version 1.</p>

{% include components/gc-crprt/inst-info.html %}

<h2>Exemple de code</h2>
{% highlight html %}{% include components/gc-crprt/inst-info.html %}{% endhighlight html %}
