---
{
	"title": "GC Corporate",
	"language": "en",
	"altLangPage": "gc-crprt-fr.html",
	"pageclass": "cnt-wdth-lmtd",
	"secondlevel": false,
	"dateModified": "2024-03-20",
	"share": "true"
}
---

<p>GC Corporate <code>.gc-crprt</code> class working example</p>
<p>This example demonstrates how the .gc-crprt class works with the Bootstrap .col-md-8 and .col-md-4 classes to create a responsive layout with columns. This component are only used on the institutional landing page version 1 and on the organizational landing page version 1.</p>

{% include components/gc-crprt/inst-info.html %}

<h2>Code Sample</h2>
{% highlight html %}{% include components/gc-crprt/inst-info.html %}{% endhighlight html %}
