---
{
"title": "Déclaration d'accessibilité",
"language": "fr",
"description": "Gabarit de page pour la déclaration d'accessibilité des institutions.",
"altLangPage": "accessibility-statement-en.html",
"dateModified": "2026-07-22",
"layout": "no-container",
}
---

<div class="container">
	<h1 id="wb-cont">Déclaration d'accessibilité</h1>

	<section>
		<h2>Notre engagement</h2>
		<p><em class="highlight">[Nom de l'institution]</em> s'engage à faire en sorte que ses sites Web et ses applications Web soient accessibles à tous, y compris aux personnes en situation de handicap. Nous améliorons continuellement l'expérience utilisateur pour tous les visiteurs en appliquant et en maintenant les normes d'accessibilité pertinentes.</p>
		<p>Sur ce site Web, vous devriez pouvoir&nbsp;:</p>
		<ul>
			<li>naviguer et interagir avec tout le contenu en utilisant seulement un clavier;</li>
			<li>naviguer et interagir avec tout le contenu à l'aide d'un lecteur d'écran ou d'une autre technologie d'assistance;</li>
			<li>agrandir le contenu jusqu'à <em class="highlight">[200]</em>&nbsp;% sans perte de contenu ou de fonctionnalité;</li>
			<li>percevoir tout le contenu grâce à un contraste de couleurs suffisant;</li>
			<li><em class="highlight">[Ajoutez ou supprimez des éléments afin de refléter ce que votre site prend en charge]</em>.</li>
		</ul>
	</section>

	<section>
		<h2>Normes appliquées</h2>
		<p>Ce site Web est conçu pour répondre aux <a href="https://www.w3.org/Translations/WCAG21-fr/">Règles pour l'accessibilité des contenus Web (WCAG) 2.1</a>, niveau AA. Ces règles expliquent comment rendre le contenu Web plus accessible aux personnes en situation de handicap et plus convivial pour tous.</p>
		<p>Ce site Web est <em class="highlight">[entièrement conforme/partiellement conforme/non conforme]</em> aux WCAG 2.1, niveau AA. <em class="highlight">[Si le site est partiellement conforme ou non conforme, expliquez brièvement&nbsp;: par exemple, «&nbsp;Partiellement conforme signifie que certaines parties du contenu ne sont pas entièrement conformes à la norme d'accessibilité. Les exceptions connues sont énumérées dans la section sur le contenu non accessible ci-dessous.&nbsp;»]</em></p>
	</section>

	<section>
		<h2>Contenu non accessible</h2>
		<p>Malgré tous nos efforts, il se peut que certains contenus de ce site Web ne soient pas entièrement accessibles. Les limites connues, ainsi que nos plans pour y remédier, sont énumérées ci-dessous.</p>
		<section>
			<h3>Limites connues</h3>
			<ul>
				<li><em class="highlight">[Décrivez le contenu ou la fonctionnalité non accessible]</em>&nbsp;: ce contenu ne répond pas au critère de succès <em class="highlight">[numéro et nom du critère, par exemple «&nbsp;1.1.1 Contenu non textuel&nbsp;»]</em> des WCAG 2.1. <em class="highlight">[Décrivez le correctif prévu et l'échéancier, par exemple «&nbsp;Nous prévoyons corriger ce problème d'ici mars 2027.&nbsp;»]</em></li>
				<li><em class="highlight">[Ajoutez un élément pour chaque limite connue]</em></li>
			</ul>
			<p>Si vous rencontrez un obstacle qui n'est pas mentionné ci-dessus, veuillez <a href="#contact-us">communiquer avec nous</a>.</p>
		</section>
		<section>
			<h3>Contenu non visé par la présente déclaration</h3>
			<p>Le contenu suivant n'est pas visé par la présente déclaration&nbsp;:</p>
			<ul>
				<li>les documents en format de document portable (PDF) publiés avant le <em class="highlight">[date]</em>;</li>
				<li>le contenu de tiers qui n'est ni financé ni développé par <em class="highlight">[nom de l'institution]</em>, ni sous son contrôle;</li>
				<li>le contenu archivé qui n'est plus nécessaire à la prestation des programmes et services actifs;</li>
				<li><em class="highlight">[Ajoutez ou supprimez des éléments au besoin]</em>.</li>
			</ul>
			<p>Si vous avez besoin d'aide concernant un contenu non visé par la présente déclaration, veuillez <a href="#contact-us">communiquer avec nous</a> pour demander un média substitut.</p>
		</section>
	</section>

	<section>
		<h2>Mesures prises pour assurer l'accessibilité</h2>
		<p><em class="highlight">[Nom de l'institution]</em> prend les mesures suivantes pour assurer l'accessibilité de ce site Web&nbsp;:</p>
		<ul>
			<li>inclure l'accessibilité comme exigence dans nos politiques internes et tout au long du cycle de développement;</li>
			<li>offrir une formation obligatoire sur l'accessibilité aux employés qui créent du contenu Web;</li>
			<li>fournir des outils et des ressources en matière d'accessibilité aux employés;</li>
			<li>effectuer des évaluations rigoureuses de l'accessibilité et des réévaluations périodiques;</li>
			<li><em class="highlight">[Ajoutez ou supprimez des mesures afin de refléter les pratiques de votre institution]</em>.</li>
		</ul>
	</section>

	<section>
		<h2>Spécifications relatives aux navigateurs et aux environnements</h2>
		<p>Ce site Web est conçu pour être compatible avec les navigateurs suivants&nbsp;:</p>
		<ul>
			<li><em class="highlight">[Nom et version minimale du navigateur, par exemple «&nbsp;Google Chrome (dernière version)&nbsp;»]</em>;</li>
			<li><em class="highlight">[Ajoutez un élément pour chaque navigateur pris en charge]</em>.</li>
		</ul>
		<p>Ce site Web a été mis à l'essai avec les technologies d'assistance suivantes&nbsp;:</p>
		<ul>
			<li><em class="highlight">[Combinaison de technologie d'assistance et de navigateur, par exemple «&nbsp;NVDA avec Google Chrome sous Windows&nbsp;»]</em>;</li>
			<li><em class="highlight">[Ajoutez un élément pour chaque combinaison mise à l'essai]</em>.</li>
		</ul>
	</section>

	<section>
		<h2>Approche d'évaluation</h2>
		<p><em class="highlight">[Nom de l'institution]</em> a évalué l'accessibilité de ce site Web au moyen des approches suivantes&nbsp;:</p>
		<ul>
			<li>auto-évaluation, effectuée par <em class="highlight">[nom de l'équipe interne]</em>;</li>
			<li>évaluation externe, effectuée par <em class="highlight">[nom de l'organisation externe]</em>;</li>
			<li>essais automatisés, au moyen de <em class="highlight">[noms des outils automatisés]</em>;</li>
			<li>essais manuels avec des technologies d'assistance;</li>
			<li><em class="highlight">[Ajoutez ou supprimez des approches au besoin]</em>.</li>
		</ul>
	</section>

	<section>
		<h2>Lois canadiennes sur l'accessibilité</h2>
		<p>La <a href="https://laws-lois.justice.gc.ca/fra/lois/a-0.6/"><em>Loi canadienne sur l'accessibilité</em></a> vise à faire du Canada un pays exempt d'obstacles d'ici 2040, grâce à la reconnaissance, à l'élimination et à la prévention des obstacles dans les domaines de compétence fédérale, y compris les technologies de l'information et des communications.</p>
		<p><em class="highlight">[Nom de l'institution]</em> s'engage à respecter ses obligations en vertu de la <em>Loi canadienne sur l'accessibilité</em> et de ses règlements, notamment la publication de plans sur l'accessibilité, de processus de rétroaction et de rapports d'étape.</p>
		<p><em class="highlight">[Facultatif&nbsp;: ajoutez un lien vers le plan sur l'accessibilité et les rapports d'étape de votre institution.]</em></p>
	</section>

	<section>
		<h2 id="contact-us">Coordonnées</h2>
		<p>Vos commentaires sur l'accessibilité de ce site Web sont les bienvenus. Si vous rencontrez un obstacle à l'accessibilité, si vous avez une question ou une préoccupation, ou si vous avez besoin d'un contenu dans un média substitut, vous pouvez communiquer avec nous par l'un des moyens suivants&nbsp;:</p>
		<dl>
			<dt><strong>Par courriel&nbsp;:</strong></dt>
			<dd><em class="highlight">[adresse courriel]</em></dd>
			<dt><strong>Par téléphone&nbsp;:</strong></dt>
			<dd><em class="highlight">[numéro de téléphone]</em></dd>
			<dt><strong>Par la poste&nbsp;:</strong></dt>
			<dd><em class="highlight">[adresse postale]</em></dd>
			<dt><strong>En ligne&nbsp;:</strong></dt>
			<dd><em class="highlight">[lien vers le formulaire de rétroaction]</em></dd>
		</dl>
		<p>Nous visons à répondre aux commentaires sur l'accessibilité dans un délai de <em class="highlight">[nombre]</em> jours ouvrables.</p>
		<p>Si notre réponse à vos commentaires ou à votre plainte ne vous satisfait pas, vous pouvez déposer une plainte auprès du <a href="https://www.ccdp-chrc.gc.ca/trouver-aide/deposer-une-plainte-aupres-du-commissaire-a-accessibilite">commissaire à l'accessibilité</a> de la Commission canadienne des droits de la personne, qui est chargé de faire respecter la <em>Loi canadienne sur l'accessibilité</em>.</p>
	</section>

	<section>
		<h2>À propos de cette déclaration</h2>
		<p>Cette déclaration a été préparée le <em class="highlight">[date de publication originale]</em>.</p>
		<p>Elle a été révisée pour la dernière fois le <em class="highlight">[date de la dernière révision]</em>.</p>
		<p>Ce site Web a été évalué pour la dernière fois le <em class="highlight">[date de la dernière évaluation]</em> par <em class="highlight">[nom de l'équipe interne ou de l'organisation externe]</em>.</p>
	</section>
</div>
