---
{
	"title": "Developper build pre-release notes",
	"description": "Developper build pre-release notes - Canada.ca theme (GCWeb)",
	"language": "en",
	"altLangPrefix": "dev-build",
	"breadcrumb": [
		{ "title": "GCWeb home", "link": "../../index-en.html" },
		{ "title": "GCWeb theme", "link": "../index-en.html" }
	],
	"secondlevel": false,
	"dateModified": "2019-07-11",
	"share": "true"
}
---

<div class="row">
	<div class="col-md-7 col-lg-8">
		<div class="alert alert-warning">
			<p>The release notes below can be incomplete and awaiting for official translation until the official release.</p>
		</div>
	</div>
	<div class="col-xs-12 col-md-auto pull-right">
		<p><a href="https://github.com/wet-boew/themes-dist/archive/GCWeb.zip" class="btn btn-primary">Download the latest developper build</a><br />
			<small>(<a href="https://github.com/wet-boew/GCWeb/">Source code</a>)</small></p>
	</div>
</div>

<ul>
	<li><strong>Planned release date:</strong> <time datetime="2019-10-14">October 14, 2019</time></li>
	<li><strong>Going to be released under version:</strong> v6.0</li>
	<li><strong>Canceled:</strong> (on July 11, 2019) <del>v5.2</del></li>
</ul>

<section>
<h2>What's new?</h2>
<ul>
	<li>Template
		<ul>
			<li>Major - Renamed the link of the english menu about the menu item "science" for: <code>https://www.canada.ca/en/services/science.html</code></li>
		</ul>
	</li>
	<li>Styles and plugins</li>
	<li><a href="https://wet-boew.github.io/themes-dist/GCWeb/experimental-en.html">Experimental</a>
		<ul>
			<li>Add strech link functionality</li>
		</ul>
	</li>
	<li>Maintenance</li>
</ul>
</section>

<section>
		<h2 id="details">Details</h2>
		<p><strong>Number of commits:</strong> X</p>
</section>

<section>
	<h2>More details and examples</h2>
</section>
