---
{
"title": "Services du government du Canada",
"language": "fr",
"altLangPage": "all-services-en.html",
"dateModified": "2024-11-21",
"layout": "no-container",
"css": ["https://use.fontawesome.com/releases/v5.8.1/css/all.css"]
}
---

<!-- This page template is limited to the "All services" page on Canada.ca. For this reason, we are using utility classes instead of embedding the styles in this template. -->


<div class="container">
	<h1 id="wb-cont">Services du government du Canada</h1>
	<a href="#tous-les-services" class="wb-sl">Passer à Accéder aux services par thème</a>
</div>

<section class="bg-light mt-3 pb-3">
	<div class="container">
		<h2 class="h3 mb-4">Recherches les plus populaires</h2>
		<ul class="list-unstyled colcount-md-3 compact bold-content lst-spcd-2 fnt-hdng">
			<li><a href="https://www.canada.ca/fr/services/prestations/dentaire/regime-soins-dentaires.html">Régime canadien de soins dentaires</a></li>
			<li><a href="https://www.canada.ca/fr/immigration-refugies-citoyennete/services/passeports-canadiens.html">Passeports</a></li>
			<li><a href="https://www.canada.ca/fr/agence-revenu/services/formulaires-publications/formulaires/rc518.html">RRC518 Déclaration de résidence aux fins de l'impôt pour les particuliers</a></li>
			<li><a href="https://www.canada.ca/fr/emploi-developpement-social/services/numero-assurance-sociale.html">Numéro d'assurance sociale (NAS)</a></li>
			<li><a href="https://www.canada.ca/fr/services/prestations/pensionspubliques.html">Pensions publiques (RPC, SV, SRG)</a></li>
			<li><a href="https://www.canada.ca/fr/emploi-developpement-social/services/mon-dossier/trouvez-code.htm">Code d’accès personnel (CAP) pour Mon dossier Service Canada</a></li>
			<li><a href="https://www.canada.ca/fr/immigration-refugies-citoyennete/services/visiter-canada/ave.html">Autorisation de voyage électronique (AVE)</a></li>
			<li><a href="https://www.canada.ca/fr/emploi-developpement-social/programmes/assurance-emploi/ae-liste/assurance-emploi-re.html">Relevé d’emploi (RE)</a></li>
			<li><a href="https://www.canada.ca/fr/sante-canada/services/cartes-sante.html">Cartes santé provinciales et territoriales</a></li>
		</ul>
	</div>
</section>

<section class="pb-3">
	<div class="container">
		<h2 class="h3 mb-4">Services les plus demandés</h2>
		<ul class="list-unstyled colcount-md-3 compact bold-content lst-spcd-2 fnt-hdng">
			<li><a href="https://www.canada.ca/fr/gouvernement/ouvrir-session-dossier-compte-en-ligne.html">Se connecter à un compte</a></li>
			<li><a href="https://www.canada.ca/fr/gouvernement/changement-adresse.html">Changement d'adresse</a></li>
			<li><a href="https://www.tpsgc-pwgsc.gc.ca/recgen/txt/depot-deposit-fra.html">S'inscrire ou modifier vos informations de dépôt direct</a></li>
			<li><a href="https://www.canada.ca/fr/gouvernement/subventions-financement.html">Trouver des subventions et du financement</a></li>
			<li><a href="https://www.canada.ca/fr/services/emplois/opportunites.html">Trouver un emploi</a></li>
			<li><a href="https://apps.cra-arc.gc.ca/ebci/rhpd/beta/entry">Calculateur en direct de retenues sur la paie</a></li>
		</ul>
	</div>
</section>

<section class="bg-light pb-3">
	<div class="container">
		<h2 class="h3 mb-4">Vous accompagner dans les transitions de la vie</h2>
		<ul class="list-unstyled colcount-md-3 compact bold-content lst-spcd-2 fnt-hdng">
			<li><a href="https://www.canada.ca/fr/services/deces.html">Que faire lors d’un décès?</a></li>
			<li><a href="https://www.canada.ca/fr/services/retraite.html">Apprendre et planifier pour votre retraite</a></li>
		</ul>
	</div>
</section>

<div class="container">
	<h1 id="tous-les-services" class="mt-4">Accéder aux services par thème</h1>

	<section>
		<details class="mt-4">
			<summary>
				<h2 class="h5 fnt-nrml">Immigration et citoyenneté</h2>
			</summary>
			<div class="bg-info row pt-3 pb-2">
				<div class="col-md-3">
					<h3 class="mt-0"><span class="fas fa-exclamation-circle text-info mr-2" aria-hidden="true"></span>Information sur</h3>
				</div>
				<div class="col-md-9">
					<ul class="colcount-md-2 compact bold-content lst-spcd fnt-hdng">
						<li><a href="https://www.canada.ca/fr/immigration-refugies-citoyennete/services/refugies/afghanistan.html">l’Afghanistan</a></li>
						<li><a href="https://www.canada.ca/fr/immigration-refugies-citoyennete/services/haiti-2024-fr.html">Haïti</a><span class="label label-primary ml-2">Mise à jour</span></li>
						<li><a href="https://www.canada.ca/fr/immigration-refugies-citoyennete/services/iran.html">l’Iran</a></li>
						<li><a href="https://www.canada.ca/fr/immigration-refugies-citoyennete/services/israel-cisjordanie-gaza-2023.html">Israël, Cisjordanie et la bande de Gaza</a></li>
						<li><a href="https://www.canada.ca/fr/immigration-refugies-citoyennete/services/liban-2023.html">le Liban</a></li>
						<li><a href="https://www.canada.ca/fr/immigration-refugies-citoyennete/services/soudan2023.html">le Soudan</a></li>
						<li><a href="https://www.canada.ca/fr/immigration-refugies-citoyennete/services/immigrer-canada/mesures-ukraine.html">l’Ukraine</a></li>
						<li><a href="https://www.canada.ca/fr/immigration-refugies-citoyennete/services/urgences-canada/feux-foret-2024.html">les feux de forêt au Canada</a></li>
					</ul>
				</div>
			</div>
			<div class="bg-light row pt-3 pb-2">
				<div class="col-md-3">
					<h3 class="mt-0">En demande</h3>
				</div>
				<div class="col-md-9">
					<ul class="colcount-md-2 compact bold-content lst-spcd fnt-hdng">
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
					</ul>
				</div>
			</div>
			<div class="row pt-3 pb-2">
				<div class="col-md-3">
					<h3 class="mt-0">Plus de sujets</h3>
				</div>
				<div class="col-md-9">
					<ul class="colcount-md-2 compact bold-content lst-spcd fnt-hdng">
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
					</ul>
				</div>
			</div>
		</details>
	</section>

	<section>
		<details>
			<summary>
				<h2 class="h5 fnt-nrml">Impôts</h2>
			</summary>
			<div class="bg-light row pt-3 pb-2">
				<div class="col-md-3">
					<h3 class="mt-0">En demande</h3>
				</div>
				<div class="col-md-9">
					<ul class="colcount-md-2 compact bold-content lst-spcd fnt-hdng">
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
					</ul>
				</div>
			</div>
			<div class="row pt-3 pb-2">
				<div class="col-md-3">
					<h3 class="mt-0">Plus de sujets</h3>
				</div>
				<div class="col-md-9">
					<ul class="colcount-md-2 compact bold-content lst-spcd fnt-hdng">
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
					</ul>
				</div>
			</div>
		</details>
	</section>

	<section>
		<details>
			<summary>
				<h2 class="h5 fnt-nrml">Emplois</h2>
			</summary>
			<div class="bg-light row pt-3 pb-2">
				<div class="col-md-3">
					<h3 class="mt-0">En demande</h3>
				</div>
				<div class="col-md-9">
					<ul class="colcount-md-2 compact bold-content lst-spcd fnt-hdng">
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
					</ul>
				</div>
			</div>
			<div class="row pt-3 pb-2">
				<div class="col-md-3">
					<h3 class="mt-0">Plus de sujets</h3>
				</div>
				<div class="col-md-9">
					<ul class="colcount-md-2 compact bold-content lst-spcd fnt-hdng">
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
					</ul>
				</div>
			</div>
		</details>
	</section>

	<section>
		<details>
			<summary>
				<h2 class="h5 fnt-nrml">Voyage et tourisme</h2>
			</summary>
			<div class="bg-light row pt-3 pb-2">
				<div class="col-md-3">
					<h3 class="mt-0">En demande</h3>
				</div>
				<div class="col-md-9">
					<ul class="colcount-md-2 compact bold-content lst-spcd fnt-hdng">
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
					</ul>
				</div>
			</div>
			<div class="row pt-3 pb-2">
				<div class="col-md-3">
					<h3 class="mt-0">Plus de sujets</h3>
				</div>
				<div class="col-md-9">
					<ul class="colcount-md-2 compact bold-content lst-spcd fnt-hdng">
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
					</ul>
				</div>
			</div>
		</details>
	</section>

	<section>
		<details>
			<summary>
				<h2 class="h5 fnt-nrml">Prestations</h2>
			</summary>
			<div class="bg-light row pt-3 pb-2">
				<div class="col-md-3">
					<h3 class="mt-0">En demande</h3>
				</div>
				<div class="col-md-9">
					<ul class="colcount-md-2 compact bold-content lst-spcd fnt-hdng">
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
					</ul>
				</div>
			</div>
			<div class="row pt-3 pb-2">
				<div class="col-md-3">
					<h3 class="mt-0">Plus de sujets</h3>
				</div>
				<div class="col-md-9">
					<ul class="colcount-md-2 compact bold-content lst-spcd fnt-hdng">
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
					</ul>
				</div>
			</div>
		</details>
	</section>

	<section>
		<details>
			<summary>
				<h2 class="h5 fnt-nrml">Environnement et ressources naturelles</h2>
			</summary>
			<div class="bg-light row pt-3 pb-2">
				<div class="col-md-3">
					<h3 class="mt-0">En demande</h3>
				</div>
				<div class="col-md-9">
					<ul class="colcount-md-2 compact bold-content lst-spcd fnt-hdng">
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
					</ul>
				</div>
			</div>
			<div class="row pt-3 pb-2">
				<div class="col-md-3">
					<h3 class="mt-0">Plus de sujets</h3>
				</div>
				<div class="col-md-9">
					<ul class="colcount-md-2 compact bold-content lst-spcd fnt-hdng">
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
					</ul>
				</div>
			</div>
		</details>
	</section>

	<section>
		<details>
			<summary>
				<h2 class="h5 fnt-nrml">Entreprises et industrie</h2>
			</summary>
			<div class="bg-light row pt-3 pb-2">
				<div class="col-md-3">
					<h3 class="mt-0">En demande</h3>
				</div>
				<div class="col-md-9">
					<ul class="colcount-md-2 compact bold-content lst-spcd fnt-hdng">
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
					</ul>
				</div>
			</div>
			<div class="row pt-3 pb-2">
				<div class="col-md-3">
					<h3 class="mt-0">Plus de sujets</h3>
				</div>
				<div class="col-md-9">
					<ul class="colcount-md-2 compact bold-content lst-spcd fnt-hdng">
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
					</ul>
				</div>
			</div>
		</details>
	</section>

	<section>
		<details>
			<summary>
				<h2 class="h5 fnt-nrml">Santé</h2>
			</summary>
			<div class="bg-light row pt-3 pb-2">
				<div class="col-md-3">
					<h3 class="mt-0">En demande</h3>
				</div>
				<div class="col-md-9">
					<ul class="colcount-md-2 compact bold-content lst-spcd fnt-hdng">
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
					</ul>
				</div>
			</div>
			<div class="row pt-3 pb-2">
				<div class="col-md-3">
					<h3 class="mt-0">Plus de sujets</h3>
				</div>
				<div class="col-md-9">
					<ul class="colcount-md-2 compact bold-content lst-spcd fnt-hdng">
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
					</ul>
				</div>
			</div>
		</details>
	</section>

	<section>
		<details>
			<summary>
				<h2 class="h5 fnt-nrml">Argent et finances</h2>
			</summary>
			<div class="bg-light row pt-3 pb-2">
				<div class="col-md-3">
					<h3 class="mt-0">En demande</h3>
				</div>
				<div class="col-md-9">
					<ul class="colcount-md-2 compact bold-content lst-spcd fnt-hdng">
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
					</ul>
				</div>
			</div>
			<div class="row pt-3 pb-2">
				<div class="col-md-3">
					<h3 class="mt-0">Plus de sujets</h3>
				</div>
				<div class="col-md-9">
					<ul class="colcount-md-2 compact bold-content lst-spcd fnt-hdng">
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
					</ul>
				</div>
			</div>
		</details>
	</section>

	<section>
		<details>
			<summary>
				<h2 class="h5 fnt-nrml">Le Canada et le monde</h2>
			</summary>
			<div class="bg-light row pt-3 pb-2">
				<div class="col-md-3">
					<h3 class="mt-0">En demande</h3>
				</div>
				<div class="col-md-9">
					<ul class="colcount-md-2 compact bold-content lst-spcd fnt-hdng">
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
					</ul>
				</div>
			</div>
			<div class="row pt-3 pb-2">
				<div class="col-md-3">
					<h3 class="mt-0">Plus de sujets</h3>
				</div>
				<div class="col-md-9">
					<ul class="colcount-md-2 compact bold-content lst-spcd fnt-hdng">
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
					</ul>
				</div>
			</div>
		</details>
	</section>

	<section>
		<details>
			<summary>
				<h2 class="h5 fnt-nrml">Jeunesse</h2>
			</summary>
			<div class="bg-light row pt-3 pb-2">
				<div class="col-md-3">
					<h3 class="mt-0">En demande</h3>
				</div>
				<div class="col-md-9">
					<ul class="colcount-md-2 compact bold-content lst-spcd fnt-hdng">
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
					</ul>
				</div>
			</div>
			<div class="row pt-3 pb-2">
				<div class="col-md-3">
					<h3 class="mt-0">Plus de sujets</h3>
				</div>
				<div class="col-md-9">
					<ul class="colcount-md-2 compact bold-content lst-spcd fnt-hdng">
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
					</ul>
				</div>
			</div>
		</details>
	</section>

	<section>
		<details>
			<summary>
				<h2 class="h5 fnt-nrml">Autochtones</h2>
			</summary>
			<div class="row pt-3 pb-2">
				<div class="col-md-3">
					<h3 class="mt-0">Plus de sujets</h3>
				</div>
				<div class="col-md-9">
					<ul class="colcount-md-2 compact bold-content lst-spcd fnt-hdng">
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
					</ul>
				</div>
			</div>
		</details>
	</section>

	<section>
		<details>
			<summary>
				<h2 class="h5 fnt-nrml">Culture, histoire et sport</h2>
			</summary>
			<div class="bg-light row pt-3 pb-2">
				<div class="col-md-3">
					<h3 class="mt-0">En demande</h3>
				</div>
				<div class="col-md-9">
					<ul class="colcount-md-2 compact bold-content lst-spcd fnt-hdng">
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
					</ul>
				</div>
			</div>
			<div class="row pt-3 pb-2">
				<div class="col-md-3">
					<h3 class="mt-0">Plus de sujets</h3>
				</div>
				<div class="col-md-9">
					<ul class="colcount-md-2 compact bold-content lst-spcd fnt-hdng">
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
					</ul>
				</div>
			</div>
		</details>
	</section>

	<section>
		<details>
			<summary>
				<h2 class="h5 fnt-nrml">Sécurité nationale et défense</h2>
			</summary>
			<div class="bg-light row pt-3 pb-2">
				<div class="col-md-3">
					<h3 class="mt-0">En demande</h3>
				</div>
				<div class="col-md-9">
					<ul class="colcount-md-2 compact bold-content lst-spcd fnt-hdng">
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
					</ul>
				</div>
			</div>
			<div class="row pt-3 pb-2">
				<div class="col-md-3">
					<h3 class="mt-0">Plus de sujets</h3>
				</div>
				<div class="col-md-9">
					<ul class="colcount-md-2 compact bold-content lst-spcd fnt-hdng">
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
					</ul>
				</div>
			</div>
		</details>
	</section>

	<section>
		<details>
			<summary>
				<h2 class="h5 fnt-nrml">Vétérans et militaires</h2>
			</summary>
			<div class="bg-light row pt-3 pb-2">
				<div class="col-md-3">
					<h3 class="mt-0">En demande</h3>
				</div>
				<div class="col-md-9">
					<ul class="colcount-md-2 compact bold-content lst-spcd fnt-hdng">
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
					</ul>
				</div>
			</div>
			<div class="row pt-3 pb-2">
				<div class="col-md-3">
					<h3 class="mt-0">Plus de sujets</h3>
				</div>
				<div class="col-md-9">
					<ul class="colcount-md-2 compact bold-content lst-spcd fnt-hdng">
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
					</ul>
				</div>
			</div>
		</details>
	</section>

	<section>
		<details>
			<summary>
				<h2 class="h5 fnt-nrml">Transport et infrastructure</h2>
			</summary>
			<div class="bg-light row pt-3 pb-2">
				<div class="col-md-3">
					<h3 class="mt-0">En demande</h3>
				</div>
				<div class="col-md-9">
					<ul class="colcount-md-2 compact bold-content lst-spcd fnt-hdng">
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
					</ul>
				</div>
			</div>
			<div class="row pt-3 pb-2">
				<div class="col-md-3">
					<h3 class="mt-0">Plus de sujets</h3>
				</div>
				<div class="col-md-9">
					<ul class="colcount-md-2 compact bold-content lst-spcd fnt-hdng">
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
					</ul>
				</div>
			</div>
		</details>
	</section>

	<section>
		<details>
			<summary>
				<h2 class="h5 fnt-nrml">Services de police, justice et urgences</h2>
			</summary>
			<div class="bg-light row pt-3 pb-2">
				<div class="col-md-3">
					<h3 class="mt-0">En demande</h3>
				</div>
				<div class="col-md-9">
					<ul class="colcount-md-2 compact bold-content lst-spcd fnt-hdng">
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
					</ul>
				</div>
			</div>
			<div class="row pt-3 pb-2">
				<div class="col-md-3">
					<h3 class="mt-0">Plus de sujets</h3>
				</div>
				<div class="col-md-9">
					<ul class="colcount-md-2 compact bold-content lst-spcd fnt-hdng">
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
					</ul>
				</div>
			</div>
		</details>
	</section>

	<section>
		<details>
			<summary>
				<h2 class="h5 fnt-nrml">Science et innovation</h2>
			</summary>
			<div class="bg-light row pt-3 pb-2">
				<div class="col-md-3">
					<h3 class="mt-0">En demande</h3>
				</div>
				<div class="col-md-9">
					<ul class="colcount-md-2 compact bold-content lst-spcd fnt-hdng">
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
						<li><a href="#">[Lien vers une page en demande]</a></li>
					</ul>
				</div>
			</div>
			<div class="row pt-3 pb-2">
				<div class="col-md-3">
					<h3 class="mt-0">Plus de sujets</h3>
				</div>
				<div class="col-md-9">
					<ul class="colcount-md-2 compact bold-content lst-spcd fnt-hdng">
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
						<li><a href="#">[Lien vers une page de sujet additionnel]</a></li>
					</ul>
				</div>
			</div>
		</details>
	</section>
</div>
