---
{
"title": "Government of Canada services",
"language": "fr",
"altLangPage": "all-services-en.html",
"dateModified": "2025-07-24",
"layout": "no-container",
"css": ["https://use.fontawesome.com/releases/v5.8.1/css/all.css"]
}
---

<!-- This page template is limited to the "All services" page on Canada.ca. For this reason, we are using utility classes instead of embedding the styles in this template. -->

<div class="container">
	<h1 id="wb-cont">Services du government du Canada</h1>
	<a href="#all-topics" class="wb-sl">Passer à Accéder aux services par thème</a>
</div>

<section class="bg-light mt-3 pb-3">
	<div class="container">
		<h2 class="h3 mb-4">Recherches les plus populaires</h2>
		<ul class="list-unstyled colcount-md-3 compact bold-content lst-spcd-2 fnt-hdng">
			<li><a href="https://www.canada.ca/fr/services/prestations/dentaire/regime-soins-dentaires.html">Régime canadien de soins dentaires</a></li>
			<li><a href="https://www.canada.ca/fr/immigration-refugies-citoyennete/services/passeports-canadiens.html">Passeports</a></li>
			<li><a href="https://www.canada.ca/fr/agence-revenu/services/formulaires-publications/formulaires/rc518.html">RRC518 Déclaration de résidence aux fins de l'impôt pour les particuliers</a></li>
			<li><a href="https://www.canada.ca/fr/emploi-developpement-social/services/numero-assurance-sociale.html">Numéro d'assurance sociale (NAS)</a></li>
			<li><a href="https://www.canada.ca/fr/services/prestations/pensionspubliques.html">Pensions publiques (RPC, SV, SRG)</a></li>
			<li><a href="https://www.canada.ca/fr/emploi-developpement-social/services/mon-dossier/trouvez-code.htm">Code d’accès personnel (CAP) pour Mon dossier Service Canada</a></li>
			<li><a href="https://www.canada.ca/fr/immigration-refugies-citoyennete/services/visiter-canada/ave.html">Autorisation de voyage électronique (AVE)</a></li>
			<li><a href="https://www.canada.ca/fr/emploi-developpement-social/programmes/assurance-emploi/ae-liste/assurance-emploi-re.html">Relevé d’emploi (RE)</a></li>
			<li><a href="https://www.canada.ca/fr/sante-canada/services/cartes-sante.html">Cartes santé provinciales et territoriales</a></li>
		</ul>
	</div>
</section>

<section class="pb-3">
	<div class="container">
		<h2 class="h3 mb-4">Services les plus demandés</h2>
		<ul class="list-unstyled colcount-md-3 compact bold-content lst-spcd-2 fnt-hdng">
			<li><a href="https://www.canada.ca/fr/gouvernement/ouvrir-session-dossier-compte-en-ligne.html">Se connecter à un compte</a></li>
			<li><a href="https://www.canada.ca/fr/gouvernement/changement-adresse.html">Changement d'adresse</a></li>
			<li><a href="https://www.tpsgc-pwgsc.gc.ca/recgen/txt/depot-deposit-fra.html">S'inscrire ou modifier vos informations de dépôt direct</a></li>
			<li><a href="https://www.canada.ca/fr/gouvernement/subventions-financement.html">Trouver des subventions et du financement</a></li>
			<li><a href="https://www.canada.ca/fr/services/emplois/opportunites.html">Trouver un emploi</a></li>
			<li><a href="https://apps.cra-arc.gc.ca/ebci/rhpd/beta/entry">Calculateur en direct de retenues sur la paie</a></li>
		</ul>
	</div>
</section>

<section class="bg-light pb-3">
	<div class="container">
		<h2 class="h3 mb-4">Gérer les événements de la vie</h2>
		<ul class="list-unstyled colcount-md-3 compact bold-content lst-spcd-2 fnt-hdng">
			<li><a href="https://www.canada.ca/fr/services/evenements-vie/enfant.html">Accueillir un enfant</a></li>
			<li><a href="https://www.canada.ca/fr/services/retraite.html">Apprendre et planifier pour votre retraite</a></li>
			<li><a href="https://www.canada.ca/fr/services/evenements-vie/deces.html">Que faire lors d'un décès</a></li>
		</ul>
	</div>
</section>

<div class="container">
	<h1 id="all-topics" class="mt-4">Accéder aux services par thème</h1>
	<section class="gc-srvinfo">
		<h2 class="wb-inv">Liste des thèmes</h2>
		<div class="wb-eqht-grd row">
			<div class="col-md-6 col-lg-4">
				<h3><a href="https://www.canada.ca/fr/services/emplois.html">Emplois</a></h3>
				<p>Trouver un emploi, formation, programmes d'embauche, permis de travail, numéro d'assurance sociale (<abbr title="Numero d'Assurance Social">NAS</abbr>)</p>
			</div>
			<div class="col-md-6 col-lg-4">
				<h3><a href="https://www.canada.ca/fr/services/immigration-citoyennete.html">Immigration et citoyenneté</a></h3>
				<p>Visiter, travailler, étudier, immigrer, réfugiés, résidents permanents, présenter une demande, vérifier l'état de la demande</p>
			</div>
			<div class="col-md-6 col-lg-4">
				<h3><a href="https://voyage.gc.ca/">Voyage et tourisme</a></h3>
				<p>Au Canada ou à l'étranger, conseils, avis, passeports, visiter le Canada, événements, attractions</p>
			</div>
			<div class="col-md-6 col-lg-4">
				<h3><a href="https://www.canada.ca/fr/services/entreprises.html">Entreprises et industrie</a></h3>
				<p>Démarrer une entreprise, permis, propriété intellectuelle, soutien aux entreprises, vendre au gouvernement</p>
			</div>
			<div class="col-md-6 col-lg-4">
				<h3><a href="https://www.canada.ca/fr/services/prestations.html">Prestations</a></h3>
				<p>Assurance Emploi, congés familiaux et congés de maladie, allocation pour enfants, pensions, logement, aide financière aux études, personnes invalides, à la suite d’un décès</p>
			</div>
			<div class="col-md-6 col-lg-4">
				<h3><a href="https://www.canada.ca/fr/services/sante.html">Santé</a></h3>
				<p>Alimentation, nutrition, maladies, vaccins, médicaments, sécurité des produits et rappels</p>
			</div>
			<div class="col-md-6 col-lg-4">
				<h3><a href="https://www.canada.ca/fr/services/impots.html">Impôts</a></h3>
				<p>Impôt sur le revenu, TPS/TVH, limites de contribution, credits d’impôt, organismes de charité</p>
			</div>
			<div class="col-md-6 col-lg-4">
				<h3><a href="https://www.canada.ca/fr/services/environnement.html">Environnement et ressources naturelles</a></h3>
				<p>Météo, climat, agriculture, faune, pollution, conservation, pêches</p>
			</div>
			<div class="col-md-6 col-lg-4">
				<h3><a href="https://www.canada.ca/fr/services/defense.html">Sécurité nationale et défense</a></h3>
				<p>Opérations militaires. Protection et défense du Canada, de ses citoyens et de ses infrastructures. Sécurité des frontières, des transports et du cyberespace.</p>
			</div>
			<div class="col-md-6 col-lg-4">
				<h3><a href="https://www.canada.ca/fr/services/culture.html">Culture, histoire et sport</a></h3>
				<p>Arts, médias, patrimoine, langues officielles, identité nationale et financement</p>
			</div>
			<div class="col-md-6 col-lg-4">
				<h3><a href="https://www.canada.ca/fr/services/police.htmlSécurité">Services de police, justice et urgences</a></h3>
				<p>Justice, se préparer en cas d'urgence, services aux victimes d'actes criminels</p>
			</div>
			<div class="col-md-6 col-lg-4">
				<h3><a href="https://www.canada.ca/fr/services/transport.html">Transport et infrastructure</a></h3>
				<p>Aviation, transport maritime, routier et ferroviaire, rappels de sièges d'auto et de véhicules</p>
			</div>
			<div class="col-md-6 col-lg-4">
				<h3><a href="https://www.international.gc.ca/world-monde/index.aspx?lang=fra">Le Canada et le monde</a></h3>
				<p>Politique étrangère, ententes commerciales, développement international, enjeux mondiaux</p>
			</div>
			<div class="col-md-6 col-lg-4">
				<h3><a href="https://www.canada.ca/fr/services/finance.html">Argent et finances</a></h3>
				<p>Finances personnelles, dossiers de crédit, se protéger de la fraude, financer votre éducation, logement</p>
			</div>
			<div class="col-md-6 col-lg-4">
				<h3><a href="">Science et innovation</a></h3>
				<p>Recherche scientifique sur la santé, l'environnement et l'espace, subventions et financement</p>
			</div>
			<div class="col-md-6 col-lg-4">
				<h3><a href="https://www.canada.ca/fr/services/evenements-vie.html">Gérer les événements de la vie</a></h3>
				<p>Prestations et ressources pour vous aider à franchir les étapes les plus importantes de la vie</p>
			</div>
		</div>
	</section>
	<section class="gc-srvinfo">
		<h2>En relief</h2>
		<div class="wb-eqht-grd row">
			<div class="col-md-6 col-lg-4">
				<h3><a href="https://www.canada.ca/fr/services/autochtones.html">Autochtones</a></h3>
				<p>Programs and services for First Nations, Inuit and Métis</p>
			</div>
			<div class="col-md-6 col-lg-4">
				<h3><a href="https://www.canada.ca/fr/services/veterans-militaire.html">Vétérans et militaires</a></h3>
				<p>Services pour les membres actifs et retraités des Forces armées canadiennes ou de la GRC et leurs familles</p>
			</div>
			<div class="col-md-6 col-lg-4">
				<h3><a href="https://www.canada.ca/fr/services/jeunesse.html">Jeunesse</a></h3>
				<p>Programmes et services pour adolescents et jeunes adultes</p>
			</div>
		</div>
	</section>
</div>
