---
{
"title": "Services du government du Canada",
"language": "fr",
"altLangPage": "all-services-en.html",
"dateModified": "2026-03-30",
"layout": "no-container",
"feedback": true
}
---

<!-- This page template is limited to the "All services" page on Canada.ca. For this reason, we are using utility classes instead of embedding the styles in this template. -->

<div class="container">
	<h1 id="wb-cont">Services du government du Canada</h1>
</div>

<section class="bg-light mt-3 pb-3">
	<div class="container">
		<h2 class="h3 mb-4">En demande</h2>
		<ul class="list-unstyled colcount-md-3 colcount-no-break compact bold-content lst-spcd-2 fnt-hdng">
			<li><a data-gc-analytics-mostRequested="manualTag" href="https://www.canada.ca/fr/gouvernement/ouvrir-session-dossier-compte-en-ligne.html">Se connecter à un compte</a></li>
			<li><a data-gc-analytics-mostRequested="manualTag" href="https://www.canada.ca/fr/emploi-developpement-social/services/numero-assurance-sociale.html">Numéro d'assurance sociale (<abbr>NAS</abbr>)</a></li>
			<li><a data-gc-analytics-mostRequested="manualTag" href="https://www.canada.ca/fr/services/prestations/dentaire/regime-soins-dentaires.html">Régime canadien de soins dentaires</a></li>
			<li><a data-gc-analytics-mostRequested="manualTag" href="https://www.canada.ca/fr/emploi-developpement-social/programmes/assurance-emploi/ae-liste/assurance-emploi-re.html">Relevé d’emploi (<abbr>RE</abbr>)</a></li>
			<li><a data-gc-analytics-mostRequested="manualTag" href="https://www.canada.ca/fr/gouvernement/subventions-financement.html">Trouver des subventions et du financement</a></li>
			<li><a data-gc-analytics-mostRequested="manualTag" href="https://www.canada.ca/fr/services/emplois.html">Trouver un emploi</a></li>
		</ul>
	</div>
</section>

<section class="pb-3">
	<div class="container">
		<h2 class="h3 mb-4">Par catégorie</h2>
		<details>
			<summary>
				<h3 class="h5">Assurance-emploi et congés</h3>
			</summary>
			<ul class="colcount-md-2 lst-spcd-2 fnt-hdng mrgn-tp-lg mrgn-bttm-md">
				<li><a href="https://www.canada.ca/fr/services/prestations/ae/declarations-assurance-emploi.html">Présenter une déclaration d'assurance-emploi</a></li>
				<li><a href="https://www.canada.ca/fr/services/prestations/ae/assurance-emploi-reguliere/demande.html">Présenter une demande d'assurance-emploi</a></li>
				<li><a href="https://www.canada.ca/fr/services/prestations/ae/assurance-emploi-reguliere/apres-demande.html">Consultez votre demande d'assurance-emploi</a></li>
				<li><a href="https://www.canada.ca/fr/services/prestations/famille.html">Prestations de maternité, parentales et pour proches aidants et congés</a></li>
				<li><a href="https://www.canada.ca/fr/services/prestations/ae/assurance-emploi-maladie.html">Prestations de maladie et congés</a></li>
			</ul>
		</details>
		<details>
			<summary>
				<h3 class="h5">Prestations, soins dentaires et autres aides financières</h3>
			</summary>
			<ul class="colcount-md-2 lst-spcd-2 fnt-hdng mrgn-tp-lg mrgn-bttm-md">
				<li><a href="https://www.canada.ca/fr/services/prestations/handicap.html">Prestations d'invalidité</a></li>
				<li><a href="https://www.canada.ca/fr/services/prestations/dentaire/regime-soins-dentaires.html">Régime canadien de soins dentaires</a></li>
				<li><a href="https://www.canada.ca/fr/services/prestations/education/aide-etudiants.html">Aide aux étudiants</a></li>
				<li><a href="https://www.canada.ca/fr/agence-revenu/services/prestations-enfants-familles/allocation-canadienne-enfants-apercu.html">Allocation canadienne pour enfants (<abbr>ACE</abbr>)</a></li>
				<li><a href="https://www.canada.ca/fr/agence-revenu/services/impot/particuliers/sujets/tout-votre-declaration-revenus/declaration-revenus/remplir-declaration-revenus/deductions-credits-depenses/ligne-45300-allocation-canadienne-travailleurs-act.html">Allocation canadienne pour les travailleurs</a></li>
				<li><a href="https://www.canada.ca/fr/gouvernement/subventions-financement.html">Trouver des subventions et du financement</a></li>
				<li><a href="https://www.canada.ca/fr/services/prestations/logement.html">Prestations relatives au logement</a></li>
				<li><a href="https://www.canada.ca/fr/services/impots/prestations-pour-enfants-et-familles.html">Crédits d'impôt et prestations pour les particuliers</a></li>
				<li><a href="https://www.canada.ca/fr/services/prestations/chercheur.html">Chercheur de prestations</a></li>
			</ul>
		</details>
		<details>
			<summary>
				<h3 class="h5">Passeports canadiens</h3>
			</summary>
			<ul class="colcount-md-2 lst-spcd-2 fnt-hdng mrgn-tp-lg mrgn-bttm-md">
				<li><a href="https://www.canada.ca/fr/immigration-refugies-citoyennete/services/passeports-canadiens/renouvellement-passeport-adulte.html">Renouveler un passeport canadien</a></li>
				<li><a href="https://www.canada.ca/fr/immigration-refugies-citoyennete/services/passeports-canadiens/verifier-demande-passeports-documents-voyage.html">Vérifier l'état de votre demande de passeport</a></li>
				<li><a href="https://www.canada.ca/fr/immigration-refugies-citoyennete/services/passeports-canadiens/nouveau-passeport-adulte.html">Présenter une nouvelle demande de passeport canadien</a></li>
			</ul>
		</details>
		<details>
			<summary>
				<h3 class="h5">Pensions de retraite (<abbr title="Régime de pensions du Canada">RPC</abbr>, <abbr title="Sécurité de la vieillesse">SV</abbr>, <abbr title="Supplément de revenu garanti">SRG</abbr>)</h3>
			</summary>
			<ul class="colcount-md-2 lst-spcd-2 fnt-hdng mrgn-tp-lg mrgn-bttm-md colcount-no-break">
				<li><a href="https://www.canada.ca/fr/services/prestations/calendrier.html">Dates de paiement des prestations</a></li>
				<li><a href="https://www.canada.ca/fr/services/prestations/pensionspubliques/rpc/calculatrice-revenu-retraite.html">Calculatrice du revenu de retraite canadienne</a></li>
				<li><a href="https://www.canada.ca/fr/services/prestations/pensionspubliques/securite-vieillesse/paiements.html">Sécurité de la vieillesse (<abbr>SV</abbr>) : Estimez le montant de vos versements</a></li>
				<li><a href="https://www.canada.ca/fr/services/prestations/pensionspubliques/rpc/montant-prestation.html">Régime de pensions du Canada (<abbr>RPC</abbr>) : Montant que vous pourriez recevoir</a></li>
				<li><a href="https://www.canada.ca/fr/emploi-developpement-social/services/mon-dossier/rpc.html">Consultez le montant de vos paiements dans Mon dossier Service Canada (<abbr>MDSC</abbr>)</a></li>
				<li><a href="https://www.canada.ca/fr/services/prestations/pensionspubliques/securite-vieillesse/supplement-revenu-garanti.html">Supplément de revenu garanti (<abbr>SRG</abbr>)</a></li>
				<li><a href="https://www.canada.ca/fr/services/retraite.html">Apprendre et planifier pour votre retraite</a></li>
			</ul>
		</details>
		<details>
			<summary>
				<h3 class="h5">Venir au Canada</h3>
			</summary>
			<ul class="colcount-md-2 lst-spcd-2 fnt-hdng mrgn-tp-lg mrgn-bttm-md">
				<li><a href="https://www.canada.ca/fr/immigration-refugies-citoyennete/services/travailler-canada.html#location">Présenter une demande de permis de travail</a></li>
				<li><a href="https://www.canada.ca/fr/immigration-refugies-citoyennete/services/visiter-canada/visa-visiteur.html">Présenter une demande de visa de visiteur</a></li>
				<li><a href="https://www.canada.ca/fr/immigration-refugies-citoyennete/services/visiter-canada/ave.html">Demander une Autorisation de voyage électronique (<abbr>AVE</abbr>)</a></li>
				<li><a href="https://www.canada.ca/fr/immigration-refugies-citoyennete/services/etudier-canada/permis-etudes.html">Présenter une demande de permis d'études</a></li>
				<li><a href="https://www.canada.ca/fr/immigration-refugies-citoyennete/services/demande/verifier-etat.html">Vérifiez l'état de votre demande</a></li>
				<li><a href="https://www.canada.ca/fr/immigration-refugies-citoyennete/services/demande/verifier-delais-traitement.html">Vérifier les délais de traitement</a></li>
				<li><a href="https://www.canada.ca/fr/immigration-refugies-citoyennete/services/immigrer-canada/entree-express.html">Immigrer dans le cadre d'Entrée express</a></li>
				<li><a href="https://www.canada.ca/fr/immigration-refugies-citoyennete/services/immigrer-canada/candidats-provinces.html">Immigrer en tant que candidat d'une province</a></li>
				<li><a href="https://www.canada.ca/fr/immigration-refugies-citoyennete/services/demande/comptes-ircc.html">Compte <abbr title="Immigration, Réfugiés et Citoyenneté Canada">IRCC</abbr> : connexion ou création</a></li>
				<li><a href="https://www.canada.ca/fr/immigration-refugies-citoyennete/services/immigrer-canada/parrainer-membre-famille.html">Parrainer les membres de votre famille pour qu'ils immigrent au Canada</a></li>
				<li><a href="https://www.canada.ca/fr/immigration-refugies-citoyennete/organisation/contactez-ircc.html">Contactez Immigration, Réfugiés et Citoyenneté Canada</a></li>
			</ul>
		</details>
		<details>
			<summary>
				<h3 class="h5">Impôts des particuliers</h3>
			</summary>
			<ul class="colcount-md-2 lst-spcd-2 fnt-hdng mrgn-tp-lg mrgn-bttm-md">
				<li><a href="https://www.canada.ca/fr/agence-revenu/services/services-electroniques/services-ouverture-session-arc.html">Se connecter à son compte de l'<abbr title="Agence du revenu du Canada">ARC</abbr></a></li>
				<li><a href="https://www.canada.ca/fr/agence-revenu/services/services-electroniques/services-numeriques-particuliers/dossier-particuliers/correspondance-ligne-particuliers.html">Vérifier vos courriels de l'<abbr title="Agence du revenu du Canada">ARC</abbr></a></li>
				<li><a href="https://www.canada.ca/fr/services/impots/impot-sur-le-revenu/impot-sur-le-revenu-des-particuliers/comment-produire.html">Produire votre déclaration de revenus</a></li>
				<li><a href="https://www.canada.ca/fr/agence-revenu/services/impot/particuliers/sujets/tout-votre-declaration-revenus/declaration-revenus/remplir-declaration-revenus/feuillets-renseignements/obtenir-copie-vos-feuillets-renseignements.html">Consulter ou télécharger un T4 ou autres feuillets de renseignements fiscaux</a></li>
				<li><a href="https://www.canada.ca/fr/services/impots/impot-sur-le-revenu/impot-sur-le-revenu-des-particuliers/apres-declaration-revenus/adc-adnc.html#get">Obtenir la copie d'un avis de cotisation ou de nouvelle cotisation</a></li>
				<li><a href="https://www.canada.ca/fr/agence-revenu/services/formulaires-publications/publications/rc4466/guide-compte-epargne-libre-impot-celi-particuliers.html#p3021_2808">Connaître votre plafond de cotisation au Compte d'épargne libre d'impôt (<abbr>CELI</abbr>)</a></li>
				<li><a href="https://www.canada.ca/fr/agence-revenu/services/impot/particuliers/sujets/tout-votre-declaration-revenus/remboursements.html">Savoir quand vous recevrez votre remboursement d'impôt</a></li>
				<li><a href="https://www.canada.ca/fr/agence-revenu/services/paiements/paiements-arc.html">Faire un paiement à l'<abbr title="Agence du revenu du Canada">ARC</abbr></a></li>
				<li><a href="https://www.canada.ca/fr/agence-revenu/services/impot/particuliers/sujets/tout-votre-declaration-revenus/declaration-revenus/remplir-declaration-revenus/deductions-credits-depenses.html">Trouver les déductions, les crédits et les dépenses que vous pouvez demander</a></li>
				<li><a href="https://www.canada.ca/fr/agence-revenu/services/impot/particuliers/sujets/reer-regimes-connexes/cotiser-a-reer-a-rpac-a/connaitre-maximum-deductible-votre-reer-rpac.html">Connaître le maximum déductible au titre d'un régime enregistré d'épargne-retraite (<abbr>REER</abbr>)</a></li>
				<li><a href="https://www.canada.ca/fr/agence-revenu/services/services-electroniques/services-ouverture-session-arc/inscrire-services-ouverture-session-arc.html">S'inscrire à un compte de l'<abbr title="Agence du revenu du Canada">ARC</abbr></a></li>
				<li><a href="https://www.canada.ca/fr/agence-revenu/services/impot/particuliers/segments/deductions-credits-impot-personnes-handicapees/credit-impot-personnes-handicapees.html">Crédit d'impôt pour personnes handicapées</a></li>
			</ul>
		</details>
		<details>
			<summary>
				<h3 class="h5">Impôts des entreprises</h3>
			</summary>
			<ul class="colcount-md-2 lst-spcd-2 fnt-hdng mrgn-tp-lg mrgn-bttm-md">
				<li><a href="https://www.canada.ca/fr/agence-revenu/services/impot/entreprises/sujets/tps-tvh-entreprises/produire-declaration-tps-tvh.html">Produire une déclaration de <abbr title="Taxe sur les produits et services">TPS</abbr>/<abbr title="Taxe de vente harmonisée">TVH</abbr></a></li>
				<li><a href="https://www.canada.ca/fr/agence-revenu/services/paiements/paiements-arc.html">Faire un paiement à l'<abbr title="Agence du revenu du Canada">ARC</abbr></a></li>
				<li><a href="https://www.canada.ca/fr/agence-revenu/services/services-electroniques/services-numeriques-entreprises/calculateur-direct-retenues-paie.html">Calculer les retenues sur la paie</a></li>
				<li><a href="https://www.canada.ca/fr/agence-revenu/services/formulaires-publications/publications/rc4120/guide-employeur-comment-produire-feuillet-t4-sommaire.html">Produire un T4</a></li>
				<li><a href="https://www.canada.ca/fr/agence-revenu/services/services-electroniques/services-ouverture-session-arc.html">Se connecter à son compte de l'<abbr title="Agence du revenu du Canada">ARC</abbr></a></li>
			</ul>
		</details>
		<details>
			<summary>
				<h3 class="h5">Citoyenneté canadienne et carte de résident permanent</h3>
			</summary>
			<ul class="colcount-md-2 lst-spcd-2 fnt-hdng mrgn-tp-lg mrgn-bttm-md">
				<li><a href="https://www.canada.ca/fr/immigration-refugies-citoyennete/services/citoyennete-canadienne.html">Présenter une demande de citoyenneté canadienne</a></li>
				<li><a href="https://www.canada.ca/fr/immigration-refugies-citoyennete/services/demande/verifier-etat.html">Vérifiez l'état de votre demande</a></li>
				<li><a href="https://www.canada.ca/fr/immigration-refugies-citoyennete/services/residents-permanents/carte.html">Obtenir, renouveler ou remplacer une carte de résident permanent</a></li>
			</ul>
		</details>
		<details>
			<summary>
				<h3 class="h5">Alertes et avis</h3>
			</summary>
			<ul class="colcount-md-2 lst-spcd-2 fnt-hdng mrgn-tp-lg mrgn-bttm-md">
				<li><a href="https://meteo.gc.ca/mainmenu/alert_menu_f.html">Alertes météo</a></li>
				<li><a href="https://voyage.gc.ca/voyager/avertissements">Conseils aux voyageurs et avertissements</a></li>
				<li><a href="https://recalls-rappels.canada.ca/fr">Rappels et avis de sécurité</a></li>
			</ul>
		</details>
		<details>
			<summary>
				<h3 class="h5">Comptes en ligne (mettre à jour vos coordonnées bancaires ou votre adresse, obtenir un accès ou de l’aide)</h3>
			</summary>
			<ul class="colcount-md-2 lst-spcd-2 fnt-hdng mrgn-tp-lg mrgn-bttm-md">
				<li><a href="https://www.canada.ca/fr/gouvernement/ouvrir-session-dossier-compte-en-ligne.html">Se connecter à un compte</a></li>
				<li><a href="https://www.canada.ca/fr/gouvernement/changement-adresse.html">Changement d'adresse</a></li>
				<li><a href="https://www.canada.ca/fr/services-publics-approvisionnement/services/paiements-vers-depuis-gouvernement/depot-direct.html">S'inscrire ou modifier vos informations de dépôt direct</a></li>
				<li><a href="https://www.canada.ca/fr/emploi-developpement-social/services/mon-dossier/trouvez-code.html">Code d’accès personnel (<abbr>CAP</abbr>) pour Mon dossier Service Canada</a></li>
				<li><a href="https://www.canada.ca/fr/gouvernement/ouvrir-session-dossier-compte-en-ligne/clegc.html">Aide ayant trait à CléGC</a></li>
				<li><a href="https://www.canada.ca/fr/agence-revenu/services/services-electroniques/services-ouverture-session-arc/aide-services-ouverture-session-arc.html">Aide pour utiliser votre compte de l'<abbr title="Agence du revenu du Canada">ARC</abbr></a></li>
			</ul>
		</details>
		<details>
			<summary>
				<h3 class="h5">Gouvernements provinciaux et territoriaux (certificats de naissance, permis de mariage, permis de conduire, carte d’assurance maladie)</h3>
			</summary>
			<p>De nombreux services relèvent de la responsabilité de votre gouvernement provincial ou territorial.</p>
			<ul class="colcount-md-2 lst-spcd-2 fnt-hdng mrgn-tp-lg mrgn-bttm-md">
				<li><a href="https://www.alberta.ca/">Alberta (en anglais seulement)</a></li>
				<li><a href="https://www2.gov.bc.ca/gov/content/home">Colombie-Britannique (en anglais seulement)</a></li>
				<li><a href="https://www.princeedwardisland.ca/fr">Île-du-Prince-Édouard</a></li>
				<li><a href="https://www.gov.mb.ca/index.fr.html">Manitoba</a></li>
				<li><a href="https://www.gnb.ca/fr.html">Nouveau-Brunswick</a></li>
				<li><a href="https://beta.novascotia.ca/">Nouvelle-Écosse (en anglais seulement)</a></li>
				<li><a href="https://www.gov.nu.ca/fr">Nunavut</a></li>
				<li><a href="https://www.ontario.ca/fr/page/gouvernement-de-lontario">Ontario</a></li>
				<li><a href="https://www.quebec.ca/">Québec</a></li>
				<li><a href="https://www.saskatchewan.ca/">Saskatchewan (en anglais seulement)</a></li>
				<li><a href="https://www.gov.nl.ca/">Terre-Neuve-et-Labrador (en anglais seulement)</a></li>
				<li><a href="https://www.gov.nt.ca/fr">Territoires du Nord-Ouest</a></li>
				<li><a href="https://yukon.ca/fr">Yukon</a></li>
			</ul>
		</details>
	</div>
</section>

<div class="container">
	<section class="gc-srvinfo">
		<h2>Par thème</h2>
		<div class="wb-eqht-grd row">
			<div class="col-md-6 col-lg-4">
				<h3><a href="https://www.canada.ca/fr/services/emplois.html">Emplois</a></h3>
				<p>Trouver un emploi, formation, programmes d'embauche, permis de travail, numéro d'assurance sociale (<abbr title="Numero d'Assurance Social">NAS</abbr>)</p>
			</div>
			<div class="col-md-6 col-lg-4">
				<h3><a href="https://www.canada.ca/fr/services/immigration-citoyennete.html">Immigration et citoyenneté</a></h3>
				<p>Visiter, travailler, étudier, immigrer, réfugiés, résidents permanents, présenter une demande, vérifier l'état de la demande</p>
			</div>
			<div class="col-md-6 col-lg-4">
				<h3><a href="https://voyage.gc.ca/">Voyage et tourisme</a></h3>
				<p>Au Canada ou à l'étranger, conseils, avis, passeports, visiter le Canada, événements, attractions</p>
			</div>
			<div class="col-md-6 col-lg-4">
				<h3><a href="https://www.canada.ca/fr/services/entreprises.html">Entreprises et industrie</a></h3>
				<p>Démarrer une entreprise, permis, propriété intellectuelle, soutien aux entreprises, vendre au gouvernement</p>
			</div>
			<div class="col-md-6 col-lg-4">
				<h3><a href="https://www.canada.ca/fr/services/prestations.html">Prestations</a></h3>
				<p>Assurance Emploi, congés familiaux et congés de maladie, allocation pour enfants, pensions, logement, aide financière aux études, personnes invalides, à la suite d’un décès</p>
			</div>
			<div class="col-md-6 col-lg-4">
				<h3><a href="https://www.canada.ca/fr/services/sante.html">Santé</a></h3>
				<p>Alimentation, nutrition, maladies, vaccins, médicaments, sécurité des produits et rappels</p>
			</div>
			<div class="col-md-6 col-lg-4">
				<h3><a href="https://www.canada.ca/fr/services/impots.html">Impôts</a></h3>
				<p>Impôt sur le revenu, <abbr title="Taxe sur les produits et services">TPS</abbr>/<abbr title="Taxe de vente harmonisée">TVH</abbr>, limites de contribution, credits d’impôt, organismes de charité</p>
			</div>
			<div class="col-md-6 col-lg-4">
				<h3><a href="https://www.canada.ca/fr/services/environnement.html">Environnement et ressources naturelles</a></h3>
				<p>Météo, climat, agriculture, faune, pollution, conservation, pêches</p>
			</div>
			<div class="col-md-6 col-lg-4">
				<h3><a href="https://www.canada.ca/fr/services/defense.html">Sécurité nationale et défense</a></h3>
				<p>Opérations militaires. Protection et défense du Canada, de ses citoyens et de ses infrastructures. Sécurité des frontières, des transports et du cyberespace.</p>
			</div>
			<div class="col-md-6 col-lg-4">
				<h3><a href="https://www.canada.ca/fr/services/culture.html">Culture, histoire et sport</a></h3>
				<p>Arts, médias, patrimoine, langues officielles, identité nationale et financement</p>
			</div>
			<div class="col-md-6 col-lg-4">
				<h3><a href="https://www.canada.ca/fr/services/police.html">Services de police, justice et urgences</a></h3>
				<p>Justice, se préparer en cas d'urgence, services aux victimes d'actes criminels</p>
			</div>
			<div class="col-md-6 col-lg-4">
				<h3><a href="https://www.canada.ca/fr/services/transport.html">Transport et infrastructure</a></h3>
				<p>Aviation, transport maritime, routier et ferroviaire, rappels de sièges d'auto et de véhicules</p>
			</div>
			<div class="col-md-6 col-lg-4">
				<h3><a href="https://www.international.gc.ca/world-monde/index.aspx?lang=fra">Le Canada et le monde</a></h3>
				<p>Politique étrangère, ententes commerciales, développement international, enjeux mondiaux</p>
			</div>
			<div class="col-md-6 col-lg-4">
				<h3><a href="https://www.canada.ca/fr/services/finance.html">Argent et finances</a></h3>
				<p>Finances personnelles, dossiers de crédit, se protéger de la fraude, financer votre éducation, logement</p>
			</div>
			<div class="col-md-6 col-lg-4">
				<h3><a href="https://www.canada.ca/fr/services/science.html">Science et innovation</a></h3>
				<p>Recherche scientifique sur la santé, l'environnement et l'espace, subventions et financement</p>
			</div>
			<div class="col-md-6 col-lg-4">
				<h3><a href="https://www.canada.ca/fr/services/evenements-vie.html">Gérer les événements de la vie</a></h3>
				<p>Prestations et ressources pour vous aider à franchir les étapes les plus importantes de la vie</p>
			</div>
		</div>
	</section>
	<section class="gc-srvinfo">
		<h2>En relief</h2>
		<div class="wb-eqht-grd row">
			<div class="col-md-6 col-lg-4">
				<h3><a href="https://www.canada.ca/fr/services/autochtones.html">Autochtones</a></h3>
				<p>Programs and services for First Nations, Inuit and Métis</p>
			</div>
			<div class="col-md-6 col-lg-4">
				<h3><a href="https://www.canada.ca/fr/services/veterans-militaire.html">Vétérans et militaires</a></h3>
				<p>Services pour les membres actifs et retraités des Forces armées canadiennes ou de la <abbr title="Gendarmerie royale du Canada">GRC</abbr> et leurs familles</p>
			</div>
			<div class="col-md-6 col-lg-4">
				<h3><a href="https://www.canada.ca/fr/services/jeunesse.html">Jeunesse</a></h3>
				<p>Programmes et services pour adolescents et jeunes adultes</p>
			</div>
		</div>
	</section>
</div>
