---
{
"title": "Government of Canada services",
"language": "en",
"altLangPage": "all-services-fr.html",
"dateModified": "2026-03-20",
"layout": "no-container",
"feedback": "true"
}
---

<!-- This page template is limited to the "All services" page on Canada.ca. For this reason, we are using utility classes instead of embedding the styles in this template. -->

<div class="container">
	<h1 id="wb-cont">Government of Canada services</h1>
</div>

<section class="bg-light mt-3 pb-3">
	<div class="container">
		<h2 class="h3 mb-4">Most requested</h2>
		<ul class="list-unstyled colcount-md-3 colcount-no-break compact bold-content lst-spcd-2 fnt-hdng">
			<li><a data-gc-analytics-mostRequested="manualTag" href="https://www.canada.ca/en/government/sign-in-online-account.html">Sign in to an account</a></li>
			<li><a data-gc-analytics-mostRequested="manualTag" href="https://www.canada.ca/en/employment-social-development/services/sin.html">Social insurance number (<abbr>SIN</abbr>)</a></li>
			<li><a data-gc-analytics-mostRequested="manualTag" href="https://www.canada.ca/en/services/benefits/dental/dental-care-plan.html">Canadian Dental Care Plan</a></li>
			<li><a data-gc-analytics-mostRequested="manualTag" href="https://www.canada.ca/en/employment-social-development/programs/ei/ei-list/ei-roe.html">Record of employment (<abbr>ROE</abbr>)</a></li>
			<li><a data-gc-analytics-mostRequested="manualTag" href="https://www.canada.ca/en/government/grants-funding.html">Find grants and funding</a></li>
			<li><a data-gc-analytics-mostRequested="manualTag" href="https://www.canada.ca/en/services/jobs/opportunities.html">Find a job</a></li>
		</ul>
	</div>
</section>

<section class="pb-3">
	<div class="container">
		<h2 class="h3 mb-4">By category</h2>
		<details>
			<summary>
				<h3 class="h5">Employment Insurance and leave</h3>
			</summary>
			<ul class="colcount-md-2 lst-spcd-2 fnt-hdng mrgn-tp-lg mrgn-bttm-md">
				<li><a href="https://www.canada.ca/en/services/benefits/ei/employment-insurance-reporting.html">Submit an Employment Insurance Report</a></li>
				<li><a href="https://www.canada.ca/en/services/benefits/ei/ei-regular-benefit/apply.html">Apply for Employment Insurance</a></li>
				<li><a href="https://www.canada.ca/en/services/benefits/ei/ei-regular-benefit/after-applying.html">Check your Employment Insurance (<abbr>EI</abbr>) claim</a></li>
				<li><a href="https://www.canada.ca/en/services/benefits/family.html">Maternity, parental, and caregiving benefits and leave</a></li>
				<li><a href="https://www.canada.ca/en/services/benefits/ei/ei-sickness.html">Sickness benefits and leave</a></li>
			</ul>
		</details>
		<details>
			<summary>
				<h3 class="h5">Benefits, dental care and other financial support</h3>
			</summary>
			<ul class="colcount-md-2 lst-spcd-2 fnt-hdng mrgn-tp-lg mrgn-bttm-md">
				<li><a href="https://www.canada.ca/en/services/benefits/disability.html">Disability benefits</a></li>
				<li><a href="https://www.canada.ca/en/services/benefits/dental/dental-care-plan.html">Canadian Dental Care Plan</a></li>
				<li><a href="https://www.canada.ca/en/services/benefits/education/student-aid.html">Student aid</a></li>
				<li><a href="https://www.canada.ca/en/revenue-agency/services/child-family-benefits/canada-child-benefit-overview.html">Canada Child Benefit (<abbr>CCB</abbr>)</a></li>
				<li><a href="https://www.canada.ca/en/revenue-agency/services/child-family-benefits/canada-workers-benefit.html">Canada Workers Benefit</a></li>
				<li><a href="https://www.canada.ca/en/government/grants-funding.html">Find grants and funding</a></li>
				<li><a href="https://www.canada.ca/en/services/benefits/housing.html">Housing benefits</a></li>
				<li><a href="https://www.canada.ca/en/services/taxes/child-and-family-benefits.html">Tax credits for individuals</a></li>
				<li><a href="https://www.canada.ca/en/services/benefits/finder.html">Benefits finder</a></li>
			</ul>
		</details>
		<details>
			<summary>
				<h3 class="h5">Passports for Canadians</h3>
			</summary>
			<ul class="colcount-md-2 lst-spcd-2 fnt-hdng mrgn-tp-lg mrgn-bttm-md">
				<li><a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/canadian-passports/renew-adult-passport.html">Renew a Canadian passport</a></li>
				<li><a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/canadian-passports/check-passport-travel-document-application.html">Check the status of a passport application</a></li>
				<li><a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/canadian-passports/new-adult-passport.html">Apply for a new Canadian passport</a></li>
			</ul>
		</details>
		<details>
			<summary>
				<h3 class="h5">Retirement pensions (<abbr title="Canada Pension Plan">CPP</abbr>, <abbr title="Old Age Security">OAS</abbr>, <abbr title="Guaranteed Income Supplement">GIS</abbr>)</h3>
			</summary>
			<ul class="colcount-md-2 lst-spcd-2 fnt-hdng mrgn-tp-lg mrgn-bttm-md">
				<li><a href="https://www.canada.ca/en/services/benefits/calendar.html">Pension payment dates</a></li>
				<li><a href="https://www.canada.ca/en/services/benefits/publicpensions/cpp/retirement-income-calculator.html">Canadian Retirement Income Calculator</a></li>
				<li><a href="https://www.canada.ca/en/services/benefits/publicpensions/old-age-security/payments.html">Old Age Security (<abbr>OAS</abbr>) - Estimate payment amounts</a></li>
				<li><a href="https://www.canada.ca/en/services/benefits/publicpensions/cpp/amount.html">Canada Pension Plan (<abbr>CPP</abbr>) - How much you could receive</a></li>
				<li><a href="https://www.canada.ca/en/employment-social-development/services/my-account/cpp.html">View payment amounts in My Service Canada Account (<abbr>MSCA</abbr>)</a></li>
				<li><a href="https://www.canada.ca/en/services/benefits/publicpensions/old-age-security/guaranteed-income-supplement.html">Guaranteed Income Supplement (<abbr>GIS</abbr>)</a></li>
				<li><a href="https://www.canada.ca/en/services/retirement.html">Learn and plan for your retirement</a></li>
			</ul>
		</details>
		<details>
			<summary>
				<h3 class="h5">Come to Canada</h3>
			</summary>
			<ul class="colcount-md-2 lst-spcd-2 fnt-hdng mrgn-tp-lg mrgn-bttm-md">
				<li><a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/work-canada/work-permit.html">Apply for a work permit</a></li>
				<li><a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/visit-canada/visitor-visa.html">Apply for a visitor visa</a></li>
				<li><a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/visit-canada/eta.html">Apply for an Electronic Travel Authorization (<abbr>eTA</abbr>)</a></li>
				<li><a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/study-canada/study-permit.html">Apply for a study permit</a></li>
				<li><a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/application/check-status.html">Check your application status</a></li>
				<li><a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/application/check-processing-times.html">Check processing times</a></li>
				<li><a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry.html">Immigrate through Express Entry</a></li>
				<li><a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/immigrate-canada/provincial-nominees.html">Immigrate as a provincial nominee</a></li>
				<li><a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/application/ircc-accounts.html"><abbr title="Immigration, Refugees and Citizenship Canada">IRCC</abbr> accounts - sign in or register</a></li>
				<li><a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/immigrate-canada/family-sponsorship.html">Sponsor your family members to immigrate to Canada</a></li>
				<li><a href="https://www.canada.ca/en/immigration-refugees-citizenship/corporate/contact-ircc.html">Contact Immigration, Refugees and Citizenship Canada</a></li>
			</ul>
		</details>
		<details>
			<summary>
				<h3 class="h5">Personal taxes</h3>
			</summary>
			<ul class="colcount-md-2 lst-spcd-2 fnt-hdng mrgn-tp-lg mrgn-bttm-md">
				<li><a href="https://www.canada.ca/en/revenue-agency/services/e-services/cra-login-services.html">Access your <abbr title="Canada Revenue Agency">CRA</abbr> account</a></li>
				<li><a href="https://www.canada.ca/en/revenue-agency/services/e-services/digital-services-individuals/account-individuals/online-mail-individuals.html">Check your mail from the <abbr title="Canada Revenue Agency">CRA</abbr></a></li>
				<li><a href="https://www.canada.ca/en/services/taxes/income-tax/personal-income-tax/how-file.html">File your tax return</a></li>
				<li><a href="https://www.canada.ca/en/revenue-agency/services/tax/individuals/topics/about-your-tax-return/tax-return/completing-a-tax-return/tax-slips/a-copy-your-tax-slips.html">View or download a T4 and other tax slips</a></li>
				<li><a href="https://www.canada.ca/en/services/taxes/income-tax/personal-income-tax/after-you-file/noa-nor.html#get">Get a copy of a notice of assessment or reassessment</a></li>
				<li><a href="https://www.canada.ca/en/revenue-agency/services/forms-publications/publications/rc4466/tax-free-savings-account-tfsa-guide-individuals.html#P44_1120">Find your Tax-Free Savings Account (<abbr>TFSA</abbr>) contribution limit</a></li>
				<li><a href="https://www.canada.ca/en/revenue-agency/services/tax/individuals/topics/about-your-tax-return/refunds.html">Find out when you can expect your tax refund</a></li>
				<li><a href="https://www.canada.ca/en/revenue-agency/services/payments/payments-cra.html">Make a payment to the <abbr title="Canada Revenue Agency">CRA</abbr></a></li>
				<li><a href="https://www.canada.ca/en/revenue-agency/services/tax/individuals/topics/about-your-tax-return/tax-return/completing-a-tax-return/deductions-credits-expenses.html">Find out which tax deductions, credits, or expenses you can claim</a></li>
				<li><a href="https://www.canada.ca/en/revenue-agency/services/tax/individuals/topics/rrsps-related-plans/contributing-a-rrsp-prpp/where-you-find-your-rrsp-prpp-deduction-limit.html">Find your Registered Retirement Savings Plan (<abbr>RRSP</abbr>) contribution limit</a></li>
				<li><a href="https://www.canada.ca/en/revenue-agency/services/e-services/cra-login-services/register-cra-sign-in-services.html">Open a My Account</a></li>
				<li><a href="https://www.canada.ca/en/revenue-agency/services/tax/individuals/segments/tax-credits-deductions-persons-disabilities/disability-tax-credit.html">Disability tax credit</a></li>
			</ul>
		</details>
		<details>
			<summary>
				<h3 class="h5">Business taxes</h3>
			</summary>
			<ul class="colcount-md-2 lst-spcd-2 fnt-hdng mrgn-tp-lg mrgn-bttm-md">
				<li><a href="https://www.canada.ca/en/revenue-agency/services/tax/businesses/topics/gst-hst-businesses/file-gst-hst-return.html">File a <abbr title="Goods and Services Tax">GST</abbr>/<abbr title="Harmonized Sales Tax">HST</abbr> return</a></li>
				<li><a href="https://www.canada.ca/en/revenue-agency/services/payments/payments-cra.html">Make a payment to the <abbr title="Canada Revenue Agency">CRA</abbr></a></li>
				<li><a href="https://www.canada.ca/en/revenue-agency/services/e-services/digital-services-businesses/payroll-deductions-online-calculator.html">Calculate payroll deductions</a></li>
				<li><a href="https://www.canada.ca/en/revenue-agency/services/forms-publications/publications/rc4120/employers-guide-filing-t4-slip-summary.html">File an employer information return (T4 Summary)</a></li>
				<li><a href="https://www.canada.ca/en/revenue-agency/services/e-services/cra-login-services.html">Access your <abbr title="Canada Revenue Agency">CRA</abbr> account</a></li>
			</ul>
		</details>
		<details>
			<summary>
				<h3 class="h5">Canadian citizenship and permanent resident cards</h3>
			</summary>
			<ul class="colcount-md-2 lst-spcd-2 fnt-hdng mrgn-tp-lg mrgn-bttm-md">
				<li><a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/canadian-citizenship.html">Apply for Canadian citizenship</a></li>
				<li><a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/application/check-status.html">Check your application status</a></li>
				<li><a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/permanent-residents/card.html">Get, renew or replace a permanent resident card</a></li>
			</ul>
		</details>
		<details>
			<summary>
				<h3 class="h5">Alerts and advisories</h3>
			</summary>
			<ul class="colcount-md-2 lst-spcd-2 fnt-hdng mrgn-tp-lg mrgn-bttm-md">
				<li><a href="https://weather.gc.ca/mainmenu/alert_menu_e.html">Weather alerts</a></li>
				<li><a href="https://travel.gc.ca/travelling/advisories">Travel advice and advisories</a></li>
				<li><a href="https://recalls-rappels.canada.ca/en">Recalls and safety alerts</a></li>
			</ul>
		</details>
		<details>
			<summary>
				<h3 class="h5">Online accounts (update banking or address, get access or help)</h3>
			</summary>
			<ul class="colcount-md-2 lst-spcd-2 fnt-hdng mrgn-tp-lg mrgn-bttm-md">
				<li><a href="https://www.canada.ca/en/government/sign-in-online-account.html">Sign in to an account</a></li>
				<li><a href="https://www.canada.ca/en/government/change-address.html">Change your address</a></li>
				<li><a href="https://www.canada.ca/en/public-services-procurement/services/payments-to-from-government/direct-deposit.html">Set up or change your direct deposit</a></li>
				<li><a href="https://www.canada.ca/en/employment-social-development/services/my-account/find-pac.html">Personal Access Code (<abbr>PAC</abbr>) for My Service Canada Account</a></li>
				<li><a href="https://www.canada.ca/en/government/sign-in-online-account/gckey.html">GCkey help</a></li>
				<li><a href="https://www.canada.ca/en/revenue-agency/services/e-services/cra-login-services/help-cra-sign-in-services.html?type=myacct">Help with using your <abbr title="Canada Revenue Agency">CRA</abbr> account</a></li>
			</ul>
		</details>
		<details>
			<summary>
				<h3 class="h5">Provincial or territorial government (birth certificates, marriage licenses, driver's licenses, health cards)</h3>
			</summary>
			<p>Many services are the responsibility of your provincial or territorial government.</p>
			<ul class="colcount-md-2 lst-spcd-2 fnt-hdng mrgn-tp-lg mrgn-bttm-md">
				<li><a href="https://www.alberta.ca/">Alberta</a></li>
				<li><a href="https://www2.gov.bc.ca/gov/content/home">British Columbia</a></li>
				<li><a href="https://www.gov.mb.ca/">Manitoba</a></li>
				<li><a href="https://www.gnb.ca/en.html">New Brunswick</a></li>
				<li><a href="https://www.gov.nl.ca/">Newfoundland and Labrador</a></li>
				<li><a href="https://beta.novascotia.ca/">Nova Scotia</a></li>
				<li><a href="https://www.ontario.ca/page/government-ontario">Ontario</a></li>
				<li><a href="https://www.princeedwardisland.ca/en">Prince Edward Island</a></li>
				<li><a href="https://www.quebec.ca/en">Quebec</a></li>
				<li><a href="https://www.saskatchewan.ca/">Saskatchewan</a></li>
				<li><a href="https://www.gov.nt.ca/">Northwest Territories</a></li>
				<li><a href="https://www.gov.nu.ca/en">Nunavut</a></li>
				<li><a href="https://yukon.ca/en">Yukon</a></li>
			</ul>
		</details>
	</div>
</section>

<div class="container">
	<section class="gc-srvinfo">
		<h2>By theme</h2>
		<div class="wb-eqht-grd row">
			<div class="col-md-6 col-lg-4">
				<h3><a href="https://www.canada.ca/en/services/jobs.html">Jobs</a></h3>
				<p>Find a job, training, hiring programs, work permits, Social Insurance Number "(<abbr title="Social Insurance Number">SIN</abbr>)"</p>
			</div>
			<div class="col-md-6 col-lg-4">
				<h3><a href="https://www.canada.ca/en/services/immigration-citizenship.html">Immigration and Citizenship</a></h3>
				<p>Visit, work, study, immigrate, refugees, permanent residents, apply, check status</p>
			</div>
			<div class="col-md-6 col-lg-4">
				<h3><a href="https://travel.gc.ca/">Travel and tourism</a></h3>
				<p>In Canada or abroad, advice, advisories, passports, visit Canada, events, attractions</p>
			</div>
			<div class="col-md-6 col-lg-4">
				<h3><a href="https://www.canada.ca/en/services/business.html">Business and Industry</a></h3>
				<p>Starting a business, permits, copyright, business support, selling to government</p>
			</div>
			<div class="col-md-6 col-lg-4">
				<h3><a href="https://www.canada.ca/en/services/benefits.html">Benefits</a></h3>
				<p>"(<abbr title="Employment Insurance">EI</abbr>)", family and sickness leave, child benefit, pensions, housing, student aid, disabilities, after a death</p>
			</div>
			<div class="col-md-6 col-lg-4">
				<h3><a href="https://www.canada.ca/en/services/health.html">Health</a></h3>
				<p>Food, nutrition, diseases, vaccines, drugs, product safety and recalls</p>
			</div>
			<div class="col-md-6 col-lg-4">
				<h3><a href="https://www.canada.ca/en/services/taxes.html">Taxes</a></h3>
				<p>Income tax, payroll, <abbr title="Goods and Services Tax">GST</abbr>/<abbr title="Harmonized Sales Tax">HST</abbr>, contribution limits, tax credits, charities</p>
			</div>
			<div class="col-md-6 col-lg-4">
				<h3><a href="https://www.canada.ca/en/services/environment.html">Environment and natural resources</a></h3>
				<p>Weather, climate, agriculture, wildlife, pollution, conservation, fisheries</p>
			</div>
			<div class="col-md-6 col-lg-4">
				<h3><a href="https://www.canada.ca/en/services/defence.html">National security and defence</a></h3>
				<p>Military, transportation and cyber security, securing the border, counter-terrorism</p>
			</div>
			<div class="col-md-6 col-lg-4">
				<h3><a href="https://www.canada.ca/en/services/culture.html">Culture, history and sport</a></h3>
				<p>Arts, media, heritage, official languages, national identity and funding</p>
			</div>
			<div class="col-md-6 col-lg-4">
				<h3><a href="https://www.canada.ca/en/services/policing.html">Policing, justice and emergencies</a></h3>
				<p>Safety, justice system, prepare for emergencies, services for victims of crime</p>
			</div>
			<div class="col-md-6 col-lg-4">
				<h3><a href="https://www.canada.ca/en/services/transport.html">Transport and infrastructure</a></h3>
				<p>Aviation, marine, road and rail, car seat and vehicle recalls</p>
			</div>
			<div class="col-md-6 col-lg-4">
				<h3><a href="http://international.gc.ca/world-monde/index.aspx?lang=eng">Canada and the world</a></h3>
				<p>Foreign policy, trade agreements, development work, global issues</p>
			</div>
			<div class="col-md-6 col-lg-4">
				<h3><a href="https://www.canada.ca/en/services/finance.html">Money and finances</a></h3>
				<p>Personal finance, credit reports, fraud protection, paying for education, housing</p>
			</div>
			<div class="col-md-6 col-lg-4">
				<h3><a href="https://www.canada.ca/en/services/science.html">Science and innovation</a></h3>
				<p>Scientific research on health, environment and space, grants and funding</p>
			</div>
			<div class="col-md-6 col-lg-4">
				<h3><a href="https://www.canada.ca/en/services/life-events.html">Manage life events</a></h3>
				<p>Benefits and resources to help navigate life's biggest transitions</p>
			</div>
		</div>
	</section>
	<section class="gc-srvinfo">
		<h2>Focus on</h2>
		<div class="wb-eqht-grd row">
			<div class="col-md-6 col-lg-4">
				<h3><a href="https://www.canada.ca/en/services/indigenous-peoples.html">Indigenous Peoples</a></h3>
				<p>Programs and services for First Nations, Inuit and Métis</p>
			</div>
			<div class="col-md-6 col-lg-4">
				<h3><a href="https://www.canada.ca/en/services/veterans-military.html">Veterans and military</a></h3>
				<p>Services for current and former military, <abbr title="Royal Canadian Mounted Police">RCMP</abbr> and their families</p>
			</div>
			<div class="col-md-6 col-lg-4">
				<h3><a href="https://www.canada.ca/en/services/youth.html">Youth</a></h3>
				<p>Programs and services for teenagers and young adults</p>
			</div>
		</div>
	</section>
</div>
