---
{
"title": "Government of Canada services",
"language": "en",
"altLangPage": "all-services-fr.html",
"dateModified": "2024-11-21",
"layout": "no-container",
"css": ["https://use.fontawesome.com/releases/v5.8.1/css/all.css"]
}
---

<!-- This page template is limited to the "All services" page on Canada.ca. For this reason, we are using utility classes instead of embedding the styles in this template. -->

<div class="container">
	<h1 id="wb-cont">Government of Canada services</h1>
	<a href="#all-topics" class="wb-sl">Skip to Access services by topic</a>
</div>

<section class="bg-light mt-3 pb-3">
	<div class="container">
		<h2 class="h3 mb-4">Top searches</h2>
		<ul class="list-unstyled colcount-md-3 compact bold-content lst-spcd-2 fnt-hdng">
			<li><a href="https://www.canada.ca/en/services/benefits/dental/dental-care-plan.html">Canadian Dental Care Plan</a></li>
			<li><a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/canadian-passports.html">Passports</a></li>
			<li><a href="https://www.canada.ca/en/revenue-agency/services/forms-publications/forms/rc518.html">RC 518 Declaration of Tax Residence for Individuals</a></li>
			<li><a href="https://www.canada.ca/en/employment-social-development/services/sin.html">Social insurance number (SIN)</a></li>
			<li><a href="https://www.canada.ca/en/services/benefits/publicpensions.html">Public pensions (CPP, OAS, GIS)</a></li>
			<li><a href="https://www.canada.ca/en/employment-social-development/services/my-account/find-pac.html">Personal Access Code (PAC) for My Service Canada Account</a></li>
			<li><a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/visit-canada/eta.html">Electronic travel authorization (eTA)</a></li>
			<li><a href="https://www.canada.ca/en/employment-social-development/programs/ei/ei-list/ei-roe.html">Record of employment (ROE)</a></li>
			<li><a href="https://www.canada.ca/en/health-canada/services/health-cards.html">Provincial and territorial health cards</a></li>
		</ul>
	</div>
</section>

<section class="pb-3">
	<div class="container">
		<h2 class="h3 mb-4">Most requested services</h2>
		<ul class="list-unstyled colcount-md-3 compact bold-content lst-spcd-2 fnt-hdng">
			<li><a href="https://www.canada.ca/en/government/sign-in-online-account.html">Sign in to an account</a></li>
			<li><a href="https://www.canada.ca/en/government/change-address.html">Change your address</a></li>
			<li><a href="https://www.canada.ca/en/public-services-procurement/services/payments-to-from-government/direct-deposit.html">Set up or change your direct deposit</a></li>
			<li><a href="https://www.canada.ca/en/government/grants-funding.html">Find grants and funding</a></li>
			<li><a href="https://www.canada.ca/en/services/jobs/opportunities.html">Find a job</a></li>
			<li><a href="https://apps.cra-arc.gc.ca/ebci/rhpd/beta/entry">Payroll Deductions Online Calculator</a></li>
		</ul>
	</div>
</section>

<section class="bg-light pb-3">
	<div class="container">
		<h2 class="h3 mb-4">Supporting you through life's transitions</h2>
		<ul class="list-unstyled colcount-md-3 compact bold-content lst-spcd-2 fnt-hdng">
			<li><a href="https://www.canada.ca/en/services/death.html">What to do when someone dies</a></li>
			<li><a href="https://www.canada.ca/en/services/retirement.html">Learn and plan for your retirement</a></li>
		</ul>
	</div>
</section>

<div class="container">
	<h1 id="all-topics" class="mt-4">Access services by topic</h1>

	<section>
		<details class="mt-4">
			<summary>
				<h2 class="h5 fnt-nrml">Immigration and citizenship</h2>
			</summary>
			<div class="bg-info row pt-3 pb-2">
				<div class="col-md-3">
					<h3 class="mt-0"><span class="fas fa-exclamation-circle text-info mr-2" aria-hidden="true"></span>Information on</h3>
				</div>
				<div class="col-md-9">
					<ul class="colcount-md-2 compact bold-content lst-spcd fnt-hdng">
						<li><a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/refugees/afghanistan.html">Afghanistan</a></li>
						<li><a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/haiti-2024.html">Haiti<span class="label label-primary ml-2">Updated</span></a></li>
						<li><a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/iran.html">Iran</a></li>
						<li><a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/israel-west-bank-gaza-2023.html">Israel, the West Bank and the Gaza Strip</a></li>
						<li><a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/lebanon-2023.html">Lebanon</a></li>
						<li><a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/sudan2023.html">Sudan</a></li>
						<li><a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/immigrate-canada/ukraine-measures.html">Ukraine</a></li>
						<li><a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/emergencies-canada/wildfires-2024.html">Wildfires in Canada</a></li>
					</ul>
				</div>
			</div>
			<div class="bg-light row pt-3 pb-2">
				<div class="col-md-3">
					<h3 class="mt-0">Most requested</h3>
				</div>
				<div class="col-md-9">
					<ul class="colcount-md-2 compact bold-content lst-spcd fnt-hdng">
						<li><a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/application/ircc-accounts.html">Sign in to your IRCC account</a></li>
						<li><a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/application/check-status.html">How to check your application status</a></li>
						<li><a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/application/check-processing-times.html">Check application processing times</a></li>
						<li><a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/application/application-forms-guides.html">Find an application form</a></li>
						<li><a href="https://ircc.canada.ca/english/information/fees/index.asp">Pay your fees</a></li>
						<li><a href="https://ircc.canada.ca/english/visit/visas.asp">Find out if you need an eTA or a visa to visit Canada</a></li>
						<li><a href="https://ircc.canada.ca/english/helpcentre/index-featured-can.asp">Have questions? Find answers in the Help Centre</a></li>
					</ul>
				</div>
			</div>
			<div class="row pt-3 pb-2">
				<div class="col-md-3">
					<h3 class="mt-0">More topics</h3>
				</div>
				<div class="col-md-9">
					<ul class="colcount-md-2 compact bold-content lst-spcd fnt-hdng">
						<li><a href='https://www.canada.ca/en/immigration-refugees-citizenship/services/application.html'>My application</a></li>
						<li><a href='https://www.canada.ca/en/immigration-refugees-citizenship/services/visit-canada.html'>Visit</a></li>
						<li><a href='https://www.canada.ca/en/immigration-refugees-citizenship/services/immigrate-canada.html'>Immigrate</a></li>
						<li><a href='https://www.canada.ca/en/immigration-refugees-citizenship/services/work-canada.html'>Work</a></li>
						<li><a href='https://www.canada.ca/en/immigration-refugees-citizenship/services/study-canada.html'>Study</a></li>
						<li><a href='https://www.canada.ca/en/immigration-refugees-citizenship/services/canadian-citizenship.html'>Citizenship</a></li>
						<li><a href='https://www.canada.ca/en/immigration-refugees-citizenship/services/new-immigrants.html'>New immigrants</a></li>
						<li><a href='https://www.canada.ca/en/immigration-refugees-citizenship/services/canadians.html'>Canadians</a></li>
						<li><a href='https://www.canada.ca/en/immigration-refugees-citizenship/services/refugees.html'>Refugees and asylum</a></li>
						<li><a href='https://www.canada.ca/en/services/immigration-citizenship/enforcement-violations.html'>Enforcement and violations</a></li>
					</ul>
				</div>
			</div>
		</details>
	</section>

	<section>
		<details>
			<summary>
				<h2 class="h5 fnt-nrml">Taxes</h2>
			</summary>
			<div class="bg-light row pt-3 pb-2">
				<div class="col-md-3">
					<h3 class="mt-0">Most requested</h3>
				</div>
				<div class="col-md-9">
					<ul class="colcount-md-2 compact bold-content lst-spcd fnt-hdng">
						<li><a href="https://www.canada.ca/en/revenue-agency/services/e-services/digital-services-individuals/account-individuals.html">My Account</a></li>
						<li><a href="https://www.canada.ca/en/revenue-agency/services/e-services/digital-services-businesses/business-account.html">My Business Account</a></li>
						<li><a href="https://www.canada.ca/en/revenue-agency/services/e-services/represent-a-client.html">Represent a Client</a></li>
						<li><a href="https://www.canada.ca/en/revenue-agency/services/e-services/digital-services-businesses/gst-hst-netfile.html">File a return with GST/HST NETFILE</a></li>
						<li><a href="https://www.canada.ca/en/services/benefits/calendar.html">Find benefit payment dates</a></li>
						<li><a href="https://www.canada.ca/en/revenue-agency/services/forms-publications.html">Forms and publications</a></li>
						<li><a href="https://www.canada.ca/en/revenue-agency/services/payments-cra.html">Make a payment to the CRA</a></li>
					</ul>
				</div>
			</div>
			<div class="row pt-3 pb-2">
				<div class="col-md-3">
					<h3 class="mt-0">More topics</h3>
				</div>
				<div class="col-md-9">
					<ul class="colcount-md-2 compact bold-content lst-spcd fnt-hdng">
						<li><a href="https://www.canada.ca/en/services/taxes/income-tax.html">Income tax</a></li>
						<li><a href="https://www.canada.ca/en/revenue-agency/services/tax/businesses/topics/gst-hst-businesses.html">GST/HST</a></li>
						<li><a href="https://www.canada.ca/en/revenue-agency/services/tax/businesses/topics/payroll.html">Payroll</a></li>
						<li><a href="https://www.canada.ca/en/services/taxes/business-number.html">Business number</a></li>
						<li><a href="https://www.canada.ca/en/services/taxes/savings-and-pension-plans.html">Savings and pension plans</a></li>
						<li><a href="https://www.canada.ca/en/services/taxes/child-and-family-benefits.html">Tax credits and benefits for individuals</a></li>
						<li><a href="https://www.canada.ca/en/services/taxes/excise-taxes-duties-and-levies.html">Excise taxes, duties, and levies</a></li>
						<li><a href="https://www.canada.ca/en/services/taxes/charities.html">Charities and giving</a></li>
					</ul>
				</div>
			</div>
		</details>
	</section>

	<section>
		<details>
			<summary>
				<h2 class="h5 fnt-nrml">Jobs</h2>
			</summary>
			<div class="bg-light row pt-3 pb-2">
				<div class="col-md-3">
					<h3 class="mt-0">Most requested</h3>
				</div>
				<div class="col-md-9">
					<ul class="colcount-md-2 compact bold-content lst-spcd fnt-hdng">
						<li><a href="https://www.jobbank.gc.ca/home">Search jobs and apprenticeships - Job Bank </a></li>
						<li><a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/work-canada.html">Work in Canada</a></li>
						<li><a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry.html">Immigrate as a skilled worker</a></li>
						<li><a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/work-canada/hire-temporary-foreign.html">Hire a temporary foreign worker</a></li>
						<li><a href="https://www.canada.ca/en/employment-social-development/services/my-account.html">View your records of employment</a></li>
						<li><a href="https://www.canada.ca/en/employment-social-development/programs/ei/ei-list/ei-roe/access-roe.html">Submit a record of employment - employers</a></li>
						<li><a href="https://www.canada.ca/en/employment-social-development/services/sin.html">Apply for a Social Insurance Number (SIN)</a></li>
					</ul>
				</div>
			</div>
			<div class="row pt-3 pb-2">
				<div class="col-md-3">
					<h3 class="mt-0">More topics</h3>
				</div>
				<div class="col-md-9">
					<ul class="colcount-md-2 compact bold-content lst-spcd fnt-hdng">
						<li><a href="https://www.canada.ca/en/services/jobs/opportunities.html">Find a job</a></li>
						<li><a href="https://www.canada.ca/en/employment-social-development/services/funding/programs.html">Funding for jobs and training</a></li>
						<li><a href="https://www.canada.ca/en/services/jobs/training.html">Training</a></li>
						<li><a href="https://www.canada.ca/en/services/business/hire/index.html">Hiring and managing employees</a></li>
						<li><a href="https://www.canada.ca/en/services/business/start/index.html">Starting a business</a></li>
						<li><a href="https://www.canada.ca/en/services/jobs/workplace.html">Workplace standards</a></li>
						<li><a href="https://www.canada.ca/en/services/benefits/ei.html">Employment Insurance benefits and leave</a></li>
						<li><a href="https://www.canada.ca/en/services/finance/pensions.html">Pensions and retirement</a></li>
					</ul>
				</div>
			</div>
		</details>
	</section>

	<section>
		<details>
			<summary>
				<h2 class="h5 fnt-nrml">Travel and tourism</h2>
			</summary>
			<div class="bg-light row pt-3 pb-2">
				<div class="col-md-3">
					<h3 class="mt-0">Most requested</h3>
				</div>
				<div class="col-md-9">
					<ul class="colcount-md-2 compact bold-content lst-spcd fnt-hdng">
						<li><a href="https://www.canada.ca/assistance/emergency-assistance">Emergency assistance abroad</a></li>
						<li><a href="https://www.cic.gc.ca/english/visit/visas.asp">Find out if you need a visa to travel to Canada</a></li>
						<li><a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/visit-canada/eta.html">Apply for an eTA</a></li>
						<li><a href="https://www.cbsa-asfc.gc.ca/services/travel-voyage/prog/nexus/menu-eng.html">Apply for NEXUS</a></li>
						<li><a href="https://travel.gc.ca/travelling/registration">Register as a Canadian abroad</a></li>
						<li><a href="https://travel.gc.ca/travelling/documents/travel-insurance">Travel insurance</a></li>
					</ul>
				</div>
			</div>
			<div class="row pt-3 pb-2">
				<div class="col-md-3">
					<h3 class="mt-0">More topics</h3>
				</div>
				<div class="col-md-9">
					<ul class="colcount-md-2 compact bold-content lst-spcd fnt-hdng">
						<li><a href="https://travel.gc.ca/travelling/advisories">Travel advice and advisories</a></li>
						<li><a href="https://travel.gc.ca/travel-covid">COVID-19: Travel, testing and borders</a></li>
						<li><a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/visit-canada.html?outside">Visit Canada</a></li>
						<li><a href="https://travel.gc.ca/travelling">Travel outside Canada</a></li>
						<li><a href="https://travel.gc.ca/air">Air travel</a></li>
						<li><a href="https://travel.gc.ca/returning">Return to Canada</a></li>
						<li><a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/canadian-passports.html">Canadian passports and travel documents</a></li>
						<li><a href="https://travel.gc.ca/canadian-tourism">Canadian attractions, events and experiences</a></li>
						<li><a href="https://travel.gc.ca/assistance">Assistance outside Canada</a></li>
						<li><a href="https://travel.gc.ca/stay-connected">Stay connected</a></li>
					</ul>
				</div>
			</div>
		</details>
	</section>

	<section>
		<details>
			<summary>
				<h2 class="h5 fnt-nrml">Benefits</h2>
			</summary>
			<div class="bg-light row pt-3 pb-2">
				<div class="col-md-3">
					<h3 class="mt-0">Most requested</h3>
				</div>
				<div class="col-md-9">
					<ul class="colcount-md-2 compact bold-content lst-spcd fnt-hdng">
						<li><a href="https://www.canada.ca/en/services/benefits/ei/ei-regular-benefit.html">Apply for Employment Insurance</a></li>
						<li><a href="https://www.canada.ca/en/services/benefits/education/student-aid/grants-loans.html">Apply for student loans and grants</a></li>
						<li><a href="https://www.canada.ca/en/government/sign-in-online-account.html">Sign in to a Government of Canada online account</a></li>
						<li><a href="https://www.canada.ca/en/public-services-procurement/services/payments-to-from-government/direct-deposit.html">Set up or change direct deposit</a></li>
						<li><a href="https://www.canada.ca/en/services/benefits/ei/ei-internet-reporting.html">Submit your EI report</a></li>
						<li><a href="https://www.canada.ca/en/revenue-agency/services/child-family-benefits/child-family-benefits-calculator.html">Child and family benefits calculators</a></li>
					</ul>
				</div>
			</div>
			<div class="row pt-3 pb-2">
				<div class="col-md-3">
					<h3 class="mt-0">More topics</h3>
				</div>
				<div class="col-md-9">
					<ul class="colcount-md-2 compact bold-content lst-spcd fnt-hdng">
						<li><a href="https://www.canada.ca/en/services/benefits/ei.html">Employment Insurance benefits and leave</a></li>
						<li><a href="https://www.canada.ca/en/services/benefits/dental/dental-care-plan.html">Dental coverage</a></li>
						<li><a href="https://www.canada.ca/en/services/benefits/family.html">Family and caregiving benefits</a></li>
						<li><a href="https://www.canada.ca/en/services/benefits/publicpensions.html">Public pensions</a></li>
						<li><a href="https://www.canada.ca/en/employment-social-development/services/funding/programs.html">Grants and funding opportunities</a></li>
						<li><a href="https://www.canada.ca/en/services/benefits/education.html">Student aid and education planning</a></li>
						<li><a href="https://www.canada.ca/en/services/benefits/housing.html">Housing benefits</a></li>
						<li><a href="https://www.canada.ca/en/services/benefits/disability.html">Disability benefits</a></li>
						<li><a href="https://www.canada.ca/en/services/benefits/audience.html">Benefits by audience</a></li>
						<li><a href="https://www.canada.ca/en/services/benefits/calendar.html">Benefits payment dates</a></li>
						<li><a href="https://benefitsfinder.services.gc.ca/hm?GoCTemplateCulture=en-CA">Benefits finder</a></li>
						<li><a href="https://www.canada.ca/en/services/death.html">What to do when someone dies</a></li>
					</ul>
				</div>
			</div>
		</details>
	</section>

	<section>
		<details>
			<summary>
				<h2 class="h5 fnt-nrml">Environment and natural resources</h2>
			</summary>
			<div class="bg-light row pt-3 pb-2">
				<div class="col-md-3">
					<h3 class="mt-0">Most requested</h3>
				</div>
				<div class="col-md-9">
					<ul class="colcount-md-2 compact bold-content lst-spcd fnt-hdng">
						<li><a href="https://weather.gc.ca/canada_e.html">Local weather forecast</a></li>
						<li><a href="https://www.nrcan.gc.ca/energy/efficiency/transportation/20996">Fuel-efficient vehicles</a></li>
						<li><a href="https://www.nrcan.gc.ca/homes">Home energy efficiency</a></li>
						<li><a href="https://www.canada.ca/en/environment-climate-change/services/species-risk-public-registry.html">Species at risk</a></li>
						<li><a href="https://www.canada.ca/en/environment-climate-change/services/seasonal-weather-hazards.html">Prepare for severe weather</a></li>
					</ul>
				</div>
			</div>
			<div class="row pt-3 pb-2">
				<div class="col-md-3">
					<h3 class="mt-0">More topics</h3>
				</div>
				<div class="col-md-9">
					<ul class="colcount-md-2 compact bold-content lst-spcd fnt-hdng">
						<li><a href="https://www.canada.ca/en/services/environment/weather.html">Weather, climate and hazards</a></li>
						<li><a href="https://www.canada.ca/en/services/environment/energy.html">Energy</a></li>
						<li><a href="https://www.canada.ca/en/services/environment/natural-resources.html">Natural resources</a></li>
						<li><a href="https://agriculture.canada.ca/en">Agriculture</a></li>
						<li><a href="https://www.canada.ca/en/services/environment/fisheries.html">Fisheries</a></li>
						<li><a href="https://www.canada.ca/en/services/environment/wildlife-plants-species.html">Wildlife, plants and species</a></li>
						<li><a href="https://www.canada.ca/en/services/environment/pollution-waste-management.html">Pollution and waste management</a></li>
						<li><a href="https://www.canada.ca/en/services/environment/conservation.html">Environmental conservation and protection</a></li>
					</ul>
				</div>
			</div>
		</details>
	</section>

	<section>
		<details>
			<summary>
				<h2 class="h5 fnt-nrml">Business and industry</h2>
			</summary>
			<div class="bg-light row pt-3 pb-2">
				<div class="col-md-3">
					<h3 class="mt-0">Most requested</h3>
				</div>
				<div class="col-md-9">
					<ul class="colcount-md-2 compact bold-content lst-spcd fnt-hdng">
						<li><a href="https://www.ic.gc.ca/app/scr/cc/CorporationsCanada/fdrlCrpSrch.html?locale=en_CA">Find a corporation</a></li>
						<li><a href="https://www.cbsa-asfc.gc.ca/prog/manif/portal-portail-eng.html">Report your imported goods</a></li>
						<li><a href="https://ised-isde.canada.ca/cipo/trademark-search/srch?null=&lang=eng">Search for trademarks</a></li>
						<li><a href="https://www.cbsa-asfc.gc.ca/trade-commerce/tariff-tarif/2018/html/tblmod-1-eng.html">Review custom tariffs for importing goods</a></li>
						<li><a href="https://www.ic.gc.ca/opic-cipo/cpd/eng/introduction.html">Find a patent</a></li>
						<li><a href="https://www.cbsa-asfc.gc.ca/comm-eng.html">Import and export from Canada</a></li>
						<li><a href="https://ic.gc.ca/eic/site/cd-dgc.nsf/eng/h_cs03922.html">Name a business</a></li>
						<li><a href="https://www.ic.gc.ca/app/scr/cc/CorporationsCanada/hm.html?locale=en_CA">Make changes to your corporation (Online Filing Centre)</a></li>
					</ul>
				</div>
			</div>
			<div class="row pt-3 pb-2">
				<div class="col-md-3">
					<h3 class="mt-0">More topics</h3>
				</div>
				<div class="col-md-9">
					<ul class="colcount-md-2 compact bold-content lst-spcd fnt-hdng">
						<li><a href="https://www.canada.ca/en/services/business/start.html">Starting a business</a></li>
						<li><a href="https://www.canada.ca/en/services/business/grants.html">Business grants and financing</a></li>
						<li><a href="https://www.canada.ca/en/services/business/taxes.html">Business taxes</a></li>
						<li><a href="https://www.canada.ca/en/services/business/federal-corporations.html">Federal corporations</a></li>
						<li><a href="https://www.canada.ca/en/services/business/hire.html">Hiring and managing employees</a></li>
						<li><a href="https://international.canada.ca/en/services/business/trade">International trade and investment</a></li>
						<li><a href="https://www.canada.ca/en/services/business/permits.html">Permits, licences and regulations</a></li>
						<li><a href="https://www.canada.ca/en/services/business/doing-business.html">Doing business with government</a></li>
						<li><a href="https://www.canada.ca/en/services/science/innovation.html">R&D and innovation</a></li>
						<li><a href="https://www.canada.ca/en/services/business/research.html">Research and business intelligence</a></li>
						<li><a href="https://www.canada.ca/en/services/business/ip.html">Intellectual property and copyright</a></li>
						<li><a href="https://www.canada.ca/en/services/business/maintaingrowimprovebusiness.html">Maintaining your business</a></li>
						<li><a href="https://www.canada.ca/en/services/business/protecting.html">Protecting your business</a></li>
						<li><a href="https://www.canada.ca/en/services/business/bankruptcy.html">Insolvency for business</a></li>
					</ul>
				</div>
			</div>
		</details>
	</section>

	<section>
		<details>
			<summary>
				<h2 class="h5 fnt-nrml">Health</h2>
			</summary>
			<div class="bg-light row pt-3 pb-2">
				<div class="col-md-3">
					<h3 class="mt-0">Most requested</h3>
				</div>
				<div class="col-md-9">
					<ul class="colcount-md-2 compact bold-content lst-spcd fnt-hdng">
						<li><a href="https://food-guide.canada.ca/en/">Canada's food guide</a></li>
						<li><a href="http://recalls-rappels.canada.ca/en">Recalls and safety alerts</a></li>
						<li><a href="https://www.canada.ca/en/public-health/services/mental-health-services/mental-health-get-help.html">Mental health support: Get help</a></li>
						<li><a href="https://www.canada.ca/en/public-health/services/diseases/measles.html">Measles</a></li>
					</ul>
				</div>
			</div>
			<div class="row pt-3 pb-2">
				<div class="col-md-3">
					<h3 class="mt-0">More topics</h3>
				</div>
				<div class="col-md-9">
					<ul class="colcount-md-2 compact bold-content lst-spcd fnt-hdng">
						<li><a href="https://www.canada.ca/en/services/health/food-nutrition.html">Food and nutrition</a></li>
						<li><a href="https://www.canada.ca/en/public-health/services/diseases.html">Diseases and conditions</a></li>
						<li><a href="https://www.canada.ca/en/public-health/topics/immunization-vaccines.html">Vaccines and immunization</a></li>
						<li><a href="https://www.canada.ca/en/services/health/drug-health-products.html">Drug and health products</a></li>
						<li><a href="https://www.canada.ca/en/services/health/product-safety.html">Product safety</a></li>
						<li><a href="https://www.canada.ca/en/services/health/health-risks-safety.html">Health risks and safety</a></li>
						<li><a href="https://www.canada.ca/en/services/health/healthy-living.html">Healthy living</a></li>
						<li><a href="https://www.canada.ca/en/services/health/aboriginal-health.html">Indigenous health</a></li>
						<li><a href="https://www.canada.ca/en/services/health/health-system-services.html">Health system and services</a></li>
						<li><a href="https://www.canada.ca/en/services/health/science-research-data.html">Science, research and data</a></li>
					</ul>
				</div>
			</div>
		</details>
	</section>

	<section>
		<details>
			<summary>
				<h2 class="h5 fnt-nrml">Money and finances</h2>
			</summary>
			<div class="bg-light row pt-3 pb-2">
				<div class="col-md-3">
					<h3 class="mt-0">Most requested</h3>
				</div>
				<div class="col-md-9">
					<ul class="colcount-md-2 compact bold-content lst-spcd fnt-hdng">
						<li><a href="https://www.ic.gc.ca/app/scr/bsf-osb/ins/login.html?lang=eng">Find a bankruptcy or insolvency record</a></li>
						<li><a href="https://www.canada.ca/en/services/jobs/education/student-financial-aid/student-loan.html">Student loans</a></li>
						<li><a href="https://www.canada.ca/en/public-services-procurement/services/payments-to-from-government/direct-deposit.html">Set up or change direct deposit</a></li>
						<li><a href="https://www.canada.ca/en/financial-consumer-agency/services/mortgages.html">Mortgages</a></li>
						<li><a href="https://www.canada.ca/en/financial-consumer-agency/services/credit-reports-score.html">Credit report and scores</a></li>
						<li><a href="https://itools-ioutils.fcac-acfc.gc.ca/BP-PB/budget-planner">Make a budget</a></li>
						<li><a href="https://www.canada.ca/en/revenue-agency/services/tax/registered-plans-administrators/pspa/mp-rrsp-dpsp-tfsa-limits-ympe.html">Rates and contribution limits</a></li>
					</ul>
				</div>
			</div>
			<div class="row pt-3 pb-2">
				<div class="col-md-3">
					<h3 class="mt-0">More topics</h3>
				</div>
				<div class="col-md-9">
					<ul class="colcount-md-2 compact bold-content lst-spcd fnt-hdng">
						<li><a href="https://www.canada.ca/en/services/finance/manage.html">Managing your money</a></li>
						<li><a href="https://www.canada.ca/en/services/finance/debt.html">Debt and borrowing</a></li>
						<li><a href="https://www.canada.ca/en/services/finance/savings.html">Savings and investments</a></li>
						<li><a href="https://www.canada.ca/en/services/finance/educationfunding.html">Education funding</a></li>
						<li><a href="https://www.canada.ca/en/services/finance/pensions.html">Pensions and retirement</a></li>
						<li><a href="https://www.canada.ca/en/services/finance/fraud.html">Protection from frauds and scams</a></li>
						<li><a href="https://www.canada.ca/en/services/finance/tools.html">Financial tools and calculators</a></li>
						<li><a href="https://www.canada.ca/en/financial-consumer-agency/services/financial-literacy-programs.html">Financial literacy programs</a></li>
						<li><a href="https://www.canada.ca/en/services/finance/consumer-affairs.html">Consumer affairs</a></li>
						<li><a href="https://www.canada.ca/en/services/finance/bankruptcy.html">Insolvency</a></li>
						<li><a href="https://www.canada.ca/en/services/taxes.html">Taxes</a></li>
						<li><a href="https://www.canada.ca/en/government/system/finances.html">Government finances</a></li>
						<li><a href="https://www.canada.ca/en/services/business/grants.html">Business grants and financing</a></li>
					</ul>
				</div>
			</div>
		</details>
	</section>

	<section>
		<details>
			<summary>
				<h2 class="h5 fnt-nrml">Canada and the world</h2>
			</summary>
			<div class="bg-light row pt-3 pb-2">
				<div class="col-md-3">
					<h3 class="mt-0">Most requested</h3>
				</div>
				<div class="col-md-9">
					<ul class="colcount-md-2 compact bold-content lst-spcd fnt-hdng">
						<li><a href="https://www.educanada.ca/scholarships-bourses/non_can/index.aspx?lang=eng">Find a Canadian scholarship as an international student</a></li>
						<li><a href="https://www.treaty-accord.gc.ca/index.aspx?Lang=eng">International treaties signed by Canada</a></li>
						<li><a href="https://www.educanada.ca/index.aspx?lang=eng">Find international study or research opportunities in Canada</a></li>
						<li><a href="https://travel.gc.ca/assistance/embassies-consulates">Contact an embassy or consulate</a></li>
						<li><a href="https://www.international.gc.ca/protocol-protocole/reps.aspx?lang=eng">Contact a foreign representative in Canada</a></li>
						<li><a href="https://www.international.gc.ca/gac-amc/about-a_propos/services/authentication-authentification/step-etape-1.aspx?lang=eng">Authenticate a document</a></li>
					</ul>
				</div>
			</div>
			<div class="row pt-3 pb-2">
				<div class="col-md-3">
					<h3 class="mt-0">More topics</h3>
				</div>
				<div class="col-md-9">
					<ul class="colcount-md-2 compact bold-content lst-spcd fnt-hdng">
						<li><a href="https://www.international.gc.ca/world-monde/offices-bureaux/index.aspx?lang=eng">International offices and emergency contacts</a></li>
						<li><a href="https://www.international.gc.ca/world-monde/study_work_travel-etude_travail_voyage/index.aspx?lang=eng">Study, work and travel worldwide</a></li>
						<li><a href="https://www.international.gc.ca/world-monde/country-pays/index.aspx?lang=eng">Information by countries and territories</a></li>
						<li><a href="https://www.international.gc.ca/world-monde/stories-histoires/index.aspx?lang=eng">Stories</a></li>
						<li><a href="https://www.international.gc.ca/world-monde/international_relations-relations_internationales/index.aspx?lang=eng">International relations</a></li>
						<li><a href="https://www.international.gc.ca/world-monde/issues_development-enjeux_developpement/index.aspx?lang=eng">Global issues and international assistance</a></li>
						<li><a href="https://www.international.gc.ca/world-monde/funding-financement/index.aspx?lang=eng">Funding for international initiatives</a></li>
						<li><a href="https://international.canada.ca/en/services/business/trade">International trade and investment</a></li>
					</ul>
				</div>
			</div>
		</details>
	</section>

	<section>
		<details>
			<summary>
				<h2 class="h5 fnt-nrml">Youth</h2>
			</summary>
			<div class="bg-light row pt-3 pb-2">
				<div class="col-md-3">
					<h3 class="mt-0">Most requested</h3>
				</div>
				<div class="col-md-9">
					<ul class="colcount-md-2 compact bold-content lst-spcd fnt-hdng">
						<li><a href="https://www.jobbank.gc.ca/findajob">Search for a job</a></li>
						<li><a href="https://www.jobbank.gc.ca/youth">Find a summer job </a></li>
						<li><a href="https://www.canada.ca/en/services/youth/canada-service-corps.html">Volunteer or serve and build your skills</a></li>
						<li><a href="https://www.jobbank.gc.ca/trend-analysis">Explore career options based on employment trends</a></li>
						<li><a href="https://www.jobbank.gc.ca/career-planning/search-field-of-study">Explore your career options by degree or diploma</a></li>
					</ul>
				</div>
			</div>
			<div class="row pt-3 pb-2">
				<div class="col-md-3">
					<h3 class="mt-0">More topics</h3>
				</div>
				<div class="col-md-9">
					<ul class="colcount-md-2 compact bold-content lst-spcd fnt-hdng">
						<li><a href='https://www.canada.ca/en/campaign/prime-ministers-youth-council.html'>Prime Minister's Youth Council</a></li>
						<li><a href='https://www.canada.ca/en/services/jobs/opportunities/student.html'>Jobs</a></li>
						<li><a href='https://www.canada.ca/en/services/jobs/education.html'>Student aid and education planning</a></li>
						<li><a href='https://www.canada.ca/en/services/jobs/training.html'>Job training</a></li>
						<li><a href='https://www.international.gc.ca/world-monde/study_work_travel-etude_travail_voyage/index.aspx?lang=eng'>Travel the world</a></li>
						<li><a href='https://www.canada.ca/en/services/culture/cultural-youth-programs.html'>Leadership and cultural programs</a></li>
						<li><a href='https://www.canada.ca/en/services/youth/contribute.html'>Contribute to your community</a></li>
						<li><a href='https://www.canada.ca/en/services/finance/manage.html'>Managing your money</a></li>
						<li><a href='https://www.canada.ca/en/services/health/youth-health.html'>Health</a></li>
						<li><a href='https://www.canada.ca/en/services/policing/justice/youth/index.html'>Youth justice</a></li>
						<li><a href='https://www.canada.ca/en/services/youth/canada-service-corps.html'>Volunteer or serve and build your skills</a></li>
					</ul>
				</div>
			</div>
		</details>
	</section>

	<section>
		<details>
			<summary>
				<h2 class="h5 fnt-nrml">Indigenous Peoples</h2>
			</summary>
			<div class="row pt-3 pb-2">
				<div class="col-md-3">
					<h3 class="mt-0">More topics</h3>
				</div>
				<div class="col-md-9">
					<ul class="colcount-md-2 compact bold-content lst-spcd fnt-hdng">
						<li><a href='https://www.canada.ca/en/services/indigenous-peoples/benefits-and-rights-for-indigenous-peoples.html'>Benefits and rights</a></li>
						<li><a href='https://www.canada.ca/en/services/indigenous-peoples/funding-for-indigenous-peoples.html'>Funding</a></li>
						<li><a href='https://www.canada.ca/en/services/indigenous-peoples/education-training-jobs.html'>Education, training and jobs</a></li>
						<li><a href='https://www.sac-isc.gc.ca/eng/1100100032374'>Indian status</a></li>
						<li><a href='https://www.canada.ca/en/services/indigenous-peoples/about-indigenous-peoples-and-communities.html'>About Indigenous peoples and communities</a></li>
						<li><a href='https://www.canada.ca/en/services/indigenous-peoples/housing-for-indigenous-peoples.html'>Housing</a></li>
						<li><a href='https://www.canada.ca/en/services/indigenous-peoples/health-services-and-social-programs-indigenous-peoples.html'>Health services and social programs</a></li>
						<li><a href='https://www.rcaanc-cirnac.gc.ca/eng/1100100028568/1529354090684'>Treaties, claims and agreements</a></li>
						<li><a href='https://www.canada.ca/en/services/indigenous-peoples/business-and-economic-development-indigenous-peoples.html'>Business and economic development</a></li>
						<li><a href='https://www.canada.ca/en/services/indigenous-peoples/indigenous-justice-and-policing.html'>Indigenous justice and policing</a></li>
						<li><a href='https://www.rcaanc-cirnac.gc.ca/eng/1400782178444/1529183710887'>Reconciliation</a></li>
						<li><a href='https://www.canada.ca/en/services/indigenous-peoples/environment-and-natural-resources-for-indigenous-peoples.html'>Environment and natural resources</a></li>
						<li><a href='https://www.rcaanc-cirnac.gc.ca/eng/1464271923135/1558619267020'>The North</a></li>
						<li><a href='https://www.sac-isc.gc.ca/eng/1100100010567'>Infrastructure</a></li>
						<li><a href='https://www.sac-isc.gc.ca/eng/1309369889599'>Emergency management</a></li>
					</ul>
				</div>
			</div>
		</details>
	</section>

	<section>
		<details>
			<summary>
				<h2 class="h5 fnt-nrml">Culture, history and sport</h2>
			</summary>
			<div class="bg-light row pt-3 pb-2">
				<div class="col-md-3">
					<h3 class="mt-0">Most requested</h3>
				</div>
				<div class="col-md-9">
					<ul class="colcount-md-2 compact bold-content lst-spcd fnt-hdng">
						<li><a href="https://www.veterans.gc.ca/eng/remembrance/memorials/canadian-virtual-war-memorial">Visit the Canadian Virtual War Memorial</a></li>
						<li><a href="https://www.canada.ca/en/services/culture/canadian-identity-society/anthems-symbols.html">Anthems and symbols of Canada</a></li>
						<li><a href="https://crtc.gc.ca/eng/8045/d2018.htm">Find a CRTC decision</a></li>
						<li><a href="https://library-archives.canada.ca/eng/collection/research-help/genealogy-family-history/Pages/genealogy-family-history.aspx">Research your family history</a></li>
						<li><a href="https://library-archives.canada.ca/eng/collection/research-help/genealogy-family-history/censuses/Pages/censuses.aspx">Search census records</a></li>
						<li><a href="https://www.canada.ca/en/services/culture/cultural-attractions/attractions-canada-capital.html">Landmarks and attractions in Canada's capital</a></li>
					</ul>
				</div>
			</div>
			<div class="row pt-3 pb-2">
				<div class="col-md-3">
					<h3 class="mt-0">More topics</h3>
				</div>
				<div class="col-md-9">
					<ul class="colcount-md-2 compact bold-content lst-spcd fnt-hdng">
						<li><a href="https://www.canada.ca/en/services/culture.html">Culture<span class="hidden-xs hidden-sm">, history and sport</span><span class="visible-xs-inline visible-sm-inline">: home</span></a></li>
						<li><a href="https://www.canada.ca/en/canadian-heritage/services/funding.html">Funding - Culture, history and sport</a></li>
						<li><a href="https://www.canada.ca/en/services/culture/events-celebrations-commemorations.html">Events, celebrations and commemorations</a></li>
						<li><a href="https://www.canada.ca/en/services/culture/cultural-attractions.html">Cultural landmarks and attractions</a></li>
						<li><a href="https://www.canada.ca/en/services/culture/canadian-identity-society.html">Canadian identity and society</a></li>
						<li><a href="https://www.canada.ca/en/services/culture/sport.html">Sport</a></li>
						<li><a href="https://www.canada.ca/en/services/culture/history-heritage.html">History and heritage</a></li>
						<li><a href="https://www.canada.ca/en/services/culture/arts-media.html">Arts and media</a></li>
						<li><a href="https://www.canada.ca/en/services/culture/cultural-youth-programs.html">Cultural youth programs</a></li>
						<li><a href="https://www.canada.ca/en/services/culture/cultural-trade-investment.html">Cultural trade and investment</a></li>
					</ul>
				</div>
			</div>
		</details>
	</section>

	<section>
		<details>
			<summary>
				<h2 class="h5 fnt-nrml">National security and defence</h2>
			</summary>
			<div class="bg-light row pt-3 pb-2">
				<div class="col-md-3">
					<h3 class="mt-0">Most requested</h3>
				</div>
				<div class="col-md-9">
					<ul class="colcount-md-2 compact bold-content lst-spcd fnt-hdng">
						<li><a href="https://forces.ca/en/careers/">Jobs in the Canadian Armed Forces</a></li>
						<li><a href="https://www.canada.ca/en/department-national-defence/services/military-history/history-heritage/insignia-flags/ranks/rank-appointment-insignia.html">Military ranks</a></li>
						<li><a href="https://www.canada.ca/en/services/defence/caf/equipment.html">Defence equipment</a></li>
						<li><a href="https://www.publicsafety.gc.ca/cnt/ntnl-scrt/cntr-trrrsm/lstd-ntts/crrnt-lstd-ntts-en.aspx">Current list of terrorist entities</a></li>
						<li><a href="https://www.canada.ca/en/department-national-defence/services/cadets-junior-canadian-rangers/cadets/join-us.html">Join the Cadet Program</a></li>
						<li><a href="https://www.canada.ca/en/department-national-defence/corporate/reports-publications/canada-defence-policy.html">Canada's Defence policy</a></li>
					</ul>
				</div>
			</div>
			<div class="row pt-3 pb-2">
				<div class="col-md-3">
					<h3 class="mt-0">More topics</h3>
				</div>
				<div class="col-md-9">
					<ul class="colcount-md-2 compact bold-content lst-spcd fnt-hdng">
						<li><a href="https://www.canada.ca/en/services/defence/nationalsecurity.html">National security</a></li>
						<li><a href="https://www.canada.ca/en/services/defence/caf.html">Canadian Armed Forces</a></li>
						<li><a href="https://www.canada.ca/en/services/defence/defence-equipment-purchases-upgrades.html">Defence equipment purchases and upgrades</a></li>
						<li><a href="https://tc.canada.ca/en/corporate-services/transportation-security">Transportation security</a></li>
						<li><a href="https://www.canada.ca/en/services/defence/securingborder.html">Securing the border</a></li>
						<li><a href="https://www.canada.ca/en/services/defence/cybersecurity.html">Cyber security</a></li>
						<li><a href="https://www.canada.ca/en/services/defence/jobs.html">Jobs in national security and defence</a></li>
						<li><a href="https://www.canada.ca/en/government/publicservice/benefitsmilitary.html">Services and benefits for the military</a></li>
					</ul>
				</div>
			</div>
		</details>
	</section>

	<section>
		<details>
			<summary>
				<h2 class="h5 fnt-nrml">Veterans and military</h2>
			</summary>
			<div class="bg-light row pt-3 pb-2">
				<div class="col-md-3">
					<h3 class="mt-0">Most requested</h3>
				</div>
				<div class="col-md-9">
					<ul class="colcount-md-2 compact bold-content lst-spcd fnt-hdng">
						<li><a href="https://forces.ca/en/careers/">Find a job in the military</a></li>
						<li><a href="https://www.canada.ca/en/department-national-defence/services/benefits-military/transition/service-card.html">Veteran’s Service Card</a></li>
						<li><a href="https://www.veterans.gc.ca/eng/e_services?utm_source=header&amp;utm_medium=button&amp;utm_campaign=MVA">My VAC Account</a></li>
						<li><a href="https://www.canada.ca/en/department-national-defence/services/benefits-military/pay-pension-benefits/pay.html">Military pay</a></li>
						<li><a href="https://www.canada.ca/en/department-national-defence/services/benefits-military/transition.html">Military career transition</a></li>
						<li><a href="https://www.veterans.gc.ca/en/health-programs-and-services/mental-health-and-wellness">Mental health and wellness for Veterans</a></li>
					</ul>
				</div>
			</div>
			<div class="row pt-3 pb-2">
				<div class="col-md-3">
					<h3 class="mt-0">More topics</h3>
				</div>
				<div class="col-md-9">
					<ul class="colcount-md-2 compact bold-content lst-spcd fnt-hdng">
						<li><a href='https://www.veterans.gc.ca/en'>Veteran services and benefits</a></li>
						<li><a href='https://www.canada.ca/en/government/publicservice/benefitsmilitary.html'>Military services and benefits</a></li>
						<li><a href='https://www.canada.ca/en/government/publicservice/benefitsrcmp.html'>RCMP services and benefits</a></li>
						<li><a href='https://www.canada.ca/en/services/veterans-military/jobs-for-veterans-and-military-members.html'>Education and jobs for Veterans and military members</a></li>
						<li><a href='https://www.canada.ca/en/services/veterans-military/health-and-wellness-for-veterans-and-military-members.html'>Health and wellness for Veterans and military</a></li>
						<li><a href='https://www.canada.ca/en/services/defence/caf.html'>Canadian Armed Forces</a></li>
					</ul>
				</div>
			</div>
		</details>
	</section>

	<section>
		<details>
			<summary>
				<h2 class="h5 fnt-nrml">Transport and infrastructure</h2>
			</summary>
			<div class="bg-light row pt-3 pb-2">
				<div class="col-md-3">
					<h3 class="mt-0">Most requested</h3>
				</div>
				<div class="col-md-9">
					<ul class="colcount-md-2 compact bold-content lst-spcd fnt-hdng">
						<li><a href="https://www.canada.ca/en/services/transport/zero-emission-vehicles.html">Zero-emission vehicles</a></li>
						<li><a href="https://tc.canada.ca/en/aviation/drone-safety">Drone safety</a></li>
						<li><a href="https://tc.canada.ca/en/aviation/aviation-security/what-you-can-t-bring-plane">What you can't bring on an airplane</a></li>
						<li><a href="https://tc.canada.ca/en/marine-transportation/vessel-licensing-registration">Register your vessel</a></li>
						<li><a href="https://tc.canada.ca/en/road-transportation/child-car-seat-safety">Child car seat safety</a></li>
						<li><a href="https://tc.canada.ca/en/dangerous-goods/table-contents">Transporting dangerous goods - Regulations</a></li>
						<li><a href="https://tc.canada.ca/en/corporate-services/acts-regulations/list-regulations/canadian-aviation-regulations-sor-96-433">Canadian Aviation Regulations</a></li>
					</ul>
				</div>
			</div>
			<div class="row pt-3 pb-2">
				<div class="col-md-3">
					<h3 class="mt-0">More topics</h3>
				</div>
				<div class="col-md-9">
					<ul class="colcount-md-2 compact bold-content lst-spcd fnt-hdng">
						<li><a href='https://tc.canada.ca/en/aviation'>Aviation</a></li>
						<li><a href='https://tc.canada.ca/en/marine-transportation'>Marine transportation</a></li>
						<li><a href='https://tc.canada.ca/en/road-transportation'>Road transportation</a></li>
						<li><a href='https://tc.canada.ca/en/rail-transportation'>Rail transportation</a></li>
						<li><a href='https://tc.canada.ca/en/dangerous-goods'>Dangerous goods</a></li>
						<li><a href='https://tc.canada.ca/en/infrastructure'>Infrastructure</a></li>
					</ul>
				</div>
			</div>
		</details>
	</section>

	<section>
		<details>
			<summary>
				<h2 class="h5 fnt-nrml">Policing, justice and emergencies</h2>
			</summary>
			<div class="bg-light row pt-3 pb-2">
				<div class="col-md-3">
					<h3 class="mt-0">Most requested</h3>
				</div>
				<div class="col-md-9">
					<ul class="colcount-md-2 compact bold-content lst-spcd fnt-hdng">
						<li><a href="https://rcmp.ca/en/firearms">Apply/Renew a firearms licence</a></li>
						<li><a href="https://rcmp.ca/en/criminal-records/criminal-record-checks">Get a criminal records check</a></li>
						<li><a href="https://www.canada.ca/en/parole-board/services/record-suspensions/official-pbc-application-guide-and-forms.html">Apply for a criminal record suspension</a></li>
						<li><a href="https://www.getprepared.gc.ca/cnt/hzd/drng-en.aspx">What to do during an emergency</a></li>
						<li><a href="https://www.canada.ca/en/services/policing/police/community-safety-policing/impaired-driving.html">Know the law on impaired driving</a></li>
						<li><a href="https://www.canada.ca/en/services/policing/police/help-solve-crime.html">Help solve a crime</a></li>
					</ul>
				</div>
			</div>
			<div class="row pt-3 pb-2">
				<div class="col-md-3">
					<h3 class="mt-0">More topics</h3>
				</div>
				<div class="col-md-9">
					<ul class="colcount-md-2 compact bold-content lst-spcd fnt-hdng">
						<li><a href="https://www.canada.ca/en/services/policing/police/index.html">Policing</a></li>
						<li><a href="https://www.canada.ca/en/services/policing/justice.html">Justice</a></li>
						<li><a href="https://www.canada.ca/en/services/policing/emergencies.html">Emergencies</a></li>
						<li><a href="https://www.canada.ca/en/services/policing/corrections.html">Corrections</a></li>
						<li><a href="https://www.canada.ca/en/services/policing/parole.html">Parole, record suspension, expungement and clemency</a></li>
						<li><a href="https://www.canada.ca/en/services/policing/victims.html">Victims of crime</a></li>
					</ul>
				</div>
			</div>
		</details>
	</section>

	<section>
		<details>
			<summary>
				<h2 class="h5 fnt-nrml">Science and innovation</h2>
			</summary>
			<div class="bg-light row pt-3 pb-2">
				<div class="col-md-3">
					<h3 class="mt-0">Most requested</h3>
				</div>
				<div class="col-md-9">
					<ul class="colcount-md-2 compact bold-content lst-spcd fnt-hdng">
						<li><a href="https://nrc.canada.ca/en/certifications-evaluations-standards/codes-canada/codes-canada-publications">National building codes</a></li>
						<li><a href="https://nrc.canada.ca/en/web-clock/">Official times across Canada</a></li>
						<li><a href="https://nrc.canada.ca/en/research-development/products-services/software-applications/sun-calculator/">Check sunrise and sunset times</a></li>
						<li><a href="https://nrc.canada.ca/en/support-technology-innovation/financial-support-technology-innovation-through-nrc-irap">Grants for technological innovation (IRAP)</a></li>
						<li><a href="https://science-libraries.canada.ca/eng/home/">Federal Science Libraries Network</a></li>
						<li><a href="https://www.asc-csa.gc.ca/eng/astronomy/northern-lights/auroramax-observatory.asp">Live view of northern lights cam</a></li>
					</ul>
				</div>
			</div>
			<div class="row pt-3 pb-2">
				<div class="col-md-3">
					<h3 class="mt-0">More topics</h3>
				</div>
				<div class="col-md-9">
					<ul class="colcount-md-2 compact bold-content lst-spcd fnt-hdng">
						<li><a href="https://www.canada.ca/en/services/science/researchfunding.html">Research funding and awards</a></li>
						<li><a href="https://www.canada.ca/en/services/science/sciencesubjects.html">Science subjects</a></li>
						<li><a href="https://www.canada.ca/en/services/science/open-data.html">Open data, statistics and archives</a></li>
						<li><a href="https://www.canada.ca/en/services/science/institutes.html">Research institutes and facilities</a></li>
						<li><a href="https://www.canada.ca/en/services/science/innovation.html">R&D and innovation</a></li>
						<li><a href="https://www.canada.ca/en/services/business/ip.html">Intellectual property and copyright</a></li>
						<li><a href="https://www.canada.ca/en/services/science/scientistsdirectory.html">Directory of scientists and research professionals</a></li>
					</ul>
				</div>
			</div>
		</details>
	</section>
</div>
