---
{
	"title": "[Aperçu (nom de la section)]",
	"language": "fr",
	"altLangPrefix": "index",
	"breadcrumb": [
		{ "title": "Accueil", "link": "http://www.canada.ca/fr/index.html" },
		{ "title": "Nom du thème", "link": "#" },
		{ "title": "Nom du sujet", "link": "#" },
		{ "title": "Nom de service", "link": "#" }
	],
	"secondlevel": false,
	"dateModified": "2014-10-23",
	"share": "true",
	"next": [
		{ "title": "[Admissibilité]", "link": "page2-fr.html" }
	]
}
---
<div class="mrgn-tp-md mrgn-bttm-lg brdr-bttm">
	<div class="row">
		<ul class="toc lst-spcd col-md-12">
			<li class="col-md-4"><a class="list-group-item active" href="index-fr.html">1. [Aperçu]</a></li>
			<li class="col-md-4"><a class="list-group-item" href="page2-fr.html">2. [Admissibilité]</a></li>
			<li class="col-md-4"><a class="list-group-item" href="page3-fr.html">3. [Ce que vous recevrez]</a></li>
			<li class="col-md-4"><a class="list-group-item" href="page4-fr.html">4. [Documents à présenter]</a></li>
			<li class="col-md-4"><a class="list-group-item" href="page5-fr.html">5. [Présenter une demande au sujet de [nom du service]]</a></li>
			<li class="col-md-4"><a class="list-group-item" href="page6-fr.html">6. [Vous avez déjà présenté votre demande]</a></li>
		</ul>
	</div>
</div>
<div class="row">
	<div class="col-md-8">
		<p class="pagetag">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde ipsam deserunt, doloremque mollitia laudantium quas ut accusamus perspiciatis repellendus quaerat omnis corporis laborum quasi magni possimus qui necessitatibus, aperiam enim.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et a adipisci nostrum optio dolorum sint ipsa facilis nisi quisquam laboriosam.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium odio adipisci ad neque distinctio quod molestias, molestiae accusamus quo aspernatur expedita blanditiis quam! Esse cum modi atque, beatae aliquam, dolor.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem aliquid hic numquam obcaecati ea, laborum accusamus culpa atque voluptate distinctio et omnis! Alias, beatae, tenetur.</p>
		<section>
		<h2>[Sous-titre]</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti cupiditate voluptatem praesentium, facilis corporis magni esse reiciendis distinctio. Vitae totam iste porro, esse facere obcaecati? Laborum earum minus harum enim.</p>
		</section>
		<section>
		<h2>[Sous-titre]</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa hic minima magni nesciunt nam. Facilis perferendis, adipisci voluptates, enim illo perspiciatis molestias itaque iste qui distinctio asperiores quidem voluptatum sunt.</p>
		</section>
		<nav role="navigation" class="row pagntn-prv-nxt">
			<h2 class="wb-inv">Navigation dans le document</h2>
			<ul class="list-unstyled">
				{{#next}}
				<li class="col-sm-6 col-sm-push-6 text-right"><a rel="next" href="{{link}}"><span class="glyphicon glyphicon-chevron-right"></span><span class="pgntn-lbl">Suivant</span> {{title}}</a></li>
				{{/next}}
			</ul>
		</nav>
	</div>
	<div class="col-md-4">
		<section>
			<h2 class="mrgn-tp-0">[Guides et aide]</h2>
			<ul class="lst-spcd">
				<li><a href="#">Guide 1</a></li>
				<li><a href="#">Guide 2</a></li>
				<li><a href="#">Guide 3</a></li>
				<li><a href="#">Guide 4</a></li>
			</ul>
		</section>
		<section>
			<h2>[Services connexes et renseignements]</h2>
			<ul class="lst-spcd">
				<li><a href="#">Services connexes 1</a></li>
				<li><a href="#">Services connexes 2</a></li>
				<li><a href="#">Services connexes 3</a></li>
				<li><a href="#">Services connexes 4</a></li>
				<li><a href="#">Services connexes 5</a></li>
			</ul>
		</section>
	</div>
</div>