---
{
	"title": "[Eligibility]",
	"language": "en",
	"altLangPrefix": "servicecomplexe",
	"breadcrumb": [
		{ "title": "Home", "link": "http://www.canada.ca/en/index.html" },
		{ "title": "Theme name", "link": "#" },
		{ "title": "Topic name", "link": "#" },
		{ "title": "Service name", "link": "#" }
	],
	"secondlevel": false,
	"dateModified": "2014-10-23",
	"share": "true",
	"previous": [
		{ "title": "[Overview]", "link": "index-en.html" }
	],
	"next": [
		{ "title": "[What you will receive]", "link": "page3-en.html" }
	]
}
---
<div class="mrgn-tp-md mrgn-bttm-lg brdr-bttm">
	<div class="row">
		<ul class="toc lst-spcd col-md-12">
			<li class="col-md-4"><a class="list-group-item" href="index-en.html">1. [Overview]</a></li>
			<li class="col-md-4"><a class="list-group-item active" href="page2-en.html">2. [Eligibility]</a></li>
			<li class="col-md-4"><a class="list-group-item" href="page3-en.html">3. [What you will receive]</a></li>
			<li class="col-md-4"><a class="list-group-item" href="page4-en.html">4. [Documents you must provide]</a></li>
			<li class="col-md-4"><a class="list-group-item" href="page5-en.html">5. [Apply for [service name]]</a></li>
			<li class="col-md-4"><a class="list-group-item" href="page6-en.html">6. [After you've applied]</a></li>
		</ul>
	</div>
</div>
<div class="row">
	<div class="col-md-8">
		<p class="pagetag">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde ipsam deserunt, doloremque mollitia laudantium quas ut accusamus perspiciatis repellendus quaerat omnis corporis laborum quasi magni possimus qui necessitatibus, aperiam enim.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et a adipisci nostrum optio dolorum sint ipsa facilis nisi quisquam laboriosam.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium odio adipisci ad neque distinctio quod molestias, molestiae accusamus quo aspernatur expedita blanditiis quam! Esse cum modi atque, beatae aliquam, dolor.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem aliquid hic numquam obcaecati ea, laborum accusamus culpa atque voluptate distinctio et omnis! Alias, beatae, tenetur.</p>
		<section>
		<h2>[Sub heading]</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti cupiditate voluptatem praesentium, facilis corporis magni esse reiciendis distinctio. Vitae totam iste porro, esse facere obcaecati? Laborum earum minus harum enim.</p>
		</section>
		<section>
		<h2>[Sub heading]</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa hic minima magni nesciunt nam. Facilis perferendis, adipisci voluptates, enim illo perspiciatis molestias itaque iste qui distinctio asperiores quidem voluptatum sunt.</p>
		</section>
		<nav role="navigation" class="row pagntn-prv-nxt">
			<h2 class="wb-inv">Document navigation</h2>
			<ul class="list-unstyled">
				{{#previous}}
				<li class="col-sm-6"><a rel="prev" href="{{link}}"><span class="glyphicon glyphicon-chevron-left"></span><span class="pgntn-lbl">Previous </span> {{title}}</a></li>
				{{/previous}}
				{{#next}}
				<li class="col-sm-6 text-right"><a rel="next" href="{{link}}"><span class="glyphicon glyphicon-chevron-right"></span><span class="pgntn-lbl">Next</span> {{title}}</a></li>
				{{/next}}
			</ul>
		</nav>
	</div>
	<div class="col-md-4">
		<section>
			<h2 class="mrgn-tp-0">[Guides and help]</h2>
			<ul class="lst-spcd">
				<li><a href="#">Guide 1</a></li>
				<li><a href="#">Guide 2</a></li>
				<li><a href="#">Guide 3</a></li>
				<li><a href="#">Guide 4</a></li>
			</ul>
		</section>
		<section>
			<h2>[Related services and info]</h2>
			<ul class="lst-spcd">
				<li><a href="#">Related services 1</a></li>
				<li><a href="#">Related services 2</a></li>
				<li><a href="#">Related services 3</a></li>
				<li><a href="#">Related services 4</a></li>
				<li><a href="#">Related services 5</a></li>
			</ul>
		</section>
	</div>
</div>