---
{
	"title": "In-page table of contents",
	"language": "en",
	"altLangPage": "toc-fr.html",
	"dateModified": "2023-06-16"
}
---
<div class="wb-prettify all-pre"></div>

<p>Consult the guidance for the <a href="https://design.canada.ca/common-design-patterns/in-page-toc.html">in-page table of contents</a>.</p>
<nav class="gc-toc">
	<h2>On this page</h2>
	<ul>
		<li><a href="#section1">First section heading</a></li>
		<li><a href="#section2">Second section heading</a></li>
		<li><a href="#section3">Third section heading</a></li>
		<li><a href="#code">Code</a></li>
	</ul>
</nav>
<section>
	<h2 id="section1">[First section heading]</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam delectus iusto repellat assumenda nobis, modi accusamus, rerum praesentium ad dignissimos ipsam? Facilis repellat, quibusdam qui? Et dolore ipsa ut repellendus.</p>
</section>
<section>
	<h2 id="section2">[Second section heading]</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam delectus iusto repellat assumenda nobis, modi accusamus, rerum praesentium ad dignissimos ipsam? Facilis repellat, quibusdam qui? Et dolore ipsa ut repellendus.</p>
</section>
<section>
	<h2 id="section3">[Third section heading]</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam delectus iusto repellat assumenda nobis, modi accusamus, rerum praesentium ad dignissimos ipsam? Facilis repellat, quibusdam qui? Et dolore ipsa ut repellendus.</p>
</section>

<h2 id="code">Code</h2>
<pre><code>&lt;nav role="navigation" class="gc-toc"&gt;
	&lt;h3&gt;On this page&lt;/h3&gt;
	&lt;ul&gt;
		&lt;li&gt;&lt;a href="#section1"&gt;First section heading&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href="#section2"&gt;Second section heading&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href="#section3"&gt;Third section heading&lt;/a&gt;&lt;/li&gt;
	&lt;/ul&gt;
&lt;/nav&gt;
&lt;section&gt;
	&lt;h3 id="section1"&gt;[First section heading]&lt;/h3&gt;
	&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam delectus iusto repellat assumenda nobis, modi accusamus, rerum praesentium ad dignissimos ipsam? Facilis repellat, quibusdam qui? Et dolore ipsa ut repellendus.&lt;/p&gt;
&lt;/section&gt;
&lt;section&gt;
	&lt;h3 id="section2"&gt;[Second section heading]&lt;/h3&gt;
	&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam delectus iusto repellat assumenda nobis, modi accusamus, rerum praesentium ad dignissimos ipsam? Facilis repellat, quibusdam qui? Et dolore ipsa ut repellendus.&lt;/p&gt;
&lt;/section&gt;
&lt;section&gt;
	&lt;h3 id="section3"&gt;[Third section heading]&lt;/h3&gt;
	&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam delectus iusto repellat assumenda nobis, modi accusamus, rerum praesentium ad dignissimos ipsam? Facilis repellat, quibusdam qui? Et dolore ipsa ut repellendus.&lt;/p&gt;
&lt;/section&gt;</code></pre>
