---
{
	"title": "Table des matières à l'intérieur de la page",
	"language": "fr",
	"altLangPage": "toc-en.html",
	"dateModified": "2023-06-16"
}
---

<div class="wb-prettify all-pre"></div>

<p>Consultez les conseils pour la <a href="https://conception.canada.ca/configurations-conception-communes/table-matiere-interieur.html">table des matières à l’intérieur de la page</a>.</p>
<nav class="gc-toc">
	<h2>Sur cette page</h2>
	<ul>
		<li><a href="#section1">Première titre de section</a></li>
		<li><a href="#section2">Deuxième titre de section</a></li>
		<li><a href="#section3">Troisième titre de section</a></li>
		<li><a href="#code">Code</a></li>
	</ul>
</nav>
<section>
	<h2 id="section1">[Première titre de section]</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam delectus iusto repellat assumenda nobis, modi accusamus, rerum praesentium ad dignissimos ipsam? Facilis repellat, quibusdam qui? Et dolore ipsa ut repellendus.</p>
</section>
<section>
	<h2 id="section2">[Deuxième titre de section]</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam delectus iusto repellat assumenda nobis, modi accusamus, rerum praesentium ad dignissimos ipsam? Facilis repellat, quibusdam qui? Et dolore ipsa ut repellendus.</p>
</section>
<section>
	<h2 id="section3">[Troisième titre de section]</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam delectus iusto repellat assumenda nobis, modi accusamus, rerum praesentium ad dignissimos ipsam? Facilis repellat, quibusdam qui? Et dolore ipsa ut repellendus.</p>
</section>
<h2 id="code">code</h2>
<pre><code>&lt;nav role="navigation" class="gc-toc"&gt;
	&lt;h3&gt;Sur cette page&lt;/h3&gt;
	&lt;ul&gt;
		&lt;li&gt;&lt;a href="#section1"&gt;Première titre de section&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href="#section2"&gt;Deuxième titre de section&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href="#section3"&gt;Troisième titre de section&lt;/a&gt;&lt;/li&gt;
	&lt;/ul&gt;
&lt;/nav&gt;
&lt;section&gt;
	&lt;h3 id="section1"&gt;[Première titre de section]&lt;/h3&gt;
	&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam delectus iusto repellat assumenda nobis, modi accusamus, rerum praesentium ad dignissimos ipsam? Facilis repellat, quibusdam qui? Et dolore ipsa ut repellendus.&lt;/p&gt;
&lt;/section&gt;
&lt;section&gt;
	&lt;h3 id="section2"&gt;[Deuxième titre de section]&lt;/h3&gt;
	&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam delectus iusto repellat assumenda nobis, modi accusamus, rerum praesentium ad dignissimos ipsam? Facilis repellat, quibusdam qui? Et dolore ipsa ut repellendus.&lt;/p&gt;
&lt;/section&gt;
&lt;section&gt;
	&lt;h3 id="section3"&gt;[Troisième titre de section]&lt;/h3&gt;
	&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam delectus iusto repellat assumenda nobis, modi accusamus, rerum praesentium ad dignissimos ipsam? Facilis repellat, quibusdam qui? Et dolore ipsa ut repellendus.&lt;/p&gt;
&lt;/section&gt;</code></pre>
