//
// Search template
//
.page-type-search {
	.alert {
		margin-top: 30px;
	}

	.current {
		font-weight: 700;
	}

	#wb-land {
		h2 {
			font-size: 1.5rem;
		}

		h3 {
			font-size: 1.375rem;
		}

		.location, p {
			font-size: 1.125rem;
		}

		.location {
			color: #1b6c1c;
			padding-left: 0;

			li {
				display: inline-block;
				word-break: break-word;

				+ li:before {
					content: "> ";
				}
			}

			cite {
				font-style: normal;
				word-break: break-word;

				a {
					color: #1b6c1c;
				}
			}
		}
	}

	.results > section {
		border-bottom: solid 1px #000;
		margin-bottom: 1.5em;
		padding-bottom: 1.5em;

		.context-labels {
			font-size: 1rem;
			list-style: none;
			padding-left: 0;

			li {
				background-color: #5e738b;
				color:#fff;
				display: inline-block;
				font-weight: $bold-weight;
				margin-bottom: 1px;
				padding: 0 5px;
			}
		}
	}
}
