//
// Search template
//
.page-type-search {
	.alert {
		margin-top: 30px;
	}

	.current {
		font-weight: 700;
	}

	.results > section {
		border-bottom: solid 1px #000;
		margin-bottom: 1.5em;
		padding-bottom: 1.5em;

		cite a {
			color: #1b6c1c;
			display: inline-block;
			font-size: 1em; // 20px
			margin-top: 10px;
		}

		.context-labels {
			font-size: .8em;
			list-style: none;
			padding-left: 0;

			li {
				background-color: #5e738b;
				color:#fff;
				display: inline-block;
				font-weight: $bold-weight;
				margin-bottom: 1px;
				padding: 0 5px;
			}
		}

		h2 {
			font-size: 1.1em;
		}

		h3 {
			font-size: 1.375rem;
		}

		.location {
			color: #1b6c1c;
			padding-left: 0;

			li {
				display: inline-block;

				+ li:before {
					content: "> ";
				}
			}

			cite {
				font-style: normal;
			}
		}

		.location li, cite a {
			word-break: break-word;
		}

		p {
			font-size: 1em;
		}
	}
}
