/* AI answers components styles */
.aia-banner {
	background: #1a2838;
	bottom: 0;
	color: #fff;
	left: 0;
	position: fixed;
	right: 0;
	z-index: 400;
}

.aia-banner p {
	font-size: 1.125rem;
	margin: 0;
	padding: .875rem 2rem .875rem .75rem;
}

.aia-banner p a {
	color: #fff;
}

.aia-banner p a:hover, .aia-banner p a:focus {
	color: #b3ffff;
}

.aia-banner .aia-close {
    background: none;
    border: none;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 2rem;
    font-weight: normal;
    height: 45px;
    line-height: 1;
    padding: 0;
	position: absolute;
    right: 2px;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color 0.2s ease;
    width: 45px;
}

.aia-banner .aia-close:hover {
	background-color: rgb(255, 255, 255, 0.1);
}

.aia-banner .aia-close:focus {
	background-color: rgb(255, 255, 255, 0.1);
    box-shadow: 0 0 0 2px white;
	outline: none;
}

/* Rescue link */
.aia-rescue {
	margin: 1rem 0;
}

.aia-rescue p {
    margin: 0;
	padding: .5rem 0 .5rem .75rem;
}

/* Footer adjustment when banner is visible */
body.aia-banner-visible #wb-info {
	margin-bottom: 3.375rem;
}

@media screen and (max-width: 767px) {
	.aia-banner p {
		font-size: 1rem;
		padding-left: .5rem;
	}

	.aia-banner p a {
		display: block;
	}

	/* Footer adjustment when banner is visible */
	body.aia-banner-visible #wb-info {
		margin-bottom: 5rem;
	}
}
