---
dateModified: "2025-07-04"
description: "Pilote de co-existance de la carte GCDS dans GCWeb."
language: "fr"
altLangPage: "card-en.html"
title: "Carte GCDS"
loadGCDS: true
---

<gcds-grid columns="1fr" columns-tablet="1fr 1fr" columns-desktop="1fr 1fr 1fr">

	<gcds-card card-title="Lorem ipsum" href="#">
		<gcds-text>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</gcds-text>
	</gcds-card>

	<gcds-card card-title="Aenean id" href="#">
		<gcds-text>Aenean id sem tellus. Sed sodales mauris non sagittis auctor. Etiam tempus a metus in porta.</gcds-text>
	</gcds-card>

	<gcds-card card-title="Pellentesque dapibus" href="#" badge="badge">
		<gcds-text>Pellentesque dapibus erat sit amet lectus scelerisque, sed gravida metus pellentesque.</gcds-text>
	</gcds-card>

	<gcds-card card-title="Proin at ligula" href="#">
		<gcds-text>Proin at ligula tincidunt neque convallis varius.</gcds-text>
	</gcds-card>

</gcds-grid>

<h2>Exemple pratique additionel</h2>

<p>Les exemples suivant sont à des fins comparatives d’implémentation et de suivi des changements de coexistence à travers les versions.</p>

<ul>
	<li><a href="withimg-fr.html">Carte GCDS avec images</a></li>
	<li><a href="mws-fr.html">Carte GCDS tel que l'implémentation dans le système web géré</a></li>
	<li><a href="mws-no-workaround-fr.html">Carte GCDS similaire à l'implémentation dans le système web géré (sans contournement)</a></li>
</ul>
