---
dateModified: "2025-07-04"
description: "Co-existence pilot of the GCDS card in GCWeb."
language: "en"
altLangPage: "card-fr.html"
title: "GCDS Card"
loadGCDS: true
---

<gcds-grid columns="1fr" columns-tablet="1fr 1fr" columns-desktop="1fr 1fr 1fr">

	<gcds-card card-title="Lorem ipsum" href="#">
		<gcds-text>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</gcds-text>
	</gcds-card>

	<gcds-card card-title="Aenean id" href="#">
		<gcds-text>Aenean id sem tellus. Sed sodales mauris non sagittis auctor. Etiam tempus a metus in porta.</gcds-text>
	</gcds-card>

	<gcds-card card-title="Pellentesque dapibus" href="#" badge="badge">
		<gcds-text>Pellentesque dapibus erat sit amet lectus scelerisque, sed gravida metus pellentesque.</gcds-text>
	</gcds-card>

	<gcds-card card-title="Proin at ligula" href="#">
		<gcds-text>Proin at ligula tincidunt neque convallis varius.</gcds-text>
	</gcds-card>

</gcds-grid>

<h2>Additional working example</h2>

<p>The following examples are for comparative implementation purposes and for tracking coexistence changes across versions.</p>

<ul>
	<li><a href="withimg-en.html">GCDS Card with images</a></li>
	<li><a href="mws-en.html">GCDS Card as implemented in MWS</a></li>
	<li><a href="mws-no-workaround-en.html">GCDS Card like as implemented in MWS (without workaround)</a></li>
</ul>
