---
dateModified: "2025-07-04"
description: "Pilote de co-existance de la carte GCDS dans GCWeb tel qu'implémentation dans le système web géré."
language: "fr"
altLangPage: "mws-en.html"
title: "Carte GCDS tel que l'implémentation dans le système web géré"
loadGCDS: true
---

<p>Ceci est un exemple d’essai à des fins comparatives d’implémentation et de suivi des changements de coexistence à travers les versions.</p>

<div class="gcdscardcontainer section">
	<gcds-grid columns-tablet="1fr 1fr" columns-desktop="1fr 1fr 1fr" columns="1fr">

		<div class="gcdscard section">
			<gcds-card card-title="Lorem ipsum" href="#">
				<gcds-text>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</gcds-text>
			</gcds-card>
		</div>

		<div class="gcdscard section">
			<gcds-card card-title="Aenean id" href="#">
				<gcds-text>Aenean id sem tellus. Sed sodales mauris non sagittis auctor. Etiam tempus a metus in porta.</gcds-text>
			</gcds-card>
		</div>

		<div class="gcdscard section">
			<gcds-card card-title="Pellentesque dapibus" href="#" badge="badge">
				<gcds-text>Pellentesque dapibus erat sit amet lectus scelerisque, sed gravida metus pellentesque.</gcds-text>
			</gcds-card>
		</div>

		<div class="gcdscard section">
			<gcds-card card-title="Proin at ligula" href="#">
				<gcds-text>Proin at ligula tincidunt neque convallis varius.</gcds-text>
			</gcds-card>
		</div>

	</gcds-grid>
</div>

<h2>Avec l'égalisateur de hauteur de ligne</h2>
<div class="gcdscardcontainer section">
	<gcds-grid columns-tablet="1fr 1fr" columns-desktop="1fr 1fr 1fr" columns="1fr" equal-row-height>

		<div class="gcdscard section">
			<gcds-card card-title="Lorem ipsum" href="#">
				<gcds-text>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</gcds-text>
			</gcds-card>
		</div>

		<div class="gcdscard section">
			<gcds-card card-title="Aenean id" href="#">
				<gcds-text>Aenean id sem tellus. Sed sodales mauris non sagittis auctor. Etiam tempus a metus in porta.</gcds-text>
			</gcds-card>
		</div>

		<div class="gcdscard section">
			<gcds-card card-title="Pellentesque dapibus" href="#" badge="badge">
				<gcds-text>Pellentesque dapibus erat sit amet lectus scelerisque, sed gravida metus pellentesque.</gcds-text>
			</gcds-card>
		</div>

		<div class="gcdscard section">
			<gcds-card card-title="Proin at ligula" href="#">
				<gcds-text>Proin at ligula tincidunt neque convallis varius.</gcds-text>
			</gcds-card>
		</div>

	</gcds-grid>
</div>
