---
dateModified: "2025-07-04"
description: "Co-existence pilot of the GCDS card in GCWeb like how it's implemented in the managed web service."
language: "en"
altLangPage: "mws-no-workaround-fr.html"
title: "GCDS Card like as implemented in MWS (without workaround)"
loadGCDS: true
---

<p>This is an example test for comparative implementation purposes and for tracking coexistence changes across versions.</p>

<div>
	<gcds-grid columns-tablet="1fr 1fr" columns-desktop="1fr 1fr 1fr" columns="1fr">

		<div>
			<gcds-card card-title="Lorem ipsum" href="#">
				<gcds-text>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</gcds-text>
			</gcds-card>
		</div>

		<div>
			<gcds-card card-title="Aenean id" href="#">
				<gcds-text>Aenean id sem tellus. Sed sodales mauris non sagittis auctor. Etiam tempus a metus in porta.</gcds-text>
			</gcds-card>
		</div>

		<div>
			<gcds-card card-title="Pellentesque dapibus" href="#" badge="badge">
				<gcds-text>Pellentesque dapibus erat sit amet lectus scelerisque, sed gravida metus pellentesque.</gcds-text>
			</gcds-card>
		</div>

		<div>
			<gcds-card card-title="Proin at ligula" href="#">
				<gcds-text>Proin at ligula tincidunt neque convallis varius.</gcds-text>
			</gcds-card>
		</div>

	</gcds-grid>
</div>

<h2>With equal row height</h2>
<div>
	<gcds-grid columns-tablet="1fr 1fr" columns-desktop="1fr 1fr 1fr" columns="1fr" equal-row-height>

		<div>
			<gcds-card card-title="Lorem ipsum" href="#">
				<gcds-text>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</gcds-text>
			</gcds-card>
		</div>

		<div>
			<gcds-card card-title="Aenean id" href="#">
				<gcds-text>Aenean id sem tellus. Sed sodales mauris non sagittis auctor. Etiam tempus a metus in porta.</gcds-text>
			</gcds-card>
		</div>

		<div>
			<gcds-card card-title="Pellentesque dapibus" href="#" badge="badge">
				<gcds-text>Pellentesque dapibus erat sit amet lectus scelerisque, sed gravida metus pellentesque.</gcds-text>
			</gcds-card>
		</div>

		<div>
			<gcds-card card-title="Proin at ligula" href="#">
				<gcds-text>Proin at ligula tincidunt neque convallis varius.</gcds-text>
			</gcds-card>
		</div>

	</gcds-grid>
</div>
