/*
  WET-BOEW
  @title: Medium view and over (screen only)
  @desc:  Variable $screen-md-min >= 992px
*/

.gc-contributors {
	h2, ul {
		display: inline;
	}

	ul {
		padding-inline-start: 0;

		li {
			display: inline-block;
			margin-right: .5em;

			&::before {
				content: "\2022";
				margin-right: .7em;
			}

			&:first-child::before {
				content: none;
			}
		}
	}
}
