---
{
	"title": Collaborateurs,
	"description": Exemple pratique de la composante Collaborateurs,
	"language": fr,
	"altLangPage": gc-contributors-en.html,
	"dateModified": 2024-05-28,
	"breadcrumbs": [
		{ "title": "Collaborateurs - Documentation", "link": "components/gc-contributors/gc-contributors-doc-fr.html" }
	]
}
---
<span class="wb-prettify all-pre hide"></span>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum incidunt recusandae quae omnis laudantium mollitia minima! Vel laudantium quae dolorem et error, quas exercitationem ut. Facilis dolores nemo ullam sequi quod ea praesentium rem, consequuntur qui, sed reiciendis commodi excepturi aperiam obcaecati odit minima maiores? Nostrum illo adipisci iste consectetur.</p>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio tenetur, atque odit, recusandae iure illo deleniti culpa, pariatur iste suscipit doloremque quisquam reprehenderit sequi iusto! Molestiae itaque ipsa aliquid rerum atque, consequuntur vel nihil optio cumque in dolorem. Sint voluptates ipsa dicta sequi reiciendis corporis eaque ipsam omnis, quasi quo velit illo unde perspiciatis! Eaque minima, facilis corporis aperiam ea aut suscipit nulla, magni dolorem distinctio aspernatur in cupiditate? Rem nihil dolores rerum, sequi, veritatis, nobis minima adipisci qui veniam vel repudiandae. Et consectetur hic veritatis, tenetur officia architecto quos quas magnam tempora voluptatum quaerat doloremque ipsa porro harum suscipit.</p>

{% highlight html %}{%- include_relative samples/gc-contributors.html -%}{% endhighlight %}

{%- include_relative samples/gc-contributors.html -%}
