---
{
	"title": "GC menu par carte de métro (provisoire)",
	"language": "fr",
	"altLangPrefix": "gc-subway",
	"pageclass": "page-type-nav",
	"breadcrumb": [
		{ "title": "Canada.ca", "link": "https://www.canada.ca/fr.html" }
	],
	"secondlevel": false,
	"dateModified": "2020-07-28",
	"share": "true"
}
---
{{>alert-provisional-demos}}

<div lang="en">
	<nav class="provisional gc-subway">
		<h1>Service initiation template</h1>
		<ul class="gc-subway-steps">
			<li class="active"><a aria-current="page">Who can apply<span class="wb-inv">: Service initiation template</span></a></li>
			<li><a href="#">How much you can get<span class="wb-inv">: Service initiation template</span></a></li>
			<li><a href="#">Which periods you can apply for<span class="wb-inv">: Service initiation template</span></a></li>
			<li><a href="#">How to apply<span class="wb-inv">: Service initiation template</span></a></li>
			<li><a href="#">Keep getting your payments<span class="wb-inv">: Service initiation template</span></a></li>
			<li><a href="#">Return or repay a payment<span class="wb-inv">: Service initiation template</span></a></li>
		</ul>
	</nav>
	<h1 property="name" id="wb-cont" class="provisional gc-thickline">Who can apply</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam commodo elementum est, ac ultrices urna convallis vitae. Nulla nec convallis felis. Ut pretium nisl nisi. Nam gravida gravida aliquet. Morbi tincidunt lorem in purus imperdiet, id rutrum mauris sodales. Vivamus nec mattis tellus. Nunc turpis dolor, malesuada non magna nec, scelerisque tristique velit.</p>
	<p>Sed consectetur eu ligula a molestie. Vivamus convallis libero malesuada pharetra suscipit. In a pulvinar mi, quis aliquet mauris. Duis convallis nunc nunc, in euismod nisi volutpat sit amet. Integer convallis lacus non orci imperdiet, ac convallis massa mollis. Aliquam erat volutpat. Ut maximus euismod auctor. Ut ac gravida nunc. Nam non efficitur neque. Pellentesque tincidunt, libero luctus condimentum laoreet, turpis magna maximus nibh, at cursus lectus tellus in augue. Aenean scelerisque eros dui, at tincidunt eros tristique nec.</p>
	<p>Duis vel lacus elit. Mauris rhoncus urna at enim fermentum, eget fermentum est ornare. Pellentesque porttitor bibendum venenatis. Nam tempor vel felis a fringilla. Integer dui nisl, sagittis nec risus a, fermentum euismod purus. Vivamus dictum, elit quis varius eleifend, purus leo scelerisque metus, id fermentum nulla neque eget elit. Etiam vel vestibulum justo, a scelerisque eros.</p>
	<p>Nam elementum sit amet sem id finibus. Vivamus et sagittis dolor. Curabitur semper libero ac maximus viverra. Sed sed mollis nulla. Quisque ornare sapien dictum elit fermentum, ut efficitur sem placerat. Praesent nulla enim, venenatis at finibus quis, semper eu nisl. Nam finibus ante vel lacus accumsan, vitae tincidunt massa porta. Donec ullamcorper pharetra ex et dapibus. Pellentesque et viverra nibh. Pellentesque non ante sodales, interdum sapien vitae, gravida risus.</p>
	<p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nunc aliquam felis massa, ut congue enim faucibus in. Vivamus rhoncus elit in pharetra bibendum. In fringilla justo non consectetur feugiat. Ut bibendum nisi lacus, eu dapibus massa semper sit amet. Fusce condimentum pretium libero eget fermentum. Duis feugiat velit at commodo accumsan. Nunc in felis leo.</p>
	<nav class="mrgn-bttm-lg mrgn-tp-lg">
		<h3 class="wb-inv">Document navigation</h3>
		<ul class="pager">
			<li class="next"><a href="#" rel="next"><span class="wb-inv">Next: </span>How much you can get</a></li>
		</ul>
	</nav>
</div>
