---
{
	"title": "Task 2",
	"secondarymenu": [
		{ "title": "[Task 1]", "link": "../task1/index-en.html", },
		{ "title": "[Task 2]", "link": "./index-en.html" },
		{ "title": "[Task 3]", "link": "../task3/index-en.html" },
		{ "title": "[Task 4]", "link": "../task4/index-en.html" }
	],
	"parentPage": {
		"title":"[Topic - Local navigation]",
		"link":"../index-en.html"
	},
	"language": "en",
	"altLangPage": "index-fr.html",
	"overwriteBreadcrumbs": true,
	"breadcrumbs": [
		{ "title": "[Institution name]", "link": "templates/institutional/institution-en.html" },
		{ "title": "[Topic - Local navigation]", "link": "templates/lowest-topic/index-en.html" }
	],
	"tag": "GCWeb",
	"dateModified": "2015-01-11",
	"share": "true"
}
---
{% include byline/byline.html %}
{% include web-contents/placeholdercontent-fr.html %}
