/* Provisional most requested component */

.provisional.gc-most-requested {
	border: none;

	h2 {
		font-size: $font-size-h4;
		margin-top: $space-md;
	}
	ul {
		margin-bottom: $space-md;
		margin-top: $space-md;

		li {
			font-family: "Lato", sans-serif;
			font-size: $small-size;
			font-weight: $bold-weight;
			line-height: 1.5em;
		}
	}
}
