/*
	Most requested component
*/

// Make sure the component is not inside a container
main:not(.container) .gc-most-requested,
div:not(.container) .gc-most-requested {
	h2 {
		float: left;
		width: 16.666667%;
	}

	ul {
		display: flex;
		flex-wrap: wrap;
		padding-left: 2.5em;

		li {
			flex-basis: 50%;
			font-size: $small-size;
			padding-right: 1.3em;
		}
	}
}
