/*
	Most requested component
*/

// Make sure the component is not inside a container
main:not(.container) .gc-most-requested,
div:not(.container) .gc-most-requested {
	h2 {
		float: left;
		width: 16.666667%;
	}

	ul {
		column-count: 2;
		column-gap: 0;
		margin-bottom: 0;
		padding-left: 1.55em;

		li {
			display: inline-block;
			font-size: $small-size;
			line-height: 1.25em;
			margin-bottom: 10px;
			padding-left: 1.15em;
			padding-right: 1em;
			position: relative;

			&::before {
				content: "\2022";
				font-size: .8em;
				left: 0;
				position: absolute;
				top: 0;
			}

			&::after {
				content: "";
				display: block;
				width: 335px;
			}
		}
	}
}
