---
{
	"altLangPage": "gc-most-requested-fr.html",
	"dateModified": "2024-02-14",
	"description": "Working examples for the Most requested component.",
	"language": "en",
	"title": "Most requested",
	"breadcrumbs": [
		{ "title": "Most requested - Documentation", "link": "components/gc-most-requested/gc-most-requested-doc-en.html" }
	],
	"layout": "no-container",
	"pageclass": "wb-prettify all-pre"
}
---

<div class="container">
	<h1 id="wb-cont">Most requested</h1>
	<p class="mrgn-bttm-lg">Below is a working example for the Most requested component.</p>
</div>

{% include_relative samples/gc-most-requested.html %}

<div class="container">
	<details>
		<summary>Code sample</summary>
		{% highlight html %}{% include_relative samples/gc-most-requested.html %}{% endhighlight %}
	</details>
</div>
