---
{
	"altLangPage": "gc-most-requested-en.html",
	"dateModified": "2024-07-11",
	"description": "Exemples pratiques pour la composante En demande",
	"language": "fr",
	"title": "En demande",
	"breadcrumbs": [
		{ "title": "En demande - Documentation", "link": "components/gc-most-requested/gc-most-requested-doc-fr.html" }
	],
	"layout": "no-container",
	"pageclass": "wb-prettify all-pre"
}
---

<div class="container">
	<h1 id="wb-cont">En demande</h1>
	<p class="mrgn-bttm-lg">Vous trouverez ci-dessous un exemple pratique pour le composant En demande.</p>
</div>

{% include_relative samples/gc-most-requested.html %}

<div class="container">
	<details>
		<summary>Exemple de code</summary>
		{% highlight html %}{% include_relative samples/gc-most-requested.html %}{% endhighlight %}
	</details>
</div>
