---
{
	"altLangPage": "gc-most-requested-en.html",
	"dateModified": "2024-02-14",
	"description": "Exemples pratiques pour la composante En demande",
	"language": "fr",
	"title": "En demande",
	"breadcrumbs": [
		{ "title": "En demande - Documentation", "link": "components/gc-most-requested/gc-most-requested-doc-fr.html" }
	],
	"layout": "no-container",
	"pageclass": "wb-prettify all-pre"
}
---

<div class="container">
	<h1 id="wb-cont">En demande</h1>
	<p class="mrgn-bttm-lg">Vous trouverez ci-dessous un exemple pratique pour le composant En demande.</p>
</div>

<section class="gc-most-requested">
	<div class="container">
		<div class="row">
			<div class="col-md-2">
				<h2>En demande</h2>
			</div>
			<div class="col-md-10">
				<ul class="colcount-md-2">
					<li><a href="#">[Tâche principale]</a></li>
					<li><a href="#">[Tâche principale]</a></li>
					<li><a href="#">[Tâche principale]</a></li>
					<li><a href="#">[Tâche principale]</a></li>
					<li><a href="#">[Tâche principale]</a></li>
					<li><a href="#">[Tâche principale]</a></li>
					<li><a href="#">[Tâche principale]</a></li>
				</ul>
			</div>
		</div>
	</div>
</section>

<div class="container">
	<details>
		<summary>Code</summary>
		<pre><code>&lt;section class="gc-most-requested">
	&lt;div class="container">
		&lt;div class="row">
			&lt;div class="col-md-2">
				&lt;h2>En demande&lt;/h2>
			&lt;/div>
			&lt;div class="col-md-10">
				&lt;ul class="colcount-md-2">
					&lt;li>&lt;a href="#">[Tâche principale]&lt;/a>&lt;/li>
					&lt;li>&lt;a href="#">[Tâche principale]&lt;/a>&lt;/li>
					&lt;li>&lt;a href="#">[Tâche principale]&lt;/a>&lt;/li>
					&lt;li>&lt;a href="#">[Tâche principale]&lt;/a>&lt;/li>
					&lt;li>&lt;a href="#">[Tâche principale]&lt;/a>&lt;/li>
					&lt;li>&lt;a href="#">[Tâche principale]&lt;/a>&lt;/li>
					&lt;li>&lt;a href="#">[Tâche principale]&lt;/a>&lt;/li>
				&lt;/ul>
			&lt;/div>
		&lt;/div>
	&lt;/div>
&lt;/section></code></pre>
	</details>
</div>
