---
{
	"altLangPage": "gc-most-requested-two-items-fr.html",
	"dateModified": "2025-09-29",
	"description": "Working examples for the Most requested component with only two items.",
	"language": "en",
	"title": "Most requested - Two items",
	"breadcrumbs": [
		{ "title": "Most requested - Documentation", "link": "components/gc-most-requested/gc-most-requested-doc-en.html" }
	],
	"layout": "no-container",
	"pageclass": "wb-prettify all-pre"
}
---

<div class="container">
	<h1 id="wb-cont">Most requested - Two items</h1>
	<p class="mrgn-bttm-lg">Below is a working example for the Most requested component with only two items.</p>
</div>

<section class="gc-most-requested">
	<div class="container">
		<h2>Most requested</h2>
		<ul>
			<li><a href="#">[Top task hyperlink 1]</a></li>
			<li><a href="#">[Top task hyperlink 2]</a></li>
		</ul>
	</div>
</section>

<div class="container">
	<details>
		<summary>Code</summary>
		<pre><code>
		...
		&lt;section class="gc-most-requested">
			&lt;div class="container">
				&lt;h2>Most requested&lt;/h2>
				&lt;ul>
					&lt;li>&lt;a href="#">[Top task hyperlink 1]&lt;/a>&lt;/li>
					&lt;li>&lt;a href="#">[Top task hyperlink 2]&lt;/a>&lt;/li>
				&lt;/ul>
			&lt;/div>
		&lt;/section>
		...
		</code></pre>
	</details>
</div>
