---
{
	"dateModified": "2024-04-17",
	"description": "Working examples for the Most requested component provisional.",
	"language": "en",
	"title": "Most requested (provisional)",
	"breadcrumbs": [
		{ "title": "Most requested - Documentation", "link": "components/gc-most-requested/gc-most-requested-doc-en.html" }
	],
	"layout": "no-container",
	"pageclass": "wb-prettify all-pre"
}
---

<div class="container">
	<h1 id="wb-cont">Most requested (provisional)</h1>
	<p class="mrgn-bttm-lg">Below is a working example for the Most requested component in its provisional state prior to v14.8.</p>
</div>

<section class="well well-sm provisional gc-most-requested">
	<div class="container">
		<div class="row">
			<div class="col-md-2">
				<h2>Most requested</h2>
			</div>
			<div class="col-md-10">
				<ul class="colcount-md-2">
					<li><a href="#">[Top task hyperlink]</a></li>
					<li><a href="#">[Top task hyperlink]</a></li>
					<li><a href="#">[Top task hyperlink]</a></li>
					<li><a href="#">[Top task hyperlink]</a></li>
					<li><a href="#">[Top task hyperlink]</a></li>
					<li><a href="#">[Top task hyperlink]</a></li>
					<li><a href="#">[Top task hyperlink]</a></li>
				</ul>
			</div>
		</div>
	</div>
</section>

<div class="container">
	<details>
		<summary>Code sample</summary>
		<pre><code>&lt;section class="well well-sm provisional gc-most-requested">
	&lt;div class="container">
		&lt;div class="row">
			&lt;div class="col-md-2">
				&lt;h2>Most requested&lt;/h2>
			&lt;/div>
			&lt;div class="col-md-10">
				&lt;ul class="colcount-md-2">
					&lt;li>&lt;a href="#">[Top task hyperlink]&lt;/a>&lt;/li>
					&lt;li>&lt;a href="#">[Top task hyperlink]&lt;/a>&lt;/li>
					&lt;li>&lt;a href="#">[Top task hyperlink]&lt;/a>&lt;/li>
					&lt;li>&lt;a href="#">[Top task hyperlink]&lt;/a>&lt;/li>
					&lt;li>&lt;a href="#">[Top task hyperlink]&lt;/a>&lt;/li>
					&lt;li>&lt;a href="#">[Top task hyperlink]&lt;/a>&lt;/li>
					&lt;li>&lt;a href="#">[Top task hyperlink]&lt;/a>&lt;/li>
				&lt;/ul>
			&lt;/div>
		&lt;/div>
	&lt;/div>
&lt;/section></code></pre>
	</details>
</div>
