---
dateModified: "2021-05-21"
description: "Documentation et exemple pratique de en demande- fonctionnalité provisoire"
language: "fr"
altLangPage: "gc-most-requested-en.html"
title: "En demande - fonctionnalité provisoire"
---
{% include alert-provisional.html %}

<span class="wb-prettify all-pre hide"></span>

<dl class="horizontal">
	<dt>Statut</dt>
	<dd>Provisiore</dd>
	<dt>Type</dt>
	<dd>Conception de Canada.ca</dd>
	<dt>Dernière revue</dt>
	<dd>2021-05-21</dd>
	<dt>Est conforme à</dt>
	<dd>n/a</dd>
	<dt>Directives</dt>
	<dd><a href="https://conception.canada.ca/configurations-conception-communes/en-demande.html">En demande -  Système de conception de Canada.ca</a> (à mettre à jour)</dd>
	<dt>Nom technique</dt>
	<dd><code>gc-most-requested</code></dd>
</dl>

<h2>Objectif</h2>
<p>Ceci ajoute une section en vedette qui comprend des tâches principales liées à la page sur laquelle elles se trouvent.</p>

<h2>Exemple pratique</h2>

<h3>En demande (provisoire v1.0)</h3>
<section class="well well-sm provisional gc-most-requested">
	<div class="container">
		<div class="row">
			<div class="col-md-2">
				<h2>En demande</h2>
			</div>
			<div class="col-md-10">
				<ul class="colcount-md-2">
					<li><a href="#">[Tâches principale]</a></li>
					<li><a href="#">[Tâches principale]</a></li>
					<li><a href="#">[Tâches principale]</a></li>
					<li><a href="#">[Tâches principale]</a></li>
					<li><a href="#">[Tâches principale]</a></li>
					<li><a href="#">[Tâches principale]</a></li>
					<li><a href="#">[Tâches principale]</a></li>
				</ul>
			</div>
		</div>
	</div>
</section>

<h3>Code</h3>
<pre><code>
&lt;section class="well well-sm provisional gc-most-requested"&gt;
	&lt;div class="container"&gt;
		&lt;div class="row"&gt;
			&lt;div class="col-md-2"&gt;
				&lt;h2&gt;En demande&lt;/h2&gt;
			&lt;/div&gt;
			&lt;div class="col-md-10"&gt;
				&lt;ul class="colcount-md-2"&gt;
					&lt;li&gt;&lt;a href="#"&gt;[Tâches principale]&lt;/a&gt;&lt;/li&gt;
					&lt;li&gt;&lt;a href="#"&gt;[Tâches principale]&lt;/a&gt;&lt;/li&gt;
					&lt;li&gt;&lt;a href="#"&gt;[Tâches principale]&lt;/a&gt;&lt;/li&gt;
					&lt;li&gt;&lt;a href="#"&gt;[Tâches principale]&lt;/a&gt;&lt;/li&gt;
					&lt;li&gt;&lt;a href="#"&gt;[Tâches principale]&lt;/a&gt;&lt;/li&gt;
					&lt;li&gt;&lt;a href="#"&gt;[Tâches principale]&lt;/a&gt;&lt;/li&gt;
					&lt;li&gt;&lt;a href="#"&gt;[Tâches principale]&lt;/a&gt;&lt;/li&gt;
				&lt;/ul&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/section&gt;
</code></pre>

<h2>Évaluation et rapport</h2>
<p>Il n'y a pas d'évaluation et de rapport disponibles pour ce composant.</p>
