---
{
	"altLangPage": "gc-most-requested-two-items-en.html",
	"dateModified": "2025-09-29",
	"description": "Exemples pratiques pour la composante En demande avec seulement deux éléments.",
	"language": "fr",
	"title": "En demande - Deux éléments",
	"breadcrumbs": [
		{ "title": "En demande - Documentation", "link": "components/gc-most-requested/gc-most-requested-doc-fr.html" }
	],
	"layout": "no-container",
	"pageclass": "wb-prettify all-pre"
}
---

<div class="container">
	<h1 id="wb-cont">En demande - Deux éléments</h1>
	<p class="mrgn-bttm-lg">Vous trouverez ci-dessous un exemple pratique pour le composant En demande avec seulement deux éléments.</p>
</div>

<section class="gc-most-requested">
	<div class="container">
		<h2>En demande</h2>
		<ul>
			<li><a href="#">[Lien vers une tâche principale 1]</a></li>
			<li><a href="#">[Lien vers une tâche principale 2]</a></li>
		</ul>
	</div>
</section>

<div class="container">
	<details>
		<summary>Code</summary>
		<pre><code>
		...
		&lt;section class="gc-most-requested">
			&lt;div class="container">
				&lt;h2>En demande&lt;/h2>
				&lt;ul>
					&lt;li>&lt;a href="#">[Lien vers une tâche principale 1]&lt;/a>&lt;/li>
					&lt;li>&lt;a href="#">[Lien vers une tâche principale 2]&lt;/a>&lt;/li>
				&lt;/ul>
			&lt;/div>
		&lt;/section>
		...
		</code></pre>
	</details>
</div>
