---
{
	"altLangPage": "gc-most-requested-bad-fr.html",
	"dateModified": "2024-02-14",
	"description": "Bad implementation example for the Most requested component.",
	"language": "en",
	"title": "Most requested - bad implementation",
	"breadcrumbs": [
		{ "title": "Most requested - Documentation", "link": "components/gc-most-requested/gc-most-requested-doc-en.html" }
	],
	"pageclass": "wb-prettify all-pre"
}
---

<p class="mrgn-bttm-lg">Below is an example for a bad implementation of the Most requested component. In this example, the component is located inside another element with the class <code>container</code>, which is not allowed.</p>

<section class="gc-most-requested">
	<div class="container">
		<h2>Most requested</h2>
		<ul>
			<li><a href="#">[Top task hyperlink 1]</a></li>
			<li><a href="#">[Top task hyperlink 2]</a></li>
			<li><a href="#">[Top task hyperlink 3]</a></li>
			<li><a href="#">[Top task hyperlink 4]</a></li>
			<li><a href="#">[Top task hyperlink 5]</a></li>
			<li><a href="#">[Top task hyperlink 6]</a></li>
		</ul>
	</div>
</section>

<details>
	<summary>Code</summary>
	<pre><code>&lt;main class="container">
	...
	&lt;section class="gc-most-requested">
		&lt;div class="container">
			&lt;h2>Most requested&lt;/h2>
			&lt;ul>
				&lt;li>&lt;a href="#">[Top task hyperlink 1]&lt;/a>&lt;/li>
				&lt;li>&lt;a href="#">[Top task hyperlink 2]&lt;/a>&lt;/li>
				&lt;li>&lt;a href="#">[Top task hyperlink 3]&lt;/a>&lt;/li>
				&lt;li>&lt;a href="#">[Top task hyperlink 4]&lt;/a>&lt;/li>
				&lt;li>&lt;a href="#">[Top task hyperlink 5]&lt;/a>&lt;/li>
				&lt;li>&lt;a href="#">[Top task hyperlink 6]&lt;/a>&lt;/li>
			&lt;/ul>
		&lt;/div>
	&lt;/section>
	...
&lt;/main></code></pre>
</details>
