---
dateModified: "2021-05-21"
description: "Documentation and working example for most requested - provisional feature"
language: "en"
altLangPage: "gc-most-requested-fr.html"
title: "Most requested - Provisional feature"
---
{% include alert-provisional.html %}

<span class="wb-prettify all-pre hide"></span>

<dl class="horizontal">
	<dt>Status</dt>
	<dd>Provisional</dd>
	<dt>Type</dt>
	<dd>Canada.ca design pattern</dd>
	<dt>Last review</dt>
	<dd>2021-05-21</dd>
	<dt>Conforming to</dt>
	<dd>n/a</dd>
	<dt>Guidance</dt>
	<dd><a href="https://design.canada.ca/common-design-patterns/most-requested.html">Most requested - Canada.ca design pattern</a> (to be updated)</dd>
	<dt>Technical name</dt>
	<dd><code>gc-most-requested</code></dd>
</dl>

<h2>Purpose</h2>
<p>This adds a most requested section that features top tasks related to the page it is on.</p>

<h2>Working example</h2>

<h3>Most requested (provisional v1.0)</h3>
<section class="well well-sm provisional gc-most-requested">
	<div class="container">
		<div class="row">
			<div class="col-md-2">
				<h2>Most requested</h2>
			</div>
			<div class="col-md-10">
				<ul class="colcount-md-2">
					<li><a href="#">[Top task hyperlink]</a></li>
					<li><a href="#">[Top task hyperlink]</a></li>
					<li><a href="#">[Top task hyperlink]</a></li>
					<li><a href="#">[Top task hyperlink]</a></li>
					<li><a href="#">[Top task hyperlink]</a></li>
					<li><a href="#">[Top task hyperlink]</a></li>
					<li><a href="#">[Top task hyperlink]</a></li>
				</ul>
			</div>
		</div>
	</div>
</section>

<h3>Code</h3>
<pre><code>
&lt;section class="well well-sm provisional gc-most-requested"&gt;
	&lt;div class="container"&gt;
		&lt;div class="row"&gt;
			&lt;div class="col-md-2"&gt;
				&lt;h2&gt;Most requested&lt;/h2&gt;
			&lt;/div&gt;
			&lt;div class="col-md-10"&gt;
				&lt;ul class="colcount-md-2"&gt;
					&lt;li&gt;&lt;a href="#"&gt;[Top task hyperlink]&lt;/a&gt;&lt;/li&gt;
					&lt;li&gt;&lt;a href="#"&gt;[Top task hyperlink]&lt;/a&gt;&lt;/li&gt;
					&lt;li&gt;&lt;a href="#"&gt;[Top task hyperlink]&lt;/a&gt;&lt;/li&gt;
					&lt;li&gt;&lt;a href="#"&gt;[Top task hyperlink]&lt;/a&gt;&lt;/li&gt;
					&lt;li&gt;&lt;a href="#"&gt;[Top task hyperlink]&lt;/a&gt;&lt;/li&gt;
					&lt;li&gt;&lt;a href="#"&gt;[Top task hyperlink]&lt;/a&gt;&lt;/li&gt;
					&lt;li&gt;&lt;a href="#"&gt;[Top task hyperlink]&lt;/a&gt;&lt;/li&gt;
				&lt;/ul&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/section&gt;
</code></pre>

<h2>Evaluation and report</h2>
<p>There is no evaluation and report available for this component.</p>
