---
{
	"altLangPage": "gc-most-requested-highlight-en.html",
	"dateModified": "2025-05-08",
	"description": "Exemple pratique pour la variation En demande avec mise en évidence de la composante En demande",
	"language": "fr",
	"title": "En demande avec mise en évidence",
	"breadcrumbs": [
		{ "title": "En demande - Documentation", "link": "components/gc-most-requested/gc-most-requested-doc-fr.html" }
	],
	"layout": "no-container",
	"pageclass": "wb-prettify all-pre"
}
---

<div class="container">
	<h1 id="wb-cont">En demande avec mise en évidence</h1>
	<p class="mrgn-bttm-lg">Vous trouverez ci-dessous un exemple pratique de la variation En demande avec mise en évidence pour la composante En demande.</p>
</div>

{% include_relative samples/gc-most-requested-highlight.html %}

<div class="container">
	<details>
		<summary>Exemple de code</summary>
		{% highlight html %}{% include_relative samples/gc-most-requested-highlight.html %}{% endhighlight %}
	</details>
</div>
