/*
 * Global small component style
 *
 * Use this style sheet to define style for small component
 */

/*
 * Redacted inline text style
 */

.redacted {
	display: inline-block; // Fix a word wrapping issue in IE11 and redacted content in a table with FF
	line-break: anywhere;
	overflow-wrap: break-word;
	word-break: break-all;
	word-wrap: break-word;
}
