/*
  Campaign
  @title: Extra-small view and under (screen only)
 */

.cmpgn-sctns {
	margin-top: 0;

	li {
		margin-top: 20px;
	}

	.h4 {
		margin-top: 0;
		padding-top: 15px;
	}

	.sctn-desc {
		margin-bottom: 10px;
	}
}
