<section class="gc-followus">
	<h2>{%- if page.language == "fr" -%}Dans les médias sociaux{%- else -%}On social media{%- endif -%}</h2>
	<ul{% if include.isInline %} class="list-inline"{% endif %}>
		<li>
			<a href="#facebook" class="facebook wb-lbx">
				{%- if page.language == "fr" -%}
					<span class="wb-inv">Facebook&nbsp;: </span>NomPageFacebook
				{%- else -%}
					<span class="wb-inv">Facebook: </span>FacebookPageName
				{%- endif -%}
			</a>
		</li>
		<li>
			<a href="#" rel="external" class="twitter">
				{%- if page.language == "fr" -%}
					<span class="wb-inv">X&nbsp;: </span>@CompteX
				{%- else -%}
					<span class="wb-inv">X: </span>@XAccount
				{%- endif -%}
			</a>
		</li>
		<li>
			<a href="#" rel="external" class="youtube">
				{%- if page.language == "fr" -%}
					<span class="wb-inv">Youtube&nbsp;: </span>NomYouTube
				{%- else -%}
					<span class="wb-inv">Youtube: </span>YouTubeName
				{%- endif -%}
			</a>
		</li>
		<li>
			<a href="#" rel="external" class="instagram">
				{%- if page.language == "fr" -%}
					<span class="wb-inv">Instagram&nbsp;: </span>NomInstagram
				{%- else -%}
					<span class="wb-inv">Instagram: </span>InstagramName
				{%- endif -%}
			</a>
		</li>
		<li>
			<a href="#" rel="external" class="linkedin">
				{%- if page.language == "fr" -%}
					<span class="wb-inv">LinkedIn&nbsp;: </span>NomLinkedIn
				{%- else -%}
					<span class="wb-inv">LinkedIn: </span>LinkedInName
				{%- endif -%}
			</a>
		</li>
	</ul>
</section>
<section id="facebook" class="modal-dialog modal-content overlay-def mfp-hide">
	<header class="modal-header">
		<h2 class="modal-title" id="lbx-title">Facebook</h2>
	</header>
	<div class="modal-body">
		<ul class="list-unstyled lst-spcd">
			<li>
				<a href="#" rel="external">
					{%- if page.language == "fr" -%}
						[Titre du premier compte Facebook]
					{%- else -%}
						[First Facebook account title]
					{%- endif -%}
				</a>
			</li>
			<li>
				<a href="#" rel="external">
					{%- if page.language == "fr" -%}
						[Titre du deuxième compte Facebook]
					{%- else -%}
						[Second Facebook account title]
					{%- endif -%}
				</a>
			</li>
		</ul>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-sm btn-primary pull-left popup-modal-dismiss">
			{%- if page.language == "fr" -%}
				Fermer<span class="wb-inv">Fermer la fenêtre superposée</span>
			{%- else -%}
				Close<span class="wb-inv">Close overlay</span>
			{%- endif -%}
		</button>
	</div>
</section>
