/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 *
 * Small view and under (screen only) - Variable $screen-sm-max <= 991px
*/

.gc-subway.provisional {
	&:not(.gc-subway-index) {
		h1 {
			background-color: #fff;
			border-bottom: none;
			color: #555;
			float: left;
			font-size: 1.3em;
			margin-left: -.5em;
			margin-right: .5em;
			margin-top: -.75em;
			padding: 0px 20px 10px 0px;
		}

		ul {
			padding-top: .25em;
		}
	}
}
