/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 *
 * Medium view and over (screen only) - Variable $screen-md-min >= 992px
*/

/*** GC subway desktop styles ***/

.gc-subway.provisional {
	&:not(.gc-subway-index) {
		&.no-blink {
			display: block;
		}

		border-color: transparent;
		display: none;

		.wb-disable & {
			display: block;
		}

		hgroup {
			left: -.5em;
			position: absolute;
			top: -2em;

			h1 {
				clip: rect(1px, 1px, 1px, 1px);
				height: 1px;
				margin: 0;
				overflow: hidden;
				position: absolute;
				width: 1px;
			}
		}

		ul {
			li {
				&:last-child:has(ul) {
					border-left: 4px solid $accent-blue;
					padding-bottom: 1.25em;

					&::after {
						background-color: $accent-blue;
						bottom: 0;
						content: "";
						height: 4px;
						left: -.45em;
						position: absolute;
						width: .75em;
					}
				}
			}
		}
	}
}

.gc-subway-wrapper {
	float: right;
	//width: calc(33.33% - .5em);
	width: calc(33.33% - .5em - 5px); // Revert to line above when correctly implemented
}

.gc-subway-section {
	padding-right: 30px;
	width: 66.66%;

	hgroup:first-of-type {
		h1 {
			margin-top: 0;
		}

		p {
			display: block;
			font-size: 1.25em;
			margin-bottom: 0;
		}
	}
}
