---
{
"title": "GC Métro - Exemple de page de section avec mauvaise implémentation dans AEM",
"language": "fr",
"altLangPage": "aem-bad-implementation-en.html",
"layout": "without-h1",
"dateModified": "2023-01-04",
"share": "true"
}
---

<div class="alert alert-danger">
	<h2>Implémentation dépréciée</h2>
	<p>Cette implémentation du plugiciel GC-Subway est obsolète et sera bientôt supprimée.</p>
</div>

{% include alert-provisional.html %}

{%- include_relative fragments/docs-questions.html -%}

<div class="mwsgeneric-base-html parbase section">
	<nav class="provisional gc-subway">
		<h1>Nom du service</h1>
		<ul>
			<li><a href="section1-fr.html">Page 1</a></li>
			<li><a href="section1-fr.html">Page 2</a></li>
			<li><a href="#" class="active">Page 3</a></li>
			<li><a href="section1-fr.html">Page 4</a></li>
			<li><a href="section1-fr.html">Page 5</a></li>
			<li><a href="section1-fr.html">Page 6</a></li>
		</ul>
	</nav>
	<h1 property="name" id="wb-cont" class="gc-thickline">Page 3</h1>
</div>

<div class="mwsbodytext text parbase section">
	<div class="row">
		<div class="col-md-8">
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero minus, optio earum laborum excepturi officiis est enim eum quisquam aspernatur a cumque et, nostrum dolore. In deserunt cumque quasi. Ducimus qui assumenda mollitia, soluta dolorum omnis repellendus nemo, aperiam nobis fuga tempora facilis accusamus quisquam quod placeat cupiditate, pariatur tenetur.</p>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque aliquid vitae ea eum consequatur cum obcaecati. Repellendus, quidem molestiae itaque, consequatur officiis tenetur adipisci exercitationem, necessitatibus esse impedit ad excepturi deserunt. Suscipit ut aliquam totam corporis, sequi dicta nihil unde.</p>
			<table class="table mrgn-tp-md">
				<caption class="wb-inv">Table</caption>
				<tbody>
					<tr>
						<th scope="row" class="text-muted">Titre</th>
						<td>Contenu</td>
					</tr>
					<tr>
						<th scope="row" class="text-muted">Titre</th>
						<td>Contenu</td>
					</tr>
					<tr>
						<th scope="row" class="text-muted">Titre</th>
						<td>Contenu</td>
					</tr>
					<tr>
						<th scope="row" class="text-muted">Titre</th>
						<td>Contenu</td>
					</tr>
					<tr>
						<th scope="row" class="text-muted">Titre</th>
						<td>Contenu</td>
					</tr>
					<tr>
						<th scope="row" class="text-muted">Titre</th>
						<td>Contenu</td>
					</tr>
					<tr>
						<th scope="row" class="text-muted">Titre</th>
						<td>Contenu</td>
					</tr>
					<tr>
						<th scope="row" class="text-muted">Titre</th>
						<td>Contenu</td>
					</tr>
				</tbody>
			</table>
			<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque praesentium incidunt neque?</p>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium modi aspernatur dolorum eaque fugit quas. Excepturi explicabo ab molestias id harum quae, consequatur neque in nostrum et, voluptates culpa alias laboriosam ipsam aut rem sit unde minima. Error, rem perferendis saepe voluptate doloribus maxime tempora, cupiditate omnis delectus necessitatibus expedita totam a! Saepe quo vero aperiam est eaque esse velit.</p>
			<nav aria-label="Section navigation" class="mrgn-bttm-lg mrgn-tp-lg">
				<h3 class="wb-inv">Section navigation</h3>
				<ul class="pager">
					<li class="next"><a href="page-4.html" rel="next"><span class="wb-inv">Next: </span>Page 4</a></li>
				</ul>
			</nav>
		</div>
	</div>
</div>
