---
{
	"title": "Documentation of GC Subway map navigation",
	"language": "en",
	"altLangPage": "docs-fr.html",
	"pageclass": "cnt-wdth-lmtd",
	"dateModified": "2021-04-06",
	"share": "true"
}
---
{% include alert-provisional.html %}

<div class="wb-prettify all-pre hide"></div>

<h2>On this page</h2>
<ul>
	<li><a href="#purpose">Purpose</a></li>
	<li><a href="#workingExamples">Working examples</a></li>
	<li><a href="#layout">Layout</a></li>
	<li><a href="#style">Style</a></li>
	<li><a href="#semantic">Semantic</a></li>
	<li><a href="#configuration">Configuration</a></li>
	<li><a href="#schema">Schema</a></li>
</ul>

<h2 id="purpose">Purpose</h2>
<p>Break up long and complex content into pages that each focus on a step or specific answer people need before moving to the next step or section. Ideal for presenting services and processes.</p>

<h2 id="workingExamples">Working examples</h2>
<div data-wb-jsonmanager='{
	"url": "index.json-ld",
	"name": "gc-subway",
	"fpath": "/pages/examples",
	"filter": [
		{ "path": "/language", "value": "en" }
	]
}'></div>
<ul data-wb-json='{
	"url": "#[gc-subway]/pages/examples",
	"mapping": [
		{ "selector": "a", "value": "/title" },
		{ "selector": "a", "value": "/path", "attr": "href" }
	]
}'>
	<template>
		<li><a href></a></li>
	</template>
</ul>

<h2 id="layout">Layout</h2>
<p>The layout for the index page is different from the sections pages. Below are code samples of how the GC Subway elements are laid out before the plugin has been initialized.</p>

<h3>Index page</h3>
<p>The GC Subway code snippet for the <strong>index</strong> page can be placed anywhere within the content of the page (<code>&lt;main&gt;</code>). However, make sure the heading level is appropriate. Also, the sub-section items must not be included in the index page.</p>
{% highlight html %}
<main>
	<h1 property="name" id="wb-cont" class="gc-thickline">[Service name]</h1>

	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

	<!-- GC Subway navigation -->
	<nav class="gc-subway provisional">
		<h2>Sections</h2>
		<dl>
			<dt><a href="section1-en.html">[Page 1]</a></dt>
			<dd>Page description. Lorem ipsum dolor sit amet, consectetur adipiscing elit</dd>
			<dt><a href="section2-en.html">[Page 2]</a></dt>
			<dd>Page description. Lorem ipsum dolor sit amet, consectetur adipiscing elit</dd>
			<dt><a href="section3-en.html">[Page 3]</a></dt>
			<dd>Page description. Lorem ipsum dolor sit amet, consectetur adipiscing elit</dd>
			<dt><a href="section4-en.html">[Page 4]</a></dt>
			<dd>Page description. Lorem ipsum dolor sit amet, consectetur adipiscing elit</dd>
			<dt><a href="section5-en.html">[Page 5]</a></dt>
			<dd>Page description. Lorem ipsum dolor sit amet, consectetur adipiscing elit</dd>
			<dt><a href="section6-en.html">[Page 6]</a></dt>
			<dd>Page description. Lorem ipsum dolor sit amet, consectetur adipiscing elit</dd>
		</dl>
	</nav>
	...
</main>
{% endhighlight %}

<h3>Section page</h3>
<p>The GC Subway code snippet for the <strong>section</strong> page must be placed at the beginning of your content, before the title (<code>&lt;h1&gt;</code>).</p>
{% highlight html %}
<main>
	<!-- 1: GC Subway navigation -->
	<nav class="gc-subway provisional">
		<h1>[Service name]</h1>
		<ul>
			<li><a href="section1-en.html" class="active">[Page 1]</a></li>
			<li><a href="section2-en.html">[Page 2]</a></li>
			<li><a href="section3-en.html">[Page 3]</a></li>
			<li><a href="section4-en.html">[Page 4]</a></li>
			<li><a href="section5-en.html">[Page 5]</a></li>
			<li><a href="section6-en.html">[Page 6]</a></li>
		</ul>
	</nav>

	<!-- 2: Title -->
	<h1 property="name" id="wb-cont" class="gc-thickline">[Page 1]</h1>

	<!-- 3: Page content -->
	<p>Page content. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam commodo elementum est, ac ultrices urna convallis vitae.</p>
	...

	<!-- 4: Document navigation -->
	<nav class="gc-subway-pagination">
		<h2 class="wb-inv">Document navigation</h2>
		<ul class="pager">
			<li class="next"><a href="section2-en.html" rel="next"><span class="wb-inv">Next: </span>[Page 2]</a></li>
		</ul>
	</nav>

	<!-- 5: Related information (optional) -->
	<aside class="gc-subway-support">
		<h2 class="h3">Related information</h2>
		...
	</aside>
</main>
{% endhighlight %}

<h2 id="style">Style</h2>
<dl>
	<dt>Class (mandatory): <code>active</code></dt>
	<dd>To be added to the active page's link (<code>&lt;a&gt;</code>) in the GC Subway navigation.</dd>
	<dt>Class (optional): <code>noline</code></dt>
	<dd>To be applied on a sub-section list (<code>&lt;ul&gt;</code>). It will remove the vertical line connecting all sub-sections. It will also add a horizontal line connecting the <strong>active</strong> sub-section with the main subway line. <a href="sub-section-noline-en.html">Example of correct implementation</a>.</dd>
</dl>

<h2 id="semantic">Semantic</h2>

<h3>Index page</h3>
<p>The heading's level will be dependent on your document's structure.</p>
{% highlight html %}
<nav class="gc-subway provisional">
	<h2>Sections</h2>
	<dl>
		<dt><a href="section1-en.html">[Page 1]</a></dt>
		<dd>Page description. Lorem ipsum dolor sit amet, consectetur adipiscing elit</dd>
		<dt><a href="section2-en.html">[Page 2]</a></dt>
		<dd>Page description. Lorem ipsum dolor sit amet, consectetur adipiscing elit</dd>
		<dt><a href="section3-en.html">[Page 3]</a></dt>
		<dd>Page description. Lorem ipsum dolor sit amet, consectetur adipiscing elit</dd>
		<dt><a href="section4-en.html">[Page 4]</a></dt>
		<dd>Page description. Lorem ipsum dolor sit amet, consectetur adipiscing elit</dd>
		<dt><a href="section5-en.html">[Page 5]</a></dt>
		<dd>Page description. Lorem ipsum dolor sit amet, consectetur adipiscing elit</dd>
		<dt><a href="section6-en.html">[Page 6]</a></dt>
		<dd>Page description. Lorem ipsum dolor sit amet, consectetur adipiscing elit</dd>
	</dl>
</nav>
{% endhighlight %}

<h3>Section page</h3>

<h4>Main GC Subway element</h4>
<p>The GC Subway navigation allows for up to two (2) levels of list items. However, the default and recommended structure is only one (1) level.</p>
{% highlight html %}
<nav class="gc-subway provisional">
	<h1>[Service name]</h1>
	<ul>
		<li><a href="section1-en.html" class="active">[Page 1]</a></li>
		<li><a href="section2-en.html">[Page 2]</a></li>
		<li><a href="section3-en.html">[Page 3]</a></li>
		<li><a href="section4-en.html">[Page 4]</a></li>
		<li><a href="section5-en.html">[Page 5]</a></li>
		<li><a href="section6-en.html">[Page 6]</a></li>
	</ul>
</nav>
{% endhighlight %}

<h4>Document navigation</h4>
<p>To be added at the end of your content, before the related information block (if applicable). This navigation is mandatory for <strong>section</strong> pages.</p>
{% highlight html %}
<nav class="gc-subway-pagination">
	<h2 class="wb-inv">Document navigation</h2>
	<ul class="pager">
		<li class="previous"><a href="#" rel="prev"><span class="wb-inv">Previous: </span>[Page 3]</a></li>
		<li class="next"><a href="#" rel="next"><span class="wb-inv">Next: </span>[Page 3b]</a></li>
	</ul>
</nav>
{% endhighlight %}

<h4>Related information (optional)</h4>
<p>To be added at the end of your content, after the document navigation block. This block is optional. It will be displayed on the right side under the GC Subway navigation on <code>md</code> and <code>lg</code> breakpoints and at the end of the content on <code>xs</code> and <code>sm</code> breakpoints.</p>
{% highlight html %}
<aside class="gc-subway-support">
	<h2 class="h3">Related information</h2>
	...
</aside>
{% endhighlight %}

<h2 id="configuration">Configuration</h2>
<table class="table">
	<thead>
		<tr>
			<th>Attribute</th>
			<th>Description</th>
			<th>Default</th>
			<th>Example</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>data-sections-title</td>
			<td>Text used for the dynamically created title visible above the subway navigation on <code>md</code> and <code>lg</code> breakpoints.</td>
			<td><code>"Sections"</code></td>
			<td><code>data-sections-title="My sections"</code></td>
		</tr>
	</tbody>
</table>

<h2 id="schema">Schema</h2>
<ul>
	<li>Title, type: string</li>
	<li>Subtitle, type: string (optional)</li>
	<li>Sections, type: array
		<ul>
			<li>Title, type: string</li>
			<li>Url, type: string</li>
			<li>Description, type: string</li>
			<li>Sub-section, type: array
				<ul>
					<li>Title, type: string</li>
					<li>Url, type: string</li>
				</ul>
			</li>
		</ul>
	</li>
	<li>Page content, type: HTML</li>
	<li>Related information, type: object (optional)
		<ul>
			<li>Title, type: string</li>
			<li>Content, type: HTML</li>
		</ul>
	</li>
</ul>
