---
{
	"title": "Documentation de: Navigation de style métro",
	"language": "fr",
	"altLangPage": "docs-en.html",
	"pageclass": "cnt-wdth-lmtd",
	"dateModified": "2021-04-06",
	"share": "true"
}
---
{% include alert-provisional.html provisionaldir="../" %}

<p>Afin d'utiliser la fonctionalité provisoire de navigation de style métro, vous devrez suivre les étapes suivantes:</p>
<ol>
	<li>Tout d'abord, vous aurez besoin d'un élément <code>&lt;nav&gt;</code> avec les classes <code>"provisoire"</code> et <code>"gc-subway"</code>. À l'intérieur de ce <code>&lt;nav&gt;</code>, mettez votre premier <code>&lt;h1&gt;</code>; il sera le plus petit, grisâtre et placé au haut de la page.</li>
	<li>Ajoutez un <code>&lt;ul&gt;</code> à côté de ce <code>&lt;h1&gt;</code>. Placez-y les liens vers vos autres pages liées à la page de lancement de service.</li>
	<li>Le reste a juste besoin de votre propre contenu principal pour cette page. N'oubliez pas les boutons de navigation en bas des pages. Si vous voulez que la colonne de gauche cesse d'être aux 2/3 de la largeur d'un écran de bureau, vous pouvez alors arrêter la propagation en utilisant n'importe quel élément HTML avec une classe <code>"gc-subway-section-end"</code>; cet élément doit être un frère de votre <code>"&lt;nav class="gc-subway"&gt;</code>.</li>
	<li>Si vous souhaitez utiliser le nouveau soulignement rouge court et gras sous votre H1, ajoutez-y les classes <code>"provisoire"</code> et <code>"gc-thickline"</code>.</li>
</ol>
<p>Voir le code brut en action en consultant l'<a href="gc-subway-fr.html">exemple codé</a>.</p>
