---
{
	"title": "[Organization Name]",
	"language": "en",
	"altLangPage": "organizational-fr.html",
	"pageType": "organization",
	"pageclass": "page-type-nav",
	"overwriteBreadcrumbs": true,
	"breadcrumbs": [
		{ "title": "Departments & agencies", "link": "https://www.canada.ca/en/government/dept.html" }
	],
	"dateModified": "2023-09-01",
	"share": "true"
}
---
<div class="row">
	<div class="col-sm-7 pull-left">
		<p>[Institution name] Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sagittis massa sed libero eleifend, ac iaculis urna tempor. Cras sagittis massa sed libero eleifend, ac iaculis urna tempor.</p>
	</div>
	<div class="col-sm-5 col-xs-12 pull-right">
		{% include gc-follow-us/follow.html %}
	</div>
</div>
<section>
	<h2>Latest</h2>
	<div class="gc-nws row">
		<div class="col-md-8">
			<div class="row">
					<div class="col-md-6">
						<a href="#">
							<img src="../img/news-360x203.png" alt="" class="img-responsive thumbnail"/>
							<p>[News title]</p>
						</a>
						<small>YYYY-MM-DD hh:mm - Type of feature</small>
						<p>Brief description of the news item.</p>
					</div>
					<div class="col-md-6">
						<a href="#">
							<img src="../img/news-360x203.png" alt="" class="img-responsive thumbnail"/>
							<p>[News title]</p>
						</a>
						<small>YYYY-MM-DD hh:mm - Type of feature</small>
						<p>Brief description of the news item.</p>
					</div>
			</div>
		</div>
		<div class="wb-feeds limit-3 col-md-4">
			<ul class="feeds-cont list-unstyled lst-spcd">
				<li>
					<a href="http://news.gc.ca/web/fd-en.do?mthd=dpt&amp;ft=atom&amp;crtr.dpt1D=6675" rel="external">Government of Canada News Releases</a>
				</li>
			</ul>
			<p class="text-right"><strong><a href="#">All news</a></strong></p>
		</div>
	</div>
</section>
<div class="row">
	<div class="col-md-4 col-xs-12 pull-right">
		{% include components/most-requested/most-requested.html %}
	</div>
	{% include components/gc-servinfo/with-embed-col-pull.html %}
	<div class="pull-right col-xs-12 col-md-4">
		<section class="lnkbx">
			<h2>Contact us</h2>
			<ul>
				{%- for i in (1..3) -%}
				<li><a href="#">Contact number link</a></li>
				{%- endfor -%}
			</ul>
		</section>
		{% include components/more-info/more-info.html %}
	</div>
</div>
{% include templates/whtwedo-3-items.html %}
{% include components/gc-corporate/org-info.html %}
{% include components/gc-features/features.html %}
