---
title: Bulle d'assistant virtuel
language: fr
category: Plugiciels
description: Example pratique d'utilisation de la bulle d'aassistant virtuel afin d'ouvrir du contenu superposé incluant un avatar personnalisé.
altLangPage: wb-bubble-va-en
dateModified: 2021-07-27
---
<span class="wb-prettify all-pre hide"></span>

<p>Bulle qui ouvre du contenu superposé dans le contexte d'un assistant virtuel incluant un avatar personnalisé. Le balisage du contenu superposé doit être à côté du bouton afin d'assurer un ordre de mise au point correct lorsque le contenu superposé est fermée par l'utilisateur.</p>

<pre><code>&lt;button type="button" data-wb-doaction='{ "action": "openDialog", "source": "#mid-screen" }' class="wb-bubble" data-wb-bubble='{ "avatar": "assets/headset-avatar.png" }'&gt;Assistant virtuel&lt;/button&gt;
&lt;section id="mid-screen" class="wb-overlay modal-content overlay-def wb-popup-mid"&gt;
	&lt;header class="modal-header"&gt;
		&lt;h2 class="modal-title"&gt;Assistant virtuel&lt;/h2&gt;
	&lt;/header&gt;
	&lt;div class="modal-body"&gt;
		&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquam sagittis ante.&lt;/p&gt;
		&lt;ul&gt;
			&lt;li&gt;&lt;a href="#"&gt;Lien rapide 1&lt;/a&gt;&lt;/li&gt;
			&lt;li&gt;&lt;a href="#"&gt;Lien rapide 2&lt;/a&gt;&lt;/li&gt;
		&lt;/ul&gt;
		&lt;p&gt;Pellentesque varius arcu id justo congue dictum. Nullam vehicula est nunc, nec tincidunt enim mattis et. &lt;/p&gt;
		&lt;ul&gt;
			&lt;li&gt;&lt;a href="#"&gt;Lien rapide 4&lt;/a&gt;&lt;/li&gt;
			&lt;li&gt;&lt;a href="#"&gt;Lien rapide 5&lt;/a&gt;&lt;/li&gt;
			&lt;li&gt;&lt;a href="#"&gt;Lien rapide 6&lt;/a&gt;&lt;/li&gt;
		&lt;/ul&gt;
	&lt;/div&gt;
&lt;/section&gt;</code></pre>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquam sagittis ante. Nam ac varius tellus, vel laoreet orci. Nullam eget luctus erat. Vivamus mollis ut mauris et iaculis. Donec euismod, nulla et condimentum lobortis, arcu nunc feugiat purus, ut porta quam nulla auctor eros. In iaculis ante id metus semper gravida. Nunc vestibulum, nisi cursus semper feugiat, lorem neque blandit nulla, nec molestie tortor quam a magna. Pellentesque varius arcu id justo congue dictum. Nullam vehicula est nunc, nec tincidunt enim mattis et.</P>

<p>Vestibulum eget quam ut leo laoreet pharetra. Duis a ultrices nisi. Fusce convallis suscipit dolor at tempor. Proin nunc leo, elementum a vulputate eu, sollicitudin at arcu. Fusce id lectus turpis. In ac volutpat tellus. Proin faucibus tellus mollis nisi tempor feugiat. Phasellus quis mi placerat libero facilisis dapibus. Suspendisse et turpis tristique, dignissim mi a, iaculis elit.</P>

<p>Pellentesque ullamcorper quis sapien vel malesuada. Proin laoreet vehicula efficitur. Donec ac cursus elit, a dapibus quam. Suspendisse at urna et ligula vehicula imperdiet non vel nunc. In nibh libero, pellentesque vitae accumsan ac, ornare nec leo. Fusce eros ante, congue in nunc nec, hendrerit pharetra massa. Sed sagittis at tellus vitae semper. Praesent et diam quis ante facilisis consequat vel non mauris. Morbi nibh lorem, ultricies a ullamcorper vitae, condimentum ac metus. Mauris at augue risus. Proin bibendum et mauris ut viverra. Donec rutrum, est sit amet imperdiet rutrum, quam odio ultricies elit, ut vulputate justo velit ac lacus. Nullam interdum rhoncus sem et malesuada. Nullam hendrerit elit malesuada, ultricies nunc a, laoreet nisi. Vivamus vulputate tortor nibh, a pharetra mauris dignissim ut. Fusce sed consectetur orci. </P>

<p>Sed iaculis ex non blandit aliquam. Vivamus tincidunt enim in orci elementum, vel varius est venenatis. Vivamus dapibus vitae nunc eget convallis. Sed vitae est risus. Quisque tincidunt metus a ante eleifend faucibus. Etiam condimentum maximus orci, sit amet vehicula elit elementum eget. Donec vitae consequat mauris. Donec scelerisque mi eu dolor fringilla, quis tempor orci tempor. Ut massa tellus, ultrices vel mattis in, malesuada non arcu. Quisque quis tellus est. Morbi metus enim, pulvinar vitae tempor dictum, sollicitudin ac orci. Nulla sagittis ultricies congue. Curabitur egestas malesuada erat a mattis. </P>

<button type="button" data-wb-doaction='{ "action": "openDialog", "source": "#mid-screen" }' class="wb-bubble" data-wb-bubble='{ "avatar": "assets/headset-avatar.png" }'>Assistant virtuel</button>
<section id="mid-screen" class="wb-overlay modal-content overlay-def wb-popup-mid">
	<header class="modal-header">
		<h2 class="modal-title">Assistant virtuel</h2>
	</header>
	<div class="modal-body">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquam sagittis ante.</p>
		<ul>
			<li><a href="#">Lien rapide 1</a></li>
			<li><a href="#">Lien rapide 2</a></li>
		</ul>
		<p>Pellentesque varius arcu id justo congue dictum. Nullam vehicula est nunc, nec tincidunt enim mattis et. </p>
		<ul>
			<li><a href="#">Lien rapide 4</a></li>
			<li><a href="#">Lien rapide 5</a></li>
			<li><a href="#">Lien rapide 6</a></li>
		</ul>
	</div>
</section>
