[class*=cnjnctn-type-] {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	margin-bottom: 15px;
	margin-left: 5px;
	margin-right: 0px;
	margin-top: 15px;
	position: relative;
	min-height: 60px;
}
[class*=cnjnctn-type-] [class*=cnjnctn-col]:not(:first-child):after {
	background-image: linear-gradient(to bottom, #6f6f6f, #6f6f6f);
	background-size: 3px;
	content: ' ';
	height: 100%;
	margin-left: -15px;
	position: absolute;
	top: 0;
	width: 3px;
}
[class*=cnjnctn-type-] [class*=cnjnctn-col] {
	padding-left: 15px;
	padding-right: 15px;
	width: 100%;
}
[class*=cnjnctn-type-] [class*=cnjnctn-col]> :first-child:not([class*=mrgn-tp-]) {
	margin-top: 0px;
}
[class*=cnjnctn-type-] [class*=cnjnctn-col]> :last-child:not([class*=mrgn-bttm-]) {
	margin-bottom: 0px;
}
[class*=cnjnctn-type-] [class*=cnjnctn-col]:not(:last-child) {
	margin-bottom: 30px;
	margin-right: 30px;
}
[class*=cnjnctn-type-] [class*=cnjnctn-col]:not(:first-child) {
	margin-top: 30px;
}
[class*=cnjnctn-type-] [class*=cnjnctn-col]:not(:first-child):before {
	border-color: #6f6f6f;
	border-style: solid;
	box-sizing: content-box;
	font-size: 16px;
	font-weight: 600;
	height: 30px;
	line-height: 28px;
	margin-top: -53px;
	padding: 4px;
	position: absolute;
	text-align: center;
	width: 30px;
}
.cnjnctn-type-or [class*=cnjnctn-col]:not(:first-child):before {
	border-radius: 50%;
	border-width: 3px;
}
.cnjnctn-type-and [class*=cnjnctn-col]:not(:first-child):before {
	border-width: 0px 3px 0px 3px;
}
html:lang(en) .cnjnctn-type-and [class*=cnjnctn-col]:not(:first-child):before {
	content: "and";
}
html:lang(fr) .cnjnctn-type-and [class*=cnjnctn-col]:not(:first-child):before {
	content: "et";
}
html:lang(en) .cnjnctn-type-or [class*=cnjnctn-col]:not(:first-child):before {
	content: "or";
}
html:lang(fr) .cnjnctn-type-or [class*=cnjnctn-col]:not(:first-child):before {
	content: "ou";
}
[class*=cnjnctn-type-] .cnjnctn-col-90 {
	flex-basis: 90%
}
[class*=cnjnctn-type-] .cnjnctn-col-80 {
	flex-basis: 80%
}
[class*=cnjnctn-type-] .cnjnctn-col-75 {
	flex-basis: 75%
}
[class*=cnjnctn-type-] .cnjnctn-col-70 {
	flex-basis: 70%
}
[class*=cnjnctn-type-] .cnjnctn-col-60 {
	flex-basis: 60%
}
[class*=cnjnctn-type-] .cnjnctn-col-50 {
	flex-basis: 50%
}
[class*=cnjnctn-type-] .cnjnctn-col-40 {
	flex-basis: 40%
}
[class*=cnjnctn-type-] .cnjnctn-col-30 {
	flex-basis: 30%
}
[class*=cnjnctn-type-] .cnjnctn-col-25 {
	flex-basis: 25%
}
[class*=cnjnctn-type-] .cnjnctn-col-20 {
	flex-basis: 20%
}
[class*=cnjnctn-type-].cnjnctn-xs {
	flex-direction: row;
	margin-left: -15px;
	margin-right: -15px;
}
[class*=cnjnctn-type-].cnjnctn-xs [class*=cnjnctn-col]:not(:first-child):after {
	background-image: linear-gradient(to bottom, #6f6f6f 6px, #6f6f6f 6px, rgba(0,0,0,0) 6px, rgba(0,0,0,0) 46px, #6f6f6f 46px, #6f6f6f 46px);
}
[class*=cnjnctn-type-].cnjnctn-xs [class*=cnjnctn-col]:not(:first-child) {
	margin-left: 30px;
}
[class*=cnjnctn-type-].cnjnctn-xs [class*=cnjnctn-col]:not(:first-child):after {
	margin-left: -46px;
}
.cnjnctn-type-or.cnjnctn-xs [class*=cnjnctn-col]:not(:first-child):before {
	margin-left: -67px;
}
.cnjnctn-type-and.cnjnctn-xs [class*=cnjnctn-col]:not(:first-child):before {
	margin-left: -65.5px;
}
[class*=cnjnctn-type-].cnjnctn-xs [class*=cnjnctn-col]:not(:first-child):before {
	margin-top: 4px;
}
[class*=cnjnctn-type-].cnjnctn-xs [class*=cnjnctn-col]:not(:last-child) {
	margin-bottom: 0px;
}
[class*=cnjnctn-type-].cnjnctn-xs [class*=cnjnctn-col]:not(:first-child) {
	margin-top: 0px;
}
.cnjnctn-type-and.cnjnctn-xs [class*=cnjnctn-col]:not(:first-child):before {
	border-width: 3px 0px 3px 0px;
}

@media all and (min-width: 768px) {
[class*=cnjnctn-type-].cnjnctn-sm {
	border-left: 0px solid transparent;
	flex-direction: row;
	margin-left: -15px;
	margin-right: -15px;
}
[class*=cnjnctn-type-].cnjnctn-sm [class*=cnjnctn-col]:not(:first-child) {
	margin-left: 30px;
}
[class*=cnjnctn-type-].cnjnctn-sm [class*=cnjnctn-col]:not(:first-child):after {
	margin-left: -46px;
}
.cnjnctn-type-or.cnjnctn-sm [class*=cnjnctn-col]:not(:first-child):before {
	margin-left: -67px;
}
.cnjnctn-type-and.cnjnctn-sm [class*=cnjnctn-col]:not(:first-child):before {
	margin-left: -65.5px;
}
[class*=cnjnctn-type-].cnjnctn-sm [class*=cnjnctn-col]:not(:first-child):before {
	margin-top: 4px;
}
[class*=cnjnctn-type-].cnjnctn-sm [class*=cnjnctn-col]:not(:last-child) {
	margin-bottom: 0px;
}
[class*=cnjnctn-type-].cnjnctn-sm [class*=cnjnctn-col]:not(:first-child) {
	margin-top: 0px;
}
[class*=cnjnctn-type-].cnjnctn-sm [class*=cnjnctn-col]:not(:first-child):after {
	background-image: linear-gradient(to bottom, #6f6f6f 6px, #6f6f6f 6px, rgba(0,0,0,0) 6px, rgba(0,0,0,0) 46px, #6f6f6f 46px, #6f6f6f 46px);
}
.cnjnctn-type-and.cnjnctn-sm [class*=cnjnctn-col]:not(:first-child):before {
	border-width: 3px 0px 3px 0px;
}
}

@media all and (min-width: 992px) {
[class*=cnjnctn-type-].cnjnctn-md {
	border-left: 0px solid transparent;
	flex-direction: row;
	margin-left: -15px;
	margin-right: -15px;
}
[class*=cnjnctn-type-].cnjnctn-md [class*=cnjnctn-col]:not(:first-child) {
	margin-left: 30px;
}
[class*=cnjnctn-type-].cnjnctn-md [class*=cnjnctn-col]:not(:first-child):after {
	margin-left: -46px;
}
.cnjnctn-type-or.cnjnctn-md [class*=cnjnctn-col]:not(:first-child):before {
	margin-left: -67px;
}
.cnjnctn-type-and.cnjnctn-md [class*=cnjnctn-col]:not(:first-child):before {
	margin-left: -65.5px;
}
[class*=cnjnctn-type-].cnjnctn-md [class*=cnjnctn-col]:not(:first-child):before {
	margin-top: 4px;
}
[class*=cnjnctn-type-].cnjnctn-md [class*=cnjnctn-col]:not(:last-child) {
	margin-bottom: 0px;
}
[class*=cnjnctn-type-].cnjnctn-md [class*=cnjnctn-col]:not(:first-child) {
	margin-top: 0px;
}
[class*=cnjnctn-type-].cnjnctn-md [class*=cnjnctn-col]:not(:first-child):after {
	background-image: linear-gradient(to bottom, #6f6f6f 6px, #6f6f6f 6px, rgba(0,0,0,0) 6px, rgba(0,0,0,0) 46px, #6f6f6f 46px, #6f6f6f 46px);
}
.cnjnctn-type-and.cnjnctn-md [class*=cnjnctn-col]:not(:first-child):before {
	border-width: 3px 0px 3px 0px;
}
}

@media all and (min-width: 1200px) {
[class*=cnjnctn-type-].cnjnctn-lg {
	border-left: 0px solid transparent;
	flex-direction: row;
	margin-left: -15px;
	margin-right: -15px;
}
[class*=cnjnctn-type-].cnjnctn-lg [class*=cnjnctn-col]:not(:first-child) {
	margin-left: 30px;
}
[class*=cnjnctn-type-].cnjnctn-lg [class*=cnjnctn-col]:not(:first-child):after {
	margin-left: -46px;
}
.cnjnctn-type-or.cnjnctn-lg [class*=cnjnctn-col]:not(:first-child):before {
	margin-left: -67px;
}
.cnjnctn-type-and.cnjnctn-lg [class*=cnjnctn-col]:not(:first-child):before {
	margin-left: -65.5px;
}
[class*=cnjnctn-type-].cnjnctn-lg [class*=cnjnctn-col]:not(:first-child):before {
	margin-top: 4px;
}
[class*=cnjnctn-type-].cnjnctn-lg [class*=cnjnctn-col]:not(:last-child) {
	margin-bottom: 0px;
}
[class*=cnjnctn-type-].cnjnctn-lg [class*=cnjnctn-col]:not(:first-child) {
	margin-top: 0px;
}
[class*=cnjnctn-type-].cnjnctn-lg [class*=cnjnctn-col]:not(:first-child):after {
	background-image: linear-gradient(to bottom, #6f6f6f 6px, #6f6f6f 6px, rgba(0,0,0,0) 6px, rgba(0,0,0,0) 46px, #6f6f6f 46px, #6f6f6f 46px);
}
.cnjnctn-type-and.cnjnctn-lg [class*=cnjnctn-col]:not(:first-child):before {
	border-width: 3px 0px 3px 0px;
}
}
