ul[class*=cnjnctn-type-] {
  list-style-type: "";
  padding-left: 0;
}
[class*=cnjnctn-type-] {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  margin-bottom: 15px;
  margin-right: 0px;
  margin-top: 15px;
  min-height: 3em;
  position: relative;
}
[class*=cnjnctn-type-] > [class*=cnjnctn-col]:not(:first-child):after {
  border-left: 3px solid #6f6f6f;
  content: ' ';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
}
[class*=cnjnctn-type-] > [class*=cnjnctn-col] {
  width: 100%;
}
[class*=cnjnctn-type-]:not(.brdr-0) > [class*=cnjnctn-col] {
  padding-left: 15px;
  padding-right: 15px;
}
[class*=cnjnctn-type-] > [class*=cnjnctn-col] > :first-child:not([class*=mrgn-tp-]) {
  margin-top: 15px;
}
[class*=cnjnctn-type-] > [class*=cnjnctn-col] > :last-child:not([class*=mrgn-bttm-]) {
  margin-bottom: 0px;
}
[class*=cnjnctn-type-] > [class*=cnjnctn-col]:not(:last-child) {
  margin-bottom: 1.8em;
  margin-right: 1.5em;
}
[class*=cnjnctn-type-] > [class*=cnjnctn-col]:not(:first-child) {
  margin-top: 1.8em;
}
[class*=cnjnctn-type-] > [class*=cnjnctn-col]:not(:first-child):before {
  border-color: #6f6f6f;
  border-style: solid;
  box-sizing: content-box;
  font-size: 0.8em;
  font-weight: 600;
  height: 1.8em;
  left: auto;
  line-height: 1.7em;
  margin-top: -3.8em;
  padding: 0.3em;
  position: absolute;
  text-align: center;
  width: 1.8em;
}
.cnjnctn-type-or > [class*=cnjnctn-col]:not(:first-child):before {
  border-radius: 50%;
  border-width: 3px;
}
.cnjnctn-type-and > [class*=cnjnctn-col]:not(:first-child):before {
  border-width: 3px 0px 3px 0px;
}
html:lang(en) .cnjnctn-type-and > [class*=cnjnctn-col]:not(:first-child):before {
  content: "and";
}
html:lang(fr) .cnjnctn-type-and > [class*=cnjnctn-col]:not(:first-child):before {
  content: "et";
}
html:lang(en) .cnjnctn-type-or > [class*=cnjnctn-col]:not(:first-child):before {
  content: "or";
}
html:lang(fr) .cnjnctn-type-or > [class*=cnjnctn-col]:not(:first-child):before {
  content: "ou";
}
[class*=cnjnctn-type-] > .cnjnctn-col-90 {
  flex-basis: 90%
}
[class*=cnjnctn-type-] > .cnjnctn-col-80 {
  flex-basis: 80%
}
[class*=cnjnctn-type-] > .cnjnctn-col-75 {
  flex-basis: 75%
}
[class*=cnjnctn-type-] > .cnjnctn-col-70 {
  flex-basis: 70%
}
[class*=cnjnctn-type-] > .cnjnctn-col-60 {
  flex-basis: 60%
}
[class*=cnjnctn-type-] > .cnjnctn-col-50 {
  flex-basis: 50%
}
[class*=cnjnctn-type-] > .cnjnctn-col-40 {
  flex-basis: 40%
}
[class*=cnjnctn-type-] > .cnjnctn-col-30 {
  flex-basis: 30%
}
[class*=cnjnctn-type-] > .cnjnctn-col-25 {
  flex-basis: 25%
}
[class*=cnjnctn-type-] > .cnjnctn-col-20 {
  flex-basis: 20%
}
[class*=cnjnctn-type-].cnjnctn-xs {
  flex-direction: row;
}
[class*=cnjnctn-type-].cnjnctn-xs:not(.brdr-0) > [class*=cnjnctn-col] {
	min-height: 3em;
	padding-left: 0;
	padding-right: 0;
}
[class*=cnjnctn-type-].cnjnctn-xs > [class*=cnjnctn-col]:not(:first-child):after {
  border-image: linear-gradient(to bottom, #6f6f6f 0.3em, #6f6f6f 0.3em, transparent 0.3em, transparent 2.35em, #6f6f6f 2.35em, #6f6f6f 2.35em) 1 100%;
  border-left: 3px solid #6f6f6f;
}
@media (prefers-contrast: more) {
  [class*=cnjnctn-type-].cnjnctn-xs > [class*=cnjnctn-col]:not(:first-child):after {
    border-image: linear-gradient(to bottom, #ffffff 0.3em, #ffffff 0.3em, transparent 0.3em, transparent 2.35em, #ffffff 2.35em, #ffffff 2.35em) 1 100%;
  }
}
[class*=cnjnctn-type-].cnjnctn-xs > [class*=cnjnctn-col]:not(:first-child) {
  margin-left: 1.4em;
  position: relative;
}
[class*=cnjnctn-type-].cnjnctn-xs > [class*=cnjnctn-col]:not(:first-child):after {
  margin-left: -1.6em;
}
.cnjnctn-type-or.cnjnctn-xs > [class*=cnjnctn-col]:not(:first-child):before {
  margin-left: -3.3em;
}
.cnjnctn-type-and.cnjnctn-xs > [class*=cnjnctn-col]:not(:first-child):before {
  margin-left: -3.15em;
}
[class*=cnjnctn-type-].cnjnctn-xs > [class*=cnjnctn-col]:not(:first-child):before {
  margin-top: 0.3em;
}
[class*=cnjnctn-type-].cnjnctn-xs > [class*=cnjnctn-col]:not(:last-child) {
  margin-bottom: 0;
}
[class*=cnjnctn-type-].cnjnctn-xs > [class*=cnjnctn-col]:not(:first-child) {
  margin-top: 0;
}
.cnjnctn-type-and.cnjnctn-xs > [class*=cnjnctn-col]:not(:first-child):before {
  border-width: 3px 0px 3px 0px;
}
[class*=cnjnctn-type-].brdr-0 > [class*=cnjnctn-col]:after {
  border-left: none;
}
@media all and (min-width: 768px) {
  [class*=cnjnctn-type-].cnjnctn-sm {
    border-left: 0px solid transparent;
    flex-direction: row;
  }
  [class*=cnjnctn-type-].cnjnctn-sm > [class*=cnjnctn-col]:not(:first-child) {
    margin-left: 1.4em;
    position: relative;
  }
  [class*=cnjnctn-type-].cnjnctn-sm > [class*=cnjnctn-col]:not(:first-child):after {
    margin-left: -1.6em;
  }
  .cnjnctn-type-or.cnjnctn-sm > [class*=cnjnctn-col]:not(:first-child):before {
    margin-left: -3.3em;
  }
  .cnjnctn-type-and.cnjnctn-sm > [class*=cnjnctn-col]:not(:first-child):before {
    margin-left: -3.15em;
  }
  [class*=cnjnctn-type-].cnjnctn-sm > [class*=cnjnctn-col]:not(:first-child):before {
    margin-top: 0.3em;
  }
  [class*=cnjnctn-type-].cnjnctn-sm > [class*=cnjnctn-col]:not(:last-child) {
    margin-bottom: 0;
  }
  [class*=cnjnctn-type-].cnjnctn-sm > [class*=cnjnctn-col]:not(:first-child) {
    margin-top: 0;
  }
  [class*=cnjnctn-type-].cnjnctn-sm > [class*=cnjnctn-col]:not(:first-child):after {
    border-image: linear-gradient(to bottom, #6f6f6f 0.3em, #6f6f6f 0.3em, transparent 0.3em, transparent 2.35em, #6f6f6f 2.35em, #6f6f6f 2.35em) 1 100%;
    border-left: 3px solid #6f6f6f;
  }
  @media (prefers-contrast: more) {
    [class*=cnjnctn-type-].cnjnctn-sm > [class*=cnjnctn-col]:not(:first-child):after {
      border-image: linear-gradient(to bottom, #ffffff 0.3em, #ffffff 0.3em, transparent 0.3em, transparent 2.35em, #ffffff 2.35em, #ffffff 2.35em) 1 100%;
    }
  }
  .cnjnctn-type-and.cnjnctn-sm > [class*=cnjnctn-col]:not(:first-child):before {
    border-width: 3px 0px 3px 0px;
  }
  [class*=cnjnctn-type-].cnjnctn-sm:not(.brdr-0) > [class*=cnjnctn-col] {
	  min-height: 3em;
	  padding-left: 0;
	  padding-right: 0;
  }
}
@media all and (min-width: 992px) {
  [class*=cnjnctn-type-].cnjnctn-md {
    border-left: 0px solid transparent;
    flex-direction: row;
  }
  [class*=cnjnctn-type-].cnjnctn-md > [class*=cnjnctn-col]:not(:first-child) {
    margin-left: 1.4em;
    position: relative;
  }
  [class*=cnjnctn-type-].cnjnctn-md > [class*=cnjnctn-col]:not(:first-child):after {
    margin-left: -1.6em;
  }
  .cnjnctn-type-or.cnjnctn-md > [class*=cnjnctn-col]:not(:first-child):before {
    margin-left: -3.3em;
  }
  .cnjnctn-type-and.cnjnctn-md > [class*=cnjnctn-col]:not(:first-child):before {
    margin-left: -3.15em;
  }
  [class*=cnjnctn-type-].cnjnctn-md > [class*=cnjnctn-col]:not(:first-child):before {
    margin-top: 0.3em;
  }
  [class*=cnjnctn-type-].cnjnctn-md > [class*=cnjnctn-col]:not(:last-child) {
    margin-bottom: 0;
  }
  [class*=cnjnctn-type-].cnjnctn-md > [class*=cnjnctn-col]:not(:first-child) {
    margin-top: 0;
  }
  [class*=cnjnctn-type-].cnjnctn-md > [class*=cnjnctn-col]:not(:first-child):after {
    border-image: linear-gradient(to bottom, #6f6f6f 0.3em, #6f6f6f 0.3em, transparent 0.3em, transparent 2.35em, #6f6f6f 2.35em, #6f6f6f 2.35em) 1 100%;
    border-left: 3px solid #6f6f6f;
  }
  @media (prefers-contrast: more) {
    [class*=cnjnctn-type-].cnjnctn-md > [class*=cnjnctn-col]:not(:first-child):after {
      border-image: linear-gradient(to bottom, #ffffff 0.3em, #ffffff 0.3em, transparent 0.3em, transparent 2.35em, #ffffff 2.35em, #ffffff 2.35em) 1 100%;
    }
  }
  .cnjnctn-type-and.cnjnctn-md > [class*=cnjnctn-col]:not(:first-child):before {
    border-width: 3px 0px 3px 0px;
  }
  [class*=cnjnctn-type-].cnjnctn-md:not(.brdr-0) > [class*=cnjnctn-col] {
	  min-height: 3em;
	  padding-left: 0;
	  padding-right: 0;
  }
}
@media all and (min-width: 1200px) {
  [class*=cnjnctn-type-].cnjnctn-lg {
    border-left: 0px solid transparent;
    flex-direction: row;
  }
  [class*=cnjnctn-type-].cnjnctn-lg > [class*=cnjnctn-col]:not(:first-child) {
    margin-left: 1.4em;
    position: relative;
  }
  [class*=cnjnctn-type-].cnjnctn-lg > [class*=cnjnctn-col]:not(:first-child):after {
    margin-left: -1.6em;
  }
  .cnjnctn-type-or.cnjnctn-lg > [class*=cnjnctn-col]:not(:first-child):before {
    margin-left: -3.3em;
  }
  .cnjnctn-type-and.cnjnctn-lg > [class*=cnjnctn-col]:not(:first-child):before {
    margin-left: -3.15em;
  }
  [class*=cnjnctn-type-].cnjnctn-lg > [class*=cnjnctn-col]:not(:first-child):before {
    margin-top: 0.3em;
  }
  [class*=cnjnctn-type-].cnjnctn-lg > [class*=cnjnctn-col]:not(:last-child) {
    margin-bottom: 0;
  }
  [class*=cnjnctn-type-].cnjnctn-lg > [class*=cnjnctn-col]:not(:first-child) {
    margin-top: 0;
  }
  [class*=cnjnctn-type-].cnjnctn-lg > [class*=cnjnctn-col]:not(:first-child):after {
    border-image: linear-gradient(to bottom, #6f6f6f 0.3em, #6f6f6f 0.3em, transparent 0.3em, transparent 2.35em, #6f6f6f 2.35em, #6f6f6f 2.35em) 1 100%;
    border-left: 3px solid #6f6f6f;
  }
  @media (prefers-contrast: more) {
    [class*=cnjnctn-type-].cnjnctn-lg > [class*=cnjnctn-col]:not(:first-child):after {
      border-image: linear-gradient(to bottom, #ffffff 0.3em, #ffffff 0.3em, transparent 0.3em, transparent 2.35em, #ffffff 2.35em, #ffffff 2.35em) 1 100%;
    }
  }
  .cnjnctn-type-and.cnjnctn-lg > [class*=cnjnctn-col]:not(:first-child):before {
    border-width: 3px 0px 3px 0px;
  }
  [class*=cnjnctn-type-].cnjnctn-lg:not(.brdr-0) > [class*=cnjnctn-col] {
	  min-height: 3em;
	  padding-left: 0;
	  padding-right: 0;
  }
}
