---
title: Conjunctions (and/or)
dateModified: 2025-05-30
description: "Conjunctions for stacked or side by side decision points, and/or"
lang: en
css:
- and-or.css
---
<p>Providing a more visual seperation between two decision points by a visual cue (or) based on user testing.  Also provide a connecting conjunction to show two parts are connected (and).</p>

<nav>
	<h2 class="h5">Table of content</h2>
	<ul>
		<li>And/Or decision points (Conjunctions)</li>
		<li><a href="index-fr.html" hreflang="fr"><span lang="en">And/Or decision points (Conjunctions)</span> - Français</a></li>
		<li><a href="edge-cases.html">Edge cases of And/Or decision points (Conjunctions)</a></li>
	</ul>
</nav>

<h2>GCWeb implementation plan</h2>

{% assign implPlan = site.pages | where: "output", "false" | where: "componentName", "2021-05-conjunction" | first %}

<ul>
{% for deliverable in implPlan.implementationPlan %}
	<li>{{ deliverable.due }} - {{ deliverable.what }}</li>
{% endfor %}
</ul>

<p>Todo and for future consideration</p>
<ul>
{% for todo in implPlan.todos %}
	<li>{{ todo }}</li>
{% endfor %}
</ul>

<p>Sponsor: {{ implPlan.sponsor }}</p>
  <ul class="list-inline">
    <li><a class="btn btn-primary" href="conjunction-doc-en.html">Documentation</a></li>
    <li><a class="btn btn-primary" href="https://github.com/wet-boew/GCWeb/issues/new?title=Conjunction">Questions or comments?</a></li>
  </ul>
  <section>
    <h2>On this page</h2>
    <ul>
      <li><a href="#basic">Basic configuration</a></li>
      <li><a href="#responsive">Responsive designs</a></li>
      <li><a href="#custom">Customization</a></li>
      <li><a href="#flex">Flexible designs</a></li>
    </ul>
  </section>
  <section>
    <h2 id="basic">Basic configurations</h2>
    <p>The design can be configured using a list, or a simple block element.</p>
    <h3>With headers</h3>
    <div class="row">
      <div class="col-md-6">
        <h4>Or design</h4>
        <p>Lead in statement:</p>
        <ul class="cnjnctn-type-or">
          <li class="cnjnctn-col">
            <h5>Header A<span class="wb-inv">: Option 1 of 2</span></h5>
            <p>This is content for header A
            <p>
          </li>
          <li class="cnjnctn-col">
            <h5>Header B<span class="wb-inv">: Option 2 of 2</span></h5>
            <p>This is content for header B</p>
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <h4>And design</h4>
        <p>Lead in statement:</p>
        <ul class="cnjnctn-type-and">
          <li class="cnjnctn-col">
            <h5>Header A</h5>
            <p>This is content for part A</p>
          </li>
          <li class="cnjnctn-col">
            <h5>Header B</h5>
            <p>This is content for part B</p>
          </li>
        </ul>
      </div>
    </div>
    <details>
      <summary>View code</summary>
      <pre><code>//List element "or" design
&lt;p&gt;Lead in statement:&lt;/p&gt;
&lt;ul class=&quot;cnjnctn-type-or&quot;&gt;
    &lt;li class=&quot;cnjnctn-col&quot;&gt;
        &lt;h5&gt;Header A&lt;span class=&quot;wb-inv&quot;&gt;: Option 1 of 2&lt;/span&gt;&lt;/h5&gt;
        &lt;p&gt;This is content for option A&lt;/p&gt;
    &lt;/li&gt;
	&lt;li class=&quot;cnjnctn-col&quot;&gt;
        &lt;h5&gt;Header B&lt;span class=&quot;wb-inv&quot;&gt;: Option 2 of 2&lt;/span&gt;&lt;/h5&gt;
        &lt;p&gt;This is content for option B&lt;/p&gt;
    &lt;/li&gt;
&lt;/ul&gt;

//List element "and" design
&lt;p&gt;Lead in statement:&lt;/p&gt;
&lt;ul class=&quot;cnjnctn-type-and&quot;&gt;
	&lt;li class=&quot;cnjnctn-col&quot;&gt;
        &lt;h5&gt;Header A&lt;/h5&gt;
        &lt;p&gt;This is content for  part A&lt;/p&gt;
    &lt;/li&gt;
    &lt;li class=&quot;cnjnctn-col&quot;&gt;
        &lt;h5&gt;Header B&lt;/h5&gt;
        &lt;p&gt;This is content for part B&lt;/p&gt;
    &lt;/li&gt;
&lt;/ul&gt;

//Block element (e.g. &lt;div&gt;) &quot;or&quot; design
&lt;p&gt;Lead in statement:&lt;/p&gt;
&lt;div class=&quot;cnjnctn-type-or&quot;&gt;
    &lt;section class=&quot;cnjnctn-col&quot;&gt;
        &lt;h5&gt;Header A&lt;span class=&quot;wb-inv&quot;&gt;: Option 1 of 2&lt;/span&gt;&lt;/h5&gt;
        &lt;p&gt;This is content for option A&lt;/p&gt;
    &lt;/section&gt;
    &lt;section class=&quot;cnjnctn-col&quot;&gt;
        &lt;h5&gt;Header B&lt;span class=&quot;wb-inv&quot;&gt;: Option 2 of 2&lt;/span&gt;&lt;/h5&gt;
        &lt;p&gt;This is content for option B&lt;/p&gt;
    &lt;/section&gt;
&lt;/div&gt;

//Block element "and" design
&lt;p&gt;Lead in statement:&lt;/p&gt;
&lt;div class=&quot;cnjnctn-type-and&quot;&gt;
    &lt;section class=&quot;cnjnctn-col&quot;&gt;
        &lt;h5&gt;Header A&lt;/h5&gt;
        &lt;p&gt;This is content for part A&lt;/p&gt;
    &lt;/section&gt;
    &lt;section class=&quot;cnjnctn-col&quot;&gt;
        &lt;h5&gt;Header B&lt;/h5&gt;
        &lt;p&gt;This is content for part B&lt;/p&gt;
    &lt;/section&gt;
&lt;/div&gt;</code>
  </pre>
    </details>
    <h3>Without headers</h3>
    <div class="row">
      <div class="col-md-6">
        <h4>Or design</h4>
        <p>Lead in statement:</p>
        <ul class="cnjnctn-type-or">
          <li class="cnjnctn-col">This is content for option A</li>
          <li class="cnjnctn-col">This is content for option B</li>
        </ul>
      </div>
      <div class="col-md-6">
        <h3>And design</h3>
        <p>Lead in statement:</p>
        <ul class="cnjnctn-type-and">
          <li class="cnjnctn-col">This is content for part A</li>
          <li class="cnjnctn-col">This is content for part B</li>
        </ul>
      </div>
    </div>
    <details>
      <summary>View code</summary>
      <pre><code>//List element "or" design
&lt;p&gt;Lead in statement:&lt;/p&gt;
&lt;ul class=&quot;cnjnctn-type-or&quot;&gt;
    &lt;li class=&quot;cnjnctn-col&quot;&gt;
        This is content for option A
    &lt;/li&gt;
    &lt;li class=&quot;cnjnctn-col&quot;&gt;
        This is content for option B
    &lt;/li&gt;
&lt;/ul&gt;

//List element "and" design
&lt;p&gt;Lead in statement:&lt;/p&gt;
&lt;ul class=&quot;cnjnctn-type-and&quot;&gt;
    &lt;li class=&quot;cnjnctn-col&quot;&gt;
        This is content for part A
    &lt;/li&gt;
    &lt;li class=&quot;cnjnctn-col&quot;&gt;
        This is content for part B
    &lt;/li&gt;
&lt;/ul&gt;

//Block element (e.g. &lt;div&gt;) &quot;or&quot; design
&lt;p&gt;Lead in statement:&lt;/p&gt;
&lt;div class=&quot;cnjnctn-type-or&quot;&gt;
    &lt;div class=&quot;cnjnctn-col&quot;&gt;
        &lt;p&gt;This is content for option A&lt;/p&gt;
    &lt;/div&gt;
    &lt;div class=&quot;cnjnctn-col&quot;&gt;
        &lt;p&gt;This is content for option B&lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;

//Block element "and" design
&lt;p&gt;Lead in statement:&lt;/p&gt;
&lt;div class=&quot;cnjnctn-type-and&quot;&gt;
    &lt;div class=&quot;cnjnctn-col&quot;&gt;
        &lt;p&gt;This is content for part A&lt;/p&gt;
    &lt;/div&gt;
    &lt;div class=&quot;cnjnctn-col&quot;&gt;
        &lt;p&gt;This is content for part B&lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;</code>
  </pre>
    </details>
  </section>
  <section>
    <h2 id="responsive">Responsive designs</h2>
    <p>For the examples that follow, the code will be using a block element for simplicity.  However they can also be coded using a list element (as long as the content still respects all guidance on using lists).</p>
    <p>Using these extra classes creates a side-by-side design above a certain pixel resolution (follows the WET4 responsive break points).</p>
    <p>The default design (as shown above) is stacked on all resolutions and never is side-by-side.</p>
    <p>Use your browser to resize the view of the page to see how the design reacts in different resolutions.</p>
    <h3>Always side-by-side</h3>
    <p>This design does not stack, on any resolution</p>
    <h4 class="mrgn-tp-sm">Or design</h4>
    <p>Lead in statement:</p>
    <div class="cnjnctn-type-or cnjnctn-xs">
      <section class="cnjnctn-col">
        <h5>Header A<span class="wb-inv">: Option 1 of 2</span></h5>
        <p>This is content for header A </p>
      </section>
      <section class="cnjnctn-col">
        <h5>Header B<span class="wb-inv">: Option 2 of 2</span></h5>
        <p>This is content for header B</p>
      </section>
    </div>
    <h4 class="mrgn-tp-sm">And design</h4>
    <p>Lead in statement:</p>
    <div class="cnjnctn-type-and cnjnctn-xs">
      <section class="cnjnctn-col">
        <h5>Header A</h5>
        <p>This is content for header A </p>
      </section>
      <section class="cnjnctn-col">
        <h5>Header B</h5>
        <p>This is content for header B</p>
      </section>
    </div>
    <details>
      <summary>View code</summary>
      <pre><code>//Or design
&lt;p&gt;Lead in statement:&lt;/p&gt;
&lt;div class=&quot;cnjnctn-type-or cnjnctn-xs&quot;&gt;
	&lt;section class=&quot;cnjnctn-col&quot;&gt;
		&lt;h5&gt;Header A&lt;span class=&quot;wb-inv&quot;&gt;: Option 1 of 2&lt;/span&gt;&lt;/h5&gt;
		&lt;p&gt;This is content for header A &lt;/p&gt;
	&lt;/section&gt;
	&lt;section class=&quot;cnjnctn-col&quot;&gt;
		&lt;h5&gt;Header B&lt;span class=&quot;wb-inv&quot;&gt;: Option 2 of 2&lt;/span&gt;&lt;/h5&gt;
		&lt;p&gt;This is content for header B&lt;/p&gt;
	&lt;/section&gt;
&lt;/div&gt;
//And design
&lt;p&gt;Lead in statement:&lt;/p&gt;
&lt;div class=&quot;cnjnctn-type-and cnjnctn-xs&quot;&gt;
	&lt;section class=&quot;cnjnctn-col&quot;&gt;
		&lt;h5&gt;Header A&lt;/h5&gt;
		&lt;p&gt;This is content for header A &lt;/p&gt;
	&lt;/section&gt;
	&lt;section class=&quot;cnjnctn-col&quot;&gt;
		&lt;h5&gt;Header B&lt;/h5&gt;
		&lt;p&gt;This is content for header B&lt;/p&gt;
	&lt;/section&gt;
&lt;/div&gt;</code></pre>
    </details>
    <h3>Side-by-side &#x2265; 768px</h3>
    <p>This design stacks on 767px and below.</p>
    <h4 class="mrgn-tp-sm">Or design</h4>
    <p>Lead in statement:</p>
    <div class="cnjnctn-type-or cnjnctn-sm">
      <section class="cnjnctn-col">
        <h5>Header A<span class="wb-inv">: Option 1 of 2</span></h5>
        <p>This is content for header A </p>
      </section>
      <section class="cnjnctn-col">
        <h5>Header B<span class="wb-inv">: Option 2 of 2</span></h5>
        <p>This is content for header B</p>
      </section>
    </div>
    <h4 class="mrgn-tp-sm">And design</h4>
    <p>Lead in statement:</p>
    <div class="cnjnctn-type-and cnjnctn-sm">
      <section class="cnjnctn-col">
        <h5>Header A</h5>
        <p>This is content for header A </p>
      </section>
      <section class="cnjnctn-col">
        <h5>Header B</h5>
        <p>This is content for header B</p>
      </section>
    </div>
    <details>
      <summary>View code</summary>
      <pre><code>//Or design
&lt;p&gt;Lead in statement:&lt;/p&gt;
&lt;div class=&quot;cnjnctn-type-or cnjnctn-sm&quot;&gt;
	&lt;div class=&quot;cnjnctn-col&quot;&gt;
		&lt;h5&gt;Header A&lt;span class=&quot;wb-inv&quot;&gt;: Option 1 of 2&lt;/span&gt;&lt;/h5&gt;
		&lt;p&gt;This is content for header A &lt;/p&gt;
	&lt;/div&gt;
	&lt;div class=&quot;cnjnctn-col&quot;&gt;
		&lt;h5&gt;Header B&lt;span class=&quot;wb-inv&quot;&gt;: Option 2 of 2&lt;/span&gt;&lt;/h5&gt;
		&lt;p&gt;This is content for header B&lt;/p&gt;
	&lt;/div&gt;
&lt;/div&gt;
//And design
&lt;p&gt;Lead in statement:&lt;/p&gt;
&lt;div class=&quot;cnjnctn-type-and cnjnctn-sm&quot;&gt;
	&lt;div class=&quot;cnjnctn-col&quot;&gt;
		&lt;h5&gt;Header A&lt;/h5&gt;
		&lt;p&gt;This is content for header A &lt;/p&gt;
	&lt;/div&gt;
	&lt;div class=&quot;cnjnctn-col&quot;&gt;
		&lt;h5&gt;Header B&lt;/h5&gt;
		&lt;p&gt;This is content for header B&lt;/p&gt;
	&lt;/div&gt;
&lt;/div&gt;</code></pre>
    </details>
    <h3>Side-by-side &#x2265; 992px</h3>
    <p>This design stacks on 991px and below.</p>
    <h4 class="mrgn-tp-sm">Or design</h4>
    <p>Lead in statement:</p>
    <div class="cnjnctn-type-or cnjnctn-md">
      <div class="cnjnctn-col">
        <h5>Header A<span class="wb-inv">: Option 1 of 2</span></h5>
        <p>This is content for header A </p>
      </div>
      <div class="cnjnctn-col">
        <h5>Header B<span class="wb-inv">: Option 2 of 2</span></h5>
        <p>This is content for header B</p>
      </div>
    </div>
    <h4 class="mrgn-tp-sm">And design</h4>
    <p>Lead in statement:</p>
    <div class="cnjnctn-type-and cnjnctn-md">
      <div class="cnjnctn-col">
        <h5>Header A</h5>
        <p>This is content for header A </p>
      </div>
      <div class="cnjnctn-col">
        <h5>Header B</h5>
        <p>This is content for header B</p>
      </div>
    </div>
    <details>
      <summary>View code</summary>
      <pre><code>//Or design
&lt;p&gt;Lead in statement:&lt;/p&gt;
&lt;div class=&quot;cnjnctn-type-or cnjnctn-md&quot;&gt;
	&lt;div class=&quot;cnjnctn-col&quot;&gt;
		&lt;h5&gt;Header A&lt;span class=&quot;wb-inv&quot;&gt;: Option 1 of 2&lt;/span&gt;&lt;/h5&gt;
		&lt;p&gt;This is content for header A &lt;/p&gt;
	&lt;/div&gt;
	&lt;div class=&quot;cnjnctn-col&quot;&gt;
		&lt;h5&gt;Header B&lt;span class=&quot;wb-inv&quot;&gt;: Option 2 of 2&lt;/span&gt;&lt;/h5&gt;
		&lt;p&gt;This is content for header B&lt;/p&gt;
	&lt;/div&gt;
&lt;/div&gt;
//And design
&lt;p&gt;Lead in statement:&lt;/p&gt;
&lt;div class=&quot;cnjnctn-type-and cnjnctn-md&quot;&gt;
	&lt;div class=&quot;cnjnctn-col&quot;&gt;
		&lt;h5&gt;Header A&lt;/h5&gt;
		&lt;p&gt;This is content for header A &lt;/p&gt;
	&lt;/div&gt;
	&lt;div class=&quot;cnjnctn-col&quot;&gt;
		&lt;h5&gt;Header B&lt;/h5&gt;
		&lt;p&gt;This is content for header B&lt;/p&gt;
	&lt;/div&gt;
&lt;/div&gt;</code></pre>
    </details>
    <h3>Side-by-side &#x2265; 1200px</h3>
    <p>This design stacks on 1199px and below.</p>
    <h4 class="mrgn-tp-sm">Or design</h4>
    <p>Lead in statement:</p>
    <div class="cnjnctn-type-or cnjnctn-lg">
      <div class="cnjnctn-col">
        <h5>Header A<span class="wb-inv">: Option 1 of 2</span></h5>
        <p>This is content for header A </p>
      </div>
      <div class="cnjnctn-col">
        <h5>Header B<span class="wb-inv">: Option 2 of 2</span></h5>
        <p>This is content for header B</p>
      </div>
    </div>
    <h4 class="mrgn-tp-sm">And design</h4>
    <p>Lead in statement:</p>
    <div class="cnjnctn-type-and cnjnctn-lg">
      <div class="cnjnctn-col">
        <h5>Header A</h5>
        <p>This is content for header A </p>
      </div>
      <div class="cnjnctn-col">
        <h5>Header B</h5>
        <p>This is content for header B</p>
      </div>
    </div>
    <details>
      <summary>View code</summary>
      <pre><code>//Or design
&lt;p&gt;Lead in statement:&lt;/p&gt;
&lt;div class=&quot;cnjnctn-type-or cnjnctn-lg&quot;&gt;
	&lt;div class=&quot;cnjnctn-col&quot;&gt;
		&lt;h5&gt;Header A&lt;span class=&quot;wb-inv&quot;&gt;: Option 1 of 2&lt;/span&gt;&lt;/h5&gt;
		&lt;p&gt;This is content for header A &lt;/p&gt;
	&lt;/div&gt;
	&lt;div class=&quot;cnjnctn-col&quot;&gt;
		&lt;h5&gt;Header B&lt;span class=&quot;wb-inv&quot;&gt;: Option 2 of 2&lt;/span&gt;&lt;/h5&gt;
		&lt;p&gt;This is content for header B&lt;/p&gt;
	&lt;/div&gt;
&lt;/div&gt;
//And design
&lt;p&gt;Lead in statement:&lt;/p&gt;
&lt;div class=&quot;cnjnctn-type-and cnjnctn-lg&quot;&gt;
	&lt;div class=&quot;cnjnctn-col&quot;&gt;
		&lt;h5&gt;Header A&lt;/h5&gt;
		&lt;p&gt;This is content for header A &lt;/p&gt;
	&lt;/div&gt;
	&lt;div class=&quot;cnjnctn-col&quot;&gt;
		&lt;h5&gt;Header B&lt;/h5&gt;
		&lt;p&gt;This is content for header B&lt;/p&gt;
	&lt;/div&gt;
&lt;/div&gt;</code></pre>
    </details>
  </section>
  <section>
    <h2 id="custom">Customization</h2>
    <p>For the examples that follow, the examples will be using a block element and mostly the "or" design for simplicity.  However they can also be coded using a list element and using the "and" design.</p>
    <h3>Custom column widths</h3>
    <section>
      <h4>Column set to 90% of original width (example stacks on medium devices)</h4>
      <p>Lead in statement:</p>
      <div class="cnjnctn-type-or cnjnctn-lg">
        <div class="cnjnctn-col-90">
          <h5>Header A<span class="wb-inv">: Option 1 of 2</span></h5>
          <p>This is content for header A (at 90% of default <code>cnjnctn-col-90</code>)</p>
        </div>
        <div class="cnjnctn-col">
          <h5>Header B<span class="wb-inv">: Option 2 of 2</span></h5>
          <p>This is content for header B</p>
          <p>Nam fermentum cursus sodales. Mauris leo leo, congue et fringilla in, egestas eu sapien. </p>
        </div>
      </div>
    </section>
    <section>
      <h4>Column set to 80% of original width (example stacks on medium devices)</h4>
      <p>Lead in statement:</p>
      <div class="cnjnctn-type-or cnjnctn-lg">
        <div class="cnjnctn-col-80">
          <h5>Header A<span class="wb-inv">: Option 1 of 2</span></h5>
          <p>This is content for header A (at 80% of default <code>cnjnctn-col-80</code>)</p>
        </div>
        <div class="cnjnctn-col">
          <h5>Header B<span class="wb-inv">: Option 2 of 2</span></h5>
          <p>This is content for header B</p>
          <p>Nam fermentum cursus sodales. Mauris leo leo, congue et fringilla in, egestas eu sapien. </p>
        </div>
      </div>
    </section>
    <section>
      <h4>Column set to 75% of original width (example stacks on medium devices)</h4>
      <p>Lead in statement:</p>
      <div class="cnjnctn-type-or cnjnctn-lg">
        <div class="cnjnctn-col-75">
          <h5>Header A<span class="wb-inv">: Option 1 of 2</span></h5>
          <p>This is content for header A (at 75% of default <code>cnjnctn-col-75</code>)</p>
        </div>
        <div class="cnjnctn-col">
          <h5>Header B<span class="wb-inv">: Option 2 of 2</span></h5>
          <p>This is content for header B</p>
          <p>Nam fermentum cursus sodales. Mauris leo leo, congue et fringilla in, egestas eu sapien. </p>
        </div>
      </div>
    </section>
    <section>
      <h4>Column set to 70% of original width (example stacks on medium devices)</h4>
      <p>Lead in statement:</p>
      <div class="cnjnctn-type-or cnjnctn-lg">
        <div class="cnjnctn-col-70">
          <h5>Header A<span class="wb-inv">: Option 1 of 2</span></h5>
          <p>This is content for header A (at 70% of default <code>cnjnctn-col-70</code>)</p>
        </div>
        <div class="cnjnctn-col">
          <h5>Header B<span class="wb-inv">: Option 2 of 2</span></h5>
          <p>This is content for header B</p>
          <p>Nam fermentum cursus sodales. Mauris leo leo, congue et fringilla in, egestas eu sapien. </p>
        </div>
      </div>
    </section>
    <section>
      <h4>Column set to 60% of original width (example stacks on medium devices)</h4>
      <p>Lead in statement:</p>
      <div class="cnjnctn-type-or cnjnctn-lg">
        <div class="cnjnctn-col-60">
          <h5>Header A<span class="wb-inv">: Option 1 of 2</span></h5>
          <p>This is content for header A (at 60% of default <code>cnjnctn-col-60</code>)</p>
        </div>
        <div class="cnjnctn-col">
          <h5>Header B<span class="wb-inv">: Option 2 of 2</span></h5>
          <p>This is content for header B</p>
          <p>Nam fermentum cursus sodales. Mauris leo leo, congue et fringilla in, egestas eu sapien. </p>
        </div>
      </div>
    </section>
    <section>
      <h4>Column set to 50% of original width (example stacks on medium devices)</h4>
      <p>Lead in statement:</p>
      <div class="cnjnctn-type-or cnjnctn-lg">
        <div class="cnjnctn-col-50">
          <h5>Header A<span class="wb-inv">: Option 1 of 2</span></h5>
          <p>This is content for header A (at 50% of default <code>cnjnctn-col-50</code>)</p>
        </div>
        <div class="cnjnctn-col">
          <h5>Header B<span class="wb-inv">: Option 2 of 2</span></h5>
          <p>This is content for header B</p>
          <p>Nam fermentum cursus sodales. Mauris leo leo, congue et fringilla in, egestas eu sapien. </p>
        </div>
      </div>
    </section>
    <section>
      <h4>Column set to 40% of original width (example stacks on medium devices)</h4>
      <p>Lead in statement:</p>
      <div class="cnjnctn-type-or cnjnctn-lg">
        <div class="cnjnctn-col-40">
          <h5>Header A<span class="wb-inv">: Option 1 of 2</span></h5>
          <p>This is content for header A (at 40% of default <code>cnjnctn-col-40</code>)</p>
        </div>
        <div class="cnjnctn-col">
          <h5>Header B<span class="wb-inv">: Option 2 of 2</span></h5>
          <p>This is content for header B</p>
          <p>Nam fermentum cursus sodales. Mauris leo leo, congue et fringilla in, egestas eu sapien. </p>
        </div>
      </div>
    </section>
    <section>
      <h4>Column set to 30% of original width (example stacks on medium devices)</h4>
      <p>Lead in statement:</p>
      <div class="cnjnctn-type-or cnjnctn-lg">
        <div class="cnjnctn-col-30">
          <h5>Header A<span class="wb-inv">: Option 1 of 2</span></h5>
          <p>This is content for header A (at 30% of default <code>cnjnctn-col-30</code>)</p>
        </div>
        <div class="cnjnctn-col">
          <h5>Header B<span class="wb-inv">: Option 2 of 2</span></h5>
          <p>This is content for header B</p>
          <p>Nam fermentum cursus sodales. Mauris leo leo, congue et fringilla in, egestas eu sapien. </p>
        </div>
      </div>
    </section>
    <section>
      <h4>Column set to 25% of original width (example stacks on medium devices)</h4>
      <p>Lead in statement:</p>
      <div class="cnjnctn-type-or cnjnctn-lg">
        <div class="cnjnctn-col-25">
          <h5>Header A<span class="wb-inv">: Option 1 of 2</span></h5>
          <p>This is content for header A (at 25% of default <code>cnjnctn-col-25</code>)</p>
        </div>
        <div class="cnjnctn-col">
          <h5>Header B<span class="wb-inv">: Option 2 of 2</span></h5>
          <p>This is content for header B</p>
          <p>Nam fermentum cursus sodales. Mauris leo leo, congue et fringilla in, egestas eu sapien. </p>
        </div>
      </div>
    </section>
    <section>
      <h4>Column set to 20% of original width (example stacks on medium devices)</h4>
      <p>Lead in statement:</p>
      <div class="cnjnctn-type-or cnjnctn-lg">
        <div class="cnjnctn-col-20">
          <h5>Header A<span class="wb-inv">: Option 1 of 2</span></h5>
          <p>This is content for header A (at 20% of default <code>cnjnctn-col-20</code>)</p>
        </div>
        <div class="cnjnctn-col">
          <h5>Header B<span class="wb-inv">: Option 2 of 2</span></h5>
          <p>This is content for header B</p>
          <p>Nam fermentum cursus sodales. Mauris leo leo, congue et fringilla in, egestas eu sapien. </p>
        </div>
      </div>
    </section>
    <details>
      <summary>View code</summary>
      <pre><code>//90% of default width
&lt;p&gt;Lead in statement:&lt;/p&gt;
&lt;div class=&quot;cnjnctn-type-or cnjnctn-lg&quot;&gt;
	&lt;div class=&quot;cnjnctn-col-90&quot;&gt;
		&lt;h5&gt;Header A&lt;span class=&quot;wb-inv&quot;&gt;: Option 1 of 2&lt;/span&gt;&lt;/h5&gt;
		&lt;p&gt;This is content for header A &lt;/p&gt;
	&lt;/div&gt;
	&lt;div class=&quot;cnjnctn-col&quot;&gt;
		&lt;h5&gt;Header B&lt;span class=&quot;wb-inv&quot;&gt;: Option 2 of 2&lt;/span&gt;&lt;/h5&gt;
		&lt;p&gt;This is content for header B&lt;/p&gt;
		&lt;p&gt;Nam fermentum cursus sodales. Mauris leo leo, congue et fringilla in, egestas eu sapien. &lt;/p&gt;
	&lt;/div&gt;
&lt;/div&gt;
//80% of default width
&lt;p&gt;Lead in statement:&lt;/p&gt;
&lt;div class=&quot;cnjnctn-type-or cnjnctn-lg&quot;&gt;
	&lt;div class=&quot;cnjnctn-col-80&quot;&gt;
		&lt;h5&gt;Header A&lt;span class=&quot;wb-inv&quot;&gt;: Option 1 of 2&lt;/span&gt;&lt;/h5&gt;
		&lt;p&gt;This is content for header A &lt;/p&gt;
	&lt;/div&gt;
	&lt;div class=&quot;cnjnctn-col&quot;&gt;
		&lt;h5&gt;Header B&lt;span class=&quot;wb-inv&quot;&gt;: Option 2 of 2&lt;/span&gt;&lt;/h5&gt;
		&lt;p&gt;This is content for header B&lt;/p&gt;
		&lt;p&gt;Nam fermentum cursus sodales. Mauris leo leo, congue et fringilla in, egestas eu sapien. &lt;/p&gt;
	&lt;/div&gt;
&lt;/div&gt;
//75% of default width
&lt;p&gt;Lead in statement:&lt;/p&gt;
&lt;div class=&quot;cnjnctn-type-or cnjnctn-lg&quot;&gt;
	&lt;div class=&quot;cnjnctn-col-75&quot;&gt;
		&lt;h5&gt;Header A&lt;span class=&quot;wb-inv&quot;&gt;: Option 1 of 2&lt;/span&gt;&lt;/h5&gt;
		&lt;p&gt;This is content for header A &lt;/p&gt;
	&lt;/div&gt;
	&lt;div class=&quot;cnjnctn-col&quot;&gt;
		&lt;h5&gt;Header B&lt;span class=&quot;wb-inv&quot;&gt;: Option 2 of 2&lt;/span&gt;&lt;/h5&gt;
		&lt;p&gt;This is content for header B&lt;/p&gt;
		&lt;p&gt;Nam fermentum cursus sodales. Mauris leo leo, congue et fringilla in, egestas eu sapien. &lt;/p&gt;
	&lt;/div&gt;
&lt;/div&gt;
//70% of default width
&lt;p&gt;Lead in statement:&lt;/p&gt;
&lt;div class=&quot;cnjnctn-type-or cnjnctn-lg&quot;&gt;
	&lt;div class=&quot;cnjnctn-col-70&quot;&gt;
		&lt;h5&gt;Header A&lt;span class=&quot;wb-inv&quot;&gt;: Option 1 of 2&lt;/span&gt;&lt;/h5&gt;
		&lt;p&gt;This is content for header A &lt;/p&gt;
	&lt;/div&gt;
	&lt;div class=&quot;cnjnctn-col&quot;&gt;
		&lt;h5&gt;Header B&lt;span class=&quot;wb-inv&quot;&gt;: Option 2 of 2&lt;/span&gt;&lt;/h5&gt;
		&lt;p&gt;This is content for header B&lt;/p&gt;
		&lt;p&gt;Nam fermentum cursus sodales. Mauris leo leo, congue et fringilla in, egestas eu sapien. &lt;/p&gt;
	&lt;/div&gt;
&lt;/div&gt;
//60% of default width
&lt;p&gt;Lead in statement:&lt;/p&gt;
&lt;div class=&quot;cnjnctn-type-or cnjnctn-lg&quot;&gt;
	&lt;div class=&quot;cnjnctn-col-60&quot;&gt;
		&lt;h5&gt;Header A&lt;span class=&quot;wb-inv&quot;&gt;: Option 1 of 2&lt;/span&gt;&lt;/h5&gt;
		&lt;p&gt;This is content for header A &lt;/p&gt;
	&lt;/div&gt;
	&lt;div class=&quot;cnjnctn-col&quot;&gt;
		&lt;h5&gt;Header B&lt;span class=&quot;wb-inv&quot;&gt;: Option 2 of 2&lt;/span&gt;&lt;/h5&gt;
		&lt;p&gt;This is content for header B&lt;/p&gt;
		&lt;p&gt;Nam fermentum cursus sodales. Mauris leo leo, congue et fringilla in, egestas eu sapien. &lt;/p&gt;
	&lt;/div&gt;
&lt;/div&gt;
//50% of default width
&lt;p&gt;Lead in statement:&lt;/p&gt;
&lt;div class=&quot;cnjnctn-type-or cnjnctn-lg&quot;&gt;
	&lt;div class=&quot;cnjnctn-col-50&quot;&gt;
		&lt;h5&gt;Header A&lt;span class=&quot;wb-inv&quot;&gt;: Option 1 of 2&lt;/span&gt;&lt;/h5&gt;
		&lt;p&gt;This is content for header A &lt;/p&gt;
	&lt;/div&gt;
	&lt;div class=&quot;cnjnctn-col&quot;&gt;
		&lt;h5&gt;Header B&lt;span class=&quot;wb-inv&quot;&gt;: Option 2 of 2&lt;/span&gt;&lt;/h5&gt;
		&lt;p&gt;This is content for header B&lt;/p&gt;
		&lt;p&gt;Nam fermentum cursus sodales. Mauris leo leo, congue et fringilla in, egestas eu sapien. &lt;/p&gt;
	&lt;/div&gt;
&lt;/div&gt;
//40% of default width
&lt;p&gt;Lead in statement:&lt;/p&gt;
&lt;div class=&quot;cnjnctn-type-or cnjnctn-lg&quot;&gt;
	&lt;div class=&quot;cnjnctn-col-40&quot;&gt;
		&lt;h5&gt;Header A&lt;span class=&quot;wb-inv&quot;&gt;: Option 1 of 2&lt;/span&gt;&lt;/h5&gt;
		&lt;p&gt;This is content for header A &lt;/p&gt;
	&lt;/div&gt;
	&lt;div class=&quot;cnjnctn-col&quot;&gt;
		&lt;h5&gt;Header B&lt;span class=&quot;wb-inv&quot;&gt;: Option 2 of 2&lt;/span&gt;&lt;/h5&gt;
		&lt;p&gt;This is content for header B&lt;/p&gt;
		&lt;p&gt;Nam fermentum cursus sodales. Mauris leo leo, congue et fringilla in, egestas eu sapien. &lt;/p&gt;
	&lt;/div&gt;
&lt;/div&gt;
//30% of default width
&lt;p&gt;Lead in statement:&lt;/p&gt;
&lt;div class=&quot;cnjnctn-type-or cnjnctn-lg&quot;&gt;
	&lt;div class=&quot;cnjnctn-col-30&quot;&gt;
		&lt;h5&gt;Header A&lt;span class=&quot;wb-inv&quot;&gt;: Option 1 of 2&lt;/span&gt;&lt;/h5&gt;
		&lt;p&gt;This is content for header A &lt;/p&gt;
	&lt;/div&gt;
	&lt;div class=&quot;cnjnctn-col&quot;&gt;
		&lt;h5&gt;Header B&lt;span class=&quot;wb-inv&quot;&gt;: Option 2 of 2&lt;/span&gt;&lt;/h5&gt;
		&lt;p&gt;This is content for header B&lt;/p&gt;
		&lt;p&gt;Nam fermentum cursus sodales. Mauris leo leo, congue et fringilla in, egestas eu sapien. &lt;/p&gt;
	&lt;/div&gt;
&lt;/div&gt;
//25% of default width
&lt;p&gt;Lead in statement:&lt;/p&gt;
&lt;div class=&quot;cnjnctn-type-or cnjnctn-lg&quot;&gt;
	&lt;div class=&quot;cnjnctn-col-25&quot;&gt;
		&lt;h5&gt;Header A&lt;span class=&quot;wb-inv&quot;&gt;: Option 1 of 2&lt;/span&gt;&lt;/h5&gt;
		&lt;p&gt;This is content for header A &lt;/p&gt;
	&lt;/div&gt;
	&lt;div class=&quot;cnjnctn-col&quot;&gt;
		&lt;h5&gt;Header B&lt;span class=&quot;wb-inv&quot;&gt;: Option 2 of 2&lt;/span&gt;&lt;/h5&gt;
		&lt;p&gt;This is content for header B&lt;/p&gt;
		&lt;p&gt;Nam fermentum cursus sodales. Mauris leo leo, congue et fringilla in, egestas eu sapien. &lt;/p&gt;
	&lt;/div&gt;
&lt;/div&gt;
//20% of default width
&lt;p&gt;Lead in statement:&lt;/p&gt;
&lt;div class=&quot;cnjnctn-type-or cnjnctn-lg&quot;&gt;
	&lt;div class=&quot;cnjnctn-col-20&quot;&gt;
		&lt;h5&gt;Header A&lt;span class=&quot;wb-inv&quot;&gt;: Option 1 of 2&lt;/span&gt;&lt;/h5&gt;
		&lt;p&gt;This is content for header A &lt;/p&gt;
	&lt;/div&gt;
	&lt;div class=&quot;cnjnctn-col&quot;&gt;
		&lt;h5&gt;Header B&lt;span class=&quot;wb-inv&quot;&gt;: Option 2 of 2&lt;/span&gt;&lt;/h5&gt;
		&lt;p&gt;This is content for header B&lt;/p&gt;
		&lt;p&gt;Nam fermentum cursus sodales. Mauris leo leo, congue et fringilla in, egestas eu sapien. &lt;/p&gt;
	&lt;/div&gt;
&lt;/div&gt;
</code></pre>
    </details>
    <h3>No left border when stacked</h3>
    <h4>Basic configuration</h4>
    <div class="row">
      <div class="col-md-6">
        <section class="panel panel-default">
          <header class="panel-heading">
            <h5 class="panel-title">Or design</h5>
          </header>
          <div class="panel-body">
            <p>Lead in statement:</p>
            <div class="cnjnctn-type-or brdr-0">
              <div class="cnjnctn-col">This is content for option A </div>
              <div class="cnjnctn-col">This is content for option B</div>
            </div>
          </div>
        </section>
      </div>
      <div class="col-md-6">
        <section class="panel panel-default">
          <header class="panel-heading">
            <h5 class="panel-title">And design</h5>
          </header>
          <div class="panel-body">
            <p>Lead in statement:</p>
            <div class="cnjnctn-type-and brdr-0">
              <div class="cnjnctn-col">This is content for part A </div>
              <div class="cnjnctn-col">This is content for part B</div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <details>
      <summary>View code</summary>
      <pre><code>//Basic "or" design
&lt;section class=&quot;panel panel-default&quot;&gt;
...
&lt;p&gt;Lead in statement:&lt;/p&gt;
&lt;div class=&quot;cnjnctn-type-or brdr-0&quot;&gt;
	&lt;div class=&quot;cnjnctn-col&quot;&gt;
		This is content for option A
	&lt;/div&gt;
	&lt;div class=&quot;cnjnctn-col&quot;&gt;
		This is content for option B
	&lt;/div&gt;
&lt;/div&gt;
...
&lt;/section&gt;

//Basic "and" design
&lt;section class=&quot;panel panel-default&quot;&gt;
...
&lt;p&gt;Lead in statement:&lt;/p&gt;
&lt;div class=&quot;cnjnctn-type-and brdr-0&quot;&gt;
	&lt;div class=&quot;cnjnctn-col&quot;&gt;
		This is content for part A
	&lt;/div&gt;
	&lt;div class=&quot;cnjnctn-col&quot;&gt;
		This is content for part B
	&lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;
...
&lt;/section&gt;</code>
  </pre>
    </details>
    <h4>Side-by-side &#x2265; 992px</h4>
    <p>Use your browser to resize the view of the page to see that there is no left border when stacked.</p>
    <div class="row">
      <div class="col-md-6">
        <section class="panel panel-default">
          <header class="panel-heading">
            <h5 class="panel-title">Or design</h5>
          </header>
          <div class="panel-body">
            <p>Lead in statement:</p>
            <ul class="cnjnctn-type-or cnjnctn-md brdr-0">
              <li class="cnjnctn-col">This is content for option A </li>
              <li class="cnjnctn-col">This is content for option B</li>
            </ul>
          </div>
        </section>
      </div>
      <div class="col-md-6">
        <section class="panel panel-default">
          <header class="panel-heading">
            <h5 class="panel-title">And design</h5>
          </header>
          <div class="panel-body">
            <p>Lead in statement:</p>
            <ul class="cnjnctn-type-and cnjnctn-md brdr-0">
              <li class="cnjnctn-col">This is content for part A </li>
              <li class="cnjnctn-col">This is content for part B</li>
            </ul>
          </div>
        </section>
      </div>
    </div>
    <details>
      <summary>View code</summary>
      <pre><code>//Side-by-side above 991px "or" design
&lt;section class=&quot;panel panel-default&quot;&gt;
...
&lt;p&gt;Lead in statement:&lt;/p&gt;
&lt;div class=&quot;cnjnctn-type-or cnjnctn-md brdr-0&quot;&gt;
	&lt;div class=&quot;cnjnctn-col&quot;&gt;
		This is content for option A
	&lt;/div&gt;
	&lt;div class=&quot;cnjnctn-col&quot;&gt;
		This is content for option B
	&lt;/div&gt;
&lt;/div&gt;
...
&lt;/section&gt;

//Side-by-side above 991px "and" design
&lt;section class=&quot;panel panel-default&quot;&gt;
...
&lt;p&gt;Lead in statement:&lt;/p&gt;
&lt;div class=&quot;cnjnctn-type-and cnjnctn-md brdr-0&quot;&gt;
	&lt;div class=&quot;cnjnctn-col&quot;&gt;
		This is content for part A
	&lt;/div&gt;
	&lt;div class=&quot;cnjnctn-col&quot;&gt;
		This is content for part B
	&lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;
...
&lt;/section&gt;</code>
  </pre>
    </details>
  </section>
  <section>
    <h2 id="flex">Flexible designs</h2>
    <h3>Multiple columns</h3>
    <p>If you require more than four options (columns), consider the always stacked default design.</p>
    <section>
      <h4>Three columns (example stacks on small devices)</h4>
      <p>Lead in statement:</p>
      <div class="cnjnctn-type-or cnjnctn-md">
        <div class="cnjnctn-col">
          <h5>Header A<span class="wb-inv">: Option 1 of 3</span></h5>
          <p>This is content for header A </p>
        </div>
        <div class="cnjnctn-col">
          <h5>Header B<span class="wb-inv">: Option 2 of 3</span></h5>
          <p>This is content for header B</p>
        </div>
        <div class="cnjnctn-col">
          <h5>Header C<span class="wb-inv">: Option 3 of 3</span></h5>
          <p>This is content for header C</p>
        </div>
      </div>
    </section>
    <section>
      <h4>Four columns (example stacks on medium devices)</h4>
      <p>Lead in statement:</p>
      <div class="cnjnctn-type-or cnjnctn-lg">
        <div class="cnjnctn-col">
          <h5>Header A<span class="wb-inv">: Option 1 of 4</span></h5>
          <p>This is content for header A </p>
        </div>
        <div class="cnjnctn-col">
          <h5>Header B<span class="wb-inv">: Option 2 of 4</span></h5>
          <p>This is content for header B</p>
        </div>
        <div class="cnjnctn-col">
          <h5>Header C<span class="wb-inv">: Option 3 of 4</span></h5>
          <p>This is content for header C</p>
        </div>
        <div class="cnjnctn-col">
          <h5>Header D<span class="wb-inv">: Option 4 of 4</span></h5>
          <p>This is content for header D</p>
        </div>
      </div>
    </section>
    <details>
      <summary>View code</summary>
      <pre><code>//Three columns (example stacks on small devices)
&lt;p&gt;Lead in statement:&lt;/p&gt;
&lt;div class=&quot;cnjnctn-type-or cnjnctn-md&quot;&gt;
	&lt;div class=&quot;cnjnctn-col&quot;&gt;
		&lt;h5&gt;Header A&lt;span class=&quot;wb-inv&quot;&gt;: Option 1 of 3&lt;/span&gt;&lt;/h5&gt;
		&lt;p&gt;This is content for header A &lt;/p&gt;
	&lt;/div&gt;
	&lt;div class=&quot;cnjnctn-col&quot;&gt;
		&lt;h5&gt;Header B&lt;span class=&quot;wb-inv&quot;&gt;: Option 2 of 3&lt;/span&gt;&lt;/h5&gt;
		&lt;p&gt;This is content for header B&lt;/p&gt;
	&lt;/div&gt;
	&lt;div class=&quot;cnjnctn-col&quot;&gt;
		&lt;h5&gt;Header C&lt;span class=&quot;wb-inv&quot;&gt;: Option 3 of 3&lt;/span&gt;&lt;/h5&gt;
		&lt;p&gt;This is content for header C&lt;/p&gt;
	&lt;/div&gt;
&lt;/div&gt;
//Four columns (example stacks on medium devices)
&lt;p&gt;Lead in statement:&lt;/p&gt;
&lt;div class=&quot;cnjnctn-type-or cnjnctn-lg&quot;&gt;
	&lt;div class=&quot;cnjnctn-col&quot;&gt;
		&lt;h5&gt;Header A&lt;span class=&quot;wb-inv&quot;&gt;: Option 1 of 4&lt;/span&gt;&lt;/h5&gt;
		&lt;p&gt;This is content for header A &lt;/p&gt;
	&lt;/div&gt;
	&lt;div class=&quot;cnjnctn-col&quot;&gt;
		&lt;h5&gt;Header B&lt;span class=&quot;wb-inv&quot;&gt;: Option 2 of 4&lt;/span&gt;&lt;/h5&gt;
		&lt;p&gt;This is content for header B&lt;/p&gt;
	&lt;/div&gt;
	&lt;div class=&quot;cnjnctn-col&quot;&gt;
		&lt;h5&gt;Header C&lt;span class=&quot;wb-inv&quot;&gt;: Option 3 of 4&lt;/span&gt;&lt;/h5&gt;
		&lt;p&gt;This is content for header C&lt;/p&gt;
	&lt;/div&gt;
	&lt;div class=&quot;cnjnctn-col&quot;&gt;
		&lt;h5&gt;Header D&lt;span class=&quot;wb-inv&quot;&gt;: Option 4 of 4&lt;/span&gt;&lt;/h5&gt;
		&lt;p&gt;This is content for header D&lt;/p&gt;
	&lt;/div&gt;
&lt;/div&gt;</code></pre>
    </details>
    <h3>Nested conjunctions</h3>
    <p>For instances where one of the decision points may have it's own set of decision points.</p>
    <section>
      <h4>An &quot;or&quot; decision point that stacks on small, nested with an always stacked &quot;and&quot; decision point</h4>
      <p>Lead in statement:</p>
      <div class="cnjnctn-type-or cnjnctn-lg">
        <div class="cnjnctn-col-80">
          <h5>Header A<span class="wb-inv">: Option 1 of 2</span></h5>
          <p>This is content for header A</p>
        </div>
        <div class="cnjnctn-col">
          <h5>Header B<span class="wb-inv">: Option 2 of 2</span></h5>
          <p>This is content for header B</p>
          <p>Nam fermentum cursus sodales. Mauris leo leo, congue et fringilla in, egestas eu sapien. </p>
          <p>Lead in statement:</p>
          <div class="cnjnctn-type-and">
            <div class="cnjnctn-col">
              <h6>Header B.1</h6>
              <p>This is content for header B.1</p>
            </div>
            <div class="cnjnctn-col">
              <h6>Header B.2</h6>
              <p>This is content for header B.2</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <details>
      <summary>View code</summary>
      <pre><code>//Nested decision point example
&lt;p&gt;Lead in statement:&lt;/p&gt;
&lt;div class=&quot;cnjnctn-type-or cnjnctn-lg&quot;&gt;
    &lt;div class=&quot;cnjnctn-col-80&quot;&gt;
        &lt;h5&gt;Header A&lt;span class=&quot;wb-inv&quot;&gt;: Option 1 of 2&lt;/span&gt;&lt;/h5&gt;
        &lt;p&gt;This is content for header A&lt;/p&gt;
    &lt;/div&gt;
    &lt;div class=&quot;cnjnctn-col&quot;&gt;
        &lt;h5&gt;Header B&lt;span class=&quot;wb-inv&quot;&gt;: Option 2 of 2&lt;/span&gt;&lt;/h5&gt;
        &lt;p&gt;This is content for header B&lt;/p&gt;
        &lt;p&gt;Nam fermentum cursus sodales. Mauris leo leo, congue et fringilla in, egestas eu sapien. &lt;/p&gt;
        &lt;p&gt;Lead in statement:&lt;/p&gt;
        &lt;div class=&quot;cnjnctn-type-and&quot;&gt;
            &lt;div class=&quot;cnjnctn-col&quot;&gt;
                &lt;h6&gt;Header B.1&lt;/h6&gt;
                &lt;p&gt;This is content for header B.1&lt;/p&gt;
            &lt;/div&gt;
            &lt;div class=&quot;cnjnctn-col&quot;&gt;
                &lt;h6&gt;Header B.2&lt;/h6&gt;
                &lt;p&gt;This is content for header B.2&lt;/p&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
    </details>
  </section>
