/*
  WET-BOEW
  @title: Small view and over (screen only)
 */
table {

	&.nws-tbl {

		td {
			display: inline;
			margin-top: 10px;
		}

		.nws-tbl-dept,
		.nws-tbl-type {
			border-left: solid 1px #666;
		}

		.nws-tbl-ttl,
		.nws-tbl-desc {
			display: block;
		}
	}
}
