---
{
	"title": "News",
	"language": "en",
	"altLangPage": "news-fr.html",
	"secondlevel": false,
	"dateModified": "2024-09-13",
	"share": "true",
	"pageType": "news"
}
---

<div class="row">
	<div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
		<p>Find the most recent Government of Canada news content.</p>
	</div>
	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
		<div class="text-sm-right">
			<section class="followus">
				<h2>Follow:</h2>
				<ul>
					<li><a rel="external" class="rss" href="https://canada.ca/en/news/web-feeds.html"><span class="wb-inv">Web feeds</span></a></li>
					<li><a rel="external" class="twitter" href="https://twitter.com/NewsroomGC"><span class="wb-inv">Twitter</span></a></li>
				</ul>
			</section>
		</div>
	</div>
</div>

<section class="gc-features">
	<h2>Features</h2>
	<!-- START: Add the list of links to the features to display in basic HTML mode -->
	<ul class="nojs-show">
		<li><a href="#">[1. Feature hyperlink text]</a></li>
		<li><a href="#">[2. Feature hyperlink text]</a></li>
		<li><a href="#">[3. Feature hyperlink text]</a></li>
		<li><a href="#">[4. Feature hyperlink text]</a></li>
		<li><a href="#">[5. Feature hyperlink text]</a></li>
		<li><a href="#">[6. Feature hyperlink text]</a></li>
	</ul>
	<!-- END -->

	<!-- Add the "data-wb-randomize" attribute to the "row" element to randomize the features -->
	<div class="row wb-eqht-grd">
		<div class="col-lg-4 col-sm-6 hght-inhrt" data-wb-randomize='{ "toggle": "hide" }'>
			<section class="well well-sm eqht-trgt hide">
				<img src="https://dummyimage.com/360x203/000000/FFFFFF" alt="">
				<h3><a href="#" class="stretched-link">[1. Feature hyperlink text]</a></h3>
				<p>1. Brief description of the feature being promoted.</p>
			</section>
			<section class="well well-sm eqht-trgt hide">
				<img src="https://dummyimage.com/360x203/e5ff6a/000000" alt="">
				<h3><a href="#" class="stretched-link">[2. Feature hyperlink text]</a></h3>
				<p>2. Brief description of the feature being promoted.</p>
			</section>
		</div>
		<div class="col-lg-4 col-sm-6 hght-inhrt" data-wb-randomize='{ "toggle": "hide" }'>
			<section class="well well-sm eqht-trgt hide">
				<img src="https://dummyimage.com/360x203/46b393/000000" alt="">
				<h3><a href="#" class="stretched-link">[3. Feature hyperlink text]</a></h3>
				<p>3. Brief description of the feature being promoted.</p>
			</section>
			<section class="well well-sm eqht-trgt hide">
				<img src="https://dummyimage.com/360x203/0bd6fd/000000" alt="">
				<h3><a href="#" class="stretched-link">[4. Feature hyperlink text]</a></h3>
				<p>4. Brief description of the feature being promoted.</p>
			</section>
		</div>
		<div class="col-lg-4 col-sm-6 hght-inhrt" data-wb-randomize='{ "toggle": "hide" }'>
			<section class="well well-sm eqht-trgt hide">
				<img src="https://dummyimage.com/360x203/2b3551/FFFFFF" alt="">
				<h3><a href="#" class="stretched-link">[5. Feature hyperlink text]</a></h3>
				<p>5. Brief description of the feature being promoted.</p>
			</section>
			<section class="well well-sm eqht-trgt hide">
				<img src="https://dummyimage.com/360x203/311893/FFFFFF" alt="">
				<h3><a href="#" class="stretched-link">[6. Feature hyperlink text]</a></h3>
				<p>6. Brief description of the feature being promoted.</p>
			</section>
		</div>
	</div>
</section>

<div class="row mrgn-tp-md">
	<div class="col-md-3">
		<section class="mrgn-tp-lg">
			<details open>
				<summary><h2 class="h4">Filter news</h2></summary>
				<p class="mrgn-tp-md">Use filters to search for the most recent news articles.</p>
				<form class="wb-tables-filter" data-bind-to="dataset-filter">
					<div class="form-group">
						<label for="dt_type">News type</label>
						<select class="form-control" id="dt_type" name="dt_type" data-column="3">
							<option value="">Any</option>
							<option>backgrounders</option>
							<option>media advisories</option>
							<option>news releases</option>
							<option>readouts</option>
							<option>speeches</option>
							<option>statements</option>
						</select>
					</div>
					<div class="form-group">
						<label for="dt_department">Institution</label>
						<select class="form-control" id="dt_department" name="dt_department" data-column="2">
							<option value="">Any</option>
							<option>Aboriginal Business Canada</option>
							<option>Accessibility Standards Canada</option>
							<option>Administrative Tribunals Support Service of Canada</option>
							<option>Advisory Panel on Responsible Conduct of Research</option>
							<option>Agriculture and Agri-Food Canada</option>
							<option>Atlantic Canada Opportunities Agency</option>
							<option>Bedford Institute of Oceanography</option>
							<option>Canada Agricultural Review Tribunal</option>
							<option>Canada-Alberta Oil Sands Environmental Monitoring</option>
							<option>Canada Border Services Agency</option>
							<option>Canada Centre for Inland Waters</option>
							<option>Canada Economic Development for Quebec Regions</option>
							<option>Canada Employment Insurance Commission</option>
							<option>Canada Energy Regulator</option>
							<option>Canada Excellence Research Chairs</option>
							<option>Canada Firearms Centre</option>
							<option>Canada Industrial Relations Board</option>
							<option>Canada Infrastructure Bank</option>
							<option>Canada Research Coordinating Committee</option>
							<option>Canada Revenue Agency</option>
							<option>Canada School of Public Service</option>
							<option>Canada Water Agency</option>
							<option>Canadian Army</option>
							<option>Canadian Centre for Housing Technology</option>
							<option>Canadian Centre for Occupational Health and Safety</option>
							<option>Canadian Coast Guard</option>
							<option>Canadian Commercial Corporation</option>
							<option>Canadian Conservation Institute</option>
							<option>Canadian Cultural Property Export Review Board</option>
							<option>Canadian Dairy Information Centre - CDIC</option>
							<option>Canadian Food Inspection Agency</option>
							<option>Canadian Grain Commission</option>
							<option>Canadian Heritage</option>
							<option>Canadian Heritage Information Network</option>
							<option>Canadian Human Rights Commission</option>
							<option>Canadian Institutes of Health Research</option>
							<option>Canadian Intellectual Property Office</option>
							<option>Canadian Intergovernmental Conference Secretariat</option>
							<option>Canadian International Trade Tribunal</option>
							<option>Canadian Northern Economic Development Agency</option>
							<option>Canadian Nuclear Safety Commission</option>
							<option>Canadian Pari-Mutuel Agency</option>
							<option>Canadian Radio-television and Telecommunications Commission</option>
							<option>Canadian Security Intelligence Service</option>
							<option>Canadian Space Agency</option>
							<option>Canadian Special Operations Forces Command</option>
							<option>Canadian Transportation Agency</option>
							<option>Civilian Review and Complaints Commission for the RCMP</option>
							<option>Committee on the status of Endangered Wildlife</option>
							<option>Communications Research Centre Canada</option>
							<option>Communications Security Establishment Canada</option>
							<option>Competition Bureau Canada</option>
							<option>Competition Tribunal</option>
							<option>Copyright Board Canada</option>
							<option>Correctional Service Canada</option>
							<option>Criminal Intelligence Service Canada</option>
							<option>Crown-Indigenous Relations and Northern Affairs Canada</option>
							<option>Defence Construction Canada</option>
							<option>Defence Research and Development Canada</option>
							<option>Democratic Institutions</option>
							<option>Department of Finance Canada</option>
							<option>Department of Justice Canada</option>
							<option>Education in Canada</option>
							<option>Elections Canada</option>
							<option>Employment and Social Development Canada</option>
							<option>Environmental Protection Review Canada</option>
							<option>Environment and Climate Change Canada</option>
							<option>Farm Products Council of Canada</option>
							<option>Federal Economic Development Agency for Northern Ontario - FedNor</option>
							<option>Federal Economic Development Agency for Southern Ontario</option>
							<option>Financial Consumer Agency of Canada</option>
							<option>Financial Transactions and Reports Analysis Centre of Canada</option>
							<option>Fisheries and Oceans Canada</option>
							<option>Geographical Names Board of Canada</option>
							<option>Geological Survey of Canada</option>
							<option>Geomatics Canada</option>
							<option>Global Affairs Canada</option>
							<option>Health Canada</option>
							<option>Historic Sites and Monuments Board of Canada</option>
							<option>Housing, Infrastructure and Communities Canada</option>
							<option>Human Rights Tribunal of Canada</option>
							<option>Immigration, Refugees and Citizenship Canada</option>
							<option>Immigration and Refugee Board of Canada</option>
							<option>Impact Assessment Agency of Canada</option>
							<option>Independent Review Panel for Defence Acquisition</option>
							<option>Indian Oil and Gas</option>
							<option>Indigenous and Northern Affairs Canada</option>
							<option>Indigenous Services Canada</option>
							<option>Industrial Technologies Office</option>
							<option>Innovation, Science and Economic Development Canada</option>
							<option>Innovation Hub</option>
							<option>Integrated Terrorism Assessment Centre</option>
							<option>Interagency Advisory Panel on Research Ethics</option>
							<option>Intergovernmental Affairs</option>
							<option>Judicial Compensation and Benefits Commission</option>
							<option>Labour Program</option>
							<option>Law Commission of Canada</option>
							<option>Leader of the Government in the House of Commons</option>
							<option>Library and Archives Canada</option>
							<option>Management Advisory Board for the RCMP</option>
							<option>Marine Security Operations Centres Project</option>
							<option>Measurement Canada</option>
							<option>Military Grievances External Review Committee</option>
							<option>Military Police Complaints Commission of Canada</option>
							<option>National Defence</option>
							<option>National Film Board</option>
							<option>National Research Council Canada</option>
							<option>National Security and Intelligence Review Agency</option>
							<option>National Seniors Council</option>
							<option>Natural Resources Canada</option>
							<option>Natural Sciences and Engineering Research Council</option>
							<option>Networks of Centres of Excellence of Canada</option>
							<option>Northern Pipeline Agency Canada</option>
							<option>Occupational Health and Safety Tribunal Canada</option>
							<option>Office of the Chief Military Judge</option>
							<option>Office of the Commissioner for Federal Judicial Affairs Canada</option>
							<option>Office of the Communications Security Establishment Commissioner</option>
							<option>Office of the Extractive Sector Corporate Social Responsibility Counsellor</option>
							<option>Office of the Federal Ombudsperson for Victims of Crime</option>
							<option>Office of the Intelligence Commissioner</option>
							<option>Office of the National Defence and Canadian Armed Forces Ombudsman</option>
							<option>Office of the Procurement Ombudsman</option>
							<option>Office of the Superintendent of Bankruptcy Canada</option>
							<option>Office of the Superintendent of Financial Institutions Canada</option>
							<option>Office of the Taxpayers&#39; Ombudsperson</option>
							<option>Office of the Veterans&#39; Ombudsman</option>
							<option>Pacific Economic Development</option>
							<option>Parks Canada</option>
							<option>Parole Board of Canada</option>
							<option>Patented Medicine Prices Review Board Canada</option>
							<option>Physical Resources Bureau</option>
							<option>Polar Knowledge Canada</option>
							<option>PPP Canada</option>
							<option>Prairies Economic Development</option>
							<option>Privy Council Office</option>
							<option>Public Health Agency of Canada</option>
							<option>Public Prosecution Service of Canada</option>
							<option>Public Safety Canada</option>
							<option>Public Servants Disclosure Protection Tribunal Canada</option>
							<option>Public Service Commission of Canada</option>
							<option>Public Service Labour Relations and Employment Board</option>
							<option>Public Services and Procurement Canada</option>
							<option>RCMP External Review Committee</option>
							<option>Registry of the Specific Claims Tribunal of Canada</option>
							<option>Royal Canadian Air Force</option>
							<option>Royal Canadian Mounted Police</option>
							<option>Royal Canadian Navy</option>
							<option>Secretariat of the National Security and Intelligence Committee of Parliamentarians</option>
							<option>Security Intelligence Review Committee</option>
							<option>Service Canada</option>
							<option>Shared Services Canada</option>
							<option>Social Sciences and Humanities Research Council of Canada</option>
							<option>Social Security Tribunal of Canada</option>
							<option>Statistics Canada</option>
							<option>The Canadian Shellfish Sanitation Program</option>
							<option>The Correctional Investigator Canada</option>
							<option>The National Battlefields Commission</option>
							<option>The Ontario-Quebec Continental Gateway</option>
							<option>Translation Bureau</option>
							<option>Transportation Appeal Tribunal of Canada</option>
							<option>Transportation Safety Board of Canada</option>
							<option>Transport Canada</option>
							<option>Treasury Board of Canada Secretariat</option>
							<option>Tri-agency Institutional Programs Secretariat</option>
							<option>Veterans Affairs Canada</option>
							<option>Veterans Review and Appeal Board</option>
							<option>Western Economic Diversification Canada</option>
							<option>Wild Species</option>
							<option>Women and Gender Equality Canada</option>
						</select>
					</div>
					<div class="form-group">
						<label for="dt_subject">Subject</label>
						<select class="form-control" id="dt_subject" name="dt_subject" data-column="7">
							<option value="">Any</option>
							<option>Agriculture</option>
							<option>Arts, Music, Literature</option>
							<option>Economics and Industry</option>
							<option>Education and Training</option>
							<option>Form descriptors</option>
							<option>Government and Politics</option>
							<option>Health and Safety</option>
							<option>History and Archaeology</option>
							<option>Information and Communications</option>
							<option>Labour</option>
							<option>Language and Linguistics</option>
							<option>Law</option>
							<option>Military</option>
							<option>Nature and Environment</option>
							<option>Persons</option>
							<option>Processes</option>
							<option>Science and Technology</option>
							<option>Society and Culture</option>
							<option>Transport</option>
						</select>
					</div>
					<div class="form-group">
						<label for="dt_minister">Minister</label>
						<select class="form-control" id="dt_minister" name="dt_minister" data-column="8">
							<option value="">Any</option>
							<option>Hon. Ahmed D. Hussen</option>
							<option>Hon. Anita Anand</option>
							<option>Hon. Arif Virani</option>
							<option>Hon. Bill Blair</option>
							<option>Hon. Carla Qualtrough</option>
							<option>Hon. Chrystia Freeland</option>
							<option>Hon. Dan Vandal</option>
							<option>Hon. Diane Lebouthillier</option>
							<option>Hon. Dominic LeBlanc</option>
							<option>Hon. Filomena Tassi</option>
							<option>Hon. François-Philippe Champagne</option>
							<option>Hon. Gary Anandasangaree</option>
							<option>Hon. Ginette Petitpas Taylor</option>
							<option>Hon. Gudie Hutchings</option>
							<option>Hon. Harjit Singh Sajjan</option>
							<option>Hon. Jean-Yves Duclos</option>
							<option>Hon. Jenna Sudds</option>
							<option>Hon. Jonathan Wilkinson</option>
							<option>Hon. Kamal Khera</option>
							<option>Hon. Karina Gould</option>
							<option>Hon. Lawrence MacAulay</option>
							<option>Hon. Marci Ien</option>
							<option>Hon. Marc Miller</option>
							<option>Hon. Marie-Claude Bibeau</option>
							<option>Hon. Mark Holland</option>
							<option>Hon. Mary Ng</option>
							<option>Hon. Mélanie Joly</option>
							<option>Hon. Pablo Rodriguez</option>
							<option>Hon. Pascale St-Onge</option>
							<option>Hon. Patricia A. Hajdu</option>
							<option>Hon. Randy Boissonnault</option>
							<option>Hon. Rechie Valdez</option>
							<option>Hon. Sean Fraser</option>
							<option>Hon. Soraya Martinez Ferrada</option>
							<option>Hon. Steven Guilbeault</option>
							<option>Hon. Steven MacKinnon</option>
							<option>Hon. Terry Beech</option>
							<option>Hon. Ya’ara Saks</option>
							<option>Right Hon. Justin P. J. Trudeau</option>
						</select>
					</div>
					<div class="form-group">
						<label for="dt_audience">Audience</label>
						<select class="form-control" id="dt_audience" name="dt_audience" data-column="6">
							<option value="">Any</option>
							<option>Aboriginal peoples</option>
							<option>Black communities</option>
							<option>business</option>
							<option>children</option>
							<option>consumers</option>
							<option>educators</option>
							<option>employers</option>
							<option>funding applicants</option>
							<option>general public</option>
							<option>government</option>
							<option>immigrants</option>
							<option>job seekers</option>
							<option>media</option>
							<option>non-Canadians</option>
							<option>non-governmental organizations</option>
							<option>parents</option>
							<option>persons with disabilities</option>
							<option>rural community</option>
							<option>scientists</option>
							<option>seniors</option>
							<option>students</option>
							<option>travellers</option>
							<option>veterans</option>
							<option>visitors to Canada</option>
							<option>women</option>
							<option>youth</option>
						</select>
					</div>
					<div class="form-group">
						<label for="dt_location">Region</label>
						<select class="form-control" id="dt_location" name="dt_location" data-column="5">
							<option value="">Any</option>
							<option>Atlantic</option>
							<option>British Columbia</option>
							<option>Ontario</option>
							<option>Prairies</option>
							<option>Quebec</option>
							<option>Territories</option>
						</select>
					</div>
					<div class="row">
						<div class="col-xs-6">
							<button type="submit" class="btn btn-primary" aria-controls="dataset-filter">Filter</button>
						</div>
						<div class="col-xs-6">
							<button type="reset" class="btn btn-default">Reset filters</button>
						</div>
					</div>
				</form>
			</details>
		</section>
		<section>
			<h2 class="h4">Resources</h2>
			<ul class="list-group">
				<li class="list-group-item"><a href="#">Canada Gazette</a></li>
				<li class="list-group-item"><a href="#">Hansard</a></li>
				<li class="list-group-item"><a href="#">Media Contacts</a></li>
			</ul>
		</section>
	</div>
	<div class="col-md-9">
		<p>To access all articles, please visit the <a href="https://www.canada.ca/en/news/advanced-news-search/news-results.html">advanced search</a>.</p>

		<section class="mrgn-tp-xl">
			<h2 class="wb-inv">Search results</h2>
			<table class="wb-tables table table-striped table-hover nws-tbl" id="dataset-filter" aria-live="polite" data-wb-tables='{
			"bDeferRender": true,
			"ajaxSource": "https://wet-boew.github.io/wet-boew/demos/tables/ajax/datasource.json",
			"order": [1, "desc"],
			"columns": [
				{ "data": "TITLE", "className": "nws-tbl-ttl h4" },
				{ "data": "PUBDATE", "className": "nws-tbl-date" },
				{ "data": "DEPT", "className": "nws-tbl-dept" },
				{ "data": "TYPE", "className": "nws-tbl-type" },
				{ "data": "TEASER",  "className": "nws-tbl-desc" },
				{ "data": "LOCATION",  "visible": false },
				{ "data": "AUDIENCE",  "visible": false },
				{ "data": "SUBJECT", "visible": false },
				{ "data": "MINISTER", "visible": false }
			]}'>
				<thead class="wb-inv">
				<tr>
					<th>Title</th>
					<th>Publication date</th>
					<th>Department</th>
					<th>News Type</th>
					<th>Teaser</th>
					<th>Location</th>
					<th>Audience</th>
					<th>Subject</th>
					<th>Ministers</th>
				</tr>
				</thead>
			</table>
		</section>

		<p>To access all articles, please visit the <a href="https://www.canada.ca/en/news/advanced-news-search/news-results.html">advanced search</a>.</p>
	</div>
</div>
