---
title: Documentation au sujet de la page de nouvelles
description: Documentation et exemple pratique des pages de nouvelles.
language: fr
altLangPage: news-doc-en.html
dateModified: 2023-02-21
share: true
---

<div class="wb-prettify all-pre hide"></div>

<dl class="horizontal">
	<dt>Statut</dt>
	<dd>Stable</dd>
	<dt>Type</dt>
	<dd>Gabarit de Canada.ca</dd>
	<dt>Dernière revue</dt>
	<dd>2019-01-30</dd>
	<dt>Est conforme à</dt>
	<dd>Spécifications du contenu et de l'architecture de l'information 2.1</dd>
	<dt>Spécification</dt>
	<dd><a href="https://conception.canada.ca/modeles-obligatoire/pages-nouvelles.html">Pages de profil des ministres - Modèle obligatoire de Canada.ca</a></dd>
	<dt>Version du gabarit</dt>
	<dd>Version 2.0</dd>
</dl>

<h2>Exemples pratiques</h2>
<ul>
	<li><a href="news-en.html" lang="en">Working example</a></li>
	<li><a href="news-fr.html">Exemple pratique</a></li>
</ul>

<h2>Gabarit obsolète</h2>
<p>À partir de la version 5.0.0 de GCWeb, les promotions utilisent la version 5.0 des promotions contextuelles. Le morceau de code suivant est donc obsolète.</p>
<pre><code lang="en">&lt;header&gt;
...
&lt;/header&gt;

&lt;aside class="prm-flpr"&gt;
	&lt;div class="container"&gt;
		&lt;h2 class="wb-inv"&gt;Promotions&lt;/h2&gt;
		&lt;div class="wb-tabs carousel-s2 show-thumbs playing slow"&gt;
			&lt;ul role="tablist"&gt;
				&lt;li class="active"&gt;
					&lt;a href="#tab1"&gt;&lt;img src="./img/promos/1170x347-1.png" alt="&gt;&lt;span class="wb-inv"&gt;Tab 1: Banff National Park&lt;/span&gt;&lt;/a&gt;
				&lt;/li&gt;
				&lt;li&gt;
					&lt;a href="#tab2"&gt;&lt;img src="./img/promos/1170x347-2.png" alt="&gt;&lt;span class="wb-inv"&gt;Tab 2: Algonquin Provincial Park&lt;/span&gt;&lt;/a&gt;
				&lt;/li&gt;
				&lt;li&gt;
					&lt;a href="#tab3"&gt;&lt;img src="./img/promos/1170x347-3.png" alt="&gt;&lt;span class="wb-inv"&gt;Tab 3: Rideau Canal&lt;/span&gt;&lt;/a&gt;
				&lt;/li&gt;
			&lt;/ul&gt;
			&lt;div class="tabpanels"&gt;
				&lt;div role="tabpanel" id="tab1" class="in fade"&gt;
					&lt;a href="#" class="learnmore"&gt;
						&lt;figure&gt;
							&lt;img src="./img/promos/1170x347-1.png" alt="&gt;
							&lt;figcaption&gt;
								&lt;p&gt;Banff National Park &lt;/p&gt;
							&lt;/figcaption&gt;
						&lt;/figure&gt;
					&lt;/a&gt;
				&lt;/div&gt;
				&lt;div role="tabpanel" id="tab2" class="out fade"&gt;
					&lt;a href="#" class="learnmore"&gt;
						&lt;figure&gt;
							&lt;img src="./img/promos/1170x347-2.png" alt="&gt;
							&lt;figcaption&gt;
								&lt;p&gt;Algonquin Provincial Park &lt;/p&gt;
							&lt;/figcaption&gt;
						&lt;/figure&gt;
					&lt;/a&gt;
				&lt;/div&gt;
				&lt;div role="tabpanel" id="tab3" class="out fade"&gt;
					&lt;a href="#" class="learnmore"&gt;
						&lt;figure&gt;
							&lt;img src="./img/promos/1170x347-3.png" alt="&gt;
							&lt;figcaption&gt;
								&lt;p&gt;Rideau Canal &lt;/p&gt;
							&lt;/figcaption&gt;
						&lt;/figure&gt;
					&lt;/a&gt;
				&lt;/div&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/aside&gt;

&lt;main&gt;
...
&lt;/main&gt;</code></pre>

<h2>Raport et évaluation</h2>
<p>Il n'y aucun raport ou évaluation disponible pour ce gabarit.</p>
