---
title: Documentation about News template
description: Documentation and working examples for the News template.
language: en
altLangPage: news-doc-fr.html
dateModified: 2024-09-13
share: true
---

<div class="wb-prettify all-pre hide"></div>

<dl class="horizontal">
	<dt>Status</dt>
	<dd>Stable</dd>
	<dt>Type</dt>
	<dd>Canada.ca template</dd>
	<dt>Last review</dt>
	<dd>2024-09-13</dd>
	<dt>Conforming to</dt>
	<dd>Content and IA spec 3.0</dd>
	<dt>Specification</dt>
	<dd><a href="https://design.canada.ca/mandatory-templates/news-pages.html#landing">News pages - Canada.ca mandatory template</a></dd>
	<dt>Template version</dt>
	<dd>Version 3.0</dd>
	<dt>Available instances</dt>
	<dd><a href="https://www.canada.ca/en/news.html">https://www.canada.ca/en/news.html</a></dd>
	<dd><a href="https://www.canada.ca/fr/nouvelles.html">https://www.canada.ca/fr/nouvelles.html</a></dd>
</dl>

<h2>Working examples</h2>
<ul>
	<li><a href="news-en.html">News landing page template - Version 3.0</a></li>
	<li><a href="news-fr.html" lang="fr">Gabarit de la page d'accueil des nouvelles - Version 3.0</a></li>
</ul>

<h2>List of changes</h2>
<ul>
	<li>Version 3.0:
		<ul>
			<li>Removal of the promotions section at the top of the page.</li>
			<li>Addition of introduction text to the left of the Follow section.</li>
			<li>Addition of randomized functionality for the three items in the features section.</li>
			<li>Update of the advanced search link URL.</li>
		</ul>
	</li>
</ul>

<h3>Previous version</h3>
<dl>
	<dt>Version 2.0</dt>
	<dd><a href="deprecated/news_v2-en.html">News landing page template - Version 2.0</a></dd>
</dl>

<h2>Transition from version 2.0 to 3.0</h2>
<ul>
	<li>Promotions:
		<ul>
			<li>Remove the promotions section at the top of the page.</li>
			<li>Add introduction text to the left of the "Follow" section and change <code>pull-right</code> class to <code>text-sm-right</code> on the <code>&lt;div></code> wrapping the "Follow" section. See working example for HTML markup.</li>
		</ul>
	</li>
</ul>

<ul>
	<li>Features:
		<ul>
			<li>Add the attribute <code>data-wb-randomize='{ "toggle": "hide" }'</code> to each <code>&lt;div class="col-lg-4 col-sm-6 hght-inhrt"></code> element wrapping the features groups.</li>
			<li>Change the HTML tag for features from <code>&lt;div></code> to <code>&lt;section></code></li>
			<li>Add the class <code>hide</code> to the <code>&lt;section class="well well-sm eqht-trgt"></code> elements (feature elements).</li>
			<li>Above the <code>&lt;div class="row"></code> element, add a <code>&lt;ul class="nojs-show"></code> with a list of the links for all the features contained in all the <code>&lt;div class="col-lg-4 col-sm-6 hght-inhrt"></code> elements. This step is necessary for users of the basic HTML version.</li>
		</ul>
	</li>
</ul>

<ul>
	<li>News articles:
		<ul>
			<li>Update the advanced search link to the following: <code>https://www.canada.ca/en/news/advanced-news-search/news-results.html</code></li>
		</ul>
	</li>
</ul>

<h2>Deprecated layout</h2>

<p>As of version 5.0.0 of GCWeb, the promotions use version 5.0 of Context-specific features. The following code sample is therefore deprecated.</p>
<pre><code>&lt;header&gt;
...
&lt;/header&gt;

&lt;aside class="prm-flpr"&gt;
	&lt;div class="container"&gt;
		&lt;h2 class="wb-inv"&gt;Promotions&lt;/h2&gt;
		&lt;div class="wb-tabs carousel-s2 show-thumbs playing slow"&gt;
			&lt;ul role="tablist"&gt;
				&lt;li class="active"&gt;
					&lt;a href="#tab1"&gt;&lt;img src="./img/promos/1170x347-1.png" alt="&gt;&lt;span class="wb-inv"&gt;Tab 1: Banff National Park&lt;/span&gt;&lt;/a&gt;
				&lt;/li&gt;
				&lt;li&gt;
					&lt;a href="#tab2"&gt;&lt;img src="./img/promos/1170x347-2.png" alt="&gt;&lt;span class="wb-inv"&gt;Tab 2: Algonquin Provincial Park&lt;/span&gt;&lt;/a&gt;
				&lt;/li&gt;
				&lt;li&gt;
					&lt;a href="#tab3"&gt;&lt;img src="./img/promos/1170x347-3.png" alt="&gt;&lt;span class="wb-inv"&gt;Tab 3: Rideau Canal&lt;/span&gt;&lt;/a&gt;
				&lt;/li&gt;
			&lt;/ul&gt;
			&lt;div class="tabpanels"&gt;
				&lt;div role="tabpanel" id="tab1" class="in fade"&gt;
					&lt;a href="#" class="learnmore"&gt;
						&lt;figure&gt;
							&lt;img src="./img/promos/1170x347-1.png" alt="&gt;
							&lt;figcaption&gt;
								&lt;p&gt;Banff National Park &lt;/p&gt;
							&lt;/figcaption&gt;
						&lt;/figure&gt;
					&lt;/a&gt;
				&lt;/div&gt;
				&lt;div role="tabpanel" id="tab2" class="out fade"&gt;
					&lt;a href="#" class="learnmore"&gt;
						&lt;figure&gt;
							&lt;img src="./img/promos/1170x347-2.png" alt="&gt;
							&lt;figcaption&gt;
								&lt;p&gt;Algonquin Provincial Park &lt;/p&gt;
							&lt;/figcaption&gt;
						&lt;/figure&gt;
					&lt;/a&gt;
				&lt;/div&gt;
				&lt;div role="tabpanel" id="tab3" class="out fade"&gt;
					&lt;a href="#" class="learnmore"&gt;
						&lt;figure&gt;
							&lt;img src="./img/promos/1170x347-3.png" alt="&gt;
							&lt;figcaption&gt;
								&lt;p&gt;Rideau Canal &lt;/p&gt;
							&lt;/figcaption&gt;
						&lt;/figure&gt;
					&lt;/a&gt;
				&lt;/div&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/aside&gt;

&lt;main&gt;
...
&lt;/main&gt;</code></pre>

<h2>Evaluation and report</h2>
<p>There is no evaluation and report available for this component.</p>
