---
{
	"title": "Nouvelles",
	"language": "fr",
	"altLangPage": "news-en.html",
	"secondlevel": false,
	"dateModified": "2024-09-13",
	"share": "true",
	"pageType": "news"
}
---

<div class="row">
	<div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
		<p>Trouvez les dernières nouvelles du gouvernement du Canada.</p>
	</div>
	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
		<div class="text-sm-right">
			<section class="followus">
				<h2>Suivez :</h2>
				<ul>
					<li><a rel="external" class="rss" href="https://canada.ca/fr/nouvelles/fils-nouvelles.html"><span class="wb-inv">Fils de nouvelles</span></a></li>
					<li><a rel="external" class="twitter" href="https://twitter.com/salledepresseGC"><span class="wb-inv">Twitter</span></a></li>
				</ul>
			</section>
		</div>
	</div>
</div>

<section class="gc-features">
	<h2>En vedette</h2>
	<!-- START: Add the list of links to the features to display in basic HTML mode -->
	<ul class="nojs-show">
		<li><a href="#">[1. Lien à l’élément en vedette]</a></li>
		<li><a href="#">[2. Lien à l’élément en vedette]</a></li>
		<li><a href="#">[3. Lien à l’élément en vedette]</a></li>
		<li><a href="#">[4. Lien à l’élément en vedette]</a></li>
		<li><a href="#">[5. Lien à l’élément en vedette]</a></li>
		<li><a href="#">[6. Lien à l’élément en vedette]</a></li>
	</ul>
	<!-- END -->

	<!-- Add the "data-wb-randomize" attribute to the "row" element to randomize the features -->
	<div class="row wb-eqht-grd">
		<div class="col-lg-4 col-sm-6 hght-inhrt" data-wb-randomize='{ "toggle": "hide" }'>
			<section class="well well-sm eqht-trgt hide">
				<img src="https://dummyimage.com/360x203/000000/FFFFFF" alt="">
				<h3><a href="#" class="stretched-link">[1. Lien à l’élément en vedette]</a></h3>
				<p>1. Brève description de l’élément en vedette.</p>
			</section>
			<section class="well well-sm eqht-trgt hide">
				<img src="https://dummyimage.com/360x203/e5ff6a/000000" alt="">
				<h3><a href="#" class="stretched-link">[2. Lien à l’élément en vedette]</a></h3>
				<p>2. Brève description de l’élément en vedette.</p>
			</section>
		</div>
		<div class="col-lg-4 col-sm-6 hght-inhrt" data-wb-randomize='{ "toggle": "hide" }'>
			<section class="well well-sm eqht-trgt hide">
				<img src="https://dummyimage.com/360x203/46b393/000000" alt="">
				<h3><a href="#" class="stretched-link">[3. Lien à l’élément en vedette]</a></h3>
				<p>3. Brève description de l’élément en vedette.</p>
			</section>
			<section class="well well-sm eqht-trgt hide">
				<img src="https://dummyimage.com/360x203/0bd6fd/000000" alt="">
				<h3><a href="#" class="stretched-link">[4. Lien à l’élément en vedette]</a></h3>
				<p>4. Brève description de l’élément en vedette.</p>
			</section>
		</div>
		<div class="col-lg-4 col-sm-6 hght-inhrt" data-wb-randomize='{ "toggle": "hide" }'>
			<section class="well well-sm eqht-trgt hide">
				<img src="https://dummyimage.com/360x203/2b3551/FFFFFF" alt="">
				<h3><a href="#" class="stretched-link">[5. Lien à l’élément en vedette]</a></h3>
				<p>5. Brève description de l’élément en vedette.</p>
			</section>
			<section class="well well-sm eqht-trgt hide">
				<img src="https://dummyimage.com/360x203/311893/FFFFFF" alt="">
				<h3><a href="#" class="stretched-link">[6. Lien à l’élément en vedette]</a></h3>
				<p>6. Brève description de l’élément en vedette.</p>
			</section>
		</div>
	</div>
</section>

<div class="row mrgn-tp-md">
	<div class="col-md-3">
		<section class="mrgn-tp-lg">
			<details open>
				<summary><h4 class="h4">Filtrer les nouvelles</h4></summary>
				<p class="mrgn-tp-md">Utilisez les filtres pour faire une recherche des plus récents articles de nouvelles.</p>
				<form class="wb-tables-filter" data-bind-to="dataset-filter">
					<div class="form-group">
						<label for="dt_type">Type de nouvelle</label>
						<select class="form-control" id="dt_type" name="dt_type" data-column="3" data-exact="true">
							<option value="">Tous</option>
							<option>avis aux médias</option>
							<option>communiqués de presse</option>
							<option>comptes rendus</option>
							<option>déclarations</option>
							<option>discours</option>
							<option>documents d&#39;information</option>
						</select>
					</div>
					<div class="form-group">
						<label for="dt_department">Institution</label>
						<select class="form-control" id="dt_department" name="dt_department" data-column="2" data-exact="true">
							<option value="">Tous</option>
							<option>Administration du pipe-line du Nord Canada</option>
							<option>Affaires autochtones et du Nord Canada</option>
							<option>Affaires intergouvernementales</option>
							<option>Affaires mondiales Canada</option>
							<option>Agence canadienne de développement économique du Nord</option>
							<option>Agence canadienne de l&#39;eau</option>
							<option>Agence canadienne du pari mutuel</option>
							<option>Agence canadienne d’inspection des aliments</option>
							<option>Agence d&#39;évaluation d&#39;impact du Canada</option>
							<option>Agence de la consommation en matière financière du Canada</option>
							<option>Agence de la santé publique du Canada</option>
							<option>Agence de promotion économique du Canada atlantique</option>
							<option>Agence des services frontaliers du Canada</option>
							<option>Agence du revenu du Canada</option>
							<option>Agence fédérale de développement économique pour le Nord de l’Ontario - FedNor</option>
							<option>Agence fédérale de développement économique pour le Sud de l’Ontario</option>
							<option>Agence spatiale canadienne</option>
							<option>Agriculture et Agroalimentaire Canada</option>
							<option>Anciens Combattants Canada</option>
							<option>Armée canadienne</option>
							<option>Aviation royale canadienne</option>
							<option>Banque de l&#39;infrastructure du Canada</option>
							<option>Bibliothèque et Archives Canada</option>
							<option>Bureau de l&#39;ombudsman de l&#39;approvisionnement</option>
							<option>Bureau de l&#39;ombudsman de la Défense nationale et des Forces armées canadiennes</option>
							<option>Bureau de l&#39;ombudsman des contribuables</option>
							<option>Bureau de l&#39;ombudsman fédéral des victimes d&#39;actes criminels</option>
							<option>Bureau de la concurrence Canada</option>
							<option>Bureau de la sécurité des transports du Canada</option>
							<option>Bureau de la traduction</option>
							<option>Bureau du commissaire au renseignement</option>
							<option>Bureau du commissaire du Centre de la sécurité des télécommunications</option>
							<option>Bureau du conseiller en responsabilité sociale des entreprises de l’industrie extractive</option>
							<option>Bureau du Conseil privé</option>
							<option>Bureau du surintendant des faillites Canada</option>
							<option>Bureau du surintendant des institutions financières Canada</option>
							<option>Cabinet du juge militaire en chef</option>
							<option>Centre canadien d&#39;information laitière - CCIL</option>
							<option>Centre canadien des eaux intérieures</option>
							<option>Centre canadien des technologies résidentielles</option>
							<option>Centre canadien d’hygiène et de sécurité au travail</option>
							<option>Centre de la sécurité des télécommunications Canada</option>
							<option>Centre de recherches sur les communications Canada</option>
							<option>Centre des armes à feu Canada</option>
							<option>Centre d’analyse des opérations et déclarations financières du Canada</option>
							<option>Centre d’innovation</option>
							<option>Centre intégré d&#39;évaluation du terrorisme</option>
							<option>Chaires d&#39;excellence en recherche du Canada</option>
							<option>Comité de coordination de la recherche au Canada</option>
							<option>Comité de surveillance des activités de renseignement de sécurité</option>
							<option>Comité externe d&#39;examen de la GRC</option>
							<option>Comité externe d’examen des griefs militaires</option>
							<option>Comité sur la situation des espèces en péril au Canada</option>
							<option>Commandement des Forces d&#39;opérations spéciales du Canada</option>
							<option>Commissariat à la magistrature fédérale Canada</option>
							<option>Commission canadienne des droits de la personne</option>
							<option>Commission canadienne des grains</option>
							<option>Commission canadienne de sûreté nucléaire</option>
							<option>Commission canadienne d’examen des exportations de biens culturels</option>
							<option>Commission civile d&#39;examen et de traitement des plaintes relatives à la GRC</option>
							<option>Commission d&#39;examen de la rémunération des juges</option>
							<option>Commission d&#39;examen des plaintes concernant la police militaire du Canada</option>
							<option>Commission de l&#39;immigration et du statut de réfugié du Canada</option>
							<option>Commission de la fonction publique du Canada</option>
							<option>Commission de l’assurance-emploi du Canada</option>
							<option>Commission de révision agricole du Canada</option>
							<option>Commission des champs de bataille nationaux</option>
							<option>Commission des libérations conditionnelles du Canada</option>
							<option>Commission des lieux et monuments historiques du Canada</option>
							<option>Commission des relations de travail dans la fonction publique</option>
							<option>Commission du droit d&#39;auteur Canada</option>
							<option>Commission du droit du Canada</option>
							<option>Commission géologique du Canada</option>
							<option>Commission indépendante d’examen des acquisitions de la Défense</option>
							<option>Conseil canadien des relations industrielles</option>
							<option>Conseil consultatif de gestion pour la GRC</option>
							<option>Conseil d&#39;examen du prix des médicaments brevetés Canada</option>
							<option>Conseil de la radiodiffusion et des télécommunications canadiennes</option>
							<option>Conseil de recherches en sciences humaines du Canada</option>
							<option>Conseil de recherches en sciences naturelles et en génie</option>
							<option>Conseil des produits agricoles du Canada</option>
							<option>Conseil national de recherches Canada</option>
							<option>Conseil national des aînés</option>
							<option>Construction de défense Canada</option>
							<option>Corporation commerciale canadienne</option>
							<option>Défense nationale</option>
							<option>Développement économique Canada pour le Pacifique</option>
							<option>Développement économique Canada pour les Prairies</option>
							<option>Développement économique Canada pour les régions du Québec</option>
							<option>Direction générale des biens</option>
							<option>Diversification de l&#39;économie de l&#39;Ouest Canada</option>
							<option>École de la fonction publique du Canada</option>
							<option>Éducation au Canada</option>
							<option>Élections Canada</option>
							<option>Emploi et Développement social Canada</option>
							<option>Entreprise autochtone Canada</option>
							<option>Environnement et Changement climatique Canada</option>
							<option>Espèces sauvages</option>
							<option>Femmes et Égalité des genres Canada</option>
							<option>Garde côtière canadienne</option>
							<option>Gendarmerie royale du Canada</option>
							<option>Géomatique Canada</option>
							<option>Greffe du Tribunal des revendications particulières du Canada</option>
							<option>Immigration, Réfugiés et Citoyenneté Canada</option>
							<option>Innovation, Sciences et Développement économique Canada</option>
							<option>Institut canadien de conservation</option>
							<option>Institutions démocratiques</option>
							<option>Institut océanographique de Bedford</option>
							<option>Instituts de recherche en santé du Canada</option>
							<option>L&#39;Enquêteur correctionnel Canada</option>
							<option>La commission de toponymie du Canada</option>
							<option>La porte continentale Ontario-Québec</option>
							<option>La Service canadien de renseignements criminels</option>
							<option>Leader du gouvernement à la Chambre des communes</option>
							<option>Le Groupe consultatif interagences en éthique de la recherche</option>
							<option>Le Groupe consultatif sur la conduite responsable de la recherche</option>
							<option>Le projet des Centres d&#39;opérations de sécurité maritime</option>
							<option>Logement, Infrastructures et Collectivités du Canada</option>
							<option>Marine royale canadienne</option>
							<option>Mesures Canada</option>
							<option>Ministère de la Justice Canada</option>
							<option>Ministère des Finances Canada</option>
							<option>Normes d’accessibilité Canada</option>
							<option>Office de la propriété intellectuelle du Canada</option>
							<option>Office des technologies industrielles</option>
							<option>Office des transports du Canada</option>
							<option>Office de surveillance des activités en matière de sécurité nationale et de renseignement</option>
							<option>Office national du film</option>
							<option>Ombudsman des vétérans</option>
							<option>Parcs Canada</option>
							<option>Patrimoine canadien</option>
							<option>Pêches et Océans Canada</option>
							<option>Pétrole et gaz des Indiens du Canada</option>
							<option>PPP Canada</option>
							<option>Programme canadien de contrôle de la salubrité des mollusques</option>
							<option>Programme du travail</option>
							<option>Recherche et développement pour la Défense Canada</option>
							<option>Régie de l&#39;énergie du Canada</option>
							<option>Relations Couronne-Autochtones et Affaires du Nord Canada</option>
							<option>Réseau canadien d&#39;information sur le patrimoine</option>
							<option>Réseaux de centres d&#39;excellence du Canada</option>
							<option>Ressources naturelles Canada</option>
							<option>Révision de la protection de l&#39;environnement Canada</option>
							<option>Santé Canada</option>
							<option>Savoir polaire Canada</option>
							<option>Secrétariat des conférences intergouvernementales canadiennes</option>
							<option>Secrétariat des programmes interorganismes à l’intention des établissements</option>
							<option>Secrétariat du Comité des parlementaires sur la sécurité nationale et le renseignement</option>
							<option>Secrétariat du Conseil du Trésor du Canada</option>
							<option>Sécurité publique Canada</option>
							<option>Service Canada</option>
							<option>Service canadien du renseignement de sécurité</option>
							<option>Service canadien d’appui aux tribunaux administratifs</option>
							<option>Service correctionnel Canada</option>
							<option>Service des poursuites pénales du Canada</option>
							<option>Services aux Autochtones Canada</option>
							<option>Services partagés Canada</option>
							<option>Services publics et Approvisionnement Canada</option>
							<option>Statistique Canada</option>
							<option>Surveillance environnementale des sables bitumineux Canada-Alberta</option>
							<option>Transports Canada</option>
							<option>Tribunal canadien du commerce extérieur</option>
							<option>Tribunal de la concurrence</option>
							<option>Tribunal de la protection des fonctionnaires divulgateurs Canada</option>
							<option>Tribunal de la sécurité sociale du Canada</option>
							<option>Tribunal des anciens combattants (révision et appel)</option>
							<option>Tribunal de santé et sécurité au travail Canada</option>
							<option>Tribunal des droits de la personne du Canada</option>
							<option>Tribunal d’appel des transports du Canada</option>
						</select>
					</div>
					<div class="form-group">
						<label for="dt_subject">Sujet</label>
						<select class="form-control" id="dt_subject" name="dt_subject" data-column="7">
							<option value="">Tous</option>
							<option>Agriculture</option>
							<option>Arts, musique, littérature</option>
							<option>Droit</option>
							<option>Économie et industrie</option>
							<option>Éducation et formation</option>
							<option>Format</option>
							<option>Gouvernement et vie politique</option>
							<option>Histoire et archéologie</option>
							<option>Histoire et science militaire</option>
							<option>Information et communication</option>
							<option>Langue et linguistique</option>
							<option>Liens et fonctions</option>
							<option>Nature et environnement</option>
							<option>Personnes</option>
							<option>Santé et sécurité</option>
							<option>Sciences et technologie</option>
							<option>Société et culture</option>
							<option>Transport</option>
							<option>Travail et emploi</option>
						</select>
					</div>
					<div class="form-group">
						<label for="dt_minister">Ministre</label>
						<select class="form-control" id="dt_minister" name="dt_minister" data-column="8">
							<option value="">Tous</option>
							<option>L&#39;hon. Ahmed D. Hussen</option>
							<option>L&#39;hon. Anita Anand</option>
							<option>L&#39;hon. Arif Virani</option>
							<option>L&#39;hon. Bill Blair</option>
							<option>L&#39;hon. Carla Qualtrough</option>
							<option>L&#39;hon. Chrystia Freeland</option>
							<option>L&#39;hon. Dan Vandal</option>
							<option>L&#39;hon. Diane Lebouthillier</option>
							<option>L&#39;hon. Dominic LeBlanc</option>
							<option>L&#39;hon. Filomena Tassi</option>
							<option>L&#39;hon. François-Philippe Champagne</option>
							<option>L&#39;hon. Gary Anandasangaree</option>
							<option>L&#39;hon. Ginette Petitpas Taylor</option>
							<option>L&#39;hon. Gudie Hutchings</option>
							<option>L&#39;hon. Harjit Singh Sajjan</option>
							<option>L&#39;hon. Jean-Yves Duclos</option>
							<option>L&#39;hon. Jenna Sudds</option>
							<option>L&#39;hon. Jonathan Wilkinson</option>
							<option>L&#39;hon. Kamal Khera</option>
							<option>L&#39;hon. Karina Gould</option>
							<option>L&#39;hon. Lawrence MacAulay</option>
							<option>L&#39;hon. Marci Ien</option>
							<option>L&#39;hon. Marc Miller</option>
							<option>L&#39;hon. Marie-Claude Bibeau</option>
							<option>L&#39;hon. Mark Holland</option>
							<option>L&#39;hon. Mary Ng</option>
							<option>L&#39;hon. Mélanie Joly</option>
							<option>L&#39;hon. Pablo Rodriguez</option>
							<option>L&#39;hon. Pascale St-Onge</option>
							<option>L&#39;hon. Patricia A. Hajdu</option>
							<option>L&#39;hon. Randy Boissonnault</option>
							<option>L&#39;hon. Rechie Valdez</option>
							<option>L&#39;hon. Sean Fraser</option>
							<option>L&#39;hon. Soraya Martinez Ferrada</option>
							<option>L&#39;hon. Steven Guilbeault</option>
							<option>L&#39;hon. Steven MacKinnon</option>
							<option>L&#39;hon. Terry Beech</option>
							<option>L&#39;hon. Ya’ara Saks</option>
							<option>Le très hon. Justin P. J. Trudeau</option>
						</select>
					</div>
					<div class="form-group">
						<label for="dt_audience">Auditoire</label>
						<select class="form-control" id="dt_audience" name="dt_audience" data-column="6">
							<option value="">Tous</option>
							<option>aînés</option>
							<option>anciens combattants</option>
							<option>chercheurs d’emploi</option>
							<option>communauté rurale</option>
							<option>Communautés noires</option>
							<option>consommateurs</option>
							<option>demandeurs de financement</option>
							<option>éducateurs</option>
							<option>employeurs</option>
							<option>enfants</option>
							<option>entreprises</option>
							<option>étudiants</option>
							<option>femmes</option>
							<option>gouvernement</option>
							<option>grand public</option>
							<option>immigrants</option>
							<option>jeunesse</option>
							<option>médias</option>
							<option>non-Canadiens</option>
							<option>organisations non gouvernementales</option>
							<option>parents</option>
							<option>personnes handicapées</option>
							<option>Peuples autochtones</option>
							<option>scientifiques</option>
							<option>visiteurs au Canada</option>
							<option>voyageurs</option>
						</select>
					</div>
					<div class="form-group">
						<label for="dt_location">Région</label>
						<select class="form-control" id="dt_location" name="dt_location" data-column="5">
							<option value="">Tous</option>
							<option>Atlantique</option>
							<option>Colombie-Britannique</option>
							<option>Ontario</option>
							<option>Prairies</option>
							<option>Québec</option>
							<option>Territoires</option>
						</select>
					</div>
					<div class="row">
						<div class="col-xs-6">
							<button type="submit" class="btn btn-primary" aria-controls="dataset-filter">Filtrer</button>
						</div>
						<div class="col-xs-6">
							<button type="reset" class="btn btn-default">Réinitialiser les filtres</button>
						</div>
					</div>
				</form>
			</details>
		</section>
		<section>
			<h2>Ressources</h2>
			<ul class="list-group">
				<li class="list-group-item"><a rel="" href="#">Gazette du Canada</a></li>
				<li class="list-group-item"><a rel="" href="#">Index du Hansard</a></li>
				<li class="list-group-item"><a href="#">Coordonnées pour les médias</a></li>
			</ul>
		</section>
	</div>
	<div class="col-md-9">
		<p>Pour accéder&nbsp;à tous les&nbsp;articles, visitez la <a href="https://www.canada.ca/fr/nouvelles/recherche-avancee-de-nouvelles/resultats-de-nouvelles.html">page de recherche avancée</a>.</p>

		<section class="mrgn-tp-xl">
			<h2 class="wb-inv">Search results</h2>
			<table class="wb-tables table table-striped table-hover nws-tbl" id="dataset-filter" aria-live="polite" data-wb-tables='{
			"bDeferRender": true,
			"ajaxSource": "https://wet-boew.github.io/wet-boew/demos/tables/ajax/datasource.json",
			"order": [1, "desc"],
			"columns": [
				{ "data": "TITLE", "className": "nws-tbl-ttl h4" },
				{ "data": "PUBDATE", "className": "nws-tbl-date" },
				{ "data": "DEPT", "className": "nws-tbl-dept" },
				{ "data": "TYPE", "className": "nws-tbl-type" },
				{ "data": "TEASER",  "className": "nws-tbl-desc" },
				{ "data": "LOCATION",  "visible": false },
				{ "data": "AUDIENCE",  "visible": false },
				{ "data": "SUBJECT", "visible": false },
				{ "data": "MINISTER", "visible": false }
			]}'>
				<thead class="wb-inv">
				<tr>
					<th>Title</th>
					<th>Publication date</th>
					<th>Department</th>
					<th>News Type</th>
					<th>Teaser</th>
					<th>Location</th>
					<th>Audience</th>
					<th>Subject</th>
					<th>Ministers</th>
				</tr>
				</thead>
			</table>
		</section>

		<p>Pour accéder&nbsp;à tous les&nbsp;articles, visitez la <a href="https://www.canada.ca/fr/nouvelles/recherche-avancee-de-nouvelles/resultats-de-nouvelles.html">page de recherche avancée</a>.</p>
	</div>
</div>
