---
title: Documentation for the Departments and Agencies template
description: Documentation and working examples for the Departments and Agencies template.
language: en
altLangPage: dept-doc-fr.html
dateModified: 2026-07-14
share: true
---

<div class="wb-prettify all-pre hide"></div>

<dl class="horizontal">
	<dt>Status</dt>
	<dd>Stable</dd>
	<dt>Type</dt>
	<dd>Canada.ca template</dd>
	<dt>Last review</dt>
	<dd>2026-07-14</dd>
	<dt>Template version</dt>
	<dd>Version 1.0.0</dd>
</dl>

<h2>Working example</h2>
<p><a href="dept-en.html">Dept landing page template</a></p>

<h2>List of changes</h2>
<ul>
	<li>Version 1.0.0:
		<ul>
			<li>Stabilized template</li>
		</ul>
	</li>
</ul>

<h2>Evaluation and report</h2>
<p>There is no evaluation and report available for this component.</p>
