---
title: Documentation pour le gabarit de ministères et organismes
description: Documentation et exemple pratique des pages de Ministères et organismes.
language: fr
altLangPage: dept-doc-en.html
dateModified: 2026-07-14
share: true
---

<div class="wb-prettify all-pre hide"></div>

<dl class="horizontal">
	<dt>Statut</dt>
	<dd>Stable</dd>
	<dt>Type</dt>
	<dd>Gabarit de Canada.ca</dd>
	<dt>Dernière revue</dt>
	<dd>2026-07-14</dd>
	<dt>Version du gabarit</dt>
	<dd>Version 1.0.0</dd>
</dl>

<h2>Exemple pratique</h2>
<p><a href="dept-fr.html">Gabarit de la page d'accueil des ministères et organismes</a></p>

<h2>Liste des modifications</h2>
<ul>
	<li>Version 1.0.0:
		<ul>
			<li>Gabarit stabilisé</li>
		</ul>
	</li>
</ul>

<h2>Rapport et évaluation</h2>
<p>Il n'y aucun rapport ou évaluation disponible pour ce gabarit.</p>
