
#archived-bnr {
	background-color: #fd0;

	p {
		margin: 0;
		text-align: center;
	}

	a {
		color: #000;
		display: block;
		font-weight: 700;
		padding: .75em 44px;
		text-decoration: none;

		&:hover,
		&:focus {
			text-decoration: underline;
		}
	}

	.overlay-close {
		color: #000;
	}
}
