---
{
	"title": "Bubble Open Overlay - Documentation",
	"language": "en",
	"category": "Plugins",
	"categoryfile": "plugins",
	"description": "Execute action, like open an overlay.",
	"altLangPrefix": "bubble-doc",
	"dateModified": "2020-09-04"
}
---
{{>alert-provisional-demos}}

<div class="wb-prettify all-pre"></div>
<section>
<h2>Purpose</h2>
<p>Open an overlay when user click the bubble</p>
</section>
<section>
<h2>Use when</h2>
<p>To send an action to a wet-boew plugin bubble.</p>
</section>
<section>
<h2>Do not use when</h2>
<p>When executing a such action can make your page not WCAG compliant.</p>
</section>
<section>
<h2>Working examples</h2>
<p>English:</p>
<ul>
<li><a href="bubble-en.html">Bubble - opening an overlay</a></li>

</ul>
<p>French:</p>
<ul>
<li><a href="bubble-fr.html" hreflang="fr" lang="fr">Exécuter des actions - Filtrer un tableau</a></li>

</ul>
</section>
<section>
<h2>How to implement</h2>
<h3>Open overlay</h3>
<pre>
	<code>&lt;button  data-wb-doaction='{ &quot;action&quot;: &quot;open&quot;, &quot;source&quot;: &quot;#mid-screen&quot; }' class=&quot;wb-bubble&quot;&gt;&lt;img src=&quot;image/default-avatar.png&quot; alt=&quot;&quot; /&gt;&lt;/button&gt;
	</code>
</pre>
<p>Where:</p>
<dl class="dl-horizontal">
<dt><code>&quot;action&quot;: &quot;open&quot;</code></dt>
<dd>Will open an overlay by using the overlay plugin.</dd>
<dt><code>&quot;source&quot;: #mid-screen</code></dt>
<dd>The source represent a pointer to section id, which will be included in the overlay panel</dd>

</dl>
</section>



<section>
<h2>Source code</h2>
<p><a href="https://github.com/wet-boew/GCWeb/tree/master/src/plugins/bubble">Bubble plugin source code on GitHub</a></p>
<p><a href="https://github.com/wet-boew/GCWeb/tree/master/src/plugins/actionmng">Action manager plugin source code on GitHub</a></p>
</section>
