/*
 * Components styles
 */

// Download link box
.gc-dwnld {

	.gc-dwnld-txt {
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}

		span {
			display: block;
		}
	}

	.gc-dwnld-img {
		margin-bottom: 0;
	}

	p {
		margin-bottom:0;
	}
}

// Step by step navigation used on Advanced service template
.gc-stp-stp {
	border-bottom: solid 1px #ccc;
	margin-bottom: 30px;
	margin-top: 15px;
}
