/*
 News table formatting (extended)
 ============================================= */
/*
 Buttons
 ============================================= */
.nws-tbl-priority1.button a {
	background: #fff url("../assets/chart-line.svg") no-repeat scroll 10px center / 1.2em 1em;
	border:	2px double #eee;
	display: inline-block;
	margin:	.5em 0;
	padding: 5px 10px 5px 35px;
}
.accented-buttons .btn-primary {
	background-color: #278154;
	border-color: #278154;
	border-width: 3px;
	color: #fff;
}
.accented-buttons .btn-primary:hover,
.accented-buttons .btn-primary:focus,
.accented-buttons .btn-primary.focus,
.accented-buttons .btn-primary:active,
.accented-buttons .btn-primary.active,
.open > .accented-buttons .btn-primary.dropdown-toggle {
	background-color: #25724A;
}
.accented-buttons .btn-primary.pick {
	background: url("../assets/flag.png") top right no-repeat #278154;
	border-style: inset;
}
