/*
 * Promotions styles
 */
@-webkit-keyframes slideInUp {
	0% {
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
	}
	100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}
@keyframes slideInUp {
	0% {
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
	}
	100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}
.ctr-xpr-bnr.wb-bar-b.open {
	-webkit-animation-delay: 2s;
	-webkit-animation-duration: 1s;
	-webkit-animation-fill-mode: forwards;
	-webkit-transition-timing-function: linear;
	animation-delay: 2s;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	transition-timing-function: linear;
}
.ctr-xpr-bnr.wb-bar-b.open {
	-webkit-animation-name: slideInUp;
	-webkit-transform: translate3d(0, 100%, 0);
	animation-name: slideInUp;
	transform: translate3d(0, 100%, 0);
}

/*
 *	Styles
 */
.ctr-xpr-ad.bg-one,
.ctr-xpr-bnr.bg-one,
.ctr-xpr-ad.bg-one .container,
.ctr-xpr-bnr.bg-one .container {
	background: transparent;
	background-repeat: repeat-x;
}
.ctr-xpr-ad .modal-body,
.ctr-xpr-bnr .modal-body {
	padding: 0;
}
.ctr-xpr-ad.bg-one,
.ctr-xpr-bnr.bg-one {

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcd4d4+0,f2443e+79,f2443e+100 */
	background: #fcd4d4; /* Old browsers */
	background: -moz-linear-gradient(top,	#fcd4d4 0%, #f2443e 79%, #f2443e 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,	#fcd4d4 0%,#f2443e 79%,#f2443e 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,	#fcd4d4 0%,#f2443e 79%,#f2443e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcd4d4', endColorstr='#f2443e',GradientType=0 ); /* IE6-9 */
}
.ctr-xpr-ad.bg-one h3,
.ctr-xpr-bnr.bg-one h3,
.ctr-xpr-ad.bg-one p,
.ctr-xpr-bnr.bg-one p {
	color: #000;
}
.ctr-xpr-ad a,
.ctr-xpr-bnr a {
	text-decoration: none;
}
.ctr-xpr-ad a figure.col-centered figcaption .black,
.ctr-xpr-bnr a figure.col-centered figcaption .black {
	border-color: #222222;
	color: #222222;
	text-shadow: none;
}
.ctr-xpr-ad a figure.col-centered figcaption .xl-font,
.ctr-xpr-bnr a figure.col-centered figcaption .xl-font {
	font-size: 2.5em;
}
.ctr-xpr-ad h3,
.ctr-xpr-bnr h3,
.ctr-xpr-ad .largeOpaqueHeading,
.ctr-xpr-bnr .largeOpaqueHeading {
	font-size: 2em;
	margin-top: 20px;
	text-transform: uppercase;
}
.ctr-xpr-ad .flush-lft,
.ctr-xpr-bnr .flush-lft {
	margin-left: -15px;
}
.ctr-xpr-ad .flush-rht,
.ctr-xpr-bnr .flush-rht {
	margin-right: -15px;
}
.ctr-xpr-ad .small,
.ctr-xpr-bnr .small {
	font-size: 65% !important;
}
.ctr-xpr-ad p,
.ctr-xpr-bnr p {
	font-size: 1em;
	text-transform: uppercase;
}
.ctr-xpr-ad p.big,
.ctr-xpr-bnr p.big {
	font-size: 1.5em !important;
}
.ctr-xpr-ad p.btn,
.ctr-xpr-bnr p.btn {
	background: none;
	border: 1px solid #fff;
	border-radius: 6px;
	font-size: .9em;
	min-height: inherit;
	text-shadow: none;
}

/* Temporary */
body.secondary	.wb-inview.ctr-xpr-ad {
	display: none !important
}

.wb-dismissable-container {
	background-color: #f9f9f9;
	padding: 10px 0;
	position: relative;
}
.wb-dismissable-container .mfp-close {
	color: #fff;
	position: absolute;
	right: 0;
	top: 0;
}
.bg-clear,
.xsmallview .bg-clear,
.xxsmallview .bg-clear,
.smallview .bg-clear {
	background: none !important;
}
