/* Datatables Legend/PieLabel Series helper classes
 ============================================================= */
.wb-graph.legend-hide-1 .legend table tbody tr:nth-child(1),
.wb-graph.legend-hide-2 .legend table tbody tr:nth-child(2),
.wb-graph.legend-hide-3 .legend table tbody tr:nth-child(3),
.wb-graph.legend-hide-4 .legend table tbody tr:nth-child(4),
.wb-graph.legend-hide-5 .legend table tbody tr:nth-child(5),
.wb-graph.legend-hide-6 .legend table tbody tr:nth-child(6),
.wb-graph.legend-hide-7 .legend table tbody tr:nth-child(7),
.wb-graph.legend-hide-8 .legend table tbody tr:nth-child(8),
.wb-graph.legend-hide-9 .legend table tbody tr:nth-child(9),
.wb-graph.legend-hide-10 .legend table tbody tr:nth-child(10),
.wb-graph.pieLabel-hide-1  figure .pieLabel:nth-of-type(1),
.wb-graph.pieLabel-hide-2  figure .pieLabel:nth-of-type(2),
.wb-graph.pieLabel-hide-3  figure .pieLabel:nth-of-type(3),
.wb-graph.pieLabel-hide-4  figure .pieLabel:nth-of-type(4),
.wb-graph.pieLabel-hide-5  figure .pieLabel:nth-of-type(5),
.wb-graph.pieLabel-hide-6  figure .pieLabel:nth-of-type(6),
.wb-graph.pieLabel-hide-7  figure .pieLabel:nth-of-type(7),
.wb-graph.pieLabel-hide-8  figure .pieLabel:nth-of-type(8),
.wb-graph.pieLabel-hide-9  figure .pieLabel:nth-of-type(9),
.wb-graph.pieLabel-hide-10 figure .pieLabel:nth-of-type(10) {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	margin: 0;
	overflow: hidden;
	position: absolute;
	width:  1px;
}
.wb-graph.pieLabel-inverse figure .pieLabel {
	background: transparent;
	border: 0;
	color: #fff;
}

/* Datatables Legend - Target Class
 ============================================================= */
.wb-graph .legend table tr .legendColorBox div,
.wb-graph .legend table tr .legendColorBox div div {
	border-radius: 50%;
}
.wb-graph.legendcolorbox-square-1 .legend table tr:nth-of-type(1) .legendColorBox div,
.wb-graph.legendcolorbox-square-1 .legend table tr:nth-of-type(1) .legendColorBox div div,
.wb-graph.legendcolorbox-square-2 .legend table tr:nth-of-type(2) .legendColorBox div,
.wb-graph.legendcolorbox-square-2 .legend table tr:nth-of-type(2) .legendColorBox div div,
.wb-graph.legendcolorbox-square-3 .legend table tr:nth-of-type(3) .legendColorBox div,
.wb-graph.legendcolorbox-square-3 .legend table tr:nth-of-type(3) .legendColorBox div div,
.wb-graph.legendcolorbox-square-4 .legend table tr:nth-of-type(4) .legendColorBox div,
.wb-graph.legendcolorbox-square-4 .legend table tr:nth-of-type(4) .legendColorBox div div,
.wb-graph.legendcolorbox-square-5 .legend table tr:nth-of-type(5) .legendColorBox div,
.wb-graph.legendcolorbox-square-5 .legend table tr:nth-of-type(5) .legendColorBox div div,
.wb-graph.legendcolorbox-square-6 .legend table tr:nth-of-type(6) .legendColorBox div,
.wb-graph.legendcolorbox-square-6 .legend table tr:nth-of-type(6) .legendColorBox div div,
.wb-graph.legendcolorbox-square-7 .legend table tr:nth-of-type(7) .legendColorBox div,
.wb-graph.legendcolorbox-square-7 .legend table tr:nth-of-type(7) .legendColorBox div div,
.wb-graph.legendcolorbox-square-8 .legend table tr:nth-of-type(8) .legendColorBox div,
.wb-graph.legendcolorbox-square-8 .legend table tr:nth-of-type(8) .legendColorBox div div,
.wb-graph.legendcolorbox-square-9 .legend table tr:nth-of-type(9) .legendColorBox div,
.wb-graph.legendcolorbox-square-9 .legend table tr:nth-of-type(9) .legendColorBox div div,
.wb-graph.legendcolorbox-square-10 .legend table tr:nth-of-type(10) .legendColorBox div,
.wb-graph.legendcolorbox-square-10 .legend table tr:nth-of-type(10) .legendColorBox div div,
.wb-graph.legendcolorbox-square-11 .legend table tr:nth-of-type(11) .legendColorBox div,
.wb-graph.legendcolorbox-square-11 .legend table tr:nth-of-type(11) .legendColorBox div div {
	border-radius: 0;
}
