---
title: About the institution pattern
description: Documentation and working example for the about the institution pattern
language: en
altLangPage: gc-institution-fr.html
dateModified: 2023-08-09
layout: no-container
---
<div class="container">
	<h1>{{ page.title }}</h1>

	<span class="wb-prettify all-pre hide"></span>
	<p>TThe about the institution pattern is a section on an institutional landing page that provides links to corporate, program and policy information.</p>	

	<h2>On this page</h2>
	<ul>
		<!-- <li><a href="#inc-components">Included components</a></li> -->
		<li><a href="#before-start">Before you start</a></li>
		<li><a href="#accessibility-guidance">Accessibility guidance</a></li>
		<li><a href="#variations">Variations</a></li>
		<li><a href="#eval-report">Evaluation and report</a></li>
		<li><a href="#technical-docs">Technical documentation</a></li>
	</ul>
	
	<h2 id="before-start">Before you start</h2>
	<p>About the institution is a mandatory pattern on an institutional landing page.  It must include mandate and transparency links.</p>
	
	<ul>
		<li><a href="">How to set up the institutional landing page</a></li>
	</ul>

	<h2 id="accessibility-guidance">Accessibility guidance</h2>

	<p>List of accessibility guidances to be followed to ensure component is used in respect of the accessibility guideline and EN 301 549 standard (including WCAG 2.1 Level AA).</p>
	
	<p>There is <span>no accessibility guidance</span> defined.</p>


	<h2 id="variations">Variations</h2>

	<p>The following coded example is the default layout. It must include mandate and transparency links.</p>



	<h3>About the institution pattern</h3>

<div class="container">
	<div class="row">
		<div class="mrgn-bttm-lg wb-eqht col-md-12">
			<h2 class="h3 mrgn-tp-md">Minister(s)</h2>
			<div class="row">
				<div class="col-md-6">
					<div class="row">
						<figure>
							<figcaption class="pull-right col-md-7 col-xs-12 mrgn-tp-md bold"><a href="">The Honourable [Minister name]</a>
							</figcaption>
							<div class="col-md-5 col-xs-12">
								<img src="./img/minister-200x250.jpg" alt="" class="img-responsive thumbnail mrgn-bttm-sm">
							</div>
							<div class="col-md-7 col-xs-12 ln-hght mrgn-tp-md">
								<p class="ln-hght"><small>[Official title]</small></p>
								<ul>
									<li><small><a href="">Mandate letter [optional]<span class="wb-inv">: [Minister name]</span></a></small>
									</li>
									<li><small><a href="">Briefing book [optional]<span class="wb-inv">: [Minister name]</span></a></small>
									</li>
								</ul>
							</div>
						</figure>
					</div>
				</div>
				<div class="col-md-6">
					<div class="row">
						<figure>
							<figcaption class="pull-right col-md-7 col-xs-12 mrgn-tp-md bold"><a href="">The Honourable [Minister name]</a>
							</figcaption>
							<div class="col-md-5 col-xs-12">
								<img src="./img/minister-200x250.jpg" alt="" class="img-responsive thumbnail mrgn-bttm-sm">
							</div>
							<div class="col-md-7 col-xs-12 ln-hght mrgn-tp-md">
								<p class="ln-hght"><small>[Official title]</small></p>
								<ul>
									<li><small><a href="">Mandate letter [optional]<span class="wb-inv">: [Minister name]</span></a></small>
									</li>
								</ul>
							</div>
						</figure>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<h3>Code</h3>
	<pre><code>&lt;div class="container"&gt;
		&lt;div class="row"&gt;
			&lt;div class="mrgn-bttm-lg wb-eqht col-md-12"&gt;
				&lt;h2 class="h3 mrgn-tp-md"&gt;Minister(s)&lt;/h2&gt;
				&lt;div class="row"&gt;
					&lt;div class="col-md-6"&gt;
						&lt;div class="row"&gt;
							&lt;figure&gt;
								&lt;figcaption class="pull-right col-md-7 col-xs-12 mrgn-tp-md bold"&gt;&lt;a href=""&gt;The Honourable [Minister name]&lt;/a&gt;
								&lt;/figcaption&gt;
								&lt;div class="col-md-5 col-xs-12"&gt;
									&lt;img src="./img/minister-200x250.jpg" alt="" class="img-responsive thumbnail mrgn-bttm-sm"&gt;
								&lt;/div&gt;
								&lt;div class="col-md-7 col-xs-12 ln-hght mrgn-tp-md"&gt;
									&lt;p class="ln-hght"&gt;&lt;small&gt;[Official title]&lt;/small&gt;&lt;/p&gt;
									&lt;ul&gt;
										&lt;li&gt;&lt;small&gt;&lt;a href=""&gt;Mandate letter [optional]&lt;span class="wb-inv"&gt;: [Minister name]&lt;/span&gt;&lt;/a&gt;&lt;/small&gt;
										&lt;/li&gt;
										&lt;li&gt;&lt;small&gt;&lt;a href=""&gt;Briefing book [optional]&lt;span class="wb-inv"&gt;: [Minister name]&lt;/span&gt;&lt;/a&gt;&lt;/small&gt;
										&lt;/li&gt;
									&lt;/ul&gt;
								&lt;/div&gt;
							&lt;/figure&gt;
						&lt;/div&gt;
					&lt;/div&gt;
					&lt;div class="col-md-6"&gt;
						&lt;div class="row"&gt;
							&lt;figure&gt;
								&lt;figcaption class="pull-right col-md-7 col-xs-12 mrgn-tp-md bold"&gt;&lt;a href=""&gt;The Honourable [Minister name]&lt;/a&gt;
								&lt;/figcaption&gt;
								&lt;div class="col-md-5 col-xs-12"&gt;
									&lt;img src="./img/minister-200x250.jpg" alt="" class="img-responsive thumbnail mrgn-bttm-sm"&gt;
								&lt;/div&gt;
								&lt;div class="col-md-7 col-xs-12 ln-hght mrgn-tp-md"&gt;
									&lt;p class="ln-hght"&gt;&lt;small&gt;[Official title]&lt;/small&gt;&lt;/p&gt;
									&lt;ul&gt;
										&lt;li&gt;&lt;small&gt;&lt;a href=""&gt;Mandate letter [optional]&lt;span class="wb-inv"&gt;: [Minister name]&lt;/span&gt;&lt;/a&gt;&lt;/small&gt;
										&lt;/li&gt;
									&lt;/ul&gt;
								&lt;/div&gt;
							&lt;/figure&gt;
						&lt;/div&gt;
					&lt;/div&gt;
				&lt;/div&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
	</code></pre>
</div>

	<h2 id="eval-report">Evaluation and report</h2>
		<p>There is no accessibility report.</p>

		<p>There is no accessibility conformance report.</p>

	<h2 id="technical-docs">Technical documentation</h2>
		<dl class="dl-horizontal">
			<dt>Status:</dt> <dd data-status="">stable</dd>
		</dl>

</div>
