---
title: About the institution pattern
description: Documentation and working example for the about the institution pattern
language: en
altLangPage: gc-institution-fr.html
dateModified: 2023-08-09
layout: no-container
---
<div class="container">
	<h1>{{ page.title }}</h1>

	<span class="wb-prettify all-pre hide"></span>
	<p>TThe about the institution pattern is a section on an institutional landing page that provides links to corporate, program and policy information.</p>	

	<h2>On this page</h2>
	<ul>
		<!-- <li><a href="#inc-components">Included components</a></li> -->
		<li><a href="#before-start">Before you start</a></li>
		<li><a href="#accessibility-guidance">Accessibility guidance</a></li>
		<li><a href="#variations">Variations</a></li>
		<li><a href="#eval-report">Evaluation and report</a></li>
		<li><a href="#technical-docs">Technical documentation</a></li>
	</ul>
	
	<h2 id="before-start">Before you start</h2>
	<p>About the institution is a mandatory pattern on an institutional landing page.  It must include mandate and transparency links.</p>
	
	<ul>
		<li><a href="">How to set up the institutional landing page</a></li>
	</ul>

	<h2 id="accessibility-guidance">Accessibility guidance</h2>

	<p>List of accessibility guidances to be followed to ensure component is used in respect of the accessibility guideline and EN 301 549 standard (including WCAG 2.1 Level AA).</p>
	
	<p>There is <span>no accessibility guidance</span> defined.</p>


	<h2 id="variations">Variations</h2>

	<p>The following coded example is the default layout. It must include mandate and transparency links.</p>



	<h3>About the institution pattern</h3>
	<section class="col-md-8 pull-left bold">
		<h2 class="h3 mrgn-tp-md">About the [Institution]</h2>
		<ul class="list-unstyled mrgn-tp-lg lst-spcd-2 colcount-md-2">
			<li><a href="#">Mandate</a></li>
			<li><a href="#">Organizational structure</a></li>
			<li><a href="#">Transparency</a></li>
			<li><a href="#">Accessibility</a></li>
			<li><a href="#">Job opportunities</a></li>
			<li><a href="#">Reports</a></li>
			<li><a href="#">Compliance</a></li>
			<li><a href="#">Enforcement notifications</a></li>
			<li><a href="#">[Institutional link]</a></li>
			<li>More: <a href="#">About the [Institution]</a></li>
		</ul>
	</section>

<div class="container">
	<h3>Code</h3>
	<pre><code>
		&lt;section class="col-md-8 pull-left bold"&gt;
			&lt;h2 class="h3 mrgn-tp-md"&gt;About the [Institution]&lt;/h2&gt;
			&lt;ul class="list-unstyled mrgn-tp-lg lst-spcd-2 colcount-md-2"&gt;
				&lt;li&gt;&lt;a href="#"&gt;Mandate&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href="#"&gt;Organizational structure&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href="#"&gt;Transparency&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href="#"&gt;Accessibility&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href="#"&gt;Job opportunities&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href="#"&gt;Reports&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href="#"&gt;Compliance&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href="#"&gt;Enforcement notifications&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href="#"&gt;[Institutional link]&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;More: &lt;a href="#"&gt;About the [Institution]&lt;/a&gt;&lt;/li&gt;
			&lt;/ul&gt;
		&lt;/section&gt;
	</code></pre>
</div>

	<h2 id="eval-report">Evaluation and report</h2>
		<p>There is no accessibility report.</p>

		<p>There is no accessibility conformance report.</p>

	<h2 id="technical-docs">Technical documentation</h2>
		<dl class="dl-horizontal">
			<dt>Status:</dt> <dd data-status="">stable</dd>
		</dl>

</div>
