---
title: Utilitaire DataTable
dateModified: 2024-10-01
description: "Utilities that allow Columns to be MONEY Formatted, Emails wrapped with mailto, url's to be clickable and Footer totals that can be affected by filtered Data Or not."
lang: fr
altLangPage: "index-eng.html"
script: [ "js/wb-pspc-datatable-utility.js" ]
css: [ "css/wb-pspc-datatable-utility.css" ]
---
<p>Les utilitaires de table de données incluent des classes de manipulation de données pour les courriels, les URL et l’argent. Ils comprennent également des totaux dans le pied de page de la table de données.</p>
<p>L'intégration de ce plugin facilitera la transition vers Canada.ca, car ces fonctionnalités sont déjà mises en œuvre sur https://www.tpsgc-pwgsc.gc.ca. Actuellement, certaines pages utilisant ce plugiciel, ainsi que d'autres pages qui utilisent différents JavaScripts, sont simplement liées directement de Canada.ca.</p>
<p>Pour le grand public, le plugiciel rend les tables de données plus conviviales en fournissant des liens cliquables, et les utilisateurs sont déjà habitués à cette fonctionnalité sur nos anciennes pages Canada.ca.</p>

<h2>Plan de mise en œuvre de GCWeb</h2>

{% assign implPlan = site.pages | where: "output", "false" | where: "componentName", "2024-10-datatable-utilities" | first %}

<ul>
    {% for deliverable in implPlan.implementationPlanFR %}
    <li>{{ deliverable.due }} - {{ deliverable.what }}</li>
    {% endfor %}
</ul>

<p>Todo and for future consideration</p>
<ul>
    {% for todo in implPlan.todosFR %}
    <li>{{ todo }}</li>
    {% endfor %}
</ul>

<p>Commanditaire : SPAC - {{ implPlan.sponsor }}</p>

<h2>Table de contrôle avec données brute</h2>

<div class="mrgn-bttm-lg">
    <table class="wb-tables table table-striped table-hover table-condensed small" id="t1" data-wb-tables='{ "ajax":"data/datatable-utility.json", "columns": [
                                      { "data": "DepartmentFR" },
                                      { "data": "ContactEmail" },
                                      { "data": "Custom study titleFR" },
                                      { "data": "Custom study titleFR-URL" },
                                      { "data": "Registration number" },
                                      { "data": "Contract value" }
                                    ],
                            "columnDefs": [{ "className": "text-left", "targets": [0]},
                                    { "className": "text-left", "targets": [1] },
                                    { "className": "text-left", "targets": [2] },
                                    { "className": "text-left", "targets": [3] },
                                    { "className": "text-right", "targets": [4] }],
                                     "lengthMenu": [ [5, 10, 25, 50, 100, -1], [5, 10, 25, 50, 100, "All"] ]}'>
        <caption class="text-left">
            Tableau&nbsp;1&nbsp;: données brute
        </caption>
        <thead>
            <tr class="active">
                <th scope="col">Ministère</th>
                <th scope="col">Courriel</th>
                <th scope="col">Titre de l’étude multi-intérêts</th>
                <th scope="col">URL de l’étude multi-intérêts</th>
                <th scope="col">Reg#</th>
                <th scope="col">Valeur des contrats</th>
            </tr>
        </thead>
    </table>
</div>

<h2>Exemple de manipulation des données de colonne</h2>

<ul>
    <li><code>.wb-col-mailto</code> Entourer les adresses courriels avec un &lt;a href=&quot;mailto:...&quot;&gt;email@example.net&lt;/a&gt;</li>
    <li><code>.wb-col-money</code> Formater les nombres en tant que montant d'argent.</li>
    <li><code>.wb-col-url</code> Fusionner 2 colonnes (nom-colonne, nom-colonne-url) en une seule URL / Sous-titre ou URL et URL comme sous-titre si (nom-colonne-url) n'existe pas dans le fichier JSON.</li>
</ul>

<pre class="mrgn-bttm-lg">
    &lt;table class=&quot;wb-tables table table-striped table-hover table-condensed small <strong>wb-tables-utility</strong>&quot; id=&quot;t2&quot;
            data-wb-tables=&apos;{ &quot;ajax&quot;:&quot;data/datatable-utility.json&quot;,
                            &quot;columns&quot;: [{ &quot;data&quot;: &quot;DepartmentFR&quot; },
                                        { &quot;data&quot;: &quot;ContactEmail&quot; },
                                        { &quot;data&quot;: &quot;Custom study titleFR&quot; },
                                        { &quot;data&quot;: &quot;Registration number&quot; },
                                        { &quot;data&quot;: &quot;Contract value&quot; }],
                                    &quot;columnDefs&quot;: [{ &quot;className&quot;: &quot;text-left&quot;, &quot;targets&quot;: [0]},
                                            { &quot;className&quot;: &quot;text-left <strong>wb-col-mailto</strong>&quot;, &quot;targets&quot;: [1] },
                                            { &quot;className&quot;: &quot;text-left <strong>wb-col-url</strong>&quot;, &quot;targets&quot;: [2] },
                                            { &quot;className&quot;: &quot;text-left&quot;, &quot;targets&quot;: [3] },
                                            { &quot;className&quot;: &quot;text-right <strong>wb-col-money</strong>&quot;, &quot;targets&quot;: [4] }],
                                                &quot;lengthMenu&quot;: [ [5, 10, 25, 50, 100, -1], [5, 10, 25, 50, 100, &quot;All&quot;] ]}&apos;&gt;
</pre>

<div class="mrgn-bttm-lg">
    <table class="wb-tables table table-striped table-hover table-condensed small wb-tables-utility" id="t2" data-wb-tables='{ "ajax":"data/datatable-utility.json", "columns": [
                                      { "data": "DepartmentFR" },
                                      { "data": "ContactEmail" },
                                      { "data": "Custom study titleFR" },
                                      { "data": "Registration number" },
                                      { "data": "Contract value" }
                                    ],
                            "columnDefs": [{ "className": "text-left", "targets": [0]},
                                    { "className": "text-left wb-col-mailto", "targets": [1] },
                                    { "className": "text-left wb-col-url", "targets": [2] },
                                    { "className": "text-left", "targets": [3] },
                                    { "className": "text-right wb-col-money", "targets": [4] }],
                                     "lengthMenu": [ [5, 10, 25, 50, 100, -1], [5, 10, 25, 50, 100, "All"] ]}'>
        <caption class="text-left">
        Tableau&nbsp;2&nbsp;: Exemple de manipulation des données JSON
        </caption>
        <thead>
            <tr class="active">
                <th scope="col">Ministère</th>
                <th scope="col">Courriel</th>
                <th scope="col">Titre de l’étude multi-intérêts</th>
                <th scope="col">Reg#</th>
                <th scope="col">Valeur des contrats</th>
            </tr>
        </thead>
    </table>
</div>

<h2>Pied de page de table avec totaux statiques</h2>

<p><code>.wb-col-sum</code> classe sur la colonne pour effectuer le total de la colonne.</p>
<p>Ajouter un espace réservé &lt;tfoot&gt; en bas de la table.</p>

<pre class="mrgn-bttm-lg">
    &lt;tfoot&gt;
        &lt;tr class=&quot;active&quot;&gt;
            &lt;th colspan=&quot;4&quot;&gt;Total&lt;/th&gt;
            &lt;td&gt;&amp;nbsp;&lt;/td&gt;
        &lt;/tr&gt;
    &lt;/tfoot&gt;
</pre>

<h3>Code</h3>

<p>Définissez le paramètre filteredsum a «&nbsp;<code>false</code>&nbsp;» dans le plugiciel <code>data-wb-tables-utility="{\"filteredsum\":false}"</code>, car la valeur par défaut est «&nbsp;<code>true</code>&nbsp;».</p>

<pre class="mrgn-bttm-lg">
    &lt;table class=&quot;wb-tables table table-striped table-hover table-condensed small <strong>wb-tables-utility</strong>&quot; id=&quot;t3&quot;
            <strong>data-wb-tables-utility="{&quot;filteredsum&quot;:false}"</strong>
            data-wb-tables=&apos;{ &quot;ajax&quot;:&quot;data/datatable-utility.json&quot;,
                            &quot;columns&quot;: [{ &quot;data&quot;: &quot;DepartmentFR&quot; },
                                        { &quot;data&quot;: &quot;ContactEmail&quot; },
                                        { &quot;data&quot;: &quot;Custom study titleFR&quot; },
                                        { &quot;data&quot;: &quot;Registration number&quot; },
                                        { &quot;data&quot;: &quot;Contract value&quot; }],
                                    &quot;columnDefs&quot;: [{ &quot;className&quot;: &quot;text-left&quot;, &quot;targets&quot;: [0]},
                                            { &quot;className&quot;: &quot;text-left wb-col-mailto&quot;, &quot;targets&quot;: [1] },
                                            { &quot;className&quot;: &quot;text-left wb-col-url&quot;, &quot;targets&quot;: [2] },
                                            { &quot;className&quot;: &quot;text-left&quot;, &quot;targets&quot;: [3] },
                                            { &quot;className&quot;: &quot;text-right <strong>wb-col-sum</strong> wb-col-money&quot;, &quot;targets&quot;: [4] }],
                                                &quot;lengthMenu&quot;: [ [5, 10, 25, 50, 100, -1], [5, 10, 25, 50, 100, &quot;All&quot;] ]}&apos;&gt;
</pre>

<div class="mrgn-bttm-lg">
    <table class="wb-tables table table-striped table-hover table-condensed small wb-tables-utility" id="t3" data-wb-tables-utility="{&quot;debug&quot;:true, &quot;filteredsum&quot;:false}" data-wb-tables='{ "ajax":"data/datatable-utility.json", "columns": [
                                      { "data": "DepartmentFR" },
                                      { "data": "ContactEmail" },
                                      { "data": "Custom study titleFR" },
                                      { "data": "Registration number" },
                                      { "data": "Contract value" }
                                    ],
                            "columnDefs": [{ "className": "text-left", "targets": [0]},
                                    { "className": "text-left wb-col-mailto", "targets": [1] },
                                    { "className": "text-left wb-col-url", "targets": [2] },
                                    { "className": "text-left", "targets": [3] },
                                    { "className": "text-right wb-col-money wb-col-sum", "targets": [4] }],
                                     "lengthMenu": [ [5, 10, 25, 50, 100, -1], [5, 10, 25, 50, 100, "All"] ]}'>
        <caption class="text-left">
            Tableau&nbsp;3&nbsp;: Exemple de totaux statiques dans le pied de page de table
        </caption>
        <thead>
            <tr class="active">
                <th scope="col">Ministère</th>
                <th scope="col">Courriel</th>
                <th scope="col">Titre de l’étude multi-intérêts</th>
                <th scope="col">Reg#</th>
                <th scope="col">Valeur des contrats</th>
            </tr>
        </thead>
        <tfoot>
            <tr class="active">
                <th colspan="4">Total</th>
                <td>&nbsp;</td>
            </tr>
        </tfoot>
    </table>
</div>

<h2>Pied de page de table avec totaux dynamiques mis à jour lors du filtrage</h2>

<p><code>.wb-col-sum</code> classe sur la colonne pour effectuer le total de la colonne.</p>
<p>Ajouter un espace réservé &lt;tfoot&gt; en bas de la table.</p>

<pre class="mrgn-bttm-lg">
    &lt;tfoot&gt;
        &lt;tr class=&quot;active&quot;&gt;
            &lt;th colspan=&quot;4&quot;&gt;Total&lt;/th&gt;
            &lt;td&gt;&amp;nbsp;&lt;/td&gt;
        &lt;/tr&gt;
    &lt;/tfoot&gt;
</pre>

<h3>Code</h3>

<pre class="mrgn-bttm-lg">
    &lt;table class=&quot;wb-tables table table-striped table-hover table-condensed small <strong>wb-tables-utility</strong>&quot; id=&quot;t4&quot;
            data-wb-tables=&apos;{ &quot;ajax&quot;:&quot;data/datatable-utility.json&quot;,
                            &quot;columns&quot;: [{ &quot;data&quot;: &quot;DepartmentFR&quot; },
                                        { &quot;data&quot;: &quot;ContactEmail&quot; },
                                        { &quot;data&quot;: &quot;Custom study titleFR&quot; },
                                        { &quot;data&quot;: &quot;Registration number&quot; },
                                        { &quot;data&quot;: &quot;Contract value&quot; }],
                                    &quot;columnDefs&quot;: [{ &quot;className&quot;: &quot;text-left&quot;, &quot;targets&quot;: [0]},
                                            { &quot;className&quot;: &quot;text-left wb-col-mailto&quot;, &quot;targets&quot;: [1] },
                                            { &quot;className&quot;: &quot;text-left wb-col-url&quot;, &quot;targets&quot;: [2] },
                                            { &quot;className&quot;: &quot;text-left&quot;, &quot;targets&quot;: [3] },
                                            { &quot;className&quot;: &quot;text-right <strong>wb-col-sum</strong> wb-col-money&quot;, &quot;targets&quot;: [4] }],
                                                &quot;lengthMenu&quot;: [ [5, 10, 25, 50, 100, -1], [5, 10, 25, 50, 100, &quot;All&quot;] ]}&apos;&gt;
</pre>

<div class="mrgn-bttm-lg">
    <table class="wb-tables table table-striped table-hover table-condensed small wb-tables-utility" id="t4" data-wb-tables='{ "ajax":"data/datatable-utility.json", "columns": [
                                      { "data": "DepartmentFR" },
                                      { "data": "ContactEmail" },
                                      { "data": "Custom study titleFR" },
                                      { "data": "Registration number" },
                                      { "data": "Contract value" }
                                    ],
                            "columnDefs": [{ "className": "text-left", "targets": [0]},
                                    { "className": "text-left wb-col-mailto", "targets": [1] },
                                    { "className": "text-left wb-col-url", "targets": [2] },
                                    { "className": "text-left", "targets": [3] },
                                    { "className": "text-right wb-col-money wb-col-sum", "targets": [4] }],
                                     "lengthMenu": [ [5, 10, 25, 50, 100, -1], [5, 10, 25, 50, 100, "All"] ]}'>
        <caption class="text-left">
            Table&nbsp;4&nbsp;: Exemple de totaux dynamiques dans le pied de page
        </caption>
        <thead>
            <tr class="active">
                <th scope="col">Ministère</th>
                <th scope="col">Courriel</th>
                <th scope="col">Titre de l’étude multi-intérêts</th>
                <th scope="col">Reg#</th>
                <th scope="col">Valeur des contrats</th>
            </tr>
        </thead>
        <tfoot>
            <tr class="active">
                <th colspan="4">Total</th>
                <td>&nbsp;</td>
            </tr>
        </tfoot>
    </table>
</div>