{%- comment -%}

++++++++++++++++++++++++++++++++++
+ More information section located in the right column
+
+ Used mainly by organizational and institutional page
++++++++++++++++++++++++++++++++++

{%- endcomment -%}

<section class="lnkbx">
{%- if page.language == "fr" -%}
	<h2>Autres renseignements pour les</h2>
	<ul>
		<li><a href="#">[Lien à un sujet pour un auditoire ciblé]</a></li>
		<li><a href="#">[Lien à un sujet pour un auditoire ciblé]</a></li>
		<li><a href="#">[Lien à un sujet pour un auditoire ciblé]</a></li>
	</ul>
{%- else -%}
	<h2>More information for</h2>
	<ul>
		<li><a href="#">[Audience hyperlink text]</a></li>
		<li><a href="#">[Audience hyperlink text]</a></li>
		<li><a href="#">[Audience hyperlink text]</a></li>
	</ul>
{%- endif -%}
</section>
