---
{
	"altLangPage": "follow-us-en.html",
	"dateModified": "2024-05-28",
	"description": "Exemples pratiques pour la composante Suivez-nous.",
	"language": "fr",
	"title": "Suivez-nous",
	"breadcrumbs": [
		{ "title": "Bloc des réseaux de médias sociaux", "link": "components/gc-follow-us/gc-follow-us-doc-fr.html" }
	]
}
---

<div class="wb-prettify all-pre hide"></div>

<section>
	<h2>Exemple de la composante Suivez-nous</h2>
	{%- include gc-follow-us/follow.html -%}
	<details>
		<summary>Code</summary>
		{% highlight html %}
			{%- include gc-follow-us/follow.html -%}
		{% endhighlight %}
	</details>
</section>

<section>
	<h2>Exemple des icônes de médias sociaux individuels</h2>
	<h3 class="icon x-social">X:</h3>
	<ul>
		<li><a href="https://twitter.com/environnementca" rel="external">X d’Environnement Canada</a>
		</li>
		<li><a href="https://twitter.com/MPO_DFO" rel="external">X de Pêches et Océans Canada</a>
		</li>
		<li><a href="https://twitter.com/ParcsCanada" rel="external">X de Parcs Canada</a>
		</li>
	</ul>
	<h3 class="icon facebook" lang="en">Facebook:</h3>
	<ul>
		<li><a href="https://www.facebook.com/EnvironnementetressourcesnaturellesauCanada/" rel="external"><span lang="en">Facebook</span> d’Environnement Canada</a>
		</li>
		<li><a href="https://www.facebook.com/ParcsCanada" rel="external"><span lang="en">Facebook</span> de Parcs Canada</a>
		</li>
	</ul>
	<h3 class="icon flickr" lang="en">Flickr:</h3>
	<ul>
		<li><a href="https://www.flickr.com/photos/environnementcan" rel="external"><span lang="en">Flickr</span> d’Environnement Canada</a>
		</li>
	</ul>
	<h3 class="icon youtube" lang="en">YouTube:</h3>
	<ul>
		<li><a href="https://www.youtube.com/user/ParcsCanada" rel="external"><span lang="en">YouTube</span> de Parcs Canada</a>
		</li>
		<li><a href="https://www.youtube.com/user/PechesCanada/" rel="external"><span lang="en">YouTube</span>  de Pêches et Océans Canada</a>
		</li>
	</ul>
	<h3 class="icon pinterest">Pinterest:</h3>
	<ul>
		<li><a href="https://www.pinterest.com/canensante/" rel="external">Canadiens en Santé</a> <span class="wb-inv">presence</span></li>
	</ul>
	<h3 class="icon twitter" lang="en">Twitter:</h3>
	<ul>
		<li><a href="https://twitter.com/environnementca" rel="external"><span lang="en">Twitter</span> d’Environnement Canada</a>
		</li>
		<li><a href="https://twitter.com/MPO_DFO" rel="external"><span lang="en">Twitter</span> de Pêches et Océans Canada</a>
		</li>
		<li><a href="https://twitter.com/ParcsCanada" rel="external"><span lang="en">Twitter</span>  de Parcs Canada</a>
		</li>
	</ul>
	<details>
		<summary>Code</summary>
		{% highlight html %}
		<h3 class="icon x-social">X:</h3>
		<ul>
			<li><a href="https://twitter.com/environnementca" rel="external">X d’Environnement Canada</a>
			</li>
			<li><a href="https://twitter.com/MPO_DFO" rel="external">X de Pêches et Océans Canada</a>
			</li>
			<li><a href="https://twitter.com/ParcsCanada" rel="external">X de Parcs Canada</a>
			</li>
		</ul>
		<h3 class="icon facebook" lang="en">Facebook:</h3>
		<ul>
			<li><a href="https://www.facebook.com/EnvironnementetressourcesnaturellesauCanada/" rel="external"><span lang="en">Facebook</span> d’Environnement Canada</a>
			</li>
			<li><a href="https://www.facebook.com/ParcsCanada" rel="external"><span lang="en">Facebook</span> de Parcs Canada</a>
			</li>
		</ul>
		<h3 class="icon flickr" lang="en">Flickr:</h3>
		<ul>
			<li><a href="https://www.flickr.com/photos/environnementcan" rel="external"><span lang="en">Flickr</span> d’Environnement Canada</a>
			</li>
		</ul>
		<h3 class="icon youtube" lang="en">YouTube:</h3>
		<ul>
			<li><a href="https://www.youtube.com/user/ParcsCanada" rel="external"><span lang="en">YouTube</span> de Parcs Canada</a>
			</li>
			<li><a href="https://www.youtube.com/user/PechesCanada/" rel="external"><span lang="en">YouTube</span>  de Pêches et Océans Canada</a>
			</li>
		</ul>
		<h3 class="icon pinterest">Pinterest:</h3>
		<ul>
			<li><a href="https://www.pinterest.com/canensante/" rel="external">Canadiens en Santé</a> <span class="wb-inv">presence</span></li>
		</ul>
		<h3 class="icon twitter" lang="en">Twitter:</h3>
		<ul>
			<li><a href="https://twitter.com/environnementca" rel="external"><span lang="en">Twitter</span> d’Environnement Canada</a>
			</li>
			<li><a href="https://twitter.com/MPO_DFO" rel="external"><span lang="en">Twitter</span> de Pêches et Océans Canada</a>
			</li>
			<li><a href="https://twitter.com/ParcsCanada" rel="external"><span lang="en">Twitter</span>  de Parcs Canada</a>
			</li>
		</ul>
		{% endhighlight %}
	</details>

	<h3>Icônes disponibles</h3>
	<ul>
		<li><span class="icon foursquare">Icône Foursquare</span></li>
		<li><span class="icon youtube">Icône Youtube</span></li>
		<li><span class="icon x-social">Icône X-social</span></li>
		<li><span class="icon flickr">Icône Flickr</span></li>
		<li><span class="icon facebook">Icône Facebook</span></li>
		<li><span class="icon pinterest">Icône Pinterest</span></li>
		<li><span class="icon linkedin">Icône LinkedIn</span></li>
		<li><span class="icon instagram">Icône Instagram</span></li>
		<li><span class="icon reddit">Icône Reddit</span></li>
		<li><span class="icon rss">Icône RSS</span></li>
	</ul>
</section>
