---
{
	"altLangPage": "follow-us-fr.html",
	"dateModified": "2024-05-28",
	"description": "Working examples for the Follow us component.",
	"language": "en",
	"title": "Follow us",
	"breadcrumbs": [
		{ "title": "Social media channels", "link": "components/gc-follow-us/gc-follow-us-doc-en.html" }
	]
}
---

<div class="wb-prettify all-pre hide"></div>

<section>
	<h2>Follow us component example</h2>
	{%- include gc-follow-us/follow.html -%}

	<details>
		<summary>Code</summary>
		{% highlight html %}
			{%- include gc-follow-us/follow.html -%}
		{% endhighlight %}
	</details>
</section>

<section>
	<h2>Individual social media icons example</h2>
	<h3 class="icon x-social">X:</h3>
	<ul>
		<li><a href="#" rel="external">Environment Canada’s X</a> <span class="wb-inv">presence</span></li>
		<li><a href="#" rel="external">Fisheries and Oceans Canada’s X</a> <span class="wb-inv">presence</span></li>
		<li><a href="#" rel="external">Parks Canada’s X</a> <span class="wb-inv">presence</span></li>
	</ul>
	<h3 class="icon facebook">Facebook:</h3>
	<ul>
		<li><a href="#" rel="external">Environment Canada’s Facebook</a> <span class="wb-inv">presence</span></li>
		<li><a href="#" rel="external">Parks Canada’s Facebook</a> <span class="wb-inv">presence</span></li>
	</ul>
	<h3 class="icon flickr">Flickr:</h3>
	<ul>
		<li><a href="#" rel="external">Environment Canada’s Flickr</a> <span class="wb-inv">presence</span></li>
	</ul>
	<h3 class="icon youtube">YouTube:</h3>
	<ul>
		<li><a href="#" rel="external">Parks Canada’s YouTube</a> <span class="wb-inv">presence</span></li>
		<li><a href="#" rel="external">Department of Fisheries and Oceans’ YouTube</a> <span class="wb-inv">presence</span></li>
	</ul>
	<h3 class="icon pinterest">Pinterest:</h3>
	<ul>
		<li><a href="#" rel="external">Healthy Canadians</a> <span class="wb-inv">presence</span></li>
	</ul>
	<h3 class="icon twitter">Twitter:</h3>
	<ul>
		<li><a href="#" rel="external">Environment Canada’s Twitter</a> <span class="wb-inv">presence</span></li>
		<li><a href="#" rel="external">Fisheries and Oceans Canada’s Twitter</a> <span class="wb-inv">presence</span></li>
		<li><a href="#" rel="external">Parks Canada’s Twitter</a> <span class="wb-inv">presence</span></li>
	</ul>
	<details>
		<summary>Code</summary>
		{% highlight html %}
		<h3 class="icon x-social">X:</h3>
		<ul>
			<li><a href="#" rel="external">Environment Canada’s X</a> <span class="wb-inv">presence</span></li>
			<li><a href="#" rel="external">Fisheries and Oceans Canada’s X</a> <span class="wb-inv">presence</span></li>
			<li><a href="#" rel="external">Parks Canada’s X</a> <span class="wb-inv">presence</span></li>
		</ul>
		<h3 class="icon facebook">Facebook:</h3>
		<ul>
			<li><a href="#" rel="external">Environment Canada’s Facebook</a> <span class="wb-inv">presence</span></li>
			<li><a href="#" rel="external">Parks Canada’s Facebook</a> <span class="wb-inv">presence</span></li>
		</ul>
		<h3 class="icon flickr">Flickr:</h3>
		<ul>
			<li><a href="#" rel="external">Environment Canada’s Flickr</a> <span class="wb-inv">presence</span></li>
		</ul>
		<h3 class="icon youtube">YouTube:</h3>
		<ul>
			<li><a href="#" rel="external">Parks Canada’s YouTube</a> <span class="wb-inv">presence</span></li>
			<li><a href="#" rel="external">Department of Fisheries and Oceans’ YouTube</a> <span class="wb-inv">presence</span></li>
		</ul>
		<h3 class="icon pinterest">Pinterest:</h3>
		<ul>
			<li><a href="#" rel="external">Healthy Canadians</a> <span class="wb-inv">presence</span></li>
		</ul>
		<h3 class="icon twitter">Twitter:</h3>
		<ul>
			<li><a href="#" rel="external">Environment Canada’s Twitter</a> <span class="wb-inv">presence</span></li>
			<li><a href="#" rel="external">Fisheries and Oceans Canada’s Twitter</a> <span class="wb-inv">presence</span></li>
			<li><a href="#" rel="external">Parks Canada’s Twitter</a> <span class="wb-inv">presence</span></li>
		</ul>
		{% endhighlight %}
	</details>

	<h3>Available icons</h3>
	<ul>
		<li><span class="icon foursquare">Foursquare icon</span></li>
		<li><span class="icon youtube">Youtube icon</span></li>
		<li><span class="icon x-social">X-social icon</span></li>
		<li><span class="icon flickr">Flickr icon</span></li>
		<li><span class="icon facebook">Facebook icon</span></li>
		<li><span class="icon pinterest">Pinterest icon</span></li>
		<li><span class="icon linkedin">LinkedIn icon</span></li>
		<li><span class="icon instagram">Instagram icon</span></li>
		<li><span class="icon reddit">Reddit icon</span></li>
		<li><span class="icon rss">RSS icon</span></li>
	</ul>
</section>
