---
title: "Page non trouvée / Page not found"
language: "fr"
layout: servermessage
nositesearch: true
breadcrumbs: false
nomenu: true
isBilingual: true
creator-en: "Government of Canada"
creator-fr: "Gouvernement du Canada"
subject-en: "404 Error Page Not Found"
subject-fr: "Page d'erreur 404 introuvable"
description-en: "404 error page not found: The page you’re looking for may have been moved or deleted."
description-fr: "Page d'erreur 404 introuvable : La page que vous souhaitez consulter a peut-être été déplacée ou supprimée."
dateModified: 2026-01-30
---
<h1 class="wb-inv" id="wb-cont">Page non trouvée / <span lang="en">Page not found</span></h1>
<p class="wb-slc"><a class="wb-sl" href="#en">Go to the English version</a></p>
<div class="row">
	<!-- French section -->
	<div class="col-md-6 col-sm-12" id="fr">
		<h2>Page non trouvée</h2>
		<p><span class="label label-danger">Erreur 404</span></p>
		<p>La page que vous souhaitez consulter a peut-être été déplacée ou supprimée. Assurez-vous que l’adresse Web (URL) est exacte. N’incluez pas de caractères spéciaux ni d’espaces dans l’URL.</p>
		<p>Vous cherchez peut-être l’une des pages suivantes :</p>
		<ul>
			<li><a href="https://www.canada.ca/fr.html">Page d'accueil de Canada.ca</a></li>
			<li><a href="https://www.canada.ca/fr/services.html">Services du gouvernement du Canada</a></li>
			<li><a href="https://www.canada.ca/fr/contact.html">Coordonnées du gouvernement du Canada</a></li>
			<li><a href="https://www.canada.ca/fr/gouvernement/ouvrir-session-dossier-compte-en-ligne.html">Se connecter à un dossier ou un compte en ligne</a></li>
			<li><a href="https://www.canada.ca/fr/services/prestations.html">Prestations</a></li>
			<li><a href="https://www.canada.ca/fr/services/impots.html">Impôts</a></li>
			<li><a href="https://www.canada.ca/fr/services/immigration-citoyennete.html">Immigration ou citoyenneté Canada</a></li>
		</ul>
		<!-- French search -->
		<section class="my-4">
			<h3 class="wb-inv">Recherche</h3>
			<form action="https://www.canada.ca/fr/sr/srb.html" method="get" name="cse-search-box" role="search" class="form-inline">
				<div class="input-group">
					<label for="wb-srch-q-fr" class="wb-inv">Effectuer une recherche sur le site Web</label>
					<input id="wb-srch-q-fr" list="wb-srch-q-ac-fr" class="wb-srch-q form-control" name="q" type="search" value="" size="27" maxlength="150" placeholder="Rechercher dans Canada.ca">
					<datalist id="wb-srch-q-ac-fr"></datalist>
					<span class="input-group-btn">
						<button type="submit" id="wb-srch-sub-fr" class="btn btn-primary btn-small" name="wb-srch-sub-fr">
							<span class="glyphicon glyphicon-search"></span>
							<span class="wb-inv">Recherche</span>
						</button>
					</span>
				</div>
			</form>
		</section>
	</div>
	<!-- English section -->
	<div class="col-md-6 col-sm-12" id="en" lang="en">
		<h2>Page not found</h2>
		<p><span class="label label-danger">404 error</span></p>
		<p>The page you’re looking for may have been moved or deleted. Check that the web address (URL) is spelled correctly. Do not include special characters or spaces in the URL.</p>
		<p>You may be looking for:</p>
		<ul>
			<li><a href="https://www.canada.ca/en.html">Canada.ca home page</a></li>
			<li><a href="https://www.canada.ca/en/services.html">Government of Canada services</a></li>
			<li><a href="https://www.canada.ca/en/contact.html">Contact the Government of Canada</a></li>
			<li><a href="https://www.canada.ca/en/government/sign-in-online-account.html">Sign in to an account</a></li>
			<li><a href="https://www.canada.ca/en/services/benefits.html">Benefits</a></li>
			<li><a href="https://www.canada.ca/en/services/taxes.html">Taxes</a></li>
			<li><a href="https://www.canada.ca/en/services/immigration-citizenship.html">Visit or immigrate to Canada</a></li>
		</ul>
		<!-- English search -->
		<section class="my-4">
			<h3 class="wb-inv">Search</h3>
			<form action="https://www.canada.ca/en/sr/srb.html" method="get" name="cse-search-box" role="search" class="form-inline">
				<div class="input-group">
					<label for="wb-srch-q" class="wb-inv">Search website</label>
					<input id="wb-srch-q" list="wb-srch-q-ac" class="wb-srch-q form-control" name="q" type="search" value="" size="27" maxlength="150" placeholder="Search Canada.ca">
					<datalist id="wb-srch-q-ac"></datalist>
					<span class="input-group-btn">
						<button type="submit" id="wb-srch-sub" class="btn btn-primary btn-small ml-0" name="wb-srch-sub">
							<span class="glyphicon glyphicon-search"></span>
							<span class="wb-inv">Search</span>
						</button>
					</span>
				</div>
			</form>
		</section>
	</div>
</div>
