{%- include variable-core.liquid -%}
<!DOCTYPE html>
<html class="no-js" lang="{{ page.lang | default: 'en' }}" dir="{{ page.i18n.tmpl-lang-dir[page.lang]  | default: 'ltr' }}">
	<head>
		<meta charset="utf-8" />
		<!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
		wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
		<title>{{ page.title }}</title>
		<meta content="width=device-width, initial-scale=1" name="viewport" />
		<meta name="robots" content="noindex, nofollow, noarchive" />
		{% include templates/servermessage.html %}
	</head>
	<body vocab="http://schema.org/" resource="#wb-webpage" typeof="WebPage">
		<header role="banner" id="wb-bnr" class="container">
			<div class="row" property="publisher" resource="#wb-publisher" typeof="GovernmentOrganization">
				<div class="col-sm-6">
					<img id="gcwu-sig" src="{{ setting-resourcesBasePathTheme }}/{{ i18nText-sigBlk }}" alt="{{ i18nText-goc }}" property="logo" /><span class="wb-inv"> / {{ i18nText-gocAltLang }}</span>
					<meta property="name" content="{{ i18nText-goc }}" />
					<meta property="areaServed" typeOf="Country" content="Canada" />
				</div>
				<div class="col-sm-6">
					<img id="wmms" src="{{ setting-resourcesBasePathTheme }}/{{ i18nText-wmmsImg }}" alt="{{ i18nText-wmms }}" property="logo" /><span class="wb-inv"> / {{ i18nText-wmmsAltLang }}</span>
				</div>
			</div>
		</header>
		<main role="main" property="mainContentOfPage" resource="#wb-main" typeof="WebPageElement" class="container">
			<div class="row mrgn-tp-lg">
				{{ content }}
			</div>
		</main>
		{% include resources-inc/footer.html %}
	</body>
</html>
