---
{
	"title": "Titre du message - Thème Canada.ca / Message title - Canada.ca theme",
	"language": "fr",
	"isBilingual": true,
	"layout": "servermessage",
	"breadcrumbs": false,
	"nomenu": true,
	"creator-en": "Government of Canada",
	"creator-fr": "Gouvernement du Canada",
	"subject-en": "Server Error Message",
	"subject-fr": "Message d'erreur du serveur",
	"description-en": "Server error message template.",
	"description-fr": "Gabarit de message d'erreur du serveur.",
	"dateModified": "2026-01-30"
}
---
<h1 class="wb-inv" id="wb-cont">Titre du message / <span lang="en">Message title</span></h1>
<p class="wb-slc"><a class="wb-sl" href="#en">Go to the English version</a></p>
<div class="row">
	<!-- French section -->
	<div class="col-md-6 col-sm-12" id="fr">
		<h2>Titre du message</h2>
		<p><span class="label label-danger">Code d'erreur</span></p>
		<p>Texte d'exemple. Texte d'exemple. Texte d'exemple. Texte d'exemple. Texte d'exemple. Texte d'exemple. Texte d'exemple. Texte d'exemple. Texte d'exemple.</p>
	</div>
	<!-- English section -->
	<div class="col-md-6 col-sm-12" id="en" lang="en">
		<h2>Message title</h2>
		<p><span class="label label-danger">Error code</span></p>
		<p>Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text.</p>
	</div>
</div>
