---
{
	"title": "Titre du message - Thème Canada.ca",
	"language": "fr",
	"layout": "servermessage",
	"description": "Gabarit de message d'erreur du serveur.",
	"subject": "Message d'erreur du serveur",
	"creator": "Gouvernement du Canada",
	"dateModified": "2026-01-30"
}
---
<div class="mb-5">
	<p><span class="label label-danger">Code d'erreur</span></p>
	<p>Texte d'exemple. Texte d'exemple. Texte d'exemple. Texte d'exemple. Texte d'exemple. Texte d'exemple. Texte d'exemple. Texte d'exemple. Texte d'exemple. Texte d'exemple.</p>
</div>
