---
{
	"title": "Titre du message - Thème Canada.ca / Message title - Canada.ca theme",
	"language": "fr",
	"isBilingual": true,
	"layout": "servermessage",
	"breadcrumbs": false,
	"nomenu": true
}
---
<h1 class="wb-inv" id="wb-cont">Titre du message / <span lang="en">Message title</span></h1>
<div class="col-md-12 mrgn-tp-md mrgn-bttm-xl">
	<div class="row">
		<!-- French section -->
		<div class="col-md-5 col-sm-12">
			<div class="row">
				<h2 id="fr">Titre du message</h2>
				<p><span class="label label-danger">Code d'erreur</span></p>
				<p>Texte d'exemple. Texte d'exemple. Texte d'exemple. Texte d'exemple. Texte d'exemple. Texte d'exemple. Texte d'exemple. Texte d'exemple. Texte d'exemple.</p>
				<p class="hidden-xl hidden-md hidden-lg"><a href="#en">Go to the English version</a></p>
			</div>
		</div>
		<div class="col-md-1 col-sm-0"></div>
		<!-- English section -->
		<div class="col-md-5 col-sm-12" lang="en">
			<section>
				<div class="row">
					<h2 id="en">Message title</h2>
					<p><span class="label label-danger">Error code</span></p>
					<p>Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text.</p>
					<p class="hidden-xl hidden-md hidden-lg"><a href="#fr">Aller à la version française</a></p>
				</div>
			</section>
		</div>
	</div>
</div>
