---
{
	"title": "Titre du message - Thème Canada.ca / Message title - Canada.ca theme",
	"language": "fr",
	"isBilingual": true,
	"layout": "servermessage",
	"breadcrumbs": false,
	"nomenu": true
}
---
<h1 class="wb-inv" id="wb-cont">Titre du message / <span lang="en">Message title</span></h1>
<ul class="list-unstyled">
	<li class="wb-slc"><a class="wb-sl" href="#fr">Aller à la version française</a></li>
	<li class="wb-slc"><a class="wb-sl" href="#en">Go to the English version</a></li>
</ul>
<div class="col-md-12 mb-5">
	<div class="row">
		<!-- French section -->
		<div class="col-md-5 col-sm-12" id="fr">
			<div class="row">
				<h2>Titre du message</h2>
				<p><span class="label label-danger">Code d'erreur</span></p>
				<p>Texte d'exemple. Texte d'exemple. Texte d'exemple. Texte d'exemple. Texte d'exemple. Texte d'exemple. Texte d'exemple. Texte d'exemple. Texte d'exemple.</p>
			</div>
		</div>
		<div class="col-md-1 col-sm-0"></div>
		<!-- English section -->
		<div class="col-md-5 col-sm-12" id="en" lang="en">
			<div class="row">
				<h2>Message title</h2>
				<p><span class="label label-danger">Error code</span></p>
				<p>Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text.</p>
			</div>
		</div>
	</div>
</div>
