/*
 Banner (extra-extra-small view)
 */
header {
	.brand {
		object, img {
			height: auto;
			max-height: 20px;
		}
		a {
			margin-top: 15px;
		}
	}
}
#wb-glb-mn {
	.overlay-lnk {
		font-size: 1.1em !important;
	}
	ul {
		&.chvrn {
			padding-right: 10px;
			width: 3.5em;
			height: 33px;
			margin-left: auto;
			&:before {
				border-top: 16px solid transparent;
				border-bottom: 16px solid transparent;
				border-left: 8px solid #f8f8f8;
			}
		}
	}
}
