/*
 Header section
 */

header {
	position: relative;
	.brand {
		padding-bottom: 10px;
		margin-bottom: 10px;
		padding-top: 10px;
		a {
			height: auto;
			width: auto;
			display: block;
			position: relative;
			padding-bottom: 0;

			&:after {
				content: "";
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
			}
		}
		object, img {
			height: auto;
			max-height: 40px;
		}
	}
}

/*
 * Mobile Chevron
 */
#wb-glb-mn {
	margin-top: 20px;
	ul {
		&.chvrn {
			height: 44px;
			background: $accent-blue;
			padding-right: 1.5em;
			li {
				a {
					color: #fff;
					font-size: 1.5em;
					line-height: 2;
				}
			}
			&:before {
				position: relative;
				content: " ";
				display: block;
				float: left;
				width: 0;
				height: 0;
				border-top: 22px solid transparent;
				border-bottom: 22px solid transparent;
				border-left: 11px solid #f8f8f8;
			}
		}
	}
}

/* IE Tweaks */
.lt-ie9 {
	header {
		.brand {
			a {
				margin-top: 0;
			}
			img {
				height: 40px;
			}
		}
	}
}

[dir=rtl] {
	header {
		.brand {
			float: right;
		}
	}
	#wb-glb-mn {
		ul {
			&.chvrn {
				text-align: left;
				padding-left: 1.5em;
				padding-right: 0;
				&:before {
					float: right;
					border-left: none;
					border-right: 11px solid #f8f8f8;
				}
			}
		}
	}
}
