// Banner (extra-extra-small view)

header {
	.brand {
		object,
		img {
			height: auto;
			max-height: 20px;
		}

		a {
			margin-top: 15px;
		}
	}
}

#wb-glb-mn {
	.overlay-lnk {
		font-size: 1.1em !important;
	}

	ul {
		&.chvrn {
			height: 33px;
			margin-left: auto;
			padding-right: 10px;
			width: 3.5em;

			&:before {
				border-bottom: 16px solid transparent;
				border-left: 8px solid #f8f8f8;
				border-top: 16px solid transparent;
			}
		}
	}
}
