/*
 Header section
 */

header {
	position: relative;

	.brand {
		margin-bottom: 10px;
		padding-bottom: 10px;
		padding-top: 10px;

		a {
			display: block;
			height: auto;
			padding-bottom: 0;
			position: relative;
			width: auto;

			&:after {
				bottom: 0;
				content: "";
				left: 0;
				position: absolute;
				right: 0;
				top: 0;
			}
		}

		object,
		img {
			height: auto;
			max-height: 40px;
		}
	}
}

/*
 * Mobile Chevron
 */
#wb-glb-mn {
	margin-top: 20px;

	ul {
		&.chvrn {
			background: $accent-blue;
			height: 44px;
			padding-right: 1.5em;

			li {
				a {
					color: #fff;
					font-size: 1.5em;
					line-height: 2;
				}
			}

			&:before {
				border-bottom: 22px solid transparent;
				border-left: 11px solid #f8f8f8;
				border-top: 22px solid transparent;
				content: " ";
				display: block;
				float: left;
				height: 0;
				position: relative;
				width: 0;
			}
		}
	}
}

/* IE Tweaks */
.lt-ie9 {
	header {
		.brand {
			a {
				margin-top: 0;
			}

			img {
				height: 40px;
			}
		}
	}
}

[dir=rtl] {
	header {
		.brand {
			float: right;
		}
	}

	#wb-glb-mn {
		ul {
			&.chvrn {
				padding-left: 1.5em;
				padding-right: 0;
				text-align: left;

				&:before {
					border-left: 0;
					border-right: 11px solid #f8f8f8;
					float: right;
				}
			}
		}
	}
}
