// Breadcrumbs

#wb-bc {
	background: #f5f5f5;

	.breadcrumb {
		border-radius: 0;
		margin-bottom: 0;
	}

	li {
		&:before,
		&:after {
			color: #000;
			font-family: "Glyphicons Halflings";
			font-size: 0.7em;
		}

		&:before {
			content: "\e092";
		}

		&:first-child {
			&:before {
				display: none;
			}
		}
	}
}

[dir=rtl] {
	#wb-bc {
		li {
			&:before {
				content: "";
				padding: 0;
			}

			&:after {
				content: "\e091";
				padding: 0 5px;
			}

			&:first-child {
				&:after {
					content: "";
					padding: 0;
				}
			}
		}
	}
}
