/*
 WET button overwrites
 */

main {
	.btn-default {
		background-color: $gray-light;
		color: $accent-blue;
		&:hover {
			background-color: $gray;
			color: $active-blue;
		}
	}
	.btn-primary {
		background-color: $accent-blue;
		border-color: $accent-blue;
	}
}
