/*
 * Carousel-specific overrides
 */
.prm-flpr {
	margin-top: 1px;
	background-color: #eee;
	.carousel-s2 {
		.plypause {
			font-size: 1.2em;
		}
		figure {
			figcaption {
				font-size: 1.3em;
				a {
				  text-decoration: none;
				  &:hover{
				    text-decoration: underline;
				  }
				}
			}
		}
	}
}

/* IE */
.lt-ie9 {
	.prm-flpr {
		.carousel-s2 {
			figcaption {
				background: url(../assets/backdrop.png);
			}
		}
	}
}