/*
 * Carousel-specific overrides
 */
.prm-flpr {
	background-color: #eee;
	.carousel-s2 {
		.plypause {
			font-size: 1.2em;
		}
		figure {
			figcaption {
				font-weight: 700;
				font-size: 1.3em;
				 background-color: rgba(0, 0, 0, 0.85);
			}
		}
	}
}

/* IE */
.lt-ie9 {
	.prm-flpr {
		.carousel-s2 {
			figcaption {
				background-color: #000;
			}
		}
	}
}