/*
 Carousel (extra-extra-small view)
 */

.prm-flpr {
	.wb-tabs.carousel-s2 {
		[role="tablist"] {
			li {
				.plypause {
					a {
						font-size: 1em;
						vertical-align: middle;
					}
				}

				.tab-count {
					height: 0;
					visibility: hidden;
					width: 0;

					.curr-count {
						font-size: 1em;
					}
				}
			}
		}
	}
}
