/*
 * Equal Heights overrides (large view and over)
 */

// Equal heights columns content
.sect-lnks {
	margin-right: 15px;
	width: 31.7%;
}

main {
	&.col-md-9 {
		.sect-lnks {
			width: 31.2%;
		}
	}
}

.lt-ie9 {
	// Equal heights columns content
	.sect-lnks {
		width: 30%;
	}

	main {
		&.col-md-9 {
			.sect-lnks {
				width: 30%;
			}
		}
	}
}
