/*
 * Equal Heights overrides (medium view)
 */

// Equal heights columns content
.sect-lnks {
	margin-right: 15px;
	width: 48.1%;
}

main {
	&.col-md-9 {
		.sect-lnks {
			width: 47.5%;
		}
	}
}

.lt-ie9 {
	// Equal heights columns content
	.sect-lnks {
		width: 47%;
	}

	main {
		&.col-md-9 {
			.sect-lnks {
				width: 46%;
			}
		}
	}
}
