/*
 Details Summary Styling
*/
.dshbrd {
	.cntrls {
		li {
			padding-right: 0;
		}

		a {
			background: #eee;
			border: 1px solid #ddd;
			color: #000;
			padding: 7px 5px;
		}
	}

	> {
		details {
			display: inline;
			left: 0;
			position: relative;
			top: 0;

			> {
				summary {
					font-size: 0;
					max-height: 0;
				}
			}
		}
	}
}
