/*
 Details Summary Styling
*/
.dshbrd {
	.cntrls {
		li {
			padding-right: 0;
		}
		a {
			padding: 7px 5px;
			background: #eee;
			color: #000;
			border: 1px solid #ddd;
		}
	}
	> {
		details {
			display: inline;
			position: relative;
			top: 0;
			left: 0;
			> {
				summary {
					max-height: 0;
					font-size: 0;
				}
			}
		}
	}
}
