// Main content area

main {
	position: relative;

	.pagetag,
	.subtitle {
		color: #555;
		font-size: 1em;
		font-weight: 300;
		margin-bottom: 1em;
	}

	.departments {
		.learnmore {
			padding: 3em 0;
		}
	}

	.priorities {
		padding-top: 2em;

		.thumbnail {
			margin-bottom: 1.5em;
			padding: 1em;
		}
	}
}
