/*
 * Main content area
 */
main {
	position: relative;
	a {
		text-decoration: underline;
	}
	ul, ol {
		li {
			line-height: 1.4375;
			margin-bottom: 1em;
			ul, ol {
				margin-top: 1em;
			}
		}
	}
	.btn {
		text-decoration: none;
	}
	.pagetag, .subtitle {
		font-size: 1em;
		color: #555;
		margin-bottom: 1em;
		font-weight: 300;
	}
	.btn-primary {
		background-color: $accent-blue;
		border-color: $accent-blue;
	}
	.departments {
		.learnmore {
			padding: 3em 0;
		}
	}
	.priorities {
		padding-top: 2em;
		.thumbnail {
			margin-bottom: 1.5em;
			padding: 1em;
		}
	}
}
