/*
 * Main content area
 */
main {
	position: relative;
	.pagetag, .subtitle {
		font-size: 1em;
		color: #555;
		margin-bottom: 1em;
		font-weight: 300;
	}
	.departments {
		.learnmore {
			padding: 3em 0;
		}
	}
	.priorities {
		padding-top: 2em;
		.thumbnail {
			margin-bottom: 1.5em;
			padding: 1em;
		}
	}
}
