/*
 Secondary Navigation
*/

%secmenu-canada-theme-menuitem-curr-hover-focus {
	background-color: darken($menu-background, 50%);
	color: lighten($menu-colour, 75%);
}

#wb-sec {
	margin-top: 20px;
	padding-bottom: 2em;

	h3 {
		border: 1px solid #ddd;
		border-bottom: 3px solid #666;
		margin: 0;
		padding: 15px;

		a {
			color: #333;
			font-size: 0.8em;
			text-decoration: none;
		}
	}

	.list-group {
		margin-bottom: 0;

		a {
			&.list-group-item {
				background-color: $menu-background;
				border-radius: 0;
				color: $menu-colour;
				margin-top: -1px;
				text-decoration: none;

				&.wb-navcurr {
					@extend %secmenu-canada-theme-menuitem-curr-hover-focus;
				}

				&[href] {
					&:hover,
					&:focus {
						@extend %secmenu-canada-theme-menuitem-curr-hover-focus;
					}
				}
			}
		}

		.list-group {
			.list-group-item {
				background-color: darken($menu-background, 10%);
				color: darken($menu-colour, 50%);
				padding-left: 1.8em;
			}
		}
	}

	@media screen and (max-width: $smallViewMax) {
		display: none;
	}
}
