/*
 * Site menu
 */

/*
 * Mobile panel
 */
#mb-pnl {
	background: url("data:image/gif;base64,R0lGODlh6AMBAIAAABk0UQAAACH/C1hNUCBEYXRhWE1QPD94cGFja2V0IGJlZ2luPSLvu78iIGlkPSJXNU0wTXBDZWhpSHpyZVN6TlRjemtjOWQiPz4gPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iQWRvYmUgWE1QIENvcmUgNS4zLWMwMTEgNjYuMTQ1NjYxLCAyMDEyLzAyLzA2LTE0OjU2OjI3ICAgICAgICAiPiA8cmRmOlJERiB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiPiA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtbG5zOnhtcE1NPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvbW0vIiB4bWxuczpzdFJlZj0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL3NUeXBlL1Jlc291cmNlUmVmIyIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ1M2IChNYWNpbnRvc2gpIiB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOkMxRUQ2ODczNUEyODExRTNBODM4OUNCRUJBOUJGN0REIiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOkMxRUQ2ODc0NUEyODExRTNBODM4OUNCRUJBOUJGN0REIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6QzFFRDY4NzE1QTI4MTFFM0E4Mzg5Q0JFQkE5QkY3REQiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6QzFFRDY4NzI1QTI4MTFFM0E4Mzg5Q0JFQkE5QkY3REQiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz4B//79/Pv6+fj39vX08/Lx8O/u7ezr6uno5+bl5OPi4eDf3t3c29rZ2NfW1dTT0tHQz87NzMvKycjHxsXEw8LBwL++vby7urm4t7a1tLOysbCvrq2sq6qpqKempaSjoqGgn56dnJuamZiXlpWUk5KRkI+OjYyLiomIh4aFhIOCgYB/fn18e3p5eHd2dXRzcnFwb25tbGtqaWhnZmVkY2JhYF9eXVxbWllYV1ZVVFNSUVBPTk1MS0pJSEdGRURDQkFAPz49PDs6OTg3NjU0MzIxMC8uLSwrKikoJyYlJCMiISAfHh0cGxoZGBcWFRQTEhEQDw4NDAsKCQgHBgUEAwIBAAAh+QQAAAAAACwAAAAA6AMBAAACHoSPqcvtD6OctNqLs968+w+G4kiW5omm6sq27gs7BQA7");
	background-position: 15px 0;
	background-repeat: repeat-y;
	box-shadow: none;
	padding-left: 15px;
	.modal-header {
		position: relative;
		text-align: left;
		z-index: 1045;
		margin-left: 1.23em;
		margin-left: 0;
		border-bottom: 1px solid #2e5274;
		text-decoration: none;
		box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.3), 3px 3px 3px -2px rgba(0, 0, 0, 0.3), -3px 3px 3px -2px rgba(0, 0, 0, 0.3);
		color: #fff;
		top: 1em;
		background: #2e5274;
		&:before {
			border-bottom: 1.45em solid #2e5274;
			border-left: 1em solid rgba(0, 0, 0, 0);
			border-top: 1.45em solid #2e5274;
			content: "";
			left: -1em;
			position: absolute;
			top: 0;
		}
		h2 {
			border: 0;
			margin-bottom: 0;
			padding: 9px;
			margin-top: 1px;
		}
	}
	.modal-body {
		background: #0e4164;
		margin-left: 0;
		padding-top: 5em;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		position: relative;
		top: -3em;
		summary {
			color: #fff;
			&:hover, &:focus {
				background: transparent;
				color: #fff;
			}
		}
		a {
			color: #fff;
			text-decoration: none;
		}
		ul {
			list-style-type: none;
		}
		li {
			list-style-type: none;
			line-height: 2;
		}
	}
	.mfp-close {
		top: 0.55em;
	}
	.srch-pnl {
		form {
			button {
				position: relative;
				background-color: $accent-blue;
				border-color: $accent-blue;
				border: 0;
				border-radius: 0;
				&:hover, &:focus, &:active {
					background: #243850;
				}
			}
			input {
				border-right: 0;
				position: relative;
				margin-right: -4px;
				border-color: #e0e0e0;
				border-style: solid;
				box-shadow: none;
				background-color: #e0e0e0;
				color: #555;
				border-radius: 0;
			}
		}
		.btn {
			line-height: 1.65;
			margin-top: -1px;
		}
		.form-group {
			width: 75%;
			float: left;
			margin-left: 15px;
		}
		.form-group {
			&.submit {
				width: 15%;
				margin-left: 0;
			}
		}
	}
	.lng-ofr {
		padding-right: 30px;
		text-align: right;
	}
	.sm-pnl {
		background: #0e4164;
		padding-left: 15px;
	}
	.info-pnl {
		border-top: 2px solid #061e38;
		background: #193451;
		color: #325375 !important;
		padding-left: 15px;
	}
	.active {
		> a {
			font-weight: 800;
		}
	}
	.sec-pnl {
		background: #cdd4da !important;
		padding-left: 15px;
		a, summary {
			color: #2e5576 !important;
		}
	}
}

[dir=rtl] {
	#mb-pnl {
		padding-left: 0;
		padding-right: 15px;
		background: transparent;
		.srch-pnl {
			.form-group {
				float: right;
				margin-left: 0;
				margin-right: 15px;
				input {
					margin-left: 0;
					margin-right: -4px;
				}
				&.submit {
					margin-right: 0;
				}
			}
		}
		.modal-header {
			text-align: right;
			&:before {
				border-left: 0;
				border-right: 1em solid rgba(0, 0, 0, 0);
				left: auto;
				right: -1em;
			}
		}
	}
}
