/*
 * Site menu (medium view)
 */

/*
 * Accessibility tweak for menu based overlapping at lowest desktop setting ( text size 200% )
 */
#wb-sm {
	.menu {
		border-right: 1px solid #999;
		> {
			li {
				float: left;
				&:last-child {
					border-right: 0;
				}
			}
		}
	}
}
