/*
Site information
*/
footer {
	background: $wbGray;
	position: relative;
	z-index: 5;

	a {
		font-size: 0.875em;
		text-decoration: none;

		&.wb-navcurr {
			font-weight: 800;
		}
	}

	.brand {
		background: #f8f8f8;
		border-top: 4px solid #335175;
		line-height: 30px;

		object,
		img {
			height: 40px;
			margin-bottom: 10px;
			margin-top: 20px;
			width: auto;
		}

		a {
			color: #000;

			span {
				margin-left: 10px;
			}

			&:hover {
				text-decoration: none;
			}
		}
	}

	.tofpg {
		line-height: 90px;
	}

	nav {
		padding-bottom: 1em;
		padding-top: 0.75em;
		position: relative;

		li {
			margin-bottom: 0.75em;
		}

		[class*="col-"] {
			h3 {
				font-size: 1.10em;
				font-weight: 700;
				margin-top: 20px;
			}
		}
	}
}

[dir=rtl] {
	footer {
		.brand {
			.text-right {
				text-align: left;
			}
		}

		.tofpg {
			float: right;

			a {
				span {
					margin-left: 0;
					margin-right: 10px;
				}
			}
		}
	}
}
