/*
 * Priorities (Government of Canada activities and initiatives) (all screen views)
 */

.gc-nttvs {
	a {
		&:active,
		&:focus {
			h3,
			img {
				outline: thin dotted;
			}
		}
	}

	h3 {
		float: left;
		text-decoration: underline;
	}

	img {
		float: left;
		margin-right: 100%;
	}

	p {
		clear: both;
	}
}

[dir=rtl] {
	.gc-nttvs {
		h3 {
			float: right;
		}

		img {
			float: right;
			margin-left: 100%;
			margin-right: 0;
		}
	}
}
