/*
 *
 *
 * @title: Scaffolding
 *
 */


/* Headings */

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6
{
	@include defaults-alternative-font-family();

	font-variant-ligatures: no-common-ligatures;
	font-weight: $bold-weight;
}

.h3,
.h4,
.h5,
.h6 {
	border: 0;
}

h1, .h1 {
	line-height: 1.17;
	margin-bottom: .2em;
	margin-top: 1em;
	padding-bottom: 4px;
}

h2, .h2 {
	line-height: 1.23;
}

h3, .h3 {
	line-height: 1.37;
}

h4, .h4, h5, .h5 {
	line-height: 1.33;
}

h6, .h6 {
	line-height: 1.45;
}


/* Forms */

input[placeholder],
[placeholder],
*[placeholder] {
	color: $input-color-placeholder;
}

legend {
	font-size: 1.2em;
	line-height: 1.65em;
}

/* Other */

output {
	font-size: 1em;
}

pre {
	font-size: 1rem;
}

blockquote {
	font-size: 1em;
}
