/*
*
* Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
* wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
*
* @title: Scaffolding - Small view and under (screen only)
* @desc:  Variable $screen-sm-max <= 991 px
*
*/


// Heading font-sizes
h1,
.h1 {
	font-size: 2.3125rem; // expected 37px;
	line-height: 1.19;
	margin-top: 1.265rem; // expected ~26px;
}

h2,
.h2 {
	font-size: 2.1875rem; // expected 35px;
	line-height: 1.25;
}

h3,
.h3 {
	font-size: 1.625rem; // expected 26px;
	line-height: 1.23;
}

h4,
.h4 {
	font-size: 1.375rem; // expected 22px;
	line-height: 1.33;
}

h5,
.h5 {
	font-size: 1.25rem; // expected 20px;
	line-height: 1.27;
}

h6,
.h6 {
	font-size: 1.125rem; // expected 18px;
	line-height: 1.40;
}
