{%- include variable-core.liquid -%}
<!DOCTYPE html>
<html class="no-js" lang="{{ page.lang | default: 'en' }}" dir="{{ page.i18n.tmpl-lang-dir[page.lang]  | default: 'ltr' }}">
	<head>
		<meta charset="utf-8">
		<!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
		wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
		<title>{{ page.title }}</title>
		<meta content="width=device-width, initial-scale=1" name="viewport">
		<meta name="robots" content="noindex, nofollow, noarchive">
		{% include templates/servermessage.html %}
		{% include metadata.html %}
		{%if page.isBilingual %}
			{% if page.language == 'en' %}
			<meta property="dcterms:title" lang="en" content="{{ page.title }}">
			<meta property="dcterms:creator" lang="en" content="{{ page.creator-en }}">
			<meta property="dcterms:subject" lang="en" title="gccore" content="{{ page.subject-en }}">
			<meta property="dcterms:description" lang="en" content="{{ page.description-en }}">
			<meta property="dcterms:title" lang="fr" content="{{ page.title }}">
			<meta property="dcterms:creator" lang="fr" content="{{ page.creator-fr }}">
			<meta property="dcterms:subject" lang="fr" title="gccore" content="{{ page.subject-fr }}">
			<meta property="dcterms:description" lang="fr" content="{{ page.description-fr }}">
			{% else %}
			<meta property="dcterms:title" lang="fr" content="{{ page.title }}">
			<meta property="dcterms:creator" lang="fr" content="{{ page.creator-fr }}">
			<meta property="dcterms:subject" lang="fr" title="gccore" content="{{ page.subject-fr }}">
			<meta property="dcterms:description" lang="fr" content="{{ page.description-fr }}">
			<meta property="dcterms:title" lang="en" content="{{ page.title }}">
			<meta property="dcterms:creator" lang="en" content="{{ page.creator-en }}">
			<meta property="dcterms:subject" lang="en" title="gccore" content="{{ page.subject-en }}">
			<meta property="dcterms:description" lang="en" content="{{ page.description-en }}">
			{% endif %}
		{% endif %}
		{% include resources-inc/head.html %}
	</head>
	<body vocab="http://schema.org/" resource="#wb-webpage" typeof="WebPage">
		{% include header/header.html %}
		<main role="main" property="mainContentOfPage" resource="#wb-main" typeof="WebPageElement" class="container">
			{% include main-page-title/conditional-page-title.html %}
			{{ content }}
		</main>
		{% include resources-inc/footer.html %}
		{% if page.isBilingual %}
		<footer class="py-3">
			<div class="container" property="publisher" resource="#wb-publisher" typeof="GovernmentOrganization">
				<div class="align-self-end">
					<img id="wmms" src="{{ setting-resourcesBasePathTheme }}/{{ i18nText-wmmsImg }}" alt="{{ i18nText-wmms }}" property="logo"><span class="wb-inv"> / {{ i18nText-wmmsAltLang }}</span>
				</div>
			</div>
		</footer>
		{% else %}
			{% include footers/footer.html %}
		{% endif %}
	</body>
</html>
