---
{
	"title": "[Act name] <small>([NN-XX])</small>",
	"language": "en",
	"altLangPrefix": "act",
	"breadcrumb": [
		{ "title": "Home", "link": "https://www.canada.ca/en.html" },
		{ "title": "Acts & regulations", "link": "#" }
	],
	"dateModified": "2014-10-23",
	"share": "true"
}
---
<div class="wb-tabs">
	<div class="tabpanels">
		<details id="details-panel1">
			<summary>About this legislation</summary>
			<p class="mrgn-tp-lg">The {{{title}}} lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque ad soluta rem assumenda excepturi! Temporibus ipsa qui suscipit, quidem dolorem, veniam iusto quasi eos voluptate aliquam alias modi veritatis nesciunt, aliquid illum quos nemo cumque eius omnis tempore cum repellat. Mollitia vel id, non. Fuga non, consectetur ad sunt.</p>
			<section>
				<h2>Responsible Ministers</h2>
				<ul class="list-inline">
					<li><a href="#">Minister of [Ministry A]</a></li>
				</ul>
			</section>
			<section>
				<h2>Related topics</h2>
				<ul class="list-inline">
					<li><a href="#">[Topic A]</a>,</li>
					<li><a href="#">[Topic B]</a>,</li>
					<li><a href="#">[Topic C]</a></li>
				</ul>
			</section>
			<section>
				<h2>Related institutions</h2>
				<ul class="list-inline">
					<li><a href="#">[Institution A]</a>,</li>
					<li><a href="#">[Institution B]</a>,</li>
					<li><a href="#">[Institution C]</a></li>
				</ul>
			</section>
			<section>
				<h2>Related Acts</h2>
				<ul class="list-inline">
					<li><a href="#">[Act name A]</a>,</li>
					<li><a href="#">[Act name B]</a>,</li>
					<li><a href="#">[Act name C]</a></li>
				</ul>
			</section>
			<section>
				<h2>Regulations under this Act</h2>
				<ul class="list-inline">
					<li><a href="#">[Regulation name A]</a>,</li>
					<li><a href="#">[Regulation name B]</a>,</li>
					<li><a href="#">[Regulation name C]</a></li>
				</ul>
			</section>
			<section>
				<h2>Additional information</h2>
				<ul>
					<li><a href="#">Contact [Institution name]</a></li>
					<li><a href="#">Frequently asked questions</a></li>
					<li><a href="#">Guidance information</a></li>
					<li><a href="#">Compliance and enforcement information</a></li>
					<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a></li>
					<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a></li>
					<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima architecto quis necessitatibus.</a></li>
					<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a></li>
					<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima architecto quis necessitatibus.</a></li>
				</ul>
			</section>
		</details>
		<details id="details-panel2">
			<summary>Read the legislation</summary>
			<p class="mrgn-tp-lg">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, recusandae! Dolor aliquam, nostrum, velit inventore incidunt vero error at iste, sit, ut odit dignissimos ipsa sequi vel repellendus quis ratione esse debitis quas reiciendis minima eius quia! Necessitatibus molestiae eaque quia ullam ab. Deserunt, eveniet?</p>
		</details>
		<details id="details-panel3">
			<summary>Legislative change</summary>
			<p class="mrgn-tp-lg">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, recusandae! Dolor aliquam, nostrum, velit inventore incidunt vero error at iste, sit, ut odit dignissimos ipsa sequi vel repellendus quis ratione esse debitis quas reiciendis minima eius quia! Necessitatibus molestiae eaque quia ullam ab. Deserunt, eveniet?</p>
			<div class="col-md-6">
				<section class="panel panel-default">
					<header class="panel-heading">
						<h2 class="panel-title">News, notices, and recent amendments</h2>
					</header>
					<div class="panel-body">
						<section>
							<h3 class="h5 mrgn-tp-0">Recent amendments</h3>
							<ul class="lst-spcd">
								<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit Placeat</a><br />
								<small><time>2015-01-01 08:00</time></small></li>
								<li><a href="#">Lorem ipsum dolor sit amet, consectetur</a><br />
								<small><time>2015-01-01 08:00</time></small></li>
								<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit Recusandae id repellendus alias.</a><br />
								<small><time>2015-01-01 08:00</time></small></li>
							</ul>
						</section>
						<section>
							<h3 class="h5">Canada Gazette Part II</h3>
							<ul class="lst-spcd">
								<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat temporibus repellendus iusto cumque unde perspiciatis, quod illo.</a><br />
								<small><time>2015-01-01 08:00</time></small></li>
								<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus!</a><br />
								<small><time>2015-01-01 08:00</time></small></li>
								<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi molestiae, unde vitae.</a><br />
								<small><time>2015-01-01 08:00</time></small></li>
								<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat adipisci libero distinctio sequi officiis provident tenetur ullam eligendi ipsum assumenda.</a><br />
								<small><time>2015-01-01 08:00</time></small></li>
								<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam.</a><br />
								<small><time>2015-01-01 08:00</time></small></li>
								<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat reprehenderit est nisi sequi ea modi qui praesentium?</a><br />
								<small><time>2015-01-01 08:00</time></small></li>
								<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, labore quia!</a><br />
								<small><time>2015-01-01 08:00</time></small></li>
							</ul>
						</section>
						<section>
							<h3>Notices</h3>
							<section>
								<h4 class="h5">Canada Gazette Part I</h4>
								<ul class="lst-spcd">
									<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a><br />
									<small><time>2015-01-01 08:00</time></small></li>
									<li><a href="#">Lorem ipsum dolor sit amet, consectetur.</a><br />
									<small><time>2015-01-01 08:00</time></small></li>
									<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id labore expedita doloremque?</a><br />
									<small><time>2015-01-01 08:00</time></small></li>
								</ul>
							</section>
							<section>
								<h4 class="h5">News releases</h4>
								<ul class="lst-spcd">
									<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a><br />
									<small><time>2015-01-01 08:00</time></small></li>
									<li><a href="#">Lorem ipsum dolor sit amet, consectetur.</a><br />
									<small><time>2015-01-01 08:00</time></small></li>
									<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id labore expedita doloremque?</a><br />
									<small><time>2015-01-01 08:00</time></small></li>
									<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing.</a><br />
									<small><time>2015-01-01 08:00</time></small></li>
								</ul>
							</section>
						</section>
					</div>
				</section>
			</div>
			<div class="col-md-6">
				<section class="panel panel-default">
					<header class="panel-heading">
						<h2 class="panel-title">Planned changes and consultations</h2>
					</header>
					<div class="panel-body">
						<section>
							<h3 class="h5">Recently tabled bills</h3>
							<ul class="lst-spcd">
								<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam.</a><br />
								<small><time>2015-01-01 08:00</time></small></li>
								<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat reprehenderit est nisi sequi ea modi qui praesentium?</a><br />
								<small><time>2015-01-01 08:00</time></small></li>
							</ul>
						</section>
						<section>
							<h3 class="h5">Related forward regulatory plans</h3>
							<ul class="lst-spcd">
								<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat adipisci libero distinctio sequi officiis provident tenetur ullam eligendi ipsum assumenda.</a><br />
								<small><time>2015-01-01 08:00</time></small></li>
							</ul>
						</section>
						<section>
							<h3 class="h5">Related Red Tape Reduction responses</h3>
							<ul class="lst-spcd">
								<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat temporibus repellendus iusto cumque unde perspiciatis, quod illo.</a><br />
								<small><time>2015-01-01 08:00</time></small></li>
								<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus!</a><br />
								<small><time>2015-01-01 08:00</time></small></li>
							</ul>
						</section>
						<section>
							<h3 class="h5">Upcoming opportunities to consult</h3>
							<ul class="lst-spcd">
								<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus!</a><br />
								<small><time>2015-01-01 08:00</time></small></li>
								<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat adipisci libero distinctio sequi officiis provident tenetur ullam eligendi ipsum assumenda.</a><br />
								<small><time>2015-01-01 08:00</time></small></li>
								<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, labore quia!</a><br />
								<small><time>2015-01-01 08:00</time></small></li>
							</ul>
						</section>
						<section>
							<h3 class="h5">Past consultations</h3>
							<ul class="lst-spcd">
								<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi molestiae, unde vitae.</a><br />
								<small><time>2015-01-01 08:00</time></small></li>
							</ul>
						</section>
					</div>
				</section>
			</div>
		</details>
	</div>
</div>
<div class="row">
	<section class="col-xs-12">
		<h2>Learn more about legislation in Canada</h2>
		<div class="row">
			<section class="col-md-6">
				<h3 class="h5"><a href="#">Lorem ipsum dolor sit</a></h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda eaque harum, nam, earum sed inventore!</p>
			</section>
			<section class="col-md-6">
				<h3 class="h5"><a href="#">Lorem ipsum dolor sit</a></h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda eaque harum, nam, earum sed inventore!</p>
			</section>
			<section class="col-md-6">
				<h3 class="h5"><a href="#">Lorem ipsum dolor sit</a></h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda eaque harum, nam, earum sed inventore!</p>
			</section>
			<section class="col-md-6">
				<h3 class="h5"><a href="#">Lorem ipsum dolor sit</a></h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda eaque harum, nam, earum sed inventore!</p>
			</section>
		</div>
	</section>
</div>
