---
{
	"title": "In the loop with Canada.ca",
	"language": "en",
	"altLangPrefix": "blog",
	"pageclass": "theme",
	"breadcrumb": [
		{ "title": "Home", "link": "http://www.canada.ca/en/index.html" }
	],
	"secondlevel": false,
	"dateModified": "2014-06-12",
	"share": "false"
}
---
<p class="pagetag">Stay up-to-date on new features and progress on Canada.ca by reading our latest updates where you can share a comment. You can also tell us what you think about the website by providing your input through the <a href="http://www.canada.ca/en/contact/feedback.html">feedback form</a>.</p>
<div class="row">
	<div class="col-md-8 blog zbra">
		<div class="mrgn-bttm-lg">
			<img src="http://www.canada.ca/en/blog/img/in-the-loop.jpg" class="img-responsive" alt="In the Loop" />
		</div>
		<section class="brdr-tp">
			<div class="row">
				<h2 class="col-md-9 mrgn-tp-md"><a href="http://www.canada.ca/en/blog/environment.html"> Air, Land and Water: Discover our Environment on Canada.ca</a></h2><div class="col-md-3 hidden-sm hidden-xs brdr-lft text-left"><a href="http://www.canada.ca/en/blog/environment.html#comments" class="mrgn-tp-md center-block no-undrln"><span class="glyphicon glyphicon-comment"></span>&nbsp;Comments</a></div>
			</div>
			<div class="row">
				<p class="pagetag col-md-12 small">June 5, 2014</p>
			</div>
			<div class="row">
				<div class="col-md-3 hidden-sm hidden-xs">
					<a href="http://www.canada.ca/en/blog/environment.html" ><img src="http://www.canada.ca/en/blog/img/bl-04062014.jpg" alt="" class="img-responsive thumbnail" /></a>
				</div>
				<p class="col-md-9 col-sm-12">Do you remember learning how to skip rocks on a lake? What about the wonder of catching (and releasing) tadpoles and minnows? Or better yet, when a walk through the forest or a trail was an adventure where you grew your precious collection of rocks and sticks with every step? In nature, it doesn’t take much to feel carefree and connected. <br />
				<a class="mrgn-tp-md mrgn-bttm-sm center-block col-md-12 col-xs-6" href="http://www.canada.ca/en/blog/environment.html">Read more...</a>	<span class="col-xs-6 hidden-md hidden-lg text-right mrgn-tp-md"><a href="http://www.canada.ca/en/blog/environment.html#comments" class="no-undrln"><span class="glyphicon glyphicon-comment"></span>&nbsp;Comments</a></span>
				</p>
			</div>
		</section>
		<section class="brdr-tp">
			<div class="row">
				<h2 class="col-md-9 mrgn-tp-md"><a href="http://www.canada.ca/en/blog/handup.html">Canadians look out and give a hand up</a></h2><div class="col-md-3 hidden-sm hidden-xs brdr-lft text-left"><a href="http://www.canada.ca/en/blog/handup.html#comments" class="mrgn-tp-md center-block no-undrln"><span class="glyphicon glyphicon-comment"></span>&nbsp;Comments</a></div>
			</div>
			<div class="row">
				<p class="pagetag col-md-12 small">May 28, 2014</p>
			</div>
			<div class="row">
				<div class="col-md-3 hidden-sm hidden-xs">
					<a href="http://www.canada.ca/en/blog/handup.html" ><img src="http://www.canada.ca/en/blog/img/cw-20140529.jpg" alt="" class="img-responsive thumbnail" /></a>
				</div>
				<p class="col-md-9 col-sm-12">The Saving Every Woman, Every Child: Within Arm’s Reach Summit is taking place this week in Toronto. Global leaders, Canadian experts and key stakeholders in civil society and the private sector will gather to discuss how they can work together to help eliminate preventable deaths and deliver better results for vulnerable mothers and their children in the developing world.
				<br />
				<a class="mrgn-tp-md mrgn-bttm-sm center-block col-md-12 col-xs-6" href="http://www.canada.ca/en/blog/handup.html">Read more...</a> <span class="col-xs-6 hidden-md hidden-lg text-right mrgn-tp-md"><a href="http://www.canada.ca/en/blog/handup.html#comments" class="no-undrln"><span class="glyphicon glyphicon-comment"></span>&nbsp;Comments</a></span>
				</p>
			</div>
		</section>
		<section class="brdr-tp">
			<div class="row">
				<h2 class="col-md-9 mrgn-tp-md"><a href="http://www.canada.ca/en/blog/architecture.html">“If you build it, they will come”- Information Architecture and Canada.ca</a></h2><div class="col-md-3 hidden-sm hidden-xs brdr-lft text-left"><a href="http://www.canada.ca/en/blog/architecture.html#comments" class="mrgn-tp-md center-block no-undrln"><span class="glyphicon glyphicon-comment"></span>&nbsp;Comments</a></div>
			</div>
			<div class="row">
				<p class="pagetag col-md-12 small">May 23, 2014</p>
			</div>
			<div class="row">
				<p class="col-md-12">What makes a website useful? That is simple. It has information you need and makes it easy to complete tasks online. What helps make this possible? Two words but one very important concept: Information Architecture (IA for short).
				<br />
				<a class="mrgn-tp-md mrgn-bttm-sm center-block col-md-12 col-xs-6" href="http://www.canada.ca/en/blog/architecture.html">Read more...</a> <span class="col-xs-6 hidden-md hidden-lg text-right mrgn-tp-md"><a href="http://www.canada.ca/en/blog/architecture.html#comments" class="no-undrln"><span class="glyphicon glyphicon-comment"></span>&nbsp;Comments</a></span>
				</p>
			</div>
		</section>
		<section class="brdr-tp">
			<div class="row">
				<h2 class="col-md-9 mrgn-tp-md"><a href="http://www.canada.ca/en/blog/travel.html">Vacation or ‘staycation’? Canada.ca can help</a></h2><div class="col-md-3 hidden-sm hidden-xs brdr-lft text-left"><a href="http://www.canada.ca/en/blog/travel.html#comments" class="mrgn-tp-md center-block no-undrln"><span class="glyphicon glyphicon-comment"></span>&nbsp;Comments</a></div>
			</div>
			<div class="row">
				<p class="pagetag col-md-12 small">May 15, 2014</p>
			</div>
			<div class="row">
				<div class="col-md-3 hidden-sm hidden-xs">
					<a href="http://www.canada.ca/en/blog/travel.html" ><img src="http://www.canada.ca/en/blog/img/bl-20140516.jpg" alt="" class="img-responsive thumbnail" /></a>
				</div>
				<p class="col-md-9 col-sm-12">Winters can be long in Canada and this one seemed to linger a little longer than most. With the Victoria Day holiday weekend approaching, it is time to switch gears and think summer!
				<br />
				<a class="mrgn-tp-md mrgn-bttm-sm center-block col-md-12 col-xs-6" href="http://www.canada.ca/en/blog/travel.html">Read more...</a> <span class="col-xs-6 hidden-md hidden-lg text-right mrgn-tp-md"><a href="http://www.canada.ca/en/blog/travel.html#comments" class="no-undrln"><span class="glyphicon glyphicon-comment"></span>&nbsp;Comments</a></span>
				</p>
			</div>
		</section>
		<section class="brdr-tp">
			<div class="row">
				<h2 class="col-md-9 mrgn-tp-md"><a href="http://www.canada.ca/en/blog/thankyou.html">40,000 reasons to say thank you</a></h2><div class="col-md-3 hidden-sm hidden-xs brdr-lft text-left"><a href="http://www.canada.ca/en/blog/thankyou.html#comments" class="mrgn-tp-md center-block no-undrln"><span class="glyphicon glyphicon-comment"></span>&nbsp;Comments</a></div>
			</div>
			<div class="row">
				<p class="pagetag col-md-12 small">May 6, 2014</p>
			</div>
			<div class="row">
				<div class="col-md-3 hidden-sm hidden-xs">
					<a href="http://www.canada.ca/en/blog/thankyou.html" ><img src="http://www.canada.ca/en/blog/img/bl-06052014.jpg" alt="" class="img-responsive thumbnail" /></a>
				</div>
				<p class="col-md-9 col-sm-12">This week we tip our hats to the 40,000 Canadians who served in Canada’s Afghan military mission. We are grateful for their courage, service and sacrifice.
				<br />
				<a class="mrgn-tp-md mrgn-bttm-sm center-block col-md-12 col-xs-6" href="http://www.canada.ca/en/blog/thankyou.html">Read more...</a> <span class="col-xs-6 hidden-md hidden-lg text-right mrgn-tp-md"><a href="http://www.canada.ca/en/blog/thankyou.html#comments" class="no-undrln"><span class="glyphicon glyphicon-comment"></span>&nbsp;Comments</a></span>
				</p>
			</div>
		</section>
		<section class="brdr-tp">
			<div class="row">
				<h2 class="col-md-9 mrgn-tp-md"><a href="http://www.canada.ca/en/blog/mobile.html">On the Go and in the Know – Mobile and the Canada.ca</a></h2><div class="col-md-3 hidden-sm hidden-xs brdr-lft text-left"><a href="http://www.canada.ca/en/blog/mobile.html#comments" class="mrgn-tp-md center-block no-undrln"><span class="glyphicon glyphicon-comment"></span>&nbsp;Comments</a></div>
			</div>
			<div class="row">
				<p class="pagetag col-md-12 small">May 1, 2014</p>
			</div>
			<div class="row">
				<div class="col-md-3 hidden-sm hidden-xs">
					<a href="http://www.canada.ca/en/blog/mobile.html" ><img src="http://www.canada.ca/en/blog/img/mobile.jpg" alt="" class="img-responsive thumbnail" /></a>
				</div>
				<p class="col-md-9 col-sm-12">Walking and talking and reading and tweeting. Photos, videos, apps, maps and more! This is the world of mobile.
				<br />
				<a class="mrgn-tp-md mrgn-bttm-sm center-block col-md-12 col-xs-6" href="http://www.canada.ca/en/blog/mobile.html">Read more...</a> <span class="col-xs-6 hidden-md hidden-lg text-right mrgn-tp-md"><a href="http://www.canada.ca/en/blog/mobile.html#comments" class="no-undrln"><span class="glyphicon glyphicon-comment"></span>&nbsp;Comments</a></span>
				</p>
			</div>
		</section>
		<section class="brdr-tp">
			<div class="row">
				<h2 class="col-md-9 mrgn-tp-md"><a href="http://www.canada.ca/en/blog/wet.html">Kudos to the Coders!</a></h2><div class="col-md-3 hidden-sm hidden-xs brdr-lft text-left"><a href="http://www.canada.ca/en/blog/wet.html#comments" class="mrgn-tp-md center-block no-undrln"><span class="glyphicon glyphicon-comment"></span>&nbsp;Comments</a></div>
			</div>
			<div class="row">
				<p class="pagetag col-md-12 small">April 28, 2014</p>
			</div>
			<div class="row">
				<p class="col-md-12">WET. What? The Web Experience Toolkit (<abbr>WET</abbr>) is open source software created by the Government of Canada to build more innovative websites. We talked about <abbr title="Web Experience Toolkit">WET</abbr> in an earlier blog post on open source.
				<br />
				<a class="mrgn-tp-md mrgn-bttm-sm center-block col-md-12 col-xs-6" href="http://www.canada.ca/en/blog/wet.html">Read more...</a> <span class="col-xs-6 hidden-md hidden-lg text-right mrgn-tp-md"><a href="http://www.canada.ca/en/blog/wet.html#comments" class="no-undrln"><span class="glyphicon glyphicon-comment"></span>&nbsp;Comments</a></span>
				</p>
			</div>
		</section>
		<section class="brdr-tp">
			<div class="row">
				<h2 class="col-md-9 mrgn-tp-md"><a href="http://www.canada.ca/en/blog/standards.html">We have standards! Yes we do</a></h2><div class="col-md-3 hidden-sm hidden-xs brdr-lft text-left"><a href="http://www.canada.ca/en/blog/standards.html#comments" class="mrgn-tp-md center-block no-undrln"><span class="glyphicon glyphicon-comment"></span>&nbsp;Comments</a></div>
			</div>
			<div class="row">
				<p class="pagetag col-md-12 small">April 17, 2014</p>
			</div>
			<div class="row">
				<p class="col-md-12">Let’s talk about web standards…sound a little dull? Not so fast.
				<br />
				<a class="mrgn-tp-md mrgn-bttm-sm center-block col-md-12 col-xs-6" href="http://www.canada.ca/en/blog/standards.html">Read more...</a> <span class="col-xs-6 hidden-md hidden-lg text-right mrgn-tp-md"><a href="http://www.canada.ca/en/blog/standards.html#comments" class="no-undrln"><span class="glyphicon glyphicon-comment"></span>&nbsp;Comments</a></span>
				</p>
			</div>
		</section>
		<section class="brdr-tp">
			<div class="row">
				<h2 class="col-md-9 mrgn-tp-md"><a href="http://www.canada.ca/en/blog/comments.html">Comments Please!</a></h2><div class="col-md-3 hidden-sm hidden-xs brdr-lft text-left"><a href="http://www.canada.ca/en/blog/comments.html#comments" class="mrgn-tp-md center-block no-undrln"><span class="glyphicon glyphicon-comment"></span>&nbsp;Comments</a></div>
			</div>
			<div class="row">
				<p class="pagetag col-md-12 small">April 10, 2014</p>
			</div>
			<div class="row">
				<p class="col-md-12">Canada.ca is a work in progress. We hope that our updates help bring you into the process and provide the background and insights that explain the various aspects of the website’s development.
				<br />
				<a class="mrgn-tp-md mrgn-bttm-sm center-block col-md-12 col-xs-6" href="http://www.canada.ca/en/blog/comments.html">Read more...</a> <span class="col-xs-6 hidden-md hidden-lg text-right mrgn-tp-md"><a href="http://www.canada.ca/en/blog/comments.html#comments" class="no-undrln"><span class="glyphicon glyphicon-comment"></span>&nbsp;Comments</a></span>
				</p>
			</div>
		</section>
		<section class="brdr-tp">
			<div class="row">
				<h2 class="col-md-9 mrgn-tp-md"><a href="http://www.canada.ca/en/blog/archiving.html">Stored but not ignored - archiving and the new Canada.ca</a></h2><div class="col-md-3 hidden-sm hidden-xs brdr-lft text-left"><a href="http://www.canada.ca/en/blog/archiving.html#comments" class="mrgn-tp-md center-block no-undrln"><span class="glyphicon glyphicon-comment"></span>&nbsp;Comments</a></div>
			</div>
			<div class="row">
				<p class="pagetag col-md-12 small">April 4, 2014</p>
			</div>
			<div class="row">
				<p class="col-md-12">We have all been there. You are searching a website and results include dated  references that are not relevant to your search. Canada.ca aims to be a better, more efficient website for Canadians. Enter archiving.
				<br />
				<a class="mrgn-tp-md mrgn-bttm-sm center-block col-md-12 col-xs-6" href="http://www.canada.ca/en/blog/archiving.html">Read more...</a> <span class="col-xs-6 hidden-md hidden-lg text-right mrgn-tp-md"><a href="http://www.canada.ca/en/blog/archiving.html#comments" class="no-undrln"><span class="glyphicon glyphicon-comment"></span>&nbsp;Comments</a></span>
				</p>
			</div>
		</section>
		<section class="brdr-tp">
			<div class="row">
				<h2 class="col-md-9 mrgn-tp-md"><a href="http://www.canada.ca/en/blog/themebaseddesign.html">Apples to Apples: Information and services find a better 'fit' with the new theme-based design</a></h2><div class="col-md-3 hidden-sm hidden-xs brdr-lft text-left"><a href="http://www.canada.ca/en/blog/themebaseddesign.html#comments" class="mrgn-tp-md center-block no-undrln"><span class="glyphicon glyphicon-comment"></span>&nbsp;Comments</a></div>
			</div>
			<div class="row">
				<p class="pagetag col-md-12 small">April 2, 2014</p>
			</div>
			<div class="row">
				<p class="col-md-12">Let’s say you’re planning a trip through Southeast Asia, a diverse region with rich cultures to be explored. There is information that is useful and necessary to prepare: vaccine requirements, travel advisories, tips for travelling with children or while pregnant, consular services overseas, opportunities for volunteerism, travel health notices. The list goes on. This content falls under one theme – travel –but involves information and services provided by at least three different government organizations. That’s where the new Canada.ca comes in…
				<br />
				<a class="mrgn-tp-md mrgn-bttm-sm center-block col-md-12 col-xs-6" href="http://www.canada.ca/en/blog/themebaseddesign.html">Read more...</a> <span class="col-xs-6 hidden-md hidden-lg text-right mrgn-tp-md"><a href="http://www.canada.ca/en/blog/themebaseddesign.html#comments" class="no-undrln"><span class="glyphicon glyphicon-comment"></span>&nbsp;Comments</a></span>
				</p>
			</div>
		</section>
		<section class="brdr-tp">
			<div class="row">
				<h2 class="col-md-9 mrgn-tp-md"><a href="http://www.canada.ca/en/blog/opensource.html">All aboard! Open source drives development on Canada.ca</a></h2><div class="col-md-3 hidden-sm hidden-xs brdr-lft text-left"><a href="http://www.canada.ca/en/blog/opensource.html#comments" class="mrgn-tp-md center-block no-undrln"><span class="glyphicon glyphicon-comment"></span>&nbsp;Comments</a></div>
			</div>
			<div class="row">
				<p class="pagetag col-md-12 small">March 21, 2014</p>
			</div>
			<div class="row">
				<p class="col-md-12">Canada.ca is a work in progress. How is that work being accomplished? Gone are the days of working in isolation and waiting for results. Today, the process is open and more fluid. Bugs can be detected and corrected in as little as 30 seconds using open source software. The Government of Canada supports Open Government initiatives that serve to increase citizen engagement and transparency. This is why our web team created an open source software called the Web Experience Toolkit (WET) back in 2009 and has been using this collaborative approach on Canada.ca.
				<br />
				<a class="mrgn-tp-md mrgn-bttm-sm center-block col-md-12 col-xs-6" href="http://www.canada.ca/en/blog/opensource.html">Read more...</a> <span class="col-xs-6 hidden-md hidden-lg text-right mrgn-tp-md"><a href="http://www.canada.ca/en/blog/opensource.html#comments" class="no-undrln"><span class="glyphicon glyphicon-comment"></span>&nbsp;Comments</a></span>
				</p>
			</div>
		</section>
		<section class="brdr-tp">
			<div class="row">
				<h2 class="col-md-9 mrgn-tp-md"><a href="http://www.canada.ca/en/blog/newsroom.html">Canada.ca: Putting the NEW in news</a></h2><div class="col-md-3 hidden-sm hidden-xs brdr-lft text-left"><a href="http://www.canada.ca/en/blog/newsroom.html#comments" class="mrgn-tp-md center-block no-undrln"><span class="glyphicon glyphicon-comment"></span>&nbsp;Comments</a></div>
			</div>
			<div class="row">
				<p class="pagetag col-md-12 small">March 7, 2014</p>
			</div>
			<div class="row">
				<p class="col-md-12">One of the next key changes to be introduced as part of the transition to Canada.ca is the creation of one-stop virtual newsroom for all Government of Canada news on Canada.ca. You have probably already seen the new news release format that we are using.
				<br />
				<a class="mrgn-tp-md mrgn-bttm-sm center-block col-md-12 col-xs-6" href="http://www.canada.ca/en/blog/newsroom.html">Read more...</a> <span class="col-xs-6 hidden-md hidden-lg text-right mrgn-tp-md"><a href="http://www.canada.ca/en/blog/newsroom.html#comments" class="no-undrln"><span class="glyphicon glyphicon-comment"></span>&nbsp;Comments</a></span>
				</p>
			</div>
		</section>
		<section class="brdr-tp">
			<div class="row">
				<h2 class="col-md-9 mrgn-tp-md"><a href="http://www.canada.ca/en/blog/loop.html">In the loop: Canada.ca</a></h2><div class="col-md-3 hidden-sm hidden-xs brdr-lft text-left"><a href="http://www.canada.ca/en/blog/loop.html#comments" class="mrgn-tp-md center-block no-undrln"><span class="glyphicon glyphicon-comment"></span>&nbsp;Comments</a></div>
			</div>
			<div class="row">
				<p class="pagetag col-md-12 small">February 14, 2014</p>
			</div>
			<div class="row">
				<p class="col-md-12">The websites of all government departments and agencies are being merged into this one site: Canada.ca. The launch of the new site was just the beginning. Over time, you'll see many more changes as the Government modernizes its web presence to better serve Canadians.
				<br />
				<a class="mrgn-tp-md mrgn-bttm-sm center-block col-md-12 col-xs-6" href="http://www.canada.ca/en/blog/loop.html">Read more...</a> <span class="col-xs-6 hidden-md hidden-lg text-right mrgn-tp-md"><a href="http://www.canada.ca/en/blog/loop.html#comments" class="no-undrln"><span class="glyphicon glyphicon-comment"></span>&nbsp;Comments</a></span>
				</p>
			</div>
		</section>
	</div><!-- end col-md-8 -->
	<div class="col-md-4 pull-right">
		<div class="text-right mrgn-bttm-md">
			<div class="wb-share" data-wb-share='{"lnkClass": "btn btn-default"}'></div>
		</div>
		<section class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title">Recent posts</h2>
			</div>
			<div class="panel-body">
				<ul>
					<li><a href="http://www.canada.ca/en/blog/environment.html">Air, Land and Water: Discover our Environment on Canada.ca</a></li>
					<li><a href="http://www.canada.ca/en/blog/handup.html">Canadians look out and give a hand up</a></li>
					<li><a href="http://www.canada.ca/en/blog/architecture.html">“If you build it, they will come”- Information Architecture and Canada.ca</a></li>
					<li><a href="http://www.canada.ca/en/blog/travel.html">Vacation or ‘staycation’? Canada.ca can help</a></li>
					<li><a href="http://www.canada.ca/en/blog/thankyou.html">40,000 reasons to say thank you</a></li>
					<li><a href="http://www.canada.ca/en/blog/mobile.html">On the Go and in the Know – Mobile and the Canada.ca</a></li>
					<li><a href="http://www.canada.ca/en/blog/wet.html">Kudos to the Coders!</a></li>
					<li><a href="http://www.canada.ca/en/blog/standards.html">We have standards! Yes we do.</a></li>
					<li><a href="http://www.canada.ca/en/blog/comments.html">Comments Please!</a></li>
					<li><a href="http://www.canada.ca/en/blog/archiving.html">Stored but not ignored – archiving and the new Canada.ca</a></li>
				</ul>
				<p><a href="http://www.canada.ca/en/blog/index.html">All blog posts...</a></p>
			</div>
		</section>
		<div class="alert alert-info">
			<p><a href="http://www.canada.ca/en/blog/commentingpolicy.html">Commenting policy</a></p>
		</div>
		<div class="alert alert-info">
			<p><a href="http://www.canada.ca/en/transparency/privacy.html">Privacy</a></p>
		</div>
	</div>
</div><!-- end row -->
