---
{
	"title": "In the loop with Canada.ca",
	"language": "en",
	"altLangPrefix": "blog",
	"pageclass": "theme",
	"breadcrumb": [
		{ "title": "Home", "link": "http://www.canada.ca/en/index.html" }
	],
	"secondlevel": false,
	"dateModified": "2014-06-12",
	"share": "false"
}
---
<p>Stay up-to-date on new features and progress on Canada.ca by reading our latest updates where you can share a comment. You can also tell us what you think about the website by providing your input through the <a href="http://www.canada.ca/en/contact/feedback.html">feedback form</a>.</p>
<div class="row">
	<div class="col-md-8 blog zbra">
		<div class="mrgn-bttm-lg">
			<img src="http://www.canada.ca/blog/mediaresource/a1703f7d-a096-4be2-9de4-03d46330cb20" class="img-responsive" alt="In the Loop" />
		</div>
		<section class="brdr-tp">
			<div class="row">
				<h2 class="col-md-9 mrgn-tp-md"><a href="http://www.canada.ca/blog/happybirthdaycanada_ca">Happy 1<sup>st</sup> Birthday Canada.ca!</a></h2><div class="col-md-3 hidden-sm hidden-xs brdr-lft text-left"><a href="http://www.canada.ca/blog/happybirthdaycanada_ca#comments" class="mrgn-tp-md center-block no-undrln"><span class="glyphicon glyphicon-comment"></span>&nbsp;Comments</a></div>
			</div>
			<div class="row">
				<p class="col-md-12 small">December 19, 2014</p>
			</div>
			<div class="row">
				<div class="col-md-3 hidden-sm hidden-xs">
					<a href="http://www.canada.ca/blog/happybirthdaycanada_ca"><img src="http://www.canada.ca/blog/mediaresource/20cb5c29-0a8a-47eb-a822-9a66dd2dcb5f?t=false" class="img-responsive thumbnail" alt=""></a>
				</div>
				<p class="col-md-9 col-sm-12">One year ago, the Canada.ca site was “born”, and look how far we’ve come!
				<br />
				<a class="mrgn-tp-md mrgn-bttm-sm center-block col-md-12 col-xs-6" href="http://www.canada.ca/blog/happybirthdaycanada_ca"> Read More…</a><span class="col-xs-6 hidden-md hidden-lg text-right mrgn-tp-md"><a class="no-undrln" href="http://www.canada.ca/blog/happybirthdaycanada_ca#comments"><span class="glyphicon glyphicon-comment"></span>&nbsp;Comments</a></span></p>
			</div>
		</section>
		<section class="brdr-tp">
			<div class="row">
				<h2 class="col-md-9 mrgn-tp-md"><a href="http://www.canada.ca/blog/citizenship">Live – Work – Play – Canada!</a></h2><div class="col-md-3 hidden-sm hidden-xs brdr-lft text-left"><a href="http://www.canada.ca/blog/citizenship#comments" class="mrgn-tp-md center-block no-undrln"><span class="glyphicon glyphicon-comment"></span>&nbsp;Comments</a></div>
			</div>
			<div class="row">
				<p class="col-md-12 small">December 05, 2014</p>
			</div>
			<div class="row">
				<div class="col-md-3 hidden-sm hidden-xs">
					<a href="http://www.canada.ca/blog/citizenship"><img src="http://www.canada.ca/blog/mediaresource/d5026d46-b4e9-4ce7-907d-d76da8d5b45b?t=false" class="img-responsive thumbnail" alt=""></a>
				</div>
				<p class="col-md-9 col-sm-12">Canada.ca is THE place to go for anyone outside of Canada who would like to come to Canada for a holiday, to study, to work and even to live. The <a href="http://www.cic.gc.ca/english/index.asp?_ga=1.43959333.1624352913.1417552482">Immigration &amp; citizenship</a> theme will make sure you have all the information you need before you arrive in our beautiful country.
				<br />
				<a class="mrgn-tp-md mrgn-bttm-sm center-block col-md-12 col-xs-6" href="http://www.canada.ca/blog/citizenship"> Read More…</a><span class="col-xs-6 hidden-md hidden-lg text-right mrgn-tp-md"><a class="no-undrln" href="http://www.canada.ca/blog/citizenship#comments"><span class="glyphicon glyphicon-comment"></span>&nbsp;Comments</a></span></p>
			</div>
		</section>
		<section class="brdr-tp">
			<div class="row">
				<h2 class="col-md-9 mrgn-tp-md"><a href="http://www.canada.ca/blog/transport">Planes, trains and automobiles… and don’t forget boats!</a></h2><div class="col-md-3 hidden-sm hidden-xs brdr-lft text-left"><a href="http://www.canada.ca/blog/transport#comments" class="mrgn-tp-md center-block no-undrln"><span class="glyphicon glyphicon-comment"></span>&nbsp;Comments</a></div>
			</div>
			<div class="row">
				<p class="col-md-12 small">November 21, 2014</p>
			</div>
			<div class="row">
				<div class="col-md-3 hidden-sm hidden-xs">
					<a href="http://www.canada.ca/blog/transport"><img src="http://www.canada.ca/blog/mediaresource/9cf045bb-efdd-4d85-87d5-216ae66cd35c?t=false" class="img-responsive thumbnail" alt=""></a>
				</div>
				<p class="col-md-9 col-sm-12">Whether you are a passenger on an airplane, or flying your own drone, Canada.ca will point you in the right direction!
				<br />
				<a class="mrgn-tp-md mrgn-bttm-sm center-block col-md-12 col-xs-6" href="http://www.canada.ca/blog/transport"> Read More…</a><span class="col-xs-6 hidden-md hidden-lg text-right mrgn-tp-md"><a class="no-undrln" href="http://www.canada.ca/blog/transport#comments"><span class="glyphicon glyphicon-comment"></span>&nbsp;Comments</a></span></p>
			</div>
		</section>
		<section class="brdr-tp">
			<div class="row">
				<h2 class="col-md-9 mrgn-tp-md"><a href="http://www.canada.ca/blog/opengovernment">Open Government</a></h2><div class="col-md-3 hidden-sm hidden-xs brdr-lft text-left"><a href="http://www.canada.ca/blog/opengovernment#comments" class="mrgn-tp-md center-block no-undrln"><span class="glyphicon glyphicon-comment"></span>&nbsp;Comments</a></div>
			</div>
			<div class="row">
				<p class="col-md-12 small">November 07, 2014</p>
			</div>
			<div class="row">
				<div class="col-md-3 hidden-sm hidden-xs">
					<a href="http://www.canada.ca/blog/opengovernment"><img src="http://www.canada.ca/blog/mediaresource/b9b64261-4cad-489c-a8f6-9b289b046fd5?t=false" class="img-responsive thumbnail" alt=""></a>
				</div>
				<p class="col-md-9 col-sm-12">Now, on Canada.ca, you can learn about Canada's Open Government initiative.
				<br />
				<a class="mrgn-tp-md mrgn-bttm-sm center-block col-md-12 col-xs-6" href="http://www.canada.ca/blog/opengovernment"> Read More…</a><span class="col-xs-6 hidden-md hidden-lg text-right mrgn-tp-md"><a class="no-undrln" href="http://www.canada.ca/blog/opengovernment#comments"><span class="glyphicon glyphicon-comment"></span>&nbsp;Comments</a></span></p>
			</div>
		</section>
	</div>
	<div class="col-md-4 pull-right">
		<div class="text-right mrgn-bttm-md">
			<div class="wb-share" data-wb-share='{"lnkClass": "btn btn-default"}'></div>
		</div>
		<section class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title">Recent posts</h2>
			</div>
			<div class="panel-body">
				<ul>
					<li><a href="http://www.canada.ca/blog/happybirthdaycanada_ca">Happy 1<sup>st</sup> Birthday Canada.ca!</a></li>
					<li><a href="http://www.canada.ca/blog/citizenship">Live – Work – Play – Canada! </a></li>
					<li><a href="http://www.canada.ca/blog/transport">Planes, trains and automobiles… and don’t forget boats!</a></li>
					<li><a href="http://www.canada.ca/blog/opengovernment">Open Government</a></li>
					<li><a href="http://www.canada.ca/blog/health2">A big leap for Health!</a></li>
				</ul>
				<p><a href="http://www.canada.ca/blog/">All blog posts…</a></p>
			</div>
		</section>
		<div class="alert alert-info">
			<p><a href="http://www.canada.ca/blog/page/commentingpolicy">Commenting policy</a></p>
		</div>
		<div class="alert alert-info">
			<p><a href="http://www.canada.ca/en/transparency/privacy.html">Privacy</a></p>
		</div>
	</div>
</div>