---
{
	"title": "Au courant : Canada.ca",
	"language": "fr",
	"altLangPrefix": "blog",
	"pageclass": "theme",
	"breadcrumb": [
		{ "title": "Accueil", "link": "http://www.canada.ca/fr/index.html" }
	],
	"secondlevel": false,
	"dateModified": "2014-06-12",
	"share": "false"
}
---
<p>Demeurez à l’affût des nouvelles caractéristiques et des progrès réalisés sur Canada.ca en lisant nos mises à jour où vous pouvez également nous laisser vos commentaires. De plus, vous pouvez nous faire part de ce que vous pensez du site Web en remplissant le <a href="http://www.canada.ca/fr/contact/retroaction.html">formulaire de rétroaction</a>.</p>
<div class="row">
	<div class="col-md-8 blog zbra">
		<div class="mrgn-bttm-lg">
			<img src="http://www.canada.ca/blogue/mediaresource/1cafa6b9-538c-4e99-839e-2add2a4567b7" class="img-responsive" alt="Au courant" />
		</div>
		<section class="brdr-tp">
			<div class="row">
				<h2 class="col-md-9 mrgn-tp-md"><a href="http://www.canada.ca/blogue/anniversaire">Canada.ca célèbre son 1<sup>er</sup> anniversaire!</a></h2><div class="col-md-3 hidden-sm hidden-xs brdr-lft text-left"><a href="http://www.canada.ca/blogue/anniversaire#comments" class="mrgn-tp-md center-block no-undrln"><span class="glyphicon glyphicon-comment"></span>&nbsp;Commenter</a></div>
			</div>
			<div class="row">
				<p class="col-md-12 small">décembre 19, 2014</p>
			</div>
			<div class="row">
				<div class="col-md-3 hidden-sm hidden-xs">
					<a href="http://www.canada.ca/blogue/anniversaire"><img src="http://www.canada.ca/blogue/mediaresource/501e130f-90bd-440d-be51-43442874df0a?t=false" class="img-responsive thumbnail" alt=""></a>
				</div>
				<p class="col-md-9 col-sm-12">Il y a un an, le site Canada.ca voyait le jour, et voyez tout ce que nous avons accompli!
				<br />
				<a class="mrgn-tp-md mrgn-bttm-sm center-block col-md-12 col-xs-6" href="http://www.canada.ca/blogue/anniversaire"> Pour en savoir plus…</a><span class="col-xs-6 hidden-md hidden-lg text-right mrgn-tp-md"><a class="no-undrln" href="http://www.canada.ca/blogue/anniversaire#comments"><span class="glyphicon glyphicon-comment"></span>&nbsp;Commenter</a></span></p>
			</div>
		</section>
		<section class="brdr-tp">
			<div class="row">
				<h2 class="col-md-9 mrgn-tp-md"><a href="http://www.canada.ca/blogue/citoyennet">Vivre – Travailler – Jouer – Canada!</a></h2><div class="col-md-3 hidden-sm hidden-xs brdr-lft text-left"><a href="http://www.canada.ca/blogue/citoyennet#comments" class="mrgn-tp-md center-block no-undrln"><span class="glyphicon glyphicon-comment"></span>&nbsp;Commenter</a></div>
			</div>
			<div class="row">
				<p class="col-md-12 small">décembre 05, 2014</p>
			</div>
			<div class="row">
				<div class="col-md-3 hidden-sm hidden-xs">
					<a href="http://www.canada.ca/blogue/citoyennet"><img src="http://www.canada.ca/blogue/mediaresource/8f12eabd-a205-41af-adf5-5a10505567c9?t=false" class="img-responsive thumbnail" alt=""></a>
				</div>
				<p class="col-md-9 col-sm-12">Canada.ca est LE site à consulter pour toute personne à l’extérieur du Canada qui souhaite visiter le Canada, y étudier, y travailler ou même y vivre. Vous trouverez sous le thème <a href="http://www.cic.gc.ca/francais/index.asp">Immigration et citoyenneté</a> tous les renseignements dont vous avez besoin avant d’arriver dans notre beau pays.
				<br />
				<a class="mrgn-tp-md mrgn-bttm-sm center-block col-md-12 col-xs-6" href="http://www.canada.ca/blogue/citoyennet"> Pour en savoir plus…</a><span class="col-xs-6 hidden-md hidden-lg text-right mrgn-tp-md"><a class="no-undrln" href="http://www.canada.ca/blogue/citoyennet#comments"><span class="glyphicon glyphicon-comment"></span>&nbsp;Commenter</a></span></p>
			</div>
		</section>
		<section class="brdr-tp">
			<div class="row">
				<h2 class="col-md-9 mrgn-tp-md"><a href="http://www.canada.ca/blogue/transport">Avions, trains et automobiles… et bien sûr les navires!</a></h2><div class="col-md-3 hidden-sm hidden-xs brdr-lft text-left"><a href="http://www.canada.ca/blogue/transport#comments" class="mrgn-tp-md center-block no-undrln"><span class="glyphicon glyphicon-comment"></span>&nbsp;Commenter</a></div>
			</div>
			<div class="row">
			<p class="col-md-12 small">novembre 21, 2014</p>
			</div>
			<div class="row">
				<div class="col-md-3 hidden-sm hidden-xs">
					<a href="http://www.canada.ca/blogue/transport"><img src="http://www.canada.ca/blogue/mediaresource/46613856-c7e2-4fbd-86fd-c277ccfa881b?t=false" class="img-responsive thumbnail" alt=""></a>
				</div>
				<p class="col-md-9 col-sm-12">Que vous soyez passager dans un avion ou que vous fassiez voler votre propre drone, Canada.ca vous indiquera la bonne direction!
				<br />
				<a class="mrgn-tp-md mrgn-bttm-sm center-block col-md-12 col-xs-6" href="http://www.canada.ca/blogue/transport"> Pour en savoir plus…</a><span class="col-xs-6 hidden-md hidden-lg text-right mrgn-tp-md"><a class="no-undrln" href="http://www.canada.ca/blogue/transport#comments"><span class="glyphicon glyphicon-comment"></span>&nbsp;Commenter</a></span></p>
			</div>
		</section>
		<section class="brdr-tp">
			<div class="row">
				<h2 class="col-md-9 mrgn-tp-md"><a href="http://www.canada.ca/blogue/governementouvert">Le gouvernement ouvert</a></h2><div class="col-md-3 hidden-sm hidden-xs brdr-lft text-left"><a href="http://www.canada.ca/blogue/governementouvert#comments" class="mrgn-tp-md center-block no-undrln"><span class="glyphicon glyphicon-comment"></span>&nbsp;Commenter</a></div>
			</div>
			<div class="row">
				<p class="col-md-12 small">novembre 07, 2014</p>
			</div>
			<div class="row">
				<div class="col-md-3 hidden-sm hidden-xs">
					<a href="http://www.canada.ca/blogue/governementouvert"><img src="http://www.canada.ca/blogue/mediaresource/3cf8d007-51e5-4545-8edc-c8f694e4ae3b?t=false" class="img-responsive thumbnail" alt=""></a>
				</div>
				<p class="col-md-9 col-sm-12">Sur Canada.ca, vous pouvez désormais vous informer sur les activités associées à l’initiative pour un gouvernement ouvert.
				<br />
				<a class="mrgn-tp-md mrgn-bttm-sm center-block col-md-12 col-xs-6" href="http://www.canada.ca/blogue/governementouvert"> Pour en savoir plus…</a><span class="col-xs-6 hidden-md hidden-lg text-right mrgn-tp-md"><a class="no-undrln" href="http://www.canada.ca/blogue/governementouvert#comments"><span class="glyphicon glyphicon-comment"></span>&nbsp;Commenter</a></span></p>
			</div>
		</section>
	</div>
	<div class="col-md-4 pull-right">
		<div class="text-right mrgn-bttm-md">
			<div class="wb-share" data-wb-share='{"lnkClass": "btn btn-default"}'></div>
		</div>
		<section class="panel panel-default">
			<div class="panel-heading"><h2 class="panel-title">Récents articles de blogue</h2></div>
			<div class="panel-body">
				<ul>
					<li><a href="http://www.canada.ca/blogue/anniversaire">Canada.ca célèbre son 1<sup>er</sup> anniversaire! </a></li>
					<li><a href="http://www.canada.ca/blogue/citoyennet">Vivre – Travailler – Jouer – Canada!</a></li>
					<li><a href="http://www.canada.ca/blogue/transport">Avions, trains et automobiles… et bien sûr les navires!</a></li>
					<li><a href="http://www.canada.ca/blogue/governementouvert">Le gouvernement ouvert</a></li>
					<li><a href="http://www.canada.ca/blogue/sante2">Un grand pas pour la santé!</a></li>
				</ul>
				<p><a href="http://www.canada.ca/blogue/">Tous les articles du blogue…</a></p>
			</div>
		</section>
		<div class="alert alert-info">
			<p><a href="http://www.canada.ca/blogue/page/normesdecommentaires">Politiques sur les commentaires</a></p>
		</div>
		<div class="alert alert-info">
			<p><a href="http://www.canada.ca/fr/transparence/confidentialite.html">Confidentialité</a></p>
		</div>
	</div>
</div>