---
{
	"title": "Au courant : Canada.ca",
	"language": "fr",
	"altLangPrefix": "blog",
	"pageclass": "theme",
	"breadcrumb": [
		{ "title": "Accueil", "link": "http://www.canada.ca/fr/index.html" }
	],
	"secondlevel": false,
	"dateModified": "2014-06-12",
	"share": "false"
}
---
<p class="pagetag">Demeurez à l’affût des nouvelles caractéristiques et des progrès réalisés sur Canada.ca en lisant nos mises à jour où vous pouvez également nous laisser vos commentaires. De plus, vous pouvez nous faire part de ce que vous pensez du site Web en remplissant le <a href="http://www.canada.ca/fr/contact/retroaction.html">formulaire de rétroaction</a>.</p>
<div class="row">
	<div class="col-md-8 blog zbra">
		<div class="mrgn-bttm-lg">
			<img src="http://www.canada.ca/fr/blogue/img/au-courant.jpg" class="img-responsive" alt="Au courant" />
		</div>
		<section class="brdr-tp">
			<div class="row">
				<h2 class="col-md-9 mrgn-tp-md"><a href="http://www.canada.ca/fr/blogue/environnement.html">Air, terre et eau : découvrez notre environnement sur Canada.ca</a></h2><div class="col-md-3 hidden-sm hidden-xs brdr-lft text-left"><a href="http://www.canada.ca/fr/blogue/environnement.html#comments" class="mrgn-tp-md center-block no-undrln"><span class="glyphicon glyphicon-comment"></span>&nbsp;Commenter</a></div>
			</div>
			<div class="row">
				<p class="pagetag col-md-12 small">5 juin 2014</p>
			</div>
			<div class="row">
				<div class="col-md-3 hidden-sm hidden-xs">
					<a href="http://www.canada.ca/fr/blogue/environnement.html" ><img src="http://www.canada.ca/fr/blogue/img/bl-04062014.jpg" alt="" class="img-responsive thumbnail" /></a>
				</div>
				<p class="col-md-9 col-sm-12">Vous souvenez-vous quand vous avez appris à faire des ricochets sur l’eau? Et de votre émerveillement quand vous avez attrapé (et relâché) des grenouilles et des petits poissons? Ou mieux encore, lorsque des balades en forêt ou des promenades le long des sentiers étaient de véritables aventures au cours desquelles vous montiez une précieuse collection de cailloux et de bâtons à chaque pas? Dans la nature, il n’en faut pas beaucoup pour se sentir insouciant et en communion avec son environnement.
				<br />
				<a class="mrgn-tp-md mrgn-bttm-sm center-block col-md-12 col-xs-6" href="http://www.canada.ca/fr/blogue/environnement.html">Pour en savoir plus&nbsp;...</a><span class="col-xs-6 hidden-md hidden-lg text-right mrgn-tp-md"><a href="http://www.canada.ca/fr/blogue/environnement.html#comments" class="no-undrln"><span class="glyphicon glyphicon-comment"></span>&nbsp;Commenter</a></span>
				</p>
			</div>
		</section>
		<section class="brdr-tp">
			<div class="row">
				<h2 class="col-md-9 mrgn-tp-md"><a href="http://www.canada.ca/fr/blogue/coupmain.html">Les Canadiens saisissent les occasions de donner un coup de main</a></h2><div class="col-md-3 hidden-sm hidden-xs brdr-lft text-left"><a href="http://www.canada.ca/fr/blogue/coupmain.html#comments" class="mrgn-tp-md center-block no-undrln"><span class="glyphicon glyphicon-comment"></span>&nbsp;Commenter</a></div>
			</div>
			<div class="row">
				<p class="pagetag col-md-12 small">28 mai 2014</p>
			</div>
			<div class="row">
				<div class="col-md-3 hidden-sm hidden-xs">
					<a href="http://www.canada.ca/fr/blogue/coupmain.html" ><img src="http://www.canada.ca/fr/blogue/img/cw-20140529.jpg" alt="" class="img-responsive thumbnail" /></a>
				</div>
				<p class="col-md-9">Le Sommet Sauvons chaque femme, chaque enfant : un objectif à notre portée a lieu cette semaine à Toronto. Des dirigeants mondiaux, des experts canadiens et des intervenants clés de la société civile et du secteur privé se rassembleront pour discuter de façons de travailler ensemble afin de contribuer à éliminer les décès évitables et à obtenir de meilleurs résultats pour les mères vulnérables et leurs enfants dans les pays en développement.
				<br />
				<a class="mrgn-tp-md mrgn-bttm-sm center-block col-md-12 col-xs-6" href="http://www.canada.ca/fr/blogue/coupmain.html">Pour en savoir plus&nbsp;...</a> <span class="col-xs-6 hidden-md hidden-lg text-right mrgn-tp-md"><a href="http://www.canada.ca/fr/blogue/coupmain.html#comments" class="no-undrln"><span class="glyphicon glyphicon-comment"></span>&nbsp;Commenter</a></span>
				</p>
			</div>
		</section>
		<section class="brdr-tp">
			<div class="row">
				<h2 class="col-md-9 mrgn-tp-md"><a href="http://www.canada.ca/fr/blogue/architecture.html">« Si vous le construisez, ils viendront&nbsp;»&nbsp;– Architecture d’information et site Canada.ca</a></h2><div class="col-md-3 hidden-sm hidden-xs brdr-lft text-left"><a href="http://www.canada.ca/fr/blogue/architecture.html#comments" class="mrgn-tp-md center-block no-undrln"><span class="glyphicon glyphicon-comment"></span>&nbsp;Commenter</a></div>
			</div>
			<div class="row">
				<p class="pagetag col-md-12 small">23 mai 2014</p>
			</div>
			<div class="row">
				<p class="col-md-12">Qu’est ce qui rend un site Web utile? La réponse est simple. Il fournit les renseignements dont vous avez besoin et grâce à lui, il est facile d’accomplir des tâches en ligne. Qu’est ce qui rend cela possible? Deux mots représentant un concept très important : l’architecture d’information.
				<br />
				<a class="mrgn-tp-md mrgn-bttm-sm center-block col-md-12 col-xs-6" href="http://www.canada.ca/fr/blogue/architecture.html">Pour en savoir plus&nbsp;...</a> <span class="col-xs-6 hidden-md hidden-lg text-right mrgn-tp-md"><a href="http://www.canada.ca/fr/blogue/architecture.html#comments" class="no-undrln"><span class="glyphicon glyphicon-comment"></span>&nbsp;Commenter</a></span>
				</p>
			</div>
		</section>
		<section class="brdr-tp">
			<div class="row">
				<h2 class="col-md-9 mrgn-tp-md"><a href="http://www.canada.ca/fr/blogue/voyage.html">Des vacances à l’étranger ou à la maison? Canada.ca peut vous aider</a></h2><div class="col-md-3 hidden-sm hidden-xs brdr-lft text-left"><a href="http://www.canada.ca/fr/blogue/voyage.html#comments" class="mrgn-tp-md center-block no-undrln"><span class="glyphicon glyphicon-comment"></span>&nbsp;Commenter</a></div>
			</div>
			<div class="row">
				<p class="pagetag col-md-12 small">15 mai 2014</p>
			</div>
			<div class="row">
				<div class="col-md-3 hidden-sm hidden-xs">
					<a href="http://www.canada.ca/fr/blogue/voyage.html" ><img src="http://www.canada.ca/fr/blogue/img/bl-20140516.jpg" alt="" class="img-responsive thumbnail" /></a>
				</div>
				<p class="col-md-9 col-sm-12">Au Canada, les hivers peuvent paraître longs, et l’hiver dernier s’est attardé un peu plus que la normale. Mais à l’approche de la fête de la Reine, il est temps de passer à autre chose et de penser à l’été!
				<br />
				<a class="mrgn-tp-md mrgn-bttm-sm center-block col-md-12 col-xs-6" href="http://www.canada.ca/fr/blogue/voyage.html">Pour en savoir plus&nbsp;...</a> <span class="col-xs-6 hidden-md hidden-lg text-right mrgn-tp-md"><a href="http://www.canada.ca/fr/blogue/voyage.html#comments" class="no-undrln"><span class="glyphicon glyphicon-comment"></span>&nbsp;Commenter</a></span>
				</p>
			</div>
		</section>
		<section class="brdr-tp">
			<div class="row">
				<h2 class="col-md-9 mrgn-tp-md"><a href="http://www.canada.ca/fr/blogue/merci.html">40&nbsp;000 raisons de dire «&nbsp;merci&nbsp;»</a></h2><div class="col-md-3 hidden-sm hidden-xs brdr-lft text-left"><a href="http://www.canada.ca/fr/blogue/merci.html#comments" class="mrgn-tp-md center-block no-undrln"><span class="glyphicon glyphicon-comment"></span>&nbsp;Commenter</a></div>
			</div>
			<div class="row">
				<p class="pagetag col-md-12 small">6 mai 2014</p>
			</div>
			<div class="row">
				<div class="col-md-3 hidden-sm hidden-xs">
					<a href="http://www.canada.ca/fr/blogue/merci.html" ><img src="http://www.canada.ca/fr/blogue/img/bl-06052014.jpg" alt="" class="img-responsive thumbnail" /></a>
				</div>
				<p class="col-md-9 col-sm-12">Cette semaine, nous levons notre chapeau aux 40&nbsp;000 Canadiens qui ont servi le Canada lors de la mission en Afghanistan. Nous leur exprimons notre reconnaissance pour leur bravoure, leur service et leur sacrifice.
				<br />
				<a class="mrgn-tp-md mrgn-bttm-sm center-block col-md-12 col-xs-6" href="http://www.canada.ca/fr/blogue/merci.html">Pour en savoir plus&nbsp;...</a> <span class="col-xs-6 hidden-md hidden-lg text-right mrgn-tp-md"><a href="http://www.canada.ca/fr/blogue/merci.html#comments" class="no-undrln"><span class="glyphicon glyphicon-comment"></span>&nbsp;Commenter</a></span>
				</p>
			</div>
		</section>
		<section class="brdr-tp">
			<div class="row">
				<h2 class="col-md-9 mrgn-tp-md"><a href="http://www.canada.ca/fr/blogue/mobile.html">Nous avançons en toute connaissance – Le mobile et Canada.ca</a></h2><div class="col-md-3 hidden-sm hidden-xs brdr-lft text-left"><a href="http://www.canada.ca/fr/blogue/mobile.html#comments" class="mrgn-tp-md center-block no-undrln"><span class="glyphicon glyphicon-comment"></span>&nbsp;Commenter</a></div>
			</div>
			<div class="row">
				<p class="pagetag col-md-12 small">1 mai 2014</p>
			</div>
			<div class="row">
				<div class="col-md-3 hidden-sm hidden-xs">
					<a href="http://www.canada.ca/fr/blogue/mobile.html" ><img src="http://www.canada.ca/fr/blogue/img/mobile.jpg" alt="" class="img-responsive thumbnail" /></a>
				</div>
				<p class="col-md-9 col-sm-12">Marcher et parler, lire et gazouiller. Des photos, des vidéos, des applications, des cartes et beaucoup d’autres choses! Voici le monde du mobile.
				<br />
				<a class="mrgn-tp-md mrgn-bttm-sm center-block col-md-12 col-xs-6" href="http://www.canada.ca/fr/blogue/mobile.html">Pour en savoir plus&nbsp;...</a> <span class="col-xs-6 hidden-md hidden-lg text-right mrgn-tp-md"><a href="http://www.canada.ca/fr/blogue/mobile.html#comments" class="no-undrln"><span class="glyphicon glyphicon-comment"></span>&nbsp;Commenter</a></span>
				</p>
			</div>
		</section>
		<section class="brdr-tp">
			<div class="row">
				<h2 class="col-md-9 mrgn-tp-md"><a href="http://www.canada.ca/fr/blogue/boew.html">Bravo aux programmeurs!</a></h2><div class="col-md-3 hidden-sm hidden-xs brdr-lft text-left"><a href="http://www.canada.ca/fr/blogue/boew.html#comments" class="mrgn-tp-md center-block no-undrln"><span class="glyphicon glyphicon-comment"></span>&nbsp;Commenter</a></div>
			</div>
			<div class="row">
				<p class="pagetag col-md-12 small">28 avril 2014</p>
			</div>
			<div class="row">
				<p class="col-md-12">BOEW. Pardon? La Boîte à outils de l’expérience Web (<abbr>BOEW</abbr>) est un logiciel de source ouverte créé par le gouvernement du Canada pour construire des sites Internet plus novateurs. Nous avons parlé de la <abbr title="Boîte à outils de l’expérience Web">BOEW</abbr> dans un billet de blogue antérieur qui portait sur les sources ouvertes.
				<br />
				<a class="mrgn-tp-md mrgn-bttm-sm center-block col-md-12 col-xs-6" href="http://www.canada.ca/fr/blogue/boew.html">Pour en savoir plus&nbsp;...</a> <span class="col-xs-6 hidden-md hidden-lg text-right mrgn-tp-md"><a href="http://www.canada.ca/fr/blogue/boew.html#comments" class="no-undrln"><span class="glyphicon glyphicon-comment"></span>&nbsp;Commenter</a></span>
				</p>
			</div>
		</section>
		<section class="brdr-tp">
			<div class="row">
				<h2 class="col-md-9 mrgn-tp-md"><a href="http://www.canada.ca/fr/blogue/normes.html">Nous avons des normes! Oh que oui!</a></h2><div class="col-md-3 hidden-sm hidden-xs brdr-lft text-left"><a href="http://www.canada.ca/fr/blogue/normes.html#comments" class="mrgn-tp-md center-block no-undrln"><span class="glyphicon glyphicon-comment"></span>&nbsp;Commenter</a></div>
			</div>
			<div class="row">
				<p class="pagetag col-md-12 small">17 avril 2014</p>
			</div>
			<div class="row">
				<p class="col-md-12">Parlons de normes Web… cela semble un peu ennuyant? Pas si vite.
				<br />
				<a class="mrgn-tp-md mrgn-bttm-sm center-block col-md-12 col-xs-6" href="http://www.canada.ca/fr/blogue/normes.html">Pour en savoir plus&nbsp;...</a> <span class="col-xs-6 hidden-md hidden-lg text-right mrgn-tp-md"><a href="http://www.canada.ca/fr/blogue/normes.html#comments" class="no-undrln"><span class="glyphicon glyphicon-comment"></span>&nbsp;Commenter</a></span>
				</p>
			</div>
		</section>
		<section class="brdr-tp">
			<div class="row">
				<h2 class="col-md-9 mrgn-tp-md"><a href="http://www.canada.ca/fr/blogue/commentaires.html">Vos commentaires, SVP!</a></h2><div class="col-md-3 hidden-sm hidden-xs brdr-lft text-left"><a href="http://www.canada.ca/fr/blogue/commentaires.html#comments" class="mrgn-tp-md center-block no-undrln"><span class="glyphicon glyphicon-comment"></span>&nbsp;Commenter</a></div>
			</div>
			<div class="row">
				<p class="pagetag col-md-12 small">10 avril 2014</p>
			</div>
			<div class="row">
				<p class="col-md-12">Canada.ca est en construction. Nous espérons que nos mises à jour contribuent à vous tenir au courant du processus et vous fournissent du contexte et un aperçu des divers aspects du développement du site Web.
				<br />
				<a class="mrgn-tp-md mrgn-bttm-sm center-block col-md-12 col-xs-6" href="http://www.canada.ca/fr/blogue/commentaires.html">Pour en savoir plus&nbsp;...</a> <span class="col-xs-6 hidden-md hidden-lg text-right mrgn-tp-md"><a href="http://www.canada.ca/fr/blogue/commentaires.html#comments" class="no-undrln"><span class="glyphicon glyphicon-comment"></span>&nbsp;Commenter</a></span>
				</p>
			</div>
		</section>
		<section class="brdr-tp">
			<div class="row">
				<h2 class="col-md-9 mrgn-tp-md"><a href="http://www.canada.ca/fr/blogue/archivage.html">Classé, mais toujours accessible&nbsp;: l’archivage dans le nouveau site Canada.ca</a></h2><div class="col-md-3 hidden-sm hidden-xs brdr-lft text-left"><a href="http://www.canada.ca/fr/blogue/archivage.html#comments" class="mrgn-tp-md center-block no-undrln"><span class="glyphicon glyphicon-comment"></span>&nbsp;Commenter</a></div>
			</div>
			<div class="row">
				<p class="pagetag col-md-12 small">4 avril 2014</p>
			</div>
			<div class="row">
				<p class="col-md-12">Cela nous est tous arrivé&nbsp;: nous lançons une recherche dans un site Web, et les résultats incluent des pages anciennes qui ne sont pas pertinentes. Canada.ca se veut un site Web à la fois meilleur et plus efficace pour les Canadiens. Entrez dans le monde de l’archivage.
				<br />
				<a class="mrgn-tp-md mrgn-bttm-sm center-block col-md-12 col-xs-6" href="http://www.canada.ca/fr/blogue/archivage.html">Pour en savoir plus&nbsp;...</a> <span class="col-xs-6 hidden-md hidden-lg text-right mrgn-tp-md"><a href="http://www.canada.ca/fr/blogue/archivage.html#comments" class="no-undrln"><span class="glyphicon glyphicon-comment"></span>&nbsp;Commenter</a></span>
				</p>
			</div>
		</section>
		<section class="brdr-tp">
			<div class="row">
				<h2 class="col-md-9 mrgn-tp-md"><a href="http://www.canada.ca/fr/blogue/nouvellestructurethemes.html">«&nbsp;&nbsp;Les pommes avec les pommes&nbsp;»&nbsp;: l’information et les services se trouvent plus «&nbsp;à leur place&nbsp;» grâce à une nouvelle structure par thèmes</a></h2><div class="col-md-3 hidden-sm hidden-xs brdr-lft text-left"><a href="http://www.canada.ca/fr/blogue/nouvellestructurethemes.html#comments" class="mrgn-tp-md center-block no-undrln"><span class="glyphicon glyphicon-comment"></span>&nbsp;Commenter</a></div>
			</div>
			<div class="row">
				<p class="pagetag col-md-12 small">2 avril 2014</p>
			</div>
			<div class="row">
				<p class="col-md-12">Supposons que vous prépariez un voyage en Asie du Sud-Est, une région diversifiée dotée d’une grande richesse culturelle à découvrir. Certains renseignements vous seront utiles, et même essentiels&nbsp;: vaccins nécessaires, avertissements aux voyageurs, conseils pour voyager avec des enfants ou pendant la grossesse, services consulaires outre-mer, possibilités de travail humanitaire, conseils de santé aux voyageurs, et la liste continue. Tous ces éléments ont un même thème, le voyage, mais ils comportent des renseignements et des services provenant d’au moins trois organismes gouvernementaux différents. C’est ici qu’entre en scène le nouveau Canada.ca…
				<br />
				<a class="mrgn-tp-md mrgn-bttm-sm center-block col-md-12 col-xs-6" href="http://www.canada.ca/fr/blogue/nouvellestructurethemes.html">Pour en savoir plus&nbsp;...</a> <span class="col-xs-6 hidden-md hidden-lg text-right mrgn-tp-md"><a href="http://www.canada.ca/fr/blogue/nouvellestructurethemes.html#comments" class="no-undrln"><span class="glyphicon glyphicon-comment"></span>&nbsp;Commenter</a></span>
				</p>
			</div>
		</section>
		<section class="brdr-tp">
			<div class="row">
				<h2 class="col-md-9 mrgn-tp-md"><a href="http://www.canada.ca/fr/blogue/sourceouverte.html">Tout le monde à bord! Source ouverte – Le moteur du développement sur Canada.ca</a></h2><div class="col-md-3 hidden-sm hidden-xs brdr-lft text-left"><a href="http://www.canada.ca/fr/blogue/sourceouverte.html#comments" class="mrgn-tp-md center-block no-undrln"><span class="glyphicon glyphicon-comment"></span>&nbsp;Commenter</a></div>
			</div>
			<div class="row">
				<p class="pagetag col-md-12 small">21 mars 2014</p>
			</div>
			<div class="row">
				<p class="col-md-12">Canada.ca continue d’évoluer. Mais comment ce travail s’accomplit il? Il faut comprendre que nous ne sommes plus à l’époque où les gens travaillaient de façon isolée et attendaient d’obtenir des résultats. De nos jours, le processus est ouvert et plus fluide. Les bogues peuvent être détectés et corrigés en à peine 30 secondes au moyen de logiciels ouverts. En matière de gouvernement ouvert, le gouvernement du Canada appuie des initiatives qui permettent d’accroître à la fois la mobilisation des citoyens et la transparence. C’est pourquoi notre équipe Web a créé, en 2009, un logiciel ouvert, la Boîte à outils de l’expérience Web (BOEW), et elle utilise maintenant cette approche axée sur la collaboration dans le contexte de Canada.ca.
				<br />
				<a class="mrgn-tp-md mrgn-bttm-sm center-block col-md-12 col-xs-6" href="http://www.canada.ca/fr/blogue/sourceouverte.html">Pour en savoir plus&nbsp;...</a> <span class="col-xs-6 hidden-md hidden-lg text-right mrgn-tp-md"><a href="http://www.canada.ca/fr/blogue/sourceouverte.html#comments" class="no-undrln"><span class="glyphicon glyphicon-comment"></span>&nbsp;Commenter</a></span>
				</p>
			</div>
		</section>
		<section class="brdr-tp">
			<div class="row">
				<h2 class="col-md-9 mrgn-tp-md"><a href="http://www.canada.ca/fr/blogue/sallepresse.html">Du nouveau dans les nouvelles</a></h2><div class="col-md-3 hidden-sm hidden-xs brdr-lft text-left"><a href="http://www.canada.ca/fr/blogue/sallepresse.html#comments" class="mrgn-tp-md center-block no-undrln"><span class="glyphicon glyphicon-comment"></span>&nbsp;Commenter</a></div>
			</div>
			<div class="row">
				<p class="pagetag col-md-12 small">7 mars 2014</p>
			</div>
			<div class="row">
				<p class="col-md-12">L’un des plus importants changements qui accompagneront la transition vers Canada.ca concernera la création d’une salle de presse virtuelle unique, contenant toutes les nouvelles du gouvernement du Canada. Vous avez sans doute déjà vu le nouveau modèle de communiqué de presse que nous utilisons.
				<br />
				<a class="mrgn-tp-md mrgn-bttm-sm center-block col-md-12 col-xs-6" href="http://www.canada.ca/fr/blogue/sallepresse.html">Pour en savoir plus&nbsp;...</a> <span class="col-xs-6 hidden-md hidden-lg text-right mrgn-tp-md"><a href="http://www.canada.ca/fr/blogue/sallepresse.html#comments" class="no-undrln"><span class="glyphicon glyphicon-comment"></span>&nbsp;Commenter</a></span>
				</p>
			</div>
		</section>
		<section class="brdr-tp">
			<div class="row">
				<h2 class="col-md-9 mrgn-tp-md"><a href="http://www.canada.ca/fr/blogue/courant.html">Au courant&nbsp;: Canada.ca</a></h2><div class="col-md-3 hidden-sm hidden-xs brdr-lft text-left"><a href="http://www.canada.ca/fr/blogue/courant.html#comments" class="mrgn-tp-md center-block no-undrln"><span class="glyphicon glyphicon-comment"></span>&nbsp;Commenter</a></div>
			</div>
			<div class="row">
				<p class="pagetag col-md-12 small">14 février 2014</p>
			</div>
			<div class="row">
				<p class="col-md-12">Les sites Web de tous les ministères et organismes du gouvernement sont en train d’être fusionnés dans un seul site&nbsp;: Canada.ca. Le lancement du nouveau site n’était qu’un début. Au fil du temps, vous remarquerez de nombreux autres changements alors que le gouvernement modernise sa présence sur le Web afin de mieux servir la population canadienne.
				<br />
				<a class="mrgn-tp-md mrgn-bttm-sm center-block col-md-12 col-xs-6" href="http://www.canada.ca/fr/blogue/courant.html">Pour en savoir plus&nbsp;...</a> <span class="col-xs-6 hidden-md hidden-lg text-right mrgn-tp-md"><a href="http://www.canada.ca/fr/blogue/courant.html#comments" class="no-undrln"><span class="glyphicon glyphicon-comment"></span>&nbsp;Commenter</a></span>
				</p>
			</div>
		</section>
	</div><!-- end col-md-8 -->
	<div class="col-md-4 pull-right">
		<div class="text-right mrgn-bttm-md">
			<div class="wb-share" data-wb-share='{"lnkClass": "btn btn-default"}'></div>
		</div>
		<section class="panel panel-default">
			<div class="panel-heading"><h2 class="panel-title">Récents articles de blogue</h2></div>
			<div class="panel-body">
				<ul>
					<li><a href="http://www.canada.ca/fr/blogue/environnement.html">Air, terre et eau : découvrez notre environnement sur Canada.ca</a></li>
					<li><a href="http://www.canada.ca/fr/blogue/coupmain.html">Les Canadiens saisissent les occasions de donner un coup de main</a></li>
					<li><a href="http://www.canada.ca/fr/blogue/architecture.html">« Si vous le construisez, ils viendront » – Architecture d’information et site Canada.ca</a></li>
					<li><a href="http://www.canada.ca/fr/blogue/voyage.html">Des vacances à l’étranger ou à la maison? Canada.ca peut vous aider</a></li>
					<li><a href="http://www.canada.ca/fr/blogue/merci.html">40 000 raisons de dire «&nbsp;merci&nbsp;»</a></li>
					<li><a href="http://www.canada.ca/fr/blogue/mobile.html">Nous avançons en toute connaissance – Le mobile et Canada.ca</a></li>
					<li><a href="http://www.canada.ca/fr/blogue/boew.html">Bravo aux programmeurs!</a></li>
					<li><a href="http://www.canada.ca/fr/blogue/normes.html">Nous avons des normes! Oh que oui!</a></li>
					<li><a href="http://www.canada.ca/fr/blogue/commentaires.html">Vos commentaires, SVP!</a></li>
					<li><a href="http://www.canada.ca/fr/blogue/archivage.html">Classé, mais toujours accessible : l’archivage dans le nouveau site Canada.ca</a></li>
				</ul>
				<p><a href="http://www.canada.ca/fr/blogue/index.html">Tous les articles du blogue...</a></p>
			</div>
		</section>
		<div class="alert alert-info">
			<p><a href="http://www.canada.ca/fr/blogue/normesdecommentaires.html">Politiques sur les commentaires</a></p>
		</div>
		<div class="alert alert-info">
			<p><a href="http://www.canada.ca/fr/transparence/confidentialite.html">Confidentialité</a></p>
		</div>
	</div>
</div><!-- end row -->