---
{
	"title": "Carousel",
	"language": "fr",
	"isEnglish": false,
	"alternate": "index-en.html",
	"alternatetog": "English",
	"altlang": "en",
	"pageclass": "home",
    "carousel": true,
	"breadcrumb": [
		{ "title": "Accueil", "link": false}
	]
}
---
<h1 id="wb-cont" class="wb-inv">{{title}}</h1>
<section>
	<div class="row">
		<div class="col-md-12">
			<h2 class="h1">Services et renseignements les plus demandés</h2>
			<p class="pagetag">Accédez rapidement et facilement aux services et aux renseignements les plus demandés du gouvernement du Canada.</p>
		</div>
	</div>
	<div class="wb-eqht">
		<section class="sect-lnks">
			<h3><a href="http://meteo.gc.ca/?&amp;wb48617274=AAB6929C" rel="external">Renseignements météorologiques</a></h3>
			<p>Vérification des conditions actuelles, des prévisions à long terme et des alertes météo publiques, accès aux prévisions aériennes et maritimes, à la Cote air santé et aux données climatiques historiques.</p>
		</section>
		<section class="sect-lnks">
			<h3><a href="/fr/services/emplois/trouver.html">Trouver un emploi</a></h3>
			<p>Trouvez des possibilités d'emploi et des programmes d'embauche dans les secteurs public et privé, demandez ou prolongez un permis de travail, obtenez un numéro d'assurance sociale, une vérification du casier judiciaire ou une vérification de sécurité.</p>
		</section>
		<section class="sect-lnks">
			<h3><a href="http://www.passport.gc.ca/index.aspx?lang=fra" rel="external">Demander un passeport</a></h3>
			<p>Information sur la demande ou le renouvellement d'un passeport, les formulaires, les délais de traitement et les points de service.</p>
		</section>
		<section class="sect-lnks">
			<h3><a href="http://www.cic.gc.ca/francais/immigrer/index.asp" rel="external">Immigrer</a></h3>
			<p>Demandes de travailleurs qualifiés (fédéral), parrainage d'un membre de la famille, visas pour démarrage d'entreprise, réfugiés, conseils sur la fraude et le recours aux services d'un représentant.</p>
		</section>
		<section class="sect-lnks">
			<h3><a href="http://www.cic.gc.ca/francais/information/delais/index.asp" rel="external">Vérifier les délais de traitement des demandes</a></h3>
			<p>Information sur les visas de visiteur et les permis d'études et de travail, les demandes pour vivre au Canada de façon permanente et les passeports.</p>
		</section>
		<section class="sect-lnks">
			<h3><a href="/fr/services/prestations/assurance.html">Assurance-emploi</a></h3>
			<p>Information sur l'assurance-emploi (<abbr>a.-e.</abbr>) et les programmes connexes. Comprend des renseignements sur la façon de présenter une demande de prestation en ligne ou un rapport ainsi que les étapes que doit suivre un employeur pour soumettre un relevé d'emploi.</p>
		</section>
		<section class="sect-lnks">
			<h3><a href="http://www.forces.ca/fr/home" rel="external">S'engager dans les Forces armées canadiennes</a></h3>
			<p>Information sur les emplois au sein des Forces armées canadiennes, les salaires et avantages sociaux et l'emplacement des centres de recrutement.</p>
		</section>
		<section class="sect-lnks">
			<h3><a href="http://www.cra-arc.gc.ca/tx/bsnss/tpcs/gst-tps/menu-fra.html" rel="external">Obtenir des renseignements sur la taxe sur les produits et services / taxe de vente harmonisée (<abbr>TPS</abbr>/<abbr>TVH</abbr>)</a></h3>
			<p>Inscrire, calculer, déclarer et autres sujets sur la <abbr title="produits et services">TPS</abbr>/<abbr title="taxe de vente harmonisée">TVH</abbr>.</p>
		</section>
		<section class="sect-lnks">
			<h3><a href="http://www.collectionscanada.gc.ca/base-de-donnees/cec/index-f.html" rel="external">Soldats de la Première Guerre mondiale</a></h3>
			<p>Documents consultables sur plus de 600&#160;000 hommes et femmes qui ont servi au sein du Corps expéditionnaire canadien comme soldats, infirmières et aumôniers.</p>
		</section>
	</div>
	<div class="row margin-top-large">
		<p class="col-md-12 text-right learnmore"><a href="/fr/services/index.html" class="btn btn-lg btn-primary">Tous les services</a></p>
	</div>
</section>
<section class="departments">
	<div class="row">
		<div class="col-md-12">
			<h3>Aperçu des ministères</h3>
			<p class="subtitle">Les ministères et organismes sont chargés de mettre à exécution les politiques gouvernementales. Les sites Web de l'ensemble des <a href="#">ministères fédéraux</a> et de nombreux autres organismes seront regroupés sous le site Canada.ca. Vous trouverez ici des renseignements sur <a href="#">les politiques, les règlements et les lois</a>.</p>
		</div>
	</div>
	<div class="wb-eqht">
		<section class="sect-lnks text"><a href="#"><img src="{{assets}}/img/cats.jpg" alt="" class="img-responsive thumbnail">
			<h4>Avertissement Égypte - Évitez tout voyage non essentiel</h4></a>
			<p>Affaires étrangères, Commerce et Développement Canada recommande d'éviter tout voyage non-essentiel en Égypte, à l'exception des stations balnéaires de la mer Rouge. On recommande aux Canadiens de s'inscrire auprès du service d'<a href="#">Inscription des Canadiens à l'étranger</a>.</p>
		</section>
		<section class="sect-lnks text"><a href="#"><img src="{{assets}}/img/cars.jpg" alt="" class="img-responsive thumbnail">
			<h4>Planifiez votre visite</h4></a>
			<p>Vous prévoyez visiter l'un des parcs nationaux, l'un des lieux historiques nationaux ou l'une des aires marines nationales de conservation du Canada? Parcs Canada vous aide à planifier une expérience inoubliable.</p>
		</section>
		<section class="sect-lnks text"><a href="#"><img src="{{assets}}/img/sports.jpg" alt="" class="img-responsive thumbnail">
			<h4>S'abonner à Alerte-Emploi</h4></a>
			<p>Alerte-Emploi est un service de courriel gratuit qui vous informe deux fois par jour des nouvelles opportunités. Vous pouvez mettre à jour vos alertes-emploi ou vous désabonner en tout temps. Le service Alerte-Emploi continuera de faire l'objet de mises au point et d'améliorations au fil du temps afin de veiller à son bon fonctionnement pour les besoins des utilisateurs.</p>
		</section>
	</div>
</section>
{{>datemodified}}
