---
{
	"title": "Carousel",
	"language": "en",
	"altLangPrefix": "carousel",
	"pageclass": "home",
	"breadcrumb": [
		{ "title": "Home", "link": false }
	],
	"carousel": true,,
	"dateModified": "2014-02-19",
	"share": "true"
}
---
<h1 id="wb-cont" class="wb-inv">{{title}}</h1>
<section>
	<div class="row">
		<div class="col-md-12">
			<h2 class="h1">Most requested services and information</h2>
			<p class="pagetag">Get quick, easy access to the Government of Canada's most requested services and information.</p>
		</div>
	</div>
	<div class="wb-eqht">
		<section class="sect-lnks">
			<h3><a href="http://weather.gc.ca/?&amp;wb48617274=F4EE897A" rel="external">Weather information</a></h3>
			<p>Check current conditions, long-term forecasts and public weather alerts, access aviation and marine forecasts, the Air Quality Health Index and historical climate data.</p>
		</section>
		<section class="sect-lnks">
			<h3><a href="/en/services/jobs/find.html">Find a job</a></h3>
			<p>Find public and private sector job opportunities or hiring programs, apply or extend a work permit, get a social insurance number, a criminal record check or security clearance.</p>
		</section>
		<section class="sect-lnks">
			<h3><a href="http://www.passport.gc.ca/index.aspx?lang=eng" rel="external">Get a passport</a></h3>
			<p>Includes new passport applications and renewals, forms, processing times and service locations.</p>
		</section>
		<section class="sect-lnks">
			<h3><a href="http://www.cic.gc.ca/english/immigrate/index.asp" rel="external">Immigrate</a></h3>
			<p>Includes applications for federal skilled workers, family sponsorship, start-up visa, refugees, and tips on fraud and representatives.</p>
		</section>
		<section class="sect-lnks">
			<h3><a href="http://www.cic.gc.ca/english/information/times/index.asp" rel="external">Check application processing times</a></h3>
			<p>Information for visitor visas, study and work permits, applications to live in Canada permanently and passports.</p>
		</section>
		<section class="sect-lnks">
			<h3><a href="/en/services/benefits/ei.html">Employment insurance</a></h3>
			<p>Information about employment insurance (<abbr>EI</abbr>) and related programs, includes how to apply for <abbr title="employment insurance">EI</abbr> online, submit a report, and instructions for employers on how to submit a worker's record of employment.</p>
		</section>
		<section class="sect-lnks">
			<h3><a href="http://www.forces.ca/en/home/" rel="external">Join the Canadian Armed Forces</a></h3>
			<p>Information about jobs with the Canadian Armed Forces, wages and benefits, and recruitment centre locations.</p>
		</section>
		<section class="sect-lnks">
			<h3><a href="http://www.cra-arc.gc.ca/tx/bsnss/tpcs/gst-tps/menu-eng.html" rel="external">Find information about the goods and services tax / harmonized sales tax (<abbr>GST</abbr>/<abbr>HST</abbr>)</a></h3>
			<p>Registering, calculating, reporting and other <abbr title="goods and services tax">GST</abbr>/<abbr title="harmonized sales tax">HST</abbr> topics.</p>
		</section>
		<section class="sect-lnks">
			<h3><a href="http://www.collectionscanada.gc.ca/databases/cef/index-e.html" rel="external">Soldiers of the First World War</a></h3>
			<p>Search records of over 600,000 men and women who enlisted in the Canadian Expeditionary Force as soldiers, nurses and chaplains.</p>
		</section>
	</div>
	<div class="row margin-top-large">
		<p class="col-md-12 text-right learnmore"><a href="/en/services/index.html" class="btn btn-lg btn-primary">All services</a></p>
	</div>
</section>
<section class="departments">
	<div class="row">
		<div class="col-md-12">
			<h2>Departments and agencies</h2>
			<p class="subtitle">Departments and agencies are responsible for putting government policy into practice. The websites of all <a href="#">government departments</a> and many other agencies are being merged into Canada.ca. Here you can find information about <a href="#">policies, regulations and laws</a>.</p>
		</div>
	</div>
	<div class="wb-eqht">
		<section class="sect-lnks text"><a href="#"><img src="{{assets}}/img/cats.jpg" alt="" class="img-responsive thumbnail">
			<h4>Advisory Egypt - Avoid non-essential travel</h4></a>
			<p>Foreign Affairs, Trade and Development Canada advises against non-essential travel to Egypt, except for Red Sea coastal resorts. We recommend that Canadians register with the <a href="#">Registration of Canadians Abroad</a> service.</p>
		</section>
		<section class="sect-lnks text"><a href="#"><img src="{{assets}}/img/cars.jpg" alt="" class="img-responsive thumbnail">
			<h4>Plan your visit</h4></a>
			<p>Planning a visit to one of Canada's National Parks, National Historic Sites or National Marine Conservation Areas? Let Parks Canada help you plan an unforgettable experience.</p>
		</section>
		<section class="sect-lnks text"><a href="#"><img src="{{assets}}/img/sports.jpg" alt="" class="img-responsive thumbnail">
			<h4>Subscribe to Job Alerts</h4></a>
			<p>Job Alerts is a free email service that notifies you of new job postings twice a day. You can update or cancel your job alerts at any time. Job Alerts will continue to be refined and improved over time to ensure it works effectively and efficiently for users.</p>
		</section>
	</div>
</section>
