---
{
	"title": "Components page",
	"language": "en",
	"altLangPrefix": "components",
	"pageclass": "cnt-wdth-lmtd",
	"breadcrumb": [
		{ "title": "Home", "link": "https://www.canada.ca/en.html" }
	],
	"secondlevel": false,
	"dateModified": "2018-03-02",
	"share": "true"
}
---
<p>Generic destination pages share many characteristics. For example, they are often long-form documents requiring structure to facilitate usability and readability. In many cases, they include images, charts, graphs or tables. Following are patterns aimed at increasing the usability and consistency of destination pages of various types.</p>
<nav role="navigation" class="gc-toc">
	<h2>Table of contents</h2>
	<ul>
		<li><a href="#download">Download link</a></li>
		<li><a href="#toc">In-page table of contents</a></li>
		<li><a href="#min-port">Portfolio ministers</a></li>
	</ul>
</nav>
<section>
	<h2 id="download">Download link</h2>
	<p>Download links are used for referencing and linking to non-HTML files on Canada.ca web pages.</p>
	<div class="row">
		<div class="col-sm-4">
			{{>comp-download}}
		</div>
	</div>
</section>
<section class="gc-toc">
	<h2 id="toc">In-page table of contents</h2>
	<p>The In-Page Table of Contents Pattern is a list of links that lead to subsections of the same page. This pattern is intended for long documents that exist as a single page.</p>
	<nav role="navigation" class="gc-toc">
		<h3>On this page</h3>
		<ul>
			<li><a href="#section1">First section heading</a></li>
			<li><a href="#section2">Second section heading</a></li>
			<li><a href="#section3">Third section heading</a></li>
		</ul>
	</nav>
	<section>
		<h3 id="section1">[First section heading]</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam delectus iusto repellat assumenda nobis, modi accusamus, rerum praesentium ad dignissimos ipsam? Facilis repellat, quibusdam qui? Et dolore ipsa ut repellendus.</p>
	</section>
	<section>
		<h3 id="section2">[Second section heading]</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam delectus iusto repellat assumenda nobis, modi accusamus, rerum praesentium ad dignissimos ipsam? Facilis repellat, quibusdam qui? Et dolore ipsa ut repellendus.</p>
	</section>
	<section>
		<h3 id="section3">[Third section heading]</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam delectus iusto repellat assumenda nobis, modi accusamus, rerum praesentium ad dignissimos ipsam? Facilis repellat, quibusdam qui? Et dolore ipsa ut repellendus.</p>
	</section>
</section>
<div id="min-port">
{{>minister-port}}
</div>


<section class="gc-prtts">
	<h2>One tile - Promotional feature</h2>
		<div class="row"><div class="col-md-8">
			<a href="#">
				<figure class="row">
					<figcaption class="pull-right col-md-6 col-xs-12">[Feature hyperlink text]</figcaption>
					<div class="pull-left col-md-6 col-xs-12">
						<img src="./img/360x203.png" alt="" class="img-responsive thumbnail mrgn-bttm-sm"/>
					</div>
					<div class="pull-right col-md-6 col-xs-12">
						<p>Brief description of the feature being promoted.</p>
					</div>
				</figure>
			</a>
		</div></div>
</section>

<section class="gc-prtts">
	<h2>Two tiles - Promotional feature</h2>
	<div class="row">
		<div class="col-lg-4 col-md-6 mrgn-bttm-md">
			<a href="#">
				<figure>
					<figcaption>[Feature hyperlink text]</figcaption>
					<img src="./img/360x203.png" alt="" class="img-responsive thumbnail mrgn-bttm-sm"/>
					<p>Brief description of the feature being promoted.</p>
				</figure>
			</a>
		</div>
		<div class="col-lg-4 col-md-6 mrgn-bttm-md">
			<a href="#">
				<figure>
					<figcaption>[Feature hyperlink text]</figcaption>
					<img src="./img/360x203.png" alt="" class="img-responsive thumbnail mrgn-bttm-sm"/>
					<p>Brief description of the feature being promoted.</p>
				</figure>
			</a>
		</div>
	</div>
</section>

<section class="gc-prtts">
	<h3>Three tiles - Promotional feature</h3>
	<div class="row">
		<div class="col-lg-4 col-md-6 mrgn-bttm-md">
			<a href="#">
				<figure>
					<figcaption>[Feature hyperlink text]</figcaption>
					<img src="./img/360x203.png" alt="" class="img-responsive thumbnail mrgn-bttm-sm"/>
					<p>Brief description of the feature being promoted.</p>
				</figure>
			</a>
		</div>
		<div class="col-lg-4 col-md-6 mrgn-bttm-md">
			<a href="#">
				<figure>
					<figcaption>[Feature hyperlink text]</figcaption>
					<img src="./img/360x203.png" alt="" class="img-responsive thumbnail mrgn-bttm-sm"/>
					<p>Brief description of the feature being promoted.</p>
				</figure>
			</a>
		</div>
		<div class="col-lg-4 col-md-6 mrgn-bttm-md">
			<a href="#">
				<figure>
					<figcaption>[Feature hyperlink text]</figcaption>
					<img src="./img/360x203.png" alt="" class="img-responsive thumbnail mrgn-bttm-sm"/>
					<p>Brief description of the feature being promoted.</p>
				</figure>
			</a>
		</div>
	</div>
</section>
