---
{
	"title": "Page de composantes",
	"language":	"fr",
	"altLangPrefix": "components",
	"pageclass": "cnt-wdth-lmtd",
	"breadcrumb": [
		{ "title": "Accueil", "link": "https://www.canada.ca/fr.html" }
	],
	"secondlevel": false,
	"dateModified": "2017-12-05",
	"share": "true"
}
---
<p>Les pages de destination génériques ont plusieurs caractéristiques en commun. Par exemple, elles consistent souvent en de longs documents nécessitant une structure afin qu’ils soient faciles à utiliser et à lire. Dans bien des cas, elles comprennent des images, des graphiques ou des tableaux. Vous trouverez ci-dessous une description des configurations visant à accroître la convivialité et l’uniformité des pages de destination de différents types.</p>
<nav role="navigation" class="gc-toc">
	<h2>Table des matières</h2>
	<ul>
		<li><a href="#telechargement">Lien de téléchargement</a></li>
		<li><a href="#toc">Table des matières à l’intérieur de la page</a></li>
		<li><a href="#min-port">Ministres du portefeuille</a></li>
	</ul>
</nav>
<section>
	<h2 id="telechargement">Lien de téléchargement</h2>
	<p>Les liens de téléchargement servent à renvoyer ou à lier à des fichiers de format autre que HTML sur les pages Web de Canada.ca.</p>
	<div class="row">
		<div class="col-sm-4">
			{{>comp-download}}
		</div>
	</div>
</section>
<section>
	<h2 id="toc">Table des matières à l’intérieur de la page</h2>
	<p>La configuration relative à la table des matières à l’intérieur de la page consiste en une liste de liens dirigeant vers des sous-sections de la même page. Cette configuration est utilisée pour les longs documents présentés sur une seule page.</p>
	<nav role="navigation" class="gc-toc">
		<h3>Sur cette page</h3>
		<ul>
			<li><a href="#section1">Première titre de section</a></li>
			<li><a href="#section2">Deuxième titre de section</a></li>
			<li><a href="#section3">Troisième titre de section</a></li>
		</ul>
	</nav>
	<section>
		<h3 id="section1">[Première titre de section]</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam delectus iusto repellat assumenda nobis, modi accusamus, rerum praesentium ad dignissimos ipsam? Facilis repellat, quibusdam qui? Et dolore ipsa ut repellendus.</p>
	</section>
	<section>
		<h3 id="section2">[Deuxième titre de section]</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam delectus iusto repellat assumenda nobis, modi accusamus, rerum praesentium ad dignissimos ipsam? Facilis repellat, quibusdam qui? Et dolore ipsa ut repellendus.</p>
	</section>
	<section>
		<h3 id="section3">[Troisième titre de section]</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam delectus iusto repellat assumenda nobis, modi accusamus, rerum praesentium ad dignissimos ipsam? Facilis repellat, quibusdam qui? Et dolore ipsa ut repellendus.</p>
	</section>
</section>
<div id="min-port">
{{>minister-port}}
</div>


<section class="gc-prtts">
	<h2>Un item - Promotion en vedette</h2>
		<div class="row"><div class="col-md-8">
			<a href="#">
				<figure class="row">
					<figcaption class="pull-right col-md-6 col-xs-12">[Lien à l’élément en vedette]</figcaption>
					<div class="pull-left col-md-6 col-xs-12">
						<img src="./img/360x203.png" alt="" class="img-responsive thumbnail mrgn-bttm-sm"/>
					</div>
					<div class="pull-right col-md-6 col-xs-12">
						<p>Brève description de l’élément en vedette.</p>
					</div>
				</figure>
			</a>
		</div></div>
</section>

<section class="gc-prtts">
	<h2>Deux items - Promotion en vedette</h2>
	<div class="row">
		<div class="col-lg-4 col-md-6 mrgn-bttm-md">
			<a href="#">
				<figure>
					<figcaption>[Lien à l’élément en vedette]</figcaption>
					<img src="./img/360x203.png" alt="" class="img-responsive thumbnail mrgn-bttm-sm"/>
					<p>Brève description de l’élément en vedette.</p>
				</figure>
			</a>
		</div>
		<div class="col-lg-4 col-md-6 mrgn-bttm-md">
			<a href="#">
				<figure>
					<figcaption>[Lien à l’élément en vedette]</figcaption>
					<img src="./img/360x203.png" alt="" class="img-responsive thumbnail mrgn-bttm-sm"/>
					<p>Brève description de l’élément en vedette.</p>
				</figure>
			</a>
		</div>
	</div>
</section>

<section class="gc-prtts">
	<h2>Trois items - Promotion en vedette</h2>
	<div class="row">
		<div class="col-lg-4 col-md-6 mrgn-bttm-md">
			<a href="#">
				<figure>
					<figcaption>[Lien à l’élément en vedette]</figcaption>
					<img src="./img/360x203.png" alt="" class="img-responsive thumbnail mrgn-bttm-sm"/>
					<p>Brève description de l’élément en vedette.</p>
				</figure>
			</a>
		</div>
		<div class="col-lg-4 col-md-6 mrgn-bttm-md">
			<a href="#">
				<figure>
					<figcaption>[Lien à l’élément en vedette]</figcaption>
					<img src="./img/360x203.png" alt="" class="img-responsive thumbnail mrgn-bttm-sm"/>
					<p>Brève description de l’élément en vedette.</p>
				</figure>
			</a>
		</div>
		<div class="col-lg-4 col-md-6 mrgn-bttm-md">
			<a href="#">
				<figure>
					<figcaption>[Lien à l’élément en vedette]</figcaption>
					<img src="./img/360x203.png" alt="" class="img-responsive thumbnail mrgn-bttm-sm"/>
					<p>Brève description de l’élément en vedette.</p>
				</figure>
			</a>
		</div>
	</div>
</section>
