---
{
	"title": "Content page - Limited width content",
	"language": "en",
	"altLangPrefix": "content-limit",
	"pageclass": "cnt-wdth-lmtd",
	"breadcrumb": [
		{ "title": "Home", "link": "https://www.canada.ca/en.html" }
	],
	"secondlevel": false,
	"dateModified": "2017-09-29",
	"share": "true"
}
---
{{>byline}}

<p>Add the CSS class name <code>.cnt-wdth-lmtd</code> to the <code>&lt;body&gt;</code> of your page.</p>

<p>Different example text. Different example text. Different example text. Different example text. Different example text. Different example text. Different example text. Different example text.</p>

<ul>
	<li>Different example text. Different example text. Different example text. Different example text. Different example text. Different example text. Different example text. Different example text.</li>

	<li>Other example text. Other example text. Other example text. Other example text. Other example text. Other example text. Other example text. Other example text. Other example text. Other example text. Other example text. Other example text.</li>

	<li>Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text.</li>
</ul>

<p>Other example text. Other example text. Other example text. Other example text. Other example text. Other example text. Other example text. Other example text. Other example text. Other example text. Other example text. Other example text.</p>

<h2>Example long title. Example long title. Example long title. Example long title.</h2>

<p>Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text.</p>

<ol>
	<li>Different example text. Different example text. Different example text. Different example text. Different example text. Different example text. Different example text. Different example text.</li>

	<li>
		<p>Other example text. Other example text. Other example text. Other example text. Other example text. Other example text. Other example text. Other example text. Other example text. Other example text. Other example text. Other example text.</p>

		<ul>
			<li>Different example text. Different example text. Different example text. Different example text. Different example text. Different example text. Different example text. Different example text.</li>

			<li>Other example text. Other example text. Other example text. Other example text. Other example text. Other example text. Other example text. Other example text. Other example text. Other example text. Other example text. Other example text.</li>

			<li>Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text.</li>
		</ul>
	</li>

	<li>Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text.</li>
</ol>

<dl>
	<dt>Example of definition</dt>
	<dd>Example of definition description. Example of definition description. Example of definition description. Example of definition description. Example of definition description. Example of definition description.</dd>
	<dt>Example of definition</dt>
	<dd>Example of definition description. Example of definition description. Example of definition description. Example of definition description. Example of definition description. Example of definition description.</dd>
</dl>

<p>Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text.</p>
