---
{
	"title": "Page de contenu - Thème du Web GC",
	"language":	"fr",
	"altLangPrefix": "content",
	"breadcrumb": [
		{ "title": "Accueil", "link": "http://canada.ca/fr/index.html" }
	],
	"secondlevel": false,
	"dateModified": "2014-02-19",
	"share": "true"
}
---
<div class="row">
	<div class="col-md-12">
		<h1 id="wb-cont">{{title}}</h1>
	</div>
</div>
{{>placeholdercontent-fr}}
