---
{
	"title": "Page de contenu - Police de caractère de GCWeb 4.0.29",
	"language":	"fr",
	"altLangPrefix": "content-gcweb-4-0-29-font-style",
	"breadcrumb": [
		{ "title": "Accueil", "link": "https://www.canada.ca/fr.html" }
	],
	"secondlevel": false,
	"dateModified": "2017-09-29",
	"share": "true"
}
---
{{>byline}}

<p>Ceci est un style temporaire afin d'assister l'implémentation du nouveau style pour certaine page d'où leur conception a étroitement optimisé pour un visionnement primaire sur un bureau. Cette fonctionalité sera retiré de GCWeb dans une version future.</p>

<p>Ajouter la classe CSS <code>.force-style-gcweb-4-0-29</code> à l'élément <code>&lt;body&gt;</code> de votre page ou à tout autre récipient dont vous devez utiliser une grosseur de police tel qu'il était définie par la version 4.0.29 de GCWeb.</p>

<p>L'application de cette class CSS va réinitialisé les paramètres suivant pour le texte et les titres:</p>
<ul>
	<li>La grosseur de la police de caractère</li>
	<li>La hauteur de ligne</li>
	<li>La famille de la police de caractère</li>
</ul>

<p>Des instruction additionel sur l'application de ce style temporaire est disonible en anglais ici: <a lang="en" hreflang="en" href="gcweb-theme/#temp-avoid-visual">Temporary avoiding the visual difference</a></p>

<h2>Exemple:</h2>
<pre><code>&lt;div class="force-style-gcweb-4-0-29"&gt;
	...
&lt;/div&gt;</code></pre>
<hr />
<div class="force-style-gcweb-4-0-29">
{{>placeholdercontent}}
</div>
<hr />
