---
{
	"title": "Content page - GCWeb 4.0.29 font style",
	"language": "en",
	"altLangPrefix": "content-gcweb-4-0-29-font-style",
	"breadcrumb": [
		{ "title": "Home", "link": "https://www.canada.ca/en.html" }
	],
	"secondlevel": false,
	"dateModified": "2018-11-29",
	"share": "true"
}
---
{{>byline}}

<p>This is a temporary style to assist implementer with some of their page design where the visual was thighly  optimized for desktop first. The following capability would be remove in a future version of GCWeb.</p>

<p>Add the CSS class name <code>.force-style-gcweb-4-0-29</code> to the <code>&lt;body&gt;</code> of your page or any container that you need to use the font size that was set for GCWeb 4.0.29.</p>

<p>Applying that CSS class would reset for phrasing content and headings the following:</p>
<ul>
	<li>Font size</li>
	<li>Line height</li>
	<li>Font familly</li>
</ul>

<p>More guidance on how to implements this style is available here: <a href="gcweb-theme/#temp-avoid-visual">Temporary avoiding the visual difference</a></p>

<h2>Example:</h2>
<pre><code>&lt;div class="force-style-gcweb-4-0-29"&gt;
	...
&lt;/div&gt;</code></pre>
<hr />
<div class="force-style-gcweb-4-0-29">
{{>placeholdercontent}}
</div>
<hr />
