---
{
	"title": "Page de contenu",
	"language":	"fr",
	"altLangPrefix": "content",
	"breadcrumb": [
		{ "title": "Accueil", "link": "https://www.canada.ca/fr.html" }
	],
	"secondlevel": false,
	"dateModified": "2017-09-29",
	"share": "true"
}
---
{{>byline}}
{{>placeholdercontent}}
<h2>Section avec une largeur de contenu limitée</h2>
<p>Ajouter la classe CSS <code>.cnt-wdth-lmtd</code> à l'élément de section <code>&lt;section class="cnt-wdth-lmtd"&gt;...&lt;section&gt;</code> à l'intérieur du contenu principal de votre page.</p>
<section class="cnt-wdth-lmtd">
	<h3>Exemple de section avec une largeur de contenu limitée</h3>
	<p>Exemple de texte différent. Exemple de texte différent. Exemple de texte différent. Exemple de texte différent. Exemple de texte différent. Exemple de texte différent. Exemple de texte différent. Exemple de texte différent.</p>
</section>
