---
{
	"title": "Content page",
	"language": "en",
	"altLangPrefix": "content",
	"breadcrumb": [
		{ "title": "Home", "link": "http://canada.ca/en/index.html" }
	],
	"secondlevel": false,
	"dateModified": "2014-02-19",
	"share": "true"
}
---
<div class="row">
	<div class="col-md-12">
		<h1 id="wb-cont">{{title}}</h1>
	</div>
</div>
{{>placeholdercontent-en}}
