---
{
	"title": "Deprecated markup",
	"language": "en",
	"altLangPrefix": "deprecated",
	"breadcrumb": [
		{ "title": "Home", "link": "https://www.canada.ca/en.html" }
	],
	"secondlevel": false,
	"dateModified": "2018-03-02",
	"share": "true"
}
---
<p>This is a reference documents and also it's to test old practice in order to ensure they remain compatible with the latest changes applied at this theme.</p>

<section class="gc-prtts">
	<h2>Features (until v4.0.27)</h2>
	<div class="row">
		<section class="col-lg-4 col-md-6 mrgn-bttm-md">
			<a href="#">
				<h3 class="h5">[Feature hyperlink text]</h3>
				<img src="./img/360x203.png" alt="" class="img-responsive thumbnail mrgn-bttm-sm">
			</a>
			<p>Brief description of the feature being promoted.</p>
		</section>
		<section class="col-lg-4 col-md-6 mrgn-bttm-md">
			<a href="#">
				<h3 class="h5">[Feature hyperlink text]</h3>
				<img src="./img/360x203.png" alt="" class="img-responsive thumbnail mrgn-bttm-sm">
			</a>
			<p>Brief description of the feature being promoted.</p>
		</section>
		<section class="col-lg-4 col-md-6 mrgn-bttm-md">
			<a href="#">
				<h3 class="h5">[Feature hyperlink text]</h3>
				<img src="./img/360x203.png" alt="" class="img-responsive thumbnail mrgn-bttm-sm">
			</a>
			<p>Brief description of the feature being promoted.</p>
		</section>
	</div>
</section>

<h2>SVG loaded from <code>&lt;object&gt;</code> element</h2>

<p><a href="https://github.com/wet-boew/GCWeb/pull/1329">See PR #1329</a></p>