---
{
	"title": "Balisage déconseillé",
	"language": "fr",
	"altLangPrefix": "deprecated",
	"breadcrumb": [
		{ "title": "Home", "link": "https://www.canada.ca/fr.html" }
	],
	"secondlevel": false,
	"dateModified": "2018-03-02",
	"share": "true"
}
---
<p>Ce document est à titre de référence et afin de mettre à l'essaie d'ancienne pratique pour s'assurer qu'ils sont compatible avec les derniers changements apporté au thème.</p>

<section class="gc-prtts">
	<h2>En vedette (jusqu'à la v4.0.27)</h2>
	<div class="row">
		<section class="col-lg-4 col-md-6 mrgn-bttm-md">
			<a href="#">
				<h3 class="h5">[Lien à l’élément en vedette]</h3>
				<img src="./img/360x203.png" alt="" class="img-responsive thumbnail mrgn-bttm-sm">
			</a>
			<p>Brève description de l’élément en vedette.</p>
		</section>
		<section class="col-lg-4 col-md-6 mrgn-bttm-md">
			<a href="#">
				<h3 class="h5">[Lien à l’élément en vedette]</h3>
				<img src="./img/360x203.png" alt="" class="img-responsive thumbnail mrgn-bttm-sm">
			</a>
			<p>Brève description de l’élément en vedette.</p>
		</section>
		<section class="col-lg-4 col-md-6 mrgn-bttm-md">
			<a href="#">
				<h3 class="h5">[Lien à l’élément en vedette]</h3>
				<img src="./img/360x203.png" alt="" class="img-responsive thumbnail mrgn-bttm-sm">
			</a>
			<p>Brève description de l’élément en vedette.</p>
		</section>
	</div>
</section>

<h2>Chargement des images SVG avec un élément <code>&lt;object&gt;</code></h2>

<p><a href="https://github.com/wet-boew/GCWeb/pull/1329">Voir PR #1329</a></p>