---
{
	"title": "Deprecated markup",
	"language": "en",
	"altLangPrefix": "deprecated",
	"breadcrumb": [
		{ "title": "Home", "link": "https://www.canada.ca/en.html" }
	],
	"secondlevel": false,
	"dateModified": "2018-03-21",
	"share": "true"
}
---
<p>This is a reference documents and also it's to test old practice in order to ensure they remain compatible with the latest changes applied at this theme.</p>

<h2>Report a problem - Markup change - v4.0.28</h2>
<div class="row">
	<div class="col-sm-6 col-md-5 col-lg-4">
		<a href="https://www.canada.ca/en/report-problem.html" class="btn btn-default btn-block">Report a problem on this page</a>
	</div>
</div>

<h2>Arm's length branding - Markup change - v4.0.28</h2>
<aside class="gc-nttvs container">
	<div class="row mrgn-tp-lg">
		<div class="col-sm-4 col-xs-10 col-sm-push-8 mrgn-bttm-lg">
			<img class="img-responsive" alt="Department name" src="{{assets}}/../{{site.theme}}/assets/sig-blk-en.png">
		</div>
		<div class="col-sm-8 col-sm-pull-4">
			<p>We are a federal institution that is part of the [portfolio name] portfolio. We operate at arm’s length from the Government of Canada.</p>
		</div>
	</div>
</aside>

<h2>GC activities and initiatives - Removal - v4.0.28</h2>
<aside class="gc-nttvs container">
	<h2>Government of Canada activities and initiatives</h2>
	<div id="gcwb_prts" class="wb-eqht row">
		<section class="col-lg-4 col-md-6 mrgn-bttm-md">
			<a rel="external" href="#">
				<h3 class="h5">[Activities and initiatives hyperlink text]</h3>
				<img class="img-responsive thumbnail mrgn-bttm-sm" src="./img/features/355x113.png" alt="">
			</a>
			<p>Brief description of the initiative, task or information being promoted.</p>
		</section>
		<section class="col-lg-4 col-md-6 mrgn-bttm-md">
			<a rel="external" href="#">
				<h3 class="h5">[Activities and initiatives hyperlink text]</h3>
				<img class="img-responsive thumbnail mrgn-bttm-sm" src="./img/features/355x113.png" alt="">
			</a>
			<p>Brief description of the initiative, task or information being promoted.</p>
		</section>
		<section class="col-lg-4 col-md-6 mrgn-bttm-md">
			<a rel="external" href="#">
				<h3 class="h5">[Activities and initiatives hyperlink text]</h3>
				<img class="img-responsive thumbnail mrgn-bttm-sm" src="./img/features/355x113.png" alt="">
			</a>
			<p>Brief description of the initiative, task or information being promoted.</p>
		</section>
	</div>
</aside>

<h2>Feature - Markup change - v4.0.28</h2>
<section class="gc-prtts">
	<h2>Features</h2>
	<div class="row">
		<section class="col-lg-4 col-md-6 mrgn-bttm-md">
			<a href="#">
				<h3 class="h5">[Feature hyperlink text]</h3>
				<img src="./img/360x203.png" alt="" class="img-responsive thumbnail mrgn-bttm-sm">
			</a>
			<p>Brief description of the feature being promoted.</p>
		</section>
		<section class="col-lg-4 col-md-6 mrgn-bttm-md">
			<a href="#">
				<h3 class="h5">[Feature hyperlink text]</h3>
				<img src="./img/360x203.png" alt="" class="img-responsive thumbnail mrgn-bttm-sm">
			</a>
			<p>Brief description of the feature being promoted.</p>
		</section>
		<section class="col-lg-4 col-md-6 mrgn-bttm-md">
			<a href="#">
				<h3 class="h5">[Feature hyperlink text]</h3>
				<img src="./img/360x203.png" alt="" class="img-responsive thumbnail mrgn-bttm-sm">
			</a>
			<p>Brief description of the feature being promoted.</p>
		</section>
	</div>
</section>

<h2>SVG loaded from <code>&lt;object&gt;</code> element</h2>

<p><a href="https://github.com/wet-boew/GCWeb/pull/1329">See PR #1329</a></p>
