---
{
	"title": "Balisage déconseillé",
	"language": "fr",
	"altLangPrefix": "deprecated",
	"breadcrumb": [
		{ "title": "Home", "link": "https://www.canada.ca/fr.html" }
	],
	"secondlevel": false,
	"dateModified": "2018-03-21",
	"share": "true"
}
---
<p>Ce document est à titre de référence et afin de mettre à l'essaie d'ancienne pratique pour s'assurer qu'ils sont compatible avec les derniers changements apporté au thème.</p>

<h2>Signaler un problème - Chargment de balisage - v4.0.28</h2>
<div class="row">
	<div class="col-sm-6 col-md-5 col-lg-4">
		<a href="https://www.canada.ca/fr/signaler-probleme.html" class="btn btn-default btn-block">Signaler un problème sur cette page</a>
	</div>
</div>

<h2>Image de marque de l'organisme indépendant - Chargment de balisage - v4.0.28</h2>
<aside class="gc-nttvs container">
	<div class="row mrgn-tp-lg">
		<div class="col-sm-4 col-xs-10 col-sm-push-8 mrgn-bttm-lg">
			<img class="img-responsive" alt="Nom du département" src="{{assets}}/../{{site.theme}}/assets/sig-blk-fr.png">
		</div>
		<div class="col-sm-8 col-sm-pull-4">
			<p>Nous sommes une institution fédérale qui fait partie du portefeuille de [nom du portefeuille]. Nous fonctionnons sans lien de dépendance avec le gouvernement du Canada.</p>
		</div>
	</div>
</aside>

<h2>GC activities and initiatives - Suppression - v4.0.28</h2>
<aside class="gc-nttvs container">
	<h2>Activités et initiatives du gouvernement du Canada</h2>
	<div id="gcwb_prts" class="wb-eqht row">
		<section class="col-lg-4 col-md-6 mrgn-bttm-md">
			<a rel="external" href="#">
				<h3 class="h5">[Texte de l’hyperlien d’activités et initiatives]</h3>
				<img class="img-responsive thumbnail mrgn-bttm-sm" src="./img/features/355x113.png" alt="">
			</a>
			<p>Brève description de l’initiative, la tâche ou des renseignements en promotion.</p>
		</section>
		<section class="col-lg-4 col-md-6 mrgn-bttm-md">
			<a rel="external" href="#">
				<h3 class="h5">[Texte de l’hyperlien d’activités et initiatives]</h3>
				<img class="img-responsive thumbnail mrgn-bttm-sm" src="./img/features/355x113.png" alt="">
			</a>
			<p>Brève description de l’initiative, la tâche ou des renseignements en promotion.</p>
		</section>
		<section class="col-lg-4 col-md-6 mrgn-bttm-md">
			<a rel="external" href="#">
				<h3 class="h5">[Texte de l’hyperlien d’activités et initiatives]</h3>
				<img class="img-responsive thumbnail mrgn-bttm-sm" src="./img/features/355x113.png" alt="">
			</a>
			<p>Brève description de l’initiative, la tâche ou des renseignements en promotion.</p>
		</section>
	</div>
</aside>

<h2>Feature - Chargment de balisage - v4.0.28</h2>
<section class="gc-prtts">
	<h2>En vedette</h2>
	<div class="row">
		<section class="col-lg-4 col-md-6 mrgn-bttm-md">
			<a href="#">
				<h3 class="h5">[Lien à l’élément en vedette]</h3>
				<img src="./img/360x203.png" alt="" class="img-responsive thumbnail mrgn-bttm-sm">
			</a>
			<p>Brève description de l’élément en vedette.</p>
		</section>
		<section class="col-lg-4 col-md-6 mrgn-bttm-md">
			<a href="#">
				<h3 class="h5">[Lien à l’élément en vedette]</h3>
				<img src="./img/360x203.png" alt="" class="img-responsive thumbnail mrgn-bttm-sm">
			</a>
			<p>Brève description de l’élément en vedette.</p>
		</section>
		<section class="col-lg-4 col-md-6 mrgn-bttm-md">
			<a href="#">
				<h3 class="h5">[Lien à l’élément en vedette]</h3>
				<img src="./img/360x203.png" alt="" class="img-responsive thumbnail mrgn-bttm-sm">
			</a>
			<p>Brève description de l’élément en vedette.</p>
		</section>
	</div>
</section>

<h2>Chargement des images SVG avec un élément <code>&lt;object&gt;</code></h2>

<p><a href="https://github.com/wet-boew/GCWeb/pull/1329">Voir PR #1329</a></p>
