---
{
	"title": "Departments & agencies",
	"language": "en",
	"altLangPrefix": "dept",
	"breadcrumb": [
		{ "title": "Home", "link": "http://www.canada.ca/en/index.html" }
	],
	"dateModified": "2014-10-23",
	"share": "true"
}
---
<p class="pagetag">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure amet, laboriosam a iusto repellat ea, quia quis, laborum quo pariatur repudiandae rem voluptates, fugiat. Laboriosam impedit repellendus nobis vel, architecto eius. Placeat, veniam quidem.</p>
<div class="row">
	<div class="col-md-12">
		<form class="form-horizontal" role="form" method="get" action="#">
		<div class="form-group">
			<div class="col-lg-3">
				<label for="deptSearch" class="control-label mrgn-rght-lg">What are you looking for?</label>
			</div>
			<div class="col-lg-9 input-group">
				<input type="text" class="form-control" size="10" id="deptSearch" placeholder="Department or agancy" />
				<span class="input-group-btn">
		            <button type="submit" id="search-submit" class="btn btn-primary" name="search-submit"><span class="glyphicon-search glyphicon"></span><span class="wb-inv">Search News</span></button>
		        </span>
			</div>
		</div>
		</form>
	</div>
</div>
<hr />
<ul class="list-unstyled lst-spcd">
	<li><a class="h3" href="#">Department name</a><br />
		<span class="badge badge-dept">8</span>Also works with...
		<ul class="mrgn-bttm-lg mrgn-lft-lg">
			<li><a href="#">Institution name</a></li>
			<li><a href="#">Institution name</a></li>
			<li><a href="#">Institution name</a></li>
			<li><a href="#">Institution name</a></li>
			<li><a href="#">Institution name</a></li>
			<li><a href="#">Institution name</a></li>
			<li><a href="#">Institution name</a></li>
			<li><a href="#">Institution name</a></li>
		</ul>
	</li>
	<li><a class="h3" href="#">Department name</a><br />
		<span class="badge badge-dept">6</span> Also works with...
		<ul class="mrgn-bttm-lg mrgn-lft-lg">
			<li><a href="#">Institution name</a></li>
			<li><a href="#">Institution name</a></li>
			<li><a href="#">Institution name</a></li>
			<li><a href="#">Institution name</a></li>
			<li><a href="#">Institution name</a></li>
			<li><a href="#">Institution name</a></li>
		</ul>
	</li>
	<li><a class="h3" href="#">Department name</a><br />
		<span class="badge badge-dept">16</span>Also works with...
		<ul class="mrgn-bttm-lg mrgn-lft-lg">
			<li><a href="#">Institution name</a></li>
			<li><a href="#">Institution name</a></li>
			<li><a href="#">Institution name</a></li>
			<li><a href="#">Institution name</a></li>
			<li><a href="#">Institution name</a></li>
			<li><a href="#">Institution name</a></li>
			<li><a href="#">Institution name</a></li>
			<li><a href="#">Institution name</a></li>
			<li><a href="#">Institution name</a></li>
			<li><a href="#">Institution name</a></li>
			<li><a href="#">Institution name</a></li>
			<li><a href="#">Institution name</a></li>
			<li><a href="#">Institution name</a></li>
			<li><a href="#">Institution name</a></li>
			<li><a href="#">Institution name</a></li>
			<li><a href="#">Institution name</a></li>
		</ul>
	</li>
</ul>
