---
{
	"title": "Departments and agencies",
	"language": "en",
	"altLangPrefix": "dept",
	"breadcrumb": [
		{ "title": "Home", "link": "https://www.canada.ca/en.html" }
	],
	"dateModified": "2018-07-12",
	"share": "true"
}
---
<div class="row profile">
	<div class="col-xs-12">
		<p>Enter a department name or abbreviation to find current Government of Canada departments, agencies, crown corporations and special operating agencies.</p>
	</div>
</div>
<table class="wb-tables table" data-wb-tables="{ &quot;paging&quot;: false }">
	<thead>
		<tr>
			<th>Departments and agencies</th>
			<th><abbr title="Abbreviation">Abbr.</abbr></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a href="#">Institution name</a></td>
			<td>Abbreviation</td>
		</tr>
		<tr>
			<td><a href="#">Institution name</a></td>
			<td>Abbreviation</td>
		</tr>
		<tr>
			<td><a href="#">Institution name</a></td>
			<td>Abbreviation</td>
		</tr>
		<tr>
			<td><a href="#">Institution name</a></td>
			<td>Abbreviation</td>
		</tr>
	</tbody>
</table>
