---
{
	"title": "Ministères et organismes",
	"language": "fr",
	"altLangPrefix": "dept",
	"breadcrumb": [
		{ "title": "Accueil", "link": "https://www.canada.ca/fr.html" }
	],
	"dateModified": "2014-10-23",
	"share": "true"
}
---
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure amet, laboriosam a iusto repellat ea, quia quis, laborum quo pariatur repudiandae rem voluptates, fugiat. Laboriosam impedit repellendus nobis vel, architecto eius. Placeat, veniam quidem.</p>
<div class="row">
	<div class="col-md-12">
		<form class="form-horizontal" role="form" method="get" action="#">
		<div class="form-group">
			<div class="col-lg-3">
				<label for="deptSearch" class="control-label mrgn-rght-lg">Que cherchez-vous?</label>
			</div>
			<div class="col-lg-9 input-group">
				<input type="text" class="form-control" size="10" id="deptSearch" placeholder="Ministère ou organisme" />
				<span class="input-group-btn">
		            <button type="submit" id="search-submit" class="btn btn-primary" name="search-submit"><span class="glyphicon-search glyphicon"></span><span class="wb-inv">Rechercher ministères et organismes</span></button>
		        </span>
			</div>
		</div>
		</form>
	</div>
</div>
<hr />
<ul class="list-unstyled lst-spcd">
	<li><a class="h3" href="#">Now du Ministère</a><br />
		<span class="badge badge-dept">8</span> Fonctionne aussi avec…
		<ul class="mrgn-bttm-lg mrgn-lft-lg">
			<li><a href="#">Nom de l’institution</a></li>
			<li><a href="#">Nom de l’institution</a></li>
			<li><a href="#">Nom de l’institution</a></li>
			<li><a href="#">Nom de l’institution</a></li>
			<li><a href="#">Nom de l’institution</a></li>
			<li><a href="#">Nom de l’institution</a></li>
			<li><a href="#">Nom de l’institution</a></li>
			<li><a href="#">Nom de l’institution</a></li>
		</ul>
	</li>
	<li><a class="h3" href="#">Now du Ministère</a><br />
		<span class="badge badge-dept">6</span> Fonctionne aussi avec…
		<ul class="mrgn-bttm-lg mrgn-lft-lg">
			<li><a href="#">Nom de l’institution</a></li>
			<li><a href="#">Nom de l’institution</a></li>
			<li><a href="#">Nom de l’institution</a></li>
			<li><a href="#">Nom de l’institution</a></li>
			<li><a href="#">Nom de l’institution</a></li>
			<li><a href="#">Nom de l’institution</a></li>
		</ul>
	</li>
	<li><a class="h3" href="#">Now du Ministère</a><br />
		<span class="badge badge-dept">16</span> Fonctionne aussi avec…
		<ul class="mrgn-bttm-lg mrgn-lft-lg">
			<li><a href="#">Nom de l’institution</a></li>
			<li><a href="#">Nom de l’institution</a></li>
			<li><a href="#">Nom de l’institution</a></li>
			<li><a href="#">Nom de l’institution</a></li>
			<li><a href="#">Nom de l’institution</a></li>
			<li><a href="#">Nom de l’institution</a></li>
			<li><a href="#">Nom de l’institution</a></li>
			<li><a href="#">Nom de l’institution</a></li>
			<li><a href="#">Nom de l’institution</a></li>
			<li><a href="#">Nom de l’institution</a></li>
			<li><a href="#">Nom de l’institution</a></li>
			<li><a href="#">Nom de l’institution</a></li>
			<li><a href="#">Nom de l’institution</a></li>
			<li><a href="#">Nom de l’institution</a></li>
			<li><a href="#">Nom de l’institution</a></li>
			<li><a href="#">Nom de l’institution</a></li>
		</ul>
	</li>
</ul>