---
{
	"title": "Departments & agencies",
	"language": "en",
	"altLangPrefix": "dept",
	"breadcrumb": [
		{ "title": "Home", "link": "http://www.canada.ca/en/index.html" }
	],
	"dateModified": "2014-10-23",
	"share": "true"
}
---
<p class="pagetag">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure amet, laboriosam a iusto repellat ea, quia quis, laborum quo pariatur repudiandae rem voluptates, fugiat. Laboriosam impedit repellendus nobis vel, architecto eius. Placeat, veniam quidem.</p>
<form class="form-horizontal" role="form" method="get" action="#">
	<div class="form-group">
		<label for="deptSearch" class="col-sm-3 control-label">What are you looking for?</label>
		<div class="col-sm-9">
			<input type="text" class="form-control" id="deptSearch" placeholder="Department or agancy" />
		</div>
	</div>
</form>
<ul class="list-unstyled lst-spcd">
	<li><a class="h3" href="#">Department name</a><br />
		<span class="badge badge-dept">8</span>Also works with...
		<ul class="mrgn-bttm-lg mrgn-lft-lg">
			<li><a href="#">Institution name</a></li>
			<li><a href="#">Institution name</a></li>
			<li><a href="#">Institution name</a></li>
			<li><a href="#">Institution name</a></li>
			<li><a href="#">Institution name</a></li>
			<li><a href="#">Institution name</a></li>
			<li><a href="#">Institution name</a></li>
			<li><a href="#">Institution name</a></li>
		</ul>
	</li>
	<li><a class="h3" href="#">Department name</a><br />
		<span class="badge badge-dept">6</span> Also works with...
		<ul class="mrgn-bttm-lg mrgn-lft-lg">
			<li><a href="#">Institution name</a></li>
			<li><a href="#">Institution name</a></li>
			<li><a href="#">Institution name</a></li>
			<li><a href="#">Institution name</a></li>
			<li><a href="#">Institution name</a></li>
			<li><a href="#">Institution name</a></li>
		</ul>
	</li>
	<li><a class="h3" href="#">Department name</a><br />
		<span class="badge badge-dept">16</span>Also works with...
		<ul class="mrgn-bttm-lg mrgn-lft-lg">
			<li><a href="#">Institution name</a></li>
			<li><a href="#">Institution name</a></li>
			<li><a href="#">Institution name</a></li>
			<li><a href="#">Institution name</a></li>
			<li><a href="#">Institution name</a></li>
			<li><a href="#">Institution name</a></li>
			<li><a href="#">Institution name</a></li>
			<li><a href="#">Institution name</a></li>
			<li><a href="#">Institution name</a></li>
			<li><a href="#">Institution name</a></li>
			<li><a href="#">Institution name</a></li>
			<li><a href="#">Institution name</a></li>
			<li><a href="#">Institution name</a></li>
			<li><a href="#">Institution name</a></li>
			<li><a href="#">Institution name</a></li>
			<li><a href="#">Institution name</a></li>
		</ul>
	</li>
</ul>
