---
{
	"title": "Ministères et organismes",
	"language": "fr",
	"altLangPrefix": "dept",
	"breadcrumb": [
		{ "title": "Accueil", "link": "https://www.canada.ca/fr.html" }
	],
	"dateModified": "2018-07-12",
	"share": "true"
}
---
<div class="row profile">
	<div class="col-xs-12">
		<p>Taper le nom ou l’abréviation d’un ministère pour trouver les ministères, les organismes gouvernementaux et de service spécial et les sociétés d'État actuels du gouvernement du Canada.</p>
	</div>
</div>
<table class="wb-tables table" data-wb-tables="{ &quot;paging&quot;: false }">
	<thead>
		<tr>
			<th>Ministères et organismes</th>
			<th><abbr title="Abréviation">Abrév.</abbr></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a href="#">Nom de l’institution</a></td>
			<td>abréviation</td>
		</tr>
		<tr>
			<td><a href="#">Nom de l’institution</a></td>
			<td>abréviation</td>
		</tr>
		<tr>
			<td><a href="#">Nom de l’institution</a></td>
			<td>abréviation</td>
		</tr>
		<tr>
			<td><a href="#">Nom de l’institution</a></td>
			<td>abréviation</td>
		</tr>
	</tbody>
</table>
