---
{
"title": "Details Summary - GC Web",
"language": "en",
"isEnglish": true,
"secondlevel": false,
"alternate": "details-summary-fr.html",
"alternatetog": "Français",
"altlang": "fr",
"pageclass": "",
"breadcrumb": [
{ "title": "Home", "link": true }
]
}
---

<div class="row">
<div class="col-md-10 col-md-push-2">
     <h1 id="wb-cont">Albania</h1>
     <dl class="dl-horizontal">
         <dt>Last Updated Date:</dt>
         <dd><time>June 27, 2013 10:18</time></dd>
         <dt>Still Valid Date:</dt>
         <dd><time>June 27, 2013 10:18 ET</time></dd>
         <dt>Latest Updates:</dt>
         <dd>An editorial change was made.</dd>
     </dl>

    <div class="dshbrd" id="alrtwrngs">
        <ul class="cntrls visible-md visible-lg list-inline">
            <li><a class="wb-toggle active" data-toggle='{"selector": "#pane1", "group": "optn", "parent": "#alrtwrngs"}' href="#pane1">Advisories</a></li>
            <li><a class="wb-toggle" data-toggle='{"selector": "#pane2" , "group": "optn", "parent": "#alrtwrngs"}' href="#pane2">Security</a></li>
            <li><a class="wb-toggle" data-toggle='{"selector": "#pane3" , "group": "optn", "parent": "#alrtwrngs"}' href="#pane3">Entry/Exit Requirements</a></li>
            <li><a class="wb-toggle" data-toggle='{"selector": "#pane4" , "group": "optn", "parent": "#alrtwrngs"}' href="#pane4">Health</a></li>
            <li><a class="wb-toggle" data-toggle='{"selector": "#pane5" , "group": "optn", "parent": "#alrtwrngs"}' href="#pane5">Laws &amp; Culture</a></li>
            <li><a class="wb-toggle" data-toggle='{"selector": "#pane6" , "group": "optn", "parent": "#alrtwrngs"}' href="#pane5">Natural Disasters &amp; Climate</a></li>
        </ul>

            <!--
                Advisories
              -->
            <details open id="pane1" class="optn">
                <summary>Advisories</summary>
                <div class="cntnt">
                    <h2>Advisories</h2>
                    <p>Albania - Exercise normal security precautions</p>
                    <p>There is no nationwide advisory in effect for Albania. Exercise normal security precautions.</p>
                    <h3>Regional Advisory for the northeastern border with Kosovo</h3>
                    <p>Foreign Affairs, Trade and Development Canada&nbsp;advises against non-essential travel to the northeastern
                        border area with Kosovo due to the presence of unexploded landmines and ordnance. Consult the Security tab
                        for more information.</p>
                    <h3>Regional Advisory for the district of Tropoj&euml; and the city of Bajram Curri</h3>
                    <p>Foreign Affairs, Trade and Development Canada&nbsp;advises against non-essential travel to the district of
                        Tropoj&euml; and the city of Bajram Curri due to limited police assistance and protection. Consult the
                        Security tab for more information.</p>

                </div>
            </details>
            <!--
                Security
              -->
            <details id="pane2" class="optn">
                <summary>Security</summary>
                <div class="cntnt">
                    <h2>Security</h2>
                    <p>The decision to travel is your responsibility. You are also responsible for your personal safety abroad. The Government of Canada takes the safety and security of Canadians abroad very seriously and provides credible and timely information in its Travel Advice. In the event of a crisis situation that requires evacuation, the Government of Canada&rsquo;s policy is to provide safe transportation to the closest safe location. The Government of Canada will assist you in leaving a country or a region as a last resort, when all means of commercial or personal transportation have been exhausted. This service is provided on a cost-recovery basis. Onward travel is at your personal expense. Situations vary from one location to another, and there may be constraints on government resources that will limit the ability of the Government of Canada to provide assistance, particularly in countries or regions where the potential for violent conflict or political instability is high.</p>
                    <h3>Northeastern border with Kosovo (see Advisory)</h3>
                    <p>When visiting hill towns in this region, you should exercise caution and heed warning signs about unexploded landmines and ordnance from the Kosovo war of 1999. Demining operations are ongoing. This is especially important to note if you are hiking in that area.</p>
                    <h3>District of Tropoj&euml; and the city of Bajram Curri (see Advisory)</h3>
                    <p>Police assistance and protection is limited in the district of Tropoj&euml; and the city of Bajram Curri. A combination of poverty and poor law enforcement can be a problem in the city of Kuk&euml;s.</p>
                    <h3>Crime</h3>
                    <p>Public security is usually good, particularly in Tirana. Petty crime (pickpocketing, mugging and bag snatching) occurs, particularly on public transportation.</p>
                    <p>Women in particular should exercise caution when travelling alone. Avoid secluded areas, parks, bars and restaurants in remote areas, especially after dark. Consult our publication entitled <a href="http://www.voyage.gc.ca/publications/woman-guide_voyager-feminin-eng.asp">Her Own Way: A Woman&rsquo;s Safe-Travel Guide</a> for travel safety information specifically aimed at Canadian women.</p>
                    <p>Exercise caution in the northern districts of Has, Kuk&euml;s and Tropoj&euml;. Criminal gangs operate along roads in remote areas, especially in the north and areas bordering Montenegro, Kosovo and Macedonia. Use caution in areas bordering Macedonia, as security is very poor.</p>
                    <p>Economic hardship and easy availability of firearms increase the risk of violent incidents, carjackings and acts of looting. However, these do not typically affect tourists.</p>
                    <h3>Demonstrations</h3>
                    <p>Demonstrations occur in many Albanian centres and have the potential to suddenly turn violent. Avoid all demonstrations and large gatherings, follow the advice of local authorities and monitor local media.</p>
                    <h3>Road travel</h3>
                    <p>Travel by road can be hazardous and difficult. Road signage and safety are poor. The presence of erratic and aggressive drivers also poses risks. Major roads are passable, but secondary roads are often poorly maintained. Use a four-wheel-drive vehicle, even in urban centres. In winter, you may encounter dangerous snow and ice conditions on the mountainous roads which are badly maintained in northern and southeastern Albania.</p>
                    <p>If possible, use local drivers, taxis or public transport. Approved, privately owned vehicles, with drivers, can be hired for travel throughout the country. Pre-negotiate fares and schedules.</p>
                    <p>Use only yellow taxis normally parked at street corners in specific areas. Taxi service can be paid only in cash.</p>
                    <p>Car rental companies are available in main cities and offer a variety of services and vehicles.</p>
                    <p>Travel outside the capital should be carefully planned and undertaken with the assistance of a reputable guide/interpreter or driver.</p>
                    <h3>Public transportation</h3>
                    <p>Buses and minibuses operate between most major cities, but are unreliable and uncomfortable.</p>
                    <p>Consult our <a href="http://travel.gc.ca/travelling/health-safety/transportation">Transportation Safety page</a> in order to verify if national airlines meet safety standards.</p>
                    <h3>General safety information</h3>
                    <p>The announcement of the results of the June 23 parliamentary elections have been postponed. Avoid all demonstrations and large gatherings, follow the advice of local authorities and monitor local media.</p>
                    <p>Exercise normal safety precautions. Ensure that your personal belongings, passports and other travel documents are secure at all times. Avoid showing signs of affluence and carrying large sums of cash.</p>
                    <p>Power cuts occur frequently throughout Albania, in remote areas as well as in main cities. For your safety, always carry a flashlight while walking on the streets. You should make arrangements for your well-being during outages and verify the schedule of power cuts with local authorities.</p>
                    <p>Tourist facilities are not well developed, and many goods and services are not available.</p>
                    <h3>Emergency services</h3>
                    <p>Dial 129 for police in Tirana. Police assistance and emergency services are not consistent with Canadian standards.</p>
               </div>
            </details>
            <!--
                Entry/Exit Requirements
              -->
            <details id="pane3" class="optn">
                <summary>Entry/Exit Requirements</summary>
                <div class="cntnt">
                    <h2>Entry/Exit Requirements</h2>
                    <p>It is the sole prerogative of each country or region to determine who is allowed to enter. Canadian consular officials cannot intervene on your behalf if you do not meet entry requirements. The following information on entry and exit requirements has been obtained from the Albanian authorities. However, these requirements are subject to change at any time. It is your responsibility to check with the <a href="http://w03.international.gc.ca/Protocol-Protocole/">Albanian Embassy</a> or one of its <a href="http://w03.international.gc.ca/Protocol-Protocole/">consulates</a> for up-to-date information.</p>
                    <p>Official (special and diplomatic) passport holders&nbsp;must consult the <a href="http://www.pptc.gc.ca/vo-ot/index.aspx?lang=eng">Official Travel page</a>, as they may be subject to different entry requirements.</p>
                    <h3>Passport</h3>
                    <p>Canadians must present a <a href="http://www.pptc.gc.ca/">passport</a> to visit Albania, which must be valid for at least three months beyond the date of expected departure from that country. Before you leave, ask your transportation company about its requirements related to passport validity, which may be more stringent than the country's entry rules.</p>
                    <h3>Dual citizenship</h3>
                    <p>The Albanian government considers any person born in Albania of Albanian parents to be an Albanian citizen. This policy may limit the ability of Canadian officials to provide consular services. You should travel using your Canadian passport and present yourself as Canadian to foreign authorities at all times. Consult our publication entitled <a href="http://www.voyage.gc.ca/publications/dual-citizenship_double-citoyennete-eng.asp">Dual Citizenship: What You Need to Know</a> for more information.</p>
                    <h3>Visa</h3>
                    <p>Tourist visa: Not required for stays up to 90 days per six-month period</p>
                    <p>Business visa: Not required for stays up to 90 days per six-month period</p>
                    <p>Student visa: Not required for stays up to 90 days per six-month period</p>
                    <p>If you wish to stay or work in Albania for more than 90 days, you must apply for a resident permit (<em>Leje Qendrimi</em>), and a work permit (<em>Leje Pune</em>) if applicable. For further details, please contact the Consulate of Canada in Tirana.&nbsp;</p>
                    <p><h3>Children and travel</h3>
                    <p>Children need special documentation to visit certain countries. Please consult our <a href="http://travel.gc.ca/travelling/children">Children</a> page for more information.</p>
                    <p><h3>Yellow fever</h3>
                    <p>Some countries require proof of yellow fever vaccination before allowing entry. Consult the <a href="http://www.who.int/ith/chapters/ith2012en_countrylist.pdf">World Health Organization&rsquo;s country list</a> to obtain information on this country&rsquo;s requirements.</p>
                </div>
            </details>
            <!--
                Health
              -->
            <details id="pane4" class="optn">
                <summary>Health</summary>
                <div class="cntnt">
                    <h2>Health</h2>
                    <p>For the latest <a href="http://www.phac-aspc.gc.ca/tmp-pmv/notices-avis/index-eng.php">Travel Health Notices</a> and information on vaccinations, outbreaks and diseases, consult the website of the <a href="http://www.phac-aspc.gc.ca/index-eng.php">Public Health Agency of Canada</a>.</p>
                    <p>The Agency&nbsp;strongly recommends that you consult with a <a href="http://www.phac-aspc.gc.ca/tmp-pmv/yf-fj/index-eng.php">travel medicine clinic</a> or health care provider preferably six weeks before departure.</p>
                    <p>The Agency publishes <a href="http://www.phac-aspc.gc.ca/tmp-pmv/countries-pays/country-pays-eng.php?id=263">travel health advice for Albania</a>.</p>
                    <h3>Medical facilities</h3>
                    <p>It is best to avoid government hospitals as they often lack basic drugs and equipment, and have poor hygiene standards. Bring your own medical supplies, including a first aid kit and prescription medicine. Dental facilities are available, but standards of dental care may differ from those in Canada. Contact the Consulate of Canada in Tirana to obtain a list of good-quality medical and dental clinics.</p>
                    <p>Evacuation, which is very expensive, may be necessary in the event of serious illness or injury.</p>
                </div>
            </details>
            <!--
               Laws and Culture
             -->
            <details id="pane5" class="optn">
                <summary>Laws &amp; Culture</summary>
                <div class="cntnt">
                    <h2>Laws &amp; Culture</h2>
                    <p>You are subject to local laws. Consult our <a href="http://www.voyage.gc.ca/faq/arrest_arrestation-eng.asp">Arrest and Detention FAQ</a> for more information.</p>
                    <p>Canada and Albania are signatories to the European Convention on the Transfer of Sentenced Persons. This enables a Canadian imprisoned in Albania to request a transfer to a Canadian prison to complete a final sentence. The transfer requires the agreement of both Canadian and Albanian authorities.</p>
                    <h3>Identification</h3>
                    <p>You must carry adequate identification at all times, such as a legible photocopy of your passport. To avoid the loss or theft of your identification documents, you should not carry your original passport, citizenship card or birth certificate with you except when travelling from one city to another within Albania.&nbsp;</p>
                    <h3>Illegal drugs</h3>
                    <p>Penalties for possession, use or trafficking of illegal drugs are strict. Convicted offenders can expect jail sentences and heavy fines.</p>
                    <h3>Illegal activities</h3>
                    <p>It is illegal to photograph military installations and military personnel. Do not photograph military installations or personnel without proper permission as charges may be laid or cameras confiscated.</p>
                    <h3>Marriages</h3>
                    <p>If a Canadian intends to marry an Albanian, the Albanian partner should provide the list of documentation required to get married in Albania and documents must be legalized by the Embassy of Albania in Ottawa. For further details, please contact the Consulate of Canada in Albania.</p>
                    <h3>Homosexual activities</h3>
                    <p>While homosexuality is not illegal in Albania, it is not widely accepted. Society is very conservative.</p>
                    <h3>Driving laws</h3>
                    <p>An <a href="http://www.voyage.gc.ca/faq/driving_conduire-eng.asp">International Driving Permit</a> (IDP) is required.</p>
                    <p>Police have taken drastic measures to decrease the number of accidents. Respect speed limits and the rules of the road in order to avoid heavy fines and the suspension of your driving licence.</p>
                    <h3>Money</h3>
                    <p>The currency of Albania is the lek (ALL). The euro is used as a benchmark for the currency.</p>
                    <p>The economy is primarily cash-based. &nbsp;You should carry some cash as traveller&rsquo;s cheques and credit cards are not widely accepted. International hotels in Tirana accept American Express, Visa, Diners Club and MasterCard. Automated banking machines (ABMs) are widely available.</p>
                    <p>Traveller&rsquo;s cheques and eurocheques can be exchanged at the National Bank of Albania in Tirana. U.S. dollars and Swiss francs are also accepted.</p>
                </div>
            </details>

            <!--
              Natural Disasters &amp; Climate
            -->
            <details id="pane6" class="optn">
                <summary>Natural Disasters &amp; Climate</summary>
                <div class="cntnt">
                    <h2>Natural Disasters &amp; Climate</h2>
                    <p>Albania is located in an active seismic zone and experiences an average of one earthquake (3.2 to 4.0 on the Richter scale) per year. Civil protection agency response time and capabilities are not up to Canadian or Western European standards.</p>
                    <p>Summers in the Adriatic-Mediterranean region can be very hot.</p>
                </div>
            </details>

    </div>
</div>
<div class="col-md-2 col-md-pull-10">
    <h2>Select a Destination</h2>
    <ul class="list-unstyled">
        <li><a href="#">Country1</a></li>
        <li><a href="#">Country2</a></li>
        <li><a href="#">Country3</a></li>
        <li><a href="#">Country4</a></li>
        <li><a href="#">Country5</a></li>
        <li><a href="#">Country6</a></li>
        <li><a href="#">Country7</a></li>
        <li><a href="#">Country8</a></li>
        <li><a href="#">Country9</a></li>
        <li><a href="#">Country10</a></li>
    </ul>
</div>
</div>
{{>datemodified-share}}