---
{
"title": "Detail et Sum. - GC Web",
"language": "fr",
"isEnglish": false,
"secondlevel": true,
"alternate": "details-summary-en.html",
"alternatetog": "Français",
"altlang": "fr",
"pageclass": "",
"breadcrumb": [
{ "title": "Accuiel", "link": true }
]
}
---

<div class="row">
    <div class="col-md-10 col-md-push-2">
        <h1 id="wb-cont">Albanie</h1>
        <dl class="dl-horizontal">
            <dt>Dernière mise à jour :</dt>
            <dd><time>June 27, 2013 10:18</time></dd>
            <dt>Toujours valide :</dt>
            <dd><time>June 27, 2013 10:18 ET</time></dd>
            <dt>Dernière mise à jour :</dt>
            <dd>An editorial change was made.</dd>
        </dl>

        <div class="dshbrd" id="alrtwrngs">
            <ul class="cntrls visible-md visible-lg list-inline">
                <li><a class="wb-toggle active" data-toggle='{"selector": "#pane1", "group": "optn", "parent": "#alrtwrngs"}' href="#pane1">Avertissements</a></li>
                <li><a class="wb-toggle" data-toggle='{"selector": "#pane2" , "group": "optn", "parent": "#alrtwrngs"}' href="#pane2">Sécurité</a></li>
                <li><a class="wb-toggle" data-toggle='{"selector": "#pane3" , "group": "optn", "parent": "#alrtwrngs"}' href="#pane3">Exigences d'entrée et de sortie</a></li>
                <li><a class="wb-toggle" data-toggle='{"selector": "#pane4" , "group": "optn", "parent": "#alrtwrngs"}' href="#pane4">Santé</a></li>
                <li><a class="wb-toggle" data-toggle='{"selector": "#pane5" , "group": "optn", "parent": "#alrtwrngs"}' href="#pane5">Lois et coutumes</a></li>
                <li><a class="wb-toggle" data-toggle='{"selector": "#pane6" , "group": "optn", "parent": "#alrtwrngs"}' href="#pane5">Catastrophes naturelles et climat</a></li>
            </ul>

            <!--
                Advisories
              -->
            <details open id="pane1" class="optn">
                <summary>Avertissements</summary>
                <div class="cntnt">
                    <h2>Avertissements</h2>
                    <p>Albanie - Prenez les mesures de sécurité normales</h3>
                    <p>Aucun avertissement n'est en vigueur pour l'ensemble de l'Albanie. Prenez les mesures de sécurité normales.</p>

                    <h3>Avertissement régional pour la frontière nord-est avec le Kosovo</h3>
                    <p>Affaires étrangères, Commerce et Développement Canada&nbsp;recommande d'éviter tout voyage non essentiel dans le nord-est du pays, près de la frontière avec le Kosovo en raison de la présence de munitions et de mines terrestres. Consultez l'onglet Sécurité pour plus de détails.</p>
                    <h3>Avertissement régional pour le district de Tropojë et la ville de Bajram Curri</h3>
                    <p>Affaires étrangères, Commerce et Développement Canada&nbsp;recommande d'éviter tout voyage non essentiel dans le district de Tropojë et dans la ville de Bajram Curri en raison de la capacité limitée de la police à offrir de l’assistance et de la protection. Consultez l'onglet Sécurité pour plus de détails.</p>
                </div>
            </details>
            <!--
                Security
              -->
            <details id="pane2" class="optn">
                <summary>Sécurité</summary>
                <div class="cntnt">
                    <h2>Sécurité</h2>
                    <p>La décision de voyager relève de vous seul. C’est également à vous seul qu’il incombe de veiller à votre sécurité personnelle à l’étranger. Le gouvernement du Canada prend très au sérieux la sécurité des Canadiens à l’étranger et diffuse des renseignements fiables et à jour dans ses Conseils aux voyageurs. Dans l’éventualité où une situation de crise nécessiterait une évacuation, la politique du gouvernement du Canada consiste à assurer le transport sécuritaire des ressortissants canadiens jusqu’au lieu sûr le plus proche. Le gouvernement du Canada ne vous aidera à quitter un pays ou une région qu’en dernier recours, lorsque tous les moyens de transport commerciaux et personnels auront été épuisés. Ce service est offert contre recouvrement des coûts, et vous devrez assumer les frais associés à la poursuite de votre voyage. Les situations varient d’un pays à l’autre et les ressources du gouvernement pourraient, dans certains cas, être soumises à des contraintes susceptibles de limiter son aptitude à offrir de l’aide, notamment dans un pays ou une région où le risque de conflit violent ou d’instabilité politique est élevé.</p>
                    <h3>Frontière nord-est avec le Kosovo (voir l'avertissement)</h3>
                    <p>Lorsque vous visitez des villes situées dans les collines de cette région, vous devriez faire preuve de prudence et tenir compte des panneaux de mise en garde contre la présence de munitions et de mines terrestres qui n'auraient pas explosé à la suite de la guerre du Kosovo de 1999. Des opérations de déminage sont en cours. Cette directive est particulièrement importante pour les personnes qui font de la randonnée pédestre dans cette région.</p>
                    <h3>District de Tropojë et la ville de Bajram Curri (voir l'avertissement)</h3>
                    <p>La capacité de la police à offrir assistance et protection est limitée dans le district de Tropojë et la ville de Bajram Curri. La pauvreté et la difficulté des autorités à maintenir l’ordre public peuvent poser problème dans la ville de Kukës.</p>
                    <h3>Criminalité</h3>
                    <p>La sécurité publique est habituellement adéquate, surtout à Tirana. Des crimes mineurs (vols à la tire, vols avec agression et vols de sac à l’arraché) se produisent, surtout dans les transports en commun.</p>
                    <p>En particulier, les femmes qui voyagent seules doivent être très prudentes. Évitez les endroits isolés, les parcs, les bars et les restaurants dans les régions éloignées, surtout après la tombée de la nuit. Consultez notre publication intitulée <a class="ui-link" href="http://www.voyage.gc.ca/publications/woman-guide_voyager-feminin-eng.asp">Voyager au féminin : La sécurité avant tout</a>, qui renferme des conseils à l’intention des voyageuses canadiennes.</p>
                    <p>Les voyageurs doivent être particulièrement prudents dans les districts de Has, Kukës et Tropojë, situés dans le Nord. Des groupes de criminels sont actifs le long des routes dans les régions éloignées, surtout dans le nord et près des frontières du Monténégro, du Kosovo et de la Macédoine. La prudence est de mise dans les régions frontalières de la Macédoine étant donné que la sécurité laisse beaucoup à désirer.</p>
                    <p>Les difficultés économiques et la facilité de se procurer des armes à feu augmentent les risques d’incidents violents, de détournements de voiture et d’actes de pillage. Toutefois, ces incidents ne touchent généralement pas les touristes.</p>
                    <h3>Manifestations</h3>
                    <p>Dans de nombreux centres albaniens, il se produit parfois des manifestations qui peuvent soudainement donner lieu à des actes de violence. Évitez les manifestations et les grands rassemblements, suivez les conseils des autorités locales et surveillez les médias locaux.</p>
                    <h3>Transport routier</h3>
                    <p>Les déplacements par la route peuvent être dangereux et difficiles. La signalisation routière et la sécurité de la route sont déplorables. La présence de conducteurs imprévisibles et agressifs pose également des risques. L’état des routes principales est passable; mais les routes secondaires sont souvent en piteux état. Il est conseillé d’utiliser un véhicule à quatre roues motrices même dans les centres urbains. En hiver, vous pouvez rencontrer des situations dangereuses en raison des conditions d'enneigement et de la présence de glace sur les routes de montagne qui sont mal entretenues dans le nord et le sud-est de l'Albanie.</p>
                    <p>Si possible, faites-vous conduire par des gens de l'endroit ou utilisez un service de taxi ou les transports en commun. Il est possible de louer des véhicules privés, approuvés, avec chauffeur pour voyager à la grandeur du pays. Négociez les horaires et les tarifs à l’avance.</p>
                    <p>N’utilisez que les taxis jaunes stationnés à des coins de rue précis. Les courses de taxi doivent être payées en argent comptant.</p>
                    <p>Les centres de location de voitures sont disponibles dans les grandes villes et offrent toute une gamme de véhicules et de services.</p>
                    <p>Il est recommandé de planifier minutieusement les déplacements en dehors de la capitale et de faire appel aux services d’un guide/interprète ou d’un chauffeur digne de confiance.</p>
                    <h3>Transports publics</h3>
                    <p>Des bus et des minibus offrent des services de transport entre la plupart des grandes villes, mais ils ne sont pas fiables ni confortables.</p>
                    <p>Veuillez consulter notre page&nbsp;<a class="ui-link" href="http://voyage.gc.ca/voyager/sante-securite/transports">Sécurité des transports</a> pour vérifier si les transporteurs aériens nationaux répondent aux normes de sécurité.</p>
                    <h3>Renseignements généraux en matière de sécurité</h3>
                    <p>L’annonce des résultats des élections législatives du 23 juin a été rapportée. Évitez toutes les manifestations et les grands rassemblements, suivez les conseils des autorités locales et surveillez les médias locaux.</p>
                    <p>Prenez les mesures de sécurité normales. Assurez-vous que vos effets personnels, votre passeport et vos autres documents de voyage sont toujours en lieu sûr. Évitez de faire étalage de richesse et de transporter de grosses sommes d’argent.</p>
                    <p>Les pannes de courant électrique sont fréquentes dans tout le pays, tant dans les régions éloignées que dans les grandes villes. Par mesure de sécurité, ayez toujours avec vous une lampe de poche. Vous devriez prendre des dispositions pour assurer votre bien-être durant les périodes sans électricité et vérifier l'horaire des coupures de courant auprès des autorités locales.</p>
                    <p>Les installations touristiques ne sont pas très développées, et de nombreux produits et services ne sont pas offerts.</p>
                    <h3>Services d’urgence</h3>
                    <p>À Tirana, composez le 129 pour joindre la police. L'aide fournie par la police et les services d’urgence ne correspondent pas aux normes canadiennes.</p>
                </div>
            </details>
            <!--
                Entry/Exit Requirements
              -->
            <details id="pane3" class="optn">
                <summary>Exigences d'entrée et de sortie</summary>
                <div class="cntnt">
                    <h2>Exigences d'entrée et de sortie</h2>
                    <p>La décision de laisser entrer les voyageurs étrangers relève exclusivement de la compétence de chaque pays ou région. Les agents consulaires canadiens ne peuvent pas intervenir en votre nom si vous ne satisfaites pas aux exigences d’entrée. Les renseignements qui suivent au sujet des conditions d'entrée et de sortie ont été obtenus des autorités de l’Albanie. Ces exigences peuvent toutefois être modifiées à tout moment. C'est à vous qu'il incombe de vérifier la validité de ces renseignements auprès de l'<a class="ui-link" href="http://w03.international.gc.ca/Protocol-Protocole/">ambassade de la République d'Albanie</a> ou l'un de ses <a class="ui-link" href="http://w03.international.gc.ca/Protocol-Protocole/">consulats</a>.</p>
                    <p>Les titulaires de passeports officiels (spéciaux et diplomatiques) doivent consulter la page <a class="ui-link" href="http://www.pptc.gc.ca/vo-ot/index.aspx?lang=fra">Voyages officiels</a> car ils pourraient être assujettis à des exigences d'entrée différentes.</p>
                    <h3>Passeport</h3>
                    <p>Les Canadiens qui se rendent en Albanie doivent présenter un <a class="ui-link" href="http://www.pptc.gc.ca/">passeport </a>qui sera valide pendant au moins trois mois après la date prévue de leur départ de l'Albanie. Avant de partir, vérifiez les exigences de votre compagnie de transport en ce qui a trait à la validité des passeports puisqu’elles peuvent être plus strictes que les règles d'entrée du pays.<strong></strong></p>
                    <h3>Double citoyenneté</h3>
                    <p>Toute personne née en Albanie de parents albanais est considérée comme citoyen albanais par le gouvernement albanais. Cette politique pourrait limiter la marge de manœuvre des représentants du Canada au moment de fournir des services consulaires. Vous devriez vous servir de votre passeport canadien pendant le voyage et toujours vous présenter aux autorités locales en tant que citoyen canadien. Veuillez consulter notre publication intitulée <a class="ui-link" href="http://www.voyage.gc.ca/publications/dual-citizenship_double-citoyennete-eng.asp">La double citoyenneté : Ce que vous devez savoir</a> pour plus de détails.</p>
                    <h3>Visas</h3>
                    <p>Visa de touriste : non exigé (pour les séjours de 90 jours ou moins à l'intérieur d'une période de six mois)</p>
                    <p>Visa d'affaires : non exigé (pour les séjours de 90 jours ou moins à l'intérieur d'une période de six mois)</p>
                    <p>Visa d'étudiant : non exigé (pour les séjours de 90 jours ou moins à l'intérieur d'une période de six mois)</p>
                    <p>Si vous souhaitez séjourner ou travailler en Albanie pendant plus de 90&nbsp;jours, vous devez présenter une demande de permis de séjour (<em>Leje Qendrimi</em>) et, s’il y a lieu, de permis de travail (<em>Leje Pune</em>). Pour obtenir de plus amples renseignements, veuillez communiquer avec le consulat du Canada à Tirana.</p>
                    <p></p><h3>Les enfants et le voyage</h3>
                    <p>Les enfants ont besoin de documents spéciaux pour visiter certains pays. Veuillez consulter notre page <a class="ui-link" href="http://voyage.gc.ca/voyager/enfant">Enfants</a> pour plus de détails.</p>
                    <p></p><h3>Fièvre jaune</h3>
                    <p>Certains pays exigent la présentation d’une preuve de vaccination contre la fièvre jaune avant de permettre l’entrée. Veuillez consulter la <a class="ui-link" href="http://www.who.int/ith/chapters/ithcountrylistFR.pdf">liste par pays de l’Organisation mondiale de la Santé</a> pour connaître les exigences de ce pays.</p>
                </div>
            </details>
            <!--
                Health
              -->
            <details id="pane4" class="optn">
                <summary>Santé</summary>
                <div class="cntnt">
                    <h2>Santé</h2>
                    <p>Pour prendre connaissance des derniers <a class="ui-link" href="http://www.phac-aspc.gc.ca/tmp-pmv/notices-avis/index-fra.php">Conseils de santé aux voyageurs</a> et renseignements sur les vaccins, les infections et les maladies, veuillez consulter le site Web de <a class="ui-link" href="http://www.phac-aspc.gc.ca/index-fra.php">l’Agence de la santé publique du Canada</a>.</p>
                    <p>L’Agence recommande vivement que vous consultiez une <a class="ui-link" href="http://www.phac-aspc.gc.ca/tmp-pmv/yf-fj/index-fra.php">clinique de santé-voyage</a> ou un fournisseur de soins de santé, préférablement six semaines avant votre départ.</p>
                    <p>L’Agence publie des <a class="ui-link" href="http://www.phac-aspc.gc.ca/tmp-pmv/countries-pays/country-pays-fra.php?id=263">conseils de santé aux voyageurs pour l'Albanie</a>.</p>
                    <h3>Établissements médicaux</h3>
                    <p>Il est préférable d'éviter les hôpitaux gouvernementaux, car ils manquent souvent de médicaments et d’équipements de base et ont de piètres normes d’hygiène. Il est conseillé d'apporter le nécessaire médical, y compris une trousse de premiers soins et des médicaments de prescription. Il y a des cliniques dentaires, mais les normes régissant les soins dentaires peuvent être différentes de ce que l'on connaît au Canada. Communiquez avec le consulat du Canada à Tirana pour obtenir une liste de cliniques offrant des soins médicaux et dentaires de qualité.</p>
                    <p>En cas de blessure ou de maladie grave, une évacuation peut être nécessaire, ce qui est très coûteux.</p>
                </div>
            </details>
            <!--
               Laws and Culture
             -->
            <details id="pane5" class="optn">
                <summary>Lois et coutumes</summary>
                <div class="cntnt">
                    <h2>Lois et coutumes</h2>
                    <p>Vous devez vous conformer aux lois locales. Consultez notre <a class="ui-link" href="http://www.voyage.gc.ca/faq/arrest_arrestation-fra.asp">FAQ Arrestation et détention</a> pour plus de détails.</p>
                    <p>Le Canada et l’Albanie ont signé la Convention européenne sur le transfèrement des personnes condamnées, qui permet aux Canadiens emprisonnés en Albanie de demander leur transfèrement au Canada pour y terminer leur peine. Le transfèrement nécessite l'accord des autorités canadiennes et albanaises.</p>
                    <h3>Pièces d’identité</h3>
                    <p>Ayez des pièces d'identité adéquates avec vous en tout temps, comme une photocopie lisible de votre passeport.&nbsp; Sauf quand vous vous déplacez dans le pays, ne portez pas votre passeport, votre carte de citoyenneté ou votre certificat de naissance sur vous afin d’éviter de les perdre ou de vous les faire voler.</p>
                    <h3>Stupéfiants</h3>
                    <p>Les sanctions pour possession, usage ou trafic de stupéfiants sont sévères. Les personnes trouvées coupables de ces délits sont passibles de peines d’emprisonnement et de lourdes amendes.</p>
                    <h3>Activités illégales</h3>
                    <p>Il est illégal de photographier le personnel et les installations militaires. Ne photographiez pas le personnel ou les installations sans avoir d’abord obtenu l’autorisation, car des accusations pourraient être portées contre vous ou votre appareil photo pourrait être confisqué.</p>
                    <h3>Mariages</h3>
                    <p>Si un Canadien a l’intention de se marier avec un Albanais, celui-ci doit fournir la liste des documents nécessaires pour se marier en Albanie, lesquels doivent être légalisés par l’ambassade d’Albanie à Ottawa. Pour obtenir de plus amples renseignements, veuillez communiquer avec le consulat du Canada en Albanie.</p>
                    <h3>Homosexualité</h3>
                    <p>Bien que l'homosexualité ne soit pas illégale, elle n'est pas communément acceptée. La société est très conservatrice.</p>
                    <h3>Lois régissant la conduite automobile</h3>
                    <p>Vous devez être muni d’un <a class="ui-link" href="http://www.voyage.gc.ca/faq/driving_conduire-fra">permis de conduire international</a>.</p>
                    <p>La police a pris des mesures drastiques pour réduire le nombre d'accidents. Respectez les limites de vitesse et le code de la route afin d’éviter de lourdes amendes et la suspension de votre permis de conduire.</p>
                    <h3>Monnaie</h3>
                    <p>La devise officielle de l'Albanie est le lek (ALL). L’euro sert de repère pour la devise.</p>
                    <p>De manière générale, il faut payer en argent comptant. Les chèques de voyage et les cartes de crédit ne sont pas acceptés partout. Toutefois, les hôtels internationaux de Tirana acceptent les cartes American Express, Visa, Diners Club et Mastercard. &nbsp;Les guichets bancaires automatiques sont nombreux. &nbsp;</p>
                    <p>Les chèques de voyage et les eurochèques peuvent être échangés à la Banque nationale de l'Albanie à Tirana. Le dollar américain et le franc suisse sont aussi acceptés.</p>
                </div>
            </details>

            <!--
              Natural Disasters &amp; Climate
            -->
            <details id="pane6" class="optn">
                <summary>Catastrophes naturelles et climat</summary>
                <div class="cntnt">
                    <h2>Catastrophes naturelles et climat</h2>
                    <p>L’Albanie est située dans une zone d’activité sismique et subit en moyenne un tremblement de terre (de 3,2 à 4,0 sur l’échelle de Richter) par année. Les délais d’intervention des organismes de protection civile et leurs capacités sont en deçà des normes du Canada ou de l’Europe occidentale.</p>
                    <p>Les étés peuvent être très chauds dans la région adriatique de la Méditerranée.</p>
                </div>
            </details>

        </div>
    </div>
    <div class="col-md-2 col-md-pull-10">
        <h2>Select a Destination</h2>
        <ul class="list-unstyled">
            <li><a href="#">Country1</a></li>
            <li><a href="#">Country2</a></li>
            <li><a href="#">Country3</a></li>
            <li><a href="#">Country4</a></li>
            <li><a href="#">Country5</a></li>
            <li><a href="#">Country6</a></li>
            <li><a href="#">Country7</a></li>
            <li><a href="#">Country8</a></li>
            <li><a href="#">Country9</a></li>
            <li><a href="#">Country10</a></li>
        </ul>
    </div>
</div>
{{>datemodified-share}}