---
{
	"title": "Event name",
	"language": "en",
	"altLangPrefix": "event",
	"promotion": "carousel",
	"deptfeature": true,
	"pageclass": "page-type-nav",
	"breadcrumb": [
		{ "title": "Home", "link": "https://www.canada.ca/en.html" }
	],
	"secondlevel": false,
	"dateModified": "2017-10-02",
	"share": "true"
}
---
<div class="row">
	<section class="col-md-6">
		<a href="#"><h2 class="h5">Promotional hyperlink text</h2>
		<img src="{{assets}}/img/520x296.png" alt="" class="img-responsive thumbnail"/>
		</a>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
	</section>
	<section class="col-md-6">
		<a href="#"><h2 class="h5">Promotional hyperlink text</h2>
		<img src="{{assets}}/img/520x296.png" alt="" class="img-responsive thumbnail"/>
		</a>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
	</section>
</div>
<section>
	<h2>[Heading]</h2>
	<div class="row wb-eqht">
		<section class="col-md-4 col-sm-6">
			<h3 class="h6"><a href="#">[Hyperlink text]</a></h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque praesentium, nulla ab nobis architecto repellendus hic iure laboriosam.</p>
		</section>
		<section class="col-md-4 col-sm-6">
			<h3 class="h6"><a href="#">[Hyperlink text]</a></h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque praesentium, nulla ab nobis architecto repellendus hic iure laboriosam.</p>
		</section>
		<section class="col-md-4 col-sm-6">
			<h3 class="h6"><a href="#">[Hyperlink text]</a></h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque praesentium, nulla ab nobis architecto repellendus hic iure laboriosam.</p>
		</section>
		<section class="col-md-4 col-sm-6">
			<h3 class="h6"><a href="#">[Hyperlink text]</a></h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque praesentium, nulla ab nobis architecto repellendus hic iure laboriosam.</p>
		</section>
		<section class="col-md-4 col-sm-6">
			<h3 class="h6"><a href="#">[Hyperlink text]</a></h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque praesentium, nulla ab nobis architecto repellendus hic iure laboriosam.</p>
		</section>
		<section class="col-md-4 col-sm-6">
			<h3 class="h6"><a href="#">[Hyperlink text]</a></h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque praesentium, nulla ab nobis architecto repellendus hic iure laboriosam.</p>
		</section>
		<section class="col-md-4 col-sm-6">
			<h3 class="h6"><a href="#">[Hyperlink text]</a></h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque praesentium, nulla ab nobis architecto repellendus hic iure laboriosam.</p>
		</section>
		<section class="col-md-4 col-sm-6">
			<h3 class="h6"><a href="#">[Hyperlink text]</a></h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque praesentium, nulla ab nobis architecto repellendus hic iure laboriosam.</p>
		</section>
		<section class="col-md-4 col-sm-6">
			<h3 class="h6"><a href="#">[Hyperlink text]</a></h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque praesentium, nulla ab nobis architecto repellendus hic iure laboriosam.</p>
		</section>
	</div>
</section>
<div class="row">
	<section class="col-md-8">
		<h2>Join the conversation</h2>
		<section class="col-md-6">
			<h3 class="wb-inv">Twitter</h3>
			<div class="wb-twitter">
			<a class="twitter-timeline" href="https://twitter.com/search?q=%23conservationplan+AND+%23+from%3Aenvironmentca+OR+%23+from%3ADFO_MPO+OR+%23+from%3Aparkscanada" data-widget-id="466584386855374848" rel="external">#ConservationPlan</a>
			</div>
		</section>
		<div class="col-md-6">
			<section class="col-md-12 panel panel-default fd-wdgt">
				<div class="wb-feeds limit-10">
					<div class="panel-heading">
						<h3 class="panel-title">Facebook <span class="icon facebook"></span></h3>
					</div>
					<div class="panel-body">
						<ul class="feeds-cont media-list">
							<li class="media">
								<a class="pull-left" href="https://www.facebook.com/feeds/page.php?id=318424514044&amp;format=atom10" rel="external">
								<img class="media-object" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-frc3/t1.0-1/c17.17.207.207/430015_10151952323214045_194318965_n.png" alt="Enviroment Canada Logo" height="64" width="64" />
								</a>
								<div class="media-body">
									<h4 class="media-heading"><a href="https://www.facebook.com/feeds/page.php?id=318424514044&amp;format=atom10" rel="external">Enviroment Canada - Facebook</a></h4>
									<p>At Environment Canada our business is protecting the environment, conserving the country's natural heritage and providing weather and environmental predictions to keep Canadians informed and safe.</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</section>
			<section class="panel panel-default col-md-12 fd-wdgt">
				<div class=" wb-feeds limit-10">
				<div class="panel-heading"><h3 class="panel-title">Flickr or Pinterest or other<span class="icon flickr"></span></h3></div>
				<div class="panel-body">
				<ul class="feeds-cont list-inline lst-spcd mrgn-tp-md">
					<li>
						<a href="https://www.flickr.com/photos/environmentcan" rel="external" data-ajax="https://api.flickr.com/services/feeds/photos_public.gne?id=47711201@N05&amp;format=json">Environment Canada Flickr</a>
					</li>
				</ul>
				</div>
				</div>
			</section>
		</div>
	</section>
	<div class="col-md-4">
		<section class="col-md-12">
			<h2>Watch</h2>
			<figure class="wb-mltmd" data-wb-mltmd='{"shareUrl": "http://www.youtube.com/watch?v=9znKJqnFuuY"}'>
				<video title="Suspect">
					<source type="video/youtube" src="http://www.youtube.com/watch?v=9znKJqnFuuY" />
				</video>
				<figcaption>
					<p>Suspect</p>
				</figcaption>
			</figure>
		</section>
		<section class="col-md-12">
			<h2>Listen</h2>
			<figure class="wb-mltmd" data-wb-mltmd='{"shareUrl": "http://www.archive.org/download/RideOfTheValkyries/ride_of_the_valkyries_2.mp3"}'>
				<audio title="Ride of the Valkyries">
					<source src="http://www.archive.org/download/RideOfTheValkyries/ride_of_the_valkyries_2.mp3" type="audio/mp3" />
					<source src="http://www.archive.org/download/RideOfTheValkyries/ride_of_the_valkyries_2.ogg" type="audio/ogg" />
				</audio>
				<figcaption>
					<p>Ride of the Valkyries</p>
				</figcaption>
			</figure>
		</section>
	</div>
</div>
