---
{
	"title": "Experimental functionality - GCWeb theme",
	"language": "en",
	"altLangPrefix": "experimental",
	"breadcrumb": [
		{ "title": "GCWeb home", "link": "https://wet-boew.github.io/themes-dist/GCWeb/index-en.html" }
	],
	"secondlevel": false,
	"dateModified": "2019-06-10",
	"share": "true"
}
---

<div class="alert alert-warning">
	<h2>Unstable feature</h2>
	<p>To be used at <strong>your own risk</strong>. All functionalities described below can be removed in any subsequent minor/major release and are excluded from the GCWeb public API.</p>
	<p><small><a href="https://wet-boew.github.io/wet-boew-documentation/decision/7.html">Learn more about the design decision around experimental features.</a></small></p>
	<p>The documentation and/or working examples for those features could be incomplete or not available.</p>
</div>

<h2>Feature availability</h2>

<p>The following table describes until which version of GCWeb each experimental feature will be available. The features' availability will be re-evaluated at every release. A withdrawn experimental feature would be notified one version in advance.</p>

<details>
	<summary>Status description</summary>
	<dl class="dl-horizontal">
		<dt>&lt;not specified&gt;</dt>
		<dd>Experimental</dd>
		<dt>Withdrawn</dt>
		<dd>The feature are not available</dd>
		<dt>Supported</dt>
		<dd>The feature are included and supported by the GCWeb public API.</dd>
		<dt>Withdrawn after v.Major.Minor</dt>
		<dd>The v.Major.Minor represent the last version where that feature is available. Authors must consider an alternative or remove that feature.</dd>
	</dl>
</details>

<table class="table table-bordered">
<thead>
	<tr>
		<th>Name</th>
		<th>Description</th>
		<th class="nowrap">Available in</th>
		<th>Status</th>
	</tr>
</thead>
<tbody>
	<tr>
		<th>CSS <code>.p-0</code></th>
		<td>Set a padding of 0px</td>
		<td>v5.1</td>
		<td>Supported via wet-boew since v6.0</td>
	</tr>
	<tr>
		<th>CSS <code>.mb-sm-5</code></th>
		<td>Set a margin bottom of 50px for view port from small screen and up</td>
		<td>v5.1</td>
		<td>Supported via wet-boew since v6.0</td>
	</tr>
	<tr>
		<th>CSS <code>.p-sm-3</code></th>
		<td>Set a padding of 15px for view port from small screen and up</td>
		<td>v5.1</td>
		<td>Supported via wet-boew since v6.0</td>
	</tr>
	<tr>
		<th>CSS <code>.px-sm-3</code></th>
		<td>Set a left and right padding of 15px for view port from small screen and up</td>
		<td>v5.1</td>
		<td>Supported via wet-boew since v6.0</td>
	</tr>
	<tr>
		<th>CSS <code>.bg-darker</code></th>
		<td>Full black background color</td>
		<td>v5.1</td>
		<td></td>
	</tr>
	<tr>
		<th>CSS <code>.bg-gctheme</code> and <code>.bg-gctheme.well.header-rwd</code></th>
		<td>GCWeb theme default background color</td>
		<td>v5.1</td>
		<td></td>
	</tr>
	<tr>
		<th>CSS <code>.bg-pnkDy</code> and <code>.bg-pnkDy.well.header-rwd</code></th>
		<td>Pink day background color</td>
		<td>v5.1</td>
		<td></td>
	</tr>
	<tr>
		<th>CSS <code>.pnkDy-theme</code> set global</th>
		<td>Apply global template color change for the pink day color, as that property is defined on the <code>&lt;html&gt;</code> or <code>&lt;body&gt;</code> element</td>
		<td>v5.1</td>
		<td></td>
	</tr>
	<tr>
		<th>CSS <code>.dark-theme</code> set global</th>
		<td>Apply global template color change for full black, as that property is defined on the <code>&lt;html&gt;</code> or  <code>&lt;body&gt;</code> element</td>
		<td>v5.1</td>
		<td></td>
	</tr>
	<tr>
		<th>CSS <code>.bg-cover</code></th>
		<td>Background size cover</td>
		<td>v5.1</td>
		<td></td>
	</tr>
	<tr>
		<th>Plugin <code>[data-bgimg]</code></th>
		<td>Take the URL value and set it as the background image. To be replaced by CSS4 selector.</td>
		<td>v5.1</td>
		<td></td>
	</tr>
	<tr>
		<th>CSS <code>.bg-img-hdng</code></th>
		<td>Add a background image to a heading.</td>
		<td>v5.1</td>
		<td></td>
	</tr>
	<tr>
		<th>CSS <code>.stretched-link</code></th>
		<td>Propagates the clickable area around an hyperlink tag up to a relatively positioned parent.</td>
		<td>v5.1</td>
		<td>Supported via wet-boew since v6.0</td>
	</tr>
</tbody>
</table>

<h2>Experimental feature documentation</h2>

<p>CSS experimental features must be accompanied by the class <code>.experimental</code> within his context of use.</p>


<h2>Experimental working examples</h2>

<h3 id="well-header-rwd-bgimg">Responsive well header with a background image</h3>

<div class="experimental bg-cover well" data-bgimg="demos/tabs/img/investinourfuture.jpg">
	<div class="well header-rwd mrgn-tp-md mrgn-bttm-md">
		<h4 class="mrgn-tp-md">Heading</h4>
		<p>Secondary title</p>
	</div>
</div>


<h3 id="well-header-rwd-dark">Responsive well header with background image and padding controls</h3>
<p>Mostly for campaing pages with content-fluid width.</p>

<div class="experimental bg-cover" data-bgimg="demos/tabs/img/investinourfuture.jpg">
	<div class="container p-0 p-sm-3">
		<div class="well header-rwd mrgn-tp-md mrgn-bttm-md bg-dark text-white brdr-0">
			<h4 class="mrgn-tp-md">Heading</h4>
			<p>Secondary title</p>
		</div>
	</div>
</div>

<pre><code>&lt;div class="experimental bg-cover" data-bgimg="demos/tabs/img/investinourfuture.jpg"&gt;
	&lt;div class="container p-0 p-sm-3"&gt;
		&lt;div class="well header-rwd mrgn-tp-md mrgn-bttm-md bg-dark text-white brdr-0"&gt;
			&lt;h4 class="mrgn-tp-md"&gt;Heading&lt;/h4&gt;
			&lt;p&gt;Secondary title&lt;/p&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;</code></pre>

<h3>Margin bottom small view port and up</h3>
<div class="row">
	<div class="col-xs-12 experimental">
		<div>
			<img class="img-responsive full-width" src="demos/tabs/img/investinourfuture.jpg" alt="">
			<div class="well pstn-bttm-sm mrgn-bttm-0 mb-sm-5">
				<h4 class="mrgn-tp-md">Heading</h4>
				<p>Secondary title</p>
			</div>
		</div>
	</div>
</div>
<div class="well">
	<p>Second well</p>
</div>

<h3>Theme template colors</h3>
<ul>
	<li><a href="xprmntl/pink-day-en.html">Pink day</a></li>
	<li><a href="xprmntl/dark-theme-en.html">Dark theme</a></li>
</ul>

<details>
	<summary>Javascript code sample to schedule the CSS addition for pink day</summary>
	<p>The following script adds the CSS class only on April 10, 2019 based on local time.</p>
<pre><code>( function( d ) {
"use strict";

var t = new Date(),
	msT = t.getTime(),
	s = new Date( 2019, 3, 10, 0, 1 ),
	e = new Date( 2019, 3, 10, 23, 59 );

if ( s.getTime() &lt; msT && msT &lt; e.getTime() ) {
	d.getElementsByTagName( "html" )[ 0 ].classList.add ("pnkDy-theme", "experimental");
}

} )( document );</code></pre>
</details>

<h3>Background image on heading</h3>
<p>Mostly for Services and information section.</p>
<div class="row experimental">
	<div class="col-md-6 col-xs-12">
		<h2 class="h3 full-width bg-img-hdng mrgn-tp-0">Impact Assessment</h2>
		<h3 class="h5 mrgn-tp-sm"><a href="https://www.canada.ca/en/environmental-assessment-agency/services/environmental-assessments/basics-environmental-assessment.html">Impact assessments process</a></h3>
		<p>Learn about the purpose and steps of impact assessments under the <em>Impact Assessment Act</em>.</p>
		<h3 class="h5 mrgn-tp-sm"><a href="https://ceaa-acee.gc.ca/050/evaluations/?culture=en-CA">Canadian Impact Assessment Registry</a></h3>
		<p>Information on potential and current IAs of projects subject to the federal IA process.</p>
	</div>
	<div class="col-md-6 col-xs-12">
		<h2 class="h3 full-width bg-img-hdng mrgn-tp-0" data-bgimg="img/xprmntl/how-to-get-involved-orange.png">How to get involved</h2>
		<h3 class="h5 mrgn-tp-sm"><a href="https://www.canada.ca/en/environmental-assessment-agency/services/public-participation.html">Public</a></h3>
		<p>Learn how the public can participate in impact assessments.</p>
		<h3 class="h5 mrgn-tp-sm"><a href="https://www.canada.ca/en/environmental-assessment-agency/programs/aboriginal-consultation-federal-environmental-assessment.html">Indigenous</a></h3>
		<p>Learn about the Indigenous consultation process in impact assessments.</p>
	</div>
</div>

<h3 id="stretched-link">Features section with stretched links</h3>
<p>In the following example, adding the <code>.stretched-link</code> class to the hyperlink found inside the <code>&lt;h3&gt;</code> tag will result in propagating the clickable area all the way up to the parent <code>&lt;div&gt;</code> with the <code>.col-xy-z</code> class because it has a "relative" position.</p>
<div class="row wb-eqht experimental">
	<div class="col-sm-6">
		<div class="well well-sm brdr-rds-0 eqht-trgt">
			<img class="img-responsive full-width" src="https://www.canada.ca/content/dam/canada/activities/20190603-1-520x200.jpg" alt="">
			<h3 class="h5"><a class="stretched-link" href="https://www.ic.gc.ca/eic/site/062.nsf/eng/h_00108.html">Learn more about Canada’s Digital Charter</a></h3>
			<p>Learn how Canada’s Digital Charter will build a foundation of trust in a digital world.</p>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="well well-sm brdr-rds-0 eqht-trgt">
			<img class="img-responsive full-width" src="https://www.canada.ca/content/dam/canada/activities/20190604-1-520x200.jpg" alt="">
			<h3 class="h5"><a class="stretched-link" href="https://www.rcaanc-cirnac.gc.ca/eng/1466616436543/1534874922512">National Indigenous History Month</a></h3>
			<p>Celebrate National Indigenous History Month in June</p>
		</div>
	</div>
</div>
