---
{
	"title": "[Public cible]",
	"language": "fr",
	"altLangPrefix": "gc-audience",
	"breadcrumb": [
		{ "title": "Accueil", "link": "https://www.canada.ca/fr.html" }
	],
	"dateModified": "2017-09-29",
	"share": "true"
}
---
<div class="row profile">
	<div class="col-md-6">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sagittis massa sed libero eleifend, ac iaculis urna tempor. Cras sagittis massa sed libero eleifend, ac iaculis urna tempor.</p>
		{{>follow}}
	</div>
	<div class="col-md-6 margin-top-small hidden-sm hidden-xs">
		<img src="{{assets}}/img/520x200.png" alt="" class="pull-right img-responsive thumbnail"/>
	</div>
</div>
<div class="row">
	<section class="col-md-12 pull-left mrgn-bttm-lg">
		<h2>Services et renseignements</h2>
		<div class="row">
			<div class="col-md-4">
				{{>task}}
			</div>
			<div class="col-md-4">
				{{>task}}
			</div>
			<div class="col-md-4">
				{{>task}}
			</div>
			<div class="clearfix"></div>
				<div class="col-md-4">
				{{>task}}
			</div>
			<div class="col-md-4">
				{{>task}}
			</div>
			<div class="col-md-4">
				{{>task}}
			</div>
			<div class="clearfix"></div>
				<div class="col-md-4">
				{{>task}}
			</div>
			<div class="col-md-4">
				{{>task}}
			</div>
			<div class="col-md-4">
				{{>task}}
			</div>
			<div class="clearfix"></div>
		</div>
	</section>
</div>
{{>deptfeatures}}