	---
	{
		"title": "Cases à cocher et boutons radio",
		"language": "fr",
		"altLangPrefix": "gc-form",
		"pageType": "gcform",
		"pageclass": "page-type-nav cnt-wdth-lmtd",
		"breadcrumb": [
			{ "title": "Home", "link": "https://www.canada.ca/fr.html" },
		],
		"dateModified": "2019-08-26",
		"share": "true"
	}
	---
	<section>
		<h2>Objet</h2>
		<p>Cases à cocher et boutons radio avec de grandes cibles tactiles pour appuyer les habitudes comportementales d’interaction avec l’élément de forme, et non avec l’étiquette.</p>
	</section>
	<section>
		<h2>Utilisation</h2>
		<div class="row wb-eqht mrgn-tp-lg mrgn-bttm-xl">
			<div class="col-md-6">
				<h3 class="mrgn-tp-0 text-success h4">Utilisations <span class="glyphicon glyphicon-ok-circle"></span></h3>
				<ul>
					<li>Pour simplifier la navigation complexe au moyen de plusieurs options</li>
					<li>Pour les questions interactives et les cases à cocher pour les services et les assistants</li>
				</ul>
			</div>
			<div class="col-md-6 brdr-lft">
				<h3 class="mrgn-tp-0 text-danger h4">Ne pas utiliser <span class="glyphicon glyphicon-remove-circle"></span></h3>
				<ul>
					<li>Pour les cases à cocher ou les boutons radio si les options ne sont pas facilement comparables. Tenir compte des tendances de navigation, comme une page thématique</li>
					<li>Si vous appuyez la navigation, pour un petit nombre d’options, envisagez d’utiliser des onglets ou des développements/réductions</li>
				</ul>
			</div>
		</div>
	</section>
	<section>
		<h2>Exemples concrets</h2>
		<h3>Cases à cocher</h3>
		<div class="row">
			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-body">
						<h5 class="mrgn-tp-0">Apparence</h5>
						<h6>Grandes cases à cocher</h6>
						<ul class="list-unstyled gc-form">
							<li class="checkbox">
								<input type="checkbox" id="checkbox_1">
								<label for="checkbox_1">Option 1</label>
							</li>
							<li class="checkbox">
								<input type="checkbox" id="checkbox_2">
								<label for="checkbox_2">Option 2</label>
							</li>
							<li class="checkbox">
								<input type="checkbox" id="checkbox_3">
								<label for="checkbox_3">Option 3</label>
							</li>
							<li class="checkbox">
								<input type="checkbox" id="checkbox_4">
								<label for="checkbox_4">Option 4</label>
							</li>
						</ul>
						<hr>
						<h6>Petites cases à cocher</h6>
						<ul class="list-unstyled gc-form">
							<li class="checkbox checkbox-small">
								<input type="checkbox" id="confirmation-checkbox">
								<label for="confirmation-checkbox">Option unique</label>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<h5 class="mrgn-tp-0 text-success"><span class="glyphicon glyphicon-ok-circle"></span> Bonne utilisation</h5>
				<p>Point(s) de conformité :</p>
				<ul>
					<li>Utiliser de grandes cases à cocher lorsqu’on peut faire une ou plusieurs sélections pour répondre à une question. À utiliser aussi pour les listes de contrôle, avec des étiquettes courtes qui ne traversent pas les lignes</li>
					<li>Les petites cases à cocher peuvent servir lorsque vous faites une liste de contrôle avec des éléments qui se traverseraient plusieurs lignes ou lorsqu’il y a un seul élément à cocher</li>
				</ul>
				<h5 class="mrgn-tp-0 text-danger"><span class="glyphicon glyphicon-remove-circle"></span> Incorrect use</h5>
				<p>Mauvaise utilisation :</p>
				<ul>
					<li>Ne pas utiliser si les utilisateurs doivent entrer une réponse détaillée</li>
					<li>Ne pas utiliser la petite case à cocher pour les assistants ou les questions à l’intérieur de formulaires</li>
				</ul>
			</div>
			<div class="col-md-4">
				<h5 class="mrgn-tp-0">Code</h5>
				<pre class="prettyprint prettyprinted" style=""><code><span class="com">// Grandes cases à cocher :</span>&#x3C;ul class=&#x22;list-unstyled gc-form&#x22;&#x3E;
		&#x3C;li class=&#x22;checkbox&#x22;&#x3E;
			&#x3C;input type=&#x22;checkbox&#x22; id=&#x22;checkbox_1&#x22;&#x3E;
			&#x3C;label for=&#x22;checkbox_1&#x22;&#x3E;Option 1&#x3C;/label&#x3E;
		&#x3C;/li&#x3E;
		&#x3C;li class=&#x22;checkbox&#x22;&#x3E;
			&#x3C;input type=&#x22;checkbox&#x22; id=&#x22;checkbox_2&#x22;&#x3E;
			&#x3C;label for=&#x22;checkbox_2&#x22;&#x3E;Option 2&#x3C;/label&#x3E;
		&#x3C;/li&#x3E;
		&#x3C;li class=&#x22;checkbox&#x22;&#x3E;
			&#x3C;input type=&#x22;checkbox&#x22; id=&#x22;checkbox_3&#x22;&#x3E;
			&#x3C;label for=&#x22;checkbox_3&#x22;&#x3E;Option 3&#x3C;/label&#x3E;
		&#x3C;/li&#x3E;
		&#x3C;li class=&#x22;checkbox&#x22;&#x3E;
			&#x3C;input type=&#x22;checkbox&#x22; id=&#x22;checkbox_4&#x22;&#x3E;
			&#x3C;label for=&#x22;checkbox_4&#x22;&#x3E;Option 4&#x3C;/label&#x3E;
		&#x3C;/li&#x3E;
	&#x3C;/ul&#x3E;

	<span class="com">// Petites cases à cocher :</span>&#x3C;ul class=&#x22;list-unstyled gc-form&#x22;&#x3E;
		&#x3C;li class=&#x22;checkbox checkbox-small&#x22;&#x3E;
			&#x3C;input type=&#x22;checkbox&#x22; id=&#x22;confirmation-checkbox&#x22;&#x3E;
			&#x3C;label for=&#x22;confirmation-checkbox&#x22;&#x3E;Option unique&#x3C;/label&#x3E;
		&#x3C;/li&#x3E;
	&#x3C;/ul&#x3E;</code></pre>
			</div>
		</div>
		<h3>Boutons radio</h3>
		<div class="row">
			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-body">
						<h5 class="mrgn-tp-0">Apparence</h5>
						<h6>Boutons radio</h6>
						<ul class="list-unstyled gc-form">
							<li class="radio">
								<input id="radio-option-1" type="radio" name="radio-example">
								<label for="radio-option-1">Option 1</label>
							</li>
							<li class="radio">
								<input id="radio-option-2" type="radio" name="radio-example">
								<label for="radio-option-2">Option 2</label>
							</li>
							<li class="radio">
								<input id="radio-option-3" type="radio" name="radio-example">
								<label for="radio-option-3">Option 3</label>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<h5 class="mrgn-tp-0 text-success"><span class="glyphicon glyphicon-ok-circle"></span> Bonne utilisation</h5>
				<p>Point(s) de conformité :</p>
				<ul>
					<li>Utiliser des boutons radio lorsqu’une seule sélection peut être faite</li>
				</ul>
				<h5 class="mrgn-tp-0 text-danger"><span class="glyphicon glyphicon-remove-circle"></span> Mauvaise utilisation</h5>
				<p>Point(s) de conformité :</p>
				<ul>
					<li>Ne pas utiliser si les utilisateurs doivent choisir plus d’une option</li>
				</ul>
			</div>
			<div class="col-md-4">
				<h5 class="mrgn-tp-0">Code</h5>
				<pre class="prettyprint prettyprinted" style=""><code><span class="com">// Boutons radio :</span>&#x3C;ul class=&#x22;list-unstyled gc-form&#x22;&#x3E;
		&#x3C;li class=&#x22;radio&#x22;&#x3E;
			&#x3C;input id=&#x22;radio-option-1&#x22; type=&#x22;radio&#x22; name=&#x22;radio-example&#x22;&#x3E;
			&#x3C;label for=&#x22;radio-option-1&#x22;&#x3E;Option 1&#x3C;/label&#x3E;
		&#x3C;/li&#x3E;
		&#x3C;li class=&#x22;radio&#x22;&#x3E;
			&#x3C;input id=&#x22;radio-option-2&#x22; type=&#x22;radio&#x22; name=&#x22;radio-example&#x22;&#x3E;
			&#x3C;label for=&#x22;radio-option-2&#x22;&#x3E;Option 2&#x3C;/label&#x3E;
		&#x3C;/li&#x3E;
		&#x3C;li class=&#x22;radio&#x22;&#x3E;
			&#x3C;input id=&#x22;radio-option-3&#x22; type=&#x22;radio&#x22; name=&#x22;radio-example&#x22;&#x3E;
			&#x3C;label for=&#x22;radio-option-3&#x22;&#x3E;Option 3&#x3C;/label&#x3E;
		&#x3C;/li&#x3E;
	&#x3C;/ul&#x3E;</code></pre>
			</div>
		</div>
	</section>
	<section>
		<h2>Options de configuration</h2>
		<table class="table">
			<thead>
				<tr>
					<th>Option</th>
					<th>Description</th>
					<th>Mode d’emploi</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Style incorporé</td>
					<td>Utiliser la classe .form-label-inline sur chaque étiquette pour faire apparaître des cases à cocher et des boutons radio sur la même ligne</td>
					<td><code>&#x3C;label class=&#x22;form-label-inline&#x22;&#x3E;</code></td>
				</tr>
				<tr>
					<td>Styles de BOEW par défaut</td>
					<td>Les styles par défaut de la BOEW peuvent encore être configurés</td>
					<td>Suivre les conseils décrits dans les <a href="https://wet-boew.github.io/wet-boew-styleguide/design/forms-fr#checkboxes">formulaires de la BOEW</a></td>
				</tr>
			</tbody>
		</table>
	</section>
