---
{
	"title": "Checkboxes and radio buttons",
	"language": "en",
	"altLangPrefix": "gc-form",
	"pageType": "gcform",
	"pageclass": "page-type-nav cnt-wdth-lmtd",
	"breadcrumb": [
		{ "title": "Home", "link": "https://www.canada.ca/en.html" },
	],
	"dateModified": "2019-08-20",
	"share": "true"
}
---
<section>
   <h2>Purpose</h2>
   <p>Checkboxes and radio buttons with large touch targets to support behavioural patterns of interacting with the form element, and not the label.</p>
</section>
<section>
   <h2>Usage</h2>
   <div class="row wb-eqht mrgn-tp-lg mrgn-bttm-xl">
      <div class="col-md-6">
         <h3 class="mrgn-tp-0 text-success h4">Use when <span class="glyphicon glyphicon-ok-circle"></span></h3>
         <ul>
            <li>Streamline complex navigation through multiple option.</li>
            <li>Use for interactive questions and checkboxes for services and wizards</li>
         </ul>
      </div>
      <div class="col-md-6 brdr-lft">
         <h3 class="mrgn-tp-0 text-danger h4">Do not use when <span class="glyphicon glyphicon-remove-circle"></span></h3>
         <ul>
            <li>Avoid using checkboxes or radio buttons if the options are not easily comparable. Consider navigation patterns such as a topic page</li>
            <li>If supporting navigation, for a small number of options, consider using expand/collapse or tabs</li>
         </ul>
      </div>
   </div>
</section>
<section>
   <h2>Working examples</h2>
   <h3>Checkboxes</h3>
   <div class="row">
      <div class="col-md-4">
         <div class="panel panel-default">
            <div class="panel-body">
               <h5 class="mrgn-tp-0">Appearance</h5>
               <h6>Large checkboxes</h6>
               <ul class="list-unstyled gc-form">
                  <li class="checkbox">
                     <input type="checkbox" id="checkbox_1">
                     <label for="checkbox_1">Option 1</label>
                  </li>
                  <li class="checkbox">
                     <input type="checkbox" id="checkbox_2">
                     <label for="checkbox_2">Option 2</label>
                  </li>
                  <li class="checkbox">
                     <input type="checkbox" id="checkbox_3">
                     <label for="checkbox_3">Option 3</label>
                  </li>
                  <li class="checkbox">
                     <input type="checkbox" id="checkbox_4">
                     <label for="checkbox_4">Option 4</label>
                  </li>
               </ul>
               <hr>
               <h6>Small checkboxes</h6>
               <ul class="list-unstyled gc-form">
                  <li class="checkbox checkbox-small">
                     <input type="checkbox" id="confirmation-checkbox">
                     <label for="confirmation-checkbox">Single option</label>
                  </li>
               </ul>
            </div>
         </div>
      </div>
      <div class="col-md-4">
         <h5 class="mrgn-tp-0 text-success"><span class="glyphicon glyphicon-ok-circle"></span> Correct use</h5>
         <p>Compliance point(s):</p>
         <ul>
            <li>Use large checkboxes when one or more selections can be made to answer a question. It can also be used for a checklist, with short labels that do not break across lines.</li>
            <li>Use small checkboxes when making a checklist with items that would break across multiple lines or when there is a single item that can be checked.</li>
         </ul>
         <h5 class="mrgn-tp-0 text-danger"><span class="glyphicon glyphicon-remove-circle"></span> Incorrect use</h5>
         <p>Compliance point(s):</p>
         <ul>
            <li>Do not use if there is a need for users to enter a detailed answer</li>
            <li>Do not use the small checkbox pattern in wizards or questions in forms</li>
         </ul>
      </div>
      <div class="col-md-4">
         <h5 class="mrgn-tp-0">Code</h5>
         <pre class="prettyprint prettyprinted" style=""><code><span class="com">// Large checkboxes:</span>&#x3C;ul class=&#x22;list-unstyled gc-form&#x22;&#x3E;
 &#x3C;li class=&#x22;checkbox&#x22;&#x3E;
  &#x3C;input type=&#x22;checkbox&#x22; id=&#x22;checkbox_1&#x22;&#x3E;
  &#x3C;label for=&#x22;checkbox_1&#x22;&#x3E;Option 1&#x3C;/label&#x3E;
 &#x3C;/li&#x3E;
 &#x3C;li class=&#x22;checkbox&#x22;&#x3E;
  &#x3C;input type=&#x22;checkbox&#x22; id=&#x22;checkbox_2&#x22;&#x3E;
  &#x3C;label for=&#x22;checkbox_2&#x22;&#x3E;Option 2&#x3C;/label&#x3E;
 &#x3C;/li&#x3E;
 &#x3C;li class=&#x22;checkbox&#x22;&#x3E;
  &#x3C;input type=&#x22;checkbox&#x22; id=&#x22;checkbox_3&#x22;&#x3E;
  &#x3C;label for=&#x22;checkbox_3&#x22;&#x3E;Option 3&#x3C;/label&#x3E;
 &#x3C;/li&#x3E;
 &#x3C;li class=&#x22;checkbox&#x22;&#x3E;
  &#x3C;input type=&#x22;checkbox&#x22; id=&#x22;checkbox_4&#x22;&#x3E;
  &#x3C;label for=&#x22;checkbox_4&#x22;&#x3E;Option 4&#x3C;/label&#x3E;
 &#x3C;/li&#x3E;
&#x3C;/ul&#x3E;

<span class="com">// Small checkboxes:</span>&#x3C;ul class=&#x22;list-unstyled gc-form&#x22;&#x3E;
 &#x3C;li class=&#x22;checkbox checkbox-small&#x22;&#x3E;
  &#x3C;input type=&#x22;checkbox&#x22; id=&#x22;confirmation-checkbox&#x22;&#x3E;
  &#x3C;label for=&#x22;confirmation-checkbox&#x22;&#x3E;Single option&#x3C;/label&#x3E;
 &#x3C;/li&#x3E;
&#x3C;/ul&#x3E;</code></pre>
      </div>
   </div>
   <h3>Radio buttons</h3>
   <div class="row">
      <div class="col-md-4">
         <div class="panel panel-default">
            <div class="panel-body">
               <h5 class="mrgn-tp-0">Appearance</h5>
               <h6>Radio buttons</h6>
               <ul class="list-unstyled gc-form">
                  <li class="radio">
                     <input id="radio-option-1" type="radio" name="radio-example">
                     <label for="radio-option-1">Option 1</label>
                  </li>
                  <li class="radio">
                     <input id="radio-option-2" type="radio" name="radio-example">
                     <label for="radio-option-2">Option 2</label>
                  </li>
                  <li class="radio">
                     <input id="radio-option-3" type="radio" name="radio-example">
                     <label for="radio-option-3">Option 3</label>
                  </li>
               </ul>
            </div>
         </div>
      </div>
      <div class="col-md-4">
         <h5 class="mrgn-tp-0 text-success"><span class="glyphicon glyphicon-ok-circle"></span> Correct use</h5>
         <p>Compliance point(s):</p>
         <ul>
            <li>Use radio buttons when only one selection can be made.</li>
         </ul>
         <h5 class="mrgn-tp-0 text-danger"><span class="glyphicon glyphicon-remove-circle"></span> Incorrect use</h5>
         <p>Compliance point(s):</p>
         <ul>
            <li>Do not use if there is a need for users to select more than one option</li>
         </ul>
      </div>
      <div class="col-md-4">
         <h5 class="mrgn-tp-0">Code</h5>
         <pre class="prettyprint prettyprinted" style=""><code><span class="com">// Radio buttons:</span>&#x3C;ul class=&#x22;list-unstyled gc-form&#x22;&#x3E;
 &#x3C;li class=&#x22;radio&#x22;&#x3E;
  &#x3C;input id=&#x22;radio-option-1&#x22; type=&#x22;radio&#x22; name=&#x22;radio-example&#x22;&#x3E;
  &#x3C;label for=&#x22;radio-option-1&#x22;&#x3E;Option 1&#x3C;/label&#x3E;
 &#x3C;/li&#x3E;
 &#x3C;li class=&#x22;radio&#x22;&#x3E;
  &#x3C;input id=&#x22;radio-option-2&#x22; type=&#x22;radio&#x22; name=&#x22;radio-example&#x22;&#x3E;
  &#x3C;label for=&#x22;radio-option-2&#x22;&#x3E;Option 2&#x3C;/label&#x3E;
 &#x3C;/li&#x3E;
 &#x3C;li class=&#x22;radio&#x22;&#x3E;
  &#x3C;input id=&#x22;radio-option-3&#x22; type=&#x22;radio&#x22; name=&#x22;radio-example&#x22;&#x3E;
  &#x3C;label for=&#x22;radio-option-3&#x22;&#x3E;Option 3&#x3C;/label&#x3E;
 &#x3C;/li&#x3E;
&#x3C;/ul&#x3E;</code></pre>
      </div>
   </div>
</section>
<section>
   <h2>Configuration options</h2>
   <table class="table">
      <thead>
         <tr>
            <th>Option</th>
            <th>Description</th>
            <th>How to configure</th>
         </tr>
      </thead>
      <tbody>
         <tr>
            <td>Inline style</td>
            <td>Use the class .form-label-inline class on each label to make checkboxes and radio buttons appear on the same line</td>
            <td><code>&#x3C;label class=&#x22;form-label-inline&#x22;&#x3E;</code></td>
         </tr>
         <tr>
            <td>Default WET styles</td>
            <td>Default WET styles are still configurable.</a></td>
            <td>Follow the guidance from <a href="https://wet-boew.github.io/wet-boew-styleguide/design/forms-en.html#checkboxes">WET forms</td>
         </tr>
      </tbody>
   </table>
</section>
