---
{
	"title": "Gouvernement",
	"pageclass": "secondary",
	"language": "fr",
	"altLangPrefix": "government",
	"breadcrumb": [
		{ "title": "Accueil", "link": "http://www.canada.ca/fr/index.html" }
	],
	"dateModified": "2014-10-23",
	"share": "true"
}
---
<div class="row profile">
	<div class="col-md-6">
		<h1 property="name" id="wb-cont">{{{title}}}</h1>
		<p class="pagetag">Le Canada est une monarchie constitutionnelle démocratique, dont le chef d’État est un souverain et le chef du gouvernement, un premier ministre élu.</p>
		<p>Les responsabilités du gouvernement fédéral sont exercées par un <a href="#">monarque</a> et sont réparties entre les pouvoirs <a href="#">exécutif</a>, <a href="#">législatif</a> et <a href="#">judiciaire</a>.</p>
		{{>follow}}
	</div>
	<div class="col-md-6 margin-top-small hidden-sm hidden-xs">
		<img src="{{assets}}/img/520x200.png" alt="" class="pull-right img-responsive thumbnail"/>
	</div>
</div>
<div class="row">
	<section class="gc-nws col-md-12">
		<h2>Dernières nouvelles</h2>
		<div class="row">
			<section class="col-lg-4 col-md-6">
				<a href="#"><figure>
					<img src="{{assets}}/img/360x203.png" alt="" class="img-responsive"/>
					<figcaption><h3 class="h5">[Titre de la nouvelle]</h3></figcaption>
				</figure></a>
				<small>YYYY-MM-DD - Type d’élément</small>
				<p>Brève description de la nouvelle</p>
			</section>
			<section class="col-lg-4 col-md-6">
				<a href="#"><figure>
				<img src="{{assets}}/img/360x203.png" alt="" class="img-responsive"/>
				<h3>[Titre de la nouvelle]</h3>
				</figure></a>
				<small>YYYY-MM-DD - Type d’élément</small>
				<p>Brève description de la nouvelle.</p>
			</section>
			<div class="wb-feeds limit-3 col-lg-4 pull-right">
				<ul class="feeds-cont list-unstyled lst-spcd">
					<li>
						<a href="http://news.gc.ca/web/fd-fr.do?mthd=dpt&amp;ft=atom&amp;crtr.dpt1D=6675" rel="external">Communiqués de presse du gouvernement du Canada</a>
					</li>
				</ul>
				<p class="text-right"><strong><a href="#">Toutes les nouvelles</a></strong></p>
			</div>
		</div>
	</section>
	<section class="col-md-8">
		<h2>Sujets</h2>
		<div class="row wb-eqht">
			<section class="col-md-6">
				<h3 class="h5">Premier ministre</h3>
				<p>Renseignements sur le premier ministre du Canada. Comprend les priorités, des photos, des vidéos et les dernières nouvelles.</p>
			</section>
			<section class="col-md-6">
				<h3 class="h5">Ministres</h3>
				<p>Parcourir les profils des ministres pour en savoir plus sur leur portefeuille et leurs priorités.</p>
			</section>
			<div class="clearfix"></div>
			<section class="col-md-6">
				<h3 class="h5">Ministères et organismes</h3>
				<p>Liste des liens vers les ministères, organismes et autres organisations connexes du gouvernement du Canada.</p>
			</section>
			<section class="col-md-6">
				<h3 class="h5">Services publics et Forces armées</h3>
				<p>Renseignements sur les services publics et les forces armées.</p>
			</section>
			<div class="clearfix"></div>
			<section class="col-md-6">
				<h3 class="h5">Gouvernement ouvert</h3>
				<p>De quelle façon le gouvernement favorise-t-il une ouverture et une responsabilisation accrues?</p>
			</section>
			<section class="col-md-6">
				<h3 class="h5">Sources de renseignements</h3>
				<p>Collection de renseignements pancanadiens, notamment les lois, règlements, rapports, publications, statistiques et données ouvertes.</p>
			</section>
			<div class="clearfix"></div>
			<section class="col-md-6">
				<h3 class="h5">Rouages du gouvernement</h3>
				<p>Renseignements sur la prestation de services par le gouvernement du Canada.</p>
			</section>
			<section class="col-md-6">
				<h3 class="h5">Lois et règlements</h3>
				<p>Création des lois et des règlements au Canada.</p>
			</section>
		</div>
	</section>
	<aside class="col-md-4 mrgn-tp-md">
		<div class="well">
			<h2 class="mrgn-tp-0">Renseignements et services le plus souvent demandés</h2>
			<ul class="lst-spcd">
				<li><a href="#">Trouver un rapport ou une publication</a></li>
				<li><a href="#">Trouver un ministère ou un organisme</a></li>
				<li><a href="#">Parcourir les statistiques</a></li>
				<li><a href="#">Parcourir les données ouvertes</a></li>
				<li><a href="#">Parcourir l’accès à l’information - résumés</a></li>
				<li><a href="#">Trouver une loi, un règlement ou une politique</a></li>
				<li><a href="#">Trouver un communiqué de presse</a></li>
				<li><a href="#">Trouver un emploi au sein du gouvernement du Canada</a></li>
			</ul>
		</div>
	</aside>
</div>