---
{
	"title": "Government",
	"pageclass": "secondary",
	"language": "en",
	"altLangPrefix": "government",
	"breadcrumb": [
		{ "title": "Home", "link": "http://www.canada.ca/en/index.html" }
	],
	"dateModified": "2014-10-23",
	"share": "true"
}
---
<div class="row profile">
	<div class="col-md-6">
		<h1 property="name" id="wb-cont">{{{title}}}</h1>
		<p class="pagetag">Canada is a democratic constitutional monarchy, with a Sovereign as head of State and an elected Prime Minister as head of Government.</p>
		<p>The <a href="#">Monarchy</a> and the <a href="#">executive</a>, <a href="#">legislative</a> and <a href="#">judicial</a> branches of Government carry out federal responsibilities.</p>
		<section class="followus mrgn-bttm-md">
			<h2>Follow:</h2>
			<ul>
				<li><a href="#" class="youtube"><span class="wb-inv">YouTube</span></a></li>
				<li><a href="#" class="twitter"><span class="wb-inv">Twitter</span></a></li>
				<li><a href="#" class="flickr"><span class="wb-inv">Flickr</span></a></li>
				<li><a href="#" class="facebook"><span class="wb-inv">Facebook</span></a></li>
				<li><a href="#" class="foursquare"><span class="wb-inv">Foursquare</span></a></li>
				<li><a href="#" class="pinterest"><span class="wb-inv">Pinterest</span></a></li>
			</ul>
		</section>
	</div>
	<div class="col-md-6 margin-top-small hidden-sm hidden-xs">
		<img src="{{assets}}/img/520x200.png" alt="" class="pull-right img-responsive thumbnail"/>
	</div>
</div>
<div class="row">
	<section class="gc-nws col-md-12">
		<h2>Latest News</h2>
		<div class="row">
			<section class="col-lg-4 col-md-6">
				<a href="#"><figure>
					<img src="{{assets}}/img/360x203.png" alt="" class="img-responsive"/>
					<figcaption><h3 class="h5">[News title]</h3></figcaption>
				</figure></a>
				<small>YYYY-MM-DD - Type of feature</small>
				<p>Brief description of the news item.</p>
			</section>
			<section class="col-lg-4 col-md-6">
				<a href="#"><figure>
				<img src="{{assets}}/img/360x203.png" alt="" class="img-responsive"/>
				<h3>[News title]</h3>
				</figure></a>
				<small>YYYY-MM-DD - Type of feature</small>
				<p>Brief description of the news item.</p>
			</section>
			<div class="wb-feeds limit-3 col-lg-4 pull-right">
				<ul class="feeds-cont list-unstyled lst-spcd">
					<li>
						<a href="http://news.gc.ca/web/fd-en.do?mthd=dpt&amp;ft=atom&amp;crtr.dpt1D=6675" rel="external">Government of Canada News Releases</a>
					</li>
				</ul>
				<p class="text-right"><a href="#">All News</a></p>
			</div>
		</div>
	</section>
	<section class="col-md-8">
		<h2>Topics</h2>
		<div class="row wb-eqht">
			<section class="col-md-6">
				<h3 class="h5"><a href="#">Prime Minister</a></h3>
				<p>Information about the Prime Minister of Canada. Including priorities, photos, videos, and latest news.</p>
			</section>
			<section class="col-md-6">
				<h3 class="h5"><a href="#">Ministers</a></h3>
				<p>Browse Ministers' profiles and find out more about their portfolios and priorities.</p>
			</section>
			<div class="clearfix"></div>
			<section class="col-md-6">
				<h3 class="h5"><a href="#">Departments and agencies</a></h3>
				<p>List of links of current Government of Canada Departments, agencies and other related organizations.</p>
			</section>
			<section class="col-md-6">
				<h3 class="h5"><a href="#">Public Services & Military</a></h3>
				<p>Information about public services and military.</p>
			</section>
			<div class="clearfix"></div>
			<section class="col-md-6">
				<h3 class="h5"><a href="#">Open government</a></h3>
				<p>How government is promoting greater openess and accountability.</p>
			</section>
			<section class="col-md-6">
				<h3 class="h5"><a href="#">Information sources</a></h3>
				<p>Government-wide collection of information including acts, regulations, reports, publications, statistics and open data.</p>
			</section>
			<div class="clearfix"></div>
			<section class="col-md-6">
				<h3 class="h5"><a href="#">How government works</a></h3>
				<p>Learn about how services are delivered by the Government of Canada.</p>
			</section>
			<section class="col-md-6">
				<h3 class="h5"><a href="#">Laws and regulations</a></h3>
				<p>How laws ad regulations are created in Canada.</p>
			</section>
		</div>
	</section>
	<aside class="col-md-4 mrgn-tp-md">
		<div class="well">
			<h2 class="mrgn-tp-0">Most requested information and services</h2>
			<ul class="lst-spcd">
				<li><a href="#">Find a report or publication</a></li>
				<li><a href="#">Find a department or agency</a></li>
				<li><a href="#">Browse statistics</a></li>
				<li><a href="#">Browse open data</a></li>
				<li><a href="#">Browse access to information - summaries</a></li>
				<li><a href="#">Find an act, regulation or policy</a></li>
				<li><a href="#">Find a news release</a></li>
				<li><a href="#">Find a job with the Government of Canada</a></li>
			</ul>
		</div>
	</aside>
</div>