---
{
	"title": "Home - Canada.ca",
	"language": "en",
	"altLangPrefix": "home",
	"pageclass": "home page-type-nav",
	"breadcrumb": [
		{ "title": "Home", "link": "https://www.canada.ca/en.html" }
	],
	"dateModified": "2018-12-03",
	"share": "true",
	"noMainContainer": "true",
	"noContentTitle": "true",
	"breadcrumb": "false",
}
---
<div class="home-banner">
	<div class="container">
		<div class="innerbox">
			<h1 property="name" id="wb-cont">Canada.ca</h1>
			<p>The official website of the Government of Canada</p>
		</div>
	</div>
</div>

<section class="home-most-requested well well-sm brdr-0">
	<div class="container">
		<h2>Most requested</h2>
		<ul class="wb-eqht list-unstyled mrgn-tp-md lst-spcd-2 list-responsive">
			<li><a href="https://www.canada.ca/en/government/sign-in-online-account.html">Login to an account</a></li>
			<li><a href="https://www.canada.ca/en/services/benefits/ei.html">Employment Insurance and leave</a></li>
			<li><a href="https://www.canada.ca/en/services/benefits/publicpensions.html">Public pensions (CPP and OAS)</a></li>
			<li><a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/canadian-passports.html">Get a passport</a></li>
			<li><a href="https://weather.gc.ca/canada_e.html">Weather</a></li>
			<li><a href="https://www.canada.ca/en/government/grants-funding.html">Grants and funding</a></li>
			<li><a href="https://www.canada.ca/en/government/change-address.html">Change your address</a></li>
			<li><a href="http://www.healthycanadians.gc.ca/recall-alert-rappel-avis/index-eng.php">Product recalls and alerts</a></li>
		</ul>
	</div>
</section>


<section class="container">
	<h2 class="wb-inv">Services and information</h2>

	<div class="wb-eqht row">

		<div class="col-lg-4 col-md-6">
			<h3><a href="https://www.canada.ca/en/services/jobs.html">Jobs</a></h3>
			<p>Find a job, training, hiring programs, work permits, Social Insurance Number (SIN)</p>
		</div>
		<div class="col-lg-4 col-md-6">
			<h3><a href="https://www.canada.ca/en/services/immigration-citizenship.html">Immigration</a></h3>
			<p>Visit, work, study, immigrate, refugees, permanant residents, apply, check status</p>
		</div>

		<div class="col-lg-4 col-md-6">
			<h3><a href="https://travel.gc.ca">Travel</a></h3>
			<p>In Canada or abroad, advice, advisories, passports, visit Canada, events, attractions</p>
		</div>

		<div class="col-lg-4 col-md-6">
			<h3><a href="https://www.canada.ca/en/services/business.html">Business and industry</a></h3>
			<p>Starting a business, permits, copyright, business support, selling to government</p>
		</div>
		<div class="col-lg-4 col-md-6">
			<h3><a href="https://www.canada.ca/en/services/benefits.html">Benefits</a></h3>
			<p>EI, family and sickness leave, pensions, housing, student aid, disabilities</p>
		</div>
		<div class="col-lg-4 col-md-6">
			<h3><a href="https://www.canada.ca/en/services/health.html">Health</a></h3>
			<p>Food, nutrition, diseases, vaccines, drugs, product safety and recalls</p>
		</div>
		<div class="col-lg-4 col-md-6">
			<h3><a href="https://www.canada.ca/en/services/taxes.html">Taxes</a></h3>
			<p>Income tax, payroll, GST/HST,  contribution limits, tax credits, charities</p>
		</div>
		<div class="col-lg-4 col-md-6">
			<h3><a href="https://www.canada.ca/en/services/environment.html">Environment and natural resources</a></h3>
			<p>Weather, climate, agriculture, wildlife, pollution, conservation, fisheries</p>
		</div>
		<div class="col-lg-4 col-md-6">
			<h3><a href="https://www.canada.ca/en/services/defence.html">National security and defence</a></h3>
			<p>Military, transportation and cyber security, securing the border, counter-terrorism</p>
		</div>
		<div class="col-lg-4 col-md-6">
			<h3><a href="https://www.canada.ca/en/services/culture.html">Culture, history and sport</a></h3>
			<p>Arts, media, heritage, official languages, national identity and funding</p>
		</div>
		<div class="col-lg-4 col-md-6">
			<h3><a href="https://www.canada.ca/en/services/policing.html">Policing, justice and emergencies</a></h3>
			<p>Safety, justice system, prepare for emergencies, services for victims of crime</p>
		</div>
		<div class="col-lg-4 col-md-6">
			<h3><a href="https://www.canada.ca/en/services/transport.html">Transport and infrastructure</a></h3>
			<p>Aviation, marine, road, rail, dangerous goods, infrastructure projects</p>
		</div>
		<div class="col-lg-4 col-md-6">
			<h3><a href="http://international.gc.ca/world-monde/index.aspx?lang=eng">Canada and the world</a></h3>
			<p>Foreign policy, trade agreements, development work, global issues</p>
		</div>
		<div class="col-lg-4 col-md-6">
			<h3><a href="https://www.canada.ca/en/services/finance.html">Money and finances</a></h3>
			<p>Personal finance, credit reports, fraud protection, paying for education</p>
		</div>
		<div class="col-lg-4 col-md-6">
			<h3><a href="https://www.canada.ca/en/services/science.html">Science and innovation</a></h3>
			<p>Scientific research on health, environment and space, grants and funding</p>
		</div>
	</div>
</section>

<section class="container mrgn-bttm-lg">
	<h2>Focus on</h2>
	<div class="wb-eqht row">
		<div class="col-lg-4 col-md-6">
			<h3><a href="http://www.aadnc-aandc.gc.ca/eng/1461766373625/1461766394598">Indigenous peoples</a></h3>
			<p>Programs and services for First Nations, Inuit and Métis</p>
		</div>
		<div class="col-lg-4 col-md-6">
			<h3><a href="https://www.canada.ca/en/services/veterans.html">Veterans</a></h3>
			<p>Services for current and former military, <abbr title="Royal Canadian Mounted Police">RCMP</abbr> and their families</p>
		</div>
		<div class="col-lg-4 col-md-6">
			<h3><a href="https://www.canada.ca/en/services/youth.html">Youth</a></h3>
			<p>Programs and services for teenagers and young adults</p>
		</div>
	</div>
</section>

<section class="home-your-gov well well-sm brdr-0">
	<div class="container">
		<h2>Your government</h2>
		<div class="row">
			<div class="col-lg-7 col-xs-12 col-md-6">
				<div class="wb-eqht row">
					<div class="col-lg-6">
						<h3><a href="https://www.canada.ca/en/contact.html">Contact us</a></h3>
						<p>Department and agency contacts, change your address</p>
					</div>
					<div class="col-lg-6">
						<h3><a href="https://www.canada.ca/en/government/dept.html">Departments and agencies</a></h3>
						<p>A list of current government and related organizations</p>
					</div>
					<div class="col-lg-6">
						<h3><a href="https://www.canada.ca/en/government/system.html">How government works</a></h3>
						<p>Government structure, priorities, finances and regulations</p>
					</div>
					<div class="col-lg-6">
						<h3><a href="https://www.canada.ca/en/services/youth.html">Open government</a></h3>
						<p>Accessible government for everyone, open information and data, open dialogue</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="container">
	<h2>Government initiatives</h2>
	<div class="row">
		<div class="col-sm-6">
			<a class="figcaption" href="#">
				<figure class="well well-sm brdr-rds-0">
					<img class="img-responsive full-width" src="{{assets}}/img/520x200.png" alt=""/>
					<figcaption class="h3">[Feature hyperlink text]</figcaption>
					<p>Brief description of the feature being promoted.</p>
				</figure>
			</a>
		</div>
		<div class="col-sm-6">
			<a class="figcaption" href="#">
				<figure class="well well-sm brdr-rds-0">
					<img class="img-responsive full-width" src="{{assets}}/img/520x200.png" alt=""/>
					<figcaption class="h3">[Feature hyperlink text]</figcaption>
					<p>Brief description of the feature being promoted.</p>
				</figure>
			</a>
		</div>
	</div>
</section>
