---
{
	"title": "Accueil - Canada.ca",
	"language": "fr",
	"altLangPrefix": "home",
	"pageclass": "home page-type-nav",
	"breadcrumb": [
		{ "title": "Home", "link": "https://www.canada.ca/fr.html" }
	],
	"dateModified": "2018-12-03",
	"share": "true",
	"noMainContainer": "true",
	"noContentTitle": "true",
	"breadcrumb": "false",
}
---
<div class="home-banner">
	<div class="container">
		<div class="innerbox">
			<h1 property="name" id="wb-cont">Canada.ca</h1>
			<p>Le site officiel du gouvernement du Canada</p>
		</div>
	</div>
</div>

<section class="home-most-requested well well-sm brdr-0">
	<div class="container">
		<h2>En demande</h2>
		<ul class="wb-eqht list-unstyled mrgn-tp-md lst-spcd-2 list-responsive">
			<li><a href="https://www.canada.ca/fr/gouvernement/ouvrir-session-dossier-compte-en-ligne.html">Se connecter à un compte</a></li>
			<li><a href="https://meteo.gc.ca/canada_f.html">Météo</a></li>
			<li><a href="https://www.canada.ca/fr/services/emplois/opportunites.html">Trouver un emploi</a></li>
			<li><a href="https://www.canada.ca/fr/services/prestations/ae.html">Assurance-emploi et congés</a></li>
			<li><a href="https://www.canada.ca/fr/services/prestations/pensionspubliques/rpc.html">Régime de pensions du Canada</a></li>
			<li><a href="https://www.canada.ca/fr/services/prestations/pensionspubliques.html">Pension de la Sécurité de la vieillesse</a></li>
			<li><a href="https://www.canada.ca/fr/services/prestations/handicap.html">Prestations d’invalidité</a></li>
			<li><a href="http://canadiensensante.gc.ca/recall-alert-rappel-avis/index-fra.php">Obtenir un passeport</a></li>
		</ul>
	</div>
</section>
<section class="container">
	<h2 class="wb-inv">Services et renseignements</h2>
	<div class="wb-eqht row">
		<div class="col-lg-4 col-md-6">
			<h3><a href="https://www.canada.ca/fr/services/emplois.html">Emplois</a></h3>
			<p>Trouver un emploi, formation, programmes d'embauche, permis de travail, numéro d'assurance sociale (NAS)</p>
		</div>
		<div class="col-lg-4 col-md-6">
			<h3><a href="https://www.canada.ca/fr/services/immigration-citoyennete.html">Immigration et citoyenneté</a></h3>
			<p>Visiter, travailler, étudier, immigrer, réfugiés, résidents permanents, présenter une demande, vérifier l'état de la demande</p>
		</div>
		<div class="col-lg-4 col-md-6">
			<h3><a href="https://voyage.gc.ca">Voyage</a></h3>
			<p>Au Canada ou à l'étranger, conseils, avis, passeports, visiter le Canada, événements, attractions</p>
		</div>
		<div class="col-lg-4 col-md-6">
			<h3><a href="https://www.canada.ca/fr/services/entreprises.html">Entreprises et industrie</a></h3>
			<p>Démarrer une entreprise, permis, propriété intellectuelle, soutien aux entreprises, vendre au gouvernement</p>
		</div>
		<div class="col-lg-4 col-md-6">
			<h3><a href="https://www.canada.ca/fr/services/prestations.html">Prestations</a></h3>
			<p>Assurance emploi, congés familiaux et congés de maladie, pensions, logement, aide financière aux études, personnes invalides</p>
		</div>
		<div class="col-lg-4 col-md-6">
			<h3><a href="https://www.canada.ca/fr/services/sante.html">Santé</a></h3>
			<p>Alimentation, nutrition, maladies, vaccins, médicaments, sécurité des produits et rappels</p>
		</div>
		<div class="col-lg-4 col-md-6">
			<h3><a href="https://www.canada.ca/fr/services/impots.html">Impôts</a></h3>
			<p>Impôt sur le revenu, TPS/TVH, limites de contribution, credits d’impôt, organismes de charité </p>
		</div>
		<div class="col-lg-4 col-md-6">
			<h3><a href="https://www.canada.ca/fr/services/environnement.html">Environnement et ressources naturelles</a></h3>
			<p>Météo, climat, agriculture, faune, pollution, conservation, pêches</p>
		</div>
		<div class="col-lg-4 col-md-6">
			<h3><a href="https://www.canada.ca/fr/services/defense.html">Sécurité nationale et défense</a></h3>
			<p>Militaire, cybersécurité, sûreté des transports, sécuriser la frontière, contre-terrorisme</p>
		</div>
		<div class="col-lg-4 col-md-6">
			<h3><a href="https://www.canada.ca/fr/services/culture.html">Culture, histoire et sport</a></h3>
			<p>Arts, médias, patrimoine, langues officielles, identité nationale et financement</p>
		</div>
		<div class="col-lg-4 col-md-6">
			<h3><a href="https://www.canada.ca/fr/services/police.html">Services de police, justice et urgences</a></h3>
			<p>Sécurité, justice, se préparer en cas d'urgence, services aux victimes d'actes criminels</p>
		</div>
		<div class="col-lg-4 col-md-6">
			<h3><a href="https://www.canada.ca/fr/services/transport.html">Transport et infrastructure</a></h3>
			<p>Aviation, transport maritime, transport routier, transport ferroviaire, marchandises dangereuses, projets d'infrastructure</p>
		</div>
		<div class="col-lg-4 col-md-6">
			<h3><a href="http://international.gc.ca/world-monde/index.aspx?lang=fra">Le Canada et le monde</a></h3>
			<p>Politique étrangère, ententes commerciales, développement international, enjeux mondiaux</p>
		</div>
		<div class="col-lg-4 col-md-6">
			<h3><a href="https://www.canada.ca/fr/services/finance.html">Argent et finances</a></h3>
			<p>Finances personnelles, dossiers de crédit, se protéger de la fraude, financer votre éducation</p>
		</div>
		<div class="col-lg-4 col-md-6">
			<h3><a href="https://www.canada.ca/fr/services/science.html">Science et innovation</a></h3>
			<p>Recherche scientifique sur la santé, l'environnement et l'espace, subventions et financement</p>
		</div>
	</div>
</section>
<section class="container mrgn-bttm-lg">
	<h2>Par public</h2>
	<div class="wb-eqht row">
		<div class="col-lg-4 col-md-6">
			<h3><a href="https://www.aadnc-aandc.gc.ca/fra/1461766373625/1461766394598">Autochtones</a></h3>
			<p>Programmes et services pour les Premières nations, les Inuits et les Métis</p>
		</div>
		<div class="col-lg-4 col-md-6">
			<h3><a href="https://www.canada.ca/fr/services/veterans.html">Vétérans</a></h3>
			<p>Services pour les membres actifs et retraités des Forces armées canadiennes ou de la <abbr title="Gendarmerie royale du Canada">GRC</abbr> et leurs familles</p>
		</div>
		<div class="col-lg-4 col-md-6">
			<h3><a href="https://www.canada.ca/fr/services/jeunesse.html">Jeunesse</a></h3>
			<p>Programmes et services pour adolescents et jeunes adultes</p>
		</div>
	</div>
</section>
<section class="home-your-gov well well-sm brdr-0">
	<div class="container">
		<h2>Votre gouvernement</h2>
		<div class="row">
			<div class="col-lg-7 col-xs-12 col-md-6">
				<div class="wb-eqht row">
					<div class="col-lg-6">
						<h3><a href="https://www.canada.ca/fr/contact.html">Contactez-nous</a></h3>
						<p>Coordonnées des ministères et des agences, changez votre adresse</p>
					</div>
					<div class="col-lg-6">
						<h3><a href="https://www.canada.ca/fr/gouvernement/min.html">Ministères et organismes</a></h3>
						<p>Une liste des organisations gouvernementales et connexes actuelles</p>
					</div>
					<div class="col-lg-6">
						<h3><a href="https://www.canada.ca/fr/gouvernement/systeme.html">Comment le gouvernement fonctionne</a></h3>
						<p>La structure, les priorités, les finances et les réglementations du gouvernement</p>
					</div>
					<div class="col-lg-6">
						<h3><a href="https://www.canada.ca/fr/services/jeunesse.html">Gouvernement ouvert</a></h3>
						<p>Gouvernement accessible à tous, informations et données ouvertes, dialogue ouvert</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="container">
	<h2>Initiatives du gouvernement</h2>
	<div class="row">
		<div class="col-sm-6">
			<a class="figcaption" href="#">
				<figure class="well well-sm brdr-rds-0">
					<img class="img-responsive full-width" src="{{assets}}/img/520x200.png" alt=""/>
					<figcaption class="h3">[Lien à l’élément en vedette]</figcaption>
					<p>Brève description de l’élément en vedette.</p>
				</figure>
			</a>
		</div>
		<div class="col-sm-6">
			<a class="figcaption" href="#">
				<figure class="well well-sm brdr-rds-0">
					<img class="img-responsive full-width" src="{{assets}}/img/520x200.png" alt=""/>
					<figcaption class="h3">[Lien à l’élément en vedette]</figcaption>
					<p>Brève description de l’élément en vedette.</p>
				</figure>
			</a>
		</div>
	</div>
</section>
