---
{
	"title": "Bienvenue au site Canada.ca",
	"language": "fr",
	"altLangPrefix": "home",
	"pageclass": "home",
	"promotion": "carousel",
	"breadcrumb": "false",
	"toplevel": true,
	"dateModified": "2014-02-19",
	"share": "true",
	"report": "true"
}
---
<section>
	<div class="row">
		<div class="col-md-12">
			<h2 class="h1">Services et renseignements les plus demandés</h2>
			<p class="pagetag">Accédez rapidement et facilement aux services et aux renseignements les plus demandés du gouvernement du Canada.</p>
		</div>
	</div>
	<div class="wb-eqht row">
		<section class="col-lg-4 col-md-6 gc-drmt">
			<h3 class="h5"><a href="http://www.esdc.gc.ca/fr/emplois/opportunites/index.page?" rel="external">Trouver un emploi</a></h3>
			<p>Trouvez des possibilités d’emploi et des programmes d’embauche dans les secteurs public et privé, demandez ou prolongez un permis de travail, obtenez un numéro d’assurance sociale, une vérification du casier judiciaire ou une vérification de sécurité.</p>
		</section>
		<section class="col-lg-4 col-md-6 gc-drmt">
			<h3 class="h5"><a href="http://wwww.canada.ca/fr/services/prestations/ae/index.html">Assurance-emploi</a></h3>
			<p>Renseignements sur les prestations temporaires d’assurance-emploi pour les travailleurs, les prestations de maladie, les prestations de pêcheur, les prestations en lien avec la situation familiale, ainsi que la marche à suivre pour présenter une demande en ligne et faire une déclaration.</p>
		</section>
		<div class="clearfix visible-md"></div>
		<section class="col-lg-4 col-md-6 gc-drmt">
			<h3 class="h5"><a href="http://www.cra-arc.gc.ca/esrvc-srvce/tx/ndvdls/myccnt/menu-fra.html" rel="external">Mon dossier pour les particuliers &ndash; Agence du revenu du Canada</a></h3>
			<p>Renseignements sur le fonctionnement du service, la façon de vous inscrire et ce que vous pouvez faire en ligne.</p>
		</section>
		<div class="clearfix visible-lg"></div>
		<section class="col-lg-4 col-md-6 gc-drmt">
			<h3 class="h5"><a href="http://www.servicecanada.gc.ca/fra/services/pensions/rpc/retraite/index.shtml" rel="external">Régime de pensions du Canada</a></h3>
			<p>Renseignements sur les critères d’admissibilité, sur le choix du moment où vous commencerez à recevoir votre pension, sur la façon de présenter une demande en ligne et sur les montants auxquels vous aurez droit.</p>
		</section>
		<div class="clearfix visible-md"></div>
		<section class="col-lg-4 col-md-6 gc-drmt">
			<h3 class="h5"><a href="http://www.servicecanada.gc.ca/fra/services/pensions/sv/pension/index.shtml" rel="external">Pension de la Sécurité de la vieillesse</a></h3>
			<p>Renseignements sur une pension que vous pouvez recevoir si vous avez 65 ans ou plus et que vous avez habité au Canada pendant au moins 10&nbsp;ans (même si vous n’y avez jamais travaillé).</p>
		</section>
		<section class="col-lg-4 col-md-6 gc-drmt">
			<h3 class="h5"><a href="http://www.cic.gc.ca/francais/residents/passeport.asp" rel="external">Obtenir un passeport</a></h3>
			<p>Demandes de passeport, bureaux des passeports et délais de traitement pour les renouvellements et les nouvelles demandes.</p>
		</section>
		<div class="clearfix visible-md visible-lg"></div>
		<section class="col-lg-4 col-md-6 gc-drmt">
			<h3 class="h5"><a href="http://meteo.gc.ca/?&amp;wb48617274=AAB6929C" rel="external">Renseignements météorologiques</a></h3>
			<p>Renseignements sur les conditions actuelles, les prévisions à court et long terme et les alertes météo publiques, accès aux prévisions maritimes, à la Cote air santé et aux données climatiques historiques.</p>
		</section>
		<section class="col-lg-4 col-md-6 gc-drmt">
			<h3 class="h5"><a href="http://www.forces.ca/fr/home" rel="external">S'enrôler dans les Forces armées canadiennes</a></h3>
			<p>Renseignements sur les emplois dans les Forces armées canadiennes, la rémunération, les avantages sociaux et l’emplacement des centres de recrutement.</p>
		</section>
		<div class="clearfix visible-md"></div>
		<section class="col-lg-4 col-md-6 gc-drmt">
			<h3 class="h5"><a href="http://www.entreprisescanada.ca/fra/page/2865/" rel="external">Planification d’entreprise</a></h3>
			<p>Des listes de contrôle et des guides sur le démarrage d’entreprise, des conseils utiles ainsi que des modèles et des exemples de plans d’affaires.</p>
		</section>
		<div class="clearfix visible-lg"></div>
		<section class="col-lg-4 col-md-6 gc-drmt">
			<h3 class="h5"><a href="#" rel="external">Aînés</a></h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
		</section>
		<div class="clearfix visible-md"></div>
		<section class="col-lg-4 col-md-6 gc-drmt">
			<h3 class="h5"><a href="#" rel="external">Autochtones</a></h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
		</section>
		<section class="col-lg-4 col-md-6 gc-drmt">
			<h3 class="h5"><a href="#">Anciens combattants</a></h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
		</section>
	</div>
	<div class="row margin-top-large">
		<p class="col-md-12 text-right learnmore"><strong><a href="http://www.canada.ca/fr/services/index.html">Tous les services</a></strong></p>
	</div>
</section>
