---
{
	"title": "Canada.ca theme",
	"language": "en",
	"altLangPrefix": "index",
	"breadcrumb": [
		{ "title": "Home", "link": "http://www.canada.ca/en/index.html" }
	],
	"tag": "GCWeb",
	"dateModified": "2014-10-25",
	"share": "false"
}
---
<section>
	<h2>English</h2>
	<ul>
		<li><a href="home-en.html">Home page</a></li>
		<li><a href="theme-en.html">Theme home page</a></li>
		<li><a href="topic-en.html">Topic home page</a></li>
		<li><a href="institution-en.html">Institution page</a></li>
		<li><a href="content-en.html">Content page</a></li>
		<li><a href="video-en.html">Video content page</a></li>
		<li><a href="feedback-en.html">Feedback form</a></li>
		<li><a href="widgets-en.html">Widget page</a></li>
		<li><a href="blog-en.html">Blog</a></li>
		<li><a href="partners/index-en.html">Section menu examples</a></li>
		<li><a href="splashpage.html">Splash page</a></li>
		<li><a href="servermessage-en.html">Server message page</a></li>
		<li><a href="servermessage-en-fr.html">Server message page (English/French)</a></li>
		<li><a href="campaign-en.html">Campaign page</a></li>
		<li><a href="event-en.html">Event page</a></li>
		<li><a href="service-en.html">Service initiation pages</a></li>
		<li><a href="government-en.html">Government landing page</a></li>
		<li><a href="dept-en.html">Departments and agencies listing</a></li>
		<li><a href="ministerial-en.html">Ministerial profiles</a></li>
		<li><a href="act-en.html">Acts profile</a></li>
		<li><a href="regulations-en.html">Regulations profile</a></li>
	</ul>
</section>

<section>
	<h2>French</h2>
	<ul>
		<li><a href="home-fr.html">Home page</a></li>
		<li><a href="theme-fr.html">Theme home page</a></li>
		<li><a href="topic-fr.html">Topic home page</a></li>
		<li><a href="institution-fr.html">Institution page</a></li>
		<li><a href="content-fr.html">Content page</a></li>
		<li><a href="video-fr.html">Video content page</a></li>
		<li><a href="feedback-fr.html">Feedback form</a></li>
		<li><a href="widgets-fr.html">Widget page</a></li>
		<li><a href="blog-fr.html">Blog</a></li>
		<li><a href="partners/index-fr.html">Section menu examples</a></li>
		<li><a href="splashpage.html">Splash page</a></li>
		<li><a href="servermessage-fr.html">Server message page</a></li>
		<li><a href="servermessage-fr-en.html">Server message page (French/English)</a></li>
		<li><a href="campaign-fr.html">Campaign page<strong> - Need translation</strong></a></li>
		<li><a href="event-fr.html">Event page<strong> - Need translation</strong></a></li>
		<li><a href="service-fr.html">Service initiation pages<strong> - Need translation</strong></a></li>
		<li><a href="government-fr.html">Government landing page<strong> - Need translation</strong></a></li>
		<li><a href="dept-fr.html">Departments and agencies listing<strong> - Need translation</strong></a></li>
		<li><a href="ministerial-fr.html">Ministerial profiles<strong> - Need translation</strong></a></li>
		<li><a href="act-fr.html">Acts profile<strong> - Need translation</strong></a></li>
		<li><a href="regulations-fr.html">Regulations profile<strong> - Need translation</strong></a></li>
	</ul>
</section>
