---
{
	"title": "Canada.ca",
	"toplevel": false,
	"pageclass": "splash",
	"description-en": "English description",
	"description-fr": "Description en français",
	"creator-en": "English name of the content author",
	"creator-fr": "Nom en français de l'auteur du contenu",
	"subject-en": "English subject terms",
	"subject-fr": "Termes de sujet en anglais",
	"language": "en",
	"section": "message",
	"dateModified": "2014-02-19"
}
---

<h1 class="wb-invisible">{title}}</h1>
<div class="container">
<div class="row text-center">
	<p class="col-md-6">Government of Canada</p>
	<p class="col-md-6">Gouvernement du Canada</p>
</div>
<div class="row">
<div class="col-md-offset-1 col-md-4 text-center">
<p><a class="btn btn-primary btn-sm" href="index-en.html">English</a></p>
<p><a href="{{rooturl}}/en/transparency/terms.html">Terms & conditions</a></p>
</div>
<div class="col-md-offset-2 col-md-4 text-center" lang="fr">
<p><a class="btn btn-primary btn-sm" href="index-fr.html">Français</a></p>
<p><a href="{{rooturl}}/fr/transparence/avis.html">Avis</a></p>
</div>
</div>
</div>