---
{
	"title": "Trouver un emploi",
	"language":	"fr",
	"altLangPrefix": "index-alt",
	"pageclass": "theme",
	"breadcrumb": [
		{ "title": "Accuiel", "link": "http://www.canada.ca/fr/index.html"},
		{ "title": "Tous les services", "link": "http://www.canada.ca/fr/services/index.html" },
		{ "title": "Emplois et milieu de travail", "link": "http://www.canada.ca/fr/services/emplois/index.html" }
	],
	"secondlevel": false,
	"dateModified": "2014-02-19",
	"share": "false"
}
---
<p class="pagetag">Trouvez des possibilités d’emploi et des programmes d’embauche dans les secteurs public et privé, demandez ou prolongez un permis de travail, obtenez un numéro d’assurance sociale, une vérification du casier judiciaire ou une vérification de sécurité.</p>
<div class="wb-eqht">
	<section class="sect-lnks">
		<h2><a href="http://www.travailleraucanada.gc.ca/pieces_jointes-fra.do?cid=201" rel="external">Trouver un emploi au Canada</a></h2>
		<p>Rechercher les perspectives d'emploi actuelles au Canada, s'abonner à une alerte par courriel, consulter les tendances du marché du travail et trouver des ressources pour les chercheurs d'emploi et les employeurs.</p>
	</section>
	<section class="sect-lnks">
		<h2><a href="http://jobs-emplois.gc.ca/index-fra.htm?wb48617274=D2612128" rel="external">Trouver un emploi au gouvernement du Canada</a></h2>
		<p>Rechercher les possibilités d'emploi actuelles à la fonction publique fédérale. Comprend des renseignements sur les programmes d'embauche fédéraux.</p>
	</section>
	<section class="sect-lnks">
		<h2><a href="http://jobs-emplois.gc.ca/centres/landing-renvoi/students-etudiants-fra.php?wb48617274=28FE3BC2" rel="external">Emplois dans la fonction publique pour les étudiants</a></h2>
		<p>Information sur les perspectives d'emploi au gouvernement du Canada, les taux de rémunération et les programmes d'embauche pour les étudiants et les nouveaux diplômés.</p>
	</section>
	<section class="sect-lnks">
		<h2><a href="http://www.forces.ca/fr/home" rel="external">S'enrôler dans les Forces armées canadiennes</a></h2>
		<p>Information sur les emplois au sein des Forces armées canadiennes, les salaires et avantages sociaux et l'emplacement des centres de recrutement.</p>
	</section>
	<section class="sect-lnks">
		<h2><a href="http://www.rcmp-grc.gc.ca/recruiting-recrutement/index-fra.htm" rel="external">Carrières à la Gendarmerie royale du Canada</a></h2>
		<p>Information sur les activités de recrutement, les programmes d'embauche et les carrières dans les services de police fédérale et comprend les salaires et les avantages sociaux.</p>
	</section>
	<section class="sect-lnks">
		<h2><a href="http://www.cic.gc.ca/francais/travailler/index.asp" rel="external">Obtenir un permis de travail</a></h2>
		<p>Information pour demander ou prolonger un permis de travail et outils pour les travailleurs étrangers et les employeurs canadiens.</p>
	</section>
	<section class="sect-lnks">
		<h2><a href="/fr/services/defense/verification.html">Vérification du casier judiciaire et vérification de sécurité</a></h2>
		<p>Information sur la vérification, à l'échelle fédérale, du casier judiciaire et des antécédents en vue d'un travail auprès de personnes vulnérables, les services de prise d'empreintes digitales et les programmes d'attestation de sécurité en matière d'emploi.</p>
	</section>
	<section class="sect-lnks">
		<h2><a href="http://www.servicecanada.gc.ca/fra/sc/nas/index.shtml" rel="external">Numéro d'assurance sociale (<abbr>NAS</abbr>)</a></h2>
		<p>Information pour demander, remplacer ou modifier un <abbr title="Numéro d’assurance sociale">NAS</abbr>.</p>
	</section>
	<section class="sect-lnks">
		<h2><a href="http://www.cic.gc.ca/francais/immigrer/qualifie/index.asp" rel="external">Immigrer au Canada en tant que travailleur qualifié (fédéral)</a></h2>
		<p>Information sur l'admissibilité, les étapes pour présenter une demande, les délais de traitement et les mesures à prendre avant d'arriver au Canada.</p>
	</section>
</div>
<div class="wb-eqht priorities">
	<section class="sect-lnks thumbnail">
		<a href="http://www.travailleraucanada.gc.ca/alerte_emplois.do?lang=fra">
			<img src="{{assets}}/img/cars.jpg" alt="" class="img-responsive" />
			<h2>Abonnez-vous à Alerte-Emploi</h2>
		</a>
		<p>Alerte-Emploi est un service de courriel gratuit qui vous informe des emplois locaux qui correspondent à vos compétences.</p>
	</section>
	<section class="sect-lnks thumbnail">
		<a href="http://www.catsa-acsta.gc.ca/page.aspx?id=4&amp;pname=Whattopack_Faitesvosbagages&amp;lang=fr">
			<img src="{{assets}}/img/abstract.jpg" alt="" class="img-responsive" />
			<h2>Vous voyagez bientôt en avion?</h2>
		</a>
		<p>Avant de prendre l’avion, renseignez-vous sur ce que vous pouvez mettre dans vos bagages afin d’être prêt pour le contrôle de sécurité.</p>
	</section>
	<section class="sect-lnks thumbnail">
		<a href="http://www.ppt.gc.ca/info/form.aspx?lang=fra">
			<img src="{{assets}}/img/cats.jpg" alt="" class="img-responsive" />
			<h2>Vous voyagez à l’étranger?</h2>
		</a>
		<p>Vous trouverez ici les plus récents formulaires de demande de passeport en ligne. Vous n’avez qu’à les remplir, à les imprimer et à les envoyer!</p>
	</section>
</div>
