---
{
	"title": "Thème Canada.ca",
	"language": "fr",
	"altLangPrefix": "index",
	"breadcrumb": [
		{ "title": "Accueil", "link": "https://www.canada.ca/fr.html" }
	],
	"tag": "GCWeb",
	"dateModified": "2017-10-02",
	"share": "true"
}
---
<table class="wb-tables table table-striped table-hover">
  <thead>
    <tr>
      <th>Working example</th>
      <th>Last update</th>
      <th><span id="result_box5" lang="fr">Catégorie</span></th>
      <th><span id="result_box2" lang="fr">La description</span></th>
      <th><span id="result_box4" lang="fr">Statut</span></th>
      <th><span id="result_box3" lang="fr">Spécification</span></th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="wb-tables table table-striped table-hover small"><a href="splashpage.html">Page d’entrée</a></td>
      <td><time>2017-05-04</time></td>
      <td>Modèles</td>
      <td>La page de renvoi initiale d&rsquo;un visiteur à Canada.ca, offrant l&rsquo;option d&rsquo;entrer dans le site en français ou en anglais.</td>
      <td><span class="label label-info">Besoin de revalider</span></td>
      <td>C&amp;AI</td>
      <td>v1.4</td>
    </tr>
    <tr>
      <td class="wb-tables table table-striped table-hover small"><a href="home-fr.html">Page d’accueil</a></td>
      <td><time>2018-06-27</time></td>
      <td>Modèles</td>
      <td>Affiche les produits et services du gouvernement du Canada les plus vus et les plus importants.</td>
      <td><span class="label label-warning">Dépassé</span></td>
      <td><a href="https://www.canada.ca/fr/secretariat-conseil-tresor/services/communications-gouvernementales/specifications-contenu-architecture-information-canada/modeles-specifications-detailles/page-accueil.html">C&amp;AI</a></td>
      <td>v1.4</td>
    </tr>
    <tr>
      <td class="wb-tables table table-striped table-hover small"><a href="">Page de thème</a></td>
      <td><time>2017-12-05</time></td>
      <td>Modèles</td>
      <td>Organise des sujets qui sont logiques pour les personnes afin qu&rsquo;ils   puissent accéder aux renseignements et services à l&rsquo;échelle du   gouvernement.</td>
      <td><span class="label label-info">Besoin de revalider</span></td>
      <td><a href="https://www.canada.ca/fr/secretariat-conseil-tresor/services/communications-gouvernementales/specifications-contenu-architecture-information-canada/modeles-specifications-detailles/pages-theme.html">C&amp;AI</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td class="wb-tables table table-striped table-hover small"><a href="">Page de sujet</a></td>
      <td><time>2017-12-05</time></td>
      <td>Modèles</td>
      <td><ul>
          <li>Permet aux personnes de découvrir des services et des renseignements liés à un sujet précis dans l&rsquo;ensemble du gouvernement</li>
          <li>Dirige les personnes vers des sous-sujets et des pages de destination</li>
        </ul></td>
      <td><span class="label label-info">Besoin de revalider</span></td>
      <td><a href="https://www.canada.ca/fr/secretariat-conseil-tresor/services/communications-gouvernementales/specifications-contenu-architecture-information-canada/modeles-specifications-detailles/page-sujet.html">C&amp;AI</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td class="wb-tables table table-striped table-hover small"><a href="">Page des ministères et organismes</a></td>
      <td><time>2017-11-30</time></td>
      <td>Modèles</td>
      <td>Fournit des liens vers toutes les institutions fédérales</td>
      <td><span class="label label-info">Besoin de revalider</span></td>
      <td><a href="https://www.canada.ca/fr/secretariat-conseil-tresor/services/communications-gouvernementales/specifications-contenu-architecture-information-canada/modeles-specifications-detailles/page-ministeres-organismes.html">C&amp;AI</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td class="wb-tables table table-striped table-hover small"><a href="institution-fr.html">Page de profil institutionnel</a></td>
      <td><time>2017-12-05</time></td>
      <td>Modèles/Profile pages</td>
      <td>Une page de profil institutionnel représente la page d&rsquo;accueil unique d&rsquo;une institution du gouvernement du Canada sur Canada.ca.</td>
      <td><span class="label label-info">Besoin de revalider</span></td>
      <td><a href="https://www.canada.ca/fr/secretariat-conseil-tresor/services/communications-gouvernementales/specifications-contenu-architecture-information-canada/modeles-specifications-detailles/pages-profil-institutionnel.html#profil">C&amp;AI</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td class="wb-tables table table-striped table-hover small"><a href="institution-arms-fr.html">Page de profil institutionnel pour un organisme indépendant</a></td>
      <td><time>2018-03-21</time></td>
      <td>Modèles/Profile pages</td>
      <td>&nbsp;</td>
      <td><span class="label label-info">Besoin de revalider</span></td>
      <td><a href="https://www.canada.ca/fr/secretariat-conseil-tresor/services/communications-gouvernementales/specifications-contenu-architecture-information-canada/modeles-specifications-detailles/pages-profil-institutionnel.html#identification">C&amp;AI</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td class="wb-tables table table-striped table-hover small"><a href="organizational-fr.html">Page de profil organisationnel</a></td>
      <td><time> 2017-12-05</time></td>
      <td>Modèles/Profile pages</td>
      <td>Une page de profil organisationnel représente la page d&rsquo;accueil unique d&rsquo;une organisation associée à une institution du gouvernement du Canada sur Canada.ca.</td>
      <td><span class="label label-info">Besoin de revalider</span></td>
      <td><a href="https://www.canada.ca/fr/secretariat-conseil-tresor/services/communications-gouvernementales/specifications-contenu-architecture-information-canada/modeles-specifications-detailles/pages-profil-organisationnel.html#profil">C&amp;AI</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td class="wb-tables table table-striped table-hover small"><a href="organizational-arms-fr.html">Page de profil organisationnel pour un organisme indépendant</a></td>
      <td><time> 2017-12-05</time></td>
      <td>Modèles/Profile pages</td>
      <td>&nbsp;</td>
      <td><span class="label label-info">Besoin de revalider</span></td>
      <td><a href="https://www.canada.ca/fr/secretariat-conseil-tresor/services/communications-gouvernementales/specifications-contenu-architecture-information-canada/modeles-specifications-detailles/pages-profil-organisationnel.html#identification">C&amp;AI</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td class="wb-tables table table-striped table-hover small">Profil de partenariat ou d’entente de collaboration</td>
      <td></td>
      <td>Modèles</td>
      <td>Une page de profil de partenariat ou d&rsquo;entente de collaboration   représente une page d&rsquo;accueil unique du site Canada.ca visant une entité   associée à une ou plusieurs institutions du gouvernement du Canada.</td>
      <td><span class="label label-info">Besoin de revalider</span></td>
      <td><a href="https://www.canada.ca/fr/secretariat-conseil-tresor/services/communications-gouvernementales/specifications-contenu-architecture-information-canada/modeles-specifications-detailles/profil-partenariat-entente-collaboration.html">C&amp;AI</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td><a href="service-fr.html">Page de lancement d'un service simple</a></td>
      <td><time> 2016-11-04 </time></td>
      <td>Modèles/Pages de lancement d’un service</td>
      <td>Les pages d&rsquo;initiation de services permettent d&rsquo;aider les visiteurs de Canada.ca à lancer une tâche. Pour certaines tâches, ces pages permettent également l&rsquo;achèvement de tâches.</td>
      <td><span class="label label-info">Besoin de revalider</span></td>
      <td><a href="https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-information-architecture-specification/templates-detailed-specifications/service-initiation-pages.html">C&amp;IA</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td><a href="advancedservice/index-fr.html">Page de lancement d'un service avancé</a></td>
      <td><time> 2017-04-07</time></td>
      <td>Modèles/Pages de lancement d’un service</td>
      <td>&nbsp;</td>
      <td><span class="label label-info">Besoin de revalider</span></td>
      <td><a href="https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-information-architecture-specification/templates-detailed-specifications/service-initiation-pages.html">C&amp;IA</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td class="wb-tables table table-striped table-hover small"><a href="/fr/secretariat-conseil-tresor/services/communications-gouvernementales/specifications-contenu-architecture-information-canada/modeles-specifications-detailles/pages-comptes-rendu-rendement-services-insitutionnels.html">Page de compte rendu du rendement des services institutionnels</a></td>
      <td>2017-09-29</td>
      <td>Modèles</td>
      <td>Les pages de compte rendu du rendement des services institutionnels   rassemblent toutes les normes de service d&rsquo;une institution et   fournissent des renseignements sur le compte rendu du rendement annuel,   conformément aux exigences de la Politique sur les services.</td>
      <td><span class="label label-info">Besoin de revalider</span></td>
      <td><a href="https://www.canada.ca/fr/secretariat-conseil-tresor/services/communications-gouvernementales/specifications-contenu-architecture-information-canada/modeles-specifications-detailles/pages-comptes-rendu-rendement-services-insitutionnels.html">C&amp;AI</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td class="wb-tables table table-striped table-hover small">Page de description de programme</td>
      <td><time></time></td>
      <td>Modèles</td>
      <td>Une page de description de programme fournit des informations sur une activité administrative interne qui offre un service.</td>
      <td><span class="label label-info">Arriéré</span></td>
      <td><a href="https://www.canada.ca/fr/secretariat-conseil-tresor/services/communications-gouvernementales/specifications-contenu-architecture-information-canada/modeles-specifications-detailles/pages-description-programme.html">C&amp;AI</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td class="wb-tables table table-striped table-hover small"><a href="/fr/secretariat-conseil-tresor/services/communications-gouvernementales/specifications-contenu-architecture-information-canada/modeles-specifications-detailles/pages-profil-ministres.html">Page de profil des ministres</a></td>
      <td><time> 2017-04-07</time></td>
      <td>Modèles</td>
      <td>Une page de profil de ministre représente la  page d&rsquo;accueil unique pour   un ou une ministre du gouvernement du Canada et comprend des   renseignements biographiques ainsi que des liens renvoyant aux   initiatives et activités récentes du ou de la ministre.</td>
      <td><span class="label label-info">Besoin de revalider</span></td>
      <td><a href="https://www.canada.ca/fr/secretariat-conseil-tresor/services/communications-gouvernementales/specifications-contenu-architecture-information-canada/modeles-specifications-detailles/pages-profil-ministres.html">C&amp;AI</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td class="wb-tables table table-striped table-hover small">Page d’accueil de collection</td>
      <td>&nbsp;</td>
      <td>Modèles</td>
      <td><ul>
          <li>Permet aux personnes de d&rsquo;effectuer des recherches dans une collection</li>
          <li>Présente les éléments les plus populaires dans une collection</li>
          <li>Donne accès à une collection de contenu commun produite par toutes les institutions fédérales ou la plupart</li>
          <li>Donne accès à un contenu contextuel et historique lié à une collection comme des rapports ou des évènements</li>
        </ul></td>
      <td><span class="label label-info">Arriéré</span></td>
      <td><a href="https://www.canada.ca/fr/secretariat-conseil-tresor/services/communications-gouvernementales/specifications-contenu-architecture-information-canada/modeles-specifications-detailles/pages-cibles-collections.html">C&amp;AI</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td class="wb-tables table table-striped table-hover small">Page de profil de consultation</td>
      <td></td>
      <td>Modèles</td>
      <td>Les pages de profil de consultation offrent un accès aux consultations   et aux activités de mobilisation du gouvernement du Canada.</td>
      <td><span class="label label-info">Arriéré</span></td>
      <td><a href="https://www.canada.ca/fr/secretariat-conseil-tresor/services/communications-gouvernementales/specifications-contenu-architecture-information-canada/modeles-specifications-detailles/pages-consultations.html">C&amp;AI</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td class="wb-tables table table-striped table-hover small"><a href="/fr/secretariat-conseil-tresor/services/communications-gouvernementales/specifications-contenu-architecture-information-canada/modeles-specifications-detailles/pages-lois-reglements.html#profil-loi">Page de profil d’une loi</a></td>
      <td><time>2014-10-23</time></td>
      <td>Modèles/Pages des lois et des règlements</td>
      <td>La collection des lois et règlements donne accès aux lois et règlements du gouvernement du Canada par l&rsquo;intermédiaire de leur profil respectif.</td>
      <td><span class="label label-info">Besoin de revalider</span></td>
      <td><a href="/fr/secretariat-conseil-tresor/services/communications-gouvernementales/specifications-contenu-architecture-information-canada/modeles-specifications-detailles/pages-lois-reglements.html#profil-loi">C&amp;AI</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td class="wb-tables table table-striped table-hover small"><a href="/fr/secretariat-conseil-tresor/services/communications-gouvernementales/specifications-contenu-architecture-information-canada/modeles-specifications-detailles/pages-lois-reglements.html#profil-reglement">Page de profil d’un règlement</a></td>
      <td>2014-10-23</td>
      <td>Modèles/Pages des lois et des règlements</td>
      <td>&nbsp;</td>
      <td><span class="label label-info">Besoin de revalider</span></td>
      <td><a href="https://www.canada.ca/fr/secretariat-conseil-tresor/services/communications-gouvernementales/specifications-contenu-architecture-information-canada/modeles-specifications-detailles/pages-lois-reglements.html#profil-reglement">C&amp;AI</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td height="62" class="wb-tables table table-striped table-hover small">Page de profil de directive relative à la législation</td>
      <td></td>
      <td>Modèles</td>
      <td>Les directives sur les lois fournissent des renseignements afin de   faciliter la sensibilisation, la compréhension et la conformité en ce   qui a trait aux exigences légales et réglementaire. Elles peuvent aussi   décrire leur administration. Elles n&rsquo;établissent pas de nouvelles   exigences et elles ne sont pas exécutoires.</td>
      <td><span class="label label-info">Arriéré</span></td>
      <td><a href="https://www.canada.ca/fr/secretariat-conseil-tresor/services/communications-gouvernementales/specifications-contenu-architecture-information-canada/modeles-specifications-detailles/pages-directives-lois.html">C&amp;AI</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td class="wb-tables table table-striped table-hover small"><a href="/fr/secretariat-conseil-tresor/services/communications-gouvernementales/specifications-contenu-architecture-information-canada/modeles-specifications-detailles/pages-publics-cibles.html">Page des publics cibles du gouvernement</a></td>
      <td><time>2017-12-05</time></td>
      <td>Modèles</td>
      <td>Donne accès aux renseignements et aux services pertinents pour le public cible de l&rsquo;ensemble du gouvernement comme :
        <ul>
          <li>les peuples autochtones;</li>
          <li>les jeunes;</li>
          <li>les anciens combattants.</li>
        </ul></td>
      <td><span class="label label-info">Besoin de revalider</span></td>
      <td><a href="https://www.canada.ca/fr/secretariat-conseil-tresor/services/communications-gouvernementales/specifications-contenu-architecture-information-canada/modeles-specifications-detailles/pages-publics-cibles.html">C&amp;AI</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td class="wb-tables table table-striped table-hover small"><a href="news-fr.html">Page d’accueil des nouvelles</a></td>
      <td><time>2017-10-02</time></td>
      <td>Modèles/Pages de nouvelles</td>
      <td>« Nouvelles » est une agrégation de produits de nouvelles promus par   l&rsquo;ensemble ou la plupart des institutions du gouvernement du Canada.</td>
      <td><span class="label label-info">Besoin de revalider</span></td>
      <td><a href="https://www.canada.ca/fr/secretariat-conseil-tresor/services/communications-gouvernementales/specifications-contenu-architecture-information-canada/modeles-specifications-detailles/pages-nouvelles.html#accueil">C&amp;AI</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td class="wb-tables table table-striped table-hover small">Page de résultats des nouvelles</td>
      <td></td>
      <td>Modèles/Pages de nouvelles</td>
      <td>Permet aux personnes de trouver de façon efficiente un produit de nouvelle en filtrant rapidement les résultats en fonction des suivantes :
        <UL>
          <LI>mots clés;</LI>
          <LI>zones de métadonnées préétablies</LI>
        </UL></td>
      <td><span class="label label-info">Arriéré</span></td>
      <td><a href="https://www.canada.ca/fr/secretariat-conseil-tresor/services/communications-gouvernementales/specifications-contenu-architecture-information-canada/modeles-specifications-detailles/pages-nouvelles.html#resultats">C&amp;AI</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td class="wb-tables table table-striped table-hover small">Page de nouvelles</td>
      <td><time></time></td>
      <td>Modèles/Pages de nouvelles</td>
      <td><ul>
          <LI>Permet une personne de lire un produit de nouvelle</LI>
          <LI>Relie un produit de nouvelle à des :
            <UL>
              <LI>sujets</LI>
              <LI>institutions</LI>
              <LI>ministres</LI>
            </UL>
          </LI>
          <LI>Est utilisé pour présenter les produits de nouvelles</LI>
        </ul></td>
      <td><span class="label label-info">Arriéré</span></td>
      <td><a href="https://www.canada.ca/fr/secretariat-conseil-tresor/services/communications-gouvernementales/specifications-contenu-architecture-information-canada/modeles-specifications-detailles/pages-nouvelles.html#produit">C&amp;AI</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td><a href="campaign-fr.html">Page d'une campagne - Exemple 1</a></td>
      <td><time>2017-10-02</time></td>
      <td>Templates/Page d'une campagne</td>
      <td>Les pages de campagne sont des pages promotionnelles à durée limitée qui répondent à la volonté de communication, de formation, de commercialisation, de sensibilisation et d&rsquo;appel à l&rsquo;action du gouvernement du Canada.</td>
      <td><span class="label label-info">Besoin de revalider</span></td>
      <td><a href="https://www.canada.ca/fr/secretariat-conseil-tresor/services/communications-gouvernementales/specifications-contenu-architecture-information-canada/modeles-specifications-detailles/pages-campagnes.html">C&amp;IA</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td><a href="campaign2-fr.html">Page d'une campagne - Exemple 2</a></td>
      <td><time>2017-08-18</time></td>
      <td>Templates/Page d'une campagne</td>
      <td>&nbsp;</td>
      <td><span class="label label-info">Besoin de revalider</span></td>
      <td><a href="https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-information-architecture-specification/templates-detailed-specifications/campaign-pages.html">C&amp;IA</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td class="wb-tables table table-striped table-hover small"><a href="/fr/secretariat-conseil-tresor/services/communications-gouvernementales/specifications-contenu-architecture-information-canada/modeles-specifications-detailles/pages-evenements-promotionnels.html">Page d’événements promotionnels</a></td>
      <td><time>2017-10-02</time></td>
      <td>Modèles</td>
      <td>Une page d&rsquo;événement promotionnel est une page de destination qui décrit   et explique un événement officiel organisé par le gouvernement et qui   se déroule dans un contexte promotionnel comme un festival, une   célébration ou une remise de prix.</td>
      <td><span class="label label-info">Besoin de revalide</span></td>
      <td><a href="https://www.canada.ca/fr/secretariat-conseil-tresor/services/communications-gouvernementales/specifications-contenu-architecture-information-canada/modeles-specifications-detailles/pages-evenements-promotionnels.html">C&amp;AI</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td class="wb-tables table table-striped table-hover small"><a href="">Page de coordonnées</a></td>
      <td>2017-12-05</td>
      <td>Modèles</td>
      <td>Page de coordonnées d'une institution</td>
      <td><span class="label label-info">Besoin de revalider</span></td>
      <td><a href="https://www.canada.ca/fr/secretariat-conseil-tresor/services/communications-gouvernementales/specifications-contenu-architecture-information-canada/modeles-specifications-detailles/pages-contactez-nous.html">C&amp;AI</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td class="wb-tables table table-striped table-hover small">Page de recherche</td>
      <td><time></time></td>
      <td>Modèles</td>
      <td>Fournit le modèle du moteur de recherche dans Canada.ca.</td>
      <td><span class="label label-info">Arriéré</span></td>
      <td><a href="https://www.canada.ca/fr/secretariat-conseil-tresor/services/communications-gouvernementales/specifications-contenu-architecture-information-canada/modeles-specifications-detailles/pages-recherche.html">C&amp;AI</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td class="wb-tables table table-striped table-hover small">Page d’index court</td>
      <td><time></time></td>
      <td><a href="index/index.html">Modèles/Index pages</a></td>
      <td>Les pages d&rsquo;index sont des pages de navigation présentant une liste   globale de titres assortis d&rsquo;hyperliens menant à d&rsquo;autres pages ou   documents.</td>
      <td><span class="label label-info">Arriéré</span></td>
      <td><a href="/fr/secretariat-conseil-tresor/services/communications-gouvernementales/specifications-contenu-architecture-information-canada/modeles-specifications-detailles/pages-index.html#court">C&amp;AI</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td class="wb-tables table table-striped table-hover small"><a href="/fr/secretariat-conseil-tresor/services/communications-gouvernementales/specifications-contenu-architecture-information-canada/modeles-specifications-detailles/pages-index.html#long">Page d’index long</a></td>
      <td><time> 2017-10-02</time></td>
      <td><a href="index/index.html">Modèles/Index pages</a></td>
      <td>&nbsp;</td>
      <td><span class="label label-info">Besoin de revalider</span></td>
      <td><a href="/fr/secretariat-conseil-tresor/services/communications-gouvernementales/specifications-contenu-architecture-information-canada/modeles-specifications-detailles/pages-index.html#long">C&amp;AI</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td class="wb-tables table table-striped table-hover small"><a href="/fr/secretariat-conseil-tresor/services/communications-gouvernementales/specifications-contenu-architecture-information-canada/modeles-specifications-detailles/pages-index.html#filtre">Page d’index de filtre</a></td>
      <td><time></time></td>
      <td><a href="index/index.html">Modèles/Index pages</a></td>
      <td>&nbsp;</td>
      <td><span class="label label-info">Besoin de revalider</span></td>
      <td><a href="/fr/secretariat-conseil-tresor/services/communications-gouvernementales/specifications-contenu-architecture-information-canada/modeles-specifications-detailles/pages-index.html#filtre">C&amp;AI</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td class="wb-tables table table-striped table-hover small">Page d’index à facettes</td>
      <td></td>
      <td><a href="index/index.html">Modèles/Index pages</a></td>
      <td>&nbsp;</td>
      <td><span class="label label-info">Arriéré</span></td>
      <td><a href="/fr/secretariat-conseil-tresor/services/communications-gouvernementales/specifications-contenu-architecture-information-canada/modeles-specifications-detailles/pages-index.html#facettes">C&amp;AI</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td class="wb-tables table table-striped table-hover small"><a href="content-fr.html">Page de contenu</a></td>
      <td><time>2017-09-29</time></td>
      <td>Modèles</td>
      <td>Page de destination générique</td>
      <td><span class="label label-info">Besoin de revalider</span></td>
      <td><a href="https://www.canada.ca/fr/secretariat-conseil-tresor/services/communications-gouvernementales/specifications-contenu-architecture-information-canada/modeles-specifications-detailles/pages-destination-generiques.html">C&amp;AI</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td><a href="archived-fr.html">Page archivée</a></td>
      <td><time>2016-10-06</time></td>
      <td>Modèles</td>
      <td>Page archivée</td>
      <td><span class="label label-success">Informatif</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="content-signedoff-fr.html">Page de contenu - Session Fermée</a></td>
      <td><time> 2016-03-09</time></td>
      <td>Modèles</td>
      <td>Session Fermée/Session Ouverte</td>
      <td><span class="label label-success">Informatif</span></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="content-signedon-fr.html">Page de contenu - Session Ouverte</a></td>
      <td><time> 2016-03-09</time></td>
      <td>Modèles</td>
      <td>Session Fermée/Session Ouverte</td>
      <td><span class="label label-success">Informatif</span></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="feedback-fr.html">Formulaire de rétroaction</a></td>
      <td><time>2014-02-28</time></td>
      <td>Modèles</td>
      <td>Formulaire de rétroaction</td>
      <td><span class="label label-success">Informatif</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="widgets-fr.html">Page de gadgets</a></td>
      <td><time>2014-06-12</time></td>
      <td>Modèles</td>
      <td>Page de gadgets</td>
      <td><span class="label label-success">Informatif</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="servermessage-fr.html">Page de message du serveur</a></td>
      <td><time>2017-05-04</time></td>
      <td>Modèles</td>
      <td>Page de message du serveur</td>
      <td><span class="label label-success">Informatif</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="servermessage-en-fr.html">Page de message du serveur - anglais/français</a></td>
      <td><time>2017-05-04</time></td>
      <td>Modèles</td>
      <td>Page de message du serveur</td>
      <td><span class="label label-success">Informatif</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="404-fr.html">Page d'erreur 404</a></td>
      <td><time>2017-05-04</time></td>
      <td>Modèles</td>
      <td>Page d'erreur 404</td>
      <td><span class="label label-success">Informatif</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="404-en-fr.html">Page d'erreur 404 - anglais/français</a></td>
      <td><time>2017-05-04</time></td>
      <td>Modèles</td>
      <td>Page d'erreur 404</td>
      <td><span class="label label-success">Informatif</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>En-tête de la navigation générale</td>
      <td></td>
      <td>Thème</td>
      <td>En-têtes, pieds de page et la navigation</td>
      <td><span class="label label-info">Arriéré</span></td>
      <td><a href="https://www.canada.ca/fr/secretariat-conseil-tresor/services/communications-gouvernementales/specifications-contenu-architecture-information-canada/en-tetes-pieds-page-navigation.html#toc1">C&amp;AI</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td>Autres éléments de l’en-tête</td>
      <td></td>
      <td>Thème</td>
      <td>En-têtes, pieds de page et la navigation</td>
      <td><span class="label label-info">Arriéré</span></td>
      <td><a href="https://www.canada.ca/fr/secretariat-conseil-tresor/services/communications-gouvernementales/specifications-contenu-architecture-information-canada/en-tetes-pieds-page-navigation.html#toc2">C&amp;AI</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td>Pied de page du contenu principal</td>
      <td></td>
      <td>Thème</td>
      <td>En-têtes, pieds de page et la navigation</td>
      <td><span class="label label-info">Arriéré</span></td>
      <td><a href="https://www.canada.ca/fr/secretariat-conseil-tresor/services/communications-gouvernementales/specifications-contenu-architecture-information-canada/en-tetes-pieds-page-navigation.html#toc3">C&amp;AI</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td>Pied de page de la navigation générale</td>
      <td></td>
      <td>Thème</td>
      <td>En-têtes, pieds de page et la navigation</td>
      <td><span class="label label-info">Arriéré</span></td>
      <td><a href="https://www.canada.ca/fr/secretariat-conseil-tresor/services/communications-gouvernementales/specifications-contenu-architecture-information-canada/en-tetes-pieds-page-navigation.html#toc4">C&amp;AI</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td>En-tête et pied de page simplifié</td>
      <td></td>
      <td>Thème</td>
      <td>En-têtes, pieds de page et la navigation</td>
      <td><span class="label label-info">Arriéré</span></td>
      <td><a href="https://www.canada.ca/fr/secretariat-conseil-tresor/services/communications-gouvernementales/specifications-contenu-architecture-information-canada/en-tetes-pieds-page-navigation.html#simplifie">C&amp;AI</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td>Scénarios d’opérations</td>
      <td></td>
      <td>Thème</td>
      <td>En-têtes, pieds de page et la navigation</td>
      <td><span class="label label-info">Arriéré</span></td>
      <td><a href="https://www.canada.ca/fr/secretariat-conseil-tresor/services/communications-gouvernementales/specifications-contenu-architecture-information-canada/en-tetes-pieds-page-navigation.html#operations">C&amp;AI</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td>Menus de navigation locale</td>
      <td></td>
      <td>Thème</td>
      <td>En-têtes, pieds de page et la navigation</td>
      <td><span class="label label-info">Arriéré</span></td>
      <td><a href="https://www.canada.ca/fr/secretariat-conseil-tresor/services/communications-gouvernementales/specifications-contenu-architecture-information-canada/en-tetes-pieds-page-navigation.html#interieur">C&amp;AI</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td><a href="localnav/task1/index-fr.html">Exemples avec un menu de navigation locale</a></td>
      <td><time>2017-09-29</time></td>
      <td>Thème</td>
      <td>En-têtes, pieds de page et la navigation</td>
      <td><span class="label label-success">Informatif</span></td>
      <td><a href="https://www.canada.ca/fr/secretariat-conseil-tresor/services/communications-gouvernementales/specifications-contenu-architecture-information-canada/en-tetes-pieds-page-navigation.html#toc7">C&amp;AI</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td><a href="components-fr.html">Page de composantes</a></td>
      <td><time>2018-03-02</time></td>
      <td>Page de composantes - anglais</td>
      <td><span id="result_box" lang="fr">Exemples de composants</span></td>
      <td><span class="label label-success">Informatif</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="video-fr.html">Page de contenu vidéo</a></td>
      <td><time>2014-08-26</time></td>
      <td>Page de composantes </td>
      <td>Exemple de vidéo</td>
      <td><span class="label label-success">Informatif</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="http://wet-boew.github.io/wet-boew-styleguide/v4/design/buttons-fr.html">Boutons</a></td>
      <td><time> 2016-10-17</time></td>
      <td>Page de composantes </td>
      <td>Utilisez des boutons pour créer un appel à l'action qui incite   l'utilisateur à soumettre du contenu à partir d'un formulaire. De plus,   utilisez des boutons pour amener les utilisateurs à une page Web qui   présente des renseignements supplémentaires. </td>
      <td><span class="label label-success">Informational</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="http://wet-boew.github.io/themes-dist/GCWeb/demos/tabs/tabs-carousel-fr.html">Carrousel</a></td>
      <td><time> 2018-04-18</time></td>
      <td>Page de composantes </td>
      <td>Comprime plusieurs images et légendes superposées et fourni des controls   qui permettent à l'utilisateur de choisi l'image à afficher.</td>
      <td><span class="label label-success">Informational</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="http://wet-boew.github.io/themes-dist/GCWeb/docs/ref/charts/charts-fr.html">Graphiques</a></td>
      3
      <td><time>2015-03-10</time></td>
      <td>Page de composantes </td>
      <td>Dynamically generates charts and graphs from table data.</td>
      <td><span class="label label-success">Informational</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href=" 	http://wet-boew.github.io/themes-dist/GCWeb/demos/details/details-fr.html">Collapsible content</a></td>
      <td><time>2014-07-21</time></td>
      <td>Page de composantes </td>
      <td>Les éléments HTML5 « details » et « summary » sont utilisés pour fournir le contenu en arborescence affichable/masquable. Ce composant ajoute le soutien pour ces éléments dans les navigateurs qui n'ont pas déjà la prise en charge native.</td>
      <td><span class="label label-success">Informational</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="http://wet-boew.github.io/themes-dist/GCWeb/institution-contact-fr.html">Coordonnées</a></td>
      <td><time>2017-12-05</time></td>
      <td>Page de composantes </td>
      <td>&nbsp;</td>
      <td><span class="label label-success">Informational</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="http://wet-boew.github.io/themes-dist/GCWeb/theme-fr.html">Context-specific features</a></td>
      <td><time>2017-12-05</time></td>
      <td>Page de composantes </td>
      <td>&nbsp;</td>
      <td><span class="label label-success">Informational</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="http://wet-boew.github.io/wet-boew-styleguide/v4/design/alerts-fr.html">Contextual alerts</a></td>
      <td><time>2016-10-17</time></td>
      <td>Page de composantes </td>
      <td>Utilisez cette fonction afin de fournir des messages de rétroaction contextuels pour les mesures habituelles prises par les utilisateurs. Faites un choix à partir d'une poignée de messages d'alertes disponibles et souples.</td>
      <td><span class="label label-success">Informational</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="http://wet-boew.github.io/themes-dist/GCWeb/topic-fr.html">Collaborateurs</a></td>
      <td><time>2017-12-05</time></td>
      <td>Page de composantes </td>
      <td>&nbsp;</td>
      <td><span class="label label-success">Informational</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="http://wet-boew.github.io/themes-dist/GCWeb/docs/ref/tables/tables-fr.html">Data tables</a></td>
      <td><time>2014-10-18</time></td>
      <td>Page de composantes </td>
      <td>Integrates the DataTables plugin into WET providing searching, sorting,   filtering, pagination and other advanced features for tables.</td>
      <td><span class="label label-success">Informational</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="http://wet-boew.github.io/themes-dist/GCWeb/demos/lightbox/lightbox-fr.html">Disclaimer overlay</a></td>
      <td><time>2015-05-12</time></td>
      <td>Page de composantes </td>
      <td>&nbsp;</td>
      <td><span class="label label-success">Informational</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="http://wet-boew.github.io/themes-dist/GCWeb/components-fr.html">Lien de téléchargement</a></td>
      <td><time>2014-08-26</time></td>
      <td>Page de composantes </td>
      <td>Les liens de téléchargement servent à renvoyer ou à lier à des fichiers de format autre que HTML sur les pages Web de Canada.ca.</td>
      <td><span class="label label-success">Informational</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="http://wet-boew.github.io/wet-boew-styleguide/v4/design/icons-fr.html">Icônes</a></td>
      <td><time>2017-06-05</time></td>
      <td>Page de composantes </td>
      <td>Utilisez l'un des deux ensembles d'icônes, les <span lang="en">Glyphicons</span> ou la police <span lang="en">Font Awesome</span> à des fins décoratives. </td>
      <td><span class="label label-success">Informational</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="http://wet-boew.github.io/wet-boew-styleguide/v4/design/images-fr.html">Images</a></td>
      <td><time>2016-10-17</time></td>
      <td>Page de composantes </td>
      <td>Utiliser des images afin de représenter visuellement un nom  (personne,   lieu, chose) ou un verbe (action). Une image est un artefact visuel   statique à deux dimensions qui représente un genre de contenu non   textuel. Il est classifié comme décoratif, simple, complexe ou une image   de texte.</td>
      <td><span class="label label-success">Informational</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="http://wet-boew.github.io/themes-dist/GCWeb/content-fr.html">Institutional byline</a></td>
      <td><time>2017-09-29</time></td>
      <td>Page de composantes </td>
      <td>&nbsp;</td>
      <td><span class="label label-success">Informational</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Interactive questions</td>
      <td><time></time></td>
      <td>Page de composantes </td>
      <td>&nbsp;</td>
      <td><span class="label label-success">Informational</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="http://wet-boew.github.io/themes-dist/GCWeb/institution-fr.html">Latest news</a></td>
      <td><time>2017-12-05</time></td>
      <td>Page de composantes </td>
      <td>&nbsp;</td>
      <td><span class="label label-success">Informational</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="http://wet-boew.github.io/themes-dist/GCWeb/topic-fr.html">En demande </a></td>
      <td><time>2017-12-05</time></td>
      <td>Page de composantes </td>
      <td>&nbsp;</td>
      <td><span class="label label-success">Informational</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="http://wet-boew.github.io/themes-dist/GCWeb/topic-fr.html">Autres renseignements pour les</a></td>
      <td><time>2017-12-05</time></td>
      <td>Page de composantes </td>
      <td>&nbsp;</td>
      <td><span class="label label-success">Informational</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="http://wet-boew.github.io/themes-dist/GCWeb/docs/ref/multimedia/multimedia-fr.html">Multimedia (video and audio)</a></td>
      <td><time>2018-04-18</time></td>
      <td>Page de composantes </td>
      <td><p>Fournir un lecteur multimédia accessible permettant d'intégrer des contenus vidéo et audio sur les pages Web.</p></td>
      <td><span class="label label-success">Informational</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Promotional feature banner </td>
      <td><time></time></td>
      <td>Page de composantes </td>
      <td>&nbsp;</td>
      <td><span class="label label-success">Informational</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Related links</td>
      <td><time></time></td>
      <td>Page de composantes </td>
      <td>&nbsp;</td>
      <td><span class="label label-success">Informational</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="http://wet-boew.github.io/themes-dist/GCWeb/topic-fr.html">Services et renseignements</a></td>
      <td><time>2017-12-05</time></td>
      <td>Page de composantes </td>
      <td>&nbsp;</td>
      <td><span class="label label-success">Informational</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="http://wet-boew.github.io/themes-dist/GCWeb/topic-fr.html">Social media channels block (follow box)</a></td>
      <td><time>2017-12-05</time></td>
      <td>Page de composantes </td>
      <td>&nbsp;</td>
      <td><span class="label label-success">Informational</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="http://wet-boew.github.io/themes-dist/GCWeb/widgets-fr.html">Social media feeds widget</a></td>
      <td><time>2014-06-12</time></td>
      <td>Page de composantes </td>
      <td>&nbsp;</td>
      <td><span class="label label-success">Informational</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="http://wet-boew.github.io/themes-dist/GCWeb/topic-fr.html">Ce que nous faisons</a></td>
      <td><time>2017-12-05</time></td>
      <td>Page de composantes </td>
      <td>&nbsp;</td>
      <td><span class="label label-success">Informational</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </tbody>
</table>
<section>
  <h3>Plugiciel du thème</h3>
  <ul>
    <li><a href="demos/data-json/data-json-fr.html">Data JSON</a></li>
    <li><a href="demos/doaction/tblfilter-fr.html">Exécuter des actions</a></li>
    <li><a href="demos/data-json/template-fr.html">Gabarit HTML5</a></li>
    <li><a href="demos/jsonmanager/jsonmanager-fr.html">Gestionnaire JSON</a></li>
    <li><a href="demos/urlmapping/tblfilter-fr.html">Correspondance d'URL - Filtrage de tableau</a></li>
    <li><a href="demos/urlmapping/ajax-fr.html">Correspondance d'URL - Ajax</a></li>
    <li><a href="demos/urlmapping/patches-fr.html">Correspondance d'URL - Appliquer des correctifs JSON</a></li>
    <li><a href="demos/fieldflow/fieldflow-fr.html">Déroulement de champs</a></li>
    <li><a href="demos/fieldflow/basic-fr.html">Déroulement de champs avec des configurations de base</a></li>
    <li><a href="demos/fieldflow/advanced-fr.html">Déroulement de champs avancé</a></li>
  </ul>
</section>
<section>
  <h2>Notes et autres</h2>
  <ul>
    <li><a href="deprecated-fr.html">Balisage déconseillé</a></li>
    <li><a href="http://wet-boew.github.io/themes-dist/theme-gcwu-fegc/institution-fr.html">Thème FEGC - Français - Gabarit de profil institutionnel</a></li>
    <li><a href="http://wet-boew.github.io/themes-dist/theme-gcwu-fegc/institution-en.html" hreflang="en">Thème FEGC - Anglais - Gabarit de profil institutionnel</a></li>
  </ul>
</section>