---
{
	"title": "Canada.ca theme",
	"language": "en",
	"altLangPrefix": "index",
	"breadcrumb": [
		{ "title": "Home", "link": "http://www.canada.ca/en/index.html" }
	],
	"tag": "GCWeb",
	"dateModified": "2014-10-25",
	"share": "true"
}
---
<section>
	<h2>English</h2>
	<ul>
		<li><a href="home-en.html">Home page</a></li>
		<li><a href="theme-en.html">Theme landing page <span class="label label-default">updated</span></a></li>
		<li><a href="topic-en.html">Topic landing page <span class="label label-default">updated</span></a></li>
		<li><a href="institution-en.html">Institutional profile <span class="label label-default">updated</span></a></li>
		<li><a href="institution-carousel-en.html">Institutional profile with carousel <span class="label label-default">updated</span></a></li>
		<li><a href="content-en.html">Content page</a></li>
		<li><a href="content-signedoff-en.html">Content page - Signed Off</a></li>
		<li><a href="content-signedon-en.html">Content page - Signed On</a></li>
		<li><a href="components-en.html">Components page</a></li>
		<li><a href="video-en.html">Video content page</a></li>
		<li><a href="feedback-en.html">Feedback form</a></li>
		<li><a href="widgets-en.html">Widget page</a></li>
		<li><a href="blog-en.html">Blog</a></li>
		<li><a href="localnav/task1/index-en.html">Section menu examples</a></li>
		<li><a href="splashpage.html">Splash page</a></li>
		<li><a href="servermessage-en.html">Server message page</a></li>
		<li><a href="servermessage-en-fr.html">Server message page (English/French)</a></li>
		<li><a href="campaign-en.html">Campaign <span class="label label-default">updated</span></a></li>
		<li><a href="event-en.html">Event</a></li>
		<li><a href="service-en.html">Simple service initiation landing page</a></li>
		<li><a href="advancedservice/index-en.html">Advanced service initiation pages</a></li>
		<li><a href="dept-en.html">Departments and agencies</a></li>
		<li><a href="ministerial-en.html">Ministerial profile <span class="label label-default">updated</span></a></li>
		<li><a href="act-en.html">Acts <span class="label label-default">updated</span></a></li>
		<li><a href="regulations-en.html">Regulations <span class="label label-default">updated</span></a></li>
		<li><a href="topic-lowest-en.html">Lowest level topic page <span class="label label-primary">new</span></a></li>
		<li><a href="organizational-en.html">Organizational profile <span class="label label-primary">new</span></a></li>
		<li><a href="organizational-carousel-en.html">Organizational profile with carousel <span class="label label-primary">new</span></a></li>
	</ul>
</section>
<section>
	<h2>French</h2>
	<ul>
		<li><a href="home-fr.html">Home page</a></li>
		<li><a href="theme-fr.html">Theme landing page <span class="label label-default">updated</span></a></li>
		<li><a href="topic-fr.html">Topic landing page <span class="label label-default">updated</span></a></li>
		<li><a href="institution-fr.html">Institutional profile <span class="label label-default">updated</span></a></li>
		<li><a href="institution-carousel-fr.html">Institutional profile with carousel <span class="label label-default">updated</span></a></li>
		<li><a href="content-fr.html">Content page</a></li>
		<li><a href="components-fr.html">Components page</a></li>
		<li><a href="video-fr.html">Video content page</a></li>
		<li><a href="feedback-fr.html">Feedback form</a></li>
		<li><a href="widgets-fr.html">Widget page</a></li>
		<li><a href="blog-fr.html">Blog</a></li>
		<li><a href="localnav/task1/index-fr.html">Section menu examples</a></li>
		<li><a href="splashpage.html">Splash page</a></li>
		<li><a href="servermessage-fr.html">Server message page</a></li>
		<li><a href="servermessage-fr-en.html">Server message page (French/English)</a></li>
		<li><a href="campaign-fr.html">Campaign <span class="label label-default">updated</span></a></li>
		<li><a href="event-fr.html">Event</a></li>
		<li><a href="service-fr.html">Simple service initiation landing page</a></li>
		<li><a href="advancedservice/index-fr.html">Advanced service initiation pages</a></li>
		<li><a href="dept-fr.html">Departments and agencies</a></li>
		<li><a href="ministerial-fr.html">Ministerial profile <span class="label label-default">updated</span></a></li>
		<li><a href="act-fr.html">Acts <span class="label label-default">updated</span></a></li>
		<li><a href="regulations-fr.html">Regulations <span class="label label-default">updated</span></a></li>
		<li><a href="topic-lowest-fr.html">Lowest level topic page <span class="label label-primary">new</span></a></li>
		<li><a href="organizational-fr.html">Organizational profile <span class="label label-primary">new</span></a></li>
		<li><a href="organizational-carousel-fr.html">Organizational profile with carousel <span class="label label-primary">new</span></a></li>
	</ul>
</section>
