---
{
	"title": "Canada.ca theme",
	"language": "en",
	"altLangPrefix": "index",
	"breadcrumb": [
		{ "title": "Home", "link": "https://www.canada.ca/en.html" }
	],
	"tag": "GCWeb",
	"dateModified": "2017-10-02",
	"share": "true"
}
---
<table class="wb-tables table table-striped table-hover">
  <thead>
    <tr>
      <th>Working example</th>
      <th>Last update</th>
      <th>Category</th>
      <th>Description</th>
      <th>Status</th>
      <th>Specification</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="splashpage.html">Splash page</a></td>
      <td><time>2017-05-04</time></td>
      <td>Templates</td>
      <td>The initial landing page for a visitor to Canada.ca, allowing the option to enter the site in French or English</td>
      <td><span class="label label-info">Need to revalidate</span></td>
      <td>C&amp;IA</td>
      <td>v1.4</td>
    </tr>
    <tr>
      <td><a href="home-en.html">Home page</a></td>
      <td><time>2018-06-27</time></td>
      <td>Templates</td>
      <td>Shows the Government of Canada&rsquo;s most visited and important products and services</td>
      <td><span class="label label-warning">Outdated</span></td>
      <td><a href="https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-information-architecture-specification/templates-detailed-specifications/home-page.html">C&amp;IA</a></td>
      <td>v1.4</td>
    </tr>
    <tr>
      <td><a href="theme-en.html">Theme page</a></td>
      <td><time>2017-12-05</time></td>
      <td>Templates</td>
      <td>Theme page types and templates are user-tested pages which provide   access to topics and destination pages that support task completion.</td>
      <td><span class="label label-info">Need to revalidate</span></td>
      <td><a href="https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-information-architecture-specification/templates-detailed-specifications/theme-pages.html">C&amp;IA</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td><a href="topic-en.html">Topic page</a></td>
      <td><time>2017-12-05</time></td>
      <td>Templates</td>
      <td>Topic pages help people learn everything the Government of Canada is doing in relation to a specific topic area.</td>
      <td><span class="label label-info">Need to revalidate</span></td>
      <td><a href="https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-information-architecture-specification/templates-detailed-specifications/topic-pages.html">C&amp;IA</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td><a href="dept-en.html">Departments and agencies page</a></td>
      <td><time>2017-11-30</time></td>
      <td>Templates</td>
      <td>Provides links to all federal government institutions</td>
      <td><span class="label label-info">Need to revalidate</span></td>
      <td><a href="https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-information-architecture-specification/templates-detailed-specifications/department-agencies-page.html">C&amp;IA</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td><a href="institution-en.html">Institutional profile page</a></td>
      <td><time>2017-12-05</time></td>
      <td>Templates/Profile pages</td>
      <td>An institutional profile page represents the landing page for a Government of Canada institution on Canada.ca.</td>
      <td><span class="label label-info">Need to revalidate</span></td>
      <td><a href="https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-information-architecture-specification/templates-detailed-specifications/institutional-profile-pages.html#profile">C&amp;IA</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td><a href="institution-arms-en.html">Institutional profile page for arm’s-length institutions</a></td>
      <td><time> 2018-03-21</time></td>
      <td>Templates/Profile pages</td>
      <td>&nbsp;</td>
      <td><span class="label label-info">Need to revalidate</span></td>
      <td><a href="https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-information-architecture-specification/templates-detailed-specifications/institutional-profile-pages.html#branding">C&amp;IA</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td><a href="organizational-en.html">Organizational profile page </a></td>
      <td><time>2017-12-05</time></td>
      <td>Templates/Profile pages</td>
      <td>An organizational profile page represents the single landing page on   Canada.ca for an organization that is associated with a Government of   Canada institution.</td>
      <td><span class="label label-info">Need to revalidate</span></td>
      <td><a href="https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-information-architecture-specification/templates-detailed-specifications/organizational-profile-pages.html#use">C&amp;IA</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td><a href="https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-information-architecture-specification/templates-detailed-specifications/organizational-profile-pages.html#branding">Organizational profile page for arm's-length institutions </a></td>
      <td><time>2017-12-05</time></td>
      <td>Templates/Profile pages</td>
      <td>&nbsp;</td>
      <td><span class="label label-info">Need to revalidate</span></td>
      <td><a href="https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-information-architecture-specification/templates-detailed-specifications/contact-us-pages.html">C&amp;IA</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td>Partnering and collaborative arrangement profile page</td>
      <td></td>
      <td>Templates</td>
      <td>A partnering/collaborative arrangement profile page represents the   single landing page on Canada.ca for an entity that is associated with 1   or more Government of Canada institutions.</td>
      <td><span class="label label-info">Backlog</span></td>
      <td><a href="https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-information-architecture-specification/templates-detailed-specifications/partnering-collaborative-arrangement-profile-pages.html">C&amp;IA</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td><a href="service-en.html">Simple service initiation page</a></td>
      <td><time> 2016-11-04 </time></td>
      <td>Templates/Service initiation pages</td>
      <td>Service initiation pages focus on helping Canada.ca visitors start a   task. For some tasks, these pages allow for task completion as well.</td>
      <td><span class="label label-info">Need to revalidate</span></td>
      <td><a href="https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-information-architecture-specification/templates-detailed-specifications/service-initiation-pages.html">C&amp;IA</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td><a href="advancedservice/index-en.html">Advanced service initiation page</a></td>
      <td><time> 2017-04-07</time></td>
      <td>Templates/Service initiation pages</td>
      <td>&nbsp;</td>
      <td><span class="label label-info">Need to revalidate</span></td>
      <td><a href="https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-information-architecture-specification/templates-detailed-specifications/service-initiation-pages.html">C&amp;IA</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td><a href="institutional-service-performance-en.html">Institutional service performance reporting page </a></td>
      <td><time> 2017-09-29</time></td>
      <td>Templates</td>
      <td>Institutional service performance reporting pages collect all service   standards from an institution and provide annual performance reporting   information, as per the requirements of the Policy on Service.</td>
      <td><span class="label label-info">Need to revalidate</span></td>
      <td><a href="https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-information-architecture-specification/templates-detailed-specifications/institutional-service-performance-reporting-pages.html">C&amp;IA</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td>Program description page</td>
      <td></td>
      <td>Templates</td>
      <td>A program description page provides information about an internal administrative activity that delivers a service.</td>
      <td><span class="label label-info">Backlog</span></td>
      <td><a href="https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-information-architecture-specification/templates-detailed-specifications/program-description-pages.html">C&amp;IA</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td><a href="ministerial-en.html">Ministerial profile page</a></td>
      <td><time>2018-06-05</time></td>
      <td>Templates</td>
      <td>A ministerial profile page is the landing page for a minister in the Government of Canada, which includes biographical information along with links to initiatives and recent activities related to the minister.</td>
      <td><span class="label label-info">Need to revalidate</span></td>
      <td><a href="https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-information-architecture-specification/templates-detailed-specifications/ministerial-profile-pages.html">C&amp;IA</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td>Collection landing page</td>
      <td></td>
      <td>Templates</td>
      <td><ul>
          <li>Allows people to search within a collection</li>
          <li>Introduces the most popular items from a collection</li>
          <li>Gives access to an collection of common content produced by all or most federal institutions</li>
          <li>Gives access to contextual and historical content related to a collection such as reports and events</li>
        </ul></td>
      <td><span class="label label-info">Backlog</span></td>
      <td><a href="https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-information-architecture-specification/templates-detailed-specifications/collection-landing-pages.html">C&amp;IA</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td>Consultation profile page</td>
      <td></td>
      <td>Templates</td>
      <td>Consultation profile pages provide access to Government of Canada consultations and engagement activities.</td>
      <td><span class="label label-info">Backlog</span></td>
      <td><a href="https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-information-architecture-specification/templates-detailed-specifications/consultations-pages.html">C&amp;IA</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td><a href="act-en.html">Act profile page </a></td>
      <td><time> 2014-10-23</time></td>
      <td>Templates/Laws and regulations pages</td>
      <td>The laws and regulations collection provides access to Government of   Canada acts and regulations through their individual profiles.</td>
      <td><span class="label label-info">Need to revalidate</span></td>
      <td><a href="https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-information-architecture-specification/templates-detailed-specifications/laws-regulations-pages.html#act-profile">C&amp;IA</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td><a href="regulations-en.html"> Regulation profile page </a></td>
      <td><time>2014-10-23</time></td>
      <td>Templates/Laws and regulations pages</td>
      <td>&nbsp;</td>
      <td><span class="label label-info">Need to revalidate</span></td>
      <td><a href="https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-information-architecture-specification/templates-detailed-specifications/laws-regulations-pages.html#regulation-profile">C&amp;IA</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td>Guidance on legislation profile page</td>
      <td></td>
      <td>Templates</td>
      <td>Guidance on legislation provides information to facilitate awareness,   understanding, and compliance with statutory and regulatory requirements   and may also describe their administration. Guidance on legislation   does not establish new requirements and is not legally binding.</td>
      <td><span class="label label-info">Backlog</span></td>
      <td><a href="https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-information-architecture-specification/templates-detailed-specifications/guidance-legislation-pages.html">C&amp;IA</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td><a href="gc-audience-en.html">Government-wide audience page </a></td>
      <td><time>2017-12-05</time></td>
      <td>Templates</td>
      <td>Gives access to information and services relevant to a government-wide audience such as:
        <ul>
          <li>Indigenous peoples</li>
          <li>youth</li>
          <li>veterans</li>
        </ul></td>
      <td><span class="label label-info">Need to revalidate</span></td>
      <td><a href="https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-information-architecture-specification/templates-detailed-specifications/audience-pages.html">C&amp;IA</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td><a href="news-en.html">News landing page</a></td>
      <td><time>2017-10-02</time></td>
      <td>Templates/News pages</td>
      <td>News is an aggregation of news-related content produced by all or most Government  of Canada  institutions.</td>
      <td><span class="label label-info">Need to revalidate</span></td>
      <td><a href="https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-information-architecture-specification/templates-detailed-specifications/news-pages.html#landing">C&amp;IA</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td>News results page</td>
      <td>&nbsp;</td>
      <td>Templates/News pages</td>
      <td>Enables people to efficiently find a specific news product by quickly filtering results based on:
        <ul>
          <li>keywords</li>
          <li>pre-set metadata fields</li>
        </ul></td>
      <td><span class="label label-info">Backlog</span></td>
      <td><a href="https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-information-architecture-specification/templates-detailed-specifications/news-pages.html#results">C&amp;IA</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td>News product page</td>
      <td>&nbsp;</td>
      <td>Templates/News pages</td>
      <td><ul>
          <li>Allows people to read a news product</li>
          <li>Relates a news product to:
            <ul>
              <li>topics</li>
              <li>institutions</li>
              <li>ministers</li>
            </ul>
          </li>
          <li>Used to present the news products</li>
        </ul></td>
      <td><span class="label label-info">Backlog</span></td>
      <td><a href="https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-information-architecture-specification/templates-detailed-specifications/news-pages.html#product">C&amp;IA</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td><a href="campaign-en.html">Campaign page - Example 1</a></td>
      <td><time>2017-10-02</time></td>
      <td>Templates/Campaign pages</td>
      <td>Campaign pages are time-limited, promotional pages that respond to the   Government of Canada&rsquo;s desire to communicate, educate, influence,   market, raise awareness and call to action.</td>
      <td><span class="label label-info">Need to revalidate</span></td>
      <td><a href="https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-information-architecture-specification/templates-detailed-specifications/campaign-pages.html#full-header">C&amp;IA</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td><a href="campaign2-en.html">Campaign page - Example 2</a></td>
      <td><time>2017-08-18</time></td>
      <td>Templates/Campaign pages</td>
      <td>&nbsp;</td>
      <td><span class="label label-info">Need to revalidate</span></td>
      <td><a href="https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-information-architecture-specification/templates-detailed-specifications/campaign-pages.html">C&amp;IA</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td><a href="event-en.html">Promotional events page</a></td>
      <td><time> 2017-10-02</time></td>
      <td>Templates</td>
      <td>A promotional events page is a destination page that describes and   explains an official government-hosted event that occurs in a   promotional context, such as a festival, a celebration and an awards   ceremony.</td>
      <td><span class="label label-info">Need to revalidate</span></td>
      <td><a href="https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-information-architecture-specification/templates-detailed-specifications/promotional-events-pages.html">C&amp;IA</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td><a href="institution-contact-en.html">Contact us page</a></td>
      <td><time>2017-12-05</time></td>
      <td>Templates</td>
      <td>Institutional contact page</td>
      <td><span class="label label-info">Need to revalidate</span></td>
      <td><a href="https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-information-architecture-specification/templates-detailed-specifications/contact-us-pages.html">C&amp;IA</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td>Search page</td>
      <td></td>
      <td>Templates</td>
      <td>Provides the template for the search engine on Canada.ca</td>
      <td><span class="label label-info">Backlog</span></td>
      <td><a href="https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-information-architecture-specification/templates-detailed-specifications/search-page.html">C&amp;IA</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td>Short index page</td>
      <td></td>
      <td><a href="index/index.html">Templates/index</a></td>
      <td>Index pages are navigation pages that provide a consolidated list of hyperlinked titles that link to other pages or documents.</td>
      <td><span class="label label-info">Backlog</span></td>
      <td><a href="https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-information-architecture-specification/templates-detailed-specifications/pages-index.html#short">C&amp;IA</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td><a href="index/longindex-en.html">Long index page</a></td>
      <td><time>2018-06-27</time></td>
      <td><a href="index/index.html">Templatess/index</a></td>
      <td>&nbsp;</td>
      <td><span class="label label-danger">Incomplete</span></td>
      <td><a href="https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-information-architecture-specification/templates-detailed-specifications/pages-index.html#long">C&amp;IA</a> v1.5</td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td>Finder page</td>
      <td></td>
      <td><a href="index/index.html">Templatess/index</a></td>
      <td>&nbsp;</td>
      <td><span class="label label-info">Backlog</span></td>
      <td><a href="https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-information-architecture-specification/templates-detailed-specifications/pages-index.html#finder">C&amp;IA</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td>Faceted finder page</td>
      <td></td>
      <td><a href="index/index.html">Templatess/index</a></td>
      <td>&nbsp;</td>
      <td><span class="label label-info">Backlog</span></td>
      <td><a href="https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-information-architecture-specification/templates-detailed-specifications/pages-index.html#faceted">C&amp;IA</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td><a href="content-en.html">Content page </a></td>
      <td><time>2017-09-29</time></td>
      <td>Templates</td>
      <td>Generic destination pages</td>
      <td><span class="label label-info">Need to revalidate</span></td>
      <td><a href="https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-information-architecture-specification/templates-detailed-specifications/generic-destination-pages.html#generic">C&amp;IA</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td><a href="archived-en.html">Archived page</a></td>
      <td><time>2016-10-06</time></td>
      <td>Templates</td>
      <td>Archived page</td>
      <td><span class="label label-success">Informational</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="content-signedoff-en.html">Content page - Signed Off</a></td>
      <td><time> 2016-03-09</time></td>
      <td>Templates</td>
      <td>Signed Off/On</td>
      <td><span class="label label-success">Informational</span></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="content-signedon-en.html">Content page - Signed On</a></td>
      <td><time> 2016-03-09</time></td>
      <td>Templates</td>
      <td>Signed Off/On</td>
      <td><span class="label label-success">Informational</span></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="feedback-en.html">Feedback form</a></td>
      <td><time>2014-02-28</time></td>
      <td>Templates</td>
      <td>Feedback form</td>
      <td><span class="label label-success">Informational</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="widgets-en.html">Widget page</a></td>
      <td><time>2014-06-12</time></td>
      <td>Templates</td>
      <td>Widget page</td>
      <td><span class="label label-success">Informational</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="servermessage-en.html">Server message page</a></td>
      <td><time>2017-05-04</time></td>
      <td>Templates</td>
      <td>Server message page</td>
      <td><span class="label label-success">Informational</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="servermessage-en-fr.html">Server message page - English/French</a></td>
      <td><time>2017-05-04</time></td>
      <td>Templates</td>
      <td>Server message page</td>
      <td><span class="label label-success">Informational</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="404-en.html">404 error page</a></td>
      <td><time>2017-05-04</time></td>
      <td>Templates</td>
      <td>404 error page</td>
      <td><span class="label label-success">Informational</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="404-en-fr.html">404 error page - English/French</a></td>
      <td><time>2017-05-04</time></td>
      <td>Templates</td>
      <td>404 error page</td>
      <td><span class="label label-success">Informational</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Global header navigation</td>
      <td></td>
      <td>Theme</td>
      <td>Header, footer, navigation</td>
      <td><span class="label label-info">Backlog</span></td>
      <td><a href="https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-information-architecture-specification/headers-footers-navigation.html#toc1">C&amp;IA</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td>Other header elements</td>
      <td></td>
      <td>Theme</td>
      <td>Header, footer, navigation</td>
      <td><span class="label label-info">Backlog</span></td>
      <td><a href="https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-information-architecture-specification/headers-footers-navigation.html#toc2">C&amp;IA</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td>Main content footer</td>
      <td></td>
      <td>Theme</td>
      <td>Header, footer, navigation</td>
      <td><span class="label label-info">Backlog</span></td>
      <td><a href="https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-information-architecture-specification/headers-footers-navigation.html#toc3">C&amp;IA</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td>Global footer navigation</td>
      <td></td>
      <td>Theme</td>
      <td>Header, footer, navigation</td>
      <td><span class="label label-info">Backlog</span></td>
      <td><a href="https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-information-architecture-specification/headers-footers-navigation.html#toc4">C&amp;IA</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td>Reduced header and footer</td>
      <td></td>
      <td>Theme</td>
      <td>Header, footer, navigation</td>
      <td><span class="label label-info">Backlog</span></td>
      <td><a href="https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-information-architecture-specification/headers-footers-navigation.html#reduced">C&amp;IA</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td>Transactional scenarios</td>
      <td></td>
      <td>Theme</td>
      <td>Header, footer, navigation</td>
      <td><span class="label label-info">Backlog</span></td>
      <td><a href="https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-information-architecture-specification/headers-footers-navigation.html#transactional">C&amp;IA</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td>In-page navigation</td>
      <td></td>
      <td>Theme</td>
      <td>Header, footer, navigation</td>
      <td><span class="label label-info">Backlog</span></td>
      <td><a href="https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-information-architecture-specification/headers-footers-navigation.html#inpage">C&amp;IA</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td><a href="localnav/task1/index-en.html">Section menu examples </a></td>
      <td><time>2017-09-29</time></td>
      <td>Theme</td>
      <td>Header, footer, navigation</td>
      <td><span class="label label-success">Informational</span></td>
      <td><a href="https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-information-architecture-specification/headers-footers-navigation.html#toc7">C&amp;IA</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td><a href="components-en.html">Components page </a></td>
      <td><time>2018-03-02</time></td>
      <td>Common design patterns </td>
      <td>Components examples</td>
      <td><span class="label label-success">Informational</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="video-en.html">Video content page</a></td>
      <td><time>2014-08-26</time></td>
      <td>Common design patterns </td>
      <td>Video example</td>
      <td><span class="label label-success">Informational</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="http://wet-boew.github.io/wet-boew-styleguide/v4/design/buttons-en.html">Buttons</a></td>
      <td><time> 2016-10-17</time></td>
      <td>Common design patterns </td>
      <td>Use buttons to create a call to action that entices the user to  submit   content from a form. Also, use buttons  also take users to a webpage   that provides  additional information. </td>
      <td><span class="label label-success">Informational</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="http://wet-boew.github.io/themes-dist/GCWeb/demos/tabs/tabs-carousel-en.html">Carousels</a></td>
      <td><time> 2018-04-18</time></td>
      <td>Common design patterns </td>
      <td>Dynamically stacks multiple images and captions into a carousel (or slider) widget.</td>
      <td><span class="label label-success">Informational</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="http://wet-boew.github.io/themes-dist/GCWeb/docs/ref/charts/charts-en.html">Charts and graphs</a></td>
      3
      <td><time>2015-03-10</time></td>
      <td>Common design patterns </td>
      <td>Dynamically generates charts and graphs from table data.</td>
      <td><span class="label label-success">Informational</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href=" 	http://wet-boew.github.io/themes-dist/GCWeb/demos/details/details-en.html">Collapsible content</a></td>
      <td><time>2014-07-21</time></td>
      <td>Common design patterns </td>
      <td>The HTML5 details and summary elements are   used to provide expandable/collapsible content. This component adds   support for these elements in browsers that do not already have native   support.</td>
      <td><span class="label label-success">Informational</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="http://wet-boew.github.io/themes-dist/GCWeb/institution-contact-en.html">Contact information</a></td>
      <td><time>2017-12-05</time></td>
      <td>Common design patterns </td>
      <td>&nbsp;</td>
      <td><span class="label label-success">Informational</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="http://wet-boew.github.io/themes-dist/GCWeb/theme-en.html">Context-specific features</a></td>
      <td><time>2017-12-05</time></td>
      <td>Common design patterns </td>
      <td>&nbsp;</td>
      <td><span class="label label-success">Informational</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="http://wet-boew.github.io/wet-boew-styleguide/v4/design/alerts-en.html">Contextual alerts</a></td>
      <td><time>2016-10-17</time></td>
      <td>Common design patterns </td>
      <td>Use  to provide  contextual feedback messages for typical user actions.   Choose from a handful of  available and flexible alert messages.</td>
      <td><span class="label label-success">Informational</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="http://wet-boew.github.io/themes-dist/GCWeb/topic-en.html">Contributors</a></td>
      <td><time>2017-12-05</time></td>
      <td>Common design patterns </td>
      <td>&nbsp;</td>
      <td><span class="label label-success">Informational</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="http://wet-boew.github.io/themes-dist/GCWeb/docs/ref/tables/tables-en.html">Data tables</a></td>
      <td><time>2014-10-18</time></td>
      <td>Common design patterns </td>
      <td>Integrates the DataTables plugin into WET providing searching, sorting,   filtering, pagination and other advanced features for tables.</td>
      <td><span class="label label-success">Informational</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="http://wet-boew.github.io/themes-dist/GCWeb/demos/lightbox/lightbox-en.html">Disclaimer overlay</a></td>
      <td><time>2015-05-12</time></td>
      <td>Common design patterns </td>
      <td>&nbsp;</td>
      <td><span class="label label-success">Informational</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="http://wet-boew.github.io/themes-dist/GCWeb/components-en.html">Download links</a></td>
      <td><time>2014-08-26</time></td>
      <td>Common design patterns </td>
      <td>Download links are used for referencing and linking to non-HTML files on Canada.ca web pages.</td>
      <td><span class="label label-success">Informational</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="http://wet-boew.github.io/wet-boew-styleguide/v4/design/icons-en.html">Icons</a></td>
      <td><time>2017-06-05</time></td>
      <td>Common design patterns </td>
      <td>Use  one of the two icon sets, Glyphicons or Font Awesome for decorative   purposes. Icons  are glyphs − picture-based fonts, similar to   wingdings.</td>
      <td><span class="label label-success">Informational</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="http://wet-boew.github.io/wet-boew-styleguide/v4/design/images-en.html">Images</a></td>
      <td><time>2016-10-17</time></td>
      <td>Common design patterns </td>
      <td>Use  images to visually represent a noun (person, place, thing) or a   verb (action). An image is a static two dimensional visual artifact that   is a type of non-text content. It is classified as decorative, simple,   complex, or an image of text.</td>
      <td><span class="label label-success">Informational</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="http://wet-boew.github.io/themes-dist/GCWeb/content-en.html">Institutional byline</a></td>
      <td><time>2017-09-29</time></td>
      <td>Common design patterns </td>
      <td>&nbsp;</td>
      <td><span class="label label-success">Informational</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Interactive questions</td>
      <td><time></time></td>
      <td>Common design patterns </td>
      <td>&nbsp;</td>
      <td><span class="label label-success">Informational</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="http://wet-boew.github.io/themes-dist/GCWeb/institution-en.html">Latest news</a></td>
      <td><time>2017-12-05</time></td>
      <td>Common design patterns </td>
      <td>&nbsp;</td>
      <td><span class="label label-success">Informational</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="http://wet-boew.github.io/themes-dist/GCWeb/topic-en.html">More information for</a></td>
      <td><time>2017-12-05</time></td>
      <td>Common design patterns </td>
      <td>&nbsp;</td>
      <td><span class="label label-success">Informational</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="http://wet-boew.github.io/themes-dist/GCWeb/topic-en.html">Most requested</a></td>
      <td><time>2017-12-05</time></td>
      <td>Common design patterns </td>
      <td>&nbsp;</td>
      <td><span class="label label-success">Informational</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="http://wet-boew.github.io/themes-dist/GCWeb/docs/ref/multimedia/multimedia-en.html">Multimedia (video and audio)</a></td>
      <td><time>2018-04-18</time></td>
      <td>Common design patterns </td>
      <td>Provides an accessible multimedia player for embedding video and audio into web pages.</td>
      <td><span class="label label-success">Informational</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Promotional feature banner </td>
      <td><time></time></td>
      <td>Common design patterns </td>
      <td>&nbsp;</td>
      <td><span class="label label-success">Informational</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Related links</td>
      <td><time></time></td>
      <td>Common design patterns </td>
      <td>&nbsp;</td>
      <td><span class="label label-success">Informational</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="http://wet-boew.github.io/themes-dist/GCWeb/topic-en.html">Services and information</a></td>
      <td><time>2017-12-05</time></td>
      <td>Common design patterns </td>
      <td>&nbsp;</td>
      <td><span class="label label-success">Informational</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="http://wet-boew.github.io/themes-dist/GCWeb/topic-en.html">Social media channels block (follow box)</a></td>
      <td><time>2017-12-05</time></td>
      <td>Common design patterns </td>
      <td>&nbsp;</td>
      <td><span class="label label-success">Informational</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="http://wet-boew.github.io/themes-dist/GCWeb/widgets-en.html">Social media feeds widget</a></td>
      <td><time>2014-06-12</time></td>
      <td>Common design patterns </td>
      <td>&nbsp;</td>
      <td><span class="label label-success">Informational</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="http://wet-boew.github.io/themes-dist/GCWeb/topic-en.html">What we are doing</a></td>
      <td><time>2017-12-05</time></td>
      <td>Common design patterns </td>
      <td>&nbsp;</td>
      <td><span class="label label-success">Informational</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </tbody>
</table>
<section>
---
{
	"title": "Canada.ca theme",
	"language": "en",
	"altLangPrefix": "index",
	"breadcrumb": [
		{ "title": "Home", "link": "https://www.canada.ca/en.html" }
	],
	"tag": "GCWeb",
	"dateModified": "2017-10-02",
	"share": "true"
}
---
<table class="wb-tables table table-striped table-hover">
  <thead>
    <tr>
      <th>Working example</th>
      <th>Last update</th>
      <th>Category</th>
      <th>Description</th>
      <th>Status</th>
      <th>Specification</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="splashpage.html">Splash page</a></td>
      <td><time>2017-05-04</time></td>
      <td>Templates</td>
      <td>The initial landing page for a visitor to Canada.ca, allowing the option to enter the site in French or English</td>
      <td><span class="label label-info">Need to revalidate</span></td>
      <td>C&amp;IA</td>
      <td>v1.4</td>
    </tr>
    <tr>
      <td><a href="home-en.html">Home page</a></td>
      <td><time>2018-06-27</time></td>
      <td>Templates</td>
      <td>Shows the Government of Canada&rsquo;s most visited and important products and services</td>
      <td><span class="label label-warning">Outdated</span></td>
      <td><a href="https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-information-architecture-specification/templates-detailed-specifications/home-page.html">C&amp;IA</a></td>
      <td>v1.4</td>
    </tr>
    <tr>
      <td><a href="theme-en.html">Theme page</a></td>
      <td><time>2017-12-05</time></td>
      <td>Templates</td>
      <td>Theme page types and templates are user-tested pages which provide   access to topics and destination pages that support task completion.</td>
      <td><span class="label label-info">Need to revalidate</span></td>
      <td><a href="https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-information-architecture-specification/templates-detailed-specifications/theme-pages.html">C&amp;IA</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td><a href="topic-en.html">Topic page</a></td>
      <td><time>2017-12-05</time></td>
      <td>Templates</td>
      <td>Topic pages help people learn everything the Government of Canada is doing in relation to a specific topic area.</td>
      <td><span class="label label-info">Need to revalidate</span></td>
      <td><a href="https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-information-architecture-specification/templates-detailed-specifications/topic-pages.html">C&amp;IA</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td><a href="dept-en.html">Departments and agencies page</a></td>
      <td><time>2017-11-30</time></td>
      <td>Templates</td>
      <td>Provides links to all federal government institutions</td>
      <td><span class="label label-info">Need to revalidate</span></td>
      <td><a href="https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-information-architecture-specification/templates-detailed-specifications/department-agencies-page.html">C&amp;IA</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td><a href="institution-en.html">Institutional profile page</a></td>
      <td><time>2017-12-05</time></td>
      <td>Templates/Profile pages</td>
      <td>An institutional profile page represents the landing page for a Government of Canada institution on Canada.ca.</td>
      <td><span class="label label-info">Need to revalidate</span></td>
      <td><a href="https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-information-architecture-specification/templates-detailed-specifications/institutional-profile-pages.html#profile">C&amp;IA</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td><a href="institution-arms-en.html">Institutional profile page for arm’s-length institutions</a></td>
      <td><time> 2018-03-21</time></td>
      <td>Templates/Profile pages</td>
      <td>&nbsp;</td>
      <td><span class="label label-info">Need to revalidate</span></td>
      <td><a href="https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-information-architecture-specification/templates-detailed-specifications/institutional-profile-pages.html#branding">C&amp;IA</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td><a href="organizational-en.html">Organizational profile page </a></td>
      <td><time>2017-12-05</time></td>
      <td>Templates/Profile pages</td>
      <td>An organizational profile page represents the single landing page on   Canada.ca for an organization that is associated with a Government of   Canada institution.</td>
      <td><span class="label label-info">Need to revalidate</span></td>
      <td><a href="https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-information-architecture-specification/templates-detailed-specifications/organizational-profile-pages.html#use">C&amp;IA</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td><a href="https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-information-architecture-specification/templates-detailed-specifications/organizational-profile-pages.html#branding">Organizational profile page for arm's-length institutions </a></td>
      <td><time>2017-12-05</time></td>
      <td>Templates/Profile pages</td>
      <td>&nbsp;</td>
      <td><span class="label label-info">Need to revalidate</span></td>
      <td><a href="https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-information-architecture-specification/templates-detailed-specifications/contact-us-pages.html">C&amp;IA</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td>Partnering and collaborative arrangement profile page</td>
      <td></td>
      <td>Templates</td>
      <td>A partnering/collaborative arrangement profile page represents the   single landing page on Canada.ca for an entity that is associated with 1   or more Government of Canada institutions.</td>
      <td><span class="label label-info">Backlog</span></td>
      <td><a href="https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-information-architecture-specification/templates-detailed-specifications/partnering-collaborative-arrangement-profile-pages.html">C&amp;IA</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td><a href="service-en.html">Simple service initiation page</a></td>
      <td><time> 2016-11-04 </time></td>
      <td>Templates/Service initiation pages</td>
      <td>Service initiation pages focus on helping Canada.ca visitors start a   task. For some tasks, these pages allow for task completion as well.</td>
      <td><span class="label label-info">Need to revalidate</span></td>
      <td><a href="https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-information-architecture-specification/templates-detailed-specifications/service-initiation-pages.html">C&amp;IA</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td><a href="advancedservice/index-en.html">Advanced service initiation page</a></td>
      <td><time> 2017-04-07</time></td>
      <td>Templates/Service initiation pages</td>
      <td>&nbsp;</td>
      <td><span class="label label-info">Need to revalidate</span></td>
      <td><a href="https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-information-architecture-specification/templates-detailed-specifications/service-initiation-pages.html">C&amp;IA</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td><a href="institutional-service-performance-en.html">Institutional service performance reporting page </a></td>
      <td><time> 2017-09-29</time></td>
      <td>Templates</td>
      <td>Institutional service performance reporting pages collect all service   standards from an institution and provide annual performance reporting   information, as per the requirements of the Policy on Service.</td>
      <td><span class="label label-info">Need to revalidate</span></td>
      <td><a href="https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-information-architecture-specification/templates-detailed-specifications/institutional-service-performance-reporting-pages.html">C&amp;IA</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td>Program description page</td>
      <td></td>
      <td>Templates</td>
      <td>A program description page provides information about an internal administrative activity that delivers a service.</td>
      <td><span class="label label-info">Backlog</span></td>
      <td><a href="https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-information-architecture-specification/templates-detailed-specifications/program-description-pages.html">C&amp;IA</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td><a href="ministerial-en.html">Ministerial profile page</a></td>
      <td><time>2018-06-05</time></td>
      <td>Templates</td>
      <td>A ministerial profile page is the landing page for a minister in the Government of Canada, which includes biographical information along with links to initiatives and recent activities related to the minister.</td>
      <td><span class="label label-info">Need to revalidate</span></td>
      <td><a href="https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-information-architecture-specification/templates-detailed-specifications/ministerial-profile-pages.html">C&amp;IA</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td>Collection landing page</td>
      <td></td>
      <td>Templates</td>
      <td><ul>
          <li>Allows people to search within a collection</li>
          <li>Introduces the most popular items from a collection</li>
          <li>Gives access to an collection of common content produced by all or most federal institutions</li>
          <li>Gives access to contextual and historical content related to a collection such as reports and events</li>
        </ul></td>
      <td><span class="label label-info">Backlog</span></td>
      <td><a href="https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-information-architecture-specification/templates-detailed-specifications/collection-landing-pages.html">C&amp;IA</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td>Consultation profile page</td>
      <td></td>
      <td>Templates</td>
      <td>Consultation profile pages provide access to Government of Canada consultations and engagement activities.</td>
      <td><span class="label label-info">Backlog</span></td>
      <td><a href="https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-information-architecture-specification/templates-detailed-specifications/consultations-pages.html">C&amp;IA</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td><a href="act-en.html">Act profile page </a></td>
      <td><time> 2014-10-23</time></td>
      <td>Templates/Laws and regulations pages</td>
      <td>The laws and regulations collection provides access to Government of   Canada acts and regulations through their individual profiles.</td>
      <td><span class="label label-info">Need to revalidate</span></td>
      <td><a href="https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-information-architecture-specification/templates-detailed-specifications/laws-regulations-pages.html#act-profile">C&amp;IA</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td><a href="regulations-en.html"> Regulation profile page </a></td>
      <td><time>2014-10-23</time></td>
      <td>Templates/Laws and regulations pages</td>
      <td>&nbsp;</td>
      <td><span class="label label-info">Need to revalidate</span></td>
      <td><a href="https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-information-architecture-specification/templates-detailed-specifications/laws-regulations-pages.html#regulation-profile">C&amp;IA</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td>Guidance on legislation profile page</td>
      <td></td>
      <td>Templates</td>
      <td>Guidance on legislation provides information to facilitate awareness,   understanding, and compliance with statutory and regulatory requirements   and may also describe their administration. Guidance on legislation   does not establish new requirements and is not legally binding.</td>
      <td><span class="label label-info">Backlog</span></td>
      <td><a href="https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-information-architecture-specification/templates-detailed-specifications/guidance-legislation-pages.html">C&amp;IA</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td><a href="gc-audience-en.html">Government-wide audience page </a></td>
      <td><time>2017-12-05</time></td>
      <td>Templates</td>
      <td>Gives access to information and services relevant to a government-wide audience such as:
        <ul>
          <li>Indigenous peoples</li>
          <li>youth</li>
          <li>veterans</li>
        </ul></td>
      <td><span class="label label-info">Need to revalidate</span></td>
      <td><a href="https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-information-architecture-specification/templates-detailed-specifications/audience-pages.html">C&amp;IA</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td><a href="news-en.html">News landing page</a></td>
      <td><time>2017-10-02</time></td>
      <td>Templates/News pages</td>
      <td>News is an aggregation of news-related content produced by all or most Government  of Canada  institutions.</td>
      <td><span class="label label-info">Need to revalidate</span></td>
      <td><a href="https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-information-architecture-specification/templates-detailed-specifications/news-pages.html#landing">C&amp;IA</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td>News results page</td>
      <td>&nbsp;</td>
      <td>Templates/News pages</td>
      <td>Enables people to efficiently find a specific news product by quickly filtering results based on:
        <ul>
          <li>keywords</li>
          <li>pre-set metadata fields</li>
        </ul></td>
      <td><span class="label label-info">Backlog</span></td>
      <td><a href="https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-information-architecture-specification/templates-detailed-specifications/news-pages.html#results">C&amp;IA</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td>News product page</td>
      <td>&nbsp;</td>
      <td>Templates/News pages</td>
      <td><ul>
          <li>Allows people to read a news product</li>
          <li>Relates a news product to:
            <ul>
              <li>topics</li>
              <li>institutions</li>
              <li>ministers</li>
            </ul>
          </li>
          <li>Used to present the news products</li>
        </ul></td>
      <td><span class="label label-info">Backlog</span></td>
      <td><a href="https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-information-architecture-specification/templates-detailed-specifications/news-pages.html#product">C&amp;IA</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td><a href="campaign-en.html">Campaign page - Example 1</a></td>
      <td><time>2017-10-02</time></td>
      <td>Templates/Campaign pages</td>
      <td>Campaign pages are time-limited, promotional pages that respond to the   Government of Canada&rsquo;s desire to communicate, educate, influence,   market, raise awareness and call to action.</td>
      <td><span class="label label-info">Need to revalidate</span></td>
      <td><a href="https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-information-architecture-specification/templates-detailed-specifications/campaign-pages.html#full-header">C&amp;IA</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td><a href="campaign2-en.html">Campaign page - Example 2</a></td>
      <td><time>2017-08-18</time></td>
      <td>Templates/Campaign pages</td>
      <td>&nbsp;</td>
      <td><span class="label label-info">Need to revalidate</span></td>
      <td><a href="https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-information-architecture-specification/templates-detailed-specifications/campaign-pages.html">C&amp;IA</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td><a href="event-en.html">Promotional events page</a></td>
      <td><time> 2017-10-02</time></td>
      <td>Templates</td>
      <td>A promotional events page is a destination page that describes and   explains an official government-hosted event that occurs in a   promotional context, such as a festival, a celebration and an awards   ceremony.</td>
      <td><span class="label label-info">Need to revalidate</span></td>
      <td><a href="https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-information-architecture-specification/templates-detailed-specifications/promotional-events-pages.html">C&amp;IA</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td><a href="institution-contact-en.html">Contact us page</a></td>
      <td><time>2017-12-05</time></td>
      <td>Templates</td>
      <td>Institutional contact page</td>
      <td><span class="label label-info">Need to revalidate</span></td>
      <td><a href="https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-information-architecture-specification/templates-detailed-specifications/contact-us-pages.html">C&amp;IA</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td>Search page</td>
      <td></td>
      <td>Templates</td>
      <td>Provides the template for the search engine on Canada.ca</td>
      <td><span class="label label-info">Backlog</span></td>
      <td><a href="https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-information-architecture-specification/templates-detailed-specifications/search-page.html">C&amp;IA</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td>Short index page</td>
      <td></td>
      <td><a href="index/index.html">Templates/index</a></td>
      <td>Index pages are navigation pages that provide a consolidated list of hyperlinked titles that link to other pages or documents.</td>
      <td><span class="label label-info">Backlog</span></td>
      <td><a href="https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-information-architecture-specification/templates-detailed-specifications/pages-index.html#short">C&amp;IA</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td><a href="index/longindex-en.html">Long index page</a></td>
      <td><time>2018-06-27</time></td>
      <td><a href="index/index.html">Templatess/index</a></td>
      <td>&nbsp;</td>
      <td><span class="label label-danger">Incomplete</span></td>
      <td><a href="https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-information-architecture-specification/templates-detailed-specifications/pages-index.html#long">C&amp;IA</a> v1.5</td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td>Finder page</td>
      <td></td>
      <td><a href="index/index.html">Templatess/index</a></td>
      <td>&nbsp;</td>
      <td><span class="label label-info">Backlog</span></td>
      <td><a href="https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-information-architecture-specification/templates-detailed-specifications/pages-index.html#finder">C&amp;IA</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td>Faceted finder page</td>
      <td></td>
      <td><a href="index/index.html">Templatess/index</a></td>
      <td>&nbsp;</td>
      <td><span class="label label-info">Backlog</span></td>
      <td><a href="https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-information-architecture-specification/templates-detailed-specifications/pages-index.html#faceted">C&amp;IA</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td><a href="content-en.html">Content page </a></td>
      <td><time>2017-09-29</time></td>
      <td>Templates</td>
      <td>Generic destination pages</td>
      <td><span class="label label-info">Need to revalidate</span></td>
      <td><a href="https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-information-architecture-specification/templates-detailed-specifications/generic-destination-pages.html#generic">C&amp;IA</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td><a href="archived-en.html">Archived page</a></td>
      <td><time>2016-10-06</time></td>
      <td>Templates</td>
      <td>Archived page</td>
      <td><span class="label label-success">Informational</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="content-signedoff-en.html">Content page - Signed Off</a></td>
      <td><time> 2016-03-09</time></td>
      <td>Templates</td>
      <td>Signed Off/On</td>
      <td><span class="label label-success">Informational</span></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="content-signedon-en.html">Content page - Signed On</a></td>
      <td><time> 2016-03-09</time></td>
      <td>Templates</td>
      <td>Signed Off/On</td>
      <td><span class="label label-success">Informational</span></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="feedback-en.html">Feedback form</a></td>
      <td><time>2014-02-28</time></td>
      <td>Templates</td>
      <td>Feedback form</td>
      <td><span class="label label-success">Informational</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="widgets-en.html">Widget page</a></td>
      <td><time>2014-06-12</time></td>
      <td>Templates</td>
      <td>Widget page</td>
      <td><span class="label label-success">Informational</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="servermessage-en.html">Server message page</a></td>
      <td><time>2017-05-04</time></td>
      <td>Templates</td>
      <td>Server message page</td>
      <td><span class="label label-success">Informational</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="servermessage-en-fr.html">Server message page - English/French</a></td>
      <td><time>2017-05-04</time></td>
      <td>Templates</td>
      <td>Server message page</td>
      <td><span class="label label-success">Informational</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="404-en.html">404 error page</a></td>
      <td><time>2017-05-04</time></td>
      <td>Templates</td>
      <td>404 error page</td>
      <td><span class="label label-success">Informational</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="404-en-fr.html">404 error page - English/French</a></td>
      <td><time>2017-05-04</time></td>
      <td>Templates</td>
      <td>404 error page</td>
      <td><span class="label label-success">Informational</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Global header navigation</td>
      <td></td>
      <td>Theme</td>
      <td>Header, footer, navigation</td>
      <td><span class="label label-info">Backlog</span></td>
      <td><a href="https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-information-architecture-specification/headers-footers-navigation.html#toc1">C&amp;IA</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td>Other header elements</td>
      <td></td>
      <td>Theme</td>
      <td>Header, footer, navigation</td>
      <td><span class="label label-info">Backlog</span></td>
      <td><a href="https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-information-architecture-specification/headers-footers-navigation.html#toc2">C&amp;IA</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td>Main content footer</td>
      <td></td>
      <td>Theme</td>
      <td>Header, footer, navigation</td>
      <td><span class="label label-info">Backlog</span></td>
      <td><a href="https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-information-architecture-specification/headers-footers-navigation.html#toc3">C&amp;IA</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td>Global footer navigation</td>
      <td></td>
      <td>Theme</td>
      <td>Header, footer, navigation</td>
      <td><span class="label label-info">Backlog</span></td>
      <td><a href="https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-information-architecture-specification/headers-footers-navigation.html#toc4">C&amp;IA</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td>Reduced header and footer</td>
      <td></td>
      <td>Theme</td>
      <td>Header, footer, navigation</td>
      <td><span class="label label-info">Backlog</span></td>
      <td><a href="https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-information-architecture-specification/headers-footers-navigation.html#reduced">C&amp;IA</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td>Transactional scenarios</td>
      <td></td>
      <td>Theme</td>
      <td>Header, footer, navigation</td>
      <td><span class="label label-info">Backlog</span></td>
      <td><a href="https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-information-architecture-specification/headers-footers-navigation.html#transactional">C&amp;IA</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td>In-page navigation</td>
      <td></td>
      <td>Theme</td>
      <td>Header, footer, navigation</td>
      <td><span class="label label-info">Backlog</span></td>
      <td><a href="https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-information-architecture-specification/headers-footers-navigation.html#inpage">C&amp;IA</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td><a href="localnav/task1/index-en.html">Section menu examples </a></td>
      <td><time>2017-09-29</time></td>
      <td>Theme</td>
      <td>Header, footer, navigation</td>
      <td><span class="label label-success">Informational</span></td>
      <td><a href="https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-information-architecture-specification/headers-footers-navigation.html#toc7">C&amp;IA</a></td>
      <td> v1.4</td>
    </tr>
    <tr>
      <td><a href="components-en.html">Components page </a></td>
      <td><time>2018-03-02</time></td>
      <td>Common design patterns </td>
      <td>Components examples</td>
      <td><span class="label label-success">Informational</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="video-en.html">Video content page</a></td>
      <td><time>2014-08-26</time></td>
      <td>Common design patterns </td>
      <td>Video example</td>
      <td><span class="label label-success">Informational</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="http://wet-boew.github.io/wet-boew-styleguide/v4/design/buttons-en.html">Buttons</a></td>
      <td><time> 2016-10-17</time></td>
      <td>Common design patterns </td>
      <td>Use buttons to create a call to action that entices the user to  submit   content from a form. Also, use buttons  also take users to a webpage   that provides  additional information. </td>
      <td><span class="label label-success">Informational</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="http://wet-boew.github.io/themes-dist/GCWeb/demos/tabs/tabs-carousel-en.html">Carousels</a></td>
      <td><time> 2018-04-18</time></td>
      <td>Common design patterns </td>
      <td>Dynamically stacks multiple images and captions into a carousel (or slider) widget.</td>
      <td><span class="label label-success">Informational</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="http://wet-boew.github.io/themes-dist/GCWeb/docs/ref/charts/charts-en.html">Charts and graphs</a></td>
      3
      <td><time>2015-03-10</time></td>
      <td>Common design patterns </td>
      <td>Dynamically generates charts and graphs from table data.</td>
      <td><span class="label label-success">Informational</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href=" 	http://wet-boew.github.io/themes-dist/GCWeb/demos/details/details-en.html">Collapsible content</a></td>
      <td><time>2014-07-21</time></td>
      <td>Common design patterns </td>
      <td>The HTML5 details and summary elements are   used to provide expandable/collapsible content. This component adds   support for these elements in browsers that do not already have native   support.</td>
      <td><span class="label label-success">Informational</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="http://wet-boew.github.io/themes-dist/GCWeb/institution-contact-en.html">Contact information</a></td>
      <td><time>2017-12-05</time></td>
      <td>Common design patterns </td>
      <td>&nbsp;</td>
      <td><span class="label label-success">Informational</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="http://wet-boew.github.io/themes-dist/GCWeb/theme-en.html">Context-specific features</a></td>
      <td><time>2017-12-05</time></td>
      <td>Common design patterns </td>
      <td>&nbsp;</td>
      <td><span class="label label-success">Informational</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="http://wet-boew.github.io/wet-boew-styleguide/v4/design/alerts-en.html">Contextual alerts</a></td>
      <td><time>2016-10-17</time></td>
      <td>Common design patterns </td>
      <td>Use  to provide  contextual feedback messages for typical user actions.   Choose from a handful of  available and flexible alert messages.</td>
      <td><span class="label label-success">Informational</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="http://wet-boew.github.io/themes-dist/GCWeb/topic-en.html">Contributors</a></td>
      <td><time>2017-12-05</time></td>
      <td>Common design patterns </td>
      <td>&nbsp;</td>
      <td><span class="label label-success">Informational</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="http://wet-boew.github.io/themes-dist/GCWeb/docs/ref/tables/tables-en.html">Data tables</a></td>
      <td><time>2014-10-18</time></td>
      <td>Common design patterns </td>
      <td>Integrates the DataTables plugin into WET providing searching, sorting,   filtering, pagination and other advanced features for tables.</td>
      <td><span class="label label-success">Informational</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="http://wet-boew.github.io/themes-dist/GCWeb/demos/lightbox/lightbox-en.html">Disclaimer overlay</a></td>
      <td><time>2015-05-12</time></td>
      <td>Common design patterns </td>
      <td>&nbsp;</td>
      <td><span class="label label-success">Informational</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="http://wet-boew.github.io/themes-dist/GCWeb/components-en.html">Download links</a></td>
      <td><time>2014-08-26</time></td>
      <td>Common design patterns </td>
      <td>Download links are used for referencing and linking to non-HTML files on Canada.ca web pages.</td>
      <td><span class="label label-success">Informational</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="http://wet-boew.github.io/wet-boew-styleguide/v4/design/icons-en.html">Icons</a></td>
      <td><time>2017-06-05</time></td>
      <td>Common design patterns </td>
      <td>Use  one of the two icon sets, Glyphicons or Font Awesome for decorative   purposes. Icons  are glyphs − picture-based fonts, similar to   wingdings.</td>
      <td><span class="label label-success">Informational</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="http://wet-boew.github.io/wet-boew-styleguide/v4/design/images-en.html">Images</a></td>
      <td><time>2016-10-17</time></td>
      <td>Common design patterns </td>
      <td>Use  images to visually represent a noun (person, place, thing) or a   verb (action). An image is a static two dimensional visual artifact that   is a type of non-text content. It is classified as decorative, simple,   complex, or an image of text.</td>
      <td><span class="label label-success">Informational</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="http://wet-boew.github.io/themes-dist/GCWeb/content-en.html">Institutional byline</a></td>
      <td><time>2017-09-29</time></td>
      <td>Common design patterns </td>
      <td>&nbsp;</td>
      <td><span class="label label-success">Informational</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Interactive questions</td>
      <td><time></time></td>
      <td>Common design patterns </td>
      <td>&nbsp;</td>
      <td><span class="label label-success">Informational</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="http://wet-boew.github.io/themes-dist/GCWeb/institution-en.html">Latest news</a></td>
      <td><time>2017-12-05</time></td>
      <td>Common design patterns </td>
      <td>&nbsp;</td>
      <td><span class="label label-success">Informational</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="http://wet-boew.github.io/themes-dist/GCWeb/topic-en.html">More information for</a></td>
      <td><time>2017-12-05</time></td>
      <td>Common design patterns </td>
      <td>&nbsp;</td>
      <td><span class="label label-success">Informational</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="http://wet-boew.github.io/themes-dist/GCWeb/topic-en.html">Most requested</a></td>
      <td><time>2017-12-05</time></td>
      <td>Common design patterns </td>
      <td>&nbsp;</td>
      <td><span class="label label-success">Informational</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="http://wet-boew.github.io/themes-dist/GCWeb/docs/ref/multimedia/multimedia-en.html">Multimedia (video and audio)</a></td>
      <td><time>2018-04-18</time></td>
      <td>Common design patterns </td>
      <td>Provides an accessible multimedia player for embedding video and audio into web pages.</td>
      <td><span class="label label-success">Informational</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Promotional feature banner </td>
      <td><time></time></td>
      <td>Common design patterns </td>
      <td>&nbsp;</td>
      <td><span class="label label-success">Informational</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Related links</td>
      <td><time></time></td>
      <td>Common design patterns </td>
      <td>&nbsp;</td>
      <td><span class="label label-success">Informational</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="http://wet-boew.github.io/themes-dist/GCWeb/topic-en.html">Services and information</a></td>
      <td><time>2017-12-05</time></td>
      <td>Common design patterns </td>
      <td>&nbsp;</td>
      <td><span class="label label-success">Informational</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="http://wet-boew.github.io/themes-dist/GCWeb/topic-en.html">Social media channels block (follow box)</a></td>
      <td><time>2017-12-05</time></td>
      <td>Common design patterns </td>
      <td>&nbsp;</td>
      <td><span class="label label-success">Informational</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="http://wet-boew.github.io/themes-dist/GCWeb/widgets-en.html">Social media feeds widget</a></td>
      <td><time>2014-06-12</time></td>
      <td>Common design patterns </td>
      <td>&nbsp;</td>
      <td><span class="label label-success">Informational</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="http://wet-boew.github.io/themes-dist/GCWeb/topic-en.html">What we are doing</a></td>
      <td><time>2017-12-05</time></td>
      <td>Common design patterns </td>
      <td>&nbsp;</td>
      <td><span class="label label-success">Informational</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </tbody>
</table>
<section>
<h3>Themes plugins</h3>
<ul>
  <li><a href="demos/data-json/data-json-en.html">Data JSON</a></li>
  <li><a href="demos/doaction/tblfilter-en.html">Do action</a></li>
  <li><a href="demos/data-json/template-en.html">Template HTML5</a></li>
  <li><a href="demos/jsonmanager/jsonmanager-en.html">JSON Manage</a></li>
  <li><a href="demos/urlmapping/tblfilter-en.html">URL Mapping - Table filtering</a></li>
  <li><a href="demos/urlmapping/ajax-en.html">URL Mapping - Ajax</a></li>
  <li><a href="demos/urlmapping/patches-en.html">URL Mapping - Patching JSON</a></li>
  <li><a href="demos/fieldflow/fieldflow-en.html">Field flow</a></li>
  <li><a href="demos/fieldflow/basic-en.html">Field flow basic configuration</a></li>
  <li><a href="demos/fieldflow/advanced-en.html">Field flow advanced</a></li>
</ul>
<section>
  <h2>Notes and other</h2>
  <ul>
    <li><a href="deprecated-en.html">Deprecated markup</a></li>
    <li><a href="http://wet-boew.github.io/themes-dist/theme-gcwu-fegc/institution-en.html">GCWU theme - English institution template</a></li>
    <li><a href="http://wet-boew.github.io/themes-dist/theme-gcwu-fegc/institution-fr.html" hreflang="fr">GCWU theme - French institution template</a></li>
  </ul>
</section>
<section>
  <h2>Notes and other</h2>
  <ul>
    <li><a href="deprecated-en.html">Deprecated markup</a></li>
    <li><a href="http://wet-boew.github.io/themes-dist/theme-gcwu-fegc/institution-en.html">GCWU theme - English institution template</a></li>
    <li><a href="http://wet-boew.github.io/themes-dist/theme-gcwu-fegc/institution-fr.html" hreflang="fr">GCWU theme - French institution template</a></li>
  </ul>
</section>