---
{
	"title": "Canada.ca theme",
	"language": "en",
	"altLangPrefix": "index",
	"breadcrumb": [
		{ "title": "Home", "link": "https://www.canada.ca/en.html" }
	],
	"tag": "GCWeb",
	"dateModified": "2014-10-25",
	"share": "true"
}
---
<section>
	<h2>English</h2>
	<div class="row"><div class="col-md-8">
	<ul>
		<li><a href="home-en.html">Home page</a></li>
		<li><a href="theme-en.html">Theme landing page</a></li>
		<li><a href="topic-en.html">Topic landing page</a></li>
		<li><a href="institution-en.html">Institutional profile for large institutions</a></li>
		<li><a href="institution-small-en.html">Institutional profile for small institutions</a></li>
		<li><a href="content-en.html">Content page</a></li>
		<li><a href="content-signedoff-en.html">Content page - Signed Off</a></li>
		<li><a href="content-signedon-en.html">Content page - Signed On</a></li>
		<li><a href="components-en.html">Components page</a></li>
		<li><a href="video-en.html">Video content page</a></li>
		<li><a href="feedback-en.html">Feedback form</a></li>
		<li><a href="widgets-en.html">Widget page</a></li>
		<li><a href="localnav/task1/index-en.html">Section menu examples</a></li>
		<li><a href="splashpage.html">Splash page</a></li>
		<li><a href="servermessage-en.html">Server message page</a></li>
		<li><a href="servermessage-en-fr.html">Server message page (English/French)</a></li>
		<li><a href="campaign-en.html">Campaign</a></li>
		<li><a href="event-en.html">Event</a></li>
		<li><a href="service-en.html">Simple service initiation landing page</a></li>
		<li><a href="advancedservice/index-en.html">Advanced service initiation pages</a></li>
		<li><a href="dept-en.html">Departments and agencies</a></li>
		<li><a href="ministerial-en.html">Ministerial profile</a></li>
		<li><a href="act-en.html">Acts</a></li>
		<li><a href="regulations-en.html">Regulations</a></li>
		<li><a href="topic-lowest-en.html">Lowest level topic page</a></li>
		<li><a href="organizational-en.html">Organizational profile</a></li>
		<li><a href="organizational-carousel-en.html">Organizational profile with carousel</a></li>
		<li><a href="archived-en.html">Archived page</a></li>
	</ul>
	</div><div class="col-md-4">
		<section>
			<h3>Themes plugins</h3>
			<ul>
				<li><a href="demos/data-json/data-json-en.html">Data JSON</a> (<a href="demos/data-json/data-json-doc-en.html">Documentation</a>)</li>
				<li><a href="demos/data-json/template-en.html">Template HTML5</a> (<a href="demos/data-json/data-json-doc-en.html">Documentation</a>)</li>
				<li><a href="demos/jsonmanager/jsonmanager-en.html">JSON Manager</a> (<a href="demos/jsonmanager/jsonmanager-doc-en.html">Documentation</a>)</li>
			</ul>
		</section>
	</div></div>
</section>
<section>
	<h2>French</h2>
	<div class="row"><div class="col-md-8">
	<ul>
		<li><a href="home-fr.html">Home page</a></li>
		<li><a href="theme-fr.html">Theme landing page</a></li>
		<li><a href="topic-fr.html">Topic landing page</a></li>
		<li><a href="institution-fr.html">Institutional profile for large institutions</a></li>
		<li><a href="institution-small-fr.html">Institutional profile for small institutions</a></li>
		<li><a href="content-fr.html">Content page</a></li>
		<li><a href="components-fr.html">Components page</a></li>
		<li><a href="video-fr.html">Video content page</a></li>
		<li><a href="feedback-fr.html">Feedback form</a></li>
		<li><a href="widgets-fr.html">Widget page</a></li>
		<li><a href="localnav/task1/index-fr.html">Section menu examples</a></li>
		<li><a href="splashpage.html">Splash page</a></li>
		<li><a href="servermessage-fr.html">Server message page</a></li>
		<li><a href="servermessage-fr-en.html">Server message page (French/English)</a></li>
		<li><a href="campaign-fr.html">Campaign</a></li>
		<li><a href="event-fr.html">Event</a></li>
		<li><a href="service-fr.html">Simple service initiation landing page</a></li>
		<li><a href="advancedservice/index-fr.html">Advanced service initiation pages</a></li>
		<li><a href="dept-fr.html">Departments and agencies</a></li>
		<li><a href="ministerial-fr.html">Ministerial profile</a></li>
		<li><a href="act-fr.html">Acts</a></li>
		<li><a href="regulations-fr.html">Regulations</a></li>
		<li><a href="topic-lowest-fr.html">Lowest level topic page</a></li>
		<li><a href="organizational-fr.html">Organizational profile</a></li>
		<li><a href="organizational-carousel-fr.html">Organizational profile with carousel</a></li>
		<li><a href="archived-fr.html">Archived page</a></li>
	</ul>
	</div><div class="col-md-4">
		<section>
			<h3>Themes plugins</h3>
			<ul>
				<li><a href="demos/data-json/data-json-fr.html" hreflang="fr">Data JSON</a> (<a hreflang="fr" href="demos/data-json/data-json-doc-fr.html">Documentation</a>)</li>
				<li><a href="demos/data-json/template-fr.html" hreflang="fr">Template HTML5</a> (<a hreflang="fr" href="demos/data-json/data-json-doc-fr.html">Documentation</a>)</li>
				<li><a href="demos/jsonmanager/jsonmanager-fr.html" hreflang="fr">JSON Manager</a> (<a href="demos/jsonmanager/jsonmanager-doc-fr.html">Documentation</a>)</li>
			</ul>
		</section>
	</div></div>
</section>
