---
{
	"title": "Thème Canada.ca",
	"language": "fr",
	"altLangPrefix": "index",
	"breadcrumb": [
		{ "title": "Accueil", "link": "http://www.canada.ca/fr/index.html" }
	],
	"tag": "GCWeb",
	"dateModified": "2014-10-22",
	"share": "true"
}
---
<section>
	<h2>Anglais</h2>
	<ul>
		<li><a href="home-en.html">Page d’accueil</a></li>
		<li><a href="theme-en.html">Page d’atterrissage du thème <span class="label label-default">mise à jour</span></a></li>
		<li><a href="topic-en.html">Page d’atterrissage du sujet <span class="label label-default">mise à jour</span></a></li>
		<li><a href="institution-en.html">Page profil de l’institution <span class="label label-default">mise à jour</span></a></li>
		<li><a href="institution-carousel-en.html">Page profil de l’institution avec carousel <span class="label label-default">mise à jour</span></a></li>
		<li><a href="content-en.html">Page de contenu</a></li>
		<li><a href="video-en.html">Page de contenu vidéo</a></li>
		<li><a href="feedback-en.html">Formulaire de rétroaction</a></li>
		<li><a href="widgets-en.html">Page de gadgets</a></li>
		<li><a href="blog-en.html">Blogue</a></li>
		<li><a href="partners/index-en.html">Exemples avec un menu de la section</a></li>
		<li><a href="splashpage.html">Page d’entrée</a></li>
		<li><a href="servermessage-en.html">Page de message du serveur</a></li>
		<li><a href="servermessage-en-fr.html">Page de message du serveur (anglais/français)</a></li>
		<li><a href="campaign-en.html">Campagne <span class="label label-default">mise à jour</span></a></li>
		<li><a href="event-en.html">Événement</a></li>
		<li><a href="service-en.html">Page d’accueil d’initiation de service simple</a></li>
		<li><a href="advancedservice/index-en.html">Page d’accueil d’initiation de service avancé</a></li>
		<li><a href="dept-en.html">Ministères et organismes</a></li>
		<li><a href="ministerial-en.html">Profil ministérielle <span class="label label-default">mise à jour</span></a></li>
		<li><a href="act-en.html">Lois <span class="label label-default">mise à jour</span></a></li>
		<li><a href="regulations-en.html">Règlements <span class="label label-default">mise à jour</span></a></li>
		<li><a href="topic-lowest-en.html">Page de sujet au plus bas niveau <span class="label label-primary">nouveau</span></a></li>
		<li><a href="organizational-en.html">Page profil de l’organisme <span class="label label-primary">nouveau</span></a></li>
		<li><a href="organizational-carousel-en.html">Page profil de l’organisme avec carousel <span class="label label-primary">nouveau</span></a></li>
	</ul>
</section>
<section>
	<h2>Français</h2>
	<ul>
		<li><a href="home-fr.html">Page d’accueil</a></li>
		<li><a href="theme-fr.html">Page d’atterrissage du thème <span class="label label-default">mise à jour</span></a></li>
		<li><a href="topic-fr.html">Page d’atterrissage du sujet <span class="label label-default">mise à jour</span></a></li>
		<li><a href="institution-fr.html">Page profil de l’institution <span class="label label-default">mise à jour</span></a></li>
		<li><a href="institution-carousel-fr.html">Page profil de l’institution avec carousel <span class="label label-default">mise à jour</span></a></li>
		<li><a href="content-fr.html">Page de contenu</a></li>
		<li><a href="video-fr.html">Page de contenu vidéo</a></li>
		<li><a href="feedback-fr.html">Formulaire de rétroaction</a></li>
		<li><a href="widgets-fr.html">Page de gadgets</a></li>
		<li><a href="blog-fr.html">Blogue</a></li>
		<li><a href="partners/index-fr.html">Exemples avec un menu de la section</a></li>
		<li><a href="splashpage.html">Page d’entrée</a></li>
		<li><a href="servermessage-fr.html">Page de message du serveur</a></li>
		<li><a href="servermessage-fr-en.html">Page de message du serveur (français/anglais)</a></li>
		<li><a href="campaign-fr.html">Campagne <span class="label label-default">mise à jour</span></a></li>
		<li><a href="event-fr.html">Événement</a></li>
		<li><a href="service-fr.html">Page d’accueil d’initiation de service simple</a></li>
		<li><a href="advancedservice/index-fr.html">Page d’accueil d’initiation de service avancé</a></li>
		<li><a href="dept-fr.html">Ministères et organismes</a></li>
		<li><a href="ministerial-fr.html">Profil ministérielle <span class="label label-default">mise à jour</span></a></li>
		<li><a href="act-fr.html">Lois <span class="label label-default">mise à jour</span></a></li>
		<li><a href="regulations-fr.html">Règlements <span class="label label-default">mise à jour</span></a></li>
		<li><a href="topic-lowest-fr.html">Page de sujet au plus bas niveau <span class="label label-primary">nouveau</span></a></li>
		<li><a href="organizational-fr.html">Page profil de l’organisme <span class="label label-primary">nouveau</span></a></li>
		<li><a href="organizational-carousel-fr.html">Page profil de l’organisme avec carousel <span class="label label-primary">nouveau</span></a></li>
	</ul>
</section>