---
{
	"title": "Canada.ca theme",
	"language": "en",
	"altLangPrefix": "index",
	"breadcrumb": [
		{ "title": "Home", "link": false }
	],
	"tag": "GCWeb",
	"dateModified": "2014-02-28",
	"share": "false"
}
---
<section>
	<h2>English</h2>
	<ul>
		<li><a href="home-en.html">Home page</a></li>
		<li><a href="second-en.html">Theme home page</a></li>
		<li><a href="content-en.html">Content page</a></li>
		<li><a href="video-en.html">Video content page</a></li>
		<li><a href="mobile-centre/index-en.html">Mobile centre</a></li>
		<li><a href="social-media-centre/index-en.html">Social media centre</a></li>
		<li><a href="feedback-en.html">Feedback form</a></li>
		<li><a href="index.html">Splash page</a></li>
	</ul>
</section>

<section>
	<h2>French</h2>
	<ul>
		<li><a href="home-fr.html">Home page</a></li>
		<li><a href="second-fr.html">Theme home page</a></li>
		<li><a href="content-fr.html">Content page</a></li>
		<li><a href="video-fr.html">Video content page</a></li>
		<li><a href="mobile-centre/index-fr.html">Mobile centre</a></li>
		<li><a href="social-media-centre/index-fr.html">Social media centre</a></li>
		<li><a href="feedback-en.html">Feedback form</a></li>
		<li><a href="index.html">Splash page</a></li>
	</ul>
</section>
