---
{
	"title": "Thème Canada.ca",
	"language": "fr",
	"altLangPrefix": "index",
	"breadcrumb": [
		{ "title": "Accueil", "link": "http://www.canada.ca/fr/index.html" }
	],
	"tag": "GCWeb",
	"dateModified": "2014-10-22",
	"share": "false"
}
---
<section>
	<h2>Anglais</h2>
	<ul>
		<li><a href="home-en.html">Page d'accueil</a></li>
		<li><a href="theme-en.html">Page d’atterrissage du thème</a></li>
		<li><a href="topic-en.html">Page d’atterrissage du sujet</a></li>
		<li><a href="institution-en.html">Page profil de l’institution</a></li>
		<li><a href="institution-carousel-en.html">Page profil de l’institution avec carousel</a></li>
		<li><a href="content-en.html">Page de contenu</a></li>
		<li><a href="video-en.html">Page de contenu vidéo</a></li>
		<li><a href="feedback-en.html">Formulaire de rétroaction</a></li>
		<li><a href="widgets-en.html">Page de gadgets</a></li>
		<li><a href="blog-en.html">Blogue</a></li>
		<li><a href="partners/index-en.html">Exemples avec un menu de la section</a></li>
		<li><a href="splashpage.html">Page d'entrée</a></li>
		<li><a href="servermessage-en.html">Page de message du serveur</a></li>
		<li><a href="servermessage-en-fr.html">Page de message du serveur (anglais/français)</a></li>
		<li lang="en"><a href="campaign-en.html">Campaign</a></li>
		<li lang="en"><a href="event-en.html">Event</a></li>
		<li lang="en"><a href="service-en.html">Simple service initiation landing page</a></li>
		<li lang="en"><a href="servicecomplexe/index-en.html">Advance service initiation pages</a></li>
		<li lang="en"><a href="government-en.html">Government landing page</a></li>
		<li lang="en"><a href="dept-en.html">Departments and agencies</a></li>
		<li lang="en"><a href="ministerial-en.html">Ministerial profile</a></li>
		<li lang="en"><a href="act-en.html">Acts</a></li>
		<li lang="en"><a href="regulations-en.html">Regulations</a></li>
	</ul>
</section>

<section>
	<h2>Français</h2>
	<ul>
		<li><a href="home-fr.html">Page d'accueil</a></li>
		<li><a href="theme-fr.html">Page d’atterrissage du thème</a></li>
		<li><a href="topic-fr.html">Page d’atterrissage du sujet</a></li>
		<li><a href="institution-fr.html">Page profil de l’institution</a></li>
		<li><a href="institution-carousel-fr.html">Page profil de l’institution avec carousel</a></li>
		<li><a href="content-fr.html">Page de contenu</a></li>
		<li><a href="video-fr.html">Page de contenu vidéo</a></li>
		<li><a href="feedback-fr.html">Formulaire de rétroaction</a></li>
		<li><a href="widgets-fr.html">Page de gadgets</a></li>
		<li><a href="blog-fr.html">Blogue</a></li>
		<li><a href="partners/index-fr.html">Exemples avec un menu de la section</a></li>
		<li><a href="splashpage.html">Page d'entrée</a></li>
		<li><a href="servermessage-fr.html">Page de message du serveur</a></li>
		<li><a href="servermessage-fr-en.html">Page de message du serveur (français/anglais)</a></li>
		<li lang="en"><a href="campaign-fr.html">Campaign<strong> - Need translation</strong></a></li>
		<li lang="en"><a href="event-fr.html">Event<strong> - Need translation</strong></a></li>
		<li lang="en"><a href="service-fr.html">Simple service initiation landing page<strong> - Need translation</strong></a></li>
		<li lang="en"><a href="servicecomplexe/index-fr.html">Advance service initiation pages<strong> - Need translation</strong></a></li>
		<li lang="en"><a href="government-fr.html">Government landing page<strong> - Need translation</strong></a></li>
		<li lang="en"><a href="dept-fr.html">Departments and agencies<strong> - Need translation</strong></a></li>
		<li lang="en"><a href="ministerial-fr.html">Ministerial profile<strong> - Need translation</strong></a></li>
		<li lang="en"><a href="act-fr.html">Acts<strong> - Need translation</strong></a></li>
		<li lang="en"><a href="regulations-fr.html">Regulations<strong> - Need translation</strong></a></li>
	</ul>
</section>
