---
{
	"title": "Thème Canada.ca",
	"language": "fr",
	"altLangPrefix": "index",
	"breadcrumb": [
		{ "title": "Accueil", "link": false}
	],
	"tag": "GCWeb",
	"dateModified": "2014-02-28",
	"share": "false"
}
---
<section>
	<h2>Anglais</h2>
	<ul>
		<li><a href="home-en.html">Page d'accueil</a></li>
		<li><a href="second-en.html">Page d'accueil de thème</a></li>
		<li><a href="content-en.html">Page de contenu</a></li>
		<li><a href="video-en.html">Page de contenu vidéo</a></li>
		<li><a href="mobile-centre/index-en.html">Centre mobile</a></li>
		<li><a href="social-media-centre/index-en.html">Centre des médias sociaux</a></li>
		<li><a href="feedback-en.html">Formulaire de rétroaction</a></li>
		<li><a href="index.html">Page d'entrée</a></li>
	</ul>
</section>

<section>
	<h2>Français</h2>
	<ul>
		<li><a href="home-fr.html">Page d'accueil</a></li>
		<li><a href="second-fr.html">Page d'accueil de thème</a></li>
		<li><a href="content-fr.html">Page de contenu</a></li>
		<li><a href="video-fr.html">Page de contenu vidéo</a></li>
		<li><a href="mobile-centre/index-en.html">Centre mobile</a></li>
		<li><a href="social-media-centre/index-en.html">Centre des médias sociaux</a></li>
		<li><a href="feedback-fr.html">Formulaire de rétroaction</a></li>
		<li><a href="index.html">Page d'entrée</a></li>
	</ul>
</section>
