---
{
	"title": "Compte rendu du rendement des services de [Nom de l’institution] pour l’exercice financier de 2015 à 2016",
	"language": "fr",
	"altLangPrefix": "institutional-service-performance",
	"pageclass": "cnt-wdth-lmtd",
	"breadcrumb": [
		{ "title": "Accueil", "link": "https://www.canada.ca/fr.html" }
	],
	"dateModified": "2017-09-29",
	"share": "true"
}
---
{{>byline}}
<p>Ce rapport couvre l’exercice 2015 à 2016. Un exercice financier s’étend du 1<sup>er</sup> avril au 31 mars</p>
<nav role="navigation">
	<h2>Sur cette page</h2>
	<ul>
		<li><a href="#toc1">[Nome du service 1]</a></li>
		<li><a href="#toc2">[Nome du service 2]</a></li>
		<li><a href="#toc3">[Nome du service 3]</a></li>
	</ul>
</nav>
<p>Les normes de service indiquent aux citoyens le rendement auquel ils peuvent raisonnablement s’attendre à recevoir dans des conditions normales. Dans le cadre de son engagement continu à offrir un service à la clientèle de qualité, [nom de l’institution] a élaboré des normes pour ses services.</p>
<p>Nous avons dépassé nos cibles de rendement dans 89 % des services que nous offrons. Nos résultats de rendement sont décrits plus en détail ci-dessous.</p>
<section>
	<h2 id="toc1">[Nome du service 1]</h2>
	<p><strong>Nous avons atteint 100 % de nos cibles de rendement pour [Nome du service 1].</strong></p>
	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
	<section>
		<h3>Les délais de traitement des demandes</h3>
		<section>
			<h4>Demandes de passeport présentées en personne à un bureau de Passeport Canada</h4>
			<ul>
				<li><strong>Notre norme :</strong> traiter les demandes dans les 35 jours ouvrables</li>
				<li><strong>Notre cible :</strong> respecter la norme pour un minimum de 90 % des demandes présentées</li>
				<li><strong>Notre rendement en 2015-2016 :</strong> 96 % des demandes ont été traitées dans la norme de 35 jours ouvrables</li>
			</ul>
		</section>
		<section>
			<h4>Demandes de passeport soumises par courrier</h4>
			<ul>
				<li><strong>Notre norme :</strong> traiter les demandes dans les 40 jours ouvrables</li>
				<li><strong>Notre cible :</strong> respecter la norme pour un minimum de 90 % des demandes présentées</li>
				<li><strong>Notre rendement en 2015-2016 :</strong> 98 % des demandes ont été traitées dans la	norme de 40 jours ouvrables</li>
			</ul>
		</section>
	</section>
</section>
<section>
	<h2 id="toc2">[Nome du service 2]</h2>
	<p><strong>Nous avons atteint 90 % de nos cibles de rendement pour [Nome du service 2].</strong></p>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p>
	<section>
		<h3>Le temps d’attente au téléphone</h3>
		<ul>
			<li><strong>Notre norme :</strong> dictum felis eu pede mollis pretium</li>
			<li><strong>Notre cible :</strong> aenean commodo ligula eget dolor</li>
			<li><strong>Notre rendement en 2015-2016 :</strong> vivamus elementum semper nisi</li>
		</ul>
	</section>
</section>
<section>
	<h2>Comptes rendus du rendement des services des années précédentes :</h2>
	<ul>
		<li><a href="#">Compte rendu du rendement des services pour [Nom de l’institution] pour l’exercice 2014-2015</a></li>
		<li><a href="#">Compte rendu du rendement des services pour [Nom de l’institution] pour l’exercice 2013-2014</a></li>
	</ul>
</section>
