---
{
	"title": "Coordonnées [nom de l’institution]",
	"language": "fr",
	"altLangPrefix": "institution-contact",
	"pageType": "institution",
	"breadcrumb": [
		{ "title": "Accueil", "link": "https://www.canada.ca/fr.html" },
		{ "title": "Ministères et organismes", "link": "https://www.canada.ca/fr/gouvernement/min.html" }
	],
	"dateModified": "2017-12-05",
	"share": "true"
}
---
<div class="row">
<div class="col-sm-7 pull-left">
{{>byline}}
	<p>[Nom de l’institution] Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sagittis massa sed libero eleifend, ac iaculis urna tempor. Cras sagittis massa sed libero eleifend, ac iaculis urna tempor.</p>
</div>
	<div class="col-sm-5 col-xs-12 pull-right">
		{{>follow}}
	</div>
</div>
<div class="row">
	<section class="col-lg-4 col-md-6">
		<h2 class="h3">[Trouver un bureau]</h2>
		<ul class="lst-spcd">
			<li><a href="#">Consulter les lieux des bureaux</a></li>
			<li><a href="#">Recherche par code postal</a></li>
		</ul>
	</section>
	<section class="col-lg-4 col-md-6">
		<h2 class="h3">[Tâche de communication 1]</h2>
		<ul class="lst-spcd">
			<li><a href="#">[Communication avec l’organisme 1]</a></li>
			<li><a href="#">[Communication avec l’organisme 2]</a></li>
			<li><a href="#">[Communication avec l’organisme 3]</a></li>
			<li><a href="#">[Communication avec l’organisme 4]</a></li>
		</ul>
	</section>
	<section class="col-lg-4 col-md-6">
		<h2 class="h3">[Tâche de communication 2]</h2>
		<ul class="lst-spcd">
			<li><a href="#">[Communication avec l’organisme 1]</a></li>
			<li><a href="#">[Communication avec l’organisme 2]</a></li>
			<li><a href="#">[Communication avec l’organisme 3]</a></li>
		</ul>
	</section>
</div>
