---
{
	"title": "Contact [Institution name]",
	"language": "en",
	"altLangPrefix": "institution-contact",
	"pageType": "institution",
	"breadcrumb": [
		{ "title": "Home", "link": "https://www.canada.ca/en.html" },
		{ "title": "Departments & agencies", "link": "https://www.canada.ca/en/government/dept.html" }
	],
	"dateModified": "2017-12-05",
	"share": "true"
}
---
<div class="row">
<div class="col-sm-7 pull-left">
{{>byline}}
	<p>[Institution name] Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sagittis massa sed libero eleifend, ac iaculis urna tempor. Cras sagittis massa sed libero eleifend, ac iaculis urna tempor.</p>
</div>
	<div class="col-sm-5 col-xs-12 pull-right">
		{{>follow}}
	</div>
</div>
<div class="row">
	<section class="col-lg-4 col-md-6">
		<h2 class="h3">[Find an office]</h2>
		<ul class="lst-spcd">
			<li><a href="#">Browse office locations</a></li>
			<li><a href="#">Postal code lookup</a></li>
		</ul>
	</section>
	<section class="col-lg-4 col-md-6">
		<h2 class="h3">[Institution contact task 1]</h2>
		<ul class="lst-spcd">
			<li><a href="#">[Institution contact one]</a></li>
			<li><a href="#">[Institution contact two]</a></li>
			<li><a href="#">[Institution contact three]</a></li>
			<li><a href="#">[Institution contact four]</a></li>
		</ul>
	</section>
	<section class="col-lg-4 col-md-6">
		<h2 class="h3">[Institution contact task 2]</h2>
		<ul class="lst-spcd">
			<li><a href="#">[Institution contact one]</a></li>
			<li><a href="#">[Institution contact two]</a></li>
			<li><a href="#">[Institution contact three]</a></li>
		</ul>
	</section>
</div>
