---
{
	"title": "[Institution Name]",
	"language": "en",
	"altLangPrefix": "institution",
	"pageType": "institution",
	"pageclass": "page-type-nav",
	"breadcrumb": [
		{ "title": "Home", "link": "https://www.canada.ca/en.html" },
		{ "title": "Departments & agencies", "link": "https://www.canada.ca/en/government/dept.html" }
	],
	"dateModified": "2017-12-05",
	"share": "true"
}
---
<h1 property="name" id="wb-cont">{{{title}}}</h1>
<div class="row">
<div class="col-sm-7 pull-left">
<p>[Institution name] Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sagittis massa sed libero eleifend, ac iaculis urna tempor. Cras sagittis massa sed libero eleifend, ac iaculis urna tempor.</p>
</div>
	<div class="col-xs-12 col-sm-5 pull-right">
		{{>follow}}
	</div>
</div>
<section>
	<h2>Latest</h2>
	<div class="gc-nws row">
		<div class="col-md-8">
			<div class="row">
				<div class="col-md-6">
					<a href="#">
						<img src="{{assets}}/img/360x203.png" alt="" class="img-responsive thumbnail"/>
						<p>[News title]</p>
					</a>
					<small>YYYY-MM-DD hh:mm - Type of news product</small>
					<p>Brief description of the news item.</p>
				</div>
				<div class="col-md-6">
					<a href="#">
						<img src="{{assets}}/img/360x203.png" alt="" class="img-responsive thumbnail"/>
						<p>[News title]</p>
					</a>
					<small>YYYY-MM-DD hh:mm - Type of news product</small>
					<p>Brief description of the news item.</p>
				</div>
			</div>
		</div>
		<div class="wb-feeds limit-3 col-md-4">
			<ul class="feeds-cont list-unstyled lst-spcd">
				<li>
					<a href="http://news.gc.ca/web/fd-en.do?mthd=dpt&amp;ft=atom&amp;crtr.dpt1D=6675" rel="external">Government of Canada News Releases</a>
				</li>
			</ul>
			<p class="text-right"><strong><a href="#">All news</a></strong></p>
		</div>
	</div>
</section>
<div class="row">
	<div class="col-md-4 col-xs-12 pull-right">
		{{>most-requested}}
	</div>
	<section class="col-md-8 pull-left">
		<h2>Services and information</h2>
		<div class="wb-eqht row">
			<div class="col-md-6">
				{{>task}}
			</div>
			<div class="col-md-6">
				{{>task}}
			</div>
			<div class="col-md-6">
				{{>task}}
			</div>
			<div class="col-md-6">
				{{>task}}
			</div>
			<div class="col-md-6">
				{{>task}}
			</div>
			<div class="col-md-6">
				{{>task}}
			</div>
			<div class="col-md-6">
				{{>task}}
			</div>
			<div class="col-md-6">
				{{>task}}
			</div>
			<div class="col-md-6">
				{{>task}}
			</div>
			<div class="col-md-6">
				{{>task}}
			</div>
			<div class="col-md-6">
				{{>task}}
			</div>
			<div class="col-md-6">
				{{>task}}
			</div>
		</div>
	</section>
	<div class="pull-right col-xs-12 col-md-4">
		{{>contact-us}}
		{{>more-info}}
	</div>
</div>
<section class="whtwedo">
	<h2>What we are doing</h2>
	<div class="row wb-eqht">
		<section class="col-lg-4 col-md-6">
			{{>research}}
		</section>
		<section class="col-lg-4 col-md-6">
			{{>surveys}}
		</section>
		<section class="col-lg-4 col-md-6">
			{{>consultations}}
		</section>
	</div>
</section>
{{>corp-info}}
{{>deptfeatures}}
