---
{
	"title": "[Nom de l’institution]",
	"language": "fr",
	"altLangPrefix": "institution",
	"pageType": "institution",
	"breadcrumb": [
		{ "title": "Accueil", "link": "http://www.canada.ca/fr/index.html" },
		{ "title": "Ministères et organismes", "link": "http://www.canada.ca/fr/gouv/min/index.html" }
	],
	"dateModified": "2014-10-24",
	"share": "true"
}
---
<div class="row">
	<div class="col-md-9">
		<p class="pagetag">[Nom de l’institution] Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sagittis massa sed libero eleifend, ac iaculis urna tempor. Cras sagittis massa sed libero eleifend, ac iaculis urna tempor.</p>
		<p>Nous sommes un organisme fédéral qui [gère le/fait partie du] dans <a href="#">portefeuille [nom du portefeuille]</a> et qui travaille avec <a href="#">ses partenaires</a>. </p>
	</div>
</div>
<section class="alert alert-info">
	<h2 class="h3">Nous procédons actuellement au transfert de nos services et de nos renseignements vers Canada.ca.</h2>
	<p>Le <a href="#">site Web actuel du/de/de la/de l’[ajouter le nom de l’institution]</a> restera accessible jusqu’à ce que le transfert vers Canada.ca soit terminé.</p>
</section>
{{>follow}}
<section>
	<h2>Nouveautés</h2>
	<div class="gc-nws row">
		<div class="col-md-8">
			<div class="row">
				<div class="col-md-6">
					<a href="#">
						<img src="{{assets}}/img/360x203.png" alt="" class="img-responsive thumbnail"/>
						<p>[Titre de l’article]</p>
					</a>
					<small>[AAAA-MM-JJ hh:mm] - Type de produit médiatique</small>
					<p>Brève description de la nouvelle.</p>
				</div>
				<div class="col-md-6">
					<a href="#">
						<img src="{{assets}}/img/360x203.png" alt="" class="img-responsive thumbnail"/>
						<p>[Titre de l’article]</p>
					</a>
					<small>[AAAA-MM-JJ hh:mm] - Type de produit médiatique</small>
					<p>Brève description de la nouvelle.</p>
				</div>
			</div>
		</div>
		<div class="wb-feeds limit-3 col-md-4">
			<ul class="feeds-cont list-unstyled lst-spcd">
				<li>
					<a href="http://news.gc.ca/web/fd-fr.do?mthd=dpt&amp;ft=atom&amp;crtr.dpt1D=6675" rel="external">Nouvelles du Gouvernement du Canada </a>
				</li>
			</ul>
			<p class="text-right"><strong><a href="#">Toutes les nouvelles</a></strong></p>
		</div>
	</div>
</section>
<div class="row">
	<section class="col-md-8">
		<h2>Nos services et renseignements</h2>
		<section>
			<h3 class="h5"><a href="#">[Lien à une tâche principale]</a></h3>
			<p>Résumé des renseignements disponibles ou des tâches pouvant être accomplies sur la page de destination. Supprimez les longs libellés et les messages promotionnels. Utilisez une formulation basée sur l'action.</p>
		</section>
		<section>
			<h3 class="h5"><a href="#">[Lien à une tâche principale]</a></h3>
			<p>Résumé des renseignements disponibles ou des tâches pouvant être accomplies sur la page de destination. Supprimez les longs libellés et les messages promotionnels. Utilisez une formulation basée sur l'action.</p>
		</section>
		<section>
			<h3 class="h5"><a href="#">[Lien à une tâche principale]</a></h3>
			<p>Résumé des renseignements disponibles ou des tâches pouvant être accomplies sur la page de destination. Supprimez les longs libellés et les messages promotionnels. Utilisez une formulation basée sur l'action.</p>
		</section>
		<section>
			<h3 class="h5"><a href="#">[Lien à une tâche principale]</a></h3>
			<p>Résumé des renseignements disponibles ou des tâches pouvant être accomplies sur la page de destination. Supprimez les longs libellés et les messages promotionnels. Utilisez une formulation basée sur l'action.</p>
		</section>
		<section>
			<h3 class="h5"><a href="#">[Lien à une tâche principale]</a></h3>
			<p>Résumé des renseignements disponibles ou des tâches pouvant être accomplies sur la page de destination. Supprimez les longs libellés et les messages promotionnels. Utilisez une formulation basée sur l'action.</p>
		</section>
		<section>
			<h3 class="h5"><a href="#">[Lien à une tâche principale]</a></h3>
			<p>Résumé des renseignements disponibles ou des tâches pouvant être accomplies sur la page de destination. Supprimez les longs libellés et les messages promotionnels. Utilisez une formulation basée sur l'action.</p>
		</section>
		<section>
			<h3 class="h5"><a href="#">[Lien à une tâche principale]</a></h3>
			<p>Résumé des renseignements disponibles ou des tâches pouvant être accomplies sur la page de destination. Supprimez les longs libellés et les messages promotionnels. Utilisez une formulation basée sur l'action.</p>
		</section>
		<section>
			<h3 class="h5"><a href="#">[Lien à une tâche principale]</a></h3>
			<p>Résumé des renseignements disponibles ou des tâches pouvant être accomplies sur la page de destination. Supprimez les longs libellés et les messages promotionnels. Utilisez une formulation basée sur l'action.</p>
		</section>
		<p class="text-right"><strong><a href="#">Tous nos services et renseignements </a></strong></p>
	</section>
	<aside class="col-md-4 mrgn-tp-lg">
		<div class="well">
			<h2 class="mrgn-tp-0">Sujets</h2>
			<ul class="lst-spcd">
				<li><a href="#">[Lien à un sujet ou sous-sujet]</a></li>
				<li><a href="#">[Lien à un sujet ou sous-sujet]</a></li>
				<li><a href="#">[Lien à un sujet ou sous-sujet]</a></li>
				<li><a href="#">[Lien à un sujet ou sous-sujet]</a></li>
				<li><a href="#">[Lien à un sujet ou sous-sujet]</a></li>
				<li><a href="#">[Lien à un sujet ou sous-sujet]</a></li>
				<li><a href="#">[Lien à un sujet ou sous-sujet]</a></li>
				<li><a href="#">[Lien à un sujet ou sous-sujet]</a></li>
				<li><a href="#">[Lien à un sujet ou sous-sujet]</a></li>
				<li><a href="#">[Lien à un sujet ou sous-sujet]</a></li>
			</ul>
		</div>
		<div class="well">
			<h2 class="mrgn-tp-0">Autres renseignements pour les</h2>
			<ul class="lst-spcd">
				<li><a href="#">[Lien à un sujet pour un auditoire ciblé]</a></li>
				<li><a href="#">[Lien à un sujet pour un auditoire ciblé]</a></li>
				<li><a href="#">[Lien à un sujet pour un auditoire ciblé]</a></li>
			</ul>
		</div>
	</aside>
</div>
<section>
	<h2>Ce que nous faisons</h2>
	<div class="row wb-eqht">
		<section class="col-lg-4 col-md-6">
			<h3>Lois et règlements</h3>
			<ul class="mrgn-bttm-lg lst-spcd">
				<li><a href="#">[Règlement 1]</a></li>
				<li><a href="#">[Lois 1 avec un long titre]</a></li>
				<li><a href="#">[Règlement 2 avec un long titre]</a></li>
				<li><a href="#">[Règlement 3]</a></li>
			</ul>
			<p class="text-right"><strong><a href="#">Tous les règlements et lois connexes</a></strong></p>
		</section>
		<section class="col-lg-4 col-md-6">
			<h3>Publications</h3>
			<ul class="mrgn-bttm-lg lst-spcd">
				<li><a href="#">[Publication 1]</a></li>
				<li><a href="#">[Publication 2 avec un long titre]</a></li>
				<li><a href="#">[Publication 3]</a></li>
				<li><a href="#">[Publication 4]</a></li>
			</ul>
			<p class="text-right"><strong><a href="#">Toutes les publications connexes</a></strong></p>
		</section>
		<section class="col-lg-4 col-md-6">
			<h3>Consultations</h3>
			<ul class="mrgn-bttm-lg lst-spcd">
				<li><a href="#">[Consultation 1]</a></li>
				<li><a href="#">[Consultation 2 avec un long titre]</a></li>
				<li><a href="#">[Consultation 3]</a></li>
				<li><a href="#">[Consultation 4 avec un long titre... et plus...]</a></li>
			</ul>
			<p class="text-right"><strong><a href="#">Toutes les consultations connexes</a></strong></p>
		</section>
		<section class="col-lg-4 col-md-6">
			<h3>Données ouvertes</h3>
			<ul>
				<li><a href="#">[Donnée 1]</a></li>
				<li><a href="#">[Donnée 2 avec un long titre]</a></li>
				<li><a href="#">[Donnée 3]</a></li>
				<li><a href="#">[Donnée 4 avec un long titre... et plus...]</a></li>
			</ul>
			<p class="text-right"><strong><a href="#">Toutes les données ouvertes connexes</a></strong></p>
		</section>
		<section class="col-lg-4 col-md-6">
			<h3>Statistiques</h3>
			<ul>
				<li><a href="#">[Statistique 1]</a></li>
				<li><a href="#">[Statistique 2 avec un long titre]</a></li>
				<li><a href="#">[Statistique 3]</a></li>
				<li><a href="#">[Statistique 4 avec un long titre... et plus...]</a></li>
			</ul>
			<p class="text-right"><strong><a href="#">Toutes les statistiques connexes</a></strong></p>
		</section>
	</div>
</section>
{{>deptfeatures}}
{{>corp-info}}
