---
{
	"title": "[Institution] service performance reporting for fiscal year 2015 to 2016",
	"language": "en",
	"altLangPrefix": "institutional-service-performance",
	"pageclass": "cnt-wdth-lmtd",
	"breadcrumb": [
		{ "title": "Home", "link": "https://www.canada.ca/en.html" }
	],
	"dateModified": "2017-09-29",
	"share": "true"
}
---
{{>byline}}
<p>This report covers the 2015 to 2016 fiscal year. A fiscal year runs from April 1 to March 31.</p>
<nav role="navigation">
	<h2>On this page</h2>
	<ul>
		<li><a href="#toc1">[Service name one]</a></li>
		<li><a href="#toc2">[Service name two]</a></li>
		<li><a href="#toc3">[Service name three]</a></li>
	</ul>
</nav>
<p>Service standards publicly state the level of performance that citizens can reasonably expect to encounter under normal circumstances. As part of its ongoing commitment to quality client service, [Institution name] has developed standards for its services.</p>
<p>We have exceeded our performance targets in 89% of the services we offer. Our performance results are described in more detail below.</p>
<section>
	<h2 id="toc1">[Service name one]</h2>
	<p><strong>We have met 100% of our performance targets for [Service name one]</strong>.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	<section>
		<h3>Application processing wait times</h3>
		<section>
			<h4>Applications submitted in person at a service office</h4>
			<ul>
				<li><strong>Our standard:</strong> process application within 35 business days</li>
				<li><strong>Our target:</strong> meet the standard for at least 90% of applications</li>
				<li><strong>Our performance in 2015-2016: </strong>96% of application were processed within the 35 business day standard</li>
			</ul>
		</section>
		<section>
			<h4>Applications submitted by mail</h4>
			<ul>
				<li><strong>Our standard:</strong> process application within 40 business days</li>
				<li><strong>Our target:</strong> meet the standard for at least 90% of applications</li>
				<li><strong>Our performance in 2015-2016:</strong> 98% of application were processed within the 40 business day standard</li>
			</ul>
		</section>
	</section>
</section>
<section>
	<h2 id="toc2">[Service name two]</h2>
	<p><strong>We have met 90% of our performance targets for [Service name two]</strong></p>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	<section>
		<h3>Telephone wait times</h3>
		<ul>
			<li><strong>Our standard:</strong> answer telephone calls within 10 minutes</li>
			<li><strong>Our target:</strong> meet the standard for at least 95% of calls received</li>
			<li><strong>Our performance in 2015-2016:</strong> 98% of application were processed within the 10 minute standard</li>
		</ul>
	</section>
</section>
<section>
	<h2>Service performance from previous years</h2>
	<ul>
		<li><a href="#">[Institution name] service performance reporting for fiscal year 2014 to 2015</a></li>
		<li><a href="#">[Institution name] service performance reporting for fiscal year 2013 to 2014</a></li>
	</ul>
</section>
