---
{
	"title": "L’honorable [nom du ministre], député",
	"language": "fr",
	"altLangPrefix": "ministerial",
	"breadcrumb": [
		{ "title": "Accueil", "link": "https://www.canada.ca/fr.html" },
		{ "title": "Ministres du gouvernement du Canada", "link": "#" }
	],
	"dateModified": "2018-06-05",
	"share": "true"
}
---
<div class="row">
	<div class="col-md-3">
		<p class="mrgn-tp-lg"><img src="./img/265x352.png" alt="" class="img-responsive"></p>
	</div>
	<div class="col-md-6">
		<p class="mrgn-tp-lg"><strong>Ministre de <a href="#">[nom du portefeuille no1]</a> et <a href="#">[nom du portefeuille no2]</a></strong></p>
		<p>Représente la circonscription de <a href="#">[nom de la circonscription]</a></p>
		<ul>
			<li><a href="#">Lettre de mandat adressées aux ministres</a></li>
			<li><a href="#">Cahier de breffage ministériel</a></li>
			<li><a href="#">Nomination ministérielle</a></li>
		</ul>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore amet ducimus nihil, voluptate quibusdam? Excepturi in aspernatur rem ipsam aperiam voluptates fugit officiis culpa, ratione, et maxime impedit.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore amet ducimus nihil, voluptate quibusdam? Excepturi in aspernatur rem ipsam aperiam voluptates fugit officiis culpa, ratione, et maxime impedit.</p>
		<section>
			<h2>Coordonnées</h2>
			<p> Chambre des communes<br>
				Ottawa (Ontario)&nbsp;K1A&nbsp;0A6<br>
				<strong>Téléphone&nbsp;:</strong> 123-456-7890<br>
				<strong>Courriel&nbsp;:</strong> <a href="mailto:">[prénom.nom@canada.ca]</a> <span class="glyphicon glyphicon-envelope"></span></p>
		</section>
	</div>
	<div class="col-md-3">
		<h2>Twitter</h2>
		[Twitter feed]
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<section>
			<h2>Nouveautés</h2>
			<div class="gc-nws row">
				<div class="col-md-8">
					<div class="row">
						<div class="col-md-6">
							<a href="#">
								<img src="./img/360x203.png" alt="" class="img-responsive thumbnail">
								<p>[Titre de l’article]</p>
							</a>
							<p><small class="text-muted"><time>2018-06-05 19:00</time> - Type de produit médiatique</small><br />
							Brève description de la nouvelle.</p>
						</div>
						<div class="col-md-6">
							<a href="#">
								<img src="./img/360x203.png" alt="" class="img-responsive thumbnail">
								<p>[Titre de l’article]</p>
							</a>
							<p><small class="text-muted"><time>2018-06-05 19:00</time> - Type de produit médiatique</small><br />
							Brève description de la nouvelle.</p>
						</div>
					</div>
				</div>
				<div class="wb-feeds limit-3 col-md-4">
					<ul class="feeds-cont list-unstyled lst-spcd">
						<li> <a href="http://news.gc.ca/web/fd-fr.do?mthd=dpt&amp;ft=atom&amp;crtr.dpt1D=6675" rel="external">Nouvelles du Gouvernement du Canada </a> </li>
					</ul>
					<p class="text-right"><strong><a href="#">Toutes les nouvelles</a></strong></p>
				</div>
			</div>
		</section>
	</div>
</div>
<section>
	<h2>Activités récentes</h2>
	<div class="row">
		<section class="col-sm-4">
			<h3>Initiatives</h3>
			<ul class="lst-spcd">
				<li><a href="#">[Initiatives 1]</a></li>
				<li><a href="#">[Initiatives 2 contenant un texte plus long à insérer]</a></li>
				<li><a href="#">[Initiatives 3]</a></li>
				<li><a href="#">[Initiatives 4 contenant un texte plus long à insérer]</a></li>
			</ul>
		</section>
		<section class="col-sm-4">
			<h3>Discours</h3>
			<ul class="lst-spcd">
				<li><a href="#">[Discours 1]</a></li>
				<li><a href="#">[Discours 2 contenant un texte plus long à insérer]</a></li>
				<li><a href="#">[Discours 3]</a></li>
				<li><a href="#">[Discours 4 contenant un texte plus long à insérer]</a></li>
			</ul>
		</section>
		<section class="col-sm-4">
			<h3>Avis aux médias</h3>
			<ul class="lst-spcd">
				<li><a href="#">[Avis aux médias 1]</a></li>
				<li><a href="#">[Avis aux médias 2 contenant un texte plus long à insérer]</a></li>
				<li><a href="#">[Avis aux médias 3]</a></li>
				<li><a href="#">[Avis aux médias 4 contenant un texte plus long à insérer]</a></li>
			</ul>
		</section>
	</div>
</section>
<section>
	<h2>Galerie</h2>
	<div class="row">
		<div class="col-lg-3 col-md-6 mrgn-bttm-lg">
			<a href="#">
				<figure>
					<img src="{{assets}}/img/250x250.png" alt="" class="img-responsive thumbnail mrgn-bttm-sm">
					<figcaption>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, fugiat!</figcaption>
				</figure>
			</a>
		</div>
		<div class="col-lg-3 col-md-6 mrgn-bttm-lg">
			<a href="#">
				<figure>
					<img src="{{assets}}/img/250x250.png" alt="" class="img-responsive thumbnail mrgn-bttm-sm">
					<figcaption>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, fugiat!</figcaption>
				</figure>
			</a>
		</div>
		<div class="col-lg-3 col-md-6 mrgn-bttm-lg">
			<a href="#">
				<figure>
					<img src="{{assets}}/img/250x250.png" alt="" class="img-responsive thumbnail mrgn-bttm-sm">
					<figcaption>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, fugiat!</figcaption>
				</figure>
			</a>
		</div>
		<div class="col-lg-3 col-md-6 mrgn-bttm-lg">
			<a href="#">
				<figure>
					<img src="{{assets}}/img/250x250.png" alt="" class="img-responsive thumbnail mrgn-bttm-sm">
					<figcaption>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, fugiat!</figcaption>
				</figure>
			</a>
		</div>
	</div>
	<p><strong><a href="#">Toutes les photos et vidéos</a></strong></p>
</section>
