---
{
	"title": "The Honourable [Minister name], MP",
	"language": "en",
	"altLangPrefix": "ministerial",
	"breadcrumb": [
		{ "title": "Home", "link": "https://www.canada.ca/en.html" },
		{ "title": "Government of Canada Ministers", "link": "#" }
	],
	"dateModified": "2018-06-05",
	"share": "true"
}
---
<div class="row">
	<div class="col-md-3">
		<p class="mrgn-tp-lg"><img src="./img/265x352.png" alt="" class="img-responsive"></p>
	</div>
	<div class="col-md-6">
		<p class="mrgn-tp-lg"><strong>Minister of <a href="#">[Portfolio name one]</a> and <a href="#">[Portfolio name two]</a></strong><a href="#"></a></p>
		<p>Represents the riding of <a href="#">[Riding name]</a></p>
		<ul>
			<li><a href="#">Ministerial mandate letter</a></li>
			<li><a href="#">Ministerial briefing book</a></li>
			<li><a href="#">Ministerial appointments</a></li>
		</ul>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore amet ducimus nihil, voluptate quibusdam? Excepturi in aspernatur rem ipsam aperiam voluptates fugit officiis culpa, ratione, et maxime impedit.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique ex commodi autem laudantium aliquam id, voluptate possimus quod illo velit vero, at dolorum sequi ipsam culpa fugit, molestias quaerat vitae.</p>
		<section>
			<h2>Contact information</h2>
			<p>House of Commons<br>
				Ottawa, Ontario&nbsp;K1A&nbsp;0A6<br>
				<strong>Telephone:</strong> 123-456-7890<br>
				<strong>Email:</strong> <a href="mailto:">[first.last@canada.ca]</a> <span class="glyphicon glyphicon-envelope"></span></p>
		</section>
	</div>
	<div class="col-md-3">
		<h2>Twitter</h2>
		[Twitter feed]
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<section>
			<h2>Latest</h2>
			<div class="gc-nws row">
				<div class="col-md-8">
					<div class="row">
						<div class="col-md-6">
							<a href="#">
								<img src="./img/360x203.png" alt="" class="img-responsive thumbnail">
								<p>[News title]</p>
							</a>
							<p><small class="text-muted"><time>2018-06-05 19:00</time> - Type of news product</small><br />
							Brief description of the news item.</p>
						</div>
						<div class="col-md-6">
							<a href="#">
								<img src="./img/360x203.png" alt="" class="img-responsive thumbnail">
								<p>[News title]</p>
							</a>
							<p><small class="text-muted"><time>2018-06-05 20:00</time> - Type of news product</small><br />
							Brief description of the news item.</p>
						</div>
					</div>
				</div>
				<div class="wb-feeds limit-3 col-md-4">
					<ul class="feeds-cont list-unstyled lst-spcd">
						<li> <a href="http://news.gc.ca/web/fd-en.do?mthd=dpt&amp;ft=atom&amp;crtr.dpt1D=6675" rel="external">Government of Canada News Releases</a> </li>
					</ul>
					<p class="text-right"><strong><a href="#">All news</a></strong></p>
				</div>
			</div>
		</section>
	</div>
</div>
<section>
	<h2>Recent activities</h2>
	<div class="row">
		<section class="col-sm-4">
			<h3>Initiatives</h3>
			<ul class="lst-spcd">
				<li><a href="#">[Initiatives 1]</a></li>
				<li><a href="#">[Initiatives 2 with longer text to wrap]</a></li>
				<li><a href="#">[Initiatives 3]</a></li>
				<li><a href="#">[Initiatives 4 with longer text to wrap]</a></li>
			</ul>
		</section>
		<section class="col-sm-4">
			<h3>Speeches</h3>
			<ul class="lst-spcd">
				<li><a href="#">[Speech 1]</a></li>
				<li><a href="#">[Speech 2 with longer text to wrap]</a></li>
				<li><a href="#">[Speech 3]</a></li>
				<li><a href="#">[Speech 4 with longer text to wrap]</a></li>
			</ul>
		</section>
		<section class="col-sm-4">
			<h3>Media advisories</h3>
			<ul class="lst-spcd">
				<li><a href="#">[Media advisory 1]</a></li>
				<li><a href="#">[Media advisory 2 with longer text to wrap]</a></li>
				<li><a href="#">[Media advisory 3]</a></li>
				<li><a href="#">[Media advisory 4 with longer text to wrap]</a></li>
			</ul>
		</section>
	</div>
</section>
<section>
	<h2>Gallery</h2>
	<div class="row">
		<div class="col-lg-3 col-md-6 mrgn-bttm-lg">
			<a href="#">
				<figure>
					<img src="{{assets}}/img/250x250.png" alt="" class="img-responsive thumbnail mrgn-bttm-sm">
					<figcaption>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, fugiat!</figcaption>
				</figure>
			</a>
		</div>
		<div class="col-lg-3 col-md-6 mrgn-bttm-lg">
			<a href="#">
				<figure>
					<img src="{{assets}}/img/250x250.png" alt="" class="img-responsive thumbnail mrgn-bttm-sm">
					<figcaption>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, fugiat!</figcaption>
				</figure>
			</a>
		</div>
		<div class="col-lg-3 col-md-6 mrgn-bttm-lg">
			<a href="#">
				<figure>
					<img src="{{assets}}/img/250x250.png" alt="" class="img-responsive thumbnail mrgn-bttm-sm">
					<figcaption>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, fugiat!</figcaption>
				</figure>
			</a>
		</div>
		<div class="col-lg-3 col-md-6 mrgn-bttm-lg">
			<a href="#">
				<figure>
					<img src="{{assets}}/img/250x250.png" alt="" class="img-responsive thumbnail mrgn-bttm-sm">
					<figcaption>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, fugiat!</figcaption>
				</figure>
			</a>
		</div>
	</div>
	<p><strong><a href="#">All photos and videos</a></strong></p>
</section>
