---
{
	"title": "[Nom de l’organisme]",
	"language": "fr",
	"altLangPrefix": "organizational-carousel",
	"pageType": "organization",
	"breadcrumb": [
		{ "title": "Accueil", "link": "http://www.canada.ca/fr/index.html" },
		{ "title": "Ministères et organismes", "link": "http://www.canada.ca/fr/gouv/min/index.html" }
	],
	"dateModified": "2014-10-24",
	"share": "true"
}
---
<div class="row">
	<div class="col-sm-7 col-xs-12 pull-left">
		<p>Nous sommes une institution fédérale qui fait partie du portefeuille du <a href="#">[nom du portfolio]</a>.</p>
		<p class="pagetag">[Nom de l’institution] Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sagittis massa sed libero eleifend, ac iaculis urna tempor. Cras sagittis massa sed libero eleifend, ac iaculis urna tempor.</p>
	</div>
	<div class="clr-rght-sm clr-rght-md clr-rght-lg"></div>
	<div class="col-sm-5 col-xs-8 pull-right">
		{{>follow}}
	</div>
</div>
{{>institution-alert}}
<section>
	<h2>Nouveautés</h2>
	<div class="gc-nws row">
		<div class="col-md-8">
			<div class="wb-tabs carousel-s2 playing slow">
				<ul role="tablist">
					<li class="active">
						<a href="#tab1"><img src="{{assets}}/img/promos/750x222-1.png" alt="" /><span class="wb-inv">Tab 1: [Nouvelles titre]</span></a>
					</li>
					<li>
						<a href="#tab2"><img src="{{assets}}/img/promos/750x222-2.png" alt="" /><span class="wb-inv">Tab 2: [Nouvelles titre]</span></a>
					</li>
				</ul>
				<div class="tabpanels">
					<div role="tabpanel" id="tab1" class="in fade">
						<a href="#" class="learnmore">
							<figure>
								<img src="{{assets}}/img/promos/750x222-1.png" alt="" />
								<figcaption>
									<p>[Titre de la nouvelle]</p>
									<small>YYYY-MM-DD - Type de nouvelle</small>
									<p>Brève description des nouvelles.</p>
								</figcaption>
							</figure>
						</a>
					</div>
					<div role="tabpanel" id="tab2" class="out fade">
						<a href="#" class="learnmore">
							<figure>
								<img src="{{assets}}/img/promos/750x222-2.png" alt="" />
								<figcaption>
									<p>[Titre de la nouvelle]</p>
									<small>YYYY-MM-DD - Type de nouvelle</small>
									<p>Brève description des nouvelles.</p>
								</figcaption>
							</figure>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="wb-feeds limit-3 col-lg-4 pull-right">
			<ul class="feeds-cont list-unstyled lst-spcd">
				<li>
					<a href="http://news.gc.ca/web/fd-fr.do?mthd=dpt&amp;ft=atom&amp;crtr.dpt1D=6675" rel="external">Nouvelles du Gouvernement du Canada </a>
				</li>
			</ul>
			<p class="text-right"><strong><a href="#">Toutes les nouvelles</a></strong></p>
		</div>
	</div>
</section>
<div class="row">
	<div class="col-md-4 mrgn-tp-lg pull-right">
		{{>most-requested}}
	</div>
	<section class="col-md-8 pull-left mrgn-bttm-lg">
		<h2>Services et renseignements</h2>
		<div class="row">
			<div class="col-md-6">
				{{>task}}
			</div>
			<div class="col-md-6">
				{{>task}}
			</div>
			<div class="clearfix"></div>
			<div class="col-md-6">
				{{>task}}
			</div>
			<div class="col-md-6">
				{{>task}}
			</div>
			<div class="clearfix"></div>
			<div class="col-md-6">
				{{>task}}
			</div>
			<div class="col-md-6">
				{{>task}}
			</div>
			<div class="clearfix"></div>
			<div class="col-md-6">
				{{>task}}
			</div>
			<div class="col-md-6">
				{{>task}}
			</div>
			<div class="clearfix"></div>
			<div class="col-md-6">
				{{>task}}
			</div>
			<div class="col-md-6">
				{{>task}}
			</div>
			<div class="clearfix"></div>
			<details class="mrgn-tp-md brdr-0">
				<summary class="btn btn-default text-center">Afficher plus de services et de renseignements</summary>
				<div class="row">
					<div class="col-md-6">
						{{>task}}
					</div>
					<div class="col-md-6">
						{{>task}}
					</div>
					<div class="clearfix"></div>
					<div class="col-md-6">
						{{>task}}
					</div>
					<div class="col-md-6">
						{{>task}}
					</div>
					<div class="clearfix"></div>
					<div class="col-md-6">
						{{>task}}
					</div>
					<div class="col-md-6">
						{{>task}}
					</div>
					<div class="clearfix"></div>
				</div>
			</details>
		</div>
	</section>
	<div class="clr-rght-md clr-rght-lg"></div>
	<div class="pull-right col-md-4">
		{{>contact-us}}
		{{>more-info}}
	</div>
</div>
<section class="whtwedo">
	<h2>Ce que nous faisons</h2>
	<div class="row wb-eqht">
		<section class="col-lg-4 col-md-6">
			{{>law-regulations}}
		</section>
		<section class="col-lg-4 col-md-6">
			{{>publications}}
		</section>
		<section class="col-lg-4 col-md-6">
			{{>consultations}}
		</section>
		<section class="col-lg-4 col-md-6">
			{{>open-data}}
		</section>
		<section class="col-lg-4 col-md-6">
			{{>statistics}}
		</section>
	</div>
</section>
{{>corp-info}}
{{>deptfeatures}}
