---
{
	"title": "Fonctionalités provisoires - Thème de GCWeb",
	"language": "fr",
	"altLangPrefix": "provisional",
	"breadcrumb": [
		{ "title": "Accueil GCWeb", "link": "https://wet-boew.github.io/themes-dist/GCWeb/index-fr.html" }
	],
	"secondlevel": false,
	"dateModified": "2020-07-28",
	"share": "true"
}
---
<span class="wb-prettify all-pre"></span>

<div class="alert alert-warning">
	<h2>Fonctionalité instable</h2>
	<p>À être utilisée <strong>à vos propre risque</strong>. Toutes les fonctionnalités décrites ci-dessous pourraient être retirées lors du lancement d'une version mineure ou majeure et sont exclues de l'API publique GCWeb.</p>
	<p><small><a href="https://wet-boew.github.io/wet-boew-documentation/decision/7.html" lang="en">Renseignez-vous davantage sur la décision sur la conception en matière des fonctionnalités provisoires.</a></small></p>
	<p>Les documents et les exemples pratiques de ces fonctionnalités pourraient être incomplets ou non disponibles.</p>
</div>

<h2>Disponibilité des fonctionalités</h2>

<div class="alert alert-info" lang="en">
	<h2><code>.experimental</code> depricated</h2>
	<p><code>.experimental</code> is now deprecated and it will not be supported in 6 months.
	It has to be replaced by <code>.provisional</code></p>
</div>

<p>Le tableau suivant décrit jusqu’à quelle version de GCWeb chaque fonctionnalité sera disponible. La disponibilité des fonctionnalités sera réévaluée chaque fois qu’une version est publiée. Une fonctionnalité expérimentale retirée sera communiquée une version à l’avance.</p>

<details>
	<summary>Description des états</summary>
	<dl class="dl-horizontal">
		<dt>&lt;non spécifié&gt;</dt>
		<dd>Provisoires</dd>
		<dt>Retiré</dt>
		<dd>La fonctionalité n'est plus disponible</dd>
		<dt>Supporté</dt>
		<dd>La fonctionalité est maintenu inclus et supporté par l'API publique de GCWeb.</dd>
		<dt>Retiré après v.Majeur.Mineur</dt>
		<dd>La version v.Major.Minor représente la dernière version que cette fonctionalité sera disponible. Les auteurs doit considérer une solution alternative ou de faire le retrait de l'utilisation de cette fonctionalité.</dd>
	</dl>
</details>

<table class="table table-bordered">
<thead>
	<tr>
		<th>Nom</th>
		<th>Description</th>
		<th class="nowrap">Disponible dans</th>
		<th>État</th>
	</tr>
</thead>
<tbody>
	<tr>
		<th>CSS <code>.p-0</code></th>
		<td>Fixer un remplissage (<span lang="en">padding</span>) de 0px</td>
		<td>v5.1</td>
		<td>Supporté via wet-boew depuis v6.0</td>
	</tr>
	<tr>
		<th>CSS <code>.mb-sm-5</code></th>
		<td>Fixer la marge du bas à 50px pour la vue à partir d'un petit écran et plus</td>
		<td>v5.1</td>
		<td>Supporté via wet-boew depuis v6.0</td>
	</tr>
	<tr>
		<th>CSS <code>.p-sm-3</code></th>
		<td>Fixer les marges à 15px pour la vue à partir d'un petit écran et plus</td>
		<td>v5.1</td>
		<td>Supporté via wet-boew depuis v6.0</td>
	</tr>
	<tr>
		<th>CSS <code>.px-sm-3</code></th>
		<td>Fixer le <span lang="en">padding</span> de gauche et de droite à 15px pour la vue à partir d'un petit écran et plus</td>
		<td>v5.1</td>
		<td>Supporté via wet-boew depuis v6.0</td>
	</tr>
	<tr>
		<th>CSS <code>.bg-darker</code></th>
		<td>Couleur de fond noir complet</td>
		<td>v5.1</td>
		<td></td>
	</tr>
	<tr>
		<th>CSS <code>.bg-gctheme</code> et <code>.bg-gctheme.well.header-rwd</code></th>
		<td>Couleur de fond de base du thème de GCWeb</td>
		<td>v5.1</td>
		<td></td>
	</tr>
	<tr>
		<th>CSS <code>.bg-pnkDy</code> et <code>.bg-pnkDy.well.header-rwd</code></th>
		<td>Couleur de fond de la Journée rose</td>
		<td>v5.1</td>
		<td></td>
	</tr>
	<tr>
		<th>CSS <code>.pnkDy-theme</code> fixé globalement</th>
		<td>Appliquer la couleur de gabarit « global » pour la couleur de la Journée rose de façon globale, comme cette propriété est définie sur l’élément <code>&lt;html&gt;</code> ou <code>&lt;body&gt;</code></td>
		<td>v5.1</td>
		<td></td>
	</tr>
	<tr>
		<th>CSS <code>.dark-theme</code> set global</th>
		<td>Appliquer la couleur de gabarit « global » modifiée à noir complet de façon globale, comme cette propriété est définie sur l’élément <code>&lt;html&gt;</code> ou <code>&lt;body&gt;</code></td>
		<td>v5.1</td>
		<td></td>
	</tr>
	<tr>
		<th>CSS <code>.bg-cover</code></th>
		<td>Image de fond de taille "couvrir"</td>
		<td>v5.1</td>
		<td>Moved to WET-BOEW. Use of <code>.provisional</code> is required in WET-BOEW</td>
	</tr>
	<tr>
		<th>Plugin <code>[data-bgimg]</code></th>
		<td>Prendre la valeur URL et la fixer en tant qu’image de fond. Il faut le remplacer par le sélecteur CSS4</td>
		<td>v5.1</td>
		<td>Moved to WET-BOEW. Use of <code>.provisional</code> is required in WET-BOEW</td>
	</tr>
	<tr>
		<th>CSS <code>.bg-img-hdng</code></th>
		<td>Ajouter une image de fond à un en-tête</td>
		<td>v5.1</td>
		<td></td>
	</tr>
	<tr>
		<th>CSS <code>.stretched-link</code></th>
		<td>Propage la zone cliquable d'une balise hyperlien jusqu'au premier élément parent qui est de position relative.</td>
		<td>v5.1</td>
		<td>Supporté via wet-boew depuis v6.0</td>
	</tr>
	<tr>
		<th>CSS <code>.icon-warning-light</code></th>
		<td>Change the color to <code>#DF7200</code></td>
		<td>v7.0</td>
		<td></td>
	</tr>
	<tr>
		<th>Gabarit <code>.gc-pg-hlpfl</code></th>
		<td>"Widget succès de page" configuration de conception pour laisser les utilisateurs partager leur expérience sur la page.</td>
		<td>v7.0</td>
		<td></td>
	</tr>
	<tr>
		<th>CSS <code>.alert-danger</code></th>
		<td>Adoptez la nouvelle conception d’alerte de danger, sans une couleur de fond.</td>
		<td>v7.0</td>
		<td></td>
	</tr>
	<tr>
		<th>CSS <code>.alert-warning</code></th>
		<td>Adoptez la nouvelle conception d’alerte d’avertissement, sans une couleur de fond.</td>
		<td>v7.0</td>
		<td></td>
	</tr>
	<tr>
		<th>CSS <code>.alert-success</code></th>
		<td>Adoptez la nouvelle conception d’alerte de succès, sans une couleur de fond.</td>
		<td>v7.0</td>
		<td></td>
	</tr>
	<tr>
		<th>CSS <code>.alert-info</code></th>
		<td>Adoptez la nouvelle conception d’alerte d’information, sans une couleur de fond.</td>
		<td>v7.0</td>
		<td></td>
	</tr>
	<tr>
		<th>Plugin <code>.wb-chtwzrd</code></th>
		<td lang="en">
			<p>Transforms a simple form into a conversation like experience used as a wizard.</p>
			<ul>
				<li><a href="#chatwizard">Chat wizard - How to implement</a></li>
				<li><a href="demos/chatwizard/chatwizard-en.html">Working example - Chat wizard</a></li>
				<li><a href="demos/chatwizard/chatwizard-json-en.html">Working example - Chat wizard with JSON settings</a></li>
				<li><a href="https://wet-boew.github.io/wet-boew-documentation/research/2019-15-exploration-chat-pattern.html">2019-15 Research documentation</a></li>
			</ul>
		</td>
		<td>v7.0</td>
		<td></td>
	</tr>
	<tr>
		<th>CSS <code>.gc-thickline</code></th>
		<td lang="en">H1 with short bold red underline</td>
		<td>v8.0.1</td>
		<td></td>
	</tr>
	<tr>
		<th>Template <code>.gc-subway</code></th>
		<td lang="en">
			<p>GC subway map navigation for Service initiation template.</p>
			<ul>
				<li><a href="#gc-subway">How to implement</a></li>
				<li><a href="demos/gc-subway/gc-subway-fr.html">Working example</a></li>
				<li><a href="https://wet-boew.github.io/wet-boew-documentation/decision/12.html">Supporting design decision</a></li>
			</ul>
		</td>
		<td>v8.0.1</td>
		<td></td>
	</tr>
</tbody>
</table>

<p>Pour plus de fonctionnalités provisoires, consultez la <a href="https://wet-boew.github.io/wet-boew/docs/ref/provisional-fr.html">page des fonctionnalités provisoires de la WET-BOEW</a>.</p>

<h2>Documentation des fonctionalités provisoires</h2>

<p>Les fonctionalités CSS provisoires doivent être accompagné avec la classe <code>.provisional</code> au sein de leur contexte d'utilisation.</p>

<h2>Examples pratiques provisoires</h2>

<h3 id="well-header-rwd-bgimg">En-tête adaptable de la boîte grise avec une image de fond</h3>

<div class="provisional bg-cover well" data-bgimg="demos/tabs/img/investinourfuture.jpg">
	<div class="well header-rwd mrgn-tp-md mrgn-bttm-md">
		<h4 class="mrgn-tp-md">En-tête</h4>
		<p>En-tête secondaire</p>
	</div>
</div>


<h3 id="well-header-rwd-dark">En-tête adaptable de la boîte grise avec une image de fond et des contrôles de remplissage</h3>
<p>Principalement pour des pages de campagne ayant une largeur adaptable au contenu.</p>

<div class="provisional bg-cover" data-bgimg="demos/tabs/img/investinourfuture.jpg">
	<div class="container p-0 p-sm-3">
		<div class="well header-rwd mrgn-tp-md mrgn-bttm-md bg-dark text-white brdr-0">
			<h4 class="mrgn-tp-md">En-tête</h4>
			<p>En-tête secondaire</p>
		</div>
	</div>
</div>

<pre><code>&lt;div class="provisional bg-cover" data-bgimg="demos/tabs/img/investinourfuture.jpg"&gt;
	&lt;div class="container p-0 p-sm-3"&gt;
		&lt;div class="well header-rwd mrgn-tp-md mrgn-bttm-md bg-dark text-white brdr-0"&gt;
			&lt;h4 class="mrgn-tp-md"&gt;En-tête&lt;/h4&gt;
			&lt;p&gt;En-tête secondaire&lt;/p&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;</code></pre>

<h3>Marge du bas pour la vue à partir d'un petit écran et plus</h3>
<div class="row">
	<div class="col-xs-12 provisional">
		<div>
			<img class="img-responsive full-width" src="demos/tabs/img/investinourfuture.jpg" alt="">
			<div class="well pstn-bttm-sm mrgn-bttm-0 mb-sm-5">
				<h4 class="mrgn-tp-md">En-tête</h4>
				<p>En-tête secondaire</p>
			</div>
		</div>
	</div>
</div>
<div class="well">
	<p>Boîte grise secondaire</p>
</div>

<h3>Couleurs du gabarit de thème</h3>
<ul>
	<li><a href="xprmntl/pink-day-en.html">Journée rose</a></li>
	<li><a href="xprmntl/dark-theme-en.html">Thème sombre</a></li>
</ul>

<details>
	<summary>Échantillon du code JavaScript pour programmer l’ajout CSS pour la Journée rose</summary>
	<p>Le script suivant ajoute la classe CSS seulement pour le 10 avril 2019 heure locale.</p>
<pre><code>( function( d ) {
"use strict";

var t = new Date(),
	msT = t.getTime(),
	s = new Date( 2019, 3, 10, 0, 1 ),
	e = new Date( 2019, 3, 10, 23, 59 );

if ( s.getTime() &lt; msT && msT &lt; e.getTime() ) {
	d.getElementsByTagName( "html" )[ 0 ].classList.add ("pnkDy-theme", "provisional");
}

} )( document );</code></pre>
</details>

<h3>Image de fond sur l'en-tête</h3>
<p>Principalement pour la section Services et information.</p>
<div class="row provisional" lang="en">
	<div class="col-md-6 col-xs-12">
		<h2 class="h3 full-width bg-img-hdng mrgn-tp-0">Impact Assessment</h2>
		<h3 class="h5 mrgn-tp-sm"><a href="https://www.canada.ca/en/environmental-assessment-agency/services/environmental-assessments/basics-environmental-assessment.html">Impact assessments process</a></h3>
		<p>Learn about the purpose and steps of impact assessments under the <em>Impact Assessment Act</em>.</p>
		<h3 class="h5 mrgn-tp-sm"><a href="https://ceaa-acee.gc.ca/050/evaluations/?culture=en-CA">Canadian Impact Assessment Registry</a></h3>
		<p>Information on potential and current IAs of projects subject to the federal IA process.</p>
	</div>
	<div class="col-md-6 col-xs-12">
		<h2 class="h3 full-width bg-img-hdng mrgn-tp-0" data-bgimg="img/xprmntl/how-to-get-involved-orange.png">How to get involved</h2>
		<h3 class="h5 mrgn-tp-sm"><a href="https://www.canada.ca/en/environmental-assessment-agency/services/public-participation.html">Public</a></h3>
		<p>Learn how the public can participate in impact assessments.</p>
		<h3 class="h5 mrgn-tp-sm"><a href="https://www.canada.ca/en/environmental-assessment-agency/programs/aboriginal-consultation-federal-environmental-assessment.html">Indigenous</a></h3>
		<p>Learn about the Indigenous consultation process in impact assessments.</p>
	</div>
</div>

<h3 id="stretched-link">Section <span lang="en">Features</span> avec des liens élargis</h3>
<p>Dans l'exemple suivant, ajouter la classe <code>.stretched-link</code> à l'hyperlien situé à l'intérieur de la balise <code>&lt;h3&gt;</code> résulera en une propagation de la zone cliquable jusqu'au <code>&lt;div&gt;</code> parent qui contient la classe <code>.col-xy-z</code> parce que celui-ci est en position &laquo;&nbsp;relative&nbsp;&raquo;.</p>
<div class="row wb-eqht provisional" lang="en">
	<div class="col-sm-6">
		<div class="well well-sm brdr-rds-0 eqht-trgt">
			<img class="img-responsive full-width" src="https://www.canada.ca/content/dam/canada/activities/20190603-1-520x200.jpg" alt="">
			<h3 class="h5"><a class="stretched-link" href="https://www.ic.gc.ca/eic/site/062.nsf/eng/h_00108.html">Learn more about Canada’s Digital Charter</a></h3>
			<p>Learn how Canada’s Digital Charter will build a foundation of trust in a digital world.</p>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="well well-sm brdr-rds-0 eqht-trgt">
			<img class="img-responsive full-width" src="https://www.canada.ca/content/dam/canada/activities/20190604-1-520x200.jpg" alt="">
			<h3 class="h5"><a class="stretched-link" href="https://www.rcaanc-cirnac.gc.ca/eng/1466616436543/1534874922512">National Indigenous History Month</a></h3>
			<p>Celebrate National Indigenous History Month in June</p>
		</div>
	</div>
</div>

<h3>Icon warning color</h3>
<p>Adding <code>provisional icon-warning-light</code> in the class will change the color</p>
<div class="bg-warning">
	<p class="h1">
		<span class="glyphicon glyphicon-warning-sign mrgn-rght-md"></span> Without "provisional icon-warning-light" class
	</p>
</div>
<div class="bg-warning">
	<p class="h1">
		<span class="glyphicon glyphicon-warning-sign provisional icon-warning-light mrgn-rght-md"></span> With "provisional icon-warning-light" class
	</p>
</div>

<h3 id="gc-pg-hlpfl">Widget succès de page</h3>
<p>Est prévu pour remplacer Signaler un problème ou une erreur sur cette page éventuellement. Utilises plusieurs fonctionnalités&nbsp;: les plugiciels <code>wb-postbak</code> et <code>data-wb-doaction</code>, ainsi que les styles <code>nojs-*</code> puis Font Awesome.</p>
<div class="row row-no-gutters mrgn-tp-xl">
	<div class="col-sm-7 col-lg-6">
		<section class="provisional gc-pg-hlpfl">
			<div class="well mrgn-bttm-0">
				<form id="gc-pg-hlpfl-frm" action="index-fr.html" method="get" autocomplete="off" class="provisional wb-postback" data-wb-postback="{&quot;success&quot;:&quot;.gc-pg-hlpfl-thnk&quot;,&quot;content&quot;:&quot;#gc-pg-hlpfl-frm&quot;}">
					<input type="hidden" name="pageTitle" value="Fonctionalités provisoires - Thème de GCWeb">
					<input type="hidden" name="submissionPage" value="https://wet-boew.github.io/themes-dist/GCWeb/provisional-fr.html">
					<input type="hidden" name="tid" value="1234">
					<input type="hidden" name="auke" value="5678">
					<div class="gc-pg-hlpfl-btn">
						<div class="row row-no-gutters">
							<div class="col-xs-12 col-sm-7 mrgn-tp-sm">
								<h2 class="mrgn-tp-sm h5">Avez-vous trouvé ce que vous cherchiez?</h2>
							</div>
							<div class="col-xs-8 col-sm-5 text-right">
								<button type="submit" name="helpful" value="Yes" class="btn btn-primary">Oui</button>
								<button type="button" class="btn btn-primary mrgn-lft-sm nojs-hide" data-wb-doaction="[
									{&quot;action&quot;:&quot;removeClass&quot;,&quot;source&quot;:&quot;.gc-pg-hlpfl-no&quot;,&quot;class&quot;:&quot;nojs-show&quot;},
									{&quot;action&quot;:&quot;addClass&quot;,&quot;source&quot;:&quot;.gc-pg-hlpfl-btn&quot;,&quot;class&quot;:&quot;hide&quot;}
								]">Non</button>
							</div>
						</div>
					</div>
					<p class="h3 hidden nojs-show">Sinon, dites nous pourquoi&nbsp;:</p>
					<div class="gc-pg-hlpfl-no nojs-show">
						<fieldset>
							<legend class="h4 mrgn-tp-0 mrgn-bttm-md">Qu’est-ce qui n’allait pas?</legend>
							<div class="radio">
								<label>
									<input name="problem" id="problem01" type="radio" value="I can’t find what I’m looking for">
									La réponse dont j’ai besoin n’est pas là
								</label>
							</div>
							<div class="radio">
								<label>
									<input name="problem" id="problem02" type="radio" value="The information isn’t clear">
									L'information n'est pas claire
								</label>
							</div>
							<div class="radio">
								<label>
									<input name="problem" id="problem03" type="radio" value="I’m not in the right place">
									Je ne suis pas au bon endroit
								</label>
							</div>
							<div class="radio">
								<label>
									<input name="problem" id="problem04" type="radio" value="Something is broken or incorrect">
									Quelque chose est brisé ou incorrect
								</label>
							</div>
							<div class="radio">
								<label>
									<input name="problem" id="problem05" type="radio" value="Other reason">
									Autre raison
								</label>
							</div>
						</fieldset>
						<label for="problem06">Veuillez fournir plus de détails</label>
						<p class="small">
							<strong>(N’incluez pas d’information personnelle)</strong>
							<br>
							<span class="small">Maximum de 300 caractères</span>
						</p>
						<textarea name="details" id="problem06" class="full-width" maxlength="300"></textarea>
						<br>
						<button type="submit" name="helpful" value="No" class="btn btn-primary mrgn-tp-md mrgn-bttm-sm">Soumettre</button>
					</div>
				</form>
				<div class="gc-pg-hlpfl-thnk hide">
					<p class="h6 mrgn-tp-sm mrgn-bttm-sm"><span class="far fa-check-circle text-success mrgn-rght-sm" aria-hidden="true"></span> Merci de vos commentaires</p>
				</div>
			</div>
		</section>
	</div>
</div>

<h2 id="alert">Alert designs</h2>
<section class="provisional alert alert-danger">
	<h3>Alerte de danger</h3>
	<p>Détails optionnel d'alerte.</p>
</section>
<section class="provisional alert alert-warning">
	<h3>Alerte d’avertissement</h3>
	<p>Détails optionnel d'alerte.</p>
</section>
<section class="provisional alert alert-success">
	<h3>Alerte de succès</h3>
	<p>Détails optionnel d'alerte.</p>
</section>
<section class="provisional alert alert-info">
	<h3>Alerte d’information</h3>
	<p>Détails optionnel d'alerte.</p>
</section>

<h3>Code</h3>
<pre><code>&lt;section class="provisional alert alert-danger"&gt;
	&lt;h3&gt;Alerte de danger&lt;/h3&gt;
	&lt;p&gt;Détails optionnel d'alerte.&lt;/p&gt;
&lt;/section&gt;

&lt;section class="provisional alert alert-warning"&gt;
	&lt;h3&gt;Alerte d’avertissement&lt;/h3&gt;
	&lt;p&gt;Détails optionnel d'alerte.&lt;/p&gt;
&lt;/section&gt;

&lt;section class="provisional alert alert-success"&gt;
	&lt;h3&gt;Alerte de succès&lt;/h3&gt;
	&lt;p&gt;Détails optionnel d'alerte.&lt;/p&gt;
&lt;/section&gt;

&lt;section class="provisional alert alert-info"&gt;
	&lt;h3&gt;Alerte d’information&lt;/h3&gt;
	&lt;p&gt;Détails optionnel d'alerte.&lt;/p&gt;
&lt;/section&gt;</code></pre>

<div lang="en">
<h2 id="chatwizard">Chat wizard - How to implement</h2>
<p><strong>(Need translation)</strong></p>

<p>There are two ways to implement the chat wizard. The more common way is to code a form, and add according classes and data attributes. The other way is to load it from a JSON file, which will generate both the form and the wizard, is useful in case one would want to implement the same chat wizard on multiple pages.</p>

<h3>1. Code a form</h3>

<ol>
	<li>Code a form that has a decision tree logic, with the idea that an answer could affect what the next question would be. At the moment, all choices of answer to a question must be radio buttons only.</li>
	<li>Wrap your form in a section, aside or div tag with a class named “.provisional.wb-chtwzrd”, along with the class “.hidden” to avoid the basic form to flicker on load. Other options are:
		<ul>
			<li>A data attribute named “data-wb-chtwzrd-avatar” can be added with a path to an image in order to change the default avatar in the bubble and the chat window. Recommended dimensions are 45x45 pixels.</li>
			<li>A class named “.wb-chtwzrd-inline” can be added to have the chat experience inside the content and not in a separate window. This feature should only be used on a dedicated page, since it will start right away and steals the show to other content.</li>
		</ul>
	</li>
	<li>Give it a title (outside of you form) as an H2. That heading will be the title of the form, as well as the title of the chat window and the text of the notification message.</li>
	<li>The action of your form will be the default destination page at the end of the flow. The method will define if the form will be submitted through the URL bar or in the body at the end. You can give it a name attribute too, for tracking purposes.</li>
	<li>You will need to start your form with a greetings paragraph. That paragraph must have a “.wb-chtwzrd-greetings” class and will be the first message coming from the bot when the chat window is opened.</li>
	<li>Same thing for the last message at the end of the conversation which is a farewell paragraph that you can put at the bottom of your form and that needs to have the “.wb-chtwzrd-farewell” class.</li>
	<li>If you add a regular paragraph right after your greetings one, this will be considered as an introduction message, which will be mentioned by the bot right after the greetings.</li>
	<li>The submit button is necessary as it indicates what the final submit button will show at the end of the conversation. Plus, you can add a data attribute there named “data-wb-chtwzrd-replace” that allows you to give a different value to your chat wizard than what’s in the form. <strong>This data attribute can be used on almost every textual tag inside the “.provisional.wb-chtwzrd” container to indicate what the chat wizard should display different than what the form displays.</strong></li>
	<li>In the form itself, each question must be wrapped around a fieldset tag, with a unique ID attribute. 10. The question has to be in a legend tag, to which for instance you can use the “data-wb-chtwzrd-replace” attribute to have a more conversation-based question for the wizard.</li>
	<li>Choices of answer must be in an unordered list, with a class named “.list-unstyled” to not show the bullet points and a class “.mrgn-tp-md” for spacing at your own taste.</li>
	<li>The label tag has to wrap your input of type radio, with the text value wrapped in a span tag.</li>
	<li>The input itself has a name that represents that question in the final GET query string or POST, along with the value attribute for this input in particular. Also:
		<ul>
			<li>The data attribute named “data-wb-chtwzrd-next” must be used on the inputs to indicate the next question (fieldset ID) to present to the user. The last question of any possible conversation in the decision tree must have that data attribute set to “none”, in order to end the conversation.</li>
			<li>The data attribute name “data-wb-chtwzrd-url” provides the plugin with the updated destination of the redirection at the final submit.</li>
		</ul>
	</li>
	<li>If you want an external button to enable the chat wizard in addtition to the chat wizard bubble, you can add a button with the class named <code>.wb-chtwzrd-btn</code>.</li>
	<li>If you only want external button to enable the chat wizard instead of chat bubble, simply add the class named <code>.wb-chtwzrd-btn-extrnl</code> on your chat wizard and the chat bubble will not be displayed.</li>
</ol>

<p>There you have it! A conversational-like experience driven by a fairly simple form.</p>

<h3>2. Import a JSON File</h3>

<p>Accepting JSON File as an input for batch deployments. If you have a JSON file that follows the Data API logic shown below, it can be implemented as a chat wizard instance.</p>

<p>JSON File API</p>
<pre><code>{
	"header":{
		"method": "GET (default) or POST [GET]",
		"defaultDestination": "Default results page after submission [results-en.html]",
		"avatar": "Custom avatar URL [https://www.canada.ca/etc/designs/canada/wet-boew/assets/default-avatar.png]",
		"inline": "If provided with any value, it will put the chat wizard inside the content instead of a seperate window [true]",
		"first": "ID attribute of first question (will pick the first question in the form if not set) [q1]",
		"formType": "formType dynamic (default) or static for the basic form [dynamic]",
		"name":"Name attribute on the form for tracking purposes. Chat's form has -chat appended automatically [example]",
		"form": {
			"title": "Title for basic form [Help us help you]",
			"instructions": "Introduction paragraph before basic form [If you are an employer or organization looking for funding, you can find relevant information on the &lt;a href='pagex.html'&gt;funding page&lt;/a&gt;.]",
			"sendButton": "Text for the submit button in the basic form [Search now]"
		},
		"title":"Title of wizard [I can help you find the information you need]",
		"greetings":"Greetings message as first interaction with user [Hi! I can help direct you to programs and services you might be interested in. Let's begin...]",
		"instructions": "More instructions or information before the questionnaire starts [First, if you are an employer or organization looking for funding, you can find relevant information on the &lt;a href='pagex.html'&gt;funding page&lt;/a&gt;.]",
		"farewell":"Farewell message as last interaction after last question is answered [Thank you. I have built a page with results you may find resourceful.]",
		"sendButton":"Text for the submit button after last question is answered [Show results]"
	},
	"questions":{
		"q1":{
			"name":"Name of the question [describe]",
			"input":"Input type [radio]",
			"labelForm":"Question in the form [What would you describe yourself as?]",
			"label":"Question in the wizard [Are you:]",
			"choices":[
				{
					"content":"Choice of answer for an input [a young Canadian]",
					"value":"Value for the submission [young-canadian]",
					"next":"Next question ID [q2]",
					"url":"result page if this answer is selected [results-en.html]"
				},
				{
					"...":"More choices"
				}
			]
		},
		"q2":{
			"...":"More questions"
		}
	}
}</code></pre>

<p>All you need on your page is to add a data attribute named “data-wb-chtwzrd-src” to your section, aside or div tag that has the “.provisional.wb-chtwzrd” class, and provide it with the path to your JSON file.</p>

<h2 id="gc-subway">GC Service initiation template</h2>

<p>In order to achieve the provisinal Service initiation template revamp with the subway map, you will need to complete the following steps:</p>
<ol>
	<li>First, you'll need a &lt;nav&gt; element with both the "provisional" and the "gc-subway" classes. Inside of that &lt;nav&gt;, put your first &lt;h1&gt;; it will be the smaller, gray-ish, upper one.</li>
	<li>Add a &lt;ul&gt; with a "gc-subway-steps" class next to that &lt;h1&gt;. Put the links to your other pages related to that service initiation template in there.</li>
	<li>The rest just needs your own main content for that page. Do not forget the navigation buttons at the bottom of the pages. If you want the left column to stop being at 2/3 of the width on desktop at some point, then you can stop the propagation by using any HTML element with a "gc-subway-section-end" class on it; that element needs to be a sibling of your ".gc-subway" &lt;nav&gt;.</li>
	<li>If you want to use the new bold short red underline underneath your regular H1, then add both the "provisional" and "gc-thickline" classes on it.</li>
</ol>
<p>See raw code in action by <a href="demos/gc-subway/gc-subway-fr.html">checking out the working example</a>.</p>

</div>
