---
{
	"title": "[Nom du règlement] <small>([NN-XX])</small>",
	"language": "fr",
	"altLangPrefix": "regulations",
	"breadcrumb": [
		{ "title": "Accueil", "link": "https://www.canada.ca/fr.html" },
		{ "title": "Lois et règlements", "link": "#" }
	],
	"dateModified": "2014-10-23",
	"share": "true"
}
---
<div class="wb-tabs">
	<div class="tabpanels">
		<details id="details-panel1">
			<summary>À propos de cette loi</summary>
			<p class="mrgn-tp-lg">Le {{{title}}} lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque ad soluta rem assumenda excepturi! Temporibus ipsa qui suscipit, quidem dolorem, veniam iusto quasi eos voluptate aliquam alias modi veritatis nesciunt, aliquid illum quos nemo cumque eius omnis tempore cum repellat. Mollitia vel id, non. Fuga non, consectetur ad sunt.</p>
			<section>
				<h2>Sujets connexes</h2>
				<ul class="list-inline">
					<li><a href="#">[Sujet A],</a>,</li>
					<li><a href="#">[Sujet B],</a>,</li>
					<li><a href="#">[Sujet C]</a></li>
				</ul>
			</section>
			<section>
				<h2>Établissements connexes</h2>
				<ul class="list-inline">
					<li><a href="#">[Établissement A],</a>,</li>
					<li><a href="#">[Établissement B],</a>,</li>
					<li><a href="#">[Établissement C]</a></li>
				</ul>
			</section>
			<section>
				<h2>Lois connexes</h2>
				<ul class="list-inline">
					<li><a href="#">[Titre de la loi A],</a>,</li>
					<li><a href="#">[Titre de la loi B],</a>,</li>
					<li><a href="#">[Titre de la loi C]</a></li>
				</ul>
			</section>
			<section>
				<h2>Règlements connexes</h2>
				<ul class="list-inline">
					<li><a href="#">[Règlement A],</a>,</li>
					<li><a href="#">[Règlement B],</a>,</li>
					<li><a href="#">[Règlement C]</a></li>
				</ul>
			</section>
			<section>
				<h2>Renseignements supplémentaires</h2>
				<ul>
					<li><a href="#">Communiquer avec [nom de l'établissement]</a></li>
					<li><a href="#">Foire aux questions</a></li>
					<li><a href="#">Orientation</a></li>
					<li><a href="#">Renseignements sur la conformité et l’application de la loi</a></li>
					<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a></li>
					<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a></li>
					<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima architecto quis necessitatibus.</a></li>
					<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a></li>
					<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima architecto quis necessitatibus.</a></li>
				</ul>
			</section>
		</details>
		<details id="details-panel2">
			<summary>Lire le texte de loi</summary>
			<p class="mrgn-tp-lg">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, recusandae! Dolor aliquam, nostrum, velit inventore incidunt vero error at iste, sit, ut odit dignissimos ipsa sequi vel repellendus quis ratione esse debitis quas reiciendis minima eius quia! Necessitatibus molestiae eaque quia ullam ab. Deserunt, eveniet?</p>
		</details>
		<details id="details-panel3">
			<summary>Changement législatif</summary>
			<p class="mrgn-tp-lg">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, recusandae! Dolor aliquam, nostrum, velit inventore incidunt vero error at iste, sit, ut odit dignissimos ipsa sequi vel repellendus quis ratione esse debitis quas reiciendis minima eius quia! Necessitatibus molestiae eaque quia ullam ab. Deserunt, eveniet?</p>
			<div class="col-md-6">
				<section class="panel panel-default">
					<header class="panel-heading">
						<h2 class="panel-title">Nouvelles, avis et amendements récents</h2>
					</header>
					<div class="panel-body">
						<section>
							<h3 class="h5 mrgn-tp-0">Amendements récents</h3>
							<ul class="lst-spcd">
								<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit Placeat</a><br />
								<small><time>2015-01-01 08:00</time></small></li>
								<li><a href="#">Lorem ipsum dolor sit amet, consectetur</a><br />
								<small><time>2015-01-01 08:00</time></small></li>
								<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit Recusandae id repellendus alias.</a><br />
								<small><time>2015-01-01 08:00</time></small></li>
							</ul>
						</section>
						<section>
							<h3 class="h5">Gazette du Canada, Partie II</h3>
							<ul class="lst-spcd">
								<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat temporibus repellendus iusto cumque unde perspiciatis, quod illo.</a><br />
								<small><time>2015-01-01 08:00</time></small></li>
								<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus!</a><br />
								<small><time>2015-01-01 08:00</time></small></li>
								<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi molestiae, unde vitae.</a><br />
								<small><time>2015-01-01 08:00</time></small></li>
								<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat adipisci libero distinctio sequi officiis provident tenetur ullam eligendi ipsum assumenda.</a><br />
								<small><time>2015-01-01 08:00</time></small></li>
								<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam.</a><br />
								<small><time>2015-01-01 08:00</time></small></li>
								<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat reprehenderit est nisi sequi ea modi qui praesentium?</a><br />
								<small><time>2015-01-01 08:00</time></small></li>
								<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, labore quia!</a><br />
								<small><time>2015-01-01 08:00</time></small></li>
							</ul>
						</section>
						<section>
							<h3>Avis</h3>
							<section>
								<h4 class="h5">Gazette du Canada, Partie I</h4>
								<ul class="lst-spcd">
									<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a><br />
									<small><time>2015-01-01 08:00</time></small></li>
									<li><a href="#">Lorem ipsum dolor sit amet, consectetur.</a><br />
									<small><time>2015-01-01 08:00</time></small></li>
									<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id labore expedita doloremque?</a><br />
									<small><time>2015-01-01 08:00</time></small></li>
								</ul>
							</section>
							<section>
								<h4 class="h5">Communiqués de presse</h4>
								<ul class="lst-spcd">
									<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a><br />
									<small><time>2015-01-01 08:00</time></small></li>
									<li><a href="#">Lorem ipsum dolor sit amet, consectetur.</a><br />
									<small><time>2015-01-01 08:00</time></small></li>
									<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id labore expedita doloremque?</a><br />
									<small><time>2015-01-01 08:00</time></small></li>
									<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing.</a><br />
									<small><time>2015-01-01 08:00</time></small></li>
								</ul>
							</section>
						</section>
					</div>
				</section>
			</div>
			<div class="col-md-6">
				<section class="panel panel-default">
					<header class="panel-heading">
						<h2 class="panel-title">Consultations et changements prévus</h2>
					</header>
					<div class="panel-body">
						<section>
							<h3 class="h5">Projets de loi déposés récemment</h3>
							<ul class="lst-spcd">
								<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam.</a><br />
								<small><time>2015-01-01 08:00</time></small></li>
								<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat reprehenderit est nisi sequi ea modi qui praesentium?</a><br />
								<small><time>2015-01-01 08:00</time></small></li>
							</ul>
						</section>
						<section>
							<h3 class="h5">Plan futurs en matière de réglementation connexe</h3>
							<ul class="lst-spcd">
								<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat adipisci libero distinctio sequi officiis provident tenetur ullam eligendi ipsum assumenda.</a><br />
								<small><time>2015-01-01 08:00</time></small></li>
							</ul>
						</section>
						<section>
							<h3 class="h5">Mesures de réduction de la bureaucratie connexes</h3>
							<ul class="lst-spcd">
								<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat temporibus repellendus iusto cumque unde perspiciatis, quod illo.</a><br />
								<small><time>2015-01-01 08:00</time></small></li>
								<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus!</a><br />
								<small><time>2015-01-01 08:00</time></small></li>
							</ul>
						</section>
						<section>
							<h3 class="h5">Possibilités de consultation à venir</h3>
							<ul class="lst-spcd">
								<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus!</a><br />
								<small><time>2015-01-01 08:00</time></small></li>
								<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat adipisci libero distinctio sequi officiis provident tenetur ullam eligendi ipsum assumenda.</a><br />
								<small><time>2015-01-01 08:00</time></small></li>
								<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, labore quia!</a><br />
								<small><time>2015-01-01 08:00</time></small></li>
							</ul>
						</section>
						<section>
							<h3 class="h5">Consultations antérieures</h3>
							<ul class="lst-spcd">
								<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi molestiae, unde vitae.</a><br />
								<small><time>2015-01-01 08:00</time></small></li>
							</ul>
						</section>
					</div>
				</section>
			</div>
		</details>
	</div>
</div>
<div class="row">
	<section class="col-xs-12">
		<h2>En savoir plus sur les lois du Canada</h2>
		<div class="row">
			<section class="col-md-6">
				<h3 class="h5"><a href="#">Lorem ipsum dolor sit</a></h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda eaque harum, nam, earum sed inventore!</p>
			</section>
			<section class="col-md-6">
				<h3 class="h5"><a href="#">Lorem ipsum dolor sit</a></h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda eaque harum, nam, earum sed inventore!</p>
			</section>
			<section class="col-md-6">
				<h3 class="h5"><a href="#">Lorem ipsum dolor sit</a></h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda eaque harum, nam, earum sed inventore!</p>
			</section>
			<section class="col-md-6">
				<h3 class="h5"><a href="#">Lorem ipsum dolor sit</a></h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda eaque harum, nam, earum sed inventore!</p>
			</section>
		</div>
	</section>
</div>
