---
{
	"title": "Report a problem",
	"language": "en",
	"altLangPrefix": "report-problem",
	"breadcrumb": [
		{ "title": "Home", "link": "https://www.canada.ca/en.html" }
	],
	"secondlevel": false,
	"dateModified": "2016-06-21",
	"share": "true",
	"report": "false"
}
---
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio nam corporis quas dolorum fugit officia voluptatum odit tempora cumque aliquid magnam sint aut error totam molestias dignissimos dolore, architecto minus.</p>
<h2>Heading</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus asperiores libero, optio. Voluptatum eum ut, ea doloremque ad molestiae perspiciatis quaerat porro architecto, aspernatur doloribus. Autem possimus expedita sint recusandae?</p>
{{>report-problem}}