---
title: Jobs and the Workplace
language: en
isEnglish: true
pageclass: secondary
alternate: second-fr.html
alternatetog: Français
altlang: fr
breadcrumb:
  -
    title: Home
	link: index-en.html
  -
	title: Jobs
	link: jobs-emplois/index-en.html
---
	<div class="row profile">
		<div class="col-md-6">
			<h1 id="wb-cont" class="h2">Jobs and the Workplace</h1>
			<p class="h3">Find job postings, explore skills and training, make career decisions, plan retirement and apply for temporary financial assistance.</p>
			<p class="btn btn-default followus">Follow: <a href="#" class="youtube"><span class="glyphicon glyphicon-play"></span><i>Youtube</i></a> <a href="#" class="twitter"><span class="icon"></span><i>Twitter</i></a></p>
		</div>
		<div class="col-md-6 margin-top-small"><img src="http://lorempixel.com/420/200/business" alt="..." class="img-responsive thumbnail" /></div>
	</div>

	<div class="row">
		<div class="col-md-4">
			<section>
				<h2 class="h4"><a href="#">Lorem ipsum dolor.</a></h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, tempora mollitia facilis!</p>
			</section>
			<section>
				<h2 class="h4"><a href="#">Beatae, sunt, modi!</a></h2>
				<p>Aperiam, necessitatibus quia mollitia quod voluptates alias illo. Reprehenderit qui similique expedita.</p>
			</section>
			<section>
				<h2 class="h4"><a href="#">Pariatur, amet, enim?</a></h2>
				<p>Provident, amet id quas dignissimos perspiciatis officia inventore ut exercitationem molestiae maiores.</p>
			</section>
		</div>
		<div class="col-md-4">
			<section>
				<h2 class="h4"><a href="#">Lorem ipsum dolor.</a></h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, eveniet suscipit quam.</p>
			<section>
				<h2 class="h4"><a href="#">Animi, consequatur, libero!</a></h2>
				<p>Tempora, dolore, vel quidem modi porro quas nulla quod ipsa labore autem.</p>
			<section>
				<h2 class="h4"><a href="#">Sit, quasi, modi.</a></h2>
				<p>Quo, amet explicabo dolorum quae repudiandae nam ipsum nulla corporis eligendi libero.</p>
			</section>
		</div>
		<div class="col-md-4">
			<section>
				<h2 class="h4"><a href="#">Lorem ipsum dolor.</a></h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis beatae eligendi autem?</p>
			</section>
			<section>
				<h2 class="h4"><a href="#">Ea, expedita, distinctio.</a></h2>
				<p>Iste consequatur voluptas ipsum ab eligendi quas possimus dignissimos ea molestiae nam.</p>
			</section>
			<section>
				<h2 class="h4"><a href="#">Hic, nemo vitae.</a></h2>
				<p>Reiciendis, sed eveniet suscipit ad blanditiis sapiente autem totam ex qui corporis!</p>
			</section>
		</div>
	</div>
	<div class="row features">
		<section class="col-md-4">
			<div class="thumbnail">
      			<img src="http://lorempixel.com/700/394/business" alt="..." class="img-responsive" />
      			<div class="caption">
	        		<h2 class="h3"><a href="#">Lorem ipsum dolor sit.</a></h2>
	        		<p><a href="#">Loremipsum.gc.ca</a>, consectetur adipisicing elit. Blanditiis, facere quia porro ipsam est quod aliquid ea nemo dignissimos culpa. Temporibus, vero dolore eaque enim a mollitia voluptatum minus delectus.</p>
      			</div>
   			 </div>
		</section>
		<section class="col-md-4">
			<div class="thumbnail">
      			<img src="http://lorempixel.com/700/394/people" alt="..." class="img-responsive" />
      			<div class="caption">
	        		<h2 class="h3"><a href="#">Lorem ipsum dolor sit.</a></h2>
	        		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, facere quia porro ipsam est quod aliquid ea nemo dignissimos culpa. Temporibus, vero dolore eaque enim a mollitia voluptatum minus delectus.</p>
      			</div>
   			 </div>
		</section>
		<section class="col-md-4">
			<div class="thumbnail">
      			<img src="http://lorempixel.com/700/394/transport" alt="..." class="img-responsive" />
      			<div class="caption">
	        		<h2 class="h3"><a href="#">Lorem ipsum dolor sit.</a></h2>
	        		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, facere quia porro ipsam est quod aliquid ea nemo dignissimos culpa. Temporibus, vero dolore eaque enim a mollitia voluptatum minus delectus.</p>
      			</div>
   			 </div>
		</section>
	</div>
{{>datemodified }}
