---
{
	"title": "Message title - Canada.ca theme",
	"language": "en",
	"layout": "servermessage.hbs"
}
---
<div class="col-md-12">
	<h1><span class="glyphicon glyphicon-warning-sign mrgn-rght-md"></span> Message title</h1>
	<p>Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text.</p>
</div>
