---
{
	"title": "Titre du message - Thème Canada.ca",
	"language": "fr",
	"layout": "servermessage.hbs"
}
---
<div class="col-md-12">
	<h1><span class="glyphicon glyphicon-warning-sign mrgn-rght-md"></span> Titre du message</h1>
	<p>Texte d'exemple. Texte d'exemple. Texte d'exemple. Texte d'exemple. Texte d'exemple. Texte d'exemple. Texte d'exemple. Texte d'exemple. Texte d'exemple. Texte d'exemple.</p>
</div>
