---
{
	"title": "[Nom du service]",
	"language": "fr",
	"altLangPrefix": "service",
	"breadcrumb": [
		{ "title": "Accueil", "link": "https://www.canada.ca/fr.html" },
		{ "title": "Nom de l'institution", "link": "./institution-fr.html" },
		{ "title": "Nom du sujet", "link": "./topic-fr.html" }
	],
	"secondlevel": false,
	"dateModified": "2016-11-04",
	"share": "true"
}
---
<p class="gc-byline"><strong>De <a href="./institution-fr.html">[nom de l'institution]</a></strong></p>
<div class="row">
	<div class="col-md-8">
		<p>{{{title}}}, lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde ipsam deserunt, doloremque mollitia laudantium quas ut accusamus perspiciatis repellendus quaerat omnis corporis laborum quasi magni possimus qui necessitatibus, aperiam enim.</p>
		<section>
			<h2>[Détails sur l’admissibilité]</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti cupiditate voluptatem praesentium, facilis corporis magni esse reiciendis distinctio. Vitae totam iste porro, esse facere obcaecati? Laborum earum minus harum enim.</p>
		</section>
		<section>
			<h2>[À savoir avant de commencer]</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa hic minima magni nesciunt nam. Facilis perferendis, adipisci voluptates, enim illo perspiciatis molestias itaque iste qui distinctio asperiores quidem voluptatum sunt.</p>
		</section>
		<p><a href="#" class="btn btn-lg btn-primary mrgn-tp-md">[Faire une demande]</a></p>
		<section class="gc-cntct-lst">
			<h2>[Autres façons de présenter une demande]</h2>
			<dl class="dl-horizontal">
				<dt>Par téléphone&nbsp;:</dt>
				<dd>123-456-7890</dd>
				<dt>En personne&nbsp;:</dt>
				<dd>Lorem ipsum dolor sit amet<br />
				1234, avenue de la Rue<br />
				Ville (Province)<br />
				A1B 2C3</dd>
				<dt>Par courrier&nbsp;:</dt>
				<dd>Lorem ipsum dolor sit amet<br />
				1234, avenue de la Rue<br />
				Ville (Province)<br />
				A1B 2C3</dd>
			</dl>
		</section>
	</div>
	<div class="col-md-4">
		{{>service-right-panel}}
	</div>
</div>
