---
{
	"title": "[Theme title]",
	"language": "en",
	"altLangPrefix": "theme",
	"pageclass": "page-type-nav",
	"pageType": "theme",
	"breadcrumb": [
		{ "title": "Home", "link": "https://www.canada.ca/en.html" }
	],
	"dateModified": "2017-12-05",
	"share": "true",
	"deptfeature": true
}
---
<div class="row profile">
	<div class="col-md-5">
		<h1 property="name" id="wb-cont">{{{title}}}</h1>
		<p>1-2 sentences that describe the topics and top tasks that can be accessed on this page.</p>
		{{>follow}}
	</div>
	<div class="col-md-7">
		{{>carousel-small}}
	</div>
</div>
<div class="row">
	<div class="col-md-4 col-xs-12 pull-right">
		{{>most-requested}}
	</div>
	<section class="col-md-8 pull-left">
		<h2>Services and information</h2>
		<div class="wb-eqht row">
			{{>theme-topic}}
			{{>theme-topic}}
			{{>theme-topic}}
			{{>theme-topic}}
			{{>theme-topic}}
			{{>theme-topic}}
			{{>theme-topic}}
			{{>theme-topic}}
			{{>theme-topic}}
			{{>theme-topic}}
		</div>
	</section>
	<div class="pull-right col-xs-12 col-md-4">
		{{>more-info}}
	</div>
</div>
