---
{
	"title": "[Thème]",
	"language": "fr",
	"altLangPrefix": "theme",
	"pageclass": "secondary",
	"breadcrumb": [
		{ "title": "Accueil", "link": "http://www.canada.ca/fr/index.html" }
	],
	"dateModified": "2014-10-24",
	"share": "true",
	"deptfeature": true,
	"pagetag": "1 ou 2 phrases d’introduction qui définissent les sujets et les tâches principales qui peuvent être consultés sur cette page."
}
---
<div class="row profile">
	<div class="col-md-5 ">
		<h1 property="name" id="wb-cont">{{{title}}}</h1>
		<p class="pagetag">{{pagetag}}</p>
		{{>follow}}
	</div>
	<div class="col-md-7">
		{{>carousel-small}}
	</div>
</div>
<div class="row">
	<div class="col-md-4 col-md-push-8 mrgn-tp-lg">
		{{>most-requested}}
		<section class="hidden-md hidden-lg mrgn-bttm-lg">
		<div id="ajaxTopics">
			<h2>Services et informations</h2>
			<div class="row">
				{{>theme-topic}}
				{{>theme-topic}}
				<div class="clearfix"></div>
				{{>theme-topic}}
				{{>theme-topic}}
				<div class="clearfix"></div>
				{{>theme-topic}}
				{{>theme-topic}}
				<div class="clearfix"></div>
				{{>theme-topic}}
				{{>theme-topic}}
				<div class="clearfix"></div>
				{{>theme-topic}}
				{{>theme-topic}}
				<div class="clearfix"></div>
			</div>
		</div>
		</section>
		{{>more-info}}
	</div>
	<section class="col-md-8 col-md-pull-4 hidden-sm hidden-xs">
		<div data-ajax-append="theme-fr.html#ajaxTopics"></div>
	</section>
</div>
