---
{
	"title": "[Lowest-level subtopic name]",
	"language": "en",
	"altLangPrefix": "topic-lowest",
	"pageclass": "secondary",
	"breadcrumb": [
		{ "title": "Home", "link": "http://www.canada.ca/en/index.html" },
		{ "title": "[Theme name]", "link": "theme-en.html" },
		{ "title": "[Topic]", "link": "topic-en.html" }
	],
	"dateModified": "2014-10-24",
	"share": "true",
	"deptfeature": true
}
---
<div class="row profile">
	<div class="col-md-6 ">
		<h1 property="name" id="wb-cont">{{{title}}}</h1>
		<p class="pagetag">1-2 sentences that describe the topics and top tasks that can be accessed on this page.</p>
		{{>follow}}
	</div>
	<div class="col-md-6 margin-top-small hidden-sm hidden-xs">
		<img src="{{assets}}/img/520x200.png" alt="" class="pull-right img-responsive thumbnail"/>
	</div>
</div>
<div class="row">
	<section class="col-md-12">
		<h2>Services and information</h2>
		<div class="row">
			<section class="col-lg-4 col-md-6">
				<h3 class="h5"><a href="#">[Destination page hyperlink]</a></h3>
				<p>Summary of the information or tasks that can be accomplished on the destination page. Remove prose or promotional messaging. Use action verbs.</p>
			</section>
			<section class="col-lg-4 col-md-6">
				<h3 class="h5"><a href="#">[Destination page hyperlink]</a></h3>
				<p>Summary of the information or tasks that can be accomplished on the destination page. Remove prose or promotional messaging. Use action verbs.</p>
			</section>
			<div class="clearfix visible-md"></div>
			<section class="col-lg-4 col-md-6">
				<h3 class="h5"><a href="#">[Destination page hyperlink]</a></h3>
				<p>Summary of the information or tasks that can be accomplished on the destination page. Remove prose or promotional messaging. Use action verbs.</p>
			</section>
			<div class="clearfix visible-lg"></div>
			<section class="col-lg-4 col-md-6">
				<h3 class="h5"><a href="#">[Destination page hyperlink]</a></h3>
				<p>Summary of the information or tasks that can be accomplished on the destination page. Remove prose or promotional messaging. Use action verbs.</p>
			</section>
			<div class="clearfix visible-md"></div>
			<section class="col-lg-4 col-md-6">
				<h3 class="h5"><a href="#">[Destination page hyperlink]</a></h3>
				<p>Summary of the information or tasks that can be accomplished on the destination page. Remove prose or promotional messaging. Use action verbs.</p>
			</section>
			<section class="col-lg-4 col-md-6">
				<h3 class="h5"><a href="#">[Destination page hyperlink]</a></h3>
				<p>Summary of the information or tasks that can be accomplished on the destination page. Remove prose or promotional messaging. Use action verbs.</p>
			</section>
			<div class="clearfix visible-md visible-lg"></div>
			<section class="col-lg-4 col-md-6">
				<h3 class="h5"><a href="#">[Destination page hyperlink]</a></h3>
				<p>Summary of the information or tasks that can be accomplished on the destination page. Remove prose or promotional messaging. Use action verbs.</p>
			</section>
			<section class="col-lg-4 col-md-6">
				<h3 class="h5"><a href="#">[Destination page hyperlink]</a></h3>
				<p>Summary of the information or tasks that can be accomplished on the destination page. Remove prose or promotional messaging. Use action verbs.</p>
			</section>
			<section class="col-lg-4 col-md-6">
				<h3 class="h5"><a href="#">[Destination page hyperlink]</a></h3>
				<p>Summary of the information or tasks that can be accomplished on the destination page. Remove prose or promotional messaging. Use action verbs.</p>
			</section>
		</div>
	</section>
</div>
<section>
	<h2>What we are doing</h2>
	<div class="row wb-eqht">
		<section class="col-lg-4 col-md-6">
			<h3>Laws and regulations</h3>
			<ul class="mrgn-bttm-lg lst-spcd">
				<li><a href="#">[Regulation 1]</a></li>
				<li><a href="#">[Law 1 with a long heading]</a></li>
				<li><a href="#">[Regulation 2 with a long heading]</a></li>
				<li><a href="#">[Regulation 3]</a></li>
			</ul>
			<p class="text-right"><strong><a href="#">All related laws and regulations</a></strong></p>
		</section>
		<section class="col-lg-4 col-md-6">
			<h3>Publications</h3>
			<ul class="mrgn-bttm-lg lst-spcd">
				<li><a href="#">[Publication 1]</a></li>
				<li><a href="#">[Publication 2 with a long heading]</a></li>
				<li><a href="#">[Publication 3]</a></li>
				<li><a href="#">[Publication 4]</a></li>
			</ul>
			<p class="text-right"><strong><a href="#">All related publications</a></strong></p>
		</section>
		<section class="col-lg-4 col-md-6">
			<h3>Consultations</h3>
			<ul class="mrgn-bttm-lg lst-spcd">
				<li><a href="#">[Consultation 1]</a></li>
				<li><a href="#">[Consultation 2 with a long heading]</a></li>
				<li><a href="#">[Consultation 3]</a></li>
				<li><a href="#">[Consultation 4 with a long heading..and a bit longer]</a></li>
			</ul>
			<p class="text-right"><strong><a href="#">All related consultations</a></strong></p>
		</section>
		<section class="col-lg-4 col-md-6">
			<h3>Open data</h3>
			<ul class="mrgn-bttm-lg lst-spcd">
				<li><a href="#">[Open data 1]</a></li>
				<li><a href="#">[Open data 2 with a long heading]</a></li>
				<li><a href="#">[Open data 3]</a></li>
				<li><a href="#">[Open data 4 with a long heading..and a bit longer]</a></li>
			</ul>
			<p class="text-right"><strong><a href="#">All related open data</a></strong></p>
		</section>
		<section class="col-lg-4 col-md-6">
			<h3>Statistics</h3>
			<ul class="mrgn-bttm-lg lst-spcd">
				<li><a href="#">[Statistic 1]</a></li>
				<li><a href="#">[Statistic 2 with a long heading]</a></li>
				<li><a href="#">[Statistic 3]</a></li>
				<li><a href="#">[Statistic 4 with a long heading..and a bit longer]</a></li>
			</ul>
			<p class="text-right"><strong><a href="#">All related statistics</a></strong></p>
		</section>
	</div>
</section>
