---
{
	"title": "[Topic title]",
	"language": "en",
	"altLangPrefix": "topic",
	"pageType": "topic",
	"pageclass": "page-type-nav",
	"breadcrumb": [
		{ "title": "Home", "link": "https://www.canada.ca/en.html" },
		{ "title": "[Theme Name]", "link": "theme-en.html" }
	],
	"dateModified": "2017-12-05",
	"share": "true",
	"deptfeature": true
}
---
<div class="row profile">
	<div class="col-md-6">
		<h1 property="name" id="wb-cont">{{{title}}}</h1>
		<p>1-2 sentences that describe the topics and top tasks that can be accessed on this page.</p>
		{{>follow}}
	</div>
	<div class="col-md-6 mrgn-tp-sm hidden-sm hidden-xs">
		<img src="{{assets}}/img/520x200.png" alt="" class="pull-right img-responsive thumbnail"/>
	</div>
</div>
<div class="row">
	<div class="col-md-4 col-xs-12 pull-right">
		{{>most-requested}}
	</div>
	<section class="col-md-8 pull-left">
		<h2>Services and information</h2>
		<div class="wb-eqht row">
			{{>topic-subtopic}}
			{{>topic-subtopic}}
			{{>topic-subtopic}}
			{{>topic-subtopic}}
			{{>topic-subtopic}}
			{{>topic-subtopic}}
			{{>topic-subtopic}}
			{{>topic-subtopic}}
			{{>topic-subtopic}}
			{{>topic-subtopic}}
			{{>topic-subtopic}}
			{{>topic-subtopic}}
		</div>
	</section>
	<div class="pull-right col-xs-12 col-md-4">
		{{>supported-by}}
		{{>more-info}}
	</div>
</div>
<section class="whtwedo">
	<h2>What we are doing</h2>
	<div class="row wb-eqht">
		<section class="col-lg-4 col-md-6">
			{{>research}}
		</section>
		<section class="col-lg-4 col-md-6">
			{{>surveys}}
		</section>
		<section class="col-lg-4 col-md-6">
			{{>consultations}}
		</section>
	</div>
</section>
