---
{
	"title": "[Titre du sujet]",
	"language": "fr",
	"altLangPrefix": "topic",
	"pageType": "topic",
	"pageclass": "page-type-nav",
	"breadcrumb": [
		{ "title": "Accueil", "link": "https://www.canada.ca/fr.html" },
		{ "title": "[Thème]", "link": "theme-fr.html" }
	],
	"dateModified": "2017-12-05",
	"share": "true",
	"deptfeature": true
}
---
<div class="row profile">
	<div class="col-md-6">
		<h1 property="name" id="wb-cont">{{{title}}}</h1>
		<p>1 ou 2 phrases d’introduction qui définissent les sous-sujets et les tâches principales qui peuvent être consultés sur cette page.</p>
		{{>follow}}
	</div>
	<div class="col-md-6 mrgn-tp-sm hidden-sm hidden-xs">
		<img src="{{assets}}/img/520x200.png" alt="" class="pull-right img-responsive thumbnail"/>
	</div>
</div>
<div class="row">
	<div class="col-md-4 col-xs-12 pull-right">
		{{>most-requested}}
	</div>
	<section class="col-md-8 pull-left">
		<h2>Services et renseignements</h2>
		<div class="wb-eqht row">
			{{>topic-subtopic}}
			{{>topic-subtopic}}
			{{>topic-subtopic}}
			{{>topic-subtopic}}
			{{>topic-subtopic}}
			{{>topic-subtopic}}
			{{>topic-subtopic}}
			{{>topic-subtopic}}
			{{>topic-subtopic}}
			{{>topic-subtopic}}
			{{>topic-subtopic}}
			{{>topic-subtopic}}
		</div>
	</section>
	<div class="pull-right col-xs-12 col-md-4">
		{{>supported-by}}
		{{>more-info}}
	</div>
</div>
<section class="whtwedo">
	<h2>Ce que nous faisons</h2>
	<div class="row wb-eqht">
		<section class="col-lg-4 col-md-6">
			{{>research}}
		</section>
		<section class="col-lg-4 col-md-6">
			{{>surveys}}
		</section>
		<section class="col-lg-4 col-md-6">
			{{>consultations}}
		</section>
	</div>
</section>
