---
{
	"title": "[Nom du sujet au plus bas niveau]",
	"language": "fr",
	"altLangPrefix": "topic-lowest",
	"pageclass": "secondary",
	"breadcrumb": [
		{ "title": "Accueil", "link": "http://www.canada.ca/fr/index.html" },
		{ "title": "[Thème]", "link": "theme-fr.html" },
		{ "title": "[Sujet]", "link": "topic-fr.html" }
	],
	"dateModified": "2014-10-24",
	"share": "true",
	"deptfeature": true}
---

<div class="row profile">
	<div class="col-md-6 ">
		<h1 property="name" id="wb-cont">{{{title}}}</h1>
		<p>1 ou 2 phrases d’introduction qui définissent les sous-sujets et les tâches principales qui peuvent être consultés sur cette page.</p>
		{{>follow}}
	</div>
	<div class="col-md-6 margin-top-small hidden-sm hidden-xs">
		<img src="{{assets}}/img/520x200.png" alt="" class="pull-right img-responsive thumbnail"/>
	</div>
</div>
<div class="row">
	<section class="col-md-8">
		<h2>Services et renseignements</h2>
		<div class="row">
			<div class="col-md-6">
				{{>task}}
			</div>
			<div class="col-md-6">
				{{>task}}
			</div>
			<div class="clearfix"></div>
			<div class="col-md-6">
				{{>task}}
			</div>
			<div class="col-md-6">
				{{>task}}
			</div>
			<div class="clearfix"></div>
			<div class="col-md-6">
				{{>task}}
			</div>
			<div class="col-md-6">
				{{>task}}
			</div>
			<div class="clearfix"></div>
			<details class="mrgn-tp-md brdr-0">
				<summary class="btn btn-default text-center">Afficher plus de services et de renseignements</summary>
				<div class="row">
					<div class="col-md-6">
						{{>task}}
					</div>
					<div class="col-md-6">
						{{>task}}
					</div>
					<div class="clearfix"></div>
					<div class="col-md-6">
						{{>task}}
					</div>
					<div class="col-md-6">
						{{>task}}
					</div>
					<div class="clearfix"></div>
					<div class="col-md-6">
						{{>task}}
					</div>
					<div class="col-md-6">
						{{>task}}
					</div>
					<div class="clearfix"></div>
				</div>
			</details>
		</div>
	</section>
	<div class="col-md-4 mrgn-tp-lg">
		{{>supported-by}}
		{{>more-info}}
	</div>
</div>
<section>
	<h2>Ce que nous faisons</h2>
	<div class="row wb-eqht">
		<section class="col-lg-4 col-md-6">
			{{>law-regulations}}
		</section>
		<section class="col-lg-4 col-md-6">
			{{>publications}}
		</section>
		<section class="col-lg-4 col-md-6">
			{{>consultations}}
		</section>
		<section class="col-lg-4 col-md-6">
			{{>open-data}}
		</section>
		<section class="col-lg-4 col-md-6">
			{{>statistics}}
		</section>
	</div>
</section>
