---
{
	"title": "Restez branché",
	"language": "fr",
	"altLangPrefix": "widgets",
	"pageclass": "theme",
	"breadcrumb": [
		{ "title": "Accueil", "link": "https://www.canada.ca/fr.html" },
		{ "title": "Environnement et ressources naturelles", "link": "https://www.canada.ca/fr/services/environnement.html" }
	],
	"secondlevel": false,
	"dateModified": "2014-06-12",
	"share": "true"
}
---
<p>Obtenez les dernières nouvelles sur le Plan de conservation national, y compris des annonces, une foire aux questions et des liens vers nos comptes de médias sociaux.</p>
<div class="row">
	<section class="col-md-4 fd-wdgt dte-nl">
		<div class="panel panel-default">
			<div class="wb-feeds limit-10">
				<div class="panel-heading">
					<h3 class="panel-title">Facebook <span class="icon facebook"></span></h3>
				</div>
				<div class="panel-body">
					<ul class="feeds-cont media-list">
						<li class="media">
							<a class="pull-left" href="https://www.facebook.com/feeds/page.php?id=460123390028&amp;format=atom10" rel="external">
							<img class="media-object" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-frc3/t1.0-1/c17.17.207.207/430015_10151952323214045_194318965_n.png" alt="Environnement Canada" height="64" width="64" />
							</a>
							<div class="media-body">
								<h4 class="media-heading"><a href="https://www.facebook.com/feeds/page.php?id=460123390028&amp;format=atom10" rel="external">Environnement Canada - Facebook</a></h4>
								<p>EC est une organisation diversifiée offrant des programmes et des services efficaces et regroupant des gens dynamiques qui font une différence sur le plan environnemental et dans différents aspects de la vie des Canadiennes et Canadiens.</p>
							</div>
						</li>
						<li class="media">
							<a class="pull-left" href="https://www.facebook.com/feeds/page.php?id=134615279898518&amp;format=atom10" rel="external">
							<img class="media-object" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash3/t1.0-1/p320x320/10245484_872682866081663_8340097330550277155_n.png" alt="Parcs Canada" height="64" width="64" />
							</a>
							<div class="media-body">
								<h4 class="media-heading"><a href="https://www.facebook.com/feeds/page.php?id=134615279898518&amp;format=atom10" rel="external">Parcs Canada- Facebook</a></h4>
								<p>Les parcs nationaux, aires marines nationales de conservation et lieux historiques nationaux du Canada.</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<section class="col-md-4 mrgn-bttm-md">
		<h2 class="wb-inv">Twitter</h2>
		<div class="wb-twitter">
			<a class="twitter-timeline" href="https://twitter.com/search?q=%23plandeconservation+AND+%23+from%3Aenvironnementca+OR+%23+from%3AMPO_DFO+OR+%23+from%3Aparcscanada" data-widget-id="466591543910871040" rel="external">#ConservationPlan</a>
		</div>
	</section>
	<div class="col-md-4">
		<section>
			<h2 class="mrgn-tp-0">Information</h2>
			<ul>
				<li><a href="http://www.pm.gc.ca/fra/nouvelles/2014/05/15/pm-lance-plan-national-de-conservation">Communiqué</a>
				</li>
				<li><a href="https://www.canada.ca/fr/services/environnement/pnc/faq.html">Foire aux questions</a>
				</li>
				<li><a href="http://pm.gc.ca/fra/nouvelles/2014/05/15/plan-national-de-conservation">Fiche d&rsquo;information</a>
				</li>
			</ul>
		</section>
		<section>
			<h2>Médias sociaux</h2>
			<section>
				<h3 class="icon twitter" lang="en">Twitter:</h3>
				<ul>
					<li><a href="https://twitter.com/environnementca" rel="external"><span lang="en">Twitter</span> d&rsquo;Environnement Canada</a>
					</li>
					<li><a href="https://twitter.com/MPO_DFO" rel="external"><span lang="en">Twitter</span> de Pêches et Océans Canada</a>
					</li>
					<li><a href="https://twitter.com/ParcsCanada" rel="external"><span lang="en">Twitter</span>  de Parcs Canada</a>
					</li>
				</ul>
			</section>
			<section>
				<h3 class="icon facebook" lang="en">Facebook:</h3>
				<ul>
					<li><a href="https://www.facebook.com/EnvironnementetressourcesnaturellesauCanada/" rel="external"><span lang="en">Facebook</span> d’Environnement Canada</a>
					</li>
					<li><a href="https://www.facebook.com/ParcsCanada" rel="external"><span lang="en">Facebook</span> de Parcs Canada</a>
					</li>
				</ul>
			</section>
			<section>
				<h3 class="icon flickr" lang="en">Flickr:</h3>
				<ul>
					<li><a href="https://www.flickr.com/photos/environnementcan" rel="external"><span lang="en">Flickr</span> d’Environnement Canada</a>
					</li>
				</ul>
			</section>
			<section>
				<h3 class="icon youtube" lang="en">YouTube:</h3>
				<ul>
					<li><a href="https://www.youtube.com/user/ParcsCanada" rel="external"><span lang="en">YouTube</span> de Parcs Canada</a>
					</li>
					<li><a href="https://www.youtube.com/user/PechesCanada/" rel="external"><span lang="en">YouTube</span>  de Pêches et Océans Canada</a>
					</li>
				</ul>
			</section>
			<section>
				<h3 class="icon pinterest">Pinterest:</h3>
				<ul>
					<li><a href="http://www.pinterest.com/canensante/" rel="external">Canadiens en Santé</a> <span class="wb-inv">presence</span></li>
				</ul>
			</section>
		</section>
	</div>
</div>
