---
{
	"title": "Stay connected",
	"language": "en",
	"altLangPrefix": "widgets",
	"pageclass": "theme",
	"breadcrumb": [
		{ "title": "Home", "link": "https://www.canada.ca/en.html" },
		{ "title": "Environment & natural resources", "link": "https://www.canada.ca/en/services/environment.html" }
	],
	"secondlevel": false,
	"dateModified": "2014-06-12",
	"share": "true"
}
---
<p>Find the latest information on the National Conservation Plan, including announcements, Frequently Asked Questions and links to our social media channels.</p>
<div class="row">
	<section class="col-md-4 fd-wdgt">
		<div class="panel panel-default">
			<div class="wb-feeds limit-10">
				<div class="panel-heading">
					<h3 class="panel-title">Facebook <span class="icon facebook"></span></h3>
				</div>
				<div class="panel-body">
					<ul class="feeds-cont media-list">
						<li class="media">
							<a class="pull-left" href="https://www.facebook.com/feeds/page.php?id=318424514044&amp;format=atom10" rel="external">
							<img class="media-object" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-frc3/t1.0-1/c17.17.207.207/430015_10151952323214045_194318965_n.png" alt="Enviroment Canada Logo" height="64" width="64" />
							</a>
							<div class="media-body">
								<h4 class="media-heading"><a href="https://www.facebook.com/feeds/page.php?id=318424514044&amp;format=atom10" rel="external">Enviroment Canada - Facebook</a></h4>
								<p>At Environment Canada our business is protecting the environment, conserving the country's natural heritage and providing weather and environmental predictions to keep Canadians informed and safe.</p>
							</div>
						</li>
						<li class="media">
							<a class="pull-left" href="https://www.facebook.com/feeds/page.php?id=137563459593611&amp;format=atom10" rel="external">
							<img class="media-object" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash3/t1.0-1/p320x320/10245484_872682866081663_8340097330550277155_n.png" alt="Parks Canada Logo" height="64" width="64" />
							</a>
							<div class="media-body">
								<h4 class="media-heading"><a href="https://www.facebook.com/feeds/page.php?id=137563459593611&amp;format=atom10" rel="external">Parks Canada - Facebook</a></h4>
								<p>On behalf of the people of Canada, we protect and present nationally significant examples of Canada's natural and cultural heritage, and foster public understanding, appreciation and enjoyment in ways that ensure the ecological and commemorative integrity of these places for present and future generations.</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<section class="col-md-4 mrgn-bttm-md">
		<h2 class="wb-inv">Twitter</h2>
		<div class="wb-twitter"> <a class="twitter-timeline" href="https://twitter.com/search?q=%23conservationplan+AND+%23+from%3Aenvironmentca+OR+%23+from%3ADFO_MPO+OR+%23+from%3Aparkscanada" data-widget-id="466584386855374848" rel="external">#ConservationPlan</a>
		</div>
	</section>
	<div class="col-md-4">
		<section>
			<h2 class="mrgn-tp-0">Information</h2>
			<ul>
				<li><a href="http://www.pm.gc.ca/eng/news/2014/05/15/pm-launches-national-conservation-plan">News release</a>
				</li>
				<li><a href="https://www.canada.ca/en/services/environment/ncp/faq.html">Frequently Asked Questions</a>
				</li>
				<li><a href="http://pm.gc.ca/eng/news/2014/05/15/national-conservation-plan">Backgrounder</a>
				</li>
			</ul>
		</section>
		<section>
			<h2>Social Media</h2>
			<section>
				<h3 class="icon twitter">Twitter:</h3>
				<ul>
					<li><a href="https://twitter.com/environmentca" rel="external">Environment Canada&rsquo;s Twitter</a> <span class="wb-inv">presence</span></li>
					<li><a href="https://twitter.com/DFO_MPO" rel="external">Fisheries and Oceans Canada&rsquo;s Twitter</a> <span class="wb-inv">presence</span></li>
					<li><a href="https://twitter.com/ParksCanada" rel="external">Parks Canada&rsquo;s Twitter</a> <span class="wb-inv">presence</span></li>
				</ul>
			</section>
			<section>
				<h3 class="icon facebook">Facebook:</h3>
				<ul>
					<li><a href="https://www.facebook.com/EnvironmentandNaturalResourcesinCanada/" rel="external">Environment Canada’s Facebook</a> <span class="wb-inv">presence</span></li>
					<li><a href="https://www.facebook.com/ParksCanada" rel="external">Parks Canada’s Facebook</a> <span class="wb-inv">presence</span></li>
				</ul>
			</section>
			<section>
				<h3 class="icon flickr">Flickr:</h3>
				<ul>
					<li><a href="https://www.flickr.com/photos/environmentcan" rel="external">Environment Canada’s Flickr</a> <span class="wb-inv">presence</span></li>
				</ul>
			</section>
			<section>
				<h3 class="icon youtube">YouTube:</h3>
				<ul>
					<li><a href="https://www.youtube.com/user/ParksCanadaAgency" rel="external">Parks Canada’s YouTube</a> <span class="wb-inv">presence</span></li>
					<li><a href="https://www.youtube.com/user/fisheriescanada?feature=results_main" rel="external">Department of Fisheries and Oceans’ YouTube</a> <span class="wb-inv">presence</span></li>
				</ul>
			</section>
			<section>
				<h3 class="icon pinterest">Pinterest:</h3>
				<ul>
					<li><a href="http://www.pinterest.com/healthycdns/" rel="external">Healthy Canadians</a> <span class="wb-inv">presence</span></li>
				</ul>
			</section>
		</section>
	</div>
</div>
