/* Contributors */

.gc-contributors {
	font-size: 20px;
	margin-top: 38px;

	h2, h3, ul { // Remove h2 once version 3.2 is deprecated/removed
		font-size: $small-size;
		margin-top: 0;
	}

	ul {
		padding-inline-start: 20px;

		li {
			font-weight: $bold-weight;
		}
	}
}
