/*
  WET-BOEW
  @title: Medium view and over (screen only)
  @desc:  Variable $screen-md-min >= 992px
*/

.gc-contributors {
	display: flex;

	h2, h3 { // Remove h2 once version 3.2 is deprecated/removed
		line-height: 1.8em;
		word-break: initial;
	}

	ul {
		padding-inline-start: 5px;

		li {
			display: inline-block;
			margin-right: .25rem;

			&::after {
				content: "|";
				margin-left: .25rem;
			}

			&:last-child::after {
				content: none;
			}
		}
	}
}
