---
{
	"title": "[Audience name]",
	"language": "en",
	"altLangPrefix": "gc-audience",
	"pageType": "gcaudience",
	"pageclass": "page-type-nav cnt-wdth-lmtd",
	"breadcrumb": [
		{ "title": "Canada.ca", "link": "https://www.canada.ca/en.html" }
	],
	"dateModified": "2017-12-05",
	"share": "true"
}
---
<div class="row profile">
	<div class="col-md-6">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sagittis massa sed libero eleifend, ac iaculis urna tempor. Cras sagittis massa sed libero eleifend, ac iaculis urna tempor.</p>
		{{>follow}}
	</div>
	<div class="col-md-6 margin-top-small hidden-sm hidden-xs">
		<img src="img/banner-520x200.png" alt="" class="pull-right img-responsive thumbnail"/>
	</div>
</div>
{% include components/gc-servinfo/2col.html %}
{{>deptfeatures}}
