@charset "utf-8";
/* CSS Document */
  .wb-clipboard-init.copyarea:not(textarea):not(input) {
      border: 1px solid #e3e3e3;
      box-shadow: 0px 0px 8px #e3e3e3;
      margin-left: 30px;
      margin-right: 30px;
      padding: 15px;
      margin-bottom: 15px;
  }

  .copyarea::before, .copyarea::after {
      clip: rect(1px,1px,1px,1px);
      height: 1px;
      margin: 0;
      overflow: hidden;
      position: absolute;
      width: 1px;
  }
  .wb-clipboard-init.copyarea::before, .wb-clipboard-init.copyarea::after {
      content: "";
  }
  .copyarea.copied:not(textarea):not(input) {
      border: 1px solid #d6e9c6;
      box-shadow: 0px 0px 18px #d6e9c6;
  }
  pre.wb-clipboard > button.wb-clipboard-btn {
      font-family: Helvetica,Arial,sans-serif;
  }
button.wb-clipboard-btn:not(.btn-xs) {
  font-size: 1em;
  font-weight: 600;
  padding: 5px 7px;
}
button.wb-clipboard-btn:not(.btn-xs) .glyphicon {
  font-size: 1.2em;
}
  .wb-clipboard-text {
      font-family: courier;
      font-size: 16px;
  }
  textarea.wb-clipboard {
      margin-bottom: 15px;
  }
