/*
	GC Ministers
*/

.gc-minister {
	margin-bottom: 15px;

	h3 {
		font-size: 20px;
		margin-bottom: 15px;
		margin-top: 15px;
	}

	p, ul {
		font-size: 17px;
	}

	img {
		border: 1px #ddd solid;
		margin-bottom: 15px;
		max-width: 100%;
	}
}
