---
{
	"title": "Minister or institutional head - two ministers example",
	"description": "Working example for the 'Minister or institutional head' component contains two or more ministers.",
	"language": "en",
	"altLangPage": "gc-minister-two-ministers-fr.html",
	"breadcrumbs": [
		{ "title": "Minister or institutional head - Documentation", "link": "components/gc-minister/gc-minister-doc-en.html" }
	],
	"dateModified": "2024-12-05",
}
---
<div class="wb-prettify all-pre hide"></div>

<p>Below is working example for when the "Minster or institutional head" component contains two or more ministers. The <code>&lt;div class="col-md-6"></code> element can be repeated as many times as there are ministers.</p>

{% include_relative samples/gc-minister-two-ministers.html %}
<details>
	<summary>Code sample</summary>
	{% highlight html %}{% include_relative samples/gc-minister-two-ministers.html %}{% endhighlight %}
</details>
