---
{
	"title": "Ministre ou chef d'institution",
	"description": "Exemples pratiques pour la composante « Ministre ou chef d'institution »",
	"language": "fr",
	"altLangPage": "gc-minister-en.html",
	"breadcrumbs": [
		{ "title": "Ministre ou chef d'institution - Documentation", "link": "components/gc-minister/gc-minister-doc-fr.html" }
	],
	"dateModified": "2024-12-05"
}
---
<div class="wb-prettify all-pre hide"></div>

<p>Vous trouverez ci-dessous un exemple pratique pour la composante «&nbsp;Ministre ou chef d'institution&nbsp;» lorsqu'il n'y a qu'un seul ministre.</p>

{% include_relative samples/gc-minister.html %}
<details>
	<summary>Exemple de code</summary>
	{% highlight html %}{% include_relative samples/gc-minister.html %}{% endhighlight %}
</details>
