---
{
	"title": "Minister or institutional head",
	"description": "Working example for the 'Minister or institutional head' component",
	"language": "en",
	"altLangPage": "gc-minister-fr.html",
	"breadcrumbs": [
		{ "title": "Minister or institutional head - Documentation", "link": "components/gc-minister/gc-minister-doc-en.html" }
	],
	"dateModified": "2024-12-05",
}
---
<div class="wb-prettify all-pre hide"></div>

<p>Below is working example for the "Minster or institutional head" component when there is only one minister.</p>

{% include_relative samples/gc-minister.html %}
<details>
	<summary>Code sample</summary>
	{% highlight html %}{% include_relative samples/gc-minister.html %}{% endhighlight %}
</details>
