---
{
	"title": "Minister or institutional head (multiple with picture) example",
	"description": "Working example for the 'Minister or institutional head' component with multiple pictures.",
	"language": "en",
	"altLangPage": "gc-minister-multiple-fr.html",
	"breadcrumbs": [
		{ "title": "Minister or institutional head - Documentation", "link": "components/gc-minister/gc-minister-doc-en.html" }
	],
	"dateModified": "2025-06-16",
}
---
<div class="wb-prettify all-pre hide"></div>

<p>Below is working example for when the "Minster or institutional head" component contains three columns of multiple images. The <code>&lt;div class="col-md-4"></code> element can be repeated as many times as there are ministers.</p>

{% include_relative samples/gc-minister-multiple.html %}
<details>
	<summary>Code sample</summary>
	{% highlight html %}{% include_relative samples/gc-minister-multiple.html %}{% endhighlight %}
</details>
