---
{
	"title": "Minister or institutional head - special cases example",
	"description": "Special cases working example for the 'Minister or institutional head' component.",
	"language": "en",
	"altLangPage": "gc-minister-special-cases-fr.html",
	"breadcrumbs": [
		{ "title": "Minister or institutional head - Documentation", "link": "components/gc-minister/gc-minister-doc-en.html" }
	],
	"dateModified": "2024-12-05",
}
---
<div class="wb-prettify all-pre hide"></div>

<p>Below is a working example for the "Minster or institutional head" component when the image, mandate letter, and/or briefing book are not available.</p>

{% include_relative samples/gc-minister-special-cases.html %}
<details>
	<summary>Code sample</summary>
	{% highlight html %}{% include_relative samples/gc-minister-special-cases.html %}{% endhighlight %}
</details>
