---
{
	"title": "Bloc d'introduction",
	"language": "fr",
	"altLangPage": "gc-intro-en.html",
	"dateModified": "2024-03-14",
	"breadcrumbs": [
		{ "title": "Bloc d'introduction - documentation", "link": "design-patterns/gc-intro/gc-intro-doc-fr.html" }
	],
	"layout": "without-h1",
}
---
<div class="wb-prettify all-pre"></div>

<div class="container">
	{% include_relative samples/gc-intro.html %}

	<h2>Code</h2>
	{% highlight html %}{% include_relative samples/gc-intro.html %}{% endhighlight %}
</div>
