---
{
	"title": "Bloc d'introduction avec image demi largeur",
	"language": "fr",
	"altLangPage": "gc-intro-half-width-image-en.html",
	"layout": "without-h1",
	"dateModified": "2024-06-13",
	"breadcrumbs": [
		{ "title": "Bloc d'introduction - documentation", "link": "design-patterns/gc-intro/gc-intro-doc-fr.html" }
	]
}
---
<div class="wb-prettify all-pre"></div>

{% include_relative samples/gc-intro-half-width-image.html %}

<h2>Code</h2>
{% highlight html %}{% include_relative samples/gc-intro-half-width-image.html %}{% endhighlight %}
