---
{
	"title": "Sub task 2",
	"secondarymenu": [
		{ "title": "[Sub task 1]", "link": "../task1/index-en.html" },
		{ "title": "[Sub task 2]", "link": "./index-en.html",
			"subnav": [
				{ "title": "[Sub sub task 1]", "link": "./task1/index-en.html" },
				{ "title": "[Sub sub task 2]", "link": "./task2/index-en.html" }
			]
		},
		{ "title": "[Sub task 3]", "link": "../task3/index-en.html" }
	],
	"parentPage": {
		"title":"[Task 3]",
		"link":"../index-en.html"
	},
	"language": "en",
	"altLangPage": "index-fr.html",
	"overwriteBreadcrumbs": true,
	"breadcrumbs": [
		{ "title": "[Institution name]", "link": "templates/institutional/institution-en.html" },
		{ "title": "[Topic - Local navigation]", "link": "templates/lowest-topic/index-en.html" },
		{ "title": "[Task 3]", "link": "templates/lowest-topic/task3/index-en.html" }
	],
	"tag": "GCWeb",
	"dateModified": "2015-01-11",
	"share": "true"
}
---
{% include byline/byline.html %}
{% include web-contents/placeholdercontent-en.html %}
