---
{
	"title": "Centre mobile",
	"language": "fr",
	"altLangPrefix": "index",
	"pageclass": "home",
	"breadcrumb": [
		{ "title": "Accueil", "link": "http://canada.ca/fr/index.html" }
	],
	"toplevel": false,
	"section": "mobile-centre",
	"dateModified": "2014-02-19",
	"share": "false"
}
---
<h1 id="wb-cont">{{title}}</h1>
<div class="row">
	<div class="col-md-12">
		<p class="pagetag">Utilisez nos applications et pages mobiles pour accéder aux services et aux renseignements du gouvernement du Canada.</p>
		<table id="mobile-centre" class="product-listing wb-tables" data-wet-boew='{"bDeferRender": true, "aoColumns": [ { "sClass": "product-name h3" },  { "sClass": "product-pubdate wb-inv" }, { "sClass": "product-platforms" }, { "sClass": "product-shortdescription" }, { "sClass": "product-longdescription" }, { "sClass": "product-department" },{ "sClass": "product-link-container" } ], "sAjaxSource": "../ajax/mob-fr.json","aaSorting": [[1,"desc"]],"oLanguage": {"sSearch": "Filtrer&nbsp;:"}, "sDom": "<\"wrapper\"flitp>" }'>
            <thead class="wb-inv">
                <tr>
                    <th>Nom</th>
                    <th>Date de publication</th>
                    <th>Platforme(s)</th>
                    <th>Courte description</th>
                    <th>Longue description</th>
                    <th>Ministère</th>
                    <th>Téléchargement(s)</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
	    </table>
	</div>
</div>
