---
{
	"title": "Mobile centre",
	"language": "en",
	"altLangPrefix": "index",
	"pageclass": "home",
	"breadcrumb": [
		{ "title": "Home", "link": false }
	],
	"toplevel": false,
	"section": "mobile-centre",
	"dateModified": "2014-02-19"
}
---
<h1 id="wb-cont">{{title}}</h1>
<div class="row">
	<div class="col-md-12">
		<p class="pagetag">Use our mobile applications and pages to access Government of Canada information and services.</p>
		<table id="mobile-centre" class="product-listing wb-tables" data-wet-boew='{"bDeferRender": true, "aoColumns": [ { "sClass": "product-name h3" },  { "sClass": "product-pubdate wb-inv" }, { "sClass": "product-platforms" }, { "sClass": "product-shortdescription" }, { "sClass": "product-longdescription" }, { "sClass": "product-department" },{ "sClass": "product-link-container" } ], "sAjaxSource": "../ajax/mob-en.json","aaSorting": [[1,"desc"]],"oLanguage": {"sSearch": "Filter:"}, "sDom": "<\"wrapper\"flitp>" }'>
	        <thead class="wb-inv">
	            <tr>
	                <th>Name</th>
	                <th>Publication date</th>
	                <th>Platform(s)</th>
	                <th>Short description</th>
	                <th>Long description</th>
	                <th>Department</th>
	                <th>Download link(s)</th>
	            </tr>
	        </thead>
	        <tbody>
	        </tbody>
	    </table>
	</div>
</div>
