/*
  WET-BOEW
  @title: Theme template
  @desc:  Styles specific to the Theme template for GCWeb
*/

.page-type-theme {
	#wb-bnr + hr {
		border-top: 1px solid #ddd;
	}

	#wb-bc {
		li:first-child a {
			border-left: solid #26374a 5px;
			padding-left: 8px;
		}

		.breadcrumb {
			margin-bottom: 15px;
		}
	}

	#theme-nav {
		li {
			a {
				color: $link-color;
				display: block;
				font-size: 16px;
				line-height: 1.65em;
				padding: 10px 14px;
				text-decoration: none;

				&:hover {
					background-color: #f5f5f5;
					color: $button-blue;
					text-decoration: underline;
				}

				&.wb-navcurr, &.wb-navcurr:hover {
					background-color: #26374a;
					color: #fff;
				}

				&.wb-navcurr:focus {
					outline: 5px auto #fff;
					outline-offset: -5px;
				}
			}
		}
	}

	#menu-btn {
		border-radius: 0;
		display: block;
		margin: .25em 0 1em -15px;
		text-align: left;
		width: calc(100% + 30px);

		.glyphicon-chevron-down {
			margin-left: 10px;
		}

		&.expanded .glyphicon-chevron-down {
			transform: rotate(180deg) translateY(2px);
		}

		// Les items du menu sont affichés par défaut en mode basic HTML, donc il n'est pas nécessaire d'afficher le bouton menu car il ne sera pas fonctionnel
		.wb-disable & {
			display: none;
		}
	}

	h1#wb-cont {
		border: none;
		font-size: 1.2em;
		line-height: 1.1;
		margin: 10px 0 11.5px;
	}

	.gc-most-requested {
		h2 {
			float: none;
			font-size: 1em;
			width: auto;
		}
	}
}
