/*
  WET-BOEW
  @title: Sidebar component
  @desc:  Styles specific to the sidebar component for GCWeb
*/

.page-type-theme #gridContainer {
	width: $container-lg;

	> nav + section .gc-most-requested::after {
		width: calc( (100vw - #{$container-lg} + 15px)/2 );
	}
}
