/*
  WET-BOEW
  @title: Sidebar component
  @desc:  Styles specific to the sidebar component for GCWeb
*/

.page-type-theme #gridContainer {
	width: $container-lg;

	> nav + section .gc-most-requested ul li::after {
		width: 335px;
	}
}
