/*
  WET-BOEW
  @title: theme component
  @desc:  Styles specific to the theme component for GCWeb
*/

@mixin continuous-bg($bg-color) {
	position: relative;

	&::after {
		background-color: $bg-color;
		bottom: 0;
		content: "";
		left: calc(100% - 1px);
		position: absolute;
		top: 0;
		width: 9999px;
	}
}

.page-type-theme {
	overflow-x: hidden;

	#gridContainer {
		display: flex;
		margin: 0 auto;
		padding: 0 15px;
		width: $container-md;

		> *:first-child {
			flex: 0 0 300px;

			.container {
				padding: 0;
				width: auto;
			}
		}

		> *:nth-child(2) {
			border-left: 5px solid #26374a;
			flex: 1 0 0%;

			.container {
				padding-left: 35px;
				width: auto;
			}
		}
	}

	#theme-nav {
		.wb-sl {
			display: block;
			font-size: .8em;
			margin: 0 5px 5px;
			text-align: center;
		}
	}

	#menu-btn {
		display: none;
	}

	main {
		h1#wb-cont {
			font-size: 2.1875rem;
		}

		h2 {
			font-size: 1.5rem;
		}

		.gc-featured-link {
			@include continuous-bg($bg-gctheme);
		}

		.gc-most-requested {
			@include continuous-bg(#f5f5f5);

			&:has(~ .gc-most-requested)::after {
				background-color: $state-info-bg;
			}
		}

		.bg-light {
			@include continuous-bg(#f5f5f5);
		}

		.gc-features {
			h2 {
				font-size: 1.81rem;
			}
		}
	}
}
