---
{
	"title": "Entreprises et industrie",
	"language": "fr",
	"layout": "no-container",
	"altLangPage": "theme-business-en.html",
	"overwriteBreadcrumbs": true,
	"auth": {
		"type": "contextual",
		"link": "sign-in-fr.html",
		"label": "Se connecter",
		"labelExtended": "Se connecter"
	},
	"dateModified": "2026-01-20",
	"pageclass": "page-type-theme",
	"nomenu": true,
	"css": [
		"demo/demo.css"
	],
	"contextualFooter": {
		"title": "Business",
		"links": [
			{
				"url": "#",
				"text": "Lien 1"
			},
			{
				"url": "#",
				"text": "Lien 2"
			},
			{
				"url": "#",
				"text": "Lien 3"
			}
		]
	}
}
---

<div class="container">
	<section class="alert alert-info wb-dismissable">
		<h2 class="h4">Prélancement</h2>
		<p>Le modèle de Thème version 2.0 a été prélancé en attendant la publication des directives officielles par le Bureau de la transformation numérique. Il ne doit pas être mis en œuvre sans consultation du BTN ou de l'Éditeur principal.</p>
	</section>
</div>

<div id="gridContainer">
	{% include_relative samples/theme-nav-fr.html %}
	<div id="theme-content">
		<div class="container">
			<h1 id="wb-cont">Entreprises et industrie</h1>
		</div>
		<section class="gc-most-requested">
			<div class="container">
				<h2>En demande</h2>
				<ul>
					<li><a href="https://www.canada.ca/fr/ministere-finances/programmes/politiques-finances-echanges-internationaux/reponse-canada-droits-douane-americains.html">Réponse du Canada aux droits de douane américains sur les produits canadiens</a></li>
					<li><a href="https://ised-isde.canada.ca/cc/lgcy/fdrlCrpSrch.html?locale=fr_CA">Trouver une société</a></li>
					<li><a href="https://ised-isde.canada.ca/site/corporations-canada/fr/garder-votre-corporation-bonne-forme/rapport-annuel">Déposez votre rapport annuel (Corporations Canada</a><u>)</u></li>
					<li><a href="/fr/agence-revenu/services/services-electroniques/services-numeriques-entreprises/dossier-entreprise.html">Mon dossier d'entreprise (Agence du revenu du Canada)</a></li>
					<li><a href="https://ised-isde.canada.ca/site/programme-financement-petites-entreprises-canada/fr">Aider les petites entreprises à obtenir des prêts</a></li>
					<li><a href="https://www.bdc.ca/fr/financement/pret-petites-entreprises">Prêts pour améliorer les encaisses et augmenter les ventes</a></li>
				</ul>
			</div>
		</section>
		<div class="container">
			<section class="gc-srvinfo">
				<h2 class="wb-inv">Services et renseignements</h2>
				<div class="wb-eqht-grd row">
					<div class="col-md-6">
						<h3><a href="https://canada.ca/fr/services/entreprises/lancer.html">Démarrage d'entreprise</a></h3>
						<p>Planification d'entreprise, choisir un nom d'entreprise, enregistrement auprès du gouvernement, obtenir soutien et financement</p>
					</div>
					<div class="col-md-6">
						<h3><a href="https://canada.ca/fr/services/entreprises/impots.html">Taxes et impôt des entreprises</a></h3>
						<p>Impôt sur le revenu, TPS/TVH, retenues sur la paie, numéros d'entreprise et tarifs de douane</p>
					</div>
					<div class="col-md-6">
						<h3><a href="https://innovation.ised-isde.canada.ca/innovation/s/?language=fr_CA">Subventions et financement pour les entreprises</a></h3>
						<p>Subventions et contributions, prêts, crédits d'impôt, subventions salariales et autres formes de soutien financier</p>
					</div>
					<div class="col-md-6">
						<h3><a href="https://ised-isde.canada.ca/site/corporations-canada/fr">Sociétés de régime fédéral</a></h3>
						<p>Incorporer ou modifier le statut d'une société, organisation à but non lucratif, coopérative ou chambre de commerce</p>
					</div>
					<div class="col-md-6">
						<h3><a href="https://canada.ca/fr/services/entreprises/maintenirfairecroitreameliorerentreprise.html">Administration de votre entreprise</a></h3>
						<p>Gestion de vos activités commerciales, planification stratégique et financière, marketing, responsabilité sociale</p>
					</div>
					<div class="col-md-6">
						<h3><a href="https://canada.ca/fr/services/entreprises/permis.html">Permis, licences et réglementation</a></h3>
						<p>Recherche de permis et licences, trouver des règlements pour votre industrie et vos activités commerciales</p>
					</div>
					<div class="col-md-6">
						<h3><a href="https://canada.ca/fr/services/entreprises/engager.html">Embauche et gestion de personnel</a></h3>
						<p>Retenues sur la paie, rémunération et ressources pour le recrutement, la formation et la gestion du personnel</p>
					</div>
					<div class="col-md-6">
						<h3><a href="https://international.canada.ca/fr/services/entreprises/commerce">Commerce international et investissements</a></h3>
						<p>Exportation et importation, investissements au Canada et sur les marchés étrangers</p>
					</div>
					<div class="col-md-6">
						<h3><a href="https://canada.ca/fr/services/entreprises/pi.html">Propriété intellectuelle et droit d'auteur</a></h3>
						<p>Marques de commerce, brevets, droits d'auteur, dessins industriels et protéger votre propriété intellectuelle</p>
					</div>
					<div class="col-md-6">
						<h3><a href="https://canada.ca/fr/services/entreprises/recherche.html">Recherche et renseignements d'affaires</a></h3>
						<p>Données sur l'industrie, repères financiers, tendances du marché et statistiques commerciales</p>
					</div>
					<div class="col-md-6">
						<h3><a href="https://canada.ca/fr/services/entreprises/faire-affaire.html">Faire affaire avec le gouvernement</a></h3>
						<p>Vente au gouvernement fédéral et à d'autres gouvernements, et approvisionnement auprès du gouvernement.</p>
					</div>
					<div class="col-md-6">
						<h3><a href="https://canada.ca/fr/services/science/innovation.html">Recherche-développement et innovation</a></h3>
						<p>Ressources pour le financement, la collaboration, la commercialisation et les licences afin de stimuler l'innovation</p>
					</div>
					<div class="col-md-6">
						<h3><a href="https://canada.ca/fr/services/entreprises/proteger.html">Protection de votre entreprise </a></h3>
						<p>Planification d'urgence, gestion du risque, assurance, aspects légaux, sécurité et confidentialité, fraude</p>
					</div>
					<div class="col-md-6">
						<h3><a href="https://ised-isde.canada.ca/site/bureau-surintendant-faillites/fr/vous-devez-largent">Insolvabilité pour les entreprises</a></h3>
						<p>Options pour régler vos dettes, présenter une proposition à vos créanciers, déclarez faillite</p>
					</div>
				</div>
			</section>
		</div>
	</div>
</div>
