---
{
	"title": "Immigration et citoyenneté",
	"language": "fr",
	"layout": "no-container",
	"altLangPage": "theme-ircc-en.html",
	"overwriteBreadcrumbs": true,
	"auth": {
		"type": "contextual",
		"link": "sign-in-fr.html",
		"label": "Se connecter",
		"labelExtended": "Se connecter"
	},
	"dateModified": "2025-11-05",
	"pageclass": "page-type-theme",
	"nomenu": true,
	"contextualFooter": {
		"title": "Business",
		"links": [
			{
				"url": "#",
				"text": "Lien 1"
			},
			{
				"url": "#",
				"text": "Lien 2"
			},
			{
				"url": "#",
				"text": "Lien 3"
			}
		]
	}
}
---

<div class="container">
	<section class="alert alert-info">
		<h2 class="h4">Prélancement</h2>
		<p>Le modèle de Thème version 2.0 a été prélancé en attendant la publication des directives officielles par le Bureau de la transformation numérique. Il ne doit pas être mis en œuvre sans consultation du BTN ou de l'Éditeur principal.</p>
	</section>
</div>

<div id="gridContainer">
	<nav id="theme-nav">
		<div class="container">
			<h2 class="wb-inv">Menu de thèmes</h2>
			<a class="wb-sl" href="#wb-cont">Passer au contenu principal</a>
			<button id="menu-btn" class="btn btn-primary"><span class="wb-inv">Basculer le </span>Menu<span class="glyphicon glyphicon-chevron-down"></span></button>
			<ul class="list-unstyled">
				<li><a href="theme-fr.html">Emplois</a></li>
				<li><a href="theme-ircc-fr.html">Immigration et citoyenneté</a></li>
				<li><a href="#">Voyage et tourisme</a></li>
				<li><a href="theme-business-fr.html">Entreprises</a></li>
				<li><a href="#">Prestations</a></li>
				<li><a href="#">Santé</a></li>
				<li><a href="#">Impôts</a></li>
				<li><a href="#">Environnement et ressources naturelles</a></li>
				<li><a href="#">Sécurité nationale et défense</a></li>
				<li><a href="#">Culture, histoire et sport</a></li>
				<li><a href="#">Services de police, justice et urgences</a></li>
				<li><a href="#">Transport et infrastructure</a></li>
				<li><a href="#">Canada et le monde</a></li>
				<li><a href="#">Argent et finances</a></li>
				<li><a href="#">Science et innovation</a></li>
				<li><a href="#">Autochtones</a></li>
				<li><a href="#">Vétérans et militaires</a></li>
				<li><a href="#">Jeunesse</a></li>
			</ul>
		</div>
	</nav>
	<section>
		<div class="container">
			<h1 id="wb-cont">Immigration et citoyenneté</h1>
		</div>
		<section class="gc-most-requested">
			<div class="container">
				<h2>Mesures spéciales</h2>
				<ul>
					<li><a href="https://canada.ca/fr/immigration-refugies-citoyennete/services/israel-cisjordanie-gaza-2023.html">Gaza et la Cisjordanie</a></li>
					<li><a href="https://canada.ca/fr/immigration-refugies-citoyennete/services/haiti-2024-fr.html">Haïti</a></li>
					<li><a href="https://canada.ca/fr/immigration-refugies-citoyennete/services/iran.html">Iran</a></li>
					<li><a href="https://canada.ca/fr/immigration-refugies-citoyennete/services/soudan2023.html">Soudan</a></li>
					<li><a href="https://canada.ca/fr/immigration-refugies-citoyennete/services/immigrer-canada/mesures-ukraine.html">Ukraine</a></li>
					<li><a href="https://canada.ca/fr/immigration-refugies-citoyennete/services/mesures-speciales.html">Toutes les mesures spéciales</a></li>
				</ul>
			</div>
		</section>
		<section class="gc-most-requested">
			<div class="container">
				<h2>En demande</h2>
				<ul>
					<li><a href="https://canada.ca/fr/immigration-refugies-citoyennete/services/demande/verifier-etat.html">État de votre demande</a></li>
					<li><a href="https://canada.ca/fr/immigration-refugies-citoyennete/services/demande/verifier-delais-traitement.html">Délais de traitement</a></li>
				</ul>
			</div>
		</section>
		<div class="container">
			<section class="gc-srvinfo">
				<h2>Demande à IRCC</h2>
				<h3><a href="https://canada.ca/en/immigration-refugees-citizenship/services/application.html">Votre demande à IRCC</a></h3>
				<p>Comptes (CléGC, représentants, employeurs et plus), données biométriques, formulaires et changements d’adresse</p>
			</section>
		</div>
		<div class="bg-light">
			<div class="container">
				<section class="gc-srvinfo">
					<h2>Visas, permis et immigration</h2>
					<div class="row wb-eqht-grd">
						<div class="col-md-6">
							<h3><a href="https://canada.ca/fr/immigration-refugies-citoyennete/services/visiter-canada.html">Visiter le Canada</a></h3>
							<p>Autorisation de voyage électronique (AVE), visa de visiteur, prolongation du séjour</p>
						</div>
						<div class="col-md-6">
							<h3><a href="https://canada.ca/fr/immigration-refugies-citoyennete/services/immigrer-canada.html">Vivre au Canada de façon permanente</a></h3>
							<p>Entrée express, parrainage, résidence permanente (RP)</p>
						</div>
						<div class="col-md-6">
							<h3><a href="https://canada.ca/fr/immigration-refugies-citoyennete/services/travailler-canada.html">Permis de travail temporaires</a></h3>
							<p>Permis de travail postdiplôme (PTPD), Expérience internationale Canada (EIC)</p>
						</div>
						<div class="col-md-6">
							<h3><a href="https://canada.ca/fr/immigration-refugies-citoyennete/services/etudier-canada.html">Permis d'études</a></h3>
							<p>Établissements d’enseignement désignés, travail pendant les études</p>
						</div>
						<div class="col-md-6">
							<h3><a href="https://canada.ca/fr/immigration-refugies-citoyennete/services/refugies.html">Réfugiés et demandes d’asile</a></h3>
							<p>Demande d’asile, réinstallation à titre de réfugié</p>
						</div>
					</div>
					<div class="well">
						<h3>Vous ne savez pas par où commencer?</h3>
						<p><a href="#">Répondez à quelques questions et explorez tous les programmes d'immigration</a></p>
					</div>
				</section>
			</div>
		</div>
		<div class="container">
			<section class="gc-srvinfo mb-4">
				<h2>Citoyenneté et établissement au Canada</h2>
				<div class="row wb-eqht-grd">
					<div class="col-md-6">
						<h3><a href="/fr/immigration-refugies-citoyennete/services/citoyennete-canadienne.html">Citoyenneté canadienne</a></h3>
						<p>Examen et cérémonie de citoyenneté, preuve de citoyenneté</p>
					</div>
					<div class="col-md-6">
						<h3><a href="/fr/immigration-refugies-citoyennete/services/residents-permanents.html">Carte de résident permanent (RP)</a></h3>
						<p>Renouveler ou remplacer une carte RP perdue, endommagée ou expirée</p>
					</div>
					<div class="col-md-6">
						<h3><a href="/fr/immigration-refugies-citoyennete/services/passeports-canadiens.html">Passeports</a></h3>
						<p>Passeports pour adulte ou enfant, photos, autres documents de voyage</p>
					</div>
					<div class="col-md-6">
						<h3><a href="/fr/immigration-refugies-citoyennete/services/setablir-canada.html">S’établir au Canada</a></h3>
						<p>Services gratuits, recherche d’emploi, avantages sociaux et impôts pour les nouveaux arrivants</p>
					</div>
					<div class="col-md-6">
						<h3><a href="/fr/immigration-refugies-citoyennete/services/canadiens/adopter-enfant-autre-pays.html">Adoption internationale</a></h3>
						<p>Citoyenneté ou résidence permanente pour votre enfant adopté</p>
					</div>
				</div>
			</section>
		</div>
		<div class="bg-light">
			<div class="container">
				<section class="gc-srvinfo">
					<h2>Fraude et interdiction de territoire</h2>
					<div class="row wb-eqht-grd">
						<div class="col-md-6">
							<h3><a href="/fr/immigration-refugies-citoyennete/services/proteger-fraude.html">Fraude et arnaques</a></h3>
							<p>Vérifier si votre représentant est autorisé, signaler une fraude ou une escroquerie</p>
						</div>
						<div class="col-md-6">
							<h3><a href="/fr/services/immigration-citoyennete/application-loi-infractions.html">Interdiction de territoire, application de la loi et appels</a></h3>
							<p>Vérifier si vous êtes interdit de territoire, surmonter les condamnations pénales</p>
						</div>
					</div>
				</section>
			</div>
		</div>
	</section>
</div>

<div class="container">
	<section class="gc-features">
		<h2>En vedette</h2>
		<div class="row wb-eqht-grd">
			<div class="col-lg-4 col-sm-6">
				<div class="well well-sm eqht-trgt">
					<img src="https://dummyimage.com/360x203/000/fff" alt="">
					<h3><a href="#" class="stretched-link">[Lien à l'élément en vedette]</a></h3>
					<p>Brève description de l'élément en vedette. Brève description de l'élément en vedette.</p>
				</div>
			</div>
			<div class="col-lg-4 col-sm-6">
				<div class="well well-sm eqht-trgt">
					<img src="https://dummyimage.com/360x203/000/fff" alt="">
					<h3><a href="#" class="stretched-link">[Lien à l'élément en vedette]</a></h3>
					<p>Brève description de l'élément en vedette.</p>
				</div>
			</div>
			<div class="col-lg-4 col-sm-6">
				<div class="well well-sm eqht-trgt">
					<img src="https://dummyimage.com/360x203/000/fff" alt="">
					<h3><a href="#" class="stretched-link">[Lien à l'élément en vedette]</a></h3>
					<p>Brève description de l'élément en vedette.</p>
				</div>
			</div>
		</div>
	</section>
</div>
