---
{
	"title": "[Thème]",
	"language": "fr",
	"layout": "no-container",
	"altLangPage": "theme-en.html",
	"overwriteBreadcrumbs": true,
	"dateModified": "2024-06-10",
	"pageclass": "page-type-theme",
	"nomenu": true,
	"auth": {
		"type": "contextual",
		"link": "sign-in-fr.html",
		"label": "Se connecter",
		"labelExtended": "Se connecter à Emplois"
	},
	"contextualFooter": {
		"title": "Emplois",
		"links": [
			{
				"url": "https://www.guichetemplois.gc.ca/connexion",
				"text": "Guichet-Emplois"
			},
			{
				"url": "https://www.canada.ca/fr/services/emplois/opportunites/gouvernement.html",
				"text": "Emplois au gouvernement du Canada"
			},
			{
				"url": "https://www.canada.ca/fr/services/emplois/opportunites/etudiants.html",
				"text": "Emplois pour étudiants"
			}
		]
	}
}
---

<div class="container">
	<section class="alert alert-info">
		<h2 class="h4">Prélancement</h2>
		<p>Le modèle de Thème version 2.0 a été prélancé en attendant la publication des directives officielles par le Bureau de la transformation numérique. Il ne doit pas être mis en œuvre sans consultation du BTN ou de l'Éditeur principal.</p>
	</section>
</div>

<div id="gridContainer">
	<nav id="theme-nav">
		<div class="container">
			<h2 class="wb-inv">Menu de thèmes</h2>
			<a class="wb-sl" href="#wb-cont">Passer au contenu principal</a>
			<button id="menu-btn" class="btn btn-primary"><span class="wb-inv">Basculer le </span>Menu<span class="glyphicon glyphicon-chevron-down"></span></button>
			<ul class="list-unstyled">
				<li><a href="theme-fr.html">Emplois</a></li>
				<li><a href="#">Immigration et citoyenneté</a></li>
				<li><a href="#">Voyage et tourisme</a></li>
				<li><a href="#">Entreprises</a></li>
				<li><a href="#">Prestations</a></li>
				<li><a href="#">Santé</a></li>
				<li><a href="#">Impôts</a></li>
				<li><a href="#">Environnement et ressources naturelles</a></li>
				<li><a href="#">Sécurité nationale et défense</a></li>
				<li><a href="#">Culture, histoire et sport</a></li>
				<li><a href="#">Services de police, justice et urgences</a></li>
				<li><a href="#">Transport et infrastructure</a></li>
				<li><a href="#">Canada et le monde</a></li>
				<li><a href="#">Argent et finances</a></li>
				<li><a href="#">Science et innovation</a></li>
				<li><a href="#">Autochtones</a></li>
				<li><a href="#">Vétérans et militaires</a></li>
				<li><a href="theme-youth-fr.html">Jeunesse</a></li>
			</ul>
		</div>
	</nav>
	<section>
		<div class="container">
			<h1 id="wb-cont">Emplois</h1>
		</div>
		<section class="gc-most-requested">
			<div class="container">
				<h2>En demande</h2>
				<ul>
					<li><a href="https://canada.ca/fr/emploi-developpement-social/services/mon-dossier.html">Voir vos relevés d’emploi</a></li>
					<li><a href="https://canada.ca/fr/emploi-developpement-social/services/numero-assurance-sociale.html">Demander un numéro d'assurance-sociale</a></li>
					<li><a href="https://canada.ca/fr/immigration-refugies-citoyennete/services/travailler-canada/embaucher-etranger-temporaires.html">Embaucher un travailleur étranger temporaire</a></li>
					<li><a href="https://canada.ca/fr/immigration-refugies-citoyennete/services/immigrer-canada/entree-express.html">Immigrer en tant que travailleur qualifié</a></li>
				</ul>
			</div>
		</section>
		<div class="container">
			<section class="gc-srvinfo">
				<h2 class="wb-inv">Services et renseignements</h2>
				<div class="wb-eqht-grd row">
					<div class="col-md-6">
						<h3><a href="/fr/services/emplois/opportunites.html">Trouver un emploi</a></h3>
						<p>Recherche d'emplois au Canada, trouvez des programmes d'embauche, demandez ou prolongez un permis de travail, obtenez un numéro d'assurance sociale (NAS), une vérification du casier judiciaire ou une habilitation de sécurité</p>
					</div>
					<div class="col-md-6">
						<h3><a href="/fr/emploi-developpement-social/services/financement/programmes.html">Financement pour les emplois et formations</a></h3>
						<p>Trouvez des programmes de financement, des subventions et des contributions et de projets d’emplois qui support les emplois, la formation et de développement social</p>
					</div>
					<div class="col-md-6">
						<h3><a href="/fr/services/emplois/formation.html">Formation</a></h3>
						<p>Renseignements sur l'éducation, la formation, l'aide financière, le soutien aux apprentis, et les compétences nécessaires pour trouver et conserver un emploi</p>
					</div>
					<div class="col-md-6">
						<h3><a href="/fr/services/entreprises/engager.html">Embauche et gestion de personnel</a></h3>
						<p>Renseignements sur les retenues sur la paie, les salaires et d'autres obligations en matière de ressources humaines, et des conseils sur le recrutement, la formation et la gestion des employés</p>
					</div>
					<div class="col-md-6">
						<h3><a href="/fr/services/emplois/milieu-travail.html">Normes en milieu de travail</a></h3>
						<p>Lois fédérales et provinciales sur le travail, normes en milieu de travail, normes fédérales de santé et de sécurité et programmes sur les relations de travail</p>
					</div>
					<div class="col-md-6">
						<h3><a href="/fr/services/entreprises/lancer.html">Démarrage d'entreprise </a></h3>
						<p>Renseignements sur les éléments à prendre en compte avant de créer une entreprise, y compris l'enregistrement, les modèles de plans d’affaires, les réglementations et la constitution en société</p>
					</div>
					<div class="col-md-6">
						<h3><a href="/fr/services/prestations/ae.html">Prestations d'assurance-emploi et congés </a></h3>
						<p>Demandez des prestations temporaires d'assurance-emploi (AE) pour les travailleurs, les aidants naturels, la maladie, la pêche, la maternité et l'assurance parentale, soumettez votre déclaration d'assurance-emploi</p>
					</div>
					<div class="col-md-6">
						<h3><a href="/fr/services/finance/pensions.html">Pensions et retraite</a></h3>
						<p>Régimes de pension individuelle et d'employeur, prestations fédérales et régimes enregistrés d'épargne-retraite et outils de planification de retraite</p>
					</div>
				</div>
			</section>
		</div>
	</section>
</div>
