---
{
	"title": "[Theme]",
	"language": "en",
	"layout": "no-container",
	"altLangPage": "theme-fr.html",
	"overwriteBreadcrumbs": true,
	"dateModified": "2024-06-10",
	"pageclass": "page-type-theme",
	"nomenu": true,
	"auth": {
		"type": "contextual",
		"link": "sign-in-en.html",
		"label": "Sign in",
		"labelExtended": "Sign in to Jobs"
	},
	"contextualFooter": {
		"title": "Jobs",
		"links": [
			{
				"url": "https://www.jobbank.gc.ca/login",
				"text": "Job Bank"
			},
			{
				"url": "https://www.canada.ca/en/services/jobs/opportunities/government.html",
				"text": "Government of Canada jobs"
			},
			{
				"url": "https://www.canada.ca/en/services/jobs/opportunities/student.html",
				"text": "Student employment"
			}
		]
	}
}
---

<div class="container">
	<section class="alert alert-info">
		<h2 class="h4">Soft launch</h2>
		<p>The Theme template version 2.0 has been soft launched until the official guidance is published by the Digital Transformation Office at CDS. It should not be implemented without consulting DTO or Principal Publisher.</p>
	</section>
</div>

<div id="gridContainer">
	<nav id="theme-nav">
		<div class="container">
			<h2 class="wb-inv">Themes menu</h2>
			<a class="wb-sl" href="#wb-cont">Skip to main content</a>
			<button id="menu-btn" class="btn btn-primary"><span class="wb-inv">Toggle </span>Menu<span class="glyphicon glyphicon-chevron-down"></span></button>
			<ul class="list-unstyled">
				<li><a href="theme-en.html">Jobs</a></li>
				<li><a href="#">Immigration and citizenship</a></li>
				<li><a href="#">Travel and tourism</a></li>
				<li><a href="#">Business</a></li>
				<li><a href="#">Benefits</a></li>
				<li><a href="#">Health</a></li>
				<li><a href="#">Taxes</a></li>
				<li><a href="#">Environment and natural resources</a></li>
				<li><a href="#">National security and defence</a></li>
				<li><a href="#">Culture, history and sport</a></li>
				<li><a href="#">Policing, justice and emergencies</a></li>
				<li><a href="#">Transport and infrastructure</a></li>
				<li><a href="#">Canada and the world</a></li>
				<li><a href="#">Money and finances</a></li>
				<li><a href="#">Science and innovation</a></li>
				<li><a href="#">Indigenous peoples</a></li>
				<li><a href="#">Veterans and military</a></li>
				<li><a href="theme-youth-en.html">Youth</a></li>
			</ul>
		</div>
	</nav>
	<section>
		<div class="container">
			<h1 id="wb-cont">Jobs</h1>
		</div>
		<section class="gc-most-requested">
			<div class="container">
				<h2>Most requested</h2>
				<ul>
					<li><a href="http://canada.ca/en/employment-social-development/services/my-account.html">View your records of employment</a></li>
					<li><a href="http://canada.ca/en/employment-social-development/services/sin.html">Apply for a Social Insurance Number (SIN)</a></li>
					<li><a href="http://canada.ca/en/immigration-refugees-citizenship/services/work-canada/hire-temporary-foreign.html">Hire a temporary foreign worker</a></li>
					<li><a href="http://canada.ca/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry.html">Immigrate as a skilled worker</a></li>
				</ul>
			</div>
		</section>
		<div class="container">
			<section class="gc-srvinfo">
				<h2 class="wb-inv">Services and information</h2>
				<div class="wb-eqht-grd row">
					<div class="col-md-6">
						<h3><a href="http://canada.ca/en/services/jobs/opportunities.html">Find a job</a></h3>
						<p>Search for jobs in Canada, apply or extend a work permit, get a Social Insurance Number (SIN), a criminal record check or security clearance</p>
					</div>
					<div class="col-md-6">
						<h3><a href="http://canada.ca/en/employment-social-development/services/funding/programs.html">Funding for jobs and training</a></h3>
						<p>Find funding programs, grants and contributions that help support jobs, training, and social development</p>
					</div>
					<div class="col-md-6">
						<h3><a href="http://canada.ca/en/services/jobs/training.html">Training</a></h3>
						<p>Information on education, training, financial assistance, support for apprentices, and the skills needed to find and keep a job</p>
					</div>
					<div class="col-md-6">
						<h3><a href="http://canada.ca/en/services/business/hire/index.html">Hiring and managing employees</a></h3>
						<p>Information on payroll, wages and other human resources obligations and advice on recruiting, training and managing employees</p>
					</div>
					<div class="col-md-6">
						<h3><a href="http://canada.ca/en/services/business/start/index.html">Starting a business</a></h3>
						<p>Information on what to consider before starting a business, including registration, business plan templates, regulations, and incorporation</p>
					</div>
					<div class="col-md-6">
						<h3><a href="http://canada.ca/en/services/jobs/workplace.html">Workplace standards</a></h3>
						<p>Federal and provincial labour laws, workplace standards, federal health and safety standards and labour relations programs</p>
					</div>
					<div class="col-md-6">
						<h3><a href="http://canada.ca/en/services/benefits/ei.html">Employment Insurance benefits and leave</a></h3>
						<p>Apply for Employment Insurance (EI) temporary benefits for workers, caregivers, sickness, fishing, maternity and parental EI, submit your EI report</p>
					</div>
					<div class="col-md-6">
						<h3><a href="http://canada.ca/en/services/finance/pensions.html">Pensions and retirement</a></h3>
						<p>Employer and personal pensions, federal benefits and registered retirement savings plans and tools to help you plan for retirement information</p>
					</div>
				</div>
			</section>
		</div>
	</section>
</div>
