---
{
	"title": "Business and industry",
	"language": "en",
	"layout": "no-container",
	"altLangPage": "theme-business-fr.html",
	"overwriteBreadcrumbs": true,
	"auth": {
		"type": "contextual",
		"link": "sign-in-en.html",
		"label": "Sign in",
		"labelExtended": "Sign in"
	},
	"dateModified": "2026-01-20",
	"pageclass": "page-type-theme",
	"nomenu": true,
	"css": [
		"demo/demo.css"
	],
	"contextualFooter": {
		"title": "Business",
		"links": [
			{
				"url": "#",
				"text": "Link 1"
			},
			{
				"url": "#",
				"text": "Link 2"
			},
			{
				"url": "#",
				"text": "Link 3"
			}
		]
	}
}
---

<div class="container">
	<section class="alert alert-info wb-dismissable">
		<h2 class="h4">Soft launch</h2>
		<p>The Theme template version 2.0 has been soft launched until the official guidance is published by the Digital Transformation Office at CDS. It should not be implemented without consulting DTO or Principal Publisher.</p>
	</section>
</div>

<div id="gridContainer">
	{% include_relative samples/theme-nav-en.html %}
	<div id="theme-content">
		<div class="container">
			<h1 id="wb-cont">Business and industry</h1>
		</div>
		<section class="gc-most-requested">
			<div class="container">
				<h2>Most requested</h2>
				<ul>
					<li><a href="https://www.canada.ca/en/department-finance/programs/international-trade-finance-policy/canadas-response-us-tariffs.html">Canada's response to U.S. tariffs on Canadian goods</a></li>
					<li><a href="https://www.ic.gc.ca/app/scr/cc/CorporationsCanada/fdrlCrpSrch.html?locale=en_CA">Find a corporation</a> </li>
					<li><a href="https://ised-isde.canada.ca/site/corporations-canada/en/keep-your-corporation-good-shape/annual-return">File Corporations Canada annual return</a></li>
					<li><a href="/en/revenue-agency/services/e-services/digital-services-businesses/business-account.html">My Business Account (Canada Revenue Agency)</a></li>
					<li><a href="https://ised-isde.canada.ca/site/canada-small-business-financing-program/en">Helping small businesses get loans</a> </li>
					<li><a href="https://www.bdc.ca/en/financing/small-business-loan">Loans to improve cash flow and increase sales</a></li>
				</ul>
			</div>
		</section>
		<div class="container">
			<section class="gc-srvinfo">
				<h2 class="wb-inv">Services and information</h2>
				<div class="wb-eqht-grd row">
					<div class="col-md-6">
						<h3><a href="https://canada.ca/en/services/business/start.html">Starting a business</a></h3>
						<p>Business planning, naming a business, registering with the government, getting support and financing</p>
					</div>
					<div class="col-md-6">
						<h3><a href="https://canada.ca/en/services/business/taxes.html">Business taxes</a></h3>
						<p>Income tax, GST/HST, payroll and T4 information returns, business numbers, customs duties and tariffs</p>
					</div>
					<div class="col-md-6">
						<h3><a href="https://innovation.ised-isde.canada.ca/s/?language=en_CA">Business financing and support</a></h3>
						<p>Grants and contributions, loans, tax credits, wage subsidies and other business support</p>
					</div>
					<div class="col-md-6">
						<h3><a href="https://ised-isde.canada.ca/site/corporations-canada/en">Federal corporations</a></h3>
						<p>Incorporating or making changes to a business corporation, not-for-profit, cooperative or board of trade</p>
					</div>
					<div class="col-md-6">
						<h3><a href="https://canada.ca/en/services/business/maintaingrowimprovebusiness.html">Maintaining your business</a></h3>
						<p>Managing your business operations, strategic and financial planning, marketing, social responsibility</p>
					</div>
					<div class="col-md-6">
						<h3><a href="https://canada.ca/en/services/business/permits.html">Permits, licences and regulations</a></h3>
						<p>Search permits and licences, find regulations for your industry and business activities</p>
					</div>
					<div class="col-md-6">
						<h3><a href="https://canada.ca/en/services/business/hire.html">Hiring and managing employees</a></h3>
						<p>Payroll, wages and other resources for recruiting, training and managing employees</p>
					</div>
					<div class="col-md-6">
						<h3><a href="https://international.canada.ca/en/services/business/trade">International trade and investment</a></h3>
						<p>Exporting, importing and investing in Canada and foreign markets</p>
					</div>
					<div class="col-md-6">
						<h3><a href="https://canada.ca/en/services/business/ip.html">Intellectual property and copyright</a></h3>
						<p>Trademarks, patents, copyright, industrial designs and protecting your intellectual property</p>
					</div>
					<div class="col-md-6">
						<h3><a href="https://canada.ca/en/services/business/research.html">Research and business intelligence</a></h3>
						<p>Industry sector data, financial benchmarks, labour trends and business statistics</p>
					</div>
					<div class="col-md-6">
						<h3><a href="https://canada.ca/en/services/business/doing-business.html">Doing business with the government</a></h3>
						<p>Selling to the federal government, buying from the government, selling to other governments</p>
					</div>
					<div class="col-md-6">
						<h3><a href="https://canada.ca/en/services/science/innovation.html">R&amp;D and innovation</a></h3>
						<p>Funding, collaboration, commercialization and licensing resources to help fuel innovation</p>
					</div>
					<div class="col-md-6">
						<h3><a href="https://canada.ca/en/services/business/protecting.html">Protecting your business</a></h3>
						<p>Emergency planning, risk management, insurance, legal issues, security and privacy, fraud</p>
					</div>
					<div class="col-md-6">
						<h3><a href="https://ised-isde.canada.ca/site/office-superintendent-bankruptcy/en/you-owe-money">Insolvency for business</a></h3>
						<p>Options for dealing with debt, making a proposal to creditors, filing for bankruptcy</p>
					</div>
				</div>
			</section>
		</div>
	</div>
</div>
