---
{
	"title": "[Theme]",
	"language": "en",
	"layout": "no-container",
	"altLangPage": "theme-youth-fr.html",
	"overwriteBreadcrumbs": true,
	"dateModified": "2024-06-10",
	"pageclass": "page-type-theme",
	"nomenu": true
}
---

<div class="container">
	<section class="alert alert-info">
		<h2 class="h4">Soft launch</h2>
		<p>The Theme template version 2.0 has been soft launched until the official guidance is published by the Digital Transformation Office at CDS. It should not be implemented without consulting DTO or Principal Publisher.</p>
	</section>
</div>

<div id="gridContainer">
	<nav>
		<div class="container">
			<h2 class="wb-inv">Themes menu</h2>
			<a class="wb-sl" href="#wb-cont">Skip to main content</a>
			<button id="menuBtn" class="btn btn-primary"><span class="wb-inv">Toggle </span>Menu<span class="glyphicon glyphicon-chevron-down"></span></button>
			<ul class="list-unstyled">
				<li><a href="theme-en.html">Jobs</a></li>
				<li><a href="">Immigration and citizenship</a></li>
				<li><a href="#">Travel and tourism</a></li>
				<li><a href="">Business</a></li>
				<li><a href="">Benefits</a></li>
				<li><a href="">Health</a></li>
				<li><a href="">Taxes</a></li>
				<li><a href="">Environment and natural resources</a></li>
				<li><a href="">National security and defence</a></li>
				<li><a href="">Culture, history and sport</a></li>
				<li><a href="">Policing, justice and emergencies</a></li>
				<li><a href="">Transport and infrastructure</a></li>
				<li><a href="#">Canada and the world</a></li>
				<li><a href="">Money and finances</a></li>
				<li><a href="">Science and innovation</a></li>
				<li><a href="">Indigenous peoples</a></li>
				<li><a href="">Veterans and military</a></li>
				<li class="active"><a href="theme-youth-en.html">Youth</a></li>
			</ul>
		</div>
	</nav>
	<section>
		<div class="container">
			<h1 id="wb-cont">Youth</h1>
			<section class="alert alert-danger">
				<h2 class="h6">Danger alert</h2>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis earum nisi a necessitatibus blanditiis. Quae a tenetur ducimus iste voluptates!</p>
			</section>
		</div>
		<section class="gc-most-requested">
			<div class="container">
				<h2>Most requested</h2>
				<ul>
					<li><a href="https://www.jobbank.gc.ca/youth">Find a summer job </a></li>
					<li><a href="/en/services/youth/canada-service-corps.html">Volunteer or serve and build your skills</a></li>
					<li><a href="https://www.jobbank.gc.ca/trend-analysis">Explore career options based on employment trends</a></li>
					<li><a href="https://www.jobbank.gc.ca/career-planning/search-field-of-study">Explore your career options by degree or diploma</a></li>
				</ul>
			</div>
		</section>
		<div class="container">
			<section class="gc-srvinfo">
				<h2 class="wb-inv">Services and information</h2>
				<div class="wb-eqht-grd row">
					<div class="col-md-6">
						<h3><a href="/en/campaign/prime-ministers-youth-council.html">Prime Minister's Youth Council</a></h3>
						<p>Everything you need to know about the Prime Minister's Youth Council</p>
					</div>
					<div class="col-md-6">
						<h3><a href="/en/services/jobs/opportunities/student.html">Jobs</a></h3>
						<p>Job opportunities and Government of Canada hiring programs for students</p>
					</div>
					<div class="col-md-6">
						<h3><a href="/en/services/jobs/education.html">Student aid and education planning</a></h3>
						<p>Plan for an education, save, budget and explore student aid and career options</p>
					</div>
					<div class="col-md-6">
						<h3><a href="/en/services/jobs/training.html">Job training</a></h3>
						<p>Education, training, financial assistance and the skills you need to find and keep a job</p>
					</div>
					<div class="col-md-6">
						<h3><a href="http://international.gc.ca/world-monde/study_work_travel-etude_travail_voyage/index.aspx?lang=eng">Travel the world</a></h3>
						<p>Plan your studies, work or travel abroad and in Canada</p>
					</div>
					<div class="col-md-6">
						<h3><a href="/en/services/culture/cultural-youth-programs.html">Leadership and cultural programs</a></h3>
						<p>Work experiences, internships, park activities and language immersion programs</p>
					</div>
					<div class="col-md-6">
						<h3><a href="/en/services/youth/contribute.html">Contribute to your community</a></h3>
						<p>Build a better future for yourself and your community by volunteering</p>
					</div>
					<div class="col-md-6">
						<h3><a href="/en/services/finance/manage.html">Managing your money</a></h3>
						<p>Budgeting, banking, money transfers, insurance and planning your finances</p>
					</div>
					<div class="col-md-6">
						<h3><a href="/en/services/health/youth-health.html">Health</a></h3>
						<p>Facts about smoking, drugs, cybersafety, bullying, sex, mental health and more</p>
					</div>
					<div class="col-md-6">
						<h3><a href="/en/services/policing/justice/youth/index.html">Youth justice</a></h3>
						<p>Learn about the youth justice system</p>
					</div>
				</div>
			</section>
		</div>
	</section>
</div>
