---
{
	"title": "[Thème]",
	"language": "fr",
	"layout": "no-container",
	"altLangPage": "theme-youth-en.html",
	"overwriteBreadcrumbs": true,
	"dateModified": "2024-06-10",
	"pageclass": "page-type-theme",
	"nomenu": true
}
---

<div class="container">
	<section class="alert alert-info">
		<h2 class="h4">Prélancement</h2>
		<p>Le modèle de Thème version 2.0 a été prélancé en attendant la publication des directives officielles par le Bureau de la transformation numérique. Il ne doit pas être mis en œuvre sans consultation du BTN ou de l'Éditeur principal.</p>
	</section>
</div>

<div id="gridContainer">
	<nav>
		<div class="container">
			<h2 class="wb-inv">Menu de thèmes</h2>
			<a class="wb-sl" href="#wb-cont">Passer au contenu principal</a>
			<button id="menuBtn" class="btn btn-primary"><span class="wb-inv">Basculer le </span>Menu<span class="glyphicon glyphicon-chevron-down"></span></button>
			<ul class="list-unstyled">
				<li><a href="theme-fr.html">Emplois</a></li>
				<li><a href="#">Immigration et citoyenneté</a></li>
				<li><a href="#">Voyage et tourisme</a></li>
				<li><a href="#">Entreprises</a></li>
				<li><a href="#">Prestations</a></li>
				<li><a href="#">Santé</a></li>
				<li><a href="#">Impôts</a></li>
				<li><a href="#">Environnement et ressources naturelles</a></li>
				<li><a href="#">Sécurité nationale et défense</a></li>
				<li><a href="#">Culture, histoire et sport</a></li>
				<li><a href="#">Services de police, justice et urgences</a></li>
				<li><a href="#">Transport et infrastructure</a></li>
				<li><a href="#">Canada et le monde</a></li>
				<li><a href="#">Argent et finances</a></li>
				<li><a href="#">Science et innovation</a></li>
				<li><a href="#">Autochtones</a></li>
				<li><a href="#">Vétérans et militaires</a></li>
				<li class="active"><a href="theme-youth-fr.html">Jeunesse</a></li>
			</ul>
		</div>
	</nav>
	<section>
		<div class="container">
			<h1 id="wb-cont">Jeunesse</h1>
			<section class="alert alert-danger">
				<h2 class="h6">Alerte de danger</h2>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis earum nisi a necessitatibus blanditiis. Quae a tenetur ducimus iste voluptates!</p>
			</section>
		</div>
		<section class="gc-most-requested">
			<div class="container">
				<h2>En demande</h2>
				<ul>
					<li><a href="https://www.guichetemplois.gc.ca/jeunesse">Trouver un emploi d'été</a></li>
					<li><a href="/fr/services/jeunesse/service-jeunesse-canada.html">Devenir bénévole et acquérir des compétences</a></li>
					<li><a href="https://www.guichetemplois.gc.ca/analyse-tendances">Explorer les options de carrière en fonction des tendances en matière d'emploi</a></li>
					<li><a href="https://www.guichetemplois.gc.ca/planification-carriere/recherche-domaine-detudes">Explorer les options de carrière en fonction du grade ou du diplôme</a></li>
				</ul>
			</div>
		</section>
		<div class="container">
			<section class="gc-srvinfo">
				<h2 class="wb-inv">Services et renseignements</h2>
				<div class="wb-eqht-grd row">
					<div class="col-md-6">
						<h3><a href="/fr/campagne/conseil-de-la-jeunesse-du-premier-ministre.html">Conseil jeunesse du premier ministre </a></h3>
						<p>Tout ce que vous devez savoir sur le Conseil jeunesse du premier ministre</p>
					</div>
					<div class="col-md-6">
						<h3><a href="/fr/services/emplois/opportunites/etudiants.html">Emplois</a></h3>
						<p>Possibilités d'emploi et programmes d'embauche du gouvernement du Canada pour les étudiants</p>
					</div>
					<div class="col-md-6">
						<h3><a href="/fr/services/emplois/education.html">Aide aux étudiants et planification des études</a></h3>
						<p>Planifiez vos études, économisez, établissez un budget et renseignez-vous sur l'aide offerte aux étudiants et les possibilités de carrière</p>
					</div>
					<div class="col-md-6">
						<h3><a href="/fr/services/emplois/formation.html">Formation professionnelle</a></h3>
						<p>L'éducation, la formation, l'aide financière et les compétences nécessaires pour trouver et conserver un emploi</p>
					</div>
					<div class="col-md-6">
						<h3><a href="http://international.gc.ca/world-monde/study_work_travel-etude_travail_voyage/index.aspx?lang=fra">Voyager à travers le monde</a></h3>
						<p>Planifiez vos études, vos expériences de travail ou vos voyages à l'étranger et au Canada</p>
					</div>
					<div class="col-md-6">
						<h3><a href="/fr/services/culture/programmes-culturels-jeunes.html">Programmes de leadership et culturels</a></h3>
						<p>Expériences de travail, stages, activités de Parcs Canada et programmes d'immersion linguistique</p>
					</div>
					<div class="col-md-6">
						<h3><a href="/fr/services/jeunesse/contribuez.html">Contribuer à votre communauté</a></h3>
						<p>Bâtissez un meilleur avenir pour vous et votre communauté en faisant du bénévolat</p>
					</div>
					<div class="col-md-6">
						<h3><a href="/fr/services/finance/gerer.html">Gérer votre argent</a></h3>
						<p>Établissement d'un budget, services bancaires, transferts d'argent, assurances et planification financière</p>
					</div>
					<div class="col-md-6">
						<h3><a href="/fr/services/sante/sante-des-jeunes.html">Rester en santé</a></h3>
						<p>Faits sur le tabagisme, les drogues, la cybersécurité, l'intimidation, le sexe, la santé mentale et plus encore</p>
					</div>
					<div class="col-md-6">
						<h3><a href="/fr/services/police/justice/jeunes.html">Justice pour les jeunes</a></h3>
						<p>Renseignez-vous sur le système de justice pour les jeunes</p>
					</div>
				</div>
			</section>
		</div>
	</section>
</div>
