---
{
"layout": "../../node_modules/wet-boew/site/layouts/core.hbs"
}
---
{{#is page.pageType "archived"}}
	{{>archive}}
{{/is}}
{{>skiplinks}}
{{>header}}
{{>promotion}}
{{#if page.secondarymenu}}
<div class="container">
	<div class="row">
		<main property="mainContentOfPage" class="col-md-9 col-md-push-3">
{{else}}
<main property="mainContentOfPage" class="
{{#unless page.noMainContainer}}container{{/unless}}
{{#is page.pageType "institution"}} gc-instttn{{/is}}
{{#is page.pageType "organization"}} gc-orgnztn{{/is}}
{{#is page.pageType "theme"}} gc-theme{{/is}}
{{#is page.pageType "news"}} gc-news{{/is}}
{{#is page.pageType "advance service"}} gc-advnc-srvc{{/is}}
">
{{/if}}
{{#unless page.noContentTitle}}
{{#isnt page.pageclass "page-type-nav"}}
			<h1 property="name" id="wb-cont">{{{title}}}</h1>
{{/isnt}}
{{/unless}}
			{{>contentbuttons}}
			{{>body}}
{{#is page.deptfeature true}}
	{{>deptfeatures}}
{{/is}}
{{#if page.dateModified}}
	{{>datemodified}}
{{/if}}
</main>
{{#if page.secondarymenu}}
		<nav class="wb-sec col-md-3  col-md-pull-9" typeof="SiteNavigationElement" id="wb-sec" role="navigation">
			<h2 id="wb-sec-h" class="wb-inv">{{{i18n "tmpl-section-menu"}}}</h2>
			{{>secondarymenu}}
		</nav>
	</div>
</div>
{{/if}}
{{#if page.armslength}}
	{{>armslength-footer}}
{{/if}}
{{#isnt footer "false"}}
	{{>footer}}
{{/isnt}}
