/*
  WET-BOEW
  @title: Medium view and over (screen only)
  @desc:  Variable $screen-md-min >= 992px
 */

/* PROVISIONAL features */
.provisional {

	/* Contributors */
	&.gc-contributors ul li {

		&:first-child:before {
			content: none;
		}

		&:before {
			content: "\2022";
			margin-right: .7em;
		}
	}

	/* Follow us */
	&.gc-followus h2 {
		margin-top: 0 !important;
	}
}
