/*
  WET-BOEW
  @title: Small view and under (screen only)
  @desc:  Variable $screen-sm-max <= 991 px
 */

/* PROVISIONAL features */
.provisional {

	/* Contributors */
	&.gc-contributors {

		h2, ul {
			display: block;
		}

		ul {
			padding-inline-start: 20px;

			li {
				display: list-item;
				margin-right: 0;
			}
		}
	}
}
