/* Geomap plugin GC override */
.wb-geomap {
	&.large-checkboxes {
		.geomap-lgnd-layer.gc-chckbxrdio input[type="checkbox"] + label {
			padding-left: 4px;

			&::before {
				left: 2px;
			}

			&::after {
				left: 10px;
			}
		}

		.wb-geomap-layers table td .gc-chckbxrdio {
			margin-bottom: 0;
			margin-top: 0;

			label {
				margin-left: 28px;
				padding-left: 0;

				&::before {
					left: 2px;
				}

				&::after {
					left: 10px;
				}
			}
		}
	}
}
