/* Thematic purple */
.panel-empathy,
hr.brdr-empathy {
    border-color: #5C2790;
}

.btn-empathy.btn-primary,
.bg-empathy.progress-bar {
    background-color: #5C2790 !important;
}

/* Purple button hover and focus state */
.btn-empathy.btn-primary:hover,
.btn-empathy.btn-primary:focus,
.btn-empathy.btn-primary:active {
    background-color: #381D64 !important;
    color: #FFF;
}

/* Light Purple button default state */
.btn-empathy.btn-default {
    background-color: #FFF !important;
    border-color: #5C2790 !important;
    color: #5C2790 !important;
}
/* Light Purple button hover and focus state */
.btn-empathy.btn-default:hover,
.btn-empathy.btn-default:focus,
.btn-empathy.btn-default:active {
    background-color: #D6B9EC !important;
    border-color: #471F70 !important;
    color: #471F70 !important;
}

/*** Thematic Heading 1 ***/
h1#wb-cont.empathy {
    border-bottom: 0.18em solid #5C2790;
    border-image: linear-gradient(to right, #5C2790 71px, transparent 71px);
    border-image-slice: 1;
}

/* IE and EDGE */
progress.pgs-empathy {
    /* Reset the default browser styles */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;

    background-color: #777;
    color: #D6B9EC;
}

/* WEBKIT BROWSERS - CHROME, OPERA AND SAFARI */
progress::-webkit-progress-bar {
    background-color: #777;
}

progress::-webkit-progress-value {
    background-color: #D6B9EC;
}

/* MOZILLA FIREFOX */
progress::-moz-progress-bar {
    background-color: #D6B9EC;
}

