---
{
	"title": "Liste - Style additionel - Thème de GCWeb V2",
	"language": "fr",
	"altLangPrefix": "list",
	"breadcrumb": [
		{ "title": "Accueil GCWeb", "link": "http://wet-boew.github.io/themes-dist/GCWeb/index-fr.html" }
	],
	"secondlevel": false,
	"dateModified": "2018-11-07",
	"share": "true"
}
---

<p>Le style suivant s'ajoute au style disponible dans le <a href="http://wet-boew.github.io/wet-boew-styleguide/v4/design/lists-en.html">guide de style de la WET-BOEW</a> et il est exclusive au thème de GCWeb V2.</p>

<h2>Liste à double interline <code>.lst-spcd-2</code></h2>

<ul class="lst-spcd-2">
	<li>Item</li>
	<li>Item</li>
	<li>Item</li>
	<li>Item</li>
	<li>Item</li>
</ul>

<h3>Code source</h3>
<pre><code>&lt;ul class="lst-spcd-2"&gt;
	&lt;li&gt;Item&lt;/li&gt;
	&lt;li&gt;Item&lt;/li&gt;
	&lt;li&gt;Item&lt;/li&gt;
	&lt;li&gt;Item&lt;/li&gt;
	&lt;li&gt;Item&lt;/li&gt;
&lt;/ul&gt;</code></pre>
