---
{
	"title": "List - Additional style - GCWeb theme V2",
	"language": "en",
	"altLangPrefix": "list",
	"breadcrumb": [
		{ "title": "GCWeb home", "link": "http://wet-boew.github.io/themes-dist/GCWeb/index-en.html" }
	],
	"secondlevel": false,
	"dateModified": "2018-11-07",
	"share": "true"
}
---

<p>The following style is an addition to list styling availble in <a href="http://wet-boew.github.io/wet-boew-styleguide/v4/design/lists-en.html">WET-BOEW Style Guide</a> and it is exclusive to GCWeb v2 theme</p>

<h2>List double spaced <code>.lst-spcd-2</code></h2>

<ul class="lst-spcd-2">
	<li>Item</li>
	<li>Item</li>
	<li>Item</li>
	<li>Item</li>
	<li>Item</li>
</ul>

<h3>Source code</h3>
<pre><code>&lt;ul class="lst-spcd-2"&gt;
	&lt;li&gt;Item&lt;/li&gt;
	&lt;li&gt;Item&lt;/li&gt;
	&lt;li&gt;Item&lt;/li&gt;
	&lt;li&gt;Item&lt;/li&gt;
	&lt;li&gt;Item&lt;/li&gt;
&lt;/ul&gt;</code></pre>
