---
{
	"title": "Datalist JSON suggestions",
	"language": "en",
	"category": "Plugins",
	"description": "Load suggestions from an array of string in a JSON file.",
	"tag": "datalist",
	"parentdir": "suggest",
	"altLangPrefix": "suggest",
	"dateModified": "2018-02-06"
}
---
<ul class="list-inline">
<li><a class="btn btn-primary" href="suggest-doc-en.html">Documentation</a></li>
<li><a class="btn btn-primary" href="https://github.com/wet-boew/GCWeb/issues/new?title=Suggest">Questions or comments?</a></li>
</ul>
<div class="wb-prettify hide"></div>

<p>Load suggestions from an array of string in a JSON file.</p>

<form action="#">
	<div class="form-group">
		<label for="input-id-1">Surveys</label>
		<input id="input-id-1" list="datalist-id-1" />
	</div>
	<datalist id="datalist-id-1" data-wb-suggest="demo/suggest-en.json#/suggestions">
		<template>
			<option></option>
		</template>
	</datalist>
</form>

<pre class="prettyprint"><code>&lt;form action="#"&gt;
	&lt;div class="form-group"&gt;
		&lt;label for="input-id-1"&gt;Surveys&lt;/label&gt;
		&lt;input id="input-id-1" list="datalist-id-1" /&gt;
	&lt;/div&gt;
	&lt;datalist id="datalist-id-1" data-wb-suggest="demo/suggest-en.json#/suggestions"&gt;
		&lt;template&gt;
			&lt;option&gt;&lt;/option&gt;
		&lt;/template&gt;
	&lt;/datalist&gt;
&lt;/form&gt;</code></pre>

<h2>Limiting the number of displayed results</h2>

<p>The following example limit the number of result to four items. The HTML5 specification recommends to limits between four to seven items.</p>

<p>Note: Using the same <code>datalist</code> for two different <code>input</code> may conflict when limiting the number of results.</p>

<form action="#">
	<div class="form-group">
		<label for="input-id-2">Surveys</label>
		<input id="input-id-2" list="datalist-id-2" />
	</div>
	<datalist id="datalist-id-2" data-wb-suggest="demo/suggest-en.json#/suggestions" data-wb-limit="4">
		<template>
			<option></option>
		</template>
	</datalist>
</form>

<details>
	<summary>Source code</summary>
	<pre class="prettyprint"><code>&lt;form action="#"&gt;
	&lt;div class="form-group"&gt;
		&lt;label for="input-id-2"&gt;Surveys&lt;/label&gt;
		&lt;input id="input-id-2" list="datalist-id-2" /&gt;
	&lt;/div&gt;
	&lt;datalist id="datalist-id-2" data-wb-suggest="demo/suggest-en.json#/suggestions" data-wb-limit="4"&gt;
		&lt;template&gt;
			&lt;option&gt;&lt;/option&gt;
		&lt;/template&gt;
	&lt;/datalist&gt;
&lt;/form&gt;</code></pre>
</details>


<h2>Apply diferent type of filter</h2>

<p>The autocomplete implementation vary from browser. IE trend to show start of matching word, Chrome show any item that contains the string, Firefox also show any item that contains the string but limit the number of displayed result to five items.</p>

<p>Note: Using the same <code>datalist</code> for two different <code>input</code> may conflict when limiting the number of results.</p>

<p>Using the filter type work best when combined with <code>data-wb-limit</code> options</p> 

<h3>Filter type <code>any</code> (default)</h3>
<form action="#">
	<div class="form-group">
		<label for="input-id-3">Surveys</label>
		<input id="input-id-3" list="datalist-id-3" />
	</div>
	<datalist id="datalist-id-3" data-wb-suggest="demo/suggest-en.json#/suggestions" data-wb-filter-type="any">
		<template>
			<option></option>
		</template>
	</datalist>
</form>

<details>
	<summary>Source code</summary>
	<pre class="prettyprint"><code>&lt;form action="#"&gt;
	&lt;div class="form-group"&gt;
		&lt;label for="input-id-3"&gt;Surveys&lt;/label&gt;
		&lt;input id="input-id-3" list="datalist-id-3" /&gt;
	&lt;/div&gt;
	&lt;datalist id="datalist-id-3" data-wb-suggest="demo/suggest-en.json#/suggestions" data-wb-filter-type="any"&gt;
		&lt;template&gt;
			&lt;option&gt;&lt;/option&gt;
		&lt;/template&gt;
	&lt;/datalist&gt;
&lt;/form&gt;</code></pre>
</details>

<h3>Filter type <code>startWith</code></h3>
<form action="#">
	<div class="form-group">
		<label for="input-id-4">Surveys</label>
		<input id="input-id-4" list="datalist-id-4" />
	</div>
	<datalist id="datalist-id-4" data-wb-suggest="demo/suggest-en.json#/suggestions" data-wb-filter-type="startWith">
		<template>
			<option></option>
		</template>
	</datalist>
</form>

<details>
	<summary>Source code</summary>
	<pre class="prettyprint"><code>&lt;form action="#"&gt;
	&lt;div class="form-group"&gt;
		&lt;label for="input-id-4"&gt;Surveys&lt;/label&gt;
		&lt;input id="input-id-4" list="datalist-id-4" /&gt;
	&lt;/div&gt;
	&lt;datalist id="datalist-id-4" data-wb-suggest="demo/suggest-en.json#/suggestions" data-wb-filter-type="startWith"&gt;
		&lt;template&gt;
			&lt;option&gt;&lt;/option&gt;
		&lt;/template&gt;
	&lt;/datalist&gt;
&lt;/form&gt;</code></pre>
</details>

<h3>Filter type <code>word</code></h3>
<form action="#">
	<div class="form-group">
		<label for="input-id-5">Surveys</label>
		<input id="input-id-5" list="datalist-id-5" />
	</div>
	<datalist id="datalist-id-5" data-wb-suggest="demo/suggest-en.json#/suggestions" data-wb-filter-type="word">
		<template>
			<option></option>
		</template>
	</datalist>
</form>

<details>
	<summary>Source code</summary>
	<pre class="prettyprint"><code>&lt;form action="#"&gt;
	&lt;div class="form-group"&gt;
		&lt;label for="input-id-5"&gt;Surveys&lt;/label&gt;
		&lt;input id="input-id-5" list="datalist-id-5" /&gt;
	&lt;/div&gt;
	&lt;datalist id="datalist-id-5" data-wb-suggest="demo/suggest-en.json#/suggestions" data-wb-filter-type="word"&gt;
		&lt;template&gt;
			&lt;option&gt;&lt;/option&gt;
		&lt;/template&gt;
	&lt;/datalist&gt;
&lt;/form&gt;</code></pre>
</details>

<h2>JSON file use in this working example</h2>

<p>The sample file is a JSON-LD compacted document form. The plugin do not currently support the expanded document form. You have the flexibility to use your own JSON structure as long the JSON pointer are set on an array of strings.</p>

<pre class="prettyprint"><code>{
	"@context": {
		"dc": "http://purl.org/dc/terms/",
		"suggestions": {
			"@id": "http://www.w3.org/2001/XMLSchema#string",
			"@container": "@list"
		}
	},
	"@language": "en",
	"dc:title": "Sample list of surveys",
	"dc:modified": "2018-02-06",
	"suggestions": [
		"Accommodation Services, Annual Survey of Service Industries",
		"Accounting Services, Annual Survey of Service Industries",
		"Accounting Services Price Index",
		"Advertising and Related Services, Annual Survey of Service Industries",
		"Agriculture Frame Update Survey (AFUS)",
		"Agriculture Water Survey",
		"Air Carrier Operations in Canada Quarterly Survey",
		"Air Passenger Origin and Destination - Domestic Journeys",
		"Air Passenger Origin and Destination, Canada-U.S.A.",
		"Airport Activity Survey",
		"Amusement and Recreation, Annual Survey of Service Industries",
		"Apartment Building Construction Price",
		"Architectural, engineering and related services price index (AESPI)",
		"Architectural Services, Annual Survey of Service Industries",
		"Asphalt Roofing",
		"Automotive Equipment Rental and Leasing, Annual Survey of Service Industries",
		"Building Permits Survey",
		"Business Payrolls Survey",
		"Business Register",
		"Canada's Balance of International Payments",
		"Canada's International Investment Position",
		"Canada's International Transactions in Securities",
		"Canada's International Transactions in Services",
		"Canadian Community Health Survey - Annual Component",
		"Canadian Foreign Post Indexes",
		"Canadian Government Finance Statistics (CGFS)",
		"Canadian Health Measures Survey",
		"Canadian Health Survey on Children and Youth",
		"Capital and Repair Expenditures Survey, Annual: Actual, Preliminary Actual and Intentions (CAPEX)",
		"Capital Expenditures: Oil and Gas Activities, Quarterly Survey of",
		"Cement Survey",
		"Census of Agriculture",
		"Coal Supply and Disposition Survey, Monthly",
		"Commercial and Industrial Machinery and Equipment Rental and Leasing, Annual Survey of Service Industries",
		"Commercial and Industrial Machinery and Equipment Rental and Leasing Services Price Index",
		"Commercial Stocks for Major Special Crops, Survey of",
		"Commercial Stocks of Corn and Soybeans, Survey of",
		"Consulting Services, Annual Survey of Service Industries",
		"Consulting Services Price Index",
		"Consumer Goods Rental, Annual Survey of Service Industries",
		"Consumer Price Index (Prices of Prescribed Drugs, Brand Name and Generic)",
		"Control and Sale of Alcoholic Beverages in Canada",
		"Couriers and Messengers Services Price Index",
		"Dairy Factory Production and Stocks",
		"Database, Directory and Specialty Publishers, Annual Survey of Service Industries",
		"Electric Power Thermal Generating Station Fuel Consumption, Annual Survey of",
		"Electricity Supply and Disposition Survey, Monthly",
		"Employment Insurance Coverage Survey",
		"Employment, Payrolls and Hours, Survey of (SEPH)",
		"Employment Services, Annual Survey of Service Industries",
		"Energy Research and Development Expenditures by Area of Technology",
		"Engineering Services, Annual Survey of Service Industries",
		"Environmental Goods and Services, Survey of",
		"Estimates of Trusteed Pension Fund, Quarterly",
		"Export Import Price Report",
		"Fare Basis Survey",
		"Federal Government Expenditures in Support of Education (FEDEX), Survey of",
		"Federal Patents, Licences and Royalties Survey",
		"Federal Science Expenditures and Personnel, Activities in the Social Sciences and Natural Sciences",
		"Feed Grain Purchases",
		"Field Crop Reporting Series",
		"Film and Video Distribution, Survey of Service Industries",
		"Film, Television and Video Post-production, Survey of Service Industries",
		"Film, Television and Video Production, Survey of Service Industries",
		"Financial Information of Community Colleges and Vocational Schools (FINCOL)",
		"Financial Information of Universities and Colleges (FIUC)",
		"Financial Security, Survey of",
		"Financial Statements, Quarterly Survey of (QSFS)",
		"Food Services and Drinking Places, Annual Survey of Service Industries",
		"Food Services and Drinking Places, Monthly Survey of",
		"For-hire Motor Carrier Freight Services Price Index",
		"Freight Rail Services Price Index (FRSPI)",
		"Frozen and Chilled Meats, Quarterly Stocks Survey",
		"Gasoline and Other Petroleum Fuels Sold",
		"General Social Survey - Canadians at Work and Home",
		"Head Office Survey, Annual",
		"Homicide Survey",
		"Household Spending, Survey of (SHS)",
		"Industrial Water Survey",
		"Informatics Professional Services Price Index",
		"International Price and Cost Survey",
		"International Travel Survey",
		"Inventory Statement of Butter and Cheese",
		"Job Vacancy and Wage Survey",
		"Labour Force Survey (LFS)",
		"Large Retailers, Monthly Survey of",
		"Major Air Carriers Key Financial and Operating Statistics Monthly Survey",
		"Manufacturing, Monthly Survey of",
		"Manufacturing and Logging Industries, Annual Survey of (ASML)",
		"Natural Gas Distribution Survey, Monthly",
		"Natural Gas Transmission Survey, Monthly",
		"New Condominium Apartment Price Report (NCAPR)",
		"New Housing Price Index (NHPI)",
		"Non-residential Building Construction Price Index (NRBCPI)",
		"Official Languages Demand for Services Survey",
		"Oil and Other Liquid Petroleum Products Pipeline Survey, Monthly",
		"Passenger Bus and Urban Transit Survey, Annual",
		"Passenger Bus and Urban Transit Survey, Monthly",
		"Pension Plans in Canada",
		"Periodical Publishers, Survey of Service Industries",
		"Postsecondary Student Information System",
		"Production and Disposition of Tobacco Products",
		"Purchasing Power Parities",
		"Railway - Annual Report",
		"Real Estate Agents, Brokers, Appraisers and Other Real Estate Activities, Annual Survey of Service Industries",
		"Real Estate Rental and Leasing and Property Management, Annual Survey of Service Industries",
		"Refined Petroleum Products, Monthly",
		"Repair and Maintenance Services, Annual Survey of Service Industries",
		"Research and Development in Canadian Industry, Annual Survey of",
		"Research and Development of Canadian Private Non-Profit Organizations",
		"Retail Non-store Survey, Annual",
		"Retail Services Price Index (RSPI)",
		"Retail Trade Survey, Annual",
		"Retail Trade Survey, Monthly",
		"Retail Trade Survey (Department Store Organizations), Monthly",
		"Sawmills",
		"Services Indicators Survey, Quarterly",
		"Software Development and Computer Services, Annual Survey of Service Industries",
		"Sound Recording and Music Publishing, Survey of Service Industries",
		"Specialized Design, Annual Survey of Service Industries",
		"Spectator Sports, Event Promoters, Artists and Related Industries, Annual Survey of Service Industries",
		"Suppliers of Business Financing, Biannual Survey of",
		"Survey Skills Development course",
		"Surveying and Mapping, Annual Survey of Service Industries",
		"Telecommunications, Quarterly Survey of",
		"Travel Arrangement Services, Annual Survey of Service Industries",
		"Travel Survey of Residents of Canada",
		"Trucking Commodity Origin and Destination Survey",
		"Uniform Crime Reporting Survey",
		"Wholesale Services Price Index",
		"Wholesale Trade Survey, Annual",
		"Wholesale Trade Survey, Monthly"
	]
}</code></pre>
