---
{
	"title": "Suggestion pour datalist via JSON",
	"language": "fr",
	"category": "Plugiciels",
	"description": "Charge des suggestions d'un tableau de chaîne de caractère à partir d'un fichier JSON",
	"tag": "datalist",
	"parentdir": "suggest",
	"altLangPrefix": "suggest",
	"dateModified": "2018-02-06"
}
---
<ul class="list-inline">
<li><a class="btn btn-primary" href="suggest-doc-fr.html">Documentation</a></li>
<li><a class="btn btn-primary" href="https://github.com/wet-boew/GCWeb/issues/new?title=Suggest">Questions ou commentaires?</a></li>
</ul>

<div class="wb-prettify hide"></div>

<p>Charge des suggestions d'un tableau de chaîne de caractère à partir d'un fichier JSON.</p>

<form action="#">
	<div class="form-group">
		<label for="input-id-1">Enquête</label>
		<input id="input-id-1" list="datalist-id-1" />
	</div>
	<datalist id="datalist-id-1" data-wb-suggest="demo/suggest-fr.json#/suggestions">
		<template>
			<option></option>
		</template>
	</datalist>
</form>

<pre class="prettyprint"><code>&lt;form action="#"&gt;
	&lt;div class="form-group"&gt;
		&lt;label for="input-id-1"&gt;Enquête&lt;/label&gt;
		&lt;input id="input-id-1" list="datalist-id-1" /&gt;
	&lt;/div&gt;
	&lt;datalist id="datalist-id-1" data-wb-suggest="demo/suggest-fr.json#/suggestions"&gt;
		&lt;template&gt;
			&lt;option&gt;&lt;/option&gt;
		&lt;/template&gt;
	&lt;/datalist&gt;
&lt;/form&gt;</code></pre>

<h2>Limiter le nombre de résultat affiché</h2>

<p>L'example suivant limite le nombre de résultat à quatre items. La spécification du HTML5 recommande de limiter les résultats entre quatre et sept items.</p>

<p>Note: L'utilisation d'un même <code>datalist</code> pour plusieurs <code>input</code> pourrait créer des conflits lorsque le nombre de résultat est limité.</p>

<form action="#">
	<div class="form-group">
		<label for="input-id-2">Enquête</label>
		<input id="input-id-2" list="datalist-id-2" />
	</div>
	<datalist id="datalist-id-2" data-wb-suggest="demo/suggest-fr.json#/suggestions" data-wb-limit="4">
		<template>
			<option></option>
		</template>
	</datalist>
</form>

<details>
	<summary>Code source</summary>
	<pre class="prettyprint"><code>&lt;form action="#"&gt;
	&lt;div class="form-group"&gt;
		&lt;label for="input-id-2"&gt;Enquête&lt;/label&gt;
		&lt;input id="input-id-2" list="datalist-id-2" /&gt;
	&lt;/div&gt;
	&lt;datalist id="datalist-id-2" data-wb-suggest="demo/suggest-fr.json#/suggestions" data-wb-limit="4"&gt;
		&lt;template&gt;
			&lt;option&gt;&lt;/option&gt;
		&lt;/template&gt;
	&lt;/datalist&gt;
&lt;/form&gt;</code></pre>
</details>

<h2>Appliquer différent type de filtre</h2>

<p>L'implémentation de la fonctionalité de saisie semi-automatique est légèrement différente d'un fureteur à un autre. IE a tendance à afficher seulement les résultats qui débute part, Chrome affiche tout les résultats qui est contenu dans la chaine de charactère, Firefox agis similairement à Chrome avec l'exception qu'il limite l'affichage à cinq résultats.</p>

<p>Note: L'utilisation d'un même <code>datalist</code> pour plusieurs <code>input</code> pourrait créer des conflits lorsque le nombre de résultat est limité.</p>

<p>L'utilisation du type de filtre est plus efficace lorsqu'il est utilisé conjointement avec l'option <code>data-wb-limit</code>.</p> 

<h3>Type de filtre: n'importe où (<code>any</code>) [défault]</h3>
<form action="#">
	<div class="form-group">
		<label for="input-id-3">Enquête</label>
		<input id="input-id-3" list="datalist-id-3" />
	</div>
	<datalist id="datalist-id-3" data-wb-suggest="demo/suggest-fr.json#/suggestions" data-wb-filter-type="any">
		<template>
			<option></option>
		</template>
	</datalist>
</form>

<details>
	<summary>Code source</summary>
	<pre class="prettyprint"><code>&lt;form action="#"&gt;
	&lt;div class="form-group"&gt;
		&lt;label for="input-id-3"&gt;Enquête&lt;/label&gt;
		&lt;input id="input-id-3" list="datalist-id-3" /&gt;
	&lt;/div&gt;
	&lt;datalist id="datalist-id-3" data-wb-suggest="demo/suggest-fr.json#/suggestions" data-wb-filter-type="any"&gt;
		&lt;template&gt;
			&lt;option&gt;&lt;/option&gt;
		&lt;/template&gt;
	&lt;/datalist&gt;
&lt;/form&gt;</code></pre>
</details>

<h3>Type de filtre: débute par (<code>startWith</code>)</h3>
<form action="#">
	<div class="form-group">
		<label for="input-id-4">Enquête</label>
		<input id="input-id-4" list="datalist-id-4" />
	</div>
	<datalist id="datalist-id-4" data-wb-suggest="demo/suggest-fr.json#/suggestions" data-wb-filter-type="startWith">
		<template>
			<option></option>
		</template>
	</datalist>
</form>

<details>
	<summary>Code source</summary>
	<pre class="prettyprint"><code>&lt;form action="#"&gt;
	&lt;div class="form-group"&gt;
		&lt;label for="input-id-4"&gt;Enquête&lt;/label&gt;
		&lt;input id="input-id-4" list="datalist-id-4" /&gt;
	&lt;/div&gt;
	&lt;datalist id="datalist-id-4" data-wb-suggest="demo/suggest-fr.json#/suggestions" data-wb-filter-type="startWith"&gt;
		&lt;template&gt;
			&lt;option&gt;&lt;/option&gt;
		&lt;/template&gt;
	&lt;/datalist&gt;
&lt;/form&gt;</code></pre>
</details>

<h3>Type de filtre: mot (<code>word</code>)</h3>
<form action="#">
	<div class="form-group">
		<label for="input-id-5">Enquête</label>
		<input id="input-id-5" list="datalist-id-5" />
	</div>
	<datalist id="datalist-id-5" data-wb-suggest="demo/suggest-fr.json#/suggestions" data-wb-filter-type="word">
		<template>
			<option></option>
		</template>
	</datalist>
</form>

<details>
	<summary>Code source</summary>
	<pre class="prettyprint"><code>&lt;form action="#"&gt;
	&lt;div class="form-group"&gt;
		&lt;label for="input-id-5"&gt;Enquête&lt;/label&gt;
		&lt;input id="input-id-5" list="datalist-id-5" /&gt;
	&lt;/div&gt;
	&lt;datalist id="datalist-id-5" data-wb-suggest="demo/suggest-fr.json#/suggestions" data-wb-filter-type="word"&gt;
		&lt;template&gt;
			&lt;option&gt;&lt;/option&gt;
		&lt;/template&gt;
	&lt;/datalist&gt;
&lt;/form&gt;</code></pre>
</details>

<h2>Fichier JSON utilisé dans cet example pratique</h2>

<p>L'example de fichier est en format de document compacté JSON-LD. Ce plugiciel ne supporte pas présentement le format de document étendu. Vous avez la flexibilité d'utiliser votre propre structure pour le fichier JSON tant et aussi longtemps que le pointeur JSON représente un tableau de chaines de caractère.</p>

<pre class="prettyprint"><code>{
	"@context": {
		"dc": "http://purl.org/dc/terms/",
		"suggestions": {
			"@id": "http://www.w3.org/2001/XMLSchema#string",
			"@container": "@list"
		}
	},
	"@language": "fr",
	"dc:title": "Échantillons de liste d'enquêtes",
	"dc:modified": "2018-02-07",
	"suggestions": [
		"Achats de grains fourragers",
		"Activité aéroportuaire, Enquête sur l&#39;",
		"Activités pétrolières et gazières, Relevé trimestriel des dépenses en immobilisations",
		"Approvisionnement et l&#39;écoulement du charbon, Enquête mensuelle sur l&#39;",
		"Approvisionnement et l&#39;écoulement de l&#39;électricité, Enquête mensuelle sur l&#39;",
		"Balance des paiements internationaux du Canada",
		"Base tarifaire, Enquête sur la",
		"Biens et services environnementaux, Enquête sur les",
		"Bilan des investissements internationaux du Canada",
		"Brevets, licences et redevances fédérales, Enquête sur les",
		"Bureaux d&#39;agents, de courtiers en immeuble, et d&#39;évaluateurs de biens immobiliers et des activités liées à l&#39;immobilier, Enquête annuelle sur les industries de services",
		"Canadiens au travail et à la maison, Enquête sociale générale",
		"Ciment, Enquête de",
		"Commerce de détail, Enquête annuelle sur le",
		"Commerce de détail, Enquête mensuelle sur le",
		"Commerce de détail hors magasin, Enquête annuelle sur le",
		"Commerce de détail &ndash; Organismes des grands magasins, Enquête mensuelle sur le",
		"Commerce de gros, Enquête annuelle sur le",
		"Commerce de gros, Enquête mensuelle sur le",
		"Consommation de combustibles de centrales thermiques d&#39;énergie électrique, Enquête annuelle sur la",
		"Contrôle et vente des boissons alcoolisées au Canada",
		"Cours de base sur les enquêtes",
		"Couverture de l&#39;assurance-emploi, Enquête sur la",
		"Demande de services dans les langues officielles, Enquête sur la",
		"Dépenses de recherche et développement énergétique par secteur de technologie",
		"Dépenses des ménages, Enquête sur les",
		"Dépenses du gouvernement fédéral au titre de l&#39;éducation, Enquête sur les (EDGFE)",
		"Dépenses en immobilisations et réparations, Enquête annuelle sur les : réelles, provisoires, perspectives (EDIR)",
		"Dépenses et main-d&#39;œuvre scientifiques fédérales, activités dans les sciences sociales et les sciences naturelles",
		"Design spécialisé, Enquête annuelle sur les industries de services",
		"Développement de logiciels et services informatiques, Enquête annuelle sur les industries de services",
		"Distribution de films cinématographiques et de vidéos, Enquête sur les industries de services",
		"Distribution du gaz naturel, Enquête mensuelle sur la",
		"Divertissement et loisirs, Enquête annuelle sur les industries de services",
		"Eau dans l&rsquo;agriculture, Enquête sur l&#39;",
		"Eau dans les industries, Enquête sur l&#39;",
		"Éditeurs de bases de données, de répertoires et de spécialités, Enquête annuelle sur les industries de services",
		"Éditeurs de périodiques, Enquête sur les industries de services",
		"Emploi, la rémunération et les heures de travail, Enquête sur l&#39; (EERH)",
		"Enquête canadienne sur les mesures de la santé",
		"Enquête canadienne sur la santé des enfants et des jeunes",
		"Enregistrement sonore et édition de musique, Enquête sur les industries de services",
		"Essence et autres combustibles de pétrole de vendus",
		"Estimations trimestrielles relatives aux caisses de retraite en fiducie",
		"États financiers, Relevé trimestriel des",
		"Fournisseurs de services de financements aux entreprises, Enquête semestrielle auprès des",
		"Grands détaillants, Enquête mensuelle sur les",
		"Homicide, Enquête sur l&#39;",
		"Indicateurs de service, Enquête trimestrielle sur les",
		"Indice des prix à la consommation (Prix des médicaments d&#39;ordonnance, d&#39;origine et génériques)",
		"Indices des prix de la construction d&#39;immeubles d&#39;appartements",
		"Indice des prix de la construction de bâtiments non résidentiels (IPCBNR)",
		"Indice des prix des logements neufs (IPLN)",
		"Indice des prix des services d&#39;architecture, de génie et des services connexes (IPSAGC)",
		"Indice des prix des services de comptabilité",
		"Indice des prix des services de camionnage pour compte d&#39;autrui",
		"Indice des prix des services de conseils",
		"Indice des prix des services de location et de location à bail de machines et de matériel d&#39;usage commercial et industriel",
		"Indice des prix des services de messageries et de services des messagers",
		"Indice des prix des services de transport ferroviaire de marchandises (IPSTFM)",
		"Indice des prix des services du commerce de détail (IPSCD)",
		"Indice des prix des services du commerce de gros",
		"Indice des prix des services professionnels en informatique",
		"Indices de mission canadienne à l&#39;étranger",
		"Industries manufacturières, Enquête mensuelle sur les",
		"Industries manufacturières et de l&#39;exploitation forestière, Enquête annuelle sur les (EAMEF)",
		"Information financière des collèges communautaires et des écoles de formation professionnelle",
		"Information financière des universités et collèges (IFUC)",
		"Inventaire du beurre et du fromage",
		"Location de biens de consommation, Enquête annuelle sur les industries de services",
		"Location et location à bail de machines et matériel d&#39;usage commercial et industriel, Enquête annuelle sur les industries de services",
		"Location et location à bail de matériel automobile, Enquête annuelle sur les industries de services",
		"Location, location à bail et gestion de biens immobiliers, Enquête sur les industries de services",
		"Mise à jour de la base de sondage agricole, Enquête sur la (EMJA)",
		"Opérations des transporteurs aériens au Canada, Enquête trimestrielle sur les",
		"Opérations internationales du Canada en valeurs mobilières",
		"Origine et destination des passagers aériens - Voyages intérieurs",
		"Origine et destination des passagers aériens, Canada - États-Unis",
		"Origine et la destination des marchandises transportées par camion",
		"Papier-toiture asphalté",
		"Parités de pouvoir d&#39;achat",
		"Permis de bâtir, Enquête des",
		"Population active, Enquête sur la (EPA)",
		"Postes vacants et les salaires, Enquête sur les",
		"Postproduction cinématographique, télévisuelle et vidéo, Enquête sur les industries de services",
		"Principales statistiques financières et d&#39;exploitation des grands transporteurs aériens, Enquête mensuelle sur les",
		"Production cinématographique, télévisuelle et vidéo, Enquête sur les industries de services",
		"Prix et les coûts à l&rsquo;étranger, Enquête sur les",
		"Production et écoulement des produits du tabac",
		"Production et stocks des fabriques laitières",
		"Produits pétroliers raffinés (rapport mensuel)",
		"Programme de déclaration uniforme de la criminalité",
		"Prospection, arpentage et cartographie, Enquête annuelle sur les industries de services",
		"Publicité et services connexes, Enquête annuelle sur les industries de services",
		"Rapport des prix des appartements en copropriété neufs (RPACN)",
		"Rapport sur les prix des exportations et des importations",
		"Recensement de l&#39;agriculture",
		"Recherche et développement dans l&#39;industrie canadienne, Enquête annuelle sur la",
		"Recherche et développement des organismes privés sans but lucratif au Canada",
		"Registre des entreprises",
		"Régimes de pension au Canada",
		"Rémunération auprès des entreprises, Enquête sur la",
		"Santé dans les collectivités canadiennes, Enquête sur la &ndash; composante annuelle",
		"Scieries",
		"Sécurité financière, Enquête sur la",
		"Série de rapports sur les grandes cultures",
		"Services d&#39;architecture, Enquête annuelle sur les industries de services",
		"Services d&#39;emploi, Enquête annuelle sur les industries de services",
		"Services d&#39;hébergement, Enquête annuelle sur les industries de services",
		"Services de comptabilité, Enquête annuelle sur les industries de services",
		"Services de conseils, Enquête annuelle sur les industries de services",
		"Services de génie, Enquête annuelle sur les industries de services",
		"Services de préparation de voyages, Enquête annuelle sur les industries de services",
		"Services de réparation et d&#39;entretien, Enquête annuelle sur les industries de services",
		"Services de restauration et débits de boissons, Enquête annuelle sur les industries de services",
		"Services de restauration et débits de boissons, Enquête mensuelle sur les",
		"Sièges sociaux, Enquête annuelle auprès des",
		"Société ferroviaire &ndash; Rapport annuel",
		"Sports-spectacles, promoteurs d&#39;événements, artistes et industries connexes, Enquête annuelle sur les industries de services",
		"Statistiques de finances publiques canadiennes (SFPC)",
		"Stocks commerciaux de maïs et de soya, Enquête sur les",
		"Stocks commerciaux des principales cultures spéciales, Enquête sur les",
		"Système d&#39;information sur les étudiants postsecondaires",
		"Télécommunications, Enquête trimestrielle des",
		"Transactions internationales de services du Canada",
		"Transport de passagers par autobus et le transport urbain, Enquête annuelle sur le",
		"Transport de passagers par autobus et le transport urbain, Enquête mensuelle sur le",
		"Transport du gaz naturel, Enquête mensuelle sur le",
		"Transport par oléoduc de pétrole brut et autres produits pétroliers liquides, Enquête mensuelle sur le",
		"Viandes froides et congelées, Enquête trimestrielle sur les stocks",
		"Voyages des résidents du Canada, Enquête sur les",
		"Voyages internationaux, Enquête sur les"
	]
}</code></pre>
