---
{
	"title": "1 - Accessibility assesment of GCWeb theme version 2",
	"language": "en",
	"altLangPrefix": "1-accessibility",
	"breadcrumb": [
		{ "title": "GCWeb home", "link": "../index-en.html" }
	],
	"secondlevel": false,
	"dateModified": "2018-11-14",
	"share": "true"
}
---

<p>Evaluate the accessibility conformity of the new GCWeb look version 2.</p>

<dl class="dl-horizontal">
	<dt>Evaluation report identifier</dt>
	<dd>1</dd>
	<dt>Type</dt>
	<dd>Accessibility assesment</dd>
	<dt>Asserted by:</dt>
	<dd>Pierre Dubois (Github: @duboisp)</dd>
	<dt>Date:</dt>
	<dd>November 14, 2018</dd>
	<dt>Page:</dt>
	<dd><a href="http://wet-boew.github.io/themes-dist/GCWeb/content-en.html">http://wet-boew.github.io/themes-dist/GCWeb/content-en.html</a></dd>
	<dt>Subject</dt>
	<dd>Evaluate the accessibility conformity of the new GCWeb look version 2.</dd>
	<dt>Notes:</dt>
	<dd>It was assumed that GCWeb, released with v4.0.29, was already meeting WCAG 2.0 Level AA. So a brief evaluation was done for those succes criteria. The following evaluation are mainly focus on the new GCWeb look (V2) area of changes.</dd>
</dl>

<h2>Assesment summary</h2>

<dl class="dl-horizontal">
	<dt>WCAG 2.0 Level A, AA</dt>
	<dd>Score of 97%</dd>
	<dt>WCAG 2.1 Level A, AA</dt>
	<dd>Score of 94%</dd>
	<dt>Fail Success Critiria</dt>
	<dd>
		<ul>
			<li>SC 1.4.4 Resize text. Not related to the new GCWeb look (V2). See comments in the detailled report.</li>
		</ul>
	</dd>
	<dt>Level AAA</dt>
	<dd>10 Success Criteria pass</dd>
</dl>

<table class="table">
	<caption>Level A and AA</caption>
	<thead>
		<tr>
			<th>WCAG Version and Level</th>
			<th class="text-right">Score</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>WCAG 2.0 Level A</th>
			<td class="text-right">25/25</td>

		</tr>
		<tr>
			<th>WCAG 2.0 Level AA</th>
			<td class="text-right">12/13</td>
		</tr>
		<tr>
			<th>WCAG 2.1 (Only SC added) Level A</th>
			<td class="text-right">5/5</td>
		</tr>
		<tr>
			<th>WCAG 2.1 (Only SC added) Level AA</th>
			<td class="text-right">5/7</td>
		</tr>
	</tbody>
</table>

<table class="table">
	<caption>Level AAA</caption>
	<thead>
		<tr>
			<th>WCAG Version</th>
			<th class="text-right">Passing Success Criteria </th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>WCAG 2.0</th>
			<td class="text-right">8</td>
		</tr>
		<tr>
			<th>WCAG 2.1 (Only SC added)</th>
			<td class="text-right">2</td>
		</tr>
	</tbody>
</table>

<h2>Details: Content page</h2>

<table class="table">
	<thead>
		<tr>
			<th>Success Criteria</th>
			<th>Version (Level)</th>
			<th>Result</th>
			<th>Comments</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>1.1.1 Non-text content</th>
			<td>WCAG 2.0 (Level A)</td>
			<td>Pass</td>
			<td></td>
		</tr>
		<tr>
			<th class="nowrap">1.2.1 Audio-only and Video-only (Prerecorded)</th>
			<td>WCAG 2.0 (Level A)</td>
			<td>N/A</td>
			<td></td>
		</tr>
		<tr>
			<th>1.2.2 Captions (Prerecorded)</th>
			<td>WCAG 2.0 (Level A)</td>
			<td>N/A</td>
			<td></td>
		</tr>
		<tr>
			<th>1.2.3 Audio Description or Media Alternative (Prerecorded)</th>
			<td>WCAG 2.0 (Level A)</td>
			<td>N/A</td>
			<td></td>
		</tr>
		<tr>
			<th>1.2.4 Captions (Live)</th>
			<td>WCAG 2.0 (Level AA)</td>
			<td>N/A</td>
			<td></td>
		</tr>
		<tr>
			<th>1.2.5 Audio Description (Prerecorded)</th>
			<td>WCAG 2.0 (Level AA)</td>
			<td>N/A</td>
			<td></td>
		</tr>
		<tr>
			<th>1.3.1 Info and Relationships</th>
			<td>WCAG 2.0 (Level A)</td>
			<td>Pass</td>
			<td></td>
		</tr>
		<tr>
			<th>1.3.2 Meaningful Sequence</th>
			<td>WCAG 2.0 (Level A)</td>
			<td>Pass</td>
			<td></td>
		</tr>
		<tr>
			<th>1.3.3 Sensory Characteristics</th>
			<td>WCAG 2.0 (Level A)</td>
			<td>Pass</td>
			<td></td>
		</tr>
		<tr>
			<th>1.4.1 Use of Color</th>
			<td>WCAG 2.0 (Level A)</td>
			<td>Pass</td>
			<td></td>
		</tr>
		<tr>
			<th>1.4.2 Audio Control</th>
			<td>WCAG 2.0 (Level A)</td>
			<td>N/A</td>
			<td></td>
		</tr>
		<tr>
			<th>1.4.3 Contrast (Minimum)</th>
			<td>WCAG 2.0 (Level AA)</td>
			<td>Pass</td>
			<td></td>
		</tr>
		<tr>
			<th>1.4.4 Resize text</th>
			<td>WCAG 2.0 (Level AA)</td>
			<td>Fail</td>
			<td>The text inside the select are partially hidden. That issue are already present in WET and GCWeb. See <a href="https://github.com/wet-boew/wet-boew/issues/7884">#7884</a>. This fail are not related to the GCWeb visual update version 2.</td>
		</tr>
		<tr>
			<th>1.4.5 Images of Text</th>
			<td>WCAG 2.0 (Level AA)</td>
			<td>Pass</td>
			<td></td>
		</tr>
		<tr>
			<th>2.1.1 Keyboard</th>
			<td>WCAG 2.0 (Level A)</td>
			<td>Pass</td>
			<td>The main menu implement the keyboard navigation pattern as defined by the WAI-ARIA Practice 1.1</td>
		</tr>
		<tr>
			<th>2.1.2 No Keyboard Trap</th>
			<td>WCAG 2.0 (Level A)</td>
			<td>Pass</td>
			<td></td>
		</tr>
		<tr>
			<th>2.2.1 Timing Adjustable</th>
			<td>WCAG 2.0 (Level A)</td>
			<td>N/A</td>
			<td></td>
		</tr>
		<tr>
			<th>2.2.2 Pause, Stop, Hide</th>
			<td>WCAG 2.0 (Level A)</td>
			<td>N/A</td>
			<td></td>
		</tr>
		<tr>
			<th>2.3.1 Three Flashes or Below Threshold</th>
			<td>WCAG 2.0 (Level A)</td>
			<td>Pass</td>
			<td></td>
		</tr>
		<tr>
			<th>2.4.1 Bypass Blocks</th>
			<td>WCAG 2.0 (Level A)</td>
			<td>Pass</td>
			<td></td>
		</tr>
		<tr>
			<th>2.4.2 Page Titled</th>
			<td>WCAG 2.0 (Level A)</td>
			<td>Pass</td>
			<td></td>
		</tr>
		<tr>
			<th>2.4.3 Focus Order</th>
			<td>WCAG 2.0 (Level A)</td>
			<td>Pass</td>
			<td></td>
		</tr>
		<tr>
			<th>2.4.4 Link Purpose (In Context)</th>
			<td>WCAG 2.0 (Level A)</td>
			<td>Pass</td>
			<td></td>
		</tr>
		<tr>
			<th>2.4.5 Multiple ways</th>
			<td>WCAG 2.0 (Level AA)</td>
			<td>Pass</td>
			<td></td>
		</tr>
		<tr>
			<th>2.4.6 Headings and Labels</th>
			<td>WCAG 2.0 (Level AA)</td>
			<td>Pass</td>
			<td></td>
		</tr>
		<tr>
			<th>2.4.7 Focus Visible</th>
			<td>WCAG 2.0 (Level AA)</td>
			<td>Pass</td>
			<td></td>
		</tr>
		<tr>
			<th>3.1.1 Language of Page</th>
			<td>WCAG 2.0 (Level A)</td>
			<td>Pass</td>
			<td></td>
		</tr>
		<tr>
			<th>3.1.2 Language of Parts</th>
			<td>WCAG 2.0 (Level AA)</td>
			<td>Pass</td>
			<td></td>
		</tr>
		<tr>
			<th>3.2.1 On Focus</th>
			<td>WCAG 2.0 (Level A)</td>
			<td>Pass</td>
			<td></td>
		</tr>
		<tr>
			<th>3.2.2 On Input</th>
			<td>WCAG 2.0 (Level A)</td>
			<td>Pass</td>
			<td></td>
		</tr>
		<tr>
			<th>3.2.3 Consistent Navigation</th>
			<td>WCAG 2.0 (Level AA)</td>
			<td>Pass</td>
			<td>Now the mobile and the desktop share the same consistent navigation with two slithly difference. One if the orientation of the separator before the most requested menu item. The other is the collapsible/expandable state for the most requeste which are forced to be expanded in medium and over view.</td>
		</tr>
		<tr>
			<th>3.2.4 Consistent Identification</th>
			<td>WCAG 2.0 (Level AA)</td>
			<td>Pass</td>
			<td></td>
		</tr>
		<tr>
			<th>3.3.1 Error Identification</th>
			<td>WCAG 2.0 (Level A)</td>
			<td>N/A</td>
			<td></td>
		</tr>
		<tr>
			<th>3.3.2 Labels or Instructions</th>
			<td>WCAG 2.0 (Level A)</td>
			<td>Pass</td>
			<td></td>
		</tr>
		<tr>
			<th>3.3.3 Error Suggestion</th>
			<td>WCAG 2.0 (Level AA)</td>
			<td>N/A</td>
			<td></td>
		</tr>
		<tr>
			<th>3.3.4 Error Prevention (Legal, Financial, Data)</th>
			<td>WCAG 2.0 (Level AA)</td>
			<td>N/A</td>
			<td></td>
		</tr>
		<tr>
			<th>4.1.1 Parsing</th>
			<td>WCAG 2.0 (Level A)</td>
			<td>Pass</td>
			<td>All warning was removed. It pass the w3c validation as served by the server and pass when the DOM is ready (after JavaScript has run). It pass the WhatWG validation as served by the server but not when the DOM is ready.</td>
		</tr>
		<tr>
			<th>4.1.2 Name, Role, Value</th>
			<td>WCAG 2.0 (Level A)</td>
			<td>Pass</td>
			<td></td>
		</tr>
		<tr>
			<th>1.3.4 Orientation</th>
			<td>WCAG 2.1 (Level AA)</td>
			<td>Pass</td>
			<td></td>
		</tr>
		<tr>
			<th>1.3.5 Identify Input Purpose</th>
			<td>WCAG 2.1 (Level AA)</td>
			<td>Pass</td>
			<td></td>
		</tr>
		<tr>
			<th>1.4.10 Reflow</th>
			<td>WCAG 2.1 (Level AA)</td>
			<td>Pass</td>
			<td></td>
		</tr>
		<tr>
			<th>1.4.11 Non-Text Contrast</th>
			<td>WCAG 2.1 (Level AA)</td>
			<td>Skip</td>
			<td></td>
		</tr>
		<tr>
			<th>1.4.12 Text Spacing</th>
			<td>WCAG 2.1 (Level AA)</td>
			<td>Skip</td>
			<td></td>
		</tr>
		<tr>
			<th>1.4.13 Content on Hover or Focus</th>
			<td>WCAG 2.1 (Level AA)</td>
			<td>Pass</td>
			<td></td>
		</tr>
		<tr>
			<th>2.1.4 Character Key Shortcuts</th>
			<td>WCAG 2.1 (Level A)</td>
			<td>N/A</td>
			<td></td>
		</tr>
		<tr>
			<th>2.5.1 Pointer Gestures</th>
			<td>WCAG 2.1 (Level A)</td>
			<td>N/A</td>
			<td></td>
		</tr>
		<tr>
			<th>2.5.2 Pointer Cancellation</th>
			<td>WCAG 2.1 (Level A)</td>
			<td>N/A</td>
			<td></td>
		</tr>
		<tr>
			<th>2.5.3 Label in Name</th>
			<td>WCAG 2.1 (Level A)</td>
			<td>Pass</td>
			<td></td>
		</tr>
		<tr>
			<th>2.5.4 Motion Actuation</th>
			<td>WCAG 2.1 (Level A)</td>
			<td>N/A</td>
			<td></td>
		</tr>
		<tr>
			<th>4.1.3 Status Messages</th>
			<td>WCAG 2.1 (Level AA)</td>
			<td>N/A</td>
			<td></td>
		</tr>
		<tr>
			<th>1.3.6 Identify Purpose</th>
			<td>WCAG 2.1 (Level AAA)</td>
			<td>Skip</td>
			<td></td>
		</tr>
		<tr>
			<th>2.2.6 Timeouts</th>
			<td>WCAG 2.1 (Level AAA)</td>
			<td>N/A</td>
			<td></td>
		</tr>
		<tr>
			<th>2.3.3 Animation from Interactions</th>
			<td>WCAG 2.1 (Level AAA)</td>
			<td>N/A</td>
			<td></td>
		</tr>
		<tr>
			<th>2.5.5 Target Size</th>
			<td>WCAG 2.1 (Level AAA)</td>
			<td>Pass</td>
			<td></td>
		</tr>
		<tr>
			<th>2.5.6 Concurrent Input Mechanisms</th>
			<td>WCAG 2.1 (Level AAA)</td>
			<td>Pass</td>
			<td></td>
		</tr>
		<tr>
			<th>1.2.6 Sign Language (Prerecorded)</th>
			<td>WCAG 2.0 (Level AAA)</td>
			<td>N/A</td>
			<td></td>
		</tr>
		<tr>
			<th>1.2.7 Extended Audio Description (Prerecorded)</th>
			<td>WCAG 2.0 (Level AAA)</td>
			<td>N/A</td>
			<td></td>
		</tr>
		<tr>
			<th>1.2.8 Media Alternative (Prerecorded)</th>
			<td>WCAG 2.0 (Level AAA)</td>
			<td>N/A</td>
			<td></td>
		</tr>
		<tr>
			<th>1.2.9 Audio-only (Live)</th>
			<td>WCAG 2.0 (Level AAA)</td>
			<td>N/A</td>
			<td></td>
		</tr>
		<tr>
			<th>1.4.6 Contrast (Enhanced)</th>
			<td>WCAG 2.0 (Level AAA)</td>
			<td>Pass</td>
			<td></td>
		</tr>
		<tr>
			<th>1.4.7 Low or No Background Audio</th>
			<td>WCAG 2.0 (Level AAA)</td>
			<td>N/A</td>
			<td></td>
		</tr>
		<tr>
			<th>1.4.8 Visual Presentation</th>
			<td>WCAG 2.0 (Level AAA)</td>
			<td>Skip</td>
			<td></td>
		</tr>
		<tr>
			<th>1.4.9 Images of Text (No Exception)</th>
			<td>WCAG 2.0 (Level AAA)</td>
			<td>Pass</td>
			<td></td>
		</tr>
		<tr>
			<th>2.1.3 Keyboard (No Exception)</th>
			<td>WCAG 2.0 (Level AAA)</td>
			<td>Pass</td>
			<td></td>
		</tr>
		<tr>
			<th>2.2.3 No Timing</th>
			<td>WCAG 2.0 (Level AAA)</td>
			<td>N/A</td>
			<td></td>
		</tr>
		<tr>
			<th>2.2.4 Interruptions</th>
			<td>WCAG 2.0 (Level AAA)</td>
			<td>N/A</td>
			<td></td>
		</tr>
		<tr>
			<th>2.2.5 Re-authenticating</th>
			<td>WCAG 2.0 (Level AAA)</td>
			<td>N/A</td>
			<td></td>
		</tr>
		<tr>
			<th>2.3.2 Three Flashes</th>
			<td>WCAG 2.0 (Level AAA)</td>
			<td>Pass</td>
			<td></td>
		</tr>
		<tr>
			<th>2.4.8 Location</th>
			<td>WCAG 2.0 (Level AAA)</td>
			<td>Pass</td>
			<td></td>
		</tr>
		<tr>
			<th>2.4.9 Link Purpose (Link Only)</th>
			<td>WCAG 2.0 (Level AAA)</td>
			<td>Skip</td>
			<td></td>
		</tr>
		<tr>
			<th>2.4.10 Section Headings</th>
			<td>WCAG 2.0 (Level AAA)</td>
			<td>Pass</td>
			<td></td>
		</tr>
		<tr>
			<th>3.1.3 Unusual Words</th>
			<td>WCAG 2.0 (Level AAA)</td>
			<td>Skip</td>
			<td></td>
		</tr>
		<tr>
			<th>3.1.4 Abbreviations</th>
			<td>WCAG 2.0 (Level AAA)</td>
			<td>Skip</td>
			<td></td>
		</tr>
		<tr>
			<th>3.1.5 Reading Level</th>
			<td>WCAG 2.0 (Level AAA)</td>
			<td>Skip</td>
			<td></td>
		</tr>
		<tr>
			<th>3.1.6 Pronunciation</th>
			<td>WCAG 2.0 (Level AAA)</td>
			<td>Skip</td>
			<td></td>
		</tr>
		<tr>
			<th>3.2.5 Change on Request</th>
			<td>WCAG 2.0 (Level AAA)</td>
			<td>Pass</td>
			<td></td>
		</tr>
		<tr>
			<th>3.3.5 Help</th>
			<td>WCAG 2.0 (Level AAA)</td>
			<td>Skip</td>
			<td></td>
		</tr>
		<tr>
			<th>3.3.6 Error Prevention (All)</th>
			<td class="nowrap">WCAG 2.0 (Level AAA)</td>
			<td>Pass</td>
			<td></td>
		</tr>
	</tbody>
</table>
