---
{
	"title": "2 - Regression user acceptance testing of WET plugin for GCWeb theme version 2",
	"language": "en",
	"altLangPrefix": "2-wetplugin-gcweb2",
	"breadcrumb": [
		{ "title": "GCWeb home", "link": "../index-en.html" }
	],
	"secondlevel": false,
	"dateModified": "2018-11-16",
	"share": "true"
}
---

<p>Evaluate if the new look impact WET plugin rendered in the GCWeb theme</p>

<dl class="dl-horizontal">
	<dt>Evaluation report identifier</dt>
	<dd>2</dd>
	<dt>Type</dt>
	<dd>Functionality and aesthetic testing</dd>
	<dt>Asserted by:</dt>
	<dd>Oliver Gross (Github: @therealolivergross)</dd>
	<dt>Date:</dt>
	<dd>November 16, 2018</dd>
	<dt>Page:</dt>
	<dd><a href="http://wet-boew.github.io/themes-dist/GCWeb/demos/index-en.html">http://wet-boew.github.io/themes-dist/GCWeb/demos/index-en.html</a></dd>
	<dt>Subject</dt>
	<dd>Evaluate if the new GCWeb look version 2 style conflic with any WET plugin.</dd>
	<dt>Notes:</dt>
	<dd>This testing was a quick visual check at each WET plugin to know if there were any visible design conflic.</dd>
</dl>

<h2>Evaluation summary</h2>

<dl class="dl-horizontal">
	<dt>Pass</dt>
	<dd>Score of 48/51</dd>
	<dt>Fail</dt>
	<dd>
		<ul>
			<li>The Country Content WET plugin don't work, this is an upstream issue, see <a href="https://github.com/wet-boew/wet-boew/issues/8385">Github Issue #8365</a>.</li>
			<li>The play button is off-center for the multimedia video player.</li>
		</ul>
	</dd>
	<dt>Not tested</dt>
	<dd>
		<ul>
			<li>The Favicon wasn't tested</li>
		</ul>
	</dd>
</dl>


<h2>Evaluation details: Result by each WET plugin</h2>

<table class="table">
	<thead>
		<tr>
			<th>Plugin name</th>
			<th>Result</th>
			<th>Comments</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>Data JSON</th>
			<td>Pass</td>
			<td></td>
		</tr>
		<tr>
			<th>Do action</th>
			<td>Pass</td>
			<td></td>
		</tr>
		<tr>
			<th>Field flow</th>
			<td>Pass</td>
			<td></td>
		</tr>
		<tr>
			<th>Field flow advanced</th>
			<td>Pass</td>
			<td></td>
		</tr>
		<tr>
			<th>Field flow basic configuration</th>
			<td>Pass</td>
			<td></td>
		</tr>
		<tr>
			<th>JSON Manager</th>
			<td>Pass</td>
			<td></td>
		</tr>
		<tr>
			<th>Template HTML 5</th>
			<td>Pass</td>
			<td></td>
		</tr>
		<tr>
			<th>URL Mapping - Patching JSON</th>
			<td>Pass</td>
			<td></td>
		</tr>
		<tr>
			<th>URL Mapping - Table filtering</th>
			<td>Pass</td>
			<td></td>
		</tr>
		<tr>
			<th>Calendar of Events</th>
			<td>Pass</td>
			<td></td>
		</tr>
		<tr>
			<th>Charts and graphs</th>
			<td>Pass</td>
			<td></td>
		</tr>
		<tr>
			<th>Charts and graphs - Customization</th>
			<td>Pass</td>
			<td></td>
		</tr>
		<tr>
			<th>Charts and graphs - Customizing pie charts</th>
			<td>Pass</td>
			<td></td>
		</tr>
		<tr>
			<th>Charts and graphs - Labels and reference values</th>
			<td>Pass</td>
			<td></td>
		</tr>
		<tr>
			<th>Charts and graphs - Simple and easy</th>
			<td>Pass</td>
			<td></td>
		</tr>
		<tr>
			<th>Charts and graphs - Specific test cases</th>
			<td>Pass</td>
			<td></td>
		</tr>
		<tr>
			<th>Collapsible alerts</th>
			<td>Pass</td>
			<td></td>
		</tr>
		<tr>
			<th>Country Content</th>
			<td>Fail</td>
			<td>Demo doesn’t seem to work</td>
		</tr>
		<tr>
			<th>Data Ajax</th>
			<td>Pass</td>
			<td></td>
		</tr>
		<tr>
			<th>Data Inview</th>
			<td>Pass</td>
			<td></td>
		</tr>
		<tr>
			<th>Data Picture</th>
			<td>Pass</td>
			<td></td>
		</tr>
		<tr>
			<th>Dismissable content</th>
			<td>Pass</td>
			<td></td>
		</tr>
		<tr>
			<th>Equal height</th>
			<td>Pass</td>
			<td></td>
		</tr>
		<tr>
			<th>Facebook embedded pages</th>
			<td>Pass</td>
			<td></td>
		</tr>
		<tr>
			<th>Favicon</th>
			<td>Not tested</td>
			<td></td>
		</tr>
		<tr>
			<th>Feeds</th>
			<td>Pass</td>
			<td></td>
		</tr>
		<tr>
			<th>Field flow</th>
			<td>Pass</td>
			<td></td>
		</tr>
		<tr>
			<th>Field flow advanced</th>
			<td>Pass</td>
			<td></td>
		</tr>
		<tr>
			<th>Field flow basic configuration</th>
			<td>Pass</td>
			<td></td>
		</tr>
		<tr>
			<th>Filter</th>
			<td>Pass</td>
			<td></td>
		</tr>
		<tr>
			<th>Footnotes</th>
			<td>Pass</td>
			<td></td>
		</tr>
		<tr>
			<th>Form validation</th>
			<td>Pass</td>
			<td></td>
		</tr>
		<tr>
			<th>Geomap</th>
			<td>Pass</td>
			<td></td>
		</tr>
		<tr>
			<th>Lightbox</th>
			<td>Pass</td>
			<td></td>
		</tr>
		<tr>
			<th>Menu</th>
			<td>Pass</td>
			<td></td>
		</tr>
		<tr>
			<th>Multimedia Player</th>
			<td>Fail</td>
			<td>Play button off-centre</td>
		</tr>
		<tr>
			<th>Multimedia Player - Audio-only</th>
			<td>Pass</td>
			<td></td>
		</tr>
		<tr>
			<th>Multimedia Player - Video</th>
			<td>Fail</td>
			<td>Play button off-centre</td>
		</tr>
		<tr>
			<th>Multimedia Player - YouTube</th>
			<td>Fail</td>
			<td>Play button off-centre</td>
		</tr>
		<tr>
			<th>Overlay</th>
			<td>Pass</td>
			<td></td>
		</tr>
		<tr>
			<th>Prettify</th>
			<td>Pass</td>
			<td></td>
		</tr>
		<tr>
			<th>Session Timeout</th>
			<td>Pass</td>
			<td></td>
		</tr>
		<tr>
			<th>Share widget</th>
			<td>Pass</td>
			<td></td>
		</tr>
		<tr>
			<th>Tabbed Interface</th>
			<td>Pass</td>
			<td></td>
		</tr>
		<tr>
			<th>Tabbed Interface - Carousel</th>
			<td>Pass</td>
			<td></td>
		</tr>
		<tr>
			<th>Tables</th>
			<td>Pass</td>
			<td></td>
		</tr>
		<tr>
			<th>Template HTML 5</th>
			<td>Pass</td>
			<td></td>
		</tr>
		<tr>
			<th>Text highlighting</th>
			<td>Pass</td>
			<td></td>
		</tr>
		<tr>
			<th>Toggle</th>
			<td>Pass</td>
			<td></td>
		</tr>
		<tr>
			<th>Twitter embedded timeline</th>
			<td>Pass</td>
			<td></td>
		</tr>
		<tr>
			<th>Zebra Striping</th>
			<td>Pass</td>
			<td></td>
		</tr>
	</tbody>
</table>
