/*
 Global variables for GCWeb
 */

$bg-gctheme: #355688; // Blue gc theme background.
$bg-gcthemelight: #33465c;
$wbGray: #e1e4e7;
$button-blue: #284162;
$wbGrayLight: #eaebed;
$accent-blue: #26374a;
$border-red: #af3c43;
$active-blue: #243850;
$search-gray: #e0e0e0;
$profile-gray: #eaebed;
$gray-light: #6f6f6f; // Light grey colour (Bootstrap override).

// Brand variables - Main page title
$main-page-title-rule-width: 71px;
$main-page-title-rule-thickness: .18em;
$main-page-title-rule-color: $border-red;

// Colours for the alert styles
$alert-danger-color: #d3080c;
$alert-warning-color: #ee7100;
$alert-info-color: #269abc;
$alert-success-color: #278400;

// Body
$body-bg: #fff; // Body element's background colour (WET-BOEW override).
$font-family-base: "Noto Sans", sans-serif; // (Bootstrap override), "Noto Sans" is a Google font but it is not loaded yet

// Exclude temporary the form element from the font update, keep same style as before
$input-height-base: 37px;

// Button - Ensure we have a target touch of 44px x 44px, the following value was set based on the top right search button.
$padding-base-vertical: 10px;
$padding-base-horizontal: 14px;

/* Headings font-sizes */
$font-size-h1: 1.9em; // expected 38px;
$font-size-h2: 1.8em; // expected 36px;
$font-size-h3: 1.2em; // expected 24px;
$font-size-h4: 1.1em; // expected 22px;
$font-size-h5: 1em; // expected 20px;
$font-size-h6: .95em; // expected 19px;

/* Small font-size */
$small-size: 87%;

/* Font weight */
$normal-weight: 400;
$bold-weight: 700;

//Breadcrumb
$breadcrumb-bg: transparent; // Inner background colour (Bootstrap override).
$wb-bc-separator-content: ">"; // GCWeb v5
$wb-bc-separator-content-rtl: "<"; // GCWeb v5
$wb-bc-separator-font-size: .7em; // GCWeb v5

// Forms
$wb-forms-asterisk-width: .87em; // Asterisk offset for required field labels.

//Heading links on landing pages
$heading-link: 20px; // same as h5
$heading-link-mrgn-tp: 23px;

/*
Left menu variables
*/
$menu-background: #fff;
$menu-colour: #555;

// Spaces variables
$space-0: 0px;
$space-md: 15px;

$input-color-placeholder: #5c5c5c !important;

@import "wet-boew/src/variables";
