// Welcome page styles

//Variables
@import "variables";

.splash {

	object,
	img {
		height: auto;
		max-width: 100%;
	}

	img {
		margin-bottom: .375em;
	}

	#bg {
		height: 200%;
		left: -50%;
		position: fixed;
		top: -50%;
		width: 200%;

		img {
			bottom: 0;
			left: 0;
			margin: auto;
			min-height: 50%;
			min-width: 50%;
			position: absolute;
			right: 0;
			top: 0;
		}
	}

	.sp-bx {
		background-color: #f8f8f8;
		padding: 30px 30px 19px;

		.btn {
			box-shadow: 0 4px #ddd;
			margin: 35px 0 14px;
			min-width: 110px;

			@media (min-width: 768px) {
				box-shadow: 0 4px #ddd;
				margin: 35px 0 14px;
				min-width: 110px;
			}

			@media (min-width: 992px) {
				box-shadow: 0 4px #ddd;
				margin: 35px 0 14px;
				min-width: 138px;
				padding: .5em 1.5em;
			}

			@media (min-width: 1200px) {
				box-shadow: 0 4px #ddd;
				margin: 35px 0 14px;
				min-width: 138px;
				padding: .5em 1.5em;
			}
		}
	}

	.glyphicon {
		color: #9e9e9e;
		font-size: 5px;
		top: -3px;
	}

	.sp-lk {
		&:link,
		&:visited {
			color: #335075;
			text-decoration: none;
		}

		&:hover,
		&:active {
			color: #335075;
			text-decoration: underline;
		}
	}

	.sp-hb {
		margin: 50px auto;
		width: 300px;

		@media (min-width: 768px) {
			margin: 50px auto;
			width: 300px;
		}

		@media (min-width: 992px) {
			margin: 175px auto;
			width: 500px;
		}

		@media (min-width: 1200px) {
			margin: 175px auto;
			width: 500px;
		}
	}

	.sp-bx-bt {
		background-color: $wbGray;
		padding: 30px;

		@media (min-width: 768px) {
			background-color: $wbGray;
			padding: 30px;
		}

		@media (min-width: 992px) {
			background-color: $wbGray;
			padding: 30px 30px 13px;
		}

		@media (min-width: 1200px) {
			background-color: $wbGray;
			padding: 30px 30px 13px;
		}
	}
}

// Error messages styles
.error {
	.box {
		background-color: $wbGray;
		margin-bottom: 30px;
		margin-top: 30px;
		padding: 30px;
	}

	.h1 {
		border: medium none;
		font-size: 27px;
		margin-bottom: .2em;
		padding-bottom: .2em;

		img {
			margin-right: 10px;
		}
	}

	.srchbox {
		.form-inline {
			margin: 14px;
			white-space: nowrap;

			.form-control {
				width: 100%;
			}

			.navbar-form {
				width: 100%;
			}
		}

		.form-group {
			display: inline-block;
		}

		input {
			background-color: fff;
			border-color: #fff currentColor #fff #fff;
			border-image: none;
			border-style: solid none solid solid;
			border-width: 1px 0 1px 1px;
			color: #333;
			display: inline-block;
		}

		button {
			display: inline-block;
		}
	}

	.tofpg {
		line-height: 2em;
		margin-top: 18px;

		span {
			margin-left: 0;
			margin-right: 15px;
		}
	}
}

// Error messages xsmall view
.xxsmallview {
	.error {
		.h1 {
			img {
				margin-bottom: 35px;
			}
		}
	}
}
