@charset "utf-8";

/*
 *
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 *
 */


/*! Global and helpers */
@import "variables";
@import "wet-boew/src/variables";
@import "bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "wet-boew/src/base/bootstrap-overrides/helper-variables";
@import "wet-boew/src/base/helper-mixins";
@import "wet-boew/src/base/proximity/helper-mixins";
@import "bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "baseline/mixins";
@import "wet-boew/src/base/helper-placeholders";

/*! Reset and dependencies */
@import "bootstrap-sass/assets/stylesheets/bootstrap/normalize";
@import "bootstrap-sass/assets/stylesheets/bootstrap/print";
@import "bootstrap-sass/assets/stylesheets/bootstrap/glyphicons";

/*! Core - HTML */
@import "baseline/glyphicons";
@import "fonts/base";
@import "baseline/font";
@import "bootstrap-sass/assets/stylesheets/bootstrap/scaffolding";
@import "baseline/scaffolding";
@import "bootstrap-sass/assets/stylesheets/bootstrap/type";
@import "wet-boew/src/base/bootstrap-overrides/core-heading";
@import "baseline/heading";
@import "wet-boew/src/base/lists/base";
@import "baseline/lists/lists";
@import "wet-boew/src/base/bootstrap-overrides/core";
@import "wet-boew/src/base/details/base";
@import "baseline/details";
@import "baseline/type";
@import "bootstrap-sass/assets/stylesheets/bootstrap/code";
@import "bootstrap-sass/assets/stylesheets/bootstrap/grid";
@import "bootstrap-sass/assets/stylesheets/bootstrap/tables";
@import "wet-boew/src/base/bootstrap-overrides/core-tables";
@import "bootstrap-sass/assets/stylesheets/bootstrap/forms";
@import "wet-boew/src/base/bootstrap-overrides/core-forms";
@import "wet-boew/src/base/forms/base";
@import "baseline/forms";
@import "bootstrap-sass/assets/stylesheets/bootstrap/buttons";
@import "wet-boew/src/base/bootstrap-overrides/core-button";
@import "baseline/buttons";

@import "baseline/obselete";

/*
 Polyfills
 */
@import "wet-boew/src//polyfills/datalist/base";
@import "wet-boew/src/polyfills/details/base";
@import "wet-boew/src//polyfills/datepicker/base";


/*! Base Site */
@import "wet-boew/src/base/accessibility/sites";
@import "wet-boew/src/base/breadcrumb/base";
@import "breadcrumbs/breadcrumb";
@import "wet-boew/src/base/language-selector/base";
@import "wet-boew/src/base/sign-in-off/base";
@import "archived/archived";
@import "banner/base";
@import "footers/base";
@import "language/language-bar";
@import "search/base";
@import "secondary-menu/base";
@import "page-details/base";
@import "date-modified/base";
@import "feedback/base";
@import "gcweb-menu/base";
@import "authentication/base";
@import "header/base";
@import "main-page-title/base";

/*! Components (CSS type only) */
@import "bootstrap-sass/assets/stylesheets/bootstrap/component-animations";
@import "wet-boew/src/base/transitions/base";
@import "bootstrap-sass/assets/stylesheets/bootstrap/dropdowns";
@import "bootstrap-sass/assets/stylesheets/bootstrap/button-groups";
@import "bootstrap-sass/assets/stylesheets/bootstrap/input-groups";
@import "bootstrap-sass/assets/stylesheets/bootstrap/navs";
@import "bootstrap-sass/assets/stylesheets/bootstrap/navbar";
@import "bootstrap-sass/assets/stylesheets/bootstrap/breadcrumbs";
@import "bootstrap-sass/assets/stylesheets/bootstrap/pagination";
@import "bootstrap-sass/assets/stylesheets/bootstrap/pager";
@import "bootstrap-sass/assets/stylesheets/bootstrap/labels";
@import "bootstrap-sass/assets/stylesheets/bootstrap/alerts";
@import "wet-boew/src/base/bootstrap-overrides/placeholders-alerts-labels";
@import "wet-boew/src/base/bootstrap-overrides/alerts";
@import "wet-boew/src/base/bootstrap-overrides/labels";
@import "bootstrap-sass/assets/stylesheets/bootstrap/badges";
@import "../components/baseline/badges";
@import "bootstrap-sass/assets/stylesheets/bootstrap/jumbotron";
@import "bootstrap-sass/assets/stylesheets/bootstrap/thumbnails";
@import "baseline/thumbnails";
@import "bootstrap-sass/assets/stylesheets/bootstrap/progress-bars";
@import "bootstrap-sass/assets/stylesheets/bootstrap/media";
@import "bootstrap-sass/assets/stylesheets/bootstrap/list-group";
@import "bootstrap-sass/assets/stylesheets/bootstrap/panels";
@import "bootstrap-sass/assets/stylesheets/bootstrap/responsive-embed";
@import "bootstrap-sass/assets/stylesheets/bootstrap/wells";
@import "bootstrap-sass/assets/stylesheets/bootstrap/close";
@import "wet-boew/src/base/bootstrap-overrides/components";
@import "wet-boew/src/base/ellipsis/base";

// Provisional wet-boew components
@import "wet-boew/src/base/provisional";


// Components w/ JavaScript
@import "bootstrap-sass/assets/stylesheets/bootstrap/modals";
@import "bootstrap-sass/assets/stylesheets/bootstrap/tooltip";
@import "bootstrap-sass/assets/stylesheets/bootstrap/popovers";
@import "bootstrap-sass/assets/stylesheets/bootstrap/carousel";

/*
 Plugins
 */
@import "wet-boew/src/plugins/cal-events/base";
@import "wet-boew/src/plugins/calendar/base";
@import "wet-boew/src/plugins/charts/base";
@import "wet-boew/src/plugins/collapsible-alerts/base";
@import "wet-boew/src/plugins/dismissable-content/base";
@import "wet-boew/src/plugins/eqht-css/base";
@import "wet-boew/src/plugins/equalheight/base";
@import "../components/equalheight/base";
@import "wet-boew/src/plugins/filter/base";
@import "wet-boew/src/plugins/footnotes/base";
@import "wet-boew/src/plugins/formvalid/base";
@import "wet-boew/src/plugins/lightbox/base";
@import "wet-boew/src/plugins/menu/base";
@import "wet-boew/src/plugins/multimedia/base";
@import "../components/baseline/wb-mltmd";
@import "wet-boew/src/plugins/overlay/base";
@import "../components/baseline/overlay";
@import "wet-boew/src/plugins/prettify/base";
@import "wet-boew/src/plugins/resize/base";
@import "wet-boew/src/plugins/share/base";
@import "wet-boew/src/plugins/stepsform/base";
@import "wet-boew/src/plugins/tables/base";
@import "../components/baseline/wb-tables";
@import "wet-boew/src/plugins/tabs/base";
@import "../components/tabs/carousel";
@import "wet-boew/src/plugins/tagfilter/base";
@import "wet-boew/src/plugins/twitter/base";
@import "wet-boew/src/plugins/texthighlight/base";
@import "wet-boew/src/plugins/geomap/base";
@import "wet-boew/src/plugins/zebra/base";
@import "wet-boew/src/plugins/feeds/base";
@import "wet-boew/src/plugins/paginate/base";
@import "wet-boew/feeds/base"; // CSS for feeds plugin GC override

// Components GC Theme
@import "../components/baseline/base";
@import "../components/base";
@import "../components/base2";
@import "../components/provisional";

@import "../components/gc-dwnld/base";
@import "../components/gc-nws/base";
@import "../components/gc-servinfo/base";
@import "../components/redacted";
@import "../components/dshbrd/base";
@import "../components/triangle-up";
@import "../components/gc-follow-us/base";
@import "../components/fd-wdgt";
@import "../components/pagination/base";
@import "../components/toc/base";
@import "../components/header-rwd/header-rwd";
@import "../components/tbl-floatcolumn";
@import "../components/wb-fieldflow/base";
@import "../components/gc-chckbxrdio/base";
@import "../components/gc-features/base";
@import "../components/gc-stp-stp/base";

@import "../components/wb5-click-postback/base";

@import "../components/wb-chtwzrd/base"; // Provisional CSS for the chat wizard
@import "../components/gc-subway/base"; // Provisional CSS for GC subway map menu
@import "../components/gc-table/base"; // Provisional CSS for GC table
@import "../components/gc-featured-link/base"; // Provisional CSS for GC featured link
@import "../components/gc-most-requested/base"; // Provisional CSS for GC most requested
@import "../components/bold-content/base"; // Provisional CSS that bold every text element in a well component


// Template
@import "../templates/pagebrand/base";
@import "../templates/search";
@import "../templates/home/base";
@import "../templates/blog";
@import "../templates/social-media-centre/base";
@import "../templates/mobile-centre/base";
@import "../templates/campaign/base";
@import "../templates/news/base";
@import "../templates/application/base";


/*! Core - Utilities */
@import "helpers/base";
@import "bootstrap-sass/assets/stylesheets/bootstrap/utilities";
@import "bootstrap-sass/assets/stylesheets/bootstrap/responsive-utilities";
@import "wet-boew/src/base/accessibility/utilities";
@import "wet-boew/src/base/proximity/base";
@import "wet-boew/src/base/bootstrap-4";
@import "wet-boew/src/base/component";


/*
 Views
 */
/* All screen views */
@media screen {
	@import "wet-boew/src/base/views/screen";

	@import "skiplinks/screen";

	@import "../components/overlay/screen";
	@import "wet-boew/src/plugins/prettify/screen";
	@import "wet-boew/src/plugins/tabs/screen";
	@import "../components/tabs/screen";
	@import "../components/gc-features/screen"; /* Deprecated as v4.0.28 */
}

/* Extra-small view and under */
@media screen and (max-width: $screen-xs-max) {
	@import "wet-boew/src/base/views/screen-xs-max";

	@import "banner/screen-xs-max";
	@import "baseline/lists/screen-xs-max";
	@import "gcweb-menu/screen-xs-max";
	@import "page-details/screen-xs-max";
	@import "footers/screen-xs-max";

	@import "wet-boew/src/plugins/eqht-css/screen-xs-max";
	@import "../components/header-rwd/screen-xs-max";
	@import "../components/pagination/screen-xs-max";
	@import "../components/toc/screen-xs-max";

	@import "../templates/campaign/screen-xs-max";
	@import "../templates/application/screen-xs-max";
}

/* Small view and under */
@media screen and (max-width: $screen-sm-max) {
	@import "wet-boew/src/base/views/screen-sm-max";

	@import "banner/screen-sm-max";
	@import "baseline/heading-screen-sm-max";
	@import "gcweb-menu/screen-sm-max";
	@import "authentication/screen-sm-max";
	@import "footers/screen-sm-max";

	@import "../components/dshbrd/screen-sm-max";
	@import "../components/gc-features/screen-sm-max";
	@import "../components/gc-subway/screen-sm-max";
	@import "wet-boew/src/plugins/tables/screen-sm-max";
	@import "../components/gc-table/screen-sm-max"; // Provisional CSS for GC table
	@import "../components/gc-chckbxrdio/screen-sm-max";
	@import "wet-boew/src/plugins/tabs/screen-sm-max";
	@import "../components/gc-servinfo/screen-sm-max";

	@import "../templates/home/screen-sm-max";
	@import "../templates/theme-topic/screen-sm-max";
}

/* Medium view and under */
@media screen and (max-width: $screen-md-max) {
	@import "wet-boew/src/base/views/screen-md-max";

	@import "gcweb-menu/screen-md-max";

	@import "../components/header-rwd/screen-md-max";
}

/* Large view and under */
@media screen and (max-width: $screen-lg-max) {
	@import "wet-boew/src/base/views/screen-lg-max";
}

/* Extra-small view and over */
@media screen and (min-width: $screen-xs-min) {
	@import "wet-boew/src/base/views/screen-xs-min";

	@import "wet-boew/src/plugins/menu/screen-xs-min";
	@import "wet-boew/src/plugins/tables/screen-xs-min";

	@import "wet-boew/src/base/proximity/screen-xs-min";
}

/* Small view and over */
@media screen and (min-width: $screen-sm-min) {
	@import "wet-boew/src/base/views/screen-sm-min";

	@import "baseline/lists/screen-sm-min";

	@import "wet-boew/src/plugins/filter/screen-sm-min";
	@import "../components/header-rwd/screen-sm-min";
	@import "../components/gc-chckbxrdio/screen-sm-min";
	@import "../components/gc-stp-stp/screen-sm-min";


	@import "../templates/news/screen-sm-min";
	@import "../templates/campaign/screen-sm-min";

	@import "wet-boew/src/base/proximity/screen-sm-min";
	@import "wet-boew/src/base/views/_bootstrap-4-screen-sm-min";
}

/* Medium view and over */
@media screen and (min-width: $screen-md-min) {
	@import "wet-boew/src/base/views/screen-md-min";

	@import "baseline/lists/screen-md-min";
	@import "gcweb-menu/screen-md-min";
	@import "feedback/screen-md-min";

	@import "wet-boew/src/plugins/feeds/screen-md-min";
	@import "wet-boew/src/plugins/tabs/screen-md-min";
	@import "../components/social-media-icons/screen-md-min";
	@import "../components/gc-subway/screen-md-min";

	@import "../templates/theme-topic/screen-md-min";

	@import "wet-boew/src/base/proximity/screen-md-min";
}

/* Large view and over */
@media screen and (min-width: $screen-lg-min) {
	@import "wet-boew/src/base/views/screen-lg-min";

	@import "baseline/lists/screen-lg-min";

	@import "wet-boew/src/plugins/filter/screen-lg-min";
	@import "../components/header-rwd/screen-lg-min";
	@import "../components/equalheight/screen-lg-min";

	@import "wet-boew/src/base/proximity/screen-lg-min";
}

/* Extra-extra-small view */
@media screen and (max-width: $screen-xxs-max) {
	@import "wet-boew/src/base/views/screen-xxs-max";

	@import "banner/screen-xxs-max";
	@import "footers/screen-xxs-max";
	@import "gcweb-menu/screen-xxs-max";
	@import "search/screen-xxs-max";

	@import "../components/screen-xxs-max";
	@import "wet-boew/src/plugins/menu/screen-xxs-max";
	@import "wet-boew/src/plugins/tables/screen-xxs-max";
	@import "../components/header-rwd/screen-xxs-max";
	@import "wet-boew/src/plugins/tabs/screen-xxs-max";
	@import "../components/tabs/screen-xxs-max";
}

/* Extra-small view */
@media screen and (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
	@import "wet-boew/src/base/views/screen-xs-min-to-screen-xs-max";

	@import "search/screen-xs-min-to-screen-xs-max";

	@import "../components/header-rwd/screen-xs-min-to-screen-xs-max";
}

/* Small view */
@media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
	@import "wet-boew/src/base/views/screen-sm-min-to-screen-sm-max";

	@import "search/screen-sm-min-to-screen-sm-max";
	@import "feedback/screen-sm-min-to-screen-sm-max";

	@import "../templates/campaign/screen-sm-min-to-screen-sm-max";
}

/* Medium view */
@media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
	@import "wet-boew/src/base/views/screen-md-min-to-screen-md-max";

	@import "gcweb-menu/screen-md-min-to-screen-md-max";

	@import "../components/header-rwd/screen-md-min-to-screen-md-max";
	@import "../components/equalheight/screen-md-min-to-screen-md-max";

	@import "../templates/home/screen-md-min-to-screen-md-max";
}

/* Large view */
@media screen and (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {
	@import "wet-boew/src/base/views/screen-lg-min-to-screen-lg-max";
}

/* Extra-large view */
@media screen and (min-width: $screen-xl-min) {
	@import "wet-boew/src/base/views/screen-xl-min";

	@import "wet-boew/src/base/proximity/screen-xl-min";
}

/* Print view */
@media print {
	@import "wet-boew/src/base/views/print";

	@import "header/print";
	@import "wet-boew/src/base/breadcrumb/print";
	@import "footers/print";
	@import "gcweb-menu/print";
	@import "language/print";
	@import "search/print";
	@import "secondary-menu/print";
	@import "page-details/print";
	@import "feedback/print";

	@import "wet-boew/src/plugins/footnotes/print";
	@import "wet-boew/src/plugins/geomap/print";
	@import "wet-boew/src/plugins/lightbox/print";
	@import "wet-boew/src/plugins/multimedia/print";
	@import "wet-boew/src/plugins/overlay/print";
	@import "wet-boew/src/plugins/prettify/print";
	@import "wet-boew/src/plugins/tabs/print";
	@import "../components/gc-features/print"; /* Deprecated as v4.0.28 */
	@import "../components/gc-follow-us/print";

	@import "../templates/pagebrand/print";
	@import "../templates/campaign/print";
	@import "../templates/application/print";
}

/* Testing WCAG Spacing */
@import "wet-boew/src/base/test-wcag";
