/*
* Institutional landing page template
*/

.page-type-ilp {
	h2 {
		font-size: $font-size-h3;
		margin-top: $space-md;
	}

	.gc-most-requested h2 {
		font-size: 22px;
		margin-top: 0;
	}

	// To be removed once this change is implemented in GC-Follow-us
	.gc-followus ul li {
		margin-bottom: 21px;

		&:last-child {
			margin-bottom: 15px;
		}
	}
}
