---
title: "[Nom de l'institution]"
layout: no-container
language: "fr"
altLangPage: "institutional-landing-en.html"
overwriteBreadcrumbs: true
dateModified: "2024-04-16"
pageclass: "page-type-ilp"
---

{%- include /design-patterns/gc-intro/gc-intro-full-width-image.html -%}

{%- include /components/gc-featured-link/gc-featured-link.html -%}

{%- include /components/gc-most-requested/gc-most-requested.html -%}

<div class="container mrgn-bttm-lg">
	{%- include /components/gc-srvinfo/3col-hidden-title.html -%}
</div>

<div class="well well-sm brdr-0 mrgn-bttm-md">
	<div class="container">
		<section>
			<h2>Contactez-nous</h2>
			<ul class="wb-eqht list-unstyled mrgn-tp-lg lst-spcd-2 colcount-md-3 bold-content">
				<li><a href="#">Contactez [Institution]</a></li>
				<li><a href="#">[Tâche de contact principale 2]</a></li>
				<li><a href="#">[Tâche de contact principale 3]</a></li>
			</ul>
		</section>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-8">{%- include /design-patterns/gc-institution/gc-institution.html -%}</div>
		<div class="col-md-4">{%- include gc-follow-us/gc-follow-us.html -%}</div>
	</div>

	{%- include /components/gc-minister/gc-minister-two-ministers.html -%}

	<div class="row">
		<div class="col-md-4">
			<section class="wb-feeds limit-3">
				<h2>Nouvelles</h2>
				<ul class="feeds-cont list-unstyled lst-spcd">
					<li><a data-ajax="https://wet-boew.github.io/GCWeb/components/feeds/demo/example-fr.atom.json" href="#">Nouvelles de [Institution]</a></li>
				</ul>
				<p>Plus: <a href="#">nouvelles de [Institution]</a></p>
			</section>
		</div>

		<div class="col-md-8">
			{%- include /components/gc-features/two-tiles.html -%}
		</div>
	</div>
</div>
