---
title: "[Institution name]"
layout: no-container
language: "en"
altLangPage: "institutional-landing-fr.html"
overwriteBreadcrumbs: true
dateModified: "2024-03-22"
pageclass: "page-type-ilp"
---

{%- include /design-patterns/gc-intro/gc-intro-image.html -%}

<section class="gc-featured-link">
	<div class="container">
		<h2 class="wb-inv">Spotlight on</h2>
		<p><a class="stretched-link" href="#">[Promotion title]</a></p>
	</div>
</section>

{%- include /components/gc-most-requested/gc-most-requested.html -%}

<div class="container mrgn-bttm-lg">
	<section class="gc-srvinfo">
		<h2 class="wb-inv">Services and information</h2>
		<div class="row wb-eqht-grd">
			<div class="col-lg-4 col-md-6">
				<h3><a href="#">[Hyperlink text]</a></h3>
				<p>Use action verbs, or simply list keywords to summarize the information or tasks that can be accomplished on the page it links to.</p>
			</div>
			<div class="col-lg-4 col-md-6">
				<h3><a href="#">[Hyperlink text]</a></h3>
				<p>Use action verbs, or simply list keywords to summarize the information or tasks that can be accomplished on the page it links to.</p>
			</div>
			<div class="col-lg-4 col-md-6">
				<h3><a href="#">[Hyperlink text]</a></h3>
				<p>Use action verbs, or simply list keywords to summarize the information or tasks that can be accomplished on the page it links to.</p>
			</div>
			<div class="col-lg-4 col-md-6">
				<h3><a href="#">[Hyperlink text]</a></h3>
				<p>Use action verbs, or simply list keywords to summarize the information or tasks that can be accomplished on the page it links to.</p>
			</div>
			<div class="col-lg-4 col-md-6">
				<h3><a href="#">[Hyperlink text]</a></h3>
				<p>Use action verbs, or simply list keywords to summarize the information or tasks that can be accomplished on the page it links to.</p>
			</div>
			<div class="col-lg-4 col-md-6">
				<h3><a href="#">[Hyperlink text]</a></h3>
				<p>Use action verbs, or simply list keywords to summarize the information or tasks that can be accomplished on the page it links to.</p>
			</div>
			<div class="col-lg-4 col-md-6">
				<h3><a href="#">[Hyperlink text]</a></h3>
				<p>Use action verbs, or simply list keywords to summarize the information or tasks that can be accomplished on the page it links to.</p>
			</div>
			<div class="col-lg-4 col-md-6">
				<h3><a href="#">[Hyperlink text]</a></h3>
				<p>Use action verbs, or simply list keywords to summarize the information or tasks that can be accomplished on the page it links to.</p>
			</div>
			<div class="col-lg-4 col-md-6">
				<h3><a href="#">[Hyperlink text]</a></h3>
				<p>Use action verbs, or simply list keywords to summarize the information or tasks that can be accomplished on the page it links to.</p>
			</div>
		</div>
	</section>
</div>

<div class="well well-sm brdr-0 mrgn-bttm-md">
	<div class="container">
		<section>
			<h2>Contact us</h2>
			<ul class="wb-eqht list-unstyled mrgn-tp-lg lst-spcd-2 colcount-md-3 bold-content">
				<li><a href="#">Contact [Institution]</a></li>
				<li><a href="#">[Top contact task 2]</a></li>
				<li><a href="#">[Top contact task 3]</a></li>
			</ul>
		</section>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-8">{%- include /design-patterns/gc-institution/gc-institution.html -%}</div>
		<div class="col-md-4">{%- include gc-follow-us/gc-follow-us.html -%}</div>
	</div>

	{%- include /components/gc-minister/gc-minister-two-ministers.html -%}

	<div class="row">
		<div class="col-md-4">
			<section class="wb-feeds limit-3">
				<h2>News</h2>
				<ul class="feeds-cont list-unstyled lst-spcd">
					<li>
						<a data-ajax="https://wet-boew.github.io/GCWeb/components/feeds/demo/example-en.atom.json" href="#">
							[Institution] news
						</a>
					</li>
				</ul>
				<p>More: <a href="#">[Institution] news</a></p>
			</section>
		</div>

		<div class="col-md-8">
			<section class="gc-features">
				<h2>Features</h2>
				<div class="row wb-eqht-grd">
					<div class="col-sm-6">
						<div class="well well-sm brdr-rds-0 eqht-trgt">
							<img class="img-responsive full-width" src="https://via.placeholder.com/360x203/000000/FFFFFF.png" alt="" />
							<h3 class="h5"><a class="stretched-link" href="#">[Feature hyperlink text]</a></h3>
							<p>Brief description of the feature being promoted.</p>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="well well-sm brdr-rds-0 eqht-trgt">
							<img class="img-responsive full-width" src="https://via.placeholder.com/360x203/000000/FFFFFF.png" alt="" />
							<h3 class="h5"><a class="stretched-link" href="#">[Feature hyperlink text]</a></h3>
							<p>Brief description of the feature being promoted.</p>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</div>
