/* Thematic blue */
.bg-winterlude {
    background-color: #003c77;
}
.panel-winterlude,
hr.brdr-winterlude {
    border-color: #003c77;
}
/* Hover and focus state */
a.bg-winterlude:hover,
a.bg-winterlude:focus,
button.bg-winterlude:hover,
button.bg-winterlude:focus {
    background-color: #2c6cb5 !important;
}
/* Active state */
a.bg-winterlude:active,
a.bg-winterlude:active:focus,
a.bg-winterlude:active:hover,
button.bg-winterlude:active,
button.bg-winterlude:active:focus,
button.bg-winterlude:active:hover {
    background-color: #000000 !important;
}
/* Force link text to remain white for hover, focus and active states. */
a.bg-winterlude:hover,
a.bg-winterlude:focus,
a.bg-winterlude:active,
button.bg-winterlude:hover,
button.bg-winterlude:focus,
button.bg-winterlude:active {
    color: #fff !important;
}

/* Thematic light blue */
.bg-winterlude-lightblue {
    background-color: #c7e6f5;
}
/* Hover and focus state */
a.bg-winterlude-lightblue:hover,
a.bg-winterlude-lightblue:focus,
button.bg-winterlude-lightblue:hover,
button.bg-winterlude-lightblue:focus {
    color: #000 !important;
    background-color: #84c8e6 !important;
}
/* Active state */
a.bg-winterlude-lightblue:active,
a.bg-winterlude-lightblue:active:focus,
a.bg-winterlude-lightblue:active:hover,
button.bg-winterlude-lightblue:active,
button.bg-winterlude-lightblue:active:focus,
button.bg-winterlude-lightblue:active:hover {
    color: #000 !important;
    background-color: #009ec9 !important;
}

/* Thematic Heading 1 */
@media screen and (min-width: 768px) {
    h1.winterlude {
        font-size: 2.4em;
    }
}
@media screen and (min-width: 992px) {
    h1.winterlude {
        font-size: 2.8em;
    }
}
h1.winterlude {
    border-bottom: none !important;
}
h1.winterlude::after {
    border-bottom: 0.18em solid #2c6cb5 !important;
    content: "";
    display: block;
    padding-bottom: 8px;
    width: 0.95em;
}
