---
title: "[Titre du sujet]"
sectionTitle: "[Titre de la section]"
layout: no-container
language: "fr"
altLangPage: "topic-stackedheader-en.html"
dateModified: "2024-08-27"
---

<div class="container">
	<div class="row">
		<div class="col-md-6">
			{%- include main-page-title/main-page-title.html -%}
			<p>1 à 2 phrases décrivant les sujets et les principales tâches accessibles sur cette page.</p>
		</div>
		<div class="col-md-6 hidden-sm hidden-xs">
			<img src="https://dummyimage.com/520x200/000000/FFFFFF.png" alt="" class="img-responsive pull-right mrgn-tp-lg">
		</div>
	</div>
</div>

{%- include /components/gc-most-requested/gc-most-requested.html -%}

<div class="container">
	{%- include /components/gc-srvinfo/3col-hidden-title.html -%}

	<div class="row mrgn-tp-xl">
		<div class="col-md-8">
			{%- include /components/gc-features/one-tile-hidden-title.html -%}
		</div>
		<div class="col-md-4">
			{%- include gc-follow-us/gc-follow-us.html -%}
		</div>
	</div>

	{%- include /components/gc-contributors/gc-contributors.html -%}
</div>
