// Download link box
.gc-dwnld {

	.gc-dwnld-txt {
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}

		span {
			display: block;
		}
	}

	.gc-dwnld-img {
		margin-bottom: 0;
	}

	p {
		margin-bottom:0;
	}
}
