---
{
	"title": "Lien de téléchargement - Exemples pratiques",
	"language": "fr",
	"altLangPage": "gc-dwnld-en.html",
	"dateModified": "2025-08-20",
	"breadcrumbs": [
		{ "title": "Lien de téléchargement", "link": "components/gc-dwnld/gc-dwnld-doc-fr.html" }
	]
}
---
<div class="wb-prettify all-pre"></div>

<p>Les liens de téléchargement servent à renvoyer ou à lier à des fichiers de format autre que HTML sur les pages Web de Canada.ca.</p>

<h2>Horizontal</h2>

<p>Par défaut&nbsp;:</p>
<a href="#" class="gc-dwnld" download>
	<img src="./../../templates/img/doc.png" alt="">
	<span>Titre du document avec un très long nom<br>(<abbr title="Portable Document Format">PDF</abbr>, 273 <abbr title="Kilo-octet">Ko</abbr>)</span>
</a>
<details class="mb-4">
	<summary>Code</summary>
	<pre><code>&lt;a href="#" class="gc-dwnld" download>
	&lt;img src="[url de l'image]" alt="">
	&lt;span>[Titre du document]&lt;br>(&lt;abbr title="Portable Document Format">PDF&lt;/abbr>, 273 &lt;abbr title="Kilo-octet">Ko&lt;/abbr>)&lt;/span>
&lt;/a></code></pre>
</details>

<p>À l'intérieur d'une grille&nbsp;:</p>
<div class="row">
	<div class="col-sm-6 col-md-4">
		<a href="#" class="gc-dwnld" download>
			<img src="./../../templates/img/doc.png" alt="">
			<span>Titre du document<br>(<abbr title="Portable Document Format">PDF</abbr>, 273 <abbr title="Kilo-octet">Ko</abbr>)</span>
		</a>
	</div>
</div>
<details class="mb-4">
	<summary>Code</summary>
	<pre><code>&lt;div class="row">
	&lt;div class="col-sm-6 col-md-4">
		&lt;a href="#" class="gc-dwnld" download>
			&lt;img src="[url de l'image]" alt="">
			&lt;span>[Titre du document]&lt;br>(&lt;abbr title="Portable Document Format">PDF&lt;/abbr>, 273 &lt;abbr title="Kilo-octet">Ko&lt;/abbr>)&lt;/span>
		&lt;/a>
	&lt;/div>
&lt;/div></code></pre>
</details>

<p>À l'intérieur d'une grille avec la classe facultative <code>full-width</code>&nbsp;:</p>
<div class="row">
	<div class="col-sm-6 col-md-4">
		<a href="#" class="gc-dwnld full-width" download>
			<img src="./../../templates/img/doc.png" alt="">
			<span>Titre du document<br>(<abbr title="Portable Document Format">PDF</abbr>, 273 <abbr title="Kilo-octet">Ko</abbr>)</span>
		</a>
	</div>
</div>
<details class="mb-4">
	<summary>Code</summary>
	<pre><code>&lt;div class="row">
	&lt;div class="col-sm-6 col-md-4">
		&lt;a href="#" class="gc-dwnld full-width" download>
			&lt;img src="[url de l'image]" alt="">
			&lt;span>[Titre du document]&lt;br>(&lt;abbr title="Portable Document Format">PDF&lt;/abbr>, 273 &lt;abbr title="Kilo-octet">Ko&lt;/abbr>)&lt;/span>
		&lt;/a>
	&lt;/div>
&lt;/div></code></pre>
</details>

<h2>Vertical</h2>

<p>Par défaut&nbsp;:</p>
<a href="#" class="gc-dwnld vertical" download>
	<img src="./../../templates/img/doc.png" alt="">
	<span>Titre du document avec un très long nom<br>(<abbr title="Portable Document Format">PDF</abbr>, 273 <abbr title="Kilo-octet">Ko</abbr>)</span>
</a>
<details class="mb-4">
	<summary>Code</summary>
	<pre><code>&lt;a href="#" class="gc-dwnld vertical" download>
	&lt;img src="[url de l'image]" alt="">
	&lt;span>[Titre du document]&lt;br>(&lt;abbr title="Portable Document Format">PDF&lt;/abbr>, 273 &lt;abbr title="Kilo-octet">Ko&lt;/abbr>)&lt;/span>
&lt;/a></code></pre>
</details>

<p>À l'intérieur d'une grille&nbsp;:</p>
<div class="row">
	<div class="col-sm-6 col-md-4">
		<a href="#" class="gc-dwnld vertical" download>
			<img src="./../../templates/img/doc.png" alt="">
			<span>Titre du document<br>(<abbr title="Portable Document Format">PDF</abbr>, 273 <abbr title="Kilo-octet">Ko</abbr>)</span>
		</a>
	</div>
</div>
<details class="mb-4">
	<summary>Code</summary>
	<pre><code>&lt;div class="row">
	&lt;div class="col-sm-6 col-md-4">
		&lt;a href="#" class="gc-dwnld vertical" download>
			&lt;img src="[url de l'image]" alt="">
			&lt;span>[Titre du document]&lt;br>(&lt;abbr title="Portable Document Format">PDF&lt;/abbr>, 273 &lt;abbr title="Kilo-octet">Ko&lt;/abbr>)&lt;/span>
		&lt;/a>
	&lt;/div>
&lt;/div></code></pre>
</details>

<p>À l'intérieur d'une grille avec la classe facultative <code>full-width</code>&nbsp;:</p>
<div class="row">
	<div class="col-sm-6 col-md-4">
		<a href="#" class="gc-dwnld vertical full-width" download>
			<img src="./../../templates/img/doc.png" alt="">
			<span>Titre du document<br>(<abbr title="Portable Document Format">PDF</abbr>, 273 <abbr title="Kilo-octet">Ko</abbr>)</span>
		</a>
	</div>
</div>
<details class="mb-4">
	<summary>Code</summary>
	<pre><code>&lt;div class="row">
	&lt;div class="col-sm-6 col-md-4">
		&lt;a href="#" class="gc-dwnld vertical full-width" download>
			&lt;img src="[url de l'image]" alt="">
			&lt;span>[Titre du document]&lt;br>(&lt;abbr title="Portable Document Format">PDF&lt;/abbr>, 273 &lt;abbr title="Kilo-octet">Ko&lt;/abbr>)&lt;/span>
		&lt;/a>
	&lt;/div>
&lt;/div></code></pre>
</details>

<h2>Sans image</h2>
<a href="#" class="gc-dwnld" download>
	<span>Titre du document avec un très long nom<br>(<abbr title="Portable Document Format">PDF</abbr>, 273 <abbr title="Kilo-octet">Ko</abbr>)</span>
</a>
<details class="mb-4">
	<summary>Code</summary>
	<pre><code>&lt;a href="#" class="gc-dwnld" download>
	&lt;span>[Titre du document]&lt;br>(&lt;abbr title="Portable Document Format">PDF&lt;/abbr>, 273 &lt;abbr title="Kilo-octet">Ko&lt;/abbr>)&lt;/span>
&lt;/a></code></pre>
</details>
