---
{
	"title": "Download link - Working examples",
	"language": "en",
	"altLangPage": "gc-dwnld-fr.html",
	"dateModified": "2025-08-20",
	"breadcrumbs": [
		{ "title": "Download link", "link": "components/gc-dwnld/gc-dwnld-doc-en.html" }
	]
}
---
<div class="wb-prettify all-pre"></div>

<p>Download links are used for referencing and linking to non-HTML files on Canada.ca web pages.</p>

<h2>Horizontal</h2>

<p>Default:</p>
<a href="#" class="gc-dwnld" download>
	<img src="./../../templates/img/doc.png" alt="">
	<span>Document Title with very long document name<br>(<abbr title="Portable Document Format">PDF</abbr>, 273 <abbr title="KiloByte">KB</abbr>)</span>
</a>
<details class="mb-4">
	<summary>Code</summary>
	<pre><code>&lt;a href="#" class="gc-dwnld" download>
	&lt;img src="[image url]" alt="">
	&lt;span>[Document Title]&lt;br>(&lt;abbr title="Portable Document Format">PDF&lt;/abbr>, 273 &lt;abbr title="KiloByte">KB&lt;/abbr>)&lt;/span>
&lt;/a></code></pre>
</details>

<p>Inside grid:</p>
<div class="row">
	<div class="col-sm-6 col-md-4">
		<a href="#" class="gc-dwnld" download>
			<img src="./../../templates/img/doc.png" alt="">
			<span>Document Title<br>(<abbr title="Portable Document Format">PDF</abbr>, 273 <abbr title="KiloByte">KB</abbr>)</span>
		</a>
	</div>
</div>
<details class="mb-4">
	<summary>Code</summary>
	<pre><code>&lt;div class="row">
	&lt;div class="col-sm-6 col-md-4">
		&lt;a href="#" class="gc-dwnld" download>
			&lt;img src="[image url]" alt="">
			&lt;span>[Document Title]&lt;br>(&lt;abbr title="Portable Document Format">PDF&lt;/abbr>, 273 &lt;abbr title="KiloByte">KB&lt;/abbr>)&lt;/span>
		&lt;/a>
	&lt;/div>
&lt;/div></code></pre>
</details>

<p>Inside grid with optional <code>full-width</code> class:</p>
<div class="row">
	<div class="col-sm-6 col-md-4">
		<a href="#" class="gc-dwnld full-width" download>
			<img src="./../../templates/img/doc.png" alt="">
			<span>Document Title<br>(<abbr title="Portable Document Format">PDF</abbr>, 273 <abbr title="KiloByte">KB</abbr>)</span>
		</a>
	</div>
</div>
<details class="mb-4">
	<summary>Code</summary>
	<pre><code>&lt;div class="row">
	&lt;div class="col-sm-6 col-md-4">
		&lt;a href="#" class="gc-dwnld full-width" download>
			&lt;img src="[image url]" alt="">
			&lt;span>[Document Title]&lt;br>(&lt;abbr title="Portable Document Format">PDF&lt;/abbr>, 273 &lt;abbr title="KiloByte">KB&lt;/abbr>)&lt;/span>
		&lt;/a>
	&lt;/div>
&lt;/div></code></pre>
</details>

<h2>Vertical</h2>

<p>Default:</p>
<a href="#" class="gc-dwnld vertical" download>
	<img src="./../../templates/img/doc.png" alt="">
	<span>Document Title with very long document name<br>(<abbr title="Portable Document Format">PDF</abbr>, 273 <abbr title="KiloByte">KB</abbr>)</span>
</a>
<details class="mb-4">
	<summary>Code</summary>
	<pre><code>&lt;a href="#" class="gc-dwnld vertical" download>
	&lt;img src="[image url]" alt="">
	&lt;span>[Document Title]&lt;br>(&lt;abbr title="Portable Document Format">PDF&lt;/abbr>, 273 &lt;abbr title="KiloByte">KB&lt;/abbr>)&lt;/span>
&lt;/a></code></pre>
</details>

<p>Inside grid:</p>
<div class="row">
	<div class="col-sm-6 col-md-4">
		<a href="#" class="gc-dwnld vertical" download>
			<img src="./../../templates/img/doc.png" alt="">
			<span>Document Title<br>(<abbr title="Portable Document Format">PDF</abbr>, 273 <abbr title="KiloByte">KB</abbr>)</span>
		</a>
	</div>
</div>
<details class="mb-4">
	<summary>Code</summary>
	<pre><code>&lt;div class="row">
	&lt;div class="col-sm-6 col-md-4">
		&lt;a href="#" class="gc-dwnld vertical" download>
			&lt;img src="[image url]" alt="">
			&lt;span>[Document Title]&lt;br>(&lt;abbr title="Portable Document Format">PDF&lt;/abbr>, 273 &lt;abbr title="KiloByte">KB&lt;/abbr>)&lt;/span>
		&lt;/a>
	&lt;/div>
&lt;/div></code></pre>
</details>

<p>Inside grid with optional <code>full-width</code> class:</p>
<div class="row">
	<div class="col-sm-6 col-md-4">
		<a href="#" class="gc-dwnld vertical full-width" download>
			<img src="./../../templates/img/doc.png" alt="">
			<span>Document Title<br>(<abbr title="Portable Document Format">PDF</abbr>, 273 <abbr title="KiloByte">KB</abbr>)</span>
		</a>
	</div>
</div>
<details class="mb-4">
	<summary>Code</summary>
	<pre><code>&lt;div class="row">
	&lt;div class="col-sm-6 col-md-4">
		&lt;a href="#" class="gc-dwnld vertical full-width" download>
			&lt;img src="[image url]" alt="">
			&lt;span>[Document Title]&lt;br>(&lt;abbr title="Portable Document Format">PDF&lt;/abbr>, 273 &lt;abbr title="KiloByte">KB&lt;/abbr>)&lt;/span>
		&lt;/a>
	&lt;/div>
&lt;/div></code></pre>
</details>

<h2>No image</h2>
<a href="#" class="gc-dwnld" download>
	<span>Document Title with very long document name<br>(<abbr title="Portable Document Format">PDF</abbr>, 273 <abbr title="KiloByte">KB</abbr>)</span>
</a>
<details class="mb-4">
	<summary>Code</summary>
	<pre><code>&lt;a href="#" class="gc-dwnld" download>
	&lt;span>[Document Title]&lt;br>(&lt;abbr title="Portable Document Format">PDF&lt;/abbr>, 273 &lt;abbr title="KiloByte">KB&lt;/abbr>)&lt;/span>
&lt;/a></code></pre>
</details>
