---
{
	"title": "Services and information - Common design pattern",
	"language": "en",
	"secondlevel": false,
	"dateModified": "2019-01-08",
	"share": "true"
}
---
<div class="wb-prettify all-pre hide"></div>

<dl class="horizontal">
	<dt>Status</dt>
	<dd>Up to spec</dd>

	<dt>Type</dt>
	<dd>Common design pattern</dd>

	<dt>Last review</dt>
	<dd>2019-01-08</dd>

	<dt>Conforming to</dt>
	<dd>Content and IA spec 1.5.1</dd>

	<dt>Specification</dt>
	<dd><a href="https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-information-architecture-specification/common-design-patterns.html#services-information">Common design patterns - Services and information</a></dd>

	<dt>Technical name</dt>
	<dd><code>gc-srvinfo</code></dd>
</dl>

<h2>Working example</h2>
<ul>
	<li><a href="gc-srvinfo-examples.html#eg1">Example 1: Doormat link in 2 column pattern</a></li>
	<li><a href="gc-srvinfo-examples.html#eg2">Example 2: Doormat link in single column pattern</a></li>
	<li><a href="gc-srvinfo-examples.html#eg3">Example 3: Sequential doormat link in single column pattern</a></li>
	<li><a href="gc-srvinfo-examples.html#eg4">Example 4: Doormat link in 3 columns grouped with heading pattern</a></li>
</ul>

<h2>Evaluation and report</h2>
<p>There is no evaluation and report available for this component</p>

<h2>API (Version 3.0)</h2>
<table class="table table-bordered">
	<tr>
		<th>CSS Class</th>
		<th>Template</th>
		<th>Visual rendering</th>
		<th>Schema</th>
	</tr>
	<tr>
		<td>Version 1.3</td>
		<td>Version 3.0</td>
		<td>Version 1.1</td>
		<td>Version 1.1</td>
	</tr>
</table>

<h3>CSS Class (v1.3)</h3>
<dl class="dl-horizontal">
	<dt><code>gc-srvinfo</code></dt>
	<dd>Component: Service and information</dd>
	<dt><code>gc-drmt</code></dt>
	<dd>Component: (Deprecated) Doormat link. Defined inside a Service and information component.</dd>
</dl>

<details>
	<summary>Version notes</summary>

	<dl class="dl-horizontal">
		<dt>Version 1.3</dt>
		<dd>
			<ul>
				<li>Added: <code>gc-srvinfo</code></li>
			</ul>
		</dd>
		<dt>Version 1.2 (between v4.0.28.1 and v4.0.27)</dt>
		<dd>
			<ul>
				<li>Depricated: <code>gc-drmt</code></li>
			</ul>
		</dd>
		<dt>Version 1.1 (between v4.0.21 and v4.0.26)</dt>
		<dd>
			<ul>
				<li>Added: <code>gc-drmt</code></li>
			</ul>
		</dd>
		<dt>Version 1.0</dt>
		<dd>There were no exclusive CSS class</dd>
	</dl>
</details>


<h3>Template (v3.0)</h3>

<p>Notes:</p>
<ul>
	<li>The heading level are ajusted based on the context of use</li>
	<li>The following are the official supported/versionned markup</li>
	<li>Template for each grouping and column rendering</li>
</ul>

<pre><code>&lt;section class="gc-srvinfo"&gt;
	&lt;h2&gt;[[comp:SrvInfo dct:title]]&lt;/h2&gt;

	&lt;!-- Two column && ( Subheading || Demand ) [default] --&gt;
	&lt;div data-if="comp:SrvInfo comp:srvInfoCol == comp:SrvInfo2Col &&
					( comp:SrvInfo comp:srvInfoGroupAs == comp:SrvInfoSubheading ||
					comp:SrvInfo comp:srvInfoGroupAs == comp:SrvInfoDemand )" class="wb-eqht row"&gt;
		&lt;div data-for="comp:Doormat in ( comp:SrvInfo comp:doormats )" class="col-md-6"&gt;
			&lt;h3&gt;&lt;a data-bind="(href = comp:Doormat foaf:page)"&gt;[[comp:Doormat dct:title]]&lt;/a&gt;&lt;/h3&gt;
			&lt;p&gt;[[comp:Doormat dct:description]]&lt;/p&gt;
		&lt;/div&gt;
	&lt;/div&gt;

	&lt;!-- One column && ( Subheading || Demand ) --&gt;
	&lt;div data-if="comp:SrvInfo comp:srvInfoCol == comp:SrvInfo1Col &&
					( comp:SrvInfo comp:srvInfoGroupAs == comp:SrvInfoSubheading ||
					comp:SrvInfo comp:srvInfoGroupAs == comp:SrvInfoDemand )" data-for="comp:Doormat in (comp:SrvInfo comp:doormats )"&gt;
		&lt;h3&gt;&lt;a data-bind="(href = comp:Doormat foaf:page)"&gt;[[comp:Doormat dct:title]]&lt;/a&gt;&lt;/h3&gt;
		&lt;p&gt;[[comp:Doormat dct:description]]&lt;/p&gt;
	&lt;/div&gt;

	&lt;!-- Three column && ( Subheading || Demand ) --&gt;
	&lt;div data-if="comp:SrvInfo comp:srvInfoCol == comp:SrvInfo3Col &&
					( comp:SrvInfo comp:srvInfoGroupAs == comp:SrvInfoSubheading ||
					comp:SrvInfo comp:srvInfoGroupAs == comp:SrvInfoDemand )" class="wb-eqht row"&gt;
		&lt;div data-for="comp:Doormat in ( comp:SrvInfo comp:doormats )" class="col-md-6 col-lg-4"&gt;
			&lt;h3&gt;&lt;a data-bind="(href = comp:Doormat foaf:page)"&gt;[[comp:Doormat dct:title]]&lt;/a&gt;&lt;/h3&gt;
			&lt;p&gt;[[comp:Doormat dct:description]]&lt;/p&gt;
		&lt;/div&gt;
	&lt;/div&gt;

	&lt;!-- Sequential (One column only) --&gt;
	&lt;div data-if="comp:SrvInfo comp:srvInfoGroupAs == comp:SrvInfoSequential"&gt;
		&lt;ol&gt;
			&lt;li data-for="comp:Doormat in ( comp:SrvInfo comp:doormats )"&gt;
				&lt;h3&gt;&lt;a data-bind="(href = comp:Doormat foaf:page)"&gt;[[comp:Doormat dct:title]]&lt;/a&gt;&lt;/h3&gt;
				&lt;p&gt;[[comp:Doormat dct:description]]&lt;/p&gt;
			&lt;/li&gt;
		&lt;/ol&gt;
	&lt;/div&gt;

&lt;/section&gt;</code></pre>

<details>
	<summary>Previous version</summary>

	<dl class="dl-horizontal">
		<dt>v4.0.28.1 to v4.0.27 <code>testCase-v4.0.27</code> (2.0)</dt>
		<dd>
			<ul>
				<li>Clearfix removed</li>
				<li>Doormat component explicit name CSS removed</li>
				<li>More services and information when more than 10 doormat, removed</li>
			</ul>
		</dd>
		<dt>v4.0.26  to v4.0.22 <code>testCase-v4.0.22</code> (1.2)</dt>
		<dd>
			<ul>
				<li>Separated column layout from section delimited</li>
			</ul>
		</dd>
		<dt>v4.0.21 <code>testCase-v4.0.21</code> (1.1)</dt>
		<dd>
			<ul>
				<li>Limit default visible result to 10</li>
			</ul>
		</dd>
		<dt>v4.0.20 to v4.0.5 <code>testCase-v4.0.5</code> (1.0)</dt>
		<dd>
			<p>Initial template</p>
		</dd>
	</dl>

	<pre><code>&lt;section&gt;
	&lt;h2&gt;[[comp:SrvInfo dct:title]]&lt;/h2&gt;

	&lt;!-- v4.0.28.1 to v4.0.27
		* Clearfix removed
		* Doormat component explicit name CSS removed
		* More services and information when more than 10 doormat, removed
	--&gt;
	&lt;div data-if="testCase-v4.0.27" class="wb-eqht row"&gt;
		&lt;template data-for="comp:Doormat in ( comp:SrvInfo comp:doormats )" class="col-md-6"&gt;
			&lt;div class="col-md-6"&gt;
				&lt;section&gt;
					&lt;h3 class="h5"&gt;&lt;a data-bind="(href = comp:Doormat foaf:page)"&gt;[[comp:Doormat dct:title]]&lt;/a&gt;&lt;/h3&gt;
					&lt;p&gt;[[comp:Doormat dct:description]]&lt;/p&gt;
				&lt;/section&gt;
			&lt;/div&gt;
		&lt;/template&gt;
	&lt;/div&gt;

	&lt;!-- v4.0.26  to v4.0.22
		* Separated column layout from section delimited
	--&gt;
	&lt;div data-if="testCase-v4.0.22" class="row"&gt;
		&lt;template data-for="comp:Doormat in ( comp:SrvInfo comp:doormats )" class="col-md-6"&gt;
			&lt;div data-if="IterationIndex &lt;= 10" class="col-md-6"&gt;
				&lt;section class="gc-drmt"&gt;
					&lt;h3 class="h5"&gt;&lt;a data-bind="(href = comp:Doormat foaf:page)"&gt;[[comp:Doormat dct:title]]&lt;/a&gt;&lt;/h3&gt;
					&lt;p&gt;[[comp:Doormat dct:description]]&lt;/p&gt;
				&lt;/section&gt;
			&lt;/div&gt;
			&lt;div data-if="IterationIndex mod( 2 )" class="clearfix"&gt;&lt;/div&gt;
			&lt;template data-if="IterationIndex &gt; 10"&gt;
				&lt;details class="mrgn-tp-md brdr-0"&gt;
					&lt;summary class="btn btn-default text-center"&gt;Show more services and informations&lt;/summary&gt;
					&lt;div class="row"&gt;
						&lt;template data-for="comp:Doormat in IterationCollection"&gt;
							&lt;div class="col-md-6"&gt;
								&lt;section class="gc-drmt"&gt;
									&lt;h3 class="h5"&gt;&lt;a data-bind="(href = comp:Doormat foaf:page)"&gt;[[comp:Doormat dct:title]]&lt;/a&gt;&lt;/h3&gt;
									&lt;p&gt;[[comp:Doormat dct:description]]&lt;/p&gt;
								&lt;/section&gt;
							&lt;/div&gt;
							&lt;div data-if="IterationIndex mod( 2 )" class="clearfix"&gt;&lt;/div&gt;
						&lt;/template&gt;
					&lt;/div&gt;
				&lt;/details&gt;
			&lt;/template&gt;
		&lt;/template&gt;
	&lt;/div&gt;

	&lt;!-- v4.0.21
		* Limit default visible result to 10
	--&gt;
	&lt;div data-if="testCase-v4.0.21" class="wb-eqht row"&gt;
		&lt;template data-for="comp:Doormat in ( comp:SrvInfo comp:doormats )" class="col-md-6"&gt;
			&lt;section data-if="IterationIndex &lt;= 10" class="col-md-6 gc-drmt"&gt;
				&lt;h3 class="h5"&gt;&lt;a data-bind="(href = comp:Doormat foaf:page)"&gt;[[comp:Doormat dct:title]]&lt;/a&gt;&lt;/h3&gt;
				&lt;p&gt;[[comp:Doormat dct:description]]&lt;/p&gt;
			&lt;/section&gt;
			&lt;div data-if="IterationIndex mod( 2 )" class="clearfix"&gt;&lt;/div&gt;
			&lt;template data-if="IterationIndex &gt; 10"&gt;
				&lt;details class="mrgn-tp-md brdr-0"&gt;
					&lt;summary class="btn btn-default text-center"&gt;Show more services and informations&lt;/summary&gt;
					&lt;div class="row"&gt;
						&lt;template data-for="comp:Doormat in IterationCollection"&gt;
							&lt;section class="col-md-6 gc-drmt"&gt;
									&lt;h3 class="h5"&gt;&lt;a data-bind="(href = comp:Doormat foaf:page)"&gt;[[comp:Doormat dct:title]]&lt;/a&gt;&lt;/h3&gt;
									&lt;p&gt;[[comp:Doormat dct:description]]&lt;/p&gt;
							&lt;/section&gt;
							&lt;div data-if="IterationIndex mod( 2 )" class="clearfix"&gt;&lt;/div&gt;
						&lt;/template&gt;
					&lt;/div&gt;
				&lt;/details&gt;
			&lt;/template&gt;
		&lt;/template&gt;
	&lt;/div&gt;

	&lt;!-- v4.0.20 to v4.0.5 --&gt;
	&lt;div data-if="testCase-v4.0.5" class="row"&gt;
		&lt;template data-for="comp:Doormat in ( comp:SrvInfo comp:doormats )" class="col-md-6"&gt;
			&lt;section class="col-md-6"&gt;
				&lt;h3 class="h5"&gt;&lt;a data-bind="(href = comp:Doormat foaf:page)"&gt;[[comp:Doormat dct:title]]&lt;/a&gt;&lt;/h3&gt;
				&lt;p&gt;[[comp:Doormat dct:description]]&lt;/p&gt;
			&lt;/section&gt;
			&lt;div data-if="IterationIndex mod( 2 )" class="clearfix"&gt;&lt;/div&gt;
		&lt;/template&gt;
	&lt;/div&gt;
&lt;/section&gt;</code></pre>
</details>

<h3>Visual rendering (v1.1)</h3>

<dl>
	<dt>Doormat header <code>comp:Doormat dct:title</code></dt>
	<dd>
		<ul>
			<li>Same style as the heading level 5: Lato, 20px, bold</li>
			<li>Set the margin top as the same as heading level 5 (h5)</li>
			<li>Set the margin bottom to be small: 5px</li>
		</ul>
	</dd>
	<dt>Doormat description <code>comp:Doormat dct:description</code></dt>
	<dd>
		<ul>
			<li>Desktop: Noto sans, 17px, plain text</li>
			<li>Smaller devices: Noto sans, 19px, plain text</li>
		</ul>
	</dd>
</dl>

<details>
	<summary>Previous version</summary>

	<dl class="dl-horizontal">
		<dt>on and prior v4.0.29 (1.0)</dt>
		<dd>Doormat header <code>comp:Doormat dct:title</code> is the same style as the heading level 5</dd>
	</dl>
</details>

<h3>Schema (v1.1)</h3>
<pre><code>#
# Schema of the Service and Information component
#

@prefix rdf: &lt;http://www.w3.org/1999/02/22-rdf-syntax-ns#&gt; .
@prefix rdfs: &lt;http://www.w3.org/2000/01/rdf-schema#&gt; .
@prefix xsd: &lt;http://www.w3.org/2001/XMLSchema#&gt; .
@prefix dct: &lt;http://purl.org/dc/terms/&gt; .
@prefix skos: &lt;http://www.w3.org/2004/02/skos/core#&gt; .
@prefix wms: &lt;http://vocab.canada.ca/wms&gt; .
@prefix comp: &lt;http://vocab.canada.ca/wms/component&gt; .


comp:SrvInfo
	dct:issued "2018-12-28"^^xsd:date ;
	a rdfs:Class, wms:Component ;
	wms:componentName "gc-srvinfo" ;
	rdfs:label "Service and information"@en ;
	rdfs:label "Service et renseignements"@fr ;
	rdfs:isDefinedBy &lt;https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-information-architecture-specification/common-design-patterns.html#services-information&gt;@en;
	rdfs:isDefinedBy &lt;https://www.canada.ca/fr/secretariat-conseil-tresor/services/communications-gouvernementales/specifications-contenu-architecture-information-canada/configurations-conception-communes.html#services-renseignements&gt;@fr;

comp:Doormat
	dct:issued "2018-12-28"^^xsd:date ;
	a rdfs:Class, wms:Component ;
	rdfs:label "Doormat link"@en ;
	rdfs:label "Liens avec description connexe"@fr ;

comp:doormats
	dct:issued "2018-12-28"^^xsd:date ;
	a rdf:Property ;
	rdfs:domains comp:SrvInfo ;
	rdfs:range comp:Doormat .

comp:srvInfoGroupAs
	dct:issued "2018-12-28"^^xsd:date ;
	rdfs:label "Type for this group of doormat links"@en ;
	rdfs:domains comp:SrvInfo ;
	rdfs:range comp:SrvInfoDemand ;
	rdfs:range comp:SrvInfoSequential ;
	rdfs:range comp:SrvInfoSubheading .

comp:SrvInfoDemand
	a rdfs:Class ;
	rdfs:label "Demand-based"@en .

comp:SrvInfoSequential
	a rdfs:Class ;
	rdfs:label "Demand-based"@en .

comp:SrvInfoSubheading
	a rdfs:Class ;
	rdfs:label "Demand-based"@en .

comp:srvInfoCol
	dct:issued "2018-12-31"^^xsd:date ;
	rdfs:label "Column layout rendering"@en ;
	a rdf:Property ;
	rdfs:range comp:SrvInfo1Col ;
	rdfs:range comp:SrvInfo2Col ;
	rdfs:range comp:SrvInfo3Col .

comp:SrvInfo1Col
	a rdfs:Class ;
	rdfs:label "One Column"@en .

comp:SrvInfo2Col
	a rdfs:Class ;
	rdfs:label "Two Column"@en .

comp:SrvInfo3Col
	a rfds:Class ;
	rdfs:label "Three Column"@en
	rdfs:comment "Used essentially for the home page" .

</code></pre>

<p>Shapes graphs</p>
<pre><code>#
# Shape graph of the Service and Information component
#

@prefix sh: &lt;http://www.w3.org/ns/shacl#&gt; .
@prefix dct: &lt;http://purl.org/dc/terms/&gt; .
@prefix foaf: &lt;http://xmlns.com/foaf/0.1/&gt; .
@prefix comp: &lt;http://vocab.canada.ca/wms/component&gt; .

comp:SrvInfoShape
	a sh:NodeShape ;
	sh:targetClass comp:SrvInfo ;
	sh:and (
		[
			sh:path dct:title ;
			sh:uniqueLang true ;
			sh:severity sh:Violation ;
		]
		[
			sh:path comp:doormats ;
			sh:minExclusive 0 ;
			sh:severity sh:Warning ;
		]
	)
	sh:property [
		sh:path comp:srvInfoGroupAs ;
		sh:in ( comp:SrvInfoDemand comp:SrvInfoSequential comp:SrvInfoSubheading ) ;
		sh:severity sh:Violation ;
		sh:defaultValue comp:SrvInfoSubheading ;
	]
	sh:property [
		sh:path comp:srvInfoCol ;
		sh:in ( comp:SrvInfo1Col comp:SrvInfo2Col comp:SrvInfo3Col ) ;
		sh:severity sh:Violation ;
		sh:defaultValue comp:SrvInfo2Col ;
	] .

comp:DoormatShape
	a sh:NodeShape ;
	sh:targetClass comp:Doormat ;
	sh:and (
		[
			sh:path dct:title ;
			sh:uniqueLang true ;
			sh:severity sh:Violation ;
		]
		[
			sh:path dct:description ;
			sh:uniqueLang true ;
			sh:severity sh:Violation ;
		]
		[
			sh:path foaf:page ;
			sh:uniqueLang true ;
			sh:severity sh:Violation ;
		]
	) .</code></pre>

<details>
	<summary>Previous version</summary>
	<dl class="dl-horizontal">
		<dt>on and prior v4.0.29 (1.0)</dt>
		<dd>
			<p>Same as 1.1 without:</p>
			<ul>
				<li><code>comp:srvInfoGroupAs</code></li>
				<li><code>comp:SrvInfoDemand</code></li>
				<li><code>comp:SrvInfoSequential</code></li>
				<li><code>comp:SrvInfoSubheading</code></li>
				<li><code>comp:srvInfoCol</code></li>
				<li><code>comp:SrvInfo1Col</code></li>
				<li><code>comp:SrvInfo2Col</code></li>
				<li><code>comp:SrvInfo3Col</code></li>
			</ul>
		</dd>
	</dl>
</details>

<h4>JSON-LD sample</h4>
<pre><code>{
	"@context": {
		"foaf": "http://xmlns.com/foaf/0.1/",
		"dct": "http://purl.org/dc/terms/",
		"comp": "http://vocab.canada.ca/wms/component"
	},
	"dct:title": "Services et renseignements",
	"comp:srvInfoGroupAs": "comp:SrvInfoDemand",
	"comp:srvInfoCol": "comp:SrvInfo2Col",
	"comp:doormats": [
		{
			"foaf:page": "https://www.canada.ca/doormat/link",
			"dct:title": "[Doormat title]",
			"dct:description": "[Doormat description]"
		},
		{
			"foaf:page": "https://www.canada.ca/doormat/link/2",
			"dct:title": "[Doormat title 2]",
			"dct:description": "[Doormat description 2]"
		},
		{
			"foaf:page": "https://www.canada.ca/doormat/link/3",
			"dct:title": "[Doormat title 3]",
			"dct:description": "[Doormat description 3]"
		}
	]
}
</code></pre>

<h2>Reference</h2>
<ul>
	<li><a href="https://www.w3.org/TR/shacl/">SHACL Shapes Constraint Language (https://www.w3.org/TR/shacl/)</a></li>
</ul>
