<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<meta charset="utf-8">
<!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
		wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
<title>Canada.ca theme - Canada.ca</title>
<meta http-equiv="refresh" content="0;https://wet-boew.github.io/gcweb-compiled-demos/wetboew-demos/wb-jsonmanager/jsonmanager-en.html" />
</head>
<body>
<p>This page has moved to <a href="https://wet-boew.github.io/gcweb-compiled-demos/wetboew-demos/wb-jsonmanager/jsonmanager-en.html">wet-boew.github.io/gcweb-compiled-demos/wetboew-demos/wb-jsonmanager/jsonmanager-en.html</a>.</p>
</body>
</html>
