
// Removes styling from the current WET4 Alert
%alert-first-child-before-disable {
	& {
		> {
			:first-child {
				&::before {
					color: inherit;
					content: none;
				}
			}
		}
	}
}

@mixin alert-type($color, $content) {
	border-color: $color;
	border-image: linear-gradient(to bottom, $color 16px, $color 16px, transparent 16px, transparent 48px, $color 48px, $color 48px) 1 100%;

	&::before {
		color: $color;
		content: $content;
	}
}

.alert {
	background-clip: content-box;
	background-color: inherit;
	border-left: 6px solid #000;
	margin-bottom: 23px;
	margin-left: 10px;
	padding: 0 0 0 15px;

	> {
		p, ul, ol {
			margin-bottom: 0px;
		}

		* {
			margin-left: 15px;
		}
	}

	details {
		margin-left: .5em;
		padding-top: 15px;
	}

	> {
		:first-child:not(details) {
			margin-top: auto;
			padding-top: 15px;
		}

		:last-child {
			padding-bottom: 25px;
		}
	}

	&::before {
		display: flex;
		font-family: "Glyphicons Halflings";
		font-size: 26px;
		line-height: 2.3em;
		margin-left: -1.27em;
		padding: 2px;
		position: absolute;
	}

	> :first-child {
		margin-left: 15px;
	}
}

.alert-info {
	@include alert-type($alert-info-color, "\e086");
	@extend %alert-first-child-before-disable;
}

.alert-success {
	@include alert-type($alert-success-color, "\e084");
	@extend %alert-first-child-before-disable;
}

.alert-warning {
	@include alert-type($alert-warning-color, "\e107");
	@extend %alert-first-child-before-disable;
}

.alert-danger {
	@include alert-type($alert-danger-color, "\e101");
	@extend %alert-first-child-before-disable;
}
