/*
 * Components styles
 */

// Step by step navigation used on Advanced service template
.gc-stp-stp {
	border-bottom: solid 1px #ccc;
	margin-bottom: 30px;
	margin-top: 15px;
}

// theme default color
.bg-gctheme {
	background-color: #355688;
}

/* H1 short bold red underline */
h1.gc-thickline {
	border-bottom: none;

	&::after {
		border-bottom: .18em solid #af3c43;
		content: "";
		display: block;
		padding-bottom: 8px;
		width: 70px;
	}
}

/*
* Panel title
*/
.panel-title {
	font-size: $font-size-h3;
}

/*
 * Components
 */
@import "alert";
