/*
 *
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 *
 * @title: Data table overrides
 *
 */

.dataTables_wrapper .top {
	font-size: 17px; // To ensure the controls don't overflow on a second row in a col-md-8
}

.dataTables_wrapper .top [type=search]{
	max-width: 205px;
}
