/*
 * wet-boew plugin CSS overrides
 */

//
// Multimedia player overrides
//

.wb-mltmd {
	margin-bottom: 10px;
	margin-top: 10px;

	&.cc_on {
		.wb-mm-cc {
			height: calc(#{1.65 * $mm-cc-lines}em + #{$mm-cc-padding * 2});
		}
	}
}

.wb-mltmd.video:not(.playing):not(.waiting)
.display::after {
	line-height: 1.5em;
}

.wb-mm-cc {
	&:before,
	div {
		height: #{1.65 * $mm-cc-lines}em;
	}
}

.wb-mm-ctrls .wb-mm-txtonly p {
	white-space: nowrap;
}

//
// Tables (DataTables)
//

.dataTables_wrapper .top {
	font-size: 17px; // To ensure the controls don't overflow on a second row in a col-md-8
}

.dataTables_wrapper .top [type=search]{
	max-width: 205px;
}
