/*
 * Search
 */
#wb-srch,
.srchbox {
	padding-top: 1em;

	.submit {
		position: absolute;
		right: 15px;
		top: 1em;
	}

	input,
	button {
		border-radius: 0;
	}

	button {
		background-color: #26374a;
		border: 0;
		border-bottom: #26374a solid 1px;
		font-size: 17px;

		&:hover,
		&:focus,
		&:active {
			background: #444;
		}
	}

	.glyphicon {
		top: auto;
		vertical-align: middle;
	}

	input {
		border-color: #e0e0e0;
		border-style: solid;
		box-shadow: none;
		color: #555;
		position: relative;
	}

	.wb-srch-qry {
		width: 100%;

		input {
			max-width: inherit;
			width: 100%;
		}
	}
}

#wb-srch-sub {
	margin-left: 5px;
}

[dir=rtl] {
	#wb-srch {
		text-align: left;

		input {
			margin-left: -4px;
			margin-right: auto;
		}
	}

	#wb-srch-sub {
		margin: {
			left: 0;
			right: 5px;
		}
	}
}

input#wb-srch-q {
	width: 100%;
}
