---
title: "[Nom du secrétaire parlementaire]"
description: Exemple pratique des pages de profil des secrétaires parlementaires simplifiées
language: fr
altLangPage: parliamentary-secretaries-reduced-en.html
dateModified: 2021-12-02
share: true
---

<div class="row">
	<div class="col-md-3">
		<p class="mrgn-tp-lg"><img src="img/265x352.png" alt="" class="img-responsive"></p>
	</div>
	<div class="col-md-9">
		<p class="mrgn-tp-lg"><strong>Secrétaire parlementaire du/de la <a href="#">[nom du ou de la ministre du portefeuille]</a></strong></p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore amet ducimus nihil, voluptate quibusdam? Excepturi in aspernatur rem ipsam aperiam voluptates fugit officiis culpa, ratione, et maxime impedit.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore amet ducimus nihil, voluptate quibusdam? Excepturi in aspernatur rem ipsam aperiam voluptates fugit officiis culpa, ratione, et maxime impedit.</p>
	</div>
</div>
