---
{
	"altLangPage": "gc-follow-us-en.html",
	"dateModified": "2024-07-11",
	"description": "Exemples pratiques pour le bloc des réseaux de médias sociaux.",
	"language": "fr",
	"title": "Bloc des réseaux de médias sociaux",
	"breadcrumbs": [
		{ "title": "Bloc des réseaux de médias sociaux", "link": "components/gc-follow-us/gc-follow-us-doc-fr.html" }
	]
}
---

<div class="wb-prettify all-pre hide"></div>

<h2 class="mrgn-bttm-lg">Disposition verticale</h2>
{%- include gc-follow-us/gc-follow-us.html -%}

<details>
	<summary>Code</summary>
	{% highlight html %}{%- include gc-follow-us/gc-follow-us.html -%}{% endhighlight %}
</details>

<h2 class="mrgn-bttm-lg">Disposition horizontale</h2>
{%- include gc-follow-us/gc-follow-us.html isInline=true -%}

<details>
	<summary>Code</summary>
	{% highlight html %}{%- include gc-follow-us/gc-follow-us.html isInline=true -%}{% endhighlight %}
</details>

<h2 class="mrgn-bttm-lg">Disposition verticale avec « D'autres moyens de rester en contact »</h2>
{%- include gc-follow-us/gc-follow-us.html moreWays=true -%}

<details>
	<summary>Code</summary>
	{% highlight html %}{%- include gc-follow-us/gc-follow-us.html moreWays=true -%}{% endhighlight %}
</details>

<h2 class="mrgn-bttm-lg">Disposition horizontale avec « D'autres moyens de rester en contact »</h2>
{%- include gc-follow-us/gc-follow-us.html isInline=true moreWays=true -%}

<details>
	<summary>Code</summary>
	{% highlight html %}{%- include gc-follow-us/gc-follow-us.html isInline=true moreWays=true -%}{% endhighlight %}
</details>
