---
{
	"altLangPage": "gc-follow-us-fr.html",
	"dateModified": "2024-02-02",
	"description": "Working examples for the social media channels design pattern.",
	"language": "en",
	"title": "Social media channels",
	"breadcrumbs": [
		{ "title": "Social media channels", "link": "components/gc-follow-us/gc-follow-us-doc-en.html" }
	]
}
---

<div class="wb-prettify all-pre hide"></div>

<h2 class="mrgn-bttm-lg">Vertical layout</h2>
{%- include gc-follow-us/gc-follow-us.html isInline=false -%}

<details>
	<summary>Code</summary>
	{% highlight html %}{%- include gc-follow-us/gc-follow-us.html isInline=false -%}{% endhighlight %}
</details>

<h2 class="mrgn-bttm-lg">Horizontal layout</h2>
{%- include gc-follow-us/gc-follow-us.html isInline=true -%}

<details>
	<summary>Code</summary>
	{% highlight html %}{%- include gc-follow-us/gc-follow-us.html isInline=true -%}{% endhighlight %}
</details>
