---
{
	"title": "Panels",
	"language": "en",
	"altLangPage": "panels-fr.html",
	"description": "Working examples of WET-BOEW Panels component",
	"dateModified": "2025-09-17"
}
---
<div class="wb-prettify all-pre"></div>

<h2>Stacking options</h2>
<p>Use to create  various container types. A panel can be broken up into a <code>.panel</code>, <code>.panel-heading</code>, <code>.panel-title</code>, <code>panel-body</code> and <code>.panel-footer</code>. Only the <code>.panel</code> is required. All the rest are optional.</p>

<div class="row">
	<div class="col-sm-6 col-lg-3">
		<p>Padded content:</p>
		<div class="panel panel-default">
			<div class="panel-body">
				<p>Content</p>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-lg-3">
		<p>Full-width content:</p>
		<div class="panel panel-default">
			<table class="table">
				<caption class="wb-inv">Caption text</caption>
				<thead>
					<tr>
						<th>Table header</th>
						<th>Table header</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Table data</td>
						<td>Table data</td>
					</tr>
					<tr>
						<td>Table data</td>
						<td>Table data</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="col-sm-6 col-lg-3">
		<p>Padded plus full-width content:</p>
		<div class="panel panel-default">
			<div class="panel-body">
				<p>Content</p>
			</div>
			<table class="table">
				<caption class="wb-inv">
					Caption  text
				</caption>
				<thead>
					<tr>
						<th>Table header</th>
						<th>Table header</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Table data</td>
						<td>Table data</td>
					</tr>
					<tr>
						<td>Table data</td>
						<td>Table data</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="col-sm-6 col-lg-3">
		<p>Add a heading and/or footer:</p>
		<div class="panel panel-default">
			<header class="panel-heading">
				<h3 class="panel-title">Panel title</h3>
			</header>
			<div class="panel-body">
				<p>Content</p>
			</div>
			<footer class="panel-footer">Panel footer</footer>
		</div>
	</div>
</div>

<h3>Code</h3>
<dl>
	<dt>Padded content:</dt>
	<dd><pre><code>&lt;div class="panel panel-default"&gt;
	&lt;div class="panel-body"&gt;
		&lt;p&gt;Content&lt;/p&gt;
	&lt;/div&gt;
&lt;/div&gt;</code></pre></dd>
	<dt>Full-width content:</dt>
	<dd><pre><code>&lt;div class="panel panel-default"&gt;
	&lt;table class="table"&gt;
		&lt;caption class="wb-inv"&gt;Caption text&lt;/caption&gt;
		&lt;thead&gt;
			&lt;tr&gt;
				&lt;th&gt;Table header&lt;/th&gt;
				&lt;th&gt;Table header&lt;/th&gt;
			&lt;/tr&gt;
		&lt;/thead&gt;
		&lt;tbody&gt;
			&lt;tr&gt;
				&lt;td&gt;Table data&lt;/td&gt;
				&lt;td&gt;Table data&lt;/td&gt;
			&lt;/tr&gt;
			&lt;tr&gt;
				&lt;td&gt;Table data&lt;/td&gt;
				&lt;td&gt;Table data&lt;/td&gt;
			&lt;/tr&gt;
		&lt;/tbody&gt;
	&lt;/table&gt;
&lt;/div&gt;</code></pre></dd>
	<dt>Padded plus full-width content:</dt>
	<dd><pre><code>&lt;div class="panel panel-default"&gt;
	&lt;div class="panel-body"&gt;
		&lt;p&gt;Content&lt;/p&gt;
	&lt;/div&gt;
	&lt;table class="table"&gt;
		&lt;caption class="wb-inv"&gt;
			Caption  text
		&lt;/caption&gt;
		&lt;thead&gt;
			&lt;tr&gt;
				&lt;th&gt;Table header&lt;/th&gt;
				&lt;th&gt;Table header&lt;/th&gt;
			&lt;/tr&gt;
		&lt;/thead&gt;
		&lt;tbody&gt;
			&lt;tr&gt;
				&lt;td&gt;Table data&lt;/td&gt;
				&lt;td&gt;Table data&lt;/td&gt;
			&lt;/tr&gt;
			&lt;tr&gt;
				&lt;td&gt;Table data&lt;/td&gt;
				&lt;td&gt;Table data&lt;/td&gt;
			&lt;/tr&gt;
		&lt;/tbody&gt;
	&lt;/table&gt;
&lt;/div&gt;</code></pre></dd>
	<dt>Add a heading and/or footer:</dt>
	<dd><pre><code>&lt;div class="panel panel-default"&gt;
	&lt;header class="panel-heading"&gt;
		&lt;h3 class="panel-title"&gt;Panel title&lt;/h3&gt;
	&lt;/header&gt;
	&lt;div class="panel-body"&gt;
		&lt;p&gt;Content&lt;/p&gt;
	&lt;/div&gt;
	&lt;footer class="panel-footer"&gt;Panel footer&lt;/footer&gt;
&lt;/div&gt;</code></pre></dd>
</dl>

<h2>Panel appearences</h2>
<dl>
	<dt>Default panel</dt>
	<dd><p>Use to spotlight general information/actions within a self-contained box.</p>
		<section class="panel panel-default mrgn-bttm-0">
			<header class="panel-heading">
				<h3 class="panel-title">Panel title</h3>
			</header>
			<div class="panel-body">
				<p>Panel content</p>
			</div>
		</section>
	</dd>
	<dt>Primary panel</dt>
	<dd><p>Use to spotlight general information/actions within a self-contained box.</p>
		<section class="panel panel-primary mrgn-bttm-0">
			<header class="panel-heading">
				<h3 class="panel-title">Panel title</h3>
			</header>
			<div class="panel-body">
				<p>Panel content</p>
			</div>
		</section>
	</dd>
	<dt>Success panel</dt>
	<dd><p>Use to spotlight correct information/actions within a self-contained box.</p>
		<section class="panel panel-success mrgn-bttm-0">
			<header class="panel-heading">
				<h3 class="panel-title">Panel title</h3>
			</header>
			<div class="panel-body">
				<p>Panel content</p>
			</div>
		</section>
	</dd>
	<dt>Info panel</dt>
	<dd><p>Use to spotlight specialized information/actions within a self-contained box.</p>
		<section class="panel panel-info mrgn-bttm-0">
			<header class="panel-heading">
				<h3 class="panel-title">Panel title</h3>
			</header>
			<div class="panel-body">
				<p>Panel content</p>
			</div>
		</section>
	</dd>
	<dt>Warning panel</dt>
	<dd><p>Use to spotlight warning information/actions within a self-contained box.</p>
		<section class="panel panel-warning mrgn-bttm-0">
			<header class="panel-heading">
				<h3 class="panel-title">Panel title</h3>
			</header>
			<div class="panel-body">
				<p>Panel content</p>
			</div>
		</section>
	</dd>
	<dt>Danger panel</dt>
	<dd><p>Use to spotlight dangerous information/actions within a self-contained box.</p>
	<section class="panel panel-danger mrgn-bttm-0">
		<header class="panel-heading">
			<h3 class="panel-title">Panel title</h3>
		</header>
		<div class="panel-body">
			<p>Panel content</p>
		</div>
		</section>
	</dd>
</dl>

<h3>Code</h3>
<dl>
	<dt>Default panel</dt>
	<dd>
		<p>Use to spotlight general information/actions within a self-contained box.</p>
	<pre><code>&lt;section class="panel panel-default mrgn-bttm-0"&gt;
	&lt;header class="panel-heading"&gt;
		&lt;h3 class="panel-title"&gt;Panel title&lt;/h3&gt;
	&lt;/header&gt;
	&lt;div class="panel-body"&gt;
		&lt;p&gt;Panel content&lt;/p&gt;
	&lt;/div&gt;
&lt;/section&gt;</code></pre>
	</dd>
	<dt>Primary panel</dt>
	<dd>
		<p>Use to spotlight general information/actions within a self-contained box.</p>
	<pre><code>&lt;section class="panel panel-primary mrgn-bttm-0"&gt;
	&lt;header class="panel-heading"&gt;
		&lt;h3 class="panel-title"&gt;Panel title&lt;/h3&gt;
	&lt;/header&gt;
	&lt;div class="panel-body"&gt;
		&lt;p&gt;Panel content&lt;/p&gt;
	&lt;/div&gt;
&lt;/section&gt;</code></pre>
	</dd>
	<dt>Success panel</dt>
	<dd><p>Use to spotlight correct information/actions within a self-contained box.</p>
	<pre><code>&lt;section class="panel panel-success mrgn-bttm-0"&gt;
	&lt;header class="panel-heading"&gt;
		&lt;h3 class="panel-title"&gt;Panel title&lt;/h3&gt;
	&lt;/header&gt;
	&lt;div class="panel-body"&gt;
		&lt;p&gt;Panel content&lt;/p&gt;
	&lt;/div&gt;
&lt;/section&gt;</code></pre>
	</dd>
	<dt>Info panel</dt>
	<dd><p>Use to spotlight specialized information/actions within a self-contained box.</p>
	<pre><code>&lt;section class="panel panel-info mrgn-bttm-0"&gt;
	&lt;header class="panel-heading"&gt;
		&lt;h3 class="panel-title"&gt;Panel title&lt;/h3&gt;
	&lt;/header&gt;
	&lt;div class="panel-body"&gt;
		&lt;p&gt;Panel content&lt;/p&gt;
	&lt;/div&gt;
&lt;/section&gt;</code></pre>
	</dd>
	<dt>Warning panel</dt>
	<dd><p>Use to spotlight warning information/actions within a self-contained box.</p>
	<pre><code>&lt;section class="panel panel-warning mrgn-bttm-0"&gt;
	&lt;header class="panel-heading"&gt;
		&lt;h3 class="panel-title"&gt;Panel title&lt;/h3&gt;
	&lt;/header&gt;
	&lt;div class="panel-body"&gt;
		&lt;p&gt;Panel content&lt;/p&gt;
	&lt;/div&gt;
&lt;/section&gt;</code></pre>
	</dd>
	<dt>Danger panel</dt>
	<dd><p>Use to spotlight dangerous information/actions within a self-contained box.</p>
<pre><code>&lt;section class="panel panel-danger mrgn-bttm-0"&gt;
	&lt;header class="panel-heading"&gt;
		&lt;h3 class="panel-title"&gt;Panel title&lt;/h3&gt;
	&lt;/header&gt;
	&lt;div class="panel-body"&gt;
		&lt;p&gt;Panel content&lt;/p&gt;
	&lt;/div&gt;
&lt;/section&gt;</code></pre>
	</dd>
</dl>

<h2>Reference</h2>
<p><a href="https://wet-boew.github.io/wet-boew-styleguide/design/panels-en">Web Experience Toolkit Style Guide - Panels</a></p>
