/*
	Global Default Body styling
*/
body {
	background: #f8f8f8;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: 300;
}

a {
	color: $button-blue;

	img {
		&.thumbnail {
			&:hover {
				box-shadow: 1px 1px 5px #999;
			}
		}
	}
	
	&.no-undrln {
		text-decoration: none;
	}
}

.form-control {
	&::-moz-placeholder {
		color: #5c5c5c !important;
	}

	&::-webkit-input-placeholder {
		color: #5c5c5c !important;
	}

	&:-moz-placeholder { /* Firefox 18- */
		color: #5c5c5c !important;
	}

	&:-ms-input-placeholder {
		color: #5c5c5c !important;
	}
}

input[placeholder],
[placeholder],
*[placeholder] {
	color: #5c5c5c !important;
}

/* Theme base styles */
%defaults-font-family {
	font-family: Helvetica, Arial, sans-serif;
}

h1 {
	@extend %defaults-font-family;
	border-bottom: 1px solid $border-red;
	font-size: 34px;
	margin-bottom: 0.2em;
	margin-top: 1.25;
	padding-bottom: 0.2em;
}

.h1 {
	@extend %defaults-font-family;
}

//Heading font-sizes
h2,
.h2 {
	@extend %defaults-font-family;
	font-size: 26px;
}

h3,
.h3 {
	@extend %defaults-font-family;
	font-size: 22px;
}

h4,
.h4 {
	@extend %defaults-font-family;
	font-size: 18px;
}

h5,
.h5 {
	@extend %defaults-font-family;
	font-size: 16px;
}

h6,
.h6 {
	@extend %defaults-font-family;
	font-size: 14px;
}

.h3,
.h4,
.h5,
.h6 {
	border: 0;
}

table {
	border: 1px solid #ddd;
	margin-bottom: 20px;
	width: 100%;
}

th {
	background-color: #ccc;
	border: 1px solid #ddd;
	color: #000;
	font-weight: normal;
	padding: 8px;

	a {
		color: #000;

		&:hover,
		&:focus {
			color: #000;
			text-decoration: none;
		}
	}
}

td {
	border: 1px solid #ddd;
	padding: 8px;
}

caption {
	font-weight: bold;
}

aside {
	//Related site links before the footer features and after the main
	&.site-related {
		h2 {
			font-size: 28px;
			margin-top: 0;
		}
	}

	//Footer featuresr
	&.features {
		background-color: $wbGrayLight;
		background-image: linear-gradient(to bottom, $wbGrayLight 0%, #eaebed 100%);
		padding-bottom: 1.5em;

		h2 {
			border: 0;
		}

		figcaption {
			font-weight: 700;
			margin-top: 3px;
		}

		.thumbnail {
			background-color: transparent;
			border: 0;
			border-radius: 0;
			margin-bottom: 1.5em;
			padding: 10px 10px 0;

			img {
				border: solid 1px #eee;
				max-width: 100%;
			}
		}
	}
}

/* Heading with links inside of rows */

.departments,
.priorities {
	a {
		h2,
		h3,
		h4 {
			font-size: $heading-link;
		}
	}
}

.sect-lnks {
	h2,
	h3,
	h4 {
		a {
			font-size: $heading-link;
		}
	}
}

.gc-prtts,
.gc-nttvs {
	a {
		h2,
		h3,
		h4 {
			font-size: $heading-link;
		}
	}
}

.gc-nws {
	a {
		h2,
		h3,
		h4 {
			font-size: $heading-link;
			margin-top: 15px;
		}
	}
}

.secondary,
.home {
	.h1 {
		border-bottom: 1px solid $border-red;
		font-size: 27px;
		margin-bottom: 0.2em;
		padding-bottom: 0.2em;
	}

	.row {
		h2,
		h3,
		h4 {
			a {
				font-size: $heading-link;
			}
		}
		
		a {
			h2,
			h3,
			h4 {
				font-size: $heading-link;				
			}
		}
	}
}

/* Thumbnail Treatments */
.thumbnail {
	background: $profile-gray;
	border-color: #eee;
	border-radius: 0;
	padding: 5px;

	&:hover {
		img {
			box-shadow: 1px 1px 5px #999;
		}
	}
}

.pagedetails {
	padding-bottom: 2em;
	padding-top: 2em;

	.datemod {
		padding-bottom: 7px;
		padding-top: 7px;

		#wb-dtmd {
			margin-top: 0;
		}
	}
}

/* IE */
.lt-ie9 {
	h1,
	.h1 {
		font-size: 27px !important;
	}

	h2,
	.h2 {
		font-size: 25px;
	}

	h3,
	.h3 {
		font-size: 22px;
	}

	h4,
	.h4 {
		font-size: 20px;
	}

	h5,
	.h5 {
		font-size: 18px;
	}

	h6,
	.h6 {
		font-size: 16px;
		font-weight: bold;
	}

	// overrides from ie8-wet-boew.css for thumbnails
	.priorities,
	.features {
		.thumbnail {
			display: inline-block;

			> img,
			a > img {
				display: inline-block;
			}
		}
	}

	.priorities {
		.thumbnail {
			background-color: $profile-gray;
		}
	}

	/*
	 Normalizes IE8 behaviour with floated boxes and border-box model. IE without it reports back an incorrect Offset.
	 */
	.sect-lnks {
		vertical-align: top !important;
	}

	/*
	* Fixes width of FIP PNG on Institutional pages
	*/
	.inst-brand {
		img {
			width: 100%;
		}
	}
}
