/*
	Global Default Body styling
*/
@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic&subset=latin,latin-ext");
@import url("https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&subset=latin,latin-ext");

%gcweb-pagedetails-children-margin-top {
	margin-top: .5em;
}

//
// Apply baseline font styling
// For the font smooth, read the justification here: http://wet-boew.github.io/themes-dist/GCWeb/gcweb-theme/index.html#antialiasing
//
html {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

main {
	font-size: 1.25em;
	line-height: 1.7em;

	.pagedetails {
		font-size: 16px;
	}

	.glyphicon {
		top: 2px;
	}
}

blockquote {
	font-size: 1em;
}

//
// Limit the width of the content
//
.cnt-wdth-lmtd main,
main .cnt-wdth-lmtd {
	h2 {
		max-width: 33ch;
	}
	h3 {
		max-width: 50ch;
	}
	h4 {
		max-width: 59ch;
	}
	li {
		max-width: 63ch;
	}
	p, h5, h6, dt, dd {
		max-width: 65ch;
	}

	p, ul, ol, dl {
		margin-bottom: 27.5px;
	}

	li {
		margin-bottom: 10px;
	}

	.lst-spcd > li {
		margin-bottom: 20px;
	}

	.lst-spcd-2 {

		> li {
			margin-bottom: 40px;
		}

		ul,
		ol {
			margin-top: 40px;
		}
	}
}

a {
	color: $button-blue;

	img {
		&.thumbnail {
			&:hover {
				box-shadow: 1px 1px 5px #999;
			}
		}
	}

	&.no-undrln {
		text-decoration: none;
	}
}

// scss-lint:disable QualifyingElement
input[placeholder],
[placeholder],
*[placeholder] {
	color: $input-color-placeholder;
}

// scss-lint:enable QualifyingElement
/* Theme base styles */
%defaults-font-family {
	font-family: "Noto sans", sans-serif;
}
%defaults-alternative-font-family {
	font-family: Lato, sans-serif;
}

h1 {
	border-bottom: 1px solid $border-red;
	margin-bottom: .2em;
	margin-top: 1em;
	padding-bottom: .2em;
}

//Heading font-sizes
h1,
.h1 {
	font-size: 38px;
}

h2,
.h2 {
	font-size: 38px;
}

h3,
.h3 {
	font-size: 26px;
}

h4,
.h4 {
	font-size: 21px;
}

h5,
.h5 {
	font-size: 19px;
}

h6,
.h6 {
	font-size: 19px;
	font-weight: 400;
}

// Font-sizes for navigation page type (Home, Themes, Topic,...)
.secondary, .page-type-nav {
	main {
		font-size: 17px;
		line-height: 26px;
	}

	h1+p, h1+div p {
		font-size: 20px;
		line-height: 34px;
	}

	.h1 {
		border-bottom: 1px solid $border-red;
		font-size: 27px;
		margin-bottom: .2em;
		padding-bottom: .2em;
	}

	h2,
	.h2 {
		font-size: 24px;
	}

	h3,
	.h3,
	h4,
	.h4,
	h5,
	.h5 {
		font-size: 20px;
	}
}


// Common heading style
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6
{
	@extend %defaults-alternative-font-family;
	font-variant-ligatures: no-common-ligatures;
	font-weight: 600;
}

.h3,
.h4,
.h5,
.h6 {
	border: 0;
}


/* Exclude temporary the form element from the font update, keep same style as before
 * - Rational: More testing and various adjustment need to be completed before to apply it
 */
:not(#wb-srch) form, .checkbox, .checkbox-inline, .radio, .radio-inline, form .btn:not(.btn-call-to-action) {
	font-size: 16px;
	line-height: 23px;
}
form .btn:not(.btn-call-to-action), .form-control {
	padding: 6px 12px;
}

/* Force GCWeb release 4.0.29 font style
 *
 * This undo the font style introduced with gcweb v2 new look
 *
 * - Rational: This is to help the adoption of the new desing by allowing adopter to use
 * a special CSS class on content like the one optimized for a desktop at 100% view port
 * Example of content: high profile pages, campaign, application, .....
 *
 * This CSS are going to be removed in a future version
 * Using this CSS hack should be temporary and be used to get some time to adapt the content
 * as per the new font size parameter
 *
 */

.force-style-gcweb-4-0-29 {

	h1 {
		margin-top: 1.25em;
	}

	h1,
	.h1 {
		font-family: Helvetica, Arial, sans-serif;
		font-size: 34px;
	}

	h2,
	.h2 {
		font-family: Helvetica, Arial, sans-serif;
		font-size: 26px;
	}

	h3,
	.h3 {
		font-family: Helvetica, Arial, sans-serif;
		font-size: 22px;
	}

	h4,
	.h4 {
		font-family: Helvetica, Arial, sans-serif;
		font-size: 18px;
	}

	h5,
	.h5 {
		font-family: Helvetica, Arial, sans-serif;
		font-size: 16px;
	}

	h6,
	.h6 {
		font-family: Helvetica, Arial, sans-serif;
		font-size: 14px;
		font-weight: 700;
	}

	.glyphicon {
		top: 1px;
	}
}

.force-style-gcweb-4-0-29 main,
main.force-style-gcweb-4-0-29 {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1em;
	line-height: 1.4375em;
}

main .force-style-gcweb-4-0-29,
.force-style-gcweb-4-0-29 .btn {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 23px;
}
/*
 * END - Force GCWeb release 4.0.29 font style
 *
 */


aside {
	//Related site links before the footer features and after the main
	&.site-related {
		h2 {
			font-size: 28px;
			margin-top: 0;
		}
	}

	//Footer featuresr
	&.features {
		background-color: $wbGrayLight;
		background-image: linear-gradient(to bottom, $wbGrayLight 0%, #eaebed 100%);
		padding-bottom: 1.5em;

		h2 {
			border: 0;
		}

		figcaption {
			font-weight: 700;
			margin-top: 3px;
		}

		.thumbnail {
			background-color: transparent;
			border: 0;
			border-radius: 0;
			margin-bottom: 1.5em;
			padding: 10px 10px 0;

			img {
				border: solid 1px #eee;
				max-width: 100%;
			}
		}
	}
}

// Exclusive home page style
.home {
	/* Home page banner
	 *
	 * Reference in:
	 * - views/_screen-lg-min
	 * - views/_screen-xs-min-to-screen-xs-max
	 * - views/_screen-md-min-to-screen-md-max
	 * - views/_screen-md-max
	 * - views/_screen-xs-max
	 */
	.home-banner {
		background-image: url(https://www.canada.ca/content/dam/canada/carousel/bkg-home-banner.jpg), url(../assets/bkg-home-banner.jpg);
		background-repeat: no-repeat;
		background-size: 100% auto;

		.innerbox {
			background-color: #26374a;
			color:#fff;
			margin: 3em 0px;
			padding: 20px;
			width: 50%;

			h1 {
				border-bottom-width: 4px;
				font-weight: 500;
				margin-top: 10px;
			}
			p {
				margin-top: 15px;
			}
		}
	}

	/* Home page Most requested section
	 *
	 * Reference in:
	 * - views/_screen-sm-max
	 */
	.home-most-requested {
		li {
			@extend %defaults-alternative-font-family;
			font-size: 17px;
			font-weight: 600;
			line-height: 26px;
			margin-top: 0px;
		}
	}

	/* Home page your gov
	 *
	 * Reference in:
	 * - views/_screen-sm-max
	 */
	.home-your-gov {
		background-image: url(https://www.canada.ca/content/dam/canada/carousel/bkg-home-yourgov.jpg), url(../assets/bkg-home-yourgov.jpg);
		background-position: right center;
		background-repeat: no-repeat;
		background-size: 35%;
	}
}
/* well-dark */
.well-dark, .well-dark a.figcaption * :not(figcaption) {
	background-color: #222;
	border-color: #000;
	color: #fff;
}
.well-dark {
	a {
		color: #BCC9D7;
	}

	a:visited {
		color: #D8BFED;
	}
}

/* Heading with links inside of rows */

.departments,
.priorities {
	a {
		h2,
		h3,
		h4 {
			font-size: $heading-link;
		}
	}
}

.sect-lnks {
	h2,
	h3,
	h4 {
		a {
			font-size: $heading-link;
		}
	}
}

/* Deprecated as v4.0.28 */
.gc-nttvs {
	border-top: 1px solid #ccc;
}

/*
 * Feature
 *
 * Deprecated as v4.0.28
 * - style applied for: h2, h3, h4
 * - class .gc-nttvs
 */
.gc-prtts,
.gc-nttvs {
	a {
		text-decoration: none;

		h2,
		h3,
		h4,
		figcaption {
			font-size: $heading-link;
			font-weight: bold;
			margin-top: $heading-link-mrgn-tp;
			text-decoration: underline;
		}

		p:last-child {
			color:black;
		}
	}
}

.gc-nws {
	a {
		h2,
		h3,
		h4 {
			font-size: $heading-link;
			margin-top: 15px;
		}
	}
}

/* Summaries styled as default buttons */
details {
	&[open] {
		> {
			summary {
				&.btn-default {
					border: 1px outset $btn-default-border {
						bottom: {
							left-radius: 4px;
							right-radius: 4px;
						}
					}
				}
			}
		}
	}
}

/*
 * List responsive style
 *
 * It has variant defined for some specific views
 * - views/_screen-lg-min
 * - views/_screen-xs-max
 */
.list-responsive {

	> li {
		float: left;
		padding-right: 5px;
		width: 50%;

		&:nth-child(2n+2) {
			clear:right;
		}
	}

	&:before, &:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
}

/* Double space list items
	Might worth to publish it upstream here instead: https://github.com/wet-boew/wet-boew/blob/master/src/base/lists/_base.scss#L30
 */

.lst-spcd-2 {
	> {
		li {
			margin-bottom: 20px;
		}
	}

	ul,
	ol {
		margin-top: 20px;
	}
}

/* Style only the figcaption as the link */
a.figcaption {

	text-decoration: none;

	* :not( figcaption ) {
		color: #000;
	}

	figure > *:not( blockquote):not( img ):not( table):not( div ) {
		margin-left: .8ch;
		margin-right: .8ch;
	}

	figcaption {
		text-decoration: underline;
	}

}

/* Thumbnail Treatments */
.thumbnail {
	background: $profile-gray;
	border-color: #eee;
	border-radius: 0;
	padding: 5px;

	&:hover {
		img {
			box-shadow: 1px 1px 5px #999;
		}
	}
}

.pagedetails {
	padding-bottom: 2em;
	padding-top: 2em;

	// Needed for backwards compatibility with GCWeb 4.0.26 and below's HTML markup. Remove in GCWeb 4.1+.
	&.row {
		details {
			margin: {
				bottom: .25em;
				left: 1.1em;
				right: 1.1em;
			}
		}
	}

	// Add a top margin to the report a problem link/summary.
	.row {
		div {
			&:first-child {
				a {
					@extend %gcweb-pagedetails-children-margin-top;
				}

				details {
					@extend %gcweb-pagedetails-children-margin-top;
				}
			}
		}
	}

	// Needed for backwards compatibility with GCWeb 4.0.26 and below's HTML markup. Remove in GCWeb 4.1+.
	.datemod {
		padding: {
			bottom: 7px;
			top: 7px;
		}

		#wb-dtmd {
			margin-top: 0;
		}
	}

	.well {
		margin: {
			left: -$details-identation;
			right: -$details-identation;
		}
	}

	details {
		margin-bottom: 0;
	}

	// Add a top margin on the share button (only if its plugin has initialized).
	div {
		+ {
			.wb-share-inited {
				@extend %gcweb-pagedetails-children-margin-top;
			}
		}
	}
}
