/*
	Global Provisional styling

	- Provisional  CSSspecific for view port are defined in the "views/[view port]" theme CSS
*/

.provisional, .experimental {

	/* ------------
	 * Background color
	 *
	 */

	.bg-darker {
		background-color: #000;

		&.well.header-rwd h1 {
			border-bottom-color: #6f6f6f;
		}
	}

	// theme default color
	.bg-gctheme {
		background-color: #355688;

		&.well.header-rwd {
			background-color: #26374a;
		}
	}

	// PinkDay color
	.bg-pnkDy {
		background-color: #AD005F;

		&.well.header-rwd {
			background-color: #570030;
		}
	}

	/* ------------
	 * Background image for heading
	 *
	 */

	.bg-img-hdng {
		background-image: url("../assets/x-blue-line.png");
		background-position: right bottom;
		background-repeat: no-repeat;
		min-height: 60px;
		padding-bottom: 35px;
		padding-right: 80px;
	}

	/* ------------
	 * Utility
	 *
	 */

	.bg-cover, &.bg-cover {
		background-size: cover;
	}


	/* ------------
	 * Theme color
	 *
	 */

	/* Pink day - One day event in April
	 * (with a contrast conforming to Level AAA)
	 */
	&.pnkDy-theme {

		// Page header and Menu
		.gcweb-menu button[aria-haspopup=true],
		#wb-srch button,
		.srchbox button {
			background-color: #AD005F;
			border-color:#AD005F;
		}
		.gcweb-menu button[aria-haspopup=true]:focus, .gcweb-menu button[aria-haspopup=true]:hover,
		#wb-srch button:focus, #wb-srch button:hover,
		.srchbox button:focus, .srchbox button:hover {
			background-color: #570030;
			color: #fff;
		}
		.gcweb-menu,
		.home .gcweb-menu {
			border-top-color: #AD005F;
		}

		// Home page Menu
		.home .gcweb-menu {
			button[aria-haspopup=true] {
				background-color: #ffffff;
				border-color:#ffffff;
			}
			button[aria-haspopup=true] {
				color: #AD005F;
			}
			button[aria-haspopup=true]:focus,
			button[aria-haspopup=true]:hover {
				background-color: #AD005F;
				border-color:#AD005F;
				color: #ffffff;
			}
		}

		// Footer
		#wb-info .landscape {
			background-color: #AD005F;
		}
	}

	/* Dark theme
	 */
	&.dark-theme {

		// Page header and Menu
		.gcweb-menu button[aria-haspopup=true],
		#wb-srch button,
		.srchbox button {
			background-color: #000;
			border-color: #000;
			color: #fff;
		}
		.gcweb-menu button[aria-haspopup=true]:focus, .gcweb-menu button[aria-haspopup=true]:hover,
		#wb-srch button:focus, #wb-srch button:hover,
		.srchbox button:focus, .srchbox button:hover {
			background-color: #000;
			color: #fff;
		}
		.gcweb-menu,
		.home .gcweb-menu {
			border-top-color: #000;
		}

		// Home page Menu
		.home .gcweb-menu {
			button[aria-haspopup=true] {
				background-color: #fff;
				border-color:#fff;
			}
			button[aria-haspopup=true] {
				color: #000;
			}
			button[aria-haspopup=true]:focus,
			button[aria-haspopup=true]:hover {
				background-color: #000;
				border-color:#000;
				color: #fff;
			}
		}

		// Footer
		#wb-info .landscape {
			background-color: #000;
			color: #fff;
		}
	}

}

.provisional {
	//This color will eventually be replaced by the new colors from the alert revamp PR.
	&.icon-warning-light, .icon-warning-light {
		color: #DF7200;
	}

	.alert-info > :first-child::before, .alert-success > :first-child::before, .alert-warning > :first-child::before, .alert-danger > :first-child::before {
		content: none;
	}

	.alert {
		background-color: inherit;
		margin-left: 10px;
		border-left: 6px solid #000;
		padding: 0 0 0 15px;
		background-clip: content-box;
		margin-bottom: 23px;

		> {
			p, .ul, .ol {
				margin-bottom: 0px;
			}

			* {
				margin-left: 15px;
			}
		}

		details {
			margin-left: 0.5em;
			padding-top: 15px;
		}

		> {
			:first-child:not(details) {
				padding-top: 15px;
				margin-top: auto;
			}

			:last-child {
				padding-bottom: 25px;
			}
		}

		&:before {
			font-size: 26px;
			margin-left: -1.27em;
			padding: 2px;
			line-height: 2.3em;
			font-family: "Glyphicons Halflings";
			position: absolute;
		}

		> :first-child {
			margin-left: 15px;
		}
	}

	.alert-info {
		border-image: linear-gradient(to bottom, #269abc 16px, #269abc 16px, rgba(0, 0, 0, 0) 16px, rgba(0, 0, 0, 0) 48px, #269abc 48px, #269abc 48px) 1 100%;
		border-color: #269abc;

		&::before {
			content: "\e086";
			color: #269abc;
		}

		.alert-bg {
			background-color: #d7faff;

			details > summary {
				color: #245269;
				font-weight: 700;
			}
		}
	}

	.alert-success {
		border-image: linear-gradient(to bottom, #278400 16px, #278400 16px, rgba(0, 0, 0, 0) 16px, rgba(0, 0, 0, 0) 48px, #278400 48px, #278400 48px) 1 100%;
		border-color: #278400;

		&::before {
			content: "\e084";
			color: #278400;
		}

		.alert-bg {
			background-color: #d8eeca;

			details > summary {
				color: #2b542c;
				font-weight: 700;
			}
		}
	}

	.alert-warning {
		border-image: linear-gradient(to bottom, #f90 16px, #f90 16px, rgba(0, 0, 0, 0) 16px, rgba(0, 0, 0, 0) 48px, #f90 48px, #f90 48px) 1 100%;
		border-color: #f90;

		&::before {
			content: "\e107";
			color: #f90;
		}

		.alert-bg {
			background-color: #f9f4d4;

			details > summary {
				color: #66512c;
				font-weight: 700;
			}
		}
	}

	.alert-danger {
		border-image: linear-gradient(to bottom, #d3080c 16px, #d3080c 16px, rgba(0, 0, 0, 0) 16px, rgba(0, 0, 0, 0) 48px, #d3080c 48px, #d3080c 48px) 1 100%;
		border-color: #d3080c;

		&::before {
			content: "\e101";
			color: #d3080c;
		}

		.alert-bg {
			background-color: #f3e9e8;

			details > summary {
				color: #843534;
				font-weight: 700;
			}
		}
	}
}
