/*
 *
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 *
 */
/*
	Global Provisional styling

	- Provisional  CSSspecific for view port are defined in the "views/[view port]" theme CSS
*/

@mixin provisional-chckbxrdio-hover {
	background-image: linear-gradient(to bottom, hsl(10, 0%, 90%), hsl(10, 0%, 100%) 50%);
}

@mixin provisional-chckbxrdio-focus {
	box-shadow: 0 0 0 2px #000, 0 0 8px 4px rgb(59, 153, 252);
}

.provisional, .experimental {

	/* ------------
	 * Background color
	 *
	 */

	// PinkDay color
	.bg-pnkDy {
		background-color: #AD005F;

		&.well.header-rwd {
			background-color: #570030;
		}
	}

	/* ------------
	 * Background image for heading
	 *
	 */

	.bg-img-hdng {
		background-image: url("../assets/x-blue-line.png");
		background-position: right bottom;
		background-repeat: no-repeat;
		min-height: 60px;
		padding-bottom: 35px;
		padding-right: 80px;
	}


	/* ------------
	 * Theme color
	 *
	 */

	/* Pink day - One day event in April
	 * (with a contrast conforming to Level AAA)
	 */
	&.pnkDy-theme {

		// Page header and Menu
		.gcweb-menu button[aria-haspopup=true],
		#wb-srch button,
		.srchbox button {
			background-color: #AD005F;
			border-color:#AD005F;
		}
		.gcweb-menu button[aria-haspopup=true]:focus, .gcweb-menu button[aria-haspopup=true]:hover,
		#wb-srch button:focus, #wb-srch button:hover,
		.srchbox button:focus, .srchbox button:hover {
			background-color: #570030;
			color: #fff;
		}
		.gcweb-menu,
		.home .gcweb-menu {
			border-top-color: #AD005F;
		}

		// Home page Menu
		.home .gcweb-menu {
			button[aria-haspopup=true] {
				background-color: #ffffff;
				border-color:#ffffff;
			}
			button[aria-haspopup=true] {
				color: #AD005F;
			}
			button[aria-haspopup=true]:focus,
			button[aria-haspopup=true]:hover {
				background-color: #AD005F;
				border-color:#AD005F;
				color: #ffffff;
			}
		}

		// Footer
		#wb-info .landscape {
			background-color: #AD005F;
		}
	}

	/* Dark theme
	 */
	&.dark-theme {

		// Page header and Menu
		.gcweb-menu button[aria-haspopup=true],
		#wb-srch button,
		.srchbox button {
			background-color: #000;
			border-color: #000;
			color: #fff;
		}
		.gcweb-menu button[aria-haspopup=true]:focus, .gcweb-menu button[aria-haspopup=true]:hover,
		#wb-srch button:focus, #wb-srch button:hover,
		.srchbox button:focus, .srchbox button:hover {
			background-color: #000;
			color: #fff;
		}
		.gcweb-menu,
		.home .gcweb-menu {
			border-top-color: #000;
		}

		// Home page Menu
		.home .gcweb-menu {
			button[aria-haspopup=true] {
				background-color: #fff;
				border-color:#fff;
			}
			button[aria-haspopup=true] {
				color: #000;
			}
			button[aria-haspopup=true]:focus,
			button[aria-haspopup=true]:hover {
				background-color: #000;
				border-color:#000;
				color: #fff;
			}
		}

		// Footer
		#wb-info .landscape {
			background-color: #000;
			color: #fff;
		}
	}

}

/*Bootstrap replacement variables (overriding the originals might have unintended consequences)*/
$gcweb-padding-large-vertical: 15px;
$gcweb-padding-large-horizontal: 24px;

$gcweb-padding-base-vertical: 10px;
$gcweb-padding-base-horizontal: 16px;

$gcweb-padding-small-vertical: 6px;
$gcweb-padding-small-horizontal: 12px;

$gcweb-padding-xs-vertical: 1px;
$gcweb-padding-xs-horizontal: 6px;

$gcweb-font-size-large: 24px;
$gcweb-font-size-small: 16px;

$gcweb-line-height-computed: floor(($gcweb-font-size-base * $gcweb-line-height-base));
$gcweb-line-height-large: 1.54;
$gcweb-line-height-small: 1.7325;

$gcweb-border-radius-large: 9px;
$gcweb-border-radius-base: 6px;
$gcweb-border-radius-small: 4px;

$gcweb-caret-width-base: 7px;
$gcweb-caret-width-large: 10px;

$gcweb-btn-border-radius-large: $gcweb-border-radius-large;
$gcweb-btn-border-radius-base: $gcweb-border-radius-base;
$gcweb-btn-border-radius-small: $gcweb-border-radius-small;

$gcweb-input-border-radius-large: $gcweb-border-radius-large;
$gcweb-input-border-radius: $gcweb-border-radius-base;
$gcweb-input-border-radius-small: $gcweb-border-radius-small;


$gcweb-input-height-large: (ceil($gcweb-font-size-large * $gcweb-line-height-large) + ($gcweb-padding-large-vertical * 2) + 2);

$gcweb-input-height-base: ($gcweb-line-height-computed + ($gcweb-padding-base-vertical * 2) + 2);
/*NEED TO FORCEFULLY OVERRIDE SELECTORS ASSOCIATED TO THIS at several spots since GCWeb has set a tiny px override for the original variable!!!!*/

$gcweb-input-height-small: (floor($gcweb-font-size-small * $gcweb-line-height-small) + ($gcweb-padding-small-vertical * 2) + 2);


/*$gcweb-form-group-margin-bottom: 20px;*/ /*maybe keep this as-is (15px), scrap this override and change my CSS to use the normal GCWeb variable for this*/


/*NOTE:
also gotta keep WET overrides in mind for things like undoing hardocoded heights for certain elements

keep these in mind too:
-fate of placeholder selectors in _default.scss








NOTES:
-That silly arrow placement in "Buttons with dropdowns" is beyond my control (was an intentional WET override with the understanding that would break)
-Borders in basic btn-group examples don't look as dark as justified ones (WET+GCWeb)... caused by a WET override (https://github.com/wet-boew/wet-boew/pull/5065)
-There's weird inexplicable spacing in this GCWeb example (doesn't exist in WET... I think it's a GCWeb quirk because it happens even without the giant form font class):
<div class="btn-group btn-group-xs" role="group" aria-label="...">...</div>
-Seems to be compatible with "gc-chckbxrdio" (#1682), but some of the latter's font-size and line-height properties deviate from the new font variables... tried changing a few to use variables of similar sizes, kept line-height: 2 as-is

TODOS:
-IIRC disabled inputs are looking darker than expected due to WET/GCWeb overrides
-I'd like to maybe adjust small/large line heights to be different from GCWeb's default
-Separate temp Bootstrap selectors from GCWeb-specific ones (e.g. call to action, 11px margin-top for radio buttons, etc...)

*/


%gcweb-btn {
	@include button-size($gcweb-padding-base-vertical, $gcweb-padding-base-horizontal, $gcweb-font-size-base, $gcweb-line-height-base, $gcweb-btn-border-radius-base);
}

%gcweb-btn-lg {
	/*line-height: ensure even-numbered height of button next to large input*/
	@include button-size($gcweb-padding-large-vertical, $gcweb-padding-large-horizontal, $gcweb-font-size-large, $gcweb-line-height-large, $gcweb-btn-border-radius-large);
}

%gcweb-btn-sm {
	/*line-height: ensure proper height of button next to small input*/
	@include button-size($gcweb-padding-small-vertical, $gcweb-padding-small-horizontal, $gcweb-font-size-small, $gcweb-line-height-small, $gcweb-btn-border-radius-small);
}

%gcweb-btn-xs {
	@include button-size($gcweb-padding-xs-vertical, $gcweb-padding-xs-horizontal, $gcweb-font-size-small, $gcweb-line-height-small, $gcweb-btn-border-radius-small);
}

%gcweb-btn-call-to-action-margin {
	margin: 0;
}



%gcweb-main-font-size {
	font-size: $gcweb-font-size-base;
	line-height: $gcweb-line-height-base;
}

%gcweb-form-font-new {
	/*Buttons... (derived from https://github.com/twbs/bootstrap-sass/blob/master/assets/stylesheets/bootstrap/_buttons.scss)*/

	.btn {
		@extend %gcweb-btn;
	}

	.btn-lg {
		@extend %gcweb-btn-lg;
	}

	.btn-sm {
		@extend %gcweb-btn-sm;
	}

	.btn-xs {
		@extend %gcweb-btn-xs;
	}

	/*keep post-finalization*/
	.btn-call-to-action {
		@extend %gcweb-btn-call-to-action-margin;
	}



	/*Dropdown menus... (derived from https://github.com/twbs/bootstrap-sass/blob/master/assets/stylesheets/bootstrap/_dropdowns.scss)*/

	.caret {
		border-top: $gcweb-caret-width-base dashed;
		border-right: $gcweb-caret-width-base solid transparent;
		border-left: $gcweb-caret-width-base solid transparent;
	}

	.dropup,
	.navbar-fixed-bottom .dropdown {
		.caret {
			border-top: 0;
			border-bottom: $gcweb-caret-width-base dashed;
		}
	}



	/*Button groups... (derived from https://github.com/twbs/bootstrap-sass/blob/master/assets/stylesheets/bootstrap/_button-groups.scss)*/

	.btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
		border-radius: 0;
	}

	.btn-group > .btn:first-child {
		margin-left: 0;
		&:not(:last-child):not(.dropdown-toggle) {
			@include border-right-radius(0);
		}
	}

	.btn-group > .btn:last-child:not(:first-child),
	.btn-group > .dropdown-toggle:not(:first-child) {
		@include border-left-radius(0);
	}

	.btn-group > .btn-group:not(:first-child):not(:last-child) > .btn {
		border-radius: 0;
	}

	.btn-group > .btn-group:first-child:not(:last-child) {
		> .btn:last-child,
		> .dropdown-toggle {
			@include border-right-radius(0);
		}
	}

	.btn-group > .btn-group:last-child:not(:first-child) > .btn:first-child {
		@include border-left-radius(0);
	}

	.btn-lg .caret {
		border-width: $gcweb-caret-width-large $gcweb-caret-width-large 0;
		border-bottom-width: 0;
	}

	.dropup .btn-lg .caret {
		border-width: 0 $gcweb-caret-width-large $gcweb-caret-width-large;
	}

	.btn-group-vertical > .btn {
		&:not(:first-child):not(:last-child) {
			border-radius: 0;
		}

		&:first-child:not(:last-child) {
			@include border-top-radius($btn-border-radius-base);
			@include border-bottom-radius(0);
		}

		&:last-child:not(:first-child) {
			@include border-top-radius(0);
			@include border-bottom-radius($btn-border-radius-base);
		}
	}

	.btn-group-vertical > .btn-group:not(:first-child):not(:last-child) > .btn {
		border-radius: 0;
	}

	.btn-group-vertical > .btn-group:first-child:not(:last-child) {
		> .btn:last-child,
		> .dropdown-toggle {
			@include border-bottom-radius(0);
		}
	}

	.btn-group-vertical > .btn-group:last-child:not(:first-child) > .btn:first-child {
		@include border-top-radius(0);
	}



	/*Forms... (derived from https://github.com/twbs/bootstrap-sass/blob/master/assets/stylesheets/bootstrap/_forms.scss)*/

	/*keep post-finalization*/
	.checkbox,
	.checkbox-inline,
	.radio,
	.radio-inline {
		@extend %gcweb-main-font-size;
	}

	legend {
		margin-bottom: $gcweb-line-height-computed;
		font-size: ($gcweb-font-size-base * 1.5);
	}

	/*Make legends that are used with legends/radio buttons use GCWeb's baseline font size (need this override because otherwise it'd use WET's tiny default font size)*/
	/*keep post-finalization*/
	fieldset {
		&.chkbxrdio-grp {
			legend {
				font-size: $gcweb-font-size-base;
				margin-bottom: 5px;
			}
		}
	}

	output {
		padding-top: ($gcweb-padding-base-vertical + 1);
		font-size: $gcweb-font-size-base;
		line-height: $gcweb-line-height-base;
	}

	.form-control {
		/*height: $gcweb-input-height-base; - ISSUE: Causes textareas to become 1 line (norm in WET/GCWeb is auto height - about 3 lines)... omitting this doesn't appear to break anything*/
		padding: $gcweb-padding-base-vertical $gcweb-padding-base-horizontal;
		font-size: $gcweb-font-size-base;
		line-height: $gcweb-line-height-base;
		border-radius: $gcweb-input-border-radius;
	}

	@media screen and (-webkit-min-device-pixel-ratio: 0) {
		input[type="date"],
		input[type="time"],
		input[type="datetime-local"],
		input[type="month"] {
			&.form-control {
				line-height: $gcweb-input-height-base;
			}

			&.input-sm,
			.input-group-sm & {
				line-height: $gcweb-input-height-small;
			}

			&.input-lg,
			.input-group-lg & {
				line-height: $gcweb-input-height-large;
			}
		}
	}

	.form-group {
		/*margin-bottom: $gcweb-form-group-margin-bottom;*/
	}

	.radio,
	.checkbox {
		label {
			min-height: $gcweb-line-height-computed;
		}
	}

	/*keep post-finalization*/
	.radio input[type="radio"],
	.radio-inline input[type="radio"],
	.checkbox input[type="checkbox"],
	.checkbox-inline input[type="checkbox"] {
		margin-top: 11px;
	}

	.form-control-static {
		min-height: ($gcweb-line-height-computed + $gcweb-font-size-base);
		padding-top: ($gcweb-padding-base-vertical + 1);
		padding-bottom: ($gcweb-padding-base-vertical + 1);
	}

	@include input-size('.input-sm', $gcweb-input-height-small, $gcweb-padding-small-vertical, $gcweb-padding-small-horizontal, $gcweb-font-size-small, $gcweb-line-height-small, $gcweb-input-border-radius-small);

	.form-group-sm {
		.form-control {
			height: $gcweb-input-height-small;
			padding: $gcweb-padding-small-vertical $gcweb-padding-small-horizontal;
			font-size: $gcweb-font-size-small;
			line-height: $gcweb-line-height-small;
			border-radius: $gcweb-input-border-radius-small;
		}

		select.form-control {
			height: $gcweb-input-height-small;
			line-height: $gcweb-input-height-small;
		}

		.form-control-static {
			height: $gcweb-input-height-small;
			min-height: ($gcweb-line-height-computed + $gcweb-font-size-small);
			padding: ($gcweb-padding-small-vertical + 1) $gcweb-padding-small-horizontal;
			font-size: $gcweb-font-size-small;
			line-height: $gcweb-line-height-small;
		}
	}

	@include input-size('.input-lg', $gcweb-input-height-large, $gcweb-padding-large-vertical, $gcweb-padding-large-horizontal, $gcweb-font-size-large, $gcweb-line-height-large, $gcweb-input-border-radius-large);

	.form-group-lg {
		.form-control {
			height: $gcweb-input-height-large;
			padding: $gcweb-padding-large-vertical $gcweb-padding-large-horizontal;
			font-size: $gcweb-font-size-large;
			line-height: $gcweb-line-height-large;
			border-radius: $gcweb-input-border-radius-large;
		}

		select.form-control {
			height: $gcweb-input-height-large;
			line-height: $gcweb-input-height-large;
		}

		.form-control-static {
			height: $gcweb-input-height-large;
			min-height: ($gcweb-line-height-computed + $gcweb-font-size-large);
			padding: ($gcweb-padding-large-vertical + 1) $gcweb-padding-large-horizontal;
			font-size: $gcweb-font-size-large;
			line-height: $gcweb-line-height-large;
		}
	}

	.has-feedback {
		.form-control {
			padding-right: ($gcweb-input-height-base * 1.25);
		}
	}

	.form-control-feedback {
		width: $gcweb-input-height-base;
		height: $gcweb-input-height-base;
		line-height: $gcweb-input-height-base;
	}

	.input-lg + .form-control-feedback,
	.input-group-lg + .form-control-feedback,
	.form-group-lg .form-control + .form-control-feedback {
		width: $gcweb-input-height-large;
		height: $gcweb-input-height-large;
		line-height: $gcweb-input-height-large;
	}

	.input-sm + .form-control-feedback,
	.input-group-sm + .form-control-feedback,
	.form-group-sm .form-control + .form-control-feedback {
		width: $gcweb-input-height-small;
		height: $gcweb-input-height-small;
		line-height: $gcweb-input-height-small;
	}

	.has-feedback label {
		& ~ .form-control-feedback {
			top: ($gcweb-line-height-computed + 5);
		}

		&.sr-only ~ .form-control-feedback {
			top: 0;
		}
	}

	@mixin gcweb-form-inline {
		@media (min-width: $screen-sm-min) {
			.has-feedback .form-control-feedback {
				top: 0;
			}
		}
	}

	.form-inline {
		@include gcweb-form-inline;
	}

	.form-horizontal {
		.radio,
		.checkbox,
		.radio-inline,
		.checkbox-inline {
			padding-top: ($gcweb-padding-base-vertical + 1);
		}

		.radio,
		.checkbox {
			min-height: ($gcweb-line-height-computed + ($gcweb-padding-base-vertical + 1));
		}

		@media (min-width: $screen-sm-min) {
			.control-label {
				padding-top: ($gcweb-padding-base-vertical + 1);
			}
		}

		.form-group-lg {
			@media (min-width: $screen-sm-min) {
				.control-label {
					padding-top: ($gcweb-padding-large-vertical + 1);
					font-size: $gcweb-font-size-large;
				}
			}
		}

		.form-group-sm {
			@media (min-width: $screen-sm-min) {
				.control-label {
					padding-top: ($gcweb-padding-small-vertical + 1);
					font-size: $gcweb-font-size-small;
				}
			}
		}
	}



	/*Input groups... (derived from https://github.com/twbs/bootstrap-sass/blob/master/assets/stylesheets/bootstrap/_input-groups.scss)*/

	.input-group-addon {
		padding: $gcweb-padding-base-vertical $gcweb-padding-base-horizontal;
		font-size: $gcweb-font-size-base;
		border-radius: $gcweb-input-border-radius;

		&.input-sm {
			padding: $gcweb-padding-small-vertical $gcweb-padding-small-horizontal;
			font-size: $gcweb-font-size-small;
			border-radius: $gcweb-input-border-radius-small;
		}

		&.input-lg {
			padding: $gcweb-padding-large-vertical $gcweb-padding-large-horizontal;
			font-size: $gcweb-font-size-large;
			border-radius: $gcweb-input-border-radius-large;
		}
	}

	.input-group .form-control:first-child,
	.input-group-addon:first-child,
	.input-group-btn:first-child > .btn,
	.input-group-btn:first-child > .btn-group > .btn,
	.input-group-btn:first-child > .dropdown-toggle,
	.input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle),
	.input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
		@include border-right-radius(0);
	}

	.input-group .form-control:last-child,
	.input-group-addon:last-child,
	.input-group-btn:last-child > .btn,
	.input-group-btn:last-child > .btn-group > .btn,
	.input-group-btn:last-child > .dropdown-toggle,
	.input-group-btn:first-child > .btn:not(:first-child),
	.input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
		@include border-left-radius(0);
	}
}

form {
	&.provisional {
		@extend %gcweb-main-font-size;
		@extend %gcweb-form-font-new;
	}
}

.provisional {
	&.btn {
		@extend %gcweb-btn;
	}

	&.btn-lg {
		@extend %gcweb-btn-lg;
	}

	&.btn-sm {
		@extend %gcweb-btn-sm;
	}

	&.btn-xs {
		@extend %gcweb-btn-xs;
	}

	&.btn-call-to-action {
		@extend %gcweb-btn-call-to-action-margin;
	}

	&.gc-form-font-new {
		@extend %gcweb-form-font-new;

		form {
			@extend %gcweb-main-font-size;
		}
	}
}




.provisional {
	//This color will eventually be replaced by the new colors from the alert revamp PR.
	&.icon-warning-light, .icon-warning-light {
		color: #DF7200;
	}

	&.gc-chckbxrdio {

		label {
			cursor: pointer;
			display: block;
			font-size: $gcweb-font-size-base;
		}

		legend {
			float: none;
			font-size: $gcweb-font-size-large;
			font-weight: 700;
			margin-bottom: 15px;
			margin-top: 0;
		}

		input[type="radio"],
		input[type="checkbox"] {
			border: 0;
			clip: rect(0 0 0 0);
			height: 1px;
			margin: -1px;
			overflow: hidden;
			padding: 0;
			position: absolute;
			width: 1px;

			&[disabled] + label {
				cursor: not-allowed;
				opacity: .5;
			}

			+ {
				label {
					display: inline-block;
					line-height: 2;
					margin-left: 36px;
					width: auto;
				}

				label::before {
					border: 4px solid #fff;
					box-shadow: 0 0 0 2px #000;
					content: "";
					display: inline-block;
					height: 36px;
					left: 0;
					position: absolute;
					top: 2px;
					width: 36px;
				}

				label:hover::before {
					@include provisional-chckbxrdio-hover;
				}
			}

			&:focus + label::before {
				@include provisional-chckbxrdio-focus;
			}
		}

		input[type="radio"] {

			+ {
				label::before {
					border-radius: 50%;
				}
			}

			&:checked + {

				label::before {
					background: #444;
				}
			}
		}

		&.checkbox {

			input[type="checkbox"] {

				+ label,
				+ label + ul {
					font-size: $gcweb-font-size-small;
					min-height: 23px;
				}

				+ label::before {
					height: 24px;
					left: 6px;
					top: 4px;
					width: 24px;
				}

				&:checked + label::after {
					border-width: 0 3px 3px 0;
					height: 16px;
					left: 14px;
					top: 6px;
					width: 9px;
				}
			}
		}

		input[type="checkbox"] {

			&:checked + label::after {
				border-color: #333;
				border-style: solid;
				border-width: 0 5px 5px 0;
				content: "";
				display: inline-block;
				height: 26px;
				left: 12px;
				position: absolute;
				top: 4px;
				transform: rotate(45deg);
				width: 13px;
			}
		}

		&.form-inline .label-inline {
			padding-right: 20px;

			label {
				padding-left: 10px;
			}
		}
	}

	/* Theme/topic decorative image */
	&.gc-topic-bg div {
		background: no-repeat;
		margin-left: -15px;
		min-height: 200px;
		overflow: hidden;
		width: 50vw;
	}

	/* Contributors */
	&.gc-contributors {
		margin-top: 38px;

		h2, ul {
			display: inline;
			font-size: $small-size;
			margin-top: 0;
		}

		ul {
			padding-inline-start: 0;

			li {
				display: inline-block;
				font-weight: $bold-weight;
				margin-right: .7em;
			}
		}
	}
}

// Provisional CSS for the chat wizard
@import "src/plugins/chatwizard/base";

// Provisional CSS for GC subway map menu
@import "src/plugins/gc-subway/base";
