/*
	Global Provisional styling

	- Provisional  CSSspecific for view port are defined in the "views/[view port]" theme CSS
*/

// Colours for the provisional alert styles
$provisional-danger-color: #d3080c;
$provisional-warning-color: #ee7100;
$provisional-info-color: #269abc;
$provisional-success-color: #278400;

// Removes styling from the current WET4 Alert
%provisional-alert-first-child-before-disable {
	& {
		> {
			:first-child {
				&:before {
					color: inherit;
					content: none;
				}
			}
		}
	}
}

.provisional, .experimental {

	/* ------------
	 * Background color
	 *
	 */

	.bg-darker {
		background-color: #000;

		&.well.header-rwd h1 {
			border-bottom-color: #6f6f6f;
		}
	}

	// theme default color
	.bg-gctheme {
		background-color: #355688;

		&.well.header-rwd {
			background-color: #26374a;
		}
	}

	// PinkDay color NA
	.bg-pnkDy {
		background-color: #AD005F;

		&.well.header-rwd {
			background-color: #570030;
		}
	}

	/* ------------
	 * Background image for heading
	 *
	 */

	.bg-img-hdng {
		background-image: url("../assets/x-blue-line.png");
		background-position: right bottom;
		background-repeat: no-repeat;
		min-height: 60px;
		padding-bottom: 35px;
		padding-right: 80px;
	}

	/* ------------
	 * Utility
	 *
	 */

	.bg-cover, &.bg-cover {
		background-size: cover;
	}


	/* ------------
	 * Theme color
	 *
	 */

	/* Pink day - One day event in April
	 * (with a contrast conforming to Level AAA)
	 */
	&.pnkDy-theme {

		// Page header and Menu
		.gcweb-menu button[aria-haspopup=true],
		#wb-srch button,
		.srchbox button {
			background-color: #AD005F;
			border-color:#AD005F;
		}
		.gcweb-menu button[aria-haspopup=true]:focus, .gcweb-menu button[aria-haspopup=true]:hover,
		#wb-srch button:focus, #wb-srch button:hover,
		.srchbox button:focus, .srchbox button:hover {
			background-color: #570030;
			color: #fff;
		}
		.gcweb-menu,
		.home .gcweb-menu {
			border-top-color: #AD005F;
		}

		// Home page Menu
		.home .gcweb-menu {
			button[aria-haspopup=true] {
				background-color: #ffffff;
				border-color:#ffffff;
			}
			button[aria-haspopup=true] {
				color: #AD005F;
			}
			button[aria-haspopup=true]:focus,
			button[aria-haspopup=true]:hover {
				background-color: #AD005F;
				border-color:#AD005F;
				color: #ffffff;
			}
		}

		// Footer
		#wb-info .landscape {
			background-color: #AD005F;
		}
	}

	/* Dark theme
	 */
	&.dark-theme {

		// Page header and Menu
		.gcweb-menu button[aria-haspopup=true],
		#wb-srch button,
		.srchbox button {
			background-color: #000;
			border-color: #000;
			color: #fff;
		}
		.gcweb-menu button[aria-haspopup=true]:focus, .gcweb-menu button[aria-haspopup=true]:hover,
		#wb-srch button:focus, #wb-srch button:hover,
		.srchbox button:focus, .srchbox button:hover {
			background-color: #000;
			color: #fff;
		}
		.gcweb-menu,
		.home .gcweb-menu {
			border-top-color: #000;
		}

		// Home page Menu
		.home .gcweb-menu {
			button[aria-haspopup=true] {
				background-color: #fff;
				border-color:#fff;
			}
			button[aria-haspopup=true] {
				color: #000;
			}
			button[aria-haspopup=true]:focus,
			button[aria-haspopup=true]:hover {
				background-color: #000;
				border-color:#000;
				color: #fff;
			}
		}

		// Footer
		#wb-info .landscape {
			background-color: #000;
			color: #fff;
		}
	}

}

.provisional {
	//This color will eventually be replaced by the new colors from the alert revamp PR.
	&.icon-warning-light, .icon-warning-light {
		color: #DF7200;
	}

	&.alert {
		background-clip: content-box;
		background-color: inherit;
		border-left: 6px solid #000;
		margin-bottom: 23px;
		margin-left: 10px;
		padding: 0 0 0 15px;

		> {
			p, ul, ol {
				margin-bottom: 0px;
			}

			* {
				margin-left: 15px;
			}
		}

		details {
			margin-left: .5em;
			padding-top: 15px;
		}

		> {
			:first-child:not(details) {
				margin-top: auto;
				padding-top: 15px;
			}

			:last-child {
				padding-bottom: 25px;
			}
		}

		&:before {
			font-family: "Glyphicons Halflings";
			font-size: 26px;
			line-height: 2.3em;
			margin-left: -1.27em;
			padding: 2px;
			position: absolute;
		}

		> :first-child {
			margin-left: 15px;
		}
	}

	&.alert-info {
		@extend %provisional-alert-first-child-before-disable;
		border-color: $provisional-info-color;
		border-image: linear-gradient(to bottom, $provisional-info-color 16px, $provisional-info-color 16px, rgba(0, 0, 0, 0) 16px, rgba(0, 0, 0, 0) 48px, $provisional-info-color 48px, $provisional-info-color 48px) 1 100%;

		&::before {
			color: $provisional-info-color;
			content: "\e086";
		}
	}

	&.alert-success {
		@extend %provisional-alert-first-child-before-disable;
		border-color: $provisional-success-color;
		border-image: linear-gradient(to bottom, $provisional-success-color 16px, $provisional-success-color 16px, rgba(0, 0, 0, 0) 16px, rgba(0, 0, 0, 0) 48px, $provisional-success-color 48px, $provisional-success-color 48px) 1 100%;

		&::before {
			color: $provisional-success-color;
			content: "\e084";
		}
	}

	&.alert-warning {
		@extend %provisional-alert-first-child-before-disable;
		border-color: $provisional-warning-color;
		border-image: linear-gradient(to bottom, $provisional-warning-color 16px, $provisional-warning-color 16px, rgba(0, 0, 0, 0) 16px, rgba(0, 0, 0, 0) 48px, $provisional-warning-color 48px, $provisional-warning-color 48px) 1 100%;

		&::before {
			color: $provisional-warning-color;
			content: "\e107";
		}
	}

	&.alert-danger {
		@extend %provisional-alert-first-child-before-disable;
		border-color: $provisional-danger-color;
		border-image: linear-gradient(to bottom, $provisional-danger-color 16px, $provisional-danger-color 16px, rgba(0, 0, 0, 0) 16px, rgba(0, 0, 0, 0) 48px, $provisional-danger-color 48px, $provisional-danger-color 48px) 1 100%;

		&::before {
			color: $provisional-danger-color;
			content: "\e101";
		}
	}
}
