/*
 Global variables for GCWeb
 */

$wbGray: #e1e4e7;
$button-blue: #284162;
$wbGrayLight: #eaebed;
$accent-blue: #335075;
$border-red: #af3c43;
$active-blue: #243850;
$search-gray: #e0e0e0;
$profile-gray: #eaebed;

//Heading links on landing pages
$heading-link: 16px;

/*
Left menu variables
*/
$menu-background: #fff;
$menu-colour: #555;

@import "../lib/wet-boew/src/variables";
