/*
 Global variables for GCWeb
 */

$wbGray: #e1e4e7;
$button-blue: #284162;
$wbGrayLight: #eaebed;
$accent-blue: #335075;
$border-red: #af3c43;
$active-blue: #243850;
$search-gray: #e0e0e0;
$profile-gray: #eaebed;

// Body
$body-bg: #f9f9f9; // Body element's background colour (Bootstrap override).

//Breadcrumb
$breadcrumb-bg: transparent; // Inner background colour (Bootstrap override).
$wb-bc-background-color: #f5f5f5; // Outer background colour (WET override).

//Heading links on landing pages
$heading-link: 16px;

// "About this site" footer links
$footer-about-li-horizontal-spacing: .7em;

/*
Left menu variables
*/
$menu-background: #fff;
$menu-colour: #555;

$input-color-placeholder: #5c5c5c !important;

@import "../lib/wet-boew/src/variables";
