/*
 * wet-boew plugin CSS overrides
 */

//
// Multimedia player overrides
//

.wb-mltmd {
	margin-bottom: 10px;
	margin-top: 10px;
}

.wb-mltmd.video:not(.playing):not(.waiting)
.display::after {
	line-height: 1.5em;
}

.wb-mm-ctrls .wb-mm-txtonly p {
	white-space: nowrap;
}

//
// Tables (DataTables)
//

.dataTables_wrapper .top {
	font-size: 17px; // To ensure the controls don't overflow on a second row in a col-md-8
}

.dataTables_wrapper .top [type=search]{
	max-width: 205px;
}
