---
title: L’honorable [nom du ministre], député | [Nom du secrétaire parlementaire] | [Nom du chef de l'institution ou de l'organisation]
description: Exemple pratique de la pages de profil des ministres
language: fr
altLangPage: ministerial-en.html
dateModified: 2021-09-16
share: true
---

<div class="row">
	<div class="col-md-3">
		<p class="mrgn-tp-lg"><img src="img/265x352.png" alt="" class="img-responsive"></p>
	</div>
	<div class="col-md-9">
		<p class="mrgn-tp-lg"><strong>Ministre de <a href="#">[nom du portefeuille no1]</a> et <a href="#">[nom du portefeuille no2]</a> | Secrétaire parlementaire du/de la <a href="#">[nom du ou de la ministre du portefeuille]</a> | [Titre officiel du chef de l'organisation]</strong></p>
		<p>Représente la circonscription de <a href="#">[nom de la circonscription]</a></p>
		<ul>
			<li><a href="#">Lettre de mandat adressées aux ministres</a></li>
			<li><a href="#">Cahier de breffage ministériel</a></li>
			<li><a href="#">Nomination ministérielle</a></li>
		</ul>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore amet ducimus nihil, voluptate quibusdam? Excepturi in aspernatur rem ipsam aperiam voluptates fugit officiis culpa, ratione, et maxime impedit.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore amet ducimus nihil, voluptate quibusdam? Excepturi in aspernatur rem ipsam aperiam voluptates fugit officiis culpa, ratione, et maxime impedit.</p>
		<section>
			<h2>Coordonnées</h2>
			<p> Chambre des communes<br>
				Ottawa (Ontario)&nbsp;K1A&nbsp;0A6<br>
				<strong>Téléphone&nbsp;:</strong> 123-456-7890<br>
				<strong>Courriel&nbsp;:</strong> <a href="mailto:">[prénom.nom@canada.ca]</a> <span class="glyphicon glyphicon-envelope"></span></p>
		</section>
	</div>
</div>
<section class="gc-features">
	<h2>En vedette [facultatif]</h2>
	<div class="row wb-eqht">
		<div class="col-lg-4 col-md-6 mrgn-bttm-md">
			<h3 class="h5"><a href="#" class="stretched-link">[Titre de l'élément en vedette]</a></h3>
			<img src="https://via.placeholder.com/360x203/000000/FFFFFF.png" alt="" class="img-responsive thumbnail mrgn-bttm-sm">
			<p>Brève descripton de l'élément en vedette</p>
		</div>
		<div class="col-lg-4 col-md-6 mrgn-bttm-md">
			<h3 class="h5"><a href="#" class="stretched-link">[Titre de l'élément en vedette]</a></h3>
			<img src="https://via.placeholder.com/360x203/000000/FFFFFF.png" alt="" class="img-responsive thumbnail mrgn-bttm-sm">
			<p>Brève descripton de l'élément en vedette</p>
		</div>
		<div class="col-lg-4 col-md-6 mrgn-bttm-md">
			<h3 class="h5"><a href="#" class="stretched-link">[Titre de l'élément en vedette]</a></h3>
			<img src="https://via.placeholder.com/360x203/000000/FFFFFF.png" alt="" class="img-responsive thumbnail mrgn-bttm-sm">
			<p>Brève descripton de l'élément en vedette</p>
		</div>
	</div>
</section>
