---
title: L’honorable [nom du ministre], député
description: Exemple pratique de la pages de profil des ministres simplifiée.
language: fr
altLangPage: ministerial-reduced-en.html
dateModified: 2021-10-12
share: true
---

<div class="row">
	<div class="col-md-3">
		<p class="mrgn-tp-lg"><img src="img/265x352.png" alt="" class="img-responsive"></p>
	</div>
	<div class="col-md-9">
		<p class="mrgn-tp-lg"><strong>Ministre de <a href="#">[nom du portefeuille no1]</a> et <a href="#">[nom du portefeuille no2]</a></strong></p>
		<p>Représente la circonscription de <a href="#">[nom de la circonscription]</a></p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore amet ducimus nihil, voluptate quibusdam? Excepturi in aspernatur rem ipsam aperiam voluptates fugit officiis culpa, ratione, et maxime impedit.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore amet ducimus nihil, voluptate quibusdam? Excepturi in aspernatur rem ipsam aperiam voluptates fugit officiis culpa, ratione, et maxime impedit.</p>
	</div>
</div>
