---
title: Documentation about Ministerial profile page template
description: Documentation and working examples for the Ministerial profile template.
language: en
altLangPage: ministerial-doc-fr.html
dateModified: 2025-08-25
share: true
---

<div class="wb-prettify all-pre hide"></div>

<dl class="horizontal">
	<dt>Status</dt>
	<dd>Stable</dd>
	<dt>Type</dt>
	<dd>Canada.ca template</dd>
	<dt>Last review</dt>
	<dd>{{ page.dateModified}}</dd>
	<dt>Conforming to</dt>
	<dd>Content and IA spec 2.1</dd>
	<dt>Specification</dt>
	<dd><a href="https://design.canada.ca/mandatory-templates/ministerial-profile-pages.html">Ministerial profile pages - Canada.ca mandatory template</a></dd>
	<dt>Template version</dt>
	<dd>Version 3.0</dd>
</dl>

<h2>Working examples</h2>
<ul>
	<li><a href="ministerial-en.html">Ministerial profile</a></li>
	<li><a href="ministerial-reduced-en.html">Ministerial profile - swearing-in day</a></li>
	<li><a href="parliamentary-secretaries-reduced-en.html">Parliamentary secretaries profile - swearing-in day</a></li>
</ul>

<h2>Version 3.0</h2>
<p>Changes:</p>
<ul>
	<li>Picture dimension - From 265px by 352px to 200px by 200px</li>
	<li>Biography - Form mandatory to optional</li>
	<li>Contact information - From mandatory to optional</li>
	<li>Features - Removed</li>
</ul>

<details class="mt-3">
	<summary>
		<h2 class="h5">Version 2.0</h2>
	</summary>

	<p>Changes:</p>
	<ul>
		<li>Features - Added</li>
		<li>Twitter Feed - Removed</li>
		<li>Latest news - Removed</li>
		<li>Recent activities - Removed</li>
		<li>Gallery - Removed</li>
	</ul>

	<p>Working examples:</p>
	<ul>
		<li><a href="demoted/ministerial-en-V2.html">Ministerial profile</a></li>
		<li><a href="demoted/ministerial-reduced-en-V2.html">Ministerial profile - swearing-in day</a></li>
		<li><a href="demoted/parliamentary-secretaries-reduced-en-V2.html">Parliamentary secretaries profile - swearing-in day</a></li>
	</ul>

	<div class="row">
		<div class="col-md-6">
			<img src="./img/ministerial-profileV2-eng.jpg" alt="Mockup of Ministerial Profile page version 2.0">
		</div>
		<div class="col-md-6">
			<ul>
				<li>Title<br>
				Ref: 1</li>
				<li>Photo<br>
				Ref: 2</li>
				<li>Intro<br>
				Ref: 3, 4 and 5</li>
				<li>Feature<br>
				Ref: 6</li>
			</ul>
		</div>
	</div>
	<pre><code>&lt;!-- Title [Ref: 1] --&gt;
	&lt;div class=&quot;row&quot;&gt;
		&lt;div class=&quot;col-3&quot;&gt;
			&lt;!-- Intro - Minister picture [Ref: 2] --&gt;
		&lt;/div&gt;
		&lt;div class=&quot;col-9&quot;&gt;
			&lt;!-- Intro - Text [Ref: 3 and 4] --&gt;
			&lt;!-- Contact us [Ref: 5] --&gt;
		&lt;/div&gt;
	&lt;/div&gt;
	&lt;!-- Contextual Feature (Version 4.0 - 1-col; 2-col; 3-col; ) [Ref: 6] --&gt;</code></pre>
	<h3>Ministerial profile - Swearing-in day</h3>
	<p>Based on version 2.0 excluding Intro #3 (list), #5 and Feature #6 and adding the class <code>mrgn-tp-lg</code> to the first paragraph.</p>
</details>

<details class="mt-3">
	<summary><h2 class="h5">Version 1.0</h2></summary>
	<div class="row">
		<div class="col-md-6">
			<img src="./img/ministerial-profileV1-eng.jpg" alt="Mockup of Ministerial Profile page version 1.0">
		</div>
		<div class="col-md-6">
			<ul>
				<li>Title<br>
				Ref: 1</li>
				<li>Photo<br>
				Ref: 2</li>
				<li>Intro<br>
				Ref: 3, 4, and 5</li>
				<li>Twitter feed<br>
				Ref: 6</li>
				<li>Latest<br>
				Ref: 7</li>
				<li>Recent activities<br>
				Ref: 8</li>
				<li>Gallery<br>
				Ref: 9</li>
			</ul>
		</div>
	</div>
	<pre><code>&lt;!-- Title [Ref: 1] --&gt;
	&lt;div class=&quot;row&quot;&gt;
		&lt;div class=&quot;col-md-3&quot;&gt;
			&lt;!-- Intro - Minister picture [Ref: 2] --&gt;
		&lt;/div&gt;
		&lt;div class=&quot;col-md-6&quot;&gt;
			&lt;!-- Intro - Text [Ref: 3 and 4] --&gt;
			&lt;!-- Contact us [Ref: 5] --&gt;
		&lt;/div&gt;
		&lt;div class=&quot;col-md-3&quot;&gt;
			&lt;!-- Twitter feed [Ref: 6] --&gt;
		&lt;/div&gt;
	&lt;/div&gt;
	&lt;div class=&quot;row&quot;&gt;
		&lt;div class=&quot;col-sm-12&quot;&gt;
			&lt;!-- Latest [Ref: 7] --&gt;
		&lt;/div&gt;
	&lt;/div&gt;
	&lt;section&gt;
		&lt;!-- Recent activities [Ref: 8] --&gt;
	&lt;/section&gt;
	&lt;section&gt;
		&lt;!-- Gallery [Ref: 9] --&gt;
	&lt;/section&gt;</code></pre>
</details>

<h2>Evaluation and report</h2>
<p>There is no evaluation and report available for this component.</p>
