---
title: Documentation au sujet de la page de profil des ministres
description: Documentation et exemple pratique des pages de profil des ministres.
language: fr
altLangPage: ministerial-doc-en.html
dateModified: 2021-09-16
share: true
---

<div class="wb-prettify all-pre hide"></div>

<dl class="horizontal">
	<dt>Statut</dt>
	<dd>Stable</dd>

	<dt>Type</dt>
	<dd>Gabarit de Canada.ca</dd>

	<dt>Dernière revue</dt>
	<dd>2021-09-15</dd>

	<dt>Est conforme à</dt>
	<dd>Spécifications du contenu et de l'architecture de l'information 2.1</dd>

	<dt>Spécification</dt>
	<dd><a href="https://conception.canada.ca/modeles-obligatoire/pages-profil-ministres-draft.html">Pages de profil des ministres - Modèle obligatoire de Canada.ca</a></dd>

	<dt>Version du gabarit</dt>
	<dd>Version 2.0</dd>
</dl>

<h2>Exemple pratique</h2>

<ul>
	<li><a href="ministerial-fr.html">Exemple pratique</a></li>
	<li><a href="ministerial-en.html" lang="en">working example</a></li>
</ul>

<h2>Historique des changements</h2>

<h3>Version 2.0</h3>

<ul>
	<li>remplacement des sections Nouveautés, Activités récentes et Galerie par une section En vedette flexible</li>
	<li>suppression du widget de médias sociaux et ajout d'une section facultative "Suivez" à la place</li>
	<li>simplification et amélioration des directives</li>
	<li>clarification de la manière d'afficher les ministres, les secrétaires parlementaires et les chefs d'organisation</li>
</ul>

<h3>Version 1.0</h3>

<ul>
	<li>Gabarit initial</li>
</ul>

<h2>Raport et évaluation</h2>
<p>Il n'y aucun raport ou évaluation disponible pour ce gabarit.</p>
