---
title: The Honourable [Minister name], MP | [Parliamentary secretary’s name] | [Head of institution or organization's name]
description: Working example for the Ministerial profile page template
language: en
altLangPage: ministerial-fr.html
dateModified: 2021-09-16
share: true
---

<div class="row">
	<div class="col-md-3">
		<p class="mrgn-tp-lg"><img src="img/265x352.png" alt="" class="img-responsive"></p>
	</div>
	<div class="col-md-9">
		<p class="mrgn-tp-lg"><strong>Minister of <a href="#">[Portfolio name one]</a> and <a href="#">[Portfolio name two]</a> | Parliamentary secretary to the <a href="#">[Minister of portfolio name]</a> | [Official title of the head]</strong></p>
		<p>Represents the riding of <a href="#">[Riding name]</a></p>
		<ul>
			<li><a href="#">Ministerial mandate letter</a></li>
			<li><a href="#">Ministerial briefing book</a></li>
			<li><a href="#">Ministerial appointments</a></li>
		</ul>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore amet ducimus nihil, voluptate quibusdam? Excepturi in aspernatur rem ipsam aperiam voluptates fugit officiis culpa, ratione, et maxime impedit.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique ex commodi autem laudantium aliquam id, voluptate possimus quod illo velit vero, at dolorum sequi ipsam culpa fugit, molestias quaerat vitae.</p>
		<section>
			<h2>Contact information</h2>
			<p>House of Commons<br>
				Ottawa, Ontario&nbsp;K1A&nbsp;0A6<br>
				<strong>Telephone:</strong> 123-456-7890<br>
				<strong>Email:</strong> <a href="mailto:">[first.last@canada.ca]</a> <span class="glyphicon glyphicon-envelope"></span></p>
		</section>
	</div>
</div>
<section class="gc-features">
	<h2>Features [optional]</h2>
	<div class="row wb-eqht">
		<div class="col-lg-4 col-md-6 mrgn-bttm-md">
			<h3 class="h5"><a href="#" class="stretched-link">[Feature hyperlink text]</a></h3>
			<img src="https://via.placeholder.com/360x203/000000/FFFFFF.png" alt="" class="img-responsive thumbnail mrgn-bttm-sm">
			<p>Brief description of the feature being promoted.</p>
		</div>
		<div class="col-lg-4 col-md-6 mrgn-bttm-md">
			<h3 class="h5"><a href="#" class="stretched-link">[Feature hyperlink text]</a></h3>
			<img src="https://via.placeholder.com/360x203/000000/FFFFFF.png" alt="" class="img-responsive thumbnail mrgn-bttm-sm">
			<p>Brief description of the feature being promoted.</p>
		</div>
		<div class="col-lg-4 col-md-6 mrgn-bttm-md">
			<h3 class="h5"><a href="#" class="stretched-link">[Feature hyperlink text]</a></h3>
			<img src="https://via.placeholder.com/360x203/000000/FFFFFF.png" alt="" class="img-responsive thumbnail mrgn-bttm-sm">
			<p>Brief description of the feature being promoted.</p>
		</div>
	</div>
</section>
