---
title: Documentation au sujet de la page de profil des ministres
description: Documentation et exemple pratique des pages de profil des ministres.
language: fr
altLangPage: ministerial-doc-en.html
dateModified: 2025-08-25
share: true
---

<div class="wb-prettify all-pre hide"></div>

<dl class="horizontal">
	<dt>Statut</dt>
	<dd>Stable</dd>
	<dt>Type</dt>
	<dd>Gabarit de Canada.ca</dd>
	<dt>Dernière revue</dt>
	<dd>{{ page.dateModified }}</dd>
	<dt>Est conforme à</dt>
	<dd>Spécifications du contenu et de l'architecture de l'information 2.1</dd>
	<dt>Spécification</dt>
	<dd><a href="https://conception.canada.ca/modeles-obligatoire/pages-profil-ministres.html">Pages de profil des ministres - Modèle obligatoire de Canada.ca</a></dd>
	<dt>Version du gabarit</dt>
	<dd>Version 3.0</dd>
</dl>

<h2>Exemples pratiques</h2>
<ul>
	<li><a href="ministerial-fr.html">Profile ministériel</a></li>
	<li><a href="ministerial-reduced-fr.html">Profile ministériel - jour d'assermentation</a></li>
	<li><a href="parliamentary-secretaries-reduced-fr.html">Profile des secrétaires parlementaires - jour d'assermentation</a></li>
</ul>

<h2>Version 3.0</h2>
<p>Changements&nbsp;:</p>
<ul>
	<li>Dimension de la photo - De 265&nbsp;px x 352&nbsp;px à 200&nbsp;px x 200&nbsp;px</li>
	<li>Biographie - De obligatoire à facultatif</li>
	<li>Les coordonnées - De obligatoire à facultatif</li>
	<li>En vedette - Supprimé</li>
</ul>

<details class="mt-3">
	<summary>
		<h2 class="h5">Version 2.0</h2>
	</summary>
	<p>Changements&nbsp;:</p>
	<ul>
		<li>En vedette - Ajouté</li>
		<li>Fil Twitter - Supprimé</li>
		<li>Nouveautés - Supprimé</li>
		<li>Activités récentes - Supprimé</li>
		<li>Galerie - Supprimé</li>
	</ul>

	<p>Exemples pratiques</p>
	<ul>
		<li><a href="demoted/ministerial-fr-V2.html">Profile ministériel</a></li>
		<li><a href="demoted/ministerial-reduced-fr-V2.html">Profile ministériel - jour d'assermentation</a></li>
		<li><a href="demoted/parliamentary-secretaries-reduced-fr-V2.html">Profile des secrétaires parlementaires - jour d'assermentation</a></li>
	</ul>

	<div class="row">
		<div class="col-md-6">
			<img src="./img/ministerial-profileV2-fra.jpg" alt="Modèle de la page de profil des ministres version 2.0">
		</div>
		<div class="col-md-6">
			<ul>
				<li>Titre<br>
				Ref: 1</li>
				<li>Photo<br>
				Ref: 2</li>
				<li>Intro<br>
				Ref: 3, 4 and 5</li>
				<li>En vedette<br>
				Ref: 6</li>
			</ul>
		</div>
	</div>
	<pre><code>&lt;!-- Titre [Réf: 1] --&gt;
	&lt;div class=&quot;row&quot;&gt;
		&lt;div class=&quot;col-3&quot;&gt;
			&lt;!-- Intro - photo du ou de la ministre [Ref: 2] --&gt;
		&lt;/div&gt;
		&lt;div class=&quot;col-9&quot;&gt;
			&lt;!-- Intro - Texte [Ref: 3 and 4] --&gt;
			&lt;!-- Coordonnées [Ref: 5] --&gt;
		&lt;/div&gt;
	&lt;/div&gt;
	&lt;!-- Promotions contextuelles (Version 4.0 - 1-col; 2-col; 3-col; ) [Ref: 6] --&gt;</code></pre>
	<h3>Profil des ministres - journée d'assermentation</h3>
	<p>Basé sur la version 2.0 en excluant Intro #3 (liste), #5 et En vedette #6 et en ajouter la classe <code>mrgn-tp-lg</code> au premier paragraphe.</p>
</details>

<details class="mt-3">
	<summary><h2 class="h5">Version 1.0</h2></summary>
	<div class="row">
		<div class="col-md-6">
			<img src="./img/ministerial-profileV1-fra.jpg" alt="Modèle de la page de profil des ministres version 1.0">
		</div>
		<div class="col-md-6">
			<ul>
				<li>Titre<br>
				Ref: 1</li>
				<li>Photo<br>
				Ref: 2</li>
				<li>Intro<br>
				Ref: 3, 4, and 5</li>
				<li>Fil Twitter<br>
				Ref: 6</li>
				<li>Nouveautés<br>
				Ref: 7</li>
				<li>Activités récentes<br>
				Ref: 8</li>
				<li>Galerie<br>
				Ref: 9</li>
			</ul>
		</div>
	</div>
	<pre><code>&lt;!-- Titre [Réf: 1] --&gt;
	&lt;div class=&quot;row&quot;&gt;
		&lt;div class=&quot;col-md-3&quot;&gt;
			&lt;!-- Intro - Photo du Ministre [Ref: 2] --&gt;
		&lt;/div&gt;
		&lt;div class=&quot;col-md-6&quot;&gt;
			&lt;!-- Intro - Texte [Réf: 3 and 4] --&gt;
			&lt;!-- Contact us [Réf: 5] --&gt;
		&lt;/div&gt;
		&lt;div class=&quot;col-md-3&quot;&gt;
			&lt;!-- Fil Twitter [Réf: 6] --&gt;
		&lt;/div&gt;
	&lt;/div&gt;
	&lt;div class=&quot;row&quot;&gt;
		&lt;div class=&quot;col-sm-12&quot;&gt;
			&lt;!-- Nouveautés [Réf: 7] --&gt;
		&lt;/div&gt;
	&lt;/div&gt;
	&lt;section&gt;
		&lt;!-- Activités récentes [Réf: 8] --&gt;
	&lt;/section&gt;
	&lt;section&gt;
		&lt;!-- Galerie [Réf: 9] --&gt;
	&lt;/section&gt;</code></pre>
</details>

<h2>Rapport et évaluation</h2>
<p>Il n'y aucun rapport ou évaluation disponible pour ce gabarit.</p>
