/*
 WET breadcrumb overwrites
 for: GCWeb v5
 */

#wb-bc {
	flex: 1 0 0%;
	padding-right: 10px;

	ol {
		margin-top: 10px;
		padding-left: 0px;
		padding-right: 0px;
	}
	li {
		padding: 0;

		&:before {
			content: "\e080";
			margin-left: 7px;
			margin-right: 5px;
			padding: 0;
			position: relative;
		}
	}
	a {
		padding: 5px 0;
	}
}
