/*
 WET button overwrites
 */

body {
	.btn-primary {
		background-color: $accent-blue;
		border-color: $accent-blue;
	}
}

.btn {
	font-family: Lato, sans-serif; // same font as %defaults-alternative-font-family
}

/* Call-to-action button style - new with GCWeb v5 */
.btn-call-to-action {
	@include button-variant( #fff, #318000, #458259 );
	font-size: 1.1em;
	margin-bottom: 25px;
	margin-top: 15px;
	padding: .58em 1em;
	text-shadow: 1px 2px #333;
	/*NOTE: It's normal for call to action buttons to look noticeably smaller in <form> elements by default... caused by <form> element font downsizing and its use of em instead of px*/
}
.btn-call-to-action:visited {
	color: #fff;
}
/*This selector is very weird... it adds a gigantic amount of padding to the end of <input> elements that are styled as buttons :S... remove it?*/
input.btn.btn-call-to-action {
	padding-bottom: 2em;
}
/*TODO: Still need an override for this... it looks very odd in a standard input btn with the call to action class. Not sure if just adding an extra override selector somewhere might mess up the other btn sizes' paddings*/
