/*
 WET button overwrites
 */

main {
	.btn-primary {
		background-color: $accent-blue;
		border-color: $accent-blue;
	}
}

.btn {
	font-family: Lato, sans-serif; // same font as %defaults-alternative-font-family
}

/* Call-to-action button style - new with GCWeb v2 */
.btn-call-to-action {
	@include button-variant( #fff, #318000, #458259 );
	font-size: 1.1em;
	margin-bottom: 25px;
	margin-top: 15px;
	padding: .58em 1em;
	text-shadow: 1px 2px #333;
}
.btn-call-to-action:visited {
	color: #fff;
}
input.btn.btn-call-to-action {
	padding-bottom: 2em;
}
