/*
 Banner
 */

header {
	position: relative;

	.brand {
		margin-bottom: 10px;
		padding-bottom: 0;
		padding-top: 10px;

		a {
			display: block;
			height: auto;
			padding-bottom: 0;
			position: relative;
			text-decoration: none;
			width: auto;

			&:after {
				bottom: 0;
				content: "";
				left: 0;
				position: absolute;
				right: 0;
				top: 0;
			}
		}

		// Needed for backwards compatibility with GCWeb 4.0.27 and below's HTML markup.
		// Remove object references from all of this theme's logo selectors in GCWeb 4.1+.
		img,
		object {
			height: auto;
			max-height: 40px;
		}

		img {
			margin-bottom: .375em;
		}
	}
}

/* IE Tweaks */
.lt-ie9 {
	header {
		.brand {
			a {
				margin-top: 0;
			}

			img {
				height: 40px;
			}
		}
	}
}

[dir=rtl] {
	header {
		.brand {
			float: right;
		}
	}
}
