/* Provisional featured link component */

.provisional.gc-featured-link {
	background-color: $bg-gctheme;
	opacity: .9;
	padding-bottom: $space-md;
	padding-top: $space-md;

	p, a {
		color: #fff;
	}

	p {
		float: left !important;
		margin-bottom: $space-0;
	}
}
