---
{
	"title": Featured link,
	"description": Working examples for the Featured link component,
	"language": en,
	"altLangPage": gc-featured-link-fr.html,
	"dateModified": 2024-03-08,
	"breadcrumbs": [
		{ "title": "Featured link - Documentation", "link": "components/gc-featured-link/gc-featured-link-doc-en.html" }
	],
	"layout": no-container
}
---
<span class="wb-prettify all-pre hide"></span>

<div class="container">
	<h1 id="wb-cont" property="name">{{ page.title }}</h1>
	<p>Below are working examples for the "Featured link" component.</p>

	<section class="alert alert-info mrgn-tp-lg">
		<h2 class="h3">Headings structure</h2>
		<p>The logic semantic structure of headings have not been followed to accommodate the following working examples.</p>
	</section>

	<h2>On this page</h2>
	<ul>
		<li><a href="#defaultExample">Default example</a></li>
		<li><a href="#customBackgroundExample">Customized background color examples</a></li>
		<li><a href="#linkBelowExample">Example with featured link description below the link</a></li>
	</ul>

	<h2 id="defaultExample">Default example</h2>
</div>

<section class="gc-featured-link">
	<div class="container">
		<h2 class="wb-inv">Spotlight on</h2>
		<p><a class="stretched-link" href="#">[Promotion title]</a></p>
	</div>
</section>

<div class="container">
	<h3 id="codeSample1">Code</h3>
	<pre><code>&lt;section class="gc-featured-link"&gt;
	&lt;div class="container"&gt;
		&lt;h2 class="wb-inv"&gt;Spotlight on&lt;/h2&gt;
		&lt;p&gt;&lt;a class="stretched-link" href="#"&gt;[Promotion title]&lt;/a&gt;&lt;/p&gt;
	&lt;/div&gt;
&lt;/section&gt;</code></pre>

	<h2 id="customBackgroundExample">Customized background color examples</h2>
	<p class="mrgn-tp-lg">Dark background example:</p>
</div>

<section class="gc-featured-link" data-bg-color="#005B61">
	<div class="container">
		<h2 class="wb-inv">Spotlight on</h2>
		<p><a class="stretched-link" href="#">[Promotion title]</a></p>
	</div>
</section>

<div class="container">
	<p class="mrgn-tp-lg">Light color example:</p>
</div>

<section class="gc-featured-link" data-bg-color="#99dade">
	<div class="container">
		<h2 class="wb-inv">Spotlight on</h2>
		<p><a class="stretched-link" href="#">[Promotion title]</a></p>
	</div>
</section>

<div class="container">
	<p class="mrgn-tp-lg">Medium color example:</p>
</div>

<section class="gc-featured-link" data-bg-color="#8F8F8F">
	<div class="container">
		<h2 class="wb-inv">Spotlight on</h2>
		<p><a class="stretched-link" href="#">[Promotion title]</a></p>
	</div>
</section>

<div class="container">
	<h3 id="codeSample2">Code</h3>
	<pre><code>&lt;section class="gc-featured-link" data-bg-color="#005B61">
	&lt;div class="container">
		&lt;h2 class="wb-inv">Spotlight on&lt;/h2>
		&lt;p>&lt;a class="stretched-link" href="#">[Promotion title]&lt;/a>&lt;/p>
	&lt;/div>
&lt;/section>

&lt;section class="gc-featured-link" data-bg-color="#99dade">
	&lt;div class="container">
		&lt;h2 class="wb-inv">Spotlight on&lt;/h2>
		&lt;p>&lt;a class="stretched-link" href="#">[Promotion title]&lt;/a>&lt;/p>
	&lt;/div>
&lt;/section>

&lt;section class="gc-featured-link" data-bg-color="#8F8F8F">
	&lt;div class="container">
		&lt;h2 class="wb-inv">Spotlight on&lt;/h2>
		&lt;p>&lt;a class="stretched-link" href="#">[Promotion title]&lt;/a>&lt;/p>
	&lt;/div>
&lt;/section></code></pre>

	<h2 id="linkBelowExample">Example with featured link description below the link</h2>
</div>

<section class="gc-featured-link">
	<div class="container">
		<h2 class="wb-inv">Spotlight on</h2>
		<p><a class="stretched-link" href="#">[Promotion title]</a></p>
		<p>Long description [optional]</p>
	</div>
</section>

<div class="container">
	<h3 id="codeSample3">Code</h3>
	<pre><code>&lt;section class="gc-featured-link"&gt;
	&lt;div class="container"&gt;
		&lt;h2 class="wb-inv"&gt;Spotlight on&lt;/h2&gt;
		&lt;p&gt;&lt;a class="stretched-link" href="#"&gt;[Promotion title]&lt;/a&gt;&lt;/p&gt;
		&lt;p&gt;Long description [Optional]&lt;/p&gt;
	&lt;/div&gt;
&lt;/section&gt;</code></pre>
</div>
