---
title: Featured link
description: Documentation and working example for the featured link - provisional feature
language: en
altLangPage: gc-featured-link-fr.html
dateModified: 2021-07-07
layout: no-container
---
<div class="container">
	<h1>{{ page.title }}</h1>

	{% include alert-provisional.html siteroot="../../" %}

	<span class="wb-prettify all-pre hide"></span>

	<dl class="horizontal">
		<dt>Status</dt>
		<dd>Provisional</dd>
		<dt>Type</dt>
		<dd>Canada.ca design pattern</dd>
		<dt>Last review</dt>
		<dd>2021-07-07</dd>
		<dt>Conforming to</dt>
		<dd>Content and IA Specification - Version 2.1.2</dd>
		<dt>Guidance</dt>
		<dd>n/a</dd>
		<dt>Technical name</dt>
		<dd><code>gc-featured-link</code></dd>
	</dl>

	<h2>Purpose</h2>
	<p>This adds a featured link to a page that your institution needs to feature prominently. It should be used to bring attention to warnings or notices.</p>

	<h2>Working examples</h2>

	<h3>Featured link (provisional v1.0)</h3>
	<p>The logic semantic structure of headings have not been followed to accommodate each working examples.</p>
</div>

<section class="provisional gc-featured-link">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h2 class="wb-inv">Featured</h2>
				<p><a class="stretched-link" href="#">[Promotion title]</a></p>
				<p>Long description [Optional]</p>
			</div>
		</div>
	</div>
</section>

<div class="container">
	<h3>Code</h3>
	<pre><code>&lt;section class="provisional gc-featured-link"&gt;
		&lt;div class="container"&gt;
			&lt;div class="row"&gt;
				&lt;div class="col-xs-12"&gt;
					&lt;h2 class="wb-inv"&gt;Featured&lt;/h2&gt;
					&lt;p&gt;&lt;a class="stretched-link" href="#"&gt;[Promotion title]&lt;/a&gt;&lt;/p&gt;
					&lt;p&gt;Long description [optional]&lt;/p&gt;
				&lt;/div&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/section&gt;
	</code></pre>

	<h3>Previous design patterns</h3>
	<details>
		<summary>Previous pattern (Home page)</summary>
		<p>Pattern using helpers:</p>
		<div class="bg-gctheme opct-90">
			<div class="container">
				<div class="row">
					<div class="mrgn-tp-md mrgn-bttm-md col-xs-12">
						<p class="pull-left text-white mrgn-bttm-0">Featured:&nbsp;</p>
						<p class="pull-left mrgn-bttm-0"><a class="stretched-link text-white" href="#">[Promotion title]</a></p>
					</div>
				</div>
			</div>
		</div>

		<pre><code>&lt;div class="bg-gctheme opct-90"&gt;
			&lt;div class="container"&gt;
				&lt;div class="row"&gt;
					&lt;div class="mrgn-tp-md mrgn-bttm-md col-xs-12"&gt;
						&lt;p class="pull-left text-white mrgn-bttm-0"&gt;Featured:&nbsp;&lt;/p&gt;
						&lt;p class="pull-left mrgn-bttm-0"&gt;&lt;a class="stretched-link text-white" href="#"&gt;[Promotion title]&lt;/a&gt;&lt;/p&gt;
					&lt;/div&gt;
				&lt;/div&gt;
			&lt;/div&gt;
		&lt;/div&gt;
		</code></pre>
	</details>

	<h2>Evaluation and report</h2>
	<p>There is no evaluation and report available for this component.</p>
</div>
