---
{
	"title": Lien en vedette,
	"description": Exemples pratiques de la composante Lien en vedette,
	"language": fr,
	"altLangPage": gc-featured-link-en.html,
	"dateModified": 2024-03-08,
	"breadcrumbs": [
		{ "title": "Lien en vedette - Documentation", "link": "components/gc-featured-link/gc-featured-link-doc-fr.html" }
	],
	"layout": no-container
}
---
<span class="wb-prettify all-pre hide"></span>

<div class="container">
	<h1 id="wb-cont" property="name">{{ page.title }}</h1>
	<p>Vous trouverez ci-dessous des exemples pratiques pour la composante « Lien en vedette ».</p>

	<section class="alert alert-info mrgn-tp-lg">
		<h2 class="h3">Structure des en-têtes</h2>
		<p>La structure sémantique logique des en-têtes n'a pas été suivie afin de s'adapter aux exemples pratiques suivants.</p>
	</section>

	<h2>Sur cette page</h2>
	<ul>
		<li><a href="#exempleParDefaut">Exemple par défaut</a></li>
		<li><a href="#arrierePlanPersonnalise">Exemple avec couleur d'arrière-plan personnalisée</a></li>
		<li><a href="#descriptionSousLien">Exemple de lien en vedette avec description sous le lien</a></li>
	</ul>

	<h2 id="exempleParDefaut">Exemple par défaut</h2>
</div>

<section class="gc-featured-link">
	<div class="container">
		<h2 class="wb-inv">Pleins feux sur</h2>
		<p><a class="stretched-link" href="#">[Titre de la promotion]</a></p>
	</div>
</section>

<div class="container">
	<h3 id="codeSample1">Code</h3>
	<pre><code>&lt;section class="gc-featured-link">
	&lt;div class="container">
		&lt;h2 class="wb-inv">Pleins feux sur&lt;/h2>
		&lt;p>&lt;a class="stretched-link" href="#">[Titre de la promotion]&lt;/a>&lt;/p>
	&lt;/div>
&lt;/section></code></pre>

	<h2 id="arrierePlanPersonnalise">Exemple avec couleur d'arrière-plan personnalisée</h2>
	<p class="mrgn-tp-lg">Exemple avec couleur sombre&nbsp;:</p>
</div>

<section class="gc-featured-link" data-bg-color="#005B61">
	<div class="container">
		<h2 class="wb-inv">Pleins feux sur</h2>
		<p><a class="stretched-link" href="#">[Titre de la promotion]</a></p>
	</div>
</section>

<div class="container">
	<p class="mrgn-tp-lg">Exemple avec couleur claire&nbsp;:</p>
</div>

<section class="gc-featured-link" data-bg-color="#99dade">
	<div class="container">
		<h2 class="wb-inv">Pleins feux sur</h2>
		<p><a class="stretched-link" href="#">[Titre de la promotion]</a></p>
	</div>
</section>

<div class="container">
	<p class="mrgn-tp-lg">Exemple avec couleur intermédiaire&nbsp;:</p>
</div>

<section class="gc-featured-link" data-bg-color="#8F8F8F">
	<div class="container">
		<h2 class="wb-inv">Pleins feux sur</h2>
		<p><a class="stretched-link" href="#">[Titre de la promotion]</a></p>
	</div>
</section>

<div class="container">
	<h3 id="codeSample2">Code</h3>
	<pre><code>&lt;section class="gc-featured-link" data-bg-color="#005B61">
	&lt;div class="container">
		&lt;h2 class="wb-inv">Pleins feux sur&lt;/h2>
		&lt;p>&lt;a class="stretched-link" href="#">[Titre de la promotion]&lt;/a>&lt;/p>
	&lt;/div>
&lt;/section>

&lt;section class="gc-featured-link" data-bg-color="#99dade">
	&lt;div class="container">
		&lt;h2 class="wb-inv">Pleins feux sur&lt;/h2>
		&lt;p>&lt;a class="stretched-link" href="#">[Titre de la promotion]&lt;/a>&lt;/p>
	&lt;/div>
&lt;/section>

&lt;section class="gc-featured-link" data-bg-color="#8F8F8F">
	&lt;div class="container">
		&lt;h2 class="wb-inv">Pleins feux sur&lt;/h2>
		&lt;p>&lt;a class="stretched-link" href="#">[Titre de la promotion]&lt;/a>&lt;/p>
	&lt;/div>
&lt;/section></code></pre>

	<h2 id="descriptionSousLien">Exemple de lien en vedette avec description sous le lien</h2>
</div>

<section class="gc-featured-link">
	<div class="container">
		<h2 class="wb-inv">Pleins feux sur</h2>
		<p><a class="stretched-link" href="#">[Titre de la promotion]</a></p>
		<p>Description longue [facultatif]</p>
	</div>
</section>

<div class="container">
	<h3 id="codeSample3">Code</h3>
	<pre><code>&lt;section class="gc-featured-link"&gt;
	&lt;div class="container"&gt;
		&lt;h2 class="wb-inv"&gt;Pleins feux sur&lt;/h2&gt;
		&lt;p&gt;&lt;a class="stretched-link" href="#"&gt;[Titre de la promotion]&lt;/a&gt;&lt;/p&gt;
		&lt;p&gt;Description longue [facultatif]&lt;/p&gt;
	&lt;/div&gt;
&lt;/section&gt;</code></pre>
</div>
