/*
  WET-BOEW
  @title: Small view and under (screen only)
 */

#wb-info {
	ul {
		&.list-unstyled {
			border-right: 1px solid rgba(0, 0, 0, 0.05);
			min-height: 200px;
		}
	}

	section {
		&:nth-of-type(even) {
			ul {
				border: 0;
			}
		}
		&.ftr-urlt-lnk {
			ul {
				li {
					&:nth-child(5):before {
						content: none; 
					}
				}
			}
		}
	}
}