/*
  WET-BOEW
  @title: Small view and under (screen only)
 */

#wb-info {

	.ftr-urlt-lnk {
		ul {
			column-count: 2;

			li {
				display: block;
				margin-bottom: .2em;

				&:first-child:before {
					content: "\2022";
					margin-right: .7em;
				}
			}
		}
	}
}
