/*
  WET-BOEW
  @title: Search medium view and over (screen only)
 */

#wb-info {
	.ftr-urlt-lnk {
		li {
			display: inline-block;
			float: left;
			margin-right: $footer-about-li-horizontal-spacing;

			&:first-child:before {
				content: none;
			}
		}
	}
}

[dir=rtl] {
	#wb-info {
		.ftr-urlt-lnk {
			li {
				float: right;
			}
		}
	}
}
