/*
  WET-BOEW
  @title: Medium view and over (screen only)
 */

#wb-info {
	ul {
		&.list-unstyled {
			border-right: 1px solid rgba(0, 0, 0, 0.05);
			min-height: 200px;
		}
	}

	section {
		&:nth-of-type(4) {
			ul {
				border: 0;
			}
		}
	}
}