---
title: Bloc d’introduction
description: Documentation et exemple pratique de bloc d’introduction
language: fr
altLangPage: gc-intro-block-en.html
dateModified: 2023-08-09
layout: no-container
---
<div class="container">
	<h1 property="name" id="wb-cont" dir="ltr">{{ page.title }}</h1>

	<span class="wb-prettify all-pre hide"></span>
	<p>La configuration de conception du bloc d’introduction introduit le contenu d’une page d’accueil.</p>

	<h2>Sur cette page</h2>
	<ul>
		<!-- <li><a href="#inc-components">Included components</a></li> -->
		<li><a href="#before-start">Before you start</a></li>
		<li><a href="#accessibility-guidance">Accessibility guidance</a></li>
		<li><a href="#variations">Variations</a></li>
		<li><a href="#eval-report">Evaluation and report</a></li>
		<li><a href="#technical-docs">Technical documentation</a></li>
	</ul>

	<h2 id="before-start">Before you start</h2>
	<p>La configuration de conception du bloc d’introduction est un élément obligatoire pour les pages d’accueil institutionnelles et les pages de sujet. Elle est facultative pour les autres pages d’accueil.</p>

	<ul>
		<li><a href="">How to set up the institutional landing page</a></li>
		<li><a href="">Introduction block pattern</a></li>
	</ul>

	<h2 id="accessibility-guidance">Accessibility guidance</h2>
	<p>List of accessibility guidances to be followed to ensure component is used in respect of the accessibility guideline and EN 301 549 standard (including WCAG 2.1 Level AA).</p>
	<p>There is <span>no accessibility guidance</span> defined.</p>

	<h2 id="variations">Variations</h2>
	<p>La configuration de conception du bloc d’introduction consiste en ce qui suit&nbsp;:</p>
	<ul>
		<li>titre</li>
		<li>description courte</li>
	</ul>
	<p>Elle peut également inclure ces éléments&nbsp;:</p>
	<ul>
		<li>image</li>
		<li>bouton de super-tâche</li>
	</ul>

	<h3>Bloc d’introduction</h3>
	<div class="bg-center bg-cover" data-bgimg-srcset="img/1x1.png 991w, img/ip-cover-image-1200x726.jpg 992w">
		<div class="container">
			<div class="row mrgn-bttm-md">
				<div class="col-md-7">
				<h1 property="name" id="wb-cont">[Nom de l’institution]</h1>
					<p>Description courte du mandat de l’institution.</p>
					<a class="btn btn-call-to-action" href="#">Bouton de super-tâche [facultatif]</a>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<h3>Code</h3>
		<pre><code>
		&lt;div class="bg-center bg-cover" data-bgimg-srcset="img/1x1.png 991w, img/ip-cover-image-1200x726.jpg 992w"&gt;
	&lt;div class="container"&gt;
		&lt;div class="row mrgn-bttm-md"&gt;
			&lt;div class="col-md-7"&gt;
				&lt;h1 property="name" id="wb-cont"&gt;[Nom de l’institution]&lt;/h1&gt;
				&lt;p&gt;Description courte du mandat de l’institution&lt;/p&gt;
				&lt;a class="btn btn-call-to-action" href="#"&gt;Bouton de super-tâche [facultatif]&lt;/a&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;
	</code></pre>
</div>

<h2 id="eval-report">Evaluation and report</h2>
<p>There is no accessibility report.</p>

<p>There is no accessibility conformance report.</p>
	<h2 id="technical-docs">Technical documentation</h2>
	<dl class="dl-horizontal">
		<dt>Status:</dt>
		<dd data-status="">stable</dd>
	</dl>
</div>
