---
breadcrumb: [
	{ "title": "GCWeb home", "link": "https://wet-boew.github.io/GCWeb/home.html" }
]
dateModified: "2021-06-02"
description: "Documentation and working example of a GC override to the feeds plugin  - provisional feature"
language: "en"
altLangPage: "gc-feeds-fr.html"
title: "Feeds plugin GC override - Provisional feature"
---
{% include alert-provisional.html siteroot="../../" %}

<span class="wb-prettify all-pre hide"></span>

<dl class="horizontal">
	<dt>Status</dt>
	<dd>Provisional</dd>
	<dt>Type</dt>
	<dd>Canada.ca design pattern</dd>
	<dt>Last review</dt>
	<dd>2021-06-02</dd>
	<dt>Conforming to</dt>
	<dd>n/a</dd>
	<dt>Guidance</dt>
	<dd>n/a</dd>
	<dt>Technical name</dt>
	<dd><code>gc-feeds</code></dd>
</dl>

<h2>Purpose</h2>
<p>This replace/override existing styles of the feeds plugin and apply GC styles.</p>

<h2>Working example</h2>

<h3>Feeds plugin GC override (provisional v1.0)</h3>
<div class="container">
	<div class="row">
		<section class="provisional wb-feeds gc-feeds limit-3 col-md-4">
			<h2 class="h3">News</h2>
			<ul class="feeds-cont list-unstyled lst-spcd">
				<li>
					<a data-ajax="../../components/feeds/demo/example-en.atom.json" href="#">
					[Institution] news
					</a>
				</li>
			</ul>
			<p>More: <a href="#">[Institution] news</a></p>
		</section>
	</div>
</div>

<h3>Code</h3>
<pre><code>
&lt;div class="container"&gt;
	&lt;div class="row"&gt;
		&lt;section class="provisional wb-feeds gc-feeds limit-3 col-md-4"&gt;
			&lt;h2 class="h3"&gt;News&lt;/h2&gt;
			&lt;ul class="feeds-cont list-unstyled lst-spcd"&gt;
				&lt;li&gt;
					&lt;a data-ajax="../../components/feeds/demo/example-en.atom.json" href="#"&gt;
					[Institution] news
					&lt;/a&gt;
				&lt;/li&gt;
			&lt;/ul&gt;
			&lt;p&gt;More: &lt;a href="#"&gt;[Institution] news&lt;/a&gt;&lt;/p&gt;
		&lt;/section&gt;
	&lt;/div&gt;
&lt;/div&gt;
</code></pre>

<h2>Evaluation and report</h2>
<p>There is no evaluation and report available for this component.</p>
