---
dateModified: "2021-06-02"
description: "Documentation et exemple pratique d'un remplacement et application de styles GC au plugiciel de fils de syndication - fonctionnalité provisoire"
language: "fr"
altLangPage: "gc-feeds-en.html"
title: "Fils de syndication remplacement et application de styles GC - fonctionnalité provisoire"
---
{% include alert-provisional.html %}

<span class="wb-prettify all-pre hide"></span>

<dl class="horizontal">
	<dt>Statut</dt>
	<dd>Provisiore</dd>
	<dt>Type</dt>
	<dd>Conception de Canada.ca</dd>
	<dt>Dernière revue</dt>
	<dd>2021-06-02</dd>
	<dt>Est conforme à</dt>
	<dd>n/a</dd>
	<dt>Directives</dt>
	<dd>n/a</dd>
	<dt>Nom technique</dt>
	<dd><code>gc-feeds</code></dd>
</dl>

<h2>Objectif</h2>
<p>Ceci remplace et applique des styles GC aux styles existant du plugiciel fils de syndication.</p>

<h2>Exemple pratique</h2>

<h3>Fils de syndication avec styles GC appliqués (provisoire v1.0)</h3>
<div class="container">
	<div class="row">
		<section class="provisional wb-feeds gc-feeds limit-3 col-md-4">
			<h2 class="h3">Nouvelles</h2>
			<ul class="feeds-cont list-unstyled lst-spcd">
				<li>
					<a data-ajax="../../components/feeds/demo/example-fr.atom.json" href="#">
					[Institution] nouvelles
					</a>
				</li>
			</ul>
			<p>More: <a href="#">[Institution] nouvelles</a></p>
		</section>
	</div>
</div>

<h3>Code</h3>
<pre><code>
&lt;div class="container"&gt;
	&lt;div class="row"&gt;
		&lt;section class="provisional wb-feeds gc-feeds limit-3 col-md-4"&gt;
			&lt;h2 class="h3"&gt;Nouvelles&lt;/h2&gt;
			&lt;ul class="feeds-cont list-unstyled lst-spcd"&gt;
				&lt;li&gt;
					&lt;a data-ajax="../../components/feeds/demo/example-fr.atom.json" href="#"&gt;
					[Institution] nouvelles
					&lt;/a&gt;
				&lt;/li&gt;
			&lt;/ul&gt;
			&lt;p&gt;More: &lt;a href="#"&gt;[Institution] nouvelles&lt;/a&gt;&lt;/p&gt;
		&lt;/section&gt;
	&lt;/div&gt;
&lt;/div&gt;
</code></pre>

<h2>Évaluation et rapport</h2>
<p>Il n'y a pas d'évaluation et de rapport disponibles pour ce composant.</p>
