---
title: Steps Quiz
dateModified: 2024-04-01
description: "Addition of a Quiz pattern to the existing Steps Form component."
lang: en
altLangPage: "index-fr.html"
css:
- stepsquiz.css
script:
- js/stepsquiz.js
---
<p>Addition of a quiz pattern for the Steps Form component.</p>

<h2>GCWeb implementation plan</h2>

{% assign implPlan = site.pages | where: "output", "false" | where: "componentName", "2024-04-stepsquiz" | first %}

<ul>
{% for deliverable in implPlan.implementationPlan %}
	<li>{{ deliverable.due }} - {{ deliverable.what }}</li>
{% endfor %}
</ul>

<p>Todo and for future consideration</p>
<ul>
{% for todo in implPlan.todos %}
	<li>{{ todo }}</li>
{% endfor %}
</ul>

<p>Accessibility reports</p>
<ul>
{% for a11y in implPlan.a11y %}
	<li>{{ a11y }}</li>
{% endfor %}
</ul>

<p>Sponsor: {{ implPlan.sponsor }}</p>

<section>
	<h2>Purpose</h2>
	<p>This feature provides a quiz pattern when applied to the Steps Form component.</p>
</section>

<section>
	<h2>How to use</h2>
	<ol>
		<li>Add the <code>quiz</code> CSS class to <code>&lt;div&gt;</code> element containing the <code>wb-steps</code> CSS class of the Steps Form component.</li>
	</ol>
</section>

<section>
	<h2>List of changes</h2>
	<dl class="dl-horizontal">
		<dt>Date:</dt>
		<dd>2024-07-15</dd>
		<dt>Description:</dt>
		<dd>
			<ul>
				<li>French translation functionality on language toggle for two text elements found in the component.</li>
				<li>Addition of a <code>&lt;label&gt;</code> element around the <code>&lt;progress&gt;</code> element in order to resolve an accessibility issue (ref: <a href="reports/a11y-1-en.html">Accessibility assessment no.1 - Progress bar</a>).</li>
			</ul>
		</dd>
		<dt>Impact on the sponsoring department:</dt>
		<dd>Prevents a possible complaint related to official languages and/or accessibility.</dd>
		<dt>Impact on users:</dt>
		<dd>Access to content that complies with official languages and that meets WCAG accessibilty guidlines 2.1 (Option: Level AA).</dd>
	</dl>
</section>

<section>
	<h2>Working Examples</h2>
	<ul>
		<li><a href="#default-1">Steps Quiz - Default (full width)</a></li>
		<li><a href="stepsquiz-limited.html">Steps Quiz - Content Limited Width Panel</a></li>
	</ul>
</section>

<section>
	<div class="wb-frmvld provisional wb-steps quiz">
		<h2 id="default-1">Example - Default (full width)</h2>
		<form action="#" id="quiz-example">
			<fieldset>
				<legend>1. Which is your favorite fruit?</legend>
				<div>
					<p>My favorite fruit is:</p>
					<ul class="list-unstyled lst-spcd-2 gc-chckbxrdio">
						<li class="radio">
							<input type="radio" name="fruit" id="apple-1" value="apple">
							<label for="apple-1">Apple</label>
						</li>
						<li class="radio">
							<input type="radio" name="fruit" id="orange-1" value="orange">
							<label for="orange-1">Orange</label>
						</li>
						<li class="radio">
							<input type="radio" name="fruit" id="banana-1" value="banana">
							<label for="banana-1">Banana</label>
						</li>
						<li class="radio">
							<input type="radio" name="fruit" id="kiwi-1" value="Kiwi">
							<label for="kiwi-1">Kiwi</label>
						</li>
					</ul>
				</div>
			</fieldset>
			<fieldset>
				<legend>2. Which is your favorite pet?</legend>
				<div>
					<p>My favorite pet is:</p>
					<ul class="list-unstyled lst-spcd-2 gc-chckbxrdio">
						<li class="radio">
							<input type="radio" name="animal" id="dog-1" value="dog">
							<label for="dog-1">Dog</label>
						</li>
						<li class="radio">
							<input type="radio" name="animal" id="cat-1" value="cat">
							<label for="cat-1">Cat</label>
						</li>
						<li class="radio">
							<input type="radio" name="animal" id="bird-1" value="bird">
							<label for="bird-1">Bird</label>
						</li>
					</ul>
				</div>
			</fieldset>
			<fieldset>
				<legend>3. Condiments</legend>
				<div>
					<p>Choose your condiments:</p>
					<ul class="list-unstyled lst-spcd-2 gc-chckbxrdio">
						<li class="checkbox">
							<input type="checkbox" id="ketchup-1" value="ketchup" name="condiments">
							<label for="ketchup-1">Ketchup</label>
						</li>
						<li class="checkbox">
							<input type="checkbox" id="relish-1"  value="relish" name="condiments">
							<label for="relish-1">Relish</label>
						</li>
						<li class="checkbox">
							<input type="checkbox" id="mustard-1"  value="mustard" name="condiments">
							<label for="mustard-1">Mustard</label>
						</li>
					</ul>
				</div>
			</fieldset>
			<input type="submit" class="btn btn-primary" />
		</form>
	</div>
</section>
