@media print {
    //For Firefox
    main.container {
        * {
            display: block;
        }
    }
    .features, .shr, .fdbck *, .followus, .wb-sec, .wb-menu, .glyphicon, .tofpg {
        display: none !important;
    }
}