/*
 *
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 *
 */
/*
  @title: All screen views - Splash page
 */

#gcwu-sig,
#wmms {
	height: 2em;
}

#wmms {
	float: right;
}

header {
	margin-top: 1.2em;
}
