---
{
	"title": "Chat wizard JSON- Fonctionalité provisoire",
	"language": "fr",
	"category": "Plugiciels",
	"description": "Example pratique d'utilisation du chat wizard",
	"tag": "chatwizard",
	"parentdir": "chatwizard",
	"altLangPrefix": "chatwizard-json",
	"dateModified": "2020-04-16"
}
---
{{>alert-provisional-demos}}

<div class="wb-prettify all-pre"></div>
<div lang="en">
<p><strong>Need translation</strong></p>

<ul>
	<li><a href="chatwizard-en.html">Chat wizard</a></li>
	<li><a href="chatwizard-json-en.html">Chat wizard with JSON settings</a></li>
</ul>

<p>Below is the code to achieve the demo on this page with a JSON file.</p>
<pre><code>&lt;aside class="wb-chtwzrd" data-wb-chtwzrd-src="2019-assets/chtwzrd-v1/manual-form.json"&gt;&lt;/aside&gt;</code></pre>

<p><a href="demo/manual-form.json">Check out he JSON file</a> to get a grasp of how it is done.</p>

<pre><code>&lt;aside class=&quot;provisional wb-chtwzrd&quot; data-wb-chtwzrd-src=&quot;demo/manual-form.json&quot;&gt;&lt;/aside&gt;</code></pre>

{{>placeholdercontent}}

<aside class="provisional wb-chtwzrd" data-wb-chtwzrd-src="demo/manual-form.json"></aside>


</div>
