.choose-canada-banner {
	background-image: url("https://canada.ca/content/dam/pch/images/campaigns/choose-canada/Banner1920x315.jpg");
}

.choose-canada-banner .well {
	background-image: linear-gradient(to right, #8C0D13, #BB1119);
	border: 0;
	border-radius: 0;
	color: #fff;
	margin-bottom: 0;
	padding: 15px;
	position: relative;
}

.choose-canada-banner .well::before {
	content: "";
	position: absolute;
	top: 0;
	right: 100%;
	bottom: 0;
	width: 9999px;
	background-image: linear-gradient(to right, #BB1119, #8C0D13);
}

.choose-canada-banner .well h1#wb-cont {
	border-bottom-color: #fff;
	border-image-source: linear-gradient(to right, #fff 71px, transparent 71px);
	margin-top: 10px;
}

.choose-canada-card {
	border-radius: 18px;
	box-shadow: 0px 3px 6px #00000029;
	margin-bottom: 1.5em !important;
	overflow: hidden;
	position: relative;
}

.choose-canada-card .card-body {
	padding: 20px;
}

.choose-canada-card .card-title {
	font-size: 1.2em;
	margin-bottom: .75em;
	margin-top: 0 !important;
}
