---
language: "en"
---
<section class="wb-mb-links col-xs-6 visible-sm visible-xs" id="wb-glb-mn" >
	<ul class="list-inline text-right">
		<li><a href="#mnpanel" title="Menu"><span class="glyphicon glyphicon-th-list"><i class="wb-invisible">Menu</i></span></a></li>
		<li><a href="#srchpnl" title="{{#i18n "%tmpl-search"}}{{/i18n}}"><span class="glyphicon glyphicon-search"><i class="wb-invisible">{{#i18n "%tmpl-search"}}{{/i18n}}</i></span></a></li>
		<li><a href="#sttgpnl" title="{{#i18n "%tmpl-settings"}}{{/i18n}}"><span class="glyphicon glyphicon-cog"><i class="wb-invisible">{{#i18n "%tmpl-settings"}}{{/i18n}}</i></span></a></li>
	</ul>
</section>

