---
{
	language: "fr"
}
---

<li role="none presentation">
	<a role="menuitem" tabindex="-1" aria-haspopup="true" aria-controls="gc-mnu-jobs" aria-expanded="false" href="#">Emplois et milieu de travail</a>

	<!-- The following block is invisible -->
	<ul id="gc-mnu-jobs" role="menu" aria-orientation="vertical">
		<li role="none presentation">
			<a role="menuitem" tabindex="-1" href="https://www.canada.ca/en/services/jobs.html">Emplois et milieu de travail</a>
		</li>

		<li role="separator"></li>

		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/emplois/opportunites.html">Trouver un emploi</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/emplois/formation.html">Formation</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="http://www.canada.ca/gestion-entreprise">Embauche et gestion de personnel</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="http://www.canada.ca/demarrage-entreprise">Démarrage d'entreprise</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/emplois/milieu-travail.html">Normes en milieu de travail</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/finance/pensions.html">Pensions et retraite</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/prestations/ae.html">Employment Insurance and leave</a></li>

		<!-- Invisible vertical marker -->
		<li role="separator" aria-orientation="vertical"></li> <!-- Orientation must be horizontal in mobile -->

		<li role="none presentation">
			<!-- this submenu remain open on medium and large views -->
			<a data-keep-expanded="md-min" href="#" role="menuitem" tabindex="-1" aria-haspopup="true" aria-controls="gc-mnu-jobs-sub" aria-expanded="true">En demande</a>
			<ul id="gc-mnu-jobs-sub" role="menu" aria-orientation="vertical"> <!-- Menu is default  aria-orientation="vertical", but in WAI-ARIA 1.0 the default is horizontal, so it may impact -->
				<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/emploi-developpement-social/programmes/assurance-emploi/ae-liste/assurance-emploi-re/acceder-re.html">Voir vos Relevés d’emploi</a></li>
				<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/emploi-developpement-social/services/numero-assurance-sociale.html">Demander un numéro d’assurance-sociale</a></li>
				<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/emplois/opportunites/etudiants.html">Trouver un emploi étudiant</a></li>
				<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/emploi-developpement-social/services/travailleurs-etrangers.html">Embaucher un travailleur étranger temporaire</a></li>
				<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/immigration-refugies-citoyennete/services/immigrer-canada/entree-express.html">Immigrer en tant que travailleur qualifié</a></li>

			</ul>
		</li>
	</ul>
	<!-- END visible block -->
</li>


<li role="none presentation">
	<a role="menuitem" tabindex="-1" aria-haspopup="true" aria-controls="gc-mnu-cit" aria-expanded="false" href="#">Immigration et citoyenneté</a>

	<ul id="gc-mnu-cit" role="menu" aria-orientation="vertical">
		<li role="none presentation">
			<a role="menuitem" tabindex="-1" href="https://www.canada.ca/en/services/immigration-citizenship.html">Immigration <span class="hidden-desktop"> et citoyenneté</span><span class="visible-mobile">: accueil</span></a>
		</li>

		<li role="separator"></li>

		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/immigration-refugies-citoyennete/services/demande.html">Ma demande</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/immigration-refugies-citoyennete/services/visiter-canada.html">Visiter</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/immigration-refugies-citoyennete/services/immigrer-canada.html">Immigrer</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/immigration-refugies-citoyennete/services/travailler-canada.html">Travailler</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/immigration-refugies-citoyennete/services/etudier-canada.html">Étudier</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/immigration-refugies-citoyennete/services/citoyennete-canadienne.html">Citoyenneté</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/immigration-refugies-citoyennete/services/nouveaux-immigrants.html">Nouveaux immigrants</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/immigration-refugies-citoyennete/services/canadiens.html">Canadiens</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/immigration-refugies-citoyennete/services/refugies.html">Réfugiés et octroi de l’asile</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/immigration-citoyennete/application-loi-infractions.html">Application de la loi et infractions</a></li>

		<li role="separator" aria-orientation="vertical"></li> <!-- Orientation must be horizontal in mobile -->

		<li role="none presentation">
			<!-- this submenu remain open on medium and large views -->
			<a data-keep-expanded="md-min" href="#" role="menuitem" tabindex="-1" aria-haspopup="true" aria-controls="gc-mnu-cit-sub" aria-expanded="true">En demande</a>
			<ul id="gc-mnu-cit-sub" role="menu" aria-orientation="vertical"> <!-- Menu is default  aria-orientation="vertical", but in WAI-ARIA 1.0 the default is horizontal, so it may impact -->

				<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/immigration-refugies-citoyennete/services/demande/compte.html">Se connecter ou créer un compte pour présenter une demande en ligne</a></li>
				<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/immigration-refugies-citoyennete/services/demande/verifier-etat.html">Vérifier l’état de sa demande</a></li>
				<li role="none presentation"><a role="menuitem" tabindex="-1" href="http://www.cic.gc.ca/francais/information/delais/index.asp">Vérifier les délais de traitement des demandes</a></li>
				<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/immigration-refugies-citoyennete/services/demande/formulaires-demande-guides.html">Trouver un formulaire de demande</a></li>
				<li role="none presentation"><a role="menuitem" tabindex="-1" href="http://www.cic.gc.ca/francais/information/frais/index.asp">Payer les frais</a></li>
				<li role="none presentation"><a role="menuitem" tabindex="-1" href="http://www.cic.gc.ca/francais/visiter/visas.asp">Déterminer si vous avez besoin d’une AVE ou d’un visa pour visiter le Canada</a></li>
				<li role="none presentation"><a role="menuitem" tabindex="-1" href="http://www.cic.gc.ca/francais/centre-aide/index-en-vedette-can.asp">Trouver réponse à ses questions dans le Centre d’aide</a></li>
			</ul>
		</li>
	</ul>
</li>

<li role="none presentation">
	<a role="menuitem" tabindex="-1" aria-haspopup="true" aria-controls="gc-mnu-travel" aria-expanded="false" href="#">Voyage et tourisme</a>

	<ul id="gc-mnu-travel" role="menu" aria-orientation="vertical">
		<li role="none presentation">
			<a role="menuitem" tabindex="-1" href="https://voyage.gc.ca/">Voyage et tourisme</a>
		</li>

		<li role="separator"></li>

		<li role="none presentation"><a role="menuitem" tabindex="-1" href="http://voyage.gc.ca/voyager/avertissements">Conseils aux voyageurs et avertissements</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="http://voyage.gc.ca/tourisme-canadien">Attraits touristiques, événements et expériences au Canada</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/immigration-refugies-citoyennete/services/passeports-canadiens.html">Passeports canadiens</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="http://voyage.gc.ca/voyager">Voyager à l’étranger</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="http://voyage.gc.ca/avion">Voyager en avion</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="http://voyage.gc.ca/retour">Retour au Canada</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="http://voyage.gc.ca/assistance">Assistance à l’étranger</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="http://voyage.gc.ca/restez-branches">Restez branchés</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="http://www.canada.ca/visiter">Visiter le Canada</a></li>

		<li role="separator" aria-orientation="vertical"></li> <!-- Orientation must be horizontal in mobile -->

		<li role="none presentation">
			<!-- this submenu remain open on medium and large views -->
			<a data-keep-expanded="md-min" href="#" role="menuitem" tabindex="-1" aria-haspopup="true" aria-controls="gc-mnu-travel-sub" aria-expanded="true">En demande</a>
			<ul id="gc-mnu-travel-sub" role="menu" aria-orientation="vertical"> <!-- Menu is default  aria-orientation="vertical", but in WAI-ARIA 1.0 the default is horizontal, so it may impact -->

				<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://voyage.gc.ca/voyager/enfant/lettre-de-consentement">Lettre de consentement pour les enfants qui voyagent à l’étranger</a></li>
				<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.cbsa-asfc.gc.ca/bwt-taf/menu-fra.html">Temps d’attente à la frontière Canada - États-Unis</a></li>
				<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://voyage.gc.ca/voyager/inscription">Inscrivez-vous comme Canadien à l’étranger</a></li>
				<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.cbsa-asfc.gc.ca/prog/nexus/application-demande-fra.html">Adhérez à NEXUS</a></li>
				<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://voyage.gc.ca/retour/douane/ce-que-vous-pouvez-ramener-au-canada">Ce que vous pouvez ramener au Canada</a></li>
				<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://voyage.gc.ca/assistance/ambassades-consulats">Communiquer avec une ambassade ou un consulat</a></li>
				<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://voyage.gc.ca/voyager/le-cannabis-et-les-voyages-a-l-etranger">Le cannabis et les voyages à l’étranger</a></li>
				</ul>
		</li>
	</ul>
</li>

<li role="none presentation">
	<a role="menuitem" tabindex="-1" aria-haspopup="true" aria-controls="gc-mnu-biz" aria-expanded="false" href="#">Entreprises et industrie</a>

	<ul id="gc-mnu-biz" role="menu" aria-orientation="vertical">
		<li role="none presentation">
			<a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/entreprises.html">Entreprises et industrie</a>
		</li>

		<li role="separator"></li>

		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/entreprises/lancer.html">Démarrage d&#39;entreprise</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/entreprises/subventions.html">Subventions et financement pour les entreprises</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/entreprises/impots.html">Taxes et impôt des entreprises</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/entreprises/societes-de-regime-federal.html">Sociétés de régime fédéral</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/entreprises/engager.html">Embauche et gestion de personnel</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/entreprises/commerce.html">Commerce international et investissements</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/entreprises/permis.html">Permis, licences et règlements</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/entreprises/faire-affaire.html">Faire affaire avec le gouvernement</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/science/innovation.html">Recherche-développement et innovation</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/entreprises/recherche.html">Recherche et renseignements d&#39;affaires</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/entreprises/pi.html">Propriété intellectuelle et droit d&#39;auteur</a></li>	<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/entreprises/maintenirfairecroitreameliorerentreprise.html">Administration de votre entreprise</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/entreprises/proteger.html">Protection de votre entreprise</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/entreprises/faillites.html">Insolvabilité pour les entreprises</a></li>
		<li role="separator" aria-orientation="vertical"></li> <!-- Orientation must be horizontal in mobile -->

		<li role="none presentation">
			<!-- this submenu remain open on medium and large views -->
			<a data-keep-expanded="md-min" href="#" role="menuitem" tabindex="-1" aria-haspopup="true" aria-controls="gc-mnu-biz-sub" aria-expanded="true">En demande</a>
			<ul id="gc-mnu-biz-sub" role="menu" aria-orientation="vertical"> <!-- Menu is default  aria-orientation="vertical", but in WAI-ARIA 1.0 the default is horizontal, so it may impact -->


				<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.ic.gc.ca/app/scr/cc/CorporationsCanada/fdrlCrpSrch.html">Trouver une société</a></li>
				<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.cbsa-asfc.gc.ca/prog/manif/portal-portail-fra.html">Déclarer vos produits importés</a></li>
				<li role="none presentation"><a role="menuitem" tabindex="-1" href="http://www.ic.gc.ca/app/opic-cipo/trdmrks/srch/accueil?lang=fra">Chercher des marques de commerce</a></li>
				<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.cbsa-asfc.gc.ca/trade-commerce/tariff-tarif/2018/html/tblmod-1-fra.html">Réviser les tarifs des douanes pour l’importation de produits</a></li>
				<li role="none presentation"><a role="menuitem" tabindex="-1" href="http://www.ic.gc.ca/opic-cipo/cpd/eng/introduction.html">Trouver un brevet</a></li>
				<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.cbsa-asfc.gc.ca/comm-fra.html">Importer et exporter à partir du Canada</a></li>
				<li role="none presentation"><a role="menuitem" tabindex="-1" href="http://www.ic.gc.ca/eic/site/075.nsf/fra/accueil">Trouver un nom pour votre compagnie</a></li>
				<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.ic.gc.ca/app/scr/cc/CorporationsCanada/hm.html?f=&amp;selectedDirectorUuid=%3BselectedIncorporatorUuid%3D&amp;metricsId=GTM-WQQH22">Apporter des changements à votre société (Centre de dépôt en ligne)</a></li>
				</ul>
		</li>
	</ul>
</li>

<li role="none presentation">
	<a role="menuitem" tabindex="-1" aria-haspopup="true" aria-controls="gc-mnu-benny" aria-expanded="false" href="#">Prestations</a>

	<ul id="gc-mnu-benny" role="menu" aria-orientation="vertical">
		<li role="none presentation">
			<a role="menuitem" tabindex="-1" href="https://www.canada.ca/en/services/benefits.html">Prestations</a>
		</li>

		<li role="separator"></li>

		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/prestations/ae.html">Assurance-emploi et congés</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/prestations/famille.html">Prestations pour familles et proches aidants</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/prestations/pensionspubliques.html">Pensions publiques</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/prestations/etudes.html">Études et formation</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/prestations/logement.html">Prestations relatives au logement</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/prestations/handicap.html">Prestations relatives aux personnes handicapées</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="http://www.prestationsducanada.gc.ca/">Chercheur de prestations</a></li>

		<li role="separator" aria-orientation="vertical"></li> <!-- Orientation must be horizontal in mobile -->

		<li role="none presentation">
			<!-- this submenu remain open on medium and large views -->
			<a data-keep-expanded="md-min" href="#" role="menuitem" tabindex="-1" aria-haspopup="true" aria-controls="gc-mnu-benny-sub" aria-expanded="true">En demande</a>
			<ul id="gc-mnu-benny-sub" role="menu" aria-orientation="vertical"> <!-- Menu is default  aria-orientation="vertical", but in WAI-ARIA 1.0 the default is horizontal, so it may impact -->

				<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/prestations/ae/assurance-emploi-reguliere.html">Présenter une demande d’assurance-emploi</a></li>
				<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/prestations/calendrier.html">Dates de paiement des prestations</a></li>
				<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/emplois/education/aide-financiere-etudiants/pret-etudiants.html">Prêts étudiants</a></li>
				<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/prestations/ae/assurance-emploi-declaration-internet.html">Soumettre une déclaration d’assurance-emploi</a></li>
				<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/gouvernement/ouvrir-session-dossier-compte-en-ligne.html">Ouvrir une session d’un dossier ou d’un compte en ligne</a></li>
				<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.tpsgc-pwgsc.gc.ca/recgen/txt/depot-deposit-fra.html">Inscrivez-vous au dépôt direct</a></li>
				<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/agence-revenu/services/prestations-enfants-familles/calculateur-prestations-enfants-familles.html">Calculateur de prestations pour enfants et familles</a></li>
				</ul>
		</li>
	</ul>
</li>

<li role="none presentation">
	<a role="menuitem" tabindex="-1" aria-haspopup="true" aria-controls="gc-mnu-health" aria-expanded="false" href="#">Santé</a>

	<ul id="gc-mnu-health" role="menu" aria-orientation="vertical">
		<li role="none presentation">
			<a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/sante.html">Santé</a>
		</li>

		<li role="separator"></li>

		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/sante/aliments-et-nutrition.html">Aliments et nutrition</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/sante-publique/services/maladies.html">Maladies et affections</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/sante-publique/sujets/immunisation-et-vaccins.html">Vaccins et immunisation</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/sante/medicaments-et-produits-sante.html">Médicaments et produits de santé</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/sante/securite-produits.html">Sécurité des produits</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/sante/securite-et-risque-pour-sante.html">Sécurité et risque pour la santé</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/sante/vie-saine.html">Vie saine</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/sante/sante-autochtones.html">Santé des Autochtones</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/sante/systeme-et-services-sante.html">Système et services de santé</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/sante/science-recherche-et-donnees.html">Science, recherche et données</a></li>

		<li role="separator" aria-orientation="vertical"></li> <!-- Orientation must be horizontal in mobile -->

		<li role="none presentation">
			<!-- this submenu remain open on medium and large views -->
			<a data-keep-expanded="md-min" href="#" role="menuitem" tabindex="-1" aria-haspopup="true" aria-controls="gc-mnu-health-sub" aria-expanded="true">En demande</a>
			<ul id="gc-mnu-health-sub" role="menu" aria-orientation="vertical"> <!-- Menu is default  aria-orientation="vertical", but in WAI-ARIA 1.0 the default is horizontal, so it may impact -->

				<li role="none presentation"><a role="menuitem" tabindex="-1" href="http://www.canadiensensante.gc.ca/recall-alert-rappel-avis/index-fra.php">Rappels d'aliments et de produits et alertes de sécurité</a></li>
				<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/sante-publique/services/maladies/grippe-influenza.html">Grippe (influenza) : Symptômes et traitements</a></li>
				<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/sante-canada/services/drogues-medicaments/cannabis.html">Cannabis</a></li>
				<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/sante-canada/services/guides-alimentaires-canada.html">Guides alimentaires du Canada</a></li>
				<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/sante-canada/services/medicaments-produits-sante/instruments-medicaux/licences/liste-instruments-medicaux-homologues-vigueur.html">Instruments médicaux homologués pour la vente</a></li>
				<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://voyage.gc.ca/voyager/sante-securite/conseils-sante-voyageurs">Conseils de santé aux voyageurs</a></li>
				</ul>
		</li>
	</ul>
</li>


<li role="none presentation">
	<a role="menuitem" tabindex="-1" aria-haspopup="true" aria-controls="gc-mnu-taxes" aria-expanded="false" href="#">Impôts</a>

	<ul id="gc-mnu-taxes" role="menu" aria-orientation="vertical">
		<li role="none presentation">
			<a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/impots.html">Impôts</a>
		</li>

		<li role="separator"></li>

		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/impots/impot-sur-le-revenu.html">Impôt sur le revenu</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/impots/tpstvh.html">TPS/TVH</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/impots/retenues-sur-la-paie.html">Retenues sur la paie</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/impots/numero-dentreprise.html">Numéro d’entreprise</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/impots/regimes-depargne-et-de-pension.html">Régimes d’épargne et de pension</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/impots/prestations-pour-enfants-et-familles.html">Prestations pour enfants et familles</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/impots/taxes-daccise-droits-et-prelevements.html">Taxes d’accise, droits et prélèvements</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/impots/bienfaisance.html">Organismes de bienfaisance et dons</a></li>

		<li role="separator" aria-orientation="vertical"></li> <!-- Orientation must be horizontal in mobile -->

		<li role="none presentation">
			<!-- this submenu remain open on medium and large views -->
			<a data-keep-expanded="md-min" href="#" role="menuitem" tabindex="-1" aria-haspopup="true" aria-controls="gc-mnu-taxes-sub" aria-expanded="true">En demande</a>
			<ul id="gc-mnu-taxes-sub" role="menu" aria-orientation="vertical"> <!-- Menu is default  aria-orientation="vertical", but in WAI-ARIA 1.0 the default is horizontal, so it may impact -->

				<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/agence-revenu/services/services-electroniques/services-electroniques-particuliers/dossier-particuliers.html">Mon dossier</a></li>
				<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/agence-revenu/services/services-electroniques/services-electroniques-entreprises/dossier-entreprise.html">Mon dossier d'entreprise</a></li>
				<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/agence-revenu/services/services-electroniques/representer-client.html">Représenter un client</a></li>
				<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/agence-revenu/services/services-electroniques/services-electroniques-entreprises/impotnet-tps-tvh.html">Transmettre une déclaration de TPS/TVH (IMPÔTNET)</a></li>
				<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/agence-revenu/services/prestations-enfants-familles/dates-versement-prestations.html">Trouver la date du prochain versement des prestations</a></li>
				<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/agence-revenu/services/faire-paiement-a-agence-revenu-canada.html">Faire un paiement à l'Agence du revenu du Canada</a></li>
			</ul>
		</li>
	</ul>
</li>

<li role="none presentation">
	<a role="menuitem" tabindex="-1" aria-haspopup="true" aria-controls="gc-mnu-enviro" aria-expanded="false" href="#">Environnement et ressources naturelles</a>

	<ul id="gc-mnu-enviro" role="menu" aria-orientation="vertical">
		<li role="none presentation">
			<a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/environnement.html">Environnement et ressources naturelles</a>
		</li>

		<li role="separator"></li>

		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/environnement/meteo.html">Météo, climat et catastrophes naturelles</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/environnement/energie.html">Énergie</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/environnement/ressources-naturelles.html">Ressources naturelles</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/environnement/pratiques-agricoles.html">Pratiques agricoles</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/en/services/environment/fisheries.html">Fisheries</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/environnement/faune-flore-especes.html">Faune, flore et espèces</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/environnement/pollution-gestion-dechets.html">Pollution et gestion des déchets</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/environnement/conservation.html">Conservation et protection de l'environnement</a></li>

		<li role="separator" aria-orientation="vertical"></li> <!-- Orientation must be horizontal in mobile -->

		<li role="none presentation">
			<!-- this submenu remain open on medium and large views -->
			<a data-keep-expanded="md-min" href="#" role="menuitem" tabindex="-1" aria-haspopup="true" aria-controls="gc-mnu-enviro-sub" aria-expanded="true">En demande</a>
			<ul id="gc-mnu-enviro-sub" role="menu" aria-orientation="vertical"> <!-- Menu is default  aria-orientation="vertical", but in WAI-ARIA 1.0 the default is horizontal, so it may impact -->

				<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://meteo.gc.ca/canada_f.html">Prévisions météo locales</a></li>
				<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.rncan.gc.ca/energie/efficacite/transports/20997">Véhicules écoénergétiques</a></li>
				<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.rncan.gc.ca/maisons">Efficacité énergétique des maisons</a></li>
				<li role="none presentation"><a role="menuitem" tabindex="-1" href="http://www.registrelep-sararegistry.gc.ca/species/default_f.cfm">Espèces en péril</a></li>
				<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/environnement-changement-climatique/services/meteo-saisonniere-dangereuse.html">Préparation aux conditions météorologiques dangereuses</a></li>
			</ul>
		</li>
	</ul>
</li>

<li role="none presentation">
	<a role="menuitem" tabindex="-1" aria-haspopup="true" aria-controls="gc-mnu-defence" aria-expanded="false" href="#">Sécurité nationale et défense</a>

	<ul id="gc-mnu-defence" role="menu" aria-orientation="vertical">
		<li role="none presentation">
			<a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/defense.html">Sécurité nationale et défense</a>
		</li>

		<li role="separator"></li>

		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/defense/securitenationale.html">Sécurité nationale</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/defense/fac.html">Forces armées canadiennes</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/defense/achat-mise-a-niveau-equipement-defense.html">Achat et mise à niveau d’équipement de la Défense</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="http://www.tc.gc.ca/fr/services/surete-transports.html">Sûreté des transports</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/defense/securiserfrontiere.html">Sécuriser la frontière</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/defense/cybersecurite.html">Cybersécurité</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/defense/emplois.html">Emplois en sécurité nationale et en défense</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/gouvernement/fonctionpublique/avantagesmilitaires.html">Services et avantages sociaux du personnel militaire</a></li>

		<li role="separator" aria-orientation="vertical"></li> <!-- Orientation must be horizontal in mobile -->

		<li role="none presentation">
			<!-- this submenu remain open on medium and large views -->
			<a data-keep-expanded="md-min" href="#" role="menuitem" tabindex="-1" aria-haspopup="true" aria-controls="gc-mnu-defence-sub" aria-expanded="true">En demande</a>
			<ul id="gc-mnu-defence-sub" role="menu" aria-orientation="vertical"> <!-- Menu is default  aria-orientation="vertical", but in WAI-ARIA 1.0 the default is horizontal, so it may impact -->

				<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/ministere-defense-nationale/services/emplois-fac/trouver-un-emploi.html">Emplois dans les Forces armées canadiennes</a></li>
				<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/ministere-defense-nationale/services/histoire-militaire/histoire-patrimoine/insignes-drapeaux/grades/insignes-grade-fonction.html">Grades militaires</a></li>
				<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/defense/fac/equipement.html">Équipement de la Défense</a></li>
				<li role="none presentation"><a role="menuitem" tabindex="-1" href="http://www.cadets.ca/fr/joignez-vous/cadets.page">Devenir cadet</a></li>
				<li role="none presentation"><a role="menuitem" tabindex="-1" href="http://dgpaapp.forces.gc.ca/fr/politique-defense-canada/index.asp">Politique de défense du Canada</a></li>

			</ul>
		</li>
	</ul>
</li>

<li role="none presentation">
	<a role="menuitem" tabindex="-1" aria-haspopup="true" aria-controls="gc-mnu-culture" aria-expanded="false" href="#">Culture, histoire et sport</a>

	<ul id="gc-mnu-culture" role="menu" aria-orientation="vertical">
		<li role="none presentation">
			<a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/culture.html">Culture, histoire et sport</a>
		</li>

		<li role="separator"></li>

		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/patrimoine-canadien/services/financement.html">Financement - Culture, histoire et sport</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/culture/evenements-celebrations-commemorations.html">Événements, célébrations et commémorations</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/culture/attraits-culturels.html">Lieux et attraits culturels</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/culture/identite-canadienne-societe.html">Identité canadienne et société</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/culture/sport.html">Sport</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/culture/histoire-patrimoine.html">Histoire et patrimoine</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/culture/arts-media.html">Arts et média</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/culture/programmes-culturels-jeunes.html">Programmes culturels pour les jeunes</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/culture/commerce-investissement-culturels.html">Commerce et investissement culturels</a></li>

		<li role="separator" aria-orientation="vertical"></li> <!-- Orientation must be horizontal in mobile -->

		<li role="none presentation">
			<!-- this submenu remain open on medium and large views -->
			<a data-keep-expanded="md-min" href="#" role="menuitem" tabindex="-1" aria-haspopup="true" aria-controls="gc-mnu-culture-sub" aria-expanded="true">En demande</a>
			<ul id="gc-mnu-culture-sub" role="menu" aria-orientation="vertical"> <!-- Menu is default  aria-orientation="vertical", but in WAI-ARIA 1.0 the default is horizontal, so it may impact -->

				<li role="none presentation"><a role="menuitem" tabindex="-1" href="http://www.veterans.gc.ca/fra/remembrance/memorials/canadian-virtual-war-memorial">Visitez le Mémorial virtuel de guerre du Canada</a></li>
				<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/culture/identite-canadienne-societe/hymnes-symboles.html">Hymnes et symboles du Canada</a></li>
				<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://crtc.gc.ca/fra/8045/d2018.htm">Trouvez une décision du CRTC</a></li>
				<li role="none presentation"><a role="menuitem" tabindex="-1" href="http://www.bac-lac.gc.ca/fra/recherche/Pages/recherche-ancetres.aspx">Faites des recherches sur votre histoire familiale</a></li>
				<li role="none presentation"><a role="menuitem" tabindex="-1" href="http://www.bac-lac.gc.ca/fra/recensements/Pages/recensements.aspx">Cherchez des documents de recensement</a></li>
				<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/culture/attraits-culturels/attraits-capitale-canada.html">Lieux et attraits dans la capitale du Canada</a></li>
			</ul>
		</li>
	</ul>
</li>

<li role="none presentation">
	<a role="menuitem" tabindex="-1" aria-haspopup="true" aria-controls="gc-mnu-policing" aria-expanded="false" href="#">Services de police, justice et urgences</a>

	<ul id="gc-mnu-policing" role="menu" aria-orientation="vertical">
		<li role="none presentation">
			<a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/police.html">Services de police, justice et urgences</a>
		</li>

		<li role="separator"></li>

		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/police/servicespolice.html">Services de police</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/police/justice.html">Justice</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/police/urgences.html">Urgences</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/police/correctionnels.html">Services correctionnels</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/police/liberationconditionnelle.html">Libération conditionnelle, suspension du casier, radiation et clémence</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/police/victimes.html">Victimes d'actes criminels</a></li>

		<li role="separator" aria-orientation="vertical"></li> <!-- Orientation must be horizontal in mobile -->

		<li role="none presentation">
			<!-- this submenu remain open on medium and large views -->
			<a data-keep-expanded="md-min" href="#" role="menuitem" tabindex="-1" aria-haspopup="true" aria-controls="gc-mnu-policing-sub" aria-expanded="true">En demande</a>
			<ul id="gc-mnu-policing-sub" role="menu" aria-orientation="vertical"> <!-- Menu is default  aria-orientation="vertical", but in WAI-ARIA 1.0 the default is horizontal, so it may impact -->

				<li role="none presentation"><a role="menuitem" tabindex="-1" href="http://www.rcmp-grc.gc.ca/cfp-pcaf/online_en-ligne/index-fra.htm">Demander ou renouveler un permis d'arme à feu</a></li>
				<li role="none presentation"><a role="menuitem" tabindex="-1" href="http://www.rcmp-grc.gc.ca/fr/verification-casier-judiciaire">Obtenir une attestation de vérification de casier judiciaire</a></li>
				<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/commission-liberations-conditionnelles/services/suspension-du-casier/guide-et-formulaires-de-demande.html">Demander la suspension d’un casier judiciaire</a></li>
				<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.preparez-vous.gc.ca/cnt/hzd/drng-fr.aspx">Que faire durant une urgence</a></li>
				<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/police/servicespolice/securite-communautaire-police/conduite-facultes-affaiblies.html">Connaissez la loi sur la conduite avec facultés affaiblies</a></li>
				<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/police/servicespolice/aider-resoudre-un-crime.html">Aidez à résoudre un crime</a></li>
			</ul>
		</li>
	</ul>
</li>

<li role="none presentation">
	<a role="menuitem" tabindex="-1" aria-haspopup="true" aria-controls="gc-mnu-trans" aria-expanded="false" href="#">Transport et infrastructure</a>

	<ul id="gc-mnu-trans" role="menu" aria-orientation="vertical">
		<li role="none presentation">
			<a role="menuitem" tabindex="-1" href="https://www.canada.ca/en/services/transport.html">Transport et infrastructure</a>
		</li>

		<li role="separator"></li>

		<li role="none presentation"><a role="menuitem" tabindex="-1" href="http://www.tc.gc.ca/fr/services/aviation.html">Aviation</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="http://www.tc.gc.ca/fr/services/maritime.html">Transport maritime</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="http://www.tc.gc.ca/fr/services/routier.html">Transport routier</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="http://www.tc.gc.ca/fr/services/ferroviaire.html">Transport ferroviaire</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="http://www.tc.gc.ca/fr/services/marchandises-dangereuses.html">Marchandises dangereuses</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="http://www.tc.gc.ca/fr/services/infrastructures.html">Infrastructure</a></li>

		<li role="separator" aria-orientation="vertical"></li> <!-- Orientation must be horizontal in mobile -->

		<li role="none presentation">
			<!-- this submenu remain open on medium and large views -->
			<a data-keep-expanded="md-min" href="#" role="menuitem" tabindex="-1" aria-haspopup="true" aria-controls="gc-mnu-trans-sub" aria-expanded="true">En demande</a>
			<ul id="gc-mnu-trans-sub" role="menu" aria-orientation="vertical"> <!-- Menu is default  aria-orientation="vertical", but in WAI-ARIA 1.0 the default is horizontal, so it may impact -->

				<li role="none presentation"><a role="menuitem" tabindex="-1" href="http://wwwapps.tc.gc.ca/Saf-Sec-Sur/7/VRDB-BDRV/search-recherche/menu.aspx?lang=fra">Rappels de véhicules</a></li>
				<li role="none presentation"><a role="menuitem" tabindex="-1" href="http://www.tc.gc.ca/fr/services/aviation/securite-drones.html">Sécurité des drones</a></li>
				<li role="none presentation"><a role="menuitem" tabindex="-1" href="http://www.tc.gc.ca/fra/sureteaerienne/page-147.htm">Ce que vous ne pouvez pas apporter dans un avion</a></li>
				<li role="none presentation"><a role="menuitem" tabindex="-1" href="http://www.tc.gc.ca/fra/securitemaritime/epe-immabatiments-immatriculation-menu-2311.htm">Immatriculer votre bateau</a></li>
				<li role="none presentation"><a role="menuitem" tabindex="-1" href="http://www.tc.gc.ca/fr/services/routier/securite-sieges-auto-enfants.html">Sécurité des sièges d'auto pour enfants</a></li>
				<li role="none presentation"><a role="menuitem" tabindex="-1" href="http://www.tc.gc.ca/fra/tmd/clair-tdesm-211.htm">Transport des matières dangereuses – Règlement</a></li>
				<li role="none presentation"><a role="menuitem" tabindex="-1" href="http://www.tc.gc.ca/fra/lois-reglements/reglements-dors96-433.html">Lisez le Règlement de l’aviation canadien</a></li>
				<li role="none presentation"><a role="menuitem" tabindex="-1" href="http://www.marinfo.gc.ca/e-nav/index-fra.php">Navigation par région</a></li>
				<li role="none presentation"><a role="menuitem" tabindex="-1" href="http://www.tc.gc.ca/fra/securiteautomobile/vehiculessecuritaires-importation-index-443.htm">Importer un véhicule</a></li>
				<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.otc-cta.gc.ca/fra/decisions">Décisions de l'Office des transports du Canada</a></li>
				<li role="none presentation"><a role="menuitem" tabindex="-1" href="http://www.bst-tsb.gc.ca/fra/rapports-reports/index.asp">Enquêtes de sécurité des transports</a></li>
			</ul>
		</li>
	</ul>
</li>

<li role="none presentation">
	<a role="menuitem" tabindex="-1" aria-haspopup="true" aria-controls="gc-mnu-canworld" aria-expanded="false" href="#">Canada et le monde</a>

	<ul id="gc-mnu-canworld" role="menu" aria-orientation="vertical">
		<li role="none presentation">
			<a role="menuitem" tabindex="-1" href="http://international.gc.ca/world-monde/index.aspx?lang=fra">Le Canada et le monde</a>
		</li>

		<li role="separator"></li>

		<li role="none presentation"><a role="menuitem" tabindex="-1" href="http://international.gc.ca/world-monde/offices-bureaux/index.aspx?lang=fra">Bureaux internationaux et contacts d’urgence</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="http://international.gc.ca/world-monde/study_work_travel-etude_travail_voyage/index.aspx?lang=eng">Study, work and travel worldwide</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="http://international.gc.ca/world-monde/funding-financement/index.aspx?lang=frag">Financement d’initiatives internationales</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="http://international.gc.ca/world-monde/issues_development-enjeux_developpement/index.aspx?lang=fra">Enjeux mondiaux et aide internationale</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="http://www.canada.ca/fr/services/entreprises/commerce/index.html">Commerce international et investissement</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="http://international.gc.ca/world-monde/international_relations-relations_internationales/index.aspx?lang=fra">Relations internationales</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="http://international.gc.ca/world-monde/country-pays/index.aspx?lang=fra">Information par pays et territoires</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://international.gc.ca/world-monde/stories-histoires/index.aspx?lang=fra">Histoires</a></li>

		<li role="separator" aria-orientation="vertical"></li> <!-- Orientation must be horizontal in mobile -->

		<li role="none presentation">
			<!-- this submenu remain open on medium and large views -->
			<a data-keep-expanded="md-min" href="#" role="menuitem" tabindex="-1" aria-haspopup="true" aria-controls="gc-mnu-canworld-sub" aria-expanded="true">En demande</a>
			<ul id="gc-mnu-canworld-sub" role="menu" aria-orientation="vertical"> <!-- Menu is default  aria-orientation="vertical", but in WAI-ARIA 1.0 the default is horizontal, so it may impact -->

				<li role="none presentation"><a role="menuitem" tabindex="-1" href="http://scholarships-bourses.gc.ca/scholarships-bourses/non_can/opportunities-opportunites.aspx?lang=fra">Trouver une bourse d’études canadienne en tant qu’étudiant international</a></li>
				<li role="none presentation"><a role="menuitem" tabindex="-1" href="http://educanada.ca/index.aspx?lang=fra">Trouver des occasions d’étude ou de recherche au Canada</a></li>
				<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://voyage.gc.ca/assistance/ambassades-consulats">Communiquer avec une ambassade ou un consulat</a></li>
				<li role="none presentation"><a role="menuitem" tabindex="-1" href="http://international.gc.ca/world-monde/study_work_travel-etude_travail_voyage/authentication-authentification/index.aspx?lang=fra">Authentifier un document</a></li>
				<li role="none presentation"><a role="menuitem" tabindex="-1" href="http://international.gc.ca/protocol-protocole/reps.aspx?lang=fra">Communiquer avec un représentant étranger au Canada</a></li>
				<li role="none presentation"><a role="menuitem" tabindex="-1" href="http://treaty-accord.gc.ca/index.aspx?Lang=fra">Traités internationaux signés par le Canada</a></li>
			</ul>
		</li>
	</ul>
</li>

<li role="none presentation">
	<a role="menuitem" tabindex="-1" aria-haspopup="true" aria-controls="gc-mnu-money" aria-expanded="false" href="#">Argent et finances</a>

	<ul id="gc-mnu-money" role="menu" aria-orientation="vertical">
		<li role="none presentation">
			<a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/finance.html">Argent et finances</a>
		</li>

		<li role="separator"></li>

		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/finance/gerer.html">Gérer votre argent</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/finance/dettes.html">Dettes et emprunts</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/finance/epargne.html">Épargne et investissement</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/finance/financementetudes.html">Financement des études</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/finance/pensions.html">Pensions et retraite</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/finance/fraude.html">Protection contre la fraude et les escroqueries</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/finance/outils.html">Calculatrices et outils financiers</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/agence-consommation-matiere-financiere/services/programmes-litteratie-financiere.html">Programmes de littératie financière</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/finance/faillite.html">Insolvabilité</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/impots.html">Impôts</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/gouvernement/systeme/finances.html">Finances publiques</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/entreprises/subventions.html">Subventions et financement pour les entreprises</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/entreprises/permis/secteursindustriereglementationfederale/regleservicesfinanciers.html">Réglementation des services financiers et monétaires</a></li>

		<li role="separator" aria-orientation="vertical"></li> <!-- Orientation must be horizontal in mobile -->

		<li role="none presentation">
			<!-- this submenu remain open on medium and large views -->
			<a data-keep-expanded="md-min" href="#" role="menuitem" tabindex="-1" aria-haspopup="true" aria-controls="gc-mnu-money-sub" aria-expanded="true">En demande</a>
			<ul id="gc-mnu-money-sub" role="menu" aria-orientation="vertical"> <!-- Menu is default  aria-orientation="vertical", but in WAI-ARIA 1.0 the default is horizontal, so it may impact -->

				<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.ic.gc.ca/app/scr/bsf-osb/ins/connexion.html?lang=fra">Trouver un dossier de faillite ou d’insolvabilité</a></li>
				<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/emplois/education/aide-financiere-etudiants/pret-etudiants.html">Prêts étudiants</a></li>
				<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.tpsgc-pwgsc.gc.ca/recgen/txt/depot-deposit-fra.html">Inscrivez-vous au dépôt direct</a></li>
				<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/agence-consommation-matiere-financiere/services/hypotheques.html">Obtenir des renseignements sur les hypothèques</a></li>
				<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/agence-consommation-matiere-financiere/services/dossier-pointage-credit.html">Dossiers et cotes de crédit</a></li>
				<li role="none presentation"><a role="menuitem" tabindex="-1" href="http://itools-ioutils.fcac-acfc.gc.ca/BC-CB/NetInc-RevNet-fra.aspx">Faire un budget</a></li>
				<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/agence-revenu/services/impot/administrateurs-regimes-enregistres/fesp/plafonds-cd-reer-rpdb-celi-mgap.html">Taux et limites de contribution</a></li>v
			</ul>
		</li>
	</ul>
</li>

<li role="none presentation">
	<a role="menuitem" tabindex="-1" aria-haspopup="true" aria-controls="gc-mnu-science" aria-expanded="false" href="#">Science et innovation</a>

	<ul id="gc-mnu-science" role="menu" aria-orientation="vertical">
		<li role="none presentation">
			<a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/science.html">Science et innovation</a>
		</li>

		<li role="separator"></li>

		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/science/financementrecherche.html">Financement, subventions et prix pour la recherche</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/science/themesscientifiques.html">Thèmes scientifiques</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/science/donnees-ouvertes.html">Données ouvertes, statistiques et archives</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/science/instituts.html">Instituts et établissements de recherches</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/science/innovation.html">R-D et innovation</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/entreprises/pi.html">Propriété intellectuelle et droit d'auteur</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/science/repertoirescientifiques.html">Répertoire des scientifiques et des professionnels de la recherche</a></li>
		<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/fr/services/science/ressourcespedagogiques.html">Ressources pédagogiques scientifiques</a></li>

		<li role="separator" aria-orientation="vertical"></li> <!-- Orientation must be horizontal in mobile -->

		<li role="none presentation">
			<!-- this submenu remain open on medium and large views -->
			<a data-keep-expanded="md-min" href="#" role="menuitem" tabindex="-1" aria-haspopup="true" aria-controls="gc-mnu-science-sub" aria-expanded="true">En demande</a>
			<ul id="gc-mnu-science-sub" role="menu" aria-orientation="vertical"> <!-- Menu is default  aria-orientation="vertical", but in WAI-ARIA 1.0 the default is horizontal, so it may impact -->

				<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.nrc-cnrc.gc.ca/fra/publications/centre_codes/2015_code_national_batiment.html">Code national du bâtiment</a></li>
				<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.nrc-cnrc.gc.ca/fra/services/heure/horloge_web.html#tzpanel-4">Heures officielles au Canada</a></li>
				<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.nrc-cnrc.gc.ca/fra/services/levers/index.html">Trouver les heures de levers et de couchers du soleil</a></li>
				<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.nrc-cnrc.gc.ca/fra/pari/services/aide_financiere.html">Bourses pour l’innovation technologique (PARI)</a></li>
				<li role="none presentation"><a role="menuitem" tabindex="-1" href="https://science-libraries.canada.ca/fra/accueil/">Bibliothèque scientifique fédérale</a></li>
				<li role="none presentation"><a role="menuitem" tabindex="-1" href="http://asc-csa.gc.ca/fra/astronomie/auroramax/hd-480.asp">Aurores boréales en direct</a></li>
			</ul>
		</li>
	</ul>
</li>
